{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="row container">

    <div class="columns columns--sidebar-left">
      <div>

        <h1>Gemeente Aarlemmermeer</h1>


        <h2>Basisgegevens</h2>

        <table class="table__data-overview">
          <tr>
            <th scope="row">Bezoekadres</th>
            <td>Nieuwe steen 1<br />1625HV Hoorn NH</td>
          </tr>
          <tr>
            <th scope="row">Postadres</th>
            <td >Postbus 603<br />1620AR Hoorn NH</td>
          </tr>
          <tr>
            <th scope="row">Telefoon</th>
            <td>(0229) 25 22 00</td>
          </tr>
          <tr>
            <th scope="row">Internet</th>
            <td><a href="#">https://www.hoorn.nl</a></td>
          </tr>
          <tr>
            <th scope="row">E-mail</th>
            <td><a href="#">gemeente@hoorn.nl</a></td>
          </tr>
        </table>

        <h2>Functies</h2>

         <table class="table__data-overview">
          <tr>
            <th scope="row">Burgemeester</th>
            <td>
              <a href="/21682476/Dhr_P_van_Dijk/">
                Dhr. P. van Dijk
                (Partij Onafhankelijk)
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">Fractievoorzitter</th>
            <td>
              <a href="/123705/Mw_MEB_van_der_Ven/">
                Mw. M.E.B. van der Ven
                (CDA)
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>
              <a href="/123706/Dhr_L_Reinders/">
                Dhr. L. Reinders
                (Combinatie Gemeentebelangen)
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>
              <a href="/87626/Dhr_GAW_Fonk/">
                Dhr. G.A.W. Fonk
                (D66)
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>
              <a href="/132712/Mw_MGW_Neesen/">
                Mw. M.G.W. Neesen
                (GroenLinks)
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">Locoburgemeester</th>
            <td>
              <a href="/123709/Dhr_H_Heijerman/">
                Dhr. H. Heijerman
                (Combinatie Gemeentebelangen)
              </a>
            </td>
          </tr>
        </table>

      </div>
      <div>
         <a href="#" class="icon--backlink">Terug naar overzicht gemeenten</a>
      </div>
    </div>
    </div>
</div>

</div>

{{ render "@footer" }}
