{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container columns row">
  <div>
    <h1>Over overheid.nl</h1>
    <h2>De website</h2>
    <p>De website Overheid.nl is de wegwijzer naar informatie en diensten van alle overheidsorganisaties in Nederland. Deze website is een initiatief van het ministerie van Binnenlandse Zaken en Koninkrijksrelaties in samenwerking met:></p>
    <ul>
      <li>de andere ministeries</li>
      <li>de Eerste- en Tweede Kamer</li>
      <li>gemeenten, provincies, waterschappen en gemeenschappelijke regelingen</li>
      <li>Belastingdienst, DUO, SVB, UWV</li>
    </ul>
    <h3>Onderdelen</h3>
    <p>In verschillende onderdelen van Overheid.nl wordt informatie aangeboden die afkomstig is van andere overheidsorganisaties. Deze organisaties zijn zelf verantwoordelijk voor hun gegevens. Bij het <a href="#">onderdeel</a> wordt onder de knop 'Help' informatie gegeven over de bron van de gegevens. Daar wordt u ook ingelicht over actualiteit, volledigheid en betrouwbaarheid van de informatie en over de manier waarop deze moet worden gebruikt.</p>
    <h4>Aandacht voor informatie</h4>
    <p>In het algemeen geldt dat er veel zorg en aandacht is voor de kwaliteit van de informatie die wordt aangeboden, maar dat deze desondanks nooit geheel vrij is van gebreken. Hiermee moet u rekening houden. Als de informatie essentieel voor u is, dient u deze bij de verantwoordelijke instantie te verifiëren.</p>
    <h5>Onjuiste informatie</h5>
    <p>Mocht u op Overheid.nl informatie tegenkomen die volgens u onjuist is, dan kunt u dat laten weten via de knop 'Contact'. Deze knop kunt u ook gebruiken als u een suggestie of een vraag over de werking van Overheid.nl hebt. Inhoudelijke vragen kunt u stellen aan Rijksoverheid.nl of, als u ondernemer bent, aan Antwoord voor bedrijven.</p>
  </div>
</div>

{{ render "@footer" }}
