<div class="" data-decorator="init-filter-results">
  <div class="form__row">
    <label class="visually-hidden" for="filterinput--{{id}}">Filter op</label>
    <input type="text" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filterinput--{{id}}" class="js-filterresults__input input-text input-text--searchmedium" />
  </div>
  <div class="form__row">
    <fieldset class="js-filterresults__results">
      {{render "@input-checkbox" }}
    </fieldset>
  </div>
</div>
