{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container row row--heading">
  <h1>Welkom op overheid.nl</h1>
  <p class="intro--text">
    De website Overheid.nl is de wegwijzer naar informatie en diensten van alle overheidsorganisaties in Nederland. Deze website is een initiatief van het ministerie van Binnenlandse Zaken en Koninkrijksrelaties in samenwerking met de andere ministeries, de Eerste- en Tweede Kamer, gemeenten, provincies, waterschappen en andere overheidsorganisaties.
  </p>
</div>

<div class="container row">
  <div class="columns columns--homepage-tiles">

    <a href="#" class="homepageblock related related--primaryBlue" style="background-image: url(../../images/temp/homepage-indebuurt.jpg);">
      <div class="content--inner">
        <h2>In de buurt</h2>
        <span>Hier vindt u berichtgeving, die betrekking op uw buurt heeft.</span>
      </div>
    </a>

    <a href="#" class="homepageblock related related--primaryBlue" style="background-image: url(../../images/temp/homepage-diensten.jpg);">
      <div class="content--inner">
        <h2>Diensten</h2>
        <span>Diensten van de Overheid voor particulieren en ondernemers.</span>
      </div>
    </a>

    <a href="#" class="homepageblock related related--primaryBlue" style="background-image: url(../../images/temp/homepage-beleid.jpg);">
      <div class="content--inner">
        <h2>Beleid &amp; Regelgeving</h2>
        <span>Hier bekijkt u publicaties omtrent beleid, wet- en regelgeving.</span>
      </div>
    </a>

    <a href="#" class="homepageblock related related--primaryBlue" style="background-image: url(../../images/temp/homepage-overheidsinformatie.jpg);">
      <div class="content--inner">
        <h2>Contactgegevens Overheden</h2>
        <span>Hier vindt u informatie en contactgegevens van de Overheid.</span>
      </div>
    </a>

  </div>

</div>

<div class="row row--browse">
  <div class="container">
    <h2>Hoe werkt de overheid?</h2>

    <div class="columns">
      <a href="http://www.google.nl"> <div class="homepageblock " style="background-image: url(../../images/temp/wat-doet-overheid.jpg);"> <div class="content--inner"> <h3>Wat doet de overheid?</h3> </div> </div> </a>

      <a href="http://www.google.nl"> <div class="homepageblock " style="background-image: url(../../images/temp/structuur-overheid.jpg);"> <div class="content--inner"> <h3>Wie vormen de overheid?</h3> </div> </div> </a>

      <a href="http://www.google.nl"> <div class="homepageblock " style="background-image: url(../../images/temp/hoe-werkt-democratie.jpg);"> <div class="content--inner"> <h3>Hoe werkt de democratie?</h3> </div> </div> </a>
    </div>

    <p>
      De overheid heeft diverse rollen in het maatschappelijk proces. Lees meer over hoe de overheid dit realiseert.
    </p>



  </div>
</div>

<div class="row container">

  <h2>Gerelateerde informatie</h2>

  <div class="columns columns--relatedinfo">

    <a href="http://www.mijnoverheid.nl" class="blockLink">

      <div class="homepageblock related related--orange" style="background-image: url(../../images/temp/mijnoverheid.png);">

        <div class="content--inner">
          <h3>MijnOverheid.nl</h3>
            <span>Berichten, lopende zaken en Persoonlijke Gegevens</span>
          </div>
      </div>
    </a>

    <a href="http://www.ondernemersplein.nl" class="blockLink">
      <div class="homepageblock related related--lightBlue" style="background-image: url(../../images/temp/ondernemersplein.jpg);">
        <div class="content--inner">
          <h3>ondernemersplein.nl</h3>
          <span>Antwoorden op al uw ondernemersvragen</span>
        </div>
      </div>
    </a>

    <a href="http://www.rijksoverheid.nl" class="blockLink">
      <div class="homepageblock related related--darkBlue" style="background-image: url(../../images/temp/rijksoverheid.jpg);">
        <div class="content--inner">
          <h3>Rijksoverheid.nl</h3>
          <span>Beleidsplannen, wetten en regels voor u uitgelegd</span>
        </div>
      </div>
    </a>
  </div>

</div>

{{ render "@footer" }}
