{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="row row--image row--landing" style="background-image: url(../../images/temp/homepage-block-bg2.png);">

  <div class="container">
    <div class="content--onimage">
      <h1>Levensgebeurtenissen</h1>

      <p class="intro--text">
        Bij belangrijke levensgebeurtenissen komt veel op u af. Hier vindt u de informatie die voor die gebeurtenissen relevant is.
      </p>
    </div>
  </div>

</div>
<div class="row">

  <div class="container">

    <div class="columns">
      <div>
        <h2>Ik ga scheiden</h2>
        <p>Als u gaat scheiden of uit elkaar gaat, kan dit gevolgen hebben voor de toeslagen, voorlopige aanslag of aangifte inkomstenbelasting van u of uw ex-partner. Ga bijvoorbeeld na of u nog fiscale partners bent. Controleer wat de scheiding voor uw persoonlijke situatie betekent en wat u moet doen.</p>
        <ul>
          <li><a href="#">Stappenplan bij scheiden</a></li>
        </ul>
      </div>
      <div>
        <h2>Ik word werkloos</h2>
        <p>Als u werkloos wordt verandert uw financiële situatie, en ook uw rechten en plichten naar de overheid. Zo kunt u soms een uitkering of aanvulling krijgen, maar wordt daarvoor ook een tegenprestatie verwacht.</p>
        <ul>
          <li><a href="#">Stappenplan bij werkloosheid</a></li>
      </div>
      <div>
        <h2>Er is iemand overleden</h2>
        <p>Het overlijden van een partner, kind of familielid is ingrijpend. In deze moeilijke tijd moet u vaak veel regelen, ook met de overheid. Controleer welke wijzigingen in belastingen en rechten op inkomen van de overheid op u van toepassing zijn, wat er van u verwacht wordt en hoe u een en ander kunt regelen.</p>
        <ul>
          <li><a href="#">Stappenplan bij overlijden</a></li>
        </ul>
      </div>
      <div>
        <h2>Ik ben 18 jaar</h2>
        <p>Als u 18 jaar wordt bent u meerderjarig. Daaraan zijn vanuit de overheid ook een aantal rechten en plichten verbonden. Controleer welke wijzigingen in belastingen en rechten op inkomen van de overheid op u van toepassing zijn, wat er van u verwacht wordt en hoe u een en ander kunt regelen.</p>

        <ul>
          <li><a href="#">Stappenplan bij volwassenheid</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ render "@footer" }}
