strong {
  font-style: normal;
  font-weight: 700;
}

em {
  font-style: italic;
  font-weight: 400;
}

.text--muted {
  color: $darkerGrey;
}

.intro--text {
  font-size: 1.25em;
  max-width: 70%;
}

small, .small {
  font-size: 85%;
}
