<div class="result--list">

  <ul>
    <li>
      <a href="#" class="result--title">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</a>
      <ul class="result--actions">
        <li><a href="#" class="icon icon--download"><span>Download de</span> pdf (22kb)</a></li>
        <li><a href="#" class="icon icon--download"><span>Download de</span> xml (22kb)</a></li>
      </ul>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>

      <ul class="list--metadata">
        <li>Wetten</li>
        <li>Regelgeving</li>
        <li>Beleid</li>
      </ul>

    </li>

    <li>
      <a href="#" class="result--title">Titel eerste resultaat</a>
      <ul class="result--actions">
        <li><a href="#" class="icon icon--download"><span>Download de</span> pdf (22kb)</a></li>
        <li><a href="#" class="icon icon--download"><span>Download de</span> xml (22kb)</a></li>
      </ul>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>

      <ul class="list--metadata">
        <li>Wetten</li>
        <li>Regelgeving</li>
        <li>Beleid</li>
      </ul>

    </li>
  </ul>
</div>
