<div class="result--list">
  <ul>
    {{#each resultlist }}
    <li>
      <a href="#" class="result--title">{{title}}</a>
      {{#if actions }}
      <ul class="result--actions">
        <li><a href="#" class="icon icon--download"><span>Download de</span> pdf (22kb)</a></li>
        <li><a href="#" class="icon icon--download"><span>Download de</span> xml (22kb)</a></li>
      </ul>
      {{/if}}

      {{#if description }}
        <p>{{ description }}</p>
      {{/if}}

      {{#if subdescription }}
        <p><small>{{ subdescription }}</small></p>
      {{/if}}

      {{#if meta }}
      <ul class="list--metadata">
         {{#each metas }}
        <li>{{text}}</li>
        {{/each}}
      </ul>
       {{/if}}
    </li>
    {{/each}}
  </ul>
</div>
