.reacties {

  &__heading {
    font-size: 1.375em;
    margin-bottom: 1.5em !important;
  }
  &__sublabel {
    font-weight: normal;
    font-style: italic;
    display: inline-block;
    margin-left: .5em;
  }

  > ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5em;
  }

  &__reactie {
    padding: 0 0 0.25em;
    margin-bottom: 1em;
    border-bottom: 2px solid $lightGrey;

    &-auteur {
      font-weight: bold;
      display: inline-block;
    }
    &-date {
      margin-left: .5em;
      display: inline-block;
      font-size: 0.9em;
      font-weight: normal;
      margin-left: .5em;
    }

    &-content {}
  }
}
