.treeview {

  padding-left: 0;

  li {

    list-style: none;

    a {
      padding: .25em 1em .25em .25em;
      display: block;
      text-decoration: none;
      background: {
        image: $dartRightIcon;
        repeat: no-repeat;
        position: 98% .75em;
      }
      position: relative;

      &:hover {
        background-color: $lightGrey;
      }

      small {
        display: block;
        color: $darkGrey;
      }

      button[data-handler="toggle-fold"] {
        background: {
          repeat: no-repeat;
          position: center center;
          size: 1.3em;
          color: transparent;
          image: $minusIcon;
        };
        width: 1.5em;
        height: 1.5em;
        border: 0;
        position: absolute;
        left: 0;
        top: .75em;
        text-indent: -9999em;
      }

      button[aria-expanded="false"] {
        background-image: $plusIcon;
      }
    }

  }

  &.treeview--foldable {
    li {
      a {
        padding-left: 1.5em;
      }
    }
  }

}
