<ul class="treeview {{ modifier }}" id="treeview-{{ id }}">
  <li>
    <a href="#" class="foldable"{{#if foldability }} data-decorator="add-foldability"{{/if}}>
      Hoofdstuk 1
      <small>Ministerie van Binnenlandse Zaken en Koninkrijksrelaties</small>
    </a>

    <ul id="unique-id-1" hidden="true">
      <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1</a>
          <span>(Artikelen 1.1-1.23)</span>
        <ul id="unique-id-2" hidden="true">
          <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1.1</a>
           <span>(Artikelen 1.1-1.23)</span>
         </li>
          <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1.2</a>
            <ul id="unique-id-3" hidden="true">
              <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1.1</a></li>
              <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1.2</a>
                <ul hidden="true">
                  <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1.1</a></li>
                  <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1.2</a></li>
                </ul>
              </li>
            </ul>
            <ul id="unique-id-4" hidden="true">
              <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1.1</a></li>
              <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1.2</a>
                <ul hidden="true">
                  <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1.1</a></li>
                  <li><a href="#"{{#if foldability }} data-decorator="add-foldability"{{/if}}>Artikel 1.2</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">Artikel 2</a>
         <span>(Artikelen 1.1-1.23)</span>
    </ul>
  </li>
  <li>
    <a href="#">
      Hoofdstuk 2
      <small>Ministerie van Defensie</small>
      <span>(Artikelen 1.1-1.23)</span>
    </a>
  </li>
</ul>
