<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <link rel="stylesheet" href="{{~ path '/css/generic.css' ~}}">
</head>
<body class="preview">
  {{{ yield }}}
  <script src="{{~ path '/js/main.js' ~}}"></script>
</body>
</html>
