<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>
  <link rel="stylesheet" title="default" href="{{~ path '/css/generic.css' ~}}">
  <link rel="alternate stylesheet" title="transition" href="{{~ path '/css/transition.css' ~}}">

</head>
<body class="preview">
  {{{ yield }}}

  <script>
  /*
    (function () {
      const links = Array.from(document.querySelectorAll('link[title]'));
      const styles = Array.from(new Set(links.map(link => link.title)));
      const select = document.createElement('select');
      let title = localStorage.getItem('title');

      function selectStyle(title) {
        links.forEach(link => {
          link.disabled = true;
          link.disabled = link.title !== title;
        });

        localStorage.setItem('title', title);
      }


        if (title) {
          selectStyle(title);
        }
        select.setAttribute('style', 'position: absolute; bottom: 1em; right: 1em; width: 150px;');
        for (let i = 0; i < styles.length; i++) {
          const option = document.createElement('option');
          option.text = 'CSS: ' + styles[i];
          option.value = styles[i];
          option.selected = styles[i] === title;
          select.add(option);
        }
        document.body.appendChild(select);

        select.addEventListener('change', function (event) {
          title = event.target.options[event.target.selectedIndex].value;
          selectStyle(title);
        });

    }());*/
  </script>

  <script src="{{~ path '/js/main.js' ~}}"></script>

</body>
</html>
