.article__header--law {
  background: $lightGrey;
  padding: .5em;
  margin: .25em 0;

  h3,
  p {
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  ul {
    padding: 0;
    margin: 0;

  }

  li {
    display: inline-block;
    margin-right: .5em;
    padding-right: .5em;

    &::after {
      content: '|';
      position: relative;
      left: .5em;
    }

    &:last-child::after {
      display: none;
    }
  }
}
