h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 1.25;
}

h1,
.h1 {
  color: $darkBlue;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: .5em;

  &--large {
    font-size: 2.75rem;
  }

  &.centered--title {
    text-align: center;
    display: block;
    margin: 1em 0;
  }

  &__sub {
    font-weight: 400;
    font-style: italic;
    font-size: 0.75em;
    display: block;
    @media (min-width: $breakpointDesktop) {
      display: inline-block;
    }
  }

}

h2,
.h2 {
  color: $darkBlue;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1em 0;

  .columns--sticky-sidebar__sidebar & span,
  a.question-explanation-link,
  p {
    color: $black;
    display: block;
    font-size: .8125rem;
    font-weight: 400;
  }

  &--large {
    font-size: 1.5rem;
  }

  &__sub {
    display: inline-block;
    font-size: 0.675em;
    font-style: italic;
    font-weight: 400;
  }

  &.title--underlined {
    font-size: 1.125em;
    border-bottom: 1px solid $darkBlue;
    margin: 0.5em 0;
    position: relative;
  }
}

.columns--sidebar-left div:last-child h2,
.columns--sidebar-right div:last-child h2 {
    // display: inline-block;
}

.tabs__panels h2 {
  margin: 1em 0 0;
}
.tabs__panels .columns--sidebar-left h2 {
  margin: 0 0 .5em 0;
}

h3,
.h3 {
  color: $darkBlue;
  font-size: 1rem;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1rem;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 1rem;
  font-weight: 400;
}

h2.ankered,
h3.ankered {
  position: relative;
  display: block;
  &:before {
    display: none;
    content: "";
    @media (min-width: $breakpointDesktop) {
      position: absolute;
      left: -30px;
      top: 4px;
      display: inline-block;
    }
    width: 40px;
    height: 19px;
    background: $permalinkIcon;
    background-repeat: no-repeat;
    background-size: 16px;

  }
}

.row--ab h1 {
  font-size: em(48);
  line-height: 1em;
}

.h {
  &--preheader {
    font-style: italic;
    font-size: em(21);
    margin-bottom: 0;
  }
}

