h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 1.25;
}

h1,
.h1 {
  font: {
    size: 2em;
    weight: 700;

  }
  color: $darkBlue;
  margin-top: .5em;
  margin-bottom: 0;

  &--large {
    font-size: 2.75em;
  }

  &.centered--title {
    text-align: center;
    display: block;
    margin: 1em 0;
  }

  &__sub {
    font-weight: 400;
    font-style: italic;
    font-size: 0.675em;
  }

}

h2,
.h2 {
  font: {
    size: 1.25em;
    weight: 700;
  }
  color: $darkBlue;
  margin: 1em 0;

  .columns--sticky-sidebar__sidebar & span,
  a.question-explanation-link,
  p {
    color: $black;
    display: block;
    font-size: .8em;
    font-weight: 400;
  }

  &--large {
    font-size: 1.5em;
  }

  &__sub {
    font-weight: 400;
    font-style: italic;
    font-size: 0.675em;
    display: inline-block;
  }

  &.title--underlined {
    font-size: 1.15em;
    border-bottom: 1px solid $darkBlue;
    margin: 0.5em 0;
    position: relative;
  }
}

.columns--sidebar-left div:last-child h2,
.columns--sidebar-right div:last-child h2 {
    display: inline-block;
}

.tabs__panels h2 {
  margin: 1em 0 0;
}

h3,
.h3 {
  font: {
    size: 1em;
    weight: 700;
  }
  color: $darkBlue;
}

h4,
.h4 {
  font: {
    size: 1em;
    weight: 700;
  }
  color: $black;
}

h5,
.h5 {
  font: {
    size: 1em;
    weight: 400;
  }
  color: $black;
}

