<h1>Dit is een heading 1</h1>

{{> "@text" }}

{{> "@text" }}

<h2>Dit is een heading 2</h2>

{{> "@text" }}


<h3>Dit is een heading 3</h3>

{{> "@text" }}

<h4>Dit is een heading 4</h4>

{{> "@text" }}

<h5>Dit is een heading 5</h5>

{{> "@text" }}

<h6>Dit is een heading 6</h6>

{{> "@text" }}


