.list--sources {
	margin: 0 0 1em 0;
	padding: 0;

	li {
		list-style: none;
		border-bottom: 1px solid $lightGrey;
		position: relative;
		padding: 1em 1em .8em 0;

		.list--source__information {
			@media ( min-width: $breakpointDesktop ) {
        padding-right: 13em;
			}
		}
  }

  .button {
    order: 3;
		width: 100%;
    margin: 1em 0;

		@media ( min-width: $breakpointDesktop ) {
			position: absolute;
			right: 0em;
			top: .4em;
			margin: 0;
      width: auto;
      padding-top: .55em;
      padding-bottom: .55em;
		}
  }

  .collapsible {
    margin: 0;
  }

	.collapsible__content {
    clear: both;
    margin: 0;

		@media ( min-width: $breakpointDesktop ) {
			padding: 2em 0 0 0;
    }

		> div {
			position: relative;
			margin: 0;
			background: $bgBlue;
			padding: 1em;

			@media ( min-width: $breakpointDesktop ) {
				button {
					right: 2em;
					top: 3.5em;
				}
			}
		}
	}
}
