.copydata {
  border-radius: .5em;
  background: $bgBlue;
  display: block;
  border: 1px solid $lighterGrey;
  overflow: hidden;
  padding: .5em 2em .5em .5em;
  position: relative;
  background-color: $lightGrey;

  &__datafield {
    font-family: Monospace;
    margin: 0;
    padding-right: 7em;
    word-break: break-all;
  }

  &__trigger {
    position: absolute;
    right: .5em;
    top: .625em;
    padding: 0 1.5em 0 0;
    font-size: em(14);
    cursor: pointer;
    border: 0;
    font-family: inherit;
    font-size: em(14);

    background: {
      color: transparent;
      image: $copyIcon;
      position: 100% center;
      size: 1em;
      repeat: no-repeat;
    }
  }
}
