<div class="copydata {{modifier}}" data-decorator="init-copydata" data-config='{ "triggerLabel": "Link kopieeren", "triggerCopiedlabel": "Gekopieerd", "triggerClass": "copydata__trigger" }'>
  <p class="copydata__datafield js-copydata__datafield">
     {{text}}
  </p>
</div>
