<div class="copydata {{modifier}}" data-decorator="init-copydata" data-config='{ "triggerLabel": "Link kopiëren", "triggerCopiedlabel": "Gekopiëerd", "triggerClass": "copydata__trigger" }'>
  <p class="copydata__datafield js-copydata__datafield">
     Aanbestedingswet 2012
    <a href="https://www.google.nl">Google Link</a>
  </p>
</div>
