<div class="well">

  <fieldset class="form__element">

    <legend class="form--intro">Registreren bij naam service</legend>

    <div class="form__element">
      <label for="emailadres">E-mailadres</label>
      <small>Verplicht veld</small>
      <input type="text" id="emailadres" placeholder="Bijv. alexander.fase@koop.overheid.nl" />
      <small>Gebruikt om u op de hoogte te houden</small>
    </div>


    <div class="form__element">
      <label for="wachtwoord">Wachtwoord</label>
      <small>Verplicht veld</small>
      <input type="password" id="wachtwoord" />
      <small>Gebruik een sterk wachtwoord. <a href="#">Wat is een sterk wachtwoord?</a></small>
    </label>

     <div class="form__element">
      <label for="secondWachtwoord">Herhaal wachtwoord</label>
      <small>Verplicht veld</small>
      <input type="password" id="secondWachtwoord" />
    </label>

  </fieldset>

  <button type="submit" class="button button--secondary">Activeren</button>

  <p class="pull-right">Al een account? <a href="#">Log in.</a></p>

</div>

