{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div id="content" role="main" class="container">

  <div class="row">

    {{#> @jumbotron jumbotronContext }}
      <form class="form" data-decorator="init-form-validation">
        <fieldset>
          <legend class="visually-hidden">E-mailadres</legend>
          <div class="form__row">
            {{render "@input-text" inputEmailContext }}
          </div>
        </fieldset>
        <div class="align-right form__row">
          <button type="submit" class="form__button button button--primary">Verzenden</button>
        </div>
      </form>
    {{/@jumbotron}}

  </div>

</div>

{{ render "@footer" }}
