.pagination {
  overflow: hidden;
  margin: 1em 0;

  &__index {
    margin: 1.5em 0 0 0;

    ul {
      padding: 0;
      margin: .25em 0;
      display: flex;
    }

    li {
      list-style: none;
      min-width: 2.35em;
      text-align: center;
      margin-right: 1px;

      &.active {
        color: $white;
        background: $primaryBlue;
        padding: 5px 12px;
      }

      &:first-child {
        margin-left: 0;
      }

      a {
        text-decoration: none;
        display: block;
        padding: 5px 12px;
        background: $bgBlue;

        &:hover {
          color: $darkBlue;
          background: $mediumBlue;
        }
      }
    }

    @media ( min-width: 50em ) {
      float: left;
    }

  }

  &__filter {
    display: block;
    clear: both;
    margin: 1em 0;

    label {
      font-weight: 400;
      margin: 0.5em 0;
    }

    @media ( min-width: 50em ) {
      float: right;
      clear: none;
      margin: 0;
    }
  }
}
