<div class="pagination">

  <div class="pagination__index">

    <ul>
      <li><a href="#">1</a></li>
      <li class="active">2</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>

  </div>

  <div class="pagination__filter">

    <div class="form__element">
      <label for="select--1">Aantal per pagina</label>
      <select id="select--1">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="100">100</option>
      </select>
    </div>

  </div>

</div>
