.characteristics {
	margin: 1em 0 .5em;

	.characteristic {
		position: relative;
		padding: 0 0 0 2em;
		margin: 0 1em .5em 0;
		line-height: 1.5;
		display: inline-block;
		
		&::before {
			content: '';
			width: 1.5em;
			height: 1.5em;
			left: 0em;
			top: 0;
			position: absolute;
			border-radius: 100%;
			background: {
				repeat: no-repeat;
				position: 50% 50%;
				size: 1em;
				image: $governanceIcon;
				color: $lightPurple;
			}
		}

		&--ok {
			&::before {
				background-color: $lightGreen;
				background-image: $okIcon;
				background-size: .8em;
			}
		}

		&--basis {
			&::before {
				background-color: $lightGrey;
				background-image: $lawIcon;
			}
		}

		&--share {
			&::before {
				background-color: $lightBlue;
				background-image: $shareIcon;
			}
		}

		&--international {
			&::before {
				background-color: $lightBlue;
				background-image: $internationalIcon;
			}
		}
	}
}