<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">
    <article>
      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="agenda_kop">
          <a id="d16e139" name="d16e139"></a>Agenda opgesteld 13&nbsp;september 2013
        </h1>
        <div class="separator"></div>
        <div class="agenda-divisie">
          <h1 class="agenda-divisie_kop">
            <a id="d16e143" name="d16e143"></a>OPENBARE VERGADERINGEN DER KAMER
          </h1>
          <div class="agenda-sectie">
            <div class="vergaderitem">
              <p class="document">
                <strong class="vet">Dinsdag 17&nbsp;september</strong>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet">15.00 uur</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <strong class="vet">Woensdag 18&nbsp;september</strong>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet">14.00 uur </strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <strong class="vet">Donderdag 19&nbsp;september</strong>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet">10.15 uur</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Aan de orde is:</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">1. Vragenuur</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">2. Regeling van werkzaamheden</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">3. Stemmingen in verband met:</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/31996">31&nbsp;996</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Regels ten aanzien van zorg en dwang voor personen met een psychogeriatrische aandoening of een verstandelijke handicap
                (Wet zorg en dwang psychogeriatrische en verstandelijk gehandicapte cliënten)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemverklaring: Leijten </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <a href="/dossier/31996">31&nbsp;996</a> (bijgewerkt t/m amendement nr. 69)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet">De Voorzitter: mw. Leijten wenst het amendement op nr. 69 in te trekken. Ik neem aan dat u daarmee instemt.</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 1</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Van der Staaij (36,I)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 2</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– gewijzigd amendement Agema (64)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 3</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikelen 4 en 5</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Van der Staaij (36,II)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 5a</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikelen 6 t/m 8</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– nader gewijzigd amendement Kuzu (44)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 8a</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikelen 8b en 9</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Leijten (16,I)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Leijten (16,II)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Agema (65,I)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Wiegman-Van Meppelen Scheppink (23,I)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Agema (65, II en III)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 10</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– gewijzigd amendement Leijten (24) (invoegen artikelen 10a, 10b en 10c)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 11</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Leijten (16,III)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Leijten (16,IV)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Agema (65,IV)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Wiegman-Van Meppelen Scheppink (23,II)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Agema (65,V)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 12</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 13</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– gewijzigd amendement Agema (57)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– gewijzigd amendement Bergkamp c.s. (48)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 14</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Leijten (68,I)(invoegen artikel 14aa)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikelen 14a t/m 48e</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Leijten (68,II)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel 49</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikelen 50 t/m 62</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– beweegreden</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– wetsvoorstel</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">4. Stemmingen over: moties ingediend bij Wet zorg en dwang psychogeriatrische en verstandelijk gehandicapte cliënten
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31996-53.html" title="link naar publicatie kst-31996-53">31&nbsp;996, nr. 53</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Leijten over veilig melden van dwangmaatregelen in de zorg</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31996-54.html" title="link naar publicatie kst-31996-54">31&nbsp;996, nr. 54</a> (aangehouden)
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Leijten over onderzoek door de inspectie bij een overlijden waarvan de doodsoorzaak ter discussie staat
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31996-55.html" title="link naar publicatie kst-31996-55">31&nbsp;996, nr. 55</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Leijten over direct ingrijpen bij onnodige en te zware gedwongen zorg</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31996-56.html" title="link naar publicatie kst-31996-56">31&nbsp;996, nr. 56</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Leijten over aandacht in zorgopleidingen voor dwangmaatregelen</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31996-58.html" title="link naar publicatie kst-31996-58">31&nbsp;996, nr. 58</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Bruins Slot/Dik-Faber over rekening houden met de positie van de mantelzorger, zorgvrijwilliger en familie
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31996-60.html" title="link naar publicatie kst-31996-60">31&nbsp;996, nr. 60</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Bergkamp/Kuzu over het op verschillende wijze borgen van de rechtspositie van cliënten
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31996-61.html" title="link naar publicatie kst-31996-61">31&nbsp;996, nr. 61</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Bergkamp over een jaarlijkse rapportage door IGZ over onvrijwillige zorg</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31996-62.html" title="link naar publicatie kst-31996-62">31&nbsp;996, nr. 62</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Dik-Faber/Leijten over toegang tot een onafhankelijke cliëntvertrouwenspersoon</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31996-63.html" title="link naar publicatie kst-31996-63">31&nbsp;996, nr. 63</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Dik-Faber over via een AMvB nadere regels vaststellen voor alle vormen van ingrijpende dwang
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">5. Stemmingen over: moties ingediend bij het dertigledendebat over de kosten van de bezuiniging op de thuiszorg van
                800 miljoen
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-23235-100.html" title="link naar publicatie kst-23235-100">23&nbsp;235, nr. 100</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Leijten over het niet laten doorgaan van de bezuinigingen op de thuiszorg zolang de meerkosten niet bekend
                zijn
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-23235-101.html" title="link naar publicatie kst-23235-101">23&nbsp;235, nr. 101</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Agema over het van tafel halen van de bezuiniging op de huishoudelijke hulp
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-23235-102.html" title="link naar publicatie kst-23235-102">23&nbsp;235, nr. 102</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Agema over het overnemen van thuiszorgmedewerkers als voor een andere aanbieder wordt gekozen
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-23235-103.html" title="link naar publicatie kst-23235-103">23&nbsp;235, nr. 103</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Agema over het niet verplichten van ontslagen medewerkers om hun oude werk op te pakken
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">6. Stemmingen over: moties ingediend bij het debat over een uitblijvende oplossing voor mensen met een verstandelijke
                beperking en (ernstige) gedragsproblemen
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-24170-143.html" title="link naar publicatie kst-24170-143">24&nbsp;170, nr. 143</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Leijten over het waarborgen van opvangplekken door zorgkantoren</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-24170-144.html" title="link naar publicatie kst-24170-144">24&nbsp;170, nr. 144</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Agema over het geoormerkt laten van de 171,5 miljoen voor zzp-meerzorg</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">7. Stemmingen in verband met:</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33632">33&nbsp;632</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Wijziging van de Wet op het financieel toezicht en enige andere wetten (Wijzigingswet financiële markten 2014)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <a href="/dossier/33632">33&nbsp;632</a> (bijgewerkt t/m amendement nr. 9)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel I, onderdelen A t/m RRR</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement De Vries/Koolmees (9)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– onderdeel SSS</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– onderdelen TTT t/m NNNN</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel I</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikelen II t/m XXI</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– beweegreden</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– wetsvoorstel</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">8. Stemmingen over: moties ingediend bij Wijzigingswet financiële markten 2014</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33632-10.html" title="link naar publicatie kst-33632-10">33&nbsp;632, nr. 10</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Aukje de Vries over een Europese vergelijking met het oog op de concurrentiepositie van Nederlandse instellingen
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33632-11.html" title="link naar publicatie kst-33632-11">33&nbsp;632, nr. 11</a> (aangehouden)
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Nijboer over het uitbreiden van de inhoudelijke eisen aan de accountantsverklaring</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-29507-118.html" title="link naar publicatie kst-29507-118">29&nbsp;507, nr. 118</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Aukje de Vries/Koolmees over het versoepelen van het vakbekwaamheidsbouwwerk voor financieel adviseurs
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-29507-119.html" title="link naar publicatie kst-29507-119">29&nbsp;507, nr. 119</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Tony van Dijck c.s. over het heroverwegen van het verplichte PE-examen</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">9. Stemmingen in verband met:</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31007-30.html" title="link naar publicatie kst-31007-30">31&nbsp;007, nr. 30</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Brief van het Presidium over een voorstel van de vaste commissie voor Onderwijs, Cultuur en Wetenschap inzake een
                advies aan de Onderwijsraad
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet">De Voorzitter: ik stel voor, conform het voorstel van de vaste commissie voor Onderwijs, Cultuur en Wetenschap
                  te besluiten en de Onderwijsraad een advies te vragen over
                  <em class="cur">Constructieve onderwijspolitiek, bedoelde en onbedoelde effecten van beleid (follow-up rapport Commissie Dijsselbloem)
                    </em> en over
                  <em class="cur">De positie van het vmbo in de educatieve wedloop.</em>
                </strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemming </p>
              <p class="motie"> </p>
              <p class="onderwerp">10. Stemming over: motie ingediend bij Fiscale verzamelwet 2013</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet">De Voorzitter: aangezien de motie vraagt om een nota van wijziging, zal er eerst worden gestemd over motie nr.
                  10 alvorens er wordt gestemd over het wetsvoorstel.</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33637-10.html" title="link naar publicatie kst-33637-10">33&nbsp;637, nr. 10</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Omtzigt over de kantinevrijstelling voor sportverenigingen</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">11. Stemmingen in verband met:</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33637">33&nbsp;637</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Wijziging van enkele belastingwetten en enige andere wetten (Fiscale verzamelwet 2013)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <a href="/dossier/33637">33&nbsp;637</a> (bijgewerkt t/m amendement nr. 9)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikelen I t/m VI</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– amendement Omtzigt (9)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikel VII</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikelen VIII t/m XXXII</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– beweegreden</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– wetsvoorstel</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">12. Stemmingen over: moties ingediend bij het debat over de bezuinigingen bij het Openbaar Ministerie
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33400-VI-123.html" title="link naar publicatie kst-33400-VI-123">33&nbsp;400-VI, nr. 123</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Oskam c.s. over niet verder laten oplopen van de bezuinigingen op het OM</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33400-VI-124.html" title="link naar publicatie kst-33400-VI-124">33&nbsp;400-VI, nr. 124</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Oskam c.s. over zo spoedig mogelijk verhelpen van de problemen bij het OM
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33400-VI-125.html" title="link naar publicatie kst-33400-VI-125">33&nbsp;400-VI, nr. 125</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Helder over geen extra bezuinigingen op het OM</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemming </p>
              <p class="motie"> </p>
              <p class="onderwerp">13. Stemming over: motie ingediend bij het dertigledendebat over berichten over problemen met het alarmnummer 112
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-29628-411.html" title="link naar publicatie kst-29628-411">29&nbsp;628, nr. 411</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Bontes/Klever over voorkomen dat vitale infrastructuur in buitenlandse handen valt
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">14. Stemmingen over: moties ingediend bij het dertigledendebat over het bericht dat de consument een fortuin moet
                gaan betalen voor windmolens op zee
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33561-4.html" title="link naar publicatie kst-33561-4">33&nbsp;561, nr. 4</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Klever c.s. over stoppen met windmolens op zee</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33561-5.html" title="link naar publicatie kst-33561-5">33&nbsp;561, nr. 5</a> (aangehouden)
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Van Tongeren over niet bezuinigen op posten die nodig zijn voor uitvoering van het Energieakkoord
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-33561-6.html" title="link naar publicatie kst-33561-6">33&nbsp;561, nr. 6</a> (aangehouden)
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Van Tongeren over een opt-inregeling voor lokale overheden</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">15. Stemmingen in verband met:</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33239">33&nbsp;239</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Voorstel van wet van het lid Schouw houdende verklaring dat er grond bestaat een voorstel in overweging te nemen
                tot verandering in de Grondwet, strekkende tot de deconstitutionalisering van de benoeming van de commissaris van
                de Koning en de burgemeester
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <a href="/dossier/33239">33&nbsp;239</a>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– artikelen I en II</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– beweegreden</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– wetsvoorstel</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">16. Stemmingen over: moties ingediend bij het dertigledendebat over het bericht «Het kabinet ziet niets in opvang
                van vluchtelingen uit Syrië
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-19637-1710.html" title="link naar publicatie kst-19637-1710">19&nbsp;637, nr. 1710</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Gesthuizen/Voortman over aan de UNHCR kenbaar maken dat Nederland bereid is, 5.000 Syrische vluchtelingen
                uit te nodigen
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-19637-1711.html" title="link naar publicatie kst-19637-1711">19&nbsp;637, nr. 1711</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Voortman c.s. over versoepeling regels voor de toelating van Syrische vluchtelingen</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-19637-1712.html" title="link naar publicatie kst-19637-1712">19&nbsp;637, nr. 1712</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Voortman c.s. over ruimhartige opvang van Syrische vluchtelingen in Nederland</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-19637-1713.html" title="link naar publicatie kst-19637-1713">19&nbsp;637, nr. 1713</a> (aangehouden)
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Voordewind c.s. over ruimhartig omgaan met verzoeken van Syriërs om familie in Nederland te bezoeken
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-19637-1714.html" title="link naar publicatie kst-19637-1714">19&nbsp;637, nr. 1714</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Voordewind c.s. over participeren in het tijdelijk humanitair toelatingsprogramma</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-19637-1715.html" title="link naar publicatie kst-19637-1715">19&nbsp;637, nr. 1715</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Voordewind c.s. over het loskoppelen van 250 Syrische vluchtelingen van het bestaande quotum
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-19637-1716.html" title="link naar publicatie kst-19637-1716">19&nbsp;637, nr. 1716</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Van der Staaij/Van Hijum over voorrang geven aan de meest kwetsbare en bedreigde personen
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-19637-1717.html" title="link naar publicatie kst-19637-1717">19&nbsp;637, nr. 1717</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Schouw c.s. over het verhogen van het quotum voor hervestiging van 2014</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-19637-1718.html" title="link naar publicatie kst-19637-1718">19&nbsp;637, nr. 1718</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Schouw c.s. over een meer actieve rol van de regering in de Europese coördinatie van hulp aan Syrië
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-19637-1719.html" title="link naar publicatie kst-19637-1719">19&nbsp;637, nr. 1719</a> (aangehouden)
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Maij over verruiming van de regels voor verblijf van gevluchte Syriërs bij familieleden
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">17. Stemmingen over: moties ingediend bij het dertigledendebat over de buitenlandse financiering van moskeeën in
                Nederland
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-29754-234.html" title="link naar publicatie kst-29754-234">29&nbsp;754, nr. 234</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Van Klaveren over het ontnemen van de anbi-status van islamitische organisaties</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-29754-235.html" title="link naar publicatie kst-29754-235">29&nbsp;754, nr. 235</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Van Klaveren over een verbod op de buitenlandse financiering van moskeeën</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Stemmingen </p>
              <p class="motie"> </p>
              <p class="onderwerp">18. Stemmingen over: moties ingediend bij het debat over de sluiting van de islamitische school Ibn Ghaldoun
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31289-169.html" title="link naar publicatie kst-31289-169">31&nbsp;289, nr. 169</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Rog over het instellen van een commissie van deskundigen</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31289-170.html" title="link naar publicatie kst-31289-170">31&nbsp;289, nr. 170</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Beertema over het intrekken van onderwijslicenties van alle islamitische scholen
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31289-171.html" title="link naar publicatie kst-31289-171">31&nbsp;289, nr. 171</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Beertema over financiering van scholen door partijen in OIC-landen</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-31289-172.html" title="link naar publicatie kst-31289-172">31&nbsp;289, nr. 172</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">– de motie-Beertema over misbruik van artikel 23 van de Grondwet</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">19. Aanbieding van de rijksbegrotingen voor het jaar 2014 door de minister van Financiën
                <em class="cur">(17&nbsp;september)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">20. Debat over het thema «subsidiariteit» met maximum spreektijden van 4 minuten per fractie
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">21. VAO Evaluatie Wet uniformering loonbegrip (AO d.d. 4/9) met maximum spreektijden van 2 minuten per fractie
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="kst-21501-32-370.html" title="link naar publicatie kst-21501-32-370">21 501-32, nr. 370</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">22. VSO Informele Landbouw-en Visserijraad</p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33440">33&nbsp;440</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">23. Wijziging van de Paspoortwet in verband met een andere status van de Nederlandse identiteitskaart, het verlengen
                van de geldigheidsduur van reisdocumenten en Nederlandse identiteitskaarten, een andere grondslag voor de heffing
                van rechten door burgemeesters en gezaghebbers en het niet langer opslaan van vingerafdrukken in de reisdocumentenadministratie
                (Wijziging van de Paspoortwet in verband met onder meer de status van de Nederlandse identiteitskaart)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33599">33&nbsp;599</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">24. Wijziging van de Geneesmiddelenwet ter implementatie van richtlijn 2011/62/EU om te verhinderen dat vervalste
                geneesmiddelen in de legale distributieketen belanden
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33520">33&nbsp;520</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">25. Wijziging van de Boeken 6 en 7 van het Burgerlijk Wetboek, de Wet handhaving consumentenbescherming en enige
                andere wetten in verband met de implementatie van Richtlijn 2011/83/EU van het Europees Parlement en de Raad van
                25&nbsp;oktober 2011 betreffende consumentenrechten, tot wijziging van Richtlijn 93/13/EEG van de Raad en van Richtlijn
                1999/44/EG van het Europees Parlement en de Raad en tot intrekking van Richtlijn 85/577/EEG en van Richtlijn 97/7/EG
                van het Europees Parlement en de Raad (PbEU L 304/64) (Implementatiewet richtlijn consumentenrechten)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33486">33&nbsp;486</a> (R1994)
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">26. Goedkeuring van het op 12&nbsp;mei 2011 te 's-Gravenhage tot stand gekomen Verdrag inzake de overbrenging van
                gevonniste personen tussen het Koninkrijk der Nederlanden en de Republiek Peru (
                <a href="trb-2011-109.html" title="link naar publicatie trb-2011-109">Trb.&nbsp;2011, 109</a>)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33687">33&nbsp;687</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">27. Wijziging van de Algemene Ouderdomswet teneinde het recht op partnertoeslag van de gehuwde pensioengerechtigde
                van wie de echtgenoot jonger is dan de pensioengerechtigde leeftijd afhankelijk te maken van het gezamenlijk inkomen
                van die pensioengerechtigde en diens echtgenoot
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33580">33&nbsp;580</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">28. Implementatie van de richtlijn 2011/93/EU van het Europees Parlement en de Raad ter bestrijding van seksueel
                misbruik en seksuele uitbuiting van kinderen en kinderpornografie, en ter vervanging van Kaderbesluit 2004/68/JBZ
                van de Raad (PbEU L 335)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33427">33&nbsp;427</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">29. Wijziging van enige wetten in verband met de handhaving van voorschriften in de Engelse taal
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33581">33&nbsp;581</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">30. Wijziging van de Vreemdelingenwet 2000 ter implementatie van Richtlijn 2011/51/EU van het Europees Parlement
                en de Raad van 11&nbsp;mei 2011 tot wijziging van Richtlijn 2003/109/EG van de Raad teneinde haar werkingssfeer
                uit te breiden tot personen die internationale bescherming genieten (PbEU 2011, L 132)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">
                <a href="/dossier/33329">33&nbsp;329</a>
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">31. Wijziging van de Wet op de naburige rechten in verband met de omzetting van Richtlijn 2011/77/EU van het Europees
                Parlement en de Europese Raad van 27&nbsp;september 2011 tot wijziging van de Richtlijn 2006/116/EG betreffende
                de beschermingstermijn van het auteursrecht en bepaalde naburige rechten
              </p>
            </div>
          </div>
          <div class="separator"></div>
          <div class="agenda-sectie">
            <div class="vergaderitem">
              <p class="document">Langetermijnagenda </p>
              <p class="motie"> </p>
              <p class="onderwerp"></p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet"> 24, 25 en 26&nbsp;september (week 39)</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Algemene Politieke Beschouwingen
                <em class="cur">(25 en 26&nbsp;september)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– VAO Dierproeven (AO d.d. 15/05)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– VAO Financiën primair onderwijs (AO d.d. 04/09)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– VSO over de voorhang aanpassing mbi-aanwijzing (macrobeheersingsinstrument) 2012 van 2013 naar 2014 (Kamerstuk
                <a href="kst-32620-83.html" title="link naar publicatie kst-32620-83">32&nbsp;620, nr. 83</a>)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– VSO over het protocol voor omgang met kansrijke burgerinitiatieven op het gebied van infrastructuur (Kamerstuk
                <a href="kst-29385-75.html" title="link naar publicatie kst-29385-75">29&nbsp;385, nr. 75</a>)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– VAO Ontslagen thuiszorgmedewerkers (AO d.d. 11/9)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– VAO Nationaal Techniekpact 2020 (AO d.d. 5/9)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/32550">32&nbsp;550</a> (Initiatief-Van Weyenberg/Van Hijum; Wet normalisering rechtspositie ambtenaren)
                <em class="cur">(re- en dupliek) </em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33653">33&nbsp;653</a> (Invoering van een tijdelijke heffing voor de bankensector (Tijdelijke wet resolutieheffing 2014))
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet"> 1, 2 en 3&nbsp;oktober (week 40)</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Algemene Financiële Beschouwingen</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33258">33&nbsp;258</a> (Voorstel van wet van de leden Van Raak, Heijnen, Schouw, Voortman, Segers, Ouwehand en Klein,
                houdende de oprichting van een Huis voor klokkenluiders (Wet Huis voor klokkenluiders)
                <em class="cur">(antwoord eerste termijn + re- en dupliek)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33311">33&nbsp;311</a> (Voorstel van wet van het Lid Bontes tot wijziging van Boek 1 BW i.v.m. het beperken van de duur
                van partneralimentatie en tot wijziging van het Wetboek van Burgerlijke Rechtsvordering i.v.m. het desverzocht
                verstrekken van berekeningen van draagkracht en behoefte in zaken betreffende partneralimentatie)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33590">33&nbsp;590</a> (Verhoging minimumleeftijd verkoop tabaksproducten)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33503">33&nbsp;503</a> (Wijziging van de Waterwet en enkele andere wetten (aanvulling en verbetering; vereenvoudiging
                van de verontreinigingsheffing; opheffing van de Commissie van advies inzake de waterstaatswetgeving)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Debat over het rapport van de Tijdelijke commissie Huizenprijzen
                <em class="cur">(debat met de regering)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33322">33&nbsp;322</a> (Wijziging van de Meststoffenwet (invoering stelsel verantwoorde mestafzet)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet"> 8, 9 en 10&nbsp;oktober (week 41)</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Algemene Zaken (III) + Begroting van de Koning (I)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Koninkrijksrelaties (IV)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Debat over het verslag van de Nationale Ombudsman over 2012</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/32271">32&nbsp;271</a> (Huisvestingswet 2012)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33664">33&nbsp;664</a> (Wijziging van onder meer de Mediawet 2008 i.v.m. onder meer aanpassing van de rijksmediabijdrage
                en overheveling van het budget voor de bekostiging van de regionale omroepen van het provinciefonds naar de mediabegroting)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet"> 15, 16 en 17&nbsp;oktober (week 42)</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Economische Zaken (onderdeel Economie en Innovatie) (XIII)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33365">33&nbsp;365</a> (R1987) (Wijziging van artikel 53b van de Rijksoctrooiwet 1995 in verband met de invoering van
                een beperkte veredelingsvrijstelling)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <em class="cur">herfstreces: 18&nbsp;oktober t/m 28&nbsp;oktober (week 43)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet"> 29, 30 en 31&nbsp;oktober (week 44)</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Onderwijs, Cultuur en Wetenschap (VIII)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Volksgezondheid, Welzijn en Sport (XVI)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet"> 5, 6 en 7&nbsp;november (week 45)</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Infrastructuur en Milieu (XI)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Economische Zaken (onderdeel Landbouw en Natuur) (XIII)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet"> 12, 13 en 14&nbsp;november (week 46)</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Defensie (X)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Belastingplan 2014 (plenaire afronding, inclusief stemmingen)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet"> 19, 20 en 21&nbsp;november (week 47)</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Veiligheid en Justitie (VI)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Wonen en Rijksdienst (XVIII)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet"> 26, 27 en 28&nbsp;november (week 48)</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Binnenlandse Zaken (VII)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Buitenlandse Zaken (V)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Buitenlandse Handel en Ontwikkelingssamenwerking (XVII)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">
                <strong class="vet"> 3, 4 en 5&nbsp;december (week 49)</strong>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Begroting Sociale Zaken en Werkgelegenheid (XV)</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">– Stemmingen over de begrotingen (amendementen en wetsvoorstellen)</p>
            </div>
          </div>
          <div class="separator"></div>
          <div class="agenda-sectie">
            <div class="vergaderitem">
              <p class="document">Aangemelde onderwerpen, nog niet geagendeerd </p>
              <p class="motie"> </p>
              <p class="onderwerp"></p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/32729">32&nbsp;729</a> (Wijziging van de Wet op het financieel toezicht i.v.m. het verstrekken van vertrouwelijke gegevens
                of inlichtingen door DNB en de AFM aan de Algemene Rekenkamer)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33569">33&nbsp;569</a> (Wijziging van de Wet op het notarisambt en enkele andere wetten in verband met onder meer een
                gewijzigde regeling van de legalisatie van handtekeningen van notarissen)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33135">33&nbsp;135</a> (Wijziging van de Crisis- en herstelwet en diverse andere wetten in verband met het permanent maken
                van de Crisis- en herstelwet en het aanbrengen van enkele verbeteringen op het terrein van het omgevingsrecht)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33204">33&nbsp;204</a> (Wijziging van de Algemene Wet Bijzondere Ziektekosten en de Wet maatschappelijke ondersteuning
                in verband met invoering van een vermogensinkomensbijtelling voor de vaststelling van de eigen bijdragen voor zorg
                of voorzieningen op grond van die wetten)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33348">33&nbsp;348</a> Regels ter bescherming van de natuur (Wet natuurbescherming)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33622">33&nbsp;622</a> (Wijziging van de Instellingswet Autoriteit Consument en Markt en enige andere wetten in verband
                met de stroomlijning van het door de Autoriteit Consument en Markt te houden markttoezicht)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33766">33&nbsp;766</a> (Wijziging van de Wegenverkeerswet 1994 i.v.m. het vaststellen van emissieklassen van motorvoertuigen,
                het opnemen van enkele bepalingen m.b.t. voertuigonderdelen die niet dienen te zijn goedgekeurd voor de toelating
                tot het verkeer op de weg en het maximeren van de prijs van het rijbewijs)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33726">33&nbsp;726</a> (Wijziging van de Wet tegemoetkoming chronisch zieken en gehandicapten, de Zorgverzekeringswet,
                de Algemene Wet Bijzondere Ziektekosten en de Wet inkomstenbelasting 2001 in verband met de afschaffing van de
                algemene tegemoetkoming voor chronisch zieken en gehandicapten, de compensatie voor het verplicht eigen risico,
                de fiscale aftrek van uitgaven voor specifieke zorgkosten en de tegemoetkoming specifieke zorgkosten)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33623">33&nbsp;623</a> (Wijziging van de Wet minimumloon en minimumvakantiebijslag in verband met het van toepassing verklaren
                van die wet op nader bepaalde overeenkomsten van opdracht)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33488">33&nbsp;488</a> (Wijziging van Boek 1 en Boek 10 van het Burgerlijk Wetboek betreffende de huwelijksleeftijd, de
                huwelijksbeletselen, de nietigverklaring van een huwelijk en de erkenning van in het buitenland gesloten huwelijken
                (Wet tegengaan huwelijksdwang))
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33591">33&nbsp;591</a> (Goedkeuring van de op 26&nbsp;juni 2012 te Brussel tot stand gekomen Handelsovereenkomst tussen
                de Europese Unie en haar lidstaten, enerzijds, en Colombia en Peru, anderzijds (
                <a href="trb-2012-178.html" title="link naar publicatie trb-2012-178">Trb.&nbsp;2012, 178</a>))
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33582">33&nbsp;582</a> (Wijziging van de Gemeentewet in verband met de verruiming van de bevoegdheid van de burgemeester
                tot de inzet van cameratoezicht)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33526">33&nbsp;526</a> (Wijziging van het Burgerlijk Wetboek en het Wetboek van Burgerlijke Rechtsvordering mede in verband
                met de evaluatie van de Wet openstelling huwelijk en de Wet geregistreerd partnerschap)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33109">33&nbsp;109</a> (Beginselenwet AWBZ-zorg)
                <em class="cur"> (commissie VWS brengt nog nader verslag uit)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/30246">30&nbsp;246</a> (Wijziging van de Wet op het primair onderwijs en de Wet op de expertisecentra onder meer in verband
                met aanpassing van de methode van jaarlijkse prijsbijstelling ten aanzien van de materiële voorzieningen)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/32859">32&nbsp;859</a> (Wijziging van de Wegenverkeerswet 1994 i.v.m. het verbeteren van de aanpak van het rijden onder
                invloed van drugs))
                <em class="cur">(commissie V&amp;J heeft nader verslag uitgebracht)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">+
                <a href="/dossier/33346">33&nbsp;346</a> (Wijziging van de Wegenverkeerswet 1994 i.v.m. een uitbreiding van de reikwijdte van de recidiveregeling
                voor ernstige verkeersdelicten
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33141">33&nbsp;141</a> (Wijziging van de Wet van 7&nbsp;juli 2010 tot wijziging van de Wet kinderopvang, de Wet op het
                onderwijstoezicht, de Wet op het primair onderwijs en enkele andere wetten in verband met wijzigingen in het onderwijsachterstandenbeleid)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/30579">30&nbsp;579</a> (Voorstel van wet van het lid Voordewind tot strafbaarstelling van het in de openbaarheid ontkennen,
                op grove wijze bagatelliseren, goedkeuren of rechtvaardigen van volkerenmoord)
                <em class="cur">(voortzetting)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/32855">32&nbsp;855</a> (Modernisering regelingen voor verlof en arbeidstijden)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/32328">32&nbsp;328</a> (Voorstel van wet van het lid Van Nieuwenhuizen tot wijziging van de Wet werk en bijstand teneinde
                de eis tot beheersing van de Nederlandse taal toe te voegen aan de wet)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/31045">31&nbsp;045</a> (Initiatief-Koşer Kaya; wijziging van de Wet arbeid en zorg i.v.m. de uitbreiding van de duur van
                het adoptieverlof bij interlandelijke adoptie)
                <em class="cur">(voortzetting)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/32415">32&nbsp;415</a> (R1915) (Rijksvisumwet)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/31362">31&nbsp;362</a> (Initiatief-Van Tongeren; Wijz. Wet belastingen op milieugrondslag i.v.m. het beperken van de emissies
                van broeikasgassen door kolengestookte elektriciteitscentrales (beperking emissies kolencentrales)
                <em class="cur">(re- en dupliek)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33308">33&nbsp;308</a> (Wet auteurscontractenrecht)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">–
                <a href="/dossier/33438">33&nbsp;438</a> Wijziging van de Wet op de bijzondere medische verrichtingen in verband met de invoering van een
                startmeldingsplicht voor beperkte duur voor het uitvoeren van verrichtingen waarvoor niet langer een vergunning
                op grond van deze wet is vereist
              </p>
            </div>
          </div>
          <div class="separator"></div>
          <div class="agenda-sectie">
            <div class="vergaderitem">
              <p class="document">Te plannen (dertigleden) debatten </p>
              <p class="motie"> </p>
              <p class="onderwerp"></p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">1. Debat over werkdruk bij de rechterlijke macht (Schouw)
                <em class="cur">(minister V&amp;J) (voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">2. Debat over het bericht «Gebrek aan dagbesteding schaadt gezondheid asielzoeker» (Voortman)
                <em class="cur">(staatssecretaris V&amp;J)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">3. Debat over privéklinieken in de Geestelijke gezondheidszorg en marktwerking (Leijten)
                <em class="cur">(minister VWS)</em>
                <em class="cur">(voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">4. Debat over de fraude met toeslagen (Neppérus)
                <em class="cur">(staatssecretaris Financiën, ministers SZW en BZK) (voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">5. Debat over de intensieve veehouderij in Nederland (Ouwehand)
                <em class="cur">(staatssecretaris EZ + minister VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">6. Debat over het bericht dat het IMF toegeeft fouten te hebben gemaakt bij de redding van Griekenland en over nieuwe
                financiële steun (Van Hijum)
                <em class="cur">(minister Fin)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">7. Debat over het bericht dat de VS Nederlandse burgers tapt (Van Raak)
                <em class="cur">(minister BZK en V&amp;J)</em>
                <em class="cur">(voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">8. Debat over de uitkomsten van het SEO-onderzoek en de aanpak van belastingparadijzen in het algemeen (Klaver)
                <em
                  class="cur">(staatssecretaris Fin) </em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">9. Debat over schaliegas (Van Tongeren)
                <em class="cur">(minister EZ)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">10. Debat over het Energieakkoord (Van Tongeren)
                <em class="cur"> (MP + minister EZ + staatssecretaris I&amp;M) </em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">11. Debat over de modernisering van de Nederlandse diplomatie (Sjoerdsma)
                <em class="cur">(minister BuZa)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">12. Debat over het ACVZ rapport inzake het buitenschuldbeleid (Voordewind)
                <em class="cur">(staatssecretaris V&amp;J)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">13. Debat over de aangekondigde visie op de Krijgsmacht (Hachchi)
                <em class="cur">(minister van Defensie)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">14. Debat over fraude in Nederland (Gesthuizen)
                <em class="cur">(minister V&amp;J)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">15. Debat over de inzet van vrijwilligers en werklozen in de thuiszorg (Leijten
                <em class="cur">) (staatssecretaris VWS en SZW)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">16. Hoofdlijnendebat over het Energieakkoord (Van Tongeren)
                <em class="cur">(minister Financiën en minister EZ)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">17. Debat over het bericht dat werklozen nauwelijks ingezet worden bij seizoensarbeid (Potters)
                <em class="cur">(minister SZW)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">18. Debat over het voortbestaan van Aldel (Ulenbelt)
                <em class="cur">(ministers EZ en SZW)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">19. Debat over het bericht dat het aantal aardbevingen door gaswinning een record heeft bereikt (Jan Vos)
                <em class="cur">(minister EZ)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">1. Dertigledendebat over het bericht «Noodklok om Jodenhaat» (Van Klaveren)
                <em class="cur"> (minister SZW + minister V&amp;J + minister-president) (voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">2. Dertigledendebat over de toekomst van de CO
                <sub>2</sub> emissiehandel en het Europese klimaatbeleid (Van Veldhoven)
                <em class="cur">(minister EZ + staatssecretaris I&amp;M) (voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">3. Dertigledendebat over het bericht dat de minister voor Wonen en Rijksdienst corporaties aan banden gaat leggen
                (Knops)
                <em class="cur">(minister W&amp;R) (voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">4. Dertigledendebat over het rapport van de Adviescommissie voor Vreemdelingenzaken (ACVZ) over vreemdelingendetentie
                (Gesthuizen)
                <em class="cur">(staatssecretaris V&amp;J) (voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">5. Dertigledendebat over het stropen in bossen en wateren (Graus)
                <em class="cur">(minister V&amp;J + staatssecretaris EZ)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">6. Dertigledendebat over het bericht dat patiënten zorg mijden door de crisis (Leijten)
                <em class="cur">(minister VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">7. Dertigledendebat over de aanwezigheid van bewindspersonen en ambtenaren op congressen georganiseerd door farmaceuten
                (Leijten) (
                <em class="cur">minister en staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">8. Dertigledendebat over ouderen die op straat worden gezet (Agema)
                <em class="cur">(staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">9. Dertigledendebat over in Egypte verdwenen EU-gelden (Van Klaveren)
                <em class="cur">(minister BuZa) (voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">10. Dertigledendebat over het bericht dat het VU Medisch Centrum en Eyeworks beboet zijn voor het schenden van het
                beroepsgeheim
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">(Van Gerven)
                <em class="cur">(minister VWS) (voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">11. Dertigledendebat over de explosie van wanbetalers door het eigen risico (Leijten)
                <em class="cur">(minister VWS) (voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">12. Dertigledendebat over het bericht dat er te weinig geld is voor ouderenzorg (Agema)
                <em class="cur">(staatssecretaris VWS) (voorafgegaan door een brief)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">13. Dertigledendebat over het ingezonden stuk van de minister van Sociale Zaken en Werkgelegenheid over de komst
                van vele personen uit Midden- en Oost-Europa (De Graaf)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">14. Dertigledendebat over het al dan niet verlagen van de premie door zorgverzekeraars (Agema)
                <em class="cur">(minister VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">15. Dertigledendebat over het verlagen van de pgb-tarieven voor mensen met een ZZP-indicatie (Agema)
                <em class="cur">(staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">16. Dertigledendebat over de verzorging van gebitten van ouderen in zorginstellingen (Agema)
                <em class="cur">(staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">17. Dertigledendebat over de zomerstop in de thuiszorg (Agema)
                <em class="cur">(staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">18. Dertigledendebat over het intrekken van de Beginselenwet AWBZ-zorg (Agema)
                <em class="cur">(staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">19. Dertigledendebat over het bericht «Kabinet verlaagt AOW met 25 euro per maand» (Madlener)
                <em class="cur">(staatssecretaris SZW)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">20. Dertigledendebat over het bericht dat de zwaardere ZZP's in de GGZ naar de gemeenten gaan (Keijzer) (
                <em class="cur">staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">21. Dertigledendebat over de inkomenseffecten van het kabinetsbeleid voor mensen met een beperking (Siderius)
                <em
                  class="cur">(minister en staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">22. Dertigledendebat over het bericht «Weinig vertrouwen in politie» (Bontes)
                <em class="cur">(minister V&amp;J)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">23. Dertigledendebat over het bericht dat kinderen de dupe zijn van de crisis (Siderius)
                <em class="cur">(minister SZW)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">24. Dertigledendebat over de stapeling van financiële risico’s bij de decentralisaties (Agema)
                <em class="cur">(staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">25. Dertigledendebat over het SCP-rapport «Met zorg ouder worden» (Agema)
                <em class="cur">(staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">26. Dertigledendebat over het bericht dat de overheveling van persoonlijke verzorging naar gemeenten van de baan
                is (Leijten)
                <em class="cur">(staatssecretaris VWS)</em>
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">27. Dertigledendebat over het vertrouwen van de krijgsmacht in de politieke leiding (Segers)
                <em class="cur">(minister Defensie)</em>
              </p>
            </div>
          </div>
          <div class="separator"></div>
          <div class="agenda-sectie">
            <div class="vergaderitem">
              <p class="document">Wetgevings- notaoverleggen </p>
              <p class="motie"> </p>
              <p class="onderwerp"></p>
            </div>
            <div class="vergaderitem">
              <p class="document">Maandag 30&nbsp;september 2013 van 10.00 tot 17.00 uur </p>
              <p class="motie"> </p>
              <p class="onderwerp">Van de vaste commissie voor Buitenlandse Zaken over Mensenrechtenbeleid</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Maandag 30&nbsp;september 2013 van 14.00 tot 21.00 uur </p>
              <p class="motie"> </p>
              <p class="onderwerp">Van de vaste commissie voor Onderwijs, Cultuur en Wetenschap over de Wet versterking kwaliteitswaarborgen hoger onderwijs
                (
                <a href="/dossier/33472">33&nbsp;472</a>)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Maandag 28&nbsp;oktober 2013 van 11.00 tot 19.00 uur en maandag 4&nbsp;november 2013 van 11.00 tot 23.00 uur
              </p>
              <p class="motie"> </p>
              <p class="onderwerp">Van de vaste commissie voor Financiën over het Belastingplan 2014</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Maandag 11&nbsp;november 2013 van 10.00 tot 18.00 uur </p>
              <p class="motie"> </p>
              <p class="onderwerp">Van de vaste commissie voor Onderwijs, Cultuur en Wetenschap over het onderdeel cultuur van de begroting OCW
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Maandag 18&nbsp;november 2013 van 10.00 tot 16.00 uur </p>
              <p class="motie"> </p>
              <p class="onderwerp">Van de vaste commissie voor Volksgezondheid, Welzijn en Sport over het onderdeel Sport en Bewegen van de begroting
                VWS voor het jaar 2014
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Maandag 18&nbsp;november van 10.00 tot 17.00 uur </p>
              <p class="motie"> </p>
              <p class="onderwerp">Van de vaste commissie voor I&amp;M over het begrotingsonderdeel Water</p>
            </div>
            <div class="vergaderitem">
              <p class="document">Maandag 25&nbsp;november 2013 van 10.00 tot 16.00 uur </p>
              <p class="motie"> </p>
              <p class="onderwerp">Van de vaste commissie voor Volksgezondheid, Welzijn en Sport over het onderdeel Jeugdzorg en aanverwante zaken van
                de begrotingen VWS en V&amp;J voor het jaar 2014
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Maandag 25&nbsp;november van 10.00 tot 18.00 uur </p>
              <p class="motie"> </p>
              <p class="onderwerp">Van de vaste commissie voor Infrastructuur en Milieu over het Meerjarenprogramma Ruimte, Infrastructuur en Transport
                (MIRT)
              </p>
            </div>
            <div class="vergaderitem">
              <p class="document">Maandag 25&nbsp;november 2013 van 16.00 tot 23.00 uur </p>
              <p class="motie"> </p>
              <p class="onderwerp">Van de vaste commissie voor Onderwijs, Cultuur en Wetenschap over het onderdeel media van de begroting OCW
              </p>
            </div>
          </div>
          <div class="separator"></div>
          <div class="agenda-sectie">
            <div class="vergaderitem">
              <p class="document">Recesperiodes </p>
              <p class="motie"> </p>
              <p class="onderwerp"></p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Herfstreces 2013: vrijdag 18&nbsp;oktober t/m maandag 28&nbsp;oktober 2013</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Kerstreces 2013: vrijdag 20&nbsp;december 2013 t/m maandag 13&nbsp;januari 2014</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Krokusreces 2014: vrijdag 21&nbsp;februari t/m maandag 3&nbsp;maart 2014</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Meireces 2014: vrijdag 25&nbsp;april t/m maandag 12&nbsp;mei 2014</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Zomerreces 2014: vrijdag 4&nbsp;juli t/m maandag 1&nbsp;september 2014</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Herfstreces 2014: vrijdag 17&nbsp;oktober t/m maandag 27&nbsp;oktober 2014</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Kerstreces 2014: vrijdag 19&nbsp;december 2014 t/m maandag 12&nbsp;januari 2015</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Krokusreces 2015: vrijdag 13&nbsp;februari t/m maandag 23&nbsp;februari 2015</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Meireces 2015: vrijdag 1&nbsp;mei t/m maandag 18&nbsp;mei 2015</p>
            </div>
            <div class="vergaderitem">
              <p class="document"> </p>
              <p class="motie"> </p>
              <p class="onderwerp">Zomerreces 2015: vrijdag 3&nbsp;juli t/m maandag 31&nbsp;augustus 2015</p>
            </div>
          </div>
          <div class="separator"></div>
        </div>

      </div>      </article>

  </div>
</div>
