<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="kamervraagomschrijving_kop no-toc">
          <a id="d16e42" name="d16e42"></a>Vragen van het lid Leegte (VVD) aan de staatssecretaris van Infrastructuur en Milieu over een oneerlijk speelveld
          REACH (ingezonden 24&nbsp;augustus 2012).
        </h1>
        <h1 class="kamervraagomschrijving_kop no-toc">
          <a id="d16e44" name="d16e44"></a>Antwoord van staatssecretaris Atsma (Infrastructuur en Milieu) (ontvangen 11&nbsp;september 2012).
        </h1>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d16e48" name="d16e48"></a>Vraag 1
          </h2>
          <p>Kent u het artikel « Nieuwe Europese wetgeving is te complex»?
            <a class="nootnum supernote-click-ID-2012Z15341-d36e58"
              href="#ID-2012Z15341-d36e58">1</a>

          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d16e58" name="d16e58"></a>Antwoord 1
          </h2>
          <p>Ja.</p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d16e65" name="d16e65"></a>Vraag 2
          </h2>
          <p>Is het waar dat 3&nbsp;000 Nederlandse bedrijven te maken krijgen met het verplichte registratiesysteem voor chemische
            stoffen via REACH?
            <a class="nootnum supernote-click-ID-2012Z15341-d36e72" href="#ID-2012Z15341-d36e72">2</a>

          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d16e75" name="d16e75"></a>Antwoord 2
          </h2>
          <p>Ja. Veel Nederlandse bedrijven zullen met de verplichte registratie te maken krijgen. Dit is een van de centrale doelstellingen
            van REACH.
          </p>
          <p>Voor uitgebreidere achtergronden verwijs ik naar de Kamerstukken
            <a href="/dossier/30600-A">30 600 A</a>,
            <a href="/dossier/30600-B">B</a> en
            <a href="/dossier/30600-C">C</a>, alsmede
            <a href="kst-30600-1.html" title="link naar publicatie kst-30600-1">30 600, nrs. 1</a> t/m
            <a href="kst-30600-14.html" title="link naar publicatie kst-30600-14">14</a> inzake de behandeling van Uitvoeringswet EG-verordening registratie, evaluatie en autorisatie van chemische
            stoffen (REACH), de brieven betreffende de onderhandelingen over de REACH-verordening, Kamerstukken
            <a href="kst-21501-08-197.html"
              title="link naar publicatie kst-21501-08-197">21&nbsp;501-08, nrs. 197</a>,
            <a href="kst-21501-08-211.html" title="link naar publicatie kst-21501-08-211">211</a> en
            <a href="kst-21501-08-213.html" title="link naar publicatie kst-21501-08-213">213</a>, alsmede de brief over de gevolgen voor het Nederlandse bedrijfsleven (Kamerstukken
            <a href="kst-29515-40.html" title="link naar publicatie kst-29515-40">29&nbsp;515, nr.&nbsp;40</a>.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d16e112" name="d16e112"></a>Vraag 3
          </h2>
          <p>Is het waar dat het MKB niet zonder hulp van buitenaf kan voldoen aan de complexe eisen van de verplichte registratie?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d16e119" name="d16e119"></a>Antwoord 3
          </h2>
          <p>Het antwoord op deze vraag hangt af van het MKB-bedrijf. Er zijn bedrijven die inderdaad de expertise ontberen en dus
            externe advisering moeten inschakelen. Andere MKB bedrijven zijn echter goed in staat om zelfstandig aan de REACH-vereisten
            te voldoen.
          </p>
          <p>Voor de bedrijven die daar behoefte aan hebben werkt de Rijksoverheid samen met o.a. Agentschap NL, VNCI, VNO-NCW, de
            Kamers van Koophandel, MKB-Nederland en verschillende andere partners om MKB-bedrijven te helpen bij de implementatie
            van REACH. In het verslag van schriftelijk overleg op 8&nbsp;juni jl. (Kamerstukken
            <a href="kst-21501-08-429.html"
              title="link naar publicatie kst-21501-08-429">21&nbsp;501-08, nr.&nbsp;429</a>) heb ik toegelicht dat voor het MKB specifiek op het MKB toegesneden voorlichting
            en ondersteuning wordt verstrekt, dat de overheid speciale MKB bijeenkomsten organiseert en een Mentorenproject is
            gestart waarin ervaren en deskundige bedrijfsmensen MKB-bedrijven assisteren.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d16e131" name="d16e131"></a>Vraag 4
          </h2>
          <p>Welke negatieve gevolgen heeft de&nbsp;uitvoering van deze verordening
            <a class="nootnum supernote-click-ID-2012Z15341-d36e72"
              href="#ID-2012Z15341-d36e72">2</a>&nbsp;voor het Nederlandse bedrijfsleven? Hoe draagt u er aan bij dat het MKB aan de registratie kan voldoen?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d16e141" name="d16e141"></a>Antwoord 4
          </h2>
          <p>Ik heb een kosten- en batenonderzoek laten uitvoeren over de REACH uitvoering in Nederland. De resultaten heb ik u in
            april 2011 gezonden (Kamerstukken
            <a href="kst-21501-08-369.html" title="link naar publicatie kst-21501-08-369">21&nbsp;501-08, nr.&nbsp;369</a>). Uit die evaluatie blijkt dat het bedrijfsleven van mening is dat de Nederlandse
            overheid zich maximaal en naar tevredenheid heeft ingezet om de administratieve lasten van REACH tot een minimum te
            beperken en REACH uitvoerbaar te maken. Chemische veiligheid is overigens wel een investering waard. Dat vindt ook
            het bedrijfsleven. Realisatie daarvan in Europees verband is voor Nederland een voorwaarde om zowel een level playing
            field te garanderen als de bescherming van mens en milieu te optimaliseren.
          </p>
          <p>Inmiddels wordt steeds duidelijker dat de Nederlandse Topsector Chemie krachtiger en duurzamer wordt. Het toekomstperspectief
            van de Nederlandse chemische industrie is dan ook positief. De Nederlandse chemische sector zal tot 2030/2050 een substantiële
            groei doormaken. Voor een belangrijk deel is dat perspectief gebaseerd op de gunstige uitgangspositie van de sector.
            Dat blijkt uit een gezamenlijke studie van de VNCI en Deloitte die op 20&nbsp;januari jl. gepubliceerd werd (
            <a href="http://www.heeftdechemietoekomst.nl/"
              title="link naar http://www.heeftdechemietoekomst.nl/" class="externe_link">http://www.heeftdechemietoekomst.nl/</a>).
          </p>
          <p>Voor het tweede deel van de vraag verwijs ik kortheidshalve naar mijn antwoord op vraag 3.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d16e158" name="d16e158"></a>Vraag 5
          </h2>
          <p>Herkent u het beeld dat de handhaving van de&nbsp;verordening op Europees niveau tekort schiet? Herkent u het beeld van
            Nederlandse ondernemers waarvan de concurrentiepositie verslechtert door de Europese regelgeving?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d16e166" name="d16e166"></a>Antwoord 5
          </h2>
          <p>Nee. Het beeld dat de handhaving van de REACH-verordening op Europees niveau tekort schiet, herken ik niet. Sinds het
            van kracht worden van de REACH-verordening werken de EU-lidstaten nauw samen in het Forum, een comité van het Europees
            Agentschap voor Chemische Stoffen (ECHA). In dat kader zijn afspraken gemaakt over harmonisatie van de handhaving en
            worden ook gezamenlijke handhavingsprojecten uitgevoerd. Zij werken onderling nauw samen om van elkaar te leren en
            zo veel mogelijk op gelijke voet toezicht te houden.
          </p>
          <p>Een van de voornaamste redenen om REACH tot stand te brengen was om geharmoniseerde Europese regelgeving te maken en
            daarmee versnipperde en uiteenlopende nationale regelgeving af te schaffen. Daarin zijn we met REACH goed geslaagd.
            Met REACH is de versnipperde stoffenregelgeving bijeen gebracht in één verordening, waardoor een groot aantal afzonderlijke
            regelgevingsinstrumenten is vervallen.
          </p>
          <div class="alineagroep">
            <p>Belangrijker nog is dat de differentiatie tussen landen is afgenomen omdat er nu sprake is van één Europees regiem
              voor chemische stoffen. Binnen dat regiem kan een onderscheid gemaakt worden tussen toezicht op naleving van administratieve
              en op technische voorschriften. Inspectiediensten groeien daarin naar elkaar toe.
            </p>
            <p>Zoals bij veel zaken is daarbij sprake van «learning by doing», vooral waar het gaat om nieuwe voorschriften.
            </p>
          </div>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d16e180" name="d16e180"></a>Vraag 6
          </h2>
          <p>Op welke manier wordt de controle op Europees niveau momenteel gehandhaafd? Is er een gelijke handhaving en naleving
            van de&nbsp;verordening in de verschillende Europese lidstaten? Is er een handhavende Europese instantie?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d16e187" name="d16e187"></a>Antwoord 6
          </h2>
          <p>In de REACH-verordening is bepaald dat de handhaving door de individuele lidstaten uitgevoerd moet worden en dat hierover
            gerapporteerd moet worden aan de Europese Commissie. De Europese Commissie ziet dus ook toe op de eenduidigheid van
            de handhavingsinspanningen van de lidstaten. In het kader van de evaluatie van REACH voert de Commissie bovendien een
            studie uit naar verbetering en versterking van de implementatie en handhaving van REACH. Verder is in de REACH-verordening
            wettelijk vastgelegd dat de afstemming tussen de lidstaten op het gebied van de handhaving plaatsvindt via het Forum,
            zoals ik ook in mijn antwoord op vraag 5 heb toegelicht. Er is in Europa geen Europese handhavende instantie omdat
            handhaving als een nationale bevoegdheid wordt beschouwd. Echter de noodzaak tot harmonisatie en samenwerking wordt
            breed erkend, en de samenwerking van lidstaten in het Forum illustreert hoe daaraan concreet invulling wordt gegeven.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d16e194" name="d16e194"></a>Vraag 7
          </h2>
          <p>Wat is het gevolg hiervan voor het level playing field van Nederlandse bedrijven? Welke gevolgen heeft dit voor het Nederlandse
            bedrijfsleven en werkgelegenheid?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d16e201" name="d16e201"></a>Antwoord 7
          </h2>
          <p>Als de geharmoniseerde regelgeving voor chemische stoffen in Europa dermate verschillend wordt gehandhaafd dat er een
            ongelijk speelveld ontstaat voor bedrijven, dan is dat slecht voor de markt van Europese bedrijven. De organisatie
            en uitvoering van milieuwetgeving in Europa is divers en tussen alle 27 Europese lidstaten zitten ontegenzeggelijk
            verschillen. Daarom is in REACH voorzien in een samenwerking tussen Europese handhavingsinstanties om zoveel mogelijk
            geharmoniseerd en eenduidig op te treden, van elkaar te leren en een gelijke handhaving en naleving te garanderen.
            Het Forum, een Comité binnen het Europees Agentschap voor Chemische stoffen, is voor dat doel opgericht en namens de
            Nederlandse handhavingsautoriteiten is de ILT lid van het Forum. De Europese Commissie bewaakt de juiste implementatie
            en uitvoering van REACH in alle lidstaten.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d16e208" name="d16e208"></a>Vraag 8
          </h2>
          <p>Kunt u het signaal over de gebrekkige handhaving en verslechterde concurrentiepositie in Europees verband agenderen in
            de eerstvolgende Milieuraad? En hiermee een oplossing zoeken voor het verstoorde level playing field op Europees niveau?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d16e215" name="d16e215"></a>Antwoord 8
          </h2>
          <p>Dit aspect is reeds onderdeel van de evaluatie van de uitvoering van REACH die de Europese Commissie uitvoert. De studies
            zijn te vinden op
            <a href="http://ec.europa.eu/enterprise/sectors/chemicals/documents/reach/review2012/index_en.htm"
              title="link naar http://ec.europa.eu/enterprise/sectors/chemicals/documents/reach/review2012/index_en.htm" class="externe_link">http://ec.europa.eu/enterprise/sectors/chemicals/documents/reach/review2012/index_en.htm</a>. Kortheidshalve verwijs
            ik u daarnaar.
          </p>
          <p>Naar verwachting zal de Europese Commissie eind oktober van dit jaar haar conclusies over de evaluatie van REACH aan
            de Milieuraad, de Raad voor Concurrentievermogen en het Europees Parlement aanbieden en daarmee wordt ook het effect
            van REACH en REACH handhaving op de concurrentiepositie en het functioneren van de Interne Markt in Europa geagendeerd.
            Overigens deel ik niet de opvatting dat er sprake is van een verstoord level playing field op Europees niveau. Op onderdelen
            is mogelijk sprake van een suboptimale uitvoering van de regelgeving door sommige lidstaten, hetgeen in de evaluatie
            van REACH zonder meer aan de orde zal komen. Maar in algemene zin zijn alle inspanningen met REACH gericht op verbetering
            van het level playing field op Europees niveau.
          </p>
        </div>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-2012Z15341-d36e58">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-2012Z15341-d36e58">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-2012Z15341-d36e58" name="ID-2012Z15341-d36e58"></a>1</span>
            </sup>
            <p>
              <a href="http://fd.nl/entrepreneur/wereldveroveraars/242076%E2%80%931208/nieuwe-europese-gifwetgeving-is-te-complex" title="link naar http://fd.nl/entrepreneur/wereldveroveraars/242076–1208/nieuwe-europese-gifwetgeving-is-te-complex"
                class="externe_link">http://fd.nl/entrepreneur/wereldveroveraars/242076-1208/nieuwe-europese-gifwetgeving-is-te-complex</a>
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-2012Z15341-d36e72">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-2012Z15341-d36e72">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-2012Z15341-d36e72" name="ID-2012Z15341-d36e72"></a>2</span>
            </sup>
            <p> Verordening (EG)&nbsp;nr. 1907/2006 van het Europees Parlement en de Raad&nbsp;van 18&nbsp;december 2006 inzake de
              registratie en beoordeling van en de autorisatie en beperkingen ten aanzien van chemische stoffen (REACH).
            </p>
          </div>
        </div>

      </div>    </article>

  </div>
</div>
