<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="kamervraagomschrijving_kop no-toc">
          <a id="d1228e42" name="d1228e42"></a>Vragen van de leden De Jong en Van Klaveren (beiden PVV) aan de ministers van Infrastructuur en Milieu en van Binnenlandse
          Zaken en Koninkrijksrelaties over fraude bij rijexamen (ingezonden 24&nbsp;mei 2011).
        </h1>
        <h1 class="kamervraagomschrijving_kop no-toc">
          <a id="d1228e44" name="d1228e44"></a>Antwoord van minister Schultz van Haegen-Maas Geesteranus (Infrastructuur en Milieu), mede namens de minister van
          Binnenlandse Zaken en Koninkrijksrelaties (ontvangen 6&nbsp;september 2011).
        </h1>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d1228e48" name="d1228e48"></a>Vraag 1
          </h2>
          <p>Heeft u kennisgenomen van het bericht «Ingenieuze fraude bij rijexamen»?
            <a class="nootnum supernote-click-ID-2011Z10872-d29e106"
              href="#ID-2011Z10872-d29e106">1</a>

          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d1228e58" name="d1228e58"></a>Antwoord 1
          </h2>
          <p>Ja.</p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d1228e65" name="d1228e65"></a>Vraag 2
          </h2>
          <p>Kunt u gespecificeerd aangeven hoeveel theorie-examens er de afgelopen 5 jaar werden afgenomen waarbij gebruik gemaakt
            is van een tolk en welke kosten hiermee gemoeid waren?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d1228e72" name="d1228e72"></a>Antwoord 2
          </h2>
          <p>Hieronder staan de aantallen waarbij anderstaligen de afgelopen 5 jaar bij het theorie-examen gebruik hebben gemaakt
            van een tolk.
          </p>
          <table class="tekst portrait" cellspacing="0">

            <colgroup>
              <col title="col1" class="pct50">
              <col title="col2" class="pct50">
            </colgroup>
            <tbody class="left top tbody">
              <tr class="left middle odd">

                <td class="left top">

                  <p>2007</p>

                </td>

                <td class="right top">

                  <p>6&nbsp;011</p>

                </td>

              </tr>
              <tr class="left middle even">

                <td class="left top">

                  <p>2008</p>

                </td>

                <td class="right top">

                  <p>7&nbsp;526</p>

                </td>

              </tr>
              <tr class="left middle odd">

                <td class="left top">

                  <p>2009</p>

                </td>

                <td class="right top">

                  <p>7&nbsp;954</p>

                </td>

              </tr>
              <tr class="left middle even">

                <td class="left top">

                  <p>2010</p>

                </td>

                <td class="right top">

                  <p>6&nbsp;970</p>

                </td>

              </tr>
              <tr class="left middle odd">

                <td class="left top">

                  <p>2011 t/m juli</p>

                </td>

                <td class="right top">

                  <p>480</p>

                </td>

              </tr>
            </tbody>

          </table>
          <p>Theorie-examens met een tolk worden niet klassikaal, maar individueel afgelegd. Voor het afleggen van een individueel
            examen brengt het CBR een toeslag in rekening bovenop het normale tarief voor een klassikaal examen. In 2011 bedraagt
            het tarief voor een klassikaal examen €&nbsp;33,50 en de toeslag voor een individueel examen €&nbsp;37,00. Daarnaast
            zijn de kosten voor een tolk voor eigen rekening van de kandidaat. Het tarief van het bureau Tolkennet, dat sinds 1&nbsp;januari
            2011 de beëdigde tolken levert, bedraagt €&nbsp;167 incl. B.T.W. Hiermee komen de totale kosten voor een theorie-examen
            met een tolk voor de kandidaat op €&nbsp;237,50.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d1228e157" name="d1228e157"></a>Vraag 3
          </h2>
          <p>Deelt u de mening dat betrapte fraudeurs levenslang moeten worden uitgesloten van deelname aan het theorie-examen? Zo
            nee, waarom niet?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d1228e164" name="d1228e164"></a>Antwoord 3
          </h2>
          <p>Het plegen van fraude bij het theorie-examen is een strafbaar feit. Indien het CBR fraude constateert, wordt daarom altijd
            aangifte gedaan bij de politie. Het bestraffen van fraude is een taak van het Openbaar Ministerie en de rechterlijke
            macht. Het is ook aan hen om de strafmaat te bepalen op grond van bijvoorbeeld specifieke individuele omstandigheden
            en eventuele recidive. Het CBR doet er op zijn beurt alles aan om fraude bij examens te signaleren, en is alert op
            nieuwe vormen van fraude. Medewerkers worden periodiek opgeleid en het CBR signaleert alle fraudeurs in het reserveringssysteem.
            Als een fraudeur een nieuwe examenaanvraag doet, moet hij van tevoren op gesprek komen bij een van de examenmanagers
            en wordt hij tijdens een nieuw examen extra in de gaten gehouden.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d1228e171" name="d1228e171"></a>Vraag 4 en 5
          </h2>
          <p>In hoeverre deelt u de visie dat het beheersen van de Nederlandse taal een vereiste dient te zijn om deel te kunnen nemen
            aan het theorie-examen?
          </p>
          <p>Wanneer wordt de bizarre mogelijkheid om tolken in te zetten bij het theorie-examen afgeschaft?</p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d1228e180" name="d1228e180"></a>Antwoord 4 en 5
          </h2>
          <p>Met verwijzing naar de Integratievisie, die op 16&nbsp;juni jongstleden aan de Tweede Kamer is aangeboden, is beheersing
            van de Nederlandse taal van belang voor zelfredzaamheid en burgerschap voor mensen die zich hier duurzaam willen vestigen.
            Dit laat onverlet dat het theorie-examen ook van toepassing is op degenen die zich hier tijdelijk willen vestigen zoals
            arbeids- en kennismigranten. Voor deze groep mag het (nog) niet goed beheersen van de Nederlandse taal niet als drempel
            worden opgeworpen om te kunnen participeren in onze samenleving, bijvoorbeeld in het verkeer. Het kunnen autorijden,
            kan ook bijdragen aan de integratie. Het is daarom geen vereiste dat iemand de Nederlandse taal beheerst om deel te
            kunnen nemen aan het theorie-examen. Het gaat mij erom dat iemand over de benodigde kennis beschikt om veilig aan het
            verkeer te kunnen deelnemen. De taal waarin deze persoon het examen aflegt vind ik ondergeschikt daaraan. Immers, anderstaligen
            die niet in Nederland wonen, mogen hier ook gewoon autorijden. Het afleggen van een theorie-examen met een gecertificeerde
            tolk moet echter wel kostendekkend zijn. Ik heb het CBR opgedragen om de extra kosten die gemoeid zijn met het afleggen
            van individuele examens met tolk inzichtelijk te maken.
          </p>
        </div>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-2011Z10872-d29e106">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-2011Z10872-d29e106">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-2011Z10872-d29e106" name="ID-2011Z10872-d29e106"></a>1</span>
            </sup>
            <p>http://www.telegraaf.nl/binnenland/9846944/__Ingenieuze_fraude_bij_rijexamen__.html?p=13,1</p>
          </div>
        </div>

      </div>

      </article>

  </div>
</div>
