<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="kop_op">Aanhangsel van de Handelingen</h1>
        <p class="subkop">
          <strong>Vragen gesteld door de leden der Kamer, met de daarop door de regering gegeven antwoorden</strong>
        </p>
        <p class="kamervraagnummer">
          <strong>3410</strong>
        </p>
        <a id="IDA4CAR" name="IDA4CAR"></a>
        <div class="omschr">
          <p>Vragen van het lid
            <strong>Jasper van Dijk</strong> (SP) aan minister van Onderwijs, Cultuur en Wetenschap over
            <strong class="ondw">de uitholling van het hoger onderwijs. </strong> (Ingezonden 17 juli 2009)</p>
        </div>
        <div class="vraag">
          <a id="IDAHDAR" name="IDAHDAR"></a>
          <p class="nummer">1</p>
          <p>Wat is uw reactie op het artikel «Universiteitskoepel waarschuwt voor «uitholling» van het academisch onderwijs»?
            <a class="nootnum"
              href="#IDADEAR">1</a>
          </p>
        </div>
        <div class="vraag">
          <a id="IDAODAR" name="IDAODAR"></a>
          <p class="nummer">2</p>
          <p>Deelt u de analyse van de heer Noorda, voorzitter van de universiteitskoepel Vereniging van Samenwerkende Nederlandse
            Universiteiten (VSNU), dat sinds de jaren ’80 de universiteiten 40 procent minder budget per student krijgen? Is het
            waar dat sinds 1995 het budget per student is gedaald met 460 euro? Zo neen, wat is volgens u de juiste berekening?</p>
        </div>
        <div class="vraag">
          <a id="IDARDAR" name="IDARDAR"></a>
          <p class="nummer">3</p>
          <p>Kunt u aangeven hoe het onderwijsbudget per student zich in het HBO heeft ontwikkeld sinds 1995?</p>
        </div>
        <div class="vraag">
          <a id="IDAUDAR" name="IDAUDAR"></a>
          <p class="nummer">4</p>
          <p>Kunt u een overzicht geven van hoe de student-docentratio zich heeft ontwikkeld sinds 1995 op universiteiten en hogescholen?
            </p>
        </div>
        <div class="vraag">
          <a id="IDAXDAR" name="IDAXDAR"></a>
          <p class="nummer">5</p>
          <p>Is het waar dat er voor de geesteswetenschappen per 150 studenten één promotieplaats is, terwijl er bijvoorbeeld één
            promotieplek is per drie natuurkundestudenten? Waarom ligt dit zo ver uit elkaar? Hoe gaat u zorgen voor meer promotieplaatsen
            voor de geesteswetenschappen?</p>
        </div>
        <div class="vraag">
          <a id="IDA0DAR" name="IDA0DAR"></a>
          <p class="nummer">6</p>
          <p>Hoe gaat u de door de voorzitter van de Koninklijke Nederlandse Akademie van Wetenschappen (KNAW), de heer Dijkgraaf,
            genoemde kenniscrisis in Nederland tegen? Bent u bereid om met de minister van Financiën in gesprek te gaan om te pleiten
            voor een verhoging van het budget per student in het hoger onderwijs?</p>
        </div>
        <div class="vraag">
          <a id="IDA3DAR" name="IDA3DAR"></a>
          <p class="nummer">7</p>
          <p>Bent u bereid een voorbeeld aan Duitsland te nemen, aangezien dit land tot 2018 een extra investering van 18 miljard
            euro doet in hoger onderwijs en onderzoek? Zo nee, waarom niet?</p>
        </div>
        <p class="tussenkop">
          <strong class="tussenkop_vet">Toelichting:</strong>
        </p>
        <p>Deze vragen dienen ter aanvulling op eerdere vragen terzake van het lid Van der Ham (D66), ingezonden 16 juli 2009 (vraagnummer
          2009Z14039) </p>
        <a id="IDAGEAR" name="IDAGEAR"></a>
        <p class="antwoord_kop">
          <strong>Antwoord</strong>
        </p>
        <div class="omschr">
          <p>Antwoord van minister
            <strong>Plasterk</strong> (Onderwijs, Cultuur en Wetenschap) (ontvangen 6 augustus 2009)</p>
        </div>
        <div class="antwoord">
          <a id="IDANEAR" name="IDANEAR"></a>
          <p class="nummer">1</p>
          <p>Ik heb het artikel gelezen. Ik deel niet de mening van de voorzitter van de VSNU dat er uitholling plaatsvindt van het
            academisch onderwijs. De afgelopen jaren is er veel geïnvesteerd in het hoger onderwijs. De universiteiten doen mee
            in de wereldtop, zoals ook de voorzitter van de VSNU bevestigt. De universiteiten staan wel voor een aantal uitdagingen
            om de toename van het aantal studenten te blijven combineren met een hoge onderwijskwaliteit. Deze uitdaging is al
            eerder onderkend en vormt het hart van mijn strategische agenda voor het hoger onderwijs (zie ook mijn antwoord op
            vraag 3 van het lid van der Ham (D66), ingezonden op 16 juli met vraagnummer 2009Z14039).</p>
          <p>Het artikel bevestigt voor mij nogmaals dat er bij de VSNU en bij mij verschillende zienswijzen bestaan ten aanzien van
            de prijs per student. Zoals toegezegd bij het wetgevingsoverleg van 15 juni 2009 zal ik hier in bestuurlijk overleg
            met de VSNU over spreken en uw kamer hierover in vóór 1 oktober informeren.</p>
        </div>
        <div class="antwoord">
          <a id="IDAREAR" name="IDAREAR"></a>
          <p class="nummer">2</p>
          <p>Omdat er over de berekening van de onderwijsuitgaven per student tussen de VSNU en mij dus een verschillende zienswijze
            bestaat, kan ik de analyse van de heer Noorda niet delen.</p>
          <p>Ik kan alleen maar informatie geven over de wijze waarop ik de onderwijsuitgaven per student in het wetenschappelijk
            onderwijs bereken. OCW presenteert jaarlijks in Kennis in Kaart een consistente berekeningsmethodiek voor de prijs
            per student in het wetenschappelijk onderwijs. Deze methodiek is op grond van het totale budget voor bekostigde universiteiten,
            exclusief de levensbeschouwelijke instellingen, de academische ziekenhuizen, de IO-instellingen en de Open Universiteit,
            inclusief specifiek budget toegerekend aan universiteiten, gedeeld door het aantal studenten per kalenderjaar, waarbij
            budgetten voor studentenstijgingen voor 100% worden toegerekend aan onderwijs. Budgetten voor onderzoek worden hierbij
            niet meegerekend. De rijksbijdrage is omgerekend naar prijzen van 2008 met behulp van de werkelijk uitgekeerde loonen
            prijsbijstellingen van de afgelopen jaren.</p>
          <p>Op grond van de systematiek die OCW hanteert, blijkt dat er geen daling in de onderwijsuitgaven per student is geweest
            (zie de meest recente versie van Kennis in Kaart). De onderwijsbijdrage per student is redelijk stabiel. Zie ook mijn
            antwoord op vraag 2 van het lid van der Ham (vraagnummer 2009Z14039).</p>
          <table>
            <thead>
              <tr class="head-row1">
                <th rowspan="1">Wo, x €&nbsp;1.000</th>
                <th rowspan="1">2000</th>
                <th rowspan="1">2001</th>
                <th rowspan="1">2002</th>
                <th rowspan="1">2003</th>
                <th rowspan="1">2004</th>
                <th rowspan="1">2005</th>
                <th rowspan="1">2006</th>
                <th rowspan="1">2007</th>
                <th rowspan="1">2008</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="1">Prijspeil 2008</td>
                <td rowspan="1">6,0</td>
                <td rowspan="1">6,1</td>
                <td rowspan="1">6,0</td>
                <td rowspan="1">5,9</td>
                <td rowspan="1">5,9</td>
                <td rowspan="1">5,9</td>
                <td rowspan="1">5,9</td>
                <td rowspan="1">5,8</td>
                <td rowspan="1">5,9</td>
              </tr>
            </tbody>
          </table>
          <p>Bron: Kennis in kaart 2008</p>
        </div>
        <div class="antwoord">
          <a id="IDAPJAR" name="IDAPJAR"></a>
          <p class="nummer">3</p>
          <p>Ik doe u hierbij de meest recente cijfers over de ontwikkeling van de onderwijsuitgaven per student in het hbo toekomen
            uit de meest recente versie van Kennis in Kaart.</p>
          <table>
            <thead>
              <tr class="head-row1">
                <th rowspan="1">Hbo, x €&nbsp;1.000</th>
                <th rowspan="1">2000</th>
                <th rowspan="1">2001</th>
                <th rowspan="1">2002</th>
                <th rowspan="1">2003</th>
                <th rowspan="1">2004</th>
                <th rowspan="1">2005</th>
                <th rowspan="1">2006</th>
                <th rowspan="1">2007</th>
                <th rowspan="1">2008</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="1">Prijspeil 2008
                </td>
                <td rowspan="1">6,0</td>
                <td rowspan="1">6,1</td>
                <td rowspan="1">6,1</td>
                <td rowspan="1">5,9</td>
                <td rowspan="1">5,8</td>
                <td rowspan="1">5,8</td>
                <td rowspan="1">5,7</td>
                <td rowspan="1">5,7</td>
                <td rowspan="1">5,8</td>
              </tr>
            </tbody>
          </table>
          <p>Bron: Kennis in Kaart 2008 </p>
        </div>
        <div class="antwoord">
          <a id="IDAIOAR" name="IDAIOAR"></a>
          <p class="nummer">4</p>
          <p>Kunt u een overzicht geven van hoe de student-docentratio zich heeft ontwikkeld sinds 1995 op universiteiten en hogescholen?</p>
          <p>Ontwikkeling student-stafratios in hbo en wo sinds 1995</p>
          <table>
            <thead>
              <tr class="head-row1">
                <th rowspan="1">&nbsp;</th>
                <th rowspan="1">1995</th>
                <th rowspan="1">1996</th>
                <th rowspan="1">1997</th>
                <th rowspan="1">1998</th>
                <th rowspan="1">1999</th>
                <th rowspan="1">2000</th>
                <th rowspan="1">2001</th>
                <th rowspan="1">2002</th>
                <th rowspan="1">2003</th>
                <th rowspan="1">2004</th>
                <th rowspan="1">2005</th>
                <th rowspan="1">2006</th>
                <th rowspan="1">2007</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="1">
                  <strong>hbo</strong>
                </td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
              </tr>
              <tr>
                <td rowspan="1">student/onderwijzend personeel</td>
                <td rowspan="1">20,5</td>
                <td rowspan="1">21</td>
                <td rowspan="1">21,1</td>
                <td rowspan="1">21,3</td>
                <td rowspan="1">23,1</td>
                <td rowspan="1">23,6</td>
                <td rowspan="1">23,9</td>
                <td rowspan="1">23,9</td>
                <td rowspan="1">24,1</td>
                <td rowspan="1">24,9</td>
                <td rowspan="1">25,7</td>
                <td rowspan="1">25,4</td>
                <td rowspan="1">24,5</td>
              </tr>
              <tr>
                <td rowspan="1">
                  <strong>wo</strong>
                </td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
                <td rowspan="1">&nbsp;</td>
              </tr>
              <tr>
                <td rowspan="1" class="left">student/wetenschappelijk personeel</td>
                <td rowspan="1">8,1</td>
                <td rowspan="1">7,9</td>
                <td rowspan="1">7,7</td>
                <td rowspan="1">7,7</td>
                <td rowspan="1">7,9</td>
                <td rowspan="1">7,6</td>
                <td rowspan="1">8,2</td>
                <td rowspan="1">8,2</td>
                <td rowspan="1">8,7</td>
                <td rowspan="1">9,2</td>
                <td rowspan="1">9,8</td>
                <td rowspan="1">9,9</td>
                <td rowspan="1">10</td>
              </tr>
            </tbody>
          </table>
          <p>Bron: Kerncijfers (diverse jaargangen)</p>
        </div>
        <div class="antwoord">
          <a id="IDAUZAR" name="IDAUZAR"></a>
          <p class="nummer">5</p>
          <p>In het rapport van de commissie Nationaal Plan Toekomst Geesteswetenschappen (de commissie-Cohen), dat ik op 24 april
            jl. vergezeld van mijn beleidsreactie (Kamerstukken II, 2008–2009, 31 700 VIII, nr. 175), aan de Tweede Kamerheb gestuurd,
            geeft de commissie aan dat in de geesteswetenschappen op de 100 afgestudeerden slechts 4 aio-plaatsen beschikbaar zijn,
            terwijl in de natuurwetenschappen op de 100 afgestudeerden 23 plaatsen beschikbaar zijn (bron: VSNU/WOP/2006 en 2007,
            1cHO 2007).</p>
          <p>Volgens de analyse van de commissie, speelt hier een rol dat de geesteswetenschappen onvoldoende financiëlearmslag hebben
            om jongtalent vast te houden en een aantrekkelijk loopbaanperspectief te bieden. In de natuurwetenschappen zijn er
            meer post doc-plaatsen en meer buiten-universitaire paden, bijvoorbeeld research en developmentafdelingen van bedrijven,
            TNO enz. dan in de geesteswetenschappen.</p>
          <p>De commissie signaleert het probleem van geringe doorstroming van jong talent en relatief weinig promotieplaatsen als
            één vande problemen die spelen bijdegeesteswetenschappen.</p>
          <p>Zoals ik heb aangegeven in mijn beleidsreactie ben ik blij met het rapport en ben ik bereid mijn aandeel te nemen in
            het oplossen van de problemen in deze sector. Ik heb daartoe inmiddels de commissie Regieorgaan Geesteswetenschappen
            ingesteld, onder voorzitterschap van prof. dr. F. van Oostrom. Deze commissie zal mij adviseren over de besteding van
            de middelen die ik beschikbaar stel ter uitvoering van het advies van de commissie Cohen. Het gaat daarbij in eerste
            instantie om middelen die oplopen van €&nbsp;2 miljoen in 2009 naar €&nbsp;10 miljoen in 2010 en €&nbsp;15 miljoen
            euro (structureel) vanaf&nbsp;2011 (de oploop vanaf&nbsp;2011 is indicatief op de aanvullende post van het Rijk gereserveerd).
            Dit is een forse extra investering in de geesteswetenschappen. Zie ook mijn antwoord op vraag 5 van het lid van der
            Ham (vraagnummer 2009Z14039).</p>
        </div>
        <div class="antwoord">
          <a id="IDA0ZAR" name="IDA0ZAR"></a>
          <p class="nummer">6</p>
          <p>Het kabinet is het er over eens dat kennis een belangrijke pijler is in onze samenleving. Als de economie op enig moment
            aantrekt, moeten we beschikken over goed opgeleide mensen die direct weer aan het werk kunnen. Onze samenleving en
            kenniseconomie moeten sterker uit de strijd komen. Om het dreigende verlies van potentieel als gevolg van deze crisis
            tegen te gaan, zet dit kabinet daarom in 2009 en 2010 een programma op om kenniswerkers en onderzoekers uit bedrijven
            voor Nederland te behouden. Zij kunnen worden ingezet bij publieke kennisinstellingen voor onderzoek en ontwikkeling
            op maatschappelijke thema’s. Hiervoor is €&nbsp;280 miljoen vrijgemaakt.</p>
          <p>Tevens streeft het kabinet ernaar om de ontwikkeling van onderwijs, innovatie en kennis in een nader af te spreken lange
            termijnpad op tenminste het niveau van het OESO-gemiddelde te brengen. Dit is vastgelegd in het Aanvullend Beleidsakkoord.
            De minister van EZ en ik zullen u daarover in een brief op Prinsjesdag informeren.</p>
        </div>
        <div class="antwoord">
          <a id="IDA4ZAR" name="IDA4ZAR"></a>
          <p class="nummer">7</p>
          <p>Zie mijn antwoord op vraag 6. </p>
        </div>
        <div id="noten">
          <hr>
          <div class="noot" id="supernote-note-IDADEAR">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="IDADEAR" name="IDADEAR"></a>1</span>
            </sup>
            <p> de Volkskrant 14 juli 2009. </p>
          </div>
        </div>
      </div>
      </article>

  </div>
</div>

