<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a name="id1-3-1">
            <!---->
          </a>Parkeerverordening 2014</h1>
        <div class="regeling">
          <!---->
          <div class="aanhef">
            <a name="id1-3-2-1">
              <!---->
            </a>
            <p class="afkondiging"></p>
            <p class="afkondiging">
              <strong class="vet">
                <em>
                  <strong class="vet">De raad van de Gemeente Zaanstad,</strong>
                </em>
              </strong>
            </p>
            <p class="afkondiging">
              <em>gelezen het voorstel van het college van burgemeester en wethouders;</em>
            </p>
            <p class="afkondiging">
              <em>kennis genomen hebbende van de punten uit de voorbereidende vergadering op 16 januari 2014</em>
              <em>,</em>
            </p>
            <p class="afkondiging">kennis genomen hebbende van de toezeggingen van de wethouder in de voorbereidende vergadering:</p>
            <p class="afkondiging"></p>
            <p class="afkondiging">
              <strong class="vet">Besluit:</strong>
            </p>
            <p class="afkondiging">1. vast te stellen de volgende
              <strong class="vet">Parkeerverordening 201</strong>
              <strong class="vet">4</strong>
              <strong class="vet">.</strong>
            </p>
            <p class="afkondiging">2. de Parkeerverordening 2013 in te trekken.</p>
            <p class="afkondiging"></p>
            <p class="afkondiging">Aldus besloten in de raadsvergadering van donderdag 23 januari 2014</p>
            <p class="afkondiging"></p>
            <p class="afkondiging">voorzitter, raadsgriffier,</p>
          </div>
          <div class="regeling-tekst">
            <a name="id1-3-2-2">
              <!---->
            </a>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-1-1">
                  <!---->
                </a>Parkeerverordening 2014</h3>
              <p class="tussenkop">
                <strong class="tussenkop_cur">
                  <strong class="vet">Afdeling I. Definities</strong>
                </strong>
              </p>
              <p>Artikel 1. Definities</p>
              <p>In deze verordening wordt verstaan onder:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">a.</span>RVV 1990: het Reglement verkeersregels en verkeerstekens 1990;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">b.</span>motorvoertuigen: hetgeen daaronder wordt verstaan in het RVV 1990 met inbegrip van brommobielen, zoals
                    bedoeld in artikel 1 onder a van het RVV 1990;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">c.</span>parkeren: het gedurende een aaneengesloten periode doen of laten staan van een motorvoertuig, anders
                    dan gedurende de tijd die nodig is voor en gebruikt wordt tot het onmiddellijk in- of uitstappen van personen
                    dan wel het onmiddellijk laden of lossen van goederen, op binnen de gemeente gelegen voor het openbaar verkeer
                    openstaande terreinen of weggedeelten, waarop dit doen of laten staan niet ingevolge een wettelijk voorschrift
                    is verboden;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">d.</span>houder van een motorvoertuig: degene op wiens naam het voor het motorrijtuig opgegeven kenteken ten
                    tijde van het parkeren was ingeschreven in het krachtens de Wegenverkeerswet 1994 aangehouden register van
                    opgegeven kentekens;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">e.</span>bedrijf: </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">i.</span>elk in de maatschappij als zelfstandige eenheid optredend organisatorisch verband waarin krachtens
                        arbeidsovereenkomst of krachtens publiekrechtelijke aanstelling arbeid wordt verricht,</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">ii.</span>de zelfstandige die arbeid verricht in het eigen bedrijf of zelfstandig beroep, of</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">iii.</span>een niet-commerciële organisatie die hieraan door het college van burgemeester en wethouders
                        is gelijkgesteld; </p>
                      <p>met dien verstande dat bedrijven worden beschouwd als één bedrijf indien de vestigingsadressen dezelfde zijn
                        of het een aaneengesloten bebouwing betreft, dan wel indien sprake is van een (juridische) constructie
                        waaruit moet worden geconcludeerd dat het in wezen één bedrijf of beroep betreft, tenzij het tegendeel
                        wordt aangetoond;</p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">f.</span>parkeerapparatuur: parkeermeters, parkeerautomaten, met inbegrip van verzamelparkeermeters, centrale
                    computer voor het verlenen van diensten op het gebied van telefonische betaling bestemd voor de registratie
                    van parkeerbewegingen en hetgeen naar maatschappelijke opvatting overigens onder parkeerapparatuur wordt verstaan;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">g.</span>centrale computer: de computer van het Servicehuis Parkeer- en Verblijfsrechten bestemd voor de registratie
                    van parkeerbewegingen in het kader van het verlenen van diensten op het gebied van betaald parkeren;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">h.</span>parkeerapparatuurplaats: een parkeerplaats waarvoor parkeerbelasting wordt geheven door middel van
                    parkeerapparatuur;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">i.</span>parkeervergunning: een vergunning krachtens welke het is toegestaan een motorvoertuig te parkeren
                    op daartoe aangewezen parkeerapparatuurplaatsen zonder de parkeerapparatuur in werking te stellen;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">j.</span>categorie I, II of III: de categorie-ïndeling als bedoeld in ‎artikel 2, tweede lid.</p>
                </li>
              </ul>
              <p class="tussenkop">
                <strong class="tussenkop_cur">
                  <strong class="vet">Afdeling II. Vergunningen en plaatsen voor vergunninghouders</strong>
                </strong>
              </p>
              <p>Artikel 2. Reguliere parkeervergunning</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Het college kan op een daartoe strekkende aanvraag een parkeervergunning verlenen. Het college kan
                    bij de vergunningverlening onderscheid maken in de categorieën als bedoeld in het tweede lid. </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Een vergunning kan worden verleend aan:</p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a.</span>een eigenaar of houder van een motorvoertuig die woont in een door het college aangewezen gebied
                        als bedoeld in ‎artikel 10, eerste lid (categorie I). </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b.</span>een eigenaar of houder van een motorvoertuig die een bedrijf uitoefent dat is gevestigd in een
                        door het college aangewezen gebied als bedoeld in ‎artikel 10, eerste lid (categorie II). </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">c.</span>een eigenaar of houder van een motorvoertuig die een bedrijf uitoefent in meerdere gebieden waar
                        mede door vergunninghouders te gebruiken parkeerapparatuurplaatsen aanwezig zijn en die aantoont dat het
                        in het belang van diens bedrijfsuitoefening noodzakelijk is in meerdere gebieden een motorvoertuig te parkeren
                        (categorie III).</p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Een vergunning in categorie I wordt uitsluitend verleend voor het gebied waarbinnen de aanvrager als
                    inwoner staat ingeschreven.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.</span>Een vergunning in categorie II wordt uitsluitend verleend voor het gebied waarbinnen het bedrijf van
                    de aanvrager is gevestigd. </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">5.</span>Een vergunning in categorie III wordt verleend voor het gehele grondgebied van de gemeente en wordt
                    aangeduid als een volledige vergunning.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">6.</span>Het college kan in bijzondere gevallen een vergunning ook verlenen aan een eigenaar of houder van
                    een motorvoertuig die niet voldoet aan één van de in het tweede lid genoemde vereisten.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">7.</span>Aan een parkeervergunning kan het college voorschriften en beperkingen verbinden die strekken tot
                    bescherming van het belang van het voorkomen of beperken van door het verkeer veroorzaakte overlast, hinder
                    of schade.</p>
                </li>
              </ul>
              <p></p>
              <p>Artikel 3. Volledige vergunning</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Een volledige vergunning (categorie III) kan worden verleend aan de aanvrager die aantoont dat hij
                    in meerdere gebieden waar mede door vergunninghouders te gebruiken parkeerapparatuurplaatsen aanwezig zijn:</p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a.</span>regelmatig werkzaamheden verricht met een spoedeisend karakter, zoalswerkzaamheden aan nutsvoorzieningen
                        en storingsdiensten behoeve van bedrijfsmatige activiteiten, of</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b.</span>noodzakelijkerwijs regelmatig bedrijven of personen bezoekt.</p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Geen volledige vergunning wordt verleend voor laden en lossen of voor het doen van financiële afdrachten.
                    </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Een volledige vergunning kan worden verleend voor de duur van een kalenderjaar of van een dag.</p>
                  <p></p>
                </li>
              </ul>
              <p>Artikel 4. Burchtvergunning</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Het college kan aan degene die in aanmerking komt voor een parkeervergunning in categorie II op een
                    daartoe strekkende aanvraag een parkeervergunning verlenen voor parkeerterrein de Burcht. </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Een vergunning voor parkeerterrein de Burcht wordt aangeduid als een Burchtvergunning. </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Het college kan nadere regels stellen met betrekking tot de geldigheid van de Burchtvergunning en
                    kan het maximum aantal uit te geven Burchtvergunningen vaststellen.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.</span>Op dagen en tijden waarop parkeerterrein de Burcht is afgesloten, is de houder van een Burchtvergunning
                    gerechtigd elders in de gemeente te parkeren. De aan de Burchtvergunning verbonden voorschriften en beperkingen,
                    voor zover niet onlosmakelijk verbonden aan parkeerterrein de Burcht, blijven van kracht.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">5.</span>Het college kan besluiten om vanaf een door het college te bepalen datum geen Burchtvergunningen meer
                    te verlenen, indien dit naar het oordeel van het college noodzakelijk is vanwege een te hoge parkeerdruk op
                    parkeerterrein de Burcht. </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">6.</span>Vanaf de dag na de datum van bekendmaking van het in het vorige lid bedoelde besluit, worden aanvragen
                    van Burchtvergunningen buiten behandeling gelaten. Aanvragen die voordien zijn ingediend en waarop nog niet
                    is besloten, worden buiten behandeling gesteld.</p>
                  <p></p>
                </li>
              </ul>
              <p>Artikel 5. Aantallen parkeervergunningen</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>In deze verordening wordt verstaan onder een parkeerplaats op eigen terrein:</p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">i.</span>een parkeerplaats waarover de aanvrager van een vergunning kan beschikken op grond van eigendom,
                        erfpacht, huur, ingebruikgeving of anderszins;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">ii.</span>een parkeerplaats in een (collectieve) garage of op een perceel, die/dat volgens een raadsbesluit,
                        een bouwvergunning, een erfpachts- of splitsingsakte of een huur- of koopovereenkomst voor de woning van
                        de aanvrager van een vergunning bestemd is;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">iii.</span>een oprit die voldoende ruimte biedt voor het parkeren van ten minste één auto;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">iv.</span>een voormalige parkeerplaats op eigen terrein die na 11 oktober 2012 door of vanwege de aanvrager
                        van een vergunning een andere bestemming dan die van parkeerplaats heeft gekregen;</p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Per adres worden maximaal twee parkeervergunningen in categorie I of II verleend.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Aan de aanvrager die beschikt over een parkeerplaats op eigen terrein op zijn woon- dan wel vestigingsadres,
                    wordt maximaal één parkeervergunning verleend.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.</span>Aan de aanvrager die beschikt over twee of meer parkeerplaatsen op eigen terrein op zijn woon- dan
                    wel vestigingsadres, wordt geen parkeervergunning verleend.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">5.</span>Aan de aanvrager van parkeervergunningen voor het parkeerterrein de Burcht worden maximaal tien parkeervergunningen
                    verleend, vergunningen in categorie II daaronder begrepen. </p>
                  <p></p>
                </li>
              </ul>
              <p>Artikel 6. Bezoekersvergunning</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>In deze verordening wordt verstaan onder een bezoekersvergunning: een parkeervergunning die uitsluitend
                    geldig is op de door de vergunninghouder aangegeven datum; </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Het college kan op een daartoe strekkend verzoek van een inwonende van een door het college aangewezen
                    gebied als bedoeld in ‎Artikel 10, eerste lid, bezoekersvergunningen verlenen aan bezoekers van dat gebied.
                    </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Per adres worden per kalenderjaar maximaal 120 bezoekersvergunningen verleend. </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.</span>Bezoekersvergunningen zijn geldig gedurende het kalenderjaar waarvoor ze zijn afgegeven.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">5.</span>Van het aantal bezoekersvergunningen als bedoeld in het derde lid kan worden afgeweken, indien is
                    voldaan aan de volgende voorwaarden: </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a.</span>degene die om verlening van de bezoekersvergunningen verzoekt, heeft zich tijdens het lopende
                        kalenderjaar als nieuwe bewoner op het adres laten inschrijven in de Gemeentelijke Basisadministratie Persoonsgegevens,
                        en</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b.</span>in de Gemeentelijke Basisadministratie Persoonsgegevens staan geen eerdere bewoners meer ingeschreven
                        op het adres. </p>
                      <p>Het maximum aantal bezoekersvergunningen dat op verzoek van nieuwe bewoners wordt verleend, bedraagt 120
                        met aftrek van 10 bezoekersvergunningen voor iedere kalendermaand die is verstreken voorafgaand aan de
                        inschrijving van de nieuwe bewoners in de Gemeentelijke Basisadministratie Persoonsgegevens.</p>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">6.</span>Het college kan op een daartoe strekkend verzoek van het zorgcentrum Saenden aan de Nova Zembla 2
                    bezoekersvergunningen verlenen aan bezoekers van de bewoners van het tehuis. Per jaar worden maximaal 11.040
                    bezoekersvergunningen verleend.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">7.</span>Het college kan nadere procedurele regels stellen met betrekking tot het het uitgeven en gebruik van
                    bezoekersvergunningen.</p>
                  <p></p>
                </li>
              </ul>
              <p>Artikel 7. Bezoekersvergunning mantelzorg</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>In deze verordening wordt verstaan onder een mantelzorgontvanger: degene met een schriftelijke verklaring
                    van het CIZ waaruit blijkt dat er mantelzorg wordt ontvangen dan met wel een indicatie voor mantelzorg van
                    de WMO. </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>In deze verordening wordt verstaan onder een bezoekersvergunning mantelzorg: een bezoekersvergunning
                    welke uitsluitend wordt verleend voor gebruik door niet commerciële mantelzorgverleners. </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Het college kan bezoekersvergunningen mantelzorg verlenen op een daartoe strekkend verzoek van een
                    mantelzorgontvanger.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.</span>Per adres worden per kalenderjaar maximaal 240 bezoekersvergunningen mantelzorg verleend.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">5.</span>Bezoekersvergunningen mantelzorg zijn geldig gedurende het kalenderjaar waarvoor ze zijn afgegeven</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">6.</span>Het college kan procedurele regels stellen met betrekking tot het uitgeven en gebruik van bezoekersvergunningen
                    mantelzorg.</p>
                  <p></p>
                </li>
              </ul>
              <p>Artikel 8. Autodatevergunning</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>In deze verordening wordt verstaan onder:</p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">∘</span>autodate: het herhaald en opeenvolgend gezamenlijk gebruik van motorvoertuigen op grond van een
                        overeenkomst tussen natuurlijke personen en een aanbieder of tussen natuurlijke personen uit meer dan één
                        huishouden;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">∘</span>autodateplaats: een parkeerplaats aangewezen voor een motorvoertuig bestemd voor autodate;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">∘</span>autodatevergunning: een vergunning krachtens welke het is toegestaan een motorvoertuig te parkeren
                        op een daartoe aangewezen autodateplaats.</p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Het college kan op een daartoe strekkende aanvraag een autodatevergunning verlenen aan een eigenaar
                    of houder van een motorvoertuig bestemd voor autodate op een autodateplaats binnen de gemeente.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Aan een autodatevergunning kan het college voorschriften en beperkingen verbinden die strekken tot
                    bescherming van het belang van het voorkomen of beperken van door het verkeer veroorzaakte overlast, hinder
                    of schade alsmede de gevolgen voor het milieu, bedoeld in de Wet milieubeheer, waaronder mede wordt begrepen
                    het stimuleren van selectief autogebruik.</p>
                  <p></p>
                </li>
              </ul>
              <p>Artikel 9. Marktparkeervergunning</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>In deze verordening wordt verstaan onder een marktparkeervergunning: een parkeervergunning die op
                    een daartoe strekkend verzoek wordt verleend aan de houder van een vergunning als bedoeld in artikel 11 van
                    de Verordening op de markten van Zaanstad.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Er wordt één marktparkeervergunning verleend per vergunning als bedoeld in artikel 11 van de Verordening
                    op de markten van Zaanstad.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Een marktparkeervergunning is uitsluitend geldig op marktdagen als bedoeld in artikel 1 van de Verordening
                    op de markten van Zaanstad.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.</span>Een marktparkeervergunning vervalt op de vervaldatum van de aan de houder verstrekte vergunning als
                    bedoeld in artikel 11 van de Verordening op de markten van Zaanstad.</p>
                  <p></p>
                </li>
              </ul>
              <p>Artikel 10. Aanwijsbesluiten</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Het college wijst gebieden aan waarbinnen bezoekers- dan wel parkeervergunningen geldig kunnen zijn.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Het college kan autodateplaatsen aanwijzen.</p>
                  <p></p>
                </li>
              </ul>
              <p class="tussenkop">
                <strong class="tussenkop_cur">
                  <strong class="vet">Afdeling III. PROCEDURELE VOORSCHRIFTEN</strong>
                </strong>
              </p>
              <p>Artikel 11. Toepassingsbereik</p>
              <p>Deze afdeling is niet van toepassing op bezoekersvergunningen en bezoekersvergunningen mantelzorg. </p>
              <p></p>
              <p>Artikel 12. Nadere regels</p>
              <p>Het college kan regels stellen voor het aanvragen en verlenen van een vergunning.</p>
              <p></p>
              <p>Artikel 13. Beslistermijn</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Het college beslist binnen acht weken na ontvangst van een aanvraag van een vergunning.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Het college kan de in het eerste lid genoemde termijn met ten hoogste vier weken verlengen. Van een
                    verlenging van deze termijn wordt de aanvrager schriftelijk in kennis gesteld. </p>
                </li>
              </ul>
              <p></p>
              <p>Artikel 14. Geldigheidsduur en inhoud van de vergunning</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Een vergunning wordt verleend voor de termijn van een kalenderjaar dan wel een of meer kalendermaanden.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span> De vergunning bevat ten minste de volgende gegevens:</p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a.</span>de periode waarvoor de vergunning geldt;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b.</span>het gebied waarvoor de vergunning geldt;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">c.</span>het kenteken van het motorvoertuig waarvoor de vergunning is verleend.</p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Het college kan in bijzondere gevallen afwijken van het bepaalde in het tweede lid onder c. </p>
                  <p></p>
                </li>
              </ul>
              <p>Artikel 15. Intrekkingen en wijzigingen</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Het college kan een vergunning intrekken of wijzigen:</p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a.</span>op verzoek van de vergunninghouder;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b.</span>wanneer de vergunninghouder niet meer woonachtig is of geen beroep of bedrijf meer uitoefent in
                        het gebied, waarvoor de vergunning is verleend;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">c.</span>wanneer er zich een wijziging voordoet in een van de omstandigheden die relevant waren voor het
                        verlenen van de vergunning;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">d.</span>wanneer voor het betreffende gebied het stelsel van vergunningen komt te vervallen;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">e.</span>wanneer de vergunninghouder niet of niet tijdig aan zijn betalingsverplichting voor zijn vergunning
                        heeft voldaan;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">f.</span>wanneer de vergunninghouder handelt in strijd met de aan de vergunning verbonden voorschriften;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">g.</span>wanneer blijkt dat bij de aanvraag van de vergunning onjuiste gegevens zijn verstrekt;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">h.</span>om redenen van openbaar belang.</p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Bij intrekking van een parkeervergunning in de categorie I of II vindt gedeeltelijke restitutie plaats
                    van de ter zake van de vergunning betaalde belasting. De hoogte van het te restitueren bedrag wordt vastgesteld
                    op basis van het maandtarief zoals vastgelegd in de tarieventabel behorende bij en deel uitmakende van de Verordening
                    Parkeerbelastingen 2014.</p>
                  <p></p>
                </li>
              </ul>
              <p class="tussenkop">
                <strong class="tussenkop_cur">
                  <strong class="vet">Afdeling IV. Verbodsbepalingen</strong>
                </strong>
              </p>
              <p>Artikel 16. Autodateplaatsen</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Het is verboden op een autodateplaats een motorvoertuig te parkeren of geparkeerd te houden:</p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a.</span>zonder autodatevergunning;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b.</span>zonder dat het motorvoertuig duidelijk zichtbaar is voorzien van de voor dat motorvoertuig afgegeven
                        autodatevergunning;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">c.</span>in strijd met de aan de autodatevergunning verbonden voorschriften.</p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Het college kan ontheffing verlenen van het bepaalde in het eerste lid van dit artikel.</p>
                  <p></p>
                </li>
              </ul>
              <p>Artikel 17. Parkeerapparatuur</p>
              <p>Het is verboden parkeerapparatuur op andere wijze of met andere middelen, dan wel met andere munten dan die welke
                in de kennisgeving op de parkeerapparatuur staan aangegeven in werking te stellen.</p>
              <p></p>
              <p>Artikel 18. Misbruik en hinder</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Het is verboden om enig voorwerp, niet zijnde een motorvoertuig, te plaatsen of te laten staan:</p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a.</span>op een parkeerapparatuurplaats;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b.</span>op een autodateplaats;</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">c.</span>op een parkeerplaats met infrastructuur voor het opladen van een voertuig met een elektrische
                        aandrijving;</p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Het is verboden een fiets, een bromfiets of enig ander voorwerp op zodanige wijze tegen of bij parkeerapparatuur
                    te plaatsen of te laten staan, dat daardoor een normaal gebruik daarvan wordt belemmerd of verhinderd.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Het college kan ontheffing verlenen van het bepaalde in het eerste lid van dit artikel.</p>
                  <p></p>
                </li>
              </ul>
              <p class="tussenkop">
                <strong class="tussenkop_cur">
                  <strong class="vet">Afdeling V. Strafbepaling</strong>
                </strong>
              </p>
              <p>Artikel 19. Strafbepaling</p>
              <p>Overtreding van het bepaalde in afdeling III van deze verordening wordt gestraft met hechtenis van ten hoogste een
                maand of geldboete van de eerste categorie.</p>
              <p></p>
              <p class="tussenkop">
                <strong class="tussenkop_cur">
                  <strong class="vet">Afdeling VI. Overgangs- en slotbepalingen</strong>
                </strong>
              </p>
              <p>Artikel 20. Overgangsrecht voormalig parkeerregime</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Vergunningen die zijn verleend krachtens Parkeerverordening 2013 worden geacht te zijn verleend krachtens
                    deze verordening.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Degene die houder is van een vergunning waarvoor hij ingevolge deze verordening niet meer in aanmerking
                    komt, kan aansluitend aan het verstrijken van de vergunningtermijn een nieuwe vergunning aanvragen. De nieuwe
                    vergunning wordt verleend onder dezelfde voorwaarden als de daaraan voorgaande vergunning. ‎Artikel 14 is van
                    overeenkomstige toepassing. </p>
                  <p></p>
                </li>
              </ul>
              <p>Artikel 21. Toezicht</p>
              <p>Met het toezicht op de naleving van het bepaalde bij of krachtens deze verordening zijn belast de door het college
                aangewezen personen.</p>
              <p></p>
              <p>Artikel 21. Citeertitel</p>
              <p>Deze verordening wordt aangehaald als: “Parkeerverordening 2014”.</p>
              <p></p>
              <p>Artikel 23. Inwerkingtreding</p>
              <p>Deze verordening treedt in werking op de dag na bekendmaking.</p>
              <p></p>
              <p></p>
              <p class="tussenkop">
                <strong class="tussenkop_cur">
                  <strong class="vet">Toelichting</strong>
                </strong>
              </p>
              <p class="tussenkop">
                <strong class="tussenkop_cur">
                  <strong class="vet">Algemene toelichting </strong>
                </strong>
              </p>
              <p>Parkeerbeleid is vanouds een belangrijk onderdeel van het gemeentelijk verkeer- en vervoerbeleid. Parkeerbeleid is
                van belang in verband met de verbetering van de bereikbaarheid en leefbaarheid op lokaal en regionaal niveau. Via
                parkeerbeleid kan de gemeente de verdeling van de schaarse parkeerruimte reguleren en overlast voorkomen.</p>
              <p>De Parkeerverordening 2014 is gebaseerd op de visie "Eenvoudiger en Duidelijker Parkeren", welke op 11 oktober 2012
                door de raad is vastgesteld. De voorliggende verordening is een directe vertaling van deze visie in een juridisch
                document. In afwijking van de visie is opgenomen dat er bezoekersvergunningen aan het verzorgingstehuis Nova Zembla
                kunnen worden verstrekt. Daarmee wordt de huidige situatie gecontinueerd. Voor het overige is de verordening volledig
                in overeenstemming met de visie.. </p>
              <p>Met de parkeerverordening wordt ook vastgelegd of een bepaalde aanpassing van de regels bevoegdheid van college of
                van de raad is. Gezien de politieke gevoeligheden op dit dossier wordt met deze verordening voorgesteld niet meer
                dan strikt noodzakelijke bevoegdheden bij het college neer te leggen. Afgesproken is dat de vastgestelde parkeervisie
                geëvalueerd wordt. Dat zou dan de aanleiding kunnen zijn om de bevoegdheden op een andere wijze te verdelen.</p>
              <p>In de parkeervisie is ervoor gekozen het systeem van belangenhebbendenvergunningen los te laten. Dit betekent dat
                er geen parkeerplaatsen meer zijn uitsluitend voor vergunninghouders. Vergunninghouders parkeren op de betaalde
                parkeerplaatsen.</p>
              <p>Verdere maatregelen ingevolge de parkeervisie zijn:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>Door een nieuwe gebiedsindeling mogen bewoners alleen parkeren in het deelgebied waar zij wonen.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>Er is één soort parkeervergunning voor bewoners met één tarief. Bewoners komen per adres in aanmerking
                    voor maximaal twee bewonersvergunningen.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>Er is één soort gebiedsvergunning voor bedrijven binnen het gereguleerde gebied met één tarief. Per
                    bedrijfsadres worden maximaal twee gebiedsvergunningen afgegeven.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>Het gebruik van private parkeergelegenheid wordt gestimuleerd. Dit gebeurt door bij het aantal te verstrekken
                    vergunningen rekening te houden met de mogelijkheid voor parkeren op privaat terrein.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>De kraskaart voor bezoek van bewoners blijft. De kraskaart is de informele aanduiding voor een bezoekersvergunning.
                    Bewoners kunnen echter minder bezoekersvergunningen aanschaffen dan in 2012.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>De gemeente introduceert een voorziening voor bewoners die mantelzorg ontvangen.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>Bedrijven kunnen aanvullende vergunningen aanschaffen voor parkeerterrein de Burcht. Deze vergunningen
                    zijn geldig op weekdagen, uitgezonderd de avonden.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>Bedrijven kunnen tegen een commercieel tarief een vergunning aanschaffen voor het</p>
                </li>
              </ul>
              <p>complete gereguleerde gebied in Zaanstad. De werkzaamheden van het bedrijf zijn</p>
              <p>bepalend of men in aanmerking komt voor deze vergunning.</p>
              <p>In de Parkeerverordening wordt vooral aandacht besteed aan het verlenen van parkeervergunningen en is een aantal
                verbodsbepalingen opgenomen, zoals het zonder vergunning parkeren op een autodateplaats en het plaatsen van andere
                voorwerpen op parkeerplaatsen die bestemd zijn voor betaald parkeren. </p>
              <p>
                <strong class="vet">FISCALISERING</strong>
              </p>
              <p>Er is gekozen voor het systeem van fiscale afhandeling van het betaald parkeren. Dit houdt in dat de handhaving door
                de gemeente zelf wordt gedaan door middel van het opleggen van een fiscale naheffingsaanslag, wanneer iemand niet,
                niet geheel of niet tijdig aan zijn betalingsverplichting via de aangewezen parkeerapparatuur heeft voldaan. Dit
                in tegenstelling tot de strafrechtelijke afhandeling via de ‘Wet Mulder’, waarbij de handhaving door de politie,
                bijzondere opsporingsambtenaren (boa’s) en het openbaar ministerie wordt gedaan.</p>
              <p>Het parkeren bij parkeerapparatuur (parkeermeters, parkeerautomaten en verder alles wat hieronder kan worden verstaan)
                kan worden gefiscaliseerd. Bij deze apparatuur wordt een parkeerbelasting geheven. Het college van burgemeester
                en wethouders wijst de gebieden aan waar het betaald parkeren wordt ingevoerd. Bij niet, niet geheel of niet tijdige
                betaling van de parkeerbelasting wordt het verschuldigde parkeergeld nageheven en worden ook de kosten van de naheffingsaanslag
                doorgerekend. </p>
              <p>Met de vaststelling van de visie “Eenvoudiger en Duidelijker Parkeren” heeft de raad ervoor gekozen geen aparte parkeerplaatsen
                alleen voor vergunninghouders meer in stand te houden. Het parkeren voor vergunninghouders valt samen met het betaald
                parkeren. Vergunninghouders mogen parkeren op parkeerplaatsen met parkeerapparatuur. In feite is er dus sprake
                van een gecombineerd gebied voor betaald parkeren en parkeren voor vergunninghouders. Wanneer iemand in zo’n gebied
                parkeert zonder vergunning én zonder betaling van de parkeerbelasting, kan een naheffingsaanslag worden opgelegd.</p>
              <p class="tussenkop">
                <strong class="tussenkop_cur">
                  <strong class="vet">Artikelsgewijze toelichting</strong>
                </strong>
              </p>
              <p>
                <strong class="vet">
                  <em>Artikel </em>
                </strong>
                <strong class="vet">
                  <em>1</em>
                </strong>
              </p>
              <p>
                <em>b. motorvoertuigen</em>
              </p>
              <p>Op grond van artikel 225 van de Gemeentewet kunnen parkeerbelastingen worden geheven voor het parkeren met voertuigen.
                In de Parkeerverordening is ervoor gekozen om de werking van deze verordening te beperken tot motorvoertuigen,
                zoals bedoeld in artikel 1 onder z van het RW 1990 met inbegrip van brommobielen. In dit artikel wordt onder motorvoertuigen
                verstaan: 'alle gemotoriseerde voertuigen behalve bromfietsen, fietsen met trapondersteuning en gehandicaptenvoertuigen,
                bestemd om anders dan langs rails te worden voortbewogen'. Een brommobiel is in het RVV 1990 (art. 1 onder ia)
                gedefinieerd als een bromfiets op meer dan twee wielen, die is voorzien van een carrosserie. Brommobielen vallen
                dus niet onder de definitie van motorvoertuigen. In artikel 2a van het RVV 1990 is echter bepaald dat de regels
                voor motorvoertuigen ook van toepassing zijn op brommobielen en de bestuurders en passagiers van brommobielen.
                Bestuurders van brommobielen moeten zich in het verkeer dus gedragen als een 'gewone' automobilist. Dit geldt ook
                voor het parkeren met een brommobiel. Daarom is ervoor gekozen de Parkeerverordening en de Verordening parkeerbelastingen
                ook van toepassing te verklaren op brommobielen.</p>
              <p>
                <em>c. parkeren</em>
              </p>
              <p>In de Parkeerverordening is aansluiting gezocht bij de definitie van het begrip parkeren in artikel 225 van de Gemeentewet
                en dus niet bij de definitie uit artikel 1 onder ac. van het RVV 1990. Er is gekozen voor deze definitie, omdat
                het invoeren van betaald parkeren en vergunninghouderparkeren ook gebaseerd is op artikel 225 van de Gemeentewet.</p>
              <p>
                <em>d. houder</em>
              </p>
              <p>In de definitie van het begrip houder van een motorvoertuig komt het begrip 'motorrijtuig' voor. Dit is gedaan, omdat
                in de WVW 1994 bepaald is dat motorrijtuigen over een kenteken moeten beschikken. Het RVV 1990, waarin onder andere
                bepalingen over parkeren zijn opgenomen, spreekt daarentegen over motorvoertuigen. Dit is op zich verwarrend, maar</p>
              <p>materieel gezien komen de definities van beide begrippen goeddeels overeen.</p>
              <p></p>
              <p>
                <strong class="vet">Afdeling II. Plaatsen voor vergunninghouders, vergunningen en vergunningbewijzen </strong>
              </p>
              <p>Artikel 2 Reguliere parkeervergunning</p>
              <p>
                <em>Eerste lid</em>
              </p>
              <p>Het college kan parkeervergunningen afgeven voor het parkeren op plaatsen met parkeerapparatuur. </p>
              <p>
                <em>Tweede lid</em>
              </p>
              <p>In het tweede lid worden verschillende categorieën belanghebbenden genoemd die in aanmerking kunnen komen voor een
                parkeervergunning. In de verordening zijn drie categorieën opgenomen: bewoners, in het gereguleerde gebied gevestigde
                bedrijven met een parkeerbehoefte bij het bedrijf en bedrijven die voor hun bedrijfsvoering op uiteenlopende verschillende
                plaatsen in Zaanstad moeten kunnen parkeren. </p>
              <p>
                <em>Derde lid</em>
              </p>
              <p>Bewoners kunnen alleen een vergunning krijgen voor het gebied waarbinnen zij wonen. </p>
              <p>Vierde lid</p>
              <p>Bedrijven kunnen een vergunning krijgen voor het gebied waarin zij gevestigd. Er zijn geen afzonderlijke parkeerplaatsen
                voor bewoners en voor bedrijven.</p>
              <p>
                <em>Vijfde lid</em>
              </p>
              <p>Een vergunning voor het gehele gereguleerde gebied, de volledige bedrijvenvergunning, kan worden verstrekt aan bedrijven
                die zowel binnen als buiten Zaanstad zijn gelegen.</p>
              <p>Een volledige vergunning kan worden verleend, indien een bedrijf aantoont dat voor het uitvoeren van werkzaamheden
                in één of meerdere parkeerzones het gebruik van een motorvoertuig onmisbaar is en het bedrijf bovendien de noodzaak
                van een parkeervergunning aantoont. ln ‎Artikel 3 zijn criteria opgenomen op basis waarvan deze vergunning verstrekt
                kan worden.</p>
              <p>
                <em>Zesde lid</em>
              </p>
              <p>In het zesde lid is een soort hardheidsclausule opgenomen. In bijzondere gevallen kan het college ook een (tijdelijke)
                parkeervergunning verlenen aan de eigenaar of houder van een motorvoertuig die niet voldoet aan één van de vereisten
                die in het tweede lid zijn opgenomen. Hierbij kan onder andere worden gedacht aan personen of bedrijven die nog
                niet in het vergunningenhoudersgebied wonen of gevestigd zijn, maar die dat wel binnen afzienbare tijd gaan doen.
                Ook kan gedacht worden aan schijnende persoonlijke situaties waarbij de aanvrager geen permanente bewoner is of
                geen eigenaar van het voertuig kan zijn. In deze gevallen zal getoetst worden op basis van de noodzakelijkheid
                van het autogebruik, bijvoorbeeld als gevolg van een handicap, of de rechten als bewoner centraal gesteld worden.
                Financiële overwegingen zijn geen reden om ontheffing te verlenen.</p>
              <p>In de parkeervisie is alleen voor de Burcht een plafond ingesteld. Wanneer voor andere gebieden een plafond noodzakelijk
                is, is een aanpassing van de verordening noodzakelijk.</p>
              <p>
                <em>Zevende lid</em>
              </p>
              <p>Op grond van het zevende lid kunnen met het oog op een goede verdeling van de beschikbare parkeerruimte aan de vergunning
                zowel beperkingen worden verbonden met betrekking tot de te gebruiken parkeerplaatsen als met betrekking tot de
                tijdstippen waarop de vergunning van kracht is. Voor betaald parkeren wordt dit via de belastingverordening geregeld.
                Het betaald parkeren is daarom hier niet opgenomen.</p>
              <p>
                <strong class="vet">Artikel 3. </strong>
                <strong class="vet">Volledige vergunning</strong>
              </p>
              <p>ln ‎Artikel 3 zijn criteria opgenomen op basis waarvan een volledige vergunning verstrekt kan</p>
              <p>worden. Deze criteria zijn ontleend aan bijlage 5 van de visie. </p>
              <p>
                <strong class="vet">Artikel 4. </strong>
                <strong class="vet">Burchtvergunning</strong>
              </p>
              <p>
                <em>Eerste lid</em>
              </p>
              <p>Bedrijven kunnen aanvullende vergunningen aanschaffen voor parkeerterrein de Burcht. </p>
              <p>
                <em>Derde</em>
                <em> lid</em>
              </p>
              <p>Het college kan een maximum stellen aan het aantal uit te geven Burchtvergunningen. </p>
              <p>
                <em>Vierde lid</em>
              </p>
              <p>De Burchtvergunningen zijn alleen geldig op maandag tot en met vrijdag tot 19.00 uur. </p>
              <p>Wanneer de Burcht wordt afgesloten voor de kermis of andere activiteiten is de vergunning ook elders in Zaandam geldig.
                Op koopavond en zaterdag kan de Burchtvergunning niet worden gebruikt.</p>
              <p>
                <em>Vijfde </em>
                <em>en zesde </em>
                <em>lid</em>
              </p>
              <p>Mocht blijken dat de parkeerdruk te hoog is, dan kan het college besluiten geen verdere vergunningen te verlenen.
                </p>
              <p>De bevoegdheid om uitgegeven vergunningen in te trekken wordt in dit artikel niet toegekend, omdat het college die
                bevoegdheid al heeft ingevolge ‎Artikel 15: het college kan een vergunning intrekken of wijzigen om redenen van
                openbaar belang.</p>
              <p>
                <strong class="vet">Artikel 5. </strong>
                <strong class="vet">Aantallen parkeervergunningen</strong>
              </p>
              <p>
                <em>Eerste lid</em>
              </p>
              <p>In de "Parkeernota Zaanstad 2009" is aangekondigd dat in gebieden met parkeerregulering rekening wordt gehouden met
                de beschikbaarheid van parkeervoorzieningen op eigen terrein. De gemeente eist van ontwikkelaars dat zij parkeren
                op eigen terrein realiseren. Daarmee is het niet nodig om in de openbare ruimte het parkeren van deze voorziening
                te faciliteren. In de "Parkeernota Zaanstad 2009" is daarom aangegeven dat de gemeente het aantal vergunningen
                aan bewoners met parkeermogelijkheden op eigen terrein wil beperken en daarmee het gebruik van die voorzieningen
                stimuleren. Eigen terrein moet hierin ruim beschouwd worden. Het gaat om bouwplannen waar het parkeren binnen het
                plan is opgelost, zonder dat hiervoor de openbare weg is gebruikt. Voor deze bouwplannen zijn in de omgeving geen
                of minder parkeerplaatsen gerealiseerd.</p>
              <p>
                <em>Tweede lid</em>
              </p>
              <p>Bewoners en bedrijven kunnen maximaal twee parkeervergunningen krijgen voor het gebied waarin zij wonen dan wel gevestigd
                zijn. </p>
              <p>
                <em>Derde lid</em>
              </p>
              <p>Parkeermogelijkheid op eigen terrein is een reden om het aantal vergunningen per adres omlaag te brengen. Bedrijven
                en bewoners uit complexen waar een deel van het parkeren op eigen terrein is opgelost, komen in aanmerking voor
                maximaal één parkeervergunning. Uitgangspunt is de situatie zoals deze is vastgelegd in bouwvergunningen.</p>
              <p>Indien aan een woon- dan wel vestigingsadres een eigen parkeerplaats is gekoppeld, wordt voor dit adres maximaal
                één parkeervergunning afgegeven. Het gaat dan om parkeervoorzieningen in de vorm van een:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>een oprit met en lengte van minimaal vijf meter;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>een carport;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>een losse garagebox;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>een garage die verbonden is met de woning;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">•</span>een collectieve gebouwde stallingvoorziening.</p>
                </li>
              </ul>
              <p>
                <em>Vierde lid</em>
              </p>
              <p>Indien aan een woon- dan wel vestigingsadres twee of meer parkeerplaatsen zijn gekoppeld, wordt voor dit adres geen
                parkeervergunning afgegeven.</p>
              <p>Bedrijven en bewoners uit complexen waarvoor het parkeren volledig (voor zowel bewoners als bezoekers) op eigen terrein
                is gerealiseerd, worden niet opgenomen in de vergunningengebieden. Dit betekent dat voor deze adressen geen vergunningen
                worden verleend. Ook kunnen bewoners van deze complexen geen bezoekersvergunningen aanschaffen. Deze situatie is
                niet anders dan onder de huidige regeling. Het betreft hier de complexen:</p>
              <p>• Hermitage</p>
              <p>• Murano</p>
              <p>• Aurum</p>
              <p>In het aanwijzingsbesluit ingevolge artikel 10, eerste lid, worden de exacte adressen genoemd die van het vergunningengebied
                zijn uitgezonderd.</p>
              <p>Het recht op aanschaf van bezoekersvergunningen vervalt niet wanneer er één of meerdere parkeerplekken op eigen terrein
                aanwezig zijn.</p>
              <p>
                <em>Vijfde lid</em>
              </p>
              <p>Het maximaal aantal van twee vergunningen voor het gebied waarin een bedrijf gevestigd is, kan worden aangevuld met
                parkeervergunningen voor parkeerterrein de Burcht. Wanneer het bedrijf niet beschikt over vergunningen voor het
                gebied, kunnen er tien Burchtvergunningen worden aangeschaft. </p>
              <p>
                <strong class="vet">Artikel 6. </strong>
                <strong class="vet">Bezoekersvergunning</strong>
              </p>
              <p>
                <em>Eerste en tweede lid</em>
              </p>
              <p>Dit is een speciaal soort vergunning. Deze wordt verstrekt aan bewoners, maar degene die de kaart in zijn auto legt
                is op dat moment de vergunninghouder. De bezoekersvergunning wordt geactiveerd door het vermelden van het kenteken
                en het aangeven van de datum van parkeren, door middel van het open krassen van vakjes op de kaart. Bezoekersvergunningen
                staan daarom ook wel bekend als kraskaarten. De kaart is de hele dag geldig.</p>
              <p>
                <em>Derde lid</em>
              </p>
              <p>Als gevolg van de parkeervisie worden er 120 bezoekersvergunningen (kraskaarten) per jaar per adres verstrekt. </p>
              <p>
                <em>Vierde lid</em>
              </p>
              <p>Bezoekersvergunningen zijn alleen geldig in het jaar waarvoor ze zijn afgegeven. Op deze manier wordt een beperking
                gesteld aan het totale aantal bezoekersvergunningen waarvan gebruik kan worden gemaakt in een bepaald jaar. </p>
              <p>
                <em>Vijfde lid</em>
              </p>
              <p>Voorkomen wordt dat nieuwe inwoners geen bezoekersvergunningen aanschaffen, omdat de vorige bewoners op hun adres
                het quotum voor dat jaar al hadden verbruikt. Nieuwe bewoners kunnen zelfstandige aanspraak op bezoekersvergunningen,
                onafhankelijk van het aantal bezoekersvergunningen dat door hun voorgangers is aangeschaft. </p>
              <p>Het aantal bezoekersvergunningen waarop nieuwe bewoners aanspraak kunnen maken neemt af naar evenredigheid met de
                tijd. In januari kunnen nieuwe bewoners het maximum van 120 bezoekersvergunningen aanschaffen. Bewoners die zich
                in december inschrijven, kunnen voor het lopende jaar nog 10 bezoekersvergunningen aanschaffen.</p>
              <p>Geen extra bezoekersvergunningen worden verleend aan een nieuwe inwoner die zich als extra bewoner op een adres laten
                inschrijven. </p>
              <p>
                <em>Zesde </em>
                <em>lid</em>
              </p>
              <p>Een afwijkende regeling geldt voor het verzorgingstehuis Nova Zembla. Dit tehuis voorziet de bezoekers van de bewoners
                van de bezoekersvergunningen. Nova Zembla is het enige verzorgingstehuis in het gebied met parkeerregulering. </p>
              <p>
                <strong class="vet">Artikel 7. </strong>
                <strong class="vet">Bezoekersvergunning mantelzorg</strong>
              </p>
              <p>
                <em>Eerste lid</em>
              </p>
              <p>De definitie van mantelzorgontvanger in de Parkeerverordening 2013 sloot aan bij de landelijk gehanteerde definities
                van mantelzorg. Deze definities hadden als uitgangspunt dat indicatiestelling van het CIZ of de WMO noodzakelijk
                is om in aanmerking te komen voor een bezoekersvergunning voor mantelzorg. Het is niet nodig om deze definitie
                apart op te nemen omdat deze onderdeel uitmaakt van de indicatiestelling.</p>
              <p>Onder de Parkeerverordening 2013 is gebleken dat het CIZ regelmatig ervoor kiest geen formele indicatie te geven,
                maar wel een brief met de strekking dat de aanvrager mantelzorg ontvangt en daarom in aanmerking dient te komen
                voor bezoekersvergunningen mantelzorg. Het CIZ kiest deze handelswijze bijvoorbeeld in de situatie dat het leveren
                van mantelzorg door het eigen netwerk van de mantelzorgontvanger voldoende zeker is. </p>
              <p>In aansluiting op de werkwijze van het CIZ is in de Parkeerverordening 2014 de indicatie door het CIZ als criterium
                vervangen door een schriftelijke verklaring van het CIZ. Die verklaring kan de vorm hebben van een indicatie, maar
                ook van een brief. </p>
              <p>
                <em>Vierde lid</em>
              </p>
              <p>Speciaal voor mantelzorgers staat de parkeervisie 240 extra bezoekersvergunningen toe. De bezoekersvergunningen mantelzorg
                bestaan naast de gewone bezoekersvergunningen en worden verstrekt tegen een ander tarief.</p>
              <p>
                <em>Vijfde lid</em>
              </p>
              <p>Bezoekersvergunningen zijn alleen geldig in het jaar waarvoor ze zijn afgegeven. Op deze manier wordt een beperking
                gesteld aan het totale aantal bezoekersvergunningen waarvan gebruik kan worden gemaakt in een bepaald jaar. </p>
              <p>
                <strong class="vet">Artikel 8. </strong>
                <strong class="vet">Autodatevergunning</strong>
              </p>
              <p>
                <em>Eerste lid</em>
              </p>
              <p>De omschrijving van het begrip autodate is bewust ruim gelaten, om ruimte te bieden aan verschillende vormen van
                autodate. Anderzijds dient autodate te worden onderscheiden van andere, met name reguliere vormen van autoverhuur,
                hetgeen uiteraard niet betekent dat reguliere autoverhuurbedrijven geen autodate kunnen aanbieden. Deze 'reguliere'
                vormen van autoverhuur vallen niet onder autodate, omdat het daarbij niet gaat om herhaald gezamenlijk gebruik
                op grond van een overeenkomst. Bij autodate worden overeenkomsten gesloten tussen meerdere deelnemers en een aanbieder
                op grond waarvan deelnemers meerdere malen een auto kunnen gebruiken. Bij reguliere autohuur wordt in beginsel
                per huurperiode een overeenkomst gesloten</p>
              <p>
                <em>Tweede lid</em>
              </p>
              <p>Parkeervergunningen voor autodate worden veelal verleend aan bedrijven die zich bezighouden met het aanbieden van
                date-auto’s. Deze vergunningen zijn geldig op de voor specifiek aangewezen autodateplaatsen. Daarnaast kunnen dit
                soort vergunningen ook worden verleend aan natuurlijke personen of aan een maatschap ten behoeve van particuliere
                autodate. </p>
              <p>
                <strong class="vet">Artikel 9. </strong>
                <strong class="vet">Marktparkeervergunning</strong>
              </p>
              <p>
                <em>Eerste lid</em>
              </p>
              <p>De Parkeerverordening 2013 voorzag niet in een parkeervergunning voor markkooplieden die op marktdagen op loopafstand
                van de markt moeten kunnen parkeren. </p>
              <p>Onder het oude parkeerregime mochten marktkooplieden zonder betaling parkeren op de Burchtkade. </p>
              <p>De Parkeerverordening 2014 voorziet voor de houders van een vaste standplaatsvergunning in de mogelijkheid een speciale
                parkeervergunning voor marktdagen aan te vragen. Standwerkers en vergunninghouders van een dagplaats komen niet
                voor een marktparkeervergunning in aanmerking, maar vragen een volledige bedrijvenvergunning voor één dag aan.</p>
              <p>
                <em>Vierde lid</em>
              </p>
              <p>De procedurele voorschriften van afdeling III van de verordening zijn van toepassing op de marktparkeervergunning.
                Dat betekent dat de marktparkeervergunning wordt afgegeven voor de duur van een kalenderjaar dan wel een of meerdere
                kalendermaanden. De looptijd van de marktparkeervergunning is echter in zoverre gekoppeld aan die van de vergunning
                voor de vaste standplaats, dat als de vaste standplaatsvergunning verloopt of wordt ingetrokken, de marktparkeervergunning
                vervalt. </p>
              <p>
                <strong class="vet">Artikel 10. </strong>
                <strong class="vet">Aanwijsbesluiten</strong>
              </p>
              <p>Eerste lid</p>
              <p>De bevoegdheid tot het aanwijzen van de gebieden en plaatsen waar en de tijden waarop met een vergunning op parkeerapparatuurplaatsen
                geparkeerd kan worden, is uit praktische overwegingen bij het college neergelegd. Hetzelfde geldt voor de bevoegdheid
                tot het aanwijzen van autodateplaatsen. </p>
              <p>
                <em>Tweede lid</em>
              </p>
              <p>Het motief voor het aanwijzen van autodateplaatsen is gelegen in het voorkomen of beperken van door het verkeer veroorzaakte
                overlast, hinder of schade alsmede de gevolgen voor het milieu, bedoeld in de Wet milieubeheer (zie artikel 2,
                tweede lid WVW 1994).</p>
              <p>Autodate levert een bijdrage aan een selectiever autogebruik en daarmee aan het verbeteren van de luchtkwaliteit
                en het verminderen van de geluidsoverlast door het verkeer. Het reserveren van een autodateplaats in een gebied
                zonder parkeerdruk is nodig om autodate als werkbaar alternatief voor de eigen auto te kunnen aanbieden. Voorkomen
                moet worden dat de gebruiker van een date-auto eerst de gehele buurt moet gaan afzoeken naar de plek waar de date-auto
                door de vorige gebruiker is geparkeerd. Het welslagen van autodatesystemen is in grote mate afhankelijk van de
                mate waarin de aanbieder een dienst kan aanbieden die hetzelfde gebruikersgemak kent als 'de (eigen) auto voor
                de deur'.</p>
              <p></p>
              <p>
                <strong class="vet">Afdeling III. PROCEDURELE VOORSCHRIFTEN</strong>
              </p>
              <p></p>
              <p>
                <strong class="vet">Artikel 11. </strong>
                <strong class="vet">Toepassingsbereik</strong>
              </p>
              <p>Dit artikel behoeft geen toelichting.</p>
              <p>
                <strong class="vet">Artikel 12. </strong>
                <strong class="vet">Nadere regels</strong>
              </p>
              <p>Dit artikel behoeft geen toelichting.</p>
              <p>
                <strong class="vet">Artikel 13. </strong>
                <strong class="vet">Beslistermijn</strong>
              </p>
              <p>De gemeente verstrekt jaarlijks aan het eind van het jaar nieuwe vergunningen. Door deze werkwijze is een relatief
                lange beslistermijn noodzakelijk. In de situatie dat iemand voor het eerst een nieuwe vergunning aanvraagt kan
                de vergunning over het algemeen direct worden meegegeven. </p>
              <p>
                <strong class="vet">Artikel 14. </strong>
                <strong class="vet">Geldigheidsduur en inhoud van de vergunning</strong>
              </p>
              <p>
                <em>Eerste lid</em>
              </p>
              <p>Om de administratieve lasten laag te houden is het gewenst om vergunningen voor een lange termijn geldig te laten
                zijn. Om te voorkomen dat vergunninghouders die geen recht meer op de vergunning hebben, de vergunning blijven
                gebruiken is het echter verstandig om de geldigheidsduur te beperken. De gemeente heeft gekozen voor een periode
                van een kalenderjaar. Dit is in het land een gebruikelijke periode. De vergunning kan ook voor een of meer kalendermaanden
                worden verleend.</p>
              <p>
                <em>Tweede lid</em>
              </p>
              <p>Op de vergunning worden kenteken, gebied en tijdperiode waarvoor de vergunning geldig is vermeld. Dit maakt handhaving
                mogelijk.</p>
              <p>
                <em>Derde lid</em>
              </p>
              <p>Voor uitzonderlijke gevallen, die ten tijde van het vaststellen van deze verordening nog niet zijn voorzien, heeft
                het college de bevoegdheid een parkeervergunning zonder kentekenvermelding te verlenen. </p>
              <p>
                <strong class="vet">Artikel 15. </strong>
                <strong class="vet">Intrekkingen en wijzigingen</strong>
              </p>
              <p>
                <em>Eerste lid</em>
              </p>
              <p>In de aanhef van het eerste lid wordt aangegeven dat het college een parkeervergunning </p>
              <p>'kan’ intrekken of wijzigen. Bedoeld is hiermee aan te geven dat het ter beoordeling van het college van burgemeester
                en wethouders staat of een vergunning daadwerkelijk moet worden ingetrokken of gewijzigd, wanneer een van de opgesomde
                omstandigheden zich voordoet. De opsomming is limitatief bedoeld. Om andere redenen kan de vergunning dan ook niet
                worden ingetrokken of gewijzigd.</p>
              <p>
                <em>Tweede lid</em>
              </p>
              <p>Het tweede lid maakt mogelijk dat houders van parkeervergunningen die in de loop van het jaar worden ingetrokken,
                in aanmerking komen voor restitutie voor de gehele kalendermaanden dat de vergunning niet is gebruikt. Dit stimuleert
                het teruggeven van de vergunning wanneer men hier geen recht meer op heeft.</p>
              <p>
                <strong class="vet">Afdeling IV. Verbodsbepalingen</strong>
              </p>
              <p></p>
              <p>
                <strong class="vet">Artikel 16. </strong>
                <strong class="vet">Autodateplaatsen</strong>
              </p>
              <p>Bij het zonder vergunning parkeren in op een autodateplaats kan geen fiscale naheffingsaanslag worden opgelegd. Daarom
                moet in de verordening een strafbepaling worden opgenomen, die alleen voor strafrechtelijke handhaving via de ‘Wet
                Mulder’ in aanmerking komt.</p>
              <p>
                <strong class="vet">Artikel 17. </strong>
                <strong class="vet">Parkeerapparatuur</strong>
              </p>
              <p>Ook dit artikel bevat een verbodsbepaling voor gedragingen die niet gefiscaliseerd kunnen worden. Sinds 26 juli 2013
                is het mogelijk om met zogenaamd belparkeren te betalen voor het parkeren. Dit is op de automaat aangegeven en
                is daardoor eveneens toegestaan. </p>
              <p>
                <strong class="vet">Artikel 18. </strong>
                <strong class="vet">Misbruik en hinder</strong>
              </p>
              <p>Dit artikel verbiedt het plaatsen van voorwerpen, niet zijnde motorvoertuigen, op parkeerapparatuur- en belanghebbendenplaatsen,
                op autodateplaatsen en op oplaadplaatsen voor elektrische auto’s. Het plaatsen van dergelijke voorwerpen belemmert
                het normale gebruik van de bedoelde parkeerplaatsen en doorkruist daarmee de beoogde parkeerregulering. </p>
              <p>
                <strong class="vet">Artikel 19. </strong>
                <strong class="vet">Strafbepaling</strong>
              </p>
              <p>Artikel 154 van de Gemeentewet bepaalt dat gemeenten op overtreding van hun verordeningen een hechtenis van ten hoogste
                drie maanden of een geldboete van de tweede categorie kunnen stellen. Openbaarmaking van de rechterlijke uitspraak
                kan als bijkomende straf op een overtreding worden gesteld.</p>
              <p>Gezien de ernst van een parkeerovertreding lijkt het minder gewenst om daarop de zwaarste strafsanctie te stellen.
                Er is daarom gekozen voor een hechtenis van maximaal een maand of een geldboete van de eerste categorie. Het openbaar
                maken van de rechterlijke uitspraak is een bijkomende straf waarvan bij parkeerovertredingen weinig effect te verwachten
                valt. Het opnemen daarvan in de Parkeerverordening is daarom achterwege gelaten.</p>
              <p>
                <strong class="vet">Artikel 20. </strong>
                <strong class="vet">Overgangsrecht voormalig parkeerregime</strong>
              </p>
              <p>Bij de invoering van het nieuwe parkeerregime in 2013 zijn als overgangsregeling alle onder het oude parkeerregime
                verstrekte vergunningen omgezet naar een vergelijkbaar product in de nieuwe situatie. Alle bewonersvergunningen
                en bedrijvenvergunningen zijn omgezet naar de nieuwe gebiedsvergunningen. </p>
              <p>Voor de volgende gebieden worden alleen krachtens het overgangsrecht reguliere parkeervergunningen verstrekt. </p>
              <p>
                <strong class="vet">Tabel 1. Gebied Zaandam Oost</strong>
              </p>
              <table border="1" cellspacing="0" class="xml portrait" frame="hsides" rules="none">
                <colgroup>
                  <col class="pctNaN" title="colA">
                </colgroup>
                <tbody class="left bottom tbody">
                  <tr class="left middle even">
                    <td class=" ">
                      <p>
                        <strong class="vet">Zaanstad Oost</strong>
                      </p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>
                        <strong class="vet">weggedeelte</strong>
                      </p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Burcht</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Schubertstraat tussen Zuiddijk en Beethovenstraat</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Zuiddijk</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Oostzijde</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Peperstraat</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Zuiderkerkstraat</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p></p>
              <p>
                <strong class="vet">Tabel 2. Gebied Zaanstad Noord</strong>
              </p>
              <table border="1" cellspacing="0" class="xml portrait" frame="hsides" rules="none">
                <colgroup>
                  <col class="pctNaN" title="colA">
                </colgroup>
                <tbody class="left bottom tbody">
                  <tr class="left middle even">
                    <td class=" ">
                      <p>
                        <strong class="vet">Zaandam Noord</strong>
                      </p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>
                        <strong class="vet">weggedeelte</strong>
                      </p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Badhuislaan tussen Durgsloot en Zuiderhoofdstraat (Krommenie)</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Padlaan tussen Zuiderhoofdlaan en Padlaan 4 (Krommenie)</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Vlietsend (Krommenie)</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Marktstraat (Wormerveer)</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Stationsstraat (Wormerveer)</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Zaanweg tussen Marktstraat en Stationsweg (Wormerveer)</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Zaanweg zuidzijde tussen nummers 64 en Stationsweg (Wormerveer)</p>
                    </td>
                  </tr>
                  <tr class="left middle even">
                    <td class=" ">
                      <p>Raadhuisstraat (Koog aan de Zaan)</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p></p>
              <p>Wanneer op basis van de oude regelgeving meer dan twee vergunningen per adres verstrekt zijn, worden deze gecontinueerd.
                Dit geldt ook voor vergunningen dit op basis van de regeling ten aanzien van het parkeren op eigen terrein niet
                meer binnen de voorgestelde regeling passen.</p>
              <p>
                <strong class="vet">Artikel 21. </strong>
                <strong class="vet">Toezicht</strong>
              </p>
              <p>Dit artikel behoeft geen toelichting.</p>
              <p>
                <strong class="vet">Artikel 22. </strong>
                <strong class="vet">Citeertitel</strong>
              </p>
              <p>Dit artikel behoeft geen toelichting.</p>
              <p>
                <strong class="vet">Artikel 23. </strong>
                <strong class="vet">Inwerkingtreding</strong>
              </p>
              <p>Dit artikel behoeft geen toelichting.</p>
            </div>
          </div>
        </div>

      </div>
          </article>

  </div>
</div>
