<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

    <div id="broodtekst" class="stuk broodtekst-container">

      <div class="officiele-publicatie" lang="nl" xml:lang="nl">
        <div class="_p_gemeenteblad">
          <a name="id1-3">
            <!---->
          </a>
          <a name="id1-3-1">
            <!---->
          </a>
          <div class="staatscourant_kop _p_single-kop-titel">
            <a name="id1-3-1-1">
              <!---->
            </a>Verordening klachtenbehandeling 2014 RUD Zuid-Limburg</div>
          <div class="_p_regeling">
            <a name="id1-3-2">
              <!---->
            </a>
            <div class="aanhef _p_aanhef">
              <a name="id1-3-2-1">
                <!---->
              </a>
              <div class="_p_preambule">
                <a name="id1-3-2-1-1">
                  <!---->
                </a>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-1">
                    <!---->
                  </a>
                  <div class="plaatje _p_plaatje">
                    <a name="id1-3-2-1-1-1-1">
                      <!---->
                    </a>
                    <img alt="" src="https://zoek.officielebekendmakingen.nl/gmb-2014-49445-1.png" style="padding-right:3mm;width:50mm;height:28mm">
                  </div>
                </div>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-2">
                    <!---->
                  </a>HET ALGEMEEN BESTUUR VAN DE RUD ZUID-LIMBURG</div>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-3">
                    <!---->
                  </a>&nbsp;</div>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-4">
                    <!---->
                  </a>Gelezen het voorstel van het Dagelijks Bestuur en de Voorzitter d.d. 9 april 2014</div>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-5">
                    <!---->
                  </a>&nbsp;</div>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-6">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">BESLUIT:</span>
                </div>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-7">
                    <!---->
                  </a>&nbsp;</div>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-8">
                    <!---->
                  </a>vast te stellen de volgende verordening:</div>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-9">
                    <!---->
                  </a>&nbsp;</div>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-10">
                    <!---->
                  </a>VERORDENING KLACHTENBEHANDELING 2014 RUD Zuid-Limburg</div>
                <div class="al _p_al">
                  <a name="id1-3-2-1-1-11">
                    <!---->
                  </a>&nbsp;</div>
              </div>
            </div>
            <div class="_p_regeling-tekst">
              <a name="id1-3-2-2">
                <!---->
              </a>
              <div class="_p_hoofdstuk">
                <a name="id1-3-2-2-1">
                  <!---->
                </a>
                <a name="id1-3-2-2-1-1">
                  <!---->
                </a>
                <div class="hoofdstuk_kop _p_hoofdstuk_kop">
                  <a name="id1-3-2-2-1-1-3">
                    <!---->
                  </a>
                  <span class="_p_label">Hoofdstuk</span>
                  <span class="_p_nr">1:</span> Algemene bepalingen</div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-1-2">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-1-2-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-1-2-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">1</span> Begripsbepalingen</div>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-1-2-2-2">
                            <!---->
                          </a>In deze verordening wordt verstaan onder:</div>
                        <ul class="_explicit whitespace-small _p_lijst">
                          <li class="li _p_li">
                            <span>a.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-1-2-2-3-1-2">
                                  <!---->
                                </a>Awb: Algemene wet bestuursrecht;</div>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>b.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-1-2-2-3-2-2">
                                  <!---->
                                </a>klacht: een uiting van ongenoegen over de wijze waarop een bestuursorgaan van de RUD&nbsp;Zuid-Limburg
                                zich in een bepaalde aangelegenheid heeft gedragen;</div>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>c.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-1-2-2-3-3-2">
                                  <!---->
                                </a>bestuursorgaan dan wel bestuursorganen: het algemeen bestuur, het dagelijks bestuur en de voorzitter
                                van de gemeenschappelijke regeling RUD Zuid-Limburg;</div>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>d.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-1-2-2-3-4-2">
                                  <!---->
                                </a>buitengewoon opsporingsambtenaar: de ambtenaar als omschreven in artikel 142 Wetboek van Strafvordering
                                voor zover in dienst van de RUD Zuid-Limburg;</div>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>e.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-1-2-2-3-5-2">
                                  <!---->
                                </a>klachtbehandelaar: een door het dagelijks bestuur voor alle bestuursorganen aangewezen functionaris,
                                die niet bij de gedraging waarop het klaagschrift betrekking heeft, betrokken is geweest;</div>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>f.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-1-2-2-3-6-2">
                                  <!---->
                                </a>Nationale Ombudsman: het bureau van de Nationale Ombudsman te Den Haag die als onafhankelijke
                                externe instantie onderzoek verricht naar de feiten, die aanleiding gaven tot de klacht, aan
                                het bestuursorgaan rapporteert over zijn bevindingen en een behoorlijkheidsoordeel geeft over
                                de gedraging, eventueel voorzien van aanbevelingen.</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="_p_hoofdstuk">
                <a name="id1-3-2-2-2">
                  <!---->
                </a>
                <a name="id1-3-2-2-2-1">
                  <!---->
                </a>
                <div class="hoofdstuk_kop _p_hoofdstuk_kop">
                  <a name="id1-3-2-2-2-1-3">
                    <!---->
                  </a>
                  <span class="_p_label">Hoofdstuk</span>
                  <span class="_p_nr">2:</span> Algemene bepalingen over klachten</div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-2-2">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-2-2-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-2-2-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">2</span> Recht indienen klacht</div>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-2-2-2">
                            <!---->
                          </a>Een ieder heeft het recht om over de wijze waarop het bestuursorgaan van de RUD Zuid-Limburg zich in
                          een bepaalde aangelegenheid jegens hem of een ander heeft gedragen, een mondelinge of schriftelijke
                          klacht in te dienen bij dat bestuursorgaan.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-2-3-2">
                            <!---->
                          </a>Een gedraging van een persoon, werkzaam onder de verantwoordelijkheid van het bestuursorgaan, wordt
                          aangemerkt als een gedraging van dat bestuursorgaan.</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-2-3">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-2-3-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-2-3-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">3</span> Klaagschrift</div>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-3-2-2">
                            <!---->
                          </a>Een schriftelijke klacht wordt aanhangig gemaakt door het indienen van een klaagschrift bij het bestuursorgaan
                          waarover wordt geklaagd.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-3-3-2">
                            <!---->
                          </a>Een klaagschrift kan slechts worden ingediend door of vanwege degene jegens wie de gedraging heeft
                          plaatsgevonden.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-3-4-2">
                            <!---->
                          </a>Het klaagschrift dient ondertekend te zijn en ten minste te bevatten:&nbsp;</div>
                        <ul class="_explicit whitespace-small _p_lijst">
                          <li class="li _p_li">
                            <span>a.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-2-3-4-3-1-2">
                                  <!---->
                                </a>naam en adres van de indiener; </div>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>b.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-2-3-4-3-2-2">
                                  <!---->
                                </a>de dagtekening;&nbsp; </div>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>c.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-2-3-4-3-3-2">
                                  <!---->
                                </a>een omschrijving van de gedraging waartegen de klacht zich richt.</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>4.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-3-5-2">
                            <!---->
                          </a>Artikel 6:5, derde lid van de Awb is van overeenkomstige toepassing.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>5.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-3-6-2">
                            <!---->
                          </a>Indien het klaagschrift niet voldoet aan de eisen zoals gesteld in de leden 1 tot en met 4 van dit
                          artikel wordt aan de klager een termijn van twee weken gegeven ten behoeve van het herstel van de tekortkomingen,
                          gedurende welke termijn de behandeling van het klaagschrift wordt opgeschort.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>6.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-3-7-2">
                            <!---->
                          </a>Indien de klacht betrekking heeft op gedragingen van buitengewone opsporingsambtenaren, zijn de artikelen
                          13 en 14 van deze verordening van overeenkomstige toepassing.</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-2-4">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-2-4-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-2-4-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">4</span> Mondeling ingediende klacht</div>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-4-2-2">
                            <!---->
                          </a>Een mondelinge klacht kan zowel ten overstaan van het bestuursorgaan als telefonisch worden gedaan.
                          </div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-4-3-2">
                            <!---->
                          </a>Een mondelinge klacht wordt zoveel als mogelijk direct opgelost.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-4-4-2">
                            <!---->
                          </a>Indien de klager blijk geeft niet tevreden te zijn over de directe afhandeling wordt hij gewezen op
                          de mogelijkheid om alsnog schriftelijk een klaagschrift in te dienen. </div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>4.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-2-4-5-2">
                            <!---->
                          </a>Een eventueel verzoek om hulp bij het op schrift stellen van een klaagschrift wordt gehonoreerd. </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="_p_hoofdstuk">
                <a name="id1-3-2-2-3">
                  <!---->
                </a>
                <a name="id1-3-2-2-3-1">
                  <!---->
                </a>
                <div class="hoofdstuk_kop _p_hoofdstuk_kop">
                  <a name="id1-3-2-2-3-1-3">
                    <!---->
                  </a>
                  <span class="_p_label">Hoofdstuk</span>
                  <span class="_p_nr">3:</span> De behandeling van klaagschriften.</div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-3-2">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-3-2-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-3-2-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">5</span> Ontvangstbevestiging klaagschrift</div>
                  <div class="al _p_al">
                    <a name="id1-3-2-2-3-2-2">
                      <!---->
                    </a>De klachtbehandelaar bevestigt namens het bestuursorgaan de ontvangst van het klaagschrift schriftelijk binnen
                    twee weken na ontvangst, en vermeldt daarbij wie over de klacht zal adviseren.</div>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-3-3">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-3-3-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-3-3-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">6</span> Wie adviseert over een klaagschrift?</div>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-3-2-2">
                            <!---->
                          </a>De behandeling van en advisering over het klaagschrift geschiedt door de, door het dagelijks bestuur
                          aangewezen klachtbehandelaar, die niet bij een gedraging waarop het klaagschrift betrekking heeft,
                          betrokken is geweest.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-3-3-2">
                            <!---->
                          </a>Het dagelijks bestuur wijst tenminste één plaatsvervanger aan voor de functionaris als bedoeld in het
                          eerste lid van dit artikel.</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-3-4">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-3-4-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-3-4-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">7</span> Wanneer geen verplichting bestaat tot behandeling van een klaagschrift</div>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-4-2-2">
                            <!---->
                          </a>Het bestuursorgaan is niet verplicht een klaagschrift te behandelen indien zij betrekking heeft op
                          een gedraging als bedoeld in artikel 9:8, eerste lid, van de Awb of indien het belang van de klager
                          dan wel het gewicht van de gedraging kennelijk onvoldoende is als bedoeld in artikel 9:8, tweede lid,
                          van de Awb. </div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-4-3-2">
                            <!---->
                          </a>Het bestuursorgaan is niet verplicht het klaagschrift in behandeling te nemen indien de klager niet
                          voldoet aan het gestelde in artikel 3 van deze verordening.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-4-4-2">
                            <!---->
                          </a>Van het niet in behandeling nemen van een klaagschrift wordt de klager zo spoedig mogelijk doch uiterlijk
                          binnen vier weken na ontvangst van het klaagschrift gemotiveerd in kennis gesteld door de klachtbehandelaar.</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-3-5">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-3-5-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-3-5-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">8</span> Afschrift klaagschrift toezenden</div>
                  <div class="al _p_al">
                    <a name="id1-3-2-2-3-5-2">
                      <!---->
                    </a>Aan degene op wiens gedraging het klaagschrift betrekking heeft wordt een afschrift van het klaagschrift,
                    alsmede van de daarbij meegezonden stukken, toegezonden door de klachtbehandelaar.</div>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-3-6">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-3-6-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-3-6-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">9</span> Informele oplossing</div>
                  <div class="al _p_al">
                    <a name="id1-3-2-2-3-6-2">
                      <!---->
                    </a>Indien tijdens de procedure blijkt dat de klacht naar tevredenheid van de klager wordt opgelost, wordt de
                    klacht niet verder behandeld. De klager ontvangt hiervan een schriftelijke bevestiging van de klachtbehandelaar.</div>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-3-7">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-3-7-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-3-7-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">10</span> Horen</div>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-7-2-2">
                            <!---->
                          </a>De klager en degene op wiens gedrag de klacht betrekking heeft worden door de klachtbehandelaar in
                          de gelegenheid gesteld te worden gehoord.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-7-3-2">
                            <!---->
                          </a>De bijeenkomst als bedoeld in het eerste lid vindt plaats binnen vier weken na de datum van het in
                          behandeling nemen van de klacht waarbij wordt voldaan aan artikel 3, tenzij een andere termijn wordt
                          overeengekomen.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-7-4-2">
                            <!---->
                          </a>Zowel klager als degene op wiens gedrag de klacht betrekking heeft kan getuigen oproepen of meebrengen,
                          dan wel zich laten vertegenwoordigen door een gemachtigde. Dit moet 3 werkdagen voorafgaand aan de
                          hoorzitting schriftelijk worden aangekondigd door de klager dan wel degene op wiens gedrag de klacht
                          betrekking heeft, aan de klachtbehandelaar. Eventuele kosten van getuigen en gemachtigden worden gedragen
                          door de partij die deze aankondigt.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>4.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-7-5-2">
                            <!---->
                          </a>Van het horen van de klager kan worden afgezien indien:</div>
                        <ul class="_explicit whitespace-small _p_lijst">
                          <li class="li _p_li">
                            <span>a.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-3-7-5-3-1-2">
                                  <!---->
                                </a>de klacht kennelijk ongegrond is,</div>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>b.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-3-7-5-3-2-2">
                                  <!---->
                                </a>de klager heeft verklaard geen gebruik te willen maken van het recht te worden gehoord, of</div>
                            </div>
                          </li>
                          <li class="li _p_li">
                            <span>c.</span>
                            <div>
                              <div class="al _p_al">
                                <a name="id1-3-2-2-3-7-5-3-3-2">
                                  <!---->
                                </a>de klager niet binnen een door het bestuursorgaan gestelde redelijke termijn verklaart dat hij
                                geen gebruik wil maken van het recht te worden gehoord. </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>5.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-7-6-2">
                            <!---->
                          </a>Van het horen wordt een verslag gemaakt door de klachtbehandelaar.</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-3-8">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-3-8-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-3-8-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">11</span> Termijnen</div>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-8-2-2">
                            <!---->
                          </a>De klacht wordt binnen 6 weken na ontvangst afgehandeld.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-8-3-2">
                            <!---->
                          </a>De afhandeling van de klacht kan voor ten hoogste 4 weken worden verdaagd. Van de verdaging wordt voor
                          het verstrijken van de termijn als bedoeld in het eerste lid, aan de klager en aan degene op wiens
                          gedrag de klacht betrekking heeft schriftelijk mededeling gedaan.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>3.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-8-4-2">
                            <!---->
                          </a>Verder uitstel is mogelijk voor zover de klager daarmee schriftelijk instemt.</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-3-9">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-3-9-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-3-9-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">12</span> Uitspraak</div>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-9-2-2">
                            <!---->
                          </a>Het bestuursorgaan stelt de klager schriftelijk en gemotiveerd in kennis van de bevindingen van het
                          onderzoek naar de klacht, zijn oordeel daarover alsmede van de eventuele conclusies die het daaraan
                          verbindt.</div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-3-9-3-2">
                            <!---->
                          </a>Bij de uitspraak wordt klager medegedeeld dat hij na verzending daarvan een gemotiveerd verzoekschrift
                          kan indienen bij de Nationale Ombudsman. </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="_p_hoofdstuk">
                <a name="id1-3-2-2-4">
                  <!---->
                </a>
                <a name="id1-3-2-2-4-1">
                  <!---->
                </a>
                <div class="hoofdstuk_kop _p_hoofdstuk_kop">
                  <a name="id1-3-2-2-4-1-3">
                    <!---->
                  </a>
                  <span class="_p_label">Hoofdstuk</span>
                  <span class="_p_nr">4:</span> Regeling buitengewoon opsporingsambtenaren</div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-4-2">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-4-2-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-4-2-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">13</span> Afschrift justitie en politie</div>
                  <div class="al _p_al">
                    <a name="id1-3-2-2-4-2-2">
                      <!---->
                    </a>Indien degene op wiens gedraging de klacht betrekking heeft een buitengewoon opsporingsambtenaar is en de
                    klacht betrekking heeft op de uitoefening van zijn bevoegdheden als buitengewoon opsporingsambtenaar, wordt
                    onverwijld een afschrift van de klacht aan de hoofdofficier van justitie en de korpschef van de politie verzonden.</div>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-4-3">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-4-3-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-4-3-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">14</span> Oordeel officier van justitie</div>
                  <div class="al _p_al">
                    <a name="id1-3-2-2-4-3-2">
                      <!---->
                    </a>Bij de afhandeling van de klacht betrekt het dagelijks bestuur van de RUD Zuid-Limburg het oordeel, voor
                    zover gegeven, van de officier van Justitie over de rechtmatigheid en behoorlijkheid van de uitoefening van
                    de opsporingsbevoegdheden.</div>
                </div>
              </div>
              <div class="_p_hoofdstuk">
                <a name="id1-3-2-2-5">
                  <!---->
                </a>
                <a name="id1-3-2-2-5-1">
                  <!---->
                </a>
                <div class="hoofdstuk_kop _p_hoofdstuk_kop">
                  <a name="id1-3-2-2-5-1-3">
                    <!---->
                  </a>
                  <span class="_p_label">Hoofdstuk</span>
                  <span class="_p_nr">5:</span> Registratie en publicatie</div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-5-2">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-5-2-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-5-2-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">15</span> Registratie en publicatie</div>
                  <ul class="_explicit">
                    <li class="_p_lid">
                      <span>1.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-5-2-2-2">
                            <!---->
                          </a>Van de jaarlijks ingediende en geregistreerde klachten wordt een overzicht door de klachtbehandelaar
                          bijgehouden. Het overzicht wordt uiterlijk binnen zes maanden na afloop van het kalenderjaar door de
                          functionaris aangeboden aan de bestuursorganen van de RUD Zuid-Limburg. </div>
                      </div>
                    </li>
                    <li class="_p_lid">
                      <span>2.</span>
                      <div>
                        <div class="al _p_al">
                          <a name="id1-3-2-2-5-2-3-2">
                            <!---->
                          </a>Het overzicht wordt gepubliceerd op de website van de RUD Zuid-Limburg. </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="_p_hoofdstuk">
                <a name="id1-3-2-2-6">
                  <!---->
                </a>
                <a name="id1-3-2-2-6-1">
                  <!---->
                </a>
                <div class="hoofdstuk_kop _p_hoofdstuk_kop">
                  <a name="id1-3-2-2-6-1-3">
                    <!---->
                  </a>
                  <span class="_p_label">Hoofdstuk</span>
                  <span class="_p_nr">6:</span> Uitzonderingsbepaling</div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-6-2">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-6-2-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-6-2-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">16</span> Uitzonderingsbepaling</div>
                  <div class="al _p_al">
                    <a name="id1-3-2-2-6-2-2">
                      <!---->
                    </a>Deze verordening is niet van toepassing op klachten over ongewenst gedrag (zoals (seksuele) intimidatie,
                    agressie, geweld en discriminatie). Ook is deze verordening niet van toepassing indien een bijzondere klachtenregeling
                    van toepassing is. </div>
                </div>
              </div>
              <div class="_p_hoofdstuk">
                <a name="id1-3-2-2-7">
                  <!---->
                </a>
                <a name="id1-3-2-2-7-1">
                  <!---->
                </a>
                <div class="hoofdstuk_kop _p_hoofdstuk_kop">
                  <a name="id1-3-2-2-7-1-3">
                    <!---->
                  </a>
                  <span class="_p_label">Hoofdstuk</span>
                  <span class="_p_nr">7:</span> Slotbepalingen</div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-7-2">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-7-2-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-7-2-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">17</span> Citeertitel</div>
                  <div class="al _p_al">
                    <a name="id1-3-2-2-7-2-2">
                      <!---->
                    </a>Deze verordening kan worden aangehaald als ‘Verordening klachtenbehandeling 2014 RUD Zuid-Limburg’.</div>
                </div>
                <div class="_p_artikel">
                  <a name="id1-3-2-2-7-3">
                    <!---->
                  </a>
                  <a name="id1-3-2-2-7-3-1">
                    <!---->
                  </a>
                  <div class="artikel_kop _p_artikel_kop_titel">
                    <a name="id1-3-2-2-7-3-1-3">
                      <!---->
                    </a>
                    <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                    <span class="artikel_kop _p_artikel_kop_nr">18</span> Inwerkingtreding</div>
                  <div class="al _p_al">
                    <a name="id1-3-2-2-7-3-2">
                      <!---->
                    </a>Deze verordening treedt in werking met ingang van 1 juli 2014.</div>
                  <div class="al _p_al">
                    <a name="id1-3-2-2-7-3-3">
                      <!---->
                    </a>&nbsp;</div>
                </div>
              </div>
            </div>
            <div class="_p_regeling-sluiting">
              <a name="id1-3-2-3">
                <!---->
              </a>
              <div class="_p_gegeven">
                <a name="id1-3-2-3-1">
                  <!---->
                </a>
                <div class="dagtekening _p_dagtekening">
                  <a name="id1-3-2-3-1-1">
                    <!---->
                  </a>
                  <span class="_p_plaats">Aldus vastgesteld in de openbare vergadering van het algemeen bestuur van </span>
                  <span class="_p_datum">22 mei 2014.</span>
                </div>
              </div>
              <div style="font-style: italic; line-height: 130%;">
                <p>
                  <span class="_p_ondertekening_naam">
                    <span class="_p_voornaam">De secretaris, </span>
                    <span class="_p_achternaam"> De voorzitter, </span>
                  </span>
                </p>
                <p>
                  <span class="_p_deze">
                    <!---->
                  </span>
                </p>
              </div>
            </div>
            <div class="_p_nota-toelichting">
              <a name="id1-3-2-4">
                <!---->
              </a>
              <a name="id1-3-2-4-1">
                <!---->
              </a>
              <div class="staatsblad_kop _p_kop_level0">
                <a name="id1-3-2-4-1-1">
                  <!---->
                </a>TOELICHTING</div>
              <div class="al _p_al">
                <a name="id1-3-2-4-2">
                  <!---->
                </a>Algemeen</div>
              <div class="al _p_al">
                <a name="id1-3-2-4-3">
                  <!---->
                </a>In de Verordening klachtenbehandeling 2014 RUD Zuid-Limburg is titel 9:1 van de Algemene wet bestuursrecht (verder:
                Awb) nader uitgewerkt. Sommige bepalingen van deze verordening overlappen de bepalingen uit de Awb geheel of
                gedeeltelijk. Ondanks dat het uitgangspunt is dat zaken die in een hogere wetgeving worden geregeld niet in een
                lagere wetgeving behoeven te worden herhaald, is hiervoor vanuit een oogpunt van klantgerichtheid voor gekozen.
                Met het lezen van de Verordening klachtenbehandeling 2014 RUD Zuid-Limburg heeft een (potentiële) klager alle
                bepalingen die betrekking hebben op de – interne – klachtprocedure in één document bij elkaar.</div>
              <div class="al _p_al">
                <a name="id1-3-2-4-4">
                  <!---->
                </a>&nbsp;</div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-5">
                  <!---->
                </a>
                <a name="id1-3-2-4-5-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-5-1-1">
                    <!---->
                  </a>Artikel 1</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-5-2">
                    <!---->
                  </a>Enkele in deze verordening gebruikte begrippen zijn hier voor de duidelijkheid nader beschreven. Op deze wijze
                  ligt de definitie van deze begrippen vast.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-5-3">
                    <!---->
                  </a>Sub a: Behoeft geen verdere toelichting.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-5-4">
                    <!---->
                  </a>Sub b: Het begrip klacht wordt in de Awb niet gedefinieerd. In artikel 9:1 Awb wordt echter bepaald dat “een
                  ieder het recht heeft over de wijze waarop een bestuursorgaan zich jegens hem of een ander heeft gedragen,
                  een klacht in te dienen bij dat bestuursorgaan. In sub b van de verordening wordt daarom in aansluiting op
                  de tekst van de Awb het begrip klacht gedefinieerd als “een uiting van ongenoegen over de wijze waarop een
                  bestuursorgaan van de RUD Zuid-Limburg zich in een bepaalde aangelegenheid heeft gedragen”. </div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-5-5">
                    <!---->
                  </a>Sub c: Behoeft geen verdere toelichting.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-5-6">
                    <!---->
                  </a>Sub d: Het gaat hier om bijzondere opsporingsambtenaren als bedoeld in artikel 142 Wetboek van Strafvordering
                  en het hierop gebaseerde Besluit bijzondere opsporingsambtenaren. Op het moment dat Gedeputeerde Staten van
                  Limburg de bevoegdheid overdragen voor de bestuurlijke strafbeschikkingsbevoegdheid milieufeiten en deze ambtenaren
                  in dienst komen bij de RUD Zuid-Limburg komen de bepalingen van de artikelen 13 en 14 in beeld. Vooruitlopend
                  op deze overdracht is reeds voorzien in een klachtenbe- en afhandeling over deze ambtenaren.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-5-7">
                    <!---->
                  </a>Sub e: De klachtbehandelaar is in alle fasen van de klachtbehandeling betrokken bij de be- en afhandeling van
                  klachten, namens alle bestuursorganen van de RUD Zuid-Limburg. De klachtbehandelaar wordt door het dagelijks
                  bestuur namens alle bestuursorganen aangewezen, evenals zijn plaatsvervanger. </div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-5-8">
                    <!---->
                  </a>Sub f: Deze verordening ziet op de interne klachtbehandeling als bedoeld in Titel 9.1 van de Awb. Titel 9.2
                  van de Awb ziet op de externe klachtbehandeling. De RUD Zuid-Limburg is aangesloten bij de Nationale ombudsman
                  te Den Haag. Dit is de “tweede instantie” waarbij kan worden geklaagd, nadat een klacht is be-/afgehandeld
                  bij de RUD Zuid-Limburg. </div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-5-9">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-6">
                  <!---->
                </a>
                <a name="id1-3-2-4-6-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-6-1-1">
                    <!---->
                  </a>Artikel 2</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-6-2">
                    <!---->
                  </a>Dit artikel regelt het toepassingsbereik van de verordening. Er is hierbij aansluiting gezocht bij artikel
                  9:1, eerste lid, Awb. Geklaagd kan worden over een gedraging. Hierbij kan worden gedacht aan klachten omtrent
                  bejegening, te lange procedures en het niet beantwoorden van brieven.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-6-3">
                    <!---->
                  </a>Ook een gedraging van een persoon die werkzaam is onder verantwoording van een bestuursorgaan wordt als een
                  gedraging van dat bestuursorgaan aangemerkt. Een persoon is in dit geval een ambtenaar.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-6-4">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-7">
                  <!---->
                </a>
                <a name="id1-3-2-4-7-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-7-1-1">
                    <!---->
                  </a>Artikel 3</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-7-2">
                    <!---->
                  </a>Voor schriftelijke klachten heeft titel 9.1 Awb een aantal procedurele eisen voorgeschreven die in dit artikel
                  terugkomen. In het tweede lid wordt tot uitdrukking gebracht dat een klaagschrift ook door een gemachtigde
                  van een klager kan worden ingediend. Het derde en vierde lid van dit artikel zijn terug te voeren op artikel
                  9:4 van de Awb, waarin de minimale eisen waaraan een klaagschrift moet voldoen, zijn opgenomen. Vooral een
                  ondertekening is belangrijk omdat anonieme klachten niet in behandeling worden genomen.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-7-3">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-8">
                  <!---->
                </a>
                <a name="id1-3-2-4-8-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-8-1-1">
                    <!---->
                  </a>Artikel 4</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-8-2">
                    <!---->
                  </a>Klachten kunnen ook mondeling worden ingediend. Overigens is mondeling geuite klacht niet altijd direct als
                  zodanig herkenbaar. Niet iedere negatieve opmerking hoeft bedoeld te zijn als klacht. Van de bestuursorganen
                  en zijn medewerkers wordt verwacht, dat zij negatieve opmerkingen serieus nemen en al zij er aan twijfelen
                  of de betreffende opmerking bedoeld is als klacht, daar dan gericht naar informeren. Als een mondelinge klacht
                  wordt ingediend wordt geprobeerd deze direct op te lossen voor zover dat mogelijk is. Als dat niet mogelijk
                  is blijkt of als de klager niet tevreden blijkt te zijn over de afhandeling, wordt deze gewezen op het alsnog
                  indienen van een klaagschrift. Als verzocht wordt om hulp voor het indienen van een klaagschrift, wordt deze
                  geboden.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-8-3">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-9">
                  <!---->
                </a>
                <a name="id1-3-2-4-9-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-9-1-1">
                    <!---->
                  </a>Artikel 5</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-9-2">
                    <!---->
                  </a>De eis dat de ontvangst van een klaagschrift schriftelijk wordt bevestigd is opgenomen in artikel 9:6 van de
                  Awb. Het klaagschrift wordt intern naar de klachtbehandelaar gestuurd zodat deze functionaris een vlotte be-
                  en afhandeling van het klaagschrift ter hand kan nemen.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-9-3">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-10">
                  <!---->
                </a>
                <a name="id1-3-2-4-10-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-10-1-1">
                    <!---->
                  </a>Artikel 6</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-10-2">
                    <!---->
                  </a>De functionaris tussen de klager (en/of diens gemachtigde) en het bestuursorgaan dat het uiteindelijke oordeel
                  geeft over de klacht, is de klachtbehandelaar. Deze functionaris wordt door het dagelijks bestuur aangewezen
                  (namens alle bestuursorganen van de RUD Zuid-Limburg). Om alle schijn van partijdigheid weg te nemen, mag een
                  klacht niet worden behandeld door een klachtbehandelaar die op enigerlei wijze betrokken is geweest bij de
                  gedraging waarop de klacht betrekking heeft. Komt een onafhankelijke klachtenprocedure toch in het geding dan
                  is er de mogelijkheid de klacht te laten be- of afhandelen door de plaatsvervanger(s). Het dagelijks bestuur
                  wijst daartoe minimaal één plaatsvervanger aan, maar kan zeker ook ad hoc besluiten tot het aanwijzen van een
                  tweede plaatsvervanger. Behalve bij een schijn van partijdigheid kan deze vervanging ook spelen ter voorkoming
                  van onnodige vertraging.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-10-3">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-11">
                  <!---->
                </a>
                <a name="id1-3-2-4-11-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-11-1-1">
                    <!---->
                  </a>Artikel 7</div>
              </div>
              <div class="al _p_al">
                <a name="id1-3-2-4-12">
                  <!---->
                </a>Een bestuursorgaan hoeft niet alle klachten in behandeling te nemen. De in aanmerking komende gevallen staan
                limitatief omschreven in dit artikel, welke gevallen zijn overgenomen uit artikel 9:8, eerste en tweede lid,
                en 9:4 van de Awb.</div>
              <div class="al _p_al">
                <a name="id1-3-2-4-13">
                  <!---->
                </a>Uit artikel 7, derde lid, volgt onder meer dat een klacht in de Nederlandse taal moet worden ingediend. De klager
                moet hier zelf, op eigen kosten. zorg voor dragen.</div>
              <div class="al _p_al">
                <a name="id1-3-2-4-14">
                  <!---->
                </a>&nbsp;</div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-15">
                  <!---->
                </a>
                <a name="id1-3-2-4-15-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-15-1-1">
                    <!---->
                  </a>Artikel 8</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-15-2">
                    <!---->
                  </a>Deze bepaling correspondeert met artikel 9:9 Awb. Een ieder heeft het recht om te weten dat er over zijn of
                  haar handelen een klacht is ingediend alsmede wat de inhoud van die klacht is. Bovendien geeft dit de betrokkene
                  de gelegenheid zich voor te bereiden op het vervolg van de procedure.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-15-3">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-16">
                  <!---->
                </a>
                <a name="id1-3-2-4-16-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-16-1-1">
                    <!---->
                  </a>Artikel 9</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-16-2">
                    <!---->
                  </a>Dit artikel behoeft geen nadere toelichting.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-16-3">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-17">
                  <!---->
                </a>
                <a name="id1-3-2-4-17-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-17-1-1">
                    <!---->
                  </a>Artikel 10</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-17-2">
                    <!---->
                  </a>De bestuursorganen van de RUD Zuid-Limburg staan voor om de klager en degene over wiens gedraging geklaagd
                  wordt, in elkaars aanwezigheid te horen. Betrokkenen kunnen dan direct op elkaars stellingen reageren en tevens
                  kan het vaak duidelijk maken over welke punten wel overeenstemming bestaat en over welke punten dat niet het
                  geval is. </div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-17-3">
                    <!---->
                  </a>Artikel 9:10 van de Awb is de bepaling waarop dit artikel in belangrijke mate is gebaseerd. Het verslag van
                  de hoorzitting wordt betrokken bij de uitspraak.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-17-4">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-18">
                  <!---->
                </a>
                <a name="id1-3-2-4-18-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-18-1-1">
                    <!---->
                  </a>Artikel 11</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-18-2">
                    <!---->
                  </a>De inhoud van dit artikel correspondeert met artikel 9:11 van de Awb.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-18-3">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-19">
                  <!---->
                </a>
                <a name="id1-3-2-4-19-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-19-1-1">
                    <!---->
                  </a>Artikel 12</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-19-2">
                    <!---->
                  </a>De inhoud van dit artikel correspondeert met artikel 9:12 Awb.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-19-3">
                    <!---->
                  </a>De RUD Zuid-Limburg is aangesloten bij de Nationale Ombudsman (artikel 12, tweede lid). Hiervoor gelden de
                  wettelijke bepalingen van titel 9.2 van de Awb.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-19-4">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-20">
                  <!---->
                </a>
                <a name="id1-3-2-4-20-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-20-1-1">
                    <!---->
                  </a>Artikel 13 en 14</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-20-2">
                    <!---->
                  </a>Hoofdstuk 9 van de Algemene wet bestuursrecht en deze Verordening klachtenbehandeling en specifiek de artikelen
                  13 en 14 van deze verordening zijn ook van toepassing op klachten over zogenoemde buitengewoon opsporingsambtenaren.
                  Dat zijn kort gezegd ambtenaren met een speciale bevoegdheid (opsporing van strafbare feiten op basis van bijzondere
                  wetten, toezicht op naleving van verordeningen, een en ander voor zover het strafbare feiten betreft) en die
                  daarvoor een speciale opleiding hebben genoten en officieel zijn beëdigd.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-20-3">
                    <!---->
                  </a>Voor het dagelijks functioneren van de buitengewoon opsporingsambtenaar is de werkgever (lees voor de toekomst:
                  het Dagelijks Bestuur) verantwoordelijk. Voor het gebruik van zijn speciale bevoegdheid valt de buitengewoon
                  opsporingsambtenaar onder het toezicht van een speciale toezichthouder, de hoofdofficier van justitie. Deze
                  moet erop toezien dat de buitengewoon opsporingsambtenaar zijn taak bij de opsporing van strafbare feiten naar
                  behoren vervult en op een juiste wijze gebruik maakt van zijn bevoegdheden.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-20-4">
                    <!---->
                  </a>Als er een klacht over een buitengewoon opsporingsambtenaar wordt ingediend, én die klacht heeft betrekking
                  op de uitoefening van bevoegdheden als buitengewoon opsporingsambtenaar, dan is de werkgever verplicht om direct
                  een afschrift van de klacht aan de toezichthouder (hoofdofficier van</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-20-5">
                    <!---->
                  </a>justitie) en de zogeheten direct toezichthouder (lees: de korpschef) te zenden (Art. 42 Besluit buitengewoon
                  opsporingsambtenaar). Dit stelt de toezichthouder in staat om een oordeel te geven over de rechtmatigheid en
                  behoorlijkheid van de uitoefening van de bevoegdheden als buitengewoon opsporingsambtenaar.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-20-6">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-21">
                  <!---->
                </a>
                <a name="id1-3-2-4-21-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-21-1-1">
                    <!---->
                  </a>Artikel 15</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-21-2">
                    <!---->
                  </a>In artikel 9:12a van de Awb is de verplichting voor het bestuursorgaan vastgelegd om alle schriftelijk ingediende
                  klachten te registreren en jaarlijks te publiceren. Dit artikel geeft de invulling van deze verplichting door
                  de RUD Zuid-Limburg. Het overzicht is openbaar nadat alle bestuursorganen van de RUD Zuid-Limburg kennis hebben
                  kunnen nemen van het overzicht. Als vanzelfsprekend wordt de toepasselijke privacywetgeving gerespecteerd.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-21-3">
                    <!---->
                  </a>&nbsp;</div>
              </div>
              <div class="_p_divisie">
                <a name="id1-3-2-4-22">
                  <!---->
                </a>
                <a name="id1-3-2-4-22-1">
                  <!---->
                </a>
                <div class="divisiekop1 _p_kop_level1">
                  <a name="id1-3-2-4-22-1-1">
                    <!---->
                  </a>Artikel 16, 17 en 18.</div>
                <div class="al _p_al">
                  <a name="id1-3-2-4-22-2">
                    <!---->
                  </a>Deze artikelen behoeven geen toelichting.</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>          </article>

  </div>
</div>
