<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <div class="vergadering hidden">
          <p class="vergadering-nummer">17de vergadering</p>
          <p class="vergaderdatum">Dinsdag 28&nbsp;januari 2014</p>
          <p class="vergadertijd">Aanvang 13.30 uur</p>
        </div>
        <h1 class="title">
          <a id="d16e47" name="d16e47"></a>1
          <span class="item-titel"></span>
        </h1>
        <div class="vergadering">
          <p class="vergaderdatum">Dinsdag 28&nbsp;januari 2014</p>
          <p class="vergadertijd">Aanvang 13.30 uur</p>
        </div>
        <div class="opening">
          <p>
            <strong class="vet">Voorzitter: Broekers-Knol</strong>

          </p>
          <p>Tegenwoordig zijn 63 leden, te weten:</p>
          <p>Backer, Barth, Beckers, Van Beek, Beuving, Van Bijsterveld, De Boer, Van Boxtel, Brinkman, Bröcker, Broekers-Knol, Bruijn,
            Duivesteijn, Dupuis, Duthler, Elzinga, Engels, Essers, Ester, Flierman, Frijters-Klijnen, Ganzevoort, Gerkens, Thom
            de Graaf, Fred de Graaf, Marcel de Graaff, De Grave, Hermans, Hoekstra, Holdijk, Van Kappen, Knip, Koffeman, Kok, Koning,
            Kuiper, De Lange, Van der Linden, Linthorst, Lokin-Sassen, Martens, Nagel, Popken, Postema, Quik-Schuijt, Reynaers,
            Ruers, Schaap, Scholten, Schouwenaar, Schrijver, Sent, Slagter-Roukema, Sörensen, Van Strien, Swagerman, Sylvester,
            Terpstra, Thissen, Vliegenthart, Vlietstra, Vos en Witteveen,
          </p>
          <p>en de heer Blok, minister voor Wonen en Rijksdienst.</p>
          <div class="spreekbeurt eerste">
            <p class="spreker">
              <span class="voorvoegsels">De</span>
              <span class="achternaam">voorzitter</span>:
            </p>

            <p>Ik deel aan de Kamer mede dat zijn ingekomen berichten van verhindering van de leden:</p>

            <p>Faber-van de Klashorst, Van Dijk, De Vries, Kox, Franken en Strik, wegens verblijf buitenslands in verband met deelname
              aan de Parlementaire Assemblee van de Raad van Europa;
            </p>

            <p>De Vries-Leggedoor, Reuten en Kneppers-Heijnert, wegens persoonlijke omstandigheden;</p>

            <p>Ter Horst, wegens verblijf buitenslands;</p>

            <p>Huijbregts-Schiedon, wegens ziekte.</p>

          </div>
          <p>Deze berichten worden voor kennisgeving aangenomen.</p>
          <div class="spreekbeurt">
            <p class="spreker">
              <span class="voorvoegsels">De</span>
              <span class="achternaam">voorzitter</span>:
            </p>

            <p>De ingekomen stukken staan op een lijst die in de zaal ter inzage ligt. Op die lijst heb ik voorstellen gedaan over
              de wijze van behandeling. Als aan het einde van de vergadering daartegen geen bezwaren zijn ingekomen, neem ik aan
              dat de Kamer zich met de voorstellen heeft verenigd.
            </p>

          </div>
          <p>(Deze lijst is, met de lijst van besluiten, opgenomen aan het einde van deze editie.)</p>
        </div>

      </div>    </article>

  </div>
</div>
