<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="title">
          <a id="d16e90" name="d16e90"></a>16
          <span class="item-titel">Ingekomen stukken</span>
        </h1>
        <div class="handeling_bijlage stukkenlijst">
          <h2 class="handeling_bijlage_kop">
            <a id="d16e96" name="d16e96"></a>Lijst van ingekomen stukken, met de door de Voorzitter ter zake gedane voorstellen
          </h2>
          <h3 class="divisiekop1">
            <a id="d16e99" name="d16e99"></a>Koninklijke boodschap
          </h3>
          <div class="alineagroep">
            <p>Regels over de aanleg, het beheer, het gebruik en de veiligheid van lokale spoorwegen (Wet lokaal spoor) –
              <a href="/dossier/33324">33324</a> minister van Infrastructuur en Milieu, M.H.&nbsp;Schultz van Haegen-Maas Geesteranus – 3&nbsp;juli 2012
            </p>
            <p>Koninklijke boodschap, met de erbij behorende stukken, is al rondgezonden en gepubliceerd</p>
          </div>
          <p>Zes brieven van de Voorzitter van de Eerste Kamer der Staten-Generaal, met de mededeling, dat zij in haar vergadering
            van dinsdag 3&nbsp;juli 2012, de haar door de Tweede Kamer der Staten-Generaal toegezonden voorstellen van (Rijks)wet
            gedrukt onder de nummers
            <a href="/dossier/33116">33116</a>,
            <a href="/dossier/33139">33139</a>,
            <a href="/dossier/33175">33175</a>,
            <a href="/dossier/33215">33215</a>,
            <a href="/dossier/33220">33220</a> en
            <a href="/dossier/33221">33221</a> heeft aangenomen.
          </p>
          <p>De Voorzitter stelt voor deze brieven voor kennisgeving aan te nemen.</p>
          <h3 class="divisiekop1">
            <a id="d16e133" name="d16e133"></a>Brieven regering
          </h3>
          <div class="alineagroep">
            <p>Reactie van de minister n.a.v. het verzoek van de cie Buza over recente ontwikkelingen in Suriname inzake de situatie
              rondom Fort Zeelandia en het resultaat van de Nederlandse inspanningen om in Europees verband te komen tot maatregelen
              naar aanleiding van de amnestiewet. –
              <a href="kst-20361-165.html" title="link naar publicatie kst-20361-165">20361-165</a>

            </p>
            <p>minister van Buitenlandse Zaken, U.&nbsp;Rosenthal – 22&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Verslag van de Raad Buitenlandse Zaken inzake handel van 31&nbsp;mei 2012 –
              <a href="kst-21501-02-1164.html" title="link naar publicatie kst-21501-02-1164">21501-02-1164</a>

            </p>
            <p>staatssecretaris van Economische Zaken, Landbouw en Innovatie, H.&nbsp;Bleker – 29&nbsp;juni 2012
            </p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Lijst van vragen en antwoorden inzake over problemen bij terugvordering van voorschotten bij aantal O&amp;O-fondsen
              –
              <a href="kst-26642-121.html" title="link naar publicatie kst-26642-121">26642-121</a>

            </p>
            <p>staatssecretaris van Sociale Zaken en Werkgelegenheid, P. de Krom – 27&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Benchmarkonderzoek ziekenhuizen 2011 Deloitte –
              <a href="kst-27295-155.html" title="link naar publicatie kst-27295-155">27295-155</a>

            </p>
            <p>minister van Volksgezondheid, Welzijn en Sport, E.I.&nbsp;Schippers – 26&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Reactie op de aangenomen motie Van Gerven c.s. (
              <a href="kst-27428-165.html" title="link naar publicatie kst-27428-165">27428, nr. 165</a>) over uitwerken van optie 2 en 3 van het rapport "Veredelde Zaken" –
              <a href="kst-27428-235.html"
                title="link naar publicatie kst-27428-235">27428-235</a>

            </p>
            <p>minister van Economische Zaken, Landbouw en Innovatie, M.J.M.&nbsp;Verhagen – 3&nbsp;juli 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Ontwerpbesluit houdende wijziging van het Besluit gebruik burgerservicenummer in de zorg in verband met een uitzondering
              op de identificatieplicht voor jeugdigen en met de aanwijzing van Sanquin als zorgaanbieder –
              <a href="kst-27529-110.html"
                title="link naar publicatie kst-27529-110">27529-110</a>

            </p>
            <p>minister van Volksgezondheid, Welzijn en Sport, E.I.&nbsp;Schippers – 25&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Pilot "verbeterd toezicht" openbaar vervoer –
              <a href="kst-28642-54.html" title="link naar publicatie kst-28642-54">28642-54</a>

            </p>
            <p>minister van Infrastructuur en Milieu, M.H.&nbsp;Schultz van Haegen-Maas Geesteranus – 27&nbsp;juni 2012
            </p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Mededinging in de curatieve zorg –
              <a href="kst-29248-234.html" title="link naar publicatie kst-29248-234">29248-234</a>

            </p>
            <p>minister van Volksgezondheid, Welzijn en Sport, E.I.&nbsp;Schippers – 27&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Versterking van de prestaties in de strafrechtketen –
              <a href="kst-29279-147.html" title="link naar publicatie kst-29279-147">29279-147</a>

            </p>
            <p>minister van Veiligheid en Justitie, I.W.&nbsp;Opstelten – 29&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Reactie op de motie Bashir over de periodieke herkeuringen voor het rijbewijs (
              <a href="kst-29398-330.html" title="link naar publicatie kst-29398-330">29398, nr. 330</a>) –
              <a href="kst-29398-332.html" title="link naar publicatie kst-29398-332">29398-332</a>

            </p>
            <p>minister van Infrastructuur en Milieu, M.H.&nbsp;Schultz van Haegen-Maas Geesteranus – 2&nbsp;juli 2012
            </p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Nahangprocedure Besluit tot wijziging van het Besluit Centraal Fonds voor de Volkshuisvesting (verhoging maximum percentage
              saneringsheffing) –
              <a href="kst-29453-255.html" title="link naar publicatie kst-29453-255">29453-255</a>

            </p>
            <p>minister van Binnenlandse Zaken en Koninkrijksrelaties, J.W.E.&nbsp;Spies – 29&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Ontwerpbesluit tot wijziging van het Schattingsbesluit arbeidsongeschiktheidswetten –
              <a href="kst-29544-403.html"
                title="link naar publicatie kst-29544-403">29544-403</a>

            </p>
            <p>staatssecretaris van Sociale Zaken en Werkgelegenheid, P. de Krom – 29&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Commissie evaluatie risicoverevening ZVW –
              <a href="kst-29689-405.html" title="link naar publicatie kst-29689-405">29689-405</a>

            </p>
            <p>minister van Volksgezondheid, Welzijn en Sport, E.I.&nbsp;Schippers – 28&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Aanbieding convenant warme-BLEVE-vrij samenstellen en rijden van treinen –
              <a href="kst-30373-45.html" title="link naar publicatie kst-30373-45">30373-45</a>

            </p>
            <p>minister van Infrastructuur en Milieu, M.H.&nbsp;Schultz van Haegen-Maas Geesteranus – 2&nbsp;juli 2012
            </p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Ontwerpbesluit houdende wijziging van het Handelsregisterbesluit 2008 en het Financieel besluit handelsregister –
              <a
                href="kst-30656-28.html" title="link naar publicatie kst-30656-28">30656-28</a>

            </p>
            <p>minister van Economische Zaken, Landbouw en Innovatie, M.J.M.&nbsp;Verhagen – 27&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Beleidsreactie advies "Een goede basis" –
              <a href="kst-31288-303.html" title="link naar publicatie kst-31288-303">31288-303</a>

            </p>
            <p>staatssecretaris van Onderwijs, Cultuur en Wetenschap, H.&nbsp;Zijlstra – 2&nbsp;juli 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Stand van zaken inzake hoogspanningsverbindingen door woongebieden –
              <a href="kst-31574-26.html" title="link naar publicatie kst-31574-26">31574-26</a>

            </p>
            <p>minister van Economische Zaken, Landbouw en Innovatie, M.J.M.&nbsp;Verhagen – 26&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Lijst van vragen en antwoorden over Toekomst pensioenstelsel –
              <a href="kst-32043-118.html" title="link naar publicatie kst-32043-118">32043-118</a>

            </p>
            <p>minister van Sociale Zaken en Werkgelegenheid, H.G.J.&nbsp;Kamp – 29&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Verslag schriftelijk overleg betreffende het besluit houdende nadere voorschriften omtrent het onderwijskundig rapport
              en de specificatie van leer- en begeleidingsgegevens (Besluit uitwisseling leer- en begeleidingsgegevens) (
              <a href="kst-32176-16.html"
                title="link naar publicatie kst-32176-16">32176, nr. 16</a>) –
              <a href="kst-32176-17.html" title="link naar publicatie kst-32176-17">32176-17</a>

            </p>
            <p>minister van Onderwijs, Cultuur en Wetenschap, J.M. van Bijsterveldt-Vliegenthart – 29&nbsp;juni 2012
            </p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Bijeenkomst ziekenhuizen in krimpregio's –
              <a href="kst-32279-41.html" title="link naar publicatie kst-32279-41">32279-41</a>

            </p>
            <p>minister van Volksgezondheid, Welzijn en Sport, E.I.&nbsp;Schippers – 26&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Omvorming van het CAK –
              <a href="kst-32543-20.html" title="link naar publicatie kst-32543-20">32543-20</a>

            </p>
            <p>staatssecretaris van Volksgezondheid, Welzijn en Sport, M.L.L.E.&nbsp;Veldhuijzen van Zanten-Hyllner – 2&nbsp;juli
              2012
            </p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Verkoop productiefaciliteiten Nederlands Vaccin Instituut (NVI) –
              <a href="kst-32589-5.html" title="link naar publicatie kst-32589-5">32589-5</a>

            </p>
            <p>minister van Volksgezondheid, Welzijn en Sport, E.I.&nbsp;Schippers – 2&nbsp;juli 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Resultaten contra expertise projectgebonden aandeel nieuw Hoogwaterbeschermingsprogramma –
              <a href="kst-32698-5.html"
                title="link naar publicatie kst-32698-5">32698-5</a>

            </p>
            <p>staatssecretaris van Infrastructuur en Milieu, J.J.&nbsp;Atsma – 29&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Veroordeelde Somalische piraten –
              <a href="kst-32706-31.html" title="link naar publicatie kst-32706-31">32706-31</a>

            </p>
            <p>minister van Veiligheid en Justitie, I.W.&nbsp;Opstelten – 29&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Reactie op verzoek Berndsen om informatie rond de Wet politiegegevens naar aanleiding van een CBP rapport –
              <a href="kst-32761-33.html"
                title="link naar publicatie kst-32761-33">32761-33</a>

            </p>
            <p>minister van Veiligheid en Justitie, I.W.&nbsp;Opstelten – 25&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Informatie over de voorhangprocedure die voorzien wordt in het wetsvoorstel Herziening van de regels over toegelaten
              instellingen en instelling van een Financiële Autoriteit woningcorporaties (Herzieningswet toegelaten instellingen
              volkshuisvesting) –
              <a href="kst-32769-101.html" title="link naar publicatie kst-32769-101">32769-101</a>

            </p>
            <p>minister van Binnenlandse Zaken en Koninkrijksrelaties, J.W.E.&nbsp;Spies – 2&nbsp;juli 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Reactie op amendementen m.b.t. de Woningwet –
              <a href="kst-32769-102.html" title="link naar publicatie kst-32769-102">32769-102</a>

            </p>
            <p>minister van Binnenlandse Zaken en Koninkrijksrelaties, J.W.E.&nbsp;Spies – 2&nbsp;juli 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Reactie op de motie van het lid Gerven (
              <a href="kst-32805-15.html" title="link naar publicatie kst-32805-15">32805, nr. 15</a>) over de bewerkstelliging dat klinieken en leveranciers die met implantaten werken of deze leveren,
              op voorhand aansprakelijkheid erkennen voor het mogelijk defect raken van deze implantaten als het gaat om niet verzekerde
              zorg –
              <a href="kst-32805-20.html" title="link naar publicatie kst-32805-20">32805-20</a>

            </p>
            <p>minister van Volksgezondheid, Welzijn en Sport, E.I.&nbsp;Schippers – 2&nbsp;juli 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Ontwikkeling van de lokale lasten in 2011 en 2012 –
              <a href="kst-33000-B-14.html" title="link naar publicatie kst-33000-B-14">33000-B-14</a>

            </p>
            <p>minister van Binnenlandse Zaken en Koninkrijksrelaties, J.W.E.&nbsp;Spies – 27&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Aanbieding junicirculaires gemeentefonds en provinciefonds 2012 –
              <a href="kst-33000-B-15.html" title="link naar publicatie kst-33000-B-15">33000-B-15</a>

            </p>
            <p>minister van Binnenlandse Zaken en Koninkrijksrelaties, J.W.E.&nbsp;Spies – 3&nbsp;juli 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Voortgang moties Omtzigt en Van Vliet met betrekking tot Duitse Rente en dwangarbeid –
              <a href="kst-33000-IXB-27.html"
                title="link naar publicatie kst-33000-IXB-27">33000-IXB-27</a>

            </p>
            <p>staatssecretaris van Financiën, F.H.H.&nbsp;Weekers – 26&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Eiceldonatiebrief –
              <a href="kst-33000-XVI-189.html" title="link naar publicatie kst-33000-XVI-189">33000-XVI-189</a>

            </p>
            <p>minister van Volksgezondheid, Welzijn en Sport, E.I.&nbsp;Schippers – 26&nbsp;juni 2012</p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <div class="alineagroep">
            <p>Reactie op verzoek Leijten over de subsidie die landelijke patiënt- en cliëntorganisaties ontvangen voor het programma
              Aandacht voor Iedereen –
              <a href="kst-33127-66.html" title="link naar publicatie kst-33127-66">33127-66</a>

            </p>
            <p>staatssecretaris van Volksgezondheid, Welzijn en Sport, M.L.L.E.&nbsp;Veldhuijzen van Zanten-Hyllner – 26&nbsp;juni
              2012
            </p>
            <p>Rondgezonden en gepubliceerd</p>
          </div>
          <h3 class="divisiekop1">
            <a id="d16e481" name="d16e481"></a>Het volgende initiatief
          </h3>
          <div class="alineagroep">
            <p>Voorstel van wet van het lid Bosman houdende regulering van de vestiging van Nederlanders van Aruba, Curaçao en Sint
              Maarten in Nederland (Wet regulering vestiging van Nederlanders van Aruba, Curaçao en Sint Maarten in Nederland)
              –
              <a href="/dossier/33325">33325</a>

            </p>
            <p>Tweede Kamerlid, A.&nbsp;Bosman – 3&nbsp;juli 2012</p>
            <p>Rondgezonden, gepubliceerd en voor advies naar de Raad van State gezonden</p>
          </div>
        </div>

      </div>    </article>

  </div>
</div>
