<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <a id="d0e23" name="d0e23"></a>
        <div class="itemkop">
          <a id="d0e25" name="d0e25"></a>
          <p>Aan de orde zijn de
            <strong class="actie">stemmingen over moties</strong>, ingediend bij de behandeling van het wetsvoorstel
            <strong class="ondw">Vaststelling van de begrotingsstaten van het Ministerie van Economische Zaken (XIII) voor het jaar 2010 (32123 XIII)
              en het wetsvoorstel Vaststelling van de begrotingsstaat van het Fonds economische structuurversterking voor het jaar
              2010 (32123 D)</strong>, te weten:</p>
          <p class="motienm">- de motie-Gesthuizen/Vendrik over de functie van de kredietdesk (32123 XIII, nr. 13);</p>
          <p class="motienm">- de motie-Gesthuizen/Vendrik over de rol van de aanbestedingsdesk (32123 XIII, nr. 15);</p>
          <p class="motienm">- de motie-Ten Hoopen c.s. over verdubbeling van de periode waarin met behoud van de WW-uitkering een bedrijf gestart
            kan worden (32123 XIII, nr. 16);</p>
          <p class="motienm">- de motie-Ten Hoopen c.s. over een financieringsfonds (32123 XIII, nr. 17);</p>
          <p class="motienm">- de motie-Ten Hoopen c.s. over overleg met de Kamers van Koophandel (32123 XIII, nr. 18);</p>
          <p class="motienm">- de motie-Elias/Van der Ham over samenvoeging van drie ministeries tot het ministerie van Ondernemen en Werkgelegenheid
            (32123 XIII, nr. 19);</p>
          <p class="motienm">- de motie-Elias over onderzoek naar een kredietregeling voor kleinere mkb-ondernemingen (32123 XIII, nr. 20);</p>
          <p
            class="motienm">- de motie-Elias over uitbreiding van de taken van het Crash Team (32123 XIII, nr. 21);
          </p>
          <p class="motienm">- de motie-Smeets c.s. over de ondernemingskredietdesk (32123 XIII, nr. 22);</p>
          <p class="motienm">- de motie-Smeets c.s. over de niet-benutte BBMKB-middelen (32123 XIII, nr. 23);</p>
          <p class="motienm">- de motie-Smeets c.s. over eventueel niet-benutte BSRI-middelen (32123 XIII, nr. 24);</p>
          <p class="motienm">- de motie-Graus over maximale inspanning voor vermindering van de regeldruk (32123 XIII, nr. 25);</p>
          <p class="motienm">- de motie-Graus over een sociaal plan voor postbodes van TNT (32123 XIII, nr. 26);</p>
          <p class="motienm">- de motie-Graus over een harde aanpak van winkelcriminaliteit (32123 XIII, nr. 27);</p>
          <p class="motienm">- de motie-Ortega-Martijn c.s. over inventarisatie van succesvolle lokale initiatieven (32123 XIII, nr. 28);</p>
          <p class="motienm">- de motie-Ortega-Martijn c.s. over onderzoek naar het openstellen van de WSBO voor zpp'ers (32123 XIII, nr. 29);</p>
          <p
            class="motienm">- de motie-Vendrik c.s. over een verplicht aandeel duurzame energie (32123 XIII, nr. 30);</p>
          <p class="motienm">- de motie-Vendrik c.s. over inzet in Europees verband voor een CO
            <sub>2</sub>-norm voor energiecentrales (32123 XIII, nr. 31);</p>
          <p class="motienm">- de motie-Vendrik/Van der Ham over een landelijk dekkende aanleg van aansluitnetwerken (32123 XIII, nr. 32);</p>
          <p class="motienm">- de motie-Van der Ham over structurele verhoging van de IPC-regeling (32123 XIII, nr. 33);</p>
          <p class="motienm">- de motie-Van der Ham over verbetering van het beleid voor handelsmissies (32123 XIII, nr. 34);</p>
          <p class="motienm">- de motie-Van der Ham over promotie van Nederland in het buitenland (32123 XIII, nr. 35).</p>
        </div>
        <div class="draad">
          <p>(Zie vergadering van 29&nbsp;oktober 2009.)</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>De motie-Ten Hoopen c.s. (32123-XIII, nr. 17) is in die zin gewijzigd dat zij thans luidt;</p>
          <div class="motie">
            <p>De Kamer,</p>
            <p>gehoord de beraadslaging,</p>
            <p>constaterende dat het de vraag is of de verzwakte banken kunnen voldoen aan de groeiende vraag naar krediet van bedrijven;</p>
            <p>van mening dat de credit crunch de bottleneck op weg naar economisch herstel dreigt te worden;</p>
            <p>overwegende dat het kabinet al geruime tijd onderzoek doet naar een financieringsfonds dat gevuld kan worden met middelen
              van pensioenfondsen;</p>
            <p>verzoekt de regering om voor 1&nbsp;januari 2010 een financieringsfonds tot stand te brengen, bijvoorbeeld door een
              garantstelling af te geven, zodat er meer leningen aan bedrijven verstrekt kunnen worden en een credit crunch voorkomen
              wordt,</p>
            <p>en gaat over tot de orde van de dag.</p>
          </div>
          <p>Naar mij blijkt, wordt de indiening van deze gewijzigde motie voldoende ondersteund.
          </p>
          <p>Zij krijgt nr. 36 (32123-XIII).</p>
          <p>De motie-Ten Hoopen c.s. (32123-XIII, nr. 18) is in die zin gewijzigd dat zij thans luidt:</p>
          <div class="motie">
            <p>De Kamer,</p>
            <p>gehoord de beraadslaging,</p>
            <p>overwegende dat veel bedrijven door de economische crisis in moeilijkheden zijn gekomen;</p>
            <p>overwegende dat verschillende overheden voor bedrijven in de bres zijn gesprongen door extra te investeren en dat diezelfde
              overheden de komende jaren geconfronteerd worden met forse ombuigingen;</p>
            <p>van mening dat Kamers van Koophandel een grotere bijdrage zouden kunnen leveren in de ondersteuning van het bedrijfsleven
              in deze moeilijke tijden;</p>
            <p>van mening dat extra investeringen van de Kamers van Koophandel in de economie goed zouden zijn voor het draagvlak
              en de toekomst van de Kamers;</p>
            <p>verzoekt de regering om in overleg te treden met de Kamers van Koophandel over de manier waarop zij samen met andere
              organisaties van het bedrijfsleven, ondernemingen tegemoet zouden kunnen komen,</p>
            <p>en gaat over tot de orde van de dag.</p>
          </div>
          <p>Naar mij blijkt, wordt de indiening van deze gewijzigde motie voldoende ondersteund.
          </p>
          <p>Zij krijgt nr. 37 (32123-XIII).</p>
          <p>De motie-Vendrik c.s. (32123-XIII, nr. 31) is in die zin gewijzigd dat zij thans luidt:</p>
          <div class="motie">
            <p>De Kamer,</p>
            <p>gehoord de beraadslaging,</p>
            <p>constaterende dat energiebedrijven vier nieuwe kolencentrales in Nederland willen bouwen;</p>
            <p>overwegende dat de bouw van vier nieuwe kolencentrales het halen van de Nederlandse en Europese klimaatdoelstellingen
              ernstig bedreigt en duurzame energie van de markt zal drukken;</p>
            <p>overwegende dat het Europees Parlement en de EU-Raad op korte termijn de IPPC-richtlijn zullen herzien en dat dit de
              mogelijkheid biedt om een CO
              <sub>2</sub>-norm voor energiecentrales in te voeren;</p>
            <p>spreekt uit dat invoering van een CO
              <sub>2</sub>-norm voor energiecentrales in de EU en Nederland wenselijk en noodzakelijk is;</p>
            <p>verzoekt de regering om zich in Europees verband in te zetten voor een CO
              <sub>2</sub>-norm van maximaal 350 gram CO
              <sub>2</sub> per kWh geproduceerde energie voor energiecentrales;</p>
            <p>verzoekt de regering tevens om invoering van een dergelijke CO
              <sub>2</sub>-norm in Nederland voor te bereiden en daarvoor een voorstel te doen in de brief met de shortlist van aanvullende
              maatregelen (het pluspakket), die de minister van VROM vóór de begrotingsbehandeling VROM naar de Kamer zal sturen,</p>
            <p>en gaat over tot de orde van de dag.</p>
          </div>
          <p>Naar mij blijkt, wordt de indiening van deze gewijzigde motie voldoende ondersteund.
          </p>
          <p>Zij krijgt nr. 38 (32123-XIII).</p>
          <p>Ik stel vast dat wij nu over deze gewijzigde moties kunnen stemmen.</p>
          <p>Op verzoek van de heer Vendrik stel ik voor, zijn motie (32123-XIII, nr. 30) van de agenda te voeren. Op verzoek van
            de heer Van der Ham stel ik voor, zijn moties (32123-XIII, nrs. 34 en 35) van de agenda af te voeren.</p>
        </div>
        <div class="draad">
          <p>Daartoe wordt besloten.</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik geef gelegenheid tot het afleggen van een stemverklaring vooraf.</p>
        </div>
        <div class="spreker">
          <p>Mevrouw
            <strong class="achternaam">Thieme</strong> (PvdD):</p>
          <p>Voorzitter. Mijn stemverklaring betreft de motie op stuk nr. 19. De PvdD is voorstander van een zo spoedig mogelijke
            opheffing van het ministerie van LNV, omdat het zich opstelt als een ministerie van Economische Zaken voor de agrarische
            sector. In die zin zouden wij de motie-Elias/Van der Ham, waarin gepleit wordt voor het samenvoegen van de ministeries
            van EZ, Sociale Zaken en een gedeelte van LNV, kunnen steunen. Omdat in de motie echter niet duidelijk wordt wat in
            zo'n geval de toekomst van de portefeuilles Dierenwelzijn, Natuurbeheer en Voedselkwaliteit zal worden en wij die onderwerpen
            niet als restpost behandeld willen zien, zullen wij tegen de motie stemmen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Gesthuizen/Vendrik (32123-XIII, nr. 13).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, GroenLinks, D66 en de PvdD voor deze motie hebben gestemd
            en die van de overige fracties ertegen, zodat zij is verworpen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Gesthuizen/Vendrik (32123-XIII, nr. 15).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, GroenLinks en de PvdD voor deze motie hebben gestemd
            en die van de overige fracties ertegen, zodat zij is verworpen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Ten Hoopen c.s. (32123, nr. 16).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, de PvdA, GroenLinks, de PvdD, de ChristenUnie, de SGP,
            het CDA, de PVV en het lid Verdonk voor deze motie hebben gestemd en de aanwezige leden van de overige fracties ertegen,
            zodat zij is aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de gewijzigde motie-Ten Hoopen c.s. (32123-XIII, nr. 36).
          </p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de PvdA, GroenLinks, de ChristenUnie, de SGP, het CDA en het
            lid Verdonk voor deze gewijzigde motie hebben gestemd en de aanwezige leden van de overige fracties ertegen, zodat
            zij is aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de gewijzigde motie-Ten Hoopen c.s. (32123-XIII, nr. 37).
          </p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat deze gewijzigde motie met algemene stemmen is aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Elias/Van der Ham (32123-XIII, nr. 19).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van D66, de VVD en het lid Verdonk voor deze motie hebben gestemd
            en de aanwezige leden van de overige fracties ertegen, zodat zij is verworpen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Elias (32123-XIII, nr. 20).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, GroenLinks, D66, de VVD, de SGP, de PVV en het lid Verdonk
            voor deze motie hebben gestemd en de aanwezige leden van de overige fracties ertegen, zodat zij is verworpen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Elias (32123-XIII, nr. 21).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van D66, de VVD en het lid Verdonk voor deze motie hebben gestemd
            en de aanwezige leden van de overige fracties ertegen, zodat zij is verworpen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Smeets c.s. (32123-XIII, nr. 22).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, de PvdA, GroenLinks, D66, de PvdD, de VVD, de ChristenUnie,
            de SGP, het CDA en het lid Verdonk voor deze motie hebben gestemd en de aanwezige leden van de fractie van de PVV ertegen,
            zodat zij is aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Smeets c.s. (32123-XIII, nr. 23).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat deze motie met algemene stemmen is aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Smeets c.s. (32123-XIII, nr. 24).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, de PvdA, GroenLinks, D66, de PvdD, de ChristenUnie, de
            SGP, het CDA en het lid Verdonk voor deze motie hebben gestemd en de aanwezige leden van de overige fracties ertegen,
            zodat zij is aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Graus (32123-XIII, nr. 25).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de PvdA, de VVD, de ChristenUnie, de SGP, het CDA, de PVV en
            het lid Verdonk voor deze motie hebben gestemd en de aanwezige leden van de overige fracties ertegen, zodat zij is
            aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Graus (32123-XIII, nr. 26).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, de PvdD, de PVV en het lid Verdonk voor deze motie hebben
            gestemd en de aanwezige leden van de overige fracties ertegen, zodat zij is verworpen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Graus (32123-XIII, nr. 27).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fractie van de PVV en het lid Verdonk voor deze motie hebben gestemd en de
            aanwezige leden van de overige fracties ertegen, zodat zij is verworpen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Ortega-Martijn c.s. (32123-XIII, nr. 28).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat deze motie met algemene stemmen is aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Ortega-Martijn c.s. (32123-XIII, nr. 29).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, de PvdA, GroenLinks, D66, de PvdD, de VVD, de ChristenUnie,
            de SGP, het CDA en het lid Verdonk voor deze motie hebben gestemd en de aanwezige leden van de fractie van de PVV ertegen,
            zodat zij is aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de gewijzigde motie-Vendrik c.s. (32123-XIII, nr. 38).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, de PvdA, GroenLinks, de PvdD en de ChristenUnie voor
            deze gewijzigde motie hebben gestemd en die van de overige fracties ertegen, zodat zij is verworpen.</p>
          <p>Ik hoor nu dat de stemverhoudingen anders zijn, maar ik heb de uitslag al vastgesteld. Wij zijn echter nog niet met de
            volgende stemming begonnen. Wij gaan het nog een keer doen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de gewijzigde motie-Vendrik c.s. (32123-XIII, nr. 38).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, de PvdA, GroenLinks, D66, de PvdD en de ChristenUnie
            voor deze gewijzigde motie hebben gestemd en die van de overige fracties ertegen, zodat zij is aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Vendrik/Van der Ham (32123-XIII, nr. 32).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de PvdA, GroenLinks, D66, de PvdD, de ChristenUnie, de SGP,
            het CDA en de PVV voor deze motie hebben gestemd en die van de overige fracties ertegen, zodat zij is aangenomen.</p>
        </div>
        <div class="draad">
          <p>In stemming komt de motie-Van der Ham (32123-XIII, nr. 33).</p>
        </div>
        <div class="voorzitter">
          <p>De
            <strong>voorzitter</strong>:</p>
          <p>Ik constateer dat de aanwezige leden van de fracties van de SP, GroenLinks, D66 en de PvdD voor deze motie hebben gestemd
            en die van de overige fracties ertegen, zodat zij is verworpen.</p>
        </div>
      </div>    </article>

  </div>
</div>
