<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">
    <article>
      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="dossiertitel">
          <a id="d16e42" name="d16e42"></a>
          <span class="dossiernummer">
            33 750 XIII
          </span> Vaststelling van de begrotingsstaten van het Ministerie van Economische Zaken (XIII) voor het jaar 2014
        </h1>
        <div class="stuk">
          <h1 class="stuktitel">
            <a id="d16e47" name="d16e47"></a>
            <span class="stuknummer">
              J
            </span> BRIEF VAN DE MINISTER VAN ECONOMISCHE ZAKEN EN DE MINISTER VAN FINANCIËN
          </h1>
          <div class="algemeen">

            <p>Aan de Voorzitter van de Eerste Kamer der Staten-Generaal</p>

            <p>Den Haag, 8&nbsp;september 2014</p>

            <p>In het debat over Innovatie van 18&nbsp;maart jl. heb ik toegezegd, naar aanleiding van de vraag hierover van het lid
              Flierman, u te informeren over de precieze stand van zaken rond de financiering van het midden- en kleinbedrijf.
            </p>

            <p>Dit voorjaar heeft een ambtelijke werkgroep geanalyseerd welke knelpunten er zijn, en welke maatregelen de overheid
              kan nemen om de financiering van het mkb te bevorderen. Belangrijke bevindingen zijn dat het mkb dat financiering
              zoekt vaak een zwakke financiële positie heeft, dat voor banken het risico op mkb-financiering is toegenomen, en
              dat er onvoldoende alternatieven zijn om de terugval in bancaire kredieten aan te vullen.
            </p>

            <p>Het kabinet acht het van groot belang dat ook in de voorzichtig aantrekkende economie er voldoende financiering beschikbaar
              is voor mkb met een gezond bedrijfsplan. Het kabinet neemt, zoals aangekondigd, in het «Aanvullend Actieplan mkb-financiering»
              de volgende aanvullende maatregelen.
            </p>

            <p>
              <strong class="vet">Doorontwikkelen van een markt voor eigen vermogen. </strong>Een deel van het mkb heeft moeite eigen vermogen aan
              te trekken, wat ook het aantrekken van vreemd vermogen hindert. Het aanbod van risicodragend kapitaal is in Nederland
              nog te beperkt ontwikkeld, met name voor het kleinbedrijf. Bovenop bestaande instrumenten voor risicokapitaal zal
              het kabinet marktpartijen ondersteunen bij het oprichten van een achtergestelde leningenfonds (AGL-fonds) en een
              extra impuls van €&nbsp;100 mln geven aan investeringen via business angels en participatiemaatschappijen. Daarnaast
              is per 1&nbsp;juli jl. een nieuwe regeling voor vroegefasefinanciering aan innovatieve starters en kleine bedrijven
              opengesteld. Deze regeling wordt nu permanent.
            </p>

            <p>
              <strong class="vet">Verbreden van het financieringsaanbod. </strong>Het mkb is voor het verkrijgen van vreemd vermogen sterk afhankelijk
              van banken. Die zijn door de toegenomen risico’s strenger geworden bij het toezeggen van kredieten. Ook is de winstgevendheid
              van met name kleine kredieten voor banken relatief onaantrekkelijk. Het kabinet heeft daarom al ondersteunende maatregelen
              genomen om het financieringsaanbod te verbreden, zoals pilots met kredietunies, de promotie van crowdfunding en steun
              aan de mkb-beurs NPEX. Daarnaast zal het kabinet een aantal nieuwe marktinitiatieven via garanties een steun in de
              rug geven, het dienstenportfolio van Qredits uitbouwen en acties starten gericht op «ketenfinanciering». Met verbreden
              van het financieringsaanbod worden ook combinaties van financieringen, waaronder met bancaire kredieten, vergemakkelijkt.
            </p>

            <p>
              <strong class="vet">Betere marktwerking mkb-financiering en verder verbeteren overheidsinstrumenten. </strong>Mkb-financiering is onder
              andere vanwege de hoge risico- en behandelingskosten een relatief onaantrekkelijk segment voor banken. De behandelingskosten
              hangen onder meer samen met de kwaliteit van de aangeleverde aanvragen en de beschikbare informatie over de bedrijven
              en de sector. Naast lopende acties zoals het Kredietpaspoort, neemt het kabinet het initiatief om de informatie over
              kredietwaardigheid van het mkb te verbeteren en te ontsluiten. Met de betrokken partijen uit het mkb zal binnen een
              half jaar een plan worden uitgewerkt dat voortbouwt op Standard Business Reporting (SBR). SBR is namelijk een manier
              om de boekhouding van ondernemers te standaardiseren, zodat gegevens herbruikbaar zijn voor meerdere doeleinden.
              Ook worden maatregelen genomen om de bestaande financieringsinstrumenten van de overheid verder te verbeteren.
            </p>

            <p>Bij het opstellen van het Aanvullend Actieplan Mkb-Financiering is gebruik gemaakt van de analyses «Kredietverlening
              en bancair kapitaal»
              <a class="nootnum supernote-click-ID-375788-d36e81" href="#ID-375788-d36e81">1</a> van DNB, de notitie «De financiële positie van het MKB in Nederland»
              <a class="nootnum supernote-click-ID-375788-d36e89"
                href="#ID-375788-d36e89">2</a> van het Centraal Planbureau (CPB) en de Financieringsmonitor 2014-1
              <a class="nootnum supernote-click-ID-375788-d36e97"
                href="#ID-375788-d36e97">3</a> (bijlage 1). Ook heeft het kabinet het bijgevoegde advies »Het kleinbedrijf: Grote motor van Nederland»
              <a class="nootnum supernote-click-ID-375788-d36e105"
                href="#ID-375788-d36e105">4</a> betrokken (bijlage 2), dat zich in brede zin richt op het benutten van het groeipotentieel van het kleinbedrijf.
              <a
                class="nootnum supernote-click-ID-375788-d36e113" href="#ID-375788-d36e113">5</a> De maatregelen van het Aanvullend Actieplan zullen samen met betrokkenen en experts uitgewerkt worden, waarbij
              ook het comité voor Ondernemerschap en Financiering een rol kan vervullen.
            </p>

            <p>Deel 1 van deze brief geeft een nadere duiding van de probleemanalyse. In deel 2 worden de aanvullende maatregelen
              die het kabinet neemt toegelicht, inclusief de budgettaire consequenties. Met het aanbieden van deze analyse en de
              maatregelen die het kabinet neemt om de knelpunten te bestrijden, kom ik tegemoet aan de wens van uw Kamer van 18&nbsp;maart
              jl.
            </p>

            <h2 class="divisiekop1">
              <a id="d16e106" name="d16e106"></a>1. Probleemanalyse
            </h2>
            <p>Nederland kende voor de financiële crisis een periode van sterke groei van de zakelijke kredietverlening. In de jaren
              voor de crisis groeide de zakelijke kredietverlening op het hoogtepunt met 16% op jaarbasis.
              <a class="nootnum supernote-click-ID-375788-d36e134"
                href="#ID-375788-d36e134">6</a> De afgelopen jaren is echter sprake van krimp. Naarmate de kredieten kleiner zijn, heeft de krimp zich eerder
              en sterker ingezet. Terwijl de totale zakelijke kredietverlening afneemt sinds de tweede helft van vorig jaar, is
              het totaalvolume van de kleinste mkb-kredieten (onder de €&nbsp;250.000) in de periode 2010 en 2012 gekrompen met
              cumulatief 14% (zie onderstaande figuur). Op basis van de verschillende analyses volgen hieronder de belangrijkste
              bevindingen ten aanzien van de ontwikkelingen rond mkb-financiering.
            </p>
            <div class="plaatje">
              <p class="bijschrift">Totaalvolume uitstaande bankleningen aan bedrijfsleven</p>
              <img src="https://zoek.officielebekendmakingen.nl/kst-33750-XIII-J-001.png" width="416" height="276"
                alt="Totaalvolume uitstaande bankleningen aan bedrijfsleven">
              <div class="bron">
                <p>
                  <em class="cur">Bron: DNB-studie »kredietverlening en bancair kapitaal», 2014</em>
                </p>
              </div>
            </div>
            <p>De eerste bevinding is dat de krimp in de kredietverlening in belangrijke mate samenhangt met de laagconjunctuur. In
              Nederland is de binnenlandse vraag sinds het begin van de crisis afgenomen.
              <a class="nootnum supernote-click-ID-375788-d36e157"
                href="#ID-375788-d36e157">7</a> Het mkb, dat bovengemiddeld afhankelijk is van de binnenlandse vraag
              <a class="nootnum supernote-click-ID-375788-d36e166"
                href="#ID-375788-d36e166">8</a>, wordt hierdoor extra getroffen. Geconfronteerd met de afgenomen binnenlandse vraag is de kredietvraag van
              het mkb sterk afgenomen.
            </p>
            <p>Ten tweede wordt kredietverlening bemoeilijkt doordat het mkb dat nog wel krediet aanvraagt, vaak een zwakke financiële
              positie heeft. Al voor de crisis was de eigen vermogenspositie van het Nederlandse mkb relatief laag. Daarnaast is
              door de crisis naast het eigen vermogen ook de rentabiliteit van vooral kleine bedrijven afgenomen, zodat er minder
              mogelijkheden zijn om via het inhouden van winst het eigen vermogen te vergroten. In vergelijking met het buitenland
              zoekt het Nederlandse mkb ook vaker extern krediet om het werkkapitaal te versterken, in plaats van het aan te wenden
              voor investeringen. Bij het financieren van werkkapitaal bestaat, vanwege het minder vastomlijnde bestedingsdoel,
              het risico dat het wordt aangewend voor verliesfinanciering. Voor banken is dat een reden voor extra terughoudendheid.
              Het hoge afwijzingspercentage op mkb-kredietaanvragen in Nederland hangt hier waarschijnlijk mee samen.
            </p>
            <p>Ten derde zijn banken strenger geworden bij het toezeggen van kredieten, geconfronteerd met de toegenomen risico’s.
              Banken hebben aangegeven risico’s in aanloop naar de crisis onderschat te hebben. Het aantal probleemkredieten is
              de afgelopen jaren daarom sterk opgelopen, tot bijna 6% van de gehele mkb-portefeuille
              <a class="nootnum supernote-click-ID-375788-d36e182"
                href="#ID-375788-d36e182">9</a>. Sindsdien hebben banken en hun toezichthouders meer oog voor risico’s. De combinatie van een verzwakte kapitaalpositie
              van het mkb en strengere (handhaving van) eisen aan banken zet de totale kredietverlening onder druk.
            </p>
            <p>Ten vierde zijn er structurele factoren die financiering van het mkb moeilijker maken dan van het grootbedrijf. Zo
              is de verhouding tussen kosten en baten van mkb-kredieten, vooral bij de kleinere kredieten, relatief onaantrekkelijk.
              De kosten om de kredietwaardigheid van een mkb-bedrijf in te schatten zijn naar verhouding hoog, terwijl de renteopbrengst
              in euro’s, vanwege de kleinere kredietomvang, per definitie laag is. Ook is over mkb-bedrijven, in tegenstelling
              tot het grootbedrijf, minder informatie publiekelijk beschikbaar. Als gevolg daarvan zijn informatiekosten hoog,
              wat ook een hinderpaal kan vormen voor het aantrekken van vermogen. Voor verschaffers van financiering is het relatief
              kostbaar om een goede risico-inschatting te maken in het mkb.
            </p>
            <p>Ten vijfde is het Nederlandse mkb, net als het mkb in veel andere Europese landen, voor externe financiering sterk
              afhankelijk van banken en zijn alternatieve financieringsbronnen (nog) te beperkt van omvang om de kredietverlening
              door banken aan te vullen. De laatste tijd is een toename van het aantal alternatieve financiers zichtbaar: verschillende
              financiële instellingen en (institutionele) investeerders zijn bezig met het opzetten van mkb-investeringsfondsen.
              Ook zijn er verschillende kredietunies, crowdfunding-platforms en de mkb-beurs NPEX opgezet, deels met steun van
              de overheid. Daarbij zijn ook banken belangrijke partners.
            </p>
            <p>Ten zesde is de invloed van de balanspositie van banken op de kredietverlening beperkt. DNB verwacht dat banken de
              komende jaren in staat zullen zijn om aan de vereiste kapitaalversterkingen te voldoen en daarbij de kredietvraag
              van bedrijven en huishoudens te bedienen. Daarnaast heeft het CPB onlangs aangegeven dat het feit dat grote bedrijven
              in Nederland tegen een lagere rente kunnen lenen, lager dan in Duitsland, een belangrijke aanwijzing is dat aanbodbeperkingen
              geen grote rol spelen
              <a class="nootnum supernote-click-ID-375788-d36e200" href="#ID-375788-d36e200">10</a>.
            </p>
            <p>DNB heeft ook gekeken naar scenario’s waarin de economische groei harder stijgt dan verwacht en/of de winstontwikkeling
              van banken tegenvalt. In deze scenario’s kunnen banken niet aan de kredietvraag voldoen. De scenario’s van DNB zijn
              echter relatief voorzichtig: zo wordt hierin verondersteld dat banken geen aandelen kunnen uitgeven en dat niet alleen
              de zakelijke kredieten, maar alle balansposten groeien. De mogelijkheden tot kredietverstrekking kunnen in de praktijk
              dus ruimer zijn. Een bescheiden winststijging van banken of een aandelenuitgifte zou voldoende zijn om aan de additionele
              kredietvraag in deze scenario’s te voldoen. Het CPB stelt dat als de economie aantrekt, eigen vermogen aantrekken
              gemakkelijker wordt voor banken. CPB acht aanbodproblemen in dit perspectief daarom niet waarschijnlijk. Ook zijn
              de DNB-scenario’s niet in overeenstemming met de economische voorspellingen van het CPB en DNB voor dit en volgend
              jaar
              <a class="nootnum supernote-click-ID-375788-d36e212" href="#ID-375788-d36e212">11</a>.
            </p>
            <p>Bovenstaande ontwikkelingen zijn deels tijdelijk, omdat ze samenhangen met de financiële crisis en de daaruit voortkomende
              laagconjunctuur. Tegelijkertijd zijn er meer blijvende ontwikkelingen. Zo hangt de aanscherping van kredietvoorwaarden
              en/of de kredietprijs deels samen met de verscherpte kijk op risico’s. Dat is een gezonde ontwikkeling omdat banken
              en andere financiers de risico's in aanloop naar de crisis veelal onderschat hebben. Het is niet verstandig met overheidsbeleid
              een terugkeer naar de zeer soepele financieringsmogelijkheden aan de vooravond van de crisis te bewerkstelligen.
              Wel is het van cruciaal belang om mogelijke knelpunten in de financiering aan het mkb aan te pakken en te borgen
              dat in de transitiefase naar een meer gediversifieerde financieringsmarkt het in de kern gezonde mkb aan voldoende
              financiering kan komen.
            </p>
            <h2 class="divisiekop1">
              <a id="d16e154" name="d16e154"></a>2. Aanvullende maatregelen
            </h2>
            <p>Financiering van het bedrijfsleven is in eerste instantie een marktactiviteit. De overheid wil en kan niet op de stoel
              van financiële aanbieders gaan zitten. Tegelijkertijd kan de overheid wel maatregelen nemen die bijdragen aan een
              gezond financieringsaanbod. Steeds is daarbij van belang zorgvuldig te kijken waar de markt onvoldoende (snel) tot
              ontwikkeling komt. Deze insteek betekent ook dat veel maatregelen een tijdelijk karakter hebben en afgebouwd kunnen
              worden op het moment dat vanuit de markt er voldoende financieringsaanbod voorhanden is. Onderstaande box geeft een
              overzicht van de bestaande financieringsinstrumenten, die grotendeels aangrijpen op structurele knelpunten in de
              financieringsmarkt.
            </p>
            <div class="box">
              <div class="alineagroep">
                <p>
                  <strong class="vet">Financieringsinstrumentarium</strong>
                </p>
                <p>Het Ministerie van Economische Zaken beschikt al over een uitgebreid instrumentarium om de financiering van bedrijven
                  te stimuleren. Dit instrumentarium is vanaf het begin van de kredietcrisis al aanmerkelijk uitgebreid en geïntensiveerd.
                  Met de garantieregelingen BMKB, GO en Groeifaciliteit is in de periode 2009–2013 voor meer dan €&nbsp;8 miljard
                  aan leningen aan het mkb mogelijk gemaakt. Daarnaast hebben banken, verzekeraars en het Ministerie van Economische
                  Zaken sinds 2009 €&nbsp;120 mln in Qredits geïnvesteerd (overheidsbijdrage €&nbsp;45 mln) voor kleine leningen
                  aan ondernemers die niet bij de bank terecht kunnen.
                </p>
              </div>
              <p>Het Innovatiefonds MKB+ is in 2012 opgericht om te voorzien in risicodragende financiering voor innovatie. Hierbij
                is €&nbsp;500 mln vrijgemaakt voor de periode 2012–2015, bestemd voor innovatiekredieten, seedfondsen en risicokapitaal
                via het Dutch Venture Initiative (DVI). Het fonds is revolverend, dus terugontvangsten worden opnieuw in het innovatieve
                bedrijfsleven geïnvesteerd. Het kabinet heeft vorig jaar besloten tot een aanvulling met €&nbsp;75 mln ten behoeve
                van vroege fase financiering en een co-investeringsfaciliteit met business angels.
              </p>
              <p>Daarnaast is het Ministerie van Economische Zaken aandeelhouder in de Regionale Ontwikkelingsmaatschappijen, waar
                bij elkaar €&nbsp;350 mln kapitaal beschikbaar is voor participaties in jonge innovatieve bedrijven.
              </p>
              <p>Met betrekking tot internationaal ondernemen bestaat eveneens een uitgebreid instrumentarium: met name de export
                kredietverzekeringsinstrumenten en het Dutch Good Growth Fund.
              </p>
            </div>
            <p>Op basis van de problematiek en de bestaande instrumenten neemt het kabinet een aantal aanvullende maatregelen gericht
              op het versterken van de vermogenspositie van het mkb, het stimuleren van alternatieve financieringsbronnen en het
              verbeteren van de marktwerking. Daarnaast neemt het kabinet maatregelen om de effectiviteit van het bestaande instrumentarium
              te verbeteren.
            </p>
            <p>Ook op Europees niveau worden extra maatregelen genomen. Begin juni heeft de ECB nieuw monetair beleid aangekondigd
              dat banken stimuleert hun portefeuille leningen aan het bedrijfsleven te vergroten. Banken kunnen tegen een lage
              rente lenen bij de ECB voor een bedrag ter grootte van 7% van hun leningen (stand eind april) aan de niet-financiële
              particuliere sector (exclusief hypotheken). In september en december volgen nog twee tranches van deze zogenoemde
              TLTRO, die het aantrekkelijker maakt om bedrijfskredieten te verstrekken, waaronder leningen aan het mkb. Naar verwachting
              bedraagt de omvang van het programma circa €&nbsp;400 miljard. Daarnaast werkt de ECB aan een opkoopprogramma van
              gesecuritiseerde leningen (Asset Backed Securities).
            </p>
            <p>De onderstaande tabel bevat de aanvullende maatregelen die het kabinet neemt om de problematiek rond mkb-financiering
              aan te pakken, inclusief de publieke middelen die daarmee gemoeid zijn. Op basis van de voorgenomen acties en het
              verwachte effect op de mkb-financiering is de inschatting dat hiermee in totaal ca. €&nbsp;2,5 miljard nieuwe mkb-financiering
              in de markt mogelijk wordt gemaakt: tot ca. €&nbsp;1 miljard via het Innovatiefonds MKB+, ca. €&nbsp;500 mln door
              verbreding van het financieringsaanbod, en ca. €&nbsp;1 miljard via het doorontwikkelen van de eigenvermogensverschaffing
              aan het mkb. De realisatie van de nieuwe mkb-financiering als gevolg van de aanvullende maatregelen is mede afhankelijk
              van de uitwerking en de ontwikkelingen in de markt, en is hieronder bij de maatregelen toegelicht.
            </p>
            <table class="xml portrait" cellspacing="0" border="1" frame="hsides" rules="none">
              <colgroup>
                <col title="col1" class="pct74">
                <col title="col2" class="pct26">
              </colgroup>
              <thead class="left bottom thead">

                <tr class="left middle head-row2 xml2head">
                  <th scope="col" class="left top border-row">

                    <p>
                      <em class="halfvet">Maatregelen</em>
                    </p>

                  </th>
                  <th scope="col" class="right top border-row">

                    <p>
                      <em class="halfvet">Inzet Publieke middelen 2014–2019</em>
                    </p>

                  </th>
                </tr>

              </thead>
              <tbody class="left top tbody">
                <tr class="left middle odd">
                  <td class="left top" colspan="2">

                    <p>
                      <em class="halfvet">Kas</em>
                    </p>

                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">

                    <p>1. Kasreserve oprichting AGL-fondsen</p>

                    <p>
                      <em class="cur">achtergestelde leningen voor mkb </em>
                    </p>

                  </td>
                  <td class="right top">

                    <p>€&nbsp;12 mln</p>

                  </td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">

                    <p>2. Innovatiefonds: DVI+
                      <em class="cur">risicokapitaal voor mkb via het DVI</em>
                    </p>

                  </td>
                  <td class="right top">

                    <p>€&nbsp;100 mln</p>

                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">

                    <p>3. Innovatiefonds: Vroegefasefinanciering
                      <em class="cur">voor innovatieve starters en kleine bedrijven</em>
                    </p>

                  </td>
                  <td class="right top">

                    <p>€&nbsp;25 mln</p>

                  </td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">

                    <p>4. Flankerende maatregelen: «SBR+»
                      <em class="cur">verbeteren kredietinformatie mkb</em>
                    </p>

                  </td>
                  <td class="right top">

                    <p>€&nbsp;5 mln</p>

                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">

                    <p>5. Flankerende maatregelen: vaardigheden
                      <em class="cur">verbeteren kennis en kunde mkb</em>
                    </p>

                  </td>
                  <td class="right top">

                    <p>€&nbsp;5 mln</p>

                  </td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">

                    <p>6. Flankerende maatregelen: stroomlijning
                      <em class="cur">betere presentatie en organisatie instrumenten</em>
                    </p>

                  </td>
                  <td class="right top">

                    <p>€&nbsp;3 mln</p>

                  </td>
                </tr>
                <tr class="left middle tr-rowsep even">
                  <td class="left top border-row">

                    <p>7. Flankerende maatregelen: ketenfinanciering
                      <em class="cur">programma voor aansluiting mkb</em>
                    </p>

                  </td>
                  <td class="right top border-row">

                    <p>€&nbsp;5 mln</p>

                  </td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">

                    <p>
                      <em class="halfvet">Totaal kasmiddelen</em>
                    </p>

                  </td>
                  <td class="right top">

                    <p>
                      <em class="halfvet">€&nbsp;155 mln</em>
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
            <table class="xml portrait" cellspacing="0" border="1" frame="hsides" rules="none">
              <colgroup>
                <col title="col1" class="pct74">
                <col title="col2" class="pct26">
              </colgroup>
              <thead class="left bottom thead">

                <tr class="left middle head-row2 xml2head">
                  <th scope="colgroup" class="left top border-row" colspan="2">

                    <p>
                      <em class="halfvet">Garanties</em>
                    </p>

                  </th>
                </tr>

              </thead>
              <tbody class="left top tbody">
                <tr class="left middle odd">
                  <td class="left top">

                    <p>1. Garanties oprichting AGL-fondsen</p>

                    <p>
                      <em class="cur">Achtergestelde leningen voor mkb</em>
                    </p>

                  </td>
                  <td class="right top">

                    <p>€&nbsp;500 mln</p>

                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">

                    <p>2. Garanties nieuwe aanbieders</p>

                    <p>
                      <em class="cur">Verbreding aanbod mkb-financiering</em>
                    </p>

                  </td>
                  <td class="right top">

                    <p>€&nbsp;400 mln</p>

                  </td>
                </tr>
                <tr class="left middle tr-rowsep odd">
                  <td class="left top border-row">

                    <p>3. Uitbreiding Qredits</p>

                    <p>
                      <em class="cur">Kleine kredieten voor mkb </em>
                    </p>

                  </td>
                  <td class="right top border-row">

                    <p>€&nbsp;100 mln</p>

                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">

                    <p>
                      <em class="halfvet">Totaal garanties</em>
                    </p>

                  </td>
                  <td class="right top">

                    <p>
                      <em class="halfvet">€&nbsp;1.000 mln</em>
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>
            <p>Ter dekking van de kasmiddelen zal voor €&nbsp;100 mln een beroep worden gedaan op de reservering augustus die in de
              Voorjaarsnota 2014 is opgenomen. De kasmiddelen en de resterende dekking worden bij Miljoenennota 2015 verwerkt in
              de begroting van het Ministerie van Economische Zaken. De dekking van de garantieruimte zal komen uit de onderbenutting
              van de garantieregelingen. De huidige verwachting is dat er dit en volgend jaar in totaal tot ca. €&nbsp;1 miljard
              onbenutte garantieruimte is bij de EZ-instrumenten, welke ingezet kan worden voor nieuwe maatregelen van het Aanvullend
              Actieplan. Daarvan wordt op voorhand €&nbsp;500 mln bestemd voor het doorontwikkelen van een markt voor eigen vermogen,
              en €&nbsp;500 mln voor het verbreden van het financieringsaanbod, waarvan €&nbsp;100 mln voor verruimen van het dienstenportfolio
              van Qredits. Bij conjunctuurherstel kan benutting van de garantieregelingen echter weer fors toenemen, zoals in 2011
              is gebeurd. Het kabinet zal daarom voortdurend monitoren hoe de benutting van de regelingen zich ontwikkelt. De beschikbare
              garantieruimte zal hierbij, indien nodig, flexibel over de nieuwe maatregelen worden ingezet. De maatregelen worden
              hieronder verder toegelicht.
            </p>
            <h3 class="divisiekop2">
              <a id="d16e385" name="d16e385"></a>2.1 Vergroten van het aanbod van risicodragend vermogen
            </h3>
            <p>Om het aanbod van risicodragend vermogen voor het mkb te versterken, neemt het kabinet de volgende maatregelen.
            </p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Het ondersteunen van marktpartij(en) bij het oprichten van een achtergestelde leningenfonds (AGL-fonds).
                  De kwartiermaker van de Nederlandse Investeringsinstelling (NII) heeft hier in zijn rapportage aan het kabinet
                  ook voor gepleit. Samen met de NII wil het kabinet in kaart brengen hoe groot de markt voor een dergelijk fonds
                  is, welke marktpartijen reeds initiatieven ontplooien en welke witte vlekken er nog bestaan. Ook brengt het kabinet
                  aan de NII de wens over om ook naar de mogelijkheid te kijken om projecten met een financieringsbehoefte vanaf
                  €&nbsp;100.000 aan achtergestelde leningen te verstrekken, waarmee het kabinet uitvoering geeft aan de motie
                  van het Tweede Kamerlid De Vries
                  <a class="nootnum supernote-click-ID-375788-d36e415" href="#ID-375788-d36e415">12</a> van 17&nbsp;juni jl. Voor de uitwerking van het fonds betrekt Economische Zaken graag relevante marktpartijen,
                  waaronder de Nederlandse Vereniging van Banken.
                </p>
                <p>De kwartiermaker NII heeft in zijn rapportage ingeschat dat er een jaarlijkse behoefte is van €&nbsp;650 mln achtergesteld
                  kapitaal voor het mkb. Doordat een fonds voor achtergesteld vermogen als katalysator voor extra (bancaire) financiering
                  dient, is er sprake van een hefboomwerking. De inschatting is daarom dat de €&nbsp;500 mln garantieruimte die
                  het kabinet nu kan inzetten voor fondsen gericht op versterken van het eigen vermogen, leidt tot minimaal €&nbsp;1
                  miljard aan totale nieuwe mkb-financiering.
                </p>
                <p>Het kabinet reserveert €&nbsp;12 mln extra kasruimte, om daarmee garanties af te kunnen geven voor de financiering
                  van een fonds gericht op achtergestelde leningen als uit het bovengenoemd onderzoek blijkt dat hieraan behoefte
                  bestaat. Dergelijke garanties moeten passen binnen het garantiekader van het kabinet, ze dienen kostendekkend
                  te zijn en er mag geen sprake zijn van staatssteun. De kasreserve is bestemd voor het opvangen van verschillen
                  in uitgaven en inkomsten in jaren dat vanuit de kostendekkende premie nog te weinig reserve is opgebouwd.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Het kabinet investeert via het Dutch Venture Initiative (DVI) nog eens €&nbsp;100 mln in participatiemaatschappijen
                  en business angels voor het mkb. De inzet van het kabinet is dat, evenals bij de eerste investering in DVI, ook
                  in dit geval het Europees Investeringsfonds (EIF) weer voor ten minste €&nbsp;50 mln mee-investeert. Omdat het
                  DVI alleen in fondsen participeert waarin private beleggers voor minimaal 50% meefinancieren, komt op deze wijze
                  naar verwachting tussen de €&nbsp;300 en €&nbsp;450 mln aan nieuw participatiekapitaal beschikbaar. Omdat bedrijven
                  met dit extra participatiekapitaal ook in staat zijn nieuw vreemd vermogen aan te trekken, komt met deze maatregel
                  naar verwachting ca. €&nbsp;700 mln tot €&nbsp;1 miljard aan nieuwe financiering beschikbaar voor het mkb.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Per 1&nbsp;juli jl. is de nieuwe regeling voor vroegefasefinanciering als nieuwe pijler van het Innovatiefonds
                  MKB+ opengesteld met eenmalige middelen uit het stimuleringspakket 2014. Het kabinet stelt structureel middelen
                  beschikbaar voor deze nieuwe regeling gericht op de financiering van academische starters, innovatieve starters
                  en het bestaande innovatieve mkb.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Een fiscale stimulans. Het kabinet zal de voorstellen uit de Agenda StartUpNL van het Tweede Kamerlid
                  Lucas beoordelen op basis van reeds bestaande evaluaties naar effectiviteit, doelgroepbereik en budgettaire impact.
                  Het kabinet blijft daarbij terughoudend met het invoeren van (nieuwe) fiscale maatregelen.
                </p>
              </li>
            </ul>
            <h3 class="divisiekop2">
              <a id="d16e418" name="d16e418"></a>2.2 Het verbreden van het aanbod van mkb-financiering
            </h3>
            <p>Het kabinet heeft al eerder maatregelen genomen om het aanbod van mkb-financiering te verbreden en de afhankelijkheid
              van banken te verkleinen. Ook banken ondersteunen dit, omdat ook zij de baten zien van het versterken van de vermogenspositie
              van het mkb met alternatieve bronnen. Het kabinet stimuleert nieuwe aanbieders van mkb-financiering o.a. door pilots
              met kredietunies, de promotie van crowdfunding en andere alternatieve financieringsvormen, aandacht voor regelgeving,
              steun aan de uitbouw van mkb-beurs NPEX en diverse onderzoeken zoals ketenfinanciering voor het mkb. Ook is Qredits
              met steun van banken en verzekeraars opgericht voor de verstrekking van kredieten tot thans €&nbsp;150.000. In aanvulling
              daarop neemt het kabinet de volgende maatregelen.
            </p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Garanties voor de start van nieuwe aanbieders van mkb-financiering. Een aantal nieuwe aanbieders van
                  mkb-financiering is in ontwikkeling, die nog onvoldoende track record hebben voor potentiële investeerders (funders).
                  Het kabinet is voornemens deze funders een garantie te bieden, waardoor de start van nieuwe aanbieders mogelijk
                  wordt. De garanties moeten passen binnen het garantiekader van het kabinet, ze dienen kostendekkend te zijn en
                  er mag geen sprake zijn van staatssteun. Het kabinet houdt er rekening mee dat er €&nbsp;400 mln garantiebudget
                  nodig is voor de opstart van initiatieven die aan de criteria voldoen. De inschatting is dat hiermee minimaal
                  €&nbsp;400 mln aan nieuwe financiering in de markt mogelijk wordt gemaakt.
                </p>
                <p>Het kabinet heeft een aantal aanvragen ontvangen voor een garantie op de funding van nieuwe aanbieders van mkb-financiering,
                  en zal deze aanvragen beoordelen aan de hand van bovengenoemde criteria.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Verruimen van het dienstenportfolio van Qredits. Qredits levert een bijdrage aan de ondernemingsfinanciering
                  door door de bank afgewezen kredietaanvragen in behandeling te nemen. Daarbij leveren zij ook coaching en mentoring
                  aan ondernemers, die van belang zijn voor de groei van het (klein)bedrijf.
                </p>
                <p>De afgelopen vijf jaren heeft Qredits zich daarmee ontwikkeld tot een professionele kredietverstrekker voor het
                  kleinbedrijf in Nederland. Met ruim 20.000 behandelde aanvragen, 5.000 gefinancierde ondernemers, €&nbsp;82 mln
                  aan verstrekt kredietobligo en een relatief lage defaultratio van 4% is inmiddels veel ervaring opgedaan met
                  kredietverlening. De organisatie is gegroeid naar een professioneel team van 49 medewerkers (45 fte) en 550 vrijwillige
                  coaches.
                </p>
                <p>Qredits maakt gebruik van een persoonlijke screening van de aanvragen door ervaren bedrijfsadviseurs, een (starters)lening
                  in combinatie met coaching en deskundig kredietbeheer, waarbij flexibiliteit in de leningsvoorwaarden mogelijk
                  is. Dit model sluit aan op de wensen van ondernemers in het kleinbedrijf. Sinds 1&nbsp;november 2013 is, dankzij
                  een bijdrage van het kabinet, verzekeraars en banken, het kredietaanbod van Qredits verruimd, zodat het nu twee
                  financieringsproducten heeft:
                </p>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">○ </span>Microkrediet, een lening van maximaal €&nbsp;50.000;
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">○ </span>Mkb-krediet: een lening van €&nbsp;50.000 – €&nbsp;150.000.
                    </p>
                  </li>
                </ul>
                <p>Gezien de bijdrage van Qredits aan de financiering van het kleinbedrijf heeft het kabinet besloten toestemming
                  te geven om de reikwijdte van Qredits verder uit te bouwen. De verruimingen betreffen:
                </p>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">○ </span>Verhogen van de kredietlimiet. Kleine leningen die intensieve beoordeling en beheer vergen zijn
                      voor banken onvoldoende rendabel. Met partners en externe deskundigen wordt daarom onderzocht of de grens,
                      tot waar Qredits leningen mag verstrekken aan door banken door- of afgewezen bedrijven, kan worden opgetrokken
                      tot €&nbsp;250.000 per begin 2015.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">○ </span>Verstrekken werkkapitaal. Een belangrijk deel van de financieringsbehoefte van vooral kleinere bedrijven
                      wordt ingevuld via rekening-courantkrediet. Dat is met name bestemd voor werkkapitaal. Mede gezien de groeiende
                      behoefte aan werkkapitaal en het stijgende percentage afwijzingen, worden daarom partners gezocht voor het
                      verlenen van betalingsverkeer, om daarmee het verstrekken van rekening-courant door Qredits mogelijk te maken.
                    </p>
                  </li>
                </ul>
                <p>Voor de uitbreiding van deze activiteiten is naar verwachting ca. €&nbsp;100 mln extra funding nodig. Het Ministerie
                  van Economische Zaken is op dit moment met verschillende geïnteresseerde partijen, waaronder de EIB, in gesprek
                  onder welke voorwaarden zij Qredits aanvullend willen financieren. Voor nu heeft het kabinet €&nbsp;100 mln garantieruimte
                  beschikbaar, mocht voor het verstrekken van nieuwe funding aan Qredits een overheidsgarantie nodig zijn. De verwachting
                  is dat hiermee minimaal €&nbsp;100 mln nieuwe financiering in de markt mogelijk wordt gemaakt.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Ketenfinanciering. Uit een onderzoek dat de Tweede Kamer met de brief over «Halfjaarsrapportage benutting
                  EZ-financieringsinstru
                  <!--?xpp afbm?-->menten»
                  <a class="nootnum supernote-click-ID-375788-d36e500" href="#ID-375788-d36e500">13</a> op 11&nbsp;april jl. heeft ontvangen, blijkt dat er mogelijkheden aanwezig lijken om ook het mkb aan ketenfinancieringsprogramma’s
                  deel te laten nemen en daarmee hun afhankelijkheid van bancaire financiering te verkleinen. Met de grote afnemers
                  van mkb-producten en -diensten en met betrokkenen uit de financiële sector zullen dit jaar concrete maatregelen
                  worden uitgewerkt. Voor het opzetten en stimuleren van ketenfinanciering is met het Aanvullend Actieplan €&nbsp;5
                  mln beschikbaar.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Securitisatie van kredieten. Het securitiseren van kredieten door banken creëert ruimte voor nieuwe
                  kredietverlening. Banken en (institutionele) beleggers en de overheid zijn de laatste jaren actief met elkaar
                  in gesprek geweest om concrete stappen te zetten. Dit heeft geleid tot een aantal concrete initiatieven en fondsen.
                  Zo hebben de verzekeraars onlangs hun fonds voor cofinanciering met ABN AMRO van in totaal €&nbsp;280 mln bekend
                  gemaakt. Ook projecten via de NII kunnen mogelijk bijdragen aan het verlichten van de balans bij banken.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Vergroten investeringen EIB en EIF in Nederland. De Europese Investeringsbank (EIB) en het Europees
                  Investeringsfonds (EIF) willen zich sterker op de Nederlandse markt gaan richten. Het kabinet werkt met deze
                  instellingen samen om in Nederland nog meer financiering mogelijk te maken, onder andere voor het Nederlandse
                  mkb. In dat kader is 15 mei jl. in aanwezigheid van de Minister-President een Nederlands kantoor geopend. In
                  het derde kwartaal van 2014 zal in samenwerking met het Ministerie van Economische Zaken een evenement plaatsvinden
                  om de instrumenten van EIB, EIF en de overheid aan het groeiende en innovatieve bedrijfsleven te presenteren.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Waar nodig en mogelijk wordt prudentiële regelgeving aangepast, zodat risico en toezicht met elkaar
                  in balans zijn. De huidige regelgeving ten aanzien van de financiële sector is toegesneden op banken en grotere
                  financiële instellingen. Voor opkomende alternatieve financieringsvormen zoals kredietunies en crowdfunding kan
                  deze regelgeving niet passend zijn. Het kabinet onderzoekt daarom in samenwerking met toezichthouders en private
                  initiatieven of er mogelijkheden zijn de regelgeving meer op alternatieve financieringsvormen toe te snijden,
                  zonder dat de consumentenrisico's toenemen.
                </p>
              </li>
            </ul>
            <h3 class="divisiekop2">
              <a id="d16e492" name="d16e492"></a>2.3 Verbeteren marktwerking en bestaande overheidsinstrumenten
            </h3>
            <p>Voor het verbeteren van de marktwerking rond mkb-financiering en de bestaande financieringsinstrumenten neemt het kabinet
              de volgende maatregelen.
            </p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>De rentabiliteit van mkb-financiering voor financiers kan vergroot worden door de kosten omlaag te brengen.
                  De behandelingskosten van een lening(aanvraag) hangen voor een financier sterk samen met de kwaliteit van de
                  aangeleverde aanvragen en de beschikbare informatie over de bedrijven en de sector. Er zijn al diverse acties
                  in gang gezet voor een betere informatievoorziening aan het mkb, zoals de Financieringsdesk bij de Kamer van
                  Koophandel, de Ondernemerskredietdesk van MKB-Nederland, VNO-NCW en de Nederlandse Vereniging van Banken en de
                  landelijke en regionale voorlichtingscampagnes via MKB-Nederland. Ook het in ontwikkeling zijnde Kredietpaspoort
                  kan helpen de behandelingskosten voor financiers te verlagen. In aanvulling daarop neemt het kabinet het initiatief
                  om de informatie over kredietwaardigheid binnen het mkb te verbeteren en ontsluiten. Met betere en makkelijk
                  toegankelijke informatie over de kredietwaardigheid binnen het mkb, neemt de onzekerheidspremie die vermogensverschaffers
                  in hun rendementseis opnemen af en dalen de beoordelings- en beheerskosten.
                </p>
                <p>In veel andere landen in Europa zijn centrale kredietinformatiebureaus aanwezig, en ook de ECB verkent de mogelijkheden
                  voor een Europese standaard. Eventuele voorstellen voor een aanpak in Nederland moeten daarmee in lijn zijn om
                  te voorkomen dat dubbele investeringen gedaan moeten worden. Met de betrokken partijen uit het mkb, zoals MKB-Nederland,
                  de Kamer van Koophandel, financiers en dienstverleners op het gebied van mkb-kredietinformatie, zal binnen een
                  half jaar een plan worden uitgewerkt. Daarbij zal voortgebouwd worden op de reeds in gang gezette acties van
                  Standard Business Reporting (SBR+). Voor de uitwerking is vanuit het Aanvullend Actieplan €&nbsp;5 mln beschikbaar.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Ondernemersvaardigheden. In het advies van McKinsey over een betere benutting van het groeipotentieel
                  van het kleinbedrijf worden ook knelpunten en acties aangedragen ten aanzien van ondernemersvaardigheden. Zo
                  blijkt dat ondernemers in het kleinbedrijf niet altijd beschikken over de juiste vaardigheden die nodig zijn
                  om succesvol te kunnen groeien. Het huidige aanbod aan mogelijkheden om vaardigheden te ontwikkelen voor ondernemers
                  in het kleinbedrijf is breed, desondanks lijkt het aanbod op een aantal vlakken de behoefte niet te dekken. Tevens
                  vinden vraag en aanbod elkaar onvoldoende. Met het Aanvullend Actieplan heeft het kabinet €&nbsp;5 mln beschikbaar
                  voor het verhogen van de ambitie en verbetering van de groeivaardigheden in het kleinbedrijf. Maatregelen hiervoor
                  zullen in het najaar worden uitgewerkt.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Verbeteren van het financieringsinstrumentarium. De financieringsinstrumenten van de overheid stellen
                  jaarlijks duizenden ondernemingen in staat voor honderden miljoenen financiering aan te trekken, met name voor
                  start, (door)groei en innovatie. Door de nodige uitbreidingen de afgelopen jaren is een breed palet aan instrumenten
                  ontstaan, aangrijpend op verschillende risicoprofielen en levensfases van bedrijven. Hierdoor is het instrumentarium
                  niet altijd overzichtelijk voor ondernemers en financiers. Ook is het voortdurend noodzakelijk de instrumenten
                  aan te laten sluiten bij de ontwikkelingen in de financiële sector. Het kabinet wil de effectiviteit van de bestaande
                  overheidsinstrumenten vergroten door de hierna volgende maatregelen.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Het stroomlijnen en toegankelijker maken van het financieringsinstrumentarium. Een optie is om diverse
                  financieringsregelingen onder te brengen in een afgebakende «Financieringwinkel» bij de Rijksdienst voor Ondernemend
                  Nederland (RVO). De garantieregelingen gericht op de agrarische sector worden bij deze optie betrokken. Daardoor
                  worden de instrumenten overzichtelijker voor ondernemers en financiers en kan de kwaliteit en de efficiency van
                  de uitvoering verder verbeterd worden. Het Aanvullend Actieplan heeft €&nbsp;3 mln beschikbaar om deze operatie
                  uit te voeren.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Monitoren van de budgetten voor de financieringsregelingen. Momenteel is er ruim voldoende garantieruimte
                  om aan alle aanvragen te voldoen. Bij conjunctuurherstel kan benutting van de garantieregelingen echter weer
                  fors toenemen, zoals in 2011 is gebeurd. Het kabinet zal daarom voortdurend monitoren hoe de benutting van de
                  regelingen zich ontwikkelt.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Het verlengen van de stimuleringsmaatregelen 2014 met een extra jaar. Deze maatregelen bestaan uit de
                  tijdelijke verhoging van de garantiepercentages en plafonds bij leningen die gebruik maken van (delen van) de
                  regelingen BMKB en GO. Daarnaast betreft het de extra stimulans voor het Innovatiekrediet aan het mkb. Het is
                  verstandig deze verruimingen te handhaven nu de vraag van het mkb naar verwachting zal toenemen met het voorzichtige
                  herstel van de economie.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>Een deel van de huidige garantiemiddelen in te zetten voor het ondersteunen van nieuwe initiatieven
                  om het financieringsaanbod van risicodragend vermogen te verbreden. De huidige onderbenutting van de garantieregelingen
                  biedt hiervoor de ruimte. Hierop wordt ingegaan bij de maatregelen ten aanzien van doorontwikkelen eigen vermogen
                  en verbreding financieringsaanbod.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>De mogelijkheden voor het onderbrengen van werkkapitaal te vergroten. Momenteel is het garanderen van
                  werkkapitaal al mogelijk binnen het huidig instrumentarium, maar onderzocht wordt of een verdere stimulans mogelijk
                  is. Werkkapitaal is namelijk een belangrijke financieringsbehoefte van het mkb, en veelal de eerste financieringsbehoefte
                  tijdens conjunctuurherstel.
                </p>
              </li>
            </ul>
            <p class="ondertekening">
              <span class="functie">De Minister van Economische Zaken,</span>
              <span class="naam">
                <span class="voornaam">H.G.J.</span>
                <span class="achternaam">Kamp</span>
              </span>
            </p>
            <p class="ondertekening">
              <span class="functie">De Minister van Financiën,</span>
              <span class="naam">
                <span class="voornaam">J.R.V.A.</span>
                <span class="achternaam">Dijsselbloem</span>
              </span>
            </p>
          </div>
        </div>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e81">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e81">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e81" name="ID-375788-d36e81"></a>1</span>
            </sup>
            <p>Bijlage bij Tweede Kamerstuk
              <a href="kst-32013-59.html" title="link naar publicatie kst-32013-59">32&nbsp;013 nr. 59</a>
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e89">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e89">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e89" name="ID-375788-d36e89"></a>2</span>
            </sup>
            <p>CPB(2014), «De financiële positie van het midden- en kleinbedrijf in Nederland», CPB Notitie
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e97">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e97">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e97" name="ID-375788-d36e97"></a>3</span>
            </sup>
            <p>Ter inzage gelegd op de afdeling Inhoudelijke ondersteuning onder griffie nr. 155721.</p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e105">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e105">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e105" name="ID-375788-d36e105"></a>4</span>
            </sup>
            <p>Ter inzage gelegd op de afdeling Inhoudelijke ondersteuning onder griffie nr. 155721.</p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e113">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e113">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e113" name="ID-375788-d36e113"></a>5</span>
            </sup>
            <p>Het advies is gericht op een betere benutting van het groeipotentieel van het kleinbedrijf. Hierin worden ook knelpunten
              en acties aangedragen die op andere onderwerpen dan bedrijfsfinanciering aangrijpen, zoals coaching, vaardigheden
              en regelgeving
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e134">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e134">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e134" name="ID-375788-d36e134"></a>6</span>
            </sup>
            <p>DNB, «Kredietverlening door Nederlandse MFI’s aan niet-financiële bedrijven in Nederland,»
              <a href="http://www.statistics.dnb.nl/financieele-instellingen/banken/binnenlandse-bankbedrijf-monetair/index.jsp" title="link naar http://www.statistics.dnb.nl/financieele-instellingen/banken/binnenlandse-bankbedrijf-monetair/index.jsp"
                class="externe_link">http://www.statistics.dnb.nl/financieele-instellingen/banken/binnenlandse-bankbedrijf-monetair/index.jsp</a>.
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e157">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e157">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e157" name="ID-375788-d36e157"></a>7</span>
            </sup>
            <p>Waar de consumptie van Belgische en Duitse huishoudens tussen 2008 en 2012 steeg, daalde deze in Nederland met 4,4%.
              Bron: CBS, «De Nederlandse economie 2012,» p. 186.
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e166">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e166">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e166" name="ID-375788-d36e166"></a>8</span>
            </sup>
            <p>Uit de exportindex van Panteia/EIM blijkt dat slechts 8% van het mkb exporteert. Vooral in de horeca, detailhandel
              en de bouw is de afhankelijkheid van de binnenlandse vraag groot.
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e182">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e182">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e182" name="ID-375788-d36e182"></a>9</span>
            </sup>
            <p>DNB, «Overzicht Financiële Stabiliteit,» voorjaar 2014, p. 12.</p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e200">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e200">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e200" name="ID-375788-d36e200"></a>10</span>
            </sup>
            <p>CPB, Risicorapportage Financiële Markten 2014, p27: Het verschil tussen de kredietverlening aan groot- en kleinbedrijf,
              in samenhang met de lage economische groei, is een belangrijke indicatie dat aanbodbeperkingen geen grote rol spelen.
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e212">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e212">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e212" name="ID-375788-d36e212"></a>11</span>
            </sup>
            <p>In de recente Juniraming 2014 voorspelt het CPB voor 2014 0,75% en voor 2015 1,25% economische groei.
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e415">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e415">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e415" name="ID-375788-d36e415"></a>12</span>
            </sup>
            <p>Tweede Kamerstuk
              <a href="kst-32637-142.html" title="link naar publicatie kst-32637-142">32&nbsp;637 nr. 142</a>
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-375788-d36e500">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-375788-d36e500">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-375788-d36e500" name="ID-375788-d36e500"></a>13</span>
            </sup>
            <p>Tweede Kamerstuk
              <a href="kst-32637-125.html" title="link naar publicatie kst-32637-125">32&nbsp;637 nr. 125</a>
            </p>
          </div>
        </div>

      </div>  </article>

  </div>
</div>
