<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="dossier">31 989
          <br>Wijziging van de Wet kinderopvang, de Wet op het onderwijstoezicht, de Wet op het primair onderwijs en enkele andere
          wetten in verband met wijzigingen in het onderwijsachterstandenbeleid</h1>
        <div>
          <a id="d25e29" name="d25e29"></a>
          <h2 class="stuktitel">nr. 12
            <br>
            <a id="d25e35" name="d25e35"></a>AMENDEMENT VAN HET LID DEZENTJÉ HAMMING-BLUEMINK</h2>
          <a id="d25e39" name="d25e39"></a>
          <div class="context">
            <p>Ontvangen 12 januari 2010</p>
          </div>
          <p>De ondergetekende stelt het volgende amendement voor:</p>
          <p class="tussenkop">
            <strong class="tussenkop_rom">
              <a id="d25e43" name="d25e43"></a>I</strong>
          </p>
          <p>In artikel I, onderdeel D, in het tot artikel 1.1 vernummerde artikel, wordt onderdeel 7 als volgt gewijzigd:</p>
          <p>1. In de aanhef wordt de zinsnede «wordt in het eerste lid een nieuwe begripsomschrijving ingevoegd» vervangen door:
            worden in het eerste lid twee nieuwe begripsomschrijvingen ingevoegd.</p>
          <p>2. Onder vervanging van de punt aan het einde van de begripsomschrijving van voorschoolse educatie door een puntkomma,
            wordt een nieuwe begripsomschrijving ingevoegd, luidende: vrijwilliger: degene die structureel al dan niet tegen een
            vrijwilligersvergoeding op regelmatige, niet incidentele, basis werkzaam is in de kinderopvang en is belast met de
            verzorging, de opvoeding en het bijdragen aan de ontwikkeling van kinderen;.</p>
          <p class="tussenkop">
            <strong class="tussenkop_rom">
              <a id="d25e51" name="d25e51"></a>II</strong>
          </p>
          <p>Artikel I, onderdeel U2, komt als volgt te luiden:</p>
          <p class="tussenkop">
            <strong class="tussenkop_rom">
              <a id="d25e56" name="d25e56"></a>U2</strong>
          </p>
          <p>Het tot artikel 1.56b vernummerde artikel wordt als volgt gewijzigd:</p>
          <p>1. In het derde lid wordt na de zinsnede «hun hoofdverblijf hebben,» een zinsnede ingevoegd, luidende: alsmede de daar
            werkzame vrijwilligers,.
          </p>
          <p>2. In het zesde lid wordt «De artikelen 51, 53, 54 en 55» vervangen door: De artikelen 1.51, 1.53, 1.54 en 1.55.</p>
          <p
            class="tussenkop">
            <strong class="tussenkop_rom">
              <a id="d25e64" name="d25e64"></a>III</strong>
          </p>
          <p>Artikel III, onderdeel C komt als volgt te luiden:</p>
          <p class="tussenkop">
            <strong class="tussenkop_rom">
              <a id="d25e68" name="d25e68"></a>C</strong>
          </p>
          <p>Artikel 45 wordt als volgt gewijzigd:</p>
          <p>1. Na het eerste lid wordt een lid ingevoegd, luidende:</p>
          <p>1a. Diegene die met het toezicht op de leerlingen is belast, als bedoeld in het eerste lid, is in het bezit van een verklaring
            omtrent het gedrag, afgegeven volgens de Wet justitiële en strafvorderlijke gegevens. De verklaring, bedoeld in de
            eerste volzin, wordt aan het bevoegd gezag overgelegd en is op het moment dat zij wordt overgelegd, niet ouder dan
            twee maanden.</p>
          <p>2. In het tweede en derde lid, wordt «Wet kinderopvang» telkens vervangen door: «Wet kinderopvang en kwaliteitseisen
            peuterspeelzalen».</p>
          <p class="tussenkop">
            <strong class="tussenkop_vet">
              <a id="d25e79" name="d25e79"></a>Toelichting</strong>
          </p>
          <p>De indiener is van mening dat elke vrijwilliger die in de kinderopvang werkzaam is een verklaring omtrent het gedrag
            moet kunnen overleggen.</p>
          <p>Dezentjé Hamming-Bluemink</p>
        </div>
      </div>    </article>

  </div>
</div>
