<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="dossier">31 288
          <br>Hoger Onderwijs-, Onderzoek- en Wetenschapsbeleid</h1>
        <div>
          <a id="d25e29" name="d25e29"></a>
          <h2 class="stuktitel">nr. 79
            <br>
            <a id="d25e35" name="d25e35"></a>BRIEF VAN DE MINISTER VAN ONDERWIJS, CULTUUR EN WETENSCHAP</h2>
          <a id="d25e37" name="d25e37"></a>
          <div class="context">
            <p>Aan de Voorzitter van de Tweede Kamer der Staten-Generaal</p>
            <p>Den Haag, 17 december 2009</p>
          </div>
          <p class="tussenkop">
            <strong class="tussenkop_vet">
              <a id="d25e43" name="d25e43"></a>Algemeen</strong>
          </p>
          <p>In mijn brief van 24&nbsp;juni 2009 (Kamerstuk 31&nbsp;700 VIII, nr. 207) heb ik toegezegd u voor het einde van dit jaar
            te rapporteren over de inventarisatie van initiatieven die door de hoger onderwijsinstellingen genomen worden op het
            gebied van het verbeteren van kwaliteit van taalvaardigheid in het Engels van docenten. Hierbij kom ik mijn toezegging
            na.</p>
          <p>Ten behoeve van de genoemde inventarisatie heb ik de instellingen verzocht een aantal vragen te beantwoorden (zie verder
            hierna). Daarnaast zijn studenten in het kader van de Nationale Studenten Enquête gevraagd een oordeel te geven over
            de kwaliteit van het Engels van de docenten. Ook zijn er algemene conclusies over de kwaliteit van het Engels af te
            leiden uit de accreditaties van de NVAO.</p>
          <p>Op grond van deze informatie kom ik tot de conclusie dat de kwaliteit van de Engelse taalvaardigheid van docenten in
            het hoger onderwijs voldoende is. Studenten en accreditaties zijn, voor zover bekend, overwegend positief hierover.
            Er is in een beperkt aantal gevallen onder visitatiepanels wel kritiek op de kwaliteit van het Engels. Ook is het gemiddelde
            cijfer dat hbo en wo-studenten aan de kwaliteit van het Engels van hun docenten toekennen niet erg hoog (6,9) te noemen.
            Daartegenover staat dat de meeste universiteiten en hogescholen zich inspannen om de kwaliteit van het Engels onder
            docenten te borgen en te verhogen.</p>
          <p class="tussenkop">
            <strong class="tussenkop_vet">
              <a id="d25e51" name="d25e51"></a>Inventarisatie onder instellingen</strong>
          </p>
          <p>Ter toelichting op de inspanningen in het hoger onderwijs zal ik nader ingaan op de inventarisatie onder de instellingen.
            In verband daarmee zijn de volgende vragen aan de instellingen voorgelegd:</p>
          <p>1. Heeft u op instellings-, instituuts- of opleidingsniveau doelstellingen geformuleerd ten aanzien van de kwaliteit
            van de mondelinge en schriftelijke uitdrukkingsvaardigheid in het Engels van uw docentenkorps?</p>
          <p>2. Kunt u aangeven op welke wijze u deze kwaliteit intern bewaakt (opname Engelse taal in Basis Kwalificatie Onderwijs,
            gedragscode, andere interne normen, etc.)?</p>
          <p>3. Kunt u weergeven welke inspanningen u pleegt om de kwaliteit van het Engels van uw docentenkorps verder te verhogen
            in het licht van het toenemend aantal aangeboden Engelstalige opleidingen?</p>
          <p>4. Kunt u weergeven welke bestaande initiatieven er reeds zijn om de Engelse taalvaardigheid van uw docentenkorps te
            verankeren in het personeelsbeleid?</p>
          <p>Uit de reacties van de instellingen (dat zijn alle universiteiten, op twee na, en meer dan de helft van de hogescholen)
            zijn de volgende antwoorden af te leiden:</p>
          <p class="tussenkop">
            <strong class="tussenkop_cur">
              <a id="d25e66" name="d25e66"></a>Doelstellingen voor verbetering kwaliteit</strong>
          </p>
          <p>Vrijwel alle instellingen hebben doelstellingen geformuleerd ten aanzien van de kwaliteit van het Engelstalige onderwijs,
            zowel op instellingsniveau als specifieke doelstellingen op instituuts- of opleidingsniveau (volgens de richtlijn van
            het
            <em>Common European Framework ofReference for Languages – CEFR –</em>). Eén van de achtergronden daarvan is dat de meeste
            instellingen zich in 2006 hebben gecommitteerd aan de Gedragscode Internationale Student, waarmee expliciete voorwaarden
            zijn geaccepteerd ten aanzien van o.a. het Engelstalige onderwijs aan de instelling.</p>
          <p>Uiteraard is er in hoge mate sprake van differentiatie naar verschillende opleidingen en de betreffende beroepenvelden.
            Zo wordt het opleidingsprogramma van de Hotelschool Den Haag uitsluitend in het Engels verzorgd, aangezien de managementfuncties
            in de gastvrijheidindustrie per definitie internationaal zijn. Het onderwijs van bijvoorbeeld de geneeskundeopleidingen
            wordt daarentegen primair in het Nederlands gegeven vanwege de sterke verwevenheid met de patiëntenzorg.</p>
          <p class="tussenkop">
            <strong class="tussenkop_cur">
              <a id="d25e75" name="d25e75"></a>Bewaking en bevordering kwaliteit</strong>
          </p>
          <p>De bewaking en bevordering door de instellingen van de kwaliteit van Engelse taalvaardigheid onder docenten krijgt op
            verschillende manieren vorm. Veel voorkomend zijn de volgende elementen:</p>
          <p>• In studentevaluaties wordt het niveau van de Engelse spreekvaardigheid van docenten gemeten en geëvalueerd.</p>
          <p>• Docenten en medewerkers worden tussentijds taalassessments Engels (volgens de
            <em>CEFR</em>) afgenomen.</p>
          <p>• Training in Engelse taalvaardigheid wordt meegenomen in de Basiskwalificatie Onderwijs, die universitaire docenten
            moeten behalen, en in de functie- en competentieprofielen van hbo-docenten.</p>
          <p>• Er worden voor docenten cursussen Engelse spreekvaardigheid en schrijfvaardigheid aangeboden op verschillende niveaus,
            waaronder
            <em>Cambridge Certificate</em> cursussen.</p>
          <p class="tussenkop">
            <strong class="tussenkop_cur">
              <a id="d25e94" name="d25e94"></a>Verankering in personeelsbeleid</strong>
          </p>
          <p>De meeste instellingen hebben Engelse taalvaardigheid van hun docenten aldus verankerd in het personeelsbeleid:</p>
          <p>• Engelse taalvaardigheid wordt meegenomen in de selectieprocedures van docenten. Voor veel posities wordt internationaal
            geworven, waardoor er meer colleges door
            <em>native speakers</em> kunnen worden verzorgd.
          </p>
          <p>• In functioneringsgesprekken is Engelse taalvaardigheid een verplicht aandachtspunt. Als uit de studentevaluaties blijkt
            dat de kwaliteit van het Engels onder de maat is, wordt dit besproken in de functioneringsgesprekken en wordt de betreffende
            docent voor bijscholing doorverwezen naar het talencentrum van de instelling.</p>
          <p>Kortheidshalve verwijs ik u verder naar de bijlage bij deze brief (zie bijgaand), waarin per instelling de belangrijkste
            maatregelen schematisch in kaart zijn gebracht.</p>
          <p class="tussenkop">
            <strong class="tussenkop_cur">
              <a id="d25e107" name="d25e107"></a>Nationale Studenten Enquête</strong>
          </p>
          <p>Naast de evaluaties onder studenten op opleidingsniveau is er ook een landelijk beeld van hoe studenten gemiddeld de
            kwaliteit van de Engelse taalvaardigheid onder hun docenten waarderen. De gegevens hierover zijn afkomstig uit de Nationale
            Studenten Enquête 2009, waarin specifiek wordt gevraagd naar de mening van studenten op dit punt. In 2009 hebben 21&nbsp;896
            studenten aan bekostigde en aangewezen instellingen op deze vraag geantwoord. Daaruit blijkt het volgende:</p>
          <p>• Studenten waarderen de kwaliteit van het Engels van docenten met een gemiddeld rapportcijfer van 6,9.</p>
          <p>• In het wo ligt de gemiddelde waardering iets hoger (7,0) dan in het hbo (6,7).</p>
          <p>• De gemiddelde waardering in de bacheloropleidingen is 6,8 en in de masteropleidingen 7,2.</p>
          <p>• Studenten in het private onderwijs geven een iets hogere waardering (7,1) dan studenten in het publieke onderwijs (6,9).</p>
          <p>• De gemiddelde waardering verschilt van sector tot sector: Economie (6,7), Techniek (6,8), Onderwijs (6,8), Gedrag &amp;
            Maatschappij (6,8), Gezondheidszorg (6,9), Recht (6,9), Landbouw (7,0), Natuur (7,1) en Taal &amp; Cultuur (7,6).</p>
          <p
            class="tussenkop">
            <strong class="tussenkop_cur">
              <a id="d25e122" name="d25e122"></a>Accreditaties</strong>
          </p>
          <p>Naar aanleiding van de accreditaties van de opleidingen zijn nog enkele algemene opmerkingen te maken over de kwaliteit
            van het Engels in het hoger onderwijs:
          </p>
          <p>• In een beperkt aantal gevallen wordt door visitatiepanels melding gemaakt van problemen met de taalvaardigheid van
            docenten en studenten. Er is echter geen sprake van een consistent klachtenpatroon.</p>
          <p>• Steeds meer opleidingen geven aandacht aan de training van de taalvaardigheid van docenten.</p>
          <div class="ondertekening">
            <a id="d25e130" name="d25e130"></a>
            <p>De minister van Onderwijs, Cultuur en Wetenschap,</p>
            <p>R. H. A. Plasterk </p>
          </div>
          <a id="d25e135" name="d25e135"></a>
          <h2 class="bijlage_kop">
            <a id="d25e136" name="d25e136"></a>BIJLAGE</h2>
          <p class="tussenkop">
            <strong class="tussenkop_vet">
              <a id="d25e138" name="d25e138"></a>Overzicht initiatieven ter verbetering kwaliteit van de Engelse taalvaardigheid van docenten</strong>
          </p>
          <p class="tussenkop">
            <strong class="tussenkop_vet">
              <a id="d25e140" name="d25e140"></a>Universiteiten </strong>
          </p>
          <table>
            <thead>
              <tr class="head-row1">
                <th rowspan="1" class="top">Instelling</th>
                <th rowspan="1" class="top">Kwaliteitbewaking </th>
                <th rowspan="1" class="top">Kwaliteitverhoging </th>
                <th rowspan="1" class="top">Verankering </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="1" class="top">TU/E</td>
                <td rowspan="1" class="top">Assessments; inschaling niveau op CEFR-schaal. </td>
                <td rowspan="1" class="top">Verplichte taalcursussen </td>
                <td rowspan="1" class="top">Jaarlijkse voortgangsgesprekken. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Twente</td>
                <td rowspan="1" class="top">Jaarverslagen faculteiten; gedragscode internationale student; gedragscode voertalen; vakevaluaties </td>
                <td rowspan="1"
                  class="top">Trainingadvies na beoordeling door Taal Coördinatie Punt </td>
                <td rowspan="1" class="top">In jaargesprekken met docenten; taaleis in sollicitatieprocedures </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">TUD </td>
                <td rowspan="1" class="top">Minimumeisen; Kwaliteitszorgsysteem; vakevaluaties; Niveau docent in personeelsregistratie-systeem </td>
                <td rowspan="1"
                  class="top">Ontwikkelingsdoelen vastgesteld; toetsen; cursussen: examens </td>
                <td rowspan="1" class="top">Jaarlijkse Resultaat &amp; Ontwikkelcyclus (R&amp;O); aannamebeleid, bevorderingsbeleid. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Wageningen UR</td>
                <td rowspan="1" class="top">Studentenenquetes: bij lage score is uitkomst enquete onderdeel in R&amp;O. </td>
                <td rowspan="1" class="top">Quick placements test; interne cursussen; in BKO aandacht voor culturele diversiteit; cursussen kunnen worden verplicht
                  </td>
                <td rowspan="1" class="top">Rol in aannamebeleid, R&amp;O-cyclus en loopbaanbeleid docenten </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">VU </td>
                <td rowspan="1" class="top">Taaleis C1 vastgelegd in gedragscode vreemde talen; toezicht met HRM-beleid; studentenevaluaties; </td>
                <td rowspan="1"
                  class="top">Taaltoets, scholingsadvies; cursussen; bij score later dan C1 volgt evt. scholing. </td>
                <td rowspan="1" class="top">Engelse taalvaardigheid is basiskennis van alle docenten; </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">UvA </td>
                <td rowspan="1" class="top">In BKO opgenomen; onderwijsevaluaties </td>
                <td rowspan="1" class="top">taaltoets door The Language Academy (TLA); Rapportage TLA naar faculteiten; scholingsadvies TLA; diverse cursussen.
                  </td>
                <td rowspan="1" class="top">jaargesprekken; Functioneringsgesprekken </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">UU</td>
                <td rowspan="1" class="top">Voornemens minimumeisen op te nemen in BKO. </td>
                <td rowspan="1" class="top">Toetsen, scholingsadviezen, cursussen. Masterclass «Teaching in the International classroom». </td>
                <td rowspan="1"
                  class="top">– </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">RUG </td>
                <td rowspan="1" class="top">Minimumeis B2/C1; BKO; studentenevaluaties; vakevaluaties; International Student Barometer (ISB) </td>
                <td rowspan="1"
                  class="top">In 2004–2005 1.35 mln beschikbaar gesteld voor hele instelling; </td>
                <td rowspan="1" class="top">In BKO. Alleen docent met B2/C1 niveau mag Engelstalig onderwijs verzorgen. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">EUR </td>
                <td rowspan="1" class="top">BKO; minimumeis C1; studentenenquetes;
                </td>
                <td rowspan="1" class="top">Toetsen; adviezen; trainingen; </td>
                <td rowspan="1" class="top">In BKO </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">UM </td>
                <td rowspan="1" class="top">Minimumeis B2/C1; studentenevaluaties; </td>
                <td rowspan="1" class="top">Trainingen; uitgebreid aanbod cursussen
                </td>
                <td rowspan="1" class="top">In wervings- en selectieprocedure; Bij stijgend aantal studentefunctie is C1 geïndiceerd. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">RU </td>
                <td rowspan="1" class="top">Minimumeis C2; Commissie Taalbeleid Engels, adviseert bij verbeteren, verankeren, en waarborgen kwaliteit; onderwijsevaluaties;
                  BKO door sommige faculteiten. </td>
                <td rowspan="1" class="top">Toetsen, scholingsadvies; cursussen/trainingen</td>
                <td rowspan="1" class="top">Functioneringsgesprekken; In wervings- en selectieprocedure; Alleen docent met near native-C2 niveau mag Engelstalig
                  onderwijs verzorgen.</td>
              </tr>
              <tr>
                <td rowspan="1" class="top">UvT </td>
                <td rowspan="1" class="top">Minimumeis; jaarlijks taalassessments; vakevaluaties; International Student Barometer (ISB) </td>
                <td rowspan="1"
                  class="top">Toetsen, scholingsadvies; cursussen/trainingen </td>
                <td rowspan="1" class="top">Functie-eis in wervings- en selectieprocedure; steeds meer internationale docenten.</td>
              </tr>
            </tbody>
          </table>
          <p class="tussenkop">
            <strong class="tussenkop_vet">
              <a id="d25e268" name="d25e268"></a>Hogescholen </strong>
          </p>
          <table>
            <thead>
              <tr class="head-row1">
                <th rowspan="1" class="top">Instelling</th>
                <th rowspan="1" class="top">Kwaliteitbewaking </th>
                <th rowspan="1" class="top">Kwaliteitverhoging </th>
                <th rowspan="1" class="top">Verankering</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="1" class="top">Gereformeerde Hogeschool </td>
                <td rowspan="1" class="top">Verantwoordelijkheid kwaliteit bij academiedirecteuren; Kwaliteitsmeting in kwaliteitszorgsysteem
                </td>
                <td rowspan="1" class="top">Niveaumetingen; cursussen; inzet docenten in Engelstalige colleges; geven colleges buitenlandse collega-instituten
                  </td>
                <td rowspan="1" class="top">Middels het «gewoon»-maken van colleges in Engels; beoordelen&amp;belonen, POP-cylcus. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Hanze-hogeschool </td>
                <td rowspan="1" class="top">gedragscode internationale student; gewenst niveau C1; bij enkele instituten «eis» C1
                </td>
                <td rowspan="1" class="top">Corporate Academy verzorgt scholingsaanbod personeel; </td>
                <td rowspan="1" class="top">onderdeel HRM-cyclus; bij enkele instituten advies bindend. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">INHolland</td>
                <td rowspan="1" class="top">minimumeis B2/C1; profiel internationale &amp; crossculturele oriëntatie opgesteld met Engels taalvaardigheid docenten
                  hierin opgenomen. </td>
                <td rowspan="1" class="top">Ism INHolland Academy wordt gewerkt aan scholingsaanbod; Dienst «Internationalisering» waarborgt en stroomlijnt
                  kwaliteit van internationalisering in curricula opleidingen </td>
                <td rowspan="1" class="top">Voornemen om opgestelde profiel in functie- en competentieprofielen docenten te integreren. R&amp;O, POP, functionerings-
                  en beoordelingsgesprekken.</td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Hogeschool Rotterdam </td>
                <td rowspan="1" class="top">Instituten die Engelstalig onderwijs verzorgen borgen kwaliteit; docenten zijn geselecteerd op aantoonbare ervaring/diploma’s
                  e.d. </td>
                <td rowspan="1" class="top">Scholingsaanbod tot professionalisering; trajecten op maat; Cambridge Advanced Certificate mogelijk bij sommige
                  instituten. </td>
                <td rowspan="1" class="top">Engels taalvaardigheid opgenomen in personeelsbeleid; POP; Mogelijkheden voor alle docenten die in Engels les willen
                  gaan geven. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Hogeschool Utrecht </td>
                <td rowspan="1" class="top">BKO; evaluaties; Afspraken normering en borging kwaliteit vreemde talen en talencentrum zijn in ontwikkeling; nog
                  vaststellen welke expertiseontwikkeling (ook taaltraining) noodzakelijk zijn voor verdere internationalisering.
                  </td>
                <td rowspan="1" class="top">Cursus «How to teach your subject in English» bij Centre for Language and Culture mogelijk; Cambridge Examen Business
                  English C1. </td>
                <td rowspan="1" class="top">op diverse instituten verschillende initiatieven: wervings- en selectieprocedure; functionerings- en beoordelingsgesprekken;
                  </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Hogeschool van Amsterdam</td>
                <td rowspan="1" class="top">in BKO; minimumeisen; kwaliteitsmetingen docenten; studentenevaluaties; vakevaluaties; </td>
                <td rowspan="1" class="top">taaltesten; trainingen/scholingen; streven naar meer native speakers. </td>
                <td rowspan="1" class="top">bij div. opleidingen bij sollicitaties als voorwaarde; functionerings- en beoordelingsgesprekken. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Hogeschool Arnhem en Nijmegen</td>
                <td rowspan="1" class="top">studentenevaluaties; vakevaluaties; bij niet aantoonbaar niveau C2 van aan te nemen docenten wordt Engels intern
                  getoetst. </td>
                <td rowspan="1" class="top">2x per jaar Cambridge cursussen intellingsbreed; Coaching on de job-traject; uitspraaktrainingen; cursus aan Kingsmore
                  Institute England. Docenten-uitwisselingsprogramma met buitenland. </td>
                <td rowspan="1" class="top">R&amp;O-gesprekken; functionering- beoordelingsgesprekken. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Hogeschool Zeeland</td>
                <td rowspan="1" class="top">minimale niveau is vastgesteld en HZ-breed uitgezet; Cambridge trainingen verplicht gesteld; Interne normen moeten
                  nog geformuleerd worden. </td>
                <td rowspan="1" class="top">Cursussen; Cambridge trainingen; tailormade cursussen (bijv. technisch Engels); toename native speakers </td>
                <td
                  rowspan="1" class="top">voorkeur voor native speakers in wervingen selectiebeleid; Kennisatlas: geeft zicht op niveau docenten; minimale
                  advanced niveau vereist bij vast benoeming. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Hogeschool Zuyd </td>
                <td rowspan="1" class="top">gedragscode Omgang Internationale Student in HO; </td>
                <td rowspan="1" class="top">gericht scholingsaanbod; professionalisering en ontwikkeling; taalcursussen ter voorbereiding op Cambridge examens
                </td>
                <td rowspan="1" class="top">Opgenomen in HRM managementbeleid; </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Hotelschool Den Haag</td>
                <td rowspan="1" class="top">Uitsluitend Engelstalig onderwijs; taalassessments door Horizon Interlingua </td>
                <td rowspan="1" class="top">taaltrainingen/cursussen; </td>
                <td rowspan="1" class="top">functionerings- en beoordelingsgesprekken; POP; Functie-eis bij werving- en selectie.
                </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Iselinge Hogeschool </td>
                <td rowspan="1" class="top">In instellingsplan is Engelse taalvaardigheid opgenomen </td>
                <td rowspan="1" class="top">professionaliseringstraject waarbij Engels literatuur bestudeerd moet worden; </td>
                <td rowspan="1" class="top">werving- en selectie; in verplichte POP; functionerings- en beoordelingsgesprekken. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">NHTV</td>
                <td rowspan="1" class="top">minimumeisen; streven 2013 alle docenten op niveau C2; studentenevaluaties; algemene kwaliteitssysteem. </td>
                <td
                  rowspan="1" class="top">quick placements test; cursussen; trainingen; opfriscursussen. </td>
                <td rowspan="1" class="top">In personeelsbeleid; functionerings- en beoordelingsgesprekken; </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Saxion </td>
                <td rowspan="1" class="top">in BKO; invoering Gedragscode Anderstalig Onderwijs </td>
                <td rowspan="1" class="top">testen; scholing; maatwerkopleidingen door International Office van Saxion; Cambridge Advanced Certificate </td>
                <td
                  rowspan="1" class="top">Opname functieprofiel; funtie-eis bij werving- en selectie; functionerings- en beoordelingsgesprekken </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Stenden Hogeschool </td>
                <td rowspan="1" class="top">– </td>
                <td rowspan="1" class="top">intakes/screening; cursussen; Cambridge Advanced Certificate; discussies en workshopsessies </td>
                <td rowspan="1"
                  class="top">ontwikkelplan opgenomen in personeelsbeleid </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">St. Hogeschool Van Hall Larenstein</td>
                <td rowspan="1" class="top">kwaliteit wordt per opleiding bewaakt; basisniveau vastgesteld; gedragscode </td>
                <td rowspan="1" class="top">scholingsplan; apart budget beschikbaar</td>
                <td rowspan="1" class="top">functionerings- en beoordelingsgesprekken; scholingsplan.</td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Gerrit Rietveld Academie </td>
                <td rowspan="1" class="top">studentenevaluaties; vakevaluaties</td>
                <td rowspan="1" class="top">geen toename Engelstalige opleidingen; bijscholing mogelijk. aantal jaren geleden instellingsbreed bijscholing
                  Engels aangeboden.</td>
                <td rowspan="1" class="top">in werving- en selectieprocedures; functioneringsgesprekken </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">De hogeschool van Beeldende kunsten, Muziek en Dans </td>
                <td rowspan="1" class="top">–-</td>
                <td rowspan="1" class="top">Bijscholing mogelijk </td>
                <td rowspan="1" class="top">Ervaring met beheersing Engelse taal is zeer positief. Geen structurele initiatieven nodig. </td>
              </tr>
              <tr>
                <td rowspan="1" class="top">Hogeschool de Kempel </td>
                <td rowspan="1" class="top">uitsluitend Nederlandstalig Onderwijs. </td>
                <td rowspan="1" class="top">– </td>
                <td rowspan="1" class="top">–</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>    </article>

  </div>
</div>
