<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">
    <article>
      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="stuktitel">
          <a id="d16e36" name="d16e36"></a>
          <span class="stuknummer">2014D29975</span> Inbreng verslag van een schriftelijk overleg
        </h1>
        <div class="nds-stuk">
          <div class="algemeen">

            <p>Binnen de vaste commissie voor Economische Zaken hebben de onderstaande fracties de behoefte vragen en opmerkingen
              voor te leggen aan de Staatssecretaris van Infrastructuur en Milieu over het Advies Corbey inzake dubbeltelling biobrandstoffen,
              ILUC-akkoord en toezeggingen biobrandstoffenbeleid (Kamerstuk
              <a href="kst-32813-92.html" title="link naar publicatie kst-32813-92">32&nbsp;813, nr. 92</a>).
            </p>

            <p class="ondertekening">
              <span class="functie">De voorzitter van de vaste commissie voor Economische Zaken,</span>
              <span class="naam">
                <span class="achternaam">Hamer</span>
              </span>

            </p>
            <p class="ondertekening">
              <span class="functie">Adjunct-griffier van de vaste commissie voor Economische Zaken,</span>
              <span class="naam">
                <span class="achternaam">Thomassen</span>
              </span>

            </p>
          </div>
          <div class="algemeen">

            <table class="xml portrait" cellspacing="0" border="0">
              <colgroup>
                <col title="col1" class="pct8">
                <col title="col2" class="pct92">
              </colgroup>
              <tbody class="left top tbody">
                <tr class="left middle odd">
                  <td class="left top" colspan="2">

                    <p>
                      <strong class="vet">Inhoudsopgave</strong>
                    </p>

                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">

                    <p>
                      <strong class="vet">I</strong>
                    </p>

                  </td>
                  <td class="left top">

                    <p>
                      <strong class="vet">Vragen en opmerkingen vanuit de fracties</strong>
                    </p>

                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">

                    <p>
                      <strong class="vet">Vragen en opmerkingen van de leden van de VVD-fractie</strong>
                    </p>

                  </td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">

                    <p>
                      <strong class="vet">Vragen en opmerkingen van de leden van de PvdA-fractie</strong>
                    </p>

                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">

                    <p>
                      <strong class="vet">Vragen en opmerkingen van de leden van de SP-fractie</strong>
                    </p>

                  </td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">

                    <p>
                      <strong class="vet">Vragen en opmerkingen van de leden van de D66-fractie</strong>
                    </p>

                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">

                    <p>
                      <strong class="vet">II</strong>
                    </p>

                  </td>
                  <td class="left top">

                    <p>
                      <strong class="vet">Antwoord / Reactie van de Minister</strong>
                    </p>

                  </td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">

                    <p>
                      <strong class="vet">III</strong>
                    </p>

                  </td>
                  <td class="left top">

                    <p>
                      <strong class="vet">Volledige agenda</strong>
                    </p>

                  </td>
                </tr>
              </tbody>
            </table>

            <h2 class="divisiekop1">
              <a id="d16e161" name="d16e161"></a>I Vragen en opmerkingen vanuit de fracties
            </h2>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Vragen en opmerkingen van de leden van de VVD-fractie</strong>
            </p>
            <p>De leden van de VVD-fractie hebben kennisgenomen van het Advies Corbey inzake dubbeltelling biobrandstoffen, ILUC-akkoord
              en toezeggingen biobrandstoffenbeleid. Zij hebben hierover enkele vragen. Deze leden lezen dat weinig lidstaten voorstander
              zijn van het behoud van de CO
              <sub>2</sub>-reductiedoelstelling in de Brandstofkwaliteitsrichtlijn (FQD), dit in tegenstelling tot Nederland. Voorts
              lezen zij dat de Staatssecretaris met andere lidstaten in gesprek is om sturing op brandstoffen in EU-verband op
              alternatieve wijze voort te zetten. Deelt de Staatssecretaris de mening dat het beter is om te sturen op CO
              <sub>2</sub> omdat dit technologieneutraal is en beter is voor behoud van een level-playing-field? En deelt zij de mening
              dat de well-to-wheel-benadering in dit verband het meest geschikt is? Is de Staatssecretaris van mening dat dit voldoende
              wordt geborgd door het algehele Europese doel van 27% hernieuwbare energie? Kan zij dit toelichten? De leden van
              de VVD-fractie vinden sturing op brandstoffen onwenselijk, bijvoorbeeld vanwege de marktverstoring die dan optreedt.
              Kan de Staatssecretaris toelichten waarom zij hier toch op aanstuurt in EU-verband? Hoe beoordeelt zij de gevolgen
              hiervan voor het level-playing-field, ook aangezien veel lidstaten hier helemaal niet voor zijn? Welke gevolgen heeft
              dit voor de Nederlandse brandstofketen voor het wegtransport? Deze leden lezen in het advies van de Commissie Corbey
              dat dubbeltelling onvoldoende heeft geleid tot nieuwe technologieën. Kan de Staatssecretaris aangeven welke conclusies
              zij hieruit trekt voor de toekomst? Deelt de Staatssecretaris de mening dat dit laat zien dat innovatie niet noodzakelijkerwijs
              ontstaat door sturing van bovenaf, maar juist vanuit de markt? Deelt zij verder de mening dat dat dit alleen bereikt
              kan worden door het vaststellen van een CO
              <sub>2</sub>-reductiedoelstelling? Kan de Staatssecretaris dit toelichten? De leden van de VVD-fractie lezen dat de Staatssecretaris
              de dubbeltelling niet vervroegd wil afschaffen, omdat dit tot onzekerheid en onrust in de markt zou leiden. Zij vernemen
              echter ook geluiden dat het voor marktpartijen soms onduidelijk is of bepaalde biobrandstoffen voor dubbeltelling
              in aanmerking komen. De leden van de VVD-fractie lezen in het advies van de Commissie Corbey dat er onder andere
              onduidelijkheid is over het (gedeeltelijk) dubbeltellen op basis van het aandeel lignocellulose in biobrandstoffen.
              Zijn deze geluiden de Staatssecretaris ook bekend en is zij bereid hier iets aan te doen wanneer zij de dubbeltelling
              niet vervroegd wil afschaffen? Is de Staatssecretaris bereid om het advies van de Commissie Corbey inzake dubbeltelling
              voor biobrandstoffen met lignocellulose te volgen door gedeeltelijke dubbeltelling af te schaffen? De leden van de
              VVD-fractie lezen dat er in het nieuwe ILUC-akkoord geen ILUC-factoren zijn opgenomen, maar dat deze mogelijk na
              2020 alsnog ingevoerd worden. Deze leden vragen hoe groot de Staatssecretaris de kans acht dat deze na 2020 inderdaad
              ingevoerd worden? Kan zij aangeven hoe deze ILUC-factoren er naar verwachting ongeveer uit zullen zien? Kan zij inzicht
              geven in welke landen voor en tegen ILUC-factoren waren tijdens de onderhandelingen en kan zij op basis daarvan een
              inschatting maken in hoeverre invoering van ILUC-factoren na 2020 reëel is? Deelt de Staatssecretaris de mening dat
              wanneer de ILUC-factoren na 2020 niet reëel blijken, Nederland dit streven moet laten varen? Zo nee, waarom niet?
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Vragen en opmerkingen van de leden van de PvdA-fractie</strong>
            </p>
            <p>De leden van de PvdA-fractie hebben met belangstelling kennisgenomen van de brief omtrent het Advies Corbey inzake
              dubbeltelling biobrandstoffen, ILUC-akkoord en toezeggingen biobrandstoffenbeleid. Zij hechten veel waarde aan het
              advies dat stand is gekomen door middel van overleg tussen de diverse partijen in biobrandstoffensector. Deze leden
              stellen vast dat de Commissie Corbey enerzijds adviseert om de dubbeltellingsregeling op termijn af te schaffen en
              de stimulering van biobrandstoffen volledig te realiseren via CO
              <sub>2</sub>-doelen. Anderzijds constateert de regering dat de Europese Commissie voorstelt om vanaf 2020 de Brandstofkwaliteitsrichtlijn
              (FQD) af te schaffen. De Staatssecretaris constateert verder dat er tot nu toe weinig draagvlak lijkt te zijn onder
              de lidstaten om de FQD toch te handhaven. De leden van de PvdA-fractie steunen de inspanningen van de regering om
              de FQD toch te handhaven. Zij delen daarom de conclusie van de regering dat het voorlopig onverstandig is om het
              einde van de dubbeltellingregeling aan te kondigen. Dit kan pas als er zicht is op een duidelijk en goed onderbouwd
              alternatief. Deze leden zijn verheugd dat er eindelijk een akkoord is gesloten over het beperken van ILUC. Zij zijn
              niet tevreden met het gesloten compromis maar zagen in dat dit het hoogst haalbare resultaat was gezien de opstelling
              van de andere lidstaten. De leden van de PvdA-fractie zijn nog niet overtuigd dat dit akkoord ruimte geeft om een
              versnelde groeipad alsnog in te voeren en vragen de Staatssecretaris om duidelijk toe te lichten hoe zij dit gestalte
              wil geven en vooral hoe in dat geval voorkomen wordt dat deze ophoging alleen met geavanceerde biobrandstoffen zal
              plaatsvinden.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Vragen en opmerkingen van de leden van de SP-fractie</strong>
            </p>
            <p>De leden van de SP-fractie hebben kennisgenomen van de brief «Advies Corbey inzake dubbeltelling biobrandstoffen, ILUC-akkoord
              en toezeggingen biobrandstoffenbeleid» maar hebben hier nog een aantal vragen over. Zij zijn erover verheugd dat
              de Staatssecretaris actief de marktintroductie van biobrandstoffen in ons land wil stimuleren. Wat voor concrete
              stappen zijn hiervoor reeds ondernomen en hebben deze al meetbaar effect teweeg gebracht? Welke fondsen heeft de
              overheid hiervoor vrij gemaakt? De leden van de SP-fractie houden graag zicht op de alternatieven voor dubbeltelling
              van biobrandstoffen. Deze leden vinden dat voor biobrandstoffen geen gewassen of delen van gewassen behoren te worden
              gebruikt die een andere nuttige functie hebben, zoals in voedseltoepassingen, conform de Ladder van Lansink. Zij
              zijn blij met de belofte dat de Staatssecretaris actief gaat kijken naar de alternatieven. Dat de uitvoering van
              deze taak op een laag pitje staat, in afwachting van de uitvoeringsbepalingen betreffende de berekening van CO
              <sub>2</sub>-emissies van diverse fossiele brandstofbronnen, is verontrustend. Kan de Staatssecretaris extra haast maken
              met het verkrijgen van deze informatie? De leden van de SP-fractie zien graag dat de jaarverplichting bijmenging
              biomassa voor 100% met geavanceerde biomassa wordt bereikt, waarvoor geen andere nuttige functies zijn. Het klinkt
              hoopvol dat de Staatssecretaris hier aanknopingspunten voor ziet. Deze leden willen graag geïnformeerd worden over
              de voortgang van de beleidsvorming hieromtrent. Welke concrete maatregelen en acties gaat het kabinet nemen om dit
              doel in 2016 te bewerkstelligen? En wanneer stuurt het kabinet het definitieve beleidsstuk omtrent de energievisie
              naar de Kamer? De leden van de SP-fractie nemen met teleurstelling kennis van de beleidslijn van de Europese Commissie
              om de CO
              <sub>2</sub>-reductiedoelstelling in de brandstofketen voor het wegtransport in de Brandstofkwaliteitsrichtlijn (FQD)
              niet te continueren. Wat zijn voor Nederland de consequenties van deze plannen? En hoe denkt de Staatssecretaris
              potentiële negatieve effecten voor de ontwikkeling van geavanceerde biobrandstoffen te mitigeren? Deze leden zijn
              van mening dat duurzaamheidsciriteria voor de bijstook van biomassa in kolencentrales van essentieel belang zijn.
              In praktijk blijken deze criteria voor veel energiebedrijven te zwaar om mee te werken. Hoe gaat de Staatssecretaris
              ervoor zorgen dat toch de gewenste hoeveelheid duurzame bijstook verwezenlijkt wordt, zonder hier concessies te doen
              aan de duurzaamheidseisen? De leden van de SP-fractie zien het bijstoken van vaste biomassa als een belangrijke stap
              in het schoner stoken in kolencentrales. Dat deze biomassa moet voldoen aan duurzaamheidscriteria is essentieel.
              Waarom wil de overheid slechts voor maximaal 25 PJ aan bijstook stimuleren? Deze leden hebben kennisgenomen van de
              inzet om de innovatieve brandstof met 15% natte ethanol (hE15) in de toekomst ook aan particuliere autobezitters
              aan te bieden. Deze brandstof geeft minder uitstoot per eenheid dan traditionele Euro95-benzine, en is tegen dezelfde
              kosten te produceren. Loopt het onderzoek naar de mogelijkheid om deze brandstof toegestaan te krijgen op de markt
              volgens de regels van de FQD inmiddels? Zo ja, wanneer kunnen wij het resultaat hiervan tegemoet zien? Cascadering
              van biomassa, waarbij eerst de nuttige stoffen voor andere doeleinden eruit gehaald worden alvorens het een doel
              krijgt als brandstof, is volgens de leden van de SP-fractie een belangrijke manier om biomassa zo efficiënt mogelijk
              in te zetten. Momenteel is dit, lopende experimenten, nog niet op grote schaal toepasbaar, ook omdat er nog nieuwe
              criteria door het ECN aankomen. Binnen welk tijdspad is deze techniek gereed voor implementatie op grote schaal?
              Deze leden vinden het onwenselijk om hangende het onderzoek bestaande processen van duurzame biomassastook aan te
              houden. Dit zet de ontwikkelingen zoals gewenst binnen het Energieakkoord op slot. Welke stappen gaat de Staatssecretaris
              ondernemen om het geleidelijk laten meebewegen van de huidige op grote schaal haalbare processen naar toekomstige
              grootschalige cascadering te bespoedigen? De plannen van de Staatssecretaris voor het stimuleren van geavanceerde
              biobrandstoffen zijn een nuttige stap, maar volgens deze leden is het niet ambitieus genoeg om de in het Energieakkoord
              gestelde doelen te bewerkstelligen. Welke extra stappen gaat de Staatssecretaris ondernemen om sneller deze doelen
              te bereiken?
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Vragen en opmerkingen van de leden van de D66-fractie</strong>
            </p>
            <p>De leden van de D66-fractie hebben met grote belangstelling kennisgenomen van de reactie van het kabinet op het Advies
              van de Commissie Corbey inzake dubbeltelling biobrandstoffen, ILUC-akkoord en toezeggingen biobrandstoffenbeleid
              en willen de Staatssecretaris hierover nog enkele vragen voorleggen. Zij zijn blij dat er een Europese overeenkomst
              is voor de cap op biobrandstoffen uit voedselgewassen. Dat akkoord geeft ook de mogelijkheid dat lidstaten zelf een
              lagere cap instellen. Een Kamermeerderheid heeft eerder aangegeven een cap te willen van 5%, en deze leden horen
              graag van de Staatssecretaris of zij dit nu ook gaat doen. Deze leden hebben met plezier kennisgenomen van de mededeling
              van de Staatssecretaris dat zij overweegt het versnelde groeipad van de jaarverplichting alsnog in te voeren, waarbij
              de ophoging enkel met geavanceerde biobrandstoffen wordt ingevuld (p.4). Betekent dit dat de Staatssecretaris overweegt
              om de bijmeng van conventionele biobrandstoffen uit voedselgewassen te bevriezen op het huidige niveau? Zo niet,
              kan dan aan de voorwaarde worden voldaan dat de groei enkel plaatsvindt met geavanceerde biobrandstoffen? En hoe
              wil de Staatssecretaris zeker stellen dat een eventueel versneld groeipad in vergelijking met een lineair groeipad
              niet leidt tot de bijmeng van meer ongewenste biobrandstoffen gemaakt uit voedselgewassen, zoals biodiesel uit palmolie?
              De leden van de D66-fractie lezen dat de staatsecretaris pleit voor een onderzoek omtrent het gebruik van de Blue
              One 95 (hE15) brandstof. Kan de Staatssecretaris toelichten of er momenteel dergelijk onderzoek loopt, en zo niet,
              of zij een rol kan spelen in het aanjagen daarvan? Verder adviseert de Commissie Corbey over het niet weggooien van
              Used Cooking Oil (UCO) of frituurvet en dierlijke vetten. Deze leden willen graag een concrete reactie van de Staatssecretaris
              op het voorstel van een eventuele subdoelstelling voor UCO en dierlijke vetten. Als de Staatssecretaris een subdoelstelling
              geen goed idee vindt, horen deze leden graag welke alternatieven zij voor ogen heeft om de succesvolle toepassing
              van UCO in de toekomst te continueren.
            </p>
            <h2 class="divisiekop1">
              <a id="d16e202" name="d16e202"></a>II Antwoord / Reactie van de Minister
            </h2>
            <h2 class="divisiekop1">
              <a id="d16e205" name="d16e205"></a>III Volledige agenda
            </h2>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Advies Corbey inzake dubbeltelling biobrandstoffen, ILUC-akkoord en toezeggingen biobrandstoffenbeleid</strong>
            </p>
            <p>Brief regering d.d. 11-06-2014, Staatssecretaris van Infrastructuur en Milieu, W.J. Mansveld – Kamerstuk
              <a href="kst-32813-92.html"
                title="link naar publicatie kst-32813-92">32&nbsp;813, nr. 92</a>
            </p>
          </div>
        </div>

      </div>
      </article>

  </div>
</div>
