<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a name="id1-3-1">
            <!---->
          </a>Provincie Zeeland - Besluit tot het stellen van beperkingen aan de openbaarheid van archiefbescheiden</h1>
        <div class="regeling">
          <!---->
          <div class="aanhef">
            <a name="id1-3-2-1">
              <!---->
            </a>
            <div class="preambule">
              <!---->
              <p></p>
            </div>
          </div>
          <div class="regeling-tekst">
            <a name="id1-3-2-2">
              <!---->
            </a>
            <div class="hoofdstuk">
              <!---->
              <h2 class="hoofdstuk_kop">
                <a name="id1-3-2-2-1-1">
                  <!---->
                </a>
              </h2>
              <div class="structuurtekst">
                <!---->
                <p>
                  <strong class="vet">Besluit van de commissaris van de Koning</strong>
                  <strong class="vet">in</strong>
                  <strong class="vet"> Zeeland </strong>
                  <strong class="vet">nr. 14001536 </strong>
                  <strong class="vet">van </strong>
                  <strong class="vet">3 februari </strong>
                  <strong class="vet">2014 </strong>
                  <strong class="vet">tot het stellen van beperkingen aan de openbaarheid van archiefbescheiden.</strong>
                </p>
                <p class="tussenkop">
                  <strong class="tussenkop_cur"></strong>
                </p>
                <p>De Commissaris van de Koning in Zeeland,</p>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">•</span>Overwegende dat beperkingen aan de openbaarheid van archiefbescheiden uit het archief van de Commissaris
                      van de Koningin over de periode 1940-1969 moeten worden gesteld,</p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">•</span>Gelet op artikel 15, lid 1 onder c, van de Archiefwet 1995 en artikel 10 van het Archiefbesluit 1995;</p>
                  </li>
                </ul>
                <p>Besluit vast te stellen het navolgende:</p>
              </div>
            </div>
            <div class="hoofdstuk">
              <!---->
              <h2 class="hoofdstuk_kop">
                <a name="id1-3-2-2-2-1">
                  <!---->
                </a>I</h2>
              <div class="artikel">
                <!---->
                <h3 class="artikel_kop">
                  <a name="id1-3-2-2-2-2-1">
                    <!---->
                  </a>Artikel 1</h3>
                <p>Met het oog op de bescherming van de persoonlijke levenssfeer geldt voor de volgende inventarisnummers een openbaarheidsbeperking
                  van 75 jaar: 71-148; 149-253; 273-275; 279-280; 282-284; 299; 313; 469; 559-661; 725-847; 853-854. Het betreft
                  bescheiden over burgemeestersbenoemingen, benoemingen van bestuurders en secretarissen en andere privacygevoelige
                  bescheiden. </p>
              </div>
              <div class="artikel">
                <!---->
                <h3 class="artikel_kop">
                  <a name="id1-3-2-2-2-3-1">
                    <!---->
                  </a>Artikel 2</h3>
                <p>Dit besluit wordt aangehaald als het 'Besluit openbaarheidsbeperkingen archiefbescheiden archief Commissaris van
                  de Koningin (1940-1969)'. </p>
              </div>
            </div>
            <div class="hoofdstuk">
              <!---->
              <h2 class="hoofdstuk_kop">
                <a name="id1-3-2-2-3-1">
                  <!---->
                </a>II</h2>
              <div class="artikel">
                <!---->
                <h3 class="artikel_kop">
                  <a name="id1-3-2-2-3-2-1">
                    <!---->
                  </a>Artikel 3</h3>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">1.</span>Het besluit van 21 januari 2014 wordt ingetrokken.</p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">2.</span>Dit besluit treedt in werking met ingang van 13 februari 2014.</p>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur"></strong>
                    </p>
                  </li>
                </ul>
                <p>Aldus vastgesteld door de Commissaris van de Koning op 3 februari 2014.</p>
                <p>Drs. J.M.M. Polman</p>
                <p class="tussenkop">
                  <strong class="tussenkop_cur"></strong>
                </p>
                <p>Uitgegeven, 12 februari 2014.</p>
                <p>De secretaris, A.W. Smit</p>
                <p class="tussenkop">
                  <strong class="tussenkop_cur"></strong>
                </p>
                <p>Belanghebbenden kunnen tegen dit besluit bezwaar maken bij de Commissaris van de Koning in Zeeland.</p>
                <p class="tussenkop">
                  <strong class="tussenkop_cur"></strong>
                </p>
                <p>De termijn voor het indienen van een bezwaarschrift bedraagt zes weken. De termijn vangt aan met ingang van 13
                  februari 2014. </p>
                <p>In het bezwaarschrift wordt ten minste naam, adres en de dagtekening van het bezwaarschrift opgenomen en tegen
                  welk besluit bezwaar wordt gemaakt en waarom. Het bezwaarschrift dient te worden ondertekend.</p>
                <p class="tussenkop">
                  <strong class="tussenkop_cur"></strong>
                </p>
              </div>
            </div>
          </div>
          <div class="nota-toelichting">
            <a name="id1-3-2-3">
              <!---->
            </a>

            Toelichting

            <p>Ingevolge de bepalingen van de Archiefwet zijn de archiefbescheiden die in een archiefbewaarplaats berusten in beginsel
              openbaar (artikel 14 Archiefwet). Uitzonderingen hierop worden genoemd in de artikelen 15, 16 en 17 van de Archiefwet.</p>
            <p
              class="tussenkop">
              <strong class="tussenkop_cur"></strong>
            </p>
            <p>Artikel 15 stelt dat bij de overbrenging van de in artikel 1, onder c 1° en 2° Archiefwet 1995, bedoelde archiefbescheiden
              de zorgdrager, na advies van de beheerder van de archiefbewaarplaats, slechts beperkingen aan de openbaarheid kan
              stellen voor een bepaalde termijn en met het oog op:</p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">a.</span>de eerbiediging van de persoonlijke levenssfeer;</p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">b.</span>het belang van de Staat of zijn bondgenoten;</p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">c.</span>het anderszins voorkomen van onevenredige bevoordeling of benadeling van betrokken natuurlijke personen
                  of rechtspersonen dan wel van derden.</p>
              </li>
            </ul>
            <p>Artikel 10 van het Archiefbesluit eist vervolgens dat er, indien de zorgdrager ingevolge artikel 15, eerste lid, van
              de Archiefwet beperkingen aan de openbaarheid van archiefbescheiden stelt, een daartoe strekkend besluit wordt genomen.
              In het onderhavige geval is er sprake van een besluit tot het stellen van beperkingen aan de openbaarheid op grond
              van artikel 15, eerste lid sub a. (eerbiediging van de persoonlijke levenssfeer) van de Archiefwet.</p>
          </div>
        </div>

      </div>    </article>

  </div>
</div>
