<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

    <div id="broodtekst" class="stuk broodtekst-container">

      <div class="officiele-publicatie" lang="nl" xml:lang="nl">
        <div class="_p_provincieblad">
          <a name="id1-3">
            <!---->
          </a>
          <a name="id1-3-1">
            <!---->
          </a>
          <div class="staatscourant_kop _p_single-kop-titel">
            <a name="id1-3-1-1">
              <!---->
            </a>Provincie Gelderland Natuurbeschermingswet 1998 locatie Wiechersweg 1 Borculo</div>
          <div class="_p_zakelijke-mededeling">
            <a name="id1-3-2">
              <!---->
            </a>
            <div class="_p_zakelijke-mededeling-tekst">
              <a name="id1-3-2-1">
                <!---->
              </a>
              <div class="_p_tekst">
                <a name="id1-3-2-1-1">
                  <!---->
                </a>
                <div class="common-al _p_common-al">
                  <a name="id1-3-2-1-1-1">
                    <!---->
                  </a>Gedeputeerde Staten van Gelderland delen mee dat zij besloten hebben een vergunning ingevolge de Natuurbeschermingswet
                  1998 te verlenen voor het uitbreiden van een rundveehouderij aan Wiechersweg 1, 7271 NZ Borculo.</div>
                <div class="common-al _p_common-al">
                  <a name="id1-3-2-1-1-2">
                    <!---->
                  </a>Tegen het voornemen zijn geen zienswijzen ingebracht. Het besluit is ten opzichte van het ontwerpbesluit niet
                  gewijzigd.</div>
                <div class="tussenkop tussenkop_cur _p_tussenkopcur">
                  <a name="id1-3-2-1-1-3">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">Mogelijkheid van inzien</span>
                </div>
                <div class="common-al _p_common-al">
                  <a name="id1-3-2-1-1-4">
                    <!---->
                  </a>Het besluit ligt van 10 september 2014 tot 22 oktober 2014 ter inzage bij de receptiebalie in het Huis der
                  Provincie, Markt 11 te Arnhem tijdens de gebruikelijke openingsuren, of kan worden ingezien via de provinciale
                  website (www.gelderland.nl &gt; actueel &gt; bekendmakingen). Kopieën van ter inzage gelegde stukken worden
                  op verzoek toegestuurd. U kunt hiervoor contact opnemen met het Provincieloket, telefoonnummer (026) 359 99
                  99.</div>
                <div class="tussenkop tussenkop_cur _p_tussenkopcur">
                  <a name="id1-3-2-1-1-5">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">Rechtsmiddelen</span>
                </div>
                <div class="common-al _p_common-al">
                  <a name="id1-3-2-1-1-6">
                    <!---->
                  </a>Belanghebbenden kunnen beroep instellen tegen het besluit vóór 22 oktober 2014. Meer informatie hierover is
                  vermeld aan het slot van het besluit zelf.</div>
                <div class="tussenkop tussenkop_cur _p_tussenkopcur">
                  <a name="id1-3-2-1-1-7">
                    <!---->
                  </a>
                  <span class="vet _p_nadrukvet">Wilt u meer weten?</span>
                </div>
                <div class="common-al _p_common-al">
                  <a name="id1-3-2-1-1-8">
                    <!---->
                  </a>Bel het Provincieloket, telefoonnummer (026) 359 99 99.</div>
                <div class="common-al _p_common-al">
                  <a name="id1-3-2-1-1-9">
                    <!---->
                  </a>Arnhem, 3 september 2014 - zaaknummer 2014-002476</div>
                <div class="_p_last-al">
                  <a name="id1-3-2-1-1-10">
                    <!---->
                  </a>Gedeputeerde Staten van Gelderland</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>      </article>

  </div>
</div>
