<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>
<div id="broodtekst" class="stuk broodtekst-container">
  <h1>
    <br>
    <br>
  </h1>
  <div class="officiele-publicatie" lang="nl" xml:lang="nl">
    <div class="_p_provinciaalblad">
      <a name="id1-3">
        <!---->
      </a>
      <a name="id1-3-1">
        <!---->
      </a>
      <p class="staatscourant_kop _p_single-kop-titel">
        <a name="id1-3-1-1">
          <!---->
        </a>Uitvoeringsverordening subsidie Erfgoedparels provincie Utrecht</p>
      <div class="_p_regeling">
        <a name="id1-3-2">
          <!---->
        </a>
        <div class="aanhef _p_aanhef">
          <a name="id1-3-2-1">
            <!---->
          </a>
          <div class="_p_preambule">
            <a name="id1-3-2-1-1">
              <!---->
            </a>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-1">
                <!---->
              </a>
              <span class="vet _p_nadrukvet">Besluit van Gedeputeerde Staten van Utrecht van 24&nbsp;mei 2016, nr.&nbsp;81848367, houdende nadere regels
                op grond van de Algemene subsidieverordening provincie Utrecht (Uitvoeringsverordening subsidie Erfgoedparels
                provincie Utrecht)</span>
            </p>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-2">
                <!---->
              </a>&nbsp;</p>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-3">
                <!---->
              </a>Gedeputeerde Staten van Utrecht;</p>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-4">
                <!---->
              </a>&nbsp;</p>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-5">
                <!---->
              </a>Gelet op de artikelen 4, 6, 28, 31 en 33 van de Algemene subsidieverordening provincie Utrecht;</p>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-6">
                <!---->
              </a>&nbsp;</p>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-7">
                <!---->
              </a>Overwegende dat Provinciale Staten op 18&nbsp;april 2016 de cultuur- en erfgoednota provincie Utrecht 2016–2019
              ‘Alles is NU’ hebben vastgesteld;</p>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-8">
                <!---->
              </a>&nbsp;</p>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-9">
                <!---->
              </a>Overwegende dat nadere regels nodig zijn om subsidies voor restauratie van rijksmonumenten in de provincie
              Utrecht mogelijk te maken; </p>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-10">
                <!---->
              </a>&nbsp;</p>
            <p class="al _p_al">
              <a name="id1-3-2-1-1-11">
                <!---->
              </a>Overwegende dat Provinciale Staten in de cultuur- en erfgoednota ingaan op het belang van duurzaamheid en de
              bevordering van de leefbaarheid van kleine kernen en hiervoor door middel van subsidies aandacht vragen;</p>
          </div>
          <div class="_p_afkondiging">
            <a name="id1-3-2-1-2">
              <!---->
            </a>
            <p class="al _p_al">
              <a name="id1-3-2-1-2-1">
                <!---->
              </a>Besluiten de volgende uitvoeringsverordening vast te stellen:</p>
            <p class="al _p_al">
              <a name="id1-3-2-1-2-2">
                <!---->
              </a>&nbsp;</p>
          </div>
        </div>
        <div class="_p_regeling-tekst">
          <a name="id1-3-2-2">
            <!---->
          </a>
          <div class="_p_paragraaf">
            <a name="id1-3-2-2-1">
              <!---->
            </a>
            <a name="id1-3-2-2-1-1">
              <!---->
            </a>
            <p class="paragraaf_kop _p_paragraaf_kop">
              <a name="id1-3-2-2-1-1-3">
                <!---->
              </a>
              <span class="_p_label">Paragraaf</span>
              <span class="_p_nr">1</span> Algemeen</p>
            <div class="_p_artikel">
              <a name="id1-3-2-2-1-2">
                <!---->
              </a>
              <a name="id1-3-2-2-1-2-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-1-2-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">1</span> Begripsbepalingen</p>
              <p class="al _p_al">
                <a name="id1-3-2-2-1-2-2">
                  <!---->
                </a>In deze uitvoeringsverordening wordt verstaan onder:</p>
              <div class="_p_definitielijst">
                <a name="id1-3-2-2-1-2-3">
                  <!---->
                </a>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-1">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-1-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-1-2">
                      <!---->
                    </a>a. Asv:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-1-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-1-3-1">
                        <!---->
                      </a> Algemene subsidieverordening provincie Utrecht;</p>
                  </div>
                </div>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-2">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-2-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-2-2">
                      <!---->
                    </a>b. Cultuur- en erfgoednota:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-2-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-2-3-1">
                        <!---->
                      </a> cultuur- en erfgoednota provincie Utrecht 2016–2019 ‘Alles is NU’ (besluit van Provinciale Staten van
                      18&nbsp;april 2016);</p>
                  </div>
                </div>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-3">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-3-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-3-2">
                      <!---->
                    </a>c. Cultuurhistorisch waarde:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-3-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-3-3-1">
                        <!---->
                      </a> de waarde van een monument gezien het architectuurhistorisch belang, het cultuurhistorisch belang,
                      het stedenbouwkundig belang (waaronder ook de ensemble- en landschap waarde), de gaafheid, herkenbaarheid
                      en zeldzaamheid, de aantoonbare noodzaak voor behoud van het rijksmonument en het aantoonbaar belang
                      voor de provincie Utrecht;</p>
                  </div>
                </div>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-4">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-4-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-4-2">
                      <!---->
                    </a>d. Duurzaamheidsmaatregelen:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-4-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-4-3-1">
                        <!---->
                      </a> maatregelen die gericht zijn op energiebesparing en duurzame opwekking van energie, waarbij de monumentale
                      waarde van het rijksmonument gehandhaafd blijft;</p>
                  </div>
                </div>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-5">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-5-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-5-2">
                      <!---->
                    </a>e. Erfgoedcategorieën:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-5-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-5-3-1">
                        <!---->
                      </a> de categorie-indeling van de rijksmonumenten is gebaseerd op de huidige indeling naar CBS-categorieën
                      uit het Monumentenregister van de Rijksdienst voor het Cultureel Erfgoed;</p>
                  </div>
                </div>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-6">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-6-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-6-2">
                      <!---->
                    </a>f. Rijksmonument:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-6-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-6-3-1">
                        <!---->
                      </a> rijksbeschermd monument, niet zijnde woonhuis of rijksmonument dat in het kader van een provinciaal
                      gebiedsprogramma kan worden gerestaureerd;</p>
                  </div>
                </div>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-7">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-7-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-7-2">
                      <!---->
                    </a>g. Restauratie:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-7-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-7-3-1">
                        <!---->
                      </a> werkzaamheden die het normale onderhoud te boven gaan en noodzakelijk zijn voor herstel;</p>
                  </div>
                </div>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-8">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-8-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-8-2">
                      <!---->
                    </a>h. Sim:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-8-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-8-3-1">
                        <!---->
                      </a> Regeling van de Staatssecretaris van Onderwijs, Cultuur en Wetenschap van 19&nbsp;september 2012, nr.&nbsp;WJZ/387165
                      (10152), houdende regels voor de verstrekking van subsidie voor de instandhouding van rijksmonumenten
                      (Subsidieregeling instandhouding monumenten);</p>
                  </div>
                </div>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-9">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-9-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-9-2">
                      <!---->
                    </a>i. Subsidiabele kosten:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-9-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-9-3-1">
                        <!---->
                      </a> Subsidiabel zijn de kosten van werkzaamheden, maatregelen en voorzieningen die als zodanig zijn aangemerkt
                      in de Leidraad subsidiabele instandhoudingskosten 2013. Tot de subsidiabele kosten behoren in ieder
                      geval niet: Kosten van aanpassingen die het monument schaden;</p>
                  </div>
                </div>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-10">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-10-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-10-2">
                      <!---->
                    </a>j. Urgente restauratieopgave:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-10-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-10-3-1">
                        <!---->
                      </a> het Rijksmonument heeft in de Utrechtse erfgoedmonitor een score van matig of slecht;</p>
                  </div>
                </div>
                <div class="_p_definitie-item">
                  <a name="id1-3-2-2-1-2-3-11">
                    <!---->
                  </a>
                  <p class="_p_li_nr">
                    <a name="id1-3-2-2-1-2-3-11-1">
                      <!---->
                    </a>&nbsp;</p>
                  <p class="_p_term">
                    <a name="id1-3-2-2-1-2-3-11-2">
                      <!---->
                    </a>k. De Utrechtse Erfgoedmonitor:</p>
                  <div class="_p_definitie">
                    <a name="id1-3-2-2-1-2-3-11-3">
                      <!---->
                    </a>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-2-3-11-3-1">
                        <!---->
                      </a> de erfgoedmonitor is een actueel overzicht dat de onderhouds- en restauratiebehoefte in kaart brengt
                      van de rijksmonumenten die geen woonhuis zijn. Deze provinciale inventarisatie is vanwege privacy-gevoeligheid
                      een niet openbaar systeem.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="_p_artikel">
              <a name="id1-3-2-2-1-3">
                <!---->
              </a>
              <a name="id1-3-2-2-1-3-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-1-3-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">2</span> Subsidiecriteria</p>
              <ul class="_explicit">
                <li class="_p_lid">
                  <span>1.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-3-2-2">
                        <!---->
                      </a>Subsidie kan worden verstrekt voor activiteiten als bedoeld in de artikelen 28, 31 en 33 van de Asv
                      die gericht zijn op het restaureren van een rijksmonument in de provincie Utrecht. </p>
                  </div>
                </li>
                <li class="_p_lid">
                  <span>2.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-3-3-2">
                        <!---->
                      </a>Subsidie als bedoeld in dit artikel kan slechts worden verstrekt als is voldaan aan alle volgende criteria
                      zijnde:</p>
                    <ul class="_explicit whitespace-small _p_lijst">
                      <li class="li _p_li">
                        <span>a.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-3-3-3-1-2">
                              <!---->
                            </a>matige of slechte onderhoudstoestand op basis van de Utrechtse Erfgoedmonitor;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>b.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-3-3-3-2-2">
                              <!---->
                            </a>urgente restauratiebehoefte;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>c.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-3-3-3-3-2">
                              <!---->
                            </a>hoge cultuurhistorische waarde;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>d.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-3-3-3-4-2">
                              <!---->
                            </a>zekerheid van gebruik of herbestemming;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>e.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-3-3-3-5-2">
                              <!---->
                            </a>publieke toegankelijkheid, inhoudende openstelling minimaal 10 maal per jaar voor een zo groot
                            mogelijk publiek; en</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>f.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-3-3-3-6-2">
                              <!---->
                            </a>cofinanciering van minimaal 50% van de subsidiabele kosten. </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="_p_lid">
                  <span>3.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-3-4-2">
                        <!---->
                      </a>Historische buitenplaatsen die voldoen aan de voorwaarden onder het tweede lid krijgen voorrang;</p>
                  </div>
                </li>
                <li class="_p_lid">
                  <span>4.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-3-5-2">
                        <!---->
                      </a>Indien door honorering van de aanvragen het subsidieplafond zou worden overschreden, zal ook naar het
                      maatschappelijk belang van de restauratie gekeken worden.Hierbij gelden als aanvullende criteria dat:
                      </p>
                    <ul class="_explicit whitespace-small _p_lijst">
                      <li class="li _p_li">
                        <span>a.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-3-5-3-1-2">
                              <!---->
                            </a>eerst de aanvragen met het hoogste percentage cofinanciering voor subsidie in aanmerking komen;
                            </p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>b.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-3-5-3-2-2">
                              <!---->
                            </a>daarna de aanvragen met aandacht voor duurzaamheidsmaatregelen;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>c.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-3-5-3-3-2">
                              <!---->
                            </a>vervolgens aanvragen die aansluiten bij het provinciale kleine kernen beleid, en</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>d.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-3-5-3-4-2">
                              <!---->
                            </a>tot slot de aanvragen die bijdragen aan een evenwichtige verdeling over de erfgoedcategorieën
                            en over de provincie Utrecht (regionale spreiding, afhankelijk van de mate waarin dit gebeurt).</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>



            </div>
            <div class="_p_artikel">
              <a name="id1-3-2-2-1-4">
                <!---->
              </a>
              <a name="id1-3-2-2-1-4-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-1-4-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">3</span> Subsidieontvangers/Doelgroepen</p>
              <p class="al _p_al">
                <a name="id1-3-2-2-1-4-2">
                  <!---->
                </a>Subsidie kan worden verstrekt aan de eigenaar van een rijksmonument of diens gemachtigde. </p>
            </div>
            <div class="_p_artikel">
              <a name="id1-3-2-2-1-5">
                <!---->
              </a>
              <a name="id1-3-2-2-1-5-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-1-5-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">4</span> Aanvraag (Tender)</p>
              <ul class="_explicit">
                <li class="_p_lid">
                  <span>1.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-5-2-2">
                        <!---->
                      </a>Voor 2016 geldt dat aanvragen kunnen worden ingediend uiterlijk 1&nbsp;november 2016. Voor het jaar
                      2017 geldt dat aanvragen kunnen worden ingediend uiterlijk 1&nbsp;september 2017, en voor 2018 en 2019
                      wordt de indientermijn nader bepaald.</p>
                  </div>
                </li>
                <li class="_p_lid">
                  <span>2.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-5-3-2">
                        <!---->
                      </a>Aanvragen worden ingediend met behulp van het aanvraagformulier erfgoedparels 2016.</p>
                  </div>
                </li>
              </ul>

            </div>
            <div class="_p_artikel">
              <a name="id1-3-2-2-1-6">
                <!---->
              </a>
              <a name="id1-3-2-2-1-6-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-1-6-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">5</span> Weigeringsgronden</p>
              <ul class="_explicit">
                <li class="_p_lid">
                  <span>1.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-6-2-2">
                        <!---->
                      </a>In aanvulling op artikel 10 van de Asv wordt subsidie geweigerd: </p>
                    <ul class="_explicit whitespace-small _p_lijst">
                      <li class="li _p_li">
                        <span>a.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-6-2-3-1-2">
                              <!---->
                            </a>als de aanvraag betrekking heeft op een rijksmonument dat in het monumentenregister staat ingeschreven
                            als woonhuis;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>b.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-6-2-3-2-2">
                              <!---->
                            </a>als er geen urgente restauratieopgave ligt, zoals vermeld in de erfgoedmonitor;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>c.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-6-2-3-3-2">
                              <!---->
                            </a>als de activiteit is gestart voordat de aanvraag om subsidie is ontvangen;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>d.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-6-2-3-4-2">
                              <!---->
                            </a>als de activiteit financieel niet haalbaar is;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>e.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-6-2-3-5-2">
                              <!---->
                            </a>voor zover de werkzaamheden waarvoor subsidie wordt aangevraagd, naar het oordeel van gedeputeerde
                            staten niet sober en doelmatig zijn;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>f.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-6-2-3-6-2">
                              <!---->
                            </a>voor zover de subsidie naar het oordeel van Gedeputeerde Staten niet noodzakelijk is voor de
                            restauratie van het rijksmonument.</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="_p_lid">
                  <span>2.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-6-3-2">
                        <!---->
                      </a>Subsidie kan worden geweigerd:</p>
                    <ul class="_explicit whitespace-small _p_lijst">
                      <li class="li _p_li">
                        <span>a.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-6-3-3-1-2">
                              <!---->
                            </a>als de aanvraag betrekking heeft op een rijksmonument in de categorie militair erfgoed, tenzij
                            naar het oordeel van Gedeputeerde Staten sprake is van een aanmerkelijk provinciaal belang;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>b.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-6-3-3-2-2">
                              <!---->
                            </a>als de subsidiabele projectkosten minder dan €&nbsp;100.000,– zijn; </p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>c.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-6-3-3-3-2">
                              <!---->
                            </a>voor zover een schadeverzekering voorziet in de kosten waarvoor subsidie zou worden verstrekt;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>d.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-6-3-3-4-2">
                              <!---->
                            </a>als de aanvraag na de gestelde indieningsdatum bij de provincie is ontvangen. </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>

            </div>
            <div class="_p_artikel">
              <a name="id1-3-2-2-1-7">
                <!---->
              </a>
              <a name="id1-3-2-2-1-7-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-1-7-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">6</span> Adviescommissie</p>
              <p class="al _p_al">
                <a name="id1-3-2-2-1-7-2">
                  <!---->
                </a>Aanvragen om subsidie kunnen voor advies voorgelegd worden aan een adviescommissie. </p>
            </div>
            <div class="_p_artikel">
              <a name="id1-3-2-2-1-8">
                <!---->
              </a>
              <a name="id1-3-2-2-1-8-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-1-8-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">7</span> Subsidieplafond</p>
              <ul class="_explicit">
                <li class="_p_lid">
                  <span>1.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-8-2-2">
                        <!---->
                      </a>Het subsidieplafond voor activiteiten als bedoeld in artikel 2 bedraagt in 2016 en 2017 €&nbsp;3.300.000,–.</p>
                  </div>
                </li>
                <li class="_p_lid">
                  <span>2.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-8-3-2">
                        <!---->
                      </a>Het subsidieplafond voor activiteiten als bedoeld in artikel 2 worden vanaf 2018 jaarlijks door Gedeputeerde
                      staten vastgesteld.</p>
                  </div>
                </li>
              </ul>

            </div>
            <div class="_p_artikel">
              <a name="id1-3-2-2-1-9">
                <!---->
              </a>
              <a name="id1-3-2-2-1-9-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-1-9-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">8</span> Hoogte van de subsidie</p>
              <ul class="_explicit">
                <li class="_p_lid">
                  <span>1.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-9-2-2">
                        <!---->
                      </a>De subsidie bedraagt minimaal €&nbsp;50.000,– en maximaal €&nbsp;1.000.000,–, tenzij er in de concrete
                      situatie gegronde reden is hiervan af te wijken gelet op het belang van het monument en de hoogte van
                      de geboden cofinanciering. </p>
                  </div>
                </li>
                <li class="_p_lid">
                  <span>2.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-9-3-2">
                        <!---->
                      </a>De subsidie bedraagt maximaal 50% van de subsidiabele kosten.</p>
                  </div>
                </li>
              </ul>

            </div>
            <div class="_p_artikel">
              <a name="id1-3-2-2-1-10">
                <!---->
              </a>
              <a name="id1-3-2-2-1-10-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-1-10-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">9</span> Staatssteun</p>
              <p class="al _p_al">
                <a name="id1-3-2-2-1-10-2">
                  <!---->
                </a>Subsidie wordt verstrekt met inachtneming van artikel 53 van de Algemene Groepsvrijstellingsverordening (EU),
                nr.&nbsp;651/2014 of anderzins in overeenstemming met de staatssteunregels.</p>
            </div>
            <div class="_p_artikel">
              <a name="id1-3-2-2-1-11">
                <!---->
              </a>
              <a name="id1-3-2-2-1-11-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-1-11-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">10</span> Verplichtingen subsidieontvanger</p>
              <ul class="_explicit">
                <li class="_p_lid">
                  <span>1.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-11-2-2">
                        <!---->
                      </a>De subsidieontvanger is verplicht:</p>
                    <ul class="_explicit whitespace-small _p_lijst">
                      <li class="li _p_li">
                        <span>a.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-11-2-3-1-2">
                              <!---->
                            </a>de restauratie te laten uitvoeren overeenkomstig de kwaliteitseisen die zijn neergelegd in artikel
                            21 van de Subsidieregeling instandhouding monumenten 2013; </p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>b.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-11-2-3-2-2">
                              <!---->
                            </a>de activiteiten waarvoor subsidie wordt verleend, te starten binnen 6&nbsp;maanden na de subsidieverlening
                            en af te ronden binnen 2&nbsp;jaar na aanvang van de restauratie;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>c.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-11-2-3-3-2">
                              <!---->
                            </a>het rijksmonument of een zelfstandig onderdeel hiervan gedurende de restauratie Casco-All-Risks
                            te verzekeren;</p>
                        </div>
                      </li>
                      <li class="li _p_li">
                        <span>d.</span>
                        <div>
                          <p class="al _p_al">
                            <a name="id1-3-2-2-1-11-2-3-4-2">
                              <!---->
                            </a>toe te laten dat de werkzaamheden waarvoor subsidie is verstrekt, op verzoek van de provincie
                            worden gecontroleerd of ze conform deze verordening zijn uitgevoerd.</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="_p_lid">
                  <span>2.</span>
                  <div>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-11-3-2">
                        <!---->
                      </a>De subsidieontvanger kan worden verplicht het beschermd monument of het zelfstandig onderdeel te bewaren
                      en te onderhouden in de staat waarin het door de gesubsidieerde werkzaamheden is gebracht.</p>
                    <p class="al _p_al">
                      <a name="id1-3-2-2-1-11-3-3">
                        <!---->
                      </a>&nbsp;</p>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <div class="_p_paragraaf">
            <a name="id1-3-2-2-2">
              <!---->
            </a>
            <a name="id1-3-2-2-2-1">
              <!---->
            </a>
            <p class="paragraaf_kop _p_paragraaf_kop">
              <a name="id1-3-2-2-2-1-3">
                <!---->
              </a>
              <span class="_p_label">Paragraaf</span>
              <span class="_p_nr">2</span> Slotbepalingen</p>
            <div class="_p_artikel">
              <a name="id1-3-2-2-2-2">
                <!---->
              </a>
              <a name="id1-3-2-2-2-2-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-2-2-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">11</span> Inwerkingtreding</p>
              <p class="al _p_al">
                <a name="id1-3-2-2-2-2-2">
                  <!---->
                </a>Dit besluit treedt in werking met ingang van de dag na de datum van uitgifte van het provinciaal blad waarin
                het wordt geplaatst. </p>
            </div>
            <div class="_p_artikel">
              <a name="id1-3-2-2-2-3">
                <!---->
              </a>
              <a name="id1-3-2-2-2-3-1">
                <!---->
              </a>
              <p class="artikel_kop _p_artikel_kop_titel">
                <a name="id1-3-2-2-2-3-1-3">
                  <!---->
                </a>
                <span class="artikel_kop _p_artikel_kop_label">Artikel</span>
                <span class="artikel_kop _p_artikel_kop_nr">12</span> Citeertitel</p>
              <p class="al _p_al">
                <a name="id1-3-2-2-2-3-2">
                  <!---->
                </a>Dit besluit wordt aangehaald als: Uitvoeringsverordening subsidie Erfgoedparels provincie Utrecht. </p>
              <p class="al _p_al">
                <a name="id1-3-2-2-2-3-3">
                  <!---->
                </a>&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="_p_regeling-sluiting">
          <a name="id1-3-2-3">
            <!---->
          </a>
          <div class="_p_gegeven">
            <a name="id1-3-2-3-1">
              <!---->
            </a>
            <p class="dagtekening _p_dagtekening">
              <a name="id1-3-2-3-1-1">
                <!---->
              </a>
              <span class="_p_datum">Aldus vastgesteld in de vergadering van gedeputeerde staten van Utrecht van 24&nbsp;mei 2016
                <span class="italic _p_nadrukcur">.</span>
              </span>
            </p>
          </div>
          <div style="font-style: italic; line-height: 130%;">
            <p>
              <span class="_p_functie">Voorzitter </span>
            </p>
          </div>
          <div style="font-style: italic; line-height: 130%;">
            <p>
              <span class="_p_functie">Secretaris </span>
            </p>
          </div>
        </div>
        <div class="_p_bijlage">
          <a name="id1-3-2-4">
            <!---->
          </a>
          <a name="id1-3-2-4-1">
            <!---->
          </a>
          <p class="hoofdstuk_kop _p_hoofdstuk_kop">
            <a name="id1-3-2-4-1-1">
              <!---->
            </a>Toelichting</p>
          <p class="tussenkop tussenkop_ondlijn _p_tussenkopondlijn">
            <a name="id1-3-2-4-2">
              <!---->
            </a>Algemeen</p>
          <p class="al _p_al">
            <a name="id1-3-2-4-3">
              <!---->
            </a>De subsidieverordening is bestemd voor de restauratie van Utrechtse rijksmonumenten. Eigenaren van woonhuizen
            en monumenten die in het kader van een gebiedsprogramma kunnen worden gerestaureerd, kunnen geen gebruik maken
            van deze subsidieverordening. Binnen de regeling ligt het accent op historische buitenplaatsen. </p>
          <p class="tussenkop tussenkop_ondlijn _p_tussenkopondlijn">
            <a name="id1-3-2-4-4">
              <!---->
            </a>Artikelgewijs</p>
          <p class="tussenkop tussenkop_ondlijn _p_tussenkopondlijn">
            <a name="id1-3-2-4-5">
              <!---->
            </a>Artikel 2 Criteria</p>
          <p class="al _p_al">
            <a name="id1-3-2-4-6">
              <!---->
            </a>Artikel 2, tweede lid, onder b: er zal gecontroleerd worden of er sprake is van een urgente restauratieopgave.</p>
          <p class="al _p_al">
            <a name="id1-3-2-4-7">
              <!---->
            </a>Artikel 2, tweede lid onder g: de mate van cofinanciering door de eigenaar zelf en door andere fondsen en subsidiegevers
            (minimaal 50%). De cofinanciering betreft een zo hoog mogelijk percentage van de subsidiabele kosten. </p>
          <p class="al _p_al">
            <a name="id1-3-2-4-8">
              <!---->
            </a>Artikel 2, vierde lid benoemt aanvullende criteria waaraan wordt getoetst als:</p>
          <ul class="_explicit whitespace-small _p_lijst">
            <li class="li _p_li">
              <span>–</span>
              <div>
                <p class="al _p_al">
                  <a name="id1-3-2-4-9-1-2">
                    <!---->
                  </a>er meer aanvragen zijn ingekomen dan vanwege het subsidieplafond zijn toe te kennen; en</p>
              </div>
            </li>
            <li class="li _p_li">
              <span>–</span>
              <div>
                <p class="al _p_al">
                  <a name="id1-3-2-4-9-2-2">
                    <!---->
                  </a>selectie van een aantal aanvragen niet mogelijk is omdat zij allemaal aan de criteria van het eerste en
                  tweede lid voldoen. In die situatie geldt aanvullend dat eerst de mate van cofinanciering, daarna de mate
                  van duurzaamheid, vervolgens de aansluiting bij het provinciale kleine kernen beleid en tot slot de mate
                  van spreiding over categorieën en regio’s.</p>
              </div>
            </li>
          </ul>
          <p class="tussenkop tussenkop_ondlijn _p_tussenkopondlijn">
            <a name="id1-3-2-4-10">
              <!---->
            </a>Artikel 4 Aanvraag (Tender)</p>
          <p class="al _p_al">
            <a name="id1-3-2-4-11">
              <!---->
            </a>Het aanvraagformulier zal worden verstrekt nadat er afstemming heeft plaatsgevonden met een medewerker van team
            CER van de provincie Utrecht. </p>
          <p class="tussenkop tussenkop_ondlijn _p_tussenkopondlijn">
            <a name="id1-3-2-4-12">
              <!---->
            </a>Artikel 8 Hoogte van de subsidie</p>
          <p class="al _p_al">
            <a name="id1-3-2-4-13">
              <!---->
            </a>Onder subsidiabele kosten worden bedoeld de kosten van werkzaamheden, maatregelen en voorzieningen die als zodanig
            aangemerkt zijn in de leidraad subsidiabele instandhoudingskosten 2013, in de bijlage als bedoeld in artikel
            4 van de subsidieregeling instandhouding monumenten (Sim), van de Rijksdienst voor het Cultureel Erfgoed (RCE).
            </p>
          <p class="tussenkop tussenkop_ondlijn _p_tussenkopondlijn">
            <a name="id1-3-2-4-14">
              <!---->
            </a>Artikel 10 Verplichting subsidieontvanger</p>
          <p class="al _p_al">
            <a name="id1-3-2-4-15">
              <!---->
            </a>Artikel 10 eerste lid onder a: Conform de Subsidieregeling Instandhouding Monumenten 2013 (SIM 2013) artikel
            21 moeten de werkzaamheden uitgevoerd worden volgens in de beroepsgroep geldende normen. Dit zijn in elk geval
            de normen die zijn vastgesteld door het College van Deskundigen Restauratiekwaliteit van de Stichting Erkende
            Restauratiekwaliteit Monumentenzorg. Het kan ook gaan om nog niet door het College van Deskundigen maar wel al
            door de beroepsgroep zelf vastgestelde normen.</p>
          <p class="al _p_al">
            <a name="id1-3-2-4-16">
              <!---->
            </a>&nbsp;</p>
          <p class="al _p_al">
            <a name="id1-3-2-4-17">
              <!---->
            </a>Artikel 10 tweede lid: Op grond van artikel 4:38 van de Awb en artikel 26 van de Asv kan aan de subsidieontvanger
            verplichtingen opgelegd worden die dienen tot verwezenlijking van het doel waarvoor de subsidie wordt verstrekt.
            De verplichting die in dit tweede lid is vastgelegd, is zo’n verplichting. Daarbij is aangesloten bij de Subsidieregeling
            instandhouding monumenten van het Rijk ( de Sim). In deze regeling (artikel 19) is voor rijkssubsidies een vergelijkbare
            verplichting opgenomen, inhoudende: </p>
          <p class="al _p_al">
            <a name="id1-3-2-4-18">
              <!---->
            </a>‘De minister kan de subsidieontvanger verplichten na afloop van de werkzaamheden waarvoor subsidie is verleend,
            het beschermd monument of het zelfstandig onderdeel te bewaren en te onderhouden in de staat waarin het door
            de werkzaamheden waarvoor subsidie is verleend, is gebracht’.</p>
        </div>
      </div>
    </div>
  </div>
</div>
            </article>

  </div>
</div>

