<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatsblad_kop">
          <a id="d16e46" name="d16e46"></a>Wet van 16 april 2015 tot wijziging van onder meer de Wet educatie en beroepsonderwijs inzake overgang van de wettelijke
          taken van kenniscentra beroepsonderwijs bedrijfsleven naar de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven
        </h1>
        <div class="aanhef">
          <a id="d16e50" name="d16e50"></a>
          <p class="wij">Wij Willem-Alexander, bij de gratie Gods, Koning der Nederlanden, Prins van Oranje-Nassau, enz. enz. enz.
          </p>
          <p class="considerans.al">Allen, die deze zullen zien of horen lezen, saluut! doen te weten:</p>
          <p class="considerans.al">Alzo Wij in overweging genomen hebben, dat het uit het oogpunt van kostenbeheersing en coördinatie wenselijk is om de
            taken die in de Wet educatie en beroepsonderwijs zijn toegekend aan kenniscentra beroepsonderwijs en bedrijfsleven
            toe te kennen aan een bij ministeriële regeling aan te wijzen organisatie; dat in verband hiermee de bepalingen over
            deze kenniscentra in voornoemde wet en enige andere wetten moeten worden geschrapt of aangepast;
          </p>
          <p class="afkondiging">Zo is het, dat Wij, de Afdeling advisering van de Raad van State gehoord, en met gemeen overleg der Staten-Generaal,
            hebben goedgevonden en verstaan, gelijk Wij goedvinden en verstaan bij deze:
          </p>
        </div>
        <div class="wettekst">
          <a id="d16e62" name="d16e62"></a>
          <h3 class="wijzig-artikel_kop">
            <a id="d16e65" name="d16e65"></a>ARTIKEL I. WIJZIGING WET EDUCATIE EN BEROEPSONDERWIJS
          </h3>
          <p class="wat">De Wet educatie en beroepsonderwijs wordt als volgt gewijzigd:</p>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">A</span>
            </p>
            <p class="wat">Artikel 1.1.1 wordt gewijzigd als volgt:</p>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> Onderdeel b1 komt te luiden:
              </p>
              <div class="artikeltekst">
                <dl class="inline whitespace-large">



                  <dt>
                    <span class="ol">b1. </span>Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven:
                  </dt>

                  <dd>
                    <p>de rechtspersoon, bedoeld in 1.5.1, eerste lid.</p>
                  </dd>


                </dl>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1a.</span> Onderdeel v vervalt.
              </p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> In onderdeel z, punt 1, vervalt: of het kenniscentrum beroepsonderwijs bedrijfsleven.
              </p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">3.</span> In onderdeel z, punt 2, vervalt «of het kenniscentrum beroepsonderwijs bedrijfsleven» en: 4.3.1 en 4.3.2,.
              </p>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">B</span>
            </p>
            <p class="wat">Hoofdstuk 1, titel 5, komt te luiden: </p>
            <div class="wijziging">
              <div class="wijzig-divisie">
                <h4 class="wijzig-divisie_kop kopopmaak_vet">
                  <a id="d16e116" name="d16e116"></a>Titel 5. Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven
                </h4>
                <div class="artikel">
                  <h5 class="artikel_kop">
                    <a id="d16e120" name="d16e120"></a>Art. 1.5.1. Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven
                  </h5>
                  <ul class="artikel_leden whitespace-small">
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">1.</span> Bij ministeriële regeling wordt een rechtspersoon aangewezen die is belast met de volgende taken:
                      </p>
                      <ul class="expliciet whitespace-small">
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">a. </span>het ontwikkelen en onderhouden van een landelijke kwalificatiestructuur, gericht op de aansluiting
                            tussen het aanbod van beroepsonderwijs en de maatschappelijke behoeften daaraan, mede in het licht
                            van de arbeidsmarkt voor afgestudeerden, en mede gelet op van belang zijnde ontwikkelingen in internationaal
                            verband, onder meer door het doen van voorstellen aan Onze Minister voor de kwalificatiedossiers, bedoeld
                            in artikel 7.2.4, tweede lid,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">b. </span>het bijdragen aan een doelmatige en doelgerichte inzet van overheidsmiddelen door het ontwikkelen
                            van voorstellen, welke beroepsopleidingen voor bekostiging uit ’s Rijks kas in aanmerking komen,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">c. </span>het bevorderen van de kwaliteit van de beroepspraktijkvorming,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">d. </span>het ontwikkelen en vaststellen van kwaliteitscriteria voor beroepspraktijkvormingsplaatsen
                            en het ten minste een maal per vier jaar beoordelen van bedrijven en organisaties die de beroepspraktijkvorming
                            verzorgen aan de hand van deze criteria en het openbaar maken van een overzicht van bedrijven en organisaties
                            die voldoen aan deze criteria,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">e. </span>het zoveel mogelijk zorg dragen voor de beschikbaarheid van een toereikend aantal bedrijven
                            en organisaties van voldoende kwaliteit die de beroepspraktijkvorming verzorgen,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">f. </span>het uitvoeren van onderzoek ter ondersteuning van de taken, genoemd in dit artikel, en
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">g. </span>het uitvoeren van aanvullende activiteiten ter bevordering van de aansluiting onderwijs en
                            arbeidsmarkt.
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">2.</span> De rechtspersoon, bedoeld in het eerste lid, wordt voor de toepassing van deze wet aangeduid
                        als Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven.
                      </p>
                    </li>
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">3.</span> Onze Minister verstrekt de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven binnen het
                        raam van de door de begrotingswetgever beschikbaar gestelde middelen subsidie voor de uitvoering van de
                        taken, bedoeld in het eerste lid, onder a tot en met f.
                      </p>
                    </li>
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">4.</span> Onze Minister kan de Samenwerkingsorganisatie beroepsonderwijs op aanvraag subsidie verstrekken
                        voor de uitvoering van taken als bedoeld in het eerste lid, onder g.
                      </p>
                    </li>
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">5.</span> Het is de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven niet toegestaan andere activiteiten
                        uit te voeren dan de aan haar door de wet opgedragen taken.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">C</span>
            </p>
            <p class="wat">Artikel 1.7.1 wordt gewijzigd als volgt:</p>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> In het eerste lid vervallen de zinsneden «en een kenniscentrum beroepsonderwijs bedrijfsleven», «of het
                kenniscentrum» en «of, wat kenniscentra beroepsonderwijs bedrijfsleven betreft, met werkzaamheden verricht in het
                kader van dienstverlening jegens de instellingen».
              </p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> In het tweede lid wordt «en het bestuur van het kenniscentrum beroepsonderwijs bedrijfsleven dragen»
                vervangen door: draagt.
              </p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">3.</span> In het vierde lid vervalt: en het kenniscentrum beroepsonderwijs bedrijfsleven.
              </p>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">D</span>
            </p>
            <p class="wat">De artikelen 2.1.4, 2.1.5 en 2.1.6 vervallen.</p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">E</span>
            </p>
            <p class="wat">Titel 4 van hoofdstuk 2 komt te luiden: </p>
            <div class="wijziging">
              <div class="wijzig-divisie">
                <h4 class="wijzig-divisie_kop kopopmaak_vet">
                  <a id="d16e220" name="d16e220"></a>Titel 4. Subsidie Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven
                </h4>
                <div class="artikel">
                  <h5 class="artikel_kop">
                    <a id="d16e224" name="d16e224"></a>Artikel 2.4.1. Subsidieverlening per boekjaar
                  </h5>
                  <p>De subsidie voor de uitvoering van de taken, bedoeld in artikel 1.5.1, eerste lid, onder a tot en met f, wordt
                    per boekjaar verstrekt.
                  </p>
                </div>
                <div class="artikel">
                  <h5 class="artikel_kop">
                    <a id="d16e230" name="d16e230"></a>Artikel 2.4.2. Nadere regels
                  </h5>
                  <ul class="artikel_leden whitespace-small">
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">1.</span> Bij ministeriële regeling worden regels gesteld met betrekking tot:
                      </p>
                      <ul class="expliciet whitespace-small">
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">a. </span>de aanvraag van een subsidie en de besluitvorming daarover,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">b. </span>het bedrag van de subsidie dan wel de wijze waarop dit bedrag wordt bepaald,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">c. </span>de activiteiten waarvoor subsidie wordt verstrekt,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">d. </span>de voorwaarden waaronder subsidie wordt verleend,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">e. </span>de verplichtingen van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">f. </span>de vaststelling van de subsidie,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">g. </span>intrekking en wijziging van de subsidieverlening of subsidievaststelling,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">h. </span>de betaling van de subsidie en het verlenen van voorschotten,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">i. </span>het verslag over de doeltreffendheid en de effecten van de subsidie in de praktijk, bedoeld
                            in artikel 4:24 van de Algemene wet bestuursrecht, of
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">j. </span>andere criteria voor de verstrekking van subsidie.
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">2.</span> Bij de regels, bedoeld in het eerste lid, wordt voor zover nodig onderscheid gemaakt tussen subsidie
                        voor:
                      </p>
                      <ul class="expliciet whitespace-small">
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">a. </span>de taken, bedoeld in artikel 1.5.1, eerste lid, onder a tot en met f,
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">b. </span>de taken, bedoeld in artikel 1.5.1, eerste lid, onder g.
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="artikel">
                  <h5 class="artikel_kop">
                    <a id="d16e307" name="d16e307"></a>Artikel 2.4.3. Subsidieplafond
                  </h5>
                  <p>Onze Minister kan jaarlijks het bedrag vaststellen dat ten hoogste beschikbaar is voor de activiteiten, genoemd
                    in artikel 1.5.1, eerste lid, onder g.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">F</span>
            </p>
            <p class="wat">Paragraaf 2 van Hoofdstuk 2, Titel 5, vervalt.</p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">G</span>
            </p>
            <p class="wat">Titel 3 van hoofdstuk 4 komt te luiden:</p>
            <div class="wijziging">
              <div class="wijzig-divisie">
                <h4 class="wijzig-divisie_kop kopopmaak_vet">
                  <a id="d16e326" name="d16e326"></a>Titel 3. Personeel van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven
                </h4>
                <div class="artikel">
                  <h5 class="artikel_kop">
                    <a id="d16e330" name="d16e330"></a>Artikel 4.3.1. Formatie
                  </h5>
                  <p>Het bestuur van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven stelt jaarlijks het beleid vast met
                    betrekking tot de formatie van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven. Zoveel mogelijk
                    tegelijk met deze vaststelling bepaalt het bestuur functies en taken van het personeel van de Samenwerkingsorganisatie
                    beroepsonderwijs bedrijfsleven.
                  </p>
                </div>
                <div class="artikel">
                  <h5 class="artikel_kop">
                    <a id="d16e336" name="d16e336"></a>Artikel 4.3.2. Rechtspositie personeel Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven
                  </h5>
                  <p>Artikel 4.1.2, met uitzondering van het vijfde lid, is van overeenkomstige toepassing op de rechtspositie van
                    het personeel van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven, met dien verstande dat het gaat
                    om de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven en het bestuur daarvan in plaats van om instellingen
                    en de bevoegde gezagsorganen daarvan.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">H</span>
            </p>
            <p class="wat">Artikel 6.1.3, tweede lid, komt te luiden:</p>
            <div class="wijziging">
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Onverminderd het eerste lid kan het bevoegd gezag van een instelling als bedoeld in artikel 1.3.2a
                      of 1.3.3 een beroepsopleiding aanbieden als de soort instelling in de regeling, bedoeld in artikel 7.2.4,
                      is vermeld bij de kwalificatie waarop de opleiding is gericht of als de opleiding aantoonbaar gericht is
                      op en van belang is voor de specifieke bedrijfstak of groep van bedrijfstakken waarvoor de instelling opleidingen
                      verzorgt.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">I</span>
            </p>
            <p class="wat">Artikel 7.2.4 wordt gewijzigd als volgt:</p>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> De aanhef van het tweede lid wordt vervangen door:
              </p>
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Daartoe worden op voorstel van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven, behoudens
                      het achtste lid, bij ministeriële regeling vastgesteld:.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> In het tweede lid, onderdeel b, wordt «en» toegevoegd aan het eind van punt 2°, vervalt «en» aan het
                eind van punt 3° en vervalt punt 4°
              </p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">3.</span> In het tweede lid, onderdeel c, vervalt «en» aan het eind van punt 3°, wordt de komma aan het eind van
                punt 4° vervangen door «en» en wordt na punt 4° toegevoegd:
              </p>
              <div class="artikeltekst">
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">5° </span>in voorkomend geval, door welke soorten instellingen als bedoeld in de artikelen 1.3.2a en 1.3.3,
                      een beroepsopleiding mag worden verzorgd die is gericht op de kwalificatie.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">4.</span> Het derde lid wordt vervangen door:
              </p>
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> De Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven neemt bij het voorstel voor een kwalificatiedossier
                      het bepaalde in het tweede, vierde, vijfde en zesde lid in acht. Uit het voorstel blijkt dat voldoende acht
                      is geslagen op de aansluiting tussen de opleidingen voorbereidend beroepsonderwijs, de opleidingen middelbaar
                      algemeen voortgezet onderwijs, de beroepsopleidingen en de opleidingen hoger beroepsonderwijs, in elk geval
                      door raadpleging van vertegenwoordigers van die onderwijsvelden. Indien ook andere instanties nauw bij het
                      voorstel voor het kwalificatiedossier zijn betrokken, maakt de Samenwerkingsorganisatie in haar voorstel
                      melding van de wijze waarop het oordeel van die instanties is betrokken in het voorstel.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">5.</span> Na het zevende lid wordt een achtste lid toegevoegd, luidend:
              </p>
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">8.</span> Onze Minister kan in bijzondere gevallen een kwalificatiedossier vaststellen zonder voorstel van
                      de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven. Onze Minister gaat hiertoe niet over dan nadat
                      de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven in de gelegenheid is gesteld om binnen een door
                      Onze Minister te stellen termijn een voorstel voor een kwalificatiedossier te doen dat aansluit bij de ontwikkelingen
                      op de arbeidsmarkt en is afgestemd met het beroepsonderwijs en het bedrijfsleven.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">J</span>
            </p>
            <p class="wat">Artikel 7.2.5 vervalt.</p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">K</span>
            </p>
            <p class="wat">In artikel 7.2.5a wordt «de kenniscentra beroepsonderwijs bedrijfsleven» vervangen door: de Samenwerkingsorganisatie
              beroepsonderwijs bedrijfsleven.
            </p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">L</span>
            </p>
            <p class="wat">In artikel 7.2.6, eerste lid, onder a en b, wordt «het desbetreffende kenniscentrum beroepsonderwijs bedrijfsleven»
              telkens vervangen door: de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven.
            </p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">M</span>
            </p>
            <p class="wat">In artikel 7.2.9, tweede lid, wordt «het betrokken kenniscentrum beroepsonderwijs bedrijfsleven» vervangen door: de
              Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven.
            </p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">N</span>
            </p>
            <p class="wat">Artikel 7.2.10 komt te luiden:</p>
            <div class="wijziging">
              <div class="artikel">
                <h4 class="artikel_kop kopopmaak_vet">
                  <a id="d16e451" name="d16e451"></a>Artikel 7.2.10. Beoordeling kwaliteit en erkenning leerbedrijven voor de beroepspraktijkvorming
                </h4>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Het bestuur van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven zorgt ervoor dat bedrijven
                      en organisaties die de beroepspraktijkvorming verzorgen eenmaal in de vier jaar worden beoordeeld aan de
                      hand van door de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven vast te stellen criteria. Indien
                      daartoe door bijzondere omstandigheden aanleiding bestaat kan controle frequenter plaats vinden.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Het bestuur van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven erkent een bedrijf of
                      organisatie als leerbedrijf voor de beroepspraktijkvorming of handhaaft de erkenning bij een gunstige beoordeling
                      op grond van het eerste lid. Het bestuur weigert de erkenning of trekt de erkenning in, indien de in de eerste
                      volzin bedoelde beoordeling ongunstig is.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> Het bestuur vraagt geen vergoeding voor de kosten van de beoordeling, bedoeld in het eerste lid,
                      en de beschikkingen, bedoeld in het tweede lid.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">4.</span> De erkenning vervalt van rechtswege als het leerbedrijf gedurende een aaneengesloten periode van
                      vier jaar geen beroepspraktijkvorming heeft verzorgd.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">5.</span> De Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven maakt de in het eerste lid bedoelde
                      criteria bekend. Van deze bekendmaking wordt mededeling gedaan in de Staatscourant.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">6.</span> De Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven draagt zorg voor openbaarmaking van
                      een overzicht van bedrijven en organisaties met een erkenning op grond van het tweede lid, eerste volzin.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">7.</span> Tot het verzorgen van beroepspraktijkvorming voor een opleiding of groep van opleidingen zijn uitsluitend
                      bevoegd de bedrijven en organisaties met een erkenning op grond van het tweede lid, eerste volzin.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">O</span>
            </p>
            <p class="wat">In artikel 8.2.2, eerste lid, wordt de zinsnede «, de kenniscentra beroepsonderwijs bedrijfsleven, bedoeld in artikel
              9.2.1, tweede lid, onderdeel a, en de commissies onderwijs-bedrijfsleven, bedoeld in artikel 9.2.1, derde lid,» vervangen
              door: de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven.
            </p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">P</span>
            </p>
            <p class="wat">In artikel 9.1.5 vervallen het tweede lid en de aanduiding van het eerste lid.</p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">Q</span>
            </p>
            <p class="wat">Titel 2 van hoofdstuk 9 komt te luiden:</p>
            <div class="wijziging">
              <div class="wijzig-divisie">
                <h4 class="wijzig-divisie_kop kopopmaak_vet">
                  <a id="d16e510" name="d16e510"></a>Titel 2 De Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven
                </h4>
                <div class="artikel">
                  <h5 class="artikel_kop kopopmaak_vet">
                    <a id="d16e514" name="d16e514"></a>Artikel 9.2.1 Samenstelling en statuten rechtspersoon
                  </h5>
                  <ul class="artikel_leden whitespace-small">
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">1.</span> De Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven is een rechtspersoon met volledige
                        rechtsbevoegdheid zonder winstoogmerk niet zijnde een rechtspersoon als bedoeld in artikel 1, Boek 2 van
                        het Burgerlijk Wetboek.
                      </p>
                    </li>
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">2.</span> In het bestuur van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven en de organen,
                        ingesteld ter uitwerking van het vierde lid, eerste volzin, participeren vertegenwoordigers van het beroepsonderwijs
                        en het bedrijfsleven.
                      </p>
                    </li>
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">3.</span> De voorzitter van het bestuur van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven
                        en diens plaatsvervanger worden op voordracht van vertegenwoordigers van het beroepsonderwijs en van het
                        bedrijfsleven benoemd door Onze Minister, voor een periode van ten hoogste vier jaar. Zij kunnen ten hoogste
                        eenmaal worden herbenoemd voor een periode van ten hoogste vier jaar.
                      </p>
                    </li>
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">4.</span> De statuten van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven bevatten een regeling
                        voor de betrokkenheid van het beroepsonderwijs en het bedrijfsleven bij de totstandkoming van voorstellen
                        voor kwalificatiedossiers en de criteria, bedoeld in artikel 7.2.10, eerste lid, en bij de uitvoering van
                        de overige taken van de organisatie. De regeling kan nader worden uitgewerkt in een bestuursreglement.
                      </p>
                    </li>
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">5.</span> De statuten en het bestuursreglement alsmede wijzigingen daarvan behoeven de goedkeuring van
                        Onze Minister.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">R</span>
            </p>
            <p class="wat">In artikel 11.1, eerste lid, vervalt: of een kenniscentrum beroepsonderwijs bedrijfsleven.</p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">S</span>
            </p>
            <p class="wat">In artikel 12.2.2 vervallen het tweede lid en de aanduiding van het eerste lid.</p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">T</span>
            </p>
            <p class="wat">De artikelen 12.2.6, 12.2.10 en 12.3.44 vervallen.</p>
          </div>
          <h3 class="wijzig-artikel_kop">
            <a id="d16e561" name="d16e561"></a>ARTIKEL II. WIJZIGING WET OP HET ONDERWIJSTOEZICHT
          </h3>
          <p class="wat">De Wet op het onderwijstoezicht wordt als volgt gewijzigd:</p>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">A</span>
            </p>
            <p class="wat">In artikel 1, onderdeel a, wordt «Onze Minister van Economische Zaken, Landbouw en Innovatie» vervangen door: Onze
              Minister van Economische Zaken.
            </p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">B</span>
            </p>
            <p class="wat">Artikel 3, tweede lid, wordt gewijzigd als volgt.</p>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> In onderdeel a wordt «de kenniscentra beroepsonderwijs bedrijfsleven» vervangen door: de Samenwerkingsorganisatie
                beroepsonderwijs bedrijfsleven.
              </p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> In onderdeel f wordt «de kenniscentra beroepsonderwijs bedrijfsleven» vervangen door: de Samenwerkingsorganisatie
                beroepsonderwijs bedrijfsleven.
              </p>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">C</span>
            </p>
            <p class="wat">Het opschrift van hoofdstuk 3d komt te luiden:</p>
            <div class="wijziging">
              <div class="wijzig-divisie">
                <h4 class="wijzig-divisie_kop kopopmaak_vet">
                  <a id="d16e596" name="d16e596"></a>Hoofdstuk 3d. Toezicht Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven.
                </h4>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">D</span>
            </p>
            <p class="wat">In artikel 15l wordt «de kenniscentra beroepsonderwijs bedrijfsleven, bedoeld in artikel 1.5.1 van de Wet educatie
              en beroepsonderwijs» vervangen door: de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven, bedoeld in artikel
              1.5.1 van de Wet educatie en beroepsonderwijs.
            </p>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">E</span>
            </p>
            <p class="wat">Artikel 15n wordt gewijzigd als volgt:</p>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> In het eerste lid wordt «de kenniscentra, bedoeld in de artikelen 1.5.2 van de Wet educatie en beroepsonderwijs
                en 10b4 van de Wet op het voortgezet onderwijs» vervangen door: de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven,
                bedoeld in de artikelen 1.5.1 van de Wet educatie en 10b4 van de Wet op het voortgezet onderwijs.
              </p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> In het tweede lid wordt «het kenniscentrum» vervangen door: de Samenwerkingsorganisatie beroepsonderwijs
                bedrijfsleven.
              </p>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">F</span>
            </p>
            <p class="wat">In artikel 24f, tiende lid, wordt «kenniscentra beroepsonderwijs bedrijfsleven als bedoeld in artikel 1.5.1 van de
              Wet educatie en beroepsonderwijs» vervangen door: de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven, bedoeld
              in artikel 1.5.1 van de Wet educatie en beroepsonderwijs.
            </p>
          </div>
          <h3 class="wijzig-artikel_kop">
            <a id="d16e627" name="d16e627"></a>ARTIKEL III. WIJZIGING WET OP HET VOORTGEZET ONDERWIJS
          </h3>
          <p class="wat">De Wet op het voortgezet onderwijs wordt als volgt gewijzigd:</p>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">A</span>
            </p>
            <p class="wat">Artikel 10b3, eerste lid, komt te luiden:</p>
            <div class="wijziging">
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Het buitenschoolse praktijkgedeelte wordt verzorgd door een bedrijf of organisatie, op grondslag
                      van een leer-werkovereenkomst, gesloten door het bevoegd gezag, de betrokken leerling of diens wettelijk
                      vertegenwoordiger en dat bedrijf of die organisatie.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">B</span>
            </p>
            <p class="wat">De artikelen 10b4 en 10b5 worden vervangen door:</p>
            <div class="wijziging">
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e655" name="d16e655"></a>Artikel 10b4. Beoordeling kwaliteit en erkenning leerbedrijven
                </h4>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Het bedrijf dat of de organisatie die het buitenschoolse praktijkgedeelte verzorgt, draagt zorg
                      voor de begeleiding van de leerlingen binnen het bedrijf respectievelijk de organisatie.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Het bestuur van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven, bedoeld in artikel
                      1.5.1 van de Wet educatie en beroepsonderwijs, zorgt ervoor dat bedrijven en organisaties die het buitenschoolse
                      praktijkgedeelte verzorgen eenmaal in de vier jaar worden beoordeeld aan de hand van de kwaliteitseisen in
                      artikel 10b6. Indien daartoe door bijzondere omstandigheden aanleiding bestaat kan controle frequenter plaats
                      vinden.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> Het bestuur van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven erkent een bedrijf of
                      organisatie als leerbedrijf voor het buitenschoolse praktijkgedeelte of handhaaft de erkenning bij een gunstige
                      beoordeling op grond van het tweede lid, eerste volzin. Het bestuur weigert de erkenning of trekt de erkenning
                      in, indien de in het tweede lid, eerste volzin, bedoelde beoordeling ongunstig is.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">4.</span> Het bestuur vraagt geen vergoeding voor de kosten van de beoordeling, bedoeld in het tweede lid,
                      en de beschikkingen, bedoeld in het derde lid.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">5.</span> De erkenning vervalt van rechtswege als het leerbedrijf gedurende een aaneengesloten periode van
                      vier jaar geen buitenschools praktijkgedeelte heeft verzorgd.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">6.</span> Indien het bevoegd gezag na het sluiten van de leer-werkovereenkomst vaststelt dat de praktijkplaats
                      niet of niet volledig beschikbaar is, de begeleiding tekortschiet of ontbreekt, of sprake is van andere omstandigheden
                      die maken dat het buitenschoolse praktijkgedeelte niet naar behoren zal kunnen worden verzorgd, bevordert
                      het bevoegd gezag, na overleg met het bestuur van de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven
                      dat een toereikende vervangende voorziening beschikbaar wordt gesteld.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">7.</span> De Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven draagt zorg voor openbaarmaking van
                      een overzicht van bedrijven en organisaties met een erkenning op grond van het derde lid, eerste volzin.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">8.</span> Tot het verzorgen van het buitenschoolse praktijkgedeelte zijn uitsluitend bevoegd de bedrijven
                      en organisaties met een erkenning op grond van het derde lid, eerste volzin.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e700" name="d16e700"></a>Artikel 10b5. Subsidie voor taken leerwerktrajecten
                </h4>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Onze Minister verstrekt de Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven, bedoeld in
                      artikel 1.5.1 van de Wet educatie en beroepsonderwijs, binnen het raam van de door de begrotingswetgever
                      beschikbaar gestelde middelen subsidie voor de uitvoering van de taken, bedoeld in artikel 10b4.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> De subsidie wordt per boekjaar verstrekt. De artikelen 2.4.2 en 2.4.3 van de Wet educatie en beroepsonderwijs
                      zijn van overeenkomstige toepassing.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <h3 class="wijzig-artikel_kop">
            <a id="d16e714" name="d16e714"></a>ARTIKEL IV. WIJZIGING WET NORMERING BEZOLDIGING TOPFUNCTIONARISSEN PUBLIEKE EN SEMIPUBLIEKE SECTOR
          </h3>
          <p class="wat">Bijlage 1 van de Wet normering bezoldiging topfunctionarissen publieke en semipublieke sector wordt gewijzigd als volgt:
          </p>
          <div class="wijziging">
            <p class="wat labeled">
              <span class="nr">1.</span> In het onderdeel «Ministerie van Onderwijs, Cultuur en Wetenschap» wordt punt 18 vervangen door:
            </p>
            <div class="artikeltekst">
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">18. </span>De rechtspersoon, bedoeld in artikel 1.5.1, eerste lid, van de Wet educatie en beroepsonderwijs.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="wijziging">
            <p class="wat labeled">
              <span class="nr">2.</span> In het onderdeel «Ministerie van Economische Zaken» vervalt punt 2.
            </p>
          </div>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d16e737" name="d16e737"></a>ARTIKEL V. INVOERINGSBEPALING WET OVERGANG VAN DE WETTELIJKE TAKEN VAN DE KENNISCENTRA BEROEPSONDERWIJS BEDRIJFSLEVEN
              NAAR EEN SAMENWERKINGSORGANISATIE BEROEPSONDERWIJS BEDRIJFSLEVEN
            </h3>
            <ul class="artikel_leden whitespace-small">
              <li>
                <p class="lid labeled">
                  <span class="lidnr">1.</span> Onverminderd het derde, vierde en vijfde lid kan Onze Minister de eerste keer uitsluitend een rechtspersoon
                  als bedoeld in artikel 1.5.1, eerste lid, van de Wet educatie en beroepsonderwijs aanwijzen, indien de rechtspersoon
                  een door Onze Minister goedgekeurde overeenkomst heeft gesloten met alle kenniscentra beroepsonderwijs bedrijfsleven
                  waarin een regeling is opgenomen voor
                </p>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">a. </span>het overnemen van personeelsleden die zijn belast met wettelijke taken van kenniscentra door de
                      in aanhef bedoelde rechtspersoon,
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">b. </span>de uitkeringen van gewezen personeelsleden die waren belast met wettelijke taken van kenniscentra
                      en van personeelsleden die zijn belast met wettelijke taken van de kenniscentra en niet worden overgenomen
                      door de in aanhef bedoelde rechtspersoon,
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">c. </span>de overdracht door de kenniscentra aan de in de aanhef bedoelde rechtspersoon van vermogensrechtelijke
                      reserves die zijn opgebouwd met middelen uit ’s Rijks kas en
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">d. </span>de overige activa en de passiva van de kenniscentra, voor zover deze zijn toe te rekenen aan de
                      wettelijke taken van de kenniscentra,
                    </p>
                  </li>
                </ul>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">2.</span> Een overeenkomst als bedoeld in het eerste lid leidt ertoe dat het kenniscentrum beroepsonderwijs bedrijfsleven
                  na de beëindiging van de bekostiging op grond van artikel VI geen financiële aanspraken op het Rijk meer heeft.
                </p>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">3.</span> Het kenniscentrum beroepsonderwijs bedrijfsleven en de rechtspersoon, bedoeld in het eerste lid, leggen
                  voor 1&nbsp;juni 2015, of, indien dat later is, binnen 2&nbsp;maanden na de inwerkingtreding van dit artikel
                  een overeenkomst die voldoet aan de eisen, bedoeld in het eerste en tweede lid, ter goedkeuring voor aan Onze
                  Minister.
                </p>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">4.</span> Indien een of meer overeenkomsten als bedoeld in het derde lid niet of niet tijdig ter goedkeuring
                  aan Onze Minister worden voorgelegd, kan Onze Minister een rechtspersoon als bedoeld in het eerste lid aanwijzen
                  in afwijking van de eis, dat met alle kenniscentra beroepsonderwijs bedrijfsleven een door Onze Minister goedgekeurde
                  overeenkomst is gesloten die voldoet aan de eisen, bedoeld in het eerste en tweede lid.
                </p>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">5.</span> Spoedeisende gevallen uitgezonderd vindt de aanwijzing, bedoeld in het vierde lid, niet eerder plaats
                  dan nadat de betrokken partijen in de gelegenheid zijn gesteld om binnen een door Onze Minister te stellen termijn
                  alsnog een overeenkomst als bedoeld in het derde lid, ter goedkeuring voor te leggen aan Onze Minister.
                </p>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">6.</span> Het bestuur van een kenniscentrum beroepsonderwijs bedrijfsleven dat geen door Onze Minister goedgekeurde
                  overeenkomst als bedoeld in het derde lid heeft gesloten, stort bij beëindiging van de bekostiging van het kenniscentrum
                  de vermogensrechtelijke reserves die zijn opgebouwd met middelen uit ’s Rijks kas terug in ’s Rijks kas. Indien
                  het desbetreffende kenniscentrum bij beëindiging van de bekostiging een negatieve reserve heeft, blijft dit voor
                  rekening van het kenniscentrum.
                </p>
              </li>
            </ul>
          </div>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d16e793" name="d16e793"></a>ARTIKEL VI. EINDE TAKEN EN BEKOSTIGING KENNISCENTRA BEROEPSONDERWIJS BEDRIJFSLEVEN
            </h3>
            <ul class="artikel_leden whitespace-small">
              <li>
                <p class="lid labeled">
                  <span class="lidnr">1.</span> De wettelijke taken en de aanspraak op bekostiging van de kenniscentra beroepsonderwijs bedrijfsleven,
                  bedoeld in artikel 1.5.1 van de Wet educatie en beroepsonderwijs zoals luidend op 31&nbsp;juli 2015, vervallen
                  met ingang van de datum waarop artikel I, met uitzondering van onderdeel B, en de artikelen II, III en IV van
                  deze wet in werking treden.
                </p>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">2.</span> Indien op de dag waarop artikel I, met uitzondering van onderdeel B, en de artikelen II, III en IV
                  in werking treden nog geen rechtspersoon als bedoeld in artikel I, onderdeel B, is aangewezen, blijven tot een
                  bij koninklijk besluit te bepalen datum
                </p>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">a. </span>de wettelijke taken en de aanspraak op bekostiging van de kenniscentra beroepsonderwijs bedrijfsleven
                      van kracht, en
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">b. </span>de artikelen 2.1.4, 2.1.5, 2.1.6, 2.4.1, 2.4.2, 2.4.3, 2.5.10, 4.3.1, 4.3.2, 4.3.3, 6.1.3, tweede
                      lid, 7.2.4, tweede en derde lid, 7.2.5, 7.2.5a, 7.2.6, eerste lid, 7.2.9, tweede lid, 7.2.10, 11.1, eerste
                      lid, 12.2.2, tweede lid, en 12.2.6 van de Wet educatie en beroepsonderwijs, de artikelen 3, tweede lid, 15l,
                      15n, eerste en tweede lid, en 24f, tiende lid, van de Wet op het onderwijstoezicht, de artikelen 10b3, eerste
                      lid, 10b4 en 10b5 van de Wet voortgezet onderwijs en punt 18 van onderdeel «Ministerie van Onderwijs, Cultuur
                      en Wetenschap» van bijlage 1 bij de Wet normering bezoldiging topfunctionarissen publieke en semi-publieke
                      sector, zoals luidend op 31&nbsp;juli 2015 van toepassing.
                    </p>
                  </li>
                </ul>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">3.</span> Ten aanzien van bedragen waarop de kenniscentra beroepsonderwijs bedrijfsleven voorafgaand aan de in
                  het eerste of tweede lid bedoelde datum aanspraak hebben, maar die nog niet zijn vastgesteld of uitbetaald, blijven
                  de bij of krachtens de Wet educatie en beroepsonderwijs of de Wet op het voortgezet onderwijs vastgestelde voorschriften
                  zoals luidend op de dag voorafgaand aan de in het eerste lid bedoelde datum van toepassing.
                </p>
              </li>
            </ul>
          </div>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d16e824" name="d16e824"></a>ARTIKEL VII. HANDHAVING ERKENNING LEERBEDRIJVEN
            </h3>
            <ul class="artikel_leden whitespace-small">
              <li>
                <p class="lid labeled">
                  <span class="lidnr">1.</span> Bedrijven en organisaties die op de datum voorafgaande aan de datum van inwerkingtreding van artikel
                  I, onderdeel N, beschikken over een gunstige beoordeling op grond van artikel 7.2.10, eerste lid, van de Wet
                  educatie en beroepsonderwijs zoals luidend op eerstbedoelde datum, worden aangemerkt als leerbedrijven met een
                  erkenning als bedoeld in artikel 7.2.10, tweede lid, eerste volzin, van de Wet educatie en beroepsonderwijs.
                </p>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">2.</span> Bedrijven en organisaties die op de datum voorafgaande aan de datum van inwerkingtreding van artikel
                  III, onderdeel B, beschikken over een gunstige beoordeling op grond van artikel 10b4, tweede lid, van de Wet
                  op het voortgezet onderwijs zoals luidend op eerstbedoelde datum, worden aangemerkt als leerbedrijven met een
                  erkenning als bedoeld in artikel 10b4, derde lid, eerste volzin, van de Wet op het voortgezet onderwijs.
                </p>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">3.</span> Bedrijven en organisaties die beschikken over een gunstige beoordeling op grond van artikel VI, tweede
                  lid, onderdeel b, juncto artikel 7.2.10, eerste lid, van de Wet educatie en beroepsonderwijs of 10b4 van de Wet
                  op het voortgezet onderwijs zoals luidend op 31&nbsp;juli 2015, worden aangemerkt als leerbedrijven met een erkenning
                  als bedoeld in artikel 7.2.10, tweede lid, eerste volzin, van de Wet educatie en beroepsonderwijs onderscheidenlijk
                  artikel 10b4, derde lid, eerste volzin, van de Wet op het voortgezet onderwijs.
                </p>
              </li>
            </ul>
          </div>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d16e844" name="d16e844"></a>ARTIKEL VIIA. EVALUATIEBEPALING
            </h3>
            <p>Onze Minister van Onderwijs, Cultuur en Wetenschap zendt binnen drie jaar na de inwerkingtreding van deze wet, aan
              de Staten-Generaal een verslag over de doeltreffendheid en de effecten van deze wet in de praktijk.
            </p>
          </div>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d16e850" name="d16e850"></a>ARTIKEL VIII. INWERKINGTREDING
            </h3>
            <p>Deze wet treedt in werking op een bij koninklijk besluit te bepalen tijdstip dat voor de verschillende artikelen en
              onderdelen daarvan verschillend kan worden vastgesteld.
            </p>
          </div>
        </div>
        <div class="wetsluiting">
          <a id="d16e856" name="d16e856"></a>
          <div class="slotformulering">
            <p>Lasten en bevelen dat deze in het Staatsblad zal worden geplaatst en dat alle ministeries, autoriteiten, colleges en
              ambtenaren die zulks aangaat, aan de nauwkeurige uitvoering de hand zullen houden.
              <sup class="histnoot">
                <a class="nootnum supernote-click-d15e1671" href="#d15e1671">histnoot</a>
              </sup>
            </p>
          </div>
          <div class="gegeven">
            <p class="dagtekening">Gegeven te Wassenaar, 16 april 2015</p>
            <p class="koning">Willem-Alexander</p>
          </div>
          <p class="ondertekening">
            <span class="functie">De Minister van Onderwijs, Cultuur en Wetenschap,</span>
            <span class="naam">
              <span class="voornaam">M.</span>
              <span class="achternaam">Bussemaker</span>
            </span>

          </p>
          <p class="ondertekening">
            <span class="functie">De Staatssecretaris van Economische Zaken,</span>
            <span class="naam">
              <span class="voornaam">S.A.M.</span>
              <span class="achternaam">Dijksma</span>
            </span>
          </p>
          <p class="ondertekening">
            <span class="functie">De Minister voor Wonen en Rijksdienst,</span>
            <span class="naam">
              <span class="voornaam">S.A.</span>
              <span class="achternaam">Blok</span>
            </span>
          </p>
          <div class="uitgifte">
            <p>Uitgegeven de
              <em class="cur">achtste</em> mei 2015
            </p>
            <p class="ondertekening">
              <span class="functie">De Minister van Veiligheid en Justitie,</span>
              <span class="naam">
                <span class="voornaam">I.W.</span>
                <span class="achternaam">Opstelten</span>
              </span>

            </p>
          </div>
        </div>
        <div id="noten">
          <hr>
          <div class="parlementair histnoot snp-mouseoffset snb-pinned notedefault" id="supernote-note-d15e1671">
            <h5 class="note-close">
              <a class="note-close" href="#close-d15e1671">X</a>Histnoot
            </h5>
            <span class="nootnum histnoot">
              <a id="d15e1671" name="d15e1671"></a>histnoot </span>
            <p>Kamerstuk
              <a href="/dossier/34026">34 026</a>
            </p>
          </div>
        </div>

      </div>

    </article>

  </div>
</div>

