<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a name="id1-3-1">
            <!---->
          </a>
          <img alt="Logo Apeldoorn" src="https://zoek.officielebekendmakingen.nl/stcrt-2013-25489-1.png" style="width:4.0cm;height:3.2cm;">Verkeersbesluit opheffen parkeerverbod wegvakken Marconistraat</h1>
        <div class="regeling">
          <div class="aanhef">
            <a name="id1-3-2-1">
              <!---->
            </a>
            <div class="context">
              <p class="context_al">Nr. 2013-066337</p>
            </div>
            <p class="wie">Burgemeester en wethouders van Apeldoorn,</p>
            <p class="wie">gelet op het bepaalde in de Wegenverkeerswet 1994 (hierna: WVW 1994), het Reglement Verkeersregels en Verkeerstekens
              1990 (hierna: RVV 1990) en het Besluit Administratieve Bepalingen inzake het Wegverkeer (hierna: BABW).</p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">
                <strong class="vet">Overwegende:</strong>
              </strong>
            </p>
            <p class="considerans.al">dat de Marconistraat gelegen is binnen de bebouwde kom van Apeldoorn;</p>
            <p class="considerans.al">dat deze weg in het beheer is van de gemeente Apeldoorn;</p>
            <p class="considerans.al">dat de Marconistraat een weg is als bedoeld in artikel 18, lid 1 onder d van de WVW 1994;</p>
            <p class="considerans.al">dat gelet op dit artikel het college van burgemeester en wethouders van Apeldoorn bevoegd is tot het nemen van verkeersbesluiten
              voor de genoemde weg;</p>
            <p class="considerans.al">dat de bevoegdheid voor het nemen van verkeersbesluiten door het college van burgemeester en wethouders van Apeldoorn
              in het mandaat- en volmachtregister van de eenheid Beheer &amp; Onderhoud d.d. 1 mei 2013 gemandateerd is aan de
              teammanager Tactisch Beheer;</p>
            <p class="considerans.al">dat de gemeentelijke wegencategorisering van Apeldoorn is opgenomen in de Verkeersvisie 2010 - 2020;</p>
            <p class="considerans.al">dat deze categorisering aansluit op de categorisering, zoals bedoeld in het landelijke beleid Duurzaam Veilig;</p>
            <p class="considerans.al">dat aan de oostzijde van de wegvakken van de Marconistraat, tussen de aansluitingen met de Anklaarseweg en de Buys
              Ballotstraat een parkeerverbod ingesteld is;</p>
            <p class="considerans.al">dat dit parkeerverbod ingesteld is in een periode dat de Marconistraat primair een verkeersfunctie vervulde;</p>
            <p class="considerans.al">dat dit parkeerverbod de doorstroming van het verkeer, passend bij deze verkeersfunctie moest bevorderen;</p>
            <p class="considerans.al">dat dit parkeerverbod ingesteld is in een periode dat het landelijke Duurzaam Veilig beleid nog niet was vastgesteld;</p>
            <p class="considerans.al">dat uit de Verkeersvisie 2010 - 2020 blijkt dat de Marconistraat inmiddels deel uitmaakt van een verblijfsgebied (30
              km/uur zone);</p>
            <p class="considerans.al">dat het doorgaande verkeer inmiddels gebruik maakt van de Zwolseweg;</p>
            <p class="considerans.al">dat de verkeersfunctie in een verblijfsgebied ondergeschikt is aan de verblijfsfunctie;</p>
            <p class="considerans.al">dat vanuit het Duurzaam Veilig beleid in verblijfsgebieden in principe op de rijbaan geparkeerd wordt;</p>
            <p class="considerans.al">dat dit overeenkomst met de landelijke richtlijn, zoals het kenniscentrum CROW heeft opgesteld in het ASVV;</p>
            <p class="considerans.al">dat daarmee het parkeerverbod niet past bij de huidige functie van de Marconistraat;</p>
            <p class="considerans.al">dat de verwachting is dat het parkeerbeeld na opheffing van de parkeerverboden zodanig is dat de bereikbaarheid en
              de veiligheid aan de Marconistraat gewaarborgd blijft;</p>
            <p class="considerans.al">dat het parkeerverbod wordt opgeheven door het verwijderen van de verkeersborden E1 (parkeerverbod) uit bijlage 1 van
              het RVV 1990;</p>
            <p class="considerans.al">dat gelet op artikel 12 van het BABW voor het verwijderen van dit verkeersteken een verkeersbesluit vereist is;</p>
            <p class="considerans.al">dat gelet op artikel 2 van de WVW 1994 het verwijderen van het parkeerverbod strekt tot het zoveel mogelijk waarborgen
              van de vrijheid van het verkeer;</p>
            <p class="considerans.al">dat gelet op artikel 24 van het BABW overleg is gevoerd met de Politie, Eenheid Oost Nederland, district Noord en Oost
              Gelderland;</p>
            <p class="considerans.al">dat de politie een positief advies heeft afgegeven voor het nemen van dit besluit.</p>
            <p class="afkondiging">
              <strong class="vet">Het besluit:</strong>
            </p>
          </div>
          <div class="regeling-tekst">
            <a name="id1-3-2-2">
              <!---->
            </a>
            <p>Het college van burgemeester en wethouders besluit:</p>
            <p>- door het verwijderen van de verkeersborden E1 (Parkeerverbod) van bijlage 1 van het RVV 1990 het parkeerverbod aan
              de oostzijde van de wegvakken van de Marconistraat tussen de aansluitingen met de Anklaarseweg en de Buys Ballotstraat
              op te heffen.</p>
            <p>De te verwijderen verkeerstekens zijn weergegeven op de hierna volgende situatieschets.</p>
            <p>
              <strong class="vet">Situatieschets</strong>
            </p>
            <img alt="idde8fd97-de48-4a70-b685-da016b5eea70.jpg" src="https://zoek.officielebekendmakingen.nl/stcrt-2013-25489-2.jpg" style="width:7.5cm;height:9.6cm;">
            <p></p>
            <p>Op grond van de Algemene wet bestuursrecht kunt u bij het college van burgemeester en wethouders van Apeldoorn bezwaar
              maken tegen dit besluit. U dient uw bezwaarschrift uiterlijk zes weken na de datum van bekendmaking te versturen
              naar de gemeente Apeldoorn, t.a.v. de eenheid Veiligheid en Recht, Postbus 9033, 7300 ES Apeldoorn. U kunt ook digitaal
              een bezwaarschrift indienen via het formulier www.apeldoorn.nl (digitaal loket).</p>
            <p>30 juli 2013</p>
            <p>Namens burgemeester en wethouders van Apeldoorn,</p>
            <p></p>
            <p>Adri Dijkhuizen</p>
            <p>Teammanager</p>
          </div>
        </div>

      </div>    </article>

  </div>
</div>
