<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a id="d16e50" name="d16e50"></a>Besluit van de Minister van Buitenlandse Zaken in overeenstemming met de Minister van Veiligheid en Justitie en de
          Minister van Financiën van 20&nbsp;december 2013, nr.&nbsp;DVB/TN/180-2013, tot aanwijzing van de heer Omar Hmima als
          persoon jegens wie de Sanctieregeling terrorisme 2007-II van toepassing is
        </h1>
        <div class="regeling">
          <div class="aanhef">
            <a id="d16e55" name="d16e55"></a>
            <p class="wie">De Minister van Buitenlandse Zaken,</p>
            <p class="considerans.al">Handelende in overeenstemming met de Minister van Veiligheid en Justitie en de Minister van Financiën,
            </p>
            <p class="considerans.al">Gelet op artikel 2, eerste lid, van de Sanctieregeling terrorisme 2007-II,</p>
            <p class="afkondiging">Besluit:</p>
          </div>
          <div class="regeling-tekst">
            <a id="d16e67" name="d16e67"></a>
            <div class="alineagroep">
              <p>De Sanctieregeling terrorisme 2007-II is van toepassing op:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">– </span>Omar Hmima, geboren op 15&nbsp;september 1991 te Amsterdam, wonende op het adres Molukkenstraat 114B,
                    te 1094 BC te Amsterdam.
                  </p>
                </li>
              </ul>
            </div>
            <p>De gronden voor dit besluit zijn vermeld in de bijlage.</p>
          </div>
          <div class="regeling-sluiting">
            <a id="d16e85" name="d16e85"></a>
            <div class="slotformulering">
              <p>Van dit besluit wordt mededeling gedaan door plaatsing van het besluit in de Staatscourant, met uitzondering van
                de daarbij behorende bijlage.
              </p>
            </div>
            <p class="ondertekening">
              <span class="functie">De Minister van Buitenlandse Zaken,</span>
              <span class="deze">Voor deze:</span>
              <span class="functie">De directeur van de Directie Juridische Zaken,</span>
              <span class="naam">
                <span class="voornaam">A.S.</span>
                <span class="achternaam">Tuinstra.</span>
              </span>
            </p>
          </div>
          <div class="bezwaarschrift">
            <p>
              <em class="cur">Tegen dit besluit kan binnen zes weken na verzending schriftelijk bezwaar worden aangetekend bij de Minister van
                Buitenlandse Zaken, Postbus 20061, 2500 EB Den Haag. Het bezwaarschrift moet op grond van artikel 6:5 van de Algemene
                wet bestuursrecht zijn ondertekend en tenminste bevatten: naam en adres van de indiener, de dagtekening, de omschrijving
                van het besluit waartegen het bezwaar is gericht en de gronden waarop het bezwaarschrift berust. Zo mogelijk dient
                een kopie van het bestreden besluit te worden toegevoegd.</em>
            </p>
          </div>
        </div>

      </div>    </article>

  </div>
</div>
