<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

    <div id="broodtekst" class="stuk broodtekst-container">

      <h1 class="staatscourant_kop">
        <a id="d16e43" name="d16e43"></a>Uitspraak Centraal Tuchtcollege voor de Gezondheidszorg
      </h1>
      <div class="circulaire">
        <div class="circulaire_aanhef">
          <a id="d16e48" name="d16e48"></a>
          <div class="context">
            <p class="context_al kenmerk">Nr. C2012.443</p>
          </div>
        </div>
        <div class="circulaire-tekst">
          <a id="d16e55" name="d16e55"></a>
          <div class="alineagroep">
            <p>Beslissing in de zaak onder nummer C2012.443 van:</p>
            <p>A., wonende te B., appellante, klaagster in eerste aanleg,</p>
            <p>tegen</p>
            <p>C., huisarts, werkzaam te B., verweerder in beide instanties, mr. V.C.A.A.V. Daniels, te Utrecht.
            </p>
          </div>
          <div class="circulaire_divisie">
            <h3 class="divisiekop1">
              <a id="d16e70" name="d16e70"></a>1. Verloop van de procedure
            </h3>
            <div class="alineagroep">
              <p>A. – hierna klaagster – heeft op 23&nbsp;maart 2012 bij het Regionaal Tuchtcollege te Groningen tegen C. – hierna
                de huisarts – een klacht ingediend. Bij beslissing van 9&nbsp;oktober 2012, onder nummer G2012/28 heeft dat College
                de klacht afgewezen.
              </p>
              <p>Klaagster is van die beslissing tijdig in hoger beroep gekomen. De huisarts heeft een verweerschrift in hoger beroep
                ingediend.
              </p>
              <p>De zaak is in hoger beroep behandeld ter openbare terechtzitting van het Centraal Tuchtcollege van 11&nbsp;juni
                2013, waar zijn verschenen klaagster, haar zoon en de huisarts, bijgestaan door zijn gemachtigde.
              </p>
            </div>
          </div>
          <div class="circulaire_divisie">
            <h3 class="divisiekop1">
              <a id="d16e83" name="d16e83"></a>2. Beslissing in eerste aanleg
            </h3>
            <p>Het Regionaal Tuchtcollege heeft aan zijn beslissing het volgende ten grondslag gelegd.</p>
            <blockquote cite="no url reference">
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">“2. </span>
                    <em class="ondlijn">Vaststaande feiten</em>
                  </p>
                  <p>Voor de beoordeling van de klacht gaat het College uit van de volgende feiten, die tussen partijen als niet
                    of onvoldoende betwist vaststaan.
                  </p>
                  <p>Klaagster is sinds 2003 diabetespatiënt. Zij heeft zich op 23&nbsp;december 2011 voor een consult tot verweerder
                    gewend. Verweerder diagnosticeerde forse voetschimmel bij de kleine teen van de rechtervoet en schreef Biotexbadjes
                    en hydrocort/miconazolcrème voor. Omdat de behandeling niet aansloeg, is klaagster op 29&nbsp;december 2011
                    bij de waarnemer van verweerder op consult geweest. Deze constateerde een stinkende wond tussen de tenen
                    met oedeem en roodheid van de voorvoet en diagnosticeerde een diabetische voet. Na overleg met een chirurg
                    van het D., heeft de waarnemer klaagster antibiotica voorgeschreven en een kweek afgenomen. Op 6&nbsp;februari
                    2012 is de kleine teen van de rechtervoet van klaagster geamputeerd.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3. </span>
                    <em class="ondlijn">De klacht</em>
                  </p>
                  <p>De klacht luidt – zakelijk weergegeven – als volgt.</p>
                  <p>Klaagster verwijt verweerder het schenden van patientenrechten en onzorgvuldig handelen. Meer specifiek verwijt
                    zij hem dat hij haar niet serieus heeft genomen, een verkeerde diagnose heeft gesteld, een onjuiste behandelmethode
                    heeft gekozen en de behandelmethode verkeerd heeft uitgevoerd, hetgeen heeft geresulteerd in de amputatie
                    van een teen.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4. </span>
                    <em class="ondlijn">Het verweer</em>
                  </p>
                  <p>Verweerder geeft aan dat hij een voetschimmel als diagnose het meest waarschijnlijk achtte en dat hij klaagster
                    de daarbij behorende behandeladviezen heeft gegeven. Hij verklaart dat hij haar – zoals gebruikelijk tijdens
                    consulten – heeft geadviseerd bij hem op consult terug te komen indien de behandeling niet zou aanslaan dan
                    wel indien de klachten zouden toenemen. Klaagster is na het consult op 23&nbsp;december 2011 bij een andere
                    huisarts terug geweest.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">5. </span>
                    <em class="ondlijn">Beoordeling van de klacht</em>
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">5.1 </span>
                        <em class="ondlijn">Eerste klachtonderdeel</em>
                      </p>
                      <p>Het College is van oordeel dat geen feiten en omstandigheden zijn gebleken waarmee het gevoel van klaagster
                        geobjectiveerd kan worden dat verweerder haar niet serieus nam. De stelling van klaagster dat zij bij
                        het consult op 23&nbsp;december 2011 een bult in haar lies heeft genoemd, wordt door verweerder ten stelligste
                        ontkend. Hetzelfde geldt voor de stelling van klaagster dat verweerder haar niet heeft gezegd dat zij
                        terug moest komen indien de klachten niet over zouden gaan dan wel zouden verergeren. Aangezien de stellingen
                        van beide partijen lijnrecht tegenover elkaar staan en er geen getuigen bij dit consult zijn geweest,
                        kan het College hierover geen oordeel uitspreken. Hoewel het College opmerkt dat de aantekeningen in
                        het medisch dossier bijzonder summier zijn, gaat het in dit geval te ver daaraan de conclusie te verbinden
                        dat de stelling van klaagster daarom voor waarschijnlijker moet worden gehouden.
                      </p>
                      <p>Gezien vorenstaande zal dit klachtonderdeel ongegrond worden verklaard.</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">5.2 </span>
                        <em class="ondlijn">Tweede klachtonderdeel</em>
                      </p>
                      <p>Verweerder heeft op het consult van klaagster op 23&nbsp;december 2011 de diagnose voetschimmel gesteld.
                        Het de vraag is of die diagnose op het moment van het eerste consult onjuist was, nu is gebleken dat
                        de conditie van de teen in de dagen na dat consult fors slechter is geworden. Weliswaar kan niet worden
                        uitgesloten dat er op dat moment al van een bacteriële infectie sprake was, maar dit is niet vast te
                        stellen. Het College is van oordeel dat er onvoldoende aanknopingspunten zijn om te oordelen dat verweerder
                        bij dit eerste consult tot een andere diagnose had moeten komen, waarbij nog wordt opgemerkt dat verweerder
                        na dat eerste consult niet meer in de gelegenheid is geweest zijn diagnose en de behandeling bij te stellen.
                        Dat de aandoening uiteindelijk een voor klaagster dramatisch verloop heeft gehad, dat resulteerde in
                        de amputatie van een teen, is uiteraard zeer betreurenswaardig maar hiervan kan verweerder tuchtrechtelijk
                        geen verwijt worden gemaakt.
                      </p>
                      <p>Dit klachtonderdeel zal ongegrond worden verklaard.</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">5.3 </span>
                        <em class="ondlijn">Derde en vierde klachtonderdeel</em>
                      </p>
                      <p>Het College is van oordeel dat de behandelmethode die verweerder heeft ingezet bij de diagnose voetschimmel
                        op zichzelf niet als onjuist kan worden gekwalificeerd. Het verwijt dat verweerder de behandeling niet
                        op juiste wijze heeft uitgevoerd, treft geen doel nu verweerder de behandeling slechts heeft geïnitieerd
                        en klaagster hem niet de gelegenheid heeft gegeven daar verder vervolg aan te geven.
                      </p>
                      <p>Deze klachtonderdelen zullen eveneens ongegrond worden verklaard.</p>
                    </li>
                  </ul>
                </li>
              </ul>
            </blockquote>
          </div>
          <div class="circulaire_divisie">
            <h3 class="divisiekop1">
              <a id="d16e159" name="d16e159"></a>3. Vaststaande feiten en omstandigheden
            </h3>
            <p>Voor de beoordeling van het hoger beroep gaat het Centraal Tuchtcollege uit van de feiten en omstandigheden zoals
              weergegeven in de beslissing in eerste aanleg, welke weergave in hoger beroep niet, althans onvoldoende, is bestreden.
            </p>
          </div>
          <div class="circulaire_divisie">
            <h3 class="divisiekop1">
              <a id="d16e167" name="d16e167"></a>4. Beoordeling van het hoger beroep
            </h3>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">4.1 </span>In hoger beroep heeft klaagster haar klacht herhaald en nader toegelicht. Klaagster verwijt de huisarts
                  dat hij haar niet serieus heeft genomen (1), een verkeerde diagnose heeft gesteld (2), een onjuiste behandelmethode
                  heeft gekozen (3) en de behandelmethode verkeerd heeft uitgevoerd (4).
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">4.2 </span>De huisarts heeft gemotiveerd verweer gevoerd en geconcludeerd tot verwerping van het beroep.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">4.3 </span>Met het Regionaal Tuchtcollege is het Centraal Tuchtcollege van oordeel dat geen feiten en omstandigheden
                  zijn gebleken waarmee het gevoel van klaagster geobjectiveerd kan worden dat verweerder haar klachten tijdens
                  het consult van 23&nbsp;december 2011 niet serieus nam. Ten aanzien van klachtonderdeel (1) wordt klaagsters
                  beroep dan ook verworpen.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">4.4 </span>Het Centraal Tuchtcollege ziet aanleiding de klachtonderdelen (2), (3) en (4) gezamenlijk te behandelen.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">4.5 </span>Het was de huisarts bekend dat klaagster reeds sinds 2003 diabetespatiënt was. Ter zitting van het
                  Centraal Tuchtcollege heeft de huisarts desgevraagd verklaard dat klaagster in zijn praktijk was opgenomen
                  in de diabeteszorg, hetgeen onder meer inhield dat zij drie keer per jaar werd gezien door de praktijkondersteuner
                  en één keer per jaar door de huisarts zelf. Ter zitting heeft de huisarts voorts verklaard dat hij klaagster
                  in 2011 heeft doorverwezen naar een internist vanwege neuropathie. Op het consult op 23&nbsp;december 2011
                  – waar klaagster naar eigen zeggen verscheen met een opgezette voet (zij kon geen gewone schoen dragen) en
                  de huisarts roodheid en een gemacereerde huid met kloofjes tussen de 4
                  <sup>e</sup> en de 5
                  <sup>e</sup> teen van de rechtervoet constateerde – diagnostiseerde de huisarts een voetschimmel met, zoals hij
                  ter zitting verklaarde, in de differentiaal diagnose een diabetische voet.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">4.6 </span>Het Centraal Tuchtcollege is, gezien de medische voorgeschiedenis van klaagster en de feiten en
                  omstandigheden zoals die bleken op het consult van 23&nbsp;december 2011, van oordeel dat er sprake was van
                  een diabetisch ulcus bij een diabetische voet. Bij een diabetisch ulcus is een verwijzing naar een voetenteam
                  of een in diabetische voet geïnteresseerde specialist geïndiceerd, tenzij de huisarts zelf een adequate behandeling
                  start. De behandeling bestaat in elk geval uit een oraal antibioticum en herbeoordeling na 48 uur om een verder
                  beleid te bepalen. Er kan niet worden volstaan met een lokaal middel tegen voetschimmel. Tegen deze achtergrond
                  had de huisarts tenminste een actief terugkombeleid met klaagster moeten afspreken. Weliswaar heeft de huisarts
                  verklaard dat hij standaard tegen zijn patiënten zegt dat zij terug moeten komen als de klachten niet afnemen,
                  echter in dit geval had hij niet met een dergelijke melding mogen volstaan. Daarnaast is kennelijk niet met
                  klaagster besproken op welke termijn de voorgeschreven behandeling zou moeten aanslaan. Het Centraal Tuchtcollege
                  is van oordeel dat het beroep van klaagster in zoverre slaagt en dat de onderhavige klachtonderdelen gegrond
                  zijn. De oplegging van de maatregel van waarschuwing wordt passend en geboden geacht.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">4.7 </span>Om redenen aan het algemeen belang ontleend, zal het Centraal Tuchtcollege bepalen dat deze beslissing
                  op hierna te noemen wijze zal worden bekendgemaakt. Dit leidt tot de volgende beslissing.
                </p>
              </li>
            </ul>
          </div>
          <div class="circulaire_divisie">
            <h3 class="divisiekop1">
              <a id="d16e215" name="d16e215"></a>5. Beslissing
            </h3>
            <div class="alineagroep">
              <p>Het Centraal Tuchtcollege voor de Gezondheidszorg:</p>
              <p>vernietigt de beslissing waarvan hoger beroep voor zover daarin de klachtonderdelen (2), (3) en (4) ongegrond zijn
                verklaard en opnieuw rechtdoende:
              </p>
              <p>verklaart deze klachtonderdelen gegrond;</p>
              <p>legt de huisarts de maatregel van waarschuwing op;</p>
              <p>verwerpt het beroep voor het overige;</p>
              <p>bepaalt dat deze beslissing op de voet van artikel 71 Wet BIG zal worden bekendgemaakt in de Staatscourant, en
                zal worden aangeboden aan het Tijdschrift voor Gezondheidsrecht, Gezondheidszorg Jurisprudentie en Medisch Contact
                en met het verzoek tot plaatsing.
              </p>
              <p>Deze beslissing is gegeven door: mr. E.J. van Sandick, voorzitter, mr. H.C. Cusell en mr.drs. R. Prakke-Nieuwenhuizen,
                leden-juristen en dr. B.P.M.Schweitzer en drs. M.G.M. Smid-Oostendorp, leden-beroepsgenoten en mr. M.W. van Beek,
                secretaris, en uitgesproken ter openbare zitting van 3&nbsp;september 2013.
              </p>
            </div>
          </div>
        </div>
        <div class="circulaire-sluiting">
          <a id="d16e236" name="d16e236"></a>
          <p class="ondertekening">
            <span class="functie">Voorzitter.</span>
          </p>
          <p class="ondertekening">
            <span class="functie">Secretaris.</span>
          </p>
        </div>
      </div>

    </div>
         </article>

  </div>
</div>
