<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="staatscourant_kop">
          <a id="d164e44" name="d164e44"></a>Uitvoeringsconvenant Mobiliteitsproject regio Eindhoven−’s-Hertogenbosch
        </h1>
        <div class="algemeen">
          <div class="aanhef">
            <p class="afkondiging">• De Minister van Verkeer en Waterstaat, C.M.P.S. Eurlings, handelend als bestuursorgaan;
            </p>
            <p class="afkondiging">• de provincie Noord-Brabant, ten deze krachtens artikel 176 van de Provinciewet rechtsgeldig vertegenwoordigd door
              mevrouw drs. C. van Nieuwenhuizen, gedeputeerde, gemachtigd bij besluit van de commissaris van de Koningin d.d. 13&nbsp;mei
              2009;
            </p>
            <p class="afkondiging">• de publiekrechtelijke rechtspersoon (openbaar lichaam in de zin van artikel 2 lid 1 van de Wet Gemeenschappelijke
              Regelingen) Samenwerkingsverband Regio Eindhoven en het Dagelijks Bestuur van het Samenwerkingsverband Regio Eindhoven,
              gevestigd te Eindhoven, ten deze rechtsgeldig vertegenwoordigd door het lid van het Dagelijks Bestuur de heer drs.
              H.J.A. van Merrienboer;
            </p>
            <p class="afkondiging">• de Gemeente ’s-Hertogenbosch, gevestigd te ’s-Hertogenbosch, ten deze rechtsgeldig vertegenwoordigd door de wethouder
              de heer drs. B.S. Eigeman;
            </p>
            <p class="afkondiging">• de Gemeente Eindhoven, gevestigd te Eindhoven, ten deze rechtsgeldig vertegenwoordigd door de wethouder de heer drs.
              H.J.A. van Merrienboer.
            </p>
          </div>
          <div class="vrije-tekst">
            <a id="d164e60" name="d164e60"></a>
            <h3 class="divisiekop1">
              <a id="d164e63" name="d164e63"></a>Doel en looptijd van het convenant
            </h3>
            <p>Het doel van dit uitvoeringsconvenant is het vastleggen van de tussen partijen bereikte overeenstemming over de voorwaarden
              voor de uitvoering en financiering van het Mobiliteitsproject regio Eindhoven−’s-Hertogenbosch. De opzet van het
              Mobiliteitsproject in het kader van Anders betalen voor Mobiliteit is beschreven in het (niet openbare) plan van
              aanpak Mobiliteitsproject regio Eindhoven−’s-Hertogenbosch. Het convenant treedt in werking met ingang van de dag
              na ondertekening (zijnde 1&nbsp;juli 2009) en eindigt op 31&nbsp;december 2011. Partijen treden uiterlijk 3 maanden
              voor laatstgenoemd datum in overleg over eventuele voortzetting van dit convenant.
            </p>
            <h3 class="divisiekop1">
              <a id="d164e68" name="d164e68"></a>Wederzijdse verplichtingen
            </h3>
            <p>De provincie Noord-Brabant en het Samenwerkingsverband Regio Eindhoven dragen als opdrachtgever zorg voor het Mobiliteitsproject
              regio Eindhoven−’s-Hertogenbosch in het kader van het regionale convenant Mobiliteitsmanagement Noord-Brabant en
              voor de uitvoering van het Mobiliteitsproject conform het plan van aanpak en de geldende nationale (o.a. de Privacywetgeving)
              en internationale regelgeving (o.a. Europese aanbestedingsregelgeving). De opdrachtgever handelt hierbij voor eigen
              rekening en risico. De Minister gaat op basis van het door hem goedgekeurde plan van aanpak over tot verhoging van
              de BDU verkeer en vervoer gedurende de looptijd van het convenant (2010 en 2011). Deze gelden zijn bestemd als bijdrage
              voor de door de provincie Noord-Brabant en het Samenwerkingsverband Regio Eindhoven gemaakte kosten aan derden ten
              behoeve van de uitvoering en begeleiding van het Mobiliteitsproject regio Eindhoven−’s-Hertogenbosch. Indien de aan
              het Mobiliteitsproject regio Eindhoven−’s-Hertogenbosch deelnemende weggebruikers inkomstenbelasting verschuldigd
              zijn over de ontvangen vergoedingen, dan wordt deze afdracht vergoed door de Minister. Voorwaarde is dat het betalingsmechanisme
              aan de deelnemende weggebruikers voldoet aan de voorwaarden behorend bij de zogenaamde (fiscale) ‘vrijwilligersregeling
              voor werknemers en resultaatgenieters’. De gemeenten ‘s-Hertogenbosch en Eindhoven verlenen hun medewerking aan het
              organisatorisch en fysiek mogelijk maken van het Mobiliteitsproject voor zover deze betrekking heeft op een gebied
              binnen hun gemeentegrenzen.
            </p>
            <p>Dit convenant ligt, met uitzondering van de vertrouwelijke bijlagen 2 en 3 (het plan van aanpak respectievelijk de
              kostenraming), van 3&nbsp;augustus tot 3&nbsp;september 2009 ter inzage op het ministerie van Verkeer en Waterstaat,
              Plesmanweg 1−6 te Den Haag bij het secretariaat van het project Anders Betalen voor Mobiliteit, kamer E 00 46.
            </p>
          </div>
          <div class="tekst-sluiting">
            <a id="d164e76" name="d164e76"></a>
            <div class="slotformulering">
              <p>Aldus overeengekomen en ondertekend:</p>
            </div>
            <div class="gegeven">
              <p class="dagtekening">Den Haag, 1 juli 2009
              </p>
            </div>
            <div class="ondertekening">
              <p class="functie">De Minister van Verkeer en Waterstaat,</p>
              <p class="naam">C.M.P.S. Eurlings. </p>
            </div>
            <div class="gegeven">
              <p class="dagtekening">’s-Hertogenbosch, 1 mei 2009
              </p>
            </div>
            <div class="ondertekening">
              <p class="organisatie">De Provincie,</p>
              <p class="deze">namens deze:
              </p>
              <p class="functie">de gedeputeerde,</p>
              <p class="naam">C. van Nieuwenhuizen. </p>
            </div>
            <div class="gegeven">
              <p class="dagtekening">Eindhoven, 1 mei 2009
              </p>
            </div>
            <div class="ondertekening">
              <p class="organisatie">Het SRE,</p>
              <p class="deze">namens deze:
              </p>
              <p class="naam">H.J.A. van Merrienboer. </p>
            </div>
            <div class="gegeven">
              <p class="dagtekening">’s-Hertogenbosch, 1 mei 2009</p>
            </div>
            <div class="ondertekening">
              <p class="organisatie">De gemeente ’s-Hertogenbosch,</p>
              <p class="deze">namens deze:</p>
              <p class="functie">de wethouder,</p>
              <p class="naam">B.S. Eigeman. </p>
            </div>
            <div class="gegeven">
              <p class="dagtekening">Eindhoven, 1 mei 2009</p>
            </div>
            <div class="ondertekening">
              <p class="organisatie">De gemeente Eindhoven,</p>
              <p class="deze">namens deze:</p>
              <p class="functie">de wethouder,</p>
              <p class="naam">H.J.A. van Merrienboer. </p>
            </div>
          </div>
        </div>
      </div>

          </article>

  </div>
</div>
