<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">

    <article>

<div id="broodtekst" class="stuk broodtekst-container">

  <div class="cao-heading">
    <p class="sector">Schilders- en Onderhoudsbedrijf in Nederland</p>
    <p class="cao-type">Bedrijfstakeigenregelingen 2011/2015</p>
    <p class="cao-type">Verbindendverklaring gewijzigde CAO-bepalingen</p>
    <p class="ministerie">MINISTERIE VAN SOCIALE ZAKEN EN WERKGELEGENHEID</p>
  </div>
  <h1 class="staatscourant_kop">
    <a id="d39072e55" name="d39072e55"></a>Besluit van de Minister van Sociale Zaken en Werkgelegenheid van 28&nbsp;december 2011 tot wijziging van het besluit
    tot algemeen verbindendverklaring van bepalingen van de collectieve arbeidsovereenkomst voor het Schilders- en Onderhoudsbedrijf
    in Nederland inzake Bedrijfstakeigenregelingen
  </h1>
  <div class="cao">
    <div class="aanhef">
      <a id="d39072e60" name="d39072e60"></a>
      <div class="context">
        <p class="context_al ">UAW Nr. 11262</p>
      </div>
      <p class="wie">De Minister van Sociale Zaken en Werkgelegenheid;</p>
      <p class="considerans.al">Gelezen het verzoek van partijen bij bovengenoemde collectieve arbeidsovereenkomst, strekkende tot algemeen verbindendverklaring
        van gewijzigde bepalingen van deze collectieve arbeidsovereenkomst;
      </p>
      <p class="considerans.al">Partij(en) ter ener zijde: Koninklijke Vereniging Federatie van Ondernemers in de Schilders-, Onderhouds-, Metaalconserverings-
        en Glasbranche;
      </p>
      <p class="considerans.al">Partij(en) ter andere zijde: FNV Bouw en CNV Vakmensen.</p>
      <p class="considerans.al">Gelet op de artikelen 2, 4 en 5 van de Wet op het algemeen verbindend en het onverbindend verklaren van bepalingen
        van collectieve arbeidsovereenkomsten;
      </p>
      <p class="afkondiging">Besluit:</p>
    </div>
    <div class="dictum">
      <h2 class="dictum_kop">
        <a id="d39072e79" name="d39072e79"></a>Dictum I
      </h2>
      <div class="wijzig-cao-tekst">
        <div class="cao-wijziging">
          <p class="wat">Het besluit tot algemeen verbindendverklaring van bepalingen van de collectieve arbeidsovereenkomst
            <a class="nootnum supernote-click-n1"
              href="#n1">
              1</a> voor het Schilders- en Onderhoudsbedrijf in Nederland inzake Bedrijfstakeigenregelingen wordt met inachtneming
            van dictum II als volgt gewijzigd:
          </p>
          <p class="wat">De onder dictum I opgenomen bepalingen worden als volgt gewijzigd:</p>
          <div class="cao-divisie">
            <h3 class="cao-divisie_kop">
              <a id="d39072e92" name="d39072e92"></a>HOOFDSTUK 1 – Werkingssfeer, looptijd en begrippen
            </h3>
            <p>Na artikel 1, lid 6 worden lid 7 en 8 toegevoegd, die komen te luiden:</p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled no-text-content">
                  <span class="ol">‘7. </span>
                </p>
                <ul class="expliciet whitespace-small preceding-paragraph-empty">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">a. </span>De cao-commissie zal ten behoeve van het opsporen en bestrijden van misstanden op eigen initiatief
                      of op basis van meldingen onderzoeken laten uitvoeren naar de toepasselijkheid van deze cao op ondernemingen
                      (werkingssfeer) en naar de naleving van de cao. Meldingen kunnen worden gedaan bij het secretariaat
                      van cao-partijen, p/a A&amp;O Services (Postbus 11, 2280 AA Rijswijk.).
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">b. </span>De cao-commissie is door partijen belast met het houden van toezicht op de werkingssfeer-
                      en nalevingsonderzoeken en namens partijen beslissingsbevoegd om uitspraken te doen over de werkingssfeer-
                      en nalevingsonderzoeken.
                    </p>
                  </li>
                </ul>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">8. </span>Tegen een door de cao-commissie genomen beslissing naar aanleiding van een werkingssfeer- of
                  nalevingsonderzoek kan bezwaar worden ingediend bij de door cao-partijen ingestelde bezwarencommissie als
                  bedoeld in artikel 5, lid 2.’
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="cao-wijziging">
          <p class="wat">Artikel 2 wordt toegevoegd en komt te luiden:</p>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d39072e122" name="d39072e122"></a>‘Artikel 2 – Uitzendondernemingen
            </h3>
            <p>De bepalingen van deze overeenkomst zijn tevens van toepassing op de uitzendonderneming die voor meer dan 50%
              van de loonsom uitzendwerknemers ter beschikking stelt aan een werkgever als bedoeld in artikel 1, met uitzondering
              van uitzendondernemingen die lid zijn van de Algemene Bond Uitzendondernemingen (ABU), de Nederlandse Bond
              van Bemiddelings- en Uitzendondernemingen (NBBU), of voldoen aan elk van de hiernavolgende vereisten in welke
              gevallen de cao voor Uitzendkrachten van toepassing is;
            </p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">a. </span>de bedrijfsactiviteiten van deze uitzendonderneming bestaan uitsluitend uit het ter beschikking
                  stellen van arbeidskrachten als bedoeld in artikel 7:690 Burgerlijk Wetboek, én
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">b. </span>de uitzendkrachten van deze uitzendonderneming voor tenminste 25% van haar totale premieplichtig
                  loon op jaarbasis betrokken zijn bij werkzaamheden verricht in enige andere tak van bedrijf dan in ondernemingen
                  in de bouwnijverheid die als werkgever onder de werkingssfeer van deze cao vallen, én
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">c. </span>de uitzendonderneming die voor meer dan 15% van haar totale premieplichtig loon op jaarbasis
                  uitzendt op basis van uitzendovereenkomsten met uitzendbeding als bedoeld in artikel 7:691 lid 2 BW, zoals
                  laatstelijk nader gedefinieerd in Bijlage&nbsp;1 Regeling van de Minister van Sociale Zaken en Werkgelegenheid
                  en de Staatssecretaris van Financiën van 2 december 2005, Directie Sociale Verzekeringen, Nr. SV/F&amp;W/05/96420,
                  ter uitvoering van de Wet financiering sociale verzekeringen (Regeling Wfsv), gepubliceerd in de
                  <a href="stcrt-2005-242-p14-SC72636.html"
                    title="link naar publicatie stcrt-2005-242-p14-SC72636">Staatscourant nummer 242 van 13 december 2005</a>. De uitzendonderneming heeft aan dit criterium voldaan
                  indien en voor zover dit door de uitvoeringsinstelling als zodanig is vastgesteld, én
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">d. </span>de uitzendonderneming geen deel uitmaakt van een groep ondernemingen waarvan één of meer ondernemingen
                  als lid van een partij bij deze cao of door algemeen verbindend verklaring aan deze cao gebonden is, én
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">e. </span>de uitzendonderneming geen paritair afgesproken arbeidspool is.’
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="cao-wijziging">
          <div class="hoofdstuk">
            <h3 class="hoofdstuk_kop">
              <a id="d39072e158" name="d39072e158"></a>HOOFDSTUK 3 – O&amp;O-fonds
            </h3>
            <p>Artikel 8, lid 5 komt te luiden:</p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">‘5. </span>De bijdragen zijn als volgt vastgesteld:
                </p>
                <table class="zebra portrait" cellspacing="0">

                  <colgroup>
                    <col title="col1" class="pct27">
                    <col title="col2" class="pct15">
                    <col title="col3" class="pct15">
                    <col title="col4" class="pct15">
                    <col title="col5" class="pct15">
                    <col title="col6" class="pct15">
                  </colgroup>
                  <thead class="left bottom thead">

                    <tr class="left middle head-row2 zebra1head">

                      <th scope="col" class="left top border-column border-row">

                        <p>Doel</p>

                      </th>

                      <th scope="col" class="left top border-column border-row">

                        <p>Per dag</p>

                      </th>

                      <th scope="colgroup" class="center top border-column border-row" colspan="2">

                        <p>Over het PRIS-loon</p>

                      </th>

                      <th scope="colgroup" class="center top border-column border-row" colspan="2">

                        <p>Over het loon Wfsv</p>

                      </th>

                    </tr>


                    <tr class="left middle head-row-rest zebra1head">

                      <th scope="col" class="left top border-column border-row">&nbsp;</th>

                      <th scope="col" class="left top border-column border-row">&nbsp;</th>

                      <th scope="col" class="left top border-column border-row">

                        <p>Werkgever</p>

                      </th>

                      <th scope="col" class="left top border-column border-row">

                        <p>Werknemer</p>

                      </th>

                      <th scope="col" class="left top border-column border-row">

                        <p>Werkgever</p>

                      </th>

                      <th scope="col" class="left top border-column border-row">

                        <p>Werknemer</p>

                      </th>

                    </tr>


                  </thead>
                  <tbody class="left top tbody">
                    <tr class="left middle tr-rowsep odd">

                      <td class="left top border-column border-row">

                        <p>O&amp;O regelingen</p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">

                        <p>–</p>

                      </td>

                      <td class="left top border-column border-row">

                        <p>–</p>

                      </td>

                      <td class="left top border-column border-row">

                        <p>1,2%</p>

                      </td>

                      <td class="left top border-column border-row">

                        <p>–</p>

                      </td>

                    </tr>
                    <tr class="left middle tr-rowsep even">

                      <td class="left top border-column border-row">

                        <p>Aanvullingsregelingen</p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">

                        <p>–</p>

                      </td>

                      <td class="left top border-column border-row">

                        <p>–</p>

                      </td>

                      <td class="left top border-column border-row">

                        <p>–</p>

                      </td>

                      <td class="left top border-column border-row">

                        <p>0,6%</p>

                      </td>

                    </tr>
                    <tr class="left middle tr-rowsep odd">

                      <td class="left top border-column border-row">

                        <p>Individuele budgetrekening </p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">

                        <p>–</p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">

                        <p>–</p>

                      </td>

                    </tr>
                    <tr class="left middle tr-rowsep even">

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                    </tr>
                    <tr class="left middle tr-rowsep odd">

                      <td class="left top border-column border-row">

                        <p>van week 25 2011 t/m week 52 2011</p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">

                        <p>0,0%</p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                    </tr>
                    <tr class="left middle tr-rowsep even">

                      <td class="left top border-column border-row">

                        <p>van week 1 2012 t/m week 8 2013</p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">

                        <p>0,2%</p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                    </tr>
                    <tr class="left middle tr-rowsep odd">

                      <td class="left top border-column border-row">

                        <p>m.i.v. week 9 2013</p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">

                        <p>0,4%</p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                    </tr>
                    <tr class="left middle tr-rowsep even">

                      <td class="left top border-column border-row">

                        <p>Collectieve ongevallen verzekering </p>

                      </td>

                      <td class="left top border-column border-row">

                        <p>€&nbsp;0,15 (ook voor UTA)</p>

                      </td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                      <td class="left top border-column border-row">&nbsp;</td>

                    </tr>
                  </tbody>

                </table>
              </li>
            </ul>
          </div>
          <div class="cao-divisie">
            <h3 class="cao-divisie_kop">
              <a id="d39072e474" name="d39072e474"></a>HOOFDSTUK 4 – Vakantiefonds
            </h3>
            <p>Artikel 10, lid 1 komt te luiden:</p>
            <p>‘Er bestaat een fonds dat tot doel heeft vergoeding van gederfd loon over algemeen erkende christelijke feestdagen,
              nieuwjaarsdag, Koninginnedag en Goede Vrijdag, vakantie- en verlofdagen, ATV-dagen, en uitbetaling van vakantietoeslag,
              de Stichting Vakantiefonds voor het Schilders-, Afwerkings- en Glaszetbedrijf, verder te noemen Vakantiefonds.’
            </p>
          </div>
          <div class="hoofdstuk">
            <h3 class="hoofdstuk_kop">
              <a id="d39072e482" name="d39072e482"></a>HOOFDSTUK 7 – STATUTEN EN REGLEMENTEN
            </h3>
            <div class="cao-divisie">
              <h4 class="cao-divisie_kop">
                <a id="d39072e486" name="d39072e486"></a>I-b – Reglement individuele budgetrekening
              </h4>
              <div class="cao-divisie">
                <h5 class="cao-divisie_kop">
                  <a id="d39072e490" name="d39072e490"></a>Reglement van de Stichting Opleidings- en Ontwikkelingsfonds voor het Schilders- en Onderhoudsbedrijf
                </h5>
                <p class="tussenkop">
                  <strong class="tussenkop_vet">Individuele budgetrekening</strong>
                </p>
                <p>Artikel 4, lid 2 tot en met 4 komt te luiden:</p>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">‘2. </span>De werknemer vermeldt in het verzoek welke opleiding het betreft en bij welk instituut de
                      opleiding wordt of is gevolgd. Hij verklaart bij het verzoek dat de opleiding verband houdt met zijn
                      huidige of een eventuele toekomstige functie. Uitbetaling van het saldo vindt niet plaats voor cursussen
                      die de werknemer verplicht moet volgen van zijn werkgever, zoals VCA, BHV en EHBO.’
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">3. </span>De werknemer die onvoldoende saldo op zijn individuele budgetrekening heeft, kan een bedrag
                      opnemen tot een negatief saldo op zijn individuele budgetrekening van maximaal €&nbsp;1.000,–.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">4. </span>Een als gevolg van de vorige leden ontstaan negatief saldo wordt administratief buiten invordering
                      gesteld nadat de cao gedurende drie jaar aaneensluitend niet meer op de werknemer van toepassing is
                      geweest.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cao-divisie">
            <h3 class="cao-divisie_kop">
              <a id="d39072e515" name="d39072e515"></a>I-c - Reglement Aanvullingsregelingen
            </h3>
            <div class="cao-divisie">
              <h4 class="cao-divisie_kop">
                <a id="d39072e519" name="d39072e519"></a>HOOFDSTUK 3 – JAARAANVULLING
              </h4>
              <p>Artikel 3, lid 2 komt te luiden:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">‘2. </span>De hoogte van de jaaraanvulling bedraagt bij een arbeidsongeschiktheid van:
                  </p>
                  <table class="tekst portrait" cellspacing="0">

                    <colgroup>
                      <col title="col1" class="pct29">
                      <col title="col2" class="pct71">
                    </colgroup>
                    <tbody class="left top tbody">
                      <tr class="left middle odd">

                        <td class="left top">

                          <p>80–100 %</p>

                        </td>

                        <td class="left top">

                          <p>€ 725,– bruto</p>

                        </td>

                      </tr>
                      <tr class="left middle even">

                        <td class="left top">

                          <p>65–&nbsp;80 %</p>

                        </td>

                        <td class="left top">

                          <p>€ 525,– bruto</p>

                        </td>

                      </tr>
                      <tr class="left middle odd">

                        <td class="left top">

                          <p>55–&nbsp;65 %</p>

                        </td>

                        <td class="left top">

                          <p>€ 435,– bruto</p>

                        </td>

                      </tr>
                      <tr class="left middle even">

                        <td class="left top">

                          <p>45–&nbsp;55 %</p>

                        </td>

                        <td class="left top">

                          <p>€ 363,– bruto</p>

                        </td>

                      </tr>
                      <tr class="left middle odd">

                        <td class="left top">

                          <p>35–&nbsp;45 %</p>

                        </td>

                        <td class="left top">

                          <p>€ 290,– bruto’</p>

                        </td>

                      </tr>
                    </tbody>

                  </table>
                </li>
              </ul>
            </div>
          </div>
          <div class="cao-divisie">
            <h3 class="cao-divisie_kop">
              <a id="d39072e607" name="d39072e607"></a>I-d – Algemene en bijzondere voorwaarden ongevallenverzekering
            </h3>
            <div class="cao-divisie">
              <h4 class="cao-divisie_kop">
                <a id="d39072e611" name="d39072e611"></a>Collectieve Ongevallenverzekering ten behoeve van werknemers in het Schilders-, Afwerkings- en Glaszetbedrijf
              </h4>
              <p>Artikel 1 komt te luiden:</p>
              <div class="artikel">
                <h5 class="artikel_kop">
                  <a id="d39072e617" name="d39072e617"></a>‘Artikel 1 – Begripsomschrijvingen
                </h5>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">1.1 </span>In deze polis wordt verstaan onder:
                    </p>
                    <ul class="expliciet whitespace-medium">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">1.1.1 </span>Polis c.a.:
                        </p>
                        <p>het polisblad, alle aanhangsels, alle algemene en/of bijzondere voorwaarden, alle clausules en/of
                          clausulebladen, alsmede al hetgeen onderdeel uitmaakt van de verzekeringsovereenkomst tussen verzekeringnemer
                          en verzekeraars.
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">1.1.2 </span>CAO
                        </p>
                        <p>de landelijke CAO voor het Schilders- en Onderhoudsbedrijf in Nederland inzake bedrijfstakeigenregelingen
                          waarin het schilders- en onderhoudsbedrijf als hoofdbedrijf of als wezenlijk onderdeel van de bedrijfsvoering
                          wordt uitgeoefend.
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">1.1.3 </span>Verzekeringnemer:
                        </p>
                        <p>de Koninklijke Vereniging Federatie van Ondernemers in het Schilders-, Afwerkings- en Glaszetbedrijf,
                          zijnde partij bij de CAO en degene die de premie en kosten is verschuldigd.
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">1.1.4 </span>Verzekerde:
                        </p>
                        <p>degene op wiens lichaam de verzekering is gesloten, zijnde een werknemer vallende onder de werkingssfeer
                          van de CAO, die in een dienstverband dat gebaseerd is op een werkweek van tenminste 10 werkuren
                          werkzaam is voor een ondernemer die eveneens valt onder de werkingssfeer van de CAO en die als
                          zodanig bekend is bij A&amp;O Services, echter voor zover niet ouder dan 69 jaar.
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">1.1.5 </span>Begunstigde:
                        </p>
                        <p>degene die gerechtigd is de uit hoofde van de verzekering verstrekte uitkering(en) te ontvangen.</p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">1.1.6 </span>Verzekeraars:
                        </p>
                        <p>zij die gezamenlijk het verzekerde risico dragen, ieder voor zijn aandeel in het verzekerde bedrag,
                          te dezen vertegenwoordigd door hun gevolmachtigde WUTHRICH bv.
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">1.1.7 </span>Ongeval:
                        </p>
                        <p>een tijdens de looptijd van de verzekering plotseling, onafhankelijk van de wil van verzekerde van
                          buiten komend op zijn lichaam inwerkend geweld, waardoor als rechtstreeks en uitsluitend gevolg
                          enig geneeskundig vast te stellen lichamelijk en/of geestelijk letsel ontstaat.
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">1.1.8 </span>Blijvende invaliditeit:
                        </p>
                        <p>medisch vast te stellen blijvend geheel of gedeeltelijk (functie)verlies van enig deel of lichaam
                          van verzekerde of van diens geest.’
                        </p>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cao-wijziging">
          <p class="wat">Artikel 2, lid 2.3.6 komt te luiden:</p>
          <ul class="expliciet whitespace-medium">
            <li class="li">
              <p class="labeled">
                <span class="ol">‘2.3.6 </span>Indien verzekerde ten gevolge van een ongeval buiten Nederland komt te overlijden, worden boven
                het voor rubriek A verzekerde bedrag de gemaakte kosten voor repatriëring van het stoffelijk overschot vergoed,
                echter tot een maximum van €&nbsp;15.000.
              </p>
              <p>Deze vergoeding wordt uitsluitend verleend, indien deze kosten niet krachtens enige andere verzekering of voorziening
                worden vergoed.’
              </p>
            </li>
          </ul>
        </div>
        <div class="cao-wijziging">
          <p class="wat">Artikel 2.3.9 is vervallen.</p>
        </div>
        <div class="cao-wijziging">
          <p class="wat">Artikel 3, lid 3.2.1 komt te luiden:</p>
          <ul class="expliciet whitespace-medium">
            <li class="li">
              <p class="labeled">
                <span class="ol">‘3.2.1 </span>opzet als oogmerk of opzet als zekerheidsbewustzijnvan verzekerde of enige andere belanghebbende
                bij uitkering uit hoofde van deze verzekering, tenzij sprake is van het redden of verdedigen van mensen,
                dieren of goederen of pogingen daartoe, dan wel bij afwering van dreigend gevaar;
              </p>
              <p>in dit verband zullen verzekeraars geen beroep doen op eigen schuld of nalatigheid van verzekerde als bedoeld
                in artikel 7:952 BW;’
              </p>
            </li>
          </ul>
        </div>
        <div class="cao-wijziging">
          <p class="wat">Artikel 4 lid 4.4.4 komt te luiden:</p>
          <ul class="expliciet whitespace-medium">
            <li class="li">
              <p class="labeled">
                <span class="ol">‘4.4.4 </span>De rente als bedoeld onder 4.3.11 zal gelijktijdig met de uitkering worden voldaan.’
              </p>
            </li>
          </ul>
        </div>
        <div class="cao-wijziging">
          <p class="wat">Artikel 4 lid 4.5 tot en met 4.5.1 komt te luiden:</p>
          <ul class="expliciet whitespace-medium">
            <li class="li">
              <p class="labeled">
                <span class="ol">‘4.5 </span>Verlies van recht op uitkering
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">4.5.1 </span>Elk recht op uitkering vervalt resp. verjaart:
              </p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>indien verzekerde (of de begunstigde) na een ongeval opzettelijk onjuiste gegevens verstrekt;
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>door verloop van de 3 jaarstermijn als omschreven in artikel 7:942 BW.’
                  </p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="cao-wijziging">
          <p class="wat">Artikel 7 lid 7.3.1 tot en met 7.3.2 komt te luiden:</p>
          <ul class="expliciet whitespace-medium">
            <li class="li">
              <p class="labeled">
                <span class="ol">‘7.3.1 </span>Opzegging van de verzekering door verzekeringnemer tegen het einde van de contractduur waarvoor
                de verzekering is aangegaan of verlengd, dient te geschieden aan WUTHRICH met inachtneming van een opzegtermijn
                van tenminste 2 maanden.
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">7.3.2 </span>De verzekering eindigt voorts:
              </p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>indien verzekeringnemer gebruik maakt van zijn in 6.2 omschreven recht;
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>indien verzekeraars gebruik maken van het hun onder 5.1 toegekende recht; de verzekering eindigt
                    dan met onmiddellijke ingang;
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>bij definitieve opheffing van het bedrijf of beëindiging van de activiteiten van verzekeringnemer;
                    de verzekering eindigt dan op de dag van opheffing van het bedrijf resp. de beëindiging van de activiteiten;
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>indien tengevolge van het afsluiten van een CAO het risico voor verzekeraars dermate wordt verzwaard,
                    dat redelijkerwijs van hen niet verwacht mag worden dat zij deze overeenkomst ongewijzigd continueren;
                    de verzekering eindigt dan na 30 dagen te rekenen vanaf de dag waarop die nieuwe CAO geldig wordt.’
                  </p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="cao-wijziging">
          <p class="wat">Artikel 8 lid 8.3.3 komt te luiden:</p>
          <ul class="expliciet whitespace-medium">
            <li class="li">
              <p class="labeled">
                <span class="ol">‘8.3.3 </span>Voor klachten naar aanleiding van deze overeenkomst kan men zich, behalve tot de directies
                van WUTHRICH en/of de leidende verzekeraar, wenden tot het klachteninstituut Financiële Dienstverlening (KiFiD),
                Postbus 93257, 2509 AG DEN HAAG, telefoon 0900-fklacht oftewel 0900-3552248.’ De klachtenprocedure kan ook
                worden geraadpleegd via de website van het KiFiD, www.kifid.nl.
              </p>
            </li>
          </ul>
          <div class="cao-divisie">
            <h3 class="cao-divisie_kop">
              <a id="d39072e787" name="d39072e787"></a>II-b – Vakantiefondsreglement
            </h3>
            <div class="hoofdstuk">
              <h4 class="hoofdstuk_kop">
                <a id="d39072e791" name="d39072e791"></a>HOOFDSTUK I – ALGEMEEN
              </h4>
              <div class="artikel">
                <h5 class="artikel_kop">
                  <a id="d39072e795" name="d39072e795"></a>Artikel 1 – Begripsbepaling
                </h5>
                <p>Het begrip ‘verlofwaarde-percentage’ komt te luiden:</p>
                <p>‘verlofwaarde-percentage:</p>
                <p>het vastgestelde percentage voor de opbouw van de loonderving tijdens de verlofdagen, feestdagen en ATV-dagen
                  en de vakantietoeslag;’</p>
              </div>
            </div>
            <div class="hoofdstuk">
              <h4 class="hoofdstuk_kop">
                <a id="d39072e805" name="d39072e805"></a>HOOFDSTUK III - VERLOFWAARDEN
              </h4>
            </div>
          </div>
        </div>
        <div class="cao-wijziging">
          <p class="wat">Artikel 4 komt te luiden:</p>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d39072e812" name="d39072e812"></a>‘Artikel 4 – De verlofwaarden
            </h3>
            <ul class="artikel_leden whitespace-small">
              <li>
                <p class="lid labeled">
                  <span class="lidnr">1.</span> De door een werkgever ten aanzien van de werknemer verschuldigde bijdragen aan het Fonds betreffen
                  voorzieningen voor de bestrijding van de loonderving over de in de cao aangegeven vakantie-, feest- en
                  ATV-dagen, alsmede voor vakantietoeslag.
                </p>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">2.</span> De verlofwaarden zijn, per dag waarop ze worden opgebouwd, naar evenredigheid bestemd voor bepaalde
                  na die dag gelegen vakantie-, feest- en ATV-dagen en voor vakantietoeslag.
                </p>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">3.</span> Het bestuur bepaalt nader welk deel van de verlofwaarden voor respectievelijk vakantie-, feest-
                  en ATV-dagen bestemd is en welk deel bestemd is voor vakantietoeslag.’
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="dictum">
      <h2 class="dictum_kop">
        <a id="d39072e832" name="d39072e832"></a>Dictum II
      </h2>
      <p>Dit besluit treedt in werking met ingang van de dag na de datum van uitgifte van de Staatscourant waarin het wordt
        geplaatst en heeft geen terugwerkende kracht.
      </p>
    </div>
    <div class="cao-sluiting">
      <a id="d39072e838" name="d39072e838"></a>
      <p class="dagtekening">’s-Gravenhage, 28 december 2011</p>
      <div class="ondertekening">
        <p class="functie">De Minister van Sociale Zaken en Werkgelegenheid,</p>
        <p class="deze">namens deze:</p>
        <p class="functie">
          De directeur Uitvoeringstaken Arbeidsvoorwaardenwetgeving,
        </p>
        <p class="naam">M.H.M. van der Goes. </p>
      </div>
    </div>
  </div>
  <div id="noten">
    <hr>
    <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n1">
      <h5 class="note-close">
        <a class="note-close" href="#close-n1">X</a> Noot
      </h5>
      <sup>
        <span class="nootnum">
          <a id="n1" name="n1"></a>
          1</span>
      </sup>
      <p>
        <a href="stcrt-2011-1932.html" title="link naar publicatie stcrt-2011-1932">Stcrt. 2011, nr. 1932</a> .
      </p>
    </div>
  </div>

</div>
      </article>


  </div>
</div>
