<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <div class="cao-heading">
          <p class="sector">Gemaksvoedingindustrie 2010</p>
          <p class="cao-type">Verbindendverklaring gewijzigde CAO-bepalingen</p>
          <p class="ministerie">MINISTERIE VAN SOCIALE ZAKEN EN WERKGELEGENHEID</p>
        </div>
        <h1 class="staatscourant_kop">
          <a id="d23117e51" name="d23117e51"></a>Besluit van de Minister van Sociale Zaken en Werkgelegenheid van 12&nbsp;januari 2010 tot wijziging van het besluit
          tot algemeen verbindendverklaring van bepalingen van de collectieve arbeidsovereenkomst voor de Gemaksvoedingindustrie
        </h1>
        <div class="cao">
          <div class="aanhef">
            <a id="d23117e56" name="d23117e56"></a>
            <div class="context">
              <p class="context_al ">UAW Nr. 10958</p>
            </div>
            <p class="wie">De Minister van Sociale Zaken en Werkgelegenheid;</p>
            <p class="considerans.al">Gelezen het verzoek van de Stichting Sociaal Fonds voor de Gemaksvoedingindustrie namens partijen bij bovengenoemde
              collectieve arbeidsovereenkomst, strekkende tot algemeen verbindendverklaring van gewijzigde bepalingen van deze
              collectieve arbeidsovereenkomst;
            </p>
            <p class="considerans.al">Partij(en) te ener zijde: Algemene Kokswaren en Snackproducten Vereniging (AKSV);</p>
            <p class="considerans.al">Partij(en) te anderer zijde: CNV BedrijvenBond en FNV Bondgenoten.</p>
            <p class="considerans.al">Gelet op de artikelen 2, 4 en 5 van de Wet op het algemeen verbindend en het onverbindend verklaren van bepalingen
              van collectieve arbeidsovereenkomsten;
            </p>
            <p class="afkondiging">Besluit:</p>
          </div>
          <div class="dictum">
            <h2 class="dictum_kop">
              <a id="d23117e75" name="d23117e75"></a>Dictum I
            </h2>
            <div class="wijzig-cao-tekst">
              <p class="wat">Het besluit tot algemeen verbindendverklaring van bepalingen van de collectieve arbeidsovereenkomst voor de Gemaksvoedingindustrie
                <a
                  class="nootnum supernote-click-n1" href="#n1">
                  1</a> wordt met inachtneming van dictum II als volgt gewijzigd:
              </p>
              <div class="wijzig-cao-lid">
                <p class="lid">
                  <span class="lidnr">A</span>
                </p>
                <div class="cao-wijziging">
                  <p class="wat">De onder dictum I opgenomen bepalingen worden als volgt gewijzigd:</p>
                  <p class="wat">Artikel 9 komt te luiden:</p>
                  <div class="artikel">
                    <h3 class="artikel_kop">
                      <a id="d23117e94" name="d23117e94"></a>‘Artikel 9 Einde dienstverband
                    </h3>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur">9.1. Einde arbeidsovereenkomst voor onbepaalde tijd</strong>
                    </p>
                    <p>Een arbeidsovereenkomst voor onbepaalde tijd kan worden beëindigd</p>
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>tijdens de proeftijd
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>door ontbinding van de arbeidsovereenkomst door de kantonrechter
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>met wederzijdse instemming
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>bij zogenoemd ontslag op staande voet
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>wanneer de werknemer langer dan 2 jaar arbeidsongeschikt is.
                        </p>
                      </li>
                    </ul>
                    <p>Een arbeidsovereenkomst voor onbepaalde tijd eindigt van rechtswege:</p>
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>bij pensionering op de 1
                          <sup>e</sup> dag van de maand waarop de werknemer 65 wordt
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>door het overlijden van de werknemer.
                        </p>
                      </li>
                    </ul>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur">9.2. Opzegging</strong>
                    </p>
                    <p>Zowel de werknemer als de werkgever kan de arbeidsovereenkomst opzeggen. Zowel&nbsp;de werknemer als de werkgever
                      moet&nbsp;daarbij rekening houden met een opzegtermijn. Zie hiervoor artikel 10 van deze CAO.&nbsp;Op het
                      moment dat de werknemer of de werkgever opzegt, hetgeen op elke dag van de maand kan plaatsvinden, start
                      de opzegtermijn. Indien het einde van de opzegtermijn niet gelijk valt met het einde van de overeengekomen
                      betalingsperiode, eindigt de arbeidsovereenkomst&nbsp;aan het einde van de betalingsperiode waarin het einde
                      van de opzegtermijn valt. Voor de afrekening van de vakantierechten&nbsp;bij einde dienstverband, zie artikel
                      45.
                    </p>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur">9.3. Einde arbeidsovereenkomst voor bepaalde tijd</strong>
                    </p>
                    <p>Een arbeidsovereenkomst voor bepaalde tijd eindigt automatisch als de bepaalde tijd om is. Er is dan geen opzegging
                      nodig en er geldt geen opzegtermijn.
                    </p>
                    <p>In een aantal gevallen wordt de arbeidsovereenkomst voor bepaalde tijd echter automatisch omgezet in een arbeidsovereenkomst
                      voor onbepaalde tijd, namelijk
                    </p>
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>als bij het verstrijken van de arbeidsovereenkomst voor bepaalde tijd geen verdere afspraken
                          zijn gemaakt en het werk doorgaat. Dit wordt wel een voortgezette dienstbetrekking genoemd.
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>als er sprake is van een 4
                          <sup>e</sup> arbeidsovereenkomst binnen 36 maanden.
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>als de totale duur van de arbeidsovereenkomsten voor bepaalde tijd langer is dan 36 maanden.
                        </p>
                      </li>
                    </ul>
                    <p>Als de werkgever of de werknemer de arbeidsovereenkomst na deze omzetting wil beëindigen, dan moet dit door
                      opzegging en geldt er een opzegtermijn.
                    </p>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur">9.4. Einde arbeidsovereenkomst voor een bepaald werk</strong>
                    </p>
                    <p>Een arbeidsovereenkomst voor een bepaald werk of een bepaald karwei, eindigt als dit werk of karwei klaar is.
                      Er is dan geen opzegging nodig en er geldt geen opzegtermijn.
                    </p>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur">9.5. Uitzendkrachten</strong>
                    </p>
                    <p>Indien met de werknemer een arbeidsovereenkomst wordt aangegaan voor een bepaalde tijdsduur, voor een bepaald
                      werk of een bepaald karwei, worden voor de toepassing van artikel 7:668a lid 2 BW, uitzendovereenkomsten
                      die zijn voorafgegaan aan de arbeidsovereenkomst met de werkgever mede in acht genomen, met dien verstande
                      dat – indien en voor zover een ter beschikkingstelling aan de werkgever is onderbroken door een periode van
                      ziekte en als gevolg daarvan in de relatie tussen uitzendbureau en uitzendkracht sprake is geweest van meerdere
                      uitzendovereenkomsten – voor de toepassing van artikel 7:668 a lid 2 BW deze uitzendovereenkomsten tezamen
                      beschouwd worden als één arbeidsovereenkomst voor bepaalde tijd, voor een bepaald werk of een bepaald karwei.’
                    </p>
                  </div>
                </div>
                <div class="cao-wijziging">
                  <p class="wat">‘Artikel 13 komt te luiden:</p>
                  <div class="artikel">
                    <h3 class="artikel_kop">
                      <a id="d23117e192" name="d23117e192"></a>Artikel 13 Ploegendienst
                    </h3>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur">13.1. Werken in ploegen</strong>
                    </p>
                    <p>Wie in ploegendienst werkt, doet dit in een regelmatig terugkerende volgorde van vroege en late dienst (tweeploegendienst)
                      of vroege, late en nachtdienst (drieploegendienst). Er is sprake van structureel ploegenwerk als een werknemer
                      meer dan 1 maand aaneengesloten, buiten de vakantieperiode om, volgens een ploegenrooster werkt.
                    </p>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur">13.2. Overleg</strong>
                    </p>
                    <p>Het werken in ploegendienst is een verplicht onderwerp van overleg tussen de werkgever en de ondernemingsraad
                      of de personeelsvertegenwoordiging.</p>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur">13.3. Niet verplicht</strong>
                    </p>
                    <p>Een werknemer kan niet verplicht worden in ploegendienst te werken:</p>
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>als hiervoor een medische indicatie is
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>als de functie van een werknemer die in dagdienst werkt, komt te vervallen
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>als de werknemer 55 jaar of ouder is.
                        </p>
                      </li>
                    </ul>
                    <p>Voor werknemers van 55 jaar of ouder zal de ploegentoeslag niet worden afgebouwd, indien zij 3 jaar of langer
                      in ploegendienst hebben gewerkt en worden overgeplaatst naar dagdienst. Overplaatsing naar dagdienst kan
                      uitsluitend plaatsvinden, voor zover bij de werkgever werk in dagdienst beschikbaar is.’
                    </p>
                  </div>
                </div>
                <div class="cao-wijziging">
                  <p class="wat">‘Artikel 34 komt te luiden</p>
                  <div class="artikel">
                    <h3 class="artikel_kop">
                      <a id="d23117e232" name="d23117e232"></a>Artikel 34 Reiskostenvergoeding
                    </h3>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur">34.1. Vanaf 10 kilometer</strong>
                    </p>
                    <p>De werkgever moet een regeling treffen om tegemoet te komen in de reiskosten die de werknemer moet maken voor
                      het woon-werkverkeer. Een werknemer die meer dan 10 kilometer moet reizen voor het werk, krijgt hiervoor
                      in ieder geval een vergoeding van de werkgever. Deze vergoeding is gebaseerd op het goedkoopste tarief van
                      openbaar vervoer.De maximale reiskostenvergoeding bedraagt € 130 (bruto) per maand of € 120 (bruto) per 4-weken
                      periode.’
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dictum">
            <h2 class="dictum_kop">
              <a id="d23117e241" name="d23117e241"></a>Dictum II
            </h2>
            <p>Dit besluit treedt in werking met ingang van de dag na de datum van uitgifte van de Staatscourant waarin het wordt
              geplaatst en heeft geen terugwerkende kracht.
            </p>
          </div>
          <div class="cao-sluiting">
            <a id="d23117e247" name="d23117e247"></a>
            <p class="dagtekening">’s-Gravenhage, 12 januari 2010</p>
            <div class="ondertekening">
              <p class="functie">De Minister van Sociale Zaken en Werkgelegenheid,</p>
              <p class="deze">namens deze,</p>
              <p class="functie">
                de directeur Uitvoeringstaken Arbeidsvoorwaardenwetgeving,
              </p>
              <p class="naam">M.H.M. van der Goes </p>
            </div>
          </div>
        </div>
        <div id="noten">
          <hr>
          <div class="noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n1">
            <h5 class="note-close">
              <a class="note-close" href="#close-n1">X</a>Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="n1" name="n1"></a>
                1</span>
            </sup>
            <p>
              <a href="stcrt-2009-12252.html" title="link naar publicatie stcrt-2009-12252">Stcrt. 2009, nr. 12252</a>).
            </p>
          </div>
        </div>
      </div>    </article>

  </div>
</div>

