<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

         <h1 class="staatscourant_kop"><a id="d16e49" name="d16e49"></a>Regeling van de Minister van Onderwijs, Cultuur en Wetenschap van 2&nbsp;september 2013,
            nr. 531836 houdende wijziging van de Regeling tegemoetkoming kosten opleidingsscholen
            in verband met de wijze van de verlenging van de subsidie en houdende wijziging van
            de Regeling versterking samenwerking lerarenopleidingen en scholen 2013–2016 in verband
            met de opname van de aspirant-opleidingsscholen in het mbo
         </h1>
         <div class="regeling">
            <div class="aanhef"><a id="d16e54" name="d16e54"></a><p class="wie">De Minister van Onderwijs, Cultuur en Wetenschap, alsmede de Staatssecretaris van
                  Onderwijs, Cultuur en Wetenschap,
               </p>
               <p class="considerans.al">Gelet op artikel 2, eerste lid, onder a, juncto artikel 4, tweede lid, van de Wet
                  overige OCW-subsidies;
               </p>
               <p class="afkondiging">Besluit:</p>
            </div>
            <div class="regeling-tekst"><a id="d16e64" name="d16e64"></a><h3 class="wijzig-artikel_kop"><a id="d16e67" name="d16e67"></a>ARTIKEL I. WIJZIGING REGELING TEGEMOETKOMING KOSTEN OPLEIDINGSSCHOLEN
               </h3>
               <p class="wat">De Regeling tegemoetkoming kosten opleidingsscholen wordt als volgt gewijzigd:</p>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">A</span></p>
                  <p class="wat">Artikel 1, onderdeel l, vervalt onder vernummering van de onderdelen m en n tot onderdelen
                     l en m.
                  </p>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">B</span></p>
                  <p class="wat">Artikel 4 komt te luiden:</p>
                  <div class="wijziging">
                     <div class="artikel">
                        <h4 class="artikel_kop"><a id="d16e86" name="d16e86"></a>Artikel 4. Subsidieplafond
                        </h4>
                        <ul class="artikel_leden whitespace-small">
                           <li>
                              <p class="lid labeled"><span class="lidnr">1.</span> Voor subsidieverlening op grond van deze regeling is per jaar een bedrag van €&nbsp;20.000.000
                                 beschikbaar.
                              </p>
                           </li>
                           <li>
                              <p class="lid labeled"><span class="lidnr">2.</span> In afwijking op het eerste lid is voor het schooljaar 2013/2014 een bedrag beschikbaar
                                 van €&nbsp;20.550.000.
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">C</span></p>
                  <p class="wat">Artikel 5 komt te luiden:</p>
                  <div class="wijziging">
                     <div class="artikel">
                        <h4 class="artikel_kop"><a id="d16e108" name="d16e108"></a>Artikel 5. Subsidiebedrag
                        </h4>
                        <ul class="artikel_leden whitespace-small">
                           <li>
                              <p class="lid labeled"><span class="lidnr">1.</span> De hoogte van de subsidie per subsidieontvanger wordt bepaald aan de hand van het
                                 aantal studenten op de opleidingsschool in het verstreken schooljaar, zoals in bijlage
                                 2 is aangegeven.
                              </p>
                           </li>
                           <li>
                              <p class="lid labeled"><span class="lidnr">2.</span> De subsidie wordt verleend als tegemoetkoming in de uitgaven die zijn verbonden aan
                                 de in artikel 2 omschreven activiteiten. Zij kan ook worden aangewend voor andere
                                 bekostigde activiteiten van de aanvrager.
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">D</span></p>
                  <p class="wat">Artikel 7 komt te luiden:</p>
                  <div class="wijziging">
                     <div class="artikel">
                        <h4 class="artikel_kop"><a id="d16e130" name="d16e130"></a>Artikel 7. Vereisten subsidieaanvraag
                        </h4>
                        <p>De aanvraag bedoeld in artikel 11, vierde lid, wordt ingediend met behulp van het
                           formulier Verlenging bekostiging opleidingsscholen dat door de Dienst Uitvoering Onderwijs
                           aan de opleidingsscholen ter beschikking wordt gesteld.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">E</span></p>
                  <p class="wat">Artikel 8 komt te luiden:</p>
                  <div class="wijziging">
                     <div class="artikel">
                        <h4 class="artikel_kop"><a id="d16e143" name="d16e143"></a>Artikel 8. Termijn indiening aanvraag
                        </h4>
                        <p>De aanvraag bedoeld in artikel 11, vierde lid, wordt ingediend vóór 15&nbsp;juni van het
                           jaar waarin het in artikel 11 genoemde tijdvak afloopt.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">F</span></p>
                  <p class="wat">Artikel 9 komt te luiden:</p>
                  <div class="wijziging">
                     <div class="artikel">
                        <h4 class="artikel_kop"><a id="d16e156" name="d16e156"></a>Artikel 9. Evenredige verdeling bij overschrijding subsidieplafond
                        </h4>
                        <p>De Minister verdeelt het beschikbare bedrag bij overschrijding van het subsidieplafond
                           evenredig over de subsidieontvangers zodanig dat iedere subsidieontvanger een gelijk
                           percentage ontvangt van het bedrag wat op grond van de tabel in bijlage 2 aan hem
                           zou worden verleend.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">G</span></p>
                  <p class="wat">Artikel 10, tweede lid, komt te luiden:</p>
                  <div class="wijziging">
                     <div class="artikeltekst">
                        <p>2. De NVAO brengt advies uit over de kwaliteit van de opleidingsschool door middel
                           van een beoordeling van het samenwerkingsverband.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">H</span></p>
                  <p class="wat">Artikel 11 wordt als volgt gewijzigd:</p>
                  <div class="wijziging">
                     <p class="wat labeled"><span class="nr">1.</span> In het eerste lid wordt ‘de lerarenopleiding(en) met een maximum van zes jaar.’ vervangen
                        door: de lerarenopleiding of lerarenopleidingen.
                     </p>
                  </div>
                  <div class="wijziging">
                     <p class="wat labeled"><span class="nr">2.</span> Onder vernummering van het tweede lid tot vierde lid, worden twee leden ingevoegd,
                        luidende:
                     </p>
                     <div class="artikeltekst">
                        <ul class="artikel_leden whitespace-small">
                           <li>
                              <p class="lid labeled"><span class="lidnr">2.</span> Indien meerdere lerarenopleidingen deelnemen in een opleidingsschool, wordt de subsidie
                                 verleend tot en met het einde van de accreditatietermijn van de door de subsidieontvanger
                                 aangewezen lerarenopleiding.
                              </p>
                           </li>
                           <li>
                              <p class="lid labeled"><span class="lidnr">3.</span> De subsidieontvanger meldt uiterlijk op 31&nbsp;december 2013 aan de NVAO welke lerarenopleiding
                                 is aangewezen.
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">I</span></p>
                  <p class="wat">Artikel 13 wordt als volgt gewijzigd:</p>
                  <div class="wijziging">
                     <p class="wat labeled"><span class="nr">1.</span> In het eerste lid, onderdeel d, vervalt ‘of’.
                     </p>
                  </div>
                  <div class="wijziging">
                     <p class="wat labeled"><span class="nr">2.</span> Onder vervanging van de punt aan het slot van onderdeel e door ‘, of’ wordt een onderdeel
                        toegevoegd, luidende:
                     </p>
                     <div class="artikeltekst">
                        <ul class="expliciet whitespace-small">
                           <li class="li">
                              <p class="labeled"><span class="ol">f. </span>niet voldaan is aan de verplichting, bedoeld in artikel 14, tweede lid.
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">J</span></p>
                  <p class="wat">Artikel 20 komt te luiden:</p>
                  <div class="wijziging">
                     <div class="artikel">
                        <h4 class="artikel_kop"><a id="d16e232" name="d16e232"></a>Artikel 20. Vervaldatum
                        </h4>
                        <p>Deze regeling vervalt met ingang van 1&nbsp;juli 2017, met dien verstande dat deze regeling,
                           zoals deze luidde op 30&nbsp;juni 2017, van toepassing blijft op subsidies die zijn verleend
                           vóór die datum.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">K</span></p>
                  <p class="wat">Vóór bijlage 1 vervalt de tekst ‘BIJLAGEN: 1. Toetsingskader opleidingsschool, NVAO
                     3&nbsp;maart 2009 2. Overzicht tegemoetkoming opleidingsschool afhankelijk van grootte
                     3. Formulier Samenstelling aanvraagdossier toetsing opleidingsschool’.
                  </p>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">L</span></p>
                  <p class="wat">Bijlage 1 komt te luiden:</p>
                  <div class="wijziging">
                     <div class="wijzig-divisie">
                        <h4 class="wijzig-divisie_kop"><a id="d16e251" name="d16e251"></a>BIJLAGE 1, BEHORENDE BIJ ARTIKEL 10 VAN DE REGELING TEGEMOETKOMING KOSTEN OPLEIDINGSSCHOLEN:
                           NVAO TOETSINGSKADERS OPLEIDINGSSCHOOL EN ACADEMISCHE KOP 2013
                        </h4>
                        <div class="wijzig-divisie">
                           <h5 class="wijzig-divisie_kop"><a id="d16e255" name="d16e255"></a>1. Kader beoordeling opleidingsschool
                           </h5>
                           <div class="alineagroep">
                              <p>De beoordeling van de kwaliteit van de opleidingsschool wordt uitgevoerd aan de hand
                                 van de samenwerkingsovereenkomst en de explicitering daarin van de wijze waarop de
                                 partners in de opleidingsschool gestalte geven aan het programma, het personeelsbeleid,
                                 de voorzieningen en de kwaliteitszorg, alsook over ieders verantwoordelijkheid daarbij.
                              </p>
                              <p>De leidraad voor de NVAO om de kwaliteit van de opleidingsschool te beoordelen is
                                 het bestaande accreditatiekader ‘Beperkte Opleidingsbeoordeling’. Indien nodig kunnen
                                 de criteria worden geplaatst onder de standaarden van de ‘Uitgebreide Opleidingsbeoordeling’.
                              </p>
                              <p>Voor de beoordeling van de opleidingsschool is de standaard Kwaliteitszorg toegevoegd
                                 aan het accreditatiekader ‘Beperkte Opleidingsbeoordeling’.
                              </p>
                           </div>
                           <div class="wijzig-divisie">
                              <h6 class="wijzig-divisie_kop"><a id="d16e266" name="d16e266"></a>Standaard 1: Beoogde eindkwalificaties
                              </h6>
                              <p><em class="cur">De beoogde eindkwalificaties van de opleiding zijn wat betreft inhoud, niveau en oriëntatie
                                    geconcretiseerd en voldoen aan internationale eisen.</em></p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Toelichting op standaard 1</strong></p>
                              <p>De beoogde eindkwalificaties passen wat betreft niveau en oriëntatie (bachelor of
                                 master; hbo of wo) binnen het Nederlandse kwalificatieraamwerk. Ze sluiten bovendien
                                 aan bij de actuele eisen die in internationaal perspectief vanuit het beroepenveld
                                 en het vakgebied worden gesteld aan de inhoud van de opleiding.
                              </p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Criteria voor de opleidingsschool</strong></p>
                              <div class="alineagroep">
                                 <p>De opleidingsschool heeft een geëxpliciteerde visie op opleiden in de school geconcretiseerd
                                    in een opleidingsplan.
                                 </p>
                                 <p>De opleidingsschool waarborgt dat studenten de gelegenheid hebben de verbinding tussen
                                    theorie en praktijk te leggen. Het opleidingstraject in de school kent voldoende diepgang
                                    door verbindingen met de theorie. Het opleidingstraject in de lerarenopleiding sluit
                                    aan bij de praktijkervaringen in de school en is geconcretiseerd in een opleidingsplan.
                                 </p>
                                 <p>De opleidingsschool waarborgt dat studenten de gelegenheid hebben ervaring op te doen
                                    in gevarieerde onderwijssituaties.
                                 </p>
                              </div>
                           </div>
                           <div class="wijzig-divisie">
                              <h6 class="wijzig-divisie_kop"><a id="d16e288" name="d16e288"></a>Standaard 2: Onderwijsleeromgeving
                              </h6>
                              <p><em class="cur">Het programma, het personeel en de opleidingsspecifieke voorzieningen maken het voor
                                    de instromende studenten mogelijk de beoogde eindkwalificaties te realiseren.</em></p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Toelichting op standaard 2</strong></p>
                              <p>De inhoud en vormgeving van het programma stellen de toegelaten studenten in staat
                                 de beoogde eindkwalificaties te bereiken. De kwaliteit van het personeel en van de
                                 opleidingsspecifieke voorzieningen is daarbij essentieel. Programma, personeel en
                                 voorzieningen vormen een voor studenten samenhangende onderwijsleeromgeving.
                              </p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Criteria voor de opleidingsschool</strong></p>
                              <div class="alineagroep">
                                 <p><em class="cur">Programma</em></p>
                                 <p>Het programma dat door de opleidingsschool is uitgewerkt stelt de studenten in staat
                                    om de eindkwalificaties te bereiken.
                                 </p>
                              </div>
                              <p>De opleidingsschool heeft een samenhangend programma waarbinnen het gedeelte van het
                                 curriculum dat in de school wordt verworven en het gedeelte van het curriculum dat
                                 in de lerarenopleiding wordt verworven een geïntegreerd geheel vormen. De individuele
                                 trajecten zijn verankerd in dit programma.
                              </p>
                              <p>De afstemming tussen de instroomkwalificaties van de studenten en het te volgen programma
                                 is transparant. Verleende vrijstellingen moeten inhoudelijk worden verantwoord. De
                                 rol van EVC wordt hierbij beschreven.
                              </p>
                              <p>De scholen en de lerarenopleidingen hanteren in functie van het traject in de opleidingsschool
                                 een didactisch concept waarmee alle partners instemmen.
                              </p>
                              <div class="alineagroep">
                                 <p><em class="cur">Personeel</em></p>
                                 <p>De opleidingsschool zet voldoende personeel in om de studenten op te leiden, te begeleiden
                                    en te beoordelen. Bij de algemene gegevens van de opleidingsschool wordt aangegeven
                                    het percentage master- en hbo-geschoolde docenten.
                                 </p>
                              </div>
                              <div class="alineagroep">
                                 <p>Het personeel dat wordt ingezet voor de opleidingsschool is deskundig in het opleiden,
                                    begeleiden en beoordelen van de studenten.
                                 </p>
                                 <p>De opleidingsschool heeft een visie op professionalisering uitgeschreven en borgt
                                    op systematische wijze de kwaliteit van alle personeel dat betrokken is bij de opleidingsschool.
                                 </p>
                              </div>
                              <div class="alineagroep">
                                 <p><em class="cur">Studiebegeleiding</em></p>
                                 <p>De opleidingsschool zorgt ervoor dat de begeleiding vanuit de school en vanuit de
                                    lerarenopleiding op elkaar is afgestemd, transparant is voor studenten en andere betrokkenen
                                    en aansluit bij de specifieke behoeften van de studenten binnen dit traject.
                                 </p>
                              </div>
                           </div>
                           <div class="wijzig-divisie">
                              <h6 class="wijzig-divisie_kop"><a id="d16e333" name="d16e333"></a>Standaard 3: Toetsing
                              </h6>
                              <p><em class="cur">De opleiding beschikt over een adequaat systeem van toetsing.</em></p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Toelichting op standaard 3</strong></p>
                              <p>De toetsen en de beoordeling zijn valide, betrouwbaar en voor studenten inzichtelijk.</p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Criteria voor de opleidingsschool</strong></p>
                              <p>De opleidingsschool hanteert duidelijke afspraken over de rol, de taken en de verantwoordelijkheden
                                 van elk van de partners bij beoordeling en toetsing. Iedere student heeft volstrekte
                                 helderheid over wat die afspraken in de praktijk van de opleiding betekenen.
                              </p>
                              <p>De examencommissie van de betreffende instituten heeft expliciet een rol bij de beoordeling
                                 en toetsing.
                              </p>
                           </div>
                           <div class="wijzig-divisie">
                              <h6 class="wijzig-divisie_kop"><a id="d16e352" name="d16e352"></a>Standaard 4: Kwaliteitszorg (additioneel voor de opleidingsschool)
                              </h6>
                              <p><em class="cur">De opleidingsschool wordt periodiek geëvalueerd, mede aan de hand van toetsbare streefdoelen.
                                    De uitkomsten van deze evaluatie vormen de basis voor aantoonbare verbetermaatregelen
                                    die bijdragen aan de realisatie van de streefdoelen. Bij de interne kwaliteitszorg
                                    zijn medewerkers, studenten, alumni en het afnemende beroepenveld van de opleiding
                                    actief betrokken.</em></p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Criteria voor de opleidingsschool</strong></p>
                              <p>De opleidingsschool hanteert een kwaliteitszorgplan dat waarborgt dat de streefdoelen
                                 van de opleiding gerealiseerd worden en op regelmatige tijdstippen geëvalueerd worden.
                              </p>
                              <p>De opleidingsschool geeft aantoonbaar opvolging aan de resultaten van de regelmatige
                                 evaluaties.
                              </p>
                              <p>De medewerkers en studenten van de opleidingsschool alsook het beroepenveld zijn actief
                                 betrokken bij de interne kwaliteitszorg van de opleidingsschool.
                              </p>
                           </div>
                        </div>
                        <div class="wijzig-divisie">
                           <h5 class="wijzig-divisie_kop"><a id="d16e368" name="d16e368"></a>2. Kader voor de academische kop
                           </h5>
                           <div class="alineagroep">
                              <p>De leidraad voor de NVAO om de kwaliteit van de academische kop te beoordelen is het
                                 bestaande accreditatiekader (Beperkte Opleidingsbeoordeling). De criteria van de beoordeling
                                 door DUO in 2011 zijn opgenomen in dit kader. Indien nodig kunnen de criteria worden
                                 geplaatst onder de standaarden van de Uitgebreide Opleidingsbeoordeling.
                              </p>
                              <p>Voor de beoordeling van de academische kop zijn de standaarden Kwaliteitszorg en Kennisdeling
                                 toegevoegd aan het kader.
                              </p>
                           </div>
                           <div class="wijzig-divisie">
                              <h6 class="wijzig-divisie_kop"><a id="d16e377" name="d16e377"></a>Standaard 1: Beoogde eindkwalificaties
                              </h6>
                              <p><em class="cur">De beoogde eindkwalificaties van de opleiding zijn wat betreft inhoud, niveau en oriëntatie
                                    geconcretiseerd en voldoen aan internationale eisen.</em></p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Toelichting op standaard 1</strong></p>
                              <p>De beoogde eindkwalificaties passen wat betreft niveau en oriëntatie (bachelor of
                                 master; hbo of wo) binnen het Nederlandse kwalificatieraamwerk. Ze sluiten bovendien
                                 aan bij de actuele eisen die in internationaal perspectief vanuit het beroepenveld
                                 en het vakgebied worden gesteld aan de inhoud van de opleiding.
                              </p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Criteria voor de academische kop</strong></p>
                              <div class="alineagroep">
                                 <p>De opleidingsschool met academische kop beschikt over een gezamenlijke visie, door
                                    alle partners gedragen op het concept ‘academische opleidingsschool’.
                                 </p>
                                 <p>De opleidingsschool met academische kop verbindt het opleiden van leraren met het
                                    verrichten van praktijkgericht onderzoek en schoolontwikkeling.
                                 </p>
                              </div>
                           </div>
                           <div class="wijzig-divisie">
                              <h6 class="wijzig-divisie_kop"><a id="d16e397" name="d16e397"></a>Standaard 2: Onderwijsleeromgeving
                              </h6>
                              <p><em class="cur">Het programma, het personeel en de opleidingsspecifieke voorzieningen maken het voor
                                    de instromende studenten mogelijk de beoogde eindkwalificaties te realiseren.</em></p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Toelichting op standaard 2</strong></p>
                              <p>De inhoud en vormgeving van het programma stellen de toegelaten studenten in staat
                                 de beoogde eindkwalificaties te bereiken. De kwaliteit van het personeel en van de
                                 opleidingsspecifieke voorzieningen is daarbij essentieel. Programma, personeel en
                                 voorzieningen vormen een voor studenten samenhangende onderwijsleeromgeving.
                              </p>
                              <p class="tussenkop"><strong class="tussenkop_cur">Criteria voor de academische kop</strong></p>
                              <div class="alineagroep">
                                 <p><em class="cur">Programma</em></p>
                                 <p>De opleidingsschool met academische kop beschikt over een onderzoeksprogramma.</p>
                                 <p>Het programma is dusdanig vormgegeven dat de student in staat wordt gesteld het uitvoeren
                                    van praktijkgericht onderzoek naar schoolontwikkeling op het juiste niveau te ontwikkelen.
                                 </p>
                              </div>
                              <div class="alineagroep">
                                 <p><em class="cur">Begeleiding</em></p>
                                 <p>De opleidingsschool met academische kop beschikt over voldoende en hoogwaardige begeleiding
                                    van studenten en een goede ondersteuning van docenten bij hun onderzoeks- en begeleidingstaken.
                                 </p>
                              </div>
                           </div>
                           <div class="wijzig-divisie">
                              <h6 class="wijzig-divisie_kop"><a id="d16e426" name="d16e426"></a>Standaard 3: Toetsing
                              </h6>
                              <p>Er zijn geen specifieke criteria voor de opleidingsschool met academische kop voor
                                 deze standaard.
                              </p>
                           </div>
                           <div class="wijzig-divisie">
                              <h6 class="wijzig-divisie_kop"><a id="d16e432" name="d16e432"></a>Standaard 4:   Kennisdeling (additioneel voor de opleidingsscholen met academische
                                 kop)
                              </h6>
                              <div class="alineagroep">
                                 <p><em class="cur">Criterium voor de academische opleidingsschool</em></p>
                                 <p>De opleidingsschool met academische kop zorg voor de kennisdeling tussen de partners
                                    en met de andere opleidingsscholen met academische kop.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">M</span></p>
                  <p class="wat">Bijlage 2 komt te luiden:</p>
                  <div class="wijziging">
                     <div class="wijzig-divisie">
                        <h4 class="wijzig-divisie_kop"><a id="d16e449" name="d16e449"></a>BIJLAGE 2, BEHORENDE BIJ ARTIKEL 5 VAN DE REGELING TEGEMOETKOMING KOSTEN OPLEIDINGSSCHOLEN:
                        </h4>
                        <div class="wijzig-divisie">
                           <h5 class="wijzig-divisie_kop"><a id="d16e453" name="d16e453"></a>Overzicht tegemoetkoming opleidingsschool afhankelijk van grootte
                           </h5>
                           <div class="wijzig-divisie">
                              <h6 class="wijzig-divisie_kop"><a id="d16e457" name="d16e457"></a>1. Schooljaar 2013/2014:
                              </h6>
                              <table class="zebra portrait" cellspacing="0">
                                 <colgroup><col title="col1" class="pct41">
                                 <col title="col2" class="pct59">
                                 </colgroup><thead class="left bottom thead">

                                    <tr class="left middle head-row2 zebra1head">
                                       <th scope="col" class="left bottom border-column border-row">

                                          <p>Aantal studenten</p>

                                       </th>
                                       <th scope="col" class="left bottom border-column border-row">

                                          <p>Tegemoetkoming per jaar</p>

                                       </th>
                                    </tr>

                                 </thead>
                                 <tbody class="left top tbody">
                                    <tr class="left middle tr-rowsep odd">
                                       <td class="left bottom border-column border-row">

                                          <p>80–139</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;210.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep even">
                                       <td class="left bottom border-column border-row">

                                          <p>140–179</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;290.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep odd">
                                       <td class="left bottom border-column border-row">

                                          <p>180–219</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;330.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep even">
                                       <td class="left bottom border-column border-row">

                                          <p>220–259</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;350.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep odd">
                                       <td class="left bottom border-column border-row">

                                          <p>260–299</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;390.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep even">
                                       <td class="left bottom border-column border-row">

                                          <p>300–339</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;430.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep odd">
                                       <td class="left bottom border-column border-row">

                                          <p>340–379</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;470.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep even">
                                       <td class="left bottom border-column border-row">

                                          <p>380 en meer</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;510.000</p>

                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <div class="wijzig-divisie">
                              <h6 class="wijzig-divisie_kop"><a id="d16e567" name="d16e567"></a>2. Vanaf schooljaar 2014/2015:
                              </h6>
                              <table class="zebra portrait" cellspacing="0">
                                 <colgroup><col title="col1" class="pct41">
                                 <col title="col2" class="pct59">
                                 </colgroup><thead class="left bottom thead">

                                    <tr class="left middle head-row2 zebra1head">
                                       <th scope="col" class="left bottom border-column border-row">

                                          <p>Aantal studenten</p>

                                       </th>
                                       <th scope="col" class="left bottom border-column border-row">

                                          <p>Tegemoetkoming per jaar</p>

                                       </th>
                                    </tr>

                                 </thead>
                                 <tbody class="left top tbody">
                                    <tr class="left middle tr-rowsep odd">
                                       <td class="left bottom border-column border-row">

                                          <p>80–139</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;200.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep even">
                                       <td class="left bottom border-column border-row">

                                          <p>140–179</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;280.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep odd">
                                       <td class="left bottom border-column border-row">

                                          <p>180–219</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;320.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep even">
                                       <td class="left bottom border-column border-row">

                                          <p>220–259</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;340.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep odd">
                                       <td class="left bottom border-column border-row">

                                          <p>260–299</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;380.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep even">
                                       <td class="left bottom border-column border-row">

                                          <p>300–339</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;420.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep odd">
                                       <td class="left bottom border-column border-row">

                                          <p>340–379</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;460.000</p>

                                       </td>
                                    </tr>
                                    <tr class="left middle tr-rowsep even">
                                       <td class="left bottom border-column border-row">

                                          <p>380 en meer</p>

                                       </td>
                                       <td class="left bottom border-column border-row">

                                          <p>€&nbsp;500.000</p>

                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">N</span></p>
                  <p class="wat">Bijlage 3 vervalt.</p>
               </div>
               <h3 class="wijzig-artikel_kop"><a id="d16e682" name="d16e682"></a>ARTIKEL II. WIJZIGING REGELING VERSTERKING SAMENWERKING LERARENOPLEIDINGEN EN SCHOLEN
                  2013–2016
               </h3>
               <p class="wat">De Regeling versterking samenwerking lerarenopleidingen en scholen 2013–2016 wordt
                  als volgt gewijzigd:
               </p>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">A</span></p>
                  <p class="wat">Artikel 11 wordt als volgt gewijzigd:</p>
                  <div class="wijziging">
                     <p class="wat labeled"><span class="nr">1.</span> Het tweede en derde lid komen te luiden:
                     </p>
                     <div class="artikeltekst">
                        <ul class="artikel_leden whitespace-small">
                           <li>
                              <p class="lid labeled"><span class="lidnr">2.</span> De bijdrage van een eventuele honorering van de aanvraag aan een evenwichtige spreiding
                                 van de projecten over Nederland is voor de sectoren po en vo onderdeel van de geschiktheidsbeoordeling.
                              </p>
                           </li>
                           <li>
                              <p class="lid labeled"><span class="lidnr">3.</span> Indien het verlenen van de subsidie uit het budget voor de onderwijssector bve, bedoeld
                                 in artikel 8, onder c, aan meerdere aanvragers voor activiteiten van een gelijke geschiktheid
                                 zou leiden tot overschrijding van het subsidieplafond, verdeelt de minister het beschikbare
                                 bedrag achtereenvolgens in de volgende stappen:
                              </p>
                              <ul class="expliciet whitespace-small">
                                 <li class="li">
                                    <p class="labeled"><span class="ol">a. </span>per deelnemende hogeschool of universiteit komt één door de betreffende hogeschool
                                       of universiteit aan te wijzen samenwerkingsverband in aanmerking voor subsidie;
                                    </p>
                                 </li>
                                 <li class="li">
                                    <p class="labeled"><span class="ol">b. </span>indien nog een bedrag resteert, komen vervolgens aanvragen in aanmerking van samenwerkingsverbanden
                                       die deelnemen aan het project ‘Opleiden in de school MBO’ als genoemd in bijlage 1.
                                    </p>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="wijziging">
                     <p class="wat labeled"><span class="nr">2.</span> Na het derde lid wordt een lid toegevoegd, luidende:
                     </p>
                     <div class="artikeltekst">
                        <ul class="artikel_leden whitespace-small">
                           <li>
                              <p class="lid labeled"><span class="lidnr">4.</span> Indien het verlenen van de subsidie aan meerdere aanvragers voor activiteiten van
                                 een gelijke geschiktheid, onverminderd het derde lid, zou leiden tot overschrijding
                                 van het subsidieplafond, verdeelt de minister het beschikbare bedrag op basis van
                                 volgorde van ontvangst van de aanvragen met dien verstande dat wanneer de aanvrager
                                 krachtens artikel 4:5 van de Algemene wet bestuursrecht de gelegenheid heeft gehad
                                 de aanvraag aan te vullen, de dag waarop de aanvraag is aangevuld, met betrekking
                                 tot de verdeling, als datum van ontvangst geldt.
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">B</span></p>
                  <p class="wat">Artikel 12, tweede en derde lid, komen te luiden:</p>
                  <div class="wijziging">
                     <div class="artikeltekst">
                        <ul class="artikel_leden whitespace-small">
                           <li>
                              <p class="lid labeled"><span class="lidnr">2.</span> Samenwerkingsverbanden in de sectoren po en vo waarvan de deelnemende hogescholen
                                 en universiteiten reeds deelnemen aan een opleidingsschool in dezelfde onderwijssector,
                                 komen niet in aanmerking voor subsidie.
                              </p>
                           </li>
                           <li>
                              <p class="lid labeled"><span class="lidnr">3.</span> Indien een hogeschool of universiteit bij meerdere aanvragen in de sectoren po en
                                 vo betrokken is, komt per onderwijssector niet meer dan één door de betreffende hogeschool
                                 of universiteit aan te wijzen samenwerkingsverband in aanmerking voor subsidie.
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">C</span></p>
                  <p class="wat">In artikel 14 wordt ‘de bijlage’ telkens vervangen door: bijlage 2.</p>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">D</span></p>
                  <p class="wat">Artikel 23 wordt als volgt gewijzigd:</p>
                  <div class="wijziging">
                     <p class="wat labeled"><span class="nr">1.</span> De aanduiding ‘1.’ voor de tekst vervalt.
                     </p>
                  </div>
                  <div class="wijziging">
                     <p class="wat labeled"><span class="nr">2.</span> In onderdeel a wordt ‘de bijlage’ vervangen door: bijlage 2.
                     </p>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">E</span></p>
                  <p class="wat">Onder vernummering van bijlage 1 tot bijlage 2 wordt een bijlage ingevoegd, luidende:</p>
                  <div class="wijziging">
                     <div class="wijzig-divisie">
                        <h4 class="wijzig-divisie_kop"><a id="d16e785" name="d16e785"></a>BIJLAGE 1, BEHORENDE BIJ ARTIKEL 11 VAN DE REGELING VERSTERKING SAMENWERKING LERARENOPLEIDINGEN
                           EN SCHOLEN 2013–2016
                        </h4>
                        <p>Deelnemers project ‘Opleiden in de school MBO’:</p>
                        <ul class="expliciet whitespace-small">
                           <li class="li">
                              <p class="labeled"><span class="ol">1. </span>Hogeschool Arnhem-Nijmegen met ROC A12 (Ede);
                              </p>
                           </li>
                           <li class="li">
                              <p class="labeled"><span class="ol">2. </span>Hogeschool Arnhem-Nijmegen met ROC Nijmegen;
                              </p>
                           </li>
                           <li class="li">
                              <p class="labeled"><span class="ol">3. </span>Fontys Hogescholen met ROC Koning Willem I ('s-Hertogenbosch);
                              </p>
                           </li>
                           <li class="li">
                              <p class="labeled"><span class="ol">4. </span>Hogeschool Windesheim met Deltion (Zwolle);
                              </p>
                           </li>
                           <li class="li">
                              <p class="labeled"><span class="ol">5. </span>Hogeschool Windesheim met Landstede (Harderwijk).
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="wijzig-lid">
                  <p class="lid"><span class="lidnr">F</span></p>
                  <p class="wat">Het opschrift van bijlage 2 (nieuw) komt te luiden: <strong class="vet">Bijlage 2, behorende bij artikel 14 en 23 van de Regeling versterking samenwerking
                        lerarenopleidingen en scholen 2013–2016.</strong></p>
               </div>
               <div class="artikel">
                  <h3 class="artikel_kop"><a id="d16e825" name="d16e825"></a>ARTIKEL III. INWERKINGTREDING
                  </h3>
                  <p>Deze regeling treedt in werking met ingang van 1&nbsp;oktober 2013.</p>
               </div>
            </div>
            <div class="regeling-sluiting"><a id="d16e831" name="d16e831"></a><div class="slotformulering">
                  <p>Deze regeling zal met de toelichting in de Staatscourant worden geplaatst.</p>
               </div>
               <p class="ondertekening"><span class="functie">De Minister van Onderwijs, Cultuur en Wetenschap,</span>
                  <span class="naam"><span class="voornaam">M.</span> <span class="achternaam">Bussemaker.</span></span></p>
               <p class="ondertekening"><span class="functie">De Staatssecretaris van Onderwijs, Cultuur en Wetenschap,</span>
                  <span class="naam"><span class="voornaam">S.</span> <span class="achternaam">Dekker.</span></span></p>
            </div>
            <div class="nota-toelichting">
               <h2 class="nota-toelichting_kop"><a id="d16e858" name="d16e858"></a>TOELICHTING
               </h2>
               <h3 class="divisiekop1"><a id="d16e861" name="d16e861"></a>I. Algemeen
               </h3>
               <p>Met deze wijzigingsregeling worden een aantal wijzigingen aangebracht in de bestaande
                  subsidieregelingen voor opleidingsscholen.
               </p>
               <h4 class="divisiekop2"><a id="d16e866" name="d16e866"></a>1. Hernieuwde subsidieaanvraag en advies NVAO
               </h4>
               <div class="alineagroep">
                  <p>In de Regeling tegemoetkoming kosten opleidingsscholen is geregeld dat bestaande subsidieontvangers
                     na afloop van de subsidieperiode een nieuwe aanvraag kunnen doen voor de subsidie
                     in het kader van deze regeling. De subsidieperiode loopt tot het einde van de accreditatietermijn
                     van de betrokken lerarenopleiding. De accreditatie van de lerarenopleidingen lopen
                     afhankelijk van de sector waarvoor ze opleiden af per 31&nbsp;december 2015 of per 31&nbsp;december
                     2016.
                  </p>
                  <p>Om opnieuw bekostiging te ontvangen zal opnieuw moeten worden voldaan aan alle subsidievoorwaarden.
                     Eén van deze voorwaarden is dat de NVAO een positief advies heeft afgegeven over de
                     opleidingsschool. De toetsing van de opleidingsscholen door de NVAO wordt uitgevoerd
                     als een aanvulling op de toetsing in het kader van de accreditatie van de deelnemende
                     lerarenopleidingen.
                  </p>
                  <p>Met deze wijzigingsregeling worden regels gesteld voor de indiening van de hernieuwde
                     subsidieaanvraag. Bovendien wordt het bijgestelde beoordelingskader van de NVAO voor
                     de aankomende toetsing vastgesteld. Tot slot wordt conform de Aanwijzingen voor subsidieverstrekking
                     (aanwijzing 6a in samenhang met artikel II van de laatste wijziging van de Aanwijzingen<a class="nootnum supernote-click-n1" href="#n1">1</a>) een vervaldatum opgenomen. De mogelijkheid tot het honoreren van een subsidieaanvraag
                     vervalt met ingang van 1&nbsp;juli 2017.
                  </p>
               </div>
               <h5 class="divisiekop3"><a id="d16e879" name="d16e879"></a>Beoordeling door de NVAO
               </h5>
               <div class="alineagroep">
                  <p>Een positief advies van de NVAO over de opleidingsschool is een voorwaarde om in aanmerking
                     te komen voor de subsidie voor opleidingsscholen. De NVAO toetst iedere zes jaar de
                     lerarenopleidingen in het kader van de accreditatie. Om de lasten voor de betrokken
                     partners zoveel mogelijk te beperken, wordt de toetsing van de kwaliteit van de opleidingsscholen
                     gelijktijdig uitgevoerd. Wat in de accreditatie reeds beoordeeld is, hoeft zo niet
                     nogmaals te worden beoordeeld in de toets van de opleidingsscholen.
                  </p>
                  <p>De beoordelingskaders die de NVAO hanteert zijn als bijlage opgenomen in de Regeling
                     tegemoetkoming kosten opleidingsscholen. Met deze wijzigingsregeling worden deze kaders
                     bijgesteld voor de aankomende toetsing.
                  </p>
                  <p>In de toelichting op de Regeling verankering academische opleidingsschool 2013–2016
                     is reeds aangegeven dat de toetsing van de academische opleidingsschool met ingang
                     van de eerstvolgende toetsingsronde onderdeel uitmaakt van de toetsing van de opleidingsschool
                     door de NVAO en gelijktijdig met de accreditatie wordt uitgevoerd. De aanvullende
                     kaders die gebruikt zijn voor de beoordeling van de academische opleidingsscholen
                     in 2011 zijn daarom nu ook opgenomen in de beoordelingskaders van de NVAO voor de
                     aankomende toetsingsronde.
                  </p>
               </div>
               <h5 class="divisiekop3"><a id="d16e889" name="d16e889"></a>‘Toetsingskaders opleidingsschool en academische kop 2013’ in relatie tot het ‘Toetsingskader
                  opleidingsschool 2009’
               </h5>
               <p>Het Toetsingskader opleidingsschool 2009 bestond uit twee delen:</p>
               <div class="alineagroep">
                  <p>Deel 1: Het gerealiseerd niveau;</p>
                  <p>Deel 2: Het samenwerkingsverband.</p>
               </div>
               <p>De toetsing van het gerealiseerd niveau van de opleidingsscholen wordt meegenomen
                  met de reguliere accreditatie van de instituten van lerarenopleidingen. Het gerealiseerd
                  niveau maakt daarmee geen deel meer uit van de beoordeling van de kwaliteit van de
                  opleidingsschool 2013 en is dus ook niet opgenomen in de toetsingskaders.
               </p>
               <p>De beoordeling van de kwaliteit van het gerealiseerd niveau valt onder het regime
                  van de beoordeling en accreditatie van de lerarenopleidingen (zie hiervoor ook de
                  website van de NVAO: <a href="http://www.nvao.net" title="link naar http://www.nvao.net" class="externe_link">www.nvao.net</a>). Bij een reguliere accreditatie laat een instituut voor lerarenopleidingen eindwerken
                  beoordelen van alle varianten en routes (waaronder de opleidingsschool). De richtlijnen
                  volgens welke deze eindwerken worden beoordeeld staan vermeld op de NVAO-website (document:
                  ‘Richtlijnen beoordeling eind-/afstudeerwerken’).
               </p>
               <p>De toetsing van het samenwerkingsverband wordt in het voorliggende toetsingskader
                  het ‘Toetsingskader opleidingsschool’ genoemd. Opleidingsscholen én opleidingsscholen
                  met academische kop worden volgens het ‘Toetsingskader opleidingsschool’ beoordeeld.
                  Op basis van de beoordelingen stelt de NVAO de adviezen op voor de minister.
               </p>
               <h5 class="divisiekop3"><a id="d16e908" name="d16e908"></a>‘Toetsingskaders opleidingsschool en academische kop 2013’ in relatie tot het ‘Toetsingskader
                  academische kop 2011’
               </h5>
               <p>De academische kop van de opleidingsscholen zijn in 2011 beoordeeld door een ’commissie
                  van wijzen’ in opdracht van DUO.<a class="nootnum supernote-click-n2" href="#n2">2</a> De beoordeling van de academische kop is destijds gedaan aan de hand van zes criteria.
                  Deze criteria maken nu deel uit van het ‘Toetsingskader academische kop’. Op basis
                  van de beoordeling stelt de NVAO de adviezen voor de academische kop op voor de Minister.
               </p>
               <h5 class="divisiekop3"><a id="d16e916" name="d16e916"></a>Samenvatting
               </h5>
               <p>De Toetsingskaders opleidingsschool en academische kop 2013 bestaan uit twee toetsingskaders
                  te weten:
               </p>
               <ul class="expliciet whitespace-small">
                  <li class="li">
                     <p class="labeled"><span class="ol">1. </span>Het ‘Toetsingskader opleidingsschool’, dit kader is verplicht voor opleidingsscholen
                        en opleidingsscholen met academische kop;
                     </p>
                  </li>
                  <li class="li">
                     <p class="labeled"><span class="ol">2. </span>Het ‘Toetsingskader academische kop’, dit kader is verplicht voor opleidingsscholen
                        met academische kop.
                     </p>
                  </li>
               </ul>
               <h6 class="divisiekop4"><a id="d16e932" name="d16e932"></a>Beoordeling van de opleidingsschool en beoordeling van de academische kop door de
                  NVAO
               </h6>
               <p>De beoordeling van de kwaliteit van de opleidingsscholen en de academische kop van
                  de academische opleidingsscholen wordt gedaan door de panels die ook de reguliere
                  beoordeling in het kader van de accreditatie van de lerarenopleidingen uitvoeren.
                  De NVAO stelt de paneladviezen van de opleidingsscholen en de academische kop van
                  de academische opleidingsscholen vast.
               </p>
               <p>Op basis van de rapporten van de panels neemt de NVAO het volgende besluit en formuleert
                  de volgende adviezen:
               </p>
               <ul class="expliciet whitespace-small">
                  <li class="li">
                     <p class="labeled"><span class="ol">• </span>Het accreditatiebesluit van de betreffende lerarenopleidingen inclusief de oordelen
                        over de opleidingsscholen en academische kop van academische opleidingsscholen;
                     </p>
                  </li>
                  <li class="li">
                     <p class="labeled"><span class="ol">• </span>Het advies opleidingsschool;
                     </p>
                  </li>
                  <li class="li">
                     <p class="labeled"><span class="ol">• </span>In voorkomende gevallen het advies academische kop van academische opleidingsscholen.
                     </p>
                  </li>
               </ul>
               <h6 class="divisiekop4"><a id="d16e955" name="d16e955"></a>Werkwijze beoordeling opleidingsschool en academische kop
               </h6>
               <div class="alineagroep">
                  <p>Kwaliteit beoordelingen</p>
                  <p>Zoals reeds eerder vermeld worden de beoordelingen op basis van de kaders uitgevoerd
                     door de panels die tevens de visitaties in het kader van de accreditaties van de lerarenopleidingen
                     uitvoeren. De NVAO heeft naast de vaststelling van de panels ook duidelijk de regie
                     op de inhoud van de beoordeling van de opleidingsscholen en de opleidingsscholen met
                     academische kop. Deze regie op de kwaliteit van de beoordelingen wordt op twee manieren
                     gerealiseerd:
                  </p>
                  <ul class="expliciet whitespace-small">
                     <li class="li">
                        <p class="labeled"><span class="ol">1. </span>Voor de beoordeling van de opleidingsschool en de academische kop wordt er een panellid
                           (referent) met kennis van de opleidingsschool en de academische kop aan het visitatiepanel
                           voor accreditatie van de lerarenopleiding toegevoegd. Daartoe stelt de NVAO een lijst
                           van referenten samen waaruit evaluatiebureaus in overleg met de te visiteren opleiding
                           een keuze kunnen maken. Elk panel bestaat daarmee altijd uit een panellid met expertise
                           van de opleidingsschool. Op deze wijze wordt tevens de consistentie in beoordeling
                           geborgd.
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">2. </span>De referenten worden door de NVAO geïnstrueerd bij de start van de visitaties en regelmatig
                           worden afstemmingsvergaderingen met de panelleden belegd bij de NVAO.
                        </p>
                     </li>
                  </ul>
               </div>
               <p>Het beoordelingsproces ziet er als volgt uit:</p>
               <div class="alineagroep">
                  <p>Fase 1</p>
                  <p>De opleidingen beschrijven in de kritische reflectie aan de hand van het accreditatiekader
                     en het Toetsingskader opleidingsschool en toetsingskader academische kop. Afhankelijk
                     van het soort aanvraag kan een kritische reflectie dus de volgende onderdelen bevatten:
                  </p>
                  <ul class="expliciet whitespace-small">
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Accreditatie lerarenopleidingen;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Toetsing opleidingsschool;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>In voorkomende gevallen toetsing academische kop.
                        </p>
                     </li>
                  </ul>
               </div>
               <div class="alineagroep">
                  <p>Fase 2</p>
                  <p>Het panel voert de visitatie uit:</p>
                  <ul class="expliciet whitespace-small">
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Accreditatie lerarenopleidingen;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Beoordeling opleidingsschool;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>In voorkomende gevallen beoordeling academische kop.
                        </p>
                     </li>
                  </ul>
               </div>
               <div class="alineagroep">
                  <p>Fase 3</p>
                  <p>Panel stelt adviesrapport op met daarin beoordeling van:</p>
                  <ul class="expliciet whitespace-small">
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Accreditatie lerarenopleidingen;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Opleidingsschool;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>In voorkomende gevallen academische kop.
                        </p>
                     </li>
                  </ul>
               </div>
               <div class="alineagroep">
                  <p>Fase 4</p>
                  <p>Lerarenopleidingen dienen aanvraag en verzoeken in bij de NVAO</p>
                  <ul class="expliciet whitespace-small">
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Aanvraag accreditatie opleidingen;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Verzoek advies opleidingsschool;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>In voorkomende gevallen verzoek advies academische kop.
                        </p>
                     </li>
                  </ul>
               </div>
               <div class="alineagroep">
                  <p>Fase 5</p>
                  <p>NVAO neemt besluiten en stelt adviezen op:</p>
                  <ul class="expliciet whitespace-small">
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Accreditatiebesluiten lerarenopleidingen inclusief de oordelen over de opleidingsscholen;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Advies opleidingsschool;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>In voorkomende gevallen advies academische kop.
                        </p>
                     </li>
                  </ul>
               </div>
               <div class="alineagroep">
                  <p>Fase 6</p>
                  <p>De Minister neem besluiten over de financiering van:</p>
                  <ul class="expliciet whitespace-small">
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Opleidingsschool;
                        </p>
                     </li>
                     <li class="li">
                        <p class="labeled"><span class="ol">• </span>Academische kop.
                        </p>
                     </li>
                  </ul>
               </div>
               <p>Alle opleidingsscholen waarin meerdere instituten voor lerarenopleidingen participeren
                  worden één keer beoordeeld.
               </p>
               <p>In één opleidingsschool kunnen meerdere instituten voor lerarenopleidingen participeren.
                  Daarnaast bestaat een opleidingsschool vaak uit meerdere scholen voor po, vo en bve.
                  Omdat de financiering gekoppeld is aan de accreditatie van de lerarenopleidingen van
                  deze instituten is de systematiek van beoordeling gekoppeld aan deze instituten en
                  niet aan de afzonderlijke scholen. De financiering is gekoppeld aan de accreditatietermijn
                  van de lerarenopleidingen en eindigt daarmee met het verlopen van de laatste mogelijke
                  accreditatietermijn van één van de partners.
               </p>
               <p>Mogelijke varianten voor de beoordeling van de opleidingsschool:</p>
               <ul class="expliciet whitespace-small">
                  <li class="li">
                     <p class="labeled"><span class="ol">1. </span>De opleidingsschool kiest ervoor om het samenwerkingsverband en de eventuele academische
                        kop te laten beoordelen samen met de beoordeling van één van de partner universitaire
                        lerarenopleidingen (ulo’s).
                     </p>
                  </li>
                  <li class="li">
                     <p class="labeled"><span class="ol">2. </span>De opleidingsschool kiest ervoor om het samenwerkingsverband en de eventuele academische
                        kop te laten beoordelen samen met de beoordeling van één van de pabo partners.
                     </p>
                  </li>
                  <li class="li">
                     <p class="labeled"><span class="ol">3. </span>De opleidingsschool kiest ervoor om het samenwerkingsverband en de eventuele academische
                        kop te laten beoordelen samen met de beoordeling van één van de tweedegraads partners.
                     </p>
                  </li>
               </ul>
               <p>Om onduidelijkheden te voorkomen geeft elke opleidingsschool die opnieuw in aanmerking
                  wil komen voor de financiering (opleidingsschool en academische kop) aan bij de visitatie
                  van welke partner (ulo, pabo of tweedegraads lerarenopleidingen) de beoordeling van
                  de opleidingsschool en de academische kop zal plaatsvinden. Deze informatie moet uiterlijk
                  op 31&nbsp;december 2013 bij de NVAO binnen zijn. Het bestuur van de NVAO zal het overzicht
                  van beoordelingsmomenten van de opleidingsscholen en de academische kop accorderen.
               </p>
               <div class="alineagroep">
                  <p>De kwaliteit van de gesprekken</p>
                  <p>Totaal worden er drie gesprekken gevoerd (Aan de gesprekken worden dezelfde eisen
                     gesteld als bij de accreditatie, het panel kiest bijvoorbeeld per gesprek de gesprekspartners).
                  </p>
               </div>
               <p>Drie gesprekken per opleidingsschool en drie gesprekken bij academische kop:</p>
               <ul class="expliciet whitespace-small">
                  <li class="li">
                     <p class="labeled"><span class="ol">• </span>Stuurgroep opleidingsschool;
                     </p>
                  </li>
                  <li class="li">
                     <p class="labeled"><span class="ol">• </span>Docenten opleidingsschool;
                     </p>
                  </li>
                  <li class="li">
                     <p class="labeled"><span class="ol">• </span>Studenten opleidingsschool.
                     </p>
                  </li>
               </ul>
               <p>De organisatie van de gesprekken is ter beoordeling van het panel. Daar waar mogelijk
                  kunnen gesprekken in het kader van de accreditatie of de beoordeling van de opleidingsschool
                  en/ of de academische kop worden gecombineerd. Het panel geeft verantwoording in het
                  rapport over de organisatie van de gesprekken.
               </p>
               <h4 class="divisiekop2"><a id="d16e1147" name="d16e1147"></a>2. Aanpassing bekostigingsstaffels
               </h4>
               <div class="alineagroep">
                  <p>De opleidingsscholen hebben de afgelopen jaren een flinke groei doorgemaakt. Inmiddels
                     worden ruim 9000 studenten van lerarenopleidingen opgeleid via opleidingsscholen.
                     De betrokken partijen zijn erg tevreden over de behaalde resultaten en een flink aantal
                     opleidingsscholen wil het aantal studenten verder gaan uitbreiden. De hoogte van de
                     bekostiging van de opleidingsscholen is afhankelijk van het aantal studenten. Met
                     deze wijzigingsregeling worden de bekostigingsstaffels in bijlage 2 aangepast om meer
                     ruimte te bieden voor verdere uitbreiding van het aantal studenten in de bestaande
                     opleidingsscholen. Het subsidiebedrag voor studiejaar 2013/2014 wordt eenmalig met
                     €&nbsp;10.000 euro per subsidieontvanger verhoogd. Deze ophoging is een eenmalige compensatie
                     voor de kosten die de opleidingsscholen moeten maken voor de aankomende toetsing door
                     de NVAO.
                  </p>
                  <p>Voor de uitbreiding van de bekostigingsstaffels wordt het subsidieplafond structureel
                     opgehoogd met €&nbsp;3.000.000 vanuit het budget voor de aanvullende bekostiging voor opleidingsscholen
                     tot €&nbsp;20.000.000 per jaar.
                  </p>
               </div>
               <h4 class="divisiekop2"><a id="d16e1155" name="d16e1155"></a>3. Aspirant-opleidingsscholen in het mbo
               </h4>
               <div class="alineagroep">
                  <p>De Regeling versterking samenwerking lerarenopleidingen en scholen 2013–2016 beoogt
                     de samenwerking tussen lerarenopleidingen en scholen op een aantal onderwijsinhoudelijke
                     thema's te stimuleren. Deze regeling richt zich op het primair onderwijs (po), het
                     voortgezet onderwijs (vo) en het middelbaar beroepsonderwijs (mbo).
                  </p>
                  <p>De regeling sluit waar mogelijk aan bij de bestaande infrastructuur van de opleidingsschool.
                     Dit gebeurt mede op verzoek van de sectorraden. De subsidie voor de algemene samenwerking
                     en de onderwijsthema's (hoofdstuk 3 van de regeling) kan in eerste instantie worden
                     aangevraagd door opleidingsscholen. In die gevallen dat een lerarenopleiding nog niet
                     deelneemt in een opleidingsschool, kan een aanvraag worden ingediend voor een nieuw
                     samenwerkingsverband. Deze nieuwe samenwerkingsverbanden kunnen bovendien een extra
                     subsidie krijgen voor het opbouwen en/of versterken van hun samenwerking (hoofdstuk
                     2 van de regeling).
                  </p>
                  <p>In de sector mbo bestaan slechts twee bekostigde opleidingsscholen. Wel zijn er een
                     vijftal aspirant-opleidingsscholen die deelnemen aan het project ‘Opleiden in de school
                     MBO’. Deze aspirant-opleidingsscholen zijn sinds 2011 begonnen met het opzetten van
                     een infrastructuur voor een opleidingsschool. Het zijn nog geen volledig erkende opleidingsscholen,
                     maar ze hebben al wel enkele stappen gezet in die richting.
                  </p>
                  <p>Met deze wijzigingsregeling wordt het mogelijk gemaakt dat deze vijf aspirant-opleidingsscholen
                     in aanmerking komen voor de subsidie voor nieuwe samenwerkingsverbanden. Hiermee wordt
                     hun de mogelijkheid geboden de gemaakte voortgang te consolideren en komen zij bovendien
                     net als de bekostigde opleidingsscholen in aanmerking voor de subsidie voor de versterking
                     van de samenwerking op het gebied van de prioritaire onderwijsthema's (Hoofdstuk 3
                     van de regeling). Voor de sectoren po en vo is geen aanpassing van de regeling nodig.
                     In deze sectoren bestaan al tientallen bekostigde opleidingsscholen. De wijziging
                     heeft geen gevolgen voor de subsidieplafonds in de regeling.
                  </p>
               </div>
               <h4 class="divisiekop2"><a id="d16e1167" name="d16e1167"></a>4. Administratieve lasten
               </h4>
               <p>Met deze wijzigingsregeling wordt een kleine wijziging aangebracht op de informatieverplichting
                  voor opleidingsscholen. Opleidingsscholen dienen voor 1&nbsp;december 2013 aan de NVAO
                  door te geven welke betrokken lerarenopleiding bepalend is voor de subsidieperiode
                  en de toetsing opleidingsscholen. De extra administratieve lasten hiervan zijn minimaal
                  (totaal voor alle 55 opleidingsscholen samen ongeveer €&nbsp;2.500).
               </p>
               <p>De administratieve lasten die gemoeid zijn met de Regeling samenwerking lerarenopleidingen
                  en scholen 2013–2016 zijn bij de totstandkoming van de regeling geraamd op iets meer
                  dan €&nbsp;545.000 bij maximaal 74 subsidieontvangers (0,6% van het totale subsidieplafond).
                  Het maximaal aantal subsidieontvangers blijft met de opname van de aspirant-opleidingsscholen
                  gelijk en daarmee zijn ook de administratieve lasten gelijk.
               </p>
               <h3 class="divisiekop1"><a id="d16e1174" name="d16e1174"></a>II. Artikelsgewijs
               </h3>
               <h4 class="divisiekop2"><a id="d16e1177" name="d16e1177"></a>Artikel I, onderdelen A en N
               </h4>
               <p>De begripsomschrijving van ‘formulier’ vervalt, evenals de bijlage waarin het formulier
                  was vastgesteld. Het te gebruiken ‘Formulier verlenging bekostiging opleidingsscholen’
                  wordt voortaan door DUO beschikbaar gesteld aan de opleidingsscholen.
               </p>
               <h4 class="divisiekop2"><a id="d16e1182" name="d16e1182"></a>Artikel I, onderdelen B, C en M
               </h4>
               <div class="alineagroep">
                  <p>De uitbreiding van de bekostigingsstaffels (opgenomen in de wijziging van bijlage
                     2) brengt extra kosten met zich mee. Het subsidieplafond en het maximale subsidiebedrag
                     per aanvraag worden daarom verhoogd. In het studiejaar 2013/2014 geldt een iets hoger
                     plafond in verband met de eenmalige verhoging met €&nbsp;10.000,- in verband met de aankomende
                     toetsing door de NVAO.
                  </p>
                  <p>De vaststelling op basis van prognoses in het eerste jaar van de subsidieperiode is
                     geschrapt. Dit is niet meer van toepassing omdat het nu om een verlenging gaat. De
                     subsidie kan in de eerste jaren van de nieuwe subsidieperiode daarom worden vastgesteld
                     op basis van daadwerkelijke studentenaantallen.
                  </p>
               </div>
               <h4 class="divisiekop2"><a id="d16e1190" name="d16e1190"></a>Artikel I, onderdelen D en E
               </h4>
               <p>In 2009 diende de aanvraag te worden ingediend bij de NVAO. In de nieuwe ronde kunnen
                  alleen opleidingsscholen subsidie aanvragen die ook al subsidie ontvingen in de voorgaande
                  periode. De aanvraag voor een nieuwe periode wordt ingediend bij de Dienst Uitvoering
                  Onderwijs (DUO) met het formulier dat door DUO wordt verstrekt.
               </p>
               <h4 class="divisiekop2"><a id="d16e1195" name="d16e1195"></a>Artikel I, onderdeel F
               </h4>
               <p>Bij de subsidieverlening in 2009 is het beschikbare bedrag verdeeld op basis van geschiktheid
                  om bij te dragen aan de subsidiedoelstellingen, regionale spreiding en als laatste
                  op datum van binnenkomst van de aanvraag. Voor de nieuwe subsidieperiode komen alleen
                  opleidingsscholen in aanmerking die ook in de afgelopen periode subsidie hebben ontvangen.
                  De kans op overschrijding van het plafond is hierdoor veel kleiner en de genoemde
                  criteria zijn minder relevant. Er is daarom gekozen voor een neutralere verdeling.
                  Ieder aanvrager ontvangt bij overschrijding van het subsidieplafond een gelijk percentage
                  van het bedrag dat op grond van de tabel in bijlage 2 aan hem zou worden verleend.
               </p>
               <h4 class="divisiekop2"><a id="d16e1200" name="d16e1200"></a>Artikel I, onderdeel G
               </h4>
               <p>De NVAO heeft in 2009 de opleidingsscholen beoordeeld op de samenwerkingsovereenkomst
                  en op het niveau van de studenten. De beoordeling van het niveau van de studenten
                  is nu opgenomen in de reguliere accreditatie van de lerarenopleidingen en hoeft daarom
                  niet meer apart beoordeeld te worden. In 2009 waren sommige opleidingsscholen nog
                  in het stadium van de oprichting. De beoordeling betrof daarom met name de samenwerkingsovereenkomst
                  omdat het in een aantal gevallen nog te vroeg was om de samenwerking in de praktijk
                  te kunnen beoordelen. Inmiddels is dit wel mogelijk. De beoordeling betreft daarom
                  nu het samenwerkingsverband zoals het in de praktijk bestaat.
               </p>
               <h4 class="divisiekop2"><a id="d16e1205" name="d16e1205"></a>Artikel I, onderdeel H
               </h4>
               <p>De subsidieperiode loopt tot het einde van de accreditatietermijn van de betrokken
                  lerarenopleiding. Er kunnen echter meerdere lerarenopleidingen deelnemen in een opleidingsschool.
                  Voor deze lerarenopleidingen kunnen verschillende accreditatietermijnen gelden. In
                  dit artikel wordt bepaald dat de opleidingsschool de lerarenopleiding aanwijst die
                  bepalend is voor de subsidieperiode. De beoordeling door de NVAO wordt dan ook uitgevoerd
                  tijdens de accreditatie van deze lerarenopleiding. De keuze voor een lerarenopleiding
                  is alleen bepalend voor de aanvraag voor de aankomende subsidieperiode.
               </p>
               <h4 class="divisiekop2"><a id="d16e1210" name="d16e1210"></a>Artikel I, onderdeel I
               </h4>
               <p>In artikel 13 wordt het niet leveren van de studentenaantallen met betrekking tot
                  het voorgaande studiejaar opgenomen als weigeringsgrond. Zonder deze studentenaantallen
                  kan het subsidiebedrag niet worden bepaald. In verband met de uitvoerbaarheid van
                  de regeling, wordt expliciet opgenomen dat het niet leveren van de gevraagde gegevens
                  voor 1&nbsp;oktober uiteindelijk kan leiden tot het niet verlenen van de subsidie.
               </p>
               <h4 class="divisiekop2"><a id="d16e1215" name="d16e1215"></a>Artikel I, onderdeel J
               </h4>
               <p>Zoals in het algemeen deel van deze toelichting is aangegeven, schrijven de Aanwijzingen
                  voor subsidieverstrekking voor dat een vervaldatum wordt opgenomen in bestaande subsidieregelingen.
                  Om de lopende subsidies – die telkens voor de duur van de accreditatieperiode wordt
                  verstrekt – af te wikkelen is eveneens een overgangsbepaling opgenomen. Voor lopende
                  subsidies na de vervaldatum blijft de regeling van toepassing.
               </p>
               <h4 class="divisiekop2"><a id="d16e1220" name="d16e1220"></a>Artikel I, onderdeel K
               </h4>
               <p>De inhoudsopgave behorend bij de bijlagen is na de voorgestelde wijzigingen niet meer
                  actueel en vervalt daarom.
               </p>
               <h4 class="divisiekop2"><a id="d16e1225" name="d16e1225"></a>Artikel I, onderdeel L
               </h4>
               <p>Zie voor een toelichting op het nieuwe toetsingskader het algemeen deel van deze toelichting.</p>
               <h4 class="divisiekop2"><a id="d16e1231" name="d16e1231"></a>Artikel II, onderdeel A
               </h4>
               <div class="alineagroep">
                  <p>Artikel 11 wordt dusdanig gewijzigd dat het subsidiebudget dat na de toekenning van
                     subsidie aan de reeds bestaande doelgroep resteert, binnen de sector mbo wordt verdeeld.
                     Allereerst komt de groep in aanmerking die op grond van de oude regeling in aanmerking
                     zou komen. Vervolgens wordt een eventueel restant gebruikt voor subsidieverlening
                     aan samenwerkingsverbanden die ook deelnemen aan het project Opleiden in de School
                     MBO. Tenslotte wordt het dan nog overblijvende budget ingezet voor subsidieverlening
                     aan andere aanvragers waarbij in eerste instantie de spreiding van het totaal aan
                     activiteiten over Nederland bepalend is.
                  </p>
                  <p>Als het totale subsidiebudget onvoldoende is om alle aanvragen te kunnen honoreren,
                     is het moment van ontvangst van de aanvragen met een gelijke geschiktheid bepalend.
                  </p>
               </div>
               <h4 class="divisiekop2"><a id="d16e1239" name="d16e1239"></a>Artikel II, onderdeel B
               </h4>
               <p>Met deze wijziging worden de weigeringsgronden in het tweede en derde lid beperkt
                  tot de sectoren po en vo zodat in de sector mbo subsidieverlening mogelijk wordt aan
                  samenwerkingsverbanden waaraan lerarenopleidingen deelnemen die ook deelnemen in andere
                  aanvragen en/of opleidingsscholen. Bij de subsidieverdeling komen eerst samenwerkingsverbanden
                  in aanmerking die al op grond van de bestaande regeling in aanmerking kwamen en vervolgens
                  de samenwerkingsverbanden die deelnemen aan het project 'Opleiden in de school MBO'.
                  Er treedt daarmee geen benadeling op van de aanvragers die op grond van de oude regeling
                  in aanmerking zouden komen.
               </p>
               <h4 class="divisiekop2"><a id="d16e1244" name="d16e1244"></a>Artikel II, onderdelen C, D en F
               </h4>
               <p>De artikelen 14 en 23 worden technisch gewijzigd als gevolg van het invoegen van een
                  nieuwe bijlage 1 en het vernummeren van bijlage 1 tot bijlage 2. Ook wordt in artikel
                  23 een technische verbetering aangebracht.
               </p>
               <h4 class="divisiekop2"><a id="d16e1249" name="d16e1249"></a>Artikel II, onderdeel E
               </h4>
               <p>De doelgroep van deze subsidieregeling wordt uitgebreid met een vijftal aspirant-opleidingsscholen
                  die in aanmerking komen voor subsidie als na de toekenning aan de huidige doelgroep
                  nog een subsidiebudget resteert.
               </p>
               <h4 class="divisiekop2"><a id="d16e1254" name="d16e1254"></a>Artikel III
               </h4>
               <p>De wijzigingen van beide regelingen treden in werking op 1&nbsp;oktober 2013. Hiermee wordt
                  voldaan aan de afspraken voor de vaste verandermomenten wat het moment betreft. De
                  regeling wordt echter niet op tijd gepubliceerd om ook te voldoen aan de afgesproken
                  twee maanden tussen de publicatie en de inwerkingtreding. Dit is echter niet bezwaarlijk
                  vanwege de uitsluitend positieve gevolgen voor de doelgroep.
               </p>
               <p class="ondertekening"><span class="functie">De Minister van Onderwijs, Cultuur en Wetenschap,</span>
                  <span class="naam"><span class="voornaam">M.</span> <span class="achternaam">Bussemaker.</span></span></p>
               <p class="ondertekening"><span class="functie">De Staatssecretaris van Onderwijs, Cultuur en Wetenschap,</span>
                  <span class="naam"><span class="voornaam">S.</span> <span class="achternaam">Dekker.</span></span></p>
            </div>
         </div>
         <div id="noten">
            <hr>
            <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n1">
               <h5 class="note-close"><a class="note-close" href="#close-n1">X</a> Noot
               </h5><sup><span class="nootnum"><a id="n1" name="n1"></a>1</span></sup><p>Regeling van de Minister-President, Minister van Algemene Zaken, van 21&nbsp;juni 2012,
                  nr. 3113629, houdende vaststelling van de eerste wijziging van de Aanwijzingen voor
                  subsidieverstrekking, <a href="stcrt-2012-13009.html" title="link naar publicatie stcrt-2012-13009">Stcrt. 2012, 13009</a>.
               </p>
            </div>
            <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n2">
               <h5 class="note-close"><a class="note-close" href="#close-n2">X</a> Noot
               </h5><sup><span class="nootnum"><a id="n2" name="n2"></a>2</span></sup><p>Advies aan de Minister van Onderwijs, Cultuur en Wetenschap aangaande de eerste beoordelingsronde
                  van de Regeling verankering academische opleidingsschool 2012-2016, Dienst Uitvoering
                  Onderwijs, januari 2012.
               </p>
            </div>
         </div>

            </div>    </article>

  </div>
</div>
