{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="row container">

    <div class="columns columns--sidebar-left">
      <div>

        <h1>Gemeente Hoorn</h1>


        <h2>Basisgegevens</h2>

        <table>
          <tr>
            <th scope="row">Bezoekadres</th>
            <td data-before="Bezoekadres">Nieuwe steen 1<br />1625HV Hoorn NH</td>
          </tr>
          <tr>
            <th scope="row">Postadres</th>
            <td data-before="Postbus">Postbus 603<br />1620AR Hoorn NH</td>
          </tr>
          <tr>
            <th scope="row">Telefoon</th>
            <td data-before="Telefoon">(0229) 25 22 00</td>
          </tr>
          <tr>
            <th scope="row">Internet</th>
            <td data-before="Internet"><a href="#">https://www.hoorn.nl</a></td>
          </tr>
          <tr>
            <th scope="row">E-mail</th>
            <td data-before="E-mail"><a href="#">gemeente@hoorn.nl</a></td>
          </tr>
        </table>

        <h2>Classificaties</h2>

        <ul>
          <li>WNT (<a href="#">Meer informatie <span class="visually-hidden">over WNT</span></a>)</li>
          <li>Arbeidsvoorwaardelijke overheid (<a href="#">Meer informatie <span class="visually-hidden">over arbeidsvoorwaardelijke overheid</span></a>)</li>
        </ul>

        <h2>Versies</h2>

        <table>
          <tr>
            <th>Huidige versie</th>
            <td data-before="Huidige versie">1</td>
          </tr>
          <tr>
            <th>Verschijningsdatum huidige versie</th>
            <td data-before="Verschijningsdatum huidige versie">25-06-2015 (vanaf dit moment beschikbaar op Nederlandse Zorgautoriteit)</td>
          </tr>
          <tr>
            <th>Publicatiedatum</th>
            <td data-before="Publicatiedatum">25-06-2015</td>
          </tr>
          <tr>
            <th>Geldigheidsdatum</th>
            <td>van 01-01-2015 tot en met 31-12-2015</td>
          </tr>
          <tr>
            <th>Versie</th>
            <td data-before="Status">Niet meer geldig</td>
          </tr>
        </table>

        <h2>Relaties</h2>

        <p>1 relatie gevonden bij document:</p>
        <ul>
          <li><a href="#">Ministerie van Binnenlandse Zaken en Koninkrijksrelaties</a></li>
        </ul>

      </div>
      <div>
         <a href="#" class="icon--backlink">Terug naar zoekresultaten (9430)</a>
      </div>
    </div>
    </div>
</div>

</div>

{{ render "@footer" }}
