<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a name="id1-3-1">
            <!---->
          </a>Beleidsregels behorend bij de Verordening &nbsp;gewijzigde Wet inburgering Hilversum 2013 </h1>
        <div class="regeling">
          <!---->
          <div class="aanhef">
            <a name="id1-3-2-1">
              <!---->
            </a>
            <div class="preambule">
              <!---->
              <p></p>
            </div>
          </div>
          <div class="regeling-tekst">
            <a name="id1-3-2-2">
              <!---->
            </a>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-1-1">
                  <!---->
                </a>
              </h3>
              <p></p>
            </div>
          </div>
          <div class="regeling-sluiting">
            <a name="id1-3-2-3">
              <!---->
            </a>
            <div class="slotformulering">
              <!---->
              <p>Burgemeester en wethouders van de gemeente Hilversum, gelet op artikel 4:81 Algemene Wet Bestuursrecht; &nbsp;besluiten
                vast te stellen de volgende Beleidsregels gewijzigde Wet inburgering Hilversum 2013.</p>
              <p></p>
              <p>
                <strong class="vet">Hoofdstuk 1 Algemene Bepalingen</strong>
              </p>
              <p>
                <strong class="vet">&nbsp;</strong>
              </p>
              <p>
                <strong class="vet">Artikel 1 Van toepassing verklaring</strong>
              </p>
              <p>De beleidsregels gewijzigde Wet inburgering zijn aanvullend op het Besluit inburgering (Staatsblad 2010-331), de
                Wet inburgering, de Wet van 13 september 2012 tot wijziging van de Wet inburgering, Wijzigingsbesluit Besluit inburgering
                van 25 september 2012, de regeling Inburgering en de Verordening gewijzigde Wet inburgering Hilversum 2013 (hierna
                te noemen: de verordening).</p>
              <p>
                <strong class="vet">&nbsp;</strong>
              </p>
              <p>
                <strong class="vet">Artikel 2 Begrippen</strong>
              </p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Onder inburgeringsplichtige wordt verstaan: de persoon, bedoeld in artikel X, tweede tot en met vijfde
                    lid, van de wetswijziging.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>De begripsomschrijvingen in de Wet inburgering, het Besluit inburgering, de wetswijziging en de daarop
                    berustende regelingen, alsmede de verordening zijn van toepassing op de begrippen die in deze beleidsregels
                    worden gebruikt.</p>
                </li>
              </ul>
              <p>
                <strong class="vet">&nbsp;</strong>
              </p>
              <p>
                <strong class="vet">Hoofdstuk 2 &nbsp;Termijnverlenging </strong>
              </p>
              <p>
                <strong class="vet">&nbsp;</strong>
              </p>
              <p>
                <strong class="vet">Artikel 3 &nbsp;Verlenging van de inburgeringstermijn voor inburgeringsplichtigen</strong>
              </p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>De inburgeringsplichtige kan een verzoek omtrent de verlenging van de inburgeringstermijn vanaf 6
                    maanden voor het verstrijken van de inburgeringstermijn schriftelijk indienen bij het college. Dit verzoek
                    gaat vergezeld van een duidelijke motivatie.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Op verzoek van het college dient de inburgeringsplichtige aanvullende informatie te verstrekken omtrent
                    de reden en noodzaak op grond waarvan om verlenging van de inburgeringsplicht wordt verzocht.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Indien in het laatste jaar van de inburgeringstermijn aantoonbare medische, sociale of dringende individuele
                    redenen hiertoe aanleiding geven, kan het college de inburgeringstermijn verlengen met ten hoogste 12 maanden.
                    &nbsp;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.</span>Indien het college niet in staat is de aangevoerde redenen te beoordelen kan advies bij een onafhankelijke
                    derde worden gevraagd.</p>
                </li>
              </ul>
              <p>
                <strong class="vet">&nbsp;</strong>
              </p>
              <p>
                <strong class="vet">Hoofdstuk 3 Ontheffing van de inburgeringsplicht</strong>
              </p>
              <p>
                <strong class="vet">&nbsp;</strong>
              </p>
              <p>
                <strong class="vet">Artikel 4 Ontheffing na aantoonbare inspanning</strong>
              </p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>Het college kan ontheffing verlenen van de inburgeringsplicht aan een inburgeringsplichtige voor wie
                    het een onmogelijke opgave is het inburgeringsexamen te halen. </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>Het college kan ontheffing verlenen als de inburgeringsplichtige een verklaring heeft overgelegd van
                    het onderwijsinstituut waarin de reden staat aangegeven waarom de inburgeringsplichtige het inburgeringsexamen
                    niet zal halen, duur van het gevolgde traject en een verklaring omtrent inzet en aanwezigheidspercentage.</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>Wanneer de inburgeringsplichtige ontheffing is verleend op grond van aantoonbare inspanning, dan wordt
                    de nog te innen eigen bijdrage vanaf het moment dat het besluit is verzonden gestaakt, vanaf die dag verschuldigde
                    termijnen worden ambtshalve kwijtgescholden. </p>
                </li>
              </ul>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Artikel 5 Ontheffing in verband met aantoonbaar voldoende ingeburgerd zijn</strong>
              </p>
              <p>De bevoegdheid om te beoordelen of er sprake is van aantoonbaar voldoende ingeburgerd zijn, ligt bij het college.
                Het college stelt hiervoor de volgende criteria vast die als leidraad kunnen dienen voor een beslissing in een
                concreet geval:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>de inburgeringsplichtige drukt zich naar het oordeel van het college goed uit in de Nederlandse </p>
                </li>
              </ul>
              <p> taal en begrijpt wat er wordt gezegd; of</p>
              <p>b. de inburgeringsplichtige is langdurig aan het werk en kan dit aantonen met een arbeidscontract of</p>
              <p> &nbsp;een verklaring van de werkgever (met duur dienstverband en niveau Ned. taal); of</p>
              <p>c. de inburgeringsplichtige kan documenten overleggen die aantonen dat hij zelfstandig </p>
              <p> ondernemer is. Te denken valt aan een verklaring van ondernemerschap, bewijs van inschrijving </p>
              <p> bij de Kamer van Koophandel, opdrachten, contracten, offertes waaruit blijkt dat de </p>
              <p> inburgeringsplichtige de Nederlandse taal machtig is; of</p>
              <p>d. de inburgeringsplichtige kan bewijzen overleggen van publieke optredens of bestuurs- of </p>
              <p> vrijwilligersfuncties, waaruit blijkt dat de aanvrager in zijn functie-uitoefening mondeling en </p>
              <p> schriftelijk in het Nederlands communiceert; of</p>
              <p>e. de inburgeringsplichtige kan documenten overleggen die aantonen dat met goed gevolg een </p>
              <p> opleiding die minimaal gelijk gesteld kan worden aan opleidingsniveau Mbo-niveau 1, is gevolgd </p>
              <p> die weliswaar niet wordt erkend als vrijstellingsgrond, maar waaruit wel een voldoende mate van </p>
              <p> ingeburgerdheid blijkt; of</p>
              <p>f. de inburgeringsplichtige toont met het afleggen van een TIWI toets aan dat hij de</p>
              <p>Nederlandse taal spreekt op het niveau zoals vereist bij het inburgeringsexamen en dat hij over voldoende kennis
                beschikt van de Nederlandse samenleving.</p>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Artikel 6 &nbsp;Opzegging inburgeringsovereenkomst door de vrijwilliger inburgeraar </strong>
              </p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>De vrijwillige inburgeraar kan de inburgeringsovereenkomst tussentijds schriftelijk opzeggen op grond
                    van:</p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">1.</span>een lichamelijke, psychische en/of verstandelijke beperking; of</p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">2.</span>aantoonbare inspanning, waaruit blijkt dat het redelijkerwijs niet mogelijk is het inburgeringsexamen
                        te behalen.</p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>De &nbsp;vrijwillige inburgeraar die vanwege lichamelijke, psychische en/of verstandelijke beperkingen
                    blijvend niet in staat is het inburgeringsexamen te halen dient dit met een medische verklaring van een door
                    het college aangewezen onafhankelijke arts aan te tonen. (artikel 2.8 Besluit inburgering en artikel 2.4 Regeling
                    Inburgering)</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>De criteria van artikel 5 van deze beleidsregels zijn van overeenkomstige toepassing op de vrijwillige
                    inburgeraar die tussentijds de inburgeringsovereenkomst schriftelijk opzegt, omdat het college op grond van
                    aangetoonde inspanningen oordeelt dat het voor een inburgeringsbehoeftige redelijkerwijs niet mogelijk is het
                    inburgeringsexamen te behalen.</p>
                </li>
              </ul>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Hoofdstuk 3 Beloning</strong>
              </p>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Artikel 7 Beloning </strong>
              </p>
              <p>Het college kan op verzoek van de inburgeringsplichtige of ambtshalve een beloning toekennen, indien is voldaan aan
                de voorwaarden zoals deze zijn vastgelegd in artikel 12 van de verordening.</p>
              <p>
                <strong class="vet">&nbsp;</strong>
              </p>
              <p>
                <strong class="vet">Hoofdstuk 4 De bestuurlijke boete</strong>
              </p>
              <p>
                <strong class="vet">&nbsp;</strong>
              </p>
              <p>
                <strong class="vet">Artikel 8 Het opleggen van een bestuurlijke boete</strong>
              </p>
              <p>Indien de inburgeringsplichtige, geen of onvoldoende medewerking verleent aan het onderzoek, geen of onvoldoende
                medewerking verleent aan de taalkennis- of inburgeringsvoorziening of het inburgeringsexamen niet binnen de inburgeringstermijn
                heeft behaald, moet worden beoordeeld of een bestuurlijke boete moet worden opgelegd (artikel 31 van de wet en
                artikel 10 en 11 van de verordening). Als de inburgeringsplichtige kan worden verweten dat hij het inburgeringsexamen
                niet heeft behaald, wordt een bestuurlijke boete opgelegd. Of sprake is van verwijtbaarheid moet worden beoordeeld
                aan de hand van de volgende niet limitatieve criteria:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1.</span>de inburgeringsplichtige heeft zich als zodanig verwijtbaar gedragen, dat hij redelijkerwijs had moeten
                    begrijpen dat dit gedrag tot gevolg zou hebben dat hij het inburgeringsexamen niet zou behalen;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2.</span>de inburgeringsplichtige heeft niet tijdig een inburgeringsprogramma ingekocht die opleidt naar het
                    vereiste niveau van het inburgeringsexamen;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3.</span>de inburgeringsplichtige heeft geen inburgeringsprogramma gevolgd en/of afgerond;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.</span>de inburgeringsplichtige heeft het inburgeringsexamen niet afgelegd;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">5.</span>de inburgeringsplichtige heeft zich niet voldoende ingespannen. Uit de rapportages van de taalaanbieder
                    blijkt bijvoorbeeld de hoge afwezigheid en de onvoldoende inzet van de inburgeringsplichtige.</p>
                </li>
              </ul>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Hoofdstuk 5 Vergoedingen</strong>
              </p>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Artikel 9 Vergoeding reiskosten</strong>
              </p>
              <p>Het college vergoedt de reiskosten van een inburgeringsplichtige waarvoor een inburgeringsvoorziening is vastgesteld,
                die, naar het oordeel van het college, een inburgeringsprogramma moet volgen buiten de eigen woonplaats. De vergoeding
                wordt berekend op basis van de kosten voor openbaar vervoer 2
                <sup>e</sup> klas.</p>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Hoofdstuk 6 Slotbepalingen</strong>
              </p>
              <p>
                <strong class="vet">&nbsp;</strong>
              </p>
              <p>
                <strong class="vet">Artikel 10 Intrekking oude beleidsregels</strong>
              </p>
              <p>De beleidsregels Wet inburgering Hilversum 2011 worden ingetrokken.</p>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Artikel 11 Inwerkingtreding</strong>
              </p>
              <p>Deze beleidsregels treden in werking op de 1
                <sup>e</sup> dag na bekendmaking daarvan en werken terug tot 1 januari 2013.</p>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Artikel 12 Hardheidsclausule</strong>
              </p>
              <p>Het college kan bepalingen uit deze beleidsregels buiten toepassing laten of daarvan afwijken voor zover toepassing
                ervan leidt tot een onbillijkheid van overwegende aard.</p>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Artikel 13 Citeertitel</strong>
              </p>
              <p>Deze beleidsregels worden aangehaald als: Beleidsregels gewijzigde Wet inburgering Hilversum 2013.</p>
              <p>&nbsp;</p>
              <p>Aldus vastgesteld in de vergadering van het college van Burgermeester en wethouders van &nbsp;17 december 2013</p>
              <p>Toelichting </p>
              <p>
                <strong class="vet">Toelichting op de beleidsregels </strong>
              </p>
              <p>&nbsp;</p>
              <p>
                <em>Ter bevordering van de effectiviteit van beleid, gelijkheid in behandeling en rechtszekerheid voor de burgers zijn
                  de beleidsregels Wet inburgering Hilversum &nbsp;2013 opgesteld. In deze beleidsregels zijn nadere regels gesteld
                  omtrent het verlenen van ontheffing van de inburgeringsplicht, het verlengen van de examentermijn, beloning en
                  vergoeden van reiskosten.</em>
                <strong class="vet"></strong>
              </p>
              <p>&nbsp;</p>
              <p>
                <strong class="vet">Artikel 8 Ontheffing in verband met aantoonbaar voldoende ingeburgerd zijn</strong>
              </p>
              <p>Een deel van de inburgeringsplichtigen meent goed te zijn ingeburgerd. Zij zijn van mening dat ze met het inburgeringsexamen
                of een toets onnodig worden lastiggevallen met bureaucratische handelingen en ervaren hun inburgeringsplicht vaak
                als een belediging gezien hun maatschappelijke positie en bijdrage. Met de wijziging van het Besluit inburgering
                is aan deze groep tegemoet gekomen door het college de bevoegdheid te geven om inburgeringsplichtigen op aanvraag
                te ontheffen van de inburgeringsplicht indien zij naar het oordeel van het college aantoonbaar voldoende zijn ingeburgerd.
                </p>
              <p>Het college kan sinds 7 september 2010 op aanvraag ontheffing verlenen aan inburgeringsplichtigen die naar hun eigen
                mening voldoende zijn ingeburgerd, maar geen vrijstellend document kunnen overleggen en uit principiële overwegingen
                niet bereid zijn tot het afleggen van een examen. Voorwaarde hiervoor is dat de inburgeringsplichtige, die de ontheffing
                heeft aangevraagd, naar het oordeel van het college aantoonbaar voldoende is ingeburgerd. Die beoordeling is aan
                het college en zal per geval moeten worden gemaakt. </p>
              <p>
                <strong class="vet">&nbsp;</strong>
              </p>
              <p>
                <strong class="vet">De overige artikelen behoeven geen nadere toelichting.</strong>
              </p>
              <p></p>
            </div>
            <div class="ondertekening">
              <!---->
              <div class="functie">
                <!---->
              </div>
            </div>
          </div>
        </div>

      </div>
    </article>


  </div>
</div>
