<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

    <div id="broodtekst" class="stuk broodtekst-container">
      <h1 class="kop_op">
        <a id="d25e22" name="d25e22"></a>26ste vergadering</h1>
      <div class="context">
        <p>Woensdag 18 november 2009 </p>
        <p>10.15 uur</p>
      </div>
      <p>
        <strong>Voorzitter: Verbeet</strong>
      </p>
      <div class="aanw">
        <p>Tegenwoordig zijn 135 leden, te weten:</p>
        <p>Aasted Madsen-van Stiphout, Agema, Algra, Anker, Aptroot, Arib, Bashir, Van Beek, Besselink, Bilder, Biskop, Blom, Van
          Bochove, Boekestijn, Boelhouwer, Van Bommel, Bosma, Bouchibti, Bouwmeester, Brinkman, Ten Broeke, Van der Burg, Çörüz,
          Cramer, Van Dam, Depla, Dezentjé Hamming-Bluemink, Dibi, Tony van Dijck, Jasper van Dijk, Van Dijken, Dijsselbloem,
          Eijsink, Elias, Ferrier, Fritsma, Van Geel, Van Gent, Gerkens, Van Gerven, Graus, Griffith, Van Haersma Buma, Van der
          Ham, Hamer, Haverkamp, Heerts, Heijnen, Van Hijum, Ten Hoopen, Irrgang, Jacobi, Jager, Jansen, Joldersma, Jonker, Kalma,
          Kant, Karabulut, Knops, Koopmans, Koppejan, Koşer Kaya, Kraneveldt-van der Veen, De Krom, Langkamp, Leerdam, Leijten,
          Lempens, Linhard, Luijben, Mastwijk, Meeuwis, De Mos, Neppérus, De Nerée tot Babberich, Nicolaï, Omtzigt, Ormel, Ortega-Martijn,
          Ouwehand, De Pater-van der Meer, Pechtold, Peters, Pieper, Polderman, Poppe, Van Raak, Remkes, Roefs, Roemer, De Roon,
          De Rouwe, Samsom, Sap, Schermers, Schinkelshoek, Schippers, Schreijer-Pierik, Slob, Smeets, Smilde, Smits, Snijder-Hazelhoff,
          Spekman, Spies, Van der Staaij, Sterk, Tang, Teeven, Thieme, Timmer, Van Toorenburg, Uitslag, Ulenbelt, Van der Veen,
          Van Velzen, Vendrik, Verbeet, Verdonk, Vermeij, Vietsch, Van der Vlies, Voordewind, Vos, Jan de Vries, Van Vroonhoven-Kok,
          Waalkens, Weekers, Wiegman-van Meppelen Scheppink, Wilders, Willemse-van der Ploeg, De Wit, Wolbert en Zijlstra,</p>
        <p>en de heer Verhagen, minister van Buitenlandse Zaken, mevrouw Verburg, minister van Landbouw, Natuur en Voedselkwaliteit,
          en de heer Koenders, minister voor Ontwikkelingssamenwerking.</p>
      </div>
      <div class="voorzitter">
        <p>De
          <strong>voorzitter</strong>:</p>
        <p>Ik deel aan de Kamer mee dat de volgende leden zich hebben afgemeld:</p>
        <p>Slob, voor de middag- en avondvergadering;</p>
        <p>De Roos-Consemulder, Van Heugten en Blanksma-van den Heuvel.</p>
      </div>
      <div class="draad">
        <p>Deze mededeling wordt voor kennisgeving aangenomen.</p>
      </div>
    </div>    </article>

  </div>
</div>
