<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">
    <article>
      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="dossiertitel">
          <a id="d16e42" name="d16e42"></a>
          <span class="dossiernummer">
            33 852 (R2023)</span> Wijziging van de Rijkswet op het Nederlanderschap ter verlenging van de termijnen voor verlening
          van het Nederlanderschap en enige andere wijzigingen
        </h1>
        <div class="stuk">
          <h1 class="stuktitel">
            <a id="d16e47" name="d16e47"></a>
            <span class="stuknummer">Nr. 1 HERDRUK
              <a class="nootnum supernote-click-ID-289336-d37e57" href="#ID-289336-d37e57">1</a>
            </span> KONINKLIJKE BOODSCHAP
          </h1>
          <div class="algemeen">
            <div class="aanhef">
              <p class="afkondiging">Aan de Tweede Kamer der Staten-Generaal</p>
              <p class="afkondiging">Aan de Staten van Aruba</p>
              <p class="afkondiging">Aan de Staten van Curaçao</p>
              <p class="afkondiging">Aan de Staten van Sint Maarten</p>
            </div>

            <div class="alineagroep">
              <p>Wij bieden U hiernevens ter overweging aan een voorstel van rijkswet houdende wijziging van de Rijkswet op het Nederlanderschap
                ter verlenging van de termijnen voor verlening van het Nederlanderschap en enige andere wijzigingen.
              </p>
              <p>De memorie van toelichting, die het wetsvoorstel vergezelt, bevat de gronden waarop het rust.
              </p>
              <p>En hiermede bevelen Wij U in Godes heilige bescherming.</p>
            </div>

            <div class="gegeven">
              <p class="dagtekening">Wassenaar, 21&nbsp;januari 2014</p>
              <p class="koning">Willem-Alexander</p>
            </div>
          </div>
        </div>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-289336-d37e57">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-289336-d37e57">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-289336-d37e57" name="ID-289336-d37e57"></a>1</span>
            </sup>
            <p>I.v.m. een correctie in de titel.</p>
          </div>
        </div>

      </div>
  </article>

  </div>
</div>
