<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="dossiertitel">
          <a id="d16e49" name="d16e49"></a>
          <span class="dossiernummer">
            31 996
          </span> Regels ten aanzien van zorg en dwang voor personen met een psychogeriatrische aandoening of een verstandelijke
          handicap (Wet zorg en dwang psychogeriatrische en verstandelijk gehandicapte cliënten)
        </h1>
        <div class="stuk">
          <h1 class="stuktitel">
            <a id="d16e54" name="d16e54"></a>
            <span class="stuknummer">Nr. 59
            </span> AMENDEMENT VAN HET LID LEIJTEN C.S. TER VERVANGING VAN DAT GEDRUKT ONDER NR. 39
            <a class="nootnum supernote-click-ID-248205-d38e76"
              href="#ID-248205-d38e76">1</a>

          </h1>
          <p class="kamerstukdatum">Ontvangen
            <span class="datum">5&nbsp;september 2013</span>
          </p>
          <div class="amendement">
            <p>De ondergetekenden stellen het volgende amendement voor:</p>
            <div class="wijziging">
              <p class="wat">Artikel 48c wordt als volgt gewijzigd:</p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> Na het tweede lid wordt een lid ingevoegd, luidende:
              </p>
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2a.</span> De cliëntvertrouwenspersoon verricht zijn werkzaamheden onafhankelijk van de zorgaanbieder, de
                      zorgverantwoordelijke en het indicatieorgaan.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> Aan het derde lid, onder a, wordt «en» toegevoegd.
              </p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">3.</span> In het derde lid vervalt onderdeel b.
              </p>
            </div>
            <h2 class="divisiekop1">
              <a id="d16e95" name="d16e95"></a>Toelichting
            </h2>
            <p>Met dit amendement wordt de onafhankelijkheid van de cliëntenvertrouwenspersoon geborgd. Hierdoor is het mogelijk om
              op een laagdrempelige wijze problemen op de werkvloer op te lossen en juridische procedures voorkomen. De inzet van
              de patiëntenvertrouwenspersoon in de ggz blijkt in vele gevallen effectief om de vastgelopen communicatie tussen
              betrokkene en de hulpverleners weer vlot te trekken.
            </p>
            <p>De in te voegen bepaling is overeenkomstig de eis van onafhankelijkheid voor de vertrouwenspersoon in de voorgestelde
              nieuwe Wet verplichte ggz. De in te voegen bepaling is voorts overeenkomstig de bestaande situatie in de ggz en daarmee
              overeenkomstig het oogmerk van de staatssecretaris om aan cliënten en hun familie eenzelfde
              <!--?xpp ep?-->voorziening te bieden als in de voorgestelde Wet verplichte ggz. Hierdoor draagt het amendement ook bij tot de eenheid
              van wetgeving.
            </p>
            <p class="ondertekening">
              <span class="naam">
                <span class="achternaam">Leijten</span>
              </span>
              <span class="naam">
                <span class="achternaam">Bergkamp</span>
              </span>
              <span class="naam">
                <span class="achternaam">Kuzu</span>
              </span>
              <span class="naam">
                <span class="achternaam">Dik-Faber</span>
              </span>
              <span class="naam">
                <span class="achternaam">Voortman</span>
              </span>
              <span class="naam">
                <span class="achternaam">Bruins Slot</span>
              </span>
              <span class="naam">
                <span class="achternaam">Krol</span>
              </span>
            </p>
          </div>
        </div>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-248205-d38e76">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-248205-d38e76">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-248205-d38e76" name="ID-248205-d38e76"></a>1</span>
            </sup>
            <p>Vervanging in verband met een wijziging in de ondertekening.</p>
          </div>
        </div>

      </div>    </article>

  </div>
</div>

