<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

    <div id="broodtekst" class="stuk broodtekst-container">

      <h1 class="dossiertitel">
        <a id="d16e43" name="d16e43"></a>
        <span class="dossiernummer">
          33 988
        </span> Wijziging van enkele wetten van het Ministerie van Sociale Zaken en Werkgelegenheid en het Ministerie van Volksgezondheid,
        Welzijn en Sport (Verzamelwet SZW 2015)
      </h1>
      <div class="stuk">
        <h1 class="stuktitel">
          <a id="d16e48" name="d16e48"></a>
          <span class="stuknummer">Nr. 8
          </span> AMENDEMENT VAN HET LID OMTZIGT
        </h1>
        <p class="kamerstukdatum">Ontvangen
          <span class="datum">9&nbsp;september 2014</span>
        </p>
        <div class="amendement">
          <p>De ondergetekende stelt het volgende amendement voor:</p>
          <div class="amendement-lid">
            <p class="lid">
              <span class="lidnr">I</span>
            </p>
            <p class="wat">Na artikel IX wordt een artikel ingevoegd, luidende:</p>
            <div class="wijziging">
              <h2 class="wijzig-artikel_kop">
                <a id="d16e67" name="d16e67"></a>ARTIKEL IXa. PENSIOENWET
              </h2>
              <p class="wat">Artikel 66 wordt als volgt gewijzigd:</p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> Aan het zevende lid wordt een volzin toegevoegd, luidende:
              </p>
              <div class="artikeltekst">
                <p>Een afkoop als bedoeld in de eerste volzin vindt plaats na de datum waarop volgens de Algemene Ouderdomswet recht
                  op ouderdomspensioen ontstaat.
                </p>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> Het elfde lid komt te luiden:
              </p>
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">11.</span> Bij of krachtens algemene maatregel van bestuur kunnen nadere regels worden gesteld:
                    </p>
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">a. </span>aan het vaststellen van de afkoopwaarde, bedoeld in het zesde lid;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">b. </span>ten aanzien van de gevallen waarin afkoop kan plaatsvinden op of voorafgaand aan de datum,
                          bedoeld in het zevende lid, tweede volzin.
                        </p>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="amendement-lid">
            <p class="lid">
              <span class="lidnr">II</span>
            </p>
            <p class="wat">In artikel XXXI wordt na onderdeel E een onderdeel ingevoegd, luidende:</p>
            <div class="wijziging">
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">F</span>
                </p>
                <p class="wat">Artikel 78 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> Aan het zevende lid wordt een volzin toegevoegd, luidende:
                  </p>
                  <div class="artikeltekst">
                    <p>Een afkoop als bedoeld in de eerste volzin vindt plaats na de datum waarop volgens de Algemene Ouderdomswet
                      recht op ouderdomspensioen ontstaat.
                    </p>
                  </div>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> Het elfde lid komt te luiden:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">11.</span> Bij of krachtens algemene maatregel van bestuur kunnen nadere regels worden gesteld:
                        </p>
                        <ul class="expliciet whitespace-small">
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">a. </span>aan het vaststellen van de afkoopwaarde, bedoeld in het zesde lid;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">b. </span>ten aanzien van de gevallen waarin afkoop kan plaatsvinden op of voorafgaand aan de datum,
                              bedoeld in het zevende lid, tweede volzin.
                            </p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h2 class="divisiekop1">
            <a id="d16e149" name="d16e149"></a>Toelichting
          </h2>
          <p>De afgelopen twee jaar heeft een aantal pensioenfondsen massaal kleine pensioenaanspraken afgekocht en de afkoopsom
            overgemaakt voordat de deelnemer de AOW-leeftijd bereikt had.
          </p>
          <div class="alineagroep">
            <p>Dat heeft zeer nare gevolgen gehad: tot de AOW-leeftijd moet je AOW-premies betalen en dus betaalden mensen (gedeeltelijk)
              AOW-premies over hun pensioen, wat expliciet niet de bedoeling is.
            </p>
            <p>Ook besloten mensen tot afkoop van hun pensioen, terwijl niemand hen op de mogelijkheid wees om de afkoopsom niet
              te laten meetellen voor de huurtoeslag-toekenning. De pensioenuitvoerders – die graag van kleine aanspraken verlost
              waren – gaven geen voorlichting. De website van de AFM bevatte misleidende informatie (zie Kamervragen 1855, 2013/2014)
              en de belastingdienst/toeslagen communiceerde dit ook niet helder.
            </p>
            <p>Verder raakten mensen hun AOW-partnertoeslag kwijt en informeerde niemand hen daarover. Bij de rechter is nog onduidelijk
              of het korten daarop rechtmatig gebeurde, maar de deelnemers werden in ieder geval niet op de hoogte gesteld.
            </p>
            <p>Er zijn dus mensen, wier levenslang ouderdomspensioen is afgekocht, maar die hier nauwelijks iets van hebben overgehouden.
            </p>
          </div>
          <p>Ondanks een forse hoeveelheid media-aandacht is het probleem niet opgelost in overleg tussen de regering en de pensioensector.
            Dat is zeer betreurenswaardig en laat het falen van beide in dezen zien.
          </p>
          <p>Vandaar dat dit amendement voorziet in de verplichting om vrijwillige afkoop van het pensioen alleen na de AOW-ingangsdatum
            te laten plaatsvinden. De regering kan bij of krachtens een AMvB wel uitzonderingen hierop maken. Te denken valt
            dan bijvoorbeeld aan de situatie van emigratie.
          </p>
          <p>Technisch wordt dit als volgt geregeld:</p>
          <p>Het zevende lid van artikel 66 Pensioenwet vermeldt onder welke voorwaarden een afkoop van een kleine pensioenaanspraak
            buiten de periode van 2,5 jaar na beëindiging van de deelneming kan plaatsvinden. Met dit amendement wordt hieraan
            toegevoegd dat de afkoop pas plaatsvindt nadat het recht op ouderdomspensioen is ontstaan. In het elfde lid, onder
            b, van artikel 66 is de mogelijkheid opgenomen om bij of krachtens algemene maatregel van bestuur uitzonderingen
            te maken op voormelde regel dat een afkoop pas kan plaatsvinden na de datum van het ontstaan van het recht op ouderdomspensioen.
            Hierbij valt te denken aan de situatie dat een gewezen deelnemer emigreert, nog voordat deze de pensioengerechtigde
            leeftijd heeft bereikt.
          </p>
          <p>Artikel 66 van de Pensioenwet komt inhoudelijk overeen met artikel 78 van de Wet verplichte beroepspensioenregeling
            (WVB). Derhalve worden het zevende en elfde lid van artikel 78 WVB met dit amendement gewijzigd overeenkomstig de
            wijzigingen in artikel 66, zevende en elfde lid, van de Pensioenwet.
          </p>
          <p class="ondertekening">
            <span class="naam">
              <span class="achternaam">Omtzigt</span>
            </span>
          </p>
        </div>
      </div>

    </div>

    </article>

  </div>
</div>
