<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="dossiertitel">
          <a id="d28564e41" name="d28564e41"></a>
          <span class="dossiernummer">
            32 123 A
          </span> Vaststelling van de begrotingsstaat van het Infrastructuurfonds voor het jaar 2010
        </h1>
        <div class="stuk">
          <h1 class="stuktitel">
            <a id="d28564e46" name="d28564e46"></a>
            <span class="stuknummer">Nr. 136
            </span> BRIEF VAN DE MINISTER VAN VERKEER EN WATERSTAAT
          </h1>
          <div class="algemeen">
            <div class="alineagroep">
              <p>Aan de Voorzitter van de Tweede Kamer der Staten-Generaal</p>
            </div>
            <p>Den Haag, 6&nbsp;september 2010</p>
            <p>Hierbij treft u de rapportage Minder Hinder aan over het 2
              <sup>de</sup> kwartaal van 2010. Zoals ik reeds in mijn rapportage over het 2
              <sup>de</sup> kwartaal 2009 heb aangegeven (2009–2010,
              <a href="kst-32123-A-4.html" title="link naar publicatie kst-32123-A-4">32&nbsp;123 A, nr. 4</a>) volgt de rapportage Minder Hinder de rapportage Groot Onderhoud op welke u van mij ontvangen
              heeft in de periode 2006 t/m 1
              <sup>ste</sup> kwartaal 2009. De rapportage Groot Onderhoud heb ik u toegezegd naar aanleiding van de aangenomen motie
              Van Hijum
              <a class="nootnum supernote-click-ID-77979-d27e148" href="#ID-77979-d27e148">1</a> bij de behandeling van de begroting 2006. De betreffende motie draagt de regering op het aandeel files door
              wegwerkzaamheden te beperken tot 10%.
            </p>
            <div class="alineagroep">
              <p>Met de rapportage Minder Hinder houd ik u op de hoogte van de resultaten die Rijkswaterstaat boekt om de hinder als
                gevolg van werkzaamheden te beperken.
              </p>
              <p>In deze rapportage ga ik achtereenvolgens in op de volgende onderwerpen:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Ontwikkeling files ten gevolge van wegwerkzaamheden;
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Genomen maatregelen om de hinder te beperken;
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Beleving door weggebruikers;
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Planning werkzaamheden. (bijlage 1)
                  </p>
                </li>
              </ul>
            </div>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Ontwikkeling files ten gevolge van wegwerkzaamheden</strong>
            </p>
            <div class="alineagroep">
              <p>In het 2
                <sup>de</sup> kwartaal van 2010 is er 3,7 miljoen kilometerminuten aan filezwaarte geregistreerd. Dit is 1,3% meer dan
                in hetzelfde kwartaal in 2009. De filezwaarte door wegwerkzaamheden in het 2
                <sup>de</sup> kwartaal van 2010 bedroeg 239 duizend kilometerminuten. Dit is 6,5% van het totaal en is daarmee hoger
                dan in het 2
                <sup>de</sup> kwartaal van 2009 (5,6%).
              </p>
              <p>De zwaarste files door werkzaamheden stonden in het 2
                <sup>de</sup> kwartaal van 2010 op de A1 tussen de brug over het Amsterdam-Rijnkanaal en Diemen in beide richtingen.
                Daarnaast stonden er veel files door wegwerkzaamheden op de A2 van Utrecht naar ’s Hertogenbosch tussen Everdingen
                en Culemborg.
              </p>
            </div>
            <p>Bovengenoemde cijfers zijn gebaseerd op registratie door het Verkeerscentrum Nederland (VCNL) als mede op analyses
              en onderzoeken door de Dienst Verkeer en Scheepvaart (DVS) van Rijkswaterstaat. Inbegrepen zijn alle wegwerkzaamheden
              in het kader van MIT, ZSM en Variabel Onderhoud.
            </p>
            <img src="https://zoek.officielebekendmakingen.nl/kst-32123-A-136-001.png" width="393" height="284" alt="Figuur: Het aandeel filezwaarte door wegwerkzaamheden ten opzichte van de totale filezwaarte uitgesplitst per kwartaal. ">
            <p class="bijschrift">Figuur: Het aandeel filezwaarte door wegwerkzaamheden ten opzichte van de totale filezwaarte uitgesplitst per kwartaal.
              </p>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Genomen maatregelen om de hinder te beperken</strong>
            </p>
            <div class="alineagroep">
              <p>Om de hinder van wegwerkzaamheden te beperken neemt Rijkswaterstaat tal van maatregelen. </p>
              <p>In eerste instantie wordt er «slim» gebouwd en gepland. Bij de uitvoering van wegwerkzaamheden wordt zoveel mogelijk
                in de rustige uren gewerkt en worden de werkzaamheden zo gepland dat werkzaamheden in dezelfde periode op parallelle
                wegen vermeden wordt. De omleidingsroute moet vrij berijdbaar zijn.
              </p>
              <p>Blijft de kans op aanzienlijke hinder groot wanneer er aan de weg gewerkt wordt dan wordt gezocht naar alternatieve
                maatregelen voor de weggebruiker zoals het inzetten van openbaarvervoer of spitsmijden.
              </p>
            </div>
            <p>In het tweede kwartaal zijn onderstaande OV alternatieven ingezet bij wegwerkzaamheden. </p>
            <p>
              <em class="cur">Openbaar vervoer</em>.
            </p>
            <p>In het 2
              <sup>de</sup> kwartaal van 2010 is het vanAnaarBeter-kaartje ingezet bij onderstaande werkzaamheden.
            </p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>A2 bij Berkelaar (600 kaartjes)
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>A2 tussen Everdingen en Deil (2100 kaartjes)
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">• </span>A1 Muiderbrug (1950 kaartjes)
                </p>
              </li>
            </ul>
            <p>Op de A2 corridor en rondom Amsterdam kunnen automobilisten nog tot eind dit jaar gebruik maken van de A2 MinderHinder-pas
              en de bereikbaarheidspas. Beide passen bieden de mogelijkheid om tijdens de werkzaamheden over te stappen op het
              openbaar vervoer om de hinder van de wegwerkzaamheden te mijden.
            </p>
            <p>De tijdelijke intercity stop op station Best is opgeheven. De extra stop tussen Den Bosch en Eindhoven heeft 2 jaar
              gefunctioneerd en bood automobilisten op de A2 de mogelijkheid om over te stappen op de trein met een goede parkeergelegenheid.
              De maatregel wordt momenteel geëvalueerd.
            </p>
            <div class="alineagroep">
              <p>Naast «Slim bouwen en plannen» en het inzetten van alternatieven maatregelen wordt veel aandacht besteed aan het
                informeren van de weggebruiker over wegwerkzaamheden zodat deze goed geïnformeerd op weg gaat.
              </p>
              <p>Informatie over wegwerkzaamheden is te vinden op de vanAnaarbeter website die in het 2
                <sup>de</sup> kwartaal 264&nbsp;000 bezoekers kende. Dit is veel meer dan in hetzelfde kwartaal uit 2009 toen de website
                156&nbsp;000 bezoekers had.
              </p>
            </div>
            <div class="alineagroep">
              <p>Oorzaak van deze stijging is aandacht voor de wegwerkzaamheden in de landelijke media met onderstaande activiteiten</p>
              <ul
                class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Postbus 51 heeft een campagne gedraaid om de weggebruiker te informeren over de werkzaamheden in het
                    kader van de Spoedaanpak.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>In de landelijke en regionale dagbladen zijn advertenties geplaatst om de weggebruikers te wijzen
                    op de wegwerkzaamheden in de komende periode.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Rijkswaterstaat heeft op 30&nbsp;juni een persbericht uitgebracht met als motto «U op vakantie, Rijkswaterstaat
                    aan de slag» om de weggebruiker te informeren over de hinder in de zomermaanden.
                  </p>
                </li>
              </ul>
            </div>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Beleving door weggebruikers</strong>
            </p>
            <p>Door middel van belevingsonderzoeken wordt vanaf 2006 ieder kwartaal de mate van tevredenheid van automobilisten en
              vrachtwagenchauffeurs gemeten over de wijze waarop Rijkswaterstaat wegwerkzaamheden uitvoert. Ook in het 2
              <sup>de</sup> kwartaal van 2010 is er een belevingsonderzoek gedaan.
            </p>
            <p>De meerderheid van de weggebruikers (66%) is tevreden over de manier waarop de hinder door wegwerkzaamheden wordt beperkt.
              Deze tevredenheid is gelijk gebleven ten opzichte van het vorige kwartaal.
            </p>
            <div class="alineagroep">
              <p>Redenen voor ontevredenheid zijn:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Het aanpassen van de snelheid terwijl er niet gewerkt wordt (9%)
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Het te laat aangeven van werkzaamheden (7%).
                  </p>
                </li>
              </ul>
            </div>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Komende periode</strong>
            </p>
            <p>In het 3de kwartaal zullen vooral de werkzaamheden op de A12 (Woerden-Gouda) en de A9 (Badhoevedorp) hinder veroorzaken.
              Zoals ik mijn rapportage over het eerste kwartaal al aangaf zal ik de ontwikkeling van de verkeershinder nauwlettend
              in de gaten gehouden en veel in het werk stellen om de planning van de wegwerkzaamheden goed op elkaar af te stemmen.
            </p>
            <div class="ondertekening">
              <p class="functie">De minister van Verkeer en Waterstaat,</p>
              <p class="naam">C. M. P. S. Eurlings </p>
            </div>
            <div class="bijlage">
              <h2 class="bijlage_kop">
                <a id="d28564e259" name="d28564e259"></a>BIJLAGE 1
              </h2>
              <p class="tussenkop">
                <strong class="tussenkop_vet">Planning werkzaamheden 2
                  <sup>de</sup> kwartaal 2010</strong>
              </p>
              <p>Onderstaand de belangrijkste trajecten waarop grootschalige werkzaamheden zijn uitgevoerd in het 2
                <sup>de</sup> kwartaal van 2010:
              </p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A2 Everdingen–Deil, verbreding snelweg
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A50 Valburg–Eewijk, verbeteren stalen brugdek
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A28 Zwolle–Lankhorst, Aanleg spitsstrook
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A27 Utrecht–Everdingen, Reparatie brugdek. Is inmiddels afgerond
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A27 Everdingen–Utrecht, Aanleg spitsstrook
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A2 Randweg Eindhoven, verbreding snelweg is inmiddels afgerond
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A67 knooppunt–Leenderheide, reconstructie van het knooppunt is inmiddels afgerond
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A6 ter hoogte van St. Nicolaasga, Verbeteren stalen brugdek is afgerond
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A58 Vlaketunnel, groot onderhoud tunnel
                  </p>
                </li>
              </ul>
              <p>Trajecten waarop in het derde kwartaal van 2010 gewerkt gaat worden</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A50 Valburg–Eewijk, verbeteren stalen brugdek
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>N33 Gieten–Stadskanaal, vergroten veiligheid
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A12 Woerden–Gouda, Aanleg spitsstrook
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A1 Watergraafsmeer–Muiderberg, Aanleg spitsstrook en onderhoud stalen brug
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A9 Badhoevedorp–Raasdorp, Aanleg spitsstrook
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A28 Utrecht–Amersfoort, Aanleg spitsstrook
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A58 Vlaketunnel, groot onderhoud tunnel
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A65 Den Bosch–Breda, Groot asfalt onderhoud
                  </p>
                </li>
              </ul>
              <p>Trajecten waarop permanent wordt gewerkt met hinder:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A2 Amsterda –Utrecht tot maart 2012, verbreding snelweg
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A2 Knooppunt Everdingen–knooppunt Deil tot eind 2010, verbreding snelweg
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A4 Burgerveen–Leiden, afgerond in 2014, verbreding snelweg
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>A7 Ringweg Sneek tot juli 2010, ombouw tot dubbelbaans autoweg
                  </p>
                </li>
              </ul>
              <p>Voor een overzicht van de projecten die in 2010 in voorbereiding zijn, starten en/of eindigen, treft u in de bijlage
                de standlijn per 30-6-2010 aan.
                <a class="nootnum supernote-click-ID-77979-d27e473" href="#ID-77979-d27e473">2</a>
              </p>
            </div>
          </div>
        </div>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-77979-d27e148">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-77979-d27e148">X</a>Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-77979-d27e148" name="ID-77979-d27e148"></a>1</span>
            </sup>
            <p>Tweede Kamer, vergaderjaar 2005–2006, 30&nbsp;300 A, nr. 26.</p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-77979-d27e473">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-77979-d27e473">X</a>Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-77979-d27e473" name="ID-77979-d27e473"></a>2</span>
            </sup>
            <p> Ter inzage gelegd bij het Centraal Informatiepunt van de Tweede Kamer der Staten-Generaal.</p>
          </div>
        </div>
      </div>    </article>

  </div>
</div>
