<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a id="d16e49" name="d16e49"></a>Vaststelling selectielijst voor de neerslag van de handelingen van de minister van Buitenlandse Zaken en de onder
          hem ressorterende actoren op het beleidsterrein Buitenland over de periode 1945-1990
        </h1>
        <div class="regeling">
          <div class="aanhef">
            <a id="d16e54" name="d16e54"></a>
            <div class="context">
              <p class="context_al datum">18&nbsp;december 2013</p>
              <p class="context_al kenmerk">kenmerk: NA/2013/13.044</p>
            </div>
            <p class="wie">De minister van Onderwijs, Cultuur en Wetenschap,</p>
            <p class="considerans.al">Gelet op artikel 5, tweede lid, onder b, van de Archiefwet 1995;</p>
            <p class="afkondiging">Besluit:</p>
          </div>
          <div class="regeling-tekst">
            <a id="d16e69" name="d16e69"></a>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d16e73" name="d16e73"></a>Artikel 1
              </h3>
              <p>De bij dit besluit gevoegde ‘selectielijst voor de neerslag van de handelingen van de minister van Buitenlandse Zaken
                en de onder hem ressorterende actoren op het beleidsterrein Buitenland over de periode 1945–1990’ en de daarbij
                behorende toelichting worden vastgesteld.
              </p>
            </div>
            <h3 class="wijzig-artikel_kop">
              <a id="d16e78" name="d16e78"></a>Artikel 2
            </h3>
            <p class="wat">De ‘selectielijst voor de neerslag van de handelingen van de Minister van Buitenlandse Zaken op het beleidsterrein
              het beleidsterrein Buitenland over de periode 1945–1990’ (vastgesteld bij beschikking van de minister van Onderwijs,
              Cultuur en Wetenschap en de minister van Buitenlandse Zaken, nr. C/S/2002/2848 d.d. 9&nbsp;september 2002 (gepubliceerd
              in de
              <a href="stcrt-2002-220-p11-SC37030.html" title="link naar publicatie stcrt-2002-220-p11-SC37030">Staatscourant nr. 220 d.d. 14&nbsp;november 2002</a>) wordt ingetrokken.
            </p>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d16e87" name="d16e87"></a>Artikel 3
              </h3>
              <p>Dit besluit treedt in werking met ingang van de tweede dag na de dagtekening van de Staatscourant waarin het wordt
                geplaatst.
              </p>
            </div>
          </div>
          <div class="regeling-sluiting">
            <a id="d16e93" name="d16e93"></a>
            <div class="slotformulering">
              <p>De minister van Onderwijs, Cultuur en Wetenschap is belast met de uitvoering van dit besluit dat in de Staatscourant
                zal worden geplaatst.
              </p>
            </div>
            <div class="gegeven">
              <p class="dagtekening">Den Haag, 10&nbsp;december 2013</p>
            </div>
            <p class="ondertekening">
              <span class="functie">De minister van Onderwijs, Cultuur en Wetenschap,</span>
              <span class="deze">namens deze:</span>
              <span class="functie">De algemene rijksarchivaris</span>,
              <span class="naam">
                <span class="voornaam">M.J.</span>
                <span class="achternaam">Berendse.</span>
              </span>
            </p>
            <p class="ondertekening">
              <span class="functie">De minister van Buitenlandse Zaken,</span>
              <span class="deze">namens deze:</span>
              <span class="functie">De plaatsvervangend secretaris-generaal,</span>
              <span class="naam">
                <span class="voornaam">R. van</span>
                <span class="achternaam">Roeden.</span>
              </span>
            </p>
          </div>
          <div class="bezwaarschrift">
            <p>
              <em class="cur">Een belanghebbende kan tegen dit besluit beroep instellen bij de rechtbank binnen het rechtsgebied waar hij zijn
                woonplaats heeft.</em>
            </p>
          </div>
        </div>
        <div class="nawerk">
          <a id="d16e139" name="d16e139"></a>
          <p>
            <em class="cur">De selectielijst behorend bij deze beschikking zal beschikbaar gesteld worden via</em>
            <!--?xpp afbreek?-->
            <a href="http://www.nationaalarchief.nl" title="link naar http://www.nationaalarchief.nl" class="externe_link">
              <em class="cur">www.nationaalarchief.nl</em>
            </a>
          </p>
        </div>

      </div>    </article>

  </div>
</div>
