<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a name="id1-3-1">
            <!---->
          </a>
          <img alt="Logo Sliedrecht" src="https://zoek.officielebekendmakingen.nl/stcrt-2013-25931-1.png" style="width:4.0cm;height:1.9cm;">Verkeersmaatregelen evenement Kerkbuurt-west op 14 september</h1>
        <div class="regeling">
          <div class="aanhef">
            <a name="id1-3-2-1">
              <!---->
            </a>
            <div class="context">
              <p class="context_al"></p>
              <p class="context_al">
                <strong class="vet">
                  <em>Inleiding</em>
                </strong>
              </p>
              <p class="context_al">Gelet op het Mandaatregister Sliedrecht 2013 heeft het college van burgemeester en wethouders deze bevoegdheid gemandateerd
                aan de beleidsmedewerker Infra en Groen, het betreft een bevoegdheid als genoemd in artikel 18, eerste lid, onder
                d. van de Wegenverkeerswet 1994 (WVW 1994);</p>
              <p class="context_al"></p>
              <p class="context_al">Gelet op artikel 2 van de Wegenverkeerswet 1994;</p>
              <p class="context_al"></p>
            </div>
            <p class="tussenkop">
              <strong class="tussenkop_cur">
                <strong class="vet">Overwegingen ten aanzien van het besluit</strong>
              </strong>
            </p>
            <p class="considerans.al">dat op zaterdag 14 september 2013 een evenement op de Kerkbuurt-west tussen Stationsweg/Kerkstraat en de A.W. de Langraafstraat
              wordt gehouden; </p>
            <p class="considerans.al">dat er diverse marktkramen en dergelijke op de openbare weg worden opgesteld;</p>
            <p class="considerans.al">dat het voor de verkeersveiligheid noodzakelijk is dat gedurende deze activiteit de Kerkbuurt-west voor het verkeer
              is afgesloten en vrij is van geparkeerde voertuigen;</p>
            <p class="considerans.al">dat krachtens artikel 15 lid 1 van de Wegenverkeerswet 1994 er een verkeersbesluit dient te worden genomen voor de
              plaatsing van de in artikel 12 van het Besluit administratieve bepalingen inzake het wegverkeer opgenomen verkeerstekens,
              evenals voor onderborden voor zover daardoor een gebod of verbod ontstaat of wordt gewijzigd;</p>
            <p class="considerans.al">dat met het verkeersbesluit wordt beoogd om:</p>
            <p class="considerans.al">- de veiligheid op de weg te verzekeren;</p>
            <p class="considerans.al">- overlast van het verkeer bij de activiteiten te voorkomen;</p>
            <p class="considerans.al">dat het verkeersbesluit aan de werkgroep verkeer is voorgelegd en dat deze hiermee kan instemmen;</p>
            <p class="considerans.al">dat het betreffende weggedeelte in beheer en onderhoud is bij de gemeente Sliedrecht en binnen de bebouwde kom van
              deze gemeente ligt;</p>
            <p class="considerans.al">dat overleg met de politie als bedoeld in artikel 24 van het Besluit administratieve bepalingen heeft plaatsgevonden;</p>
            <p class="considerans.al">mede gelet op de bepalingen van het Reglement verkeersregels en verkeersteken 1990 (RVV 1990) en de overige bepalingen
              van het BABW en de WVW 1994. </p>
            <p class="considerans.al"></p>
            <p class="afkondiging">
              <strong class="vet">
                <em>BESLUIT</em>
              </strong>
            </p>
          </div>
          <div class="regeling-tekst">
            <a name="id1-3-2-2">
              <!---->
            </a>
            <p></p>
            <p>Tot het nemen van de volgende verkeersmaatregelen vanwege het evenement op zaterdag 14 september 2013 van 05:00 tot
              18:30 uur:</p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">1.</span>Een gesloten verklaring voor al het verkeer van de Kerkbuurt-west tussen de kruising Kerkstraat
                      en de Landgraafstraat, middels het plaatsen van bord C1 en drang- en/of schrikhekken.</p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">2.</span>Een stopverbod aan beide zijden van de Kerkbuurt-west middels het plaatsen van bord E2.</p>
                  </li>
                </ul>
              </li>
            </ul>
            <p>Een en ander conform het bijgevoegde bebordingsplan.</p>
            <p></p>
            <p>Sliedrecht, 13 september 2013 </p>
            <p></p>
            <p>Namens Burgemeester en Wethouders van Sliedrecht,</p>
            <p>De beleidsmedewerker Infra en Groen,</p>
            <p></p>
            <p></p>
            <p>H. Appeldooren</p>
          </div>
          <div class="regeling-sluiting">
            <a name="id1-3-2-3">
              <!---->
            </a>
            <div class="ondertekening"></div>
          </div>
          <p class="tussenkop">
            <strong class="tussenkop_vetcur">MEDEDELINGEN</strong>
          </p>
          <p class="tussenkop">
            <strong class="tussenkop_cur">Bezwaar- of beroepsclausule</strong>
          </p>
          <p>Op grond van de Algemene wet bestuursrecht kan door iedere belanghebbende tegen dit besluit binnen zes weken na dag van
            bekendmaking bezwaar worden gemaakt. Het bezwaarschrift moet gericht worden aan: college van burgemeester en wethouders,
            postbus 16, 3360 AA Sliedrecht. </p>
          <p>Het bezwaarschrift dient te zijn ondertekend en het volgende te bevatten:</p>
          <ul class="expliciet whitespace-small">
            <li class="li">
              <p class="labeled">
                <span class="ol">1.</span>1. naam en adres van de indiener;</p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">2.</span>2. de dagtekening;</p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">3.</span>3. een omschrijving van het besluit waartegen het bezwaar is gericht;</p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">4.</span>4. de gronden van het bezwaar.</p>
            </li>
          </ul>
          <p>
            <em>Het indienen van een bezwaarschrift houdt de werking van het besluit niet tegen. In spoedeisende gevallen kunt u de
              voorzieningenrechter van de Rechtbank Rotterdam, Postbus 50951, 3007 BM Rotterdam, verzoeken een voorlopige voorziening
              te treffen.</em>
          </p>
          <p>
            <em>Voor de behandeling van het een verzoek om voorlopige voorziening brengt de Rechtbank griffierecht in rekening. </em>
          </p>
          <p></p>
          <p>&nbsp;</p>
          <p></p>
        </div>

      </div>    </article>

  </div>
</div>
