<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>
      <div id="broodtekst" class="stuk broodtekst-container">

        <h1>
          <a id="d16e49" name="d16e49"></a>
        </h1>
        <p class="systematisch_nummer">21 (2013) Nr. 2</p>
        <h2 class="rubriek_kop">
          <a id="d16e53" name="d16e53"></a>A. TITEL
        </h2>
        <div class="tractatenblad_kop">
          <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van Sint Maarten, en de Republiek
            Kroatië betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden in de vorm van rentebetaling;
          </p>
          <p>(met aanhangsel en bijlage)</p>
          <p>’s-Gravenhage, 29&nbsp;juli 2013</p>
        </div>
        <h2 class="rubriek_kop">
          <a id="d16e63" name="d16e63"></a>B. TEKST
        </h2>
        <p>De Engelse tekst van de in brieven vervatte overeenkomst, met aanhangsel en bijlage, is geplaatst in
          <a href="trb-2013-120.html"
            title="link naar publicatie trb-2013-120">
            <em class="cur">Trb.</em>&nbsp;2013, 120</a>.
        </p>
        <h2 class="rubriek_kop">
          <a id="d16e73" name="d16e73"></a>C. VERTALING
        </h2>
        <div class="verdrag" xml:lang="nl">
          <div class="verdragtekst" xml:lang="nl">
            <h3 class="verdragtekst_kop">
              <a id="d16e78" name="d16e78"></a>
              <br>
              <span>Overeenkomst in de vorm van een briefwisseling betreffende belastingheffing op inkomsten uit spaargelden en de voorlopige
                toepassing ervan</span>
            </h3>
            <div class="brieftekst">
              <h4 class="brieftekst_kop">
                <a id="d16e84" name="d16e84"></a>A. Brief van de Republiek Kroatië
              </h4>
              <p class="briefaanhef">Mevrouw/Mijnheer,</p>
              <p>Ik heb de eer te verwijzen naar de teksten van respectievelijk de „Overeenkomst tussen het Koninkrijk der Nederlanden
                ten behoeve van de Nederlandse Antillen en (België, Oostenrijk en Luxemburg) betreffende automatische gegevensuitwisseling
                inzake inkomsten uit spaargelden in de vorm van rentebetaling”, de „Overeenkomst tussen het Koninkrijk der Nederlanden
                ten behoeve van de Nederlandse Antillen en (andere EU-lidstaat dan België, Oostenrijk en Luxemburg) betreffende
                automatische gegevensuitwisseling inzake inkomsten uit spaargelden in de vorm van rentebetaling”, de „Overeenkomst
                tussen het Koninkrijk der Nederlanden ten behoeve van Aruba en (andere EU-lidstaat dan België, Oostenrijk en Luxemburg)
                betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden in de vorm van rentebetaling” en
                de „Overeenkomst tussen het Koninkrijk der Nederlanden ten behoeve van Aruba en (België, Oostenrijk en Luxemburg)
                betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden in de vorm van rentebetaling”. Deze
                teksten, die het resultaat zijn van de onderhandelingen die met de Nederlandse Antillen en Aruba zijn gevoerd over
                een overeenkomst inzake belastingheffing op inkomsten uit spaargelden, zijn respectievelijk als bijlage I, II,
                III en IV toegevoegd aan het resultaat van de besprekingen van de Groep op hoog niveau van de Raad van Ministers
                van de Europese Unie van 12&nbsp;maart 2004 (doc. 7660/1/04 REV 1 FISC 68 + COR 1).
              </p>
              <p>In het licht van de bovengenoemde teksten heb ik de eer u de „Overeenkomst betreffende automatische gegevensuitwisseling
                inzake inkomsten uit spaargelden in de vorm van rentebetaling” in aanhangsel 1 bij deze brief voor te stellen,
                en in overweging te geven dat wij er ons wederzijds toe verbinden zo spoedig mogelijk de interne grondwettelijke
                formaliteiten voor de inwerkingtreding van deze Overeenkomst te vervullen en elkaar onverwijld van de voltooiing
                daarvan in kennis te stellen.
              </p>
              <p>In afwachting van de voltooiing van deze interne procedures en van de inwerkingtreding van deze „Overeenkomst betreffende
                automatische gegevensuitwisseling inzake inkomsten uit spaargelden in de vorm van rentebetaling”, heb ik de eer
                u voor te stellen dat de Republiek Kroatië en het Koninkrijk der Nederlanden ten behoeve van Sint Maarten deze
                Overeenkomst, binnen de grenzen van onze respectieve binnenlandse grondwettelijke voorschriften, voorlopig toepassen
                vanaf de datum van toetreding van de Republiek Kroatië tot de Europese Unie.
              </p>
              <p>Ik heb de eer voor te stellen dat, indien het bovenstaande voor uw regering aanvaardbaar is, deze brief en uw bevestiging
                tezamen een Overeenkomst vormen tussen de Republiek Kroatië en het Koninkrijk der Nederlanden ten behoeve van Sint
                Maarten.
              </p>
              <div class="slotformulering">
                <p>Gelieve, Mevrouw, Mijnheer, de verzekering van onze zeer bijzondere hoogachting wel te willen aanvaarden.
                </p>
              </div>
              <p class="ondertekening">
                <span class="voor">
                  <!--?xpp xix?-->Voor de Republiek Kroatië</span>
                <span class="naam">
                  <span class="voornaam">
                    <!--?xpp xix?-->S.</span>
                  <span class="achternaam">LINIĆ</span>
                </span>
                <span class="functie">
                  <!--?xpp xix?-->Minister van Financiën</span>
              </p>
            </div>
            <div class="wetsluiting">
              <div class="slotformulering">
                <p>GEDAAN te Zagreb op 3-6-2013, in de Engelse taal in drie exemplaren.</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="verdragtekst" xml:lang="nl">
            <h3 class="verdragtekst_kop">
              <a id="d16e128" name="d16e128"></a>
              <br>
              <span></span>
            </h3>
            <div class="brieftekst">
              <h4 class="brieftekst_kop">
                <a id="d16e133" name="d16e133"></a>B. Brief van het Koninkrijk der Nederlanden, ten behoeve van Sint Maarten
              </h4>
              <p class="briefaanhef">Mijnheer,</p>
              <p>Ik heb de eer de ontvangst te bevestigen van uw brief van 3&nbsp;juni 2013, die als volgt luidt:
              </p>
              <p class="redactie">
                <span class="redactie">(zoals in A)</span>
              </p>
              <p>Ik kan bevestigen dat de inhoud van uw brief voor Sint Maarten aanvaardbaar is.</p>
              <div class="slotformulering">
                <p>Gelieve, Mijnheer, de verzekering van mijn zeer bijzondere hoogachting wel te willen aanvaarden.
                </p>
              </div>
              <p class="ondertekening">
                <span class="voor">
                  <!--?xpp xix?-->Voor het Koninkrijk der Nederlanden, ten behoeve van Sint Maarten</span>
                <span class="naam">
                  <span class="voornaam">
                    <!--?xpp xix?-->M.S.</span>
                  <span class="achternaam">VOGES</span>
                </span>
              </p>
            </div>
            <div class="wetsluiting">
              <div class="slotformulering">
                <p>GEDAAN te ’s-Gravenhage op 29&nbsp;juli 2013, in de Engelse taal in drie exemplaren.</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="verdragtekst" xml:lang="nl">
            <h3 class="verdragtekst_kop">
              <a id="d16e170" name="d16e170"></a>Aanhangsel 1
              <br>
              <span>Overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van Sint Maarten, en de Republiek Kroatië betreffende
                automatische gegevensuitwisseling inzake inkomsten uit spaargelden in de vorm van rentebetaling</span>
            </h3>
            <div class="aanhef">
              <p class="preambule">Overwegende hetgeen volgt:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1. </span>Artikel 17, lid 2, van Richtlijn 2003/48/EG (hierna te noemen „de richtlijn”) van de Raad van de
                    Europese Unie (hierna te noemen „de Raad”) betreffende belastingheffing op inkomsten uit spaargelden in de
                    vorm van rentebetaling bepaalt dat de lidstaten de wet- en regelgeving en bestuursrechtelijke bepalingen aannemen
                    en bekendmaken die nodig zijn om te voldoen aan de richtlijn, waarvan de bepalingen vanaf 1&nbsp;januari 2005
                    worden toegepast mits:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">– </span>de Zwitserse Bondsstaat, het Vorstendom Liechtenstein, de Republiek San Marino, het Vorstendom
                        Monaco en het Vorstendom Andorra vanaf diezelfde datum maatregelen toepassen die gelijkwaardig zijn aan
                        de maatregelen waarin de richtlijn voorziet, zulks overeenkomstig de overeenkomsten die zij met de Europese
                        Gemeenschap hebben gesloten na met eenparigheid van stemmen genomen besluiten van de Raad;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">– </span>alle overeenkomsten of andere regelingen van kracht zijn waarin wordt bepaald dat alle betrokken
                        afhankelijke of geassocieerde gebieden vanaf die datum automatische gegevensuitwisseling toepassen zoals
                        voorgeschreven in hoofdstuk II van de richtlijn of tijdens de in artikel 10 bepaalde overgangsperiode een
                        bronbelasting toepassen die strookt met de in artikelen 11 en 12 vervatte voorwaarden;
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2. </span>De Raad heeft op 19&nbsp;juli 2004 (Besluit van de Raad 2004/587/EG) de toepassingsdatum van de richtlijn
                    gewijzigd van 1&nbsp;januari 2005 in 1&nbsp;juli 2005.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3. </span>De Raad heeft op 24&nbsp;juni 2005:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">– </span>kennis genomen van de bevestiging die hij heeft ontvangen van de 25 lidstaten van de EU, 5 Europese
                        derde landen (Andorra, Liechtenstein, Monaco, San Marino, Zwitserland), 3 direct van de Britse Kroon afhankelijke
                        gebieden (Guernsey, eiland Man, Jersey) en 7 afhankelijke of geassocieerde gebieden in het Caribisch gebied
                        (de Nederlandse Antillen, Aruba, Anguilla, de Britse Maagdeneilanden, de Caymaneilanden, Montserrat en
                        de Turks- en Caicoseilanden) dat zij de overeengekomen belastingmaatregelen ter zake van spaargelden met
                        ingang van 1&nbsp;juli 2005 zullen toepassen („licht op groen”);
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">– </span>de nota „Licht op groen” (doc. 10038/05 FISC 69) aangenomen, waardoor de toepassing, door alle
                        40 betrokken verdragspartners, van de overeengekomen belastingmaatregelen ter zake van spaargelden met
                        ingang van 1&nbsp;juli 2005 een feit werd;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">– </span>het Raadssecretariaat gemachtigd de nota „Licht op groen” en de informatie betreffende de bilaterale
                        overeenkomsten inzake de belasting op spaargelden en de richtlijn belasting op spaargelden ter kennis te
                        brengen van de betrokken derde landen en gebieden en van het publiek.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4. </span>Sint Maarten ligt niet in het belastinggebied van de Europese Unie maar is voor de toepassing van
                    de richtlijn een met de Europese Unie geassocieerd gebied en als zodanig niet aan het bepaalde in de richtlijn
                    gebonden. Het Koninkrijk der Nederlanden is evenwel bereid ten behoeve van Sint Maarten, op basis van een regeling
                    tussen Sint Maarten en Nederland, met de lidstaten van de Europese Unie overeenkomsten te sluiten, houdende
                    dat tijdens de in artikel 10 van de richtlijn vastgestelde overgangsperiode een bronbelasting wordt toegepast
                    die strookt met de in artikelen 11 en 12 van de richtlijn vervatte voorwaarden en dat na het verstrijken van
                    de overgangsperiode automatische gegevensuitwisseling wordt toegepast zoals voorgeschreven in hoofdstuk II
                    van de richtlijn.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">5. </span>De in het vorige punt bedoelde regeling tussen Sint Maarten en Nederland geldt op voorwaarde dat
                    de lidstaten de wet- en regelgeving en bestuursrechtelijke bepalingen hebben vastgesteld die nodig zijn om
                    te voldoen aan de richtlijn en dat aan de voorschriften van artikel 17 van de richtlijn is voldaan.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">6. </span>Door middel van deze Overeenkomst stemt Sint Maarten ermee in de bepalingen van de richtlijn met
                    betrekking tot uiteindelijk gerechtigden met woonplaats in de Republiek Kroatië toe te passen, onverminderd
                    hetgeen overigens hierin is bepaald, en de Republiek Kroatië stemt ermee in de richtlijn toe te passen met
                    betrekking tot uiteindelijk gerechtigden met woonplaats in Sint Maarten.
                  </p>
                </li>
              </ul>
              <p class="afkondiging">De Regering van het Koninkrijk der Nederlanden, ten behoeve van Sint Maarten, en de Regering van de Republiek Kroatië,
                geleid door de wens een overeenkomst te sluiten die het mogelijk maakt dat inkomsten uit spaargelden in de vorm
                van rentebetaling die in een van de overeenkomstsluitende staten worden verricht aan uiteindelijk gerechtigden
                die een natuurlijke persoon zijn en hun woonplaats in de andere overeenkomstsluitende staat hebben, effectief worden
                belast overeenkomstig het recht van laatstgenoemde overeenkomstsluitende staat, in overeenstemming met de richtlijn
                en met de hierboven door de overeenkomstsluitende staten geuite voornemens, zijn het volgende overeengekomen:
              </p>
            </div>
            <div class="wettekst">
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e241" name="d16e241"></a>Artikel 1 Algemene werkingssfeer
                </h4>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Deze Overeenkomst is van toepassing op rentebetalingen die door een op het grondgebied van een
                      van de overeenkomstsluitende staten gevestigde uitbetalende instantie worden verricht teneinde het mogelijk
                      te maken dat inkomsten uit spaargelden in de vorm van rentebetaling die in een overeenkomstsluitende staat
                      worden verricht aan uiteindelijk gerechtigden die een natuurlijke persoon zijn en hun fiscale woonplaats
                      in de andere overeenkomstsluitende staat hebben, effectief worden belast overeenkomstig de wetgeving van
                      de laatstgenoemde overeenkomstsluitende staat.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> De werkingssfeer van deze Overeenkomst is beperkt tot belastingheffing op inkomsten uit spaargelden
                      in de vorm van rentebetalingen uit hoofde van schuldvorderingen; vraagstukken in verband met de belastingheffing
                      op onder meer pensioenen en verzekeringsuitkeringen vallen buiten de werkingssfeer van deze Overeenkomst.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> Wat het Koninkrijk der Nederlanden betreft, is dit Verdrag uitsluitend van toepassing op Sint Maarten.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e261" name="d16e261"></a>Artikel 2 Begripsomschrijvingen
                </h4>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Voor de toepassing van deze Overeenkomst wordt, tenzij de context anders vereist:
                    </p>
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">a. </span>verstaan onder de uitdrukkingen „een overeenkomstsluitende staat” en „de andere overeenkomstsluitende
                          staat”: het Koninkrijk der Nederlanden, ten behoeve van Sint Maarten, of de Republiek Kroatië, al naargelang
                          de context vereist;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">b. </span>verstaan onder de uitdrukking „Sint Maarten” het deel van het Koninkrijk der Nederlanden dat
                          is gelegen in het Caribisch gebied en bestaat uit het grondgebied van Sint Maarten, met inbegrip van
                          zijn territoriale zee en elk gebied buiten en grenzend aan zijn territoriale zee waarin het Koninkrijk
                          der Nederlanden, in overeenstemming met het internationale recht, rechtsmacht of soevereine rechten uitoefent,
                          evenwel met uitzondering van het deel dat betrekking heeft op Saba;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">c. </span>verstaan onder de „overeenkomstsluitende staat” zijnde lidstaat van de Europese Unie: de Republiek
                          Kroatië;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">d. </span>verstaan onder de uitdrukking „richtlijn”: Richtlijn 2003/48/EG van de Raad van de Europese
                          Unie van 3&nbsp;juni 2003 betreffende belastingheffing op inkomsten uit spaargelden in de vorm van rentebetaling,
                          zoals van toepassing op de datum van ondertekening van deze Overeenkomst;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">e. </span>verstaan onder de uitdrukking „uiteindelijk gerechtigde(n)”: uiteindelijk gerechtigde(n) in
                          de zin van artikel 2 van de richtlijn;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">f. </span>verstaan onder de uitdrukking „uitbetalende instantie”: de uitbetalende instantie(s) in de
                          zin van artikel 4 van de richtlijn;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">g. </span>verstaan onder de uitdrukking „bevoegde autoriteit”:
                        </p>
                        <ul class="expliciet whitespace-small">
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">i. </span>in het geval van Sint Maarten: de minister van Financiën of zijn bevoegde vertegenwoordiger;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">ii. </span>in het geval van de Republiek Kroatië: de bevoegde autoriteit van die staat in de zin
                              van artikel 5 van de richtlijn;
                            </p>
                          </li>
                        </ul>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">h. </span>verstaan onder de uitdrukking „rentebetaling(en)”: rentebetaling(en) in de zin van artikel
                          6 van de richtlijn, met inachtneming van artikel 15 van de richtlijn;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">i. </span>aan niet anderszins omschreven termen de betekenis gehecht die daaraan in de richtlijn wordt
                          gegeven.
                        </p>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Voor de toepassing van deze Overeenkomst wordt in de bepalingen van de richtlijn waarnaar in deze
                      Overeenkomst wordt verwezen in plaats van “lidstaten” gelezen: overeenkomstsluitende staten.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e333" name="d16e333"></a>Artikel 3 Identiteit en woonplaats van de uiteindelijk gerechtigden
                </h4>
                <p>Voor de toepassing van de artikelen 4 tot en met 6 neemt elke overeenkomstsluitende staat de procedures aan die
                  nodig zijn om de uitbetalende instantie in staat te stellen de identiteit en woonplaats van de uiteindelijk gerechtigden
                  vast te stellen en draagt zorg voor de toepassing van deze procedures binnen zijn grondgebied. Deze procedures
                  voldoen aan de minimumnormen van artikel 3, leden 2 en 3, van de richtlijn, met dien verstande dat, wat betreft
                  het bepaalde in lid 2, onder a), en in lid 3, onder a), de identiteit en de woonplaats van de uiteindelijk gerechtigde
                  worden vastgesteld op grond van de informatie waarover de uitbetalende instantie beschikt krachtens de toepassing
                  van de desbetreffende wet- en regelgeving van de overeenkomstsluitende staat waar de uitbetalende instantie is
                  gevestigd. De bestaande vrijstellingen of ontheffingen die in voorkomend geval op verzoek aan uiteindelijk gerechtigden
                  met woonplaats in de Republiek Kroatië zijn verleend, zijn evenwel niet langer van toepassing en aan die uiteindelijk
                  gerechtigden worden geen verdere vrijstellingen of ontheffingen van dien aard verleend.
                </p>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e339" name="d16e339"></a>Artikel 4 Automatische gegevensuitwisseling
                </h4>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> De bevoegde autoriteit van de overeenkomstsluitende staat waar de uitbetalende instantie is gevestigd
                      verstrekt de in artikel 8 van de richtlijn bedoelde gegevens aan de bevoegde autoriteit van de andere overeenkomstsluitende
                      staat waar de uiteindelijk gerechtigde zijn woonplaats heeft.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> De gegevensverstrekking gebeurt automatisch en ten minste eenmaal per jaar, binnen zes maanden
                      na afloop van het belastingjaar van de overeenkomstsluitende staat van de uitbetalende instantie, voor alle
                      gedurende dat jaar verrichte rentebetalingen.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> De overeenkomstsluitende staten behandelen de gegevensuitwisseling uit hoofde van deze Overeenkomst
                      op een wijze die strookt met het bepaalde in artikel 16 van Richtlijn 2011/16/EU.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e359" name="d16e359"></a>Artikel 5 Overgangsbepalingen
                </h4>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Indien de uiteindelijk gerechtigde tot de rente zijn woonplaats in de Republiek Kroatië en de uitbetalende
                      instantie zijn woonplaats in Sint Maarten heeft, heft Sint Maarten gedurende de in artikel 10 van de richtlijn
                      bedoelde overgangsperiode bronbelasting op rentebetalingen tegen een tarief van 35%. Gedurende deze periode
                      is Sint Maarten niet gehouden de bepalingen van artikel 4 toe te passen. Sint Maarten ontvangt echter gegevens
                      van de Republiek Kroatië overeenkomstig dat artikel.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> De uitbetalende instantie houdt de bronbelasting in op de wijze als omschreven in artikel 11, leden
                      2 en 3, van de richtlijn.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> Het opleggen van bronbelasting door Sint Maarten belet de Republiek Kroatië niet de inkomsten te
                      belasten overeenkomstig haar nationale recht.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">4.</span> Gedurende de overgangsperiode kan Sint Maarten bepalen dat een marktdeelnemer die rente uitbetaalt
                      aan of een rentebetaling bewerkstelligt voor een in de Republiek Kroatië gevestigde entiteit als bedoeld
                      in artikel 4, lid 2, van de richtlijn, wordt aangemerkt als de uitbetalende instantie in plaats van de entiteit,
                      en heft hij de bronbelasting op die rente, tenzij de entiteit formeel heeft aanvaard dat haar naam en adres
                      alsmede het totale bedrag van de rentebetaling die aan haar is verricht of voor haar is bewerkstelligd, worden
                      meegedeeld overeenkomstig de laatste alinea van artikel 4, lid 2.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">5.</span> Aan het einde van de overgangsperiode is Sint Maarten gehouden de bepalingen van artikel 4 toe
                      te passen en past Sint Maarten niet langer bronbelasting en verdeling van belastingopbrengsten als bedoeld
                      in de artikelen 5 en 6 toe. Indien Sint Maarten er tijdens de overgangsperiode voor kiest de bepalingen van
                      artikel 4 toe te passen, past Sint Maarten niet langer bronbelasting en verdeling van belastingopbrengsten
                      als bedoeld in de artikelen 5 en 6 toe.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e389" name="d16e389"></a>Artikel 6 Verdeling van belastingopbrengsten
                </h4>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Sint Maarten behoudt 25% van de opbrengsten van de bronbelasting als bedoeld artikel 5, lid 1,
                      en draagt 75% van de opbrengsten over aan de Republiek Kroatië.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Indien Sint Maarten overeenkomstig artikel 5, lid 4, bronbelasting heft, behoudt Sint Maarten 25%
                      van de opbrengsten van de bronbelasting geheven op rentebetalingen aan in de Republiek Kroatië gevestigde
                      entiteiten als bedoeld in artikel 4, lid 2, van de richtlijn en draagt 75% over aan de Republiek Kroatië.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> Deze overdrachten vinden uiterlijk plaats in de zes maanden die volgen op het eind van het belastingjaar
                      van Sint Maarten.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">4.</span> Sint Maarten treft de maatregelen die nodig zijn om het systeem voor de verdeling van de belastingopbrengsten
                      correct te doen functioneren.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e414" name="d16e414"></a>Artikel 7 Uitzonderingen op de procedure van bronbelasting
                </h4>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Sint Maarten voorziet in één van beide of beide procedures van artikel 13, lid 1, van de richtlijn
                      om te verzekeren dat uiteindelijk gerechtigden een verzoek kunnen indienen tot het niet-inhouden van bronbelasting.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Op verzoek van de uiteindelijk gerechtigde geeft de bevoegde autoriteit van de overeenkomstsluitende
                      staat waar deze zijn fiscale woonplaats heeft een verklaring af overeenkomstig artikel 13, lid 2, van de
                      richtlijn.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e429" name="d16e429"></a>Artikel 8 Vermijden van dubbele belasting
                </h4>
                <p>De Republiek Kroatië zorgt ervoor dat dubbele belasting wordt vermeden die zou kunnen voortvloeien uit het heffen
                  van bronbelasting als bedoeld in artikel 5, overeenkomstig het bepaalde in artikel 14, leden 2 en 3, van de richtlijn,
                  of zorgt voor restitutie van de bronbelasting.
                </p>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e435" name="d16e435"></a>Artikel 9 Andere bronbelastingen
                </h4>
                <p>De Overeenkomst belet de overeenkomstsluitende staten niet, naast de bronbelasting als bedoeld in artikel 5, overeenkomstig
                  hun nationale wetten en verdragen tot voorkoming van dubbele belasting, ook andere bronbelastingen te heffen.
                </p>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e441" name="d16e441"></a>Artikel 10 Omzetting
                </h4>
                <p>De overeenkomstsluitende staten dienen voor de datum van toetreding van de Republiek Kroatië tot de Europese Unie
                  de wet- en regelgeving en bestuursrechtelijke bepalingen aan te nemen en bekend te maken die nodig zijn om aan
                  deze Overeenkomst te voldoen.
                </p>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e447" name="d16e447"></a>Artikel 11 Bijlage
                </h4>
                <p>De tekst van artikel 16 van Richtlijn 2011/16/EU van de Raad van 15&nbsp;februari 2011 betreffende de administratieve
                  samenwerking op het gebied van de belastingen en tot intrekking van Richtlijn 77/799/EEG, waarnaar deze Overeenkomst
                  verwijst, is opgenomen als Bijlage bij en vormt een integrerend onderdeel van dit Verdrag.
                </p>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e454" name="d16e454"></a>Artikel 12 Inwerkingtreding
                </h4>
                <p>Deze Overeenkomst treedt in werking op de laatste dag van de eerste maand die volgt op de laatste van de data waarop
                  de respectieve regeringen elkaar er schriftelijk van in kennis hebben gesteld dat de in hun respectieve staten
                  voorgeschreven grondwettelijke formaliteiten zijn vervuld en de bepalingen ervan vinden toepassing vanaf de datum
                  van toetreding van de Republiek Kroatië tot de Europese Unie.
                </p>
              </div>
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d16e460" name="d16e460"></a>Artikel 13 Beëindiging
                </h4>
                <p>Deze Overeenkomst blijft van kracht totdat zij door een van beide overeenkomstsluitende staten wordt beëindigd.
                  Elke overeenkomstsluitende staat kan de Overeenkomst langs diplomatieke weg beëindigen door ten minste zes maanden
                  voor het einde van enig kalenderjaar na het verstrijken van een tijdvak van drie jaar na de datum van inwerkingtreding
                  van de Overeenkomst kennis te geven van beëindiging. In dat geval houdt de Overeenkomst op van toepassing te
                  zijn voor tijdvakken die aanvangen na het einde van het kalenderjaar waarin de kennisgeving van beëindiging is
                  gedaan.
                </p>
              </div>
            </div>
            <div class="wetsluiting">
              <div class="slotformulering">
                <p>GEDAAN in de Engelse taal.</p>
              </div>
              <p class="ondertekening">
                <span class="voor">Voor de Republiek Kroatië </span>
                <span class="naam">
                  <span class="voornaam">S.</span>
                  <span class="achternaam">LINIĆ</span>
                </span>
              </p>
              <p class="ondertekening">
                <span class="voor">Voor het Koninkrijk der Nederlanden, ten behoeve van Sint Maarten</span>
                <span class="naam">
                  <span class="voornaam">M.S.</span>
                  <span class="achternaam">VOGES</span>
                </span>
              </p>
            </div>
          </div>
          <hr>
          <div class="verdragtekst" xml:lang="nl">
            <h3 class="verdragtekst_kop">
              <a id="d16e491" name="d16e491"></a>Annex
              <br>
              <span>Artikel 16 van Richtlijn 2011/16/EG van de Raad</span>
            </h3>
            <h4 class="divisiekop1">
              <a id="d16e497" name="d16e497"></a>„Openbaarmaking van inlichtingen en bescheiden
            </h4>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">
                    <!--?xpp lead;1?-->1. </span>De inlichtingen die de lidstaten elkaar krachtens deze richtlijn in enigerlei vorm verstrekken, vallen
                  onder de geheimhoudingsplicht en genieten de bescherming waarin het nationale recht van de ontvangende lidstaat
                  met betrekking tot soortgelijke inlichtingen voorziet. Deze inlichtingen kunnen worden gebruikt voor de administratie
                  en de handhaving van de nationale wetgeving van de lidstaten met betrekking tot de in artikel 2 bedoelde belastingen.
                </p>
                <p>De inlichtingen kunnen tevens worden gebruikt voor de vaststelling en invordering van andere belastingen en rechten
                  vallend onder artikel 2 van Richtlijn 2010/24/EU van de Raad van 16&nbsp;maart 2010 betreffende de wederzĳdse
                  bĳstand inzake de invordering van schuldvorderingen die voortvloeien uit bepaalde belastingen, rechten en andere
                  maatregelen
                  <a class="nootnum supernote-click-N1" href="#N1">1)</a>, en voor de vaststelling en invordering van verplichte socialezekerheidsbijdragen.
                </p>
                <p>De inlichtingen kunnen voorts worden gebruikt in mogelijk tot bestraffing leidende gerechtelijke en administratieve
                  procedures wegens overtreding van de belastingwetgeving, onverminderd de algemene regels en de bepalingen betreffende
                  de rechten van de verdachten en getuigen in dergelijke procedures.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">2. </span>Met toestemming van de bevoegde autoriteit van de lidstaat die overeenkomstig deze richtlijn inlichtingen
                  verstrekt, en voor zover het in de lidstaat van de ontvangende bevoegde autoriteit wettelijk is toegestaan, kunnen
                  de overeenkomstig deze richtlijn ontvangen inlichtingen en bescheiden voor andere dan de in lid 1 bedoelde doeleinden
                  worden gebruikt. De toestemming wordt verleend indien de inlichtingen, in de lidstaat van de bevoegde autoriteit
                  die de inlichtingen verstrekt, voor soortgelijke doeleinden kunnen worden gebruikt.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">3. </span>De bevoegde autoriteit die van oordeel is dat de van de bevoegde autoriteit van een andere lidstaat
                  verkregen inlichtingen de bevoegde autoriteit van een derde lidstaat van nut kunnen zijn voor de in lid 1 beoogde
                  doelen, mag de inlichtingen aan deze autoriteit doorgeven, op voorwaarde dat dat in overeenstemming is met de
                  in deze richtlijn vastgelegde voorschriften en procedures. Zij stelt de bevoegde autoriteit van de inlichtingen
                  verstrekkende lidstaat in kennis van haar voornemen om die inlichtingen met een derde lidstaat te delen. De inlichtingen
                  verstrekkende lidstaat kan zich hiertegen verzetten binnen tien werkdagen na de datum van ontvangst van de kennisgeving
                  van de lidstaat die de inlichtingen wenst te delen.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">4. </span>Toestemming voor het gebruik overeenkomstig lid 2 van de overeenkomstig lid 3 doorgegeven inlichtingen
                  kan slechts worden verleend door de bevoegde autoriteit van de lidstaat waarvan de inlichtingen afkomstig zijn.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">5. </span>Inlichtingen, verslagen, verklaringen en andere bescheiden, alsook voor eensluidend gewaarmerkte afschriften
                  of uittreksels daarvan, die door de aangezochte autoriteit zijn verkregen en overeenkomstig deze richtlijn aan
                  de verzoekende autoriteit zijn doorgegeven, kunnen door de bevoegde instanties van de verzoekende lidstaat op
                  dezelfde voet als bewijs worden aangevoerd als soortgelijke inlichtingen, verslagen, verklaringen en andere bescheiden
                  die door een andere autoriteit van die lidstaat zijn verstrekt.”
                </p>
              </li>
            </ul>
          </div>
          <hr>
        </div>
        <h2 class="rubriek_kop">
          <a id="d16e535" name="d16e535"></a>D. PARLEMENT
        </h2>
        <p>Zie
          <a href="trb-2013-120.html" title="link naar publicatie trb-2013-120">
            <em class="cur">Trb.</em>&nbsp;2013, 120</a>.
        </p>
        <h2 class="rubriek_kop">
          <a id="d16e545" name="d16e545"></a>F. VOORLOPIGE TOEPASSING
        </h2>
        <p>Zie
          <a href="trb-2013-120.html" title="link naar publicatie trb-2013-120">
            <em class="cur">Trb.</em>&nbsp;2013, 120</a>.
        </p>
        <h2 class="rubriek_kop">
          <a id="d16e555" name="d16e555"></a>G. INWERKINGTREDING
        </h2>
        <p>Zie
          <a href="trb-2013-120.html" title="link naar publicatie trb-2013-120">
            <em class="cur">Trb.</em>&nbsp;2013, 120</a>.
        </p>
        <h2 class="rubriek_kop">
          <a id="d16e565" name="d16e565"></a>J. VERWIJZINGEN
        </h2>
        <p>Zie
          <a href="trb-2013-120.html" title="link naar publicatie trb-2013-120">
            <em class="cur">Trb.</em>&nbsp;2013, 120</a>.
        </p>
        <table class="verwijz portrait" cellspacing="0">
          <colgroup>
            <col title="col1" class="pct20">
            <col title="col2" class="pct3">
            <col title="col3" class="pct77">
          </colgroup>
          <tbody class="left top tbody">
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en het Koninkrijk België betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-173.html" title="link naar publicatie trb-2013-173">
                    <em class="cur">Trb.</em>&nbsp;2013, 173</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Republiek Cyprus betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-159.html" title="link naar publicatie trb-2013-159">
                    <em class="cur">Trb.</em>&nbsp;2013, 159</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en Denemarken betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden in de
                  vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-180.html" title="link naar publicatie trb-2013-180">
                    <em class="cur">Trb.</em>&nbsp;2013, 180</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Republiek Estland betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-174.html" title="link naar publicatie trb-2013-174">
                    <em class="cur">Trb.</em>&nbsp;2013, 174</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Republiek Finland betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-178.html" title="link naar publicatie trb-2013-178">
                    <em class="cur">Trb.</em>&nbsp;2013, 178</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Regering van de Franse Republiek betreffende automatische gegevensuitwisseling inzake inkomsten
                  uit spaargelden in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-153.html" title="link naar publicatie trb-2013-153">
                    <em class="cur">Trb.</em>&nbsp;2013, 153</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Helleense Republiek betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-177.html" title="link naar publicatie trb-2013-177">
                    <em class="cur">Trb.</em>&nbsp;2013, 177</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Republiek Hongarije betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-175.html" title="link naar publicatie trb-2013-175">
                    <em class="cur">Trb.</em>&nbsp;2013, 175</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en Ierland betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden in de vorm
                  van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-184.html" title="link naar publicatie trb-2013-184">
                    <em class="cur">Trb.</em>&nbsp;2013, 184</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Republiek Letland betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-183.html" title="link naar publicatie trb-2013-183">
                    <em class="cur">Trb.</em>&nbsp;2013, 183</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Republiek Litouwen betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-154.html" title="link naar publicatie trb-2013-154">
                    <em class="cur">Trb.</em>&nbsp;2013, 154</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en het Groothertogdom Luxemburg betreffende automatische gegevensuitwisseling inzake inkomsten uit
                  spaargelden in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-176.html" title="link naar publicatie trb-2013-176">
                    <em class="cur">Trb.</em>&nbsp;2013, 176</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en Malta betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden in de vorm
                  van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-158.html" title="link naar publicatie trb-2013-158">
                    <em class="cur">Trb.</em>&nbsp;2013, 158</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Republiek Oostenrijk betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-152.html" title="link naar publicatie trb-2013-152">
                    <em class="cur">Trb.</em>&nbsp;2013, 152</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Republiek Polen betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-157.html" title="link naar publicatie trb-2013-157">
                    <em class="cur">Trb.</em>&nbsp;2013, 157</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Portugese Republiek betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-181.html" title="link naar publicatie trb-2013-181">
                    <em class="cur">Trb.</em>&nbsp;2013, 181</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Slowaakse Republiek betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-155.html" title="link naar publicatie trb-2013-155">
                    <em class="cur">Trb.</em>&nbsp;2013, 155</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Tsjechische Republiek betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-160.html" title="link naar publicatie trb-2013-160">
                    <em class="cur">Trb.</em>&nbsp;2013, 160</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en het Koninkrijk Zweden betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 27&nbsp;augustus 2004</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-156.html" title="link naar publicatie trb-2013-156">
                    <em class="cur">Trb.</em>&nbsp;2013, 156</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en het Koninkrijk Spanje betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 12&nbsp;april 2005</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-179.html" title="link naar publicatie trb-2013-179">
                    <em class="cur">Trb.</em>&nbsp;2013, 179</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en het Verenigd Koninkrijk van Groot-Brittannië en Noord-Ierland betreffende automatische gegevensuitwisseling
                  inzake inkomsten uit spaargelden in de vorm van rentebetaling;
                </p>

                <p>’s-Gravenhage, 12&nbsp;april 2005</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-182.html" title="link naar publicatie trb-2013-182">
                    <em class="cur">Trb.</em>&nbsp;2013, 182</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en de Republiek Bulgarije betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden
                  in de vorm van rentebetaling;
                </p>

                <p>Willemstad, 20&nbsp;oktober 2006</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-161.html" title="link naar publicatie trb-2013-161">
                    <em class="cur">Trb.</em>&nbsp;2013, 161</a>
                </p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Briefwisseling houdende een overeenkomst tussen het Koninkrijk der Nederlanden, ten behoeve van de Nederlandse
                  Antillen, en Roemenië betreffende automatische gegevensuitwisseling inzake inkomsten uit spaargelden in de vorm
                  van rentebetaling;
                </p>

                <p>Willemstad, 20&nbsp;oktober 2006</p>

              </td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-162.html" title="link naar publicatie trb-2013-162">
                    <em class="cur">Trb.</em>&nbsp;2013, 162</a>
                </p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">&nbsp;</td>
              <td class="left top">&nbsp;</td>
              <td class="justify top">&nbsp;</td>
            </tr>
            <tr class="left middle even">
              <td class="left top">

                <p>Titel</p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>Verdrag tussen het Koninkrijk België, de Republiek Bulgarije, de Tsjechische Republiek, het Koninkrijk Denemarken,
                  de Bondsrepubliek Duitsland, de Republiek Estland, de Helleense Republiek, het Koninkrijk Spanje, de Franse Republiek,
                  Ierland, de Italiaanse Republiek, de Republiek Cyprus, de Republiek Letland, de Republiek Litouwen, het Groothertogdom
                  Luxemburg, de Republiek Hongarije, de Republiek Malta, het Koninkrijk der Nederlanden, de Republiek Oostenrijk,
                  de Republiek Polen, de Portugese Republiek, Roemenië, de Republiek Slovenië, de Slowaakse Republiek, de Republiek
                  Finland, het Koninkrijk Zweden, het Verenigd Koninkrijk van Groot-Brittannië en Noord-Ierland (lidstaten van
                  de Europese Unie) en de Republiek Kroatië betreffende de toetreding van de Republiek Kroatië tot de Europese
                  Unie;
                </p>

                <p>Brussel, 9&nbsp;december 2011</p>

              </td>
            </tr>
            <tr class="left middle odd">
              <td class="left top">

                <p>Laatste
                  <em class="cur">Trb.</em>
                </p>

              </td>
              <td class="left top">

                <p>:</p>

              </td>
              <td class="justify top">

                <p>
                  <a href="trb-2013-109.html" title="link naar publicatie trb-2013-109">
                    <em class="cur">Trb.</em>&nbsp;2013, 109</a>
                </p>

              </td>
            </tr>
          </tbody>
        </table>
        <div class="gegeven">
          <p class="dagtekening">Uitgegeven de
            <em class="cur">twaalfde</em> februari 2014.
          </p>
        </div>
        <p class="ondertekening">
          <span class="functie">De Minister van Buitenlandse Zaken,</span>
          <span class="naam">
            <span class="voornaam">F.C.G.M.</span>
            <span class="achternaam">TIMMERMANS</span>
          </span>
        </p>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-N1">
            <h5 class="note-close">
              <a class="note-close" href="#close-N1">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="N1" name="N1"></a>1)</span>
            </sup>
            <p>
              <em class="cur">PbEU</em> L 84, 31.3.2010, p. 1
            </p>
          </div>
        </div>

      </div>
      </article>

  </div>
</div>
