.sort {
  background-color: $lightGrey;
  padding: 1em;
  margin: 1em 0;
  font-weight: bold;

  &--headless {
    background: none;
    padding: 0;
  }

  &__options {
    font-weight: normal;
    display: inline;
    padding-left: 1em;

    li {
      list-style: none;
      display: inline;
      color: $darkBlue;

      a {
        &.is-active {
          font-style: italic;
        }
      }
    }

    li::after {
      content: ' | ';
      margin: 0 .5em;
    }

    li:last-child::after {
      content: '';
      margin: 0;
    }
  }
}

.sort--ascending {
  padding-right: 1em;
  background: {
    repeat: no-repeat;
    position: right 50%;
    image: $dartTopIcon;
    size: 10px;
  }
}

.sort--descending {
  padding-right: 1em;
  background: {
    repeat: no-repeat;
    position: right 50%;
    image: $dartDownIcon;
    size: 10px;
  }

}

