<div class="sort {{ modifier }}">
  Sorteer op:
  <ul class="sort__options">
    {{#each options}}
      <li>
        <a href="?sortby={{value}}" class="sort--ascending {{active}}">{{label}}</a>
      </li>
    {{/each}}
  </ul>
</div>
