a {
  color: $darkBlue;
  text-decoration: underline;
  outline: 2px solid transparent;
  outline-offset: .5em;
  transition: color $fastEaseInOut, outline-offset $fastEaseInOut;

  .columns &[href*="//"]:not(.button),
  .columns &[rel="external"] {
    padding-right: 1.25em;
    margin-right: .25em;
    background: {
      repeat: no-repeat;
      image: $externalLinkIcon;
      position: right 3px;
      size: 13px 12px;
    }
  }

  .columns &[href*="https://www.officielebekendmakingen.nl/"],
  .columns &[href*="https://www.overheid.nl/"] {
    padding-right: initial;
    margin-right: 0;
    background: none;
  }

  &:focus {
    outline-color: $focus;
    outline-offset: 0;
  }

  &:hover {
    text-decoration: underline;
    color: $primaryBlue;
    outline: none;
  }

  &:active {
    color: $mediumBlue;
  }
}

p a {
  text-decoration: underline;
}
