<div class="logo {{ modifier }}">
  <img src="/images/{{ file }}" alt="{{ alt }}" />
  {{#if youAreHere }}
    <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
    {{#each youAreHere }}
      <span>{{ text }}</span>
    {{/each}}
    </p>
  {{/if}}
</div>
