<figure class="figure">
  {{render "@picture" }}
  {{#if figcaption}}<figcaption>{{figcaptionText}}{{#if source}}<span class="figure__source">{{ sourceText }}</span>{{/if}}</figcaption>{{/if}}
</figure>
