@media print {

  html, body {
      height:100vh;
      margin: 0 !important;
      padding: 0 !important;
      page-break-after: avoid;
      page-break-before: avoid;

  }

  * {
    color: #000 !important;
    position: relative;
    min-height: auto;
    flex: none;
  }

  .header {
    border: none;

    .logo {
      position: relative;
      left: -12px;
    }

    .header__nav,
    .button,
    .skiplinks {
      display: none;
    }
  }

  .article__header--law {
    padding: 0;
    margin: 0;

    h2 a,
    h3 a {
      padding: 0 0 .5em 0 !important;
      background: none;
    }

    ul {
      display: none;
    }
  }

  .container,
  .columns,
  .row {
    height: auto !important;
  }

  .columns--sticky-sidebar__sidebar,
  .header__more,
  .row--page-opener,
  .footer,
  .button,
  .hidden-desktop {
    display: none !important;
  }

  .columns > * {
    margin-left: 0 !important;
  }

  .article__header--law {
    page-break-inside: avoid;
  }


}
