@import 'generic/settings';

// overwrite settings;
@import 'transition/settings/colors';
@import 'transition/settings/sizes';
@import 'transition/settings/icons';

// @import 'generic/base';
// @import 'transition/base';
// @import 'generic/components';

// @import 'transition/components';

// @import 'generic/print';

@import '../../@koop-componenten/common/figure/figure';
@import '../../@koop-componenten/common/footnote/footnote';
@import '../../@koop-componenten/common/table/table';
@import '../../@koop-componenten/common/image/image';
@import '../../@koop-componenten/common/list/list';
@import '../../@koop-componenten/common/heading/heading';
@import '../../assets/scss/transition/components/headings';
@import '../../assets/scss/transition/components/table';
@import '../../assets/scss/transition/components/lists';
@import '../../assets/scss/transition/components/list';
@import '../../@koop-componenten/common/definitionlist/definitionlist';
@import '../../@koop-componenten/common/del-ins/del-ins';
@import '../../@koop-componenten/common/alert/alert';
@import '../../assets/scss/transition/components/alert';
