@import 'generic/settings';

// overwrite settings;
@import 'transition/settings/colors';
@import 'transition/settings/sizes';
@import 'transition/settings/icons';

// @import 'generic/base';
// @import 'transition/base';
// @import 'generic/components';

// @import 'transition/components';

// @import 'generic/print';

@import '../../@koop-components/common/figure/figure';
@import '../../@koop-components/common/table/table';
@import '../../@koop-components/common/list/list';
@import '../../@koop-components/common/heading/heading';
@import '../../assets/scss/transition/components/headings';
@import '../../assets/scss/transition/components/table';
@import '../../assets/scss/transition/components/lists';
@import '../../assets/scss/transition/components/list';
@import '../../@koop-components/common/definitionlist/definitionlist';
