.jumbotron {
  border-radius: .5em;
  margin: 0 0 2em 0;
  @extend .group;

  &--highlight {
    background: $lightBlue;
    padding: 2.5em 1em;
    text-align: center;
    @media (min-width: 50em) {
      padding: 4.2em;
    }
  }



  &__content {
    max-width: em(620);
    margin: 0 auto;
  }

  &__subheader {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 0.2em;
    @media (min-width: 50em) {
      font-size: 1.5rem;
    }
  }

  &__header {
    margin-bottom: 0.25em;
  }

  &__intro {
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 2em;
    text-align: left;
    @media (min-width: 50em) {
      font-size: 1.3rem;
    }
  }

}
