.footnotes {
  border-top: 1px solid $mediumGrey;
  padding: 1em 2em;
  font-size: .875rem;

  > li:target {
    // background-color: yellow;
  }
}

.reference {
  display: inline-block;
  position: relative;
  font-size: 0;
  text-decoration: none;

  &::after {
    content: '↵';
    position: relative;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    font-size: .875rem;
    color: $darkBlue;
  }
}
