<div data-decorator="init-passwordstrength">
  <div class="form__row">
    <input type="text" class="js-passwordstrength__input" placeholder="Wachtwoord">
  </div>
</div>

<div class="well">
  <ul class="list list--checked js-passwordstrength__regexcontainer">
    {{#each regexOptions}}
    <li data-regex="{{regex}}" data-regex-label="">{{label}}</li>
    {{/each}}
  </ul>
</div>
