<form class="document-search" id="search">
  <fieldset>
    <legend class="h1">Zoeken in alle documenten</legend>

    <div class="document-search__fields">
      <label for="search-term" class="visually-hidden">Zoekterm of dossiernummer</label>
      <input type="text" id="search-term" placeholder="Typ hier uw zoekterm of (dossier)nummer">

      {{ render "@multi-select" searchScope merge="true" }}

      <input type="submit" value="Zoeken" class="button button--secondary" />
    </div>

    <p>Uitgebreid zoeken in <a href="#">parlementaire documenten</a> of <a href="#">officiële bekendmakingen</a>.</p>
  </fieldset>
</form>
