{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container row">

  <h1>Zoeken</h1>

  {{ render "@roi-search" }}

</div>

<div class="container row columns">
  <div>
    <h2>kenmerken</h2>
  </div>

  <div>
    <h2>Datum</h2>
  </div>

</div>

{{ render "@footer" }}
