.DS_Store
.idea
/node_modules
*.log
yarn.lock
package-lock.json
*.json
!/package.json
/package-lock.json
component-library/
backstop_data/html_report/
backstop_data/bitmaps_test/
backstop_data/bitmaps_reference/
backstop_data/
