.input-group {
  border: 2px solid $darkBlue;
  border-radius: .25em;
  background: white;
  padding: 2px;
  display: inline-block;

  &__item {
    display: inline-block;

    &:first-child label {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child label {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  &__input {
    color: $darkBlue;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:not(:disabled) {
      &:hover + label:before {
        background-color: $lightBlue;
      }
    }

    &:focus + label {
      outline: 2px solid $focus;
    }

    &:checked + label:before {
      display: inline-block;
    }

    &:checked + label {
      background-color: $darkBlue;
      color: white;
      // padding-left: 2em;
    }
    &:checked + label:hover {
      &:before {
        background-color: transparent;
      }
    }

    &:disabled + label {
      color: $mediumGrey;
      cursor: auto;
    }

    &:disabled + label:before {
      border-color: $mediumGrey;
    }
  }

  &__label {
    color: $darkBlue;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    padding: .585em .7em;
    margin: 0 !important;

    &:before {
      content: "";
      margin-right: .325em;
      display: none;
      height: 14px;
      width: 20px;
      @extend .icon--check2White;
      background-repeat: no-repeat;
      background-position: left center;
    }
  }
}

.input-group {
  &--large &__label {
    padding: .69em .5em;
  }

  &--flex {
    display: flex;
    flex-flow: row wrap;
  }
  &--flex &__item {
    flex-grow: 1;
    text-align: center;
  }
}
