

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <div class="article__header--law ">
    <h3>Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</h3>
  <ul>
    <li class="action--relations">128<a href="#"><span>Relaties</span> <span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
    <li class="action--permalink"><a href="#"><span>Permanente link</span><span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
    <li class="action--version"><a href="#"><span>Versie informatie</span> <span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
    <li class="action--compare"><a href="#"><span>Versie vergelijk</span> <span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
    <li class="action--print"><a href="#"><span>Print</span> <span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
    <li class="action--download"><a href="#"><span>Bewaar</span> <span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
  </ul>
    <p>Versie geldend per 01-04-2012</p>
</div>


  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

