

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <div class="form-conditionals" data-decorator="init-form-conditionals">
    <fieldset arial-label="Do you want to start?" id="citem-1" class="form-conditionals__citem form-conditionals__citem js-form-conditionals__citem">
      <legend>Do you want to start?</legend>
        
        <div class="form__row">
          <select name="name1" >
              <option  data-linkedto="1" >No comment</option>
              <option  data-linkedto="2" selected>Yes, start!</option>
              <option  data-linkedto="" >Don&#x27;t want to.</option>
          </select>
        </div>
    </fieldset>
    <fieldset arial-label="What do you want on your icecream?" id="citem-2" class="form-conditionals__citem form-conditionals__citem js-form-conditionals__citem">
      <legend>What do you want on your icecream?</legend>
        
        <div class="form__row">
            <div class="input-checkbox">
              <input type="checkbox" class="checkbox__input" id="option-51" name="name2" />
              <label class="checkbox__label" for="option-51">
                Nada!
              </label>
            </div>
            <div class="input-checkbox">
              <input type="checkbox" class="checkbox__input" id="option-52" name="name2" />
              <label class="checkbox__label" for="option-52">
                Sprinkles
              </label>
            </div>
            <div class="input-checkbox">
              <input type="checkbox" class="checkbox__input" id="option-53" name="name2" />
              <label class="checkbox__label" for="option-53">
                Whipped cream
              </label>
            </div>
        </div>
        <button class="button js-button-next" data-linkedto="3" hidden>Volgende</button>
    </fieldset>
    <fieldset arial-label="What is your favorite color?" id="citem-3" class="form-conditionals__citem form-conditionals__citem js-form-conditionals__citem">
      <legend>What is your favorite color?</legend>
        
        <div class="form__row">
            <div class="input-radio">
              <input type="radio" class="radio__input" id="option-11" name="name3" data-linkedto="4" />
              <label class="radio__label" for="option-11">
                red
              </label>
            </div>
            <div class="input-radio">
              <input type="radio" class="radio__input" id="option-12" name="name3" data-linkedto="" />
              <label class="radio__label" for="option-12">
                blue
              </label>
            </div>
        </div>
    </fieldset>
    <fieldset arial-label="Are you a human?" id="citem-4" class="form-conditionals__citem form-conditionals__citem js-form-conditionals__citem">
      <legend>Are you a human?</legend>
        
        <div class="form__row">
          <select name="name4" >
              <option  data-linkedto="" >Please tell us</option>
              <option value="next" data-linkedto="5" >Yes, i&#x27;m a human</option>
              <option  data-linkedto="" >Doh</option>
          </select>
        </div>
    </fieldset>
    <fieldset arial-label="Are you sure your favorite color is red?" id="citem-5" class="form-conditionals__citem form-conditionals__citem js-form-conditionals__citem">
      <legend>Are you sure your favorite color is red?</legend>
        
        <div class="form__row">
            <div class="input-radio">
              <input type="radio" class="radio__input" id="option-31" name="name5" data-linkedto="" />
              <label class="radio__label" for="option-31">
                yes, i love red!
              </label>
            </div>
            <div class="input-radio">
              <input type="radio" class="radio__input" id="option-32" name="name5" data-linkedto="6" />
              <label class="radio__label" for="option-32">
                nah, just kidding
              </label>
            </div>
        </div>
    </fieldset>
    <fieldset arial-label="What about blue?" id="citem-6" class="form-conditionals__citem form-conditionals__citem js-form-conditionals__citem">
      <legend>What about blue?</legend>
        
        <div class="form__row">
            <div class="input-radio">
              <input type="radio" class="radio__input" id="option-41" name="name6" data-linkedto="" />
              <label class="radio__label" for="option-41">
                yes, i love blue!
              </label>
            </div>
            <div class="input-radio">
              <input type="radio" class="radio__input" id="option-42" name="name6" data-linkedto="" />
              <label class="radio__label" for="option-42">
                eh? blue? No way.
              </label>
            </div>
        </div>
    </fieldset>
  <div class="js-form-conditionals__submitcontainer" hidden>
    <button type="submit" class="button button--primary">Verzenden</button>
  </div>
  <div class="form-conditionals__responds js-form-conditionals__responds" hidden>
    <h2 class="form-conditionals__heading">Bedankt voor uw reactie</h2>
    <p>We gebruiken uw feedback ter verbetering van onze dienstverlening.</p>
  </div>
</div>


  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

