

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <div class="form-conditionals" data-decorator="init-form-conditionals">
    <fieldset arial-label="Deel uw feedback" id="citem-1" class="form-conditionals__citem form-conditionals__citem js-form-conditionals__citem">
      <legend>Deel uw feedback</legend>
        <div class="form-conditionals__container form-conditionals__container--flex">
          <p>Wat dit de informatie die u zocht?</p>
          <div class="form__row">
              <button class="button-icon button-icon--thumb-up js-button-next" data-linkedto="" data-triggeresponds="true" data-triggerLastStep="">Ja</button>
              <button class="button-icon button-icon--thumb-down js-button-next" data-linkedto="2" data-triggeresponds="" data-triggerLastStep="true">Nee</button>
          </div>
        </div>
    </fieldset>
    <fieldset arial-label="Waar ben je precies naar opzoek?" id="citem-2" class="form-conditionals__citem form-conditionals__citem js-form-conditionals__citem">
      <legend>Waar ben je precies naar opzoek?</legend>
        <p>Wat kunnen wij verbeteren?</p>
        <div class="form__row">
          <textarea placeholder="Placeholder"></textarea>
        </div>
    </fieldset>
  <div class="js-form-conditionals__submitcontainer" hidden>
    <button type="submit" class="button button--primary">Verstuur feedback</button>
  </div>
  <div class="form-conditionals__responds js-form-conditionals__responds" hidden>
    <h2 class="form-conditionals__heading">Bedankt voor uw reactie</h2>
    <p>We gebruiken uw feedback ter verbetering van onze dienstverlening.</p>
  </div>
</div>


  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

