

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-1" name=""  value="Hoogheemraadschap Amstel, Gooi en Vecht"
    />
    <label class="checkbox__label" for="option-waterschappen-1">
      Hoogheemraadschap Amstel, Gooi en Vecht
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-2" name=""  value="Hoogheemraadschap De Stichtse Rijnlanden"
    />
    <label class="checkbox__label" for="option-waterschappen-2">
      Hoogheemraadschap De Stichtse Rijnlanden
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-3" name=""  value="Hoogheemraadschap Hollands Noorderkwartier"
    />
    <label class="checkbox__label" for="option-waterschappen-3">
      Hoogheemraadschap Hollands Noorderkwartier
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-4" name=""  value="Hoogheemraadschap van Delfland"
    />
    <label class="checkbox__label" for="option-waterschappen-4">
      Hoogheemraadschap van Delfland
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-5" name=""  value="Hoogheemraadschap van Rijnland"
    />
    <label class="checkbox__label" for="option-waterschappen-5">
      Hoogheemraadschap van Rijnland
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-6" name=""  value="Hoogheemraadschap van Schieland en de Krimpenswaard"
    />
    <label class="checkbox__label" for="option-waterschappen-6">
      Hoogheemraadschap van Schieland en de Krimpenswaard
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-7" name=""  value="Waterschap Aa en Maas"
    />
    <label class="checkbox__label" for="option-waterschappen-7">
      Waterschap Aa en Maas
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-8" name=""  value="Waterschap  Blija Buitendijks"
    />
    <label class="checkbox__label" for="option-waterschappen-8">
      Waterschap  Blija Buitendijks
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-9" name=""  value="Waterschap Brabantse Delta"
    />
    <label class="checkbox__label" for="option-waterschappen-9">
      Waterschap Brabantse Delta
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-10" name=""  value="Waterschap De Dommel"
    />
    <label class="checkbox__label" for="option-waterschappen-10">
      Waterschap De Dommel
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-11" name=""  value="Waterschap Hunze en Aa&#x27;s"
    />
    <label class="checkbox__label" for="option-waterschappen-11">
      Waterschap Hunze en Aa&#x27;s
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-12" name=""  value="Waterschap Limburg"
    />
    <label class="checkbox__label" for="option-waterschappen-12">
      Waterschap Limburg
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-13" name=""  value="Waterschap Noorderzijlvest"
    />
    <label class="checkbox__label" for="option-waterschappen-13">
      Waterschap Noorderzijlvest
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-14" name=""  value="Waterschap Peel en Maasvallei"
    />
    <label class="checkbox__label" for="option-waterschappen-14">
      Waterschap Peel en Maasvallei
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-waterschappen-15" name=""  value="Waterschap Rijn en IJssel"
    />
    <label class="checkbox__label" for="option-waterschappen-15">
      Waterschap Rijn en IJssel
    </label>
  </div>





  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

