

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <form class="input-filebox" action="" method="POST" data-decorator="init-inputfile" data-config='{ "showbuttonAfterChange": "true" , "messageModal": ".js-input-filebox__messagetrigger" }'>
  <div class="input-dragbox js-input-dragbox">
    <div class="input-dragbox__content">
      <span class="input-dragbox__prelabel js-input-dragbox__prelabel">Upload document: </span>
      <label for="file">
        <span class="js-input-dragbox__label" role="button" aria-controls="filename" tabindex="0">Selecteer een bestand</span>
      </label>
      <input type="file" tabindex="-1" name="files[]" id="file" class="box__file" data-multiple-caption="{count} bestanden geselecteerd" />
        <div><button class="button button--primary js-input-dragbox__button" hidden>Uploaden</button></div>
    </div>
    <div class="input-dragbox__uploading">
      <p class="input-dragbox__uploading__msg">Document is bezig met uploaden <span></span>%</p>
      <progress class="input-dragbox__uploading__progress" max="100" value="30"></progress>
      <p><a href="#refresh"><small>Upload annuleren</small></a></p>
    </div>
    <div class="input-dragbox__msg js-input-dragbox__msg"><span></span><p><a href='#' class='js-reset'>Upload een nieuw bestand</a></p></div>
  </div>
</form>
<p>
  <button class="js-input-filebox__messagetrigger" type="button" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-1"
    class="button" hidden>Open modal</button>
</p>
<div id="modal-1" class="modal modal--wide modal--off-screen" hidden role="alert">
  <div class="modal__inner">
    <div class="modal__content align-center">
      <p class="p p--accent"><i>Upload successvol</i></p>
      <h2 class="h1">Uw document wordt verwerkt</h2>
      <p>Let op: bij het uploaden van (zeer) grote bestanden kan de verwerking van het bestand enige tijd duren.</p>
    </div>
    <button type="button" data-handler="close-modal" class="modal__close">
      <span class="visually-hidden">sluiten</span>
    </button>
  </div>
</div>



  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

