

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <div >

  <ul class="list list--alphabet">
      <li class="list__item"><a href="#" class="list__link"><span>A</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>B</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>C</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>D</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>E</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>F</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>G</span></a></li>
      <li class="list__item"><a href="#" class="list__link is-active"><span>H</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>I</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>J</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>K</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>L</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>M</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>N</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>O</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>P</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>Q</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>R</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>S</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>T</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>U</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>V</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>W</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>X</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>Y</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>Z</span></a></li>
  </ul>
</div>

  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

