

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <ul id="sl1" class="list--sources">
		<li>
			<div class="list--source__information ">
				Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente Score Gemeente 2016 Score Gemeente 2016 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016
        <span class="list--sources__item__filesize"></span>
						<span class="label label--xml">xml</span>
						<span class="label label--xls">xls</span>
			</div>

      <a href="http://www.google.nl" class="button button--primary">download bestand
        <span class="visually-hidden">van abonnement: Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente Score Gemeente 2016 Score Gemeente 2016 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016</span>
      </a>




		</li>
		<li>
			<div class="list--source__information ">
				Score wijk 2016
        <span class="list--sources__item__filesize"></span>
						<span class="label label--xml">xml</span>
			</div>

      <a href="http://www.google.nl" class="button button--primary">download bestand
        <span class="visually-hidden">van abonnement: Score wijk 2016</span>
      </a>




				<div class="collapsible collapsible--small" data-decorator="init-collapsible" id="c1">
				  <div class="collapsible__header">
				    <a href="#c1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible" data-text="show/hide">toon informatie</a>
				  </div>
				  <div class="collapsible__content" id="collapsible-content-1">
				  	<div>
					  	<h3>Toegankslink</h3>
					  	<div class="well well--linkContainer">https://data.overheid.nl/data/dataset/af2b6af6-7ffe-40f1-851c-0d114b5ebf2b/resource/6bb787c2-7826-499e-86e6-43cd88ee476a/download/stembureausdelfzijl.csv</div>
								<table>
										<tr>
											<th>Score wijk 2016</th>
											<td data-before="Score wijk 2016"><a href="#">Locatie stembureaus Delfzijl 2016</a></td>
										</tr>
										<tr>
											<th>Laatst gewijzigd</th>
											<td data-before="Laatst gewijzigd">9 maart 2017</td>
										</tr>
								</table>
						</div>
				  </div>
				</div>
		</li>
		<li>
			<div class="list--source__information ">
				Score PC4 2016
        <span class="list--sources__item__filesize"></span>
						<span class="label label--xml">xml</span>
						<span class="label label--xls">xls</span>
			</div>

      <a href="http://www.google.nl" class="button button--primary">download bestand
        <span class="visually-hidden">van abonnement: Score PC4 2016</span>
      </a>




		</li>
</ul>


  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; left: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

