

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Open data van de Overheid</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Datasets</a></li>
            <li><a href="#" class="">Statistieken</a></li>
            <li><a href="#" class="">Ondersteuning</a></li>
            <li><a href="#" class="">Toepassingen</a></li>
            <li><a class="button button--primary" href="" role="button">Dataset aanmelden</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>
<div class="row container columns columns--sidebar-left">
	<div>
		<h1>2957 zoekresultaten</h1>
		<div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>

		<div class="sort ">
  <div class="columns">
    <div class="column">
      Sorteer op:
      <ul class="sort__options">
          <li>
            <a href="#" class="sort--ascending is-active" aria-pressed="true"><span class="visually-hidden">Sorteer op: </span>Datum</a>
          </li>
          <li>
            <a href="#" class="sort--ascending " aria-pressed="false"><span class="visually-hidden">Sorteer op: </span>Titel</a>
          </li>
      </ul>
    </div>
  </div>
</div>

		<div class="result--list result--list__data">
  <ul>
    <li>



      <span class="icon icon--housing">Huisvesting</span>

        <a href="#" class="result--title">Locatie stembureaus Delfzijl 2017</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>


    </li>
    <li>



      <span class="icon icon--healthcare">Zorg</span>

        <a href="#" class="result--title">Leefbaarometer 2.0 &#x3D; meting 2016</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>
            <span class="label label--pdf">pdf</span>
            <span class="label label--shape">shape</span>


    </li>
    <li>



      <span class="icon icon--jobs">Werk</span>

        <a href="#" class="result--title">Locatie stembureaus Delfzijl 2017</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>


    </li>
    <li>



      <span class="icon icon--traffic">Verkeer</span>

        <a href="#" class="result--title">Leefbaarometer 2.0 &#x3D; meting 2016</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>
            <span class="label label--pdf">pdf</span>
            <span class="label label--shape">shape</span>


    </li>
    <li>



      <span class="icon icon--migration">Migratie</span>

        <a href="#" class="result--title">Locatie stembureaus Delfzijl 2017</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>


    </li>
    <li>



      <span class="icon icon--agriculture">Landbouw</span>

        <a href="#" class="result--title">Leefbaarometer 2.0 &#x3D; meting 2016</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>
            <span class="label label--pdf">pdf</span>
            <span class="label label--shape">shape</span>


    </li>
  </ul>
</div>

		<div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>

	</div>
	<div>
		<div class="well">
	      <form>
	        <fieldset class="form__element">
	          <legend class="form--intro">Zoeken</legend>
	          <div class="">
	            <label for="zoekterm" class="visually-hidden">Zoeken op</label>
	            <input type="text" id="zoekterm" placeholder="Bv. verkiezingsuitslag 2018">
	          </div>
	        </fieldset>
	        <button type="submit" class="button button--primary">Zoek open data</button>
	      </form>
	    </div>

	    <h2>Status</h2>
	    	<div class="facet ">
		<label for="facet-01" >
				<input type="radio" id="facet-01" name="status" />
			beschikbaar
		</label>
		<span>12221</span>
	</div>
	<div class="facet checked">
		<label for="facet-02" >
				<input type="radio" id="facet-02" name="status" checked />
			In onderzoek
		</label>
		<span>121</span>
	</div>
	<div class="facet ">
		<label for="facet-03" >
				<input type="radio" id="facet-03" name="status" />
			Niet beschikbaar
		</label>
		<span>50</span>
	</div>
	<div class="facet ">
		<label for="facet-04" >
				<input type="radio" id="facet-04" name="status" />
			Gepland
		</label>
		<span>25</span>
	</div>


	    <h2>Toegang</h2>
	    	<div class="facet ">
		<label for="facet-40" >
				<input type="radio" id="facet-40" name="toegang" />
			Publiek
		</label>
		<span>12254</span>
	</div>
	<div class="facet ">
		<label for="facet-41" >
				<input type="radio" id="facet-41" name="toegang" />
			Beperkt
		</label>
		<span>16</span>
	</div>
	<div class="facet ">
		<label for="facet-42" >
				<input type="radio" id="facet-42" name="toegang" />
			Gesloten
		</label>
		<span>23</span>
	</div>


	    <h2>Data-eigenaar</h2>
	    	<div class="facet ">
		<label for="facet-20" >
				<input type="radio" id="facet-20" name="data-eigenaar" />
			Centraal Bureau voor de Statistieken
		</label>
		<span>12221</span>
	</div>
	<div class="facet ">
		<label for="facet-21" >
				<input type="radio" id="facet-21" name="data-eigenaar" />
			Rijkswaterstaat
		</label>
		<span>121</span>
	</div>
	<div class="facet ">
		<label for="facet-22" >
				<input type="radio" id="facet-22" name="data-eigenaar" />
			Drenthe
		</label>
		<span>50</span>
	</div>
	<div class="facet ">
		<label for="facet-23" >
				<input type="radio" id="facet-23" name="data-eigenaar" />
			Provincie Utrecht
		</label>
		<span>25</span>
	</div>
	<div class="facet ">
		<label for="facet-25" >
				<input type="radio" id="facet-25" name="data-eigenaar" />
			Dataplatform NL
		</label>
		<span>602343</span>
	</div>
	<div class="facet ">
		<label for="facet-30" >
				<input type="radio" id="facet-30" name="data-eigenaar" />
			Centraal Bureau voor de Statistieken
		</label>
		<span>12221</span>
	</div>
	<div class="facet ">
		<label for="facet-31" >
				<input type="radio" id="facet-31" name="data-eigenaar" />
			Rijkswaterstaat
		</label>
		<span>121</span>
	</div>
	<div class="facet ">
		<label for="facet-32" >
				<input type="radio" id="facet-32" name="data-eigenaar" />
			Drenthe
		</label>
		<span>50</span>
	</div>
	<div class="facet ">
		<label for="facet-33" >
				<input type="radio" id="facet-33" name="data-eigenaar" />
			Provincie Utrecht
		</label>
		<span>25</span>
	</div>
	<div class="facet ">
		<label for="facet-34" >
				<input type="radio" id="facet-34" name="data-eigenaar" />
			Dataplatform NL
		</label>
		<span>829348290</span>
	</div>

	</div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>



  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; left: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

