

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <header class="header">

  <div class="header__start">
    <div class="container">
      <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
          <img src="../../images/logo.svg" alt="Overheid.nl logo" />
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
              <span>Beleid en regelgeving</span>
              <span>Wettenbank</span>
          </p>
      </div>

      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
        <a href="#search">Direct zoeken</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
        <li><a href="#">Data</a></li>
        <li><a href="#">Monitor</a></li>
        <li><a href="#">Dataverzoeken</a></li>
        <li><a href="#">Ondersteuning</a></li>
        <li><a href="#">Over ons</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="search" id="search">
  <h2 class="visually-hidden">Zoekfunctie</h2>
  <form action="/" data-decorator="init-search-toggle">
    <label class="visually-hidden" for="searchInput">Vul uw zoekterm in</label>
    <input id="searchInput" type="search" class="search__term" placeholder="Waar zoekt u naar?" />
    <button type="submit" class="search__submit">Zoek</button>
  </form>
</div>

      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
<div class="header__more" id="other-sites">
  <div class="container">
    <div>
      <h2>Verdragenbank</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
    <div>
      <h2>Verdragenbank over twee regels</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
    <div>
      <h2>Verdragenbank</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
    <div>
      <h2>Verdragenbank</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container row">
  <div>

    <h1>Datakalender</h1>

    <p>In deze datakalender vind je de datasets die gepland staan voor publicatie. Filter op datum, thema of data-eigenaar en houd in de gaten welke dataset wanneer beschikbaar komt.</p>

    <div class="well">
      <form class="roi-search" id="search">
  <fieldset class="form__row">
    <legend class="visually-hidden">Zoeken in alle documenten</legend>
    <div class="document-search__fields">
      <label for="search-term" class="visually-hidden">Zoekterm of dossiernummer</label>
      <input type="text" id="search-term" placeholder="Vul een zoekterm in of gebruik &amp;quot;&amp;quot; als u een woordgroep zoekt">
    </div>
  </fieldset>
  <div class="">
      <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-1" name="" />
    <label class="radio__label" for="option-1">
      Zoek in alle teksten
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-2" name="" />
    <label class="radio__label" for="option-2">
      Zoek alleen in titels en kenmerken
    </label>
  </div>

  </div>
</form>

    </div>

    <table class="table " >
<thead>
  <tr>
    <th scope="col">Data-eigenaar</th>
    <th scope="col">Soort organisatie</th>
    <th scope="col">Valt onder</th>
    <th scope="col">Datasets</th>
    <th scope="col">Link-kwaliteit</th>
    <th scope="col">Status</th>
    <th scope="col">Exporteren</th>
  </tr>
   
</thead>
<tbody>


  <tr>
       <td data-before="Data-eigenaar">ZBO | Centraal Bureau voor de Statistiek</td>
             <td data-before="Soort organisatie">zelfstandig</td>
             <td data-before="Valt onder">zelfstandig</td>
             <td data-before="Datasets">4,504</td>
             <td data-before="Link-kwaliteit">9065 / 9066 - 99.99%</td>
            <td data-before="Status" class="status status--green"><span>alles werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">pdf</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Leveranciers (geen overheid) | Zonatlas NL B.V</td>
             <td data-before="Soort organisatie">Stichting</td>
             <td data-before="Valt onder">Regionaal</td>
             <td data-before="Datasets">1</td>
             <td data-before="Link-kwaliteit">0 / 0 - 0%</td>
            <td data-before="Status" class="status status--orange"><span>sommige werken</span></td>
        <td data-before="Exporteren" class="status"><a href="#">csv</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Jeroen</td>
             <td data-before="Soort organisatie">BV</td>
             <td data-before="Valt onder">Niemand</td>
             <td data-before="Datasets">veel</td>
             <td data-before="Link-kwaliteit">top</td>
            <td data-before="Status" class="status status--red"><span>niets werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">xml</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">ZBO | Centraal Bureau voor de Statistiek</td>
             <td data-before="Soort organisatie">zelfstandig</td>
             <td data-before="Valt onder">zelfstandig</td>
             <td data-before="Datasets">4,504</td>
             <td data-before="Link-kwaliteit">9065 / 9066 - 99.99%</td>
            <td data-before="Status" class="status status--green"><span>alles werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">pdf</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Leveranciers (geen overheid) | Zonatlas NL B.V</td>
             <td data-before="Soort organisatie">Stichting</td>
             <td data-before="Valt onder">Regionaal</td>
             <td data-before="Datasets">1</td>
             <td data-before="Link-kwaliteit">0 / 0 - 0%</td>
            <td data-before="Status" class="status status--orange"><span>sommige werken</span></td>
        <td data-before="Exporteren" class="status"><a href="#">csv</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Jeroen</td>
             <td data-before="Soort organisatie">BV</td>
             <td data-before="Valt onder">Niemand</td>
             <td data-before="Datasets">veel</td>
             <td data-before="Link-kwaliteit">top</td>
            <td data-before="Status" class="status status--red"><span>niets werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">xml</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">ZBO | Centraal Bureau voor de Statistiek</td>
             <td data-before="Soort organisatie">zelfstandig</td>
             <td data-before="Valt onder">zelfstandig</td>
             <td data-before="Datasets">4,504</td>
             <td data-before="Link-kwaliteit">9065 / 9066 - 99.99%</td>
            <td data-before="Status" class="status status--green"><span>alles werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">pdf</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Leveranciers (geen overheid) | Zonatlas NL B.V</td>
             <td data-before="Soort organisatie">Stichting</td>
             <td data-before="Valt onder">Regionaal</td>
             <td data-before="Datasets">1</td>
             <td data-before="Link-kwaliteit">0 / 0 - 0%</td>
            <td data-before="Status" class="status status--orange"><span>sommige werken</span></td>
        <td data-before="Exporteren" class="status"><a href="#">csv</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Jeroen</td>
             <td data-before="Soort organisatie">BV</td>
             <td data-before="Valt onder">Niemand</td>
             <td data-before="Datasets">veel</td>
             <td data-before="Link-kwaliteit">top</td>
            <td data-before="Status" class="status status--red"><span>niets werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">xml</a></td>
  </tr>
</tbody>
</table>



    <div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>


  </div>


</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>



  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

