

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="link-iconed link-iconed--publication">English</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>


<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container columns columns--sticky-sidebar row" data-decorator="init-scroll-chapter">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" data-config='{"scrollContentElement":".js-scrollContentElement"}' id="toggleable-1">
    <div>
      <p>
        <a href="#" class="icon icon--arrow-cta-right">Terug naar zoekresultaten</a>
      </p>
      <div class="scrollContentReceiver"></div>
      <ul class="nav-sub ">
    <li class="nav-sub__item is-active">
      <a href="" class="nav-sub__link is-active">Regeling</a>
        <ul class="nav-sub__sub">
            <li class="nav-sub__sub-item"><a href="#section-1" class="nav-sub__sub-link ">Intitulé</a>
            </li>
            <li class="nav-sub__sub-item"><a href="#section-2" class="nav-sub__sub-link ">Besluiten</a>
            </li>
            <li class="nav-sub__sub-item"><a href="#artikel-1" class="nav-sub__sub-link ">Artikel 1</a>
            </li>
            <li class="nav-sub__sub-item"><a href="#artikel-2" class="nav-sub__sub-link ">Artikel 2</a>
            </li>
        </ul>
    </li>
</ul>

      <ul class="nav-sub ">
    <li class="nav-sub__item ">
      <a href="/components/preview/templates-cvdr-wettechnischegegevens" class="nav-sub__link ">Wettechnische gegevens</a>
    </li>
</ul>

    </div>
  </div>

  <div>

    <ul class="pageactions">
  <li>
    <a href="#" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-1">
    <img src="../../images/icon-permalink.svg" alt="" role="presentation" />
    Permalink
    </a>
  </li>
  <li>
    <a href="#" >
    <img src="../../images/icon-info-blue.svg" alt="" role="presentation" />
    Fout in deze regeling
    </a>
  </li>
  <li>
    <a href="#" >
    <img src="../../images/icon-download.svg" alt="" role="presentation" />
    Download
    </a>
  </li>
  <li>
    <a href="#" >
    <img src="../../images/icon-print.svg" alt="" role="presentation" />
    Printen
    </a>
  </li>
</ul>



    <div id="modal-1" class="modal modal--off-screen" hidden role="alert">
      <div class="modal__inner">
        <div class="modal__content">
          <h2>Permanente link</h2>

          <h3>Kopieer de regeling naar uw clipboard </h3>
          <div class="row">
              <div class="copydata "
     data-decorator="init-copydata"
     data-config='{
       "triggerLabel": "Kopieer link",
       "triggerCopiedlabel": "Gekopieerd naar clipboard",
       "triggerClass": "copydata__trigger"
       }'>
  <p class="copydata__datafield js-copydata__datafield">
     https://www.google.nl
  </p>
</div>

          </div>
          <h3>Verfijn in Linktool </h3>
          <p>Ga naar de
            <a href="http://linkeddata-acc.overheid.nl/front/portal/linktool-bwb-verfijnen?ext-id=http%3a%2f%2fwetten.overheid.nl%2fid%2fBWBR0032203%2f2016-07-01%2f0%2fDeel1&amp;geldigheidsdatum=2016-07-01&amp;zichtdatum=2016-07-01"
              id="aLinktoolurl" rel="external" target="_blank">Linktool</a>
          </p>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">
          <span class="visually-hidden">sluiten</span>
        </button>
      </div>
    </div>

    <div class="js-scrollContentElement">
      <h1>Besluit van Geduputeerde Staten van de provincie Zuid-Holland van 2 oktober 2018, PZH-2018-661534998, DOS-2016-0005086, tot vaststelling van de deelplafonds 2019 paragraaf 2.11 van de Subsidieregeling groen Zuid-Holland 2016</h1>
      <p><span class="label label--info label--lg"><i>Geldend van 01-01-2019 t/m heden</i></span></p>
    </div>




      <section class="section-chapter js-scrollSection" id="section-1">
        <h3 class="">Intitulé</h3>
        <p>
          Dit besluit treedt in werking, op het tijdstip dat het besluit van Provinciale Staten tot het vaststellen van hoofdplafond
          voor het jaar 2019voor paragraaf 2.11van de Subsidieregeling groen Zuid-Holland 2016, als onderdeel van de begroting 2019,
          inwerking treedt.
        </p>
        <p>
          Gelet op artikel 5, tweede lid.
        </p>
      </section>
      <section class="section-chapter js-scrollSection" id="section-2">
        <h3 class="">Besluiten</h3>

        <p>
          De volgende deelplafonds voor § 2.11 Kwaliteitsverbetering van bestaande groengebieden en het recreatieve routenetwerk van de Subsidieregeling groen Zuid-Holland 2016 voor 2019 vast te stellen:
        </p>
        <ul class="list list--loweralpha">
          <li>Deelplafond voor herstel- of inrichtingsmaatregelen als bedoeld in artikel 2.11.2 onderdeel a, op de plaatsen aangegeven op de kaart in bijlage 6 behorende bij § 2.11 Subsidieregeling
          groen Zuid-Holland 2016: € 800.000,00.
          </li>
          <li>Deelplafond voor herstel- of inrichtingsmaatregelen als bedoeld in artikel 2.11.2
          onderdeel b, van het recreatieve routenetwerk voor:
            <ul class="list list--lowerroman">
              <li>langeafstand fietsroute (LF): € 100.000,00;</li>
              <li>fietsknooppunten netwerk: € 0,00;</li>
                <li>stad-landverbindingen: € 0,00;</li>
                <li>langeafstand wandelroute (LAW): € 0,00;</li>
                <li>wandelroutenetwerk Zuid-Holland 2010-2020: € 0,00;</li>
                <li>toeristisch overstappunten (TOP): € 0,00;</li>
                <li>ruiter- en menpaden: € 2.332.500,00; </li>
                <li>recreatieve vaarwegen: € 105.000,00.</li>
                <li>ruiter- en menpaden in het Bentwoud: € 200.000,-.</li>
              </ul>
          </li>
          <li>Deelplafond voor beheer en onderhoud van ruiter- en menpaden als bedoeld in artikel 2.11.2 onderdeel c: € 0,00.</li>
        </ul>
      </section>

      <section class="section-chapter js-scrollSection" id="artikel-1">
        <h2>Artikel 1</h2>
        <p>
           Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage
          is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus
          Bonorum et Malorum for use in a type specimen book.
        </p>
      </section>

      <section class="section-chapter js-scrollSection" id="artikel-2">
        <h2>Artikel 2</h2>
        <p>
           Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage
          is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus
          Bonorum et Malorum for use in a type specimen book.
        </p>
      </section>

      <div class="row row--large">

        <h2><em>Inwerktreding</em></h2>
        <p>
          Dit besluit treedt in werking, op het tijdstip dat het besluit van Provinciale Staten tot het vaststellen van hoofdplafond
          voor het jaar 2019 voor paragraaf 2.11van de Subsidieregeling groen Zuid-Holland 2016, als onderdeel van de begroting 2019,
          inwerking treedt.
        </p>

        <p class="author">
          Den Haag, 2 oktober 2018 <br>drs. H.H.M. Koek, secretaris <br>drs. J. Smit, voorzitter
        </p>

      </div>


      <div class="row row--large">
        <div class="alert alert--success alert--lg icon--document " role="alert">
  <h2 class="alert__heading">Ziet u een fout in deze regeling?</h2>
  <div class="alert__inner">
    Meld het ons op <a href="mailto:regelgeving@overheid.nl">regelgeving@overheid.nl</a>

  </div>
</div>

      </div>


  </div>

</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>



  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; left: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

