

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href="https://www.overheid.nl"><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li><a href=test>Zoeken</a></li>
    <li><a href=test>Zoekresultaten</a></li>
    <li><a href=test>Regeling</a></li>
    <li>Informatie</li>
  </ol>
</div>
  </div>
</div>
<div class="container columns columns--sidebar-left row">
  <div>

    <div id="edit-markup-02" class="form__element js-form-item form-item js-form-type-webform-markup form-item- js-form-item-">






  <h2>Informatie over de verwerking van uw persoonsgegevens</h2>
<p>KOOP (onderdeel van het Ministerie van Binnenlandse Zaken en Koninkrijksrelaties) verwerkt de persoonsgegevens, die u ons verstrekt bij het stellen van uw vraag, om uw vragen te beantwoorden en u te kunnen bereiken. Wij gebruiken uw gegevens uitsluitend ter beantwoording van uw vragen.</p>

<div class="collapsible collapsible--small" data-decorator="init-collapsible" id="1">
    <div class="collapsible__header">
        <a href="#1" aria-controls="collapsible-content-1" aria-expanded="false" data-handler="toggle-collapsible">Extra informatie over de verwerking van uw persoonsgegevens.</a>
    </div>
    <div class="collapsible__content" id="collapsible-content-1" hidden="true">
        <h3>Waarom worden deze gegevens gevraagd?</h3>
        <p>De gegevens, die in het contactformulier worden gevraagd, zijn noodzakelijk om uw reactie adequaat, tijdig en compleet te kunnen behandelen.</p>
        <h3>Op welke manier worden uw gegevens verwerkt?</h3>
        <p>Uw gegevens van het contactformulier worden geregistreerd in het meldingen-informatiesysteem van KOOP. De melding wordt vervolgens behandeld door servicedeskmedewerkers en/of verdere specialisten. Als eerste krijgt u een bevestiging van de ontvangst van uw melding. Nadien zal u verder bericht krijgen over de behandeling van uw melding. Uw gegevens worden niet voor andere doeleinden gebruikt dan de behandeling van uw reactie.</p>
        <h3>Hoelang bewaren wij uw gegevens?</h3>
        <p>KOOP bewaart uw persoonsgegevens niet langer dan nodig is voor het doel waarvoor u ze heeft achtergelaten. Daarnaast worden gegevens gebruikt voor kennisopbouw, het verbeteren van de werking van websites, het bijhouden van statistieken en het functioneren van de Servicedesk. Indien er een motief is om het handelen van de overheid inzichtelijk te houden, bijvoorbeeld bij het aanvragen en verstrekken van accounts, worden gegevens permanent bewaard.</p>
        <h3>Wat zijn uw rechten?</h3>
        <p>Voor uw rechten m.b.t. de verwerking van uw gegevens verwijzen wij u naar de privacyverklaring van deze website. U kunt ook contact opnemen met de Servicedesk van KOOP: <a href="mailto:servicedesk@koop.overheid.nl">servicedesk@koop.overheid.nl</a>.</p>
    </div>
</div>




  </div>
  <fieldset data-webform-required-error="Veld 'Akkoordverklaring' is verplicht." data-drupal-selector="edit-akkoordverklaring"
    id="edit-akkoordverklaring--wrapper" class="checkboxes--wrapper fieldgroup form-composite webform-composite-visible-title required js-webform-type-checkboxes webform-type-checkboxes checkboxgroup js-form-item form-item js-form-wrapper form-wrapper form__element">
    <legend>
      <span class="fieldset-legend js-form-required form-required">Akkoordverklaring</span>
      <small class="pull-right">Verplicht veld</small>
    </legend>
    <ul id="edit-akkoordverklaring" class="js-webform-checkboxes webform-options-display-one-column form-checkboxes list--unstyled fieldset-wrapper">

      <li>

        <label for="edit-akkoordverklaring-ik-heb-gelezen-en-begrepen-wat-er-met-mijn-persoonsgegevens-wordt-gedaan-">




          <input data-webform-required-error="Veld 'Akkoordverklaring' is verplicht." data-drupal-selector="edit-akkoordverklaring-ik-heb-gelezen-en-begrepen-wat-er-met-mijn-persoonsgegevens-wordt-gedaan-"
            type="checkbox" id="edit-akkoordverklaring-ik-heb-gelezen-en-begrepen-wat-er-met-mijn-persoonsgegevens-wordt-gedaan-"
            name="akkoordverklaring[Ik heb gelezen en begrepen wat er met mijn persoonsgegevens wordt gedaan. ]" value="Ik heb gelezen en begrepen wat er met mijn persoonsgegevens wordt gedaan. "
            class="form-checkbox input"> Ik heb gelezen en begrepen wat er met mijn persoonsgegevens wordt gedaan.
        </label>


      </li>
    </ul>


  </fieldset>

  <div data-drupal-selector="edit-actions" class="form-actions webform-actions js-form-wrapper form-wrapper" id="edit-actions">
    <input class="webform-button--submit button button--primary js-form-submit form-submit input" data-drupal-selector="edit-actions-submit"
      type="submit" id="edit-actions-submit" name="op" value="Verzenden">

  </div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <ul class="list list--linked">

      <li><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li><a href="https://beta.overheid.nl/help">Help</a></li>
      <li><A href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>

    </ul>

    <ul class="list list--linked">
      <li><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li><a href="/privacy-statement">Privacy en cookies</a></li>
      <li><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li><a href="/sitemap">Sitemap</a></li>
    </ul>

     <ul class="list list--linked">
        <li><a href="https://data.overheid.nl">Open data</a></li>
        <li><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
        <li><a href="https://puc.overheid.nl">PUC Open Data</a></li>
    </ul>

    <ul class="list list--linked">
      <li><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
    </ul>

  </div>
</div>



  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

