

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container row">
  <div class="columns columns--sidebar-left">
    <div class="column">




      <div class="map">
        <div id="demo7" class="map__map"></div>
        <div class="map__controls">
          <div class="row row--spacer">
            <div class="columns">
              <div class="column">
                <div class="relative">


  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Postcode</label>


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text input-text--searchmedium "
    placeholder="Verfijn op zoekwoord"
    
    aria-invalid="false"
    placeholder="Verfijn op zoekwoord"
    
    

    data-decorator="toggle-remove-visibility"
    />


  <a href="#" class="input-text__remove invisible" data-handler="empty-input" ><span class="visually-hidden">Wis waarde</span></a>
</div>


              </div>
              <div class="column align-right">
                <div role="group" class="buttonswitch">
    <a href="#" class="buttonswitch__button is-active icon icon--marker" aria-pressed="true">Kaart</a>
    <a href="#" class="buttonswitch__button icon icon--hamburger" aria-pressed="false">Lijst</a>
</div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <script id="data" type="application/json">
      {
        "debug": false,
        "mount_element": "#demo7",
        "locations": [{
            "locatieserver_id": "adr-617a18a4146998f5ea4c6851ef87c579",
            "title": "Wilhelmina van Pruisenweg 52, 2595AN ’s-Gravenhage"
        }, {
            "type": "punt",
            "geometry": "POINT(83388.72001447542 454483.4858568841)",
            "geometry_type": "WKT",
            "title": "Punt 1"
        }],
        "options": {
            "mode": "geoview"
        }
      }
      </script>



      <div class="row row--spacer hidden-mobile">
        <div class="columns">
          <div class="column column-d-8">
            <div class="relative">


  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Postcode</label>


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text input-text--searchmedium "
    placeholder="Verfijn op zoekwoord"
    
    aria-invalid="false"
    placeholder="Verfijn op zoekwoord"
    
    

    data-decorator="toggle-remove-visibility"
    />


  <a href="#" class="input-text__remove invisible" data-handler="empty-input" ><span class="visually-hidden">Wis waarde</span></a>
</div>


          </div>
          <div class="column column-d-4 align-right">
             <div role="group" class="buttonswitch">
    <a href="#" class="buttonswitch__button is-active icon icon--marker" aria-pressed="true">Kaart</a>
    <a href="#" class="buttonswitch__button icon icon--hamburger" aria-pressed="false">Lijst</a>
</div>

          </div>
        </div>
      </div>



      <h1 class="h1 h1--slim">Zoekresultaten <span class="h1__sub">1-10 van de 105</span></h1>

      <div class="hidden-desktop">
        <address>
          Gouwestraat 26<br>
          3522 CJ Utrecht<br>
          Afstand: 250 meter
        </address>
        <p>
          <a href="#" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-1">Wijzigen</a>&nbsp;
          <a href="#" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-2">Bewaar deze zoekopdracht</a>
        </p>

      </div>

      <div class="hidden-desktop align-right">
        <button class="button button--primary button--icon-filter" data-decorator="init-modalsidebar" data-handler="open-modalsidebar" data-modal="modal-filter">Filter opties</button>
      </div>

      <div class="result--list result--list--wide">
  <ul>
    <li>


        <p class="result--label"><i><span class="label ">Nieuw vandaag</span></i></p>


        <h2 class="result--title ">AppelAfdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</h2>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>





        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--primary">Bekijk publicatie</a></li>
            <li class="list__item"><a href="#" data-decorator="init-modal" data-handler="open-modal" data-config='{"function":"kpmService", "action":"push", "data":"data"}' data-modal="modal-4" class="button button--secendary">Bekijk op kaart</a></li>
            <li class="list__item d-pull-right"><a href="#" class="button button--tertiary button--share">Delen</a></li>
        </ul>


    </li>
    <li>


        <p class="result--label"><i><span class="label ">Nieuw vandaag</span></i></p>


        <h2 class="result--title ">AppelAfdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</h2>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>





        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--primary">Bekijk publicatie</a></li>
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk op kaart</a></li>
            <li class="list__item d-pull-right"><a href="#" class="button button--tertiary button--share">Delen</a></li>
        </ul>


    </li>
    <li>


        <p class="result--label"><i><span class="label ">Nieuw vandaag</span></i></p>


        <h2 class="result--title ">AppelAfdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</h2>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>





        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--primary">Bekijk publicatie</a></li>
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk op kaart</a></li>
            <li class="list__item d-pull-right"><a href="#" class="button button--tertiary button--share">Delen</a></li>
        </ul>


    </li>
  </ul>
</div>



      <div id="modal-4" class="modal modal--wide modal--off-screen" hidden role="alert">
        <div class="modal__inner">
          <div class="modal__content">
            <div class="row row--large">
              <div id="demo7" style="width:100%;height:200px; overflow: hidden"></div>
            </div>
            <h2>Aangevraagde evenementenvergunningen 2018</h2>
            <p class="pre-h">4 september 2018 - Aangevraagde evenementenvergunningen 2018</p>
            <ul class="list list--inline list--narrow">

              <li class="list__item">
                <a href="#" class="button button--primary">Bekijk publicatie</a>
              </li>
              <li class="list__item">
                <a href="#" class="button button--secendary">Open interactieve kaart</a>
              </li>

            </ul>
          </div>
          <button type="button" data-handler="close-modal" class="modal__close">
            <span class="visually-hidden">Sluiten</span>
          </button>
        </div>
      </div>

        <div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>


      <div class="row row--spacer">
        <div class="jumbotron jumbotron--promo">

          <div class="jumbotron__content">

            <p class="jumbotron__subheader">Automatisch op de hoogte blijven van gebeurtenissen in uw buurt?</p>

            <h2 class="jumbotron__header">Meld je aan voor de mail service</h2>

            <form class="form">
              <fieldset>
                <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
                <div class="form__row">
                  <div class="input-inputsubmit ">

  <div class="input-inputsubmit__grid">
    <label  for="">Uw e-mailadres</label>
    <input id="" type="text" class="input " placeholder="Uw e-mailadres" />
    <button class="button button--primary"><span>Aanmelden</span></button>
  </div>
</div>

                </div>
              </fieldset>
            </form>

          </div>

        </div>
      </div>



    </div>
    <div class="column column--sidebar">

      <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-fixedbottom-button">

        <div class="modal-sidebar__content" >


          <div class="row--spacer">
            <h2>Zoekfilter</h2>
            <address>
              Gouwestraat 26<br>
              3522 CJ Utrecht<br>
              Afstand: 250 meter
            </address>
            <ul class="list list--inline">
              <li><a href="#" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-1">Wijzigen</a></li>
              <li><a href="#" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-2">Bewaar deze zoekopdracht</a></li>
            </ul>

            <div id="modal-1" class="modal modal--wide modal--off-screen" hidden role="alert">
              <div class="modal__inner">
                <div class="modal__content">
                  <div class="align-center">
                    <p class="jumbotron__subheader">Wijzig uw zoekopdracht</p>
                    <h1 class="jumbotron__header">Welke buurt zoekt u?</h1>
                  </div>
                  <form class="form">
                    <fieldset>
                      <legend class="visually-hidden">Zoek berichten</legend>
                      <div class="form__row ">
                        <div class="columns">
                          <div class="form__row form__row--medium">
                            <label class="form__label" for="">Postcode
                              <span class="mandatory">Verplicht veld</span>
                            </label>
                            <input class="form__input" type="text" value="3522 CJ" placeholder="Bijv. 1337AA" />
                          </div>
                          <div class="form__row form__row--medium">
                            <label class="form__label" for="">Huisnummer + toev.
                            </label>
                            <input class="form__input" value="26" type="text" />
                          </div>
                          <div class="form__row form__row--medium">
                            <label class="form__label" for="">Straal
                              <span class="mandatory">Verplicht veld</span>
                            </label>
                            <div id="1" class="select-custom select-custom">
  <select>
      <option value="250"  true>250 meter</option>
      <option value="500"  >500 meter</option>
      <option value="1000"  >1000 meter</option>
      <option value="2000"  >2000 meter</option>
      <option value="9000"  >Hele gemeente</option>
  </select>
</div>

                          </div>
                        </div>
                      </div>
                      <div class="form__row align-right">
                        <button type="submit" class="form__button button button--primary">Zoek opnieuw</button>
                      </div>
                    </fieldset>
                  </form>
                </div>

                <button type="button" data-handler="close-modal" class="modal__close">
                  <span class="visually-hidden">Sluiten</span>
                </button>
              </div>
            </div>

            <div id="modal-2" class="modal modal--wide modal--off-screen" hidden role="alert">
              <div class="modal__inner">
                <div class="modal__content">
                  <div class="align-center">
                    <p class="jumbotron__subheader">Deze zoekopdracht bewaren</p>
                    <h1 class="jumbotron__header">Meld je aan voor de mail</h1>
                    <p class="jumbotron__intro">Schrijf u in en ontvang dagelijks een update in uw inbox over alles wat er bij u in de buurt gebeurt.</p>
                  </div>
                  <form class="form">
                    <fieldset>
                      <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
                      <div class="form__row">
                        <div class="input-inputsubmit ">

  <div class="input-inputsubmit__grid">
    <label  for="">Uw e-mailadres</label>
    <input id="" type="text" class="input " placeholder="Uw e-mailadres" />
    <button class="button button--primary"><span>Bevestigen</span></button>
  </div>
</div>

                      </div>
                    </fieldset>
                  </form>
                </div>
                <button type="button" data-handler="close-modal" class="modal__close">
                  <span class="visually-hidden">Sluiten</span>
                </button>
              </div>
            </div>

          </div>

          <div class="form__row form__row--large">
            <h3>Geselecteerde filters (2)</h3>
            <div class="form__selectedfilter ">
  Gezocht op &quot;leveringen&quot;
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>
<div class="form__selectedfilter ">
  Bouwvergunning
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>
<div class="form__selectedfilter ">
  APV vergunning
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>

          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Gebied <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>

              </legend>
                <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-radio-1" name="publicatie" />
    <label class="radio__label" for="option-radio-1">
      Berichten rond mijn adres
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-radio-2" name="publicatie" />
    <label class="radio__label" for="option-radio-2">
      Berichten in mijn gemeente
    </label>
  </div>

            </fieldset>
          </div>

          <div data-decorator="init-form-conditionals">


            <div id="citem-0" class="form__row form__row--large js-form-conditionals__citem">
              <fieldset>
                <legend>Publicatiedatum
                <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>

                </legend>
                  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-radio-1112312312" name="publicatie" />
    <label class="radio__label" for="option-radio-1112312312">
      Vandaag
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-radio-21231232" name="publicatie" />
    <label class="radio__label" for="option-radio-21231232">
      Afgelopen week
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-radio-3312312312" name="publicatie" />
    <label class="radio__label" for="option-radio-3312312312">
      Afgelopen maand
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"  disabled type="radio"  id="option-radio-412312313" name="publicatie" />
    <label class="radio__label" for="option-radio-412312313">
      Afgelopen 2 maanden
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio" data-linkedto="1" id="option-radio-51222" name="publicatie" />
    <label class="radio__label" for="option-radio-51222">
      Zelf een periode kiezen
    </label>
  </div>

              </fieldset>
            </div>

            <div id="citem-1" class="form__row form__row--large js-form-conditionals__citem u-margin-top--24">
              
  <label for="input--1">Van</label>
  <div class="datepicker">
    <input type="date" value="2015-02-14" data-date="14-02-2015" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy", "range" : "true", "rangePosition": "from", "rangeRelation":"#input--2" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>

  <label for="input--2">Tot</label>
  <div class="datepicker">
    <input type="date" value="2015-02-14" data-date="14-02-2015" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy", "range" : "true", "rangePosition": "to", "rangeRelation":"#input--1" }' id="input--2" placeholder="" />
  </div>


            </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Onderwerpen <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
              <div data-decorator="showmoreless" data-config='{"amount": "4"}'>
  <ul class="list list--unstyled">


<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Aanlegvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Aanlegvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Aanlegvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Aanlegvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Apv vergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Apv vergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Bodembeschermingsvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Bodembeschermingsvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Bouwvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Bouwvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Drank- en horecavergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Drank- en horecavergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Evenementenvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Evenementenvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Exploitatievergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Exploitatievergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Gebruiksvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Gebruiksvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Gedoogbesluit"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Gedoogbesluit
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Gehandicaptenparkeervergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Gehandicaptenparkeervergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Geluidvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Geluidvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Grondwateronttrekkingsvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Grondwateronttrekkingsvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Grondwatervergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Grondwatervergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="In- en uitritvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      In- en uitritvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Kapvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Kapvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Keurvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Keurvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Ligplaatsvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Ligplaatsvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Lozingsmelding"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Lozingsmelding
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Lozingsvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Lozingsvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Marktvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Marktvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Milieueffectrapportage besluit"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Milieueffectrapportage besluit
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Milieuvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Milieuvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Monumentenvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Monumentenvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Natuurbeschermingsvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Natuurbeschermingsvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Omgevingsvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Omgevingsvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Ontgrondingenvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Ontgrondingenvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Ontheffing flora en faunawet"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Ontheffing flora en faunawet
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Ontheffing ligplaatsverbod"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Ontheffing ligplaatsverbod
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Ontheffing stortverbod"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Ontheffing stortverbod
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Onttrekkingsvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Onttrekkingsvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Reclamevergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Reclamevergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Sloopvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Sloopvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Speelautomatenvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Speelautomatenvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Splitsingsvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Splitsingsvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Standplaatsvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Standplaatsvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Stookvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Stookvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Terrasvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Terrasvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Uitstallingvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Uitstallingvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Verkeersbesluit"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Verkeersbesluit
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Vestigingsvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Vestigingsvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Vuurwerkvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Vuurwerkvergunning
    </label>
  </div>

</li>

  </ul>
</div>


            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Voorlichting <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
              <div data-decorator="showmoreless" data-config='{"amount": "4"}'>
  <ul class="list list--unstyled">


<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Aankondiging"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Aankondiging
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Huisafval"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Huisafval
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Inspraak"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Inspraak
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Mededelingen"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Mededelingen
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Meldingen"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Meldingen
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Openingstijden"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Openingstijden
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Overig"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Overig
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Rectificatie"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Rectificatie
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Verkiezingen"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Verkiezingen
    </label>
  </div>

</li>

  </ul>
</div>


            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Bestemming <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
              <div data-decorator="showmoreless" data-config='{"amount": "4"}'>
  <ul class="list list--unstyled">


<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Bestemmingsplan"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Bestemmingsplan
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Voorbereidingsbesluit"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Voorbereidingsbesluit
    </label>
  </div>

</li>

  </ul>
</div>


            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Voorschriften <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
              <div data-decorator="showmoreless" data-config='{"amount": "4"}'>
  <ul class="list list--unstyled">


<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Aanwijzingsbesluit"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Aanwijzingsbesluit
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Agenda en notulen"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Agenda en notulen
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Belastingbesluit"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Belastingbesluit
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Besluitenlijst"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Besluitenlijst
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Collectevergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Collectevergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Delegatiebesluit"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Delegatiebesluit
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Gemeenschappelijke regelingen"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Gemeenschappelijke regelingen
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Kansspelvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Kansspelvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Loterijvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Loterijvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Milieu-informatie"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Milieu-informatie
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Milieuverordening"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Milieuverordening
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Optochtvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Optochtvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Peilbesluit"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Peilbesluit
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Register kinderopvang"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Register kinderopvang
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Stedelijk waterplan"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Stedelijk waterplan
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Streekplan"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Streekplan
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Stroomgebiedsvisie"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Stroomgebiedsvisie
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Structuurvisie"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Structuurvisie
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Vaarvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Vaarvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Ventvergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Ventvergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Vervoer gevaarlijke stoffen vergunning"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Vervoer gevaarlijke stoffen vergunning
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Verordeningen en reglementen"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Verordeningen en reglementen
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name=""  value="Waterbeheersplan"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Waterbeheersplan
    </label>
  </div>

</li>

  </ul>
</div>


            </fieldset>
          </div>

          <a href="#" class="js-fixedbottom-button__button modal-sidebar__submit button button--primary" hidden data-decorator="init-sticky" data-config='{"position":"bottom"}'>Opnieuw zoeken</a>

        </div>




        <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
          <span class="visually-hidden">Sluiten</span>
        </button>

      </div>

    </div>
  </div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>



  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

