

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container">
  <div class="row row--spacer">

<div class="jumbotron">
  <div class="jumbotron__content jumbotron__content--centered jumbotron__content--centered">
    <div class="jumbotron__heading jumbotron__heading--centered">
      <p class="jumbotron__subheader">Berichten over uw buurt</p>
      <h1 class="jumbotron__header ">Wat speelt er in úw buurt</h1>
        <p class="jumbotron__intro">
          Alle vergunningen, plannen en plaatselijke regelgevingen die direct invloed hebben op jouw buurt in één archief.
        </p>
    </div>
    
          <form class="form" data-decorator="init-form-validation">
            <fieldset>
              <legend class="visually-hidden">Zoek berichten</legend>
              <div class="form__row ">
                <div class="columns">
                  <div class="form__row form__row--medium">
                    

  <label for="input-text-2" class="form__label form__label--accent">Postcode</label>

  <span class="mandatory">Verplicht</span>


  <input
    type="text"
    id="input-text-2"
    name="2"
    class="input input-text input-text--medium  "
    placeholder="Bijv. 12A"
    
    aria-invalid="false"
    placeholder="Bijv. 12A"
    required
    
    
    data-pattern-type="zipcode"
    

/>




                  </div>
                  <div class="form__row form__row--medium">
                    <div class="relative">


  <label for="input-text-1" class="form__label form__label--accent">Huisnummer + toev.</label>

  


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text input-text--medium  "
    placeholder="Bijv. 12A"
    
    aria-invalid="false"
    placeholder="Bijv. 12A"
    
    
    
    
    

    data-decorator="toggle-remove-visibility"
    />


  <a href="#" class="input-text__remove invisible" data-handler="empty-input" ><span class="visually-hidden">Wis waarde</span></a>
</div>


                  </div>
                  <div class="form__row form__row--medium">
                    <label class="form__label form__label--accent" for="">Straal</label>
                    <span class="mandatory">Verplicht</span>
                    <div class="select-custom select-custom--large">
                      <select>
                        <option>250m</option>
                        <option>1km</option>
                        <option>2km</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form__row align-right">
                <button type="submit" class="form__button button button--primary button--large">Zoek berichten</button>
              </div>
            </fieldset>
          </form>
    
  </div>
</div>

  </div>
  <div class="row">
    <div class="columns">
      <div class="column column-d-5 u-order--d2"><div class="video" data-decorator="init-video">
  <div class="video__video">
     <img src="https://via.placeholder.com/1200x700.jpg?text=video+player" alt="placeholder voor de video player"/>
  </div>
  <div class="video__placeholder">
    <img src="../../images/temp/Landing-OverBOUB.jpg" alt="" />
    <div class="video__play"><button class="video__play__trigger"><span class="visually-hidden">Start video 'video naam'</span></button></div>
  </div>
</div>
</div>
      <div class="column column-d-7 column--padded-large">
        <div class="block-content   ">
    <p class="block-content__subheading">
      <i>Berichten over uw buurt</i>
    </p>
  <h2 class="block-content__heading">Altijd op de hoogte van besluiten in uw buurt</h2>
    <p>Besluiten zoals vergunningen, bouwplannen en plaatselijke regelgeving kunnen van invloed zijn op uw woonomgeving. Uw gemeente en andere overheidsinstanties publiceren deze besluiten op berichten over uw buurt. Wat dit voor u betekent leggen we graag uit. </p>
    <p>
      <a href="#" class="button ">Meer informatie</a>
    </p>
</div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="column column-d-5"><picture>
  <img src="../../images/temp/Landing-Archief.jpg" alt="" />
</picture>
</div>
      <div class="column column-d-7 column--padded-large">
        <div class="block-content   ">
    <p class="block-content__subheading">
      <i>Berichten ouder dan 8 weken</i>
    </p>
  <h2 class="block-content__heading">Op zoek naar een ouder besluit?</h2>
    <p>Berichtgeving over een besluit blijft 8 weken beschikbaar via berichten over uw buurt. Na deze periode vindt u deze besluiten op ‘Officiële bekendmakingen’. In deze originele bron kunt u zoeken naar alle publicaties die betrekking hebben op uw omgeving.</p>
    <p>
      <a href="" class="button ">Zoek in oudere besluiten</a>
    </p>
</div>

      </div>

    </div>
  </div>

  <div class="row row--spacer">

<div class="jumbotron jumbotron--slim">
  <div class="jumbotron__content jumbotron__content--centered jumbotron__content--centered">
    <div class="jumbotron__heading jumbotron__heading--centered">
      <p class="jumbotron__subheader">Automatisch op de hoogte blijven van gebeurtenissen in uw buurt?</p>
      <h2 class="jumbotron__header ">Meld je aan voor de mail service</h2>
    </div>
          <form class="form" data-decorator="init-form-validation">
            <fieldset>
              <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
              <div class="form__row">
                <div class="input-inputsubmit ">

  <div class="input-inputsubmit__grid">
    <label class="visually-hidden"  for="101">Uw e-mailadres</label>
    <input id="101" required type="email" class="input " placeholder="Uw e-mailadres" />
    <button class="button button--primary"><span>Aanmelden</span></button>
  </div>
</div>

              </div>
            </fieldset>
          </form>
  </div>
</div>

  </div>

</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>



  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; left: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

