

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container row">
  <div class="columns columns--sidebar-left">
    <div class="column">

      <div class="row row--spacer">
          <div class="sort ">
  <div class="columns">
    <div class="column">
      Sorteer op:
      <ul class="sort__options">
          <li>
            <a href="" class="sort--ascending is-active" aria-pressed="true"><span class="visually-hidden">Sorteer op: </span>Datum</a>
          </li>
          <li>
            <a href="" class="sort--ascending " aria-pressed="false"><span class="visually-hidden">Sorteer op: </span>Titel</a>
          </li>
      </ul>
    </div>
      <div class="column d-align-right">
          Aantal:
          <ul class="sort__options">
            <li>
              <a href="" class="is-active" aria-pressed="true"><span class="visually-hidden">Toon </span>10<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
            <li>
              <a href="" class="" aria-pressed="false"><span class="visually-hidden">Toon </span>20<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
            <li>
              <a href="" class=""  aria-pressed="false"><span class="visually-hidden">Toon </span>50<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
          </ul>

      </div>
  </div>
</div>

      </div>

      <h1 class="h1 h1--large">Zoekresultaten
        <span class="h1__sub">1-10 van de 105 resultaten</span>
      </h1>

      <div class="hidden-desktop align-right">
        <button class="button button--primary block-element button--icon-filter" data-decorator="init-modalsidebar" data-handler="open-modalsidebar"
          data-modal="modal-filter">Filter opties (3)</button>
      </div>


  <div class="row row--large">
     <div class="result--list result--list--wide">
  <ul>
    <li>


        <p class="result--label"><i><span class="label ">Nieuw vandaag</span></i></p>


        <h2 class="result--title ">Voortgangsrapportage CTIVD over de werking Wiv2017</h2>

        <ul class="list--metadata">
            <li>Datum uitspraak: 15-05-2009</li>
            <li>Datum publicatie: 15-05-2009</li>
            <li>ECLI:NL:NOGIETS</li>
        </ul>

       <p>Het rapport bevat de bevindingen van de Commissie van Toezicht op de Inlichtingen- en Veiligheidsdiensten inzake de werking van de Wet op de inlichtingen en veiligheidsdiensten 2017</p>





        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk publicatie</a></li>
        </ul>


    </li>
    <li>


        <p class="result--label"><i><span class="label ">Nieuw vandaag</span></i></p>


        <h2 class="result--title ">Voortgangsrapportage CTIVD over de werking Wiv2017</h2>

        <ul class="list--metadata">
            <li>Datum uitspraak: 15-05-2009</li>
            <li>Datum publicatie: 15-05-2009</li>
            <li>ECLI:NL:NOGIETS</li>
        </ul>

       <p>Het rapport bevat de bevindingen van de Commissie van Toezicht op de Inlichtingen- en Veiligheidsdiensten inzake de werking van de Wet op de inlichtingen en veiligheidsdiensten 2017</p>





        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk publicatie</a></li>
        </ul>


    </li>
    <li>


        <p class="result--label"><i><span class="label ">Nieuw vandaag</span></i></p>


        <h2 class="result--title ">Voortgangsrapportage CTIVD over de werking Wiv2017</h2>

        <ul class="list--metadata">
            <li>Datum uitspraak: 15-05-2009</li>
            <li>Datum publicatie: 15-05-2009</li>
            <li>ECLI:NL:NOGIETS</li>
        </ul>

       <p>Het rapport bevat de bevindingen van de Commissie van Toezicht op de Inlichtingen- en Veiligheidsdiensten inzake de werking van de Wet op de inlichtingen en veiligheidsdiensten 2017</p>





        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk publicatie</a></li>
        </ul>


    </li>
  </ul>
</div>

     <div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>

  </div>

    </div>
    <div class="column column--sidebar">

      <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-fixedbottom-button">

        <div class="modal-sidebar__content" >

          <div class="row--spacer">
            <h2>Zoekfilter</h2>
            <div class="row">
              <p><a href="#" class="icon icon--refresh">Alle filters verwijderen</a></p>
            </div>

          <div class="form__row form__row--large">
            <h3 class="h4">Geselecteerde filters (2)</h3>
            <div class="form__selectedfilter ">
  Gezocht op <span>leveringen</span>
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>
<div class="form__selectedfilter ">
  Bouwvergunning
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>
<div class="form__selectedfilter ">
  APV vergunning
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>

          </div>

          <form id="formid">

            <div class="form__row form__row--large">
              <fieldset>
                <legend>Zoekwoord(en)</legend>
                <a href="#" class="reset">
                  <small>Herstel <span class="visually-hidden">zoekwoord(en)</span></small>
                </a>
                <div class="form__row">
                  <div class="input-inputsubmit input-inputsubmit--s">

  <div class="input-inputsubmit__grid">
    <label class="visually-hidden"  for="">Verfijn uw zoekopdracht</label>
    <input id=""  type="text" class="input " placeholder="Woord(en) of zinsdeel" />
    <button class="button button--primary"><span>Zoek</span></button>
  </div>
</div>

                </div>
                <div class="form__row">
                    <div role="radiogroup">
  <label class="form__label " for="1">Zoekwoord(en) in</label>
  <div class="input-group  input-group--flex">
        <div class="input-group__item">
          <input class="input-group__input" checked  type="radio" id="option-checkbox-4012312312312" name="onderwerp45" />
          <label class="input-group__label" for="option-checkbox-4012312312312">
            Uitspraak
          </label>
        </div>
        <div class="input-group__item">
          <input class="input-group__input"   type="radio" id="option-checkbox-4023232131321" name="onderwerp45" />
          <label class="input-group__label" for="option-checkbox-4023232131321">
            Inhoudsindicatie
          </label>
        </div>
  </div>
  </div>



                </div>
              </fieldset>
            </div>

            <div data-decorator="init-form-conditionals">

              <div id="citem-0" class="form__row form__row--large js-form-conditionals__citem">
                <fieldset>
                  <legend>Domein <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
                  <a href="#" class="reset">
                    <small>Herstel <span class="visually-hidden">het domein</span></small>
                  </a>
                  <div class="form__row">
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary "></div>
  <div id="modal-13131232" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer domein</h2>
                <div class="" data-decorator="init-formreset">
                  <p><a href="#" class="icon icon--refresh formreset-resetlink">Reset keuze</a></p>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"  checked  data-linkedto="1"
                         type="radio" id="option-4" name="name"  data-value="Accountants"
                        value="2" />
                      <label class="radio__label" for="option-4">
                        Accountants
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"    data-linkedto="2"
                         type="radio" id="option-5" name="name"  data-value="Advocaten"
                        value="2" />
                      <label class="radio__label" for="option-5">
                        Advocaten
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"    data-linkedto="2"
                         type="radio" id="option-6" name="name"  data-value="Diergeneeskunde"
                        value="2" />
                      <label class="radio__label" for="option-6">
                        Diergeneeskunde
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"    data-linkedto="2"
                         type="radio" id="option-634322" name="name"  data-value="Gerechtsdeurwaarders"
                        value="2" />
                      <label class="radio__label" for="option-634322">
                        Gerechtsdeurwaarders
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"    data-linkedto="2"
                         type="radio" id="option-643433333" name="name"  data-value="Gezondheidszorg"
                        value="2" />
                      <label class="radio__label" for="option-643433333">
                        Gezondheidszorg
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"    data-linkedto="2"
                         type="radio" id="option-6233433" name="name"  data-value="Notarissen"
                        value="2" />
                      <label class="radio__label" for="option-6233433">
                        Notarissen
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"    data-linkedto="2"
                         type="radio" id="option-6234324234" name="name"  data-value="Scheepvaart"
                        value="2" />
                      <label class="radio__label" for="option-6234324234">
                        Scheepvaart
                      </label>
                    </div>
                  </li>
                </ul>

            </div>

        <div class="modal__buttonpane">
            <button type="submit" class="button button--primary">Opnieuw zoeken</button>
        </div>
        
      </div>
    </div>
  </div>
  <a href="#" id="id13131232" data-handler="open-modal" data-modal="modal-13131232" class="subselection__trigger icon">Selecteer domein</a>
</div>

                  </div>
                </fieldset>
              </div>

              <div id="citem-1" class="form__row form__row--large js-form-conditionals__citem">
                <fieldset>
                  <legend>Accountants</legend>
                  <div class="form__row">
                    <h3 class="form__label">Instanties</h3>
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary "></div>
  <div id="modal-13" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer instantie(s)</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--13"></label>
              <input type="text" aria-controls="resultfilter-13" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--13" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-13" aria-live="polite">
              <legend class="visually-hidden">Selecteer instantie(s)</legend>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-4443" name="name"  data-value="Instantie 1"
                        value="2" />
                      <label class="checkbox__label" for="option-4443">
                        Instantie 1
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-5443" name="name"  data-value="Instantie 2"
                        value="2" />
                      <label class="checkbox__label" for="option-5443">
                        Instantie 2
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-6443" name="name"  data-value="Instantie 3"
                        value="2" />
                      <label class="checkbox__label" for="option-6443">
                        Instantie 3
                      </label>
                    </div>
                  </li>
                </ul>

            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id13" data-handler="open-modal" data-modal="modal-13" class="subselection__trigger icon">Selecteer instantie(s)</a>
</div>

                  </div>
                  <div class="form__row">
                    <h3 class="form__label">Beroepsgroep</h3>
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary "></div>
  <div id="modal-1313123222" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer beroepsgroep</h2>
                <div class="" data-decorator="init-formreset">
                  <p><a href="#" class="icon icon--refresh formreset-resetlink">Reset keuze</a></p>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-41234214123" name="name"  data-value="Beroepsgroep 1"
                        value="2" />
                      <label class="radio__label" for="option-41234214123">
                        Beroepsgroep 1
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-57789762" name="name"  data-value="Beroepsgroep 2"
                        value="2" />
                      <label class="radio__label" for="option-57789762">
                        Beroepsgroep 2
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-6576" name="name"  data-value="Beroepsgroep 3"
                        value="2" />
                      <label class="radio__label" for="option-6576">
                        Beroepsgroep 3
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-634322676" name="name"  data-value="Beroepsgroep 4"
                        value="2" />
                      <label class="radio__label" for="option-634322676">
                        Beroepsgroep 4
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-643433333676767" name="name"  data-value="Beroepsgroep 5"
                        value="2" />
                      <label class="radio__label" for="option-643433333676767">
                        Beroepsgroep 5
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-6233433676565" name="name"  data-value="Beroepsgroep 6"
                        value="2" />
                      <label class="radio__label" for="option-6233433676565">
                        Beroepsgroep 6
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-62343242344367" name="name"  data-value="Beroepsgroep 7"
                        value="2" />
                      <label class="radio__label" for="option-62343242344367">
                        Beroepsgroep 7
                      </label>
                    </div>
                  </li>
                </ul>

            </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id1313123222" data-handler="open-modal" data-modal="modal-1313123222" class="subselection__trigger icon">Selecteer beroepsgroep</a>
</div>

                  </div>
                  <div class="form__row">
                    <h3 class="form__label">Onderwerp</h3>
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary "></div>
  <div id="modal-1313123222126" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer onderwerp</h2>
                <div class="" data-decorator="init-formreset">
                  <p><a href="#" class="icon icon--refresh formreset-resetlink">Reset keuze</a></p>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-4123421412312222" name="name"  data-value="Onderwerp 1"
                        value="2" />
                      <label class="radio__label" for="option-4123421412312222">
                        Onderwerp 1
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-57789762212" name="name"  data-value="Onderwerp 2"
                        value="2" />
                      <label class="radio__label" for="option-57789762212">
                        Onderwerp 2
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-657622222" name="name"  data-value="Onderwerp 3"
                        value="2" />
                      <label class="radio__label" for="option-657622222">
                        Onderwerp 3
                      </label>
                    </div>
                  </li>
                </ul>

            </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id1313123222126" data-handler="open-modal" data-modal="modal-1313123222126" class="subselection__trigger icon">Selecteer onderwerp</a>
</div>

                  </div>
                  <div class="form__row">
                    <h3 class="form__label">Beslissing</h3>
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary "></div>
  <div id="modal-131312322212232" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer beslissing</h2>
                <div class="" data-decorator="init-formreset">
                  <p><a href="#" class="icon icon--refresh formreset-resetlink">Reset keuze</a></p>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-412342141231" name="name"  data-value="beslissing 1"
                        value="2" />
                      <label class="radio__label" for="option-412342141231">
                        beslissing 1
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-577897621" name="name"  data-value="beslissing 2"
                        value="2" />
                      <label class="radio__label" for="option-577897621">
                        beslissing 2
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-radio">
                      <input class="radio__input"     type="radio" id="option-65761" name="name"  data-value="beslissing 3"
                        value="2" />
                      <label class="radio__label" for="option-65761">
                        beslissing 3
                      </label>
                    </div>
                  </li>
                </ul>

            </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id131312322212232" data-handler="open-modal" data-modal="modal-131312322212232" class="subselection__trigger icon">Selecteer beslissing</a>
</div>

                  </div>
                </fieldset>
              </div>

              <div id="citem-2" class="form__row form__row--large js-form-conditionals__citem">
                <div class="alert alert--info">
                  U heeft een (ander) domein gekozen. Zoek opnieuw om te filteren binnen dit domein.<br/>
                    <button class="button button--text" type="submit" >Opnieuw zoeken</button>

                </div>
              </div>

            </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Zoek op</legend>
              <a href="#" class="reset">
                <small>Herstel <span class="visually-hidden">alle filters van 'ECLI' en 'Zoeknummer'</span></small>
              </a>
              <div class="form__row">
                <label class="form__label">ECLI</label>
                

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Op nummer zoeken</label>

  


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text   "
    placeholder="Bijv: BK001"
    
    aria-invalid="false"
    placeholder="Bijv: BK001"
    
    
    
    
    

/>




              </div>
              <div class="form__row">
                <label class="form__label">Zoeknummer</label>
                

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Op nummer zoeken</label>

  


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text   "
    placeholder="Bijv: BK001"
    
    aria-invalid="false"
    placeholder="Bijv: BK001"
    
    
    
    
    

/>




              </div>
            </fieldset>
            <fieldset>
              <legend>Zoek op datum</legend>
              <a href="#" class="reset">
                <small>Herstel <span class="visually-hidden">alle filters van 'zoek op datum'</span></small>
              </a>
              <div class="form__row">
                  <div role="radiogroup">
  <label class="form__label " for="7654">Datum van</label>
  <div class="input-group  ">
        <div class="input-group__item">
          <input class="input-group__input" checked  type="radio" id="option-checkbox-40123123123125" name="onderwerp455" />
          <label class="input-group__label" for="option-checkbox-40123123123125">
            Uitspraak
          </label>
        </div>
        <div class="input-group__item">
          <input class="input-group__input"   type="radio" id="option-checkbox-40232321313215" name="onderwerp455" />
          <label class="input-group__label" for="option-checkbox-40232321313215">
            Publicatie
          </label>
        </div>
  </div>
  </div>



              </div>
              <div class="form__row">
                <h3 class="form__label">Periode</h3>
                <div data-decorator="init-form-conditionals">
                  <div id="citem-1" class="js-form-conditionals__citem">
                    <div class="form__row">
                      <div id="1" class="select-custom ">
  <select>
      <option value="" data-linkedto="1" true>Alle</option>
      <option value="10" data-linkedto="2" selected>Op</option>
      <option value="20" data-linkedto="3" >Tot</option>
      <option value="30" data-linkedto="4" >Tussen</option>
  </select>
</div>

                    </div>
                  </div>

                  <div id="citem-2" class="js-form-conditionals__citem">
                      <div class="datepicker">
    <input type="date"  value="" data-date="" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>


                  </div>
                  <div id="citem-3" class="js-form-conditionals__citem">
                      <div class="datepicker">
    <input type="date"  value="" data-date="" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>


                  </div>
                  <div id="citem-4" class="js-form-conditionals__citem">
                    <div class="form__row">
                      <label for="" class="visually-hidden">Startdatum</label>
                        <div class="datepicker">
    <input type="date"  value="" data-date="" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>


                    </div>
                    <div class="form__row">
                      <label for="">en
                        <span class="visually-hidde">einddatum</span>:</label>
                        <div class="datepicker">
    <input type="date"  value="" data-date="" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>


                    </div>
                  </div>
              </div>
            </fieldset>
          </div>


          <a href="#" class="js-fixedbottom-button__button modal-sidebar__submit button button--primary" hidden data-decorator="init-sticky" data-config='{"position":"bottom"}'>Opnieuw zoeken</a>
          </form>
        </div>


        <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
          <span class="visually-hidden">Sluiten</span>
        </button>

      </div>

    </div>
  </div>
</div>

</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>



  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

