

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="">MijnOverheid.nl</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>


<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p></p>
  <ol>
    <li>
        <a href=#>Home</a></li>
    </li>
    <li>
        <a href=#>Overheidsinformatie</a></li>
    </li>
    <li>
        <a href=#>Internetconsultatie</a></li>
    </li>
    <li>
        NFP wijzigingspakket 2018-1
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container columns columns--sidebar-left row">
  <div>

    <h1>BESLISSINGex artikel 38 Wet tuchtrechtspraak accountants(Wtra)in de zaak met nummer17/2555Wtra AKvan15oktober 2018van</h1>

    <div class="collapsible " data-decorator="init-collapsible" id="id1">
      <div class="collapsible__header">
        <a href="#id1" aria-controls="collapsible-content-id1" aria-expanded="true" data-handler="toggle-collapsible">Meta gegevens</a>
      </div>
      <div class="collapsible__content" id="collapsible-content-id1">
        <table>
          <tr>
            <td>ECLI:</td>
            <td>ECLI:NL:TACAKN:2018:73</td>
          </tr>
          <tr>
            <td>Datum&nbsp;uitspraak:</td>
            <td>15-10-2018</td>
          </tr>
          <tr>
            <td>Datum&nbsp;publicatie:</td>
            <td>15-10-2018</td>
          </tr>
          <tr>
            <td>Zaaknummer(s):</td>
            <td>17/2555 Wtra AK </td>
          </tr>
          <tr>
            <td>Onderwerp:</td>
            <td></td>
          </tr>
          <tr>
            <td>Beslissingen:</td>
            <td>Klacht gegrond met berisping </td>
          </tr>
          <tr>
            <td>Inhoudsindicatie:</td>
            <td>Als een accountant een professionele dienst voor iemand verricht (betaald of onbetaald) en in de hoedanigheid van accountant
              contact zoekt met een ander en deze vraagt om informatie, dient hij of zij zich vanaf het eerste contact als accountant
              kenbaar te maken, zodat degene met wie contact wordt gezocht adequaat daarop kan reageren. Door dit niet te doen heeft
              betrokkene niet eerlijk en oprecht opgetreden en daarmee het in artikel 6 van de VGBA neergelegde fundamentele beginsel
              van integriteit geschonden.Betrokkene heeft verder in strijd met genoemd fundamenteel beginsel gehandeld door op persoonlijke
              titel lid van klaagster te worden, op persoonlijke titel inzage in de jaarrekening en de daarvoor vereiste toegang tot
              het hoofdkantoor te vragen en haar rol niet te verduidelijken, terwijl zij wist dat daarover bij klaagster onduidelijkheid
              bestond. Tot slot heeft betrokkene niet eerlijk en oprecht gehandeld door een journalist als partnerlid in te schrijven
              met het oogmerk deze toegang te geven tot bepaalde gegevens van klaagster, terwijl die journalist niet haar partner was
              en evenmin&nbsp; op hetzelfde adres als betrokkene stond ingeschreven. Maatregel: berisping.&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>

    <p>
      <strong>Vereniging X</strong>,<br>
      gevestigd te [plaats1],
    </p>
    <p>
      <strong>K L A A G S T E R</strong>,<br>
      raadsman: mr. B.E.J.M. Tomlow,
    </p>

    <p>t e g e n</p>

    <p>
      <strong>drs. Y</strong>,<br>
      registeraccountant,</p>
    <p>kantoorhoudende te [plaats2],</p>
    <p>
      <strong>B E T R O K K E N E</strong>.</p>
    <p>
      <br></br>
    </p>
    <p>
      <strong>1. Het verloop van de procedure</strong>
    </p>
    <p> </p>
    <p>1.1 De Accountantskamer heeft kennisgenomen van de aan partijen bekende stukken van het dossier in deze zaak, waaronder:</p>
    <p>- het op 5 december 2017 ingekomen klaagschrift van 4 december 2017 met bijlagen en</p>
    <p>- het op 20 februari 2018 ingekomen verweerschrift van 16 februari 2018 met bijlagen.</p>
    <p> </p>
    <p>1.2 De Accountantskamer heeft de klacht behandeld ter openbare zitting van 20 april 2018 waar zijn verschenen: namens klaagster:
      [A], bijgestaan door mr. B.E.J.M. Tomlow, advocaat te Utrecht, en betrokkene in persoon.</p>
    <p> </p>
    <p>1.3 Klaagster en betrokkene hebben op genoemde zitting hun standpunten doen toelichten (aan de hand van pleitaantekeningen,
      die aan de Accountantskamer zijn overgelegd) en toegelicht, alsmede doen antwoorden en/of geantwoord op vragen van de Accountantskamer.</p>
    <p>
    </p>
    <p>
      <strong>2. De vaststaande feiten</strong>
    </p>
    <p> </p>
    <p>Op grond van de inhoud van de gedingstukken en aan de hand van het verhandelde ter zitting stelt de Accountantskamer het
      volgende vast.</p>
    <p>
      <strong> </strong>
    </p>
    <p>2.1 Betrokkene is sinds [datum] als registeraccountant ingeschreven in het accountantsregister van thans de Nba en is als
      zelfstandig werkend accountant gevestigd te [plaats2].</p>
    <p> </p>
    <p>2.2 Klaagster is onderwerp van onderzoek van het TV-programma ‘[B]’ van [C]. Op [datum] is er in de uitzending aandacht aan
      klaagster besteed onder de titel: ‘[D]?’.</p>
    <p> </p>
    <p>2.3 Op [datum] hebben [E] (hierna: [E]) en [F] een artikel geplaatst op de website ‘[G]’ onder de titel ‘[H]’.</p>
    <p> </p>
    <p>2.4 Betrokkene heeft begin oktober 2017 telefonisch contact gezocht met klaagster met de vraag waarom leden van klaagster
      geen toegang hadden tot de jaarstukken van klaagster. Betrokkene heeft daarbij gevraagd naar de jaarrekening. Betrokkene
      heeft zich op 13 oktober 2017 ingeschreven als lid van klaagster, met [E] als partnerlid. [E] is geen partner van betrokkene.</p>
    <p>
    </p>
    <p>2.5 Klaagster heeft een haar gezonden vragenlijst van [C] (productie 3 bij het klaagschrift) overgelegd. Het betreft een
      WORD-document waarin zichtbaar is dat onder andere betrokkene op 25 oktober 2017 bij die vragenlijst opmerkingen heeft
      gemaakt.</p>
    <p> </p>
    <p>2.6 Op 30 oktober 2017 heeft klaagster een e-mail (productie 4 bij het klaagschrift) verzonden aan [F] van [C] (CC onder
      andere [E]). Hierin is onder meer opgenomen:</p>
    <p>“Wij begrijpen dat u [Y] onderzoek heeft laten doen. Als expert zou zij jaarrekeningen moeten kunnen lezen. Het is dan ook
      zeer bijzonder om te zien dat er door u gesteld wordt dat het negatieve resultaat over 2014, 2015 en 2016 ruim twee miljoen
      euro negatief zou bedragen, terwijl wij conform deze jaarrekeningen uitkomen 807.025 euro negatief.”.</p>
    <p> </p>
    <p>2.7 Naar aanleiding van een telefonisch verzoek van betrokkene op 2 november 2017 heeft klaagster op 3 november 2017 per
      e-mail (productie 1 bij het klaagschrift) bevestigd dat betrokkene op 9 november 2017 om 9.30 uur een afspraak heeft om
      het jaarverslag 2016 en de jaarrekening van 2016 van klaagster in te zien.</p>
    <p> </p>
    <p>2.8 Op 9 november 2017 heeft betrokkene om 9.14 uur in een e-mail (productie 2 bij het klaagschrift) aan klaagster geschreven:</p>
    <p>“Ik kom zojuist tot de ontdekking dat ik een lekke band heb en hier als eerste vandaag actie op zal moeten nemen. Ik vrees
      dat ik hier wel enige tijd voor uit moet trekken en kan dus niet op het afgesproken tijdstip in [plaats1] zijn. Mijn excuses
      en ik hoop dat mij vanmiddag/namiddag door u een 2de kans geboden wordt.</p>
    <p>In dat verband vraag ik uw aandacht voor mijn gedachten omtrent een onderhoud met de bestuurder/directeur. Ik waardeer het
      aanbod en maak dat zelden mee, echter ik wil er graag vanaf zien. Dat zou ook de totstandkoming van een afspraak moeten
      bevorderen daar dan geen rekening gehouden hoeft te worden met de agenda van de bestuurder. Nogmaals, het zou mij goed
      uitkomen als ik eea vanmiddag kan inzien. Ik stel voor rond 16 uur bij u in [plaats1] te zijn.</p>
    <p>Begrijp mij vooral niet verkeerd. Ik heb geen behoefte aan een gesprek omdat ik het niet functioneel en gepast vind om met
      derden te spreken over de observaties die ik heb over de jaarrekening, controleverklaring en de rol van de accountant,
      alvorens ik hier de accountant de mogelijkheid heb geboden tot hoor en wederhoor. Daarbij overviel u mij vrijdag met deze
      procedure maar heb ik niet gevraagd om een onderhoud met de bestuurder, ik wil echt alleen maar de jaarrekening inzien.
      Dat u hier toezicht op houdt is bijzonder maar daar zou ik het dan graag bij willen laten. Ik begreep de afgelopen dagen
      ook dat er nog geen antwoorden zijn gekomen op de vragen die eerder zijn gesteld en het lijkt mij dan een goede volgorde
      om daar vanuit [X] eerst op in te gaan.</p>
    <p>Tenslotte kwam mij een email onder ogen waar u mij met naam en toenaam in opneemt en uw vraagtekens plaatst bij hetgeen er
      door de journalisten is voorgelegd. Ik zou toch beter moeten weten. Het stoort mij dat ik hiervan op deze wijze kennis
      moet nemen. Wat u suggereert is niet cfm de werkelijkheid en ik had u met alle plezier toegelicht wat mijn rol en opdracht
      behelst. Uiteraard mag u schrijven en suggereren wat u wenst maar ik wil u niet onthouden dat dit niet up to my professional
      standards is en ik dit ook niet verwacht</p>
    <p>van een derde.</p>
    <p>Hoe het ook zij, ik kom graag vanmiddag langs en noteer voor de zekerheid 16 uur. Als het mij eerder lukt dan laat ik u dat
      weten. Dank voor uw begrip,”.</p>
    <p> </p>
    <p>2.9 Op 10 november 2017 heeft de raadsman van klaagster een brief (productie 5 bij het klaagschrift) aan betrokkene gestuurd.
      Hierin is onder meer de vraag gesteld:</p>
    <p>“in welke hoedanigheid wenst u inzage in de bovengenoemde jaarrekening. Is dit uitsluitend als lid of wenst u deze informatie
      ook in het kader van opdracht of samenwerking met derden en zo ja, in welke relatie staat u tot deze derden?”.</p>
    <p> </p>
    <p>2.10 Bij uitblijven van een reactie op de onder 2.9 vermelde brief heeft de raadsman van klaagster tweemaal een herinnering
      gestuurd (producties 6 en 7 bij het klaagschrift).</p>
    <p> </p>
    <p>
      <strong>3. De klacht</strong>
    </p>
    <p> </p>
    <p>3.1 Betrokkene heeft volgens klaagster gehandeld in strijd met de voor haar geldende gedrags- en beroepsregels.</p>
    <p> </p>
    <p>3.2 Ten grondslag aan de klacht liggen, zoals blijkt uit het klaagschrift en de daarop door en namens klaagster gegeven toelichting,
      de volgende verwijten:</p>
    <p>a. betrokkene had vanaf het eerste contact met klaagster duidelijkheid dienen te verschaffen over haar hoedanigheid;</p>
    <p>b. betrokkene heeft in oneigenlijke hoedanigheid getracht toegang te krijgen tot het [X] hoofdkantoor en tot de [X] jaarrekening;</p>
    <p>c. betrokkene heeft op valse gronden een partnerlid opgegeven.</p>
    <p> </p>
    <p>3.3 Wat door of namens klaagster bij de mondelinge behandeling als nieuwe standpunten naar voren is gebracht, is door de
      Accountantskamer niet opgevat als nieuwe klachtonderdelen (waarvan de inbreng op een dergelijk laat tijdstip overigens
      ook in strijd zou zijn met de beginselen van een behoorlijke procesorde) maar - voor zover het daartoe kan dienen - als
      ondersteuning van de betwisting van het gestelde in de door of namens betrokkene gegeven weerspreking van de klacht.</p>
    <p>
    </p>
    <p>
      <strong>4. De gronden van de beslissing</strong>
    </p>
    <p> </p>
    <p>Over de klacht en het daartegen gevoerde verweer overweegt de Accountantskamer het volgende.</p>
    <p> </p>
    <p>4.1 Op grond van artikel 42 van de Wet op het accountantsberoep (hierna: Wab) is de accountant ten aanzien van de uitoefening
      van zijn beroep onderworpen aan tuchtrechtspraak ter zake van enig handelen of nalaten in strijd met het bij of krachtens
      de Wab bepaalde en ter zake van enig ander handelen of nalaten in strijd met het belang van een goede uitoefening van het
      accountantsberoep.</p>
    <p> </p>
    <p>4.2 Het handelen en/of nalaten waarop de klacht betrekking heeft moet, nu dit plaatshad ná 4 januari 2014, worden getoetst
      aan de sindsdien geldende Verordening gedrags- en beroepsregels accountants (VGBA).</p>
    <p> </p>
    <p>4.3 Daarbij stelt de Accountantskamer voorop dat het in een tuchtprocedure als de onderhavige in beginsel aan klaagster is
      om feiten en omstandigheden te stellen en - in geval van (gemotiveerde) betwisting - aannemelijk te maken, die tot het
      oordeel kunnen leiden dat de betrokken accountant tuchtrechtelijk verwijtbaar heeft gehandeld.</p>
    <p> </p>
    <p>
      <em>klachtonderdeel 3.2.a</em>
    </p>
    <p> </p>
    <p>4.4 Betrokkene heeft op de zitting verklaard dat zij via de tussenkomst van [I] (hierna: [I]) en [E] van [G] op de hoogte
      is gebracht van de onderzoeken naar klaagster en dat zij, omdat zij accountant is, door hen in contact is gebracht met
      in ieder geval één lid en één ex-lid van klaagster. Betrokkene heeft daarnaast verklaard namens deze leden, die nadere
      informatie wilden van klaagster, contact te hebben gezocht met klaagster.</p>
    <p> </p>
    <p>4.5 De Accountantskamer stelt vast dat betrokkene aldus is aangezocht als accountant om het onderzoek van in ieder geval
      twee personen (een lid en een ex-lid van klaagster) te ondersteunen en dat zij in haar rol van accountant contact heeft
      gezocht met klaagster, zonder haar hoedanigheid (van accountant) te vermelden. Niet in geschil is dat de door betrokkene
      verrichte werkzaamheden zijn aan te merken als professionele dienst in de zin van artikel 1 van de VGBA. De Accountantskamer
      is van oordeel dat als een accountant een professionele dienst voor iemand verricht (betaald of onbetaald) en in de hoedanigheid
      van accountant contact zoekt met een ander en deze vraagt om informatie, hij of zij zich vanaf het eerste contact als accountant
      dient kenbaar te maken, zodat degene met wie contact wordt gezocht daar adequaat op kan reageren. Door zich, al dan niet
      opzettelijk, niet kenbaar te maken als accountant heeft betrokkene, naar het oordeel van de Accountantskamer, niet eerlijk
      en oprecht opgetreden en daarmee het in artikel 6 van de VGBA neergelegde fundamentele beginsel van integriteit geschonden.
      Dit klachtonderdeel dient gegrond verklaard te worden.</p>
    <p> </p>
    <p>
      <em>klachtonderdeel 3.2.b</em>
    </p>
    <p> </p>
    <p>4.6 Betrokkene heeft uiteenlopend verklaard over het feit of zij wel of niet in opdracht heeft gehandeld. In het licht van
      de verklaringen op de zitting en van de vaststaande feiten, waaronder de e-mail van 9 november 2017 waarin betrokkene schrijft
      over “mijn rol en opdracht”, heeft betrokkene naar het oordeel van de Accountantskamer niet althans onvoldoende weersproken
      dat zij een opdracht had om als accountant werkzaamheden te verrichten, en wel ten behoeve van een lid en een ex-lid van
      klaagster en ten behoeve van [I] en [E]. Wat betreft het optreden voor het lid en ex-lid van klaagster, heeft betrokkene
      verklaard dat zij op advies van klaagster lid is geworden om zodoende inzage te krijgen in de jaarrekening van klaagster.
      Voor zover betrokkene daarmee bedoelt te betogen dat zij daarom niet tuchtrechtelijk verwijtbaar kan hebben gehandeld,
      faalt dit betoog. Zij heeft het immers doen voorkomen dat zijzelf persoonlijk in de jaarrekening geïnteresseerd was, terwijl
      zij de jaarrekening in het kader van haar accountantswerkzaamheden voor anderen wilde inzien. Door op persoonlijke titel
      lid van klaagster te worden en op persoonlijke titel inzage in de jaarrekening en de daarvoor vereiste toegang tot het
      hoofdkantoor te vragen, heeft betrokkene oneigenlijk gehandeld. De Accountantskamer neemt hierbij nog in aanmerking dat
      betrokkene blijkens haar hiervoor onder 2.8 weergegeven e-mail, waarin zij verwijst naar de onder 2.6 genoemde e-mail van
      30 oktober 2017, op 9 november 2017 al kennis had van de onduidelijkheid over haar rol bij klaagster. Betrokkene had hier
      een kans haar rol toe te lichten, maar heeft dat nagelaten. Betrokkene heeft hiermee, naar het oordeel van de Accountantskamer,
      niet eerlijk en oprecht opgetreden en daarmee artikel 6 van de VGBA geschonden. Dit klachtonderdeel dient gegrond te worden
      verklaard.</p>
    <p> </p>
    <p>
      <em>klachtonderdeel 3.2.c</em>
    </p>
    <p> </p>
    <p>4.7 Betrokkene heeft in haar verweer en op de zitting toegegeven dat zij [E] als haar partnerlid bij klaagster heeft opgegeven.
      Betrokkene stelt dat zij dit heeft gedaan nadat zij van klaagster te horen had gekregen dat een partnerlid niet per se
      een partner hoeft te zijn, maar ook een dochter kan zijn die op hetzelfde adres woont. Betrokkene heeft op de zitting verklaard
      dat zij [E] heeft geadviseerd om lid te worden, omdat een journalist anders wordt behandeld dan een lid en een lid beter
      wordt geïnformeerd.</p>
    <p> </p>
    <p>4.8 De Accountantskamer is van oordeel dat betrokkene desbewust journalist [E] partnerlid heeft gemaakt van klaagster om
      haar toegang te geven tot bepaalde gegevens van klaagster, terwijl [E] niet haar partner was en evenmin op hetzelfde adres
      als betrokkene stond ingeschreven. Betrokkene heeft aangevoerd dat [E] zes maanden op wereldreis zou gaan en gedurende
      die periode geen post op haar woonadres wilde ontvangen en dat het niet haar bedoeling was om [E] stiekem naar binnen te
      leiden. Met dit verweer heeft betrokkene allerminst de indruk kunnen wegnemen en daarmee niet voldoende weersproken dat
      de inschrijving van [E] als haar partner oneigenlijk was. Daarbij neemt de Acountantskamer in aanmerking dat betrokkene
      op de zitting heeft verklaard dat zij in haar contact met de ledenservice van klaagster niet heeft gemeld dat [E] journalist
      was en dat zij bovendien wist dat [I] en [E] al weken “aan het wroeten waren”. Ook ten aanzien van dit klachtonderdeel
      komt de Accountantskamer tot de conclusie dat betrokkene niet eerlijk en oprecht heeft opgetreden en daarmee artikel 6
      van de VGBA heeft geschonden. Dit klachtonderdeel dient gegrond te worden verklaard.</p>
    <p> </p>
    <p>4.9 Nu de klacht gegrond moet worden verklaard, kan de Accountantskamer een tuchtrechtelijke maatregel opleggen. Bij de beslissing
      daarover houdt zij rekening met de aard en de ernst van het verzuim van de betrokkene en de omstandigheden waaronder dit
      zich heeft voorgedaan. De Accountantskamer acht in deze klachtzaak de maatregel van berisping passend en geboden. Daarbij
      heeft de Accountantskamer er mede op gelet dat het van groot belang is dat een accountant de waarheid geen geweld aandoet
      en eerlijk en oprecht handelt. De Accountantskamer neemt verder in aanmerking dat betrokkene de onduidelijkheid over haar
      optreden bij klaagster niet heeft willen wegnemen en dat zij op de zitting evenmin heeft doen blijken inzicht te hebben
      in het tuchtrechtelijk verwijtbare karakter van haar handelen.Anderzijds is meegewogen dat aan betrokkene niet eerder een
      tuchtrechtelijke maatregel is opgelegd.</p>
    <p> </p>
    <p>4.10 Op grond van het hiervoor overwogene wordt als volgt beslist.</p>
    <p> </p>
    <p>
      <strong>5. Beslissing</strong>
    </p>
    <p>
      <strong> </strong>
    </p>
    <p>De Accountantskamer:</p>
    <p> </p>
    <p>· verklaart de klacht gegrond;</p>
    <p> </p>
    <p>· legt ter zake aan betrokkene op de maatregel van</p>
    <p> </p>
    <p>-
      <strong>berisping</strong>;</p>
    <p> </p>
    <p>· verstaat dat de AFM en de voorzitter van de Nba na het onherroepelijk worden van deze uitspraak én de uitvaardiging van
      een last tot tenuitvoerlegging door de voorzitter van de Accountantskamer, zorgen voor opname van deze tuchtrechtelijke
      maatregel in de registers, voor zover betrokkene daarin is of was ingeschreven;</p>
    <p> </p>
    <p>· verstaat dat, op grond van het bepaalde in artikel 23, derde lid Wtra, betrokkene het door klaagster betaalde griffierecht
      ten bedrage van € 70,-- (zeventig euro) aan klaagster vergoedt.</p>
    <p> </p>
    <p> </p>
    <p>Aldus beslist door mr. drs. M. Stempher, voorzitter, mr. A.L. Goederee en mr. G. van Rijssen (rechterlijke leden) en drs.
      W.J. Schoonderbeek RA en J. Maan AA (accountantsleden), in aanwezigheid van mr. H.J. Haanstra, secretaris, en uitgesproken
      in het openbaar op 15 oktober 2018.</p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p>_________ __________</p>
    <p>secretaris voorzitter</p>
    <p> </p>
    <p>Deze uitspraak is aan partijen verzonden op:_____________________________</p>
    <p> </p>
    <p>
      <p> </p>
      <p> </p>
      <p> </p>
      <p> </p>
      <p> </p>
      <p> </p>
    </p>
    <p> </p>
    <p>Ingevolge artikel 43 Wtra kan tegen deze uitspraak binnen 6 weken na de dag van verzending daarvan hoger beroep worden ingesteld
      door middel van het indienen van een beroepschrift bij het College van Beroep voor het bedrijfsleven (adres: Postbus 20021,
      2500 EA Den Haag). Het beroepschrift dient de gronden van het beroep te bevatten en te zijn ondertekend.</p>
    <p> </p>


  </div>


  <div>

    <p>
      <a href="#" class="link link--back">Startpagina</a>
    </p>

     <div >
  <h4 class="facet--heading">Meer informatie</h4>

  <ul class="list list--facet">
      <li class="list__item"><a href="#">Instanties Tuchtrecht</a></li>
  </ul>
</div>
     <div >
  <h4 class="facet--heading">Acties</h4>

  <ul class="list list--facet">
      <li class="list__item"><a href="#">Download PDF</a></li>
      <li class="list__item"><a href="#">Afdrukken</a></li>
  </ul>
</div>



  </div>

</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>



  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

