

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Preview</title>

  <script>
    document.documentElement.className = 'has-js';
  </script>

  <!-- only include this file if you would like to use the KPM module (kaartprikmodule) -->
  <script src="../../js/vendor/kpm.js"></script>

  <link rel="stylesheet" title="2" href="../../css/transition.css">
  <link rel="alternate stylesheet" title="1" href="../../css/generic.css">
  <link rel="stylesheet" href="../../css/print.css">

</head>
<body class="preview">
  <header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="link-iconed link-iconed--publication">English</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container row">
  <div class="row row--spacer">

<div class="jumbotron">
  <div class="jumbotron__content jumbotron__content--centered jumbotron__content--centered-medium">
    <div class="jumbotron__heading ">
      <p class="jumbotron__subheader">Overheidsdocumenten</p>
      <h1 class="jumbotron__header h2">Wegwijzer naar 2.635.121 actief openbaar gemaakte documenten van alle overheden</h1>
        <p class="jumbotron__intro">
          Intro.
        </p>
    </div>
    
    
            <form class="form">
              <div class="form__row form__row--large">
                <fieldset>
                  <legend class="visually-hidden">Doorzoek overheidsdocumenten</legend>
                  <div class="form__row form__row--medium">
                     <input type="text" class="input-text input-text--searchmedium" placeholder="Vul hier uw zoekwoord(en) in" />
                  </div>
                  <div class="form__row">
                    <ul class="list list--inline">
                      <li class="list__item">
                          <div class="input-radio">
    <input class="radio__input" value="" checked  type="radio"  id="option-1" name="zoek" />
    <label class="radio__label" for="option-1">
      Zoek alleen in titels
    </label>
  </div>

                      </li>
                      <li class="list__item">
                          <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-2" name="zoek" />
    <label class="radio__label" for="option-2">
      Zoek in de hele tekst
    </label>
  </div>

                      </li>
                    </ul>
                  </div>
    
                </fieldset>
              </div>
              <div class="columns columns--dominant">
                <div class="column">
    
                  <div class="form__row form__row--large">
                    <fieldset>
                      <legend>Datum beschikbaar <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
                      <div class="form__row form__row--medium">
                          <div class="input-radio">
    <input class="radio__input" value="" checked  type="radio"  id="option-checkbox-2220" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-2220">
      Alle
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-220" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-220">
      Vandaag
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-201" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-201">
      Afgelopen week
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-202" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-202">
      Afgelopen maand
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-203" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-203">
      Afgelopen 3 maanden
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-204" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-204">
      Zelf een periode kiezen
    </label>
  </div>

                      </div>
                      <div class="form__row">
                        <label>Startdatum</label>
                          <div class="datepicker">
    <input type="date"  value="" data-date="" class="datepicker__input " data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>


                        <a href="#" class="reset">
                          <small>Herstel</small>
                        </a>
                      </div>
                      <div class="form__row">
                        <label>Einddatum</label>
                          <div class="datepicker">
    <input type="date"  value="" data-date="" class="datepicker__input " data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>


                        <a href="#" class="reset">
                          <small>Herstel</small>
                        </a>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="column">
    
                  <div class="form__row form__row--large">
                    <fieldset>
                      <legend>Informatiesoort <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>

                      </legend>
                      <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span" }'>
  <div class="subselection__summary "></div>
  <div id="modal-122" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer informatiesoort(en)</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--122"></label>
              <input type="text" aria-controls="resultfilter-122" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--122" class="js-filterresults__input input-text input-text--searchmedium" />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-122" aria-live="polite">
              <legend class="visually-hidden">Selecteer informatiesoort(en)</legend>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-456" name="name"  data-value="Spanje"
                        value="2" />
                      <label class="checkbox__label" for="option-456">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-556" name="name"  data-value="Griekenland"
                        value="2" />
                      <label class="checkbox__label" for="option-556">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-656" name="name"  data-value="Nederland"
                        value="2" />
                      <label class="checkbox__label" for="option-656">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>

            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id122" data-handler="open-modal" data-modal="modal-122" class="subselection__trigger icon">Selecteer informatiesoort(en)</a>
</div>

                    </fieldset>
                  </div>
    
                  <div class="form__row form__row--large">
                    <fieldset>
                      <legend>Thema <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>

                      </legend>
                      <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span" }'>
  <div class="subselection__summary "></div>
  <div id="modal-16" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer thema(s)</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--16"></label>
              <input type="text" aria-controls="resultfilter-16" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--16" class="js-filterresults__input input-text input-text--searchmedium" />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-16" aria-live="polite">
              <legend class="visually-hidden">Selecteer thema(s)</legend>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-4" name="name"  data-value="Thema 1 Sub 1"
                        value="2" />
                      <label class="checkbox__label" for="option-4">
                        Thema 1 Sub 1
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-5" name="name"  data-value="Thema 1 Sub 2"
                        value="2" />
                      <label class="checkbox__label" for="option-5">
                        Thema 1 Sub 2
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-6" name="name"  data-value="Thema 1 Sub 3"
                        value="2" />
                      <label class="checkbox__label" for="option-6">
                        Thema 1 Sub 3
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-634322" name="name"  data-value="Thema 1 Sub 4"
                        value="2" />
                      <label class="checkbox__label" for="option-634322">
                        Thema 1 Sub 4
                      </label>
                    </div>
                  </li>
                </ul>

            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id16" data-handler="open-modal" data-modal="modal-16" class="subselection__trigger icon">Selecteer thema(s)</a>
</div>

                    </fieldset>
                  </div>
    
                  <div class="form__row form__row--large">
                    <fieldset>
                      <legend>Organisatie <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>

                      </legend>
                      <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span" }'>
  <div class="subselection__summary "></div>
  <div id="modal-1" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer organisatie(s)</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--1"></label>
              <input type="text" aria-controls="resultfilter-1" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--1" class="js-filterresults__input input-text input-text--searchmedium" />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-1" aria-live="polite">
              <legend class="visually-hidden">Selecteer organisatie(s)</legend>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-134" name="name"  data-value="Spanje"
                        value="2" />
                      <label class="checkbox__label" for="option-134">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-234" name="name"  data-value="Griekenland"
                        value="2" />
                      <label class="checkbox__label" for="option-234">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-334" name="name"  data-value="Nederland"
                        value="2" />
                      <label class="checkbox__label" for="option-334">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>

            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id1" data-handler="open-modal" data-modal="modal-1" class="subselection__trigger icon">Selecteer organisatie(s)</a>
</div>

                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="align-right">
                <ul class="list list--inline">
                  <li><button type="submit" class="button icon-bg button--erase">Leegmaken</button></li>
                  <li><button type="submit" class="button button--primary">Zoeken</button></li>
                </ul>
              </div>
    
            </form>
    
  </div>
</div>

    </div>
  </div>



  <div class="row row--spacer">
    <div class="jumbotron jumbotron--promo jumbotron--green">

      <div class="jumbotron__content">
        <div class="columns columns--center">
          <div class="column">
        <p class="jumbotron__subheader">Meld je aan voor de mail service</p>

        <h2 class="jumbotron__header h2">En blijf automatisch op de hoogte van al het nieuws over depositaire verdragen</h2>

        </div>
        <div class="column">
        <form class="form">
          <fieldset>
            <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
            <div class="form__row">
              <div class="input-inputsubmit ">

  <div class="input-inputsubmit__grid">
    <label class="visually-hidden"  for="101">Uw e-mailadres</label>
    <input id="101" required type="email" class="input " placeholder="Uw e-mailadres" />
    <button class="button button--primary"><span>Aanmelden</span></button>
  </div>
</div>

            </div>
          </fieldset>
        </form>

        </div>
        </div>

      </div>

    </div>
  </div>

</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>



  <script>

    (function () {

      var links = document.querySelectorAll('link[title]');
      var styles = new Array();
      for(var i = 0; i < links.length; i++) {
        styles.push(links[i].title);
      }

      var select = document.createElement('select');
      var title = localStorage.getItem('title');

      function selectStyle(title) {
        for(var i = 0; i < links.length; i++) {
          links[i].disabled = true;
          links[i].disabled = links[i].title !== title;
        }
        localStorage.setItem('title', title);
      }




    var myListener = function () {
      document.removeEventListener('mousemove', myListener, false);
      if (title) {
        selectStyle(title);
      }
      select.setAttribute('style', 'z-index:999; position: absolute; top: 0; right: 0; width: 20px;');
      for (var i = 0; i < styles.length; i++) {
        var option = document.createElement('option');
        option.text = 'CSS: ' + styles[i];
        option.value = styles[i];
        option.selected = styles[i] === title;
        select.add(option);
      }
      document.body.appendChild(select);

      select.addEventListener('change', function (event) {
        title = event.target.options[event.target.selectedIndex].value;
        selectStyle(title);
      });
    };

    document.addEventListener('mousemove', myListener, false);

    }());

  </script>

  <script src="../../js/main.js"></script>

</body>
</html>

