<fieldset class="form__element radiogroup">
  <legend>Wat is je favoriete Amerikaanse president?</legend>

  <label for="option-1">
    <input type="radio" id="option-1" name="presidents" />Barack Obama
  </label>

  <label for="option-2">
    <input type="radio" id="option-2" name="presidents" />Donald J. Trump
  </label>

  <label for="option-3">
    <input type="radio" id="option-3" name="presidents" />Hillary Clinton
  </label>

</fieldset>
