<div class="topbar">
  <div class="container">
    {{#if navItems}}
    <nav aria-label="Domein navigatie" class="topbar__nav">
      <ul>
        {{#each navItems}}
        <li>
          <a {{#if id}}id="{{id}}"{{/if}} href="{{href}}" {{#if active}}class="is-active"{{/if}}>{{label}}</a>
        </li>
        {{/each}}
      </ul>
    </nav>
    {{/if}}
  </div>
</div>
