.article__header--law {
  background: $lightGrey;
  padding: .5em 1em .5em .5em;
  margin: .25em 0;
  position: relative;
  @media (min-width: 50em) {
    display: table;
  }
  width: 100%;

  &--part {
    background: $lightBlue;
  }

  &--chapter {
    background: $bgBlue;
  }

  h2,
  h3,
  h4 {
    padding: 0;
    margin: 0;
    display: table-cell;
    width: calc(100% - 14em);
  }

  p {
    padding: 0;
    margin: 0;
    @media (min-width: 50em) {
      display: table-row;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    @media (min-width: 50em) {
      display: table-cell;
      width: 14em;
      text-align: right;
    }

  }

  li {
    display: inline-block;
    margin-right: .5em;
    line-height: 1;

    &:last-child {
      margin: 0;
      padding: 0;
    }

    a,button {
      display: inline-block;
      width: 1.25em;
      height: 1.25em;
      position: relative;
      border: 0;
      cursor: pointer;
      background: {
        color: transparent;
        repeat: no-repeat;
        size: 1em;
        position: center;
      }

      div {
        display: none;
        text-indent: -999em;
      }
    }
    button {
      font-family: inherit;
      height: 2em;
      width: 2em;
      background-size: 1.5em;
    }

    &:hover div {
      font-family: inherit;
      display: block;
      position: absolute;
      top: 2.25em;
      left: -2em;
      white-space: nowrap;
      min-width: 6em;
      padding: .4em;
      text-indent: 0;
      background: $white;
      color: $black;
      border: 1px solid $mediumGrey;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,.5);
      text-align: center;
      font-size: 0.85em;
      z-index: 2;
      clip: auto;
      height: auto;
      overflow: auto;
      width: auto;
    }
    &:hover button div {
      font-size: 1.25em;
    }

    &.action--version a,
    &.action--version button {
      background: {
        image: $infoIcon;
      }
    }

    &.action--compare a,
    &.action--compare button {
      background: {
        image: $compareIcon;
      }
    }

    &.action--relations a,
    &.action--relations button {
      background: {
        image: $relationsIcon;
        size: .85em;
      }
    }

    &.action--permalink a,
    &.action--permalink button {
      background: {
        image: $permalinkIcon;
      }
    }

    &.action--download {
      &:hover div {
        min-width: 4em;
        left: -1.25em;
      }
      a,button {
        background: {
          image: $downloadIcon;
        }
      }
    }

    &.action--print a,
    &.action--print button {
      background: {
        image: $printIcon;
      }
    }



  }
}

.article__header--main {
  background: $lightBlue;
  margin: 1em 0;

  p {
    display: table-cell;
    width: calc(100% - 14em);
  }
}
