.article__header--law {
  background: $lightGrey;
  padding: .5em;
  margin: .25em 0;
  position: relative;

  &--part {
    background: $lightBlue;
  }

  &--chapter {
    background: $bgBlue;
  }

  h2,
  h3,
  h4 {
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  p {
    padding: 0;
    margin: 0;
  }

@media ( min-width: 50em ) {
  p {
    display: inline-block;
  }
}


  ul {
    padding: 0;
    margin: 0;
    position: absolute;
    right: .5em;
    top: .5em;
  }

  li {
    display: inline-block;
    margin-right: .25em;
    padding-right: .25em;

    &:last-child {
      margin: 0;
      padding: 0;
    }

    a {
      display: inline-block;
      text-indent: -999em;
      width: 1.5em;
      height: 1.5em;
      background: {
        repeat: no-repeat;
        size: 1em;
        position: 50% 50%;
      }
    }

    &.action--version a {
      background: {
        image: $infoIcon;
      }
    }

    &.action--compare a {
      background: {
        image: $compareIcon;
      }
    }

    &.action--relations a {
      background: {
        image: $relationsIcon;
        size: .8em;
      }
    }

    &.action--permalink a {
      background: {
        image: $permalinkIcon;
      }
    }

    &.action--download a {
      background: {
        image: $downloadIcon;
      }
    }

    &.action--print a {
      background: {
        image: $printIcon;
      }
    }

  }
}
