<header class="header">

  <div class="header__start">
    <div class="container">
      <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
          <img src="../../images/logo.svg" alt="Overheid.nl logo" />
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
              <span>Beleid en regelgeving</span>
              <span>Wettenbank</span>
          </p>
      </div>

      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
        <a href="#search">Direct zoeken</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <div class="container">
      <h2 class="visually-hidden">Primaire navigatie</h2>
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
        <li><a href="#">Eenvoudig zoeken</a></li>
        <li><a href="#">Uitgebreid zoeken</a></li>
        <li><a href="#">Zoeken op EU-richtlijn</a></li>
      </ul>
      {{ render "@search" search merge="true" }}
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
<div class="header__more" id="other-sites">
  <div class="container">
    <div>
      <h2>Verdragenbank</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
    <div>
      <h2>Verdragenbank over twee regels</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
    <div>
      <h2>Verdragenbank</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
    <div>
      <h2>Verdragenbank</h2>
      <p>De Verdragenbank bevat de gegevens van de verdragen waarbij het Koninkrijk der Nederlanden partij is. Er is ook een Engelse versie.</p>
      <ul class="list list--linked">
        <li><a href="#">Verdragenbank</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
      <p>U bent hier:</p>

      <ol>
        <li>Wettenbank</li>
        <li><a href="#">Zoeken</a></li>
        <li><a href="#">Zoekresultaten (2/9774)</a></li>
        <li><a href="#">Regeling</a></li>
        <li>Informatie</li>
      </ol>
    </div>

  </div>
</div>
<div class="container row">

  <h1>Aanbestedingswet 2012</h1>
  <p>Geldend van 01-07-2016 t/m heden</p>

  <div class="tabs" data-decorator="init-tabs">
    <ul class="tabs__list">
      <li role="presentation"><a href="#panel-1" data-handler="open-panel" role="tab" id="tab-1" aria-controls="panel-1">Algemeen</a></li>
      <li role="presentation"><a href="#panel-2" data-handler="open-panel" role="tab" id="tab-2" aria-controls="panel-2">Vergelijkstabel</a></li>
    </ul>

    <div class="tabs__panels">
      <div id="panel-1" role="tabpanel" aria-labelledby="tab-1">
        <div class="columns columns--sidebar-left">
          <div>
            <h2>Wetstechnische informatie</h2>

            <table>
              <tr>
                <th>Eerstverantwoordelijke</th>
                <td>Economische Zaken</td>
              </tr>
              <tr>
                <th>Afkorting</th>
                <td>Geen</td>
              <tr>
                <th>Niet officiële titel</th>
                <td>Geen</td>
              </tr>
              <tr>
                <th>Citeertitel</th>
                <td>De citeertitel is in de regeling vastgesteld.</td>
              </tr>
              <tr>
                <th>Soort regeling</th>
                <td>Wet</td>
              </tr>
              <tr>
                <th>Identificatienummer</th>
                <td>BWBR0032203</td>
              </tr>
              <tr>
                <th>Rechtsgebied</th>
                <td>Contracten, schade en aansprakelijkheid | Verbintenissenrecht</td>
              </tr>
              <tr>
                <th>Overheidsthema</th>
                <td>Economie en ondernemen</td>
              </tr>
            </table>

            <h2>Grondslagen voor deze regeling</h2>
            <p>Geen</p>

            <h2>Wetsfamilie</h2>
            <ul class="list--linked">
              <li><a href="#">Aanbestedingswet</a></li>
            </ul>

            <h2>Regelgeving die op deze regeling is gebaseerd (gedelegeerde regelgeving)</h2>

            <ul class="list--linked">
              <li><a class="openresult" href="/jci1.3:c:BWBR0032919&amp;g=2017-12-01&amp;z=2017-12-01">Aanbestedingsbesluit</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0033227&amp;g=2017-12-01&amp;z=2017-12-01">Besluit aanwijzing toezichthouders ACM</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0033517&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimhouding aanbestedingen beveiligingsinstallaties museale instellingen 2013</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0033996&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimhouding aanbestedingen m.b.t. beveiligingsinstallaties landelijke publieke omroep</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0035376&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimverklaring diensten, leveringen en werken (ontwerp, bouw, inrichting en onderhoud woon- en werkverblijven leden Koninklijk Huis)</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0039982&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimverklaring opdracht voor operatie en onderhoud nieuwe regeringsvliegtuig</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0038693&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimverklaring opdrachten diensten, leveringen en werken ten behoeve van renovatie Binnenhofcomplex en tijdelijke huisvesting gebruikers Binnenhofcomplex</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0033325&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimverklaring overheidsopdracht tot beheer, onderhoud en ondersteuning van aanvraagstations</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0037158&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimverklaring overheidsopdracht tot beheer, onderhoud en ondersteuning van aanvraagstations en Reisdocumenten Aanvraag- en Archiefstations</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0033800&amp;g=2017-12-01&amp;z=2017-12-01">Besluit tot geheimhouding aanbesteding vervanging Closed-circuit television/Videomatrix van Unit 5 van de Extra Beveiligde Inrichting in Vught</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0040134&amp;g=2017-12-01&amp;z=2017-12-01">Besluit tot geheimverklaring opdracht in het kader van dronedetectie- en verstoringssysteem voor Dienst Justitiële Inrichtingen</a></li>
            </ul>

            <h2>Overzicht van wijzigingen voor de regeling</h2>

            <p>Informatie geldend op 01-12-2017</p>

          </div>
          <div>
            <p>Een submenu</p>
          </div>
        </div>
      </div>

      <div id="panel-2" role="tabpanel" aria-labelledby="tab-2">
        <h2>Vergelijk versies</h2>
        <table>
          <thead>
            <tr>
              <td colspan="3"></td>
              <th scope="col" colspan="3">Ontstaansbron</th>
              <th scope="col" colspan="2">Inwerkingstreding</th>
            </tr>
            <tr>
              <th colspan="8">
                <p>Kies twee toestanden van de regeling door deze aan te vinken</p>
                <button type="button" class="button">Vergelijk twee versies</button>
              </th>
            </tr>
            <tr>
              <th scope="col">Datum van inwerkingtreding</th>
              <th scope="col">Terugwerkende kracht</th>
              <th scope="col">Betreft</th>
              <th scope="col">Ondertekening</th>
              <th scope="col">Bekendmaking</th>
              <th scope="col">Kamerstukken</th>
              <th scope="col">Ondertekening</th>
              <th scope="col">Bekendmaking</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{ render "@footer" }}
