<form class="form" data-decorator="init-form-disregardchanges" data-config='{"triggerDisregard": ".js-form-disregardchanges__trigger"}'>
  <fieldset>
    <legend>Voorbeeld formulier</legend>

    <p>
      Deze functionaliteit geeft je de mogelijkheid om het formulier te resetten naar de laatst bekende waarden. Let op, als je wenst het formulier volledig te resetten, gebruik dan het 'form reset'-component.
    </p>

    <div class="form__row">

       {{ render "@input-checkbox" checkbox1 }}
       {{ render "@input-radio" radio1 }}

    </div>

    <a {{#if id}}id="{{id}}"{{/if}} href="#" class="js-form-disregardchanges__trigger">Annuleren</a>

  </fieldset>
</form>
