ul {
  padding-left: 1em;
}

td ul {
  padding: 0;
  margin: 0;
  overflow: hidden;

  li {
    margin: 0;
    padding: 0;
  }
}

ul ul {
  padding-left: 1em;
}

ol {
  padding-left: 2em;
  list-style-type: decimal;

  > li > ol {
    list-style-type: lower-alpha;

    > li > ol {
      list-style-type: lower-roman;
    }
  }


}

.facet--heading {
  font-size: 1em;
  font-family: $defaultHeadingFontStack;
  margin: 0;
  padding: 0 0 0 .75em;
  background: {
    position: 0 50%;
    repeat: no-repeat;
    image: $dartRightIcon;
    size: 6px 9px;
  }
}

.list--unstyled {
  list-style: none;
  padding-left: 0;
  ul {
    list-style: none;
    padding-left: 1em;
  }
}

.list--linked {
  list-style: none;
  padding-left: 0;

  li {
    background: {
      position: 0 .5em;
      repeat: no-repeat;
      image: $dartRightBlueIcon;
      size: 6px 9px;
    }
    padding-left: 1em;
    clear: both;

    a {
      text-decoration: none;
      background-position: right 50%;

      &:hover {
        text-decoration: underline;
      }
    }


  }
}

.list--law {
  font-weight: 700;

  li {
    margin: 0;
  }

  > li p,
  ol > li > p {
    font-weight: 400;
    margin: 0 0 0 1em;
  }
}

.list--facet {
  list-style: none;
  padding-left: .75em;
  margin-top: .5em;

  a {
    text-decoration: none;
    padding: .25em;

    &:hover {
      text-decoration: underline;
    }

    &.is-active {
      background-color: $darkBlue;
      color: $white;
    }
  }
}

.list--relations {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0 0 1em;
  }

  small {
    display: block;
    color: $darkGrey;
  }
}

.list--metadata {
  padding: 0;

  li {
    display: inline-block;
    color: $darkerGrey;
    font-size: 90%;
    margin: 0 .5em 0 0;
    padding: 0 .5em 0 0;

    &:after {
      content: '|';
      left: .5em;
      position: relative;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}
