.columns .tabs__list {
  padding: 0;
}

.tabs {
  padding: .25em 0;

  &__list {
    padding: 0 9em 0 0;
    position: relative;
    border-bottom: 1px solid $lighterGrey;

    li {
      list-style: none;
      display: inline-block;
      vertical-align: bottom;
    }

    a {
      display: inline-block;
      text-align: center;
      padding: .5em .75em;
      background: $white;
      text-decoration: none;
      position: relative;
      border-top: 2px solid transparent;

      &:hover {
        color: $darkBlue;
        background-color: $lightGrey;
      }

      &[aria-selected="true"],
      &.is-selected {
        border-left: 1px solid $lighterGrey;
        border-right: 1px solid $lighterGrey;
        border-top: 2px solid $darkBlue;
        border-bottom-color: $white;
        bottom: -1px;

        &:hover {
          background-color: $white;
        }
      }
    }

    button {
      position: absolute;
      right: 0;
      bottom: .25em;
      margin: 0;
    }

    @media print {
      display: none;
    }


    @media ( max-width: $breakpointDesktop ) {
      border: none;
      padding: 0;


      button {
        position: relative;
        bottom: auto;
        right: auto;
      }

      li {
        margin: 0 .25em .5em 0;
      }

      a {
        border: 1px solid $darkBlue;
        color: $darkBlue;
        font-weight: 700;
        border-radius: $borderRadius;

        &:hover {
          background: $primaryBlue;
          color: $white;
        }

        &[aria-selected="true"],
        &.is-selected {
          background-color: $darkBlue;
          border: 1px solid $darkBlue;
          color: $white;
          bottom: 0;

          &:hover {
            background-color: $primaryBlue;
            color: $white;
          }
        }
      }
    }
  }

  &--justified {

    .tabs__list {
      display: flex;

      li {
        flex: 1;
      }

      a {
        display: block;
      }
    }
  }

  &__panels {
    :first-child {

      .tabs__prev {
        display: none;
      }
    }

    :last-child {

      .tabs__next {
        display: none;
      }
    }
  }

  @media print {
    &__panels div {
      display: block;

      input {
        display: none;
      }

      tr {
        page-break-inside: avoid;
      }
    }
  }
}
