.subselection {

  &--fixed {
    float: right;
  }

  &__summary {
    display: block;

    &:not(:empty) {
      padding-top: .5em;
    }

    > span {
      @extend .form__selectedfilter;
      @extend .group;
      padding-right: 1.75em;
      position: relative;
      pointer-events: none;

      &:hover {
        box-shadow: 0 0 13px rgba(0,0,0,0.3);
      }
      &:active {
        background: $darkBlue;
        color: white;
      }
      &:active .subselection__summaryitem__remove {
        background-image: $iconCrossWhite;
      }

      .subselection__summaryitem__remove {
        position: absolute;
        background: $iconCrossBlue no-repeat center;
        background-size: 0.625em;
        width: 30px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        border: 0;
        cursor: pointer;
        pointer-events: auto;
        display: inline-block;
        outline: 2px solid transparent;
        outline-offset: .5em;
        transition: outline-offset $fastEaseInOut;

        &::-moz-focus-inner {
          border: none;
          padding: 0;
        }

        &:focus {
          outline: 2px solid $yellow;
          outline-offset: 0;
          z-index: 1;
        }
      }

    }
  }
}

/* exception */
.listbreaker .subselection {
  font-size: 0.9em;
  min-width: 130px;
}
