.jumbotron {
  @extend .group;
  // padding: 0 1em;
  margin-bottom: 1em;
  position: relative;

  background: $lightBlue;
  padding: 2.5em 1em;

  @media (min-width: $breakpointDesktop) {
    padding: 5em 2em;
  }

  @media (min-width: $breakpointDesktopL) {
    padding: 5em 4em;
  }

  &--transparent {
    background: none;
  }

  // = default, do not use anymore.
  // &--highlight {
  //   background: $lightBlue;
  //   padding: 2.5em 1em;

  //   @media (min-width: $breakpointDesktop) {
  //     padding: 4em 2em;
  //   }

  //   @media (min-width: $breakpointDesktopL) {
  //     padding: 4em 4em;
  //   }
  // }


  &--promo,
  &--slim {
    background: $lightBlue;
    padding: 2em 1em;
    @media (min-width: $breakpointDesktop) {
      padding: 2.2em 5em;
    }
  }

  &--green {
    background-color: $lightGreen;
  }



  &__heading {
    margin: 0 0 2em;

    &--centered {
      text-align: center;
    }
  }

  &__content {

    &--side {
      max-width: em(620);
      @media (min-width: $breakpointDesktop) {
        max-width: 70%;
      }
    }
    &--centered {
      max-width: em(750);
      padding: 0;
      margin: 0 auto;

      &-medium {
        max-width: em(860);
      }
      &-s,
      &-small {
        max-width: em(560);
        padding: 0;
        margin: 0 auto;
      }
    }
  }

  &__subheader {
    font-size: 1.125rem;
    font-style: italic;
    margin-bottom: 0.5em;
    line-height: 1.125em;
    @media (min-width: $breakpointDesktop) {
      font-size: 1.5rem;
      line-height: 1em;
    }

    small {
      font-size: 0.8em;
    }

    &--subtle {
      font-size: 1rem;
      font-style: italic;
      margin-bottom: 0.5em;
      line-height: 1.125em;
      @media (min-width: $breakpointDesktop) {
        font-size: 1.125rem;
        line-height: 1em;
        margin-bottom: 0.2em;
      }
    }
  }

  &__header {
    margin-top: 0;
    margin-bottom: .25em;
    font-size: 2em;
    line-height: 1em;

    @media (min-width: $breakpointDesktop) {
      font-size: em(43);
      line-height: 1em;
      margin-bottom: .5em;
    }
  }

  h2.jumbotron__header,
  .h2.jumbotron__header,
  h3.jumbotron__header,
  .h3.jumbotron__header {
      margin-bottom: 1em;
      font-size: 1.5em;
      line-height: 1em;

      @media (min-width: $breakpointDesktop) {
        font-size: 1.8em;
        margin-bottom: .5em;
      }
    }

  &__intro {
    @media (min-width: $breakpointDesktop) {
      font-size: 1.3rem;
      line-height: 1.8rem;
      margin-top: 1em;
      margin-bottom: 1.75em;
    }

    & ~ p {
      margin-top: -1em;
    }
  }

  // don't use; use component ".block-content"
  @media (min-width: $breakpointDesktop) {
    &--flexed &__content {
      padding-bottom: 2em;
    }
    &--flexed .cta {
      position: absolute;
      bottom: 3.5em;
      left: 2em;
    }
  }
  @media (min-width: $breakpointDesktopL) {
    &--flexed .cta {
      left: 4em;
    }
  }

}

.modal .jumbotron {
  padding: 0;
  background: none;
}
