<div class="video">
	<iframe
		title="{{ videoTitle }}"
		height="315"
		src="{{ videoEmbedURL }}"
		allowfullscreen>
	</iframe>
	<a href="{{ videoURL }}">{{ videoTitle }} bekijken op Youtube</a>
</div>
