.actionblock {

  &__list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      position: relative;
      border-bottom: 1px solid $lightGrey;

      &:last-child {
        border: none;
      }
    }

    a {
      display: block;
      padding: .5em 2em .5em .5em;
      background-color: $white;
      text-decoration: none;

      &:hover {
        background-color: $lightBlue;
        color: $darkBlue;
        text-decoration: none;
      }
    }

    img {
        position: absolute;
        right: .25em;
        top: 50%;
        margin-top: -8px;
      }
  }

  &__count {
    float: right;
  }
}
