{{ render "@header" headerContext merge="true" }}

<div class="row container columns columns--sidebar-left">

	<div>
		<h1>2957 zoekresultaten</h1>
	</div>

	<div>
		
		<div class="well">
	      <form>
	        <fieldset class="form__element">
	          <legend class="form--intro">Zoeken</legend>
	          <div class="form__element">
	            <label for="zoekterm" class="visually-hidden">Zoeken op</label>
	            <input type="text" id="zoekterm" placeholder="Bv. verkiezingsuitslag 2018">
	          </div>
	        </fieldset>
	        <button type="submit" class="button button--primary">Zoek open data</button>
	      </form>
	    </div>

	</div>



</div>


{{ render "@footer" }}