{{ render "@header" headerContext merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container columns row columns--centered">

  <div>
    <h1>Leefbaarometer 2.0 = meting 2016</h1>

    <div class="well">
      <h2>Data-eigenaar</h2>
    </div>
  </div>

</div>

{{ render "@footer" }}
