<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    {% include '@list' with listContext1 %}
    {% include '@list' with listContext2 %}
    {% include '@list' with listContext3 %}
    {% include '@list' with listContext4 %}
  </div>
</div>
