{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container">
  <div class="row row--spacer">
    <div class="jumbotron jumbotron--highlight">

      <div class="jumbotron__content jumbotron__content--centered">

        <div class="jumbotron__heading jumbotron__heading--centered">
          <p class="jumbotron__subheader">Berichten over uw buurt</p>
          <h1 class="jumbotron__header">Wat speelt er in úw buurt</h1>
          <p class="jumbotron__intro">
              Alle vergunningen, plannen en plaatselijke regelgevingen die direct invloed hebben op jouw buurt in één archief.
          </p>
        </div>


        <form class="form">
          <fieldset>
            <legend class="visually-hidden">Zoek berichten</legend>
            <div class="form__row ">
              <div class="columns">
                <div class="form__row form__row--medium">
                  <label class="form__label" for="">Postcode <span class="mandatory">Verplicht veld</span></label>
                  <input class="form__input input-text input-text--accent" type="text" placeholder="Bijv. 1337AA" />
                </div>
                <div class="form__row form__row--medium">
                  <label class="form__label" for="">Huisnummer + toev.
                  </label>
                  <input class="form__input text-input input-text--accent" type="text" />
                </div>
                <div class="form__row form__row--medium">
                  <label class="form__label" for="">Straal
                    <span class="mandatory">Verplicht veld</span>
                  </label>
                  <div class="select-custom select-custom--large">
                  <select>
                    <option>250m</option>
                    <option>1km</option>
                    <option>2km</option>
                  </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form__row align-right">
              <button type="submit" class="form__button button button--primary button--large">Zoek berichten</button>
            </div>
          </fieldset>
        </form>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="column">
        <div class="column__content column__content--padded">
          <div class="jumbotron">
            <div class="jumbotron__content">
              <p class="jumbotron__subheader"><i>Berichten die voor u belangrijk zijn</i></p>
              <h2 class="jumbotron__header">Welke informatie kunt u vinden in 'Berichten over uw Buurt'?</h2>
              <p class="jumbotron__intro">
                Denk aan formele besluiten, die direct invloed op uw buurt hebben, zoals: vergunningen, bouwplannen en plaatselijke regelgeving.
                De berichten zijn afkomstig van voornamelijk gemeenten, waterschappen en provincies en zijn in de afgelopen twee maanden
                gepubliceerd.
              </p>
              <p>
                <a href="#" class="button button--primary">Zoek berichten</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-order--d2" style="background-color:#E4F0EF;">IMG</div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="column u-order--d2">
        <div class="column__content column__content--padded">
          <div class="jumbotron">
            <div class="jumbotron__content">
              <p class="jumbotron__subheader">
                <i>Berichten blijven 2 maanden staan</i>
              </p>
              <h2 class="jumbotron__header">Zoek je informatie die ouder is?</h2>
              <p class="jumbotron__intro">
                Berichten op ‘berichten over uw buurt’ blijven 2 maanden staan. Daarna worden ze in het archief geplaatst. Deze oudere berichten
                kunt u nog wel terugvinden op het platform 'Officiële bekendmakingen'.
              </p>
              <p>
                <a href="#" class="button button--primary button--arrowed">Naar officiële bekendmakingen</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column u-order--d1" style="background-color:#FFF8E1;">IMG</div>
    </div>
  </div>

  <div class="row row--spacer">
    <div class="jumbotron jumbotron--promo">

      <div class="jumbotron__content jumbotron__content--centered">
        <div class="align-center">
          <p class="jumbotron__subheader">Automatisch op de hoogte blijven van gebeurtenissen in uw buurt?</p>
          <h2 class="jumbotron__header">Meld je aan voor de mail service</h2>
        </div>
        <form class="form">
          <fieldset>
            <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
            <div class="form__row">
              {{ render "@input-inputsubmit" }}
            </div>
          </fieldset>
        </form>

      </div>

    </div>
  </div>

</div>

{{ render "@footer" }}
