<div data-decorator="init-unselectall">
  <div class="input-checkbox">
    <input class="checkbox__input js-checkbox-master" type="checkbox" id="id-{{id}}" name="selectAll" value="veel" />
    <label class="checkbox__label" for="id-{{id}}">
      {{label}}
    </label>
  </div>
  {{ render "@input-checkbox" checkboxes }}
</div>
