{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumb }}
  </div>
</div>

<div class="container columns columns--sticky-sidebar row">

  <div class="columns--sticky-sidebar__sidebar" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
      <p>
        <a href="/components/preview/templates-eb-homepage" class="icon--backlink">Terug naar Publicaties</a>
      </p>
    </div>
  </div>

  <div role="main" id="content">

    {{ render "@pageactions" actions }}

    <h1>Planologische Kernbeslissing Waddenzee</h1>

    <p>Onderstaande tabel bevat een overzicht van de publicatiegegevens (metadata) die bij deze publicatie horen.</p>


    <table class="table--condensed">
      <thead>
        <tr>
          <th>Publicatiegegevens</th>
          <th>Waarde</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Aantal pagina's</th>
          <td data-before="Aantal pagina's">9</td>
        </tr>
        <tr>
          <th>Beschikbaar sinds</th>
          <td data-before="Beschikbaar sinds">02-06-2020</td>
        </tr>
        <tr>
          <th>Bron</th>
          <td data-before="Bron">Staten-Generaal digitaal</td>
        </tr>
        <tr>
          <th>Datum document</th>
          <td data-before="Datum document">25-05-1993</td>
        </tr>
        <tr>
          <th>Documentsoort</th>
          <td data-before="Documentsoort">Kamerstuk</td>
        </tr>
        <tr>
          <th>Dossiernummer</th>
          <td data-before="Dossiernummer">22605</td>
        </tr>
        <tr>
          <th>Eindpagina</th>
          <td data-before="Eindpagina">9</td>
        </tr>
        <tr>
          <th>Identifier</th>
          <td data-before="Identifier">0000013938</td>
        </tr>
        <tr>
          <th>Omschrijving</th>
          <td data-before="Omschrijving">BRIEF VAN DE MINISTER VAN VOLKSHUISVESTING, RUIMTELIJKE ORDENING EN MILIEUBEHEER</td>
        </tr>
        <tr>
          <th>Omschrijving</th>
          <td data-before="Omschrijving">Kamerstuk Tweede Kamer 1992-1993 kamerstuknummer 22605 ondernummer 20</td>
        </tr>
        <tr>
          <th>Ondernummer</th>
          <td data-before="">20</td>
        </tr>
        <tr>
          <th>Ondertekening</th>
          <td data-before="">De Minister van Volkshuisvesting, Ruimtelijke Ordening en Milieubeheer</td>
        </tr>
        <tr>
          <th>Ondertekening</th>
          <td data-before="Ondertekening">J.G.M. Alders</td>
        </tr>
        <tr>
          <th>Publicerende organisatie</th>
          <td data-before="Publicerende organisatie">Tweede Kamer der Staten-Generaal</td>
        </tr>
        <tr>
          <th>Startpagina</th>
          <td data-before="Startpagina">1</td>
        </tr>
        <tr>
          <th>Taal</th>
          <td data-before="Taal">nl</td>
        </tr>
        <tr>
          <th>Titel</th>
          <td data-before="Titel">Planologische Kernbeslissing Waddenzee</td>
        </tr>
        <tr>
          <th>Url</th>
          <td data-before="url" class="u-breakall">https://repository.overheid.nl/frbr/sgd/19921993/0000013938/1/pdf/SGD_19921993_0003492.pdf</td>
        </tr>
        <tr>
          <th>Vergaderjaar</th>
          <td data-before="">1992-1993</td>
        </tr>
        <tr>
          <th>Wijzigingsdatum</th>
          <td data-before="">02-06-2020</td>
        </tr>
      </tbody>
    </table>


  </div>

</div>

{{ render "@footer" }}
