.tooltip {
  position: relative;

  &__content {
    display: none;
    text-align: left;
  }

  &.is-active &__content {
    display: inline;
  }

  span[aria-hidden="true"] {
    display:none;
  }

  span[aria-hidden="false"] {
    display:block;
  }
}

.has-js .tooltip {
  &__trigger {
    background: {
      image: $explanationIcon;
      repeat: no-repeat;
      position: center center;
      size: 14px;
      color: transparent;
    };

    border: 0;
    width: 18px;
    height: 18px;
    text-indent: -9999em;
    display: inline-block;
    vertical-align: middle;
    margin: 0.25em;
    position: relative;
    top: -.0625em;

    &:hover,
    &:focus {
      background-image: $explanationHoverIcon;
    }
  }

  &__content {
    border: 1px solid $tooltipContainerBorderColor;
    font-size: 1rem;
    font-weight: normal;
    background-color: $white;
    padding: .5em 1em;
    position: fixed;
    left: 1em;
    right: 1em;
    top: 1rem;
    bottom: auto;
    outline: none;
    color: $black;
    z-index: 100;
    border-radius: 5px;
    line-height: 1em;

    @media ( min-width: 400px ) {
      position: absolute;
      top: 1.5em;
      left: -.75em;
      max-width: 20em;
      min-width: 18em;
    }

    &.has-position--fixed {
      left: 1em;
      right: 1em;
      top: 1em;
      bottom: auto;
      position: fixed;
      max-width: none;
      box-shadow: 0 2px 10px rgba(0,0,0,0.2);

      &:before {
        display: none;
      }
    }

    @media ( min-width: 400px ) {
      &::before {
        background-color: inherit;
        border: 1px solid $tooltipContainerBorderColor;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-radius: 2px;
        content: ' ';
        height: .5em;
        width: .5em;
        position: absolute;
        top: 0;
        left: 1.25em;
        transform: rotate( 45deg );
        transform-origin: 100% 0;
      }
    }

    &.has-position--left {
      left: auto;
      right: -.4em;

      &::before {
        right: .75em;
        left: auto !important;
      }
    }
  }
}

.tooltip--info {

  .tooltip__trigger {
    background-image: $infoIcon;
    background-size: 18px;

    &:hover,
    &:focus {
      background-image: $infoIcon;
    }
  }
}
