input[type=text].input-text,
input[type=password].input-text,
input[type=number].input-text,
.input-text {
  // padding: 0.5em;
  display: block;
  width: 100%;
  height: auto;

  &--medium {
    font-size: 1.325rem;
    color: $darkBlue;
    height: 60px; // needed to correct crossbrowser fields; :(
    padding: .625em;
    border-width: 2px;
  }

  &--search {
    padding-left: 3em !important;
    background-position: .75em center;
    background-repeat: no-repeat;
    background-image: $searchIconBlue;
    background-size: 1.5em;
  }
}

.input-text {

  &__remove {
    position: absolute;
    right: .5em;
    top: 0;
    width: 2em;
    bottom: 0;
    background: $iconCross no-repeat center center;
    z-index: 9999;

    &.invisible {
      display: none;
    }
  }

  &__container--prefix {
    display: flex;

    .input-text {
      border-width: 2px;
    }
  }

  &__container--prefix &__prefix {
    flex: 0 0 auto;
    margin: 0;
    width: auto;
    padding: 1.7em 1.5em .75em 1.25em;
    margin-right: -5px;
    font-style: italic;
    border: 2px solid $darkBlue;
    background: $lightBlue;
    border-radius: 3px;
    font-size: 0.6em;

    @media ( min-width: $breakpointDesktop ) {
      font-size: 1.125em;
      padding-top: .75em;
    }
    &--medium {
      padding-top: 2em;
      padding-bottom: .5em;

      @media ( min-width: $breakpointDesktop ) {
        padding-top: .73em;
      }
    }
  }




  &__container--prefix & {
    width: auto;
    margin: 0;
    flex: 1 0 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }


}
