.container--labels {
  margin: .5em 0 1.5em 0;

  h3 {
    display: inline;
    margin: 0 1.5em 0 0;
  }
}

.label {
  display: inline-block;
  margin-right: .25em;
  padding: .25em .5em;
  font-size: 75%;
  font-weight: 400;
  border-radius: $borderRadius;
  background: $lightGrey;
  color: $black;

  &--blue {
    background: $darkBlue;
    color: $white;
  }

  &--primary {
    background: $primaryBlue;
    color: $white;
  }

  &--orange {
    background: $orange;
    color: $black;
  }

  &--success {
    background: $green;
    color: $white;
  }

  &--warning {
    background: $yellow;
    color: $black;
  }

  &--danger {
    background: $red;
    color: $white;
  }
}
