{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container">

<article>

  <h1>Regeling van de Minister van Binnenlandse Zaken en Koninkrijksrelaties, van [datum], houdende regels over het beschermen
  en benutten van de fysieke leefomgeving (Omgevingsregeling)</h1>

  <p>
     De Minister van Binnenlandse Zaken en Koninkrijksrelaties,
  </p>
  <p>
    Gedaan, mede namens de Minister van Defensie, de Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur en Waterstaat, de Minister van Justitie en Veiligheid, de Minister
    van Landbouw, Natuur en Voedselkwaliteit, de Minister van Onderwijs, Cultuur en Wetenschap;
  </p>
  <div class="columns">
    <div>
      <p>
        kolom 1
      </p>
    </div>
    <div>
      <p>
        kolom 2
      </p>
    </div>
  </div>
  <p>
    Gedaan, mede namens de Minister van Defensie, de Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur
    en Waterstaat, de Minister van Justitie en Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de Minister
    van Onderwijs, Cultuur en Wetenschap;
  </p>

  <p>
    Besluit:
  </p>

  <section>
    <h2>Hoofdstuk 1 algemene bepalingen [2]</h2>
    <h3>Afdeling 1.1 algemeen [3]</h3>
    <p>Text</p>
  </section>
  <section>
    <h2>Hoofdstuk 2 aanwijzing en geometrische begrenzing van locaties [2]</h2>

      <h3>Afdeling 2.1 algemene bepalingen [3]</h3>
      <h4 class="uppercase">Artikel 2.1 (toepassingsbereik) [3]</h4>
      <p>
        Dit hoofdstuk is van toepassing op de aanwijzing (<a href="#voetnoot1" data-decorator="init-footnote">voetnoot 1</a>) of geometrische begrenzing van locaties voor de toepassing van de wet.
      </p>


      <h3>Afdeling 2.2 Water [3]</h3>
      <h4>ยง 2.2.1 Oppervlaktewateren en rijkswateren [4]</h4>

      <h5 class="h4 uppercase">Artikel 2.2 (geometrische begrenzing oppervlaktewaterlichamen) [5]</h5>
      <ol class="list list--nummeric">
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen (<a href="#voetnoot2" data-decorator="init-footnote">voetnoot 2</a>), bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen (<a href="#voetnoot2" data-decorator="init-footnote">voetnoot 2</a>), bedoeld in bijlage II, onder 1, bij Omgevingsbesluit en waarvan het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
      </ol>

      <table class="table table--striped">
        <col>
        <colgroup span="2"></colgroup>
        <tr>
          <th colspan="2" scope="colgroup">Ontwerplevensduur</th>
          <th colspan="1" scope="colgroup">Toepassing</th>
        </tr>
        <tr>
          <th scope="col">Klasse</th>
          <th scope="col">Jaren</th>
          <th scope="col"></th>
        </tr>
        <tr>
          <td>1A</td>
          <td>5</td>
          <td>Tijdelijke bouwwerken, anders dan een woonfunctie: waarbij de termijn genoemd in de omgevingsvergunning als bedoeld in PM
          niet langer is dan 5 jaar of die vergunningsvrij zijn voor de activiteit bouwen als bedoeld in PM. Voor bouwwerken in gevolgklasse
          CC2 of CC3: binnen deze klasse moeten de in rekening te brengen belastingen zijn gebaseerd op een referentieperiode van 15
          jaar. Voor CC1 is dit 5 jaar.</td>
        </tr>
        <tr>
          <td>1B</td>
          <td>15</td>
          <td>Tijdelijke bouwwerken, anders dan de bouwwerken die vallen in klasse 1A.</td>
        </tr>
        <tr>
          <td>2</td>
          <td>15</td>
          <td>Constructies en bouwwerken voor landbouw en tuinbouw en soortgelijke toepassingen, alleen voor productiedoeleinden, waarbij
          het aantal personen dat in het gebouw aanwezig is, beperkt is; 2 15 Industriebouwwerken, wel of niet tijdelijk, met 1 of
          2 bouwlagen.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>50</td>
          <td>Bouwwerken anders dan bedoeld onder 1A, 1B en 2.</td>
        </tr>
      </table>

      <h5 class="h4 uppercase">Artikel 2.3 [5]</h5>
      <ol>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
          het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
          <ol class="list list--nummeric">
            <li>
              De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
              het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
            </li>
            <li>
              De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
              het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
            </li>
            <li>
              De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij Omgevingsbesluit en waarvan
              het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
            </li>
          </ol>
        </li>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
          het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij Omgevingsbesluit en waarvan
          het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
      </ol>
      <article>
        <h1>[h1]Lichaam in lichaam</h1>
        <p>In een nieuwe artikel kan een nieuwe h-structuur gestart worden. Een 'article' mag <strong>alleen</strong> gebruikt worden als de inhoud erin ook buiten deze context kan leven.</p>
        <blockquote>The article element represents a complete, or self-contained, composition in a document, page, application, or site. This
        could be a magazine, newspaper, technical or scholarly article, an essay or report, a blog or other social media post.</blockquote>
        <cite>W3C</cite>
        <h2>[h2]</h2>
        <p>txt</p>
        <h3>[h3]</h3>
        <p>txt</p>
      </article>

  </section>

  <ol class="footnotes">
    <li id="voetnoot1">Willem-Alexander Claus George Ferdinand, Koning der Nederlanden, Prins van Oranje-Nassau, Jonkheer van Amsberg (Utrecht,
      27 april 1967) is sinds 30 april 2013 koning der Nederlanden. Hij is het oudste kind van prinses Beatrix en prins Claus.
      <a href="#referentie1" class="reference">Terug naar referentie 1</a>
    </li>
    <li id="voetnoot2">Cras in ipsum condimentum, egestas metus id, tristique metus.
      <a href="#referentie2" class="reference">Terug naar referentie 2</a>
    </li>
  </ol>

</article>

</div>

<style>
  /*article,
  section {
    border: 1px solid red;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
  }
  article:after,
  section:after {
    content: "Article";
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    color: white;
    padding: 5px;
  }
  section:after {
    content: "Section";
    background: grey;
  } */
</style>

{{ render "@footer" }}
