{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container">

<article>

  <h1 class="docRegelingOpschrift">Regeling van de Minister van Binnenlandse Zaken en Koninkrijksrelaties, van [datum], houdende regels over het beschermen
  en benutten van de fysieke leefomgeving (Omgevingsregeling)</h1>

  <p>
     De Minister van Binnenlandse Zaken en Koninkrijksrelaties,
  </p>
  <p>
    De Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur en Waterstaat, de Minister van Justitie en
    Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de Minister van Onderwijs, Cultuur en Wetenschap; Gedaan, mede namens de Minister van Defensie, <img src="/images/temp/wat-doet-overheid.jpg" class="valign valign--middle" width="70" height="40" /> de Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur en Waterstaat, de Minister van Justitie en Veiligheid, de Minister
    van Landbouw, Natuur en Voedselkwaliteit, de Minister van Onderwijs, Cultuur en Wetenschap;
  </p>
  <dl>
    <dt>Aanbrengen/aanleggen </dt>
    <dd>
      dit omvat tevens het hebben, wijzigen en verwijderen, tenzij het verwijderen in een specifieke uitvoeringsregel wordt
        geregeld.
    </dd>
    <dt>Aanpassen van een oppervlaktewater </dt>
    <dd>
      het wijzigen van het profiel van een primair en secundair oppervlaktewater ten opzichte van het profiel zoals opgenomen
        in de legger van het waterschap.
    </dd>
    <dt>Aanvoeren </dt>
    <dd>
      <p>het door middel van een werk of langs natuurlijke weg naar een oppervlaktewaterhalen of laten stromen van water uit een
        ander oppervlaktewater.</p>
    </dd>
    <dt>Afrastering </dt>
    <dd>
      <p>afscheiding met vrij doorzicht, bestaande uit in de grond geplaatste palen met daartussen gaas, prikkeldraad of staaldraad,
        in het algemeen aangelegd met het oog op het keren van vee. Een afrastering/perceelscheiding in de vorm van een haag
        valt niet onder het begrip afrastering maar valt onder beplanting.</p>
    </dd>
    <dt>Afvoeren </dt>
    <dd>
      <p>het door middel van een werk of langs natuurlijke weg brengen of laten stromenvan water uit een oppervlaktewater naar
        een ander oppervlaktewater.</p>
    </dd>
    <dt>Bedekte teelten </dt>
    <dd>
      <p>bedrijfsmatige teelten in een glastuinbouwbedrijf of bedrijfsmatige teelt in tunnels.</p>
    </dd>
    <dt>Beplanting </dt>
    <dd>
      <p>tuinbeplanting, bomen en struweel</p>
    </dd>
    <dt>Bergingsgebied </dt>
    <dd>
      <p>een krachtens de Wet ruimtelijke ordening voor waterstaatkundige doeleinden bestemd gebied, niet zijnde een oppervlaktewater
        of onderdeel daarvan, dat dient ter verruiming van de bergingscapaciteit van een of meer watersystemen en ook als bergingsgebied
        in de legger is opgenomen;</p>
    </dd>
    <dt>Beschermingszone waterkering </dt>
    <dd>
      <p>de als zodanig in de legger aangeduide gronden aan weerszijden van waterkeringen en dienende ter bescherming daarvan;</p>
    </dd>
    <dt>Bestuur </dt>
    <dd>
      <p>het dagelijks bestuur van Waterschap Limburg;</p>
    </dd>
    <dt>Bodemenergiesysteem </dt>
    <dd>
      <p>installatie waarmee gebruik wordt gemaakt van de bodem voor de levering van warmte of koude voor de verwarming of koeling
        van ruimten in bouwwerken.</p>
    </dd>
    <dt>Bodemsanering </dt>
    <dd>
      <p>het verwijderen of ontgraven van verontreinigde grond;</p>
    </dd>
    <dt>Boom </dt>
    <dd>
      <p>een houtachtig, overblijvend gewas.</p>
    </dd>
    <dt>Bouwwerk </dt>
    <dd>
      <p>elke constructie van enige omvang van hout, steen, metaal of ander materiaal, die op de plaats van bestemming hetzij
        direct of indirect met de grond verbonden is, hetzij direct of indirect steun vindt in of op de grond, bedoeld om ter
        plaatse te functioneren. Bijvoorbeeld: een woonhuis, een bedrijfspand, een aanbouw bij een gebouw, een garage.</p>
    </dd>
    <dt>Bronbemaling </dt>
    <dd>
      <p>het uit de bodem of bouwputten onttrekken van grondwater door middel van een pomp. Dit omvat zowel een bouwputbemaling
        als een sleufbemaling.</p>
    </dd>
    <dt>Brug </dt>
    <dd>
      <p>een doorgang voor voetgangers, dieren en voertuigen over bijvoorbeeld (spoor)wegen en watergangen.</p>
    </dd>
    <dt>Buisdrainage </dt>
    <dd>
      <p>ontwateringsmiddel voor het kunstmatig beïnvloeden van de grondwaterstand.</p>
    </dd>
    <dt>Buitenbeschermingszone </dt>
    <dd>
      <p>de als zodanig in de legger aangeduide gronden aan weerszijden van de waterkeringen;</p>
    </dd>
    <dt>Buitengewoon onderhoud watergangen </dt>
    <dd>
      <p>ingrijpende werkzaamheden om de vorm en/of de functie van een constructie te herstellen</p>
    </dd>
    <dt>Buitengewoon onderhoud waterkeringen </dt>
    <dd>
      <p>het in standhouden overeenkomstig het in deLegger bepaalde omtrent richting, vorm, afmeting en constructie van de waterkeringen.</p>
    </dd>
    <dt>Bijbehorende voorzieningen bij kabels en leidingen bij waterkeringen </dt>
    <dd>
      <p>voorzieningen die noodzakelijk zijn vanuit waterkeringtechnische overwegingen of voor het in goede staat behouden van
        het kabel of leidingnet. Dit zijn bijvoorbeeld kwelschermen, kleikisten, appendages voor kathodische bescherming, drukregulatiesystemen
        en afsluiters.</p>
    </dd>
    <dt>Duiker </dt>
    <dd>
      <p>een kokervormige constructie met als doel de wederzijdse verbinding tussen oppervlaktewater te waarborgen met het oog
        op het realiseren van een toegang tot een perceel of het kruisen van het oppervlaktewater met een openbare weg, waarbij
        in principe de bodem van de waterloop, in tegenstelling tot die van de brug, wordt onderbroken.</p>
    </dd>
    <dt>Eindhoogte beplanting </dt>
    <dd>
      <p>maximaal haalbare hoogte van volwassen beplanting en bomen</p>
    </dd>
    <dt>Evenement bij een oppervlaktewater </dt>
    <dd>
      <p>een evenement, inclusief opbouwen en opruimen, dat plaatsvindt binnen de kernzone van een primair en secundair oppervlaktewater.</p>
    </dd>
    <dt>Evenement bij een waterkering </dt>
    <dd>
      <p>een evenement, inclusief opbouwen en opruimen, dat plaatsvindt binnen de zoneringen van de waterkering.</p>
    </dd>
    <dt>Fietsen </dt>
    <dd>
      <p>rijden met een fiets, elektrische fiets of speed-pedelec.</p>
    </dd>
    <dt>Gemotoriseerde vormen van recreatief medegebruik </dt>
    <dd>
      <p>rijden met een (cross)motor, bromfiets, auto, e.d. en varen met een gemotoriseerd vaartuig.
      </p>
    </dd>
    <dt>Gesloten verharding </dt>
    <dd>
      <p>opgebouwd uit een materiaal dat na het aanbrengen een solide geheel vormt en niet meer op te delen is, zoals asfalt en
        beton.</p>
    </dd>
    <dt>Gewoon onderhoud watergangen </dt>
    <dd>
      <p>regulier onderhoud van de watergang, zoals maaien, snoeien, repareren en vuil verwijderen.</p>
    </dd>
    <dt>Gewoon onderhoud waterkeringen </dt>
    <dd>
      <p>regulier onderhoud van de waterkering, zoals maaien, repareren en vuil verwijderen.</p>
    </dd>
    <dt>Glastuinbouwbedrijf </dt>
    <dd>
      <p>inrichting die uitsluitend of in hoofdzaak is bestemd voor het in een kas telen van gewassen.
      </p>
    </dd>
    <dt>Grondmechanisch onderzoek </dt>
    <dd>
      <p>alle soorten onderzoek waarbij sonderingen/boringen worden uitgevoerd of grond wordt ontgraven. Hieronder vallen in ieder
        geval ook het uitvoeren van sonderingen/boringen, het plaatsen van peilbuizen, het graven van proefsleuven en het uitvoeren
        van explosievenonderzoek.</p>
    </dd>
    <dt>Grondwatersanering </dt>
    <dd>
      <p>het onttrekken van grondwater door middel van een onttrekkingsinrichting om de kwaliteit van grond of grondwater te verbeteren;</p>
    </dd>
    <dt>Hekwerk </dt>
    <dd>
      <p>afscheiding met vrij doorzicht, bestaande uit in de grond geplaatste palen met daartussen een frame van spijlen of gaas,
        in zijn algemeenheid aangelegd als perceels- of erfafscheiding.</p>
    </dd>
    <dt>Hogedrukleiding </dt>
    <dd>
      <p>leiding deel uitmakend van een leidingsysteem waarin de maximale bedrijfsdruk groter is dan of gelijk aan 1 MPa (10 bar).</p>
    </dd>
    <dt>Industriële toepassing van grondwater </dt>
    <dd>
      <p>het oppompen van grondwater ten behoeve van aanwending in het productproces of bedrijfsvoering.</p>
    </dd>
    <dt>Infiltreren van water </dt>
    <dd>
      <p>geforceerd in de bodem brengen van water, ter aanvulling van het grondwater, in samenhang met het onttrekken van grondwater;</p>
    </dd>
    <dt>Kabel </dt>
    <dd>
      <p>alle kabels waaronder elektriciteits-, signaal- en telecommunicatiekabels, inclusief bijbehorende voorzieningen. Glasvezelkabels
        vallen niet onder kabels omdat deze altijd in een mantelbuis worden gelegd. Glasvezelkabels worden daarom als kleine
        leiding beoordeeld.
      </p>
    </dd>
    <dt>Kanoën </dt>
    <dd>
      <p>varen met een kano of kajak;</p>
    </dd>
    <dt>Kernzone waterkering </dt>
    <dd>
      <p>de zone omvattende de waterkering inclusief bijbehorende (piping)berm, zoals aangegeven in de legger;</p>
    </dd>
    <dt>Kernzone oppervlaktewater </dt>
    <dd>
      <p>de zone omvattende het oppervlaktewater met bijbehorende onderhoudsstroken en beschermingszone, zoals aangegeven in de
        legger;</p>
    </dd>
    <dt>Klein huisdier </dt>
    <dd>
      <p>honden</p>
    </dd>
    <dt>Klein bouwwerk: bouwwerk zonder woon- of bedrijfsfunctie, niet dieper gefundeerd dan 30 cm in de grond en eenvoudig verplaatsbaar/verwijderbaar.
      Voorbeelden </dt>
    <dd>
      <p>tuinschuurtje, kippenhok, e.d.</p>
    </dd>
    <dt>Kleine (druk)leidingen </dt>
    <dd>
      <p>leiding deel uitmakend van een leidingsysteem waarin de maximale bedrijfsdruk kleiner is dan 1 MPa (10 bar). Hieronder
        vallen onder andere huisaansluitingen voor water en gas, mantelbuizen voor glasvezelkabels en drainageleidingen.</p>
    </dd>
    <dt>Kruin van de waterkering </dt>
    <dd>
      <p>het hoogst gelegen deel van de waterkering.</p>
    </dd>
    <dt>Landbouwperceel </dt>
    <dd>
      <p>perceel dat wordt gebruikt voor de bedrijfsmatige teelt van gewassen</p>
    </dd>
    <dt>Legger </dt>
    <dd>
      <p>legger als bedoeld in artikel 5.1 van de wet of in artikel 78, tweede lid, van de Waterschapswet;
      </p>
    </dd>
    <dt>Lozen </dt>
    <dd>
      <p>het door middel van een werk brengen van water, niet zijnde hemelwater, in een oppervlaktewater, bijvoorbeeld spoelwater
        of water afkomstig van een bronnering of sanering.</p>
    </dd>
    <dt>Lozingsvoorziening </dt>
    <dd>
      <p>een constructie om water in een oppervlaktewater te laten stromen.</p>
    </dd>
    <dt>Lijnvormige elementen: landschapselementen die in beginsel evenwijdig aan de hoogtelijnen in het terrein aanwezig zijn
      ter voorkoming van erosie De functie van een lijnvormig element is tweeledig </dt>
    <dd>
      <p>het verminderen van afstroming van regenwater en de opvang van afspoelende bodemdeeltjes. Lijnvormige elementen zijn
        als waterstaatswerk opgenomen in de legger.</p>
    </dd>
    <dt>Mantelbuis </dt>
    <dd>
      <p>een korte drukloze leiding ter bescherming van kabels en/of mediumvoerende leidingen, veelal gelegen onder wegen, op-
        en afritten, bouwwerken of beplanting.</p>
    </dd>
    <dt>Meanderzone </dt>
    <dd>
      <p>gronden waarbinnen primaire oppervlaktewateren door natuurlijke verplaatsing hun bedding kunnen verleggen en die als
        zodanig zijn opgenomen in de legger;</p>
    </dd>
    <dt>Nieuw verhard oppervlak </dt>
    <dd>
      <p>alle oppervlakken die door nieuwbouw of uitbreiding van woningen, bedrijfsgebouwen, parkeerterreinen, wegen, etc., verhard
        worden, waardoor de neerslag ter plaatse niet langer in de (voorheen onverharde) grond kan infiltreren.</p>
    </dd>
    <dt>Ontgronding </dt>
    <dd>
      <p>het uitvoeren van diepe ontgravingen (bijvoorbeeld zand- en kleiwinputten, nevengeulen en weerdverlagingen).</p>
    </dd>
    <dt>Onttrekken </dt>
    <dd>
      <p>het door middel van een werk halen van water uit grondwater en aan een oppervlaktewater.</p>
    </dd>
    <dt>Onttrekkingsvoorziening </dt>
    <dd>
      <p>een constructie om water uit grondwater en aan een oppervlaktewater te onttrekken.</p>
    </dd>
    <dt>Onverharde weg </dt>
    <dd>
      <p>weg aangelegd zonder wegcunet (zoals wandelpaden, zandwegen of schelpenpaden)</p>
    </dd>
    <dt>Open verhardingen </dt>
    <dd>
      <p>het wegdek bestaat uit losse elementen, zoals klinkers, stelconplaten of tegels.</p>
    </dd>
    <dt>Ophoging </dt>
    <dd>
      <p>kunstmatige verhoging van het maaiveld.</p>
    </dd>
    <dt>Oppervlaktewater </dt>
    <dd>
      <p>oppervlaktewaterlichaam als bedoeld in artikel 1.1 van de Waterwet, zijnde een samenhangend geheel van vrij aan het aardoppervlak
        voorkomend water, met de daarin aanwezige stoffen, alsmede de bijbehorende bodem, oevers en, voor zover uitdrukkelijk
        aangewezen krachtens de wet, drogere oevergebieden, alsmede flora en fauna;</p>
    </dd>
    <dt>Overige wateren </dt>
    <dd>
      <p>wateren die niet in de legger zijn aangeduid als primair of secundair. Deze wateren hebben slechts een lokaal belang
        voor het (functioneren van het) watersysteem.</p>
    </dd>
    <dt>OWL-stuw en ander peilregulerend werk </dt>
    <dd>
      <p>een vaste of beweegbare constructie in een overig water en in beheer en onderhoud bij de gebruiker, die dient om de waterstand
        bovenstrooms van de constructie te regelen.</p>
    </dd>
    <dt>Parcours in kader recreatief medegebruik bij een oppervlaktewater en waterkering </dt>
    <dd>
      <p>een structureel aanwezige route, inclusief bijbehorende elementen (bijvoorbeeld routemarkeringspaaltjes, prullenbakken,
        e.d.), dit omvat tevens het hebben en het wijzigen van een parcours. In het algemeen zal het parcours slechts gedeeltelijk
        binnen de zoneringen van een oppervlaktewater en waterkering zijn gelegen als onderdeel van een meer omvangrijk parcours
        (m.n. fiets- en wandelroutes).</p>
    </dd>
    <dt>Peilgestuurde drainage </dt>
    <dd>
      <p>buisdrainage, gecombineerd met een peilregulerend werk.</p>
    </dd>
    <dt>Perceel met meest kritische gewas </dt>
    <dd>
      <p>het perceel dat binnen het beïnvloedingsgebied van een stuw het diepste grondwaterpeil vraagt.
      </p>
    </dd>
    <dt>Ploegen </dt>
    <dd>
      <p>het met een landbouwwerktuig omkeren van grond tot een diepte van maximaal 50 cm.</p>
    </dd>
    <dt>Pot- en containervelden </dt>
    <dd>
      <p>bedrijfsmatige teelten die los staan van de ondergrond en niet wortelen in de bodem.</p>
    </dd>
    <dt>Primair oppervlaktewater </dt>
    <dd>
      <p>een oppervlaktewater dat in de legger als primair oppervlaktewater is aangeduid. Primaire oppervlaktewateren zijn van
        groot belang voor het (functioneren van het) watersysteem.</p>
    </dd>
    <dt>Profiel van een oppervlaktewater </dt>
    <dd>
      <p>breedte en diepte van het oppervlaktewater als aangegeven op de legger of keurkaart.</p>
    </dd>
    <dt>Profiel van vrije ruimte </dt>
    <dd>
      <p>de ruimte als vastgelegd in de legger ter weerszijden van, boven en onder een waterstaatwerk of een toekomstig waterstaatswerk
        die naar het oordeel van de beheerder nodig is voor toekomstige verbeteringen;</p>
    </dd>
    <dt>Recreatief medegebruik bij oppervlaktewater </dt>
    <dd>
      <p>het medegebruiken van oppervlaktewateren en bijbehorende zoneringen voor niet-gemotoriseerde recreatieve doeleinden zoals
        wandelen, fietsen, e.d.</p>
    </dd>
    <dt>Recreatief medegebruik bij waterkering </dt>
    <dd>
      <p>het medegebruiken van zoneringen van de waterkering voor niet-gemotoriseerde recreatieve doeleinden zoals wandelen, fietsen,
        het hebben van een tijdelijk evenement, e.d.</p>
    </dd>
    <dt>Schutting </dt>
    <dd>
      <p>afscheiding zonder vrij doorzicht, in zijn algemeenheid aangelegd als perceels- of erfafscheiding.
      </p>
    </dd>
    <dt>Secundair oppervlaktewater </dt>
    <dd>
      <p>een oppervlaktewater dat in de legger als secundair oppervlaktewater is aangeduid. Secundaire oppervlaktewateren zijn
        wateren die van boven lokaal belang zijn voor het (functioneren van het) watersysteem.</p>
    </dd>
    <dt>Straatmeubilair </dt>
    <dd>
      <p>bouwwerken die zijn bedoeld voor de inrichting van de openbare straat en aansluiten bij de publieke functie van de straat
        (voorbeelden zijn bankjes, lantaarnpalen, bebording).</p>
    </dd>
    <dt>Struik </dt>
    <dd>
      <p>een houtige plant zonder stam die zich onmiddellijk boven of reeds in de grond vertakt in een aantal takken die meer
        of minder dik kunnen worden, al dan niet in de vorm van een haag.</p>
    </dd>
    <dt>Struweel </dt>
    <dd>
      <p>bosplantsoen, aaneengesloten struikgewas</p>
    </dd>
    <dt>Talud van de waterkering </dt>
    <dd>
      <p>het onder een helling gelegen vlak, gelegen tussen de kruin van de waterkering en de teen van de waterkering.</p>
    </dd>
    <dt>Teelt op stellingen </dt>
    <dd>
      <p>bedrijfsmatige teelt, los van de ondergrond, waarbij gebruikt wordt gemaakt van goten en/of bakken op stellages.</p>
    </dd>
    <dt>Tuinbeplanting </dt>
    <dd>
      <p>planten, bloemen, struiken, hagen en bomen met een maximale eindhoogte van 5 meter. Gras wordt niet als tuinbeplanting
        aangemerkt.</p>
    </dd>
    <dt>Tunnel </dt>
    <dd>
      <p>(min of meer) halfronde constructies, permanent overtrokken met al dan niet lichtdoorlatend materiaal anders dan glas,
        bestemd voor het voortrekken van gewassen of het opkweken van plantmateriaal en ter beschermeling van gewassen tegen
        neerslag.</p>
    </dd>
    <dt>Verharding </dt>
    <dd>
      <p>een open of gesloten verharding, niet zijnde een weg, bedoeld om te dienen als terras, parkeerruimte, e.d.. waarvoor
        geen diepere ontgraving nodig is dan 30 cm</p>
    </dd>
    <dt>Verleggen van een oppervlaktewater </dt>
    <dd>
      <p>het wijzigen van de ligging van een primair en secundair oppervlaktewater ten opzichte van de ligging zoals opgenomen
        in de legger van het waterschap. Hieronder wordt tevens verstaan het aanleggen van een oppervlaktewater dat in verbinding
        wordt gebracht met een primair en of secundair oppervlaktewater.</p>
    </dd>
    <dt>Wandelen </dt>
    <dd>
      <p>lopen al dan niet vergezeld van een aangelijnd klein huisdier.</p>
    </dd>
    <dt>Waterkering </dt>
    <dd>
      <p>waterkering zoals opgenomen op de legger. Het betreft zowel de dijklichamen (groene keringen), harde keringen (muren),
        demontabele keringen, gecombineerde keringen (groen en hard) en hoge gronden.</p>
    </dd>
    <dt>Waterstaatswerk </dt>
    <dd>
      <p>oppervlaktewaterlichaam, bergingsgebied, waterkering of ondersteunend kunstwerk</p>
    </dd>
    <dt>Watersysteem </dt>
    <dd>
      <p>samenhangend geheel van een of meer oppervlaktewateren en grondwaterlichamen, met bijbehorende bergingsgebieden, waterkeringen
        en ondersteunende kunstwerken ;</p>
    </dd>
    <dt>Weg </dt>
    <dd>
      <p>een voor het verkeer geschikt gemaakte strook grond. Hieronder vallen onverharde wegen, gesloten verhardingen en open
        verhardingen.</p>
    </dd>
    <dt>Werken en werkzaamheden </dt>
    <dd>
      <p>alle door menselijk toedoen te verrichten handelingen, zoals het bewerken van gronden, het plaatsen van constructies,
        het aanbrengen van beplanting, e.d..</p>
    </dd>
    <dt>Woekerende soorten </dt>
    <dd>
      <p>soorten die zich snel kunnen uitbreiden, of door spontane uitzaai of door rizomen en uitlopers, waarbij andere begroeiing,
        waaronder de grasmat, wordt verdreven of verstikt
      </p>
    </dd>
    <dt>Woonboot </dt>
    <dd>
      <p>een boot die zodanig is ingericht dat men erop kan wonen en waarvan de primaire functie ook wonen is. Een woonboot is
        niet bedoeld om mee te reizen</p>
    </dd>
  </dl>
  <p>
    De Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur en Waterstaat, de Minister van Justitie en
    Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de Minister van Onderwijs, Cultuur en Wetenschap; Gedaan, mede namens de Minister van Defensie, <img src="/images/temp/wat-doet-overheid.jpg" class="valign valign--middle" width="70" height="40" /> de Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur en Waterstaat, de Minister van Justitie en Veiligheid, de Minister
    van Landbouw, Natuur en Voedselkwaliteit, de Minister van Onderwijs, Cultuur en Wetenschap;
  </p>
  <div class="columns">
    <div>
      <p>
        kolom 1
      </p>
    </div>
    <div>
      <p>
        kolom 2
      </p>
    </div>
  </div>
  <p>
    Gedaan, mede namens de Minister van Defensie, de Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur
    en Waterstaat, de Minister van Justitie en Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de Minister
    van Onderwijs, Cultuur en Wetenschap; De Verdragenbank bevat de gegevens van de verdragen, waarbij het Koninkrijk der Nederlanden partij is. Verdragsgegevens zijn
    onder andere de datum en de plaats van de totstandkoming. <q cite="bron.html">De appel valt niet ver van de boom</q>, zei truus met een ondertoon. De datum van inwerkingtreding, de vindplaats van de verdragstekst,
    de partijen (landen, gebiedsdelen en internationale organisaties) en de datum van bekrachtiging, de gelding voor Europees
    Nederland, Aruba, Curaçao, Sint Maarten en/of het Caribische deel van Nederland (Bonaire, Sint Eustatius, Saba), eventuele
    voorbehouden, verklaringen en bezwaren en de verbanden tussen verdragen.
  </p>

  <p>
    Besluit:
  </p>


  <h2 class="docHoofdstuk">Hoofdstuk 1 algemene bepalingen [docHoofdstuk]</h2>
  <h3 class="docAfdeling">Afdeling 1.1 algemeen [docAfdeling]</h3>
  <p>Text</p>


  <h2 class="docHoofdstuk">Hoofdstuk 2 aanwijzing en geometrische begrenzing van locaties [docHoofdstuk]</h2>
  <h3 class="docAfdeling">Afdeling 2.1 algemene bepalingen [docAfdeling]</h3>
  <h4 class="docArtikel">Artikel 2.1 (toepassingsbereik) [docArtikel]</h4>
  <p>
    Dit hoofdstuk is van toepassing op de aanwijzing (<a href="#voetnoot1" data-decorator="init-footnote">voetnoot 1</a>) of geometrische begrenzing van locaties voor de toepassing van de wet.
  </p>


  <h3 class="docAfdeling">Afdeling 2.2 Water [docAfdeling]</h3>
  <h4 class="docParagraaf">§ 2.2.1 Oppervlaktewateren en rijkswateren [docParagraaf]</h4>

  <h5 class="docArtikel">Artikel 2.2 (geometrische begrenzing oppervlaktewaterlichamen) [5]</h5>
  <ol class="list list--nummeric">
    <li>
      De geometrische begrenzing van de oppervlaktewaterlichamen (<a href="#voetnoot2" data-decorator="init-footnote">voetnoot 2</a>), bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
    </li>
    <li>
      De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
    </li>
    <li>
      De geometrische begrenzing van de oppervlaktewaterlichamen (<a href="#voetnoot2" data-decorator="init-footnote">voetnoot 2</a>), bedoeld in bijlage II, onder 1, bij Omgevingsbesluit en waarvan het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
    </li>
  </ol>

  <div class="table__container">
    <table class="table" aria-describedby="described123">
      <caption>Hier de tabeltitel.</caption>
      <thead>
        <tr>
          <th>Header kolom 1</th>
          <th>Header kolom 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarde kolom 1, rij 1
            <sup>
              <a href="#tabelnoot1" id="referentie1" data-decorator="init-footnote">1</a>
            </sup>
          </td>
          <td>Waarde kolom 2, rij 1</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <ul class="list-custom footnotes footnotes--clean">
              <li class=" list-custom__item " id="tabelnoot1">
                <span class="list-custom__itembullet">1</span>Dit is een tabelnoot.
                <a href="#referentie1" class="reference">Terug naar referentie 1.</a>
              </li>
            </ul>
            </td>
        </tr>
      </tfoot>
    </table>
    <div class="table__caption" id="described123">
      Dit is de tabelbron.
    </div>
  </div>


  <div class="table__container">
    <table class="table table--untouched table--striped table__data-overview" aria-describedby="tableDes2">
      <caption>Zebra1 en pgwide 0 (titel van de tabel)</caption>
      <col>
      <colgroup span="2"></colgroup>
      <thead>
        <tr>
          <th colspan="2" scope="colgroup">Ontwerplevensduur</th>
          <th colspan="1" scope="colgroup">Toepassing</th>
        </tr>
      </thead>
      <body>
        <tr class="table__rowheading table__rowheading--lvl2">
          <th scope="col" colspan="3">Row 2</th>
        </tr>
        <tr class="table__rowheading table__rowheading--lvl3">
          <th scope="col" colspan="3">Row 3</th>
        </tr>
        <tr class="table__rowheading table__rowheading--lvl4">
          <th scope="col" colspan="3">Row 4</th>
        </tr>
        <tr class="table__rowheading table__rowheading--lvl5">
          <th scope="col" colspan="3">Row 5</th>
        </tr>
        <tr class="table__rowheading table__rowheading--lvl6">
          <th scope="col">Klasse</th>
          <th scope="col">Jaren</th>
          <th scope="col"></th>
        </tr>
        <tr>
          <td>1A</td>
          <td>5</td>
          <td>Tijdelijke bouwwerken, anders dan een woonfunctie: waarbij de termijn genoemd in de omgevingsvergunning als bedoeld in
            PM niet langer is dan 5 jaar of die vergunningsvrij zijn voor de activiteit bouwen als bedoeld in PM. Voor bouwwerken
            in gevolgklasse CC2 of CC3: binnen deze klasse moeten de in rekening te brengen belastingen zijn gebaseerd op een referentieperiode
            van 15 jaar. Voor CC1 is dit 5 jaar.</td>
        </tr>
        <tr>
          <th scope="col">Klasse</th>
          <th scope="col">Jaren</th>
          <th scope="col"></th>
        </tr>
        <tr>
          <td>1A</td>
          <td class="valign--middle">5</td>
          <td>Tijdelijke bouwwerken, anders dan een woonfunctie: waarbij de termijn genoemd in de omgevingsvergunning als bedoeld in PM
          niet langer is dan 5 jaar of die vergunningsvrij zijn voor de activiteit bouwen als bedoeld in PM. Voor bouwwerken in gevolgklasse
          CC2 of CC3: binnen deze klasse moeten de in rekening te brengen belastingen zijn gebaseerd op een referentieperiode van 15
          jaar. Voor CC1 is dit 5 jaar.</td>
        </tr>
        <tr>
          <td>1B</td>
          <td class="">15</td>
          <td>Tijdelijke bouwwerken, anders dan de bouwwerken die vallen in klasse 1A.</td>
        </tr>
        <tr>
          <td>2</td>
          <td>15</td>
          <td>Constructies en bouwwerken voor landbouw en tuinbouw en soortgelijke toepassingen, alleen voor productiedoeleinden, waarbij
          het aantal personen dat in het gebouw aanwezig is, beperkt is; 2 15 Industriebouwwerken, wel of niet tijdelijk, met 1 of
          2 bouwlagen.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>50</td>
          <td>Bouwwerken anders dan bedoeld onder 1A, 1B en 2.</td>
        </tr>
      </body>
      <tfoot>
        <tr>
          <td colspan="3">Dit is de voetnote</td>
        </tr>
      </tfoot>
    </table>
    <div id="tableDes2">
      Dit is een tabel bron
    </div>
  </div>


  <div class="table__container">
    <table class="table table--untouched" aria-describedby="table2Summary">
      <thead>
        <tr>
          <th scope="colgroup">Hoofdstuk</th>
          <th scope="colgroup">Wat wordt geregeld?</th>
          <th scope="colgroup"><span class="rotated">Reken- en meetmethode</span></th>
          <th scope="colgroup">Waar?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">2 Locaties</th>
          <td>Aanwijzing agglomeraties richtlijn omgevingslawaai</td>
          <td>n.v.t.</td>
          <td>Afdeling 2.5</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th rowspan="3" scope="rowgroup">6 Meet- en rekenvoorschriften decentraal Bijlage XIX gereguleerde activiteiten</th>
          <td>Berekenen geluid op geluidgevoelige gebouwen door activiteiten:</t>
          <td></td>
          <td rowspan="2">§ 6.2.1 Bijlage XIX</td>
        </tr>
        <tr>
          <td>• Anders dan specifieke activiteiten</td>
          <td>Handleiding meten en rekenen industrielawaai</td>
        </tr>
        <tr>
          <td>• Binnenschietbanen</td>
          <td>In bijlage</td>
          <td></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th rowspan="2" scope="rowgroup">7 Gegevens en bescheiden</th>
          <td>Aanvraagvereisten bij enkele milieubelastende activiteiten:</td>
          <td rowspan="2">n.v.t</td>
          <td rowspan="2">§ 7.1.3.5<br>§ 7.1.3.10<br>§ 7.1.3.12</td>
        </tr>
        <tr>
          <td>• de aard en omvang van de geluidemissies;<br> • de door de activiteit veroorzaakte geluidimmissie; en<Br>• de maatregelen die worden
          getroffen om geluidemissies te voorkomen of, als dat niet mogelijk is, te beperken.</td>
        </tr>
      </tbody>
    </table>
    <div class="table__caption" id="table2Summary">
    <p  >
      Dit is the summary/caption van de tabel hieronder, met een aria-describedby.
    </p>
    <p>extra</p>
    </div>
  </div>

  <h5 class="docArtikel">Artikel 2.3 [5]</h5>
  <ol>
    <li>
      De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
      het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
      <ol class="list list--nummeric">
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
          het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
          het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij Omgevingsbesluit en waarvan
          het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
      </ol>
    </li>
    <li>
      De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
      het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
    </li>
    <li>
      De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij Omgevingsbesluit en waarvan
      het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
    </li>
  </ol>

  <ul class="list-custom footnotes">
    <li class="list-custom__item" id="voetnoot1">
      <span class="list-custom__itembullet">1</span>Willem-Alexander Claus George Ferdinand, Koning der Nederlanden, Prins van Oranje-Nassau, Jonkheer van Amsberg
      (Utrecht, 27 april 1967) is sinds 30 april 2013 koning der Nederlanden. Hij is het oudste kind van prinses Beatrix en
      prins Claus.
      <a href="#referentie1" class="reference">Terug naar referentie 1</a>
    </li>
    <li class="list-custom__item" id="voetnoot2">
      <span class="list-custom__itembullet">3</span>Cras in ipsum condimentum, egestas metus id, tristique metus.
      <a href="#referentie2" class="reference">Terug naar referentie 2</a>
    </li>
  </ul>

  <article>
    <h1>[h1]Lichaam in lichaam</h1>
    <p>In een nieuwe artikel kan een nieuwe h-structuur gestart worden. Een 'article' mag <strong>alleen</strong> gebruikt worden als de inhoud erin ook buiten deze context kan leven.</p>
    <blockquote>The article element represents a complete, or self-contained, composition in a document, page, application, or site. This
    could be a magazine, newspaper, technical or scholarly article, an essay or report, a blog or other social media post.</blockquote>
    <cite>W3C</cite>
    <h2>[h2]</h2>
    <p>txt</p>
    <h3>[h3]</h3>
    <p>txt</p>
  </article>

</article>

<hr>

<p class="docRegelingOpschrift">docRegelingOpschrift</p>
<p class="docHoofdstuk">docHoofdstuk</p>
<p class="docTitel">docTitel</p>
<p class="docAfdeling">docAfdeling</p>
<p class="docParagraaf">§ docParagraaf</p>
<p class="docSubparagraaf">§ docSubparagraaf</p>
<p class="docSubsubparagraaf">§ docSubsubparagraaf</p>

<p class="docArtikel">docArtikel</p>
<p class="docFormeleInhoud">docFormeleInhoud</p>
<p class="docFormeleDivisie">docFormeleDivisie</p>
<p class="docDivisie">docDivisie</p>

<hr>

<div>

  <h2>Toelichting</h2>

  <h3>1. Algemeen deel</h3>
  <h4>Samenvatting</h4>
  <p>Gedaan, mede namens de Minister van Defensie, de Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur
  en Waterstaat, de Minister van Justitie en Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de Minister
  van Onderwijs, Cultuur en Wetenschap; De Verdragenbank bevat de gegevens van de verdragen, waarbij het Koninkrijk der Nederlanden
  partij is. Verdragsgegevens zijn onder andere de datum en de plaats van de totstandkoming. De appel valt niet ver van de
  boom, zei truus met een ondertoon.</p>
  <h4>Andere tussenkop</h4>
  <p>Gedaan, mede namens de Minister van Defensie, de Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur
  en Waterstaat, de Minister van Justitie en Veiligheid, de Minister van Landbouw, Natuur en Voedselkwaliteit, de Minister
  van Onderwijs, Cultuur en Wetenschap; De Verdragenbank bevat de gegevens van de verdragen, waarbij het Koninkrijk der Nederlanden
  partij is. Verdragsgegevens zijn onder andere de datum en de plaats van de totstandkoming. De appel valt niet ver van de
  boom, zei truus met een ondertoon.</p>

  <h3>Afdeling 2.2 water</h3>
  <h4>§ 2.2.1 Rijkswateren</h4>
  <h5>Artikel 2.2 bladiabla gelaat</h5>
  <p>tekst</p>
  <p aria-role="headings" aria-level="6"><strong></strong>lekker dan</p>
  <p>tekst</p>

</div>


</div>



{{ render "@footer" }}
