{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container">

<article>

  <h1>Regeling van de Minister van Binnenlandse Zaken en Koninkrijksrelaties, van [datum], houdende regels over het beschermen
  en benutten van de fysieke leefomgeving (Omgevingsregeling)</h1>

  <p>
     De Minister van Binnenlandse Zaken en Koninkrijksrelaties,
  </p>
  <p>
    Gedaan, mede namens de Minister van Defensie, de Minister van Economische Zaken en Klimaat, de Minister van Infrastructuur en Waterstaat, de Minister van Justitie en Veiligheid, de Minister
    van Landbouw, Natuur en Voedselkwaliteit, de Minister van Onderwijs, Cultuur en Wetenschap;
  </p>
  <p>
    Gelet op de richtlijn energieprestatie van gebouwen, de richtlijn gevaarlijke stoffen in de lucht, de richtlijn industriële emissies, de richtlijn luchtkwaliteit,
    de richtlijn omgevingslawaai, de richtlijn storten afvalstoffen, de Seveso-richtlijn, de richtlijn winningsafval, het verdrag
    van Aarhus, het verdrag van Granada, het verdrag van Valletta, de zwemwaterrichtlijn;
  </p>
  <p>
    Gelet op de artikelen 1.5, tweede lid, 2.20, tweede en derde lid, 2.21, 2.24, tweede lid, 4.3, derde lid, 12.6, vijfde lid, 13.1, tweede lid, 16.6, 16.55, tweede
    en zesde lid, 16.88, derde en vierde lid, 20.3, eerste lid, 20.6, tweede lid, aanhef en onder b, 20.14, zesde lid, 20.16,
    derde lid, 20.18, eerste lid, van de Omgevingswet;
  </p>
  <p>
    Besluit:
  </p>

  <section>
    <h2>[2] Hoofdstuk 1 algemene bepalingen</h2>
    <h3>[3] Afdeling 1.1 algemeen</h3>
    <p>Text</p>
  </section>
  <section>
    <h2>[2] Hoofdstuk 2 aanwijzing en geometrische begrenzing van locaties</h2>

      <h3>[3] Afdeling 2.1 algemene bepalingen</h3>
      <h4>[4] Artikel 2.1 (toepassingsbereik)</h4>
      <p>
        Dit hoofdstuk is van toepassing op de aanwijzing of geometrische begrenzing van locaties voor de toepassing van de wet.
      </p>


      <h3>[3] Afdeling 2.2 Water</h3>
      <h4>[4] 2.2.1 Oppervlaktewateren en rijkswateren</h4>

      <h5>[5] Artikel 2.2 (geometrische begrenzing oppervlaktewaterlichamen)</h5>
      <ol class="list list--nummeric">
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij Omgevingsbesluit en waarvan het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
      </ol>

      <h5>[5] Artikel 2.3 </h5>
      <ol>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
          het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
          <ol class="list list--nummeric">
            <li>
              De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
              het beheer van de waterkwaliteit bij het Rijk berust, is vastgelegd in bijlage III.
            </li>
            <li>
              De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
              het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
            </li>
            <li>
              De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij Omgevingsbesluit en waarvan
              het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
            </li>
          </ol>
        </li>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij het Omgevingsbesluit en waarvan
          het beheer van de waterkwantiteit bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
        <li>
          De geometrische begrenzing van de oppervlaktewaterlichamen, bedoeld in bijlage II, onder 1, bij Omgevingsbesluit en waarvan
          het waterstaatkundig beheer bij het Rijk berust, is vastgelegd in bijlage III.
        </li>
      </ol>
      <article>
        <h1>[h1]Lichaam in lichaam</h1>
        <p>In een nieuwe artikel kan een nieuwe h-structuur gestart worden. Een 'article' mag <strong>alleen</strong> gebruikt worden als de inhoud erin ook buiten deze context kan leven.</p>
        <blockquote>The article element represents a complete, or self-contained, composition in a document, page, application, or site. This
        could be a magazine, newspaper, technical or scholarly article, an essay or report, a blog or other social media post.</blockquote>
        <cite>W3C</cite>
        <h2>[h2]</h2>
        <p>txt</p>
        <h3>[h3]</h3>
        <p>txt</p>
      </article>

  </section>

</article>

</div>

<style>
  article,
  section {
    border: 1px solid red;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
  }
  article:after,
  section:after {
    content: "Article";
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    color: white;
    padding: 5px;
  }
  section:after {
    content: "Section";
    background: grey;
  }
</style>

{{ render "@footer" }}
