{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumbContext }}
  </div>
</div>

<div class="container row">

  <h1 class="h1 h1--large">Publicatieoverzicht <span class="h1__sub">Gemeente Den Haag</span></h1>
  <p>Bekijk de publicatieberichten of upload een nieuw document</p>

  <h2>Upload nieuw document</h2>
  <div class="well well-pageblock">
    <div class="form__row">
    <div class="input-dragbox" data-decorator="init-inputfile">
        <span class="input-dragbox__prelabel">Upload document door te slepen, of een document te</span>
        <label for="file" tabindex="0">
          <span>selecteren van uw computer</span>
        </label>
        <input type="file" tabindex="-1" id="file" />
      </div>
    </div>
    <a href="/upload" class="button button--primary button--icon-upload">Bestand uploaden</a>
  </div>

  <div class="columns">
    <div>
      <h2 class="h1 u-nomargin">Documentoverzicht <span class="h1__sub">105</span></h2>
    </div>
    <div class="form__element">
      <div class="form__element__label">
        <label for="" class="label--large">Zoek een document:</label>
      </div>
      <div class="form__element__inputs">
        <input type="text" id="input-1" class="input input-text input-text--searchmedium" placeholder="Documentnaam..">
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"><a href="#" class="sort--descending">Citeertitel</a></th>
        <th scope="col"><a href="#" class="sort--descending">Documenttype</a></th>
        <th scope="col"><a href="#" class="sort--descending">Statusbericht</a></th>
        <th scope="col"><a href="#" class="sort--descending">Datum</a></th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td data-before="Documentnaam">
            <span class="label"><i>Nieuw</i></span><a href="./details?conversationId=${opdracht.conversationId}">Documentnaam</a>
          </td>
          <td>Omgevingsverordening</td>
          <td>Wacht op publicatie</td>
          <th scope="row">06-08-2018 | 09:37:11</th>
        </tr>
        <tr>
          <td data-before="Documentnaam">
            <a href="./details?conversationId=${opdracht.conversationId}">Documentnaam</a>
          </td>
          <td>Omgevingsverordening</td>
          <td>Wacht op publicatie</td>
          <th scope="row">06-08-2018 | 09:37:11</th>
        </tr>

    </tbody>
  </table>

</div>

{{ render "@footer" }}
