{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumbContext }}
  </div>
</div>

<div class="container row">

  <h1 class="h1 h1--large">Publicatieoverzicht <span class="h1__sub">Gemeente Den Haag</span></h1>
  <p>Bekijk de publicatieberichten of upload een nieuw document</p>

  <div class="well well-pageblock">

  </div>

  <h2 class="h1">Documentoverzicht <span class="h1__sub">105</span></h2>

</div>

{{ render "@footer" }}
