.sort {
  background-color: $lightGrey;
  padding: 1em;
  margin: 1em 0;

  &__options {
    font-weight: normal;
    display: inline;
    padding-left: .5em;

    li {
      list-style: none;
      display: inline;
      color: $darkBlue;
    }

    li::after {
      content: ' / ';
      margin: 0 .5em;
    }

    li:last-child::after {
      content: '';
      margin: 0;
    }

    a {
      text-decoration: none;

      &.sort--ascending {
        font-weight: 700;
        padding-right: 1em;
        background: {
          repeat: no-repeat;
          position: right 50%;
          image: $dartTopIcon;
          size: 10px;
        }
      }

      &.sort--descending {
        font-weight: 700;
        padding-right: 1em;
        background: {
          repeat: no-repeat;
          position: right 50%;
          image: $dartDownIcon;
          size: 10px;
        }

      }
    }
  }
}
