<div class="sort">
  Sorteren op:
  <ul class="sort__options">
    <li><a href="?sortby=foo" class="sort--ascending">Datum document</a></li>
    <li><a href="?sortby=foo">Datum publicatie</a></li>
    <li><a href="?sortby=foo" class="sort--descending">Relevantie</a></li>
  </ul>
</div>
