<div class="sort">
  Sorteren op:
  <ul class="sort__options">
    <li>Datum document</li>
    <li><a href="?sortby=foo">Datum publicatie</a></li>
    <li><a href="?sortby=foo">Relevantie</a></li>
  </ul>
</div>
