del {
  background: $lightRed;
  // padding: .1em;
  color: $black;

  > * {
    background: $lightRed;
  }


  > img {
    border: 2px dashed $lightRed;
    margin: .25em;
    display: inline-block;
  }
}

ins {
  background: $lightGreen;
  // padding: .1em;
  color: $black;
  text-decoration: underline;

  > * {
    background: $lightGreen;
  }

  > img {
    border: 2px dashed $lightGreen;
    margin: .25em;
    display: inline-block;
  }
}

del ~ figcaption,
del ~ .figcaption,
ins ~ figcaption {
  position: absolute;
  left: .5em;
  top: 0.5em;
}

del,
ins {
  picture {
    padding: 2.5em .5em .5em .5em;
    display: inline-block;
  }
}

.ins,
.del {
  margin: 0 0 1.5em 0;
  background: $lightGreen;

  &--img {
    display: inline-block;
    text-align: center;
    font-style: italic;
    text-decoration: none;

    .figcaption {
      font-size: 0.8em;
      display: block;
    }
  }

  &--block {
    text-decoration: none;
    display: block;
    border-left: 0.5em solid $green;
    padding: 0.5em;

    p {
      margin: 0;
    }
    p + * {
      margin-top: .5em;
    }

    .figcaption {
      font-style: italic;
    }

    .table__container {
      margin-bottom: 0;
      & ~ .table__container {
        margin-bottom: 2em;
      }
    }
  }
}

.del {
  background: $lightRed;
  color: $black;

  &--block {
    border-left: 0.5em solid $red;
  }
}
