del {
  background: $lightRed;
  // padding: .1em;
  color: $black;

  > * {
    background: $lightRed;
  }


	&::before,
	&::after {
		clip-path: inset(100%);
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	&::before {
  	content: " [start van verwijderde tekst] ";
	}

	&::after {
  	content: " [einde van verwijderde tekst] ";
	}
}

ins {
  background: $lightGreen;
  // padding: .1em;
  color: $black;
  text-decoration: none;

  > * {
    background: $lightGreen;
  }
}

.ins,
.del {
  margin: 0 0 1.5em 0;
  background: $lightGreen;

  &--block {
    display: block;
    border-left: 0.5em solid $green;
    padding-left: 0.5em;
    padding-right: 0.5em;

    p {
      margin: 0;
    }
    p + * {
      margin-top: .5em;
    }
  }
}

.del {
  background: $lightRed;
  color: $black;

  &--block {
    border-left: 0.5em solid $red;
  }
}
