del {
  background: $lightRed;
  // padding: .1em;
  color: $black;

  > * {
    background: $lightRed;
  }


  > img {
    border: 2px dashed $lightRed;
    margin: .25em;
    display: inline-block;
  }
}

ins {
  background: $lightGreen;
  // padding: .1em;
  color: $black;
  text-decoration-style: dashed;

  > * {
    background: $lightGreen;
  }

  > img {
    border: 2px dashed $lightGreen;
    margin: .25em;
    display: inline-block;
  }
}


ins.ins,
del.del {
  margin: 0 0 1.5em 0;
  background: $lightGreen;

  &:before {
    content: "Toegevoegd: ";
    font-style: italic;
    display: block;
    margin-bottom: 8px;
  }

  &--img {
    display: inline-block;
    text-align: center;
    font-style: italic;
    text-decoration: none;

    &:before {
      content: "Toegevoegde afbeelding: ";
      font-size: 0.8em;
    }
  }

  &--figure {
    border-left: 0.5em solid $green;
    padding: 0.5em;
    display: block;
    text-decoration: none;

    &:before {
      content: "Toegevoegde afbeelding: ";
      display: block;
    }
    figcaption {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  &--block,
  &--table {
    text-decoration: none;
    display: block;
    border-left: 0.5em solid $green;
    padding: 0.5em;

    p {
      margin: 0;
    }
    p + * {
      margin-top: .5em;
    }

    .table__container {
      margin-bottom: 0;
      & ~ .table__container {
        margin-bottom: 2em;
      }
    }
  }

  &--table {
    &:before {
      content: "Toegevoegde tabel: ";
      font-style: italic;
      margin-bottom: 8px;
      display: block;
    }
  }
}

del.del {
  color: $black;
  background: $lightRed;

  &:before {
    content: "Verwijderd: ";
  }

  &--img {
    &:before {
      content: "Verwijderde afbeelding: ";
    }
  }

  &--block,
  &--figure,
  &--table {
    border-left: 0.5em solid $red;
  }

  &--figure {
    &:before {
      content: "Verwijderde afbeelding: "
    }

    figcaption {
      text-decoration: line-through;
    }
  }
  &--table {
    &:before {
      content: "Verwijderde tabel: "
    }
  }
}
figure del,
figure ins {
  text-decoration: none;
}
figure figcaption del {
  text-decoration: line-through;
}
figure figcaption ins {
  text-decoration: underline;
  text-decoration-style: dashed;
}
figure del picture ,
figure ins picture {
  padding: .5em;
  display: block;
  text-decoration: none;

  &:before {
    margin-bottom: 8px;
    text-decoration: none !important;
    font-style: italic;
    display: block;
  }
}
figure del picture {
  &:before {
    content: "Verwijderde afbeelding: ";

  }
}
figure ins picture {
  &:before {
    content: "Toegevoegde afbeelding: ";
  }
}
