<div class="wrapper">

  {{ render "@header" headerContext merge="true" }}

  <div class="row row--page-opener">
    <div class="container">
      {{ render "@breadcrumb" }}
    </div>
  </div>

<div>

  <div class="row row--browse">
    <div class="container">

      <form class="document-search" action="/search/4" method="post">
        <fieldset>
          <legend class="h1">Zoeken</legend>
          <p>Zoek naar diensten van de overheid, zoals het aanvragen van een vergunning of paspoort.</p>

          <div class="document-search__fields">
            <label class="visually-hidden" for="postcode"></label>
            <input id="postcode" type="text" placeholder="Postcode (alleen 4 cijfers)" name="postcode" data-com.agilebits.onepassword.user-edited="yes">
            <label class="visually-hidden" for="zoekterm"></label>
            <input id="zoekterm" type="text" placeholder="Zoekterm" name="zoekterm">
            <input type="submit" value="Zoeken" class="button button--secondary">
          </div>
          <p>
            <a href="/producten_en_diensten">Uitgebreid zoeken</a>
          </p>
        </fieldset>
      </form>

    </div>
  </div>




  <div class="container row paragraph paragraph--type--text paragraph--view-mode--default">

    <div>
      <h1 id="levensgebeurtenissen">Levensgebeurtenissen</h1>

      <p>Verschillende momenten in uw leven hebben gevolgen voor uw relatie met de overheid. Controleer welke wijzigingen in
        belastingen en rechten op inkomen van de overheid op u van toepassing zijn, wat er van u verwacht wordt en hoe u
        een en ander kunt regelen.</p>
    </div>

  </div>

  <div class="container">
    <div class="columns columns--fixed paragraph paragraph--type--linklist-blocks paragraph--view-mode--default">
      <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
        <h2>Samenlevingscontract</h2>

        <div>
          <p>Wilt u weten wat u moet regelen als u een samenlevingscontract wilt afsluiten? Wat er verandert als u een samenlevingscontract
            afsluit? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
        </div>
        <ul class="list list--linked">
          <li>
            <a href="https://www.rijksoverheid.nl/onderwerpen/levensgebeurtenissen/vraag-en-antwoord/checklist-samenlevingscontract">Checklist bij samenlevingscontract</a>
          </li>
        </ul>

      </div>

      <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
        <h2>Geregistreerd partnerschap</h2>

        <div>
          <p>Wilt u weten wat u moet regelen als u een geregistreerd partnerschap wilt sluiten? Wat uw rechten en plichten zijn?
            Wat er voor u verandert? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
        </div>
        <ul class="list list--linked">
          <li>
            <a href="https://www.rijksoverheid.nl/onderwerpen/levensgebeurtenissen/vraag-en-antwoord/checklist-geregistreerd-partnerschap">Checklist bij geregistreerd partnerschap</a>
          </li>
        </ul>

      </div>

      <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
        <h2>Trouwen</h2>

        <div>
          <p>Wilt u weten wat u moet regelen als u gaat trouwen? Wat uw rechten en plichten binnen het huwelijk zijn? Wat er
            voor u verandert? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
        </div>
        <ul class="list list--linked">
          <li>
            <a href="https://www.rijksoverheid.nl/onderwerpen/levensgebeurtenissen/vraag-en-antwoord/checklist-trouwen">Checklist bij trouwen</a>
          </li>
        </ul>

      </div>

      <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
        <h2>18 jaar worden</h2>

        <div>
          <p>Wilt u weten wat u moet regelen als u, of uw kind, 18 jaar wordt? En of u, of uw kind, nog ergens recht op heeft?
            Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
        </div>
        <ul class="list list--linked">
          <li>
            <a href="https://www.rijksoverheid.nl/onderwerpen/achttien-jaar-worden/vraag-en-antwoord/checklist-bij-18-jaar-worden">Checklist bij 18 jaar worden</a>
          </li>
        </ul>

      </div>

      <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
        <h2>Scheiden</h2>

        <div>
          <p>Wilt u weten wat u allemaal moet regelen als u gaat scheiden of uit elkaar gaat? Wat uw rechten zijn? En of u nog
            ergens recht op heeft? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
        </div>
        <ul class="list list--linked">
          <li>
            <a href="https://www.rijksoverheid.nl/onderwerpen/scheiden/vraag-en-antwoord/checklist-bij-scheiden-of-uit-elkaar-gaan">Checklist bij scheiden of uit elkaar gaan</a>
          </li>
        </ul>

      </div>

      <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
        <h2>Met pensioen gaan</h2>

        <div>
          <p>Wilt u weten wat u allemaal moet regelen als u met pensioen gaat? Wat uw rechten zijn? En of u nog ergens recht
            op heeft? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
        </div>
        <ul class="list list--linked">
          <li>
            <a href="https://www.rijksoverheid.nl/onderwerpen/met-pensioen-gaan/vraag-en-antwoord/checklist-met-pensioen-gaan">Checklist met pensioen gaan</a>
          </li>
        </ul>

      </div>

      <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
        <h2>Werkloos worden</h2>

        <div>
          <p>Wilt u weten wat u allemaal moet regelen als u werkloos wordt? Wat uw rechten zijn? En of u nog ergens recht op
            heeft? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
        </div>
        <ul class="list list--linked">
          <li>
            <a href="https://www.rijksoverheid.nl/onderwerpen/werkloos-worden/vraag-en-antwoord/checklist-bij-werkloos-worden">Checklist bij werkloos worden</a>
          </li>
        </ul>

      </div>

      <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
        <h2>Er is iemand overleden</h2>

        <div>
          <p>Wilt u weten wat u moet regelen als iemand is overleden? En wat de regels zijn voor de uitvaart? Vul dan uw persoonlijke
            situatie in en maak uw eigen checklist.</p>
        </div>
        <ul class="list list--linked">
          <li>
            <a href="https://www.rijksoverheid.nl/onderwerpen/overlijden/vraag-en-antwoord/checklist-bij-overlijden">Checklist bij overlijden</a>
          </li>
        </ul>

      </div>

      <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
        <h2>Er is iemand overleden</h2>

        <div>
          <p>Wilt u weten wat u moet regelen als iemand is overleden? En wat de regels zijn voor de uitvaart? Vul dan uw persoonlijke
            situatie in en maak uw eigen checklist.</p>
        </div>
        <ul class="list list--linked">
          <li>
            <a href="https://www.rijksoverheid.nl/onderwerpen/overlijden/vraag-en-antwoord/checklist-bij-overlijden">Checklist bij overlijden</a>
          </li>
        </ul>

      </div>


    </div>
  </div>



</div>

</div>

{{ render "@footer" }}
