.steps {
  position: relative;
  margin-left: 0;
  padding-left: 0;

  &__step {
    display: inline-block;
    padding: em(8) em(16) em(8) em(32);
    position: relative;
    background: $lightBlue;
    font-weight: 700;
    font-size: em(14);
    margin-bottom: em(4);

    &:first-child {
      padding-left: em(16);
    }

    &:after {
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 18px solid $lightBlue;
      content: "";
      height: 0;
      position: absolute;
      right: -14px;
      top: 0;
      width: 0;
      z-index: 2;
    }

    &:before {
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      border-left: 22px solid white;
      content: "";
      height: 0;
      position: absolute;
      right: -18px;
      top: -4px;
      width: 0;
      z-index: 2;
    }


    &.is-active {
      background: $mediumBlue;
      &:after {
        border-left: 18px solid $mediumBlue;
      }
    }
  }
}
