$gutter: 1em;

.columns-map {
  display: flex;
  flex-direction: column;

  @media (min-width: 50em) {
    flex-direction: row;

    .sidebar-column {
      min-width: 20em;
      max-width: 20em;
    }

    .main-column {
      width: 80em;
      margin-left: $gutter;
    }
  }
}