$gutter: 1em;

.columns-map {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 0 !important;

  @media (min-width: 50em) {
    flex-direction: row;

    &.collapsed {
      .sidebar-column {
        left: -432px;
        transition: left $fastEaseInOut;
        -webkit-transition: left $fastEaseInOut;
        -moz-transition: left $fastEaseInOut;
        -o-transition: left $fastEaseInOut;

        .sidebar-column-content {
          visibility: hidden;
        }
      }

      .main-column {
        min-width: 100%;
        max-width: 100%;

        .trigger-collapse {
          left: 0;
          background-image: $dartRightIcon;
          transition: left $fastEaseInOut;
          -webkit-transition: left $fastEaseInOut;
          -moz-transition: left $fastEaseInOut;
          -o-transition: left $fastEaseInOut;
        }
      }
    }

    .sidebar-column {
      min-width: 27em;
      max-width: 27em;
      background: #F2F8FC;
      position: relative;
      position: absolute;
      height: 100%;
      left: 0;
      overflow-y: scroll;
      transition: left $fastEaseInOut;
      -webkit-transition: left $fastEaseInOut;
      -moz-transition: left $fastEaseInOut;
      -o-transition: left $fastEaseInOut;

      .sidebar-column-content {
        visibility: visible;

        .table--small {
          table-layout: fixed;

          .source-row {
            th,
            td {
              border-bottom: 0;
            }
          }

          th,
          td {
            word-break: break-word;
          }
        }

        .modal__content {
          .table--small {
            margin: 1em 0;
          }
        }

        .content-item {
          margin: 1em -1em;
          padding: 1em 1em;
          cursor: pointer;

          &:hover {
            background: #fff;
            border-radius: 6px;
            border: 1px solid $primaryBlue;
          }

          .button-icon {
            display: none;
          }

          &.active {
            background: #fff;
            border-radius: 6px;
            border: 1px solid $primaryBlue;

            th,
            td {
              border-color: $primaryBlue !important;
            }

            .button-icon {
              display: inline-block;
            }
          }

          .table--small {
            .detail-row {
              display: table-row;

              th,
              td {
                border-top: 2px solid #B2D7EE;
                border-bottom: 0;
              }
            }
          }

          .button-icon--dots {
            background-image: $iconCrossWhite;
          }

          &.collapsed {
            .detail-row {
              display: none;
            }

            .button-icon--dots {
              background-image: $dotsIcon;
            }
          }
        }

        .result-item {
          .table--small {
            .detail-row {
              display: table-row;

              th,
              td {
                border-top: 2px solid #B2D7EE;
                border-bottom: 0;
              }
            }
          }

          .button-icon--dots {
            background-image: $iconCrossWhite;
          }

          &.collapsed {
            .detail-row {
              display: none;
            }

            .button-icon--dots {
              background-image: $dotsIcon;
            }
          }
        }
      }
    }

    .main-column {
      width: 100%;

      .trigger-collapse {
        background: #F2F8FC;
        height: 40px;
        width: 25px;
        position: absolute;
        top: calc(50% - 40px);
        left: 432px;
        border-radius: 0 6px 6px 0;
        background-image: $dartLeftIcon;
        background-repeat: no-repeat;
        background-position: center;
        background-size: .75em;
        cursor: pointer;
        transition: left $fastEaseInOut;
        -webkit-transition: left $fastEaseInOut;
        -moz-transition: left $fastEaseInOut;
        -o-transition: left $fastEaseInOut;
      }
    }
  }
}
