<style>
  columns-map > div {
    background: #ccc;
  }
</style>
<div class="columns-map">
  <div class="sidebar-column">
    Column Sidebar
  </div>
  <div class="main-column">
    Column Map
  </div>
</div>