.nav { }

.nav-sub {
  margin: 0 0 2em 0;
  padding: 0;

  @media (min-width: $breakpointDesktop) {
    border-right: 1px solid #f1f1f1;
  }

  &__heading {
    font-style: italic;
    font-weight: normal;
    font-size: em(18);
    line-height: 1em;
    margin-bottom: 1em;
    @media (min-width: $breakpointDesktop) {
      font-size: em(22);
    }
  }

  &__item {
    margin-bottom: .5em;

    &.is-active {
      border-right: 3px solid $darkBlue;
    }
  }

  &__item,
  &__sub-item {
    list-style: none;
    display: block;
  }

  &__link {
    font-size: 1em;
    font-weight: bold;
    padding: .2em .5em .2em 0;
    text-decoration: none;
    display: block;

    &.is-active {
      background: $lightBlue;
      padding-left: .5em;
      border-right: 3px solid $darkBlue;
    }
  }

  &__item.is-active &__link.is-active {
    border-right: 0;
  }

  &__sub {
    padding-left: 0;
    margin-bottom: 0;
  }

  &__sub-link {
    font-size: .9em;
    padding: .2em 0;
    text-decoration: none;
    display: block;

    &.is-active {
      background: $lightBlue;
      padding-left: .5em;
    }
  }

  .is-currentchapter {
    // font-weight: bold !important;
    background: $lightBlue;
    padding-left: .5em;
  }

  &__sub &__sub &__sub-link {
    border-left: .75em solid transparent;
  }
  &__sub &__sub &__sub-link.is-active {
    border-left: .75em solid $lightBlue;
  }
  &__sub &__sub &__sub &__sub-link {
    border-left: 1.5em solid transparent;
  }
  &__sub &__sub &__sub &__sub-link.is-active {
    border-left: 1.5em solid $lightBlue;
  }
  &__sub &__sub &__sub &__sub &__sub-link {
    border-left: 2.25em solid transparent;
  }
  &__sub &__sub &__sub &__sub &__sub-link.is-active {
    border-left: 2.25em solid $lightBlue;
  }
  &__sub &__sub &__sub &__sub &__sub &__sub-link {
    border-left: 3em solid transparent;
  }
  &__sub &__sub &__sub &__sub &__sub &__sub-link.is-active {
    border-left: 3em solid $lightBlue;
  }
  &__sub &__sub &__sub &__sub &__sub &__sub &__sub-link {
    border-left: 3em solid transparent;
  }
  &__sub &__sub &__sub &__sub &__sub &__sub &__sub-link.is-active {
    border-left: 3em solid $lightBlue;
  }
  &__sub &__sub &__sub &__sub &__sub &__sub &__sub &__sub-link {
    border-left: 3em solid transparent;
  }
  &__sub &__sub &__sub &__sub &__sub &__sub &__sub &__sub-link.is-active {
    border-left: 3em solid $lightBlue;
  }

  &--folders &__sub-link {
    padding: .5em .5em .5em 2.5em;
    background-image: $dartDownIcon;
    background-repeat: no-repeat;
    background-position: center left 1em;
    &:before {
      content: "";
      width: 22px;
      height: 15px;
      display: inline-block;
      background-image: $iconMap;
      background-repeat: no-repeat;
      background-position: center left;
      position: relative;
      top: 1px;
      margin-right: 1em;
    }
  }

  &--treeview &__item {
    margin: 0 0 .25em 0;
  }
  &--treeview &__item,
  &--treeview &__sub-item {
    .is-mother {
      background: $dartLeftIcon no-repeat left top .5em !important;
      background-size: .325em;
      padding-left: 1em;
    }
  }
  &--treeview &__link {
    font-weight: normal;
    text-decoration: underline;
    padding: 0;
    margin: 0 0 .25em 0;
    background: transparent !important;

    &.is-active {
      font-weight: bold;
      text-decoration: none;
      background: transparent !important;
      border: 0;
      padding-left: 1em;
    }
    &.is-mother ~ .nav-sub__sub,
    &.is-active ~ .nav-sub__sub {
      margin-left: 2em;
    }
  }

  &--treeview &__sub-link {
    background: transparent !important;
    font-size: 1em;
    border: 0 !important;
    padding: 0;
    margin: 0 0 .25em 0;
    text-decoration: underline;

    &.is-active {
      font-weight: bold;
      text-decoration: none;
    }

    // &.is-active ~ .nav-sub__sub {
    //   .nav-sub__sub-link {
    //     font-weight: normal;
    //     text-decoration: underline;
    //     &.is-active {
    //       font-weight: bold;
    //       text-decoration: none;
    //       border: 0 !important;
    //     }
    //   }
    // }
  }
}

.section-chapter {
  padding: 1em 0;
}
