.form__element {
  border: none;
  margin: .5em 0 1.5em 0;

  &:not(.radiogroup),
  &:not(.checkboxgroup) {
    padding: 0;
  }

  legend {
    font-weight: 700;

    &.form--intro {
      font-size: 1.25em;
      color: $darkBlue;
    }
  }

  label {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
  }

  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  input[type="password"],
  textarea,
  select {
    background: $white;
    border: 1px solid $mediumGrey;
    display: block;
    line-height: 1.5;
    width: 100%;
    font-family: inherit;
    padding: 0 .5em;
    font-size: .85em;
    margin: .25em 0;

    &::placeholder {
      color: $darkerGrey;
    }

    &.input--small {
      max-width: 8em;
    }

    &.input--medium {
      max-width: 12em;
    }

    &.input--error {
      border: 1px solid $red;

      &::placeholder {
        color: $red;
      }
    }
  }

  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  input[type="password"],
  select {
    height: 2.5em;
  }

  small {
    line-height: 2;
    color: $darkerGrey;
  }

  label + small {

    @media ( min-width: 50em ) {
      float: right;
    }
  }

  &.radiogroup,
  &.checkboxgroup {

    label {
      display: block;
      font-weight: 400;
      line-height: 1.5;
    }

    input {
      margin: 0 .5em 0 0;
    }

    &--many {
      max-height: 10em;
      background-image: linear-gradient($white 95%, $lighterGrey 105%);
      overflow: scroll;
      border: 1px solid $lighterGrey;
      padding: 0 .5em;

      legend {
        background: $white;
        padding: 0 .5em;
        margin: 0 .5em;
      }
    }
  }

  .form__error {
    color: $red;
  }
}

.daterange {

  .form__element {
    display: inline-block;
    margin-right: 1em;
  }
}

.form--options {
  line-height: .5;

  li {
    list-style: none;
    display: inline-block;
    padding-right: .25em;


    &::after {
      content: '|';
      position: relative;
      margin-left: .25em;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}
