.form__element {

  label {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
  }

  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  textarea {
    background: $white;
    border: 1px solid $mediumGrey;
    display: block;
    line-height: 1.5;
    width: 100%;
    padding: 0 .5em;
    font-size: .85em;
    margin: .25em 0;


    &::placeholder {
      color: $darkerGrey;
    }
  }

  input {
    height: 2.5em;
  }

  small {
    line-height: 2;
    color: $darkerGrey;

    @media ( min-width: 50em ) {
      float: right;
    }
  }
}
