<div class="well">

  <form class="form">

    <fieldset class="form__element">

      <legend class="form__intro">Inloggen</legend>

      {{ render "@input-text" loginField merge=true }}

      {{ render "@input-text" passwordField merge=true }}

    </fieldset>

    {{ render "@button--secondary" submitButton merge=true }}

    <ul class="form__options pull-right">
      <li><a href="/berichten_over_uw_buurt_registreren">Registreer bij Naam service</a></li>
      <li><a href="/berichten_over_uw_buurt_ww_vergeten">Wachtwoord vergeten</a></li>
    </ul>

  </form>

</div>

