.homepageblock {
  margin-bottom: 1em;

  @include aspect-ratio(16,9);
  background: {
    repeat: no-repeat;
    position: right top;
    size: 100%;
  }

  &.targetaudience {
    min-height: 20em;
  }

  h2,
  h3 {
    background: $white;
    margin: 0;
    display: inline-block;
    font-size: 1.25em;
  }

  span {
    color: $white;
    display: block;
    font-size: 1.25em;
    padding: 0;
    line-height: 1;
  }

  ul {
    margin-top: 1em;
    padding-left: 2em;
    color: $white;


    li {

      a {
        color: $white;

        text-decoration: none;


        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .context-Link {
    position: absolute;
    bottom: 0;
    left: 0;
    background: {
      color: $white;
      image: $dartRightIcon;
      repeat: no-repeat;
      position: 95% 50%;
    }
    padding: .5em 1.5em .5em .5em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.related {
    @media ( max-width: 50em ) {
    height: 20em;
    }

    @media ( min-width: 50em ) {
      @include aspect-ratio(9, 16);
    }

    &--orange {
      @include aspect-ratio(4, 3);
      border: 2px solid $orange;

      .content--inner {
        background: {
          color: rgba( 225, 112, 0, .8 );
          image: $externalLinkWhiteIcon;
          repeat: no-repeat;
          position: 97% .75em;
          size: 2.5em;
        }
      }

      &:hover {
        border: 2px solid lighten( $orange, 10% );


        .content--inner {
          background-color: rgba( 225, 112, 0, .7 );
        }
      }
    }

    &--darkBlue {
      @include aspect-ratio(4, 3);
      border: 2px solid $darkBlue;

      .content--inner {
        background: {
          color: rgba( 21, 66, 115, .8 );
          image: $externalLinkWhiteIcon;
          repeat: no-repeat;
          position: 97% .75em;
          size: 2.5em;
        }
      }

      &:hover {
        border: 2px solid lighten( $darkBlue, 10% );


        .content--inner {
          background-color: rgba( 21, 66, 115, .7 );
        }
      }
    }

    &--lightBlue {
      @include aspect-ratio(4, 3);
      border: 2px solid $mediumBlue;

      .content--inner {
        background: {
          color: rgba( 0, 119, 192, .8 );
          image: $externalLinkWhiteIcon;
          repeat: no-repeat;
          position: 97% .75em;
          size: 2.5em;
        }
      }

      &:hover {
        border: 2px solid lighten( $mediumBlue, 10% );


        .content--inner {
          background-color: rgba( 0, 119, 192, .7 );
        }
      }
    }

    &--primaryBlue {
      border: 2px solid $primaryBlue;
      @media ( min-width: 50em ) {
        margin-right: 1.5em !important;
        margin-left: 0;
      }

      .content--inner {
        height: 70%;
        background: {
          color: rgba( 0, 123, 199, 1 );
          image: none;
        }
      }

      &:hover {
        border: 2px solid lighten( $primaryBlue, 10% );


        .content--inner {
          /*background-color: rgba( 0, 123, 199, .8 );*/
        }
      }
    }

    .content--inner {
      transition: background-color $fastEaseInOut;
      min-height: 6em;
      top: auto;
      bottom: 0;
      padding: 1em 1em 3em 1em;

       @media ( max-width: 50em ) {
        height: 100%;
       }

      h2,
      h3 {
        background: transparent;
        color: $white;
        padding: 0px;
        font-size: 1.25em;
        margin-bottom: .5em;
      }

      span {
        font-size: 1.1em;
      }

      ul {
        padding: 0;
        padding-left: 1em;
      }

      .more-link {
        color: $white;
        position: absolute;
        bottom: 1em;
      }
    }
  }
}
