<div class="homepageblock {{ modifier }}">

  <div class="content--inner">

    <h2>{{ heading }}</h2>

    <ul class="homepageblock-options">
      {{#each items }}
        <li><a href="#">{{{ text }}}</a></li>
      {{/each }}
    </ul>

    <a href="#" class="context-Link">{{ contextLinkText }}</a>
  </div>

</div>
