<div class="homepageblock temp">

  <h2>Iets regelen of vragen</h2>

  <ul class="homepageblock-options">
    <li><a href="#">18 jaar geworden</a></li>
    <li><a href="#">Werkloos</a></li>
    <li><a href="#">Rijbewijs verlengen</a></li>
    <li><a href="#">Subsidie energiebesparing</a></li>
  </ul>

</div>
