.highlight {
  background: {
    color: $orange;
  }
  color: $black;
  padding: .25em;
}

.highlight--next {
  background: {
    color: $orange;
    image: $nextIcon;
    position: left 50%;
    repeat: no-repeat;
    size: 1em;
  }
  padding: .25em .5em;
  display: inline;
  box-shadow: 0px -1px 0px $black inset;
}
