.breadcrumb {
  background: $lightBlue;
  padding: .5em 0;
  font-size: 85%;

  .row & {
    margin-top: -2em;
    margin-bottom: 2em;
  }

  .row &:only-child {
    margin-bottom: -2em;
  }

  @media ( min-width: 50em ) {

    padding: 0;

    p {
      display: inline-block;
    }

    ol {
      display: inline-block;
      padding: 0;
    }

    li {
      padding: 0 .5em 0 0;
      display: inline-block;

      &::after {
        position: relative;
        content: '/';
        margin-left: .5em;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

