{{!-- <div class="input-file" data-decorator="init-inputfile"> --}}
<div class="input-file">
  <label for="file" tabindex="0"><span>{{ fieldLabel }}</span></label>
  <input type="file" tabindex="-1" id="file" />
</div>
