<form class="input-filebox" action="" method="POST" data-decorator="init-inputfile" data-config='{ "showbuttonAfterChange": "true" {{#if ajax}}, "ajax": "/preview-portaal/upload"{{/if}} }'>
  <div class="input-dragbox js-input-dragbox">
    <div class="input-dragbox__content">
      <span class="input-dragbox__prelabel js-input-dragbox__prelabel">Upload document door te slepen, of </span>
      <label for="file">
        <span class="js-input-dragbox__label" role="button" aria-controls="filename" tabindex="0">selecteer een bestand</span>
      </label>
      <input type="file" tabindex="-1" name="files[]" id="file" class="box__file" data-multiple-caption="{count} bestanden geselecteerd" />
      {{#if showButtonOnSelection}}
        <div><button class="button button--primary js-input-dragbox__button" hidden>{{submitLabel}}</button></div>
      {{/if}}
    </div>
    <div class="input-dragbox__uploading">
      <p class="input-dragbox__uploading__msg">Document is bezig met uploaden <span></span>%</p>
      <progress class="input-dragbox__uploading__progress" max="100" value="30"></progress>
      <p><a href="#refresh"><small>Upload annuleren</small></a></p>
    </div>
    <div class="input-dragbox__msg js-input-dragbox__msg"><span></span><p><a href='#' class='js-reset'>Upload een nieuw bestand</a></p></div>
  </div>

</form>

{{#if ajax }}
  <h2>States:</h2>
  <p><span id="default" class="button">default</span>
  <span id="uploading" class="button">uploading..</span>
  <span id="success" class="button">success!</span>
  <span id="failed" class="button">failed!</span></p>
  <script>
    document.getElementById('default').addEventListener('click', function (e) {
      document.querySelector('.js-input-dragbox').classList.remove('has-file');
      document.querySelector('.input-filebox').classList.remove('is-success');
      document.querySelector('.input-filebox').classList.remove('is-failed');
      document.querySelector('.input-filebox').classList.remove('is-uploading');
    });
    document.getElementById('uploading').addEventListener('click', function (e) {
      document.querySelector('.js-input-dragbox').classList.remove('has-file');
      document.querySelector('.input-filebox').classList.remove('is-success');
      document.querySelector('.input-filebox').classList.remove('is-failed');
      document.querySelector('.input-filebox').classList.add('is-uploading');
    });
    document.getElementById('failed').addEventListener('click', function (e) {
      document.querySelector('.js-input-dragbox').classList.remove('has-file');
      document.querySelector('.input-filebox').classList.remove('is-success');
      document.querySelector('.input-filebox').classList.remove('is-uploading');
      document.querySelector('.input-filebox').classList.add('is-failed');
      document.querySelector('.input-dragbox__msg span').innerHTML = "<p data-beforetext='Let op:'>Documenten van het format .docx kunnen niet geupload worden.</p>";
    });
    document.getElementById('success').addEventListener('click', function (e) {

      document.querySelector('.input-filebox').classList.remove('is-uploading');
      document.querySelector('.input-filebox').classList.remove('is-failed');
      document.querySelector('.input-filebox').classList.add('is-success');
      document.querySelector('.input-dragbox__msg span').innerHTML = "<p><strong>Uw bestand is geupload.</strong></p>";
    });
  </script>
{{/if}}
