.copydata {
  border-radius: .5em;
  background: $bgBlue;
  display: block;
  border: 1px solid $lighterGrey;
  overflow: hidden;
  padding: .75em 2em .75em .5em;
  position: relative;
  background-color: $lightGrey;

  &__datafield {
    font-family: Monospace;
    margin: 0;
    padding-right: 7em;
    word-break: break-all;
  }

  &__trigger {
    @extend .button;
    position: absolute;
    right: .5em;
    top: .5em;
    padding-right: 2em;
    font-size: .75rem;
    cursor: pointer;
    background: transparent $copyIcon no-repeat right .5em center;
    background-size: 1em;
  }
}
