.table--container,
.table__container {
  max-width: 100%;
  overflow-x: scroll;
  border: 1px solid $lightBlue;
  padding: .5em;
  margin-bottom: 2em;

  > table {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

table,
.table {
  // width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  table-layout: fixed;
  // word-wrap: break-word;

  [scope=colgroup] {
    background: $darkBlue !important;
    color: white !important;
  }

  .table--container & {
    table-layout: auto;
  }

  caption {
    color: $darkerGrey;
    text-align: left;
    padding: .5em 0;
  }

  a[href*="//"]:not(.button):not([href*=".overheid.nl/"]) {
    background-image: none;
    margin: 0;
    padding: 0;
  }

  thead tr th,
  thead tr td {
    border-bottom: 2px solid $lighterGrey;
  }

  tr {
    &.uneven {
      background: $lightGrey;
    }
  }

  tr td,
  tr th {
    padding: .5em;
    vertical-align: top;
    border-bottom: 1px solid $lighterGrey;
  }

  th {
    font-weight: 700;
    text-align: left;
    vertical-align: top;
  }

  &__container {
    overflow: auto;
  }

  &.table__data-overview {
    th {
      vertical-align: top;
      width: 30%;
    }
  }

  td {
    font-weight: 400;
    min-width: 15%;
    min-height: 2.5em; /* always have a height, even if field has no content; this is specifically needed on small screens */
  }

  .date {
    min-width: em(100);
  }

  td.status {
    @media ( min-width: $breakpointDesktop ) {
      text-align: center;

      span {
        width: 2.5em;
        text-indent: -999em;
      }
    }

    span {
      display: inline-block;
      border-radius: .5em;
      padding: 0.25em;
      color: $white;
    }

    a {
      display: inline-block;
      width: 2.5em;
      padding: .25em;
      background: $bgBlue;
      border: 1px solid $lightBlue;
    }

    &--green {
      span {
        background-color: $green;
      }
    }

    &--orange {
      span {
        background-color: $orange;
      }
    }

    &--red {
      span {
        background-color: $red;
      }
    }
  }

  tbody tr.current td,
  tbody tr.current th {
    background: $mediumBlue;
  }

  &.table--condensed {
    tr td,
    tr th {
      padding: .25em;
    }
  }

  &.table--dataintro {
    th {
      color: $darkBlue;
      font-weight: 700;
      line-height: 1.25;
    }

    th,
    td {
      border: none;
    }
  }

  @media ( min-width: $breakpointDesktop ) {
    &.table--striped {
      tbody tr:nth-child(odd) td,
      tbody tr:nth-child(odd) th {
        background: $lightGrey;
      }
    }

    &.table--hover {
      tbody tr:nth-child(odd):hover,
      tbody tr:nth-child(even):hover {
        background: $lighterGrey;

        td,
        th {
          background: $lighterGrey;
        }
      }
    }
  }

  &--small {
    margin-bottom: 1em;
    color: $darkBlue;

    tr:first-of-type {
      th,
      td {
        border-top: 0;
        border-bottom: 1px solid #F3F3F3;
      }
    }

    th {
      padding-left: 0 !important;
    }

    td {
      font-style: italic;
    }

    tr {
      th, td {
      padding: 4px 0;
      border-top: 1px solid #F3F3F3;
      border-bottom: 0;
      }
    }
  }
}


@media ( max-width: $breakpointDesktop ) {
  table:not(.table__data-overview):not(.table__regulation):not(.table--untouched),
  &.table--condensed:not(.table__data-overview):not(.table__regulation):not(.table--untouched),
  &.table--striped:not(.table__data-overview):not(.table__regulation):not(.table--untouched),
  &.table--hover:not(.table__data-overview):not(.table__regulation):not(.table--untouched) {
    position: relative;
    width: 100%;
    word-break: break-word;

    thead {
      display: none;
    }

    tbody tr:nth-child(odd) td {
      background: transparent;
    }

    tr {
      display: block;
      border: 2px solid $lighterGrey;
      margin: 1em 0;
    }

    th {
      position: absolute;
      left: -999em;
    }

    td {
      width: 50%;
      left: 50%;
      position: relative;
      display: block;
      clear: both;
      border: none !important;

      &:nth-child(odd) {
        background: $lightGrey !important;

        &::before {
          background: $lightGrey !important;
        }
      }

      &:before {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        padding: .5em;
        height: 100%;
        font-weight: 700;
        content: attr(data-before);
      }
    }

    &.table--condensed td::before {
      padding: .25em;
    }
  }
}
