<table class="{{ modifier }}">
<caption>Deze tabel bevat teamleden van KOOP Overheid.nl</caption>
<thead>
  <tr>
    {{#each items }}
      {{#each item }}
        <th>{{ type }} </th>
      {{/each }}
    {{/each }}
  </tr>
</thead>
<tbody>
  {{#each items }}
  <tr>
    {{#each item }}
      <td data-before="{{ type }}">{{ value }}</td>
    {{/each }}
  </tr>
  {{/each }}

</tbody>
</table>
