<table class="{{ modifier }}">
<caption>Deze tabel bevat teamleden van KOOP Overheid.nl</caption>
<thead>
  {{#each items }}
  {{#if @first}}
  <tr>
    {{#each item }}
    <th>{{ type }}</th>
    {{/each}}
  </tr>
  {{/if}}
  {{/each }}
</thead>
<tbody>
  {{#each items }}
  <tr>
    {{#each item }}
      <td data-before="{{ type }}">{{ value }}</td>
    {{/each }}
  </tr>
  {{/each }}
</tbody>
</table>
