<form>
  <fieldset>
    <legend>Voorbeeld veld-toevoegen</legend>
    <div data-decorator="init-form-addfield">
      <div class="form__row">
        {{ render "@input-text" input }}
      </div>
      <div class="form__row">
        {{ render "@button" button }}
      </div>
    </div>
  </fieldset>
</form>
