$gutter: 1em;
$gutter--sm: 2em;
$gutter--med: 4em;
$gutter--lg: 6em;

$breakpointDesktopAdjusted: 65em;

@media ( min-width: $breakpointDesktopAdjusted ) {
  .column-count {
    column-count:2; column-gap: 4em;
  }
  .column-count--half {
    column-count:2;
  }
}

@media only screen {

  .columns {

    &--flex {
      flex-direction: row;
      display: flex;
      > * {
        flex: 0 0 100%;
        margin-left: $gutter;
      }
    }

    &--center,
    &--vcenter {
      align-items: center;
      justify-content: center;
    }

    @media ( min-width: $breakpointDesktopAdjusted ) {
      flex-direction: row;
      display: flex;
      > * {
        flex: 1;
        margin-left: $gutter;
      }
    }

    &--dominant,
    &--gutter-med {
      @media ( min-width: $breakpointDesktopAdjusted ) {
        > * {
          margin-left: $gutter--med;
        }
      }
    }
    &--gutter-sm {
      @media ( min-width: $breakpointDesktopAdjusted ) {
        > * {
          margin-left: $gutter--sm;
        }
      }
    }

    > *:first-child,
    > *:only-child {
      margin-left: 0;
    }

    @media ( min-width: $breakpointDesktopAdjusted ) {
      .u-order--d1 {
        margin-left: 0;
        margin-right: $gutter;
      }
    }

    // > *:only-child {
    //   max-width: 40em;
    // }

    .column {
      position: relative;

      &--padded {
        &-med {
          @media ( min-width: $breakpointDesktopAdjusted ) {
            padding-top: em(25);
            padding-left: em(50);
            padding-right: em(50);
          }
        }
        &-large {
          @media ( min-width: $breakpointDesktopAdjusted ) {
            padding: em(25) em(75);
          }
        }
      }

      @media ( min-width: 50em ) {
        &-d {
          &-1 {
            flex-basis: calc((100%/12)*1);
          }
          &-2 {
            flex-basis: calc((100%/12)*2);
          }
          &-3 {
            flex-basis: calc((100%/12)*3);
          }
          &-4 {
            flex-basis: calc((100%/12)*4);
          }
          &-5 {
            flex-basis: calc((100%/12)*5);
          }
          &-6 {
            flex-basis: calc((100%/12)*6);
          }
          &-7 {
            flex-basis: calc((100%/12)*7);
          }
          &-8 {
            flex-basis: calc((100%/12)*8);
          }
          &-9 {
            flex-basis: calc((100%/12)*9);
          }
          &-10 {
            flex-basis: calc((100%/12)*10);
          }
          &-11 {
            flex-basis: calc((100%/12)*11);
          }
        }
      }
    }

    &--fixed {
      @media ( min-width: $breakpointDesktopAdjusted ) {
        flex-wrap: wrap;
        > * {
          flex-grow: 1;
          flex: none;
          width: calc((100% - #{$gutter*3}) / 4);

          &:nth-child(4n+5) {
            margin-left: 0;
          }
        }
      }
    }

    &--main {
      max-width: 52em;
    }

    &--sidebar-left {

      /* in columns with a sidebar, the main content is the first
      element in the markup, and the 'sidebar' the second. In desktop
      layout, the sidebar appears on the left, and the main content
      on the right */

      @media ( min-width: $breakpointDesktopAdjusted ) {
        > *:first-child {
          flex: 3;
          order: 2;
          margin-left: 2em;
        }

        > * {
          flex: 1;
          margin-left: 0;
          // padding-top: 1.65em;
        }

      }

      @media print {
        >*:last-child {
          display: none;
        }
      }

      [data-decorator="init-fixedbottom-button"] {
        padding-bottom: 3em !important;

        @media ( min-width: $breakpointDesktopAdjusted ) {
          padding-bottom: 0 !important;
        }
      }
      .fixedbottom-button__button {
        position: fixed;
        margin-left: 1.5em;
        margin-right: 1.5em;

        @media ( max-width: $breakpointDesktopAdjusted ) {
          // display: block !important;
          // position: fixed !important;
          // bottom: .5em !important;
          left: 1em;
          margin: 0;
        }

        @media ( min-width: $breakpointDesktopAdjusted ) {
          position: relative;
          margin: 0 0 1em 0;
          bottom: .5em !important;
          width: auto;

          &.js-is-stuck {
            position: relative !important;
          }
        }
      }
    }

    &--sidebar-right {

      @media ( min-width: $breakpointDesktopAdjusted ) {
        > * {
          flex: 1;
          margin-left: $gutter;
        }

        > *:first-child {
          flex: 2;
          margin-left: 0;
        }
      }
    }

    &--homepage-tiles {
      @media ( min-width: $breakpointDesktopAdjusted ) {
        flex-wrap: wrap;
      }

      padding-top: 1em;
      padding-bottom: 0;
      margin: 0;

      @media ( min-width: $breakpointDesktopAdjusted ) {
        > * {
          margin-left: 1em;
          flex: 1 calc(25% - 1em);
        }
      }
    }

    &--related-info {
      flex-wrap: wrap;

      @media ( min-width: $breakpointDesktopAdjusted ) {
        > * {
          flex: 2;
          margin-left: .5em;
        }
      }
    }

    &--sidebar {

      > div {
        margin-left: 1em;

        @media ( min-width: $breakpointDesktopAdjusted ) {
          &:not(.columns--sidebar__sidebar) {
            width: calc(100% - 22em);
          }
        }
      }
      &__sidebar {
        margin-left: 0;
        margin-right: 1em;
        flex-grow: 0;     /* do not grow   - initial value: 0 */
        flex-shrink: 0;   /* do not shrink - initial value: 1 */
        flex-basis: 19em; /* width/height  - initial value: auto */

        > div {
          background-color: $white;
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          width: 80%;
          z-index: 3;
          padding: 0 1em;
          overflow: auto;
          display: none;

          .has-stickysidebar-open & {
            display: block;
          }

          @media ( min-width: $breakpointDesktopAdjusted ) {
            background: transparent;
            z-index: auto;
            position: static;
            width: auto;
            padding: 0;
            overflow: visible;
            display: block;
          }
        }

        &::before {
          content: '';
          background-color: $black;
          width: 100%;
          height: 100%;
          position: fixed;
          left: 0;
          right: 0;
          z-index: 2;
          opacity: .6;
          top: 0;
          display: none;

          .has-stickysidebar-open & {
            display: block;
            @media ( min-width: $breakpointDesktopAdjusted ) {
              display: none;
            }
          }
        }

        .has-stickysidebar-open & {
          display: block;
        }

        [data-decorator="init-fixedbottom-button"] {
          padding-bottom: 3em !important;

          @media ( min-width: $breakpointDesktopAdjusted ) {
            padding-bottom: 0 !important;
          }
        }
        .fixedbottom-button__button {
          position: fixed;
          margin-left: 1.5em;
          margin-right: 1.5em;

          @media ( max-width: $breakpointDesktopAdjusted ) {
            display: block !important;
            position: fixed !important;
            bottom: .5em !important;
            left: 1em;
            margin: 0;
          }

          @media ( min-width: $breakpointDesktopAdjusted ) {
            position: relative;
            margin: 0 0 1em 0;
            bottom: .5em !important;
            width: auto;

            &.js-is-stuck {
              position: relative !important;
            }
          }
        }

      }

      [data-handler="toggle-sidebar"] {
        border: 0;
        text-indent: -9999em;
        width: 2.5em;
        height: 2.5em;
        top: 18em;
        background: {
          image: $doubleRightIcon;
          repeat: no-repeat;
          size: 2em;
          color: $white;
          position: center center;
        };
        position: fixed;
        left: 0;
        box-shadow: 0 0 4px -1px $black;
        border-radius: 0 $borderRadius $borderRadius 0;
        @media ( min-width: $breakpointDesktopAdjusted ) {
          display: none;
        }
      }

      [data-handler="toggle-sidebar"][aria-expanded="true"] {
        position: fixed;
        left: 80%;
        z-index: 3;
        top: 1em;
        background-image: $doubleLeftIcon;
      }
    }

    &--sticky-sidebar {
      display: block; /* note, with this modifier, the columns implementation doesn't use flexbox */
      position: relative;

      &.container {

        @media ( min-width: $breakpointDesktopAdjusted ) {
          padding-left: 22em;
        }
      }

      > div {
        margin-left: $gutter;
      }

      > .columns--sticky-sidebar__sidebar {

        @media ( min-width: $breakpointDesktopAdjusted ) {
          margin-left: 0;
          border: 1px solid $lighterGrey;
          padding: .5em 1em;
          position: absolute;
          top: 0;
          left: 1em;
          width: 20em;
          overflow: auto;
          bottom: 1em;
        }

        &::before {
          content: '';
          background-color: $black;
          width: 100%;
          height: 100%;
          position: fixed;
          left: 0;
          right: 0;
          z-index: 2;
          opacity: .6;
          top: 0;
          display: none;

          @media ( min-width: $breakpointDesktopAdjusted ) {
            display: none;
          }

          .has-stickysidebar-open & {
            display: block;
            @media ( min-width: $breakpointDesktopAdjusted ) {
              display: none;
            }
          }
        }

        > div:not(.modal-sidebar) {
          background-color: $white;
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          width: 80%;
          z-index: 3;
          padding: 0 1em;
          overflow: auto;
          display: none;

          .has-stickysidebar-open & {
            display: block;
          }

          @media ( min-width: $breakpointDesktopAdjusted ) {
            background: transparent;
            z-index: auto;
            position: static;
            width: auto;
            padding: 0;
            overflow: visible;
            display: block;
          }
        }

        .icon--backlink {
          border-bottom: 1px solid $lighterGrey;
        }

        .scrollContentReceiver {
          margin-bottom: 1.5em;

          h1 {
            font-size: em(16);
            line-height: 1.325em;
          }
        }
      }

      [data-handler="toggle-sidebar"] {
        border: 0;
        text-indent: -9999em;
        width: 2.5em;
        height: 2.5em;
        top: 18em;
        background: {
          image: $doubleRightIcon;
          repeat: no-repeat;
          size: 2em;
          color: $white;
          position: center center;
        };
        position: fixed;
        left: 0;
        box-shadow: 0 0 4px -1px $black;
        border-radius: 0 $borderRadius $borderRadius 0;
        @media ( min-width: $breakpointDesktopAdjusted ) {
          display: none;
        }
      }

      [data-handler="toggle-sidebar"][aria-expanded="true"] {
        position: fixed;
        left: 80%;
        z-index: 3;
        top: 1em;
        background-image: $doubleLeftIcon;
      }
    }

  }

}
