<style>.columns > div { background-color: #ccc; margin-bottom: 2em; }</style>
<h2>Standaard (automatisch)</h2>
<p>
In een element met de class columns vormt elk direct onderliggende element een kolom. Het aantal kolommen wordt dus bepaald
door het aantal direct onderliggende elementen. Als het element met class="columns" twee elementen bevat, zijn er twee kolommen.
Als het er drie zijn, zijn er drie kolommen, et cetera.
</p>
<div class="columns">
  <div>Kolom 1</div>
  <div>Kolom 2</div>
</div>
<div class="columns">
  <div>Kolom 1</div>
  <div>Kolom 2</div>
  <div>Kolom 3</div>
</div>
<div class="columns">
  <div>Kolom 1</div>
  <div>Kolom 2</div>
  <div>Kolom 3</div>
  <div>Kolom 4</div>
</div>
<div class="columns columns--fixed">
  <div>Fixed kolom 1</div>
  <div>Fixed kolom 2</div>
  <div>Fixed kolom 3</div>
  <div>Fixed kolom 4</div>
  <div>Fixed kolom 5</div>
  <div>Fixed kolom 6</div>
  <div>Fixed kolom 7</div>
  <div>Fixed kolom 8</div>
  <div>Fixed kolom 9</div>
  <div>Fixed kolom 10</div>
  <div>Fixed kolom 11</div>
</div>

<h2>Instelbaar</h2>
<p>
  12 kolom grid. Beschikbare opties: 1 t/m 12 (.column-d-1, .column-d-2, etc.)
</p>

<div class="columns">
  <div class="column column-d-8">
    .column-d-8
  </div>
  <div class="column column-d-4">
    .column-d-4
  </div>
</div>

<h2>Automatische twee kolom (tekst)</h2>
<div class="column column-count column-count--half">
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
    text ever since the 1500s. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>
