{{ render "@header" header merge=true }}

<div class="container">

  <div class="row row--spacer">
    <div class="jumbotron jumbotron--highlight">

      <div class="jumbotron__content">

        <div class="jumbotron__heading jumbotron__heading--centered">
          <p class="jumbotron__subheader">KOOP</p>
          <h1 class="jumbotron__header">Design system</h1>
          <p class="jumbotron__intro">
              Het KOOP design system geeft richtlijnen over het gebruik van copy, design en componenten binnen haar domein.
          </p>
        </div>

      </div>

    </div>
  </div>

  <article class="row">

      <div class="columns u-margin-bottom-40">
        <div>
          <h2>Componenten</h2>
          <p>Alle componenten in HTML, CSS en JS, voorzien van toelichting over het gebruik van het component.</p>
          <p>
            <a href="templates-ds---componenten.html" class="cta">Bekijk de componenten</a>
          </p>
        </div>
        <div>
          <h2>Content</h2>
          <p>Bij het schrijven en ontwikkelen van inhoud van onze websites zijn dit onze uitgangspunten.</p>
          <p>
            <a href="templates-ds---content.html" class="cta">Bekijk onze richtlijnen voor content</a>
          </p>
        </div>
        <div>
          <h2>Ontwerpprincipes</h2>
          <p>Onze ontwerpprincipes staan centraal bij het maken van alle keuzes, en die maken we altijd in het belang van de gebruiker.</p>
          <p>
            <a href="templates-ds---ontwerpprincipes.html" class="cta">Bekijk onze richtlijnen voor design</a>
          </p>
        </div>
      </div>
      <div class="columns">
        <div>
          <h2>Rationale</h2>
          <p>
            <a href="templates-ds---rationale.html" class="cta">Bekijk de rationale</a>
          </p>
        </div>
        <div>
          <h2>Toelichting</h2>
          <p>
            <a href="templates-ds---toelichting.html" class="cta">Bekijk de toelichting</a>
          </p>
        </div>
        <div>

        </div>
      </div>

    </article>

</div>
