<h1>Installation</h1>
<p>
  To get this library up and running within your enviroment, simply include the needed CSS and JS:
</p>

<h2>CSS</h2>
<code>
  link rel="stylesheet" href="transition.css"
</code>

<h2>JavaScript</h2>
<code>
  script src="main.wjq.js"
</code>
<p><small>If you'd like to make use of the <i>Datepicker</i> and or <i>AutoComplete</i>, please include a different file. See <a href="/components/preview/javascript">the javascript section</a></a></small></p>
