<h1>JavaScript</h1>

<p>
  All (except 2) JS components are written in plain (vanilla) JavaScript. No external libraries needed. You're good to go with the following file:
</p>
<code>
  main.wjq.js
</code>


<p>
  The following components make us of jQuery, therefor it's required to include this library into the page. The following build has jQuery intergrated:
</p>
<ul>
  <li>Datepicker</li>
  <li>AutoComplete</li>
</ul>
<code>
  main.js
</code>
