<h1>Templates</h1>
<p>A template is the final product of a page. This template can be used as starting point for the back-end realisation. Please take not that certain attributes (name, title, alt, etc) may need adjustments based on its context.</p>

<h2>Berichten op de buurt</h2>
<ul class="list list--linked">
  <li class="list__item">
    <a href="/components/preview/templates-homepage">Homepage</a>
  </li>
</ul>
