$gutter: 1em;

.columns {
  display: flex;
  flex-direction: column;

  @media ( min-width: 50em ) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  > * {
    flex: 1;

    @media ( min-width: 50em ) {
      margin-left: $gutter;
    }
  }

  > *:first-child,
  > *:only-child {
    margin-left: 0;
  }

  > *:only-child {
    max-width: 40em;
  }

  &--fixed {
    > * {
      flex: 0 1 calc((100% - 3em) / 4);
      &:nth-child(4n+5) {
        margin-left: 0;
      }
    }
  }

  &--sidebar-left {

    /* in columns with a sidebar, the main content is the first
    element in the markup, and the 'sidebar' the second. In desktop
    layout, the sidebar appears on the left, and the main content
    on the right */

    @media ( min-width: 50em ) {
      > *:first-child {
        flex: 2;
        order: 2;
        margin-left: $gutter;

      }

      > * {
        flex: 1;
        margin-left: 0;
      }

      >*:last-child {
        padding-top: 1.65em;
      }
    }
  }

  &--sidebar-right {

    @media ( min-width: 50em ) {

      > * {
        flex: 1;
        margin-left: $gutter;
      }

      > *:first-child {
        flex: 2;
        margin-left: 0;
      }
    }
  }

  &--homepage-tiles {
    @media ( min-width: 50em ) {
      flex-wrap: wrap;
    }

    padding-top: 1em;
    padding-bottom: 0;
    margin: 0;

    @media ( min-width: 50em ) {
      > * {
        margin-left: 1em;
        flex: 1 calc( 25% - 1em);
      }
    }
  }

  &--related-info {
    flex-wrap: wrap;

    @media ( min-width: 50em ) {

      > * {
      flex: 2;

        margin-left: .5em;
      }
    }
  }

  &--sticky-sidebar {
    display: block; /* note, with this modifier, the columns implementation doesn't use flexbox */
    position: relative;

    &.container {

      @media ( min-width: 50em ) {
        padding-left: 22em;
      }
    }

    > div {
      margin-left: $gutter;
    }

    > .columns--sticky-sidebar__sidebar {
      margin-left: 0;
      border: 1px solid #ccc;
      padding: .5em 1em;

      @media ( min-width: 50em ) {
        position: absolute;
        top: 2em;
        left: 1em;
        width: 20em;
        overflow: auto;
        height: 100vh;
      }

      &::before {
        content: '';
        background-color: #000;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 2;
        opacity: .6;
        top: 0;

        @media ( min-width: 50em ) {
          display: none;
        }
      }

      > div {
        background-color: $white;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 80%;
        z-index: 3;
        padding: 0 1em;
        overflow: auto;

        @media ( min-width: 50em ) {
          background: transparent;
          z-index: auto;
          position: static;
          width: auto;
          padding: 0;
          overflow: visible;
        }
      }

      .icon--backlink {
        border-bottom: 1px solid $lighterGrey;
      }
    }

    [data-handler="toggle-sidebar"] {
      border: 0;
      text-indent: -9999em;
      width: 2.5em;
      height: 2.5em;
      background: {
        image: $doubleRightIcon;
        repeat: no-repeat;
        size: 2em;
        color: #fff;
        position: center center;
      };
      position: fixed;
      left: 0;
      box-shadow: 0 0 4px -1px $black;
      border-radius: 0 $borderRadius $borderRadius 0;
    }

    [data-handler="toggle-sidebar"][aria-expanded="true"] {
      position: fixed;
      left: 80%;
      z-index: 3;
      top: 1em;
      background-image: $doubleLeftIcon;

    }
  }
}
