$gutter: 1em;
$gutter--dominant: 3em;

.column-count {
  column-count:2; column-gap: 4em;
}
.column-count--half {
  column-count:2;
}
.row {
  margin-bottom: 1.5em;

  &--thick {
    margin-top: 1.5em;
  }

  &--medium {
    margin-bottom: 1.5em;
  }

  &--large {
    margin-bottom: 2.5em;
  }
  &--xlarge {
    margin-bottom: 2.5em;
  }
  &--xxlarge {
    margin-bottom: 4em;
  }
  &--xxxlarge {
    margin-bottom: 8em;
  }
  &--spacer {
    margin-bottom: 3.25em;
  }
}

.columns {

  &--flex {
    flex-direction: row;
    display: flex;
    > * {
      flex: 0 0 100%;
      margin-left: $gutter;
    }
  }

  &--center {
    align-items: center;
    justify-content: center;
  }

  @media ( min-width: $breakpointDesktop ) {
    flex-direction: row;
    display: flex;
    > * {
      flex: 1;
      margin-left: $gutter;
    }
  }

  &--dominant {
    @media ( min-width: $breakpointDesktop ) {
      > * {
        margin-left: $gutter--dominant;
      }
    }
  }

  > *:first-child,
  > *:only-child, {
    margin-left: 0;
  }

  @media ( min-width: $breakpointDesktop ) {
    .u-order--d1 {
      margin-left: 0;
      margin-right: $gutter;
    }
  }

  > *:only-child {
    max-width: 40em;
  }

  .column {
    &__content {
      &--padded {
        @media ( min-width: $breakpointDesktop ) {
          padding-top: em(25);
          padding-left: em(50);
          padding-right: em(50);
        }
      }
    }

    @media ( min-width: 50em ) {
      &-d {
        &-1 {
          flex-basis: calc((100%/12)*1);
        }
        &-2 {
          flex-basis: calc((100%/12)*2);
        }
        &-3 {
          flex-basis: calc((100%/12)*3);
        }
        &-4 {
          flex-basis: calc((100%/12)*4);
        }
        &-5 {
          flex-basis: calc((100%/12)*5);
        }
        &-6 {
          flex-basis: calc((100%/12)*6);
        }
        &-7 {
          flex-basis: calc((100%/12)*7);
        }
        &-8 {
          flex-basis: calc((100%/12)*8);
        }
        &-9 {
          flex-basis: calc((100%/12)*9);
        }
        &-10 {
          flex-basis: calc((100%/12)*10);
        }
        &-11 {
          flex-basis: calc((100%/12)*11);
        }
      }
    }
  }

  &--fixed {
    @media ( min-width: $breakpointDesktop ) {
      flex-wrap: wrap;
      > * {
        flex-grow: 1;
        flex: none;
        width: calc((100% - #{$gutter*3}) / 4);

        &:nth-child(4n+5) {
          margin-left: 0;
        }
      }
    }
  }

  &--sidebar-left {

    /* in columns with a sidebar, the main content is the first
    element in the markup, and the 'sidebar' the second. In desktop
    layout, the sidebar appears on the left, and the main content
    on the right */

    @media ( min-width: $breakpointDesktop ) {
      > *:first-child {
        flex: 3;
        order: 2;
        margin-left: 2em;
      }

      > * {
        flex: 1;
        margin-left: 0;
      }

      >*:last-child {
        padding-top: 1.65em;
      }

    }

    @media print {
      >*:last-child {
        display: none;
      }
    }
  }

  // .column {
  //   &--sidebar {
  //     h2 {
  //       margin-bottom: 0;
  //     }
  //   }
  // }

  &--sidebar-right {

    @media ( min-width: $breakpointDesktop ) {
      > * {
        flex: 1;
        margin-left: $gutter;
      }

      > *:first-child {
        flex: 2;
        margin-left: 0;
      }
    }
  }

  &--homepage-tiles {
    @media ( min-width: $breakpointDesktop ) {
      flex-wrap: wrap;
    }

    padding-top: 1em;
    padding-bottom: 0;
    margin: 0;

    @media ( min-width: $breakpointDesktop ) {
      > * {
        margin-left: 1em;
        flex: 1 calc(25% - 1em);
      }
    }
  }

  &--related-info {
    flex-wrap: wrap;

    @media ( min-width: $breakpointDesktop ) {
      > * {
        flex: 2;
        margin-left: .5em;
      }
    }
  }

  &--sticky-sidebar {
    display: block; /* note, with this modifier, the columns implementation doesn't use flexbox */
    position: relative;

    &.container {

      @media ( min-width: $breakpointDesktop ) {
        padding-left: 22em;
      }
    }

    > div {
      margin-left: $gutter;
    }

    > .columns--sticky-sidebar__sidebar {

      @media ( min-width: $breakpointDesktop ) {
        margin-left: 0;
        border: 1px solid $lighterGrey;
        padding: .5em 1em;
        position: absolute;
        top: 2em;
        left: 1em;
        width: 20em;
        overflow: auto;
        bottom: 1em;
      }

      &::before {
        content: '';
        background-color: $black;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 2;
        opacity: .6;
        top: 0;
        display: none;

        @media ( min-width: $breakpointDesktop ) {
          display: none;
        }

        .has-stickysidebar-open & {
          display: block;
          @media ( min-width: $breakpointDesktop ) {
            display: none;
          }
        }
      }

      > div {
        background-color: $white;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 80%;
        z-index: 3;
        padding: 0 1em;
        overflow: auto;
        display: none;

        .has-stickysidebar-open & {
          display: block;
        }

        @media ( min-width: $breakpointDesktop ) {
          background: transparent;
          z-index: auto;
          position: static;
          width: auto;
          padding: 0;
          overflow: visible;
          display: block;
        }
      }

      .icon--backlink {
        border-bottom: 1px solid $lighterGrey;
      }
    }

    [data-handler="toggle-sidebar"] {
      border: 0;
      text-indent: -9999em;
      width: 2.5em;
      height: 2.5em;
      top: 18em;
      background: {
        image: $doubleRightIcon;
        repeat: no-repeat;
        size: 2em;
        color: $white;
        position: center center;
      };
      position: fixed;
      left: 0;
      box-shadow: 0 0 4px -1px $black;
      border-radius: 0 $borderRadius $borderRadius 0;
    }

    [data-handler="toggle-sidebar"][aria-expanded="true"] {
      position: fixed;
      left: 80%;
      z-index: 3;
      top: 1em;
      background-image: $doubleLeftIcon;
    }
  }
}
