.button {
  appearance: none;
  background-color: $buttonBackgroundColor;
  border-radius: $borderRadius;
  border: 1px solid $buttonBorderColor;
  color: $buttonTextColor;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 1;
  margin: 0 .5em .5em 0;
  max-width: 100%;
  outline: 2px solid transparent;
  outline-offset: .5em;
  transition: color $fastEaseInOut, outline-offset $fastEaseInOut;
  padding: $standardButtonPadding; // 40px total height
  position: relative;
  text-align: center;
  text-shadow: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1em;

  &[hidden] {
    display: none;
  }

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &[href] {
    text-decoration: none;
  }

  &[href]:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 2px solid $yellow;
    outline-offset: 0;
    z-index: 1;
  }

  &:hover {
    outline: none;
    background-color: $lighterGrey;
    color: $black;
  }

  &:active {
    transition: none;
    background-color: $buttonBackgroundActiveColor;
  }

  &:disabled,
  &[aria-disabled="true"] {
    cursor: not-allowed;
    pointer-events: none;
    background-color: $lightGrey;
    color: $mediumGrey;
  }

  &--primary {
    background-color: $darkBlue;
    color: $white;
    border: 1px solid transparent;

    &:hover {
      color: $black;
      background-color: $mediumBlue;
    }

    &:active {
      color: $black;
      background-color: $lightBlue;
    }
  }

  &--secondary {
    background-color: $buttonBackgroundSecondaryColor;
    color: $black;
    border: 1px solid transparent;

    &:hover {
      color: $black;
      background-color: lighten($orange, 10%);
    }

    &:active {
      background-color: $buttonBackgroundSecondaryActiveColor;
      color: $white;
    }
  }

  &--share {
    background: {
      color: $darkBlue;
      image: $shareWhiteIcon;
      position: 90% center;
      repeat: no-repeat;
    }
    color: $white;
    border: 1px solid transparent;
    padding-right: 2em;

    &:hover {
      color: $black;
      background-color: $mediumBlue;
    }

    &:active {
      color: $black;
      background-color: $lightBlue;
    }
  }

  &--search {
    padding-right: 2em;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-image: $searchIcon;
    background-size: 1.25em;
  }

  &--icon-right {
    background-position: .75em 50%;
    background-repeat: no-repeat;
    background-image: $dartRightIcon;
    background-size: 5px 10px;
    padding-left: 1.5em;
  }

  &--icon-left {
    background-position: .75em 50%;
    background-repeat: no-repeat;
    background-image: $dartLeftIcon;
    background-size: 5px 10px;
    padding-left: 1.5em;
  }

  &--icon-top {
    background-position: .5em 50%;
    background-repeat: no-repeat;
    background-image: $dartTopIcon;
    background-size: 10px 5px;
    padding-left: 1.5em;
  }

  &--icon-down {
    background-position: .5em 50%;
    background-repeat: no-repeat;
    background-image: $dartDownIcon;
    background-size: 10px 5px;
    padding-left: 1.5em;
  }

  &--icon-upload {
    background-position: 1em center;
    background-repeat: no-repeat;
    background-image: $uploadIcon;
    padding-left: 3em;
  }

  &--icon-hamburger {
    background-position: .75em 50%;
    background-repeat: no-repeat;
    background-image: $hamburgerIcon;
    background-size: 1em;
    padding-left: 2em;
  }


}
