.sort {
  background-color: $lightGrey;
  padding: 1em;
  margin: 0 0 1em 0;


  &--headless {
    background: none;
    padding: 0;
  }

  &__options {
    display: inline;
    padding-left: 1em;

    li {
      list-style: none;
      display: inline;
      color: $darkBlue;

      a {
        &.is-active {
          // font-style: italic;
          // text-decoration: none;
          font-weight: bold;
        }
      }
    }

    li::after {
      content: ' | ';
      margin: 0 .5em;
    }

    li:last-child::after {
      content: '';
      margin: 0;
    }
  }
}

.sort--ascending {
  padding-right: 1em;
  background: {
    repeat: no-repeat;
    position: right 50%;
    image: $dartTopIcon;
    size: 10px;
  }
}

.sort--descending {
  padding-right: 1em;
  background: {
    repeat: no-repeat;
    position: right 50%;
    image: $dartDownIcon;
    size: 10px;
  }

}

.sort .pageactions {
  margin: 0 !important;
  padding: 0 !important;

  a {
    padding-top: 0;
    padding-bottom: 0;
  }
}
