<div class="well">

  <h2>Inloggen</h2>

  <fieldset class="form__element">

    {{ render "@input-text" loginField merge=true }}

    {{ render "@input-text" passwordField merge=true }}

  </fieldset>

  {{ render "@button--secondary" submitButton merge=true }}

  <a href="#" class="pull-right">Registreer bij Naam service</a>

</div>

