<div class="well">

  <h2>Inloggen</h2>

  <fieldset class="form__element">

    <div class="form__element">
      <label for="inlognaam">Inlognaam</label>
      <small>Verplicht veld</small>
      <input type="text" id="inlognaam" placeholder="Bijv. uw e-mailadres" />
    </div>


    <div class="form__element">
      <label for="wachtwoord">Wachtwoord</label>
      <small>Verplicht veld</small>
      <input type="password" id="wachtwoord" />
      <small>Wachtwoord vergeten? <a href="#">Stel uw wachtwoord opnieuw in</a></small>
    </label>

  </fieldset>

  <button type="submit" class="button button--secondary">Inloggen</button>

  <a href="#" class="pull-right">Registreer bij Naam service</a>

</div>

