<form class="form" data-decorator="init-form-disregardchanges" data-config='{"triggerDisregard": ".js-form-disregardchanges__trigger"}'>
  <fieldset>
    <legend>Form example: disregardchanges</legend>

    <div class="form__row">

       {{ render "@input-checkbox"  }}
       {{ render "@input-radio"  }}

    </div>

    <a href="#" class="js-form-disregardchanges__trigger">Annuleren</a>

  </fieldset>
</form>
