.block-search {
  background: $lightBlue;
  padding: 1em 1em 1px;
  margin-bottom: 2em;

  @media ( min-width: $breakpointDesktop ) {
    padding: 2em 2em 1px;
  }
}
.container[data-blocksearch-pageheader] {
  padding-left: 2em;
  @media ( min-width: $breakpointDesktop ) {
    padding-left: 1em;
  }
}
