.map {
  position: relative;
  min-height: 400px;
  background: #f1f1f1;

  &__map {
    position: relative;
  }
  &__kpm {
    width: 100%;
    height: 100%;
    max-height: 500px;

    .ol-overlaycontainer-stopevent {
      display: none;
    }

    .map-buttons {
      position: absolute;
      right: .5em;
      bottom: .5em;
      text-align: right;

      button {
        border: 1px solid $darkBlue;
        border-radius: .5em;
        width: em(58);
        height: em(58);
        margin-left: .5em;
        background: {
          image: $iconPlus;
          repeat: no-repeat;
          size: 2.5em;
          position: center;
        }
      }

      .map-button {


        &--base-layer-selector {
          button {
            background-image: $iconKaartlagen;
          }
        }
        &--center-basket-button {
          button {
            background-image: $iconFocus;
          }
        }
        &--full-screen {
          button {
            background-image: $iconFullscreen;
          }
        }
        &--zoom {
          &-in {
            background-size: 1.75em;
          }
          &-out {
            background-size: 1.75em;
            background-image: $iconMin;
          }
        }
      }
    }
  }
  &__controls {
    position: absolute;
    left: 1em;
    top: 1em;
    right: 1em;
  }
}

.modal {
  .kpm {
    .map {
      min-height: 0;
      height: 200px !important;
    }
    .columns-map {
      height: auto;
      width: auto;
    }
  }
}
