<div class="disclaimer{{#if modifier}} {{#each modifier}}disclaimer--{{modifier}}{{/each}}{{/if}}">
  <div class="container">
    <div class="disclaimer__content">
      {{{content}}}
    </div>
  </div>
</div>
