

<div class="actionblock">
  <h2>Actionblock</h2>
  <p>Description of the actionblock</p>
  <ul class="actionblock__list">
    <li>
      <a href="#">
      <img src="../../images/icon-plus.svg" alt="" role="presentation" />
      Alles openklappen
      </a>
    </li>
    <li>
      <a href="#">
      <img src="../../images/icon-minus.svg" alt="" role="presentation" />
      Alles dichtklappen
      </a>
    </li>
    <li>
      <a href="#">
      <img src="../../images/icon-checkall.svg" alt="" role="presentation" />
      Alles aanvinken
      </a>
    </li>
    <li>
      <a href="#">
      <img src="../../images/icon-uncheckall.svg" alt="" role="presentation" />
      Alles uitvinken
      </a>
    </li>
    <li>
      <a href="#">
      <img src="../../images/icon-arrow-right.svg" alt="" role="presentation" />
      Toon aanvinkte elementen
      </a>
    </li>
  </ul>
</div>

