

<div class="article__header--law ">
    <h3>Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</h3>
  <ul>
    <li class="action--relations">128<a href="#"><span>Relaties</span> <span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
    <li class="action--permalink"><a href="#"><span>Permanente link</span><span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
    <li class="action--version"><a href="#"><span>Versie informatie</span> <span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
    <li class="action--compare"><a href="#"><span>Versie vergelijk</span> <span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
    <li class="action--print"><a href="#"><span>Print</span> <span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
    <li class="action--download"><a href="#"><span>Bewaar</span> <span class="visually-hidden">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of diensten</span></a></li>
  </ul>
    <p>Versie geldend per 01-04-2012</p>
</div>

