

<div class="az">

    <ul>
      <li><button type="button" class="active">A</button></li>
      <li><button type="button">B</button></li>
      <li><button type="button">C</button></li>
      <li><button type="button">D</button></li>
      <li><button type="button">E</button></li>
      <li><button type="button">F</button></li>
      <li><button type="button">G</button></li>
      <li><button type="button">H</button></li>
      <li><button type="button">I</button></li>
      <li><button type="button">J</button></li>
      <li><button type="button">K</button></li>
      <li><button type="button">L</button></li>
      <li><button type="button">M</button></li>
      <li><button type="button">N</button></li>
      <li><button type="button">O</button></li>
      <li><button type="button">P</button></li>
      <li><button type="button">Q</button></li>
      <li><button type="button">R</button></li>
      <li><button type="button">S</button></li>
      <li><button type="button">T</button></li>
      <li><button type="button">U</button></li>
      <li><button type="button">V</button></li>
      <li><button type="button">W</button></li>
      <li><button type="button">X</button></li>
      <li><button type="button">Y</button></li>
      <li><button type="button">Z</button></li>
    </ul>

</div>

