

<div class="block-content">
    <p class="block-content__subheading">
      <i>Berichten over uw buurt</i>
    </p>
  <h2 class="block-content__heading">Altijd op de hoogte van besluiten in uw buurt</h2>
    <p>Besluiten zoals vergunningen, bouwplannen en plaatselijke regelgeving kunnen van invloed zijn op uw woonomgeving. Uw gemeente en andere overheidsinstanties publiceren deze besluiten op berichten over uw buurt. Wat dit voor u betekent leggen we graag uit. </p>
    <p>
      <a href="#" class="button ">Meer informatie</a>
    </p>
</div>

