

<div class="browse ">
  
  
  <ul class="browse__list">
    <li class="browse__item ">
      <a href="#" >
      Wetten
      <span class="browse__count">(25)<span class="visually-hidden"> gepubliceerd</span></span>
      </a>
    </li>
    <li class="browse__item ">
      <a href="#" >
      Ruimtelijke plannen
      <span class="browse__count">(3)<span class="visually-hidden"> gepubliceerd</span></span>
      </a>
    </li>
    <li class="browse__item ">
      <a href="#" >
      Officiële bekendmakingen
      <span class="browse__count">(14)<span class="visually-hidden"> bekend gemaakt</span></span>
      </a>
    </li>
    <li class="browse__item ">
      <a href="#" >
      Staatsblad
      <span class="browse__count">(5)<span class="visually-hidden"> gepubliceerd</span></span>
      </a>
    </li>
    <li class="browse__item ">
      <a href="#" >
      Internetconsultatie
      <span class="browse__count">(3)<span class="visually-hidden"> gepubliceerd</span></span>
      </a>
    </li>
  </ul>
</div>

