

<div class="browse browse--icons">
  
  
  <ul class="browse__list">
    <li class="browse__item ">
      <a href="#" >
      <img src="../../images/icon-download.svg" alt="" role="presentation" />
      Authentieke versie
      </a>
    </li>
    <li class="browse__item ">
      <a href="#" >
      <img src="../../images/icon-info.svg" alt="" role="presentation" />
      Informatie over de publicatie
      </a>
    </li>
    <li class="browse__item ">
      <a href="#" >
      <img src="../../images/icon-related-docs.svg" alt="" role="presentation" />
      Gerelateerde documenten
      </a>
    </li>
    <li class="browse__item ">
      <a href="#" >
      <img src="../../images/icon-print.svg" alt="" role="presentation" />
      Printen
      </a>
    </li>
    <li class="browse__item ">
      <a href="#" >
      <img src="../../images/icon-share.svg" alt="" role="presentation" />
      Delen
      </a>
    </li>
  </ul>
</div>

