

<div class="characteristics">
		<div class="characteristic characteristic--ok">
			<a href="#question-explanation-1" id="question-explanation-link-1" data-explanation-opener="question-explanation-1" data-handler="toggle-explanation">ok</a>
			<div class="question-explanation__content" id="question-explanation-1" data-decorator="hide-self">
		        <p>Betekenis: De wettelijke grondslag van de dataset is bekend.</p>
		        <a href="#question-explanation-link-1" class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
		    </div>
		</div>
		<div class="characteristic ">
			<a href="#question-explanation-2" id="question-explanation-link-2" data-explanation-opener="question-explanation-2" data-handler="toggle-explanation">high value</a>
			<div class="question-explanation__content" id="question-explanation-2" data-decorator="hide-self">
		        <p>Betekenis: </p>
		        <a href="#question-explanation-link-2" class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
		    </div>
		</div>
		<div class="characteristic ">
			<a href="#question-explanation-3" id="question-explanation-link-3" data-explanation-opener="question-explanation-3" data-handler="toggle-explanation">referentieset</a>
			<div class="question-explanation__content" id="question-explanation-3" data-decorator="hide-self">
		        <p>Betekenis: </p>
		        <a href="#question-explanation-link-3" class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
		    </div>
		</div>
		<div class="characteristic ">
			<a href="#question-explanation-4" id="question-explanation-link-4" data-explanation-opener="question-explanation-4" data-handler="toggle-explanation">basisregister</a>
			<div class="question-explanation__content" id="question-explanation-4" data-decorator="hide-self">
		        <p>Betekenis: </p>
		        <a href="#question-explanation-link-4" class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
		    </div>
		</div>
		<div class="characteristic characteristic--international">
			<a href="#question-explanation-5" id="question-explanation-link-5" data-explanation-opener="question-explanation-5" data-handler="toggle-explanation">standaard</a>
			<div class="question-explanation__content" id="question-explanation-5" data-decorator="hide-self">
		        <p>Betekenis: </p>
		        <a href="#question-explanation-link-5" class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
		    </div>
		</div>
		<div class="characteristic characteristic--basis">
			<a href="#question-explanation-6" id="question-explanation-link-6" data-explanation-opener="question-explanation-6" data-handler="toggle-explanation">grondslag bekend</a>
			<div class="question-explanation__content" id="question-explanation-6" data-decorator="hide-self">
		        <p>Betekenis: </p>
		        <a href="#question-explanation-link-6" class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
		    </div>
		</div>
		<div class="characteristic characteristic--share">
			<a href="#question-explanation-7" id="question-explanation-link-7" data-explanation-opener="question-explanation-7" data-handler="toggle-explanation">delen</a>
			<div class="question-explanation__content" id="question-explanation-7" data-decorator="hide-self">
		        <p>Betekenis: </p>
		        <a href="#question-explanation-link-7" class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
		    </div>
		</div>
</div>
