

<div data-decorator="init-selectall">
  <div class="input-checkbox">
    <input class="checkbox__input js-checkbox-master" type="checkbox" id="appel" name="selectAll" value="veel" />
    <label class="checkbox__label" for="appel">
      Selecteer alle verdragen
    </label>
  </div>
  



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Haarlem"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Haarlem
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-21" name="onderwerp"  value="Haarlemmermeerdam"
    />
    <label class="checkbox__label" for="option-checkbox-21">
      Haarlemmermeerdam
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-22" name="onderwerp"  value="Utrecht"
    />
    <label class="checkbox__label" for="option-checkbox-22">
      Utrecht
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-23" name="onderwerp"  value="Groningendam"
    />
    <label class="checkbox__label" for="option-checkbox-23">
      Groningendam
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-24" name="onderwerp"  value="Hattem"
    />
    <label class="checkbox__label" for="option-checkbox-24">
      Hattem
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-25" name="onderwerp"  value="Amsterdam"
    />
    <label class="checkbox__label" for="option-checkbox-25">
      Amsterdam
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-26" name="onderwerp"  value="Rotterdam"
    />
    <label class="checkbox__label" for="option-checkbox-26">
      Rotterdam
    </label>
  </div>




</div>

