

<style>.columns > div { background-color: #ccc; margin-bottom: 3em; }</style>
<div class="columns">
  <div>Kolom 1</div>
</div>
<div class="columns">
  <div>Kolom 1</div>
  <div>Kolom 2</div>
</div>
<div class="columns">
  <div>Kolom 1</div>
  <div>Kolom 2</div>
  <div>Kolom 3</div>
</div>
<div class="columns">
  <div>Kolom 1</div>
  <div>Kolom 2</div>
  <div>Kolom 3</div>
  <div>Kolom 4</div>
</div>
<div class="columns columns--fixed">
  <div>Fixed kolom 1</div>
  <div>Fixed kolom 2</div>
  <div>Fixed kolom 3</div>
  <div>Fixed kolom 4</div>
  <div>Fixed kolom 5</div>
  <div>Fixed kolom 6</div>
  <div>Fixed kolom 7</div>
  <div>Fixed kolom 8</div>
  <div>Fixed kolom 9</div>
  <div>Fixed kolom 10</div>
  <div>Fixed kolom 11</div>
</div>
