

<dl class="dl columns--data">
      <div>
        <dt>Thema</dt>
          <dd><span class="icon icon--housing">Huisvesting</span></dd>
      </div>
      <div>
        <dt>Status</dt>
        <dd>Beschikbaar</dd>
      </div>
      <div>
        <dt>Toegang</dt>
        <dd>Publiek</dd>
      </div>
      <div>
        <dt>Update</dt>
        <dd>8-1-2018</dd>
      </div>
      <div>
        <dt>Licentie</dt>
        <dd>CC-0</dd>
      </div>
      <div>
        <dt>Taal</dt>
        <dd>Nederlands</dd>
      </div>

</dl>

