

  <del class="del del--block">
  	<span class="visually-hidden">begin verwijderde tekst</span>
    <p>Pellentesque sed justo interdum, porta purus sed, congue magna.</p><p>Pellentesque sed justo interdum, porta purus sed, congue magna.</p>
    <span class="visually-hidden">einde verwijderde tekst</span>
  </del>
  <ins class="ins ins--block">
  	<span class="visually-hidden">begin toegevoegde tekst</span>
    <p>Pellentesque sed justo interdum, porta purus sed, congue magna.</p><p>Pellentesque sed justo interdum, porta purus sed, congue magna.</p>
    <span class="visually-hidden">einde toegevoegde tekst</span>
  </ins>

