

<form class="document-search" id="search">
  <fieldset>
    <legend class="h1">Zoeken in alle documenten</legend>

    <div class="document-search__fields">
      <label for="search-term" class="visually-hidden">Zoekterm of dossiernummer</label>
      <input type="text" id="search-term" placeholder="Typ hier uw zoekterm of (dossier)nummer">

      <div class="form__element">
  <div class="form__element__label">
    <label id="labelId">Maak een keuze</label>
  </div>
  <div class="form__element__label">
    <select aria-describedby="labelid" class="multipleSelect" multiple name="verzamelingen" data-decorator="init-multiselect" data-decorator-placeholder="Collecties" data-multiselect-helptext="Gebruik de TAB toets, of de pijl beneden toets om toegang te krijgen tot de suggesties. Druk om ENTER om uw keuze te bevestigen.">
        <optgroup label="Swedish Cars">
            <option value="volvo">Volvo</option>
            <option value="Saab">Saab</option>
        </optgroup>
        <optgroup label="German Cars">
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </optgroup>
    </select>
  </div>
</div>


      <input type="submit" value="Zoeken" class="button button--secondary" />
    </div>

    <p>Uitgebreid zoeken in <a href="#">parlementaire documenten</a> of <a href="#">officiële bekendmakingen</a>.</p>
  </fieldset>
</form>

