

	<div class="facet ">
		<label for="facet-01" >
				<input type="radio" id="facet-01" name="status" />
			beschikbaar
		</label>
		<span>12221</span>
	</div>
	<div class="facet checked">
		<label for="facet-02" >
				<input type="radio" id="facet-02" name="status" checked />
			In onderzoek
		</label>
		<span>121</span>
	</div>
	<div class="facet ">
		<label for="facet-03" >
				<input type="radio" id="facet-03" name="status" />
			Niet beschikbaar
		</label>
		<span>50</span>
	</div>
	<div class="facet ">
		<label for="facet-04" >
				<input type="radio" id="facet-04" name="status" />
			Gepland
		</label>
		<span>25</span>
	</div>

