

<div class="">
  <h2>Organisaties</h2>
</div>

<div class="form__row form__row--large">
  <div class="form__active-filters">
    <h2 class="inline-block">Gekozen filters</h2>
    <div class="form__selectedfilter ">
  Gemeenten: Den Haag
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>
<div class="form__selectedfilter ">
  Ministeries: Ministerie van Binnenlandse Zaken
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>

  </div>
</div>

<div class="" data-decorator="init-filter-results">

  <div class="form__row form__row--large">
    <input type="text" placeholder="Typ hier uw organisatie" name="mysuper_field" id="id_mysuper_field" class="js-filterresults__input input-text input-text--searchmedium"
    />
  </div>

  <div class="form__row form__row--large">
    <div class="column-count column-count--half">
      <fieldset class="js-filterresults__results">
        <legend class="visually-hidden">Gemeenten</legend>
        



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-20" name="onderwerp"  value="Haarlem"
    />
    <label class="checkbox__label" for="option-checkbox-20">
      Haarlem
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-21" name="onderwerp"  value="Haarlemmermeerdam"
    />
    <label class="checkbox__label" for="option-checkbox-21">
      Haarlemmermeerdam
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-22" name="onderwerp"  value="Utrecht"
    />
    <label class="checkbox__label" for="option-checkbox-22">
      Utrecht
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-22" name="onderwerp"  value="Groningendam"
    />
    <label class="checkbox__label" for="option-checkbox-22">
      Groningendam
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-22" name="onderwerp"  value="Hattem"
    />
    <label class="checkbox__label" for="option-checkbox-22">
      Hattem
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-22" name="onderwerp"  value="Amsterdam"
    />
    <label class="checkbox__label" for="option-checkbox-22">
      Amsterdam
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-22" name="onderwerp"  value="Rotterdam"
    />
    <label class="checkbox__label" for="option-checkbox-22">
      Rotterdam
    </label>
  </div>




      </fieldset>
    </div>
  </div>

</div>

<div class="form__row form__row--large">
  <div >

  <ul class="list list--alphabet">
      <li class="list__item"><a href="#" class="list__link"><span>A</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>B</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>C</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>D</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>E</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>F</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>G</span></a></li>
      <li class="list__item"><a href="#" class="list__link is-active"><span>H</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>I</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>J</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>K</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>L</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>M</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>N</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>O</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>P</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>Q</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>R</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>S</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>T</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>U</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>V</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>W</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>X</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>Y</span></a></li>
      <li class="list__item"><a href="#" class="list__link"><span>Z</span></a></li>
  </ul>
</div>

</div>

<div class="align-right">
  <button type="submit" class="button button--primary">Filter toepassen</button>
</div>

