

<div class="footer row--footer">
  <div class="container columns">
    <ul class="list--linked">

      <li><a href="#">Over deze website</a></li>
      <li><a href="#" lang="en">English version</a></li>
      <li><a href="#">Help </a></li>

    </ul>

    <ul class="list--linked">

      <li><a href="#">Sitemap</a></li>

    </ul>

    <ul class="list--linked">

      <li><a href="#">Zoeken</a></li>

    </ul>

    <ul class="list--linked">
      <li><a href="#">MijnOverheid.nl</a></li>
      <li><a href="#">Rijksoverheid.nl</a></li>
      <li><a href="#">Ondernemersplein.nl</a></li>
      <li><a href="#">Werkenbijdeoverheid.nl</a></li>

    </ul>

  </div>
</div>

