

  <p>Lorem ipsum dolor sit amet (<a href="#voetnoot1" id="referentie1">voetnoot 1</a>), consectetur adipiscing elit. Fusce vitae lectus in odio vulputate rhoncus. Praesent viverra eget sem non aliquam. Sed eu enim id urna malesuada lobortis in id tellus. Curabitur nunc nisl, commodo eget ultrices sit amet, volutpat sed turpis. Donec quam leo, pulvinar nec fringilla id, amet leo. Aliquam maximus blandit justo, a vulputate ex pulvinar et. Suspendisse (<a href="#voetnoot2" id="referentie2">voetnoot 2</a>) ante elit, malesuada at libero ac, eleifend dignissim neque. Proin lobortis bibendum ex ut pellentesque. In lobortis dui aliquet diam dignissim facilisis.</p>
  <ol class="footnotes">
    <li id="voetnoot1">Willem-Alexander Claus George Ferdinand, Koning der Nederlanden, Prins van Oranje-Nassau, Jonkheer van Amsberg (Utrecht, 27 april 1967) is sinds 30 april 2013 koning der Nederlanden. Hij is het oudste kind van prinses Beatrix en prins Claus.<a href="#referentie1" class="reference">Terug naar referentie 1</a></li>
    <li id="voetnoot2">Cras in ipsum condimentum, egestas metus id, tristique metus.<a href="#referentie2" class="reference">Terug naar referentie 2</a></li>
  </ol>

