<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/olive.css?cachebust=1.2.1" type="text/css">


<title>Error rendering component forms-login | KOOP componentenbibliotheek</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>Error: Template @koop-components/common/button/button.twig not found</p>

    </div>
    
    <code class="Error-stack">
        <pre>Error: Error: Template @koop-components/common/button/button.twig not found
    at /Users/aoturoa/Webroot/koop/koop/node_modules/@frctl/twig/src/adapter.js:158:24
    at new Promise (<anonymous>)
    at TwigAdapter.render (/Users/aoturoa/Webroot/koop/koop/node_modules/@frctl/twig/src/adapter.js:144:16)
    at ComponentSource._renderVariant (/Users/aoturoa/Webroot/koop/koop/node_modules/@frctl/fractal/src/api/components/source.js:207:30)
    at _renderVariant.next (<anonymous>)
    at onFulfilled (/Users/aoturoa/Webroot/koop/koop/node_modules/co/index.js:65:19)
    at bound (domain.js:420:14)
    at runBound (domain.js:433:12)
    at tryCatcher (/Users/aoturoa/Webroot/koop/koop/node_modules/bluebird/js/release/util.js:16:23)
    at Promise._settlePromiseFromHandler (/Users/aoturoa/Webroot/koop/koop/node_modules/bluebird/js/release/promise.js:517:31)
    at Promise._settlePromise (/Users/aoturoa/Webroot/koop/koop/node_modules/bluebird/js/release/promise.js:574:18)
    at Promise._settlePromise0 (/Users/aoturoa/Webroot/koop/koop/node_modules/bluebird/js/release/promise.js:619:10)
    at Promise._settlePromises (/Users/aoturoa/Webroot/koop/koop/node_modules/bluebird/js/release/promise.js:699:18)
    at Promise._fulfill (/Users/aoturoa/Webroot/koop/koop/node_modules/bluebird/js/release/promise.js:643:18)
    at Promise._resolveCallback (/Users/aoturoa/Webroot/koop/koop/node_modules/bluebird/js/release/promise.js:437:57)
    at Promise._settlePromiseFromHandler (/Users/aoturoa/Webroot/koop/koop/node_modules/bluebird/js/release/promise.js:529:17)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.1"></script>



</body>
</html>
