

<div class="form-conditionals" data-decorator="init-form-conditionals">
    <fieldset arial-label="Deel uw feedback" id="citem-1" class="form-conditionals__citem form-conditionals__citem js-form-conditionals__citem">
      <legend>Deel uw feedback</legend>
        <div class="form-conditionals__container form-conditionals__container--flex">
          <p>Wat dit de informatie die u zocht?</p>
          <div class="form__row">
              <button class="button-icon button-icon--thumb-up js-button-next" data-linkedto="" data-triggeresponds="true" data-triggerLastStep="">Ja</button>
              <button class="button-icon button-icon--thumb-down js-button-next" data-linkedto="2" data-triggeresponds="" data-triggerLastStep="true">Nee</button>
          </div>
        </div>
    </fieldset>
    <fieldset arial-label="Waar ben je precies naar opzoek?" id="citem-2" class="form-conditionals__citem form-conditionals__citem js-form-conditionals__citem">
      <legend>Waar ben je precies naar opzoek?</legend>
        <p>Wat kunnen wij verbeteren?</p>
        <div class="form__row">
          <textarea placeholder="Placeholder"></textarea>
        </div>
    </fieldset>
  <div class="js-form-conditionals__submitcontainer" hidden>
    <button type="submit" class="button button--primary">Verstuur feedback</button>
  </div>
  <div class="form-conditionals__responds js-form-conditionals__responds" hidden>
    <h2 class="form-conditionals__heading">Bedankt voor uw reactie</h2>
    <p>We gebruiken uw feedback ter verbetering van onze dienstverlening.</p>
  </div>
</div>

