

<h2>Default</h2>

<div class="columns">
  <div class="column">
    1
  </div>
  <div class="column">
    2
  </div>
  <div class="column">
    3
  </div>
  <div class="column">
    4
  </div>
</div>

<h2>Custom</h2>
<p>
  12 column grid. Options available: 1 till 12 (.column-d-1, .column-d-2, etc.)
</p>

<div class="columns">
  <div class="column column-d-8">
    .column-d-8
  </div>
  <div class="column column-d-4">
    .column-d-4
  </div>
</div>

<h2>Automatic columns (column-count)</h2>
<div class="column column-count column-count--half">
  <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
    dummy text ever since the 1500s. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
    desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>

</div>


<style>
  .column {
    background: #f1f1f1;
  }
  h2 {
    margin-top: 24px;
  }
</style>

