

  <div class="homepageblock  " style="background-image: url(/images/temp/homepage-block-bg.png);">

    <div class="content--inner">

      <h2>Hoe werkt democratie</h2>


        <ul>
            <li>
              <a href="/intern">
              Interne link
              </a>
            </li>
            <li>
              <a href="https://www.google.com/">
              Google
              </a>
            </li>
            <li>
              <a href="https://wetten.overheid.nl/">
              wetten.overheid.nl
              </a>
            </li>
        </ul>



    </div>

  </div>

