

  <div class="input-radio">
    <input class="radio__input" value="" checked  type="radio"  id="option-1" name="subject" />
    <label class="radio__label" for="option-1">
      Afgelopen maand
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-2" name="subject" />
    <label class="radio__label" for="option-2">
      Afgelopen 3 maanden
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-3" name="subject" />
    <label class="radio__label" for="option-3">
      Afgelopen 12 maanden
    </label>
  </div>

