

  <div role="radiogroup">
  <label class="form__label " for="1">Label placeholder</label>
  <div class="input-group  ">
        <div class="input-group__item">
          <input class="input-group__input" checked  type="radio" id="option-1112321312312" name="subject" />
          <label class="input-group__label" for="option-1112321312312">
            First
          </label>
        </div>
        <div class="input-group__item">
          <input class="input-group__input"   type="radio" id="option-2123123121" name="subject" />
          <label class="input-group__label" for="option-2123123121">
            Last
          </label>
        </div>
  </div>
  </div>



