

<input type="text" 
  placeholder="Typ hier uw organisatie" 
  name="mysuper_field" id="id_mysuper_field" 
  class="input-text input-text--searchmedium combobox-input js-combobox" 
  list="items" 
  data-combobox-hidden-field="appel" />
<datalist id="items">
    <option value="Gemeente Vlaardingen">ABC</option>
    <option value="Gemeente Schiedam">DEF</option>
    <option value="Gemeente Rotterdam">XYZ</option>
    <option value="Voorburg">123</option>
</datalist>
  <input type="text" class="appel" hidden />

