

<div class="relative">


  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Postcode</label>

  


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text input-text--searchmedium  "
    placeholder="Wat zoek je precies?"
    
    aria-invalid="false"
    placeholder="Wat zoek je precies?"
    
    
    
    
    

    data-decorator="toggle-remove-visibility"
    />


  <a href="#" class="input-text__remove invisible" data-handler="empty-input" ><span class="visually-hidden">Wis waarde</span></a>
</div>


