





  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-1" name="" disabled value="Groot-Brittanië"
    />
    <label class="checkbox__label" for="option-checkbox-1">
      Groot-Brittanië
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"  checked type="checkbox" id="option-checkbox-2" name=""  value="Verenigde Staten"
    />
    <label class="checkbox__label" for="option-checkbox-2">
      Verenigde Staten
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-3" name=""  value="Canada"
    />
    <label class="checkbox__label" for="option-checkbox-3">
      Canada
    </label>
  </div>




