

<div class="jumbotron ">
  <div class="jumbotron__content ">
    <div class="jumbotron__heading ">
      <p class="jumbotron__subheader">Berichten over uw buurt</p>
      <h2 class="jumbotron__header">Wat speelt er in úw buurt</h2>
      <p class="jumbotron__intro">
        Alle vergunningen, plannen en plaatselijke regelgevingen die direct invloed hebben op jouw buurt in één archief.
      </p>
    </div>

      <p>
        <a href="#" class="button button--primary">Button</a>
      </p>
  </div>
</div>

