

<div class="jumbotron jumbotron--highlight">
  <div class="jumbotron__content jumbotron__content--centered">
    <div class="jumbotron__heading jumbotron__heading--centered">
      <p class="jumbotron__subheader">Berichten die voor u belangrijk zijn</p>
      <h1 class="jumbotron__header">Welke informatie kunt u vinden in &#x27;Berichten over uw Buurt&#x27;?</h1>
      <p class="jumbotron__intro">
        Dit is de intro van de Jumbotron
      </p>
    </div>
      Denk aan formele besluiten, die direct invloed op uw buurt hebben, zoals vergunningen, bouwplannen en plaatselijke regelgeving. De berichten zijn afkomstig van voornamelijk gemeenten, waterschappen en provincies en zijn in de afgelopen twee maanden gepubliceerd.
    Denk aan formele besluiten, die direct invloed op uw buurt hebben, zoals vergunningen, bouwplannen en plaatselijke regelgeving. De berichten zijn afkomstig van voornamelijk gemeenten, waterschappen en provincies en zijn in de afgelopen twee maanden gepubliceerd.
  </div>
</div>

