

<a href="http://www.google.nl">externe link (manual)</a>

<p>Dit is een <a href="http://www.google.nl">externe link (manual)</a> in een zin</p>

<p>Dit is een <a href="https://www.overheid.nl">overheid.nl link</a> in een zin</p>

<ul>
  <li>Dit is een <a href="http://www.google.nl">externe link (manual)</a> in een li-item</li>
  <li><a href="http://www.google.nl">externe link (manual) als volledige li-item</a></li>
</ul>

<a href="www.google.nl" class="cta cta--external" rel="external">externe link (manual)</a>

