

<div >
  <h4 class="facet--heading">Eerste categorie</h4>

  <ul class="list list--facet">
      <li class="list__item"><a href="#"><span>AMvB</span> <span>(107)</span></a></li>
      <li class="list__item"><a href="#" class="is-active"><span>AMvB-BES</span> <span>(3)</span></a></li>
      <li class="list__item"><a href="#"><span>Ministeriele Regeling Archiefstukken</span> <span>(1)</span></a></li>
      <li class="list__item"><a href="#"><span>Rijkswet</span> <span>(817)</span></a></li>
      <li class="list__item"><a href="#"><span>Verdrag</span> <span>(12)</span></a></li>
      <li class="list__item"><a href="#"><span>Wet</span> <span>(3)</span></a></li>
      <li class="list__item"><a href="#"><span>zbo</span> <span>(19)</span></a></li>
      <li class="list__item"><a href="#"><span>Wet-BES</span> <span>(104)</span></a></li>
  </ul>
</div>
