

<div >

  <ol class="list ">
      <li class="list__item">Eerste item</li>
      <li class="list__item">Tweede item</li>
      <li class="list__item">Derde item</li>
      <li class="list__item">Vierde item</li>
      <li class="list__item">Vijfde item</li>
      <li class="list__item">Zesde item</li>
      <li class="list__item">Zevende item</li>
      <li class="list__item">Achtste item</li>
      <li class="list__item">Negende item</li>
      <li class="list__item">Tiende item</li>
      <li class="list__item">Elfde item</li>
      <li class="list__item">Laatste item</li>
  </ol>
</div>
