

<div >

  <ul class="list list--legenda list--columns-4">
      <li class="list__item"><span class="color1"></span>Eemshaven</li>
      <li class="list__item"><span class="color2"></span>Maasvlakte 1</li>
      <li class="list__item"><span class="color3"></span>Borssele/Vlissingen</li>
      <li class="list__item"><span class="color1"></span>Eemshaven</li>
      <li class="list__item"><span class="color2"></span>Maasvlakte 1</li>
      <li class="list__item"><span class="color3"></span>Borssele/Vlissingen</li>
  </ul>
</div>
