

co<div >

  <ul class="list list--alphabet">
            <li class="list__item"><a href="#" class="list__link"><span>A</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>B</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>C</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>D</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>E</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>F</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>G</span></a></li>
                <li class="list__item"><a href="#" class="list__link is-active"><span>H</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>I</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>J</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>K</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>L</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>M</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>N</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>O</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>P</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>Q</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>R</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>S</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>T</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>U</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>V</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>W</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>X</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>Y</span></a></li>
                <li class="list__item"><a href="#" class="list__link"><span>Z</span></a></li>
        </ul>
</div>

