

<p><button type="button" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-1" class="button">Open modal</button></p>
<div id="modal-1" class="modal-sidebar modal--off-screen" hidden role="alert">
  <div class="modal-sidebar__inner">
    <div class="modal-sidebar__content">
      <h2>Voorbeeld</h2><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p><p>Dit is een voorbeeld van een modal.</p>
    </div>
    <button type="button" data-handler="close-modal" class="modal-sidebar__close">
      <span class="visually-hidden">sluiten</span>
    </button>
  </div>
</div>

