

<div data-decorator="init-passwordstrength">
  <div class="form__row">
    <input type="text" class="js-passwordstrength__input" placeholder="Wachtwoord">
  </div>
</div>

<div class="well">
  <ul class="list list--checked js-passwordstrength__regexcontainer">
    <li data-regex="(?&#x3D;.{12,})" data-regex-label="">Minimaal 12 tekens</li>
    <li data-regex="(?&#x3D;.*[A-Z])" data-regex-label="">Minimaal 1 hoofdletter</li>
    <li data-regex="(?&#x3D;.*[a-z])" data-regex-label="">Minimaal 1 kleine letter</li>
    <li data-regex="(?&#x3D;.*[0-9])" data-regex-label="">Minimaal 1 cijfer</li>
    <li data-regex="[!@#$%^&amp;*(),.?:{}|&lt;&gt;]" data-regex-label="">Minimaal 1 leesteken</li>
  </ul>
</div>

