

<div class="question-explanation">

  <a href="#question-explanation-1" class="question-explanation__link" id="question-explanation-link-1" data-handler="toggle-explanation">Voornaam</a>
  <div class="question-explanation__content" id="question-explanation-1" data-decorator="hide-self">
    <p>U moet dit <a href="#">formulier</a> volledig en naar waarheid invullen.</p>
    <a href="#question-explanation-link-1" class="question-explanation__close" data-handler="close-explanation">
      Sluiten
    </a>
  </div>

</div>

