

<div class="result--list result--list__data">
  <ul>
    <li>



      <span class="icon icon--housing">Huisvesting</span>

        <a href="#" class="result--title">Locatie stembureaus Delfzijl 2017</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>


    </li>
    <li>



      <span class="icon icon--healthcare">Zorg</span>

        <a href="#" class="result--title">Leefbaarometer 2.0 &#x3D; meting 2016</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>
            <span class="label label--pdf">pdf</span>
            <span class="label label--shape">shape</span>


    </li>
    <li>



      <span class="icon icon--jobs">Werk</span>

        <a href="#" class="result--title">Locatie stembureaus Delfzijl 2017</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>


    </li>
    <li>



      <span class="icon icon--traffic">Verkeer</span>

        <a href="#" class="result--title">Leefbaarometer 2.0 &#x3D; meting 2016</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>
            <span class="label label--pdf">pdf</span>
            <span class="label label--shape">shape</span>


    </li>
    <li>



      <span class="icon icon--migration">Migratie</span>

        <a href="#" class="result--title">Locatie stembureaus Delfzijl 2017</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>


    </li>
    <li>



      <span class="icon icon--agriculture">Landbouw</span>

        <a href="#" class="result--title">Leefbaarometer 2.0 &#x3D; meting 2016</a>


       <p>Gegevens van alle stemlokalen binnen de gemeente Delfzijl voor verkiezingen. Locatie in X en Y in RD-Amersfoort, nummer, naam van het gebouw,...</p>

        <p>Organisatie: Delfzijl<br />


          Onderwerpen:
            <a href="">Delfzijl</a>,
            <a href="">stembureau</a>,
            <a href="">stemmen</a>,
              <a href="">verkiezing</a>
          </p>


            <span class="label label--csv">csv</span>
            <span class="label label--pdf">pdf</span>
            <span class="label label--shape">shape</span>


    </li>
  </ul>
</div>

