

<form class="roi-search" id="search">
  <fieldset class="form__row">
    <legend class="visually-hidden">Zoeken in alle documenten</legend>
    <div class="document-search__fields">
      <label for="search-term" class="visually-hidden">Zoekterm of dossiernummer</label>
      <input type="text" id="search-term" placeholder="Vul een zoekterm in of gebruik &amp;quot;&amp;quot; als u een woordgroep zoekt">
    </div>
  </fieldset>
  <div class="">
      <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-1" name="" />
    <label class="radio__label" for="option-1">
      Zoek in alle teksten
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-2" name="" />
    <label class="radio__label" for="option-2">
      Zoek alleen in titels en kenmerken
    </label>
  </div>

  </div>
</form>

