

<div class="form__element">
  <div class="form__element__label">
    <label for="ZoekOp_Overheidsdomein"></label>
    <div class="question-explanation">
      <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfoZoekOp_Overheidsdomein_Inhoud"
        id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfoZoekOp_Overheidsdomein_ctl00" class="question-explanation__link"
        data-handler="toggle-explanation">
        Toelichting zoeken op {variable}
      </a>

      <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfoZoekOp_Overheidsdomein_Inhoud" class="question-explanation__content"
        data-decorator="hide-self" hidden="true">


        <p>{text}</p>

        <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfoZoekOp_Overheidsdomein_ctl00"
          class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
      </div>
    </div>
  </div>
  <div class="form__element__inputs">
    <input name="ctl00$ctl00$cphContent$zoekpaginaContent$ZoekformulierUitgebreid$ZoekOp_Kamerstuknummer" type="text" id="ZoekOp_Kamerstuknummer"
      class="input">
  </div>
</div>

