

<div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "Pas opties aan", "maxShow": "" }'>
  <div class="subselection__summary "></div>
  <div id="modal-1" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer ministeries</h2>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"  checked   type="checkbox" id="option-1" name="name"  data-value="lnv"
                        value="2" />
                      <label class="checkbox__label" for="option-1">
                        Landbouw, Natuur en Voedselkwaliteit (lnv)
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-2" name="name"  data-value="ocw"
                        value="2" />
                      <label class="checkbox__label" for="option-2">
                        Onderwijs, Cultuur en Wetenschap (ocw)
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-3" name="name"  data-value="szw"
                        value="2" />
                      <label class="checkbox__label" for="option-3">
                        Sociale Zaken en Werkgelegenheid (szw)
                      </label>
                    </div>
                  </li>
                </ul>


        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id1" data-handler="open-modal" data-modal="modal-1" class="subselection__trigger icon">Kies &#x27;iets&#x27;</a>
</div>

