

<div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "Pas opties aan", "maxShow": "3" }'>
  <div class="subselection__summary "></div>
  <div id="modal-1" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer ministeries</h2>
              <div data-decorator="init-selectall">
                <div class="input-checkbox u-margin--m">
                  <input class="checkbox__input js-checkbox-master" type="checkbox" id="123211" name="selectAll" value="Alle iets" />
                  <label class="checkbox__label" for="123211">
                    <strong>Alle <i class="js-amount-checkboxes"></i> verdragen</strong>
                  </label>
                </div>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"  checked   type="checkbox" id="option-1" name="name"  data-value="Nederland"
                        value="2" />
                      <label class="checkbox__label" for="option-1">
                        Nederland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-2" name="name"  data-value="Frankrijk"
                        value="2" />
                      <label class="checkbox__label" for="option-2">
                        Frankrijk
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-3" name="name"  data-value="Griekenland"
                        value="2" />
                      <label class="checkbox__label" for="option-3">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-4" name="name"  data-value="Spanje"
                        value="2" />
                      <label class="checkbox__label" for="option-4">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-5" name="name"  data-value="Spanje"
                        value="2" />
                      <label class="checkbox__label" for="option-5">
                        Spanje
                      </label>
                    </div>
                  </li>
                </ul>

          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id1" data-handler="open-modal" data-modal="modal-1" class="subselection__trigger icon">Kies &#x27;iets&#x27;</a>
</div>

