

<div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary"></div>
  <div id="modal-" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2></h2>

                <ul class="list--unstyled">
                </ul>


        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id" data-handler="open-modal" data-modal="modal-" class="subselection__trigger icon"></a>
</div>

