

<table class="table table--condensed" >
  <caption>Deze tabel bevat teamleden van KOOP Overheid.nl </caption>
<thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Voornaam</th>
    <th scope="col">Achternaam</th>
    <th scope="col">Woonplaats</th>
  </tr>
   
</thead>
<tbody>


  <tr>
       <td data-before="">1</td>
             <td data-before="Voornaam">Alexander</td>
             <td data-before="Achternaam">Fase</td>
             <td data-before="Woonplaats">Delft</td>
        </tr>
  <tr>
       <td data-before="">2</td>
             <td data-before="Voornaam">Ted</td>
             <td data-before="Achternaam">van Geest</td>
             <td data-before="Woonplaats">Delft</td>
        </tr>
  <tr>
       <td data-before="">3</td>
             <td data-before="Voornaam">Ard</td>
             <td data-before="Achternaam">van der Heijden</td>
             <td data-before="Woonplaats">Alkmaar</td>
        </tr>
</tbody>
</table>


