

<table class="table " >
<thead>
  <tr>
    <th scope="col">Data-eigenaar</th>
    <th scope="col">Soort organisatie</th>
    <th scope="col">Valt onder</th>
    <th scope="col">Datasets</th>
    <th scope="col">Link-kwaliteit</th>
    <th scope="col">Status</th>
    <th scope="col">Exporteren</th>
  </tr>
   
</thead>
<tbody>


  <tr>
       <td data-before="Data-eigenaar">ZBO | Centraal Bureau voor de Statistiek</td>
             <td data-before="Soort organisatie">zelfstandig</td>
             <td data-before="Valt onder">zelfstandig</td>
             <td data-before="Datasets">4,504</td>
             <td data-before="Link-kwaliteit">9065 / 9066 - 99.99%</td>
            <td data-before="Status" class="status status--green"><span>alles werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">pdf</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Leveranciers (geen overheid) | Zonatlas NL B.V</td>
             <td data-before="Soort organisatie">Stichting</td>
             <td data-before="Valt onder">Regionaal</td>
             <td data-before="Datasets">1</td>
             <td data-before="Link-kwaliteit">0 / 0 - 0%</td>
            <td data-before="Status" class="status status--orange"><span>sommige werken</span></td>
        <td data-before="Exporteren" class="status"><a href="#">csv</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Jeroen</td>
             <td data-before="Soort organisatie">BV</td>
             <td data-before="Valt onder">Niemand</td>
             <td data-before="Datasets">veel</td>
             <td data-before="Link-kwaliteit">top</td>
            <td data-before="Status" class="status status--red"><span>niets werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">xml</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">ZBO | Centraal Bureau voor de Statistiek</td>
             <td data-before="Soort organisatie">zelfstandig</td>
             <td data-before="Valt onder">zelfstandig</td>
             <td data-before="Datasets">4,504</td>
             <td data-before="Link-kwaliteit">9065 / 9066 - 99.99%</td>
            <td data-before="Status" class="status status--green"><span>alles werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">pdf</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Leveranciers (geen overheid) | Zonatlas NL B.V</td>
             <td data-before="Soort organisatie">Stichting</td>
             <td data-before="Valt onder">Regionaal</td>
             <td data-before="Datasets">1</td>
             <td data-before="Link-kwaliteit">0 / 0 - 0%</td>
            <td data-before="Status" class="status status--orange"><span>sommige werken</span></td>
        <td data-before="Exporteren" class="status"><a href="#">csv</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Jeroen</td>
             <td data-before="Soort organisatie">BV</td>
             <td data-before="Valt onder">Niemand</td>
             <td data-before="Datasets">veel</td>
             <td data-before="Link-kwaliteit">top</td>
            <td data-before="Status" class="status status--red"><span>niets werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">xml</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">ZBO | Centraal Bureau voor de Statistiek</td>
             <td data-before="Soort organisatie">zelfstandig</td>
             <td data-before="Valt onder">zelfstandig</td>
             <td data-before="Datasets">4,504</td>
             <td data-before="Link-kwaliteit">9065 / 9066 - 99.99%</td>
            <td data-before="Status" class="status status--green"><span>alles werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">pdf</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Leveranciers (geen overheid) | Zonatlas NL B.V</td>
             <td data-before="Soort organisatie">Stichting</td>
             <td data-before="Valt onder">Regionaal</td>
             <td data-before="Datasets">1</td>
             <td data-before="Link-kwaliteit">0 / 0 - 0%</td>
            <td data-before="Status" class="status status--orange"><span>sommige werken</span></td>
        <td data-before="Exporteren" class="status"><a href="#">csv</a></td>
  </tr>
  <tr>
       <td data-before="Data-eigenaar">Jeroen</td>
             <td data-before="Soort organisatie">BV</td>
             <td data-before="Valt onder">Niemand</td>
             <td data-before="Datasets">veel</td>
             <td data-before="Link-kwaliteit">top</td>
            <td data-before="Status" class="status status--red"><span>niets werkt</span></td>
        <td data-before="Exporteren" class="status"><a href="#">xml</a></td>
  </tr>
</tbody>
</table>


