

<div class="tabs " data-decorator="init-tabs">
  <ul class="tabs__list">
        <li role="presentation">
          <a href="#panel-1" data-handler="open-panel" role="tab" id="tab-1" aria-controls="panel-1">Particulieren</a>
        </li>
        <li role="presentation">
          <a href="#panel-2" data-handler="open-panel" role="tab" id="tab-2" aria-controls="panel-2">Ondernemers</a>
        </li>
        <li role="presentation">
          <a href="#panel-3" data-handler="open-panel" role="tab" id="tab-3" aria-controls="panel-3">Berichten over uw buurt</a>
        </li>
  </ul>
  <div class="tabs__panels">
    <div id="panel-1" role="tabpanel" aria-labelledby="tab-1">
      <h2>Particulieren</h2><p>Informatie voor particulieren bevat een aantal links naar websites waar speciaal voor particulieren informatie te vinden is.</p>

    </div>
    <div id="panel-2" role="tabpanel" aria-labelledby="tab-2">
      <h2>Ondernemers</h2><p><p>Informatie speciaal voor ondernemers is te vinden op de website Ondernemersplein.nl.</p>

    </div>
    <div id="panel-3" role="tabpanel" aria-labelledby="tab-3">
      <h2>Berichten over uw buurt</h2><p>Zoek in berichten en bekendmakingen van voornamelijk gemeenten, provincies en waterschappen.</p>

    </div>
  </div>
</div>

