

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div id="content" role="main" class="container row">
  <div class="columns columns--sidebar-left">
    <div class="column">

      <div class="columns">
        <div class="column column-d-8">
          <div class="hidden-mobile">
            <fieldset class="u-nomargin">
              <legend class="visually-hidden">Legendje</legend>
              <div class="input-inputsubmit ">

  <div class="input-inputsubmit__grid">
    <label class="visually-hidden"  for="search">Verfijn uw zoekopdracht</label>
    <input id="search" type="text" class="input input-text--search" placeholder="Verfijn uw zoekopdracht" />
    <button class="button button--primary"><span>Zoek</span></button>
  </div>
</div>

            </fieldset>
          </div>
        </div>
      </div>

      <div class="row row--large hidden-mobile">
         <div class="sort ">
  <div class="columns">
    <div class="column">
      Sorteer op:
      <ul class="sort__options">
          <li>
            <a href="" class="sort--ascending is-active" aria-pressed="true"><span class="visually-hidden">Sorteer op: </span>Datum</a>
          </li>
          <li>
            <a href="" class="sort--ascending " aria-pressed="false"><span class="visually-hidden">Sorteer op: </span>Titel</a>
          </li>
      </ul>
    </div>
  </div>
</div>

      </div>

      <h1 class="h1 h1--slim">Zoekresultaten <span class="h1__sub">1-10 van de 105 resultaten</span></h1>

      <div class="hidden-desktop align-right">
        <button class="button button--primary block-element button--icon-filter" data-decorator="init-modalsidebar" data-handler="open-modalsidebar"
          data-modal="modal-filter">Filter opties</button>
      </div>

      <div class="hidden-desktop">
        <div class="sort ">
  <div class="columns">
    <div class="column">
      Sorteer op:
      <ul class="sort__options">
          <li>
            <a href="" class="sort--ascending is-active" aria-pressed="true"><span class="visually-hidden">Sorteer op: </span>Datum</a>
          </li>
          <li>
            <a href="" class="sort--ascending " aria-pressed="false"><span class="visually-hidden">Sorteer op: </span>Titel</a>
          </li>
      </ul>
    </div>
  </div>
</div>

      </div>

      <div class="result--list result--list--wide">
  <ul>
    <li>


        <p class="result--label"><i><span class="label ">Nieuw vandaag</span></i></p>


        <h2 class="result--title ">Voortgangsrapportage CTIVD over de werking Wiv2017</h2>




        <dl class="dl dl--horizontal dl--condensed">
            <dt>Geldendheidsperiode</dt>
            <dd>01-01-2019 t/m heden</dd>
            <dt>Uitgegeven door</dt>
            <dd>Samenwerkingsverband vastgoedinformatie</dd>
        </dl>



        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk publicatie</a></li>
        </ul>


    </li>
    <li>


        <p class="result--label"><i><span class="label label--danger">Regeling vervallen per 01-01-2019</span></i></p>


        <h2 class="result--title ">AppelAfdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</h2>




        <dl class="dl dl--horizontal dl--condensed">
            <dt>Geldendheidsperiode</dt>
            <dd>01-01-2019 t/m heden</dd>
            <dt>Uitgegeven door</dt>
            <dd>Samenwerkingsverband vastgoedinformatie</dd>
        </dl>



        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijken</a></li>
        </ul>


    </li>
    <li>




        <h2 class="result--title ">Voortgangsrapportage CTIVD over de werking Wiv2017</h2>




        <dl class="dl dl--horizontal dl--condensed">
            <dt>Geldendheidsperiode</dt>
            <dd>01-01-2019 t/m heden</dd>
            <dt>Uitgegeven door</dt>
            <dd>Samenwerkingsverband vastgoedinformatie</dd>
        </dl>



        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk publicatie</a></li>
        </ul>


    </li>
    <li>




        <h2 class="result--title ">Voortgangsrapportage CTIVD over de werking Wiv2017</h2>




        <dl class="dl dl--horizontal dl--condensed">
            <dt>Geldendheidsperiode</dt>
            <dd>01-01-2019 t/m heden</dd>
            <dt>Uitgegeven door</dt>
            <dd>Samenwerkingsverband vastgoedinformatie</dd>
        </dl>



        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk publicatie</a></li>
        </ul>


    </li>
    <li>




        <h2 class="result--title ">Voortgangsrapportage CTIVD over de werking Wiv2017</h2>




        <dl class="dl dl--horizontal dl--condensed">
            <dt>Geldendheidsperiode</dt>
            <dd>01-01-2019 t/m heden</dd>
            <dt>Uitgegeven door</dt>
            <dd>Samenwerkingsverband vastgoedinformatie</dd>
        </dl>



        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk publicatie</a></li>
        </ul>


    </li>
  </ul>
</div>


      <div class="pull-right">
        <div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>

      </div>

    </div>
    <div class="column column--sidebar">

      <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-fixedbottom-button">

        <div class="modal-sidebar__content" >


          <div class="row--spacer">
            <h2>Zoekfilter</h2>
            <div class="row">
              <p><a href="#" class="icon icon--refresh">Alle filters verwijderen</a></p>
            </div>


          <div class="form__row form__row--large">
            <h3 class="h4">Geselecteerde filters (2)</h3>
            <div class="form__selectedfilter ">
  Gezocht op &quot;leveringen&quot;
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>
<div class="form__selectedfilter ">
  Bouwvergunning
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>
<div class="form__selectedfilter ">
  APV vergunning
  <a href="#" class="form__selectedfilter__remove">
    <span class="visually-hidden">verwijder</span>
  </a>
</div>

          </div>

          <form id="formid">
            <div class="form__row form__row--large hidden-desktop">
              <label for="">Filter op trefwoord</label>
              

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Op nummer zoeken</label>


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text   "
    placeholder="Bijv: BK001"
    
    aria-invalid="false"
    placeholder="Bijv: BK001"
    
    

/>




            </div>

              <fieldset>
                <legend>Locatie</legend>
                <div class="form__row">
                  

  <label for="input-text-" class="form__label form__label--">Postcode</label>


  <input
    type="text"
    id="input-text-"
    name=""
    class="input input-text   "
    placeholder="Bijv. 1234 AB"
    
    aria-invalid="false"
    placeholder="Bijv. 1234 AB"
    
    

/>




                </div>
              </fieldset>
              <fieldset>
                <legend>Woord of zinsdeel</legend>
                <div class="form__row">
                  

  <label for="input-text-543" class="form__label form__label--">Zoekwoord in titel</label>


  <input
    type="text"
    id="input-text-543"
    name="543"
    class="input input-text   "
    placeholder="Zoekwoord"
    
    aria-invalid="false"
    placeholder="Zoekwoord"
    
    

/>




                </div>
                <div class="form__row">
                  

  <label for="input-text-432" class="form__label form__label--">Woord in tekst</label>


  <input
    type="text"
    id="input-text-432"
    name="432"
    class="input input-text   "
    placeholder="Zoekwoord"
    
    aria-invalid="false"
    placeholder="Zoekwoord"
    
    

/>




                </div>
                <div class="form__row">
                  

  <label for="input-text-321" class="form__label form__label--">Wetstechnische gegevens</label>


  <input
    type="text"
    id="input-text-321"
    name="321"
    class="input input-text   "
    placeholder="Zoekwoord"
    
    aria-invalid="false"
    placeholder="Zoekwoord"
    
    

/>




                </div>
              </fieldset>
              <fieldset>
                <legend>Geldigheidsperiode</legend>
                <div class="form__row">
                      <label for="input--786">Van</label>
  <div class="datepicker">
    <input type="date" value="" data-date="" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--786" placeholder="" />
  </div>


                </div>
                <div class="form__row">
                      <label for="input--7836">Tot</label>
  <div class="datepicker">
    <input type="date" value="" data-date="" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--7836" placeholder="" />
  </div>


                </div>
              </fieldset>

                <fieldset>
                  <legend>Organisaties</legend>
                  <div class="form__row">
                    <h3 class="form__sublegend">Gemeenten</h3>
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary"></div>
  <div id="modal-20" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer Gemeenten</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--20"></label>
              <input type="text" aria-controls="resultfilter-20" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--20" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-20" aria-live="polite">
              <legend class="visually-hidden">Selecteer Gemeenten</legend>
              <p class="form__label"></p>
               <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-1237" name="name"  data-value="Spanje" value="2"
                      />
                      <label class="checkbox__label" for="option-1237">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-2237" name="name"  data-value="Griekenland" value="2"
                      />
                      <label class="checkbox__label" for="option-2237">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-3237" name="name"  data-value="Nederland" value="2"
                      />
                      <label class="checkbox__label" for="option-3237">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>
                <p class="form__label"></p>
            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id20" data-handler="open-modal" data-modal="modal-20" class="subselection__trigger icon">Selecteer gemeenten</a>
</div>

                  </div>
                  <div class="form__row">
                    <h3 class="form__sublegend">Provincies</h3>
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary"></div>
  <div id="modal-21" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer provincies</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--21"></label>
              <input type="text" aria-controls="resultfilter-21" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--21" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-21" aria-live="polite">
              <legend class="visually-hidden">Selecteer provincies</legend>
              <p class="form__label"></p>
               <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-1346" name="name"  data-value="Zuid-Holland" value="2"
                      />
                      <label class="checkbox__label" for="option-1346">
                        Zuid-Holland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"  checked  type="checkbox" id="option-2346" name="name"  data-value="Noord-Holland" value="2"
                      />
                      <label class="checkbox__label" for="option-2346">
                        Noord-Holland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"  checked  type="checkbox" id="option-3346" name="name"  data-value="Zeeland" value="2"
                      />
                      <label class="checkbox__label" for="option-3346">
                        Zeeland
                      </label>
                    </div>
                  </li>
                </ul>
                <p class="form__label"></p>
            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id21" data-handler="open-modal" data-modal="modal-21" class="subselection__trigger icon">Selecteer provincies</a>
</div>

                  </div>
                  <div class="form__row">
                    <h3 class="form__sublegend">Waterschappen</h3>
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary"></div>
  <div id="modal-1900" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer waterschappen</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--1900"></label>
              <input type="text" aria-controls="resultfilter-1900" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--1900" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-1900" aria-live="polite">
              <legend class="visually-hidden">Selecteer waterschappen</legend>
              <p class="form__label"></p>
               <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-4455" name="name"  data-value="Spanje" value="2"
                      />
                      <label class="checkbox__label" for="option-4455">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-5455" name="name"  data-value="Griekenland" value="2"
                      />
                      <label class="checkbox__label" for="option-5455">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-6455" name="name"  data-value="Nederland" value="2"
                      />
                      <label class="checkbox__label" for="option-6455">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>
                <p class="form__label"></p>
            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id1900" data-handler="open-modal" data-modal="modal-1900" class="subselection__trigger icon">Selecteer waterschappen</a>
</div>

                  </div>
                  <div class="form__row">
                    <h3 class="form__sublegend">Regionale samenwerkingsorganen</h3>
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary"></div>
  <div id="modal-119" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer regionale samenwerkingsorganen</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--119"></label>
              <input type="text" aria-controls="resultfilter-119" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--119" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-119" aria-live="polite">
              <legend class="visually-hidden">Selecteer regionale samenwerkingsorganen</legend>
              <p class="form__label"></p>
               <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-4564" name="name"  data-value="Spanje" value="2"
                      />
                      <label class="checkbox__label" for="option-4564">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-5564" name="name"  data-value="Griekenland" value="2"
                      />
                      <label class="checkbox__label" for="option-5564">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-6564" name="name"  data-value="Nederland" value="2"
                      />
                      <label class="checkbox__label" for="option-6564">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>
                <p class="form__label"></p>
            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id119" data-handler="open-modal" data-modal="modal-119" class="subselection__trigger icon">Selecteer regionale samenwerkingsorganen</a>
</div>

                  </div>
                  <div class="form__row">
                    <h3 class="form__sublegend">Deelgemeenten / stadsdelen</h3>
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary"></div>
  <div id="modal-122" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer deelgemeenten / stadsdelen</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--122"></label>
              <input type="text" aria-controls="resultfilter-122" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--122" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-122" aria-live="polite">
              <legend class="visually-hidden">Selecteer deelgemeenten / stadsdelen</legend>
              <p class="form__label"></p>
               <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-4563" name="name"  data-value="Spanje" value="2"
                      />
                      <label class="checkbox__label" for="option-4563">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-5563" name="name"  data-value="Griekenland" value="2"
                      />
                      <label class="checkbox__label" for="option-5563">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-6563" name="name"  data-value="Nederland" value="2"
                      />
                      <label class="checkbox__label" for="option-6563">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>
                <p class="form__label"></p>
            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id122" data-handler="open-modal" data-modal="modal-122" class="subselection__trigger icon">Selecteer deelgemeenten / stadsdelen</a>
</div>

                  </div>
                  <div class="form__row">
                    <h3 class="form__sublegend">BES eiland</h3>
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary"></div>
  <div id="modal-125" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer BES eilanden</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--125"></label>
              <input type="text" aria-controls="resultfilter-125" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--125" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-125" aria-live="polite">
              <legend class="visually-hidden">Selecteer BES eilanden</legend>
              <p class="form__label"></p>
               <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-4562" name="name"  data-value="Spanje" value="2"
                      />
                      <label class="checkbox__label" for="option-4562">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-5562" name="name"  data-value="Griekenland" value="2"
                      />
                      <label class="checkbox__label" for="option-5562">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-6562" name="name"  data-value="Nederland" value="2"
                      />
                      <label class="checkbox__label" for="option-6562">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>
                <p class="form__label"></p>
            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id125" data-handler="open-modal" data-modal="modal-125" class="subselection__trigger icon">Selecteer BES eilanden</a>
</div>

                  </div>
                </fieldset>
                <fieldset>
                  <legend>Onderwerpen</legend>
                  <div class="form__row">
                    <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary"></div>
  <div id="modal-1288" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer onderwerpen</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--1288"></label>
              <input type="text" aria-controls="resultfilter-1288" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--1288" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-1288" aria-live="polite">
              <legend class="visually-hidden">Selecteer onderwerpen</legend>
              <p class="form__label"></p>
               <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-4561" name="name"  data-value="Spanje" value="2"
                      />
                      <label class="checkbox__label" for="option-4561">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-5561" name="name"  data-value="Griekenland" value="2"
                      />
                      <label class="checkbox__label" for="option-5561">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"    type="checkbox" id="option-6561" name="name"  data-value="Nederland" value="2"
                      />
                      <label class="checkbox__label" for="option-6561">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>
                <p class="form__label"></p>
            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id1288" data-handler="open-modal" data-modal="modal-1288" class="subselection__trigger icon">Selecteer onderwerpen</a>
</div>

                  </div>
                </fieldset>

            <button class="js-fixedbottom-button__button modal-sidebar__submit button button--primary" hidden data-decorator="init-sticky" data-config='{"position":"bottom"}'>Opnieuw zoeken</button>
          </form>
        </div>


        <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
          <span class="visually-hidden">Sluiten</span>
        </button>

      </div>

    </div>
  </div>
</div>

</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


