

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container row">
  <div class="columns columns--sidebar-left">
    <div class="column">

      <div class="hidden-mobile">
        <div class="columns">
          <div class="column column-d-7">
            <div class="row">
            <div class="input-inputsubmit ">

  <div class="input-inputsubmit__grid">
    <label class="visually-hidden"  for="">Verfijn uw zoekopdracht</label>
    <input id=""  type="text" class="input input-text--search" placeholder="Verfijn uw zoekopdracht" />
    <button class="button button--primary"><span>Zoek</span></button>
  </div>
</div>

            </div>
          </div>
        </div>
        <div class="">
          <div class="row">
            <div class="sort ">
  <div class="columns">
    <div class="column">
      Sorteer op:
      <ul class="sort__options">
          <li>
            <a href="" class="sort--ascending is-active" aria-pressed="true"><span class="visually-hidden">Sorteer op: </span>Datum</a>
          </li>
          <li>
            <a href="" class="sort--ascending " aria-pressed="false"><span class="visually-hidden">Sorteer op: </span>Titel</a>
          </li>
      </ul>
    </div>
      <div class="column d-align-right">
          Aantal:
          <ul class="sort__options">
            <li>
              <a href="" class="is-active" aria-pressed="true"><span class="visually-hidden">Toon </span>10<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
            <li>
              <a href="" class="" aria-pressed="false"><span class="visually-hidden">Toon </span>20<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
            <li>
              <a href="" class=""  aria-pressed="false"><span class="visually-hidden">Toon </span>50<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
          </ul>

      </div>
  </div>
</div>

          </div>
        </div>
      </div>

      <h1 class="h1 h1--slim">Zoekresultaten
        <span class="h1__sub">1-10 van de 105 resultaten</span>
      </h1>

      <div class="hidden-desktop align-right">
        <button class="button button--primary block-element button--icon-filter" data-decorator="init-modalsidebar" data-handler="open-modalsidebar"
          data-modal="modal-filter">Filter opties</button>
      </div>

  <div class="hidden-desktop">
     <div class="sort ">
  <div class="columns">
    <div class="column">
      Sorteer op:
      <ul class="sort__options">
          <li>
            <a href="" class="sort--ascending is-active" aria-pressed="true"><span class="visually-hidden">Sorteer op: </span>Datum</a>
          </li>
          <li>
            <a href="" class="sort--ascending " aria-pressed="false"><span class="visually-hidden">Sorteer op: </span>Titel</a>
          </li>
      </ul>
    </div>
      <div class="column d-align-right">
          Aantal:
          <ul class="sort__options">
            <li>
              <a href="" class="is-active" aria-pressed="true"><span class="visually-hidden">Toon </span>10<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
            <li>
              <a href="" class="" aria-pressed="false"><span class="visually-hidden">Toon </span>20<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
            <li>
              <a href="" class=""  aria-pressed="false"><span class="visually-hidden">Toon </span>50<span class="visually-hidden"> resultaten per pagina</span></a>
            </li>
          </ul>

      </div>
  </div>
</div>

  </div>

  <div class="result--list result--list--wide">
  <ul>
    <li>


        <p class="result--label"><i><span class="label ">Nieuw vandaag</span></i></p>


        <h2 class="result--title ">Voortgangsrapportage CTIVD over de werking Wiv2017</h2>


       <p>Het rapport bevat de bevindingen van de Commissie van Toezicht op de Inlichtingen- en Veiligheidsdiensten inzake de werking van de Wet op de inlichtingen en veiligheidsdiensten 2017</p>



          <ul class="list--metadata">
              <li>Onderzoeksrapport</li>
              <li>Ministerie van Justitie en Veiligheid</li>
              <li>Beschikbaar sinds 04-12-2018</li>
          </ul>


        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk publicatie</a></li>
        </ul>

        <h3 class="h4">Bekijk document direct via</h3>
        <div data-decorator="showmoreless" data-config='{"amount":"2"}'>
          <ul class="list list--linked">
            <li><a href="http://www.google.nl">Rijksoverheid.nl</a> (gepubliceerd op 07-07-2016 | XML)</li>
            <li><a href="http://www.google.nl">Overheid.nl</a> (gepubliceerd op 06-07-2016 | PDF)</li>
            <li><a href="http://www.google.nl">Rijksoverheid.nl</a> (gepubliceerd op 07-07-2016 | XML)</li>
          </ul>
        </div>

    </li>
    <li>


        <p class="result--label"><i><span class="label ">Nieuw vandaag</span></i></p>


        <h2 class="result--title ">AppelAfdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</h2>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>





        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--primary">Bekijk publicatie</a></li>
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk op kaart</a></li>
            <li class="list__item d-pull-right"><a href="#" class="button button--tertiary button--share">Delen</a></li>
        </ul>


    </li>
    <li>


        <p class="result--label"><i><span class="label ">Nieuw vandaag</span></i></p>


        <h2 class="result--title ">AppelAfdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</h2>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>





        <ul class="list list--inline list--narrow">
            <li class="list__item"><a href="#"  class="button button--primary">Bekijk publicatie</a></li>
            <li class="list__item"><a href="#"  class="button button--secendary">Bekijk op kaart</a></li>
            <li class="list__item d-pull-right"><a href="#" class="button button--tertiary button--share">Delen</a></li>
        </ul>


    </li>
  </ul>
</div>
 <div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>


    </div>
    <div class="column column--sidebar">

      <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-fixedbottom-button">

        <div class="modal-sidebar__content" >

          <div class="row--spacer">
            <h2>Zoekfilter</h2>

          <div class="form__row form__row--large">
            <h4>Geselecteerde filters (7)</h4>
            <div data-decorator="showmoreless" data-config='{"amount": 2}'>
              <ul class="list list--unstyled">
                <li><div class="form__selectedfilter">Waarde 1<a href="" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                <li><div class="form__selectedfilter">Waarde 2<a href="" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                <li><div class="form__selectedfilter">Waarde 3<a href="" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                <li><div class="form__selectedfilter">Waarde 4<a href="" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                <li><div class="form__selectedfilter">Waarde 5<a href="" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                <li><div class="form__selectedfilter">Waarde 6<a href="" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
                <li><div class="form__selectedfilter">Waarde 7<a href="" class="form__selectedfilter__remove"><span class="visually-hidden">verwijder</span></a></div></li>
              </ul>
            </div>
          </div>

          <form id="formid" data-decorator="init-form-validation">
            <div class="form__row form__row--large hidden-desktop">
              <label for="">Filter op trefwoord</label>
              

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Op nummer zoeken</label>

  


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text   "
    placeholder="Bijv: BK001"
    
    aria-invalid="false"
    placeholder="Bijv: BK001"
    
    
    
    
    

/>




            </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Informatiesoort <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>

              </legend>
              <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span" }'>
  <div class="subselection__summary "></div>
  <div id="modal-13" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer informatiesoort(en)</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--13"></label>
              <input type="text" aria-controls="resultfilter-13" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--13" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-13" aria-live="polite">
              <legend class="visually-hidden">Selecteer informatiesoort(en)</legend>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-465" name="name"  data-value="Spanje"
                        value="2" />
                      <label class="checkbox__label" for="option-465">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-565" name="name"  data-value="Griekenland"
                        value="2" />
                      <label class="checkbox__label" for="option-565">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-665" name="name"  data-value="Nederland"
                        value="2" />
                      <label class="checkbox__label" for="option-665">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>

            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id13" data-handler="open-modal" data-modal="modal-13" class="subselection__trigger icon">Selecteer informatiesoort(en)</a>
</div>

            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Thema <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>

              </legend>
               <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerSubmit": true }'>
  <div class="subselection__summary "></div>
  <div id="modal-12" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer thema(s)</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--12"></label>
              <input type="text" aria-controls="resultfilter-12" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--12" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-12" aria-live="polite">
              <legend class="visually-hidden">Selecteer thema(s)</legend>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-4" name="name"  data-value="Spanje"
                        value="2" />
                      <label class="checkbox__label" for="option-4">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-5" name="name"  data-value="Griekenland"
                        value="2" />
                      <label class="checkbox__label" for="option-5">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-6" name="name"  data-value="Nederland"
                        value="2" />
                      <label class="checkbox__label" for="option-6">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>

            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id12" data-handler="open-modal" data-modal="modal-12" class="subselection__trigger icon">Selecteer thema(s)</a>
</div>

            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Organisatie
              <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>

              </legend>
              <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span" }'>
  <div class="subselection__summary "></div>
  <div id="modal-1" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer organisatie(s)</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--1"></label>
              <input type="text" aria-controls="resultfilter-1" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--1" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-1" aria-live="polite">
              <legend class="visually-hidden">Selecteer organisatie(s)</legend>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-1" name="name"  data-value="Spanje"
                        value="2" />
                      <label class="checkbox__label" for="option-1">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-2" name="name"  data-value="Griekenland"
                        value="2" />
                      <label class="checkbox__label" for="option-2">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-3" name="name"  data-value="Nederland"
                        value="2" />
                      <label class="checkbox__label" for="option-3">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>

            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id1" data-handler="open-modal" data-modal="modal-1" class="subselection__trigger icon">Selecteer organisatie(s)</a>
</div>

            </fieldset>
          </div>

          <div class="form__row form__row--large">
            <fieldset>
              <legend>Datum beschikbaar <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
              <div class="form__row form__row--medium">
                  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-20" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-20">
      Alle
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-20" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-20">
      Vandaag
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-20" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-20">
      Afgelopen week
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-20" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-20">
      Afgelopen maand
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-20" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-20">
      Afgelopen 3 maanden
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-checkbox-20" name="onderwerp" />
    <label class="radio__label" for="option-checkbox-20">
      Zelf een periode kiezen
    </label>
  </div>

              </div>
              <div class="form__row form__row--medium">
                <label>Startdatum</label>
                  <div class="datepicker">
    <input type="date"  value="" data-date="" class="datepicker__input " data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>


                <a href="#" class="reset">
                  <small>Herstel</small>
                </a>
              </div>
              <div class="form__row form__row--medium">
                <label>Einddatum</label>
                  <div class="datepicker">
    <input type="date"  value="" data-date="" class="datepicker__input " data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>


                <a href="#" class="reset">
                  <small>Herstel</small>
                </a>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="js-fixedbottom-button__button modal-sidebar__submit button button--primary" data-decorator="init-sticky" data-config='{"position":"bottom"}'>Opnieuw zoeken</button>

          </form>
        </div>


        <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
          <span class="visually-hidden">Sluiten</span>
        </button>

      </div>

    </div>
  </div>
</div>

</div>
<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


