

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>


<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="row container">
  <h1>Zoeken</h1>
  <form class="roi-search" id="search">
  <fieldset class="form__row">
    <legend class="visually-hidden">Zoeken in alle documenten</legend>
    <div class="document-search__fields">
      <label for="search-term" class="visually-hidden">Zoekterm of dossiernummer</label>
      <input type="text" id="search-term" placeholder="Vul een zoekterm in of gebruik &amp;quot;&amp;quot; als u een woordgroep zoekt">
    </div>
  </fieldset>
  <div class="">
      <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-1" name="" />
    <label class="radio__label" for="option-1">
      Zoek in alle teksten
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-2" name="" />
    <label class="radio__label" for="option-2">
      Zoek alleen in titels en kenmerken
    </label>
  </div>

  </div>
</form>

  
  <div class="row container columns">
    <div>
      <h2>kenmerken</h2>
      <div class="collapsible " data-decorator="init-collapsible" id="1">
  <div class="collapsible__header">
    <a href="#1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible">Soort organisatie</a>
  </div>
  <div class="collapsible__content" id="collapsible-content-1">
    <fieldset class="form__element checkboxgroup "><legend class="visually-hidden">Geldigheid </legend><input type="checkbox" id="option-1" name="geldigheid" /><label for="option-1">Laatste versies</label><input type="checkbox" id="option-2" name="geldigheid" /><label for="option-2">Geldig vandaag</label><input type="checkbox" id="option-3" name="geldigheid" /><label for="option-3">test</label></fieldset>
  </div>
</div>

      <div class="collapsible " data-decorator="init-collapsible" id="1">
  <div class="collapsible__header">
    <a href="#1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible">Vestigingsplaats</a>
  </div>
  <div class="collapsible__content" id="collapsible-content-1">
    <fieldset class="form__element checkboxgroup "><legend class="visually-hidden">Geldigheid </legend><input type="checkbox" id="option-1" name="geldigheid" /><label for="option-1">Laatste versies</label><input type="checkbox" id="option-2" name="geldigheid" /><label for="option-2">Geldig vandaag</label><input type="checkbox" id="option-3" name="geldigheid" /><label for="option-3">test</label></fieldset>
  </div>
</div>

      <div class="collapsible " data-decorator="init-collapsible" id="1">
  <div class="collapsible__header">
    <a href="#1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible">Ministerie</a>
  </div>
  <div class="collapsible__content" id="collapsible-content-1">
    <fieldset class="form__element checkboxgroup "><legend class="visually-hidden">Geldigheid </legend><input type="checkbox" id="option-1" name="geldigheid" /><label for="option-1">Laatste versies</label><input type="checkbox" id="option-2" name="geldigheid" /><label for="option-2">Geldig vandaag</label><input type="checkbox" id="option-3" name="geldigheid" /><label for="option-3">test</label></fieldset>
  </div>
</div>

      <div class="collapsible " data-decorator="init-collapsible" id="1">
  <div class="collapsible__header">
    <a href="#1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible">Classificatie</a>
  </div>
  <div class="collapsible__content" id="collapsible-content-1">
    <fieldset class="form__element checkboxgroup "><legend class="visually-hidden">Geldigheid </legend><input type="checkbox" id="option-1" name="geldigheid" /><label for="option-1">Laatste versies</label><input type="checkbox" id="option-2" name="geldigheid" /><label for="option-2">Geldig vandaag</label><input type="checkbox" id="option-3" name="geldigheid" /><label for="option-3">test</label></fieldset>
  </div>
</div>

    </div>
    <div>
      <h2>Datum</h2>
        <div class="input-radio">
    <input class="radio__input" value="" checked  type="radio"  id="option-1" name="subject" />
    <label class="radio__label" for="option-1">
      Afgelopen maand
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-2" name="subject" />
    <label class="radio__label" for="option-2">
      Afgelopen 3 maanden
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input" value=""   type="radio"  id="option-3" name="subject" />
    <label class="radio__label" for="option-3">
      Afgelopen 12 maanden
    </label>
  </div>

      
      <h2>Nummers</h2>
      

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Op nummer zoeken</label>


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text input--medium  "
    placeholder="Bijv: OO12820-KL"
    
    aria-invalid="false"
    placeholder="Bijv: OO12820-KL"
    
    
    
    
    

/>




      <input type="submit" value="Zoeken" class="button button--secondary pull-right" />
    </div>
  </div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


