

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href="https://www.overheid.nl"><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="templates-wp-homepage" class="">Home</a></li>
            <li><a href="#" class="">Wettenpockets aanmaken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>


<main role="main">
  <div class="container columns columns--sidebar-left row">
    <div>
      <h1>Recent gepubliceerde wettenpockets</h1>
      <div class="result--list ">
  <ul>
    <li>




        <a href="#" class="result--title">Wettenpocket Wetboek van Strafrecht</a>


       <p>Automatisch gegenereerde pocket van wet- en regelgeving rond Wetboek van Strafrecht</p>



          <ul class="list--metadata">
              <li>Datum: 21-11-2018</li>
              <li>Onderwerp: Overig</li>
              <li>Gepubliceerd door: KOOP</li>
          </ul>




    </li>
    <li>




        <a href="#" class="result--title">Wettenpocket Warenwet</a>


       <p>Automatisch gegenereerde pocket van wet- en regelgeving rond Warenwet</p>



          <ul class="list--metadata">
              <li>Datum: 21-11-2018</li>
              <li>Onderwerp: Overig</li>
              <li>Gepubliceerd door: KOOP</li>
          </ul>




    </li>
    <li>




        <a href="#" class="result--title">Regelingenpocket Deventer</a>


       <p>Automatisch gegenereerde pocket van wet- en regelgeving van de organisatie Deventer</p>



          <ul class="list--metadata">
              <li>Datum: 9-11-2018</li>
              <li>Onderwerp: Overig</li>
              <li>Gepubliceerd door: KOOP</li>
          </ul>




    </li>
    <li>




        <a href="#" class="result--title">HAFIR Bestuurlijke regels</a>


       <p>Dit overzicht bevat bestuurlijke regels zoals de begrotingsregels of Raamwerk uitvoering subsidies die voor het Rijk van toepassing zijn.</p>



          <ul class="list--metadata">
              <li>Datum: 6-2-2018</li>
              <li>Onderwerp: Overig</li>
              <li>Gepubliceerd door: Ministerie van Financiën</li>
          </ul>




    </li>
    <li>




        <a href="#" class="result--title">Wettenpocket Warenwet</a>


       <p>Automatisch gegenereerde pocket van wet- en regelgeving rond Warenwet</p>



          <ul class="list--metadata">
              <li>Datum: 21-11-2018</li>
              <li>Onderwerp: Overig</li>
              <li>Gepubliceerd door: KOOP</li>
          </ul>




    </li>
  </ul>
</div>


      <div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">1</a></li>
      <li class="active">2</li>
      <li>...</li>
      <li><a href="#">5</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>

    </div>


    <div>
      <h3>Subnavigatie</h3>
      <nav class="secundairy-navigation">
        <div >

  <ul class="list list--linked list--unstyled">
      <li class="list__item"><a href="templates-wp-search">Zoek wettenpockets</a></li>
      <li class="list__item"><a href="templates-wp-overview">Recent gepubliceerde wettenpockets</a></li>
      <li class="list__item"><a href="#">Veel gedownloade wettenpockets</a></li>
      <li class="list__item"><a href="#">Veelgestelde vragen</a></li>
  </ul>
</div>

      </nav>
    </div>

  </div><!-- /container -->
</main>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <ul class="list list--linked">

      <li><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li><a href="https://beta.overheid.nl/help">Help</a></li>
      <li><A href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>

    </ul>

    <ul class="list list--linked">
      <li><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li><a href="/privacy-statement">Privacy en cookies</a></li>
      <li><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li><a href="/sitemap">Sitemap</a></li>
    </ul>

     <ul class="list list--linked">
        <li><a href="https://data.overheid.nl">Open data</a></li>
        <li><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
        <li><a href="https://puc.overheid.nl">PUC Open Data</a></li>
    </ul>

    <ul class="list list--linked">
      <li><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
    </ul>

  </div>
</div>


