

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="link-iconed link-iconed--publication">English</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container row">
  <div class="row row--spacer">
    <div class="jumbotron jumbotron--highlight">

      <div class="jumbotron__content jumbotron__content--side">
        <div class="row">
          <p class="jumbotron__subheader">Verdragenbank</p>
          <h1 class="jumbotron__header h2">Doorzoek de 3621 verdragen waarbij het Konkrijk der Nederlanden partij is</h1>
        </div>

        <form class="form">
          <div class="form__row form__row--large">
            <fieldset>
              <legend class="visually-hidden">Doorzoek de verdragenbank</legend>
              <div class="form__row">
                 <input type="text" class="input-text input-text--searchmedium" placeholder="Vul hier uw zoekwoord(en) in" />
              </div>
            </fieldset>
          </div>
          <div class="columns columns--dominant">
            <div class="column">
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Totstandkoming <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
                  <div class="form__row">
                    <label>Startdatum</label>
                      <div class="datepicker">
    <input type="date" value="" data-date="" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>


                    <a href="#" class="reset"><small>Herstel</small></a>
                  </div>
                  <div class="form__row">
                    <label>Einddatum</label>
                      <div class="datepicker">
    <input type="date" value="" data-date="" class="datepicker__input" data-date-format="DD-MM-YYYY" data-decorator="init-datepicker"
      data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--1" placeholder="Bijv: 06-10-1960" />
  </div>


                    <a href="#" class="reset"><small>Herstel</small></a>
                  </div>
                  <div class="form__row">
                    <label>Plaats</label>
                    

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Op nummer zoeken</label>


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text   "
    placeholder="Bijv: BK001"
    
    aria-invalid="false"
    placeholder="Bijv: BK001"
    
    
    
    
    

/>




                  </div>
                  <div class="form__row">
                    <div class="columns">
                      <div class="column">
                        <label>Huisnummer</label>
                        

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Op nummer zoeken</label>


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text   "
    placeholder="Bijv: BK001"
    
    aria-invalid="false"
    placeholder="Bijv: BK001"
    
    
    
    
    

/>




                      </div>
                      <div class="column">
                        <label>Toevoeging</label>
                        

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Op nummer zoeken</label>


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text   "
    placeholder="Bijv: BK001"
    
    aria-invalid="false"
    placeholder="Bijv: BK001"
    
    
    
    
    

/>




                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Onderwerp <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
                  <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary "></div>
  <div id="modal-23" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer onderwerp(en)</h2>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-1" name="name"  data-value="Spanje"
                        value="2" />
                      <label class="checkbox__label" for="option-1">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-2" name="name"  data-value="Griekenland"
                        value="2" />
                      <label class="checkbox__label" for="option-2">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-3" name="name"  data-value="Nederland"
                        value="2" />
                      <label class="checkbox__label" for="option-3">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>


        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id23" data-handler="open-modal" data-modal="modal-23" class="subselection__trigger icon">Selecteer onderwerp(en)</a>
</div>

              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Nu geldend voor <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
                  



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-40" name="onderwerp"  value="Nederland (in Europa)"
    />
    <label class="checkbox__label" for="option-checkbox-40">
      Nederland (in Europa)
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-41" name="onderwerp"  value="Nederland (Bonaire)"
    />
    <label class="checkbox__label" for="option-checkbox-41">
      Nederland (Bonaire)
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-422" name="onderwerp"  value="Nederland (Sint Eustatius)"
    />
    <label class="checkbox__label" for="option-checkbox-422">
      Nederland (Sint Eustatius)
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-422" name="onderwerp"  value="Aruba"
    />
    <label class="checkbox__label" for="option-checkbox-422">
      Aruba
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-422" name="onderwerp"  value="Curacao"
    />
    <label class="checkbox__label" for="option-checkbox-422">
      Curacao
    </label>
  </div>



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-422" name="onderwerp"  value="Sint Maarten"
    />
    <label class="checkbox__label" for="option-checkbox-422">
      Sint Maarten
    </label>
  </div>




              </div>
            </div>
            <div class="column">
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Tractatenblad/Staatsblad <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
                  <div class="form__row">
                    <label>Jaar</label>
                    <input type="number" class="input-text" placeholder="Bijv. 2018"/>
                  </div>
                  <div class="form__row">
                    <label>Nummer</label>
                    <input type="number" class="input-text" placeholder="Bijv. 2018" />
                  </div>

                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Type verdrag <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
                  <div data-decorator="showmoreless" data-config='{"amount": "4"}'>
  <ul class="list list--unstyled">


<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-220" name="onderwerp"  value="Bilateraal"
    />
    <label class="checkbox__label" for="option-checkbox-220">
      Bilateraal
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-221" name="onderwerp"  value="Multilateraal"
    />
    <label class="checkbox__label" for="option-checkbox-221">
      Multilateraal
    </label>
  </div>

<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-222" name="onderwerp"  value="Plurilateraal"
    />
    <label class="checkbox__label" for="option-checkbox-222">
      Plurilateraal
    </label>
  </div>

</li>

  </ul>
</div>


                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Nederland depositaris <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
                  <div data-decorator="showmoreless" data-config='{"amount": "4"}'>
  <ul class="list list--unstyled">


<li>


  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-30" name="onderwerp"  value="Enkel deze verdragen tonen"
    />
    <label class="checkbox__label" for="option-checkbox-30">
      Enkel deze verdragen tonen
    </label>
  </div>

</li>

  </ul>
</div>


                </fieldset>
              </div>
              <div class="form__row form__row--large">
                <fieldset>
                  <legend>Partij <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</legend>
                  <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "triggerOnChangeText": "", "maxShow": "" }'>
  <div class="subselection__summary "></div>
  <div id="modal-1" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Selecteer partijen</h2>
          <div class="" data-decorator="init-filter-results">
            <div class="form__row form__row--medium">
              <label class="visually-hidden" for="filter-id--1"></label>
              <input type="text" aria-controls="resultfilter-1" placeholder="Typ hier uw organisatie" name="mysuper_field" id="filter-id--1" class="js-filterresults__input input-text input-text--searchmedium"
            />
            </div>
            <fieldset class="js-filterresults__results" role="region" id="resultfilter-1" aria-live="polite">
              <legend class="visually-hidden">Selecteer partijen</legend>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-122" name="name"  data-value="Spanje"
                        value="2" />
                      <label class="checkbox__label" for="option-122">
                        Spanje
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-222" name="name"  data-value="Griekenland"
                        value="2" />
                      <label class="checkbox__label" for="option-222">
                        Griekenland
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-322" name="name"  data-value="Nederland"
                        value="2" />
                      <label class="checkbox__label" for="option-322">
                        Nederland
                      </label>
                    </div>
                  </li>
                </ul>

            </fieldset>
          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id1" data-handler="open-modal" data-modal="modal-1" class="subselection__trigger icon">Selecteer partij(en)</a>
</div>

                </fieldset>
              </div>
            </div>
          </div>
          <div class="align-right">
            <ul class="list list--inline">
              <li><button type="submit" class="button button--erase">Leegmaken</button></li>
              <li><button type="submit" class="button button--primary">Zoeken</button></li>
            </ul>
          </div>

        </form>
      </div>

    </div>
  </div>



  <div class="row row--spacer">
    <div class="jumbotron jumbotron--promo jumbotron--green">

      <div class="jumbotron__content">
        <div class="columns columns--center">
          <div class="column">
        <p class="jumbotron__subheader">Meld je aan voor de mail service</p>

        <h2 class="jumbotron__header h2">En blijf automatisch op de hoogte van al het nieuws over depositaire verdragen</h2>

        </div>
        <div class="column">
        <form class="form">
          <fieldset>
            <legend class="visually-hidden">Meld je aan voor de emailservice</legend>
            <div class="form__row">
              <div class="input-inputsubmit ">

  <div class="input-inputsubmit__grid">
    <label class="visually-hidden"  for="">Uw e-mailadres</label>
    <input id="" type="text" class="input " placeholder="Uw e-mailadres" />
    <button class="button button--primary"><span>Aanmelden</span></button>
  </div>
</div>

            </div>
            



  <div class="input-checkbox">
    <input class="checkbox__input"   type="checkbox" id="option-checkbox-112312312" name=""  value="Ik begrijp dat ..."
    />
    <label class="checkbox__label" for="option-checkbox-112312312">
      Ik begrijp dat ...
    </label>
  </div>




          </fieldset>
        </form>

        </div>
        </div>

      </div>

    </div>
  </div>

</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


