

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Open data van de Overheid</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Datasets</a></li>
            <li><a href="#" class="">Statistieken</a></li>
            <li><a href="#" class="">Ondersteuning</a></li>
            <li><a href="#" class="">Toepassingen</a></li>
            <li><a class="button button--primary" href="" role="button">Dataset aanmelden</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container container--centered">

  <h1 class="centered--title">Dataregister van de Nederlandse Overheid</h1>

  <div class="well well--pageblock">

    <a href="#" class="link link--forward pull-right">Bekijk statistieken</a>
    <h2>Zoek binnen de <a href="#">12483</a> beschikbare datasets</h2>

    <div class="form__element form__element--pagesearch">
  <label class="visually-hidden" for="input-search--sidebar">Zoek</label>
  <input type="text" id="input-search--sidebar" class="input" placeholder="Bijvoorbeeld: verkiezingsuitslag 2018" />
  <button class="button button--primary button--search" type="submit">Zoeken</button>
</div>


  </div>

  <ul class="list list--inline">
    <li><a href="#" class="cta">Hulp bij zoeken naar datasets</a></li>
    <li><a href="#" class="cta">Ik wil een dataset aanmelden</a></li>
  </ul>

</div>

<div class="container row transitional-size">

  <h2>Thema's</h2>

  <ul class="themelist list--unstyled">

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--governance" href="">
    <h3 class="themeblock__title">Bestuur</h3>
    <p class="themeblock__counter">1433 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--culture" href="">
    <h3 class="themeblock__title">Cultuur en recreatie</h3>
    <p class="themeblock__counter">546 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--economy" href="">
    <h3 class="themeblock__title">Economie</h3>
    <p class="themeblock__counter">1013 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--finance" href="">
    <h3 class="themeblock__title">Financiën</h3>
    <p class="themeblock__counter">133 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--housing" href="">
    <h3 class="themeblock__title">Huisvesting</h3>
    <p class="themeblock__counter">81 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--international" href="">
    <h3 class="themeblock__title">Internationaal</h3>
    <p class="themeblock__counter">63 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--agriculture" href="">
    <h3 class="themeblock__title">Landbouw</h3>
    <p class="themeblock__counter">258 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--migration" href="">
    <h3 class="themeblock__title">Migratie en integratie</h3>
    <p class="themeblock__counter">133 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--nature" href="">
    <h3 class="themeblock__title">Natuur en milieu</h3>
    <p class="themeblock__counter">2426 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--education" href="">
    <h3 class="themeblock__title">Onderwijs en wetenschap</h3>
    <p class="themeblock__counter">150 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--security" href="">
    <h3 class="themeblock__title">Openbare orde en veiligheid</h3>
    <p class="themeblock__counter">120 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--law" href="">
    <h3 class="themeblock__title">Recht</h3>
    <p class="themeblock__counter">21 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--infrastructure" href="">
    <h3 class="themeblock__title">Ruimte en infrastructuur</h3>
    <p class="themeblock__counter">622 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--social" href="">
    <h3 class="themeblock__title">Sociale zekerheid</h3>
    <p class="themeblock__counter">342 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--traffic" href="">
    <h3 class="themeblock__title">Verkeer</h3>
    <p class="themeblock__counter">840 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--jobs" href="">
    <h3 class="themeblock__title">Werk</h3>
    <p class="themeblock__counter">321 <span class="visually-hidden">sets</span></p>
  </a>
</li>

    <li class="themeblock__item">
  <a class="themeblock__link themeblock__link--healthcare" href="">
    <h3 class="themeblock__title">Zorg en gezondheid</h3>
    <p class="themeblock__counter">185 <span class="visually-hidden">sets</span></p>
  </a>
</li>


  </ul>

</div>

<div class="container row transitional-size">

  <h2>Uitgelicht</h2>

  <ul class="list--highlights">
    <li>
      <a href="#">
        <img src="../../images/temp/uitgelicht01.png" alt="referentiedatasets" />
        <h3>Nieuwe pilot met referentiedatasets</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../images/temp/uitgelicht02.png" alt="gebruikersbijeenkomst" />
        <h3>Verslag gebruikersbijeenkomst 22 juni 2018</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../images/temp/uitgelicht03.png" alt="voorbeeld datasets" />
        <h3>Bekijk hier het portfolio van geselecteerde voorbeeld datasets</h3>
      </a>
    </li>
  </ul>

</div>

<div class="container columns row transitional-size">
  <div>
    <h2>Actueel</h2>

    <div >

  <ul class="list list--relations">
      <li class="list__item"><a href="#">1e item over belangrijke zaken</a><small>Item omschrijving</small></li>
      <li class="list__item"><a href="#" rel="external">2e item over minder belangrijke zaken</a></li>
      <li class="list__item"><a href="#">3e item</a><small>Item omschrijving met iets meer context</small></li>
  </ul>
</div>
  </div>

  <div>
    <h2>Veel bezocht</h2>

    <div >

  <ul class="list list--relations">
      <li class="list__item"><a href="#">1e item over belangrijke zaken</a><small>Item omschrijving</small></li>
      <li class="list__item"><a href="#" rel="external">2e item over minder belangrijke zaken</a></li>
      <li class="list__item"><a href="#">3e item</a><small>Item omschrijving met iets meer context</small></li>
  </ul>
</div>
  </div>

</div>

<div class="container columns row transitional-size">
  <div class="well well--pageblock">
    <h2>Voor data gebruikers</h2>

    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="#">1e item</a></li>
      <li class="list__item"><a href="#">2e item</a></li>
      <li class="list__item"><a href="#">Een derde item dat een stuk langer is dan de andere en misschien wel over twee regels valt. </a></li>
      <li class="list__item"><a href="#">4e item</a></li>
  </ul>
</div>

  </div>

  <div class="well well--pageblock">
    <h2>Voor data eigenaren</h2>

    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="#">1e item</a></li>
      <li class="list__item"><a href="#">2e item</a></li>
      <li class="list__item"><a href="#">Een derde item dat een stuk langer is dan de andere en misschien wel over twee regels valt. </a></li>
      <li class="list__item"><a href="#">4e item</a></li>
  </ul>
</div>
  </div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


