

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="link-iconed link-iconed--publication">English</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container row">
  <div class="columns columns--sidebar-left">
    <div class="column">

      <h1>Aanmelden e-mailservice nieuwe notificaties</h1>

      <ol class="steps">
    <li class="steps__step " aria-pressed="false">
       1. Emailadres
    </li>
    <li class="steps__step is-active" aria-pressed="true">
       <span class="visually-hidden">Huidige stap: </span>2. Verdragen selecteren
    </li>
    <li class="steps__step " aria-pressed="false">
       3. Samenvatting
    </li>
</ol>


      <form id="formid" class="jumbotron jumbotron--highlight">
        <fieldset>
          <legend>Verdragen selecteren</legend>
          <p>
             Selecteer hier onder van welke depositaire verdragen u nog meer notificaties wilt ontvangen.
          </p>
          <fieldset class="form__row form__row--large">
            <legend class="h4">Selecteer verdragen 'Haagse Conferentie voor Internationaal Privaatrecht'</legend>
            <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "maxShow": "3" }'>
  <div class="subselection__summary "></div>
  <div id="modal-222" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Verdragen &#x27;Haagse Conferentie voor Internationaal Privaatrecht&#x27;</h2>
              <div data-decorator="init-selectall">
                <div class="input-checkbox u-margin--m">
                  <input class="checkbox__input js-checkbox-master" type="checkbox" id="8765" name="selectAll" value="Alle iets" />
                  <label class="checkbox__label" for="8765">
                    <strong>Alle <i class="js-amount-checkboxes"></i> verdragen</strong>
                  </label>
                </div>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-1" name="name"  data-value="Verdrag betreffende de erkenning en de tenuitvoerlegging van buitenlandse vonnissen in burgerlijke of handelszaken; &#x27;s-Gravenhage, 2 juli 2019"
                        value="2" />
                      <label class="checkbox__label" for="option-1">
                        Verdrag betreffende de erkenning en de tenuitvoerlegging van buitenlandse vonnissen in burgerlijke of handelszaken; &#x27;s-Gravenhage, 2 juli 2019
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-2" name="name"  data-value="Verdrag betreffende de burgerrechtelijke aspecten van internationale ontvoering van kinderen; &#x27;s-Gravenhage, 25 oktober 1980"
                        value="2" />
                      <label class="checkbox__label" for="option-2">
                        Verdrag betreffende de burgerrechtelijke aspecten van internationale ontvoering van kinderen; &#x27;s-Gravenhage, 25 oktober 1980
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-3" name="name"  data-value="Verdrag inzake de verkrijging van bewijs in het buitenland in burgerlijke en in handelszaken; &#x27;s-Gravenhage, 18 maart 1970"
                        value="2" />
                      <label class="checkbox__label" for="option-3">
                        Verdrag inzake de verkrijging van bewijs in het buitenland in burgerlijke en in handelszaken; &#x27;s-Gravenhage, 18 maart 1970
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-4" name="name"  data-value="Verdrag betreffende de burgerlijke rechtsvordering; &#x27;s-Gravenhage, 17 juli 1905"
                        value="2" />
                      <label class="checkbox__label" for="option-4">
                        Verdrag betreffende de burgerlijke rechtsvordering; &#x27;s-Gravenhage, 17 juli 1905
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-5" name="name"  data-value="Verdrag inzake de betekening en de kennisgeving in het buitenland van gerechtelijke en buitengerechtelijke stukken in burgerlijke en in handelszaken; &#x27;s-Gravenhage, 15 november 1965"
                        value="2" />
                      <label class="checkbox__label" for="option-5">
                        Verdrag inzake de betekening en de kennisgeving in het buitenland van gerechtelijke en buitengerechtelijke stukken in burgerlijke en in handelszaken; &#x27;s-Gravenhage, 15 november 1965
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-6" name="name"  data-value="Verdrag nopens de erkenning en de tenuitvoerlegging van beslissingen over onderhoudsverplichtingen jegens kinderen; &#x27;s-Gravenhage, 15 april 1958"
                        value="2" />
                      <label class="checkbox__label" for="option-6">
                        Verdrag nopens de erkenning en de tenuitvoerlegging van beslissingen over onderhoudsverplichtingen jegens kinderen; &#x27;s-Gravenhage, 15 april 1958
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-7" name="name"  data-value="Verdrag inzake de internationale inning van levensonderhoud voor kinderen en andere familieleden; &#x27;s-Gravenhage, 23 november 2007"
                        value="2" />
                      <label class="checkbox__label" for="option-7">
                        Verdrag inzake de internationale inning van levensonderhoud voor kinderen en andere familieleden; &#x27;s-Gravenhage, 23 november 2007
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-8" name="name"  data-value="Protocol inzake het recht dat van toepassing is op onderhoudsverplichtingen; &#x27;s-Gravenhage, 23 november 2007"
                        value="2" />
                      <label class="checkbox__label" for="option-8">
                        Protocol inzake het recht dat van toepassing is op onderhoudsverplichtingen; &#x27;s-Gravenhage, 23 november 2007
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-9" name="name"  data-value="Verdrag betreffende de curatele en soortgelijke maatregelen van bescherming; &#x27;s-Gravenhage, 17 juli 1905"
                        value="2" />
                      <label class="checkbox__label" for="option-9">
                        Verdrag betreffende de curatele en soortgelijke maatregelen van bescherming; &#x27;s-Gravenhage, 17 juli 1905
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-10" name="name"  data-value="Verdrag betreffende de bevoegdheid van autoriteiten, de toepasselijke wet en de erkenning van beslissingen inzake adoptie; &#x27;s-Gravenhage, 15 november 1965"
                        value="2" />
                      <label class="checkbox__label" for="option-10">
                        Verdrag betreffende de bevoegdheid van autoriteiten, de toepasselijke wet en de erkenning van beslissingen inzake adoptie; &#x27;s-Gravenhage, 15 november 1965
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-11" name="name"  data-value="Verdrag inzake de bescherming van kinderen en de samenwerking op het gebied van de interlandelijke adoptie; &#x27;s-Gravenhage, 29 mei 1993"
                        value="2" />
                      <label class="checkbox__label" for="option-11">
                        Verdrag inzake de bescherming van kinderen en de samenwerking op het gebied van de interlandelijke adoptie; &#x27;s-Gravenhage, 29 mei 1993
                      </label>
                    </div>
                  </li>
                </ul>

          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id222" data-handler="open-modal" data-modal="modal-222" class="subselection__trigger icon">Selecteer verdragen &#x27;Haagse Conferentie voor Internationaal Privaatrecht&#x27;</a>
</div>

          </fieldset>
          <fieldset class="form__row form__row--large">
            <legend class="h4">Alle overige depositaire verdragen</legend>
            <div class="subselection" data-decorator="init-form-subselection" data-config='{ "type": "span", "maxShow": "3" }'>
  <div class="subselection__summary "></div>
  <div id="modal-23" class="modal modal--fixedpane modal--off-screen modal--hidden" hidden role="alert">
    <div class="modal__inner">
      <div class="modal__content">
        <h2>Alle overige depositaire verdragen</h2>
              <div data-decorator="init-selectall">
                <div class="input-checkbox u-margin--m">
                  <input class="checkbox__input js-checkbox-master" type="checkbox" id="9876" name="selectAll" value="Alle iets" />
                  <label class="checkbox__label" for="9876">
                    <strong>Alle <i class="js-amount-checkboxes"></i> verdragen</strong>
                  </label>
                </div>

                <ul class="list--unstyled">
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-91" name="name"  data-value="Besluit tot wijziging van Bijlagen 2 en 3 en Tabel 1 bij de Overeenkomst inzake de bescherming van Afrikaans-Euraziatische trekkende watervogels; Bonn, 14 november 2015"
                        value="2" />
                      <label class="checkbox__label" for="option-91">
                        Besluit tot wijziging van Bijlagen 2 en 3 en Tabel 1 bij de Overeenkomst inzake de bescherming van Afrikaans-Euraziatische trekkende watervogels; Bonn, 14 november 2015
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-92" name="name"  data-value="Besluit tot wijziging van Bijlagen 2 en 3 en Tabel 1 bij de Overeenkomst inzake de bescherming van Afrikaans-Euraziatische trekkende watervogels; Durban, 8 december 2018"
                        value="2" />
                      <label class="checkbox__label" for="option-92">
                        Besluit tot wijziging van Bijlagen 2 en 3 en Tabel 1 bij de Overeenkomst inzake de bescherming van Afrikaans-Euraziatische trekkende watervogels; Durban, 8 december 2018
                      </label>
                    </div>
                  </li>
                  <li class=" js-filterresults__result">
                    <div class="input-checkbox">
                      <input class="checkbox__input"     type="checkbox" id="option-93" name="name"  data-value="Verdrag tussen het Koninkrijk België, het Koninkrijk der Nederlanden en het Groothertogdom Luxemburg inzake de integratie van de luchtruimbewaking tegen dreigingen die uitgaan van niet-militaire luchtvaartuigen (renegades); &#x27;s-Gravenhage, 4 maart 2015"
                        value="2" />
                      <label class="checkbox__label" for="option-93">
                        Verdrag tussen het Koninkrijk België, het Koninkrijk der Nederlanden en het Groothertogdom Luxemburg inzake de integratie van de luchtruimbewaking tegen dreigingen die uitgaan van niet-militaire luchtvaartuigen (renegades); &#x27;s-Gravenhage, 4 maart 2015
                      </label>
                    </div>
                  </li>
                </ul>

          </div>

        <div class="modal__buttonpane">
            <button type="button" data-handler="close-modal" class="button button--primary">Kiezen</button>
        </div>
        <button type="button" data-handler="close-modal" class="modal__close">Sluit modaal</button>
      </div>
    </div>
  </div>
  <a href="#" id="id23" data-handler="open-modal" data-modal="modal-23" class="subselection__trigger icon">Selecteer alle overige depositaire verdragen</a>
</div>

          </fieldset>
          <div class="columns">
            <div><button type="submit" class="button button--secondary">Vorige stap</button></div>
            <div class="align-right"><button type="submit" class="button button--primary">Volgende stap</button></div>
          </div>

        </fieldset>
      </form>


    </div>
    <div class="column column--sidebar">
      <p>
        <a href="#" class="link link--back">Terug naar het overzicht</a>
      </p>

    </div>
  </div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


