

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="link-iconed link-iconed--publication">English</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container row">
  <div class="columns columns--sidebar-left">
    <div class="column">


      <div class="hidden-desktop align-right">
        <button class="button button--primary button--icon-filter block-element" data-decorator="init-modalsidebar" data-handler="open-modalsidebar"
          data-modal="modal-filter">Pagina navigatie</button>
      </div>

      <div class="align-right">
        <ul class="pageactions">
  <li>
    <a href="#" >
    <img src="../../images/icon-download.svg" alt="" role="presentation" />
    downloaden
    </a>
  </li>
  <li>
    <a href="#" >
    <img src="../../images/icon-print.svg" alt="" role="presentation" />
    printen
    </a>
  </li>
</ul>


      </div>

      <h1 class="h1">Wijziging van bijlagen V en VII bij het Protocol van 1998 inzake persistente organische verontreinigende stoffen</h1>

      <h2>Partijen</h2>

      <table class="table__data-overview table--striped">
        <thead>
          <th>Partij <span class="tooltip " data-decorator="tooltip">
  <button aria-label="Help?" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Help?</button>
  <span role="tooltip" id="tt1" class="tooltip__content">U moet dit volledig en naar waarheid invullen</span>
</span>
</th>
          <th>Ondertekening</th>
          <th>Voorlopige toepassing</th>
          <th>Ratificatie</th>
          <th>In werking</th>
          <th>Opzegging</th>
          <th>Buiten werking</th>
        </thead>
        <tbody>
          <tr>
          <th><a href="#">Albanië</a></th>
          <td></td>
          <td></td>
          <td>04-05-2007 (T)</td>
          <td>01-08-2008</td>
          <td></td>
          <td></td>
          </tr>
          <tr>
            <th><a href="#">Andorra</a></th>
            <td></td>
            <td></td>
            <td>04-05-2007 (T)</td>
            <td>01-08-2008</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>


      <h2>Partij</h2>

      <table class="table__data-overview table--striped">
        <thead>
          <th>Partij</th>
          <th>Voorbehoud/verklaring</th>
          <th>Bezwaren</th>
        </thead>
        <tbody>
          <tr>
            <th>
              <a href="#">Belarus</a>
            </th>
            <td>Ja</td>
            <td>Nee</td>
          </tr>
          <tr>
            <th>
              <a href="#">Estland</a>
            </th>
            <td>Ja</td>
            <td>Nee</td>
          </tr>
        </tbody>
      </table>

      <p><strong>Toon details in de tabel</strong></p>
      <p>
        <div role="group" class="buttonswitch">
    <a href="#" class="buttonswitch__button is-active" aria-pressed="true">Toon details</a>
    <a href="#" class="buttonswitch__button" aria-pressed="false">Verberg details</a>
</div>

      </p>

      <h2>Belarus</h2>
      <p class="p pre-h cur">15-01-2016</p>
      <p>
         The Republic of Belarus on the basis of Article XV of the Agreement shall not apply Annex 3 to the Agreement with respect to:
      </p>
      <ul>
        <li>
           the prohibition referred to in paragraph 2.1.2(a) of Annex 3 to the Agreement on the taking of birds belonging to the populations
          listed in column B of table 1 of Annex 3 to the Agreement at various stages of reproduction and rearing and during their
          return to their breeding grounds if the taking has an unfavourable impact on the conservation status of the population concerned;
        </li>
        <li>
           the prohibition referred to in paragraph 2.1.2(b) of Annex 3 to the Agreement on the use of all indiscriminate means of
          taking out and means capable of causing mass destruction, the local disappearance, as well as causing serious anxiety to
          the birds belonging to the populations listed in column B of table 1 of Annex 3 to the Agreement;
        </li>
        <li>
           paragraph 4.1.4 of Annex 3 to the Agreement.
        </li>
      </ul>

      <div class="content-note">
        <h2 class="content-note__heading">België, 15-01-2016</h2>
         <p>In 2004 Belgium raised an objection to the accession of Albania in accordance with article 12, paragraph 2, of the Convention. Belgium has decided to withdraw this objection.</p>
      </div>


      <h2>Algemeen</h2>

      <table class="table__data-overview table--striped">
        <tbody>
          <tr>
          <th>Verdragsnummer</th>
          <td>012477</td>
          </tr>
          <tr>
          <th>Datum totstandkoming</th>
          <td>18-12-2009</td>
          </tr>
          <tr>
          <th>Plaats totstandkoming</th>
          <td>Genève</td>
          </tr>
          <tr><th>Voorlopige toestand</th>
          <td></td>
          </tr>
          <tr>
          <th>In werking</th>
          <td>13-12-2010</td>
          </tr>
          <tr>
          <th>Tractatenblad</th>
          <td class="u-nopadding">
            <div data-decorator="showmoreless" data-config='{"labelmore":"Toon alle tractaten"}'>
              <ul class="list list--underlined">
                <li>
                  <a href="http://localhost:3000">2010, 258</a>
                </li>
                <li>
                  <a href="http://www.overheid.nl">2011, 142</a>
                </li>
                <li>
                  <a href="https://zoek.officielebekendmakingen.nl/trb-1980-145.html">2011, 142</a>
                </li>
                <li>
                  <a href="http://localhost:3000">2010, 258</a>
                </li>
                <li>
                  <a href="http://www.overheid.nl">2011, 142</a>
                </li>
                <li>
                  <a href="https://zoek.officielebekendmakingen.nl/trb-1980-145.html">2011, 142</a>
                </li>
              </ul>
            </div>




          </td>
          </tr>
        </tbody>
      </table>

      <h2>Konkrijk der Nederlanden</h2>

      <table class="table__data-overview table--striped">
        <thead>
          <th>Voorlopige toepassing</th>
          <th>In werking</th>
          <th>Terugwerkende kracht</th>
          <th>Buiten werking</th>
        </thead>
        <tbody>
          <tr>
            <th>Nederland (in Europa)</th>
            <td></td>
            <td>26-03-1925</td>
            <td></td>
          </tr>
          <tr>
            <th>Nederland (Bonaire)</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Nederland (Sint Eustatius)</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Nederland (Saba)</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Aruba</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Curaçao</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Sint Maarten</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h2>Kinderverdrag(en)</h2>

      <table class="table__data-overview">
        <thead>
          <th>Titel</th>
          <th>Datum totstandkoming</th>
          <th>Plaats totstandkoming</th>
        </thead>
        <tbody>
          <tr>
            <th><a href="#">Verdrag tot vaststelling van de minimumleeftijd van toelating van kinderen tot arbeid op zee (herzien)</a></th>
            <td>24-10-1936</td>
            <td>Genève</td>
          </tr>
          <tr>
            <th><a href="#">Maritiem arbeidsverdrag, 2006</a></th>
            <td>23-02-2006</td>
            <td>Genève</td>
          </tr>

        </tbody>
      </table>

      <h2>Gewaarmerkt afschrift</h2>

       <ul class="list--sources">
		<li>
			<div class="list--source__information">
				Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente Score Gemeente 2016 Score Gemeente 2016 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016
        <span class="list--sources__item__filesize"></span>
						<span class="label label--xml">xml</span>
						<span class="label label--xls">xls</span>
			</div>

      <a href="#" class="button button--primary">download bestand <span class="visually-hidden">bestand: Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente Score Gemeente 2016 Score Gemeente 2016 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016 Score Gemeente 2016</span></a>

		</li>
		<li>
			<div class="list--source__information">
				Score wijk 2016
        <span class="list--sources__item__filesize"></span>
						<span class="label label--xml">xml</span>
			</div>

      <a href="#" class="button button--primary">download bestand <span class="visually-hidden">bestand: Score wijk 2016</span></a>

				<div class="collapsible collapsible--small" data-decorator="init-collapsible" id="c1">
				  <div class="collapsible__header">
				    <a href="#c1" aria-controls="collapsible-content-1" aria-expanded="true" data-handler="toggle-collapsible" data-text="show/hide">toon informatie</a>
				  </div>
				  <div class="collapsible__content" id="collapsible-content-1">
				  	<div>
					  	<h3>Toegankslink</h3>
					  	<div class="well well--linkContainer">https://data.overheid.nl/data/dataset/af2b6af6-7ffe-40f1-851c-0d114b5ebf2b/resource/6bb787c2-7826-499e-86e6-43cd88ee476a/download/stembureausdelfzijl.csv</div>
								<table>
										<tr>
											<th>Score wijk 2016</th>
											<td data-before="Score wijk 2016"><a href="#">Locatie stembureaus Delfzijl 2016</a></td>
										</tr>
										<tr>
											<th>Laatst gewijzigd</th>
											<td data-before="Laatst gewijzigd">9 maart 2017</td>
										</tr>
								</table>
						</div>
				  </div>
				</div>
		</li>
		<li>
			<div class="list--source__information">
				Score PC4 2016
        <span class="list--sources__item__filesize"></span>
						<span class="label label--xml">xml</span>
						<span class="label label--xls">xls</span>
			</div>

      <a href="#" class="button button--primary">download bestand <span class="visually-hidden">bestand: Score PC4 2016</span></a>

		</li>
</ul>


       <a href="#" role="button" class="to-top" data-decorator="to-top">Naar boven</a>


    </div>
    <div class="column column--sidebar">

      <div id="modal-filter" class="modal-sidebar" role="alert" data-decorator="init-sticky">

          <div class="modal-sidebar__content">
            <h3 class="u-fontw--default"><i>Verdrag</i></h3>
            <div>
              <ul class="nav-sub ">
    <li class="nav-sub__item is-active">
      <a href="" class="nav-sub__link ">Basisgegevens</a>
        <ul class="nav-sub__sub">
            <li class="nav-sub__sub-item"><a href="" class="nav-sub__sub-link ">Algemeen</a>
            </li>
            <li class="nav-sub__sub-item"><a href="" class="nav-sub__sub-link is-active">Koninkrijk</a>
            </li>
            <li class="nav-sub__sub-item"><a href="" class="nav-sub__sub-link ">Partijen</a>
            </li>
            <li class="nav-sub__sub-item"><a href="" class="nav-sub__sub-link ">Uitbreidingen</a>
            </li>
        </ul>
    </li>
    <li class="nav-sub__item ">
      <a href="" class="nav-sub__link ">Voorbehouden, verklaringen en bezwaren</a>
    </li>
    <li class="nav-sub__item ">
      <a href="" class="nav-sub__link ">Wijzigingen</a>
    </li>
</ul>

            </div>

            <h3 class="u-fontw--default"><i>Depositair</i></h3>
            <div>
              <ul class="nav-sub ">
    <li class="nav-sub__item ">
      <a href="" class="nav-sub__link ">Depositaire mededelingen</a>
    </li>
    <li class="nav-sub__item ">
      <a href="" class="nav-sub__link ">Notificaties</a>
    </li>
</ul>

            </div>

            <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
              <span class="visually-hidden">Sluiten</span>
            </button>



      </div>

    </div>
  </div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


