

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container row row--heading">
  <h1>Geavanceerd zoeken</h1>
</div>

<form action="">
  <div class="container columns row">
    <div>
      <h2>Zoek op locatie</h2>
      <p>Typ de postode waarvoor u bekendmakingen wilt vinden.</p>
      

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Postcode</label>


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text input--postalcode input--small "
    placeholder="Bijv: 2282LL"
    
    aria-invalid="false"
    placeholder="Bijv: 2282LL"
    
    

/>




        <div class="input-radio">
    <input class="radio__input" checked  type="radio"  id="option-straal-1" name="subject" />
    <label class="radio__label" for="option-straal-1">
      -geen-
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-straal-2" name="subject" />
    <label class="radio__label" for="option-straal-2">
      250 meter
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-straal-3" name="subject" />
    <label class="radio__label" for="option-straal-3">
      500 meter
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-straal-4" name="" />
    <label class="radio__label" for="option-straal-4">
      1000 meter
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-straal-5" name="" />
    <label class="radio__label" for="option-straal-5">
      1500 meter
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-straal-6" name="" />
    <label class="radio__label" for="option-straal-6">
      3000 meter
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-straal-7" name="" />
    <label class="radio__label" for="option-straal-7">
      Hele gemeente
    </label>
  </div>

      <h2>Organisaties</h2>
      <div class="form__element">
  <div class="form__element__label">
    <label id="labelId"></label>
  </div>
  <div class="form__element__label">
    <select aria-describedby="labelid" class="multipleSelect" multiple name="" data-decorator="init-multiselect" data-decorator-placeholder="" data-multiselect-helptext="">
    </select>
  </div>
</div>

      <div class="form__element">
  <div class="form__element__label">
    <label id="labelId"></label>
  </div>
  <div class="form__element__label">
    <select aria-describedby="labelid" class="multipleSelect" multiple name="" data-decorator="init-multiselect" data-decorator-placeholder="" data-multiselect-helptext="">
    </select>
  </div>
</div>

      <div class="form__element">
  <div class="form__element__label">
    <label id="labelId"></label>
  </div>
  <div class="form__element__label">
    <select aria-describedby="labelid" class="multipleSelect" multiple name="" data-decorator="init-multiselect" data-decorator-placeholder="" data-multiselect-helptext="">
    </select>
  </div>
</div>

      <div class="form__element">
  <div class="form__element__label">
    <label id="labelId"></label>
  </div>
  <div class="form__element__label">
    <select aria-describedby="labelid" class="multipleSelect" multiple name="" data-decorator="init-multiselect" data-decorator-placeholder="" data-multiselect-helptext="">
    </select>
  </div>
</div>

    </div>
    <div>
      <h2>Zoek op woord of zinsdeel</h2>
      <p>Typ een of meer woorden die exact zo moeten voorkomen in de tekst.</p>
      <h3>Zoek op onderwerp</h3>
      

  <label class="visually-hidden"for="input-text-search-subject" class="form__label form__label--">In tekst</label>


  <input
    type="text"
    id="input-text-search-subject"
    name="search-subject"
    class="input input-text  "
    placeholder=""
    
    aria-invalid="false"
    placeholder=""
    
    

/>




      <h3>Selecteer onderwerpen</h3>
      <div class="form__element">
  <div class="form__element__label">
    <label id="labelId"></label>
  </div>
  <div class="form__element__label">
    <select aria-describedby="labelid" class="multipleSelect" multiple name="" data-decorator="init-multiselect" data-decorator-placeholder="" data-multiselect-helptext="">
    </select>
  </div>
</div>

      <h2>Zoek op datum</h2>
      <p>Kies de periode waarbinnen de bekendmakingen zijn gepubliceerd.</p>
        <div class="input-radio">
    <input class="radio__input" checked  type="radio"  id="option-time-1" name="subject" />
    <label class="radio__label" for="option-time-1">
      -geen-
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-time-2" name="subject" />
    <label class="radio__label" for="option-time-2">
      Afgelopen week
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-time-3" name="subject" />
    <label class="radio__label" for="option-time-3">
      Afgelopen maand
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-time-4" name="" />
    <label class="radio__label" for="option-time-4">
      Afgelopen twee maanden
    </label>
  </div>
  <div class="input-radio">
    <input class="radio__input"   type="radio"  id="option-time-5" name="" />
    <label class="radio__label" for="option-time-5">
      Afgelopen jaar
    </label>
  </div>


      <div class="daterange">
        

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Van</label>


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text input--small "
    placeholder="MM-DD-JJJJ"
    
    aria-invalid="false"
    placeholder="MM-DD-JJJJ"
    
    

/>




        

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Tot</label>


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text input--small "
    placeholder="MM-DD-JJJJ"
    
    aria-invalid="false"
    placeholder="MM-DD-JJJJ"
    
    

/>




      </div>
    </div>
  </div>
  <div class="container row">
    <input type="submit" class="button button--primary" value="Zoeken" >
  </div>
</form>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


