

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href="https://www.overheid.nl"><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>De wegwijzer naar informatie en diensten van alle overheden</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="">MijnOverheid.nl</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>


<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p></p>
  <ol>
    <li><a href=#>Home</a></li>
    <li><a href=#>Overheidsinformatie</a></li>
    <li><a href=#>Internetconsultatie</a></li>
    <li>NFP wijzigingspakket 2018-1</li>
  </ol>
</div>
  </div>
</div>

<div class="container columns columns--sidebar-left row">
  <div>
    <h1>Wijziging van de Wet op de ondernemingsraden i.v.m. regeling van topbeloningen</h1>
    <p>
      Wijziging van de Wet op de ondernemingsraden in verband met de bevoegdheden van de ondernemingsraad inzake de
      beloningen van bestuurders.
    </p>

    <h2>Consultatie gegevens</h2>

    <table class="table__data-overview">

      <tbody>

        <tr>
          <th>Publicatiedatum</th>
          <td>26-07-2018</td>
        </tr>
        <tr>
          <th>Einddatum consultatie</th>
          <td>07-09-2018</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>Actief</td>
        </tr>
        <tr>
          <th>Type consultatie</th>
          <td>AMvBO</td>
        </tr>
        <tr>
          <th>Type consultatie</th>
          <td>AMvBO</td>
        </tr>
        <tr>
          <th>Type consultatie</th>
          <td>AMvB</td>
        </tr>
        <tr>
          <th>Organisatie</th>
          <td>Ministerie van Ministerie van Economische Zaken en Klimaat</td>
        </tr>
        <tr>
          <th>Onderwerpen</th>
          <td><a href="#">ICT</a></td>
        </tr>

      </tbody>
    </table>

    <p>
      <a href="#" class="button button--primary" role="button">Geef uw reactie op deze consultatie</a>
    </p>

    <h2>Publicatie reacties</h2>
    <p>Reacties worden gepubliceerd tijdens de loop van de consultatie. Alleen die reacties worden gepubliceerd waarvan
      is aangeven, door de inzender, dat deze openbaar mogen zijn.</p>

    <h2>Doelgroepen die door de regeling worden geraakt</h2>
    <p>
      Doelgroepen van het Nationaal Frequentieplan zijn partijen met spectrumgebruiksrechten (vergunningen) en voor wie
      het NFP
      gebruiksrechten vastlegt zoals: Aanbieders van mobiele communicatie, omroepaanbieders,
      satellietcommunicatieaanbieders, exploitanten
      van straalverbindingen, overheidspartijen die frequenties gebruiken voor publieke taken, spectrumgebruikers in de
      lucht-
      en scheepvaart, bedrijven met netwerken voor eigen bedrijfstoepassingen, radiozendamateurs, fabrikanten van
      apparatuur die
      gebruik maakt van het spectrum (met of zonder vergunning).
    </p>

    <h2>Verwachte effecten van de regeling voor de doelgroepen</h2>
    <p>
      Dit wijzigingspakket bevat de volgende onderdelen: In de 5 MHz-band wordt de bandbreedte van de bestemming voor
      radioamateurs
      aangepast. In banden tussen 156 MHz en 162 MHz wordt als nieuwe bestemming Bijzonder gebruik maritieme
      frequenties toegevoegd.
      In de 700 MHz-band wordt per 1 januari 2020 mobiele communicatie als bestemming toegevoegd, en wordt bestemming
      omroep beëindigd.
      In de band 1875-1880 MHz wordt een bestemming voor vergunningvrije installaties ter zee toegevoegd. In de band
      van 27,5 tot
      30 GHz worden niet gecoördineerde satellietgrondstations aan de bestemming toegevoegd. In annex 4 worden een
      aantal nieuwe
      begrippen gedefinieerd.
    </p>

    <h2>Waarop kunt u reageren</h2>
    <p>
      Er kan op alle onderdelen worden gereageerd.
    </p>
    <p>En algemeen:</p>
    <ul>
      <li>
        Indien deze NFP-wijzigingen met toelichting uw instemming hebben en positief voor zijn, kan ook dat voor het
        ministerie informatief zijn om als reactie van u op het ontwerpbesluit te ontvangen.
      </li>
      <li>
        Indien uw reactie vertrouwelijke onderdelen bevat, kunt u er ook voor kiezen om uw reactie te splitsen in twee,
        waarbij
        uw ene reactie openbaar is, en de andere uw vertrouwelijke opmerkingen bevat.
      </li>
    </ul>

    <h2>Downloads</h2>
    <div class="result--list ">
  <ul>
    <li>




        <a href="#" class="result--title">Concept regeling</a>


       <p>Ontwerpbesluit NFP wijziging pakket 2018-1</p>





          <ul class="result--actions">
              <li><a href="#" class="icon icon--download"><span>Download de</span>  142kb</a></li>
          </ul>


    </li>
    <li>




        <a href="#" class="result--title">Concept regeling</a>


       <p>Ontwerpbesluit NFP wijziging pakket 2018-1</p>





          <ul class="result--actions">
              <li><a href="#" class="icon icon--download"><span>Download de</span>  142kb</a></li>
          </ul>


    </li>
  </ul>
</div>


    <h2>Exerne bronnen</h2>
    <p>
      Nationale FrequentiePlan 2014
    </p>
    <p>
      <a href="#" rel="external">Bron: wetten.overheid.nl</a>
    </p>



  </div>


  <div>
    <div class="well">
      <form>
        <fieldset class="form__element">
          <legend class="form--intro">Zoeken</legend>
          <div class="">
            <label for="emailadres" class="visually-hidden">Zoeken op</label>
            <input type="text" id="emailadres" placeholder="Zoekterm voor wet, amvb">
          </div>
        </fieldset>
        <button type="submit" class="button button--primary">Zoeken</button>
      </form>
      <a href="#" class="link link--forward">Zoek uitgebreid</a>
    </div>
    <p>
      <a href="#" class="link link--back">Startpagina</a>
    </p>

    <ul class="list list--linked">
      <li><a href="#"><strong>Consultatie gegevens</strong></a></li>
      <li><a href="#">Reacties op consultatie (0)</a></li>
    </ul>

    <div >
  <h4 class="facet--heading">Acties</h4>

  <ul class="list list--facet">
      <li class="list__item"><a href="#">Reageren op consultatie</a></li>
      <li class="list__item"><a href="#">Notificaties per email</a></li>
      <li class="list__item"><a href="#">Doorsturen</a></li>
      <li class="list__item"><a href="#">PDF-document openen</a></li>
      <li class="list__item"><a href="#">Afdrukken</a></li>
  </ul>
</div>

    <div >
  <h4 class="facet--heading">Delen regeling</h4>

  <ul class="list list--facet">
      <li class="list__item"><a href="#">Twitter</a></li>
      <li class="list__item"><a href="#">Facebook</a></li>
      <li class="list__item"><a href="#">LinkedIn</a></li>
      <li class="list__item"><a href="#">Google+</a></li>
      <li class="list__item"><a href="#">Tumblr</a></li>
  </ul>
</div>


  </div>

</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <ul class="list list--linked">

      <li><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li><a href="https://beta.overheid.nl/help">Help</a></li>
      <li><A href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>

    </ul>

    <ul class="list list--linked">
      <li><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li><a href="/privacy-statement">Privacy en cookies</a></li>
      <li><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li><a href="/sitemap">Sitemap</a></li>
    </ul>

     <ul class="list list--linked">
        <li><a href="https://data.overheid.nl">Open data</a></li>
        <li><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
        <li><a href="https://puc.overheid.nl">PUC Open Data</a></li>
    </ul>

    <ul class="list list--linked">
      <li><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
    </ul>

  </div>
</div>

