

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="link-iconed link-iconed--publication">English</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="container row">
  <div class="row">

<div class="jumbotron">
  <div class="jumbotron__content">
    <div class="jumbotron__heading ">
      <p class="jumbotron__subheader">Overheidsdocumenten</p>
      <h1 class="jumbotron__header ">Wat is actief openbaar?</h1>
    </div>
          <p>
            De
            <a href="#">Wet open overheid (Woo)</a> schrijft voor dat alle Nederlandse bestuursinstanties een aantal categorieën documenten actief
            openbaar moeten maken. Daarnaast geldt een inspanningsverplichting voor het openbaar maken van andere documenten indien
            hiermee een publiek belang wordt gediend en dit zonder onevenredige inspanning of kosten mogelijk is.
          </p>
          <p>
            Uitzondering geldt onder andere voor documenten waarvan openbaarmaking de veiligheid kan schaden of in strijd is met privacyrichtlijnen.
          </p>
  </div>
</div>

  </div>


  <div class="row">

<div class="jumbotron jumbotron--transparent">
  <div class="jumbotron__content">
    <div class="jumbotron__heading ">
      
      <h1 class="jumbotron__header h2">Welke overheidsdocumenten zijn actief openbaar?</h1>
    </div>
          <p>
            Op overheid.nl/overheidsdocumenten kunt u in principe alle documenten vinden die volgens de Wet open overheid actief openbaar
            moeten worden gemaakt. De documenten kunnen op verschillende internetsites van overheidsorganisaties beschikbaar zijn gemaakt.
            Deze centrale zoekfunctie maakt ze altijd vindbaar.
          </p>
          <p>
            Hieronder wordt aangegeven welke documenten actief openbaar worden gemaakt. Voor zover daar een specifieke internetsite voor
            is gerealiseerd, wordt daarnaar telkens een directe link geboden. Wanneer u specifiek die informatie zoekt, kunt u daar
            gebruik van maken.
          </p>
          <h3>Alle landelijke wet- en regelgeving</h3>
          <p>
              Dit betreft zowel de <a href="#">officiële bekendmakingen</a> van nieuwe wet- en regelgeving en wijzigingen daarvan als de <a href="#">samengestelde
            geldende teksten</a>.
          </p>
          <p>
              <strong>Ontwerpen van wet- en regelgeving</strong> voor zover daarover een extern advies is gevraagd, zijn terug te vinden op de <a href="#">wetgevingskalender</a>
          </p>
          <h3>Alle lokale regelgeving</h3>
          <p>
              Ook hiervan zijn zowel de <a href="#">officiële bekendmakingen</a> als de samengestelde teksten openbaar.
          </p>
          <p>
              <strong>Contactgegevens van de overheidsorganisaties</strong> staan vermeld in de <a href="#">almanak van de overheid</a>. Daarbij worden ook links naar
            de websites van de overheid vermeld, waar in <strong>meer informatie over de inrichting, taken en bevoegdheden</strong> terug is te vinden.
          </p>
          <p>
              Openbaar zijn alle <a href="#">Parlementaire documenten</a> van de Tweede en Eerste Kamer inclusief agenda’s en besluiten (stemmingen).
            De <strong>verslagen</strong> van de vergaderingen vindt u daar terug onder <strong>"Handelingen"</strong>.
          </p>
          <p>
              De agenda's, verslagen en ingekomen stukken en besluitenlijsten van <strong>provinciale staten</strong>, <strong>gemeenteraden</strong> en algemene besturen
            van <strong>waterschappen</strong> kunt u terugvinden als <a href="#">open raadsinformatie</a> voor die organisaties die daaraan deelnemen, of op de websites
            van de afzonderlijke provincies, gemeenten, of waterschappen. (Zie voor de adressen daarvan de hiervoor genoemde almanak
            van de overheid.)
          </p>
          <p>
            <strong>Jaarplannen en jaarverslagen</strong> van de <strong>Rijksoverheid</strong> worden bij de <a href="#">begrotingsinformatie</a> overzichtelijk aangeboden per begrotingsjaar.
          </p>
          <p>
              <strong>Adviezen van adviescolleges of -commissies</strong> zijn terug te vinden op hun websites.
          </p>
          <p>
              <strong>Convenanten en beleidsovereenkomsten</strong> worden gepubliceerd op <a href="#">rijksoverheid.nl</a>.
          </p>
          <p>
              <strong>Subsidiebeschikkingen en vergunningsbeschikkingen</strong> worden vanaf <i>[datum iwtr nieuwe bekendmakingswet]</i> gepubliceerd als <a href="#">officiële
            bekendmaking</a>
          </p>
          <p>
              Voor <strong>onderzoeksrapporten</strong> is geen specifieke website beschikbaar. Deze kunt u het snelst vinden via <a href="#">overheid.nl/overheidsdocumenten</a>.
          </p>
  </div>
</div>

  </div>







</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


