

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="templates-wp-homepage" class="">Home</a></li>
            <li><a href="#" class="">Wettenpockets aanmaken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>


<main role="main">
  <div class="container columns columns--sidebar-left row">
    <div>
      <h1>Bundel Raad Berg en Dal</h1>
      <div class="well">
        <dl class="dl columns--data">
      <div>
        <dt>Onderwerp</dt>
        <dd>Staats- en bestuursrecht</dd>
      </div>
      <div>
        <dt>Publicist</dt>
        <dd>Berg en Dal</dd>
      </div>
      <div>
        <dt>Auteur</dt>
        <dd>Berg en Dal</dd>
      </div>
      <div>
        <dt>Publicatiedatum</dt>
        <dd>11-7-2018</dd>
      </div>
      <div>
        <dt>Downloads</dt>
        <dd>92</dd>
      </div>

</dl>

          <a class="button button--primary" href="#" role="button" >Download ePub</a>

      </div>

      <p>Deze bundel is bedoeld voor raadsleden, griffie alsmede overige functionarissen die direct betrokken zijn bij (besluitvorming door) de raad.</p>
      <p>In de bundel kunnen worden opgenomen relevante wetten, decentrale regelgeving (verordeningen) alsmede andere documenten zoals beleidstukken en hyperlinks.</p>
      <p>Dit op aangeven van de Griffier.</p>

      <h2>Wet- en regelgeving</h2>
      <table class="table table--striped table--condensed" >
<thead>
  <tr>
    <th scope="col" class=""></th>
    <th scope="col" class="">Titel</th>
    <th scope="col" class="">Annotaties</th>
  </tr>
   
</thead>
<tbody>


  <tr>
       <td data-before="">Wet</td>
             <td data-before="Titel">Gemeentewet<br>Versie geldend vanaf: 01-02-2016</td>
             <td data-before="Annotaties"></td>
        </tr>
</tbody>
</table>



      <h2>Decentrale regelingen</h2>
      <table class="table table--striped table--condensed" >
<thead>
  <tr>
    <th scope="col" class="">Uitgever</th>
    <th scope="col" class="">Titel</th>
    <th scope="col" class="">Annotaties</th>
  </tr>
   
</thead>
<tbody>


  <tr>
       <td data-before="Uitgever">Berg en Dal</td>
             <td data-before="Titel">Instructie voor de griffier van de gemeente Groesbeek 2015</td>
             <td data-before="Annotaties"></td>
        </tr>
  <tr>
       <td data-before="Uitgever">Berg en Dal</td>
             <td data-before="Titel">Regelement van Orde voor de vergaderingen van de gemeenteraad van Groesbeek</td>
             <td data-before="Annotaties"></td>
        </tr>
  <tr>
       <td data-before="Uitgever">Berg en Dal</td>
             <td data-before="Titel">Verordening burgerinitiatief 2011</td>
             <td data-before="Annotaties"></td>
        </tr>
  <tr>
       <td data-before="Uitgever">Berg en Dal</td>
             <td data-before="Titel">Verordening op de Auditcommissie Groesbeek 2015</td>
             <td data-before="Annotaties"></td>
        </tr>
  <tr>
       <td data-before="Uitgever">Berg en Dal</td>
             <td data-before="Titel">Verordening op de uitgangspunten voor het financieel beleid, alsmede voor het financieel beheer en voor de inrichting van de financiële organisatie van de Modulaire Gemeenschappelijke Regeling Rijk van Nijmegen.</td>
             <td data-before="Annotaties"></td>
        </tr>
</tbody>
</table>



      <h2>Documenten</h2>
      <table class="table table--striped table--condensed" >
<thead>
  <tr>
    <th scope="col" class="">Titel</th>
    <th scope="col" class="">Type</th>
    <th scope="col" class="">Grootte</th>
  </tr>
   
</thead>
<tbody>


  <tr>
       <td data-before="Titel">Beslissingsmatrix voor elk raadsvoorstel</td>
             <td data-before="Type">pdf</td>
             <td data-before="Grootte">282Kb</td>
        </tr>
  <tr>
       <td data-before="Titel">Voortschrijdend document werkwijzen presidium en raad</td>
             <td data-before="Type">pdf</td>
             <td data-before="Grootte">296Kb</td>
        </tr>
  <tr>
       <td data-before="Titel">Principes hoe raad, college en organisatie in de praktijk te werk gaan.</td>
             <td data-before="Type">pdf</td>
             <td data-before="Grootte">582Kb</td>
        </tr>
</tbody>
</table>



      <h2>Links</h2>
      <p><a href="https://nu.nl">Informatiesite Wettenpocket</a></p>
    </div>


    <div>
      <h3>Subnavigatie</h3>
      <nav class="secundairy-navigation">
        <div >

  <ul class="list list--linked list--unstyled">
      <li class="list__item"></li>
      <li class="list__item"></li>
      <li class="list__item"></li>
      <li class="list__item"></li>
  </ul>
</div>
      </nav>
      <h3>Wettenpocket</h3>
      <nav class="secundairy-navigation">
        <div >

  <ul class="list list--linked list--unstyled">
      <li class="list__item"></li>
      <li class="list__item"></li>
  </ul>
</div>
      </nav>
    </div>

  </div><!-- /container -->
</main>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


