

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>
<div class="container columns columns--sidebar-left row">
  <div>
    <h1>Zoekresultaten</h1>
    <div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>

    <div class="sort ">
  <div class="columns">
    <div class="column">
      Sorteer op:
      <ul class="sort__options">
          <li>
            <a href="#" class="sort--ascending is-active" aria-pressed="true"><span class="visually-hidden">Sorteer op: </span>Datum</a>
          </li>
          <li>
            <a href="#" class="sort--ascending " aria-pressed="false"><span class="visually-hidden">Sorteer op: </span>Titel</a>
          </li>
      </ul>
    </div>
  </div>
</div>

    <div class="result--list ">
  <ul>
    <li>




        <h2 class="result--title ">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</h2>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>



          <ul class="list--metadata">
              <li>wetten</li>
              <li>regelgeving</li>
              <li>beleid</li>
          </ul>




    </li>
    <li>




        <a href="#" class="result--title">Afdeling 1.2.3. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</a>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>



          <ul class="list--metadata">
              <li>wetten</li>
              <li>regelgeving</li>
              <li>beleid</li>
          </ul>




    </li>
  </ul>
</div>

    <div class="result--list ">
  <ul>
    <li>




        <h2 class="result--title ">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</h2>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>



          <ul class="list--metadata">
              <li>wetten</li>
              <li>regelgeving</li>
              <li>beleid</li>
          </ul>




    </li>
    <li>




        <a href="#" class="result--title">Afdeling 1.2.3. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</a>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>



          <ul class="list--metadata">
              <li>wetten</li>
              <li>regelgeving</li>
              <li>beleid</li>
          </ul>




    </li>
  </ul>
</div>

    <div class="result--list ">
  <ul>
    <li>




        <h2 class="result--title ">Afdeling 1.2.1. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</h2>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>



          <ul class="list--metadata">
              <li>wetten</li>
              <li>regelgeving</li>
              <li>beleid</li>
          </ul>




    </li>
    <li>




        <a href="#" class="result--title">Afdeling 1.2.3. Algemene bepaling voor het sluiten van schriftelijke overeenkomsten onder bezwarende titel voor het verrichten van werken, leveringen of dienstent</a>


       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, obcaecati! Aperiam quasi debitis exercitationem ducimus! Eligendi, iusto, ut! Tempore ab sit eveniet fugit officia minus incidunt atque facilis saepe at!</p>



          <ul class="list--metadata">
              <li>wetten</li>
              <li>regelgeving</li>
              <li>beleid</li>
          </ul>




    </li>
  </ul>
</div>

    <div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>

  </div>
  <div>
    <h2>Verfijnen</h2><div class="question-explanation">

  <a href="#question-explanation-1" class="question-explanation__link" id="question-explanation-link-1" data-handler="toggle-explanation">Voornaam</a>
  <div class="question-explanation__content" id="question-explanation-1" data-decorator="hide-self">
    <p>U moet dit <a href="#">formulier</a> volledig en naar waarheid invullen.</p>
    <a href="#question-explanation-link-1" class="question-explanation__close" data-handler="close-explanation">
      Sluiten
    </a>
  </div>

</div>

    <div class="form__element form__element--search">
  <label class="visually-hidden" for="input-search--sidebar">Verfijn uw zoekterm</label>
  <input type="text" id="input-search--sidebar" class="input" placeholder="Zoekterm" />
  <button class="button button--primary" type="submit">Zoek</button>
</div>


    <div >
  <h4 class="facet--heading">Soort organisatie</h4>

  <ul class="list list--facet">
      <li class="list__item"><a href="#"><span>AMvB</span> <span>(107)</span></a></li>
      <li class="list__item"><a href="#" class="is-active"><span>AMvB-BES</span> <span>(3)</span></a></li>
      <li class="list__item"><a href="#"><span>Ministeriele Regeling Archiefstukken</span> <span>(1)</span></a></li>
      <li class="list__item"><a href="#"><span>Rijkswet</span> <span>(817)</span></a></li>
      <li class="list__item"><a href="#"><span>Verdrag</span> <span>(12)</span></a></li>
      <li class="list__item"><a href="#"><span>Wet</span> <span>(3)</span></a></li>
      <li class="list__item"><a href="#"><span>zbo</span> <span>(19)</span></a></li>
      <li class="list__item"><a href="#"><span>Wet-BES</span> <span>(104)</span></a></li>
  </ul>
</div>
    <div >
  <h4 class="facet--heading">Classificatie</h4>

  <ul class="list list--facet">
      <li class="list__item"><a href="#"><span>AMvB</span> <span>(107)</span></a></li>
      <li class="list__item"><a href="#" class="is-active"><span>AMvB-BES</span> <span>(3)</span></a></li>
      <li class="list__item"><a href="#"><span>Ministeriele Regeling Archiefstukken</span> <span>(1)</span></a></li>
      <li class="list__item"><a href="#"><span>Rijkswet</span> <span>(817)</span></a></li>
      <li class="list__item"><a href="#"><span>Verdrag</span> <span>(12)</span></a></li>
      <li class="list__item"><a href="#"><span>Wet</span> <span>(3)</span></a></li>
      <li class="list__item"><a href="#"><span>zbo</span> <span>(19)</span></a></li>
      <li class="list__item"><a href="#"><span>Wet-BES</span> <span>(104)</span></a></li>
  </ul>
</div>

  </div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


