

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Eenvoudig zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
            <li><a href="#" class="">zoeken in EU-richtlijnen</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>
<div class="container row">

  <h1>Aanbestedingswet 2012</h1>
  <p>Geldend van 01-07-2016 t/m heden</p>

  <div class="tabs" data-decorator="init-tabs">
    <ul class="tabs__list">
      <li role="presentation"><a href="#panel-1" data-handler="open-panel" role="tab" id="tab-1" aria-controls="panel-1">Algemeen</a></li>
      <li role="presentation"><a href="#panel-2" data-handler="open-panel" role="tab" id="tab-2" aria-controls="panel-2">Wijzigingenoverzicht</a></li>
    </ul>

    <div class="tabs__panels">
      <div id="panel-1" role="tabpanel" aria-labelledby="tab-1">
        <div class="columns columns--sidebar-left">
          <div>
            <h2>Wetstechnische informatie</h2>

            <table class="table--condensed">
              <tr>
                <th>Eerstverantwoordelijke</th>
                <td data-before="Eerstverantwoordelijke">Economische Zaken</td>
              </tr>
              <tr>
                <th>Afkorting</th>
                <td data-before="afkorting">Geen</td>
              </tr>
              <tr>
                <th>Niet officiële titel</th>
                <td data-before="niet officiële titel">Geen</td>
              </tr>
              <tr>
                <th>Citeertitel</th>
                <td data-before="Citeertitel">De citeertitel is in de regeling vastgesteld.</td>
              </tr>
              <tr>
                <th>Soort regeling</th>
                <td data-before="Soort regeling">Wet</td>
              </tr>
              <tr>
                <th>Identificatienummer</th>
                <td data-before="Identificatienummer">BWBR0032203</td>
              </tr>
              <tr>
                <th>Rechtsgebied</th>
                <td data-before="Rechtsgebied">Contracten, schade en aansprakelijkheid | Verbintenissenrecht</td>
              </tr>
              <tr>
                <th>Overheidsthema</th>
                <td data-before="Overheidsthema">Economie en ondernemen</td>
              </tr>
            </table>

            <h2>Grondslagen voor deze regeling</h2>
            <p>Geen</p>

            <h2>Wetsfamilie</h2>
            <ul class="list--linked">
              <li><a href="#">Aanbestedingswet</a></li>
            </ul>

            <h2>Regelgeving die op deze regeling is gebaseerd (gedelegeerde regelgeving)</h2>

            <ol>
              <li><a class="openresult" href="/jci1.3:c:BWBR0032919&amp;g=2017-12-01&amp;z=2017-12-01">Aanbestedingsbesluit</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0033227&amp;g=2017-12-01&amp;z=2017-12-01">Besluit aanwijzing toezichthouders ACM</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0033517&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimhouding aanbestedingen beveiligingsinstallaties museale instellingen 2013</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0033996&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimhouding aanbestedingen m.b.t. beveiligingsinstallaties landelijke publieke omroep</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0035376&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimverklaring diensten, leveringen en werken (ontwerp, bouw, inrichting en onderhoud woon- en werkverblijven leden Koninklijk Huis)</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0039982&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimverklaring opdracht voor operatie en onderhoud nieuwe regeringsvliegtuig</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0038693&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimverklaring opdrachten diensten, leveringen en werken ten behoeve van renovatie Binnenhofcomplex en tijdelijke huisvesting gebruikers Binnenhofcomplex</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0033325&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimverklaring overheidsopdracht tot beheer, onderhoud en ondersteuning van aanvraagstations</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0037158&amp;g=2017-12-01&amp;z=2017-12-01">Besluit geheimverklaring overheidsopdracht tot beheer, onderhoud en ondersteuning van aanvraagstations en Reisdocumenten Aanvraag- en Archiefstations</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0033800&amp;g=2017-12-01&amp;z=2017-12-01">Besluit tot geheimhouding aanbesteding vervanging Closed-circuit television/Videomatrix van Unit 5 van de Extra Beveiligde Inrichting in Vught</a></li>
              <li><a class="openresult" href="/jci1.3:c:BWBR0040134&amp;g=2017-12-01&amp;z=2017-12-01">Besluit tot geheimverklaring opdracht in het kader van dronedetectie- en verstoringssysteem voor Dienst Justitiële Inrichtingen</a></li>
            </ol>

            <h3>Artikelen of vergelijkbare tekst die verwijzen naar deze regeling</h3>

            <ol>
              <li><a href="/1.3:c:BWBR0005730&amp;g=2017-11-17&amp;z=2018-01-16">Aanwijzingen voor de regelgeving</a>
                <br>
                Artikelen:
                <a href="/jci1.3:c:BWBR0005730&amp;aanwijzing=21&amp;g=2017-11-17&amp;z=2018-01-16">21</a>,
                <a href="/jci1.3:c:BWBR0005730&amp;aanwijzing=23&amp;g=2017-11-17&amp;z=2018-01-16">23</a>,
                <a href="/jci1.3:c:BWBR0005730&amp;aanwijzing=24&amp;g=2017-11-17&amp;z=2018-01-16">24</a>,
                <a href="/jci1.3:c:BWBR0005730&amp;aanwijzing=28&amp;g=2017-11-17&amp;z=2018-01-16">28</a>,
                <a href="/jci1.3:c:BWBR0005730&amp;aanwijzing=70&amp;g=2017-11-17&amp;z=2018-01-16">70</a>,
                <a href="/jci1.3:c:BWBR0005730&amp;aanwijzing=77&amp;g=2017-11-17&amp;z=2018-01-16">77</a>,
                <a href="/jci1.3:c:BWBR0005730&amp;aanwijzing=93&amp;g=2017-11-17&amp;z=2018-01-16">93</a>,
                <a href="/jci1.3:c:BWBR0005730&amp;aanwijzing=119&amp;g=2017-11-17&amp;z=2018-01-16">119</a>
              </li>
              <li>
                <a href="/1.3:c:BWBR0002093&amp;g=2017-11-17&amp;z=2018-01-16">Advocatenwet</a>
                <br>
                Artikel:
                <a href="/jci1.3:c:BWBR0002093&amp;artikel=3&amp;g=2017-11-17&amp;z=2018-01-16">3</a>
              </li>
              <li>
                <a href="/1.3:c:BWBR0001950&amp;g=2017-11-17&amp;z=2018-01-16">Algemeen Rijksambtenarenreglement</a>
                <br>Artikel:
                <a href="/jci1.3:c:BWBR0001950&amp;artikel=2&amp;g=2017-11-17&amp;z=2018-01-16">2</a>
              </li>
              <li>
                <a href="/1.3:c:BWBR0036237&amp;g=2017-11-17&amp;z=2018-01-16">Besluit vaststelling selectielijst neerslag handelingen Nationale- en Kinderombudsman</a>
                <br>
                Bijlage:
                <a href="/jci1.3:c:BWBR0036237&amp;g=2017-11-17&amp;z=2018-01-16">Selectielijst voor de neerslag van het handelen (primaire taken en institutionele aangelegenheden) van de actoren Nationale- en Kinderombudsman (Nationale ombudsman vanaf 1998, Kinderombuds-man vanaf 2011</a>
              </li>
            </ol>
          </div>
          <div>
            <ul class="list list--linked">
              <li><a href="#">Wetstechnische informatie</a></li>
              <li><a href="#">Grondslagen voor deze regeling</a></li>
              <li><a href="#">Wetsfamilie</a></li>
              <li><a href="#">Regelgeving die op deze regeling is gebaseerd (gedelegeerde regelgeving)</a></li>
              <li><a href="#">Beleidsregels en circulaires die betrekking hebben op deze regeling</a></li>
              <li><a href="#">Artikelen of vergelijkbare tekst die verwijzen naar deze regeling</a></li>
              <li><a href="#">Overzicht van wijzigingen voor de regeling</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="panel-2" role="tabpanel" aria-labelledby="tab-2">
        <h2>Overzicht van wijzigingen voor de regeling</h2>
        <p>Informatie geldend op 01-12-2017</p>
        <table class="table--condensed">
          <thead>
            <tr>
              <td colspan="3"></td>
              <th scope="col" colspan="3">Ontstaansbron</th>
              <th scope="col" colspan="2">Inwerkingstreding</th>
            </tr>
            <tr>
              <th scope="col">Datum van inwerkingtreding</th>
              <th scope="col">Terugwerkende kracht</th>
              <th scope="col">Betreft</th>
              <th scope="col">Ondertekening</th>
              <th scope="col">Bekendmaking</th>
              <th scope="col">Kamerstukken</th>
              <th scope="col">Ondertekening</th>
              <th scope="col">Bekendmaking</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr class="current">
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="https://www.google.nl">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-02-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-07-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2016, 290</a></td>
              <td data-before="Kamerstukken"><a href="#">34212</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2017, 174</a></td>
            </tr>
            <tr>
              <td data-before="Datum van inwerkingtreding">
                <label><input type="checkbox" name="" /> 01-01-2018</label>
              </td>
              <td data-before="Terugwerkende kracht"></td>
              <td data-before="Betreft">Wijziging</td>
              <td data-before="Ondertekening">13-05-2016</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2013, 300</a></td>
              <td data-before="Kamerstukken"><a href="#">312</a></td>
              <td data-before="Ondertekening">01-05-2017</td>
              <td data-before="Bekendmaking"><a href="#">Stb. 2015, 174</a></td>
            </tr>
          </tbody>
        </table>
        <p><button type="button" class="button">Vergelijk twee versies</button></p>
      </div>
    </div>
  </div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


