

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href="https://www.overheid.nl"><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>De wegwijzer naar informatie en diensten van alle overheden</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="">MijnOverheid.nl</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>


<div role="main">
  <div class="row row--page-opener">
    <div class="container">
      <div class="breadcrumb">
  <p></p>
  <ol>
    <li><a href=#>Home</a></li>
    <li><a href=#>Overheidsinformatie</a></li>
    <li><a href=#>Internetconsultatie</a></li>
    <li>Zoekresultaat</li>
  </ol>
</div>
    </div>
  </div>

  <div class="container columns columns--sidebar-left row">
    <div>
      <h1>Zoekresultaat</h1>
      <p>
        1025 resultaten<br />
        Heeft gezocht op: Trefwoord
      </p>
      <div class="sort ">
      Sorteer op:
      <ul class="sort__options">
          <li>
            <a href="?sortby=foo" class="sort--ascending " aria-pressed="false"><span class="visually-hidden">Sorteer op: </span>Naam</a>
          </li>
          <li>
            <a href="?sortby=foo" class="sort--ascending " aria-pressed="false"><span class="visually-hidden">Sorteer op: </span>Status</a>
          </li>
      </ul>
</div>

      <div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>

      <div class="result--list ">
  <ul>
    <li>




        <a href="#" class="result--title">NFP wijzigingspakket 2018-1</a>


       <p>Het ontwerpbesluit Nationaal Frequentieplan wijzigingspakket 2018-1 wordt ter inzage gelegd om eenieder de gelegenheid te bieden opmerkingen over het wijzigingsbesluit in te dienen en de frequentietabel te controleren op de correcte vermelding van rechten.</p>



          <ul class="list--metadata">
              <li>Sluitingsdatum: 07-09-2018</li>
              <li>Ministerie van Ministerie van Economische Zaken en Klimaat</li>
          </ul>




    </li>
    <li>




        <a href="#" class="result--title">Besluit houdende regels tot wijziging van het Besluit uitvoering EU-verordeningen financiële markten</a>


       <p>Aanwijzing verordening op overtreding waarvan een bestuursverbod kan worden opgelegd met betrekking tot niet-financiële ondernemingen</p>



          <ul class="list--metadata">
              <li>Sluitingsdatum: 07-09-2018</li>
              <li>Ministerie van Ministerie van Financiën</li>
          </ul>




    </li>
    <li>




        <a href="#" class="result--title">NFP wijzigingspakket 2018-1</a>


       <p>Het ontwerpbesluit Nationaal Frequentieplan wijzigingspakket 2018-1 wordt ter inzage gelegd om eenieder de gelegenheid te bieden opmerkingen over het wijzigingsbesluit in te dienen en de frequentietabel te controleren op de correcte vermelding van rechten.</p>



          <ul class="list--metadata">
              <li>Sluitingsdatum: 07-09-2018</li>
              <li>Ministerie van Ministerie van Economische Zaken en Klimaat</li>
          </ul>




    </li>
    <li>




        <a href="#" class="result--title">Besluit houdende regels tot wijziging van het Besluit uitvoering EU-verordeningen financiële markten</a>


       <p>Aanwijzing verordening op overtreding waarvan een bestuursverbod kan worden opgelegd met betrekking tot niet-financiële ondernemingen</p>



          <ul class="list--metadata">
              <li>Sluitingsdatum: 07-09-2018</li>
              <li>Ministerie van Ministerie van Financiën</li>
          </ul>




    </li>
  </ul>
</div>

      <div class="pagination">
  <div class="pagination__index">
    <ul>
      <li class="prev"><a href="#"><span class="">&laquo;</span></a></li>
      <li><a href="#">3</a></li>
      <li class="active">4</li>
      <li>...</li>
      <li><a href="#">102</a></li>
      <li class="next"><a href="#"><span class="">&raquo;</span></a></li>
    </ul>
  </div>
</div>

    </div>
    <div>
      <div class="well">
        <form>
          <fieldset class="form__element">
            <legend class="form--intro">Zoeken</legend>
            <div class="">
              <label for="emailadres" class="visually-hidden">Zoeken op</label>
              <input type="text" id="emailadres" placeholder="Zoekterm voor wet, amvb">
            </div>
          </fieldset>
          <button type="submit" class="button button--primary">Zoeken</button>
        </form>
        <a href="#" class="link link--forward">Zoek uitgebreid</a>
      </div>
      <p>
        <a href="#" class="link link--back">Opnieuw zoeken</a>
      </p>
    </div>
  </div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <ul class="list list--linked">

      <li><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li><a href="https://beta.overheid.nl/help">Help</a></li>
      <li><A href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>

    </ul>

    <ul class="list list--linked">
      <li><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li><a href="/privacy-statement">Privacy en cookies</a></li>
      <li><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li><a href="/sitemap">Sitemap</a></li>
    </ul>

     <ul class="list list--linked">
        <li><a href="https://data.overheid.nl">Open data</a></li>
        <li><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
        <li><a href="https://puc.overheid.nl">PUC Open Data</a></li>
    </ul>

    <ul class="list list--linked">
      <li><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
    </ul>

  </div>
</div>

