

<div class="well">

  <form class="form">

    <fieldset class="form__element">

      <legend class="form__intro">Inloggen</legend>

      

  <label class="visually-hidden"for="input-text-1" class="form__label form__label--">Inlognaam</label>

  


  <input
    type="text"
    id="input-text-1"
    name="1"
    class="input input-text   "
    placeholder="Bijv. uw e-mailadres"
    
    aria-invalid="false"
    placeholder="Bijv. uw e-mailadres"
    
    
    
    
    

/>





      

  <label class="visually-hidden"for="input-text-2" class="form__label form__label--">Wachtwoord</label>

  


  <input
    type="text"
    id="input-text-2"
    name="2"
    class="input input-text   "
    placeholder="Bijv: BK001"
    
    aria-invalid="false"
    placeholder="Bijv: BK001"
    
    
    
    
    

/>





    </fieldset>

      <button class="button button--secondary" type="submit" >Inloggen</button>


    <ul class="form__options pull-right">
      <li><a href="/berichten_over_uw_buurt_registreren">Registreer bij Naam service</a></li>
      <li><a href="/berichten_over_uw_buurt_ww_vergeten">Wachtwoord vergeten</a></li>
    </ul>

  </form>

</div>


