

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href="https://www.overheid.nl"><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>De wegwijzer naar informatie en diensten van alle overheden</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="">MijnOverheid.nl</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>


<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p></p>
  <ol>
    <li><a href=#>Home</a></li>
    <li><a href=#>Overheidsinformatie</a></li>
    <li><a href=#>Internetconsultatie</a></li>
    <li><a href=#>NFP wijzigingspakket 2018-1</a></li>
    <li>Reageren</li>
  </ol>
</div>
  </div>
</div>

<div class="container columns columns--sidebar-left row">
  <div>
    <h1>NFP wijzigingspakket 2018-1</h1>

    <h2>Reageren op consultatie</h2>

    <ol class="steps">
    <li class="steps__step " aria-pressed="false">
       Stap 1
    </li>
    <li class="steps__step " aria-pressed="false">
       Stap 2
    </li>
    <li class="steps__step is-active" aria-pressed="true">
       <span class="visually-hidden">Huidige stap: </span>Stap 3
    </li>
</ol>


    <p>
      Een e-mailadres kan maar één keer gebruikt worden per consultatie. Na het versturen van uw reactie krijgt u een
      bevestiging
      toegestuurd naar het e-mailadres dat u hier opgeeft. In deze bevestigingsmail staat een link naar de consultatie
      website
      die u moet aanklikken om uw reactie te bevestigen. Het is daarom van belang dat u hier uw e-mail adres juist
      invult.
    </p>

    <form>
      <fieldset class="form__element">
        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">E-mailadres</label>

            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting email
              </a>

              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">


                <p>Uitleg</p>

                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerTitel" class="form__error"
            style="display:none;"></p>
        </div>
        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Herhaal e-mailadres</label>

            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud1"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting email
              </a>

              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud1"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">


                <p>Uitleg</p>

                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerTitel" class="form__error"
            style="display:none;"></p>
        </div>

        <div class="form__chapter__heading">
          <h2 class="">Persoonlijke gegevens</h2>
          <div class="question-explanation">
            <a href="../../Controls/Zoeken/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfoZoekenOpWoordOfZinsdeel"
              id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_ctl02" class="question-explanation__link"
              data-handler="toggle-explanation">Toelichting zoeken op woord of zinsdeel</a>
            <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfoZoekenOpWoordOfZinsdeel"
              class="question-explanation__content" data-decorator="hide-self" hidden="true">
              <p>uitleg</p>
              <a href="../../Controls/Zoeken/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_ctl02"
                class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
            </div>
          </div>
        </div>

        <p>
          Bij een consultatie is anoniem reageren niet toegestaan. Daarom dient u hier uw naam en adres op te geven. Uw
          gegevens worden
          gebruikt voor het verwerken van de inzending. Meer informatie vindt u in het privacy reglement.
        </p>
        <p>
          Uw reactie wordt onder vermelding
          van uw organisatienaam of voorletter, achternaam en plaats gepubliceerd op de website. Als u daar bezwaar
          tegen heeft kunt
          u hieronder aangeven dat u niet wilt dat uw bijdrage wordt gepubliceerd. Uw reactie wordt in dat geval niet
          gepubliceerd,
          behoudens de verantwoordelijkheid van de overheid op grond van een wettelijke informatieverplichting of
          rechterlijke uitspraak.
        </p>

        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Titel</label>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
        </div>

        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Voorletters*</label>
            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud2"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting voorletters
              </a>
              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud2"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">
                <p>Uitleg</p>
                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input input--small" placeholder="">
          </div>
        </div>

        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Achternaam*</label>
            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud3"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting achternaam
              </a>
              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud3"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">
                <p>Uitleg</p>
                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
        </div>

        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Bedrijfsnaam</label>
            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud4"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting bedrijfsnaam
              </a>
              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud4"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">
                <p>Uitleg</p>
                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
        </div>

        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Plaats*</label>
            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud5"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting plaats
              </a>
              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud5"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">
                <p>Uitleg</p>
                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
        </div>

        <p>
          Velden met * zijn verplicht
        </p>

        <div class="form__chapter__heading">
          <h2 class="">Instellingen</h2>
        </div>

        <fieldset class="form__element checkboxgroup inline-group">
          <legend class="visually-hidden">Instellingen</legend>

          <ul class="list--unstyled">
            <li>
              <input id="" type="checkbox" name="">
              <label for="">
                k wil bericht ontvangen van het verloop van de consultatie.
              </label>
            </li>
            <li>
              <input id="" type="checkbox" name="">
              <label for="">
                Ik ga er mee akkoord dat mijn reactie openbaar is.
              </label>
            </li>
            <li>
              <input id="" type="checkbox" name="">
              <label for="">
                Ik heb de <a href="#">algemene voorwaarden</a> gelezen en ik ga
                hiermee akkoord.
              </label>
            </li>
          </ul>
        </fieldset>
      </fieldset>
      <div class="form__buttons">
        <button type="submit" class="button button--primary">Vorige</button>
        <button type="submit" class="button button--primary">Verder</button>
      </div>
    </form>
  </div>
  <div>
    <div class="well">
      <form>
        <fieldset class="form__element">
          <legend class="form--intro">Zoeken</legend>
          <div class="">
            <label for="emailadres" class="visually-hidden">Zoeken op</label>
            <input type="text" id="emailadres" placeholder="Zoekterm voor wet, amvb">
          </div>
        </fieldset>
        <button type="submit" class="button button--primary">Zoeken</button>
      </form>
      <a href="#" class="link link--forward">Zoek uitgebreid</a>
    </div>
    <p>
      <a href="#" class="link link--back">Startpagina</a>
    </p>
    <ul class="list list--linked">
      <li><a href="#">Consultatiegegevens</a></li>
      <li><a href="#">Reacties op consultatie (0)</a></li>
    </ul>
  </div>
</div>

</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <ul class="list list--linked">

      <li><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li><a href="https://beta.overheid.nl/help">Help</a></li>
      <li><A href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>

    </ul>

    <ul class="list list--linked">
      <li><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li><a href="/privacy-statement">Privacy en cookies</a></li>
      <li><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li><a href="/sitemap">Sitemap</a></li>
    </ul>

     <ul class="list list--linked">
        <li><a href="https://data.overheid.nl">Open data</a></li>
        <li><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
        <li><a href="https://puc.overheid.nl">PUC Open Data</a></li>
    </ul>

    <ul class="list list--linked">
      <li><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
    </ul>

  </div>
</div>

