

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="templates-wp-homepage" class="">Home</a></li>
            <li><a href="#" class="is-active">Wettenpockets aanmaken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>


<main role="main">
  <div class="container columns columns--sidebar-left row">
    <div>
      <h1>Mijn Wettenpocket</h1>
      <div class="well">
        <dl class="dl columns--data">
      <div>
        <dt>Titel regeling</dt>
        <dd>Aanbestedingswet 2012</dd>
      </div>
      <div>
        <dt>Type</dt>
        <dd>Wet</dd>
      </div>
      <div>
        <dt>Wetsfamilie</dt>
        <dd>Aanbestedingswet 2012</dd>
      </div>
      <div>
        <dt>Geldend vanaf</dt>
        <dd>1-7-2016</dd>
      </div>
      <div>
        <dt>Geselecteerde elementen</dt>
        <dd>Volledig</dd>
      </div>

</dl>

      </div>

      <p>Hier staat een korte omschrijving van deze pocket en welke informatie je erin kunt vinden.</p>
      <p><a href="http://#">Open regeling in wetten.overheid.nl</a></p>
      <p><a href="http://#">Raadpleeg wettechnische informatie</a></p>

      <div class="columns columns--sidebar-right">
        <div>
          <h2>Artikel 1.1</h2>
          <p>In deze wet en de daarop berustende bepalingen wordt verstaan onder:</p>
          <p>aanbestedende dienst: de staat, een provincie, een gemeente, een waterschap of een publiekrechtelijke instelling dan wel een samenwerkingsverband van deze overheden of publiekrechtelijke instellingen;</p>
          <p>aanbestedingsstukken: alle stukken die door de aanbestedende dienst of het speciale-sectorbedrijf worden opgesteld of vermeld ter omschrijving of bepaling van onderdelen van de aanbesteding of de procedure;</p>
          <p>aankoopcentrale: een aanbestedende dienst die of speciale-sectorbedrijf dat een gecentraliseerde aankoopactiviteit en eventueel een aanvullende aankoopactiviteit verricht;</p>
          <p>aannemer: een ieder die de uitvoering van werken op de markt aanbiedt;</p>
          <p>aanvullende aankoopactiviteit: een activiteit die bestaat uit het verlenen van ondersteuning aan een aankoopactiviteit, in het bijzonder op de volgende wijzen:</p>
          <ol class="list list--alpha">
            <li>door het beschikbaar stellen van technische infrastructuur die aanbestedende diensten of speciale-sectorbedrijven in staat stelt overheidsopdrachten respectievelijk speciale-sectoropdrachten te plaatsen;</li>
            <li>door advisering over het verloop of de opzet van aanbestedingsprocedures;</li>
            <li>door voorbereiding en beheer van aanbestedingsprocedures namens en voor rekening van de betrokken aanbestedende dienst of het betrokken speciale-sectorbedrijf;</li>
          </ol>
          <p><i>Autoriteit Consument en Markt: de Autoriteit Consument en Markt, genoemd in artikel 2, eerste lid, van de Instellingswet Autoriteit Consument en Markt;</i></p>
          </p>
        </div>

        <div>
            <button class="button " type="submit" >Notitie toevoegen</button>

        </div>
      </div>
      <div class="columns columns--sidebar-right">
        <div>
          <h2 class="tooltip tooltip--info" data-decorator="tooltip">Artikel 1.2<button aria-label="Notitie" aria-describedby="tt1" aria-expanded="false" class="tooltip__trigger">Notitie</button>
          <span role="tooltip" id="tt1" class="tooltip__content">Hier staat een notitie</span></h2>

          <p>In deze wet en de daarop berustende bepalingen wordt verstaan onder:</p>
          <p>aanbestedende dienst: de staat, een provincie, een gemeente, een waterschap of een publiekrechtelijke instelling dan wel een samenwerkingsverband van deze overheden of publiekrechtelijke instellingen;</p>
          <p>aanbestedingsstukken: alle stukken die door de aanbestedende dienst of het speciale-sectorbedrijf worden opgesteld of vermeld ter omschrijving of bepaling van onderdelen van de aanbesteding of de procedure;</p>
          <p>aankoopcentrale: een aanbestedende dienst die of speciale-sectorbedrijf dat een gecentraliseerde aankoopactiviteit en eventueel een aanvullende aankoopactiviteit verricht;</p>
          <p>aannemer: een ieder die de uitvoering van werken op de markt aanbiedt;</p>
          <p>aanvullende aankoopactiviteit: een activiteit die bestaat uit het verlenen van ondersteuning aan een aankoopactiviteit, in het bijzonder op de volgende wijzen:</p>
          <ol class="list list--alpha">
            <li>door het beschikbaar stellen van technische infrastructuur die aanbestedende diensten of speciale-sectorbedrijven in staat stelt overheidsopdrachten respectievelijk speciale-sectoropdrachten te plaatsen;</li>
            <li>door advisering over het verloop of de opzet van aanbestedingsprocedures;</li>
            <li>door voorbereiding en beheer van aanbestedingsprocedures namens en voor rekening van de betrokken aanbestedende dienst of het betrokken speciale-sectorbedrijf;</li>
          </ol>
          <p><i>Autoriteit Consument en Markt: de Autoriteit Consument en Markt, genoemd in artikel 2, eerste lid, van de Instellingswet Autoriteit Consument en Markt;</i></p>
          </p>
        </div>

        <div>
            <button class="button " type="submit" >Notitie toevoegen</button>

            <button class="button " type="submit" >Notitie verwijderen</button>

        </div>
      </div>
    </div>

    <div>
      <h3>Subnavigatie</h3>
      <nav class="secundairy-navigation">
        <div >

  <ul class="list list--linked list--unstyled">
      <li class="list__item"></li>
      <li class="list__item"></li>
  </ul>
</div>
      </nav>
      <h3>Wettenpocket</h3>
      <nav class="secundairy-navigation">
        <div >

  <ul class="list list--linked list--unstyled">
      <li class="list__item"></li>
      <li class="list__item"></li>
  </ul>
</div>
      </nav>
    </div>
  </div><!-- /container -->
</main>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


