

<header class="header">

  <div class="header__start">
    <div class="container">
      <div class="skiplinks">
        <a href="#content">Direct naar content</a>
      </div>

        <button type="button" class="hidden-desktop button button--icon-hamburger" data-handler="toggle-nav" aria-controls="nav" aria-expanded="false">Menu</button>
      <div class="logo ">
        <a href=""><img src="../../images/logo.svg" alt="Overheid.nl logo" /></a>
          <p class="logo__you-are-here"><span class="visually-hidden">U bent nu hier: </span>
            <span>Register voor overheidsinstanties</span>
          </p>
      </div>



      <div class="header__meta">
        <a href="#" class="">MijnOverheid.nl</a>
      </div>
    </div>
  </div>
  <nav class="header__nav header__nav--closed" id="nav">
    <h2 class="visually-hidden">Primaire navigatie</h2>
    <div class="container">
      <ul class="header__primary-nav list list--unstyled">
        <li class="hidden-mobile"><a href="#other-sites" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a></li>
            <li><a href="#" class="">Zoeken</a></li>
            <li><a href="#" class="">uitgebreid zoeken</a></li>
      </ul>
      <a href="#other-sites" class="hidden-desktop" data-handler="toggle-other-sites" data-decorator="init-toggle-other-sites"><span class="visually-hidden">Andere sites binnen </span>Overheid.nl</a>
    </div>
  </nav>
</header>
  <div class="header__more" id="other-sites">
    <div class="container columns">
      <div>
        <h2>Aankondigingen over uw buurt</h2>
        <p>Zoals bouwplannen en verkeersmaatregelen.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/aankondigingen-over-uw-buurt">Naar aankondigingen over uw buurt</a></li>
        </ul>
      </div>
      <div>
        <h2>Dienstverlening</h2>
        <p>Zoals belastingen, uitkeringen en subsidies.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/dienstverlening">Naar dienstverlening</a></li>
        </ul>
      </div>
      <div>
        <h2>Beleid &amp; regelgeving</h2>
        <p>Officiële publicaties van de overheid.</p>
        <ul class="list list--linked">
          <li><a href="https://beta.overheid.nl/beleid-en-regelgeving">Naar beleid &amp; regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactgegevens overheden</h2>
        <p>Adressen en contactpersonen van overheidsorganisaties.</p>
        <ul class="list list--linked">
          <li><a href="https://almanak.overheid.nl/onl">Naar overheidsorganisaties</a></li>
        </ul>
      </div>
    </div>
  </div>


<div class="row row--page-opener">
  <div class="container">
    <div class="breadcrumb">
  <p>U bent hier:</p>
  <ol>
    <li>
        <a href=#>Zoeken</a></li>
    </li>
    <li>
        <a href=#>Zoekresultaten</a></li>
    </li>
    <li>
        <a href=#>Regeling</a></li>
    </li>
    <li>
        Informatie
    </li>
  </ol>
</div>
  </div>
</div>

<div class="row row--image row--landing" style="background-image: url(../../images/temp/homepage-beleid.jpg);">
  <div class="container">
    <div class="content--onimage">
      <h1>Beleid &amp; Regelgeving</h1>
      <p class="intro--text">Hier bekijkt u publicaties omtrent beleid, wet- en regelgeving.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="columns">
      <div>
        <h2>Beleidsonderzoek</h2>
        <ul class="list--linked">
          <li><a href="https://www.wrr.nl">Wetenschappelijke Raad voor het Regeringsbeleid (WRR)</a></li>
          <li><a href="https://www.cpb.nl/">Centraal Planbureau (CPB)</a></li>
          <li><a href="https://www.scp.nl/">Sociaal en Cultureel Planbureau (SCP)</a></li>
          <li><a href="https://www.cbs.nl">Centraal Bureau voor de Statistiek (CBS)</a></li>
          <li><a href="https://www.wodc.nl">Wetenschappelijk Onderzoek- en Documentatiecentrum (WODC)</a></li>
          <li><a href="https://www.pbl.nl/">Planbureau voor de Leefomgeving (PBL)</a></li>
          <li><a href="https://www.arbeidenoverheid.nl/">Kennisbank Arbeidszaken Publieke Sector (KAPS)</a></li>
        </ul>
      </div>
      <div>
        <h2>Advies en besluitvorming</h2>
        <ul class="list--linked">
          <li><a href="http://internetconsultatie.overheid.nl">Internetconsultatie</a></li>
          <li><a href="http://www.raadvanstate.nl/adviezen.html">Adviezen Raad van State</a></li>
          <li><a href="https://zoek.officielebekendmakingen.nl/zoeken/parlementaire_documenten">Parlementaire documenten (bijvoorbeeld Kamervragen, Kamerstukken)</a></li>
          <li><a href="">Meer adviesorganen</a></li>
        </ul>
      </div>
      <div>
        <h2>Bekendmaking</h2>
        <ul class="list--linked">
          <li><a href="https://zoek.officielebekendmakingen.nl/zoeken/staatsblad">Staatsblad (landelijk)</a></li>
          <li><a href="https://zoek.officielebekendmakingen.nl/zoeken/staatscourant">Staatscourant (landelijk)</a></li>
          <li><a href="https://zoek.officielebekendmakingen.nl/zoeken/tractatenblad">Tractatenblad (landelijk)</a></li>
          <li><a href="https://zoek.officielebekendmakingen.nl/zoeken/gemeenteblad">Gemeenteblad</a></li>
          <li><a href="https://zoek.officielebekendmakingen.nl/zoeken/provinciaal_blad">Provinciaal blad</a></li>
          <li><a href="https://zoek.officielebekendmakingen.nl/zoeken/waterschapsblad">Waterschapsblad</a></li>
          <li><a href="https://zoek.officielebekendmakingen.nl/zoeken/blad_gemeenschappelijke_regeling">Blad gemeenschappelijke regeling</a></li>
          <li><a href="https://www.officielebekendmakingen.nl">Officiële bekendmakingen vandaag</a></li>
          <li><a href="https://zoek.overheid.nl/berichten_over_uw_buurt_eenvoudig_zoeken">Publicaties op websites van gemeenten, provincies, waterschappen en regionale samenwerkingsverbanden</a></li>
        </ul>
      </div>
      <div>
        <h2>Wet- en regelgeving</h2>
        <ul class="list--linked">
          <li><a href="http://eur-lex.europa.eu/collection/eu-law.html">Europees</a></li>
          <li><a href="http://wetten.overheid.nl">Landelijk</a></li>
          <li><a href="https://wetgevingskalender.overheid.nl/">Wetgevingskalender</a></li>
          <li><a href="http://zoekdienst.overheid.nl/ictu_website/CVDR/CVDRZoeken.aspx?searchtype&#x3D;Simple&amp;amp;connection&#x3D;CVDR">Plaatselijk (gemeente, provincie, waterschap, regionaal samenwerkingsverband)</a></li>
          <li><a href="http://www.ruimtelijkeplannen.nl">Ruimtelijkeplannen.nl</a></li>
        </ul>
      </div>
    </div>
    <div class="columns">
      <div>
        <h2>Uitvoering</h2>
        <ul class="list--linked">
          <li><a href="http://wetten.overheid.nl">Landelijk (beleidsregels, circulaires, uitvoeringsaanwijzingen)</a></li>
          <li><a href="http://www.overheid.nl/overheidsinformatie/vergunningen">Plaatselijke vergunningen</a></li>
          <li><a href="http://vergunningenbank.overheid.nl/natuurbeschermingswet">Vergunningen Natuurbeschermingswet</a></li>
        </ul>
      </div>
      <div>
        <h2>Klachten en rechtspraak</h2>
        <ul class="list--linked">
          <li><a href="http://mensenrechten.nl/publicaties/oordelen">College voor de Rechten van de Mens</a></li>
          <li><a href="http://www.nationaleombudsman.nl/">Nationale ombudsman</a></li>
          <li><a href="http://www.rechtspraak.nl">Rechtspraak.nl</a></li>
          <li><a href="http://tuchtrecht.overheid.nl/nieuw">Tuchtrecht</a></li>
        </ul>
      </div>
      <div>
        <h2>Toezicht</h2>
        <ul class="list--linked">
          <li><a href="http://www.inspectieloket.nl">Inspectieloket</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help">Help</a></li>
      <li class="list__item"><a href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li class="list__item"><a href="/privacy-statement">Privacy en cookies</a></li>
      <li class="list__item"><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li class="list__item"><a href="/sitemap">Sitemap</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://data.overheid.nl">Open data</a></li>
      <li class="list__item"><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
      <li class="list__item"><a href="https://puc.overheid.nl">PUC Open Data</a></li>
  </ul>
</div>
    <div >

  <ul class="list list--linked">
      <li class="list__item"><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li class="list__item"><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li class="list__item"><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li class="list__item"><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
  </ul>
</div>
  </div>
</div>


