

<ul class="list--theme">
  <li>
    <h3>Belastingen</h3>
    <p>Suspendisse venenatis finibus congue. Lorem ipsum dolor sit amet</p>
  </li>
  <li>
    <h3>Bouwen, wonen en leefomgeving</h3>
    <p>Suspendisse venenatis finibus congue. Lorem ipsum dolor sit amet</p>
  </li>
  <li>
    <h3>Cultuur, sport, vrije tijd</h3>
    <p>Suspendisse venenatis finibus congue. Lorem ipsum dolor sit amet</p>
  </li>
  <li>
    <h3>Defensie</h3>
    <p>Suspendisse venenatis finibus congue. Lorem ipsum dolor sit amet</p>
  </li>
</ul>


