

<ul class="toolbar">
  <li class="toolbar__item">
    <a class="toolbar__link toolbar__link--relations" href="#">5 <span class="toolbar__label">Toon relatie&#x27;s</span></a>
  </li>
  <li class="toolbar__item">
    <a class="toolbar__link toolbar__link--permalink" href="#"> <span class="toolbar__label">Maak een permanente link</span></a>
  </li>
  <li class="toolbar__item">
    <a class="toolbar__link toolbar__link--version" href="#"> <span class="toolbar__label">Toon wettechnische informatie</span></a>
  </li>
  <li class="toolbar__item">
    <a class="toolbar__link toolbar__link--compare" href="#"> <span class="toolbar__label">Vergelijk met een eerdere versie</span></a>
  </li>
  <li class="toolbar__item">
    <a class="toolbar__link toolbar__link--print" href="#"> <span class="toolbar__label">Druk af</span></a>
  </li>
  <li class="toolbar__item">
    <a class="toolbar__link toolbar__link--download" href="#"> <span class="toolbar__label">Bewaar</span></a>
  </li>
</ul>

