<div class="form__element form__element--pagesearch">
  <label class="visually-hidden" for="input-search--sidebar">{{ label }}</label>
  <input type="text" id="input-search--sidebar" class="input" placeholder="{{ placeholder }}" />
  <button class="button button--primary button--search" type="submit">{{ buttonText }}</button>
</div>

