.block-content {
  margin: 0 0 2em 0;
  position: relative;

  @media (min-width: $breakpointDesktop) {
    margin-bottom: 0;
  }

  &__heading {
    margin-top: 0;
  }
  h2.block-content__heading {
    font-size: em(29);
  }
  h3.block-content__heading {
    font-size: em(22);
    margin-bottom: em(8);
  }

  &__subheading {
    margin-bottom: em(4);
    font-size: em(22);
    font-style: italic;
  }

  &--highlight {
    background-color: $lightBlue;
    padding: 1.5em 2em;
    @media (min-width: $breakpointDesktopL) {
      padding: 2em 4em;
    }
  }

  @media (min-width: $breakpointDesktopL) {
    &--flexed {
      padding-bottom: 1.5em;
    }

    &--flexed &__cta {
      position: absolute;
      bottom: 0;
    }
  }

  @media (min-width: $breakpointDesktopL) {
    &.block-content--highlight.block-content--flexed {
      padding-bottom: 3.5em;
    }
    &.block-content--highlight.block-content--flexed &__cta {
      bottom: 2em;
    }
  }

  @media (min-width: $breakpointDesktopL) {
    .block-content--flexed.block-content--highlight {
      &__cta {
        left: 4em;
      }
    }
  }

  &--slim {
    padding-left: 2em;
    padding-right: 2em;
    @media (min-width: $breakpointDesktopL) {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  &--slim &__cta {
    left: 2em;
  }
}

