.block-content {
  margin: 0 0 1em 0;
  position: relative;

  &__heading {
    margin-top: 0;
    font-size: em(29);
  }
  // h3.block-content__heading {
    // font-size: em(22);
  // }

  &__subheading {
    margin-bottom: em(4);
    font-size: em(22);
    font-style: italic;
  }

  &--highlight,
  &--primary {
    background-color: $lightBlue;
    padding: 1.5em 2em;
    @media (min-width: $breakpointDesktop) {
      padding: 2em 4em;
    }
  }

  &--secondary {
    background-color: $lightGreen;
    padding: 1.5em 2em;
    @media (min-width: $breakpointDesktop) {
      padding: 2em 4em;
    }
  }

  @media (min-width: $breakpointDesktop) {
    &--flexed {
      padding-bottom: 3em;
    }
    &--flexed &__cta {
      position: absolute;
      bottom: 2em;
      // left: 4em;
      left: 0em;
    }
  }

  @media (min-width: $breakpointDesktop) {
    &--highlight.block-content--flexed,
    &--primary.block-content--flexed,
    &--secondary.block-content--flexed {
      padding-bottom: 4em;
    }
    &--highlight.block-content--flexed &__cta,
    &--primary.block-content--flexed &__cta,
    &--secondary.block-content--flexed &__cta {
      position: absolute;
      bottom: 2em;
      left: 4em;
    }
  }


  &--slim {
    padding-left: 2em;
    padding-right: 2em;
    @media (min-width: $breakpointDesktop) {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  &--slim &__cta {
    left: 2em !important;
  }

}

