<div class="block-content">
  <p class="block-content__subheading">
    <i>Wat is lokale wet- en regelgeving?</i>
  </p>
  <h2 class="block-content__heading">Vindt uw weg in lokale wet- en regelgeving</h2>
  <p>
    Berichten op ‘berichten over uw buurt’ blijven 2 maanden staan. Daarna worden ze in het archief geplaatst. Deze oudere berichten
    kunt u nog wel terugvinden op het platform 'Officiële bekendmakingen'.
  </p>
  <p>
    <a href="#" class="button button--secondary">Lees meer</a>
  </p>
</div>
