{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container columns columns--sidebar-left row">
  <div>
    <h1>Veelgestelde vragen</h1>
    <ol>
      <li><a href="#q1">Hoe kom ik aan een officiële publicatie van vóór het jaar 1995?</a></li>
      <li><a href="#q2">Ik krijg de melding dat het certificaat niet geverifieerd kan worden, wat nu?</a></li>
      <li><a href="#q3">Hoe kan ik een publicatie aanleveren voor www.officielebekendmakingen.nl?</a></li>
      <li><a href="#q4">Ik heb problemen met het bekijken en/of printen van een officiële publicatie, wat kan ik doen?</a></li>
      <li><a href="#q5">Kan ik ook deeplinken naar een officiële publicatie?</a></li>
      <li><a href="#q6">Waar kan ik niet-dossierstukken (gepubliceerd in de Staatscourant) vinden?</a></li>
      <li><a href="#q7">Waar kan ik de bijlagen vinden?</a></li>
      <li><a href="#q8">Waar staat hoe en of Europese regelgeving in de Nederlandse wet is geïmplementeerd?</a></li>
      <li><a href="#q9">Waarom is de nummering van de Staatscourant veranderd sinds november 2008?</a></li>
      <li><a href="#q10">Waar vind ik informatie over de ontbinding van een huwelijk?</a></li>
    </ol>
    <h3 id="q1">Hoe kom ik aan een officiële publicatie van vóór het jaar 1995?</h3>
    <p>Overheid.nl biedt alleen digitale Officiële publicaties aan vanaf het jaar 1995. Heeft u oudere nummers nodig van Staatsbladen, Staatscouranten, etc., dan kunt u deze inzien bij grote (juridische) bibliotheken en de Koninklijke Bibliotheek.</p>
    <p>Daarnaast zijn de Handelingen van de Eerste en Tweede Kamer (Kamerverslagen, Kamerstukken en Kamervragen) het zittingsjaar 1814-1815 tot 1 januari 1995 voor iedereen toegankelijk en doorzoekbaar via de website Staten-Generaal Digitaal.</p>
    <h3 id="q2">Ik krijg de melding dat het certificaat niet geverifieerd kan worden, wat nu?</h3>
    <p>Bij oudere versies van browsers / operating systems is het stamcertificaat 'Staat der Nederlanden Root CA' niet geïnstalleerd. Op deze PC's krijgt u de melding dat het certificaat niet geverifieerd kan worden. Op https://www.logius.nl/ondersteuning/pkioverheid/stamcertificaat-installeren/ staat vermeld hoe u dit probleem kunt verhelpen.</p>
    <h3 id="q3">Hoe kan ik een publicatie aanleveren voor www.officielebekendmakingen.nl?</h3>
    <p>Meer informatie over het aanleveren van kopij wordt beschreven op de website van het Kennis- en Exploitatiecentrum Officiële Overheidspublicaties: http://koop.overheid.nl/producten/officiële-elektronische-publicaties/aanleveren-kopij. De plaatsing van de digitale bekendmaking is kosteloos.</p>
    <h3 id="q4">Ik heb problemen met het bekijken en/of printen van een officiële publicatie, wat kan ik doen?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis et voluptatibus atque, veniam sapiente a iste eum eveniet provident exercitationem, delectus aliquid quibusdam obcaecati repellat qui beatae. Excepturi, omnis.</p>
    <h3 id="q5">Kan ik ook deeplinken naar een officiële publicatie?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis et voluptatibus atque, veniam sapiente a iste eum eveniet provident exercitationem, delectus aliquid quibusdam obcaecati repellat qui beatae. Excepturi, omnis.</p>
    <h3 id="q6">Waar kan ik niet-dossierstukken (gepubliceerd in de Staatscourant) vinden?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis et voluptatibus atque, veniam sapiente a iste eum eveniet provident exercitationem, delectus aliquid quibusdam obcaecati repellat qui beatae. Excepturi, omnis.</p>
    <h3 id="q7">Waar kan ik de bijlagen vinden?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis et voluptatibus atque, veniam sapiente a iste eum eveniet provident exercitationem, delectus aliquid quibusdam obcaecati repellat qui beatae. Excepturi, omnis.</p>
    <h3 id="q8">Waar staat hoe en of Europese regelgeving in de Nederlandse wet is geïmplementeerd?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis et voluptatibus atque, veniam sapiente a iste eum eveniet provident exercitationem, delectus aliquid quibusdam obcaecati repellat qui beatae. Excepturi, omnis.</p>
    <h3 id="q9">Waarom is de nummering van de Staatscourant veranderd sinds november 2008?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis et voluptatibus atque, veniam sapiente a iste eum eveniet provident exercitationem, delectus aliquid quibusdam obcaecati repellat qui beatae. Excepturi, omnis.</p>
    <h3 id="q10">Waarom is de nummering van de Staatscourant veranderd sinds november 2008?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis et voluptatibus atque, veniam sapiente a iste eum eveniet provident exercitationem, delectus aliquid quibusdam obcaecati repellat qui beatae. Excepturi, omnis.</p>
  </div>
  <div>
    <h2>Help onderwerpen</h2>
    {{ render "@list--facetlist" sidebar merge=true }}
  </div>
</div>

{{ render "@footer" }}
