{{ render "@header" header merge=true }}
<div class="container columns columns--sidebar">
  <div>
    <h2>Spoedpublicaties (1)</h2>
  </div>
  <div>
    <h2>Vandaag bekendgemaakt</h2>
    <p><a href="#">Totaal 453 publicaties op vrijdag 14 september</a></p>
  </div>
</div>
