  {{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
    <h2>Zoeken in alle documenten</h2>
    <p>Uitgebreid zoeken in <a href="#">parlementaire documenten</a> of <a href="#">officiële bekendmakingen</a>.</p>
  </div>
</div>
<div class="row row--browse">
  <div class="container columns">
    <div>
      <h2>Welke informatie vindt u op deze website?</h2>
      <p>Op zoek.officielebekendmakingen.nl vindt u de Officiële publicaties van het Staatsblad, de Staatscourant, het Tractatenblad, de Gemeentebladen, Provinciale bladen, Waterschapsbladen en Bladen gemeenschappelijke regeling. Daarnaast vindt u hier alle publicaties van het parlement.</p>
      <h2>Direct uitgebreid zoeken</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Parlementaire documenten</p>
    </div>
    <div>
      {{ render "@browse" }}
    </div>
  </div>
</div>
<div class="container row">
  <h2>Over deze website</h2>
  <div class="columns">
    <div>
      <h3><a href="#">Collectie uitgebreid met de Parlementaire documenten 1945 – 2009</a></h3>
      <p>Op deze website vindt u sinds kort ook de parlementaire documenten uit de periode 1945 – 2009.</p>
      <p>De bestanden vanaf 2009 tot heden waren al onderdeel van de parlementaire collectie. U kunt de nieuwe bestanden doorzoeken met behulp van een afzonderlijk zoekformulier.</p>
    </div>
    <div>
      <h3><a href="#">Oproepingen per 1 juli 2015 in de Staatscourant</a></h3>
      <p>Per 1 juli 2015 kunnen burgers In de Staatscourant lezen of ze recentelijk zijn opgeroepen, of dat ze belanghebbende zijn bij een persoon of bedrijf dat in een oproeping is vermeld. Oproepingen blijven zichtbaar tot de dag na de zitting, en zijn desgewenst niet meer vindbaar via de zoekfunctie(s).</p>
      <p>De oproepingen kunnen bijvoorbeeld te maken hebben met nog openstaande verkeersboetes of geldboetes.</p>
    </div>
    <div>
      <h3><a href="#">Per 1 juli 2015 in de Staatscourant</a></h3>
      <p>Per 1 juli 2015 kunnen burgers In de Staatscourant lezen of ze recentelijk zijn opgeroepen, of dat ze belanghebbende zijn bij een persoon of bedrijf dat in een oproeping is vermeld. </p>
      <p>De oproepingen kunnen bijvoorbeeld te maken hebben met nog openstaande verkeersboetes of geldboetes.</p>
    </div>
  </div>
</div>
{{ render "@footer" }}
