{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container row">
  <div class="columns columns--homepage-tiles">

    <a href="#" class="homepageblock related related--primaryBlue" style="background-image: url(/images/temp/homepage-block-bg.png);">
      <div class="content--inner">
        <h2>In de buurt</h2>
        <span>Alle belangrijke zaken bij u in de buurt</span>
      </div>
    </a>

    <a href="#" class="homepageblock related related--primaryBlue" style="background-image: url(/images/temp/homepage-block-bg2.png);">
      <div class="content--inner">
        <h2>In de buurt</h2>
        <span>Alle belangrijke zaken bij u in de buurt</span>
      </div>
    </a>

    <a href="#" class="homepageblock related related--primaryBlue" style="background-image: url(/images/temp/homepage-block-bg.png);">
      <div class="content--inner">
        <h2>In de buurt</h2>
        <span>Alle belangrijke zaken bij u in de buurt</span>
      </div>
    </a>

    <a href="#" class="homepageblock related related--primaryBlue" style="background-image: url(/images/temp/homepage-block-bg2.png);">
      <div class="content--inner">
        <h2>In de buurt</h2>
        <span>Alle belangrijke zaken bij u in de buurt</span>
      </div>
    </a>

  </div>

</div>

<div class="row row--browse">
  <div class="container">
    <h2>Hoe werkt de overheid?</h2>

    <div class="columns">
      <a href="http://www.google.nl"> <div class="homepageblock " style="background-image: url(/images/temp/homepage-block-bg.png);"> <div class="content--inner"> <h3>Hoe werkt democratie?</h3> </div> </div> </a>

      <a href="http://www.google.nl"> <div class="homepageblock " style="background-image: url(/images/temp/homepage-block-bg2.png);"> <div class="content--inner"> <h3>Hoe zit de overheid in elkaar?</h3> </div> </div> </a>

      <a href="http://www.google.nl"> <div class="homepageblock " style="background-image: url(/images/temp/homepage-block-bg.png);"> <div class="content--inner"> <h3>Hoe functioneert de overheid?</h3> </div> </div> </a>
    </div>

  </div>
</div>

<div class="row container">

  <h2>Gerelateerde informatie</h2>

  <div class="columns columns--relatedinfo">

    <a href="http://www.mijnoverheid.nl" class="blockLink">

      <div class="homepageblock related related--orange" style="background-image: url(/images/temp/homepage-block-bg.png);">

        <div class="content--inner">
          <h3>MijnOverheid.nl</h3>
            <span>Berichten, lopende zaken en Persoonlijke Gegevens</span>
          </div>
      </div>
    </a>

    <a href="http://www.ondernemersplein.nl" class="blockLink">
      <div class="homepageblock related related--lightBlue" style="background-image: url(/images/temp/homepage-block-bg2.png);">
        <div class="content--inner">
          <h3>ondernemersplein.nl</h3>
          <span>Berichten, lopende zaken en Persoonlijke Gegevens</span>
        </div>
      </div>
    </a>

    <a href="http://www.rijksoverheid.nl" class="blockLink">
      <div class="homepageblock related related--darkBlue" style="background-image: url(/images/temp/homepage-block-bg.png);">
        <div class="content--inner">
          <h3>Rijksoverheid.nl</h3>
          <span>Berichten, lopende zaken en Persoonlijke Gegevens</span>
        </div>
      </div>
    </a>
  </div>

</div>

{{ render "@footer" }}
