{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container row">
  <h1>Informatie en diensten</h1>

  <p class="intro--text">
    De website Overheid.nl is de wegwijzer naar informatie en diensten van alle overheidsorganisaties in Nederland. U bevindt zich nu op het domein Officiele Bekendmakingen. Hier vindt u alles over de bekendmakingen in uw directe omgeving. Denk aan bouw- of kapvergunningen, bestemmingsplannen en gerelateerde informatie.
  </p>

  <div class="columns">
    <div>
      <h2>Ik ga scheiden</h2>
      <p>Als u gaat scheiden of uit elkaar gaat, kan dit gevolgen hebben voor de toeslagen, voorlopige aanslag of aangifte inkomstenbelasting van u of uw ex-partner. Ga bijvoorbeeld na of u nog fiscale partners bent. Controleer wat de scheiding voor uw persoonlijke situatie betekent en wat u moet doen.</p>
    </div>
    <div>
      <h2>Ik word werkloos</h2>
      <p>Als u werkloos wordt verandert uw financiële situatie, en ook uw rechten en plichten naar de overheid. Zo kunt u soms een uitkering of aanvulling krijgen, maar wordt daarvoor ook een tegenprestatie verwacht.</p>
    </div>
    <div>
      <h2>Er is iemand overleden</h2>
      <p>Het overlijden van een partner, kind of familielid is ingrijpend. In deze moeilijke tijd moet u vaak veel regelen, ook met de overheid. Controleer welke wijzigingen in belastingen en rechten op inkomen van de overheid op u van toepassing zijn, wat er van u verwacht wordt en hoe u een en ander kunt regelen.</p>
    </div>
    <div>
      <h2>Ik ben 18 jaar</h2>
      <p>Als u 18 jaar wordt bent u meerderjarig. Daaraan zijn vanuit de overheid ook een aantal rechten en plichten verbonden. Controleer welke wijzigingen in belastingen en rechten op inkomen van de overheid op u van toepassing zijn, wat er van u verwacht wordt en hoe u een en ander kunt regelen.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <h2>Zoeken op onderwerp</h2>
    <div class="columns">
      <ul class="list list--linked">
        <li><a href="#">Belastingen, uitkeringen en toeslagen</a></li>
        <li><a href="#">Buitenland: werken, wonen en reizen</a></li>
        <li><a href="#">Consumentenzaken</a></li>
        <li><a href="#">Cultuur, sport en vrije tijd</a></li>
        <li><a href="#">Familie, jeugd en gezin</a></li>
      </ul>
      <ul class="list list--linked">
        <li><a href="#">Immigratie, inburgering en integratie</a></li>
        <li><a href="#">Natuur en milieu</a></li>
        <li><a href="#">Ondernemen</a></li>
        <li><a href="#">Onderwijs</a></li>
        <li><a href="#">Overheid en democratie</a></li>
      </ul>
      <ul class="list list--linked">
        <li><a href="#">Rechtspraak en veiligheid</a></li>
        <li><a href="#">Verkeer, voertuigen en wegen</a></li>
        <li><a href="#">Werk en loopbaan</a></li>
        <li><a href="#">Wonen en leefomgeving</a></li>
        <li><a href="#">Zorg en gezondheid</a></li>
      </ul>
    </div>
  </div>
</div>

{{ render "@footer" }}
