{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="row row--image row--landing" style="background-image: url(../../images/temp/homepage-block-bg.png);">

  <div class="container">
    <div class="content--onimage">
      <h1>Producten en diensten</h1>

      <p class="intro--text">
        Alle producten en diensten van de overheid.
      </p>
    </div>
  </div>

</div>
<div class="row">

  <div class="container">

    <div class="columns">
      <div>
        <h2>In de buurt</h2>
        <p>Zoek in berichten en bekendmakingen van voornamelijk gemeenten, provincies en waterschappen.</p>
        <ul>
          <li><a href="#">Officiele bekendmakingen</a></li>
          <li><a href="#">Plaatselijke regelgeving</a></li>
        </ul>
      </div>
      <div>
        <h2>Producten &amp; diensten</h2>
        <p>Alle diensten van de overheid vindt u hier.</p>
        <ul>
          <li><a href="#">Link a</a></li>
          <li><a href="#">Link b</a></li>
      </div>
      <div>
        <h2>Overheidsinformatie</h2>
        <p>Informatie over diverse overheidsinstanties, gegroepeerd per thema.</p>
        <ul>
          <li><a href="#">Open data</a></li>
          <li><a href="#">Staatscourant</a></li>
          <li><a href="#">Overige producten en diensten</a></li>
        </ul>
      </div>
      <div>
        <h2>Contactinformatie</h2>
        <p>In dit onderdeel staan de namen, adressen en andere contactgegevens van de Nederlandse overheidsorganisaties.</p>

        <ul>
          <li><a href="#">Gemeenten</a></li>
          <li><a href="#">Provincies</a></li>
          <li><a href="#">Waterschappen</a></li>
          <li><a href="#">Overige instellingen</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ render "@footer" }}
