<form data-decorator="init-formredirecter">

  <p>
    De waarde van dit veld wordt automatisch bijgevoegd aan de bestaande URL; de pagina zal automatisch doorverwijzen.
  </p>
  <p>
    Beschikbare configuratie:
  </p>
  <ul>
    <li>Veld selector: data-config='{"field":"#field#"}'</li>
  </ul>

  <input class="js-form-redirecter__field" value="abc/def/g?appel=peer" />

  <button type="submit">Verzenden</button>

</form>
