<form data-decorator="init-formredirecter">

  <p>
    The value of this field get's added to the base URL; the page will redirect automaticly.
  </p>
  <p>
    It's possible to assign custom input element, data-config='{"field":"#field#"}'
  </p>
  <input class="js-form-redirecter__field" value="abc/def/g?appel=peer" />

  <button type="submit">Verzenden</button>

</form>
