.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba( $black, .5 );
  display: flex; // so that we can use auto vertical margins
  align-items: center;
  padding: 1em;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity .5s;
  z-index: 2;

  &__content {
    max-width: 32em;
    background: $white;
    border: 1px solid $lightGrey;
    padding: 1.5em;
    margin: auto;
    position: relative;
  }

  &--off-screen {
    opacity: 0;
    position: absolute;
    left: -100%;
  }

  &--hidden {
    &[hidden] {
      display: none;
    }
  }

  &__buttonpane {
    margin-top: 1em;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 4em;
    height: 4em;
    border: none;
    background-color: transparent;
    text-indent: -9999em;
    background: {
      image: $modalCloser;
      repeat: no-repeat;
      position: center center;
    };

    &:hover {
      background-image: $modalCloserHover;
    }
  }
}
