.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba( $black, .5 );
  display: flex; // so that we can use auto vertical margins
  align-items: center;
  padding: 1em;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity .5s;
  z-index: 2;
  cursor: default;

  &__inner {
    max-width: 32em;
    background: $white;
    border: 1px solid $lightGrey;
    padding: 1.5em;
    margin: auto;
    position: relative;
  }

  &--filter {
    position: relative;
    display: block;
    right: 0;
    bottom: 0;
    padding: 0;
  }
  &.is-open {
    position: fixed;
    display: block !important;
  }
  // &--filter &__inner {
  //   max-width: 100%;
  //   position: fixed;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  // }

  &--wide &__inner {
    max-width: 53em;
  }
  &--wide &__content {
    padding-top: em(56);
    padding-bottom: em(56);
  }

  &__content {
    overflow: auto;
    padding: 0 1em;

    ol {
      padding-left: 1em;
    }
  }

  &--off-screen {
    opacity: 0;
    position: absolute;
    left: -100%;
  }

  &--hidden {
    &[hidden] {
      display: none;
    }
  }

  &__buttonpane {
    margin-top: 2em;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 4em;
    height: 4em;
    border: none;
    background-color: transparent;
    text-indent: -9999em;
    cursor: pointer;
    background: {
      image: $modalCloser;
      repeat: no-repeat;
      position: center center;
    };

    &:hover {
      background-image: $modalCloserHover;
    }
  }

  &--tooltip {
    background: none;

    .modal__inner {
      border-radius: 6px;

      .modal__content {
        background: $white;
        padding: 0;
      }

      .modal__close {
        top: 1em;
        right: 1em;
      }
    }
  }
}
