<p>Deze pagina demonstreert de KOOP modal.</p>
<p>Als voorbeeld hieronder een button die het openen van een modal triggert.</p>
<p><button type="button" data-decorator="init-modal" data-handler="open-modal" data-modal="modal-1" class="button">Open modal</button></p>
<div id="modal-1" class="modal {{#if initClosed }}modal--off-screen{{/if}}" {{#if initClosed }}hidden{{/if}} role="alert">
  <div class="modal__inner">
    <div class="modal__content">
      <h2>Voorbeeld</h2>
      <p>Dit is een voorbeeld van een modal.</p>
      <p>Dit is een voorbeeld van een modal.</p>
      <p>Dit is een voorbeeld van een modal.</p>
      <p>Dit is een voorbeeld van een modal.</p>
      <p>Dit is een voorbeeld van een modal.</p>
      <p>Dit is een voorbeeld van een modal.</p>
      <p>Dit is een voorbeeld van een modal.</p>
      <p>Dit is een voorbeeld van een modal.</p>
      <p>Dit is een voorbeeld van een modal.</p>
    </div>
    <button type="button" data-handler="close-modal" class="modal__close">Sluit</button>
  </div>
</div>
