<p><button type="button" data-decorator="init-modal" data-config='{"function":"kpm", "action":"push", "data":"data"}' data-handler="open-modal" data-modal="modal-1" class="button">{{ openButton }}</button></p>
<div id="modal-1" class="modal {{#if initClosed }}modal--off-screen{{/if}}" {{#if initClosed }}hidden{{/if}} role="alert">
  <div class="modal__inner">
    <div class="modal__content">
      {{{ text }}}
    </div>
    <button type="button" data-handler="close-modal" class="modal__close">
      <span class="visually-hidden">{{ closeButton }}</span>
    </button>
  </div>
</div>

<script id="data" type="application/json">
{
  "org": 10,
  "items": ["one","two"]
}
</script>
