.search {
  overflow: hidden;
  position: relative;
  width: 17em;

  .search__term {
    -webkit-appearance: none;
    transition: width 0.4s ease-in-out;
    position: absolute;
    right: 5em;
    width: 12em;
    height: 5em;

    &--hidden {
      width: 0;
      border: 0;
      padding: 0;
    }
  }

  .search__submit {
    transition: none;
    width: 5em;
    height: 5em;
    position: absolute;
    right: 0;
  }
}
