<li class="themeblock__item">
  <a class="themeblock__link {{ modifier }}" href="{{ link }}">
    <h3 class="themeblock__title">{{ theme-title }}</h3>
    <p class="themeblock__counter">{{ counter }} <span class="visually-hidden">sets</span></p>
  </a>
</li>
