<h1>Scrollen naar een onderdeel</h1>
<p>
  Functionaliteit om te scrollen naar een onderdeel van de pagina (middels ankers) en maakt het menu-item uitgelicht.
</p>
<ul>
  <li>De bovenliggende container moet voorzien worden van de class "init-scroll-chapter"</li>
  <li>De onderdelen/hoofdstukken op de pagina moeten worden voorzien van een omliggende container met de class "js-scrollSection"</li>
  <li>Gebruik het 'nav-sub'-component. De nav-subitems zullen automatisch werken als ankers met deze smooth-scrolling, zodra er een anker link in de href staat</li>
</ul>
