ul,
ol {
  padding-left: 1em;
}

.list--unstyled {
  list-style: none;
  padding-left: 0;
}

.list--linked {
  list-style: none;
  padding-left: 0;

  li {
    background: {
      position: 0 .5em;
      repeat: no-repeat;
      image: $dartRightBlueIcon;
      size: 6px 9px;
    }

    a {
      padding-left: 1em;
      text-decoration: none;
      display: block;
    }
  }
}
