del {
  background: $lightRed;
  border: 1px solid $darkRed;
  color: $darkBlue;
  padding: 0.25em;
}

ins {
  background: $lightGreen;
  border: 1px solid $darkGreen;
  color: $darkBlue;
  padding: 0.25em;
}
