.browse {
  margin-bottom: em(16);

  &__list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      &.is-active {
        background-color: $lightBlue;
        color: $darkBlue;
        text-decoration: none;
      }
    }

    a {
      display: block;
      border-bottom: 2px solid $lightGrey;
      padding: .95em 2em .95em 1em;
      background-color: $white;
      text-decoration: none;
      overflow: hidden; // hold floats
      background: {
        image: $doubleRightIcon;
        repeat: no-repeat;
        position: right .5em center;
        size: 1em;
      };

      &:hover {
        background-color: $lightBlue;
        color: $darkBlue;
        text-decoration: none;
      }
    }
  }

  &__item-date {
    display: block;
  }

  &__count {
    float: right;
  }

  &--icons {

    .browse__list .browse__item:not(.browse__item--arrowed) a {
      background-image: none;
    }

    .browse__list a {
      padding-left: 2em;
      position: relative;

      img {
        position: absolute;
        width: 1.25em;
        height: 1.25em;
        left: .25em;
        top: 1.05em;
      }

      svg {
        fill: $darkBlue;
      }
    }
  }
}
