.facet {
	margin: 0 0 .25em 0;

	label {
		width: 70%;
		float: left;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding-right: 2em;
	}

	span {
		width: 30%;
		float: right;
	}

	&::after {
		content: '';
		width: 100%;
		clear: both;
		display: block;
	}

	&.checked label,
	&.checked span {
		font-weight: 700;
	}
}