a {
  color: $darkBlue;
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  outline: 2px solid transparent;
  outline-offset: .5em;
  transition: color $fastEaseInOut, outline-offset $fastEaseInOut;

  &[href*="//"]:not(.button):not([href*=".overheid.nl/"]):not([href*=".officielebekendmakingen.nl/"]),
  &[rel="external"] {
    padding-right: 1.25em;
    margin-right: .25em;
    background: {
      repeat: no-repeat;
      image: $externalLinkIcon;
      position: right 3px;
      size: 13px 12px;
    }
    .related--primaryBlue & {
      background-image: $externalLinkWhiteIcon;
    }
  }

  &:focus {
    outline-color: $focus;
    outline-offset: 0;
  }

  &:hover {
    text-decoration: underline;
    color: $primaryBlue;
    outline: none;
  }

  &:active {
    color: $mediumBlue;
  }
}

p a {
  text-decoration: underline;
}



.link {

}

.link--back {
  background: {
    position: 0 .325em;
    repeat: no-repeat;
    image: $dartLeftIcon;
    size: 6px 9px;
  }
  padding-left: 1em;
}
