<div {{#if id}}id="{{id}}"{{/if}} class="alert {{ modifier }} {{#if fixed }} show {{/if}}" role="alert">
  {{#if heading}}<h2 class="alert__heading">{{{ heading }}}</h2>{{/if}}
  <div class="alert__inner">
    {{{ text }}}

    {{#if fixed}}
    <button class="alert__remove" data-handler="close-alert"><span class="visually-hidden">Sluiten</span></button>
    {{/if}}
  </div>
</div>
