<div class="relevances">

  <a href="#">Toon relevante elementen (4)</a>

  <fieldset class="form__element checkboxgroup">
    <label for="option-1">
      <input type="checkbox" id="option-1">Artikel 1.1
    </label>
    <label for="option-2">
      <input type="checkbox" id="option-2">Artikel 1.2
    </label>
    <label for="option-3">
      <input type="checkbox" id="option-3">Artikel 1.3
    </label>
    <label for="option-4">
      <input type="checkbox" id="option-4">Artikel 1.4
    </label>
  </fieldset>

  <ul class="list--metadata">
    <li>Wetten</li>
    <li>Regelgeving</li>
    <li>Beleid</li>
  </ul>

</div>
