input[type="text"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="password"],
input[type="email"],
textarea,
select {
  background: $white;
  border: 1px solid $mediumGrey;
  line-height: 1.5;
  font-family: inherit;
  padding: 0 .5em;
  font-size: .85em;
  border-radius: .5em;

  &::placeholder {
    color: $darkGrey;
  }



  &.input--error {
    border: 1px solid $red;

    &::placeholder {
      color: $red;
    }
  }

  &:disabled,
  &[disabled],
  &[read-only] {
    background-color: $mediumGrey;
    color: $mediumGrey;

    &:focus {
      outline: none;
    }
  }
}


.form__chapter {
  &__heading {
    border-bottom: 1px solid $darkBlue;
    margin: 0.5em 0;
    h2, h3 {
      font-size: 1.15em;
      position: relative;
      display: inline-block;
      margin: 0 0 0 0; // needed for IE11 (strange)
    }
  }
}

.form {
  &__row {
    margin-bottom: em(8);

    &--medium {
      margin-bottom: em(16);
    }
    &--large {
      margin-bottom: em(24);
    }
  }
}
.form__element {
  border: none;
  margin: 0 0 .5em 0;
  float:left;
  width: 100%;

  &:not(.radiogroup),
  &:not(.checkboxgroup) {
    padding: 0;
  }

  &--fixed-view {
    display: flex;
    flex-wrap: wrap;
  }

  &--fixed-view &__label {
    flex: 1 0 40%;
    @media (max-width: 50em) {
      padding-top: 0;
    }
  }
  &--fixed-view &__inputs {
    flex: 2 0 60%;
  }
  &--fixed-view .radiogroup,
  &--fixed-view .inline-group {
    > label {
      display: block !important;
    }
  }

  &__label {
    @media (min-width: 50em) {
      float:left;
      width: 40%;
    }
    padding-top: 0.25em;
  }

  &__inputs {
    @media (min-width: 50em) {
      float:right;
      width: 60%;
    }
  }

  &__label ~ &__inputs {
    margin-left: 0;
  }

  legend {
    padding: 0;
    font-weight: 700;

    &.form__intro {
      font-size: 1.25em;
      color: $darkBlue;
    }
  }

  label {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    &.label--large {
      font-size: 1.25em;
      margin-top: 0.5em;
    }
  }

  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    display: block;
    width: 100%;
    margin: 0 0 .5em;

    &.input--xsmall {
      max-width: 4em;
      margin-right:.5em;
      display: inline-block;
    }

    &.input--small {
      max-width: 8em;
      margin-right:.5em;
      display: inline-block;
    }

    &.input--medium {
      max-width: 12em;
      display: inline-block;
      margin-right:.5em;

    }
  }

  select[multiple] {
    min-height: 7em;
  }

  input[type="text"].datepicker__input {
    margin: 0;

    & ~ .ui-datepicker-trigger {
      border: 0;
      padding: 0.5em;
      background: $datepickerTriggerBackgroundColor;
      // margin-left: -1em;
      position: absolute;
      // top: 0.375em;
      top: 0;
      right: 0;
      bottom: 0;
      width: 4em;
      border-bottom: 1px solid $datepickerTriggerBackgroundColor;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;

      img {
        width: 24px;
        height: 20px;

      }
    }
  }

  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  input[type="password"],
  input[type="email"],
  select {
    height: 2.5em;
  }

  input[type="date"],
  input.datepicker__input {
    width: 10.5em;
    // margin: 0 .5em; // why do we need this?
    display: inline-block;
  }

  small {
    line-height: 2;
    color: $darkerGrey;
  }

  label + small {

    @media ( min-width: 50em ) {
      float: right;
    }
  }

  &.radiogroup,
  &.checkboxgroup {

    label {
      display: block;
      // width: 100%; // todo: remove @ 16 aug
      font-weight: 400;
      line-height: 1.5;
    }


    &.inline-group {
      label {
        display: inline-block;
        margin-right: .5em;
      }
    }

    input {
      margin: 0 .5em 0 0;
    }

    &--many {

      position: relative;

      ul {
        max-height: 10em;
        overflow-y: scroll;
        padding: 0 .5em;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 10px;
          pointer-events: none;
          background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(204, 204, 204, .5));
        }
      }
    }
  }

  .radiogroup,
  .checkboxgroup {
    margin: 0;
  }

  .form__error {
    color: $red;
  }

  .separator {
    border-top: 1px solid $lighterGrey;
  }

  &--search { // will be removed shortly
    clear: both;
    min-height: 2.6em;
    margin: 0 0 2em 0;

    input[type="text"],
    button.button {
      float: left;
    }

    input[type="text"] {
      max-width: 60%;
      margin: 0;
      height: 3.1em;
    }

    button.button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &--pagesearch {
    margin: 0;
    float: none;
    width: auto;

    input[type="text"],
    button.button {
      display: block;
      width: 100%;
    }

    input[type="text"] {
      height: 2.6em;
      font-size: 1em;
    }

    @media ( min-width: 50em ) {
      input[type="text"],
      button.button {
        display: inline;
        width: inherit;
        margin: 0;
      }

      input[type="text"] {
        width: calc(100% - 8em);
        margin-right: 1em;
      }


    }
  }
}



.daterange {
  div:not('.question-explanation') {
    display: inline-block;
    margin-right: 1em;
  }

  select {
    width: auto;
  }
}

.form__options {
  line-height: .5;

  li {
    list-style: none;
    display: inline-block;
    padding-right: .25em;


    &::after {
      content: '|';
      position: relative;
      margin-left: .25em;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}

.form__fixedWidth {
  label {
    display: inline-block;
    min-width: 40%;
  }

  label + .question-explanation-link,
  label ~ .question-explanation-link {
    min-width: auto;
  }
}

.radiogroup,
.checkboxgroup {
  label {
    display: block;
    // width: 100%; // todo: remove @ 16 aug
    font-weight: 400;
    line-height: 1.5;
  }
}
