.alert {
  border: 1px solid $mediumGrey;
  background: $lightGrey;
  background-size: 1em;
  background-position: 1em 1.25em;
  background-repeat: no-repeat;
  border-radius: $borderRadius;
  padding: 1em;
  margin: 1em 0;
  padding-left: 3em;
  background-image: $infoIcon;

  &--update {
    background-color: lighten($orange, 50%);
    border-color: $orange;
    border-radius: 0;
    margin: .5em 0;
    padding: 0.5em 1em 0;

    h3 {
      color: $black;
    }

    *:not(h3):not(a) {
      background: lighten($orange, 30%);
      padding: 0 .5em;
    }
  }

  &--update &__inner {
    background: lighten($orange, 30%);
    padding: .5em;
    margin-bottom: 1em;
    p, ul, ol {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--warning {
    background-color: lighten($orange, 50%);
    background-image: $warningIcon;
    border-color: $orange;
    padding-left: 2.5em;
  }

  &--info {
    background-color: lighten($primaryBlue, 50%);
    background-image: $infoIcon;
    border-color: $primaryBlue;
    padding-left: 2.5em;
  }

  &--success {
    border-color: $green;
    padding-left: 2.5em;
    background-color: $lightGreen;
    background-image: $okIconGreen;
  }

  &--fixed {
    position: fixed;
    left: 0;
    border-radius: 0;
    width: 100%;
    margin-top: 0;
    z-index: 9999;
    visibility: hidden;
    padding-right: 3em;

    .alert__remove {
      position: absolute;
      width: 2em;
      height: 2em;
      top: 1.5em;
      right: .5em;
      bottom: 0;
      background: $iconCross no-repeat center center;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $mediumGrey;
      }

      &:focus {
        outline: 2px solid #ffb612;
        outline-offset: 0;
      }
    }

    @include fade-in-and-out(-58px, 0, 0.75s);
  }

  &--small {
    padding: .1em .5em;
    margin: 0.25em 0;
    background-image: none;
    border: none;
    display: table;
  }

  &--lg {
    font-size: em(14);
    padding: 1.5em 3em 1.325em 4em;
    background-size: em(32);
    background-position: 1em center;

    @media ( min-width: $breakpointDesktop ) {
      font-size: 1em;
      padding: 2em 3em 2em 7.5em;
      background-size: em(56);
      background-position: 2em center;
    }
  }
  &--lg &__heading {
    font-size: em(22);
    font-weight: bold;
    margin: 0;
  }
}
