.steps {
  position: relative;
  margin-left: 0;
  padding-left: 0;

  &__step {
    display: inline-block;
    padding: .5em 1em .5em 2em;
    position: relative;
    background: $lightBlue;
    font-weight: 700;
    font-size: .875rem;
    margin-bottom: .25em;

    &:first-child {
      padding-left: 1em;
    }

    &:after {
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 18px solid $lightBlue;
      content: "";
      height: 0;
      position: absolute;
      right: -18px;
      top: 0;
      width: 0;
      z-index: 2;
    }

    &:before {
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      border-left: 22px solid white;
      content: "";
      height: 0;
      position: absolute;
      right: -22px;
      top: -4px;
      width: 0;
      z-index: 2;
    }


    &.is-active {
      background: $mediumBlue;
      &:after {
        border-left: 18px solid $mediumBlue;
      }
    }
  }
}
