<div class="form__element">

  <label for="textarea--0">Uw opmerking</label>
  <small>verplicht veld</small>
  <textarea class="textarea" id="textarea--0" placeholder="Uw opmerkingen" rows="5"></textarea>


</div>
