<div class="form__element form__fixedWidth">

<label>Kies iets</label>

<select class="multipleSelect" multiple name="language">
  {{#each options }}
    <option value="{{text}}">{{text}}</option>
  {{/each}}
</select>

</div>
