.browse {
  background-color: $lightGrey;

  &__list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }

    a {
      display: block;
      margin-bottom: 2px;
      padding: 1em 2em 1em 1em;
      background-color: $white;
      text-decoration: none;
      overflow: hidden; // hold floats
      background: {
        image: $doubleRightIcon;
        repeat: no-repeat;
        position: right .5em center;
        size: 1em;
      };

      &:hover {
        background-color: $lightBlue;
        color: $darkBlue;
        text-decoration: none;
      }
    }
  }

  &__count {
    float: right;
  }

  &--icons {

    .browse__list a {
      background-image: none;
    }

    .browse__list a {
      padding-left: 2em;
      position: relative;

      img {
        position: absolute;
        width: 1.25em;
        height: 1.25em;
        left: .25em;
        top: 1.125em;
      }

      svg {
        fill: $darkBlue;
      }
    }
  }
}
