.subselection {

  &--fixed {
    float: right;
  }

  &__trigger {
    background-color: transparent;
    text-align: left;
    font-size: 1em;
    border: 0;
    font-family: inherit;
    color: $darkBlue;
    text-decoration: underline;
    display: inline-block;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }

    &.is-filled {
      @extend .icon;
      @extend .icon--edit;
    }
    &.is-empty {
      @extend .icon;
      @extend .icon--list;
    }
  }

  &--secondary &__trigger {
    &.is-empty {
      display: block;
      width: 100%;
      border: 2px solid $darkBlue;
      background: white;
      padding: .25em .5em;
    }
    &.is-filled {

    }
  }

  &__summary {
    display: block;

    &:not(:empty) {
      padding-top: .5em;
    }

    > abbr {
      .subselection__summaryitem__remove {
        display: none;
      }
    }

    > div:not(.link),
    > span {
      @extend .form__selectedfilter;
      @extend .group;
      padding-right: 1.75em;
      position: relative;
      pointer-events: none;

      &:hover {
        box-shadow: 0 0 13px rgba(0,0,0,0.3);
      }
      &:active {
        background: $darkBlue;
        color: white;
      }
      &:active .subselection__summaryitem__remove {
        background-image: $iconCrossWhite;
      }

      .subselection__summaryitem__remove {
        position: absolute;
        background: $iconCrossBlue no-repeat center;
        background-size: 0.4em;
        width: 30px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        border: 0;
        cursor: pointer;
        pointer-events: auto;
        display: inline-block;

        &::-moz-focus-inner {
          border: none;
          padding: 0;
        }

        &:focus {
          z-index: 1;
        }
      }

    }
  }
}

/* exception */
.listbreaker .subselection {
  font-size: 0.9em;
  min-width: 160px;
}
.listbreaker .subselection .modal {
  font-size: 1rem;
}
