.logo {
  position: relative;

  img {
    width: 150px;
    max-width: 150px;
    margin: .5em 0;

    @media ( min-width: $breakpointDesktop ) {
      width: 200px;
      max-width: 200px;
      margin: 0;
    }
  }

  &__you-are-here {
    margin: -.5em 0 0 .5em;
    color: $darkBlue;

    span {

      &::after {
        content: ' > ';
      }

      &:last-child {

        &::after {
          content: '';
        }
      }
    }
  }
}
