<div class="question-explanation" id="question-explanation-{{ id }}" data-decorator="hide-self">
  {{{ Helptext }}}
  <a href="#question-explanation-link-{{ id }}" class="question-explanation__close" data-handler="close-explanation">
    <span class="visually-hidden">
      {{ Text }}
    </span>
  </a>
</div>
