<address>
  <strong>KOOP</strong>
  Rijkskantoor Beatrixpark<br />
  Wilhelmina van Pruisenweg 52<br />
  2595 AN Den Haag<br />
  Telefoon: +31 070 123 45 67
</address>

<address>
  <strong>Alexander Fase</strong>
  <a href="mailto:alexander.fase@koop.overheid.nl">alexander.fase@koop.overheid.nl</a>
</address>
