<div class="well">

  <form {{ helpers.attr(attributes, {class: 'form'}) }}>

    <fieldset class="form__element">

      <legend class="form__intro">Inloggen</legend>

      {% for key in vars|keys|default() if not (key starts with '#') %}
      {% include "@input" with vars[key] only %}
      {% endfor %}

    </fieldset>

    {% include "@button" %}

    <ul class="form__options pull-right">
      <li><a href="/berichten_over_uw_buurt_registreren">Registreer bij Naam service</a></li>
      <li><a href="/berichten_over_uw_buurt_ww_vergeten">Wachtwoord vergeten</a></li>
    </ul>

  </form>

</div>