<div class="form__element form__element--pagesearch">
  <label class="visually-hidden" for="input-search--sidebar">Vul uw zoekterm in</label>
  <input type="text" id="input-search--sidebar" class="input" placeholder="Bijvoorbeeld: verkiezingsuitslag 2018" />
  <button class="button button--primary button--search" type="submit">Zoeken</button>
</div>

