<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

         <h1 class="kamervraagomschrijving_kop no-toc"><a id="d16e45" name="d16e45"></a>Vragen van de leden VanBommel en VanNispen (beiden SP) aan de Ministers van Veiligheid
            en Justitie en van Buitenlandse Zaken over een farmaciebedrijf dat een medicijn voor
            executies levert (ingezonden 4&nbsp;maart 2015).
         </h1>
         <h1 class="kamervraagomschrijving_kop no-toc"><a id="d16e47" name="d16e47"></a>Antwoord van Minister Koenders (Buitenlandse Zaken) en Minister Ploumen (Buitenlandse
            Handel en Ontwikkelingssamenwerking), mede namens de Staatssecretarissen van Financiën
            en Sociale Zaken en Werkgelegenheid (ontvangen 22&nbsp;april 2015)
         </h1>
         <h1 class="rectificatie_kop no-toc"><a id="d16e49" name="d16e49"></a>
            I.v.m. juiste versie

         </h1>
         <div class="vraag">
            <h2 class="stuktitel no-toc"><a id="d16e53" name="d16e53"></a>Vraag 1
            </h2>
            <p>Is het waar dat een medicijn van het farmaciebedrijf Mylan reeds bij executies in
               de Verenigde Staten is gebruikt en dat het bedrijf sinds deze week op papier een Nederlands
               bedrijf is?<a class="nootnum supernote-click-ID-2015Z03858-d37e61" href="#ID-2015Z03858-d37e61">1</a> Kunt u uw antwoord toelichten?
            </p>
         </div>
         <div class="vraag">
            <h2 class="stuktitel no-toc"><a id="d16e63" name="d16e63"></a>Antwoord 1
            </h2>
            <p>Het bericht dat de door Mylan geproduceerde rocuroniumbromide gebruikt wordt voor
               de doodstraf in de VS kan door het kabinet niet bevestigd worden. De informatie die
               bij het kabinet bekend is, is dat Mylan niet is ingegaan op verzoeken van onder andere
               APG om systematisch <em class="cur">uit te sluiten</em> dat zijn producten voor de doodstraf worden aangewend. Inderdaad is Mylan op dit
               moment een in Nederland gevestigde vennootschap.
            </p>
         </div>
         <div class="vraag">
            <h2 class="stuktitel no-toc"><a id="d16e73" name="d16e73"></a>Vraag 2
            </h2>
            <p>Is het waar dat de EU de export van hulpmiddelen voor de doodstraf heeft verboden?
               Welke regels gelden hier precies?
            </p>
         </div>
         <div class="vraag">
            <h2 class="stuktitel no-toc"><a id="d16e80" name="d16e80"></a>Antwoord 2
            </h2>
            <p>EU-verordening 1236/2005 verbiedt de uitvoer van goederen die uitsluitend te gebruiken
               zijn voor de doodstraf (en foltering). Deze verordening wordt momenteel herzien. Nederland
               zet zich er in Brussel actief voor in om het instrumentarium verder te versterken,
               onder andere om in specifieke gevallen te kunnen ingrijpen en export tegen te gaan,
               ook als de betreffende stof niet op de lijst staat of als de export niet vanuit Nederland
               plaatsvindt, maar wel gefaciliteerd wordt.
            </p>
            <p>Voor zover bij het kabinet bekend, vindt de productie van rocuroniumbromide door Mylan
               overigens niet in Nederland plaats, maar in India. Dat betekent dat de huidige Europese
               exportcontrole hierop niet van toepassing is.
            </p>
         </div>
         <div class="vraag">
            <h2 class="stuktitel no-toc"><a id="d16e89" name="d16e89"></a>Vraag 3
            </h2>
            <p>Deelt u de opvatting dat het zeer onwenselijk is dat een leverancier van hulpmiddelen
               voor executies in Nederland is gevestigd? Zo neen, waarom niet? Zo ja, wat kunt u
               doen om het bedrijf aan te sporen te stoppen met het leveren van hulpmiddelen voor
               executies?
            </p>
         </div>
         <div class="vraag">
            <h2 class="stuktitel no-toc"><a id="d16e96" name="d16e96"></a>Antwoord 3
            </h2>
            <p>Inderdaad is het niet wenselijk dat een Nederlandse onderneming stoffen produceert
               die voor de doodstraf worden gebruikt. Het kabinet kan niet bevestigen of dat geldt
               voor de producten van Mylan. Het Ministerie van Buitenlandse Zaken zal Mylan wijzen
               op haar verantwoordelijkheid conform de <em class="cur">UN Guiding Principles on Business and Human Rights</em> en de OESO-richtlijnen voor Multinationale Ondernemingen. Verder zal Nederland in
               EU-verband voorstellen om rocuroniumbromide toe te voegen aan de lijst behorend bij
               EU-verordening 1236/2005, zodat de Europese exportcontrole ook op deze stof van toepassing
               wordt.
            </p>
         </div>
         <div class="kamervraagopmerking">
            <h2 class="kamervraagopmerking_kop"><a id="d16e106" name="d16e106"></a>Toelichting:
            </h2>
            <p>Deze vragen dienen ter aanvulling op eerdere vragen terzake van het lid Sjoerdsma
               (D66), ingezonden 4&nbsp;maart 2015 (vraagnummer <a href="kv-tk-2015Z03855.html" title="link naar publicatie kv-tk-2015Z03855">2015Z03855</a>)
            </p>
         </div>
         <div id="noten">
            <hr>
            <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-2015Z03858-d37e61">
               <h5 class="note-close"><a class="note-close" href="#close-ID-2015Z03858-d37e61">X</a> Noot
               </h5><sup><span class="nootnum"><a id="ID-2015Z03858-d37e61" name="ID-2015Z03858-d37e61"></a>1</span></sup><p>«Nederlands farmaciebedrijf levert executie-medicijn», <a href="http://nos.nl/nieuwsuur/artikel/2022507-nederlands-farmaciebedrijf-levert-executie-medicijn.html" title="link naar http://nos.nl/nieuwsuur/artikel/2022507-nederlands-farmaciebedrijf-levert-executie-medicijn.html" class="externe_link">http://nos.nl/nieuwsuur/artikel/2022507-nederlands-farmaciebedrijf-levert-executie-medicijn.html</a>, 3&nbsp;maart 2015.
               </p>
            </div>
         </div>

            </div>

    </article>

  </div>
</div>

