<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

    <div id="broodtekst" class="stuk broodtekst-container">

      <h1 class="kamervraagomschrijving_kop no-toc">
        <a id="d16e41" name="d16e41"></a>Vragen van het lid Kooiman (SP) aan de minister van Veiligheid en Justitie over uitbetaling van overuren bij de politie
        (ingezonden 15&nbsp;augustus 2013).
      </h1>
      <h1 class="kamervraagomschrijving_kop no-toc">
        <a id="d16e43" name="d16e43"></a>Mededeling van minister Opstelten (Veiligheid en Justitie) (ontvangen 12&nbsp;september 2013).
      </h1>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e47" name="d16e47"></a>Vraag 1
        </h2>
        <p>Klopt het dat er bij de politie regionale eenheden zijn waar men geen overuren meer krijgt uitbetaald? Zo ja, kunt u
          aangeven om welke regio’s het gaat?
        </p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e54" name="d16e54"></a>Vraag 2
        </h2>
        <p>Klopt het dat dit beleid niet geldt voor alle regionale eenheden in het land? Zo ja, kunt u uitleggen hoe dit strookt
          met het begrip Nationale Politie en uw streven om de arbeidsomstandigheden en -voorwaarden zoveel mogelijk gelijk te
          trekken voor iedereen werkzaam bij de politie?
        </p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e61" name="d16e61"></a>Vraag 3
        </h2>
        <p>Hoe komt het dat bij sommige eenheden overuren niet meer uitbetaald (kunnen) worden?</p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e68" name="d16e68"></a>Vraag 4
        </h2>
        <p>Klopt het dat de gelden hiervoor halverwege het jaar al op waren?</p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e75" name="d16e75"></a>Vraag 5
        </h2>
        <p>Indien het antwoord op de voorgaande vraag bevestigend is, is er dan sprake van te weinig beschikbare middelen waardoor
          het budget al is uitgeput, of is er sprake van te weinig mankracht voor de hoeveelheid werk die gedaan moet worden,
          waardoor een beroep moet worden gedaan op het maken van overuren door het zittende personeel?
        </p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e82" name="d16e82"></a>Vraag 6
        </h2>
        <p>Deelt u de zorg dat bij deze eenheden de werkdruk straks nog hoger wordt als agenten hun overuren in tijd op moeten nemen
          en dus vaker afwezig zullen zijn? Zo nee, waarom niet?
        </p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e89" name="d16e89"></a>Vraag 7
        </h2>
        <p>Wat gaat u doen met dit signaal? Bent u bereid om deze rem op het uitbetalen van overuren weer terug te draaien, zodat
          agenten die overuren maken deze weer gewoon krijgen uitbetaald, conform uw toezegging aan de Nederlandse Politiebond
          tijdens het maandelijks overleg?
          <a class="nootnum supernote-click-ID-2013Z15833-d38e94" href="#ID-2013Z15833-d38e94">1</a> Zo nee, waarom niet?
        </p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e99" name="d16e99"></a>Vraag 8
        </h2>
        <p>Wat gaat u doen om te zorgen dat er binnen de Nationale Politie daadwerkelijk geen verschillen meer zijn in arbeidsvoorwaarden,
          of je nu in Groningen, Amsterdam of Maastricht werkt?
        </p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e106" name="d16e106"></a>Vraag 9
        </h2>
        <p>Deelt u de analyse dat het gewijzigde beleid rond overuren is ingegeven door de wens om te bezuinigen op personeelskosten?
          Zo nee, waarom niet? Zo ja, welke bezuinigingen vinden er op dit moment nog meer plaats binnen de Nationale Politie
          die gevolgen hebben voor arbeidsomstandigheden en inkomens van agenten?
        </p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e114" name="d16e114"></a>Vraag 10
        </h2>
        <p>Klopt het dat er eenheden zijn waar agenten met een nachtdienst van negen uur niet meer van 22.00 uur tot 7.00 uur worden
          ingepland maar van 23.00 uur tot 8.00 uur, omdat de uren tussen 21.00 uur en 7.00 uur een nachttoeslag kennen en men
          op deze manier een uur kan besparen op die toeslag? Wat vindt u van deze ontwikkeling? Kent u de praktijk van de werkvloer
          en dus de aanslag op de energie van agenten die een nachtdienst moeten draaien?
        </p>
        <p>Bent u op de hoogte van de gevaren voor de verkeersveiligheid wanneer agenten ‘s ochtends na zo’n nieuwe nachtdienst
          een uur langer wakker moeten blijven, waarna zij vaak nog naar huis moeten rijden met hun auto?
        </p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d16e123" name="d16e123"></a>Vraag 11
        </h2>
        <p>Deelt u de mening dat het bezuinigingsvoordeel van een uurtje op de nachttoeslag niet opweegt tegen de risico’s? Zo ja,
          bent u bereid hierover duidelijke afspraken te maken met de regionale eenheden en kunt u de Kamer op de hoogte houden
          van de uitkomsten hiervan? Zo nee, waarom niet?
        </p>
      </div>
      <div class="kamervraagopmerking">
        <h2 class="kamervraagopmerking_kop">
          <a id="d16e130" name="d16e130"></a>Mededeling
        </h2>
        <div class="alineagroep">
          <p>Hierbij deel ik u mede dat de schriftelijke vragen van het lid Kooiman (SP) van uw Kamer aan de Minister van Veiligheid
            en Justitie over uitbetaling van overuren bij de politie (ingezonden 15&nbsp;augustus 2013) niet binnen de gebruikelijke
            termijn kunnen worden beantwoord, aangezien nog niet alle benodigde informatie is ontvangen.
          </p>
          <p>Ik streef ernaar de vragen zo spoedig mogelijk te beantwoorden.</p>
        </div>
      </div>
      <div id="noten">
        <hr>
        <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-2013Z15833-d38e94">
          <h5 class="note-close">
            <a class="note-close" href="#close-ID-2013Z15833-d38e94">X</a> Noot
          </h5>
          <sup>
            <span class="nootnum">
              <a id="ID-2013Z15833-d38e94" name="ID-2013Z15833-d38e94"></a>1</span>
          </sup>
          <p>
            <a href="http://www.politiebond.nl/informatie-zoeken/werkgever-komt-afspraken-uitbetalen-overuren-na" title="link naar http://www.politiebond.nl/informatie-zoeken/werkgever-komt-afspraken-uitbetalen-overuren-na"
              class="externe_link">http://www.politiebond.nl/informatie-zoeken/werkgever-komt-afspraken-uitbetalen-overuren-na
              <!--Url http://www.politiebond.nl/informatie-zoeken/werkgever-komt-afspraken-uitbetalen-overuren-na is niet bereikbaar. Oorzaak [Timeout], Foutmelding [Url [http://www.politiebond.nl/informatie-zoeken/werkgever-komt-afspraken-uitbetalen-overuren-na] kon niet opgehaald worden binnen [15000] ms. Oorzaak : [The host did not accept the connection within timeout of 15000 ms]]-->
            </a>
          </p>
        </div>
      </div>

    </div>    </article>

  </div>
</div>
