<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

    <div id="broodtekst" class="stuk broodtekst-container">

      <h1 class="kamervraagomschrijving_kop no-toc">
        <a id="d4001e42" name="d4001e42"></a>Vragen van het lid Karabulut (SP) aan de staatssecretaris van Sociale Zaken en Werkgelegenheid over het schrappen
        van duizenden ID en WIW-banen bij gemeenten (ingezonden 31&nbsp;augustus 2011).
      </h1>
      <h1 class="kamervraagomschrijving_kop no-toc">
        <a id="d4001e44" name="d4001e44"></a>Antwoord van staatssecretaris De Krom (Sociale Zaken en Werkgelegenheid) (ontvangen 7&nbsp;september 2011).
      </h1>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d4001e48" name="d4001e48"></a>Vraag 1 en 2
        </h2>
        <p>Hoe verhoudt uw uitspraak dat «150&nbsp;000 tot 200&nbsp;000 van de ongeveer 355&nbsp;000 mensen in de bijstand kunnen
          werken» zich tot het ontslag van duizenden werknemers met een in- en doorstroombaan (ID) Wet inschakeling werkzoekenden
          (Wiw) baan in o.a. Amsterdam, Den Haag, Nijmegen, Haarlem, Groningen, Roosendaal en Arnhem?
          <a class="nootnum supernote-click-ID-2011Z16638-d29e98"
            href="#ID-2011Z16638-d29e98">1</a>
          <a class="nootnum supernote-click-ID-2011Z16638-d29e105" href="#ID-2011Z16638-d29e105">2</a>

        </p>
        <p>Kunt u een overzicht geven van het totaal aantal gemeenten, aantallen ID-/Wiw-ers, functies, instellingen en ontslagen?
          Zo nee, waarom niet en kunt u dat in ieder geval doen voor onder vraag 1 genoemde gemeenten?
        </p>
      </div>
      <div class="antwoord">
        <h2 class="stuktitel no-toc">
          <a id="d4001e63" name="d4001e63"></a>Antwoord 1 en 2
        </h2>
        <p>De regering vindt dat iedereen die kan werken, moet werken. Iedereen moet er dan ook alles aan doen om dat werk te verwerven
          en is hier in de eerste plaats zelf voor verantwoordelijk. Waar nodig kunnen gemeenten ondersteuning bieden. Gemeenten
          zijn in hoge mate vrij om die instrumenten in te zetten die nodig zijn. Dat loopt van opleidingen en leerwerkplekken
          tot begeleiding op de werkvloer.
        </p>
        <p>In 2004 is – voortvloeiend uit de in het Convenant Gesubsidieerde Arbeid 2003 vastgelegde afspraken – de regeling voor
          gesubsidieerde arbeid afgeschaft en zijn de hiermee gemoeide middelen in het werkdeel WWB opgenomen. Om de overgang
          van ID-banen naar reguliere arbeid te stimuleren is toentertijd rijksbreed €&nbsp;170 mln. beschikbaar gesteld. Gesubsidieerde
          arbeid is kostbaar en legt een relatief groot beslag op het re-integratiebudget. Mede om die redenen heeft een groot
          aantal gemeenten sindsdien het volume gesubsidieerde arbeid (bijna) volledig afgebouwd. Deze afbouw is weergegeven
          in onderstaande grafiek.
        </p>
        <img src="https://zoek.officielebekendmakingen.nl/ah-tk-20102011-3574-001.png" width="423" height="246" alt="Aantal loonkostensubsidies gestart voor 1-1-2004 (ID/WIW banen) per ultimo">
        <p class="bijschrift">
          <strong class="vet">Aantal loonkostensubsidies gestart voor 1-1-2004 (ID/WIW banen) per ultimo</strong>
        </p>
        <p>
          Bron: CBS, Statistiek Re-integratie Gemeenten
        </p>
        <div class="alineagroep">
          <p>Wegens de decentralisatie is het aan de gemeenten in hoeverre en in welk tempo zij de gesubsidieerde arbeid afbouwen.
            Zij leggen over hun beleid verantwoording af aan de gemeenteraad, niet aan het Rijk. Er zijn daarom geen gedetailleerde
            gegevens beschikbaar over functies, instellingen of aantallen. Op macroniveau was eind 2010 sprake van 7&nbsp;700
            gesubsidieerde arbeidsplaatsen.
          </p>
        </div>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d4001e82" name="d4001e82"></a>Vraag 3, 4 en 5
        </h2>
        <p>Wat zijn de consequenties van het schrappen van ID-banen voor de instroom in andere uitkeringen zoals de WW, bijstand
          en de wajong (voor genoemde gemeenten)? Wat zijn de consequenties voor de aanspraak op toeslagen en armoederegelingen
          zoals huurtoeslag en bijzondere bijstand? Wat zijn de consequenties voor maatschappelijke instellingen zoals buurthuizen,
          scholen, sportverenigingen, culturele instellingen en hun activiteiten in buurten? Bent u bereid een maatschappelijke
          kosten- en batenanalyse te maken van de kosten die gemoeid zijn met een gesubsidieerde baan of een bijstandsuitkering?
          Zo nee, waarom niet?
        </p>
        <p>Deelt u de mening dat het ontslag van deze ID’ers zal leiden tot een hogere werkeloosheid omdat velen momenteel geen
          enkele kans maken vanwege leeftijd en/of beperkingen op de zogenoemde reguliere arbeidsmarkt? Zo ja, wilt u zich inspannen
          om samen met gemeenten, vakbonden en werkgevers deze banen te behouden en om te zetten in duurzame, reguliere banen?
          Zo nee, waar baseert u dat op? Mogen mensen die toch werkeloos raken dan bij u aankloppen voor een baan?
        </p>
        <p>Deelt u de mening dat deze werknemers, met vaak jarenlange werkervaring, niet een plek achter de geraniums of in de armoede,
          maar een eerlijke baan voor een eerlijk loon verdienen? Zo nee, waarom niet? Zo ja, welke acties gaat u ondernemen
          om dat te bewerkstelligen?
        </p>
      </div>
      <div class="antwoord">
        <h2 class="stuktitel no-toc">
          <a id="d4001e93" name="d4001e93"></a>Antwoord 3, 4 en 5
        </h2>
        <p>De afbouw van gesubsidieerde arbeid vindt plaats sinds 2004. De wijze van afbouw van WIW en ID-banen is een verantwoordelijkheid
          van gemeenten. Het is aan de betrokkenen zelf en instellingen waar zij werkzaam zijn, om tijdig te anticiperen op maatregelen
          die gemeenten hebben getroffen of zullen treffen. Mensen kunnen zich uiteraard wenden tot gemeenten/werkpleinen voor
          ondersteuning bij het vinden van werk.
        </p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d4001e100" name="d4001e100"></a>Vraag 6
        </h2>
        <p>Kunt u garanderen dat geen enkele werknemer – vanwege het schrappen van de ID-banen of WIW-banen – in een uitkeringssituatie
          terecht komt of onder het minimumloon komt te werken? Zo nee, waarom niet? Zo ja, bent u bereid om in overleg met gemeenten,
          werkgevers en vakbonden ons te informeren over de resultaten?
        </p>
      </div>
      <div class="antwoord">
        <h2 class="stuktitel no-toc">
          <a id="d4001e107" name="d4001e107"></a>Antwoord 6
        </h2>
        <p>Werknemers zijn primair zelf verantwoordelijk voor het vinden van een geschikte baan. Gemeenten en werkpleinen kunnen
          hierbij ondersteunen. Het gaat hierbij dus niet om het geven van garanties, maar om het – waar nodig met hulp vanuit
          de gemeente – recht doen aan de eigen verantwoordelijkheid van betrokkene.
        </p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d4001e114" name="d4001e114"></a>Vraag 7
        </h2>
        <p>Hoe groot is de bezuiniging op het re-integratiebudget van gemeenten in 2012, 2013, 2014 en 2015? Kunnen gemeenten het
          re-integratiebudget inzetten om de ID-banen te behouden totdat deze werknemers een reguliere baan met een eerlijk loon
          hebben? Zo nee, waarom niet? Zo ja, welk deel zou vanaf invoering van de Wet werken naar vermogen (Wwnv), besteed moeten
          worden om het loon van werknemers met een SW-contract conform CAO-SW te financieren
        </p>
      </div>
      <div class="antwoord">
        <h2 class="stuktitel no-toc">
          <a id="d4001e121" name="d4001e121"></a>Antwoord 7
        </h2>
        <p>Het kabinet is van mening dat de re-integratiemiddelen efficiënter en effectiever kunnen worden ingezet. Vanaf 2013 zal
          de regering de huidige re-integratiebudgetten voor Wajong, Wsw en WWB samenvoegen in een gebundeld re-integratiebudget.
          Gemeenten zijn verantwoordelijk voor het vormgeven van het re-integratie- en uitstroombeleid en de inzet van participatiemiddelen.
          De gemeenten behouden derhalve ook de mogelijkheid om gesubsidieerde arbeid in te zetten als één van de instrumenten
          voor de toeleiding naar werk. In onderstaande tabel is – zoals uw Kamer eerder is gemeld – de besparing weergegeven.
        </p>
        <table class="xml portrait" cellspacing="0" border="1" frame="hsides" rules="none">

          <colgroup>
            <col title="col1" class="pct52">
            <col title="col2" class="pct9">
            <col title="col3" class="pct9">
            <col title="col4" class="pct9">
            <col title="col5" class="pct9">
            <col title="col6" class="pct13">
          </colgroup>
          <thead class="left bottom thead">

            <tr class="left middle head-row2 xml2head">

              <th scope="col" class="left top border-row">&nbsp;</th>

              <th scope="col" class="right top border-row">

                <p>2012</p>

              </th>

              <th scope="col" class="right top border-row">

                <p>2013</p>

              </th>

              <th scope="col" class="right top border-row">

                <p>2014</p>

              </th>

              <th scope="col" class="right top border-row">

                <p>2015</p>

              </th>

              <th scope="col" class="right top border-row">

                <p>structureel</p>

              </th>

            </tr>

          </thead>
          <tbody class="left top tbody">
            <tr class="left middle odd">

              <th scope="row" class="left top">

                <p>Gerichte re-integratie en begeleiding ontschotte WWB, Wsw en Wajong</p>

              </th>

              <td class="right bottom">

                <p>– 400 </p>

              </td>

              <td class="right bottom">

                <p>– 490 </p>

              </td>

              <td class="right bottom">

                <p>– 620 </p>

              </td>

              <td class="right bottom">

                <p>– 690 </p>

              </td>

              <td class="right bottom">

                <p>– 500 </p>

              </td>

            </tr>
          </tbody>

        </table>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d4001e216" name="d4001e216"></a>Vraag 8
        </h2>
        <p>Hoeveel ID-ers en Wiw-ers zijn in de periode 2000 tot en met 2011 uitgestroomd naar een reguliere baan op het totaal
          aantal ID-ers en Wiw-ers (in absolute aantallen en percentages)?
        </p>
      </div>
      <div class="antwoord">
        <h2 class="stuktitel no-toc">
          <a id="d4001e224" name="d4001e224"></a>Antwoord: 8
        </h2>
        <p>Zie antwoord op vragen 1 en 2</p>
      </div>
      <div class="vraag">
        <h2 class="stuktitel no-toc">
          <a id="d4001e231" name="d4001e231"></a>Vraag 9
        </h2>
        <p>Bent u bereid deze vragen voor het algemeen overleg over arbeidsmarktbeleid van 7&nbsp;september a.s. te beantwoorden?</p>
      </div>
      <div class="antwoord">
        <h2 class="stuktitel no-toc">
          <a id="d4001e238" name="d4001e238"></a>Antwoord 9
        </h2>
        <p>Ja.</p>
      </div>
      <div id="noten">
        <hr>
        <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-2011Z16638-d29e98">
          <h5 class="note-close">
            <a class="note-close" href="#close-ID-2011Z16638-d29e98">X</a> Noot
          </h5>
          <sup>
            <span class="nootnum">
              <a id="ID-2011Z16638-d29e98" name="ID-2011Z16638-d29e98"></a>1</span>
          </sup>
          <p> De Volkskrant, 30&nbsp;augustus 2011, Gemeenten snijden fors in banen uit subsidiegeld.</p>
        </div>
        <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-2011Z16638-d29e105">
          <h5 class="note-close">
            <a class="note-close" href="#close-ID-2011Z16638-d29e105">X</a> Noot
          </h5>
          <sup>
            <span class="nootnum">
              <a id="ID-2011Z16638-d29e105" name="ID-2011Z16638-d29e105"></a>2</span>
          </sup>
          <p> ANP, 11&nbsp;augustus 2011 – De Krom: helft bijstand kan werken.</p>
        </div>
      </div>

    </div>    </article>

  </div>
</div>
