<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="kop_op">Aanhangsel van de Handelingen</h1>
        <p class="subkop">
          <strong>Vragen gesteld door de leden der Kamer, met de daarop door de regering gegeven antwoorden</strong>
        </p>
        <p class="kamervraagnummer">
          <strong>1014</strong>
        </p>
        <a id="d25e29" name="d25e29"></a>
        <div class="omschr">
          <p>Vragen van het lid
            <strong>Kant</strong> (SP) aan de minister-president, minister van Algemene Zaken, en de minister van Sociale Zaken en Werkgelegenheid
            over
            <strong class="ondw">de film «De Onrendabelen» en het boek «Niemandsland» van Marcel van Dam. </strong> (Ingezonden 27 november 2009)</p>
        </div>
        <div class="vraag">
          <a id="d25e42" name="d25e42"></a>
          <p class="nummer">1</p>
          <p>Wat is uw reactie op de film «De Onrendabelen» van Marcel van Dam en zijn boek «Niemandsland»?
            <a class="nootnum" href="#d25e235">1</a>
            <sup>,</sup>
            <a class="nootnum" href="#d25e238">2</a>
          </p>
        </div>
        <div class="vraag">
          <a id="d25e54" name="d25e54"></a>
          <p class="nummer">2</p>
          <p>Wat is uw reactie op één van de belangrijkste conclusies in het boek, namelijk: «De oude ideologie dat we met zijn allen
            verantwoordelijk zijn voor elkaar werd terzijde geschoven. Iedereen moet nu voor zichzelf zorgen. Maar er zijn mensen
            die daartoe de vaardigheden niet hebben en die in een alleen op rendement gericht samenleving een nieuwe kaste vormen:
            de onrendabelen»?
            <a class="nootnum" href="#d25e235">1</a>
          </p>
        </div>
        <div class="vraag">
          <a id="d25e61" name="d25e61"></a>
          <p class="nummer">3</p>
          <p>Bent u het eens met deze conclusie? Zo nee, waarom niet?</p>
        </div>
        <div class="vraag">
          <a id="d25e66" name="d25e66"></a>
          <p class="nummer">4</p>
          <p>Wat is uw reactie op het voorstel om het Centraal Planbureau (CPB) of een andere instantie een sociaaleffectmeting (SEM)
            instrument te laten ontwikkelen om voorgenomen overheidsmaatregelen, naar analogie van de milieueffectrapportage (MER),
            te laten toetsen op de sociale gevolgen voor de samenleving?
            <a class="nootnum" href="#d25e241">3</a>
          </p>
        </div>
        <div class="vraag">
          <a id="d25e73" name="d25e73"></a>
          <p class="nummer">5</p>
          <p>Bent u bereid de mogelijkheden hiertoe te onderzoeken? Zo, nee waarom niet?
          </p>
        </div>
        <div class="vraag">
          <a id="d25e78" name="d25e78"></a>
          <p class="nummer">6</p>
          <p>Wat is uw reactie op de het feit dat de totale uitgaven aan «sociale bescherming» vanaf&nbsp;1980 zijn gedaald van een
            kwart van het nationaal inkomen tot 20,9% in 2005?
            <a class="nootnum" href="#d25e244">4</a>
          </p>
        </div>
        <div class="vraag">
          <a id="d25e85" name="d25e85"></a>
          <p class="nummer">7</p>
          <p>Kunt u specificeren waarin – in welke specifieke uitgaven – die daling zit?</p>
        </div>
        <div class="vraag">
          <a id="d25e90" name="d25e90"></a>
          <p class="nummer">8</p>
          <p>Wat zijn volgens u de oorzaken van deze daling?</p>
        </div>
        <div class="vraag">
          <a id="d25e95" name="d25e95"></a>
          <p class="nummer">9</p>
          <p>Wat zijn deze totale uitgaven aan sociale bescherming en wat zijn de percentages over het nationale inkomen in 2006,
            2007, en 2008?</p>
        </div>
        <div class="vraag">
          <a id="d25e101" name="d25e101"></a>
          <p class="nummer">10</p>
          <p>Hoe verklaart u dat Nederland het enige land is binnen de EU dat de uitgaven voor sociale bescherming liet dalen in de
            periode van 1980 tot 2005?
            <a class="nootnum" href="#d25e244">4</a>
          </p>
        </div>
        <div class="vraag">
          <a id="d25e108" name="d25e108"></a>
          <p class="nummer">11</p>
          <p>Kunt een overzicht geven van alle wijzigingen, zoals van verandering van criteria op aanspraak, hoogte en duur, in alle
            sociale wetten sinds 1980?</p>
        </div>
        <div class="vraag">
          <a id="d25e113" name="d25e113"></a>
          <p class="nummer">12</p>
          <p>Wat is uw reactie op het feit dat in Nederland drie keer zoveel mensen onder de armoedegrens leven in vergelijking tot
            de Scandinavische landen?</p>
        </div>
        <div class="vraag">
          <a id="d25e118" name="d25e118"></a>
          <p class="nummer">13</p>
          <p>Bent u bereid een onderzoek in te stellen naar de oorzaak van dit verschil? Zo nee, waarom niet?</p>
        </div>
        <div class="vraag">
          <a id="d25e123" name="d25e123"></a>
          <p class="nummer">14</p>
          <p>Hoeveel kinderen groeien op dit moment op in armoede in ons land, zowel volgens de Nederlandse als volgens de Europese
            definitie?</p>
        </div>
        <div class="vraag">
          <a id="d25e128" name="d25e128"></a>
          <p class="nummer">15</p>
          <p>Kunt u een overzicht geven van de groei van de armoede in Nederland volgens de Europese definitie van armoede, startend
            in de jaren tachtig tot de meest recente datum?</p>
        </div>
        <div class="vraag">
          <a id="d25e133" name="d25e133"></a>
          <p class="nummer">16</p>
          <p>Erkent u dat er een relatie is tussen opgroeien in armoede en kansen in het onderwijs, slechtere gezondheid, verslaving,
            werkeloosheid en criminaliteit?</p>
        </div>
        <div class="vraag">
          <a id="d25e138" name="d25e138"></a>
          <p class="nummer">17</p>
          <p>Bent u bereid een kosteneffectiviteitanalyse uit te (laten) voeren naar de effecten van armoedebestrijding op de kansen
            in het onderwijs, slechtere gezondheid, verslaving, werkeloosheid en criminaliteit? Zo nee, waarom niet?</p>
        </div>
        <div class="vraag">
          <a id="d25e143" name="d25e143"></a>
          <p class="nummer">18</p>
          <p>Wat is uw reactie op de constatering dat de koopkrachtontwikkeling van minima, sinds 1980, structureel achterblijft bij
            de gemiddelde koopkrachtgroei en bij de koopkrachtstijging van de hoogste 10% van de inkomens
            <a class="nootnum" href="#d25e247">5</a>?</p>
        </div>
        <div class="vraag">
          <a id="d25e151" name="d25e151"></a>
          <p class="nummer">19</p>
          <p>Vindt u deze ontwikkeling rechtvaardig en gewenst? Zo nee, wat gaat u hier aan doen?</p>
        </div>
        <div class="vraag">
          <a id="d25e156" name="d25e156"></a>
          <p class="nummer">20</p>
          <p>Wat is uw reactie op het feit dat ondanks de gegroeide welvaart 11% van de Nederlandse huishoudens onder de Europese
            armoedegrens leeft?</p>
        </div>
        <div class="vraag">
          <a id="d25e162" name="d25e162"></a>
          <p class="nummer">21</p>
          <p>Vindt u het rechtvaardig en gewenst dat dit vanaf&nbsp;1980 van 4% naar 11% gegroeid is?</p>
        </div>
        <div class="vraag">
          <a id="d25e167" name="d25e167"></a>
          <p class="nummer">22</p>
          <p>Wat zijn volgens u de verklaringen voor de enorme stijging van de armoede sinds de jaren tachtig?</p>
        </div>
        <div class="vraag">
          <a id="d25e172" name="d25e172"></a>
          <p class="nummer">23</p>
          <p>Bent u bereid de oorzaken van deze stijging te onderzoeken?</p>
        </div>
        <div class="vraag">
          <a id="d25e177" name="d25e177"></a>
          <p class="nummer">24</p>
          <p>Wat is uw reactie op de kloof, ontstaan tussen 1989 en heden, tussen de reële loonontwikkeling van het minimumloon en
            die van topsalarissen
            <a class="nootnum" href="#d25e250">6</a>?</p>
        </div>
        <div class="vraag">
          <a id="d25e185" name="d25e185"></a>
          <p class="nummer">25</p>
          <p>Vindt u het wenselijk dat de reële lonen aan de top bijna verdrievoudigd zijn terwijl het reëel minimumloon lager is
            geworden?</p>
        </div>
        <div class="vraag">
          <a id="d25e190" name="d25e190"></a>
          <p class="nummer">26</p>
          <p>Hoe verklaart u dat Scandinavische landen een hogere economische groei dan Nederland hebben in combinatie met hogere
            uitgaven aan sociale bescherming ?
            <a class="nootnum" href="#d25e253">7</a>
          </p>
        </div>
        <div class="vraag">
          <a id="d25e197" name="d25e197"></a>
          <p class="nummer">27</p>
          <p>Hoe verklaart u dat de Scandinavische landen allen horen tot de top vijf van meest concurrerende landen terwijl hun uitgaven
            aan sociale bescherming bovengemiddeld hoog zijn?
            <a class="nootnum" href="#d25e256">8</a>
          </p>
        </div>
        <div class="vraag">
          <a id="d25e204" name="d25e204"></a>
          <p class="nummer">28</p>
          <p>Bent u bereid naar aanleiding van deze vaststelling een onderzoek in te stellen naar de oorzaken van dit verschil? Zo
            nee, waarom niet ?</p>
        </div>
        <div class="vraag">
          <a id="d25e209" name="d25e209"></a>
          <p class="nummer">29</p>
          <p>Kunt u een overzicht geven op welke punten en hoe de sociale bescherming in Scandinavische landen anders is dan in Nederland?</p>
        </div>
        <div class="vraag">
          <a id="d25e214" name="d25e214"></a>
          <p class="nummer">30</p>
          <p>In welke mate komt criminaliteit vaker voor onder mensen die een sociaaleconomische zwakkere positie hebben dan gemiddeld?
            Zijn hiervan cijfers beschikbaar? Zo niet, kan dit worden onderzocht?</p>
        </div>
        <div class="vraag">
          <a id="d25e219" name="d25e219"></a>
          <p class="nummer">31</p>
          <p>Wat is uw reactie op het feit dat Nederland in korte tijd tot de kopgroep van Europa is gaan behoren wat betreft het
            aantal gedetineerden per 100.000 inwoners?
          </p>
        </div>
        <div class="vraag">
          <a id="d25e225" name="d25e225"></a>
          <p class="nummer">32</p>
          <p>Is het waar dat een van de belangrijke oorzaken is dat Nederland het strengste strafklimaat van de West- en Noord-Europese
            landen heeft? Zo niet, wat dan wel?
          </p>
        </div>
        <div class="vraag">
          <a id="d25e230" name="d25e230"></a>
          <p class="nummer">33</p>
          <p>Bent u bereid te onderzoeken wat de oorzaak van deze stijging ten opzichte van andere landen?</p>
        </div>
        <a id="d25e259" name="d25e259"></a>
        <p class="antwoord_kop">
          <strong>Antwoord</strong>
        </p>
        <div class="omschr">
          <p>Antwoord van minister
            <strong>Donner</strong> (Sociale Zaken en Werkgelegenheid), mede namens de minister president, minister van Algemene Zaken,
            de minister van Justitie en de staatssecretaris van Sociale Zaken en Werkgelegenheid (ontvangen 17 december 2009)</p>
        </div>
        <div class="antwoord">
          <a id="d25e269" name="d25e269"></a>
          <p class="nummer">1, 2 en 3</p>
          <p>Armoede en het hebben van schulden betekenen bijna zonder uitzondering groot menselijk leed. Financiële problemen zorgen
            ervoor dat volwassenen en kinderen niet optimaal kunnen deelnemen aan de maatschappij. Kinderen komen zo al vroeg in
            het begin van hun leven op achterstand te staan. Het kabinet neemt de armoedeproblematiek uiterst serieus en heeft
            daarom de afgelopen jaren in samenwerking met gemeenten veel in gang gezet om armoede en schuldenproblematiek te bestrijden.
            Daar doen we de komende jaren nog een schep bovenop. De staatssecretaris van Sociale Zaken en Werkgelegenheid heeft
            u per brief op 7 december geïnformeerd over de extra maatregelen armoedebestrijding voor de komende periode. Daarnaast
            worden de mogelijkheden van gemeenten verruimd om meer mensen met schulden te helpen en dit ook sneller te doen door
            het beschikbaar stellen van extra middelen en de invoering van de nieuwe wet op de schuldhulpverlening.</p>
          <p>Ik herken me dan ook niet in de hierboven vermelde conclusie. De aanpassing van het sociale zekerheidsstelsel heeft ertoe
            geleid dat nu meer nadruk ligt op activering, door werk of – als dat niet mogelijk is – andere maatschappelijke activiteiten.
            We vinden het niet meer sociaal om mensen in een uitkering te laten zitten zonder enig perspectief op meedoen in de
            samenleving. Door bijvoorbeeld de gewijzigde aanpak in de WWB worden mensen actief begeleid naar werk. En met succes,
            het volume van de bijstand is sterk gedaald. Juist de harde kern binnen de WWB is daarbij gebaat. Sociale diensten
            zelf geven ook aan dat het zogenaamde granieten bestand sterk kleiner is geworden. Waar eerder nog het idee was dat
            80% onbemiddelbaar is, is dit de percentage in de loop van de jaren aanzienlijk gedaald. Er is dus ook geen sprake
            van een omvangrijke kaste die de aansluiting mist. Er is juist een grote dynamiek binnen de groep met lage inkomens.
            CBS-cijfers duiden er op dat in de periode 2001–2008 gemiddeld 42% van de mensen met een laag inkomen het jaar erop
            niet langer een laag inkomen heeft. Naar onze mening is dat de activerende werking van het sociale zekerheidsstelsel
            niet een aantasting van de solidariteit, maar juist een vergroting van de solidariteit. Mensen zijn immers meer geholpen
            met werk dan dat zij jong afgeschreven worden met een uitkering. Daarbij past een activerende benadering zoals we die
            nu kennen, inclusief een op de persoon toegesneden aanpak waarbij in mensen wordt geïnvesteerd en de nadruk wordt gelegd
            op wat mensen nog kunnen.</p>
        </div>
        <div class="antwoord">
          <a id="d25e276" name="d25e276"></a>
          <p class="nummer">4 en 5</p>
          <p>Het kabinet besteed in het beslissingsproces rond overheidsmaatregelen, nu reeds uitvoerig aandacht aan de sociale effecten
            (waaronder inkomenseffecten) van beleidsmaatregelen. Naar onze mening heeft een sociaaleffectmeting geen toegevoegde
            waarde.</p>
        </div>
        <div class="antwoord">
          <a id="d25e281" name="d25e281"></a>
          <p class="nummer">6 t/m 10</p>
          <p>Het niveau van sociale uitgaven is geen goede graadmeter voor het sociale klimaat in een land. In 1980 waren de uitgaven
            weliswaar hoger dan in 2005, maar tegelijkertijd was er sprake van grote structurele problemen op de arbeidsmarkt en
            systeemfouten in de sociale zekerheid, bij een oplopende staatsschuld. De hervormingen van de jaren daarna waren er
            dan ook vooral op gericht deze problemen aan te pakken en daarmee het (te) hoge uitgavenniveau van 1980 te corrigeren.
            Onze visie op sociale zekerheid veranderde; het accent binnen het stelsel verschoof geleidelijk van (primair) inkomensbescherming
            naar activering. Deze omslag is langs verschillende wegen gerealiseerd, zoals door herschikking van de verantwoordelijkheidsverdeling
            en een gewijzigde balans van rechten en plichten, waaronder aanpassingen in toetredingsvoorwaarden en hoogte en duur
            van de uitkering. Deze sterkere nadruk op activering (of breder: structurele hervormingen) is in de loop der jaren
            met name zichtbaar geworden in een aanzienlijke toename van de arbeidsparticipatie.</p>
          <p>In Nederland was de noodzaak tot structurele hervormingen op de arbeidsmarkt en in de sociale zekerheid mede vanwege
            de hoge uitgaven groter dan in andere landen. In 1980 was Nederland na Zweden het land met de hoogste uitgaven. Ondanks
            dalende uitgaven in de jaren daarna lagen deze in 2005 nog steeds boven het OESO-gemiddelde (20,9% tegenover 20,6%).
            Het niveau was in dat jaar vergelijkbaar met dat in (rijke) landen als Zwitserland, Noorwegen en het Verenigd Koninkrijk.</p>
          <p>Van Dam baseert zich in zijn boek op cijfers van de OESO. De totale uitgaven worden daarin onderverdeeld naar een aantal
            categorieën
            <a class="nootnum" href="#d25e465">1</a>. De grootste uitgavendaling heeft tussen 1980 en 2005 plaatsgevonden bij uitgaven die samenhangen met arbeidsongeschiktheid
            (van 6,5 naar 3,6%). Werkloosheidsgerelateerde uitgaven zijn slechts met 0,1%-punt gedaald, de uitgaven aan activerend
            arbeidsmarktbeleid (ALMP’s) zijn zelfs toegenomen (van 0,5% naar 1,3%). Dit laatste illustreert de omslag die vanaf
            de jaren tachtig heeft plaatsgevonden, met een steeds sterker accent op activering.</p>
          <p>Deze OESO-cijfers zijn voor de jaren na 2005 (nog) niet beschikbaar. Als alternatief kunnen cijfers van het CPB worden
            genoemd. De MEV 2010 laat zien dat de uitgaven aan sociale zekerheid in 2006, 2007 en 2008 respectievelijk 11,1%, 10,8%
            en 11,1% van het BBP bedroegen (ter vergelijking: de uitgaven in 2005 bedroegen 11,0% BBP). De door het CPB gehanteerde
            definitie is smaller dan die van de OESO en omvat «slechts» de AOW/ANW, de WW en bijstand, AO en enkele overige uitgaven
            zoals de zorgtoeslag. Worden de totale collectieve zorguitgaven hieraan toegevoegd, dan liggen de genoemde percentages
            zo’n 8,5% hoger. Daarmee komen ze in de buurt van de door de OESO genoemde percentages.</p>
        </div>
        <div class="antwoord">
          <a id="d25e295" name="d25e295"></a>
          <p class="nummer">11</p>
          <p>In de bijlage treft u een overzicht op hoofdlijnen aan, waarin achtereenvolgens wordt ingegaan op de arbeidsongeschiktheidsregelingen,
            de WW en de bijstand. Meer in het algemeen kan hier worden opgemerkt dat sinds de jaren tachtig in de genoemde wetten
            in toenemende mate de nadruk iskomen te liggen op activering in plaats van inkomensbescherming sec. Het stelsel dient
            te voorkomen dat werknemers op een uitkering aangewezen raken (preventie) en, mocht dat onverhoopt toch gebeuren, te
            stimuleren dat uitkeringsgerechtigden zo spoedig mogelijk werk zoeken, aanvaarden of hervatten (re-integratie).
            <a class="nootnum"
              href="#d25e468">2</a>
          </p>
        </div>
        <div class="antwoord">
          <a id="d25e302" name="d25e302"></a>
          <p class="nummer">12, 13 en 14</p>
          <p>Het beeld dat armoede in Nederland drie maal zo hoog is in vergelijking met Scandinavische landen is niet juist. Op basis
            van EU-cijfers over 2007 is de armoede in Nederland het laagst van heel Europa (samen met Tsjechië).</p>
          <img alt="ah-tk-20092010-1014-1.png"
            src="https://zoek.officielebekendmakingen.nl/ah-tk-20092010-1014-1.png">
          <p>Aandachtspunt is dat in Europees verband armoede wordt gemeten als het aandeel personen met een (voor huishoudsamenstelling
            gecorrigeerd) huishoudinkomen onder 60% van het mediane inkomen. Het mediane inkomen is het inkomen waarbij 50% van
            de bevolking meer en 50% minder verdient. De Europese armoedegrens is dus een relatieve armoedegrens. In Nederland
            is het mediane inkomen hoog in vergelijking met andere Europese landen. Ofwel: armen (mensen die minder dan 60% van
            het mediane inkomen verdienen) zijn in Nederland relatief rijk in vergelijking met armen in andere Europese landen.</p>
          <p>Het OESO hanteert in veel publicaties als armoedemaatstaf&nbsp;40%, 50% dan wel 60% van het mediane inkomen, waarbij
            bovendien inkomenscijfers op iets andere wijze worden gecorrigeerd voor huishoudsamenstelling. Op basis van deze cijfers
            is de armoede in Nederland niet langer het laagst, maar nog steeds bij lange na niet drie maal zo hoog als in de Scandinavische
            landen.Figuur: Relatieve armoede voor verschillende inkomensgrenzen, 40%, 50%, 60% mediane inkomen, midden jaren 2000,
            OECD</p>
          <img alt="ah-tk-20092010-1014-2.png" src="https://zoek.officielebekendmakingen.nl/ah-tk-20092010-1014-2.png">
          <p>De mogelijke bron van verwarring is dat in het boek van Van Dam OESO-cijfers (op basis van 50% van het mediane inkomen)
            over armoede onder kinderen worden gepresenteerd die aangeven dat het armoederisico onder kinderen in de Scandinavische
            landen drie maal zo laag is als in Nederland. Op basis van EU-cijfers is het verschil in armoederisico’s tussen Nederland
            en de Scandinavische landen veel kleiner. Volgens deze cijfers is in Nederland het armoederisico voor kinderen 14%
            in 2007 (dit zijn ca. 450.000 kinderen onder de 18 jaar), tegen 12% in Zweden, 10% in Finland en Denemarken en 20%
            gemiddeld over heel Europa.</p>
          <p>De verschillen in armoedecijfers tussen OESO en EU worden deels verklaard door de gekozen inkomensgrens (bij de OESO:
            50% van het mediane inkomen; bij de EU: 60% van het mediane inkomen). Verder speelt een rol dat bij de correctie voor
            huishoudsamenstelling de OESO alle leden van het huishouden even zwaar laat meetellen, terwijl de EU (in aansluiting
            bij bevindingen uit bestedingenonderzoeken) kinderen minder zwaar laat meetellen in de correctie voor huishoudsamenstelling.
            Het voor huishoudsamenstelling gecorrigeerde inkomen is volgens de OESO-definitie bij een gezin met kinderen hierdoor
            lager dan bij de EU-definitie. Bij gevolg wordt een gezin met kinderen bij de OESO-definitie eerder als «arm» aangemerkt
            dan bij de EU-definitie. Tenslotte kan het verschil in meetmoment een rol spelen (OESO: halverwege jaren 2000; EU 2007).</p>
          <p>In de rapportage «Child poverty and child well-being in the EU» is uitgebreid geanalyseerd wat de verklaringen zijn voor
            de verschillende armoederisico’s in Europese landen. Nader onderzoek op dit punt acht ik niet noodzakelijk.</p>
          <p>Binnen Nederlands armoede-onderzoek door het CBS wordt vaak gebruik gemaakt van de lage-inkomensgrens. Dit is een absolute
            armoedgrens, gebaseerd op het bijstandsniveau in 1979, gecorrigeerd voor prijsontwikkeling. Volgens de meest recente
            CBS-cijfers zijn er in 2008 331.000 minderjarigen (9,9%) die opgroeien in een huishouden met een inkomen onder de lage-inkomensgrens.</p>
        </div>
        <div class="antwoord">
          <a id="d25e321" name="d25e321"></a>
          <p class="nummer">15</p>
          <p>Onderstaande figuur geeft een overzicht van de ontwikkeling van het aandeel lage inkomens in de periode 1977–2008. Op
            basis van deze armoedemaat is er – na een periode van armoedestijging halverwege de jaren tachtig en stabilisatie in
            de jaren 90 – de afgelopen jaren sprake van een aanzienlijke daling van de armoede. Het armoedeniveau in 2008 (8,0%)
            ligt ruimschoots onder het armoedeniveau in 1977 (12,2%).</p>
          <img alt="ah-tk-20092010-1014-3.png" src="https://zoek.officielebekendmakingen.nl/ah-tk-20092010-1014-3.png">
          <p>Armoedecijfers volgens de EU-definitie zijn slechts beschikbaar vanaf&nbsp;1997. In deze jaren is de armoede volgens
            deze definitie redelijk stabiel.</p>
          <img alt="ah-tk-20092010-1014-4.png" src="https://zoek.officielebekendmakingen.nl/ah-tk-20092010-1014-4.png">
        </div>
        <div class="antwoord">
          <a id="d25e330" name="d25e330"></a>
          <p class="nummer">16 en 17</p>
          <p>Er zijn kinderen die in gezinnen leven waar de financiële middelen ontbreken die nodig zijn om hen te laten participeren.
            Het kabinet is van mening dat kinderen gelijke kansen moeten krijgen op het gebied van onderwijs en gezondheidszorg,
            en zet hier volop op in. Hiervoor zijn regelingen ontwikkeld, die de belemmeringen om financiële redenen wegnemen.
            Daarnaast heeft het kabinet in de periode 2008–2009 80 miljoen euro extra beschikbaar gesteld aan gemeenten om het
            aantal kinderen dat niet kan participeren omwille van financiële redenen met 50% te verminderen.</p>
          <p>Bij het beschikbaar stellen van deze extra gelden heeft de staatssecretaris van Sociale Zaken en Werkgelegenheid samen
            met de minister van Jeugd &amp; Gezin opdracht gegeven een aantal onderzoeken uit te voeren naar armoede onder kinderen.
            Het SCP onderzoekt hoe armoede leidt tot sociale uitsluiting en welke variabelen daarbij een rol spelen. Sociale uitsluiting
            heeft betrekking op zaken zoals de toegang tot zorg en onderwijs en een tekort aan sociale participatie en normatieve
            integratie. Hierbij wordt een verband gelegd tussen armoede en een groot aantal van de door u genoemde thema’s.</p>
          <p>Verwacht wordt dat de uitkomsten van deze onderzoeken meer inzicht zullen geven in welke nadelige effecten armoede heeft
            voor kinderen en of dit invloed heeft (en zo ja, in welke mate) op het op latere leeftijd zich sneller voordoen van
            factoren die aan armoede en sociale uitsluiting ten grondslag liggen en daarmee op de «overerfbaarheid van armoede».</p>
          <p>Bovengenoemde onderzoeken zullen meer inzicht geven op welke toekomstige beleidsmaatregelen we kunnen inzetten om de
            nadelige effecten van armoede te compenseren of te voorkomen. Daarmee zullen de onderzoeken ook meer zicht geven op
            de noodzaak en de mogelijkheden van het uitvoeren van een kosteneffectiviteitanalyse. Bij het aan u aanbieden van het
            onderzoek naar de «overerfbaarheid van armoede» zult u hierover nader worden geïnformeerd.</p>
        </div>
        <div class="antwoord">
          <a id="d25e341" name="d25e341"></a>
          <p class="nummer">18 en 19</p>
          <p>In 1980 waren de uitkeringen op een dusdanig niveau dat de welvaartsstaat onbetaalbaar dreigde te worden en werken niet
            of nauwelijks lonend was. Er is in de jaren 80 bewust voor gekozen het bijstandsniveau en het minimumloon (eveneens
            relevant voor de onderkant) vele jaren te bevriezen, om de economie te stimuleren en werken weer lonend te maken. Deze
            maatregelen, hoe pijnlijk ook voor betrokkenen, hebben ertoe geleid dat de Nederlandse economie zich heeft kunnen herstellen
            en de welvaart na de jaren tachtig weer is toegenomen. Ook hebben deze maatregelen ertoe geleid dat de arbeidsparticipatie
            is toegenomen en de werkloosheid – ondanks de huidige economische crisis – lager is dan halverwege de jaren tachtig.
            Na de jaren tachtig zijn de uitkeringen veelal weer mee gegroeid met de lonen.</p>
          <p>Over de periode vanaf&nbsp;1980 bezien is hierdoor de koopkrachtontwikkeling (i.e. de inkomensontwikkeling gecorrigeerd
            voor de prijsontwikkeling) van minima achtergebleven. Hierbij zijn 65-plussers ontzien, omdat zij geen perspectief
            hebben op inkomensverbetering door werk. Kijken we over een kortere periode, bijvoorbeeld de afgelopen 10 jaar, dan
            is het beeld gevarieerder. Alleenstaande minima onder de 65 jaar blijven in koopkracht nog iets achter bij de mediaan
            en bij alleenstaanden met hoge inkomens (2* modaal), dit geldt echter niet voor alleenstaande minima boven de 65 jaar.
            Bij paren met kinderen zien we dat minima beter af zijn dan de mediaan en dan hoge inkomens (alleenverdieners met 2*
            modaal).</p>
          <table>
            <thead>
              <tr class="head-row1">
                <th rowspan="1">Koopkrachtontwikkel ing, 1999–2009 </th>
                <th rowspan="1">Koopkrachtontwikkeling</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="1">– Mediaan alle huishoudens</td>
                <td rowspan="1">8,6% </td>
              </tr>
              <tr>
                <td rowspan="1">– Alleenstaande minima, 65-
                </td>
                <td rowspan="1">5,6% </td>
              </tr>
              <tr>
                <td rowspan="1">– Alleenstaande minima, 65+</td>
                <td rowspan="1">9,7%</td>
              </tr>
              <tr>
                <td rowspan="1">– Alleenstaande, 2* modaal</td>
                <td rowspan="1">8,7% </td>
              </tr>
              <tr>
                <td rowspan="1">– Paar met 2 kinderen, bijstandsniveau</td>
                <td rowspan="1">12,9% </td>
              </tr>
              <tr>
                <td rowspan="1">– Alleenverdiener met 2 kinderen, 2 x modaal</td>
                <td rowspan="1">10,6%</td>
              </tr>
            </tbody>
          </table>
          <p>Het huidige kabinet blijft streven naar een evenwichtige inkomensontwikkeling, met bijzondere aandacht voor kwetsbare
            groepen, huishoudens met kinderen en middengroepen.
          </p>
        </div>
        <div class="antwoord">
          <a id="d25e392" name="d25e392"></a>
          <p class="nummer">20, 21, 22 en 23</p>
          <p>Als eerder aangeduid bij het antwoord op vraag 12, 13 en 14 is de Europese armoedegrens een relatieve armoedegrens die
            mee beweegt met de welvaartontwikkeling in een land. De stijging van de armoede gemeten volgens een dergelijke relatieve
            armoedemaat hangt enerzijds samen met ontwikkeling van de inkomens aan de onderkant (waaronder de bij het antwoord
            op vraag 18 en 19 beschreven bevriezing van het minimumloon en de hieraan gekoppelde bijstandsuitkeringen in een groot
            deel van de jaren 80) en anderzijds samen met de ontwikkeling van de inkomens in juist de middengroepen. Door de opkomst
            van het aantal tweeverdieners en ouderen met een (hoger) aanvullend pensioen is juist ook het mediane inkomen sterk
            gestegen.</p>
          <p>Een inkomen onder een relatieve armoedegrens wil niet zeggen dat er sprake is van materiële tekortkomingen. Op basis
            van Europees onderzoek naar de materiële deprivatie scoort Nederland uitzonderlijk goed, zie ook onderstaande figuur,
            waarin naast financiële armoede ook materiële deprivatie is weergegeven.</p>
          <img alt="ah-tk-20092010-1014-5.png" src="https://zoek.officielebekendmakingen.nl/ah-tk-20092010-1014-5.png">
          <p>Kijken we naar meer absolute armoedematen, zoals de lage-inkomensgrens, waarbij inkomens in de tijd worden vergeleken
            met een – uiteraard wel voor prijsontwikkeling gecorrigeerd – vast bedrag, dan zien we juist een daling van de armoede
            (zie ook het antwoord op vraag 15) sinds de jaren 80. Gegeven ook dat Nederland zowel op het punt van financiële armoede
            als op het punt van materiële deprivatie internationaal gezien goed scoort, zien wij geen aanleiding tot nader onderzoek.</p>
        </div>
        <div class="antwoord">
          <a id="d25e403" name="d25e403"></a>
          <p class="nummer">24 en 25</p>
          <p>Het probleem is niet zozeer de reële loonontwikkeling van het minimumloon maar de exorbitante verhogingen van de topsalarissen.
            Ik vind het niet wenselijk dat de reële lonen aan de top bijna verdrievoudigd zijn. Het kabinetsstandpunt over extreme
            topsalarissen is al meermalen geventileerd.</p>
          <p>Het wettelijk minimumloon is (op enkele jaren na) gedurende de jaren «90 en 2000 aangepast aan de gemiddelde contractloonontwikkeling.
            Indien het minimumloon in dezelfde mate zou zijn gestegen als de topsalarissen; dan zouden veel mensen die afhankelijk
            zijn van een baan aan de onderkant van de arbeidsmarkt, nu werkloos zijn.</p>
          <p>Als we meer in zijn algemeenheid naar de inkomensongelijkheid kijken, dan blijkt dat deze in de periode 1977 tot heden
            inderdaad iets gestegen (zie onderstaande figuur; hoe hoger de Gini-coëfficiënt en de ratio 80/20, hoe hoger de inkomensongelijkheid).</p>
          <img
            alt="ah-tk-20092010-1014-6.png" src="https://zoek.officielebekendmakingen.nl/ah-tk-20092010-1014-6.png">
          <p>Deze stijging van de inkomensongelijkheid deed zich met name voor in de tweede helft van de jaren 80. Toen stegen de
            lonen, terwijl het minimumloon en de daaraan gekoppelde minimum socialezekerheidsuitkeringen werden bevroren. Ook kwamen
            er steeds meer tweeverdieners en ouderen met(hoger) aanvullend pensioen. Sinds de jaren 90 tot heden is de inkomensongelijkheid
            in Nederland vrijwel stabiel. De suggestie dat de rijken blijvend rijker worden en de armen steeds armer klopt dus
            niet.</p>
          <p>De inkomensongelijkheid in Nederland is overigens laag in vergelijking met de meeste andere Europese landen, zie ook
            onderstaande figuur.</p>
          <p>Inkomensongelijkheid in Europa, 2007</p>
          <img alt="ah-tk-20092010-1014-7.png" src="https://zoek.officielebekendmakingen.nl/ah-tk-20092010-1014-7.png">
        </div>
        <div class="antwoord">
          <a id="d25e420" name="d25e420"></a>
          <p class="nummer">26 t/m 28</p>
          <p>Uit verschillende onderzoeken is in de loop der jaren naar voren gekomen dat er geen eenduidige relatie bestaat tussen
            het niveau van sociale uitgaven en economische prestaties zoals groei en concurrentievermogen. Tot de economisch best
            presterende landen in termen van bijvoorbeeld participatie, werkloosheid, armoede, economische groei en concurrentievermogen
            behoren zowel landen die veel als landen die weinig aan sociale bescherming uitgeven. Het belangrijkste verschil tussen
            deze typen landen is dat hogere sociale uitgaven via meer herverdeling leiden tot een meer egalitaire inkomensverdeling
            (Scandinavische versus Angelsaksische landen). Ook leiden hogere sociale uitgaven tot een hogere belasting- en premiedruk.
            Omdat er voldoende inzicht bestaat in de samenhang tussen dit soort variabelen, is nader onderzoek niet nodig.</p>
          <p>Overigens is het niet juist dat de Scandinavische landen een hogere economische groei kennen dan Nederland. In het afgelopen
            decennium lag de BBP-groei in Nederland op gelijke hoogte met die in Zweden, Finland en Denemarken. Als we corrigeren
            voorbevolkingsomvang, en dus kijken naar het BBP per hoofd van de bevolking, dan zien we dat het BBP per hoofd in Nederland
            zelfs hoger ligt dan in de Scandinavische landen en dat de afgelopen tien jaar het BBP per hoofd van de bevolking ook
            relatief sterk is gegroeid in Nederland. In Finland was de groei het BBP per hoofd (PPS) beperkt, in Zweden en Denemarken
            negatief.</p>
        </div>
        <div class="antwoord">
          <a id="d25e427" name="d25e427"></a>
          <p class="nummer">29</p>
          <p>De wijze waarop de sociale bescherming is georganiseerd in Nederland verschilt van de Scandinavische landen maar ook
            onderling zijn er tussen deze landen verschillen. In 2005 heeft het Ministerie van Financiën een studie naar de verschillen
            tussen Nederland en de Scandinavische landen uitgevoerd, «De lessen uit de Nordics» (2005).</p>
          <p>Elementen die tot het Scandinavische model behoren zijn een sterke verzorgingsstaat, een tamelijk vrije arbeidsmarkt
            en een hoge belastingdruk. In het bijzonder verschilt de Nederlandse welvaartsstaat op een paar specifieke punten van
            het Deense en Zweedse.</p>
          <p>Zo wordt het Deense model het «flexicuritymodel genoemd, en wordt gekenmerkt door de «gouden driehoek»: soepel ontslagrecht,
            relatief hoge uitkeringen en een sterk activerend arbeidsmarktbeleid. Nederland kent een armoedeval die vergelijkbaar
            is met de Deense, maar een veel sterkere ontslagbescherming. Denemarken stelt meer eisen aan uitkeringsgerechtigden
            en biedt meer mogelijkheden voor scholing met behoud van uitkering.</p>
          <p>Bovendien is er in het Scandinavische model, en in het bijzonder de Zweedse verzorgingsstaat, een uitgebreider gezinsvriendelijk
            beleid. Er is een publiek gefinancierde kinderopvang, uitgebreide ouderschapsverlofregelingen en ontslagbescherming
            voor ouders. Als gevolg van deze maatregelen is de participatiegraad van vrouwen zeer hoog. Tegelijkertijd leidt de
            uitgebreide verzorgingsstaat tot een relatief hoge belastingdruk.</p>
          <p>Echter, in sommige analyses wordt Nederland genoemd als een land met het Scandinavische model (Aiginger and Guger, 2005;
            Sapir, 2005). Er zitten ook sterke overeenkomsten tussen ontwikkelingen in Nederland, en Zweden. Elementen die vergelijkbaar
            zijn met aspecten in het Scandinavische systeem liggen op het gebied van een activerende overheid en een grote verzorgingsstaat
            met universele toegang. Hierbij kan gedacht worden aan de AOW, bijstand, actief arbeidsmarktbeleid, individuele belastingheffing
            en inkomensverdeling.</p>
        </div>
        <div class="antwoord">
          <a id="d25e440" name="d25e440"></a>
          <p class="nummer">30</p>
          <p>Het klopt dat criminaliteit vaker voorkomt onder mensen met een zwakkere sociaal-economische positie. Dit is recent nog
            gepresenteerd in een studie naar de mate waarin specifieke culturele en sociaal-economische groepen vertegenwoordigd
            zijn in de misdaadcijfers.
            <a class="nootnum" href="#d25e471">3</a>
          </p>
        </div>
        <div class="antwoord">
          <a id="d25e447" name="d25e447"></a>
          <p class="nummer">31</p>
          <p>Het aantal gedetineerden is een resultante van de criminaliteit die we kennen en de straffen die we daarop uitdelen.
            De toename in het aantal opgelegde gevangenisstraffen komt vooral voort uit de omstandigheid dat de criminaliteit sinds
            medio jaren «70 sterk is gestegen. Dit betreft zowel de stijging van veel voorkomende criminaliteit zoals inbraken
            en overvallen als de opkomst van de georganiseerde misdaad (met name de groei van illegale drugsmarkten). Verder is
            er in Nederland sprake van een hoge urbanisatiegraad en maakt de geografische positie ons land aantrekkelijk voor illegale
            markten. Dit alles heeft bijgedragen tot een aantal gedetineerden dat ook internationaal gezien groot te noemen is.
            Overigens is sinds een aantal jaren de criminaliteit op zijn retour, en is een deel van de drugshandel weggedrukt,
            zodat het beroep op het gevangeniswezen weer sterk verminderd is.</p>
        </div>
        <div class="antwoord">
          <a id="d25e452" name="d25e452"></a>
          <p class="nummer">32</p>
          <p>In de publicatie
            <em>Criminaliteit en rechtshandhaving 2008
            </em> van het WODC en het CBS wordt geconcludeerd dat ons land Europees gezien een streng strafklimaat heeft, en dat
            deze positie het gevolg is van ontwikkelingen in het voorbije decennium. Het is onmiskenbaar dat in die periode het
            aantal gedetineerden per 100.000 inwoners sterk toenam, met circa 50%. Daarmee is ons land in 2007 terecht gekomen
            op de 14de plaats in de ranglijst van 29 Europese landen (zie tabel 11.8 in voornoemde publicatie). Uit analyses komt
            naar voren dat deze toename in het aantal gedetineerden in het bijzonder toe te schrijven is aan de ontwikkeling van
            de criminaliteit en minder aan een verandering in het straftoemetingsbeleid. Zo wordt de situatie in Nederland nog
            steeds gekenmerkt door een traditie waarin weliswaar veelvuldig een gevangenisstraf wordt opgelegd, maar waarin die
            straf een relatief korte duur heeft.</p>
        </div>
        <div class="antwoord">
          <a id="d25e460" name="d25e460"></a>
          <p class="nummer">33</p>
          <p>In de aangehaalde publicaties ligt voldoende materiaal om inzicht te krijgen in de achtergrond van de desbetreffende
            ontwikkelingen. Ik zie dan ook geen reden voor aanvullend onderzoek.</p>
        </div>
        <div id="noten">
          <hr>
          <div class="noot" id="supernote-note-d25e235">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e235" name="d25e235"></a>1</span>
            </sup>
            <p> «Niemandsland», biografie van een ideaal, Marcel van Dam, ISBN 9789023442080.</p>
          </div>
          <div class="noot" id="supernote-note-d25e238">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e238" name="d25e238"></a>2</span>
            </sup>
            <p> «De Onrendabelen», documentairefilm van Marcel van Dam en Hans Heijnen.</p>
          </div>
          <div class="noot" id="supernote-note-d25e241">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e241" name="d25e241"></a>3</span>
            </sup>
            <p> «Niemandsland», blz. 357.</p>
          </div>
          <div class="noot" id="supernote-note-d25e244">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e244" name="d25e244"></a>4</span>
            </sup>
            <p> «Niemandsland», blz. 244.</p>
          </div>
          <div class="noot" id="supernote-note-d25e247">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e247" name="d25e247"></a>5</span>
            </sup>
            <p> «Niemandsland», blz. 214.</p>
          </div>
          <div class="noot" id="supernote-note-d25e250">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e250" name="d25e250"></a>6</span>
            </sup>
            <p> «Niemandsland», blz. 230.</p>
          </div>
          <div class="noot" id="supernote-note-d25e253">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e253" name="d25e253"></a>7</span>
            </sup>
            <p> «Niemandsland», blz. 245.</p>
          </div>
          <div class="noot" id="supernote-note-d25e256">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e256" name="d25e256"></a>8</span>
            </sup>
            <p> «Niemandsland», blz. 146.</p>
          </div>
          <div class="noot" id="supernote-note-d25e465">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e465" name="d25e465"></a>1</span>
            </sup>
            <p> Ter inzage gelegd bij het Centraal Informatiepunt Tweede Kamer.</p>
          </div>
          <div class="noot" id="supernote-note-d25e468">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e468" name="d25e468"></a>2</span>
            </sup>
            <p> Deze categorieën zijn: old age» (AOW, VUT, pensioen), «survivors» (ANW), AO, werkloosheid, activerend arbeidsmarktbeleid
              en uitgaven gerelateerd aan zorg, gezin en wonen.</p>
          </div>
          <div class="noot" id="supernote-note-d25e471">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="d25e471" name="d25e471"></a>3</span>
            </sup>
            <p> R.P.W. Jennissen,
              <em>Criminaliteit, leeftijd en etniciteit,
              </em> WODC 2009 (zie met name hoofdstuk 4).</p>
          </div>
        </div>
      </div>    </article>

  </div>
</div>
