<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="kamervraagomschrijving_kop no-toc">
          <a id="d13441e41" name="d13441e41"></a>Vragen van het lid De Mos (PVV) aan de staatssecretaris van Infrastructuur en Milieu over het bericht «Al Gore start
          nieuwe klimaatcampagne» (ingezonden 21&nbsp;juli 2011).
        </h1>
        <h1 class="kamervraagomschrijving_kop no-toc">
          <a id="d13441e43" name="d13441e43"></a>Antwoord van staatssecretaris Atsma (Infrastructuur en Milieu) (ontvangen 14&nbsp;september 2011).
        </h1>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e47" name="d13441e47"></a>Vraag 1
          </h2>
          <p>Bent u bekend met het bericht «Al Gore start nieuwe klimaatcampagne»?
            <a class="nootnum supernote-click-ID-2011Z15696-d29e98"
              href="#ID-2011Z15696-d29e98">1</a>

          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e57" name="d13441e57"></a>Antwoord 1
          </h2>
          <p>Ja.</p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e64" name="d13441e64"></a>Vraag 2
          </h2>
          <p>Kunt u voor elk departement een gedetailleerd jaaroverzicht geven van de kosten (in euro’s) aangaande genomen maatregelen
            en heffingen ten aanzien van klimaatbeleid of beleid om klimaatverandering tegen te gaan vanaf het moment dat het Intergovernmental
            Panel on Climate Change (IPCC) werd opgericht in 1988?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e71" name="d13441e71"></a>Antwoord 2
          </h2>
          <p>De gevraagde informatie is niet over alle jaren beschikbaar. Een overzicht van de beschikbare middelen voor de periode
            1998 tot 2011, waarbij ook de gelden voor klimaatmitigatiemaatregelen van andere departementen zijn opgenomen, staat
            in de begroting van VROM van 2005 (uitgavenbudgetten; vergaderjaar 2004–2005, Kamerstuk 29800-XI, nr 1, Tabel B.2 bijlage
            5 Voortgang klimaatbeleid 2004). Voor de gedetailleerde cijfers voor de genoemde periode verwijs ik naar deze begroting.
            Het relevante onderdeel is als bijlage bij deze antwoorden gevoegd.
            <a class="nootnum supernote-click-ID-3645-d29e138"
              href="#ID-3645-d29e138">2</a> Na 2005 zijn dergelijke overzichten niet meer in de begroting opgenomen.
          </p>
          <p>De totale beschikbare middelen per departement over de periode 1998 t/m 2011 zijn hieronder samengevat:</p>
          <ul class="expliciet whitespace-small">
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>EZ 960,9 miljoen euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>LNV 13,6 miljoen euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>V&amp;W 45,4 miljoen euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>VROM 685,6 miljoen euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>FIN 95,8 miljoen euro
              </p>
            </li>
          </ul>
          <p>De kosten voor de Nederlandse Emissieautoriteit (NEa) zijn niet in deze begroting opgenomen. De kosten bedragen vanaf
            2005 gemiddeld 5 miljoen euro per jaar voor het EU emissiehandelssysteem (ETS). Over de periode 1988–2005 zijn geen
            kosten gemaakt, omdat ETS op 1&nbsp;januari 2005 is gestart.
          </p>
          <p>Het CBS is bezig met een project Adaptatie- en mitigatiekosten van de overheid. In dat project worden terugkijkend naar
            een beperkt aantal jaren (periode 2005–2009), deze gegevens gepubliceerd. Dit zal naar verwachting medio 2012 gebeuren.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e113" name="d13441e113"></a>Vraag 3
          </h2>
          <p>Kunt u gemotiveerd en gedetailleerd aangeven wat het kost om Nederland de Europese doelstelling van 20% CO
            <sub>2</sub> reductie te laten behalen voor 2020? Kunt u ook hierbij een kostenoverzicht van alle ministeries verschaffen?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e123" name="d13441e123"></a>Antwoord 3
          </h2>
          <p>Om tot een 20% reductie van CO
            <sub>2</sub> te komen zijn het ETS, de afspraken in het kader van non ETS sector en de fiscale vergroening de belangrijkste
            instrumenten. Op de kosten in het kader van de ETS ga ik in vraag 4 in. Voor zover kosten door het rijk zijn gemaakt
            in het kader van de non ETS sector verwijs ik naar het antwoord bij vraag 2.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e133" name="d13441e133"></a>Vraag 4
          </h2>
          <p>Kunt u gemotiveerd en gedetailleerd aangeven wat de kosten zullen zijn voor het bedrijfsleven in Nederland om aan de
            Europese norm voor 20% CO
            <sub>2</sub> reductie te voldoen.
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e143" name="d13441e143"></a>Antwoord 4
          </h2>
          <p>De kosten voor het bedrijfsleven kunnen niet in het algemeen worden weergegeven. Over de kosten in het kader van de ETS
            is wel iets te zeggen. Het onderliggende idee voor bedrijven die onder het emissiehandelssysteem vallen is dat zij
            zelf kunnen beoordelen wat de meest kostenefficiënte wijze is van CO
            <sub>2</sub>-reductie, bijvoorbeeld door zo nodig een keuze te maken voor investeren in energiebesparing of door het kopen
            van emissierechten. De administratieve lasten voor bedrijven die vallen onder het emissiehandelssysteem zijn geraamd
            door ACTAL. Op basis hiervan kom ik tot een raming over de jaren 2005 tot 2012 van in totaal 49 miljoen euro. Voor
            2005 was er geen ETS en hebben bedrijven dus beperkte kosten gemaakt. Voor 2013–2020 worden de administratieve lasten
            geschat op 66,3 miljoen euro in totaal. De kosten voor het kopen van emissierechten in die periode worden ruwweg geschat
            op 700–800 miljoen per jaar, afhankelijk van de CO
            <sub>2</sub>-prijs. De bedrijven hebben naast kosten ook voordeel door het ETS gekregen. In de periode 2005–2010 hebben
            zij in totaal 25,3 miljoen rechten meer gekregen dan zij nodig hadden om hun emissies in diezelfde periode af te dekken.
            Energiebedrijven kunnen de waarde van de benodigde emissierechten doorberekenen in de energieprijs (conform het principe
            vervuiler betaal). Ook voor de andere bedrijven onder emissiehandel is het zeer aannemelijk dat de waarde van emissierechten
            vanaf 2005 (deels) zijn doorberekend.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e156" name="d13441e156"></a>Vraag 5
          </h2>
          <p>Kan van elk departement worden aangegeven hoeveel FTE zich (deels) met het vraagstuk rond de klimaatverandering bezighouden
            en wat de totale loonkosten hiervoor zijn op jaarbasis sinds 1988?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e164" name="d13441e164"></a>Antwoord 5
          </h2>
          <p>De precieze informatie op jaarbasis over de inzet van fte’s op de verschillende onderwerpen binnen de departementen is
            over de gevraagde jaren niet te geven. Fte’s worden over verschillende begrotingsonderdelen en operationele doelen
            ingezet en zijn niet rechtstreeks aan de onderwerpen te relateren.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e171" name="d13441e171"></a>Vraag 6
          </h2>
          <p>Kunt u een overzicht geven van alle lokale, provinciale en landelijke projecten, initiatieven die op welke manier dan
            ook te maken hebben met CO
            <sub>2</sub> reductie en wat hiervan de kosten waren, welk doel zij dienden en waar en wanneer zij plaatsvonden sinds 1988?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e181" name="d13441e181"></a>Antwoord 6
          </h2>
          <p>In de in vraag 2 genoemde begroting van VROM is een aantal projecten van het rijk in samenwerking met gemeenten en provincies
            opgenomen. Het doel van deze projecten is bijdragen aan de Europese reductiedoelstelling voor broeikasgasemissies in
            2020. Onderstaand is een overzicht gegeven van recent gestarte en afgeronde projecten en hun kosten. Deze kosten waren
            eenmalig en voor één jaar.
          </p>
          <ul class="expliciet whitespace-small">
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>Bans-1 klimaatconvenant, een convenant dat in 2002 gesloten is tussen het Kabinet, gemeente en provincies.
                Dit project is vermeld in de genoemde begroting.
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>Bans+ (dit project is een vervolg op Bans-1): 6 miljoen euro in 2007.
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>Stimulering lokale klimaatinitiatieven (SLOK = Bans-2): 35 miljoen euro in 2008.
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>Innovatieprogramma klimaatneutrale steden (IKS): 7 miljoen euro in 2009.
              </p>
            </li>
          </ul>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e209" name="d13441e209"></a>Vraag 7
          </h2>
          <p>Kunt u vanaf 1988 een gedetailleerd jaaroverzicht geven aangaande de Nederlandse bijdrage aan Europa voor klimaatdoeleinden?</p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e216" name="d13441e216"></a>Antwoord 7
          </h2>
          <p>Nederland draagt jaarlijks een bedrag af aan de EU. Voor de hoogte van deze bedragen verwijs ik naar de verschillende
            begrotingen van het ministerie van Buitenlandse Zaken. In de jaarverslagen van de Europese Commissie staat aangegeven
            hoe de uitgaven van de Europese Commissie zijn verdeeld over de verschillende onderwerpen. De systematiek is zodanig
            dat er geen één op één relatie kan worden gelegd tussen de Nederlandse bijdrage aan Europa en de uitgaven van de Europese
            Commissie aan klimaatdoeleinden.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e223" name="d13441e223"></a>Vraag 8
          </h2>
          <p>Kunt u vanaf 1988 per jaar aangeven hoeveel geld aan ontwikkelingshulp beschikbaar werd gesteld voor klimaat doeleinden?</p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e230" name="d13441e230"></a>Antwoord 8
          </h2>
          <p>Nederland rapporteert elke vier jaar aan de UNFCCC over haar verplichtingen inzake het klimaatverdrag via de nationale
            communicaties. Sinds 2001 wordt hierin gerapporteerd over de klimaatuitgaven binnen ontwikkelingssamenwerking. In de
            jaren voor 2001 werd hierover niet gerapporteerd.
          </p>
          <p>Deze klimaatuitgaven betreffen programma’s voor het bevorderen van het gebruik van hernieuwbare energie en adaptatiemaatregelen
            in met name de water- en landbouwsector.
          </p>
          <p>De door Nederland gerapporteerde uitgaven zijn:</p>
          <ul class="expliciet whitespace-small">
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>2001: 56,52 miljoen Euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>2002: 55,31 miljoen Euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>2003: 80,56 miljoen Euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>2004: 74,10 miljoen Euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>2005: 79,29 miljoen Euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>2006: 82,14 miljoen Euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>2007: 81,51 miljoen Euro
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">– </span>2008: 98,65 miljoen Euro
              </p>
            </li>
          </ul>
          <p>De uitgaven voor 2009 en 2010 zijn nog niet beschikbaar en zullen via de nationale communicatie 2009–2012 aan de UNFCCC
            gerapporteerd worden. In het kader van het terugdringen van de administratieve lasten zullen er geen aparte rapportages
            over klimaatuitgaven voor de jaren 2009, 2010 en 2011 gemaakt worden.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e284" name="d13441e284"></a>Vraag 9
          </h2>
          <p>Kunt u het totale bedrag zoals voortgekomen uit de bovenstaande vragen vermelden en gemotiveerd aangeven hoe dit bedrag
            tot stand is gekomen.
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e291" name="d13441e291"></a>Antwoord 9
          </h2>
          <p>Het informatiegehalte per onderdeel is zo verschillend dat het op basis daarvan niet mogelijk is om een juist bedrag
            voor het geheel over de periode 1988–2011 aan te geven.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e298" name="d13441e298"></a>Vraag 10
          </h2>
          <p>Kunt u aangeven hoeveel kouder het is geworden en hoeveel de zeespiegel is gedaald door alle klimaatkosten die zijn gemaakt
            en die tot doel hebben om Nederland klimaatneutraal te maken.
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e305" name="d13441e305"></a>Antwoord 10
          </h2>
          <p>De Nederlandse klimaatkosten hebben niet tot doel gehad om Nederland in 2012 of 2020 reeds klimaatneutraal te maken.
            De doelstellingen in het kader van het Kyotoprotocol (2012) en het Europese klimaat- en energiepakket (2020) zijn bescheidener.
            De relatie tussen uitgaven in het kader van klimaatbeleid en effecten op trends in temperatuurreeksen en trends in
            verminderde zeespiegelstijging kunnen pas op langere termijn zichtbaar worden. De rechtstreekse relatie bestaat wel
            tussen klimaat uitgaven en de bijdrage van Nederland aan broeikasgasreductie. Deze bijdragen worden gedaan met het
            doel dat deze broeikasgasreductie uiteindelijk zal leiden tot een beperking van de temperatuurstijging. Het klimaatbeleid
            leidt er toe dat we de doelstellingen voor 2012/2020 gaan halen. Om de temperatuurstijging in 2050 tot 2 graden te
            beperken (dat is het uitgangspunt van de klimaatconferentie in Cancun geweest) is een grotere inspanning nodig.
          </p>
        </div>
        <div class="vraag">
          <h2 class="stuktitel no-toc">
            <a id="d13441e313" name="d13441e313"></a>Vraag 11
          </h2>
          <p>Deelt u de mening dat de begrippen klimaat, energie en milieu drie totaal verschillende dingen zijn en los van elkaar
            gezien moeten worden? Zo ja, deelt u de mening dat mensen te nietig zijn om het klimaat, het weer over langere periode,
            te beïnvloeden?
          </p>
        </div>
        <div class="antwoord">
          <h2 class="stuktitel no-toc">
            <a id="d13441e320" name="d13441e320"></a>Antwoord 11
          </h2>
          <p>Nee, klimaat, energie en milieu kunnen sterk met elkaar samenhangen.</p>
        </div>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-2011Z15696-d29e98">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-2011Z15696-d29e98">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-2011Z15696-d29e98" name="ID-2011Z15696-d29e98"></a>1</span>
            </sup>
            <p>http://www.trouw.nl/tr/nl/4332/Groen/article/detail/2802801/2011/07/12/Al-Gore-start-nieuwe-klimaatcampagne.dhtml</p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-3645-d29e138">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-3645-d29e138">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-3645-d29e138" name="ID-3645-d29e138"></a>2</span>
            </sup>
            <p> Ter inzage gelegd bij het Centraal Informatiepunt Tweede Kamer.</p>
          </div>
        </div>

      </div>    </article>

  </div>
</div>
