<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a name="id1-3-1">
            <!---->
          </a>Verordening op de heffing en de invordering van onroerende-zaakbelastingen 2014-2 gemeente Lingewaal</h1>
        <div class="regeling">
          <!---->
          <div class="aanhef">
            <a name="id1-3-2-1">
              <!---->
            </a>
            <div class="preambule">
              <!---->
              <p>De raad van de gemeente Lingewaal; </p>
              <p>gelezen het voorstel van het college van burgemeester en wethouders van 7 januari 2014;</p>
              <p>gelet op de artikelen 220 tot en met 220h van de Gemeentewet;</p>
              <p>besluit vast te stellen de volgende verordening:</p>
              <p>Verordening op de heffing en de invordering van onroerende-zaakbelastingen 2014-2 (Verordening onroerende-zaakbelastingen
                2014-2)</p>
            </div>
          </div>
          <div class="regeling-tekst">
            <a name="id1-3-2-2">
              <!---->
            </a>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-1-1">
                  <!---->
                </a>Artikel 1
                <br>Belastingplicht</h3>
              <p>Onder de naam "onroerende-zaakbelastingen" worden ter zake van binnen de gemeente gelegen onroerende zaken twee directe
                belastingen geheven;</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">a.</span>een gebruikersbelasting van degene die bij het begin van het kalenderjaar een onroerende zaak die
                    niet in de hoofdzaak tot woning dient, al dan niet krachtens eigendom, bezit, beperkt recht of persoonlijk
                    recht gebruikt, verder te noemen: gebruikersbelasting;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">b.</span>een eigenarenbelasting van degene die bij het begin van het kalenderjaar van een onroerende zaak het
                    genot heeft krachtens eigendom, bezit of beperkt recht, verder te noemen: eigenarenbelasting.</p>
                </li>
              </ul>
              <p>Bij de gebruikersbelasting wordt:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">a.</span>gebruik door degene aan wie een deel van een onroerende zaak in gebruik is gegeven, aangemerkt als
                    gebruik door degene die dat deel in gebruik heeft gegeven; degene die het deel in gebruik heeft gegeven is
                    bevoegd de belasting als zodanig te verhalen op degene aan wie dat deel in gebruik is gegeven;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">b.</span>het ter beschikking stellen van een onroerende zaak voor volgtijdig gebruik aangemerkt als gebruik
                    door degene die die onroerende zaak ter beschikking heeft gesteld; degene die de onroerende zaak ter beschikking
                    heeft gesteld is bevoegd de belasting als zodanig te verhalen op degene aan wie die zaak ter beschikking is
                    gesteld.</p>
                </li>
              </ul>
              <p>Met betrekking tot de eigenarenbelasting wordt als genothebbende krachtens eigendom, bezit of beperkt recht aangemerkt
                degene die bij het begin van het kalenderjaar als zodanig in de kadastrale registratie is vermeld, tenzij blijkt
                dat hij op dat tijdstip geen genothebbende krachtens eigendom, bezit of beperkt recht is.</p>
            </div>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-2-1">
                  <!---->
                </a>Artikel 2
                <br>Belastingobject</h3>
              <p>Als onroerende zaak wordt aangemerkt de onroerende zaak, bedoeld in hoofdstuk III van&nbsp;de Wet waardering onroerende
                zaken.</p>
              <p>Een onroerende zaak dient in hoofdzaak tot woning indien de waarde die op grond van hoofdstuk IV van de Wet waardering
                onroerende zaken is vastgesteld voor die onroerende zaak in hoofdzaak kan worden toegerekend aan delen van die
                onroerende zaak die dienen tot woning dan wel volledig dienstbaar zijn aan woondoeleinden.</p>
            </div>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-3-1">
                  <!---->
                </a>Artikel 3
                <br>Maatstaf van heffing</h3>
              <p>De heffingsmaatstaf is de op de voet van hoofdstuk IV van de Wet waardering onroerende zaken voor de onroerende zaak
                vastgestelde waarde voor het kalenderjaar bedoeld in artikel 1.</p>
              <p>Indien met betrekking tot een onroerende zaak geen waarde is vastgesteld op de voet van hoofdstuk IV van de Wet waardering
                onroerende zaken wordt de heffingsmaatstaf van die onroerende zaak bepaald met overeenkomstige toepassing van het
                bepaalde bij of krachtens de artikelen 17, 18 en 20, tweede lid, van de Wet waardering onroerende zaken.</p>
            </div>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-4-1">
                  <!---->
                </a>Artikel 4
                <br>Vrijstellingen</h3>
              <p>In afwijking in zoverre van artikel 3 wordt bij de bepaling van de heffingsmaatstaf buiten aanmerking gelaten, voor
                zover dit niet reeds is geschied bij de bepaling van de in dat artikel bedoelde waarde, de waarde van:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">a</span>ten behoeve van de land- of bosbouw bedrijfsmatig geëxploiteerde cultuurgrond, daaronder mede begrepen
                    de open grond, alsmede de ondergrond van glasopstanden, die bedrijfsmatig aangewend wordt voor de kweek of
                    teelt van gewassen, zonder daarbij de ondergrond als voedingsbodem te gebruiken;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">b</span>glasopstanden, die bedrijfsmatig worden aangewend voor de kweek of teelt van gewassen, voorzover de
                    ondergrond daarvan bestaat uit de in onderdeel a bedoelde grond;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">c</span>onroerende zaken die in hoofdzaak zijn bestemd voor de openbare eredienst of voor het houden van openbare
                    bezinningssamenkomsten van levensbeschouwelijke aard, een en ander met uitzondering van delen van zodanige
                    onroerende zaken die dienen als woning;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">d</span>één of meer onroerende zaken die deel uitmaken van een op de voet van de Natuurschoonwet 1928 aangewezen
                    landgoed dat voldoet aan de in artikel 1, derde lid, onderdeel b, van die wet bedoelde voorwaarden met uitzondering
                    van de daarop voorkomende gebouwde eigendommen;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">e</span>natuurterreinen, waaronder mede worden verstaan duinen, heidevelden, zandverstuivingen, moerassen en
                    plassen, die door rechtspersonen met volledige rechtsbevoegdheid welke zich uitsluitend of nagenoeg uitsluitend
                    het behoud van natuurschoon ten doel stellen, beheerd worden;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">f</span>openbare land- en waterwegen en banen voor openbaar vervoer per rail, een en ander met inbegrip van
                    kunstwerken;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">g</span>waterverdedigings- en waterbeheersingswerken die worden beheerd door organen, instellingen of diensten
                    van publiekrechtelijke rechtspersonen, met uitzondering van de delen van zodanige werken die dienen als woning;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">h</span>werken die zijn bestemd voor de zuivering van riool- en ander afvalwater en die worden beheerd door
                    organen, instellingen of diensten van publiekrechtelijke rechtspersonen, met uitzondering van de delen van
                    zodanige werken die dienen als woning;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">i</span>werktuigen die van een onroerende zaak kunnen worden afgescheiden zonder dat beschadiging van betekenis
                    aan die werktuigen wordt toegebracht en die niet op zichzelf als gebouwde eigendommen zijn aan te merken;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">j</span>onroerende zaken voor zover die bestemd zijn te worden gebruikt voor de publieke dienst van de gemeente,
                    met uitzondering van delen van zodanige onroerende zaken die bestemd zijn te worden gebruikt voor het geven
                    van onderwijs;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">k</span>straatmeubilair, waaronder begrepen alle zodanige gebouwde eigendommen - niet zijnde gebouwen - welke
                    zijn geplaatst ten gerieve of in het belang van het publiek, ten dienste van het verkeer of ter verfraaiing
                    van de gemeente, zoals lichtmasten, verkeersinstallaties, standbeelden, monumenten, fonteinen, banken abri's,
                    hekken en palen;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">l</span>plantsoenen, parken en waterpartijen, die bij de gemeente in beheer zijn of waarvan de gemeente het
                    genot heeft krachtens eigendom, bezit of beperkt recht, met uitzondering van delen van zodanige onroerende
                    zaken die dienen als woning;</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">m</span>begraafplaatsen, urnentuinen en crematoria, met uitzondering van delen van zodanige onroerende zaken
                    die dienen als woning.</p>
                </li>
              </ul>
              <p>De vrijstelling met betrekking tot de in onderdeel j van het eerste lid bedoelde onroerende zaken voor de eigenarenbelasting
                geldt niet voor zover de gemeente van die zaken niet het genot heeft krachtens eigendom, bezit of beperkt recht.</p>
              <p>In afwijking in zoverre van artikel 3 wordt bij de bepaling van de heffingsmaatstaf voor de gebruikersbelasting buiten
                aanmerking gelaten de waarde van gedeelten van de onroerende zaak die in hoofdzaak tot woning dienen dan wel in
                hoofdzaak dienstbaar zijn aan woondoeleinden.</p>
            </div>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-5-1">
                  <!---->
                </a>Artikel 5
                <br>Belastingtarieven</h3>
              <p>Het tarief van de belasting bedraagt een percentage van de heffingsmaatstaf. Het percentage bedraagt voor:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">a.</span>de gebruikersbelasting: 0,183%</p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">b.</span>de eigenarenbelasting:</p>
                  <p>1. voor onroerende zaken welke in hoofdzaak tot woning dienen: 0,113%</p>
                  <p>2. voor onroerende zaken welke niet in hoofdzaak tot woning dienen: 0,214%</p>
                </li>
              </ul>
              <p>Aanslagen minder dan € 5,-- worden niet opgelegd. Voor de toepassing van de vorige volzin wordt het totaal van de
                op één aanslagbiljet verenigde aanslagen aangemerkt als één belastingaanslag.</p>
            </div>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-6-1">
                  <!---->
                </a>Artikel 6
                <br>Wijze van heffing</h3>
              <p>De belastingen worden bij wege van aanslag geheven.</p>
            </div>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-7-1">
                  <!---->
                </a>Artikel 7
                <br>Termijnen van betaling</h3>
              <p>In afwijking van artikel 9, eerste lid, van de Invorderingswet 1990 moeten de aanslagen/gevorderde bedragen worden
                betaald in twee termijnen, waarvan de eerste termijn vervalt op de laatste dag van de maand volgend op de maand
                die in de dagtekening van het aanslagbiljet is vermeld en de tweede twee maanden later.</p>
              <p>In afwijking van het eerste lid geldt dat betaling via automatische incasso in acht termijnen mogelijk is, mits wordt
                voldaan aan de daaraan verbonden en in het Incassoreglement van de Belastingsamenwerking Rivierenland (BSR) opgenomen
                voorwaarden. </p>
              <p>De Algemene Termijnenwet is niet van toepassing op de in dit artikel gestelde termijnen. </p>
            </div>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-8-1">
                  <!---->
                </a>Artikel 8
                <br>Nadere regels door het college van burgemeester en wethouders</h3>
              <p>Het college van burgemeester en wethouders kan nadere regels geven met betrekking tot de heffing en invordering van
                de onroerende-zaakbelastingen.</p>
            </div>
            <div class="artikel">
              <!---->
              <h3 class="artikel_kop">
                <a name="id1-3-2-2-9-1">
                  <!---->
                </a>Artikel 10
                <br>Inwerkingtreding en citeertitel</h3>
              <p>De "Verordening onroerende-zaakbelastingen 2014" van 12 december 2013 wordt ingetrokken met ingang van de in het
                derde lid genoemde datum van ingang van de heffing, met dien verstande dat zij van toepassing blijft op de belastbare
                feiten die zich voor die datum hebben voorgedaan.</p>
              <p>Deze verordening treedt in werking met ingang van 1 januari 2014..</p>
              <p>De datum van ingang van de heffing is 1 januari 2014.</p>
              <p>Deze verordening wordt aangehaald als "Verordening onroerende-zaakbelastingen 2014-2”.</p>
              <p class="tussenkop">
                <strong class="tussenkop_cur"></strong>
              </p>
              <p>Aldus vastgesteld in de openbare raadsvergadering van 30 januari 2014,</p>
              <p>De griffier, de voorzitter,</p>
              <p>H.H. Dame L.H.M. van Ruijven- van Leeuwen</p>
            </div>
          </div>
        </div>

      </div>

    </article>

  </div>
</div>
