<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <div class="officiele-publicatie" lang="nl" xml:lang="nl">
          <div class="_p_gemeenteblad">
            <a name="id1-3">
              <!---->
            </a>
            <a name="id1-3-1">
              <!---->
            </a>
            <div class="staatscourant_kop _p_single-kop-titel">
              <a name="id1-3-1-1">
                <!---->
              </a>Horeca Apollolaan 17 </div>
            <div class="_p_zakelijke-mededeling">
              <a name="id1-3-2">
                <!---->
              </a>
              <div class="_p_zakelijke-mededeling-tekst">
                <a name="id1-3-2-1">
                  <!---->
                </a>
                <div class="_p_tekst">
                  <a name="id1-3-2-1-1">
                    <!---->
                  </a>
                  <div class="common-al _p_common-al">
                    <a name="id1-3-2-1-1-1">
                      <!---->
                    </a>De heer R.A. Steenbeke voor het exploiteren van een café/ cafetaria aan de Apollolaan 17 te Almelo met openingstijden
                    op maandag tot en met zaterdag van 11:00 uur tot 24:00 uur en op zondag van 11:00 uur tot 22:00 uur;</div>
                  <div class="common-al _p_common-al">
                    <a name="id1-3-2-1-1-2">
                      <!---->
                    </a>&nbsp;</div>
                  <div class="_p_last-al">
                    <a name="id1-3-2-1-1-3">
                      <!---->
                    </a> Belanghebbenden kunnen tegen deze aanvraag om vergunning, tot 30 juni 2015, mondeling of schriftelijk hun zienswijze
                    kenbaar maken. Uw schriftelijke zienswijze richt u aan de burgemeester ter attentie van Bijzondere Wetten.
                    Wilt u mondeling uw zienswijze kenbaar maken dan kun u contact opnemen met Bijzondere Wetten, via (0546) 54
                    11 11.</div>
                </div>
              </div>
              <div class="_p_zakelijke-mededeling-sluiting">
                <a name="id1-3-2-2">
                  <!---->
                </a>
                <div style="font-style: italic; line-height: 130%;">
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

  </div>
</div>
