<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">

    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="title">
          <a id="d16e42" name="d16e42"></a>2
          <span class="item-titel">Vragenuur</span>
        </h1>
        <div class="agendapunt">
          <div class="onderwerp">
            <p>Aan de orde is
              <strong class="vet">het mondelinge vragenuur</strong>, overeenkomstig artikel 136 van het Reglement van Orde.
            </p>
            <p>
              <strong class="vet">Vragen</strong> van het lid Brinkman aan de minister van Buitenlandse Zaken over
              <strong class="vet">het bericht "Marokko weert cruiseschip met homo's"</strong>.
            </p>
          </div>
          <div class="spreekbeurt">
            <p class="spreker">
              <span class="voorvoegsels">De</span>
              <span class="achternaam">voorzitter</span>:
            </p>

            <div class="alineagroep">
              <p>Ik heet de minister van Buitenlandse Zaken van harte welkom.</p>
              <p>Het woord is aan de heer Brinkman.</p>
            </div>

          </div>
          <div class="spreekbeurt eerste">
            <p class="spreker">
              <span class="voorvoegsels">De heer</span>
              <span class="achternaam">Brinkman</span> (
              <span class="politiek">Brinkman</span>):
            </p>

            <div class="alineagroep">
              <p>Voorzitter. RSVP Vacations is een Amerikaanse reisorganisatie die specifiek reizen organiseert voor homoseksuele
                en lesbische mannen en vrouwen. Op de website van RSVP staat: "the original gay and lesbian cruise company". Volgens
                nieuws op NU.nl van afgelopen zondag zou de Nieuw-Amsterdam bij een reis van deze organisator, RSVP Vacations,
                zijn geweerd uit de Marokkaanse havenstad Casablanca, omdat dan mogelijk vele homoseksuelen de stad zouden binnenkomen.
                Ik heb begrepen dat dit mogelijk ettelijke maanden geleden al zou zijn gebeurd.
              </p>
              <p>De homofobie in de islamitische staat Marokko is ons natuurlijk allemaal bekend. Homoseksualiteit is zelfs verboden
                in Marokko. Maar ook in ons land hebben wij problemen met de homofobie, bij met name Marokkaanse jongeren. Ik vind
                dat Nederland in het algemeen en politici in het bijzonder zich nadrukkelijk moeten weren tegen deze homofobe facetten
                van met name Marokkaanse jongeren. We moeten met zijn alleen uitstralen dat mensen met hun poten moeten afblijven
                van onze homo's en lesbiennes. Ik heb dan ook de volgende vragen aan de minister. Klopt het bericht? Zo ja, wat
                heeft de minister vervolgens ondernomen? Ik heb geen nadrukkelijke reactie gezien van de regering op dit bericht
                en ik vraag me af waarom niet. Is de minister niet met mij van mening dat een krachtige afwijzing een signaal zou
                zijn tegen die Marokkaanse homofobe jongeren en tegen die islamitische haatimams die nadrukkelijk homofobe uitspraken
                doen in ons land? Heeft de minister de ambassadeur hier al over onderhouden?
              </p>
            </div>

          </div>
          <div class="spreekbeurt eerste">
            <p class="spreker">
              <span class="voorvoegsels">Minister</span>
              <span class="achternaam">Rosenthal</span>:
            </p>

            <p>Voorzitter. Laat ik om te beginnen zeggen dat navraag bij de Marokkaanse autoriteiten heeft uitgewezen dat er geen
              sprake is van een verbod op het aanmeren van de Nieuw Amsterdam. De Marokkaanse minister van toerisme heeft in een
              officiële verklaring gemeld dat zijn ministerie nimmer vraagt naar de seksuele geaardheid van toeristen die Marokko
              bezoeken. Ik heb ook te horen gekregen dat het cruiseschip toegang kan krijgen en aanmeren als het wil terugkeren.
              Dit neemt natuurlijk niet weg dat alles wat met homofobie te maken heeft en waar de geachte vragensteller naar verwijst,
              volop bestreden moet worden. Dat doet de Nederlandse regering ook. Over de situatie in Marokko zijn wij voortdurend
              in dialoog met Marokko. We praten ook via de Europese Unie over het feit dat homoseksualiteit in Marokko formeel
              verboden is. Het wordt er weliswaar in de praktijk gedoogd, zolang geen aanstootgevend gedrag aan de orde is in de
              publieke ruimte, maar dat is natuurlijk niet zoals wij het willen. Er is in EU-verband nu ook een apart hoofdstuk
              opgenomen in het nieuwe actieplan EU-Marokko over mensenrechten, waarin dit ook volop een rol speelt. Laat daar van
              mijn kant geen misverstand over bestaan: ik vind dat landen zich niet kunnen aanmatigen om mensen van welke seksuele
              geaardheid dan ook om reden van die seksuele geaardheid de toegang tot hun grondgebied te weigeren.
            </p>

          </div>
          <div class="spreekbeurt">
            <p class="spreker">
              <span class="voorvoegsels">De heer</span>
              <span class="achternaam">Brinkman</span> (
              <span class="politiek">Brinkman</span>):
            </p>

            <p>Ik heb in hetzelfde bericht gelezen dat de Marokkaanse autoriteiten inderdaad ontkennen dat er sprake was van een weigering
              om de Nieuw Amsterdam daar te laten aanmeren. Ik moet echter eerlijk zeggen dat ik niet zo veel waarde hecht aan
              de woorden van de Marokkaanse regering. Ik geloof eerder de Nederlandse rederij en de Holland Amerika Lijn. Van hen
              heb ik begrepen dat hun wel degelijk te verstaan is gegeven om daar niet aan te meren en terug te keren naar Spanje.
              Ik vind het verrassend dat dit voorval al in februari gebeurd is en dat de Nederlandse regering, nu het eindelijk
              naar buiten komt, contact met de Marokkaanse regering hierover onderhoudt. Hoeveel waarde hecht de minister aan de
              woorden van de Marokkaanse regering? Onze eigen rederij en de betrokken Amerikaanse organisator van de reis geven
              immers aan dat ze daar op dat moment niet welkom waren. Ik vind in ieder geval dat wij als politici nadrukkelijk
              de taak hebben om ons te weren tegen dit soort homofobie. Ik wil graag weten of de minister het daarmee eens is.
              Dat vind ik temeer daar wij in Nederland ook last hebben van Marokkaanse onderdanen die dit soort homofoob gedrag
              hier eveneens tentoonspreiden. Graag hoor ik hierover een uitspraak van de minister.
            </p>

          </div>
          <div class="spreekbeurt">
            <p class="spreker">
              <span class="voorvoegsels">Minister</span>
              <span class="achternaam">Rosenthal</span>:
            </p>

            <p>Op de laatste vraag is het antwoord simpelweg bevestigend. Natuurlijk hebben wij ons uit te spreken over situaties
              waarin van homofobie sprake is. Dat willen wij niet en het is ook bijna in strijd met de constitutionele bepalingen
              die wij hebben. Artikel 1 van de Grondwet komt wel dichtbij, in elk geval wanneer homofobie zich manifesteert in
              handelingen. Wat de situatie betreft waarin RSVP thans verkeert met het cruiseschip in kwestie, zou ik willen zeggen:
              the proof of the pudding is in the eating. Laat het cruiseschip zich alsnog naar Casablanca begeven, daar aanmeren
              en doen waar de reis voor gepland was.
            </p>

          </div>
          <div class="spreekbeurt">
            <p class="spreker">
              <span class="voorvoegsels">De heer</span>
              <span class="achternaam">Brinkman</span> (
              <span class="politiek">Brinkman</span>):
            </p>

            <p>Ik vind dat toch iets te makkelijk van de minister. Ik zou de betrokken organisator met de minister willen oproepen
              om dat te doen, maar ik wil de minister toch vragen om voortaan alert te zijn als zich dit soort gevallen voordoen.
              Wij moeten met zijn allen ervoor staan dat er een einde komt aan homogeweld en we zien veel te vaak dat het homogeweld
              toeneemt, mede door Marokkaanse onderdanen, Marokkaanse jongeren, die zich daar met name schuldig aan maken in de
              grote steden. Er ligt hier een belangrijke taak. Als zich zoiets weer voordoet, verwacht ik dat ook de minister daar
              nadrukkelijk alerter op reageert.
            </p>

          </div>
          <div class="spreekbeurt">
            <p class="spreker">
              <span class="voorvoegsels">Minister</span>
              <span class="achternaam">Rosenthal</span>:
            </p>

            <p>Voorzitter. Als mij eerder bekend was geweest wat mij nu bekend is, dan hadden wij daar natuurlijk op gereageerd op
              het moment zelf. We hebben nu navraag gedaan zodra het ons bekend werd. Helaas heb ik van RSVP die berichten niet
              binnengekregen. Mocht het anders zijn en mocht ik de Kamer hiermee niet goed hebben geïnformeerd, dan kom ik daar
              zeker nog op terug. Bij mijn weten is het bericht pas kortgeleden bij ons binnengekomen.
            </p>

          </div>
        </div>

      </div>    </article>


  </div>
</div>
