<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h2 class="stuktitel">
          <a id="d0e21" name="d0e21"></a>Lijst van ingekomen stukken, met de door de Voorzitter ter zake gedane voorstellen:
        </h2>
        <p>De volgende koninklijke boodschappen</p>
        <p>Vaststelling van de Wet Belastingwet BES (Belastingwet BES) - 32189 </p>
        <ul>
          <li>
            <p>staatssecretaris van Financiën, Jager de J.C. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Koninklijke boodschap, met de erbij behorende stukken, is al rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Vaststelling van de Wet Douane- en Accijnswet BES (Douane- en Accijnswet BES) - 32190 </p>
        <ul>
          <li>
            <p>staatssecretaris van Financiën, Jager de J.C. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Koninklijke boodschap, met de erbij behorende stukken, is al rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Wijziging van de Kieswet houdende verhoging van de voorkeurdrempel, beperking van de mogelijkheid tot het aangaan van lijstencombinaties
          alsmede vaststelling van het tijdstip van de stemming voor de verkiezing van de leden van de Eerste Kamer - 32191 </p>
        <ul>
          <li>
            <p>staatssecretaris van Binnenlandse Zaken en Koninkrijksrelaties, Bijleveld-Schouten A.Th.B. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Koninklijke boodschap, met de erbij behorende stukken, is al rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Wijziging van de Wet op het onderwijstoezicht en enige andere wetten in verband met de invoering van geïntegreerd toezicht
          en de gewijzigde rol van de Inspectie van het onderwijs bij het toezichtproces - 32193 </p>
        <ul>
          <li>
            <p>minister van Onderwijs, Cultuur en Wetenschap, Plasterk R.H.A. - 31&nbsp;oktober 2009
            </p>
          </li>
          <li>
            <p>Koninklijke boodschap, met de erbij behorende stukken, is al rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Wijziging van het Wetboek van Strafrecht, het Wetboek van Strafvordering en enige andere wetten ter verbetering van de
          toepassing van de maatregel ter ontneming van wederrechtelijk verkregen voordeel (verruiming mogelijkheden voordeelontneming)
          - 32194 </p>
        <ul>
          <li>
            <p>minister van Justitie, Hirsch Ballin E.M.H. - 2&nbsp;november 2009</p>
          </li>
          <li>
            <p>Koninklijke boodschap, met de erbij behorende stukken, is al rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Wijziging van de Wet publieke gezondheid onder meer in verband met de Wet veiligheidsregio's - 32195 </p>
        <ul>
          <li>
            <p>minister van Onderwijs, Cultuur en Wetenschap, Plasterk R.H.A. - 2&nbsp;november 2009</p>
          </li>
          <li>
            <p>Koninklijke boodschap, met de erbij behorende stukken, is al rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Wijziging van de Geneesmiddelenwet in verband met de noodzaak enige technische verbeteringen aan te brengen in die wet,
          alsmede houdende wijziging van de Wet op de beroepen in de individuele gezondheidszorg in verband met de registratie
          in het BIG-register van verpleegkundigen die bevoegd zijn UR-geneesmiddelen voor te schrijven - 32196 </p>
        <ul>
          <li>
            <p>minister van Volksgezondheid, Welzijn en Sport, Klink A. - 2&nbsp;november 2009</p>
          </li>
          <li>
            <p>Koninklijke boodschap, met de erbij behorende stukken, is al rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Wijziging van de Wet milieubeheer, houdende aanpassing van hoofdstuk 2 aan de Kaderwet zelfstandige bestuursorganen en
          aanvulling, verduidelijking en vereenvoudiging van de in hoofdstuk 16 opgenomen regeling van de systemen voor de handel
          in broeikasgas- en NO
          <sub>x</sub>-emissierechten in verband met aanbevelingen uit het project Evaluatie Emissiehandel, proefprojecten voor de opslag
          van CO
          <sub>2</sub> en wijzigingen van verordening (EG) nr. 2216/2004 van de Commissie van de Europese Gemeenschappen van 21&nbsp;december
          2004 inzake een gestandaardiseerd en beveiligd registersysteem overeenkomstig Richtlijn 2003/87/EG van het Europees Parlement
          en de Raad en Beschikking 280/2004/EG van het Europees Parlement en de Raad (PbEU L 386) (Aanpassingswet handel in emissierechten
          II) - 32197 minister van Volkshuisvesting, Ruimtelijke Ordening en Milieubeheer, Cramer J.M. - 31&nbsp;oktober 2009 </p>
        <ul>
          <li>
            <p>Koninklijke boodschap, met de erbij behorende stukken, is al rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>De volgende brieven</p>
        <p>Verslag van de Ecofin Raad van 19 en 20&nbsp;oktober 2009 - 21501-07-678 </p>
        <ul>
          <li>
            <p>minister van Financiën, Bos W.J. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Verslag Landbouw- en Visserijraad d.d. 19-20&nbsp;oktober 2009 - 21501-32-361 </p>
        <ul>
          <li>
            <p>minister van Landbouw, Natuur en Voedselkwaliteit, Verburg G. - 29&nbsp;oktober 2009
            </p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Seksueel misbruik in gehandicapteninstellingen - 24170-96 </p>
        <ul>
          <li>
            <p>Lijst van ingekomen stukkenstaatssecretaris van Volksgezondheid, Welzijn en Sport, Bussemaker M. - 26&nbsp;oktober
              2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Aanwijzing NZA-beleidsregel kleinschalige zorg voor mensen met dementie - 25424-94 </p>
        <ul>
          <li>
            <p>staatssecretaris van Volksgezondheid, Welzijn en Sport, Bussemaker M. - 23&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Lijst van vragen en antwoorden inzake budget vervanging F-16 - 26488-202 </p>
        <ul>
          <li>
            <p>staatssecretaris van Defensie, Vries de J.G. - 27&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Vijfde voortgangsrapportage Plan van Aanpak tbs/Forensische zorg in strafrechtelijk kader - 29452-122 </p>
        <ul>
          <li>
            <p>staatssecretaris van Justitie, Albayrak N. - 27&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Naast en met elkaar. Brief over de relatie tussen informele en formele zorg - 30169-20 </p>
        <ul>
          <li>
            <p>staatssecretaris van Volksgezondheid, Welzijn en Sport, Bussemaker M. - 27&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Scholingsdeelname flexwerkers - 31070-58 </p>
        <ul>
          <li>
            <p>minister van Sociale Zaken en Werkgelegenheid, Donner J.P.H. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Rapport "Growing within limits" - 31793-20 </p>
        <ul>
          <li>
            <p>minister van Volkshuisvesting, Ruimtelijke Ordening en Milieubeheer, Cramer J.M. - 27&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Wachtlijsten kinderopvang - 31839-18 </p>
        <ul>
          <li>
            <p>staatssecretaris van Onderwijs, Cultuur en Wetenschap, Dijksma S.A.M. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Antwoord op de vraag gesteld in het vso deskundigheidseisen over het maximum aantal te declareren uren kinderopvang - 31874-55
          </p>
        <ul>
          <li>
            <p>staatssecretaris van Onderwijs, Cultuur en Wetenschap, Dijksma S.A.M. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Reactie op nieuw ingediende amendementen van de Successiewet 1956 - 31930-60 </p>
        <ul>
          <li>
            <p>staatssecretaris van Financiën, Jager de J.C. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Beantwoording vragen van de commissie over een mogelijke voorlichtingsbijeenkomst inzake wijziging Wet op de architectentitel
          - 32016-6 </p>
        <ul>
          <li>
            <p>minister van Volkshuisvesting, Ruimtelijke Ordening en Milieubeheer, Cramer J.M. - 26&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Regionale omroep - 32123-VIII-17 </p>
        <ul>
          <li>
            <p>minister van Onderwijs, Cultuur en Wetenschap, Plasterk R.H.A. - 27&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Beantwoording vragen van de commissie voor Defensie over de eerste rapportage sociaal veilige werk- en leefomgeving - 32123-X-19
          </p>
        <ul>
          <li>
            <p>staatssecretaris van Defensie, Vries de J.G. - 27&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd
            </p>
          </li>
        </ul>
        <p>De volgende brieven</p>
        <p>Lijst van aanvullende vragen en antwoorden inzake de VGR15 Zandmaas en Grensmaas - 18106-198 </p>
        <ul>
          <li>
            <p>staatssecretaris van Verkeer en Waterstaat, Huizinga-Heringa J.C. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Verslag van de informele Raad voor Concurrentievermogen van 14-16&nbsp;oktober 2009 in Umeå (Zweden) - 21501-30-215 </p>
        <ul>
          <li>
            <p>minister van Economische Zaken, Hoeven van der M.J.A. - 30&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd
            </p>
          </li>
        </ul>
        <p>Verslag Transportraad 9&nbsp;oktober 2009 - 21501-33-244 </p>
        <ul>
          <li>
            <p>minister van Verkeer en Waterstaat, Eurlings C.M.P.S. - 2&nbsp;november 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Uitstel beantwoording vragen commissie Justitie over de toename van het gebruik van cannabis onder jongeren - 24077-240
          </p>
        <ul>
          <li>
            <p>minister van Volksgezondheid, Welzijn en Sport, Klink A. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd
            </p>
          </li>
        </ul>
        <p>Verslag twaalfde zitting Mensenrechtenraad - 26150-81 </p>
        <ul>
          <li>
            <p>minister van Buitenlandse Zaken, Verhagen M.J.M. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Voorwaarden en inzet Seed Capital voor startersfondsen gericht op de creatieve industrie - 27406-155 </p>
        <ul>
          <li>
            <p>minister van Economische Zaken, Hoeven van der M.J.A. - 30&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Reactie op verzoek Vendrik inzake het kabinetsbeleid ten aanzien van kolencentrales - 28240-104 </p>
        <ul>
          <li>
            <p>minister van Economische Zaken, Hoeven van der M.J.A. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Reactie op verzoek van de commissie voor Landbouw, Natuur en Voedselkwaliteit om een structurele oplossing voor vetmelkers
          - 28625-86 </p>
        <ul>
          <li>
            <p>minister van Landbouw, Natuur en Voedselkwaliteit, Verburg G. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Toezeggingen m.b.t. het afsluitbeleid - 29023-74 </p>
        <ul>
          <li>
            <p>minister van Economische Zaken, Hoeven van der M.J.A. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Rondetafelconferentie eco-labelling en certificering in de visserijsector - 29675-85 </p>
        <ul>
          <li>
            <p>minister van Landbouw, Natuur en Voedselkwaliteit, Verburg G. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Stand van zaken vloeistoffenmaatregel in de burgerluchtvaart - 29754-168 </p>
        <ul>
          <li>
            <p>minister van Justitie, Hirsch Ballin E.M.H. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Nahang Besluit beleidskader stedelijke vernieuwing 2010 - 30136-28 </p>
        <ul>
          <li>
            <p>minister voor Wonen, Wijken en Integratie, Laan van der E.E. - 30&nbsp;oktober 2009
            </p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Beantwoording vragen commissie LNV over de Voortgangsrapportage Investeringsbudget Landelijk Gebied (ILG) 2008 en Voortgangsrapportage
          Groot project Ecologische Hoofdstructuur (EHS) 2008 - 30825-50 </p>
        <ul>
          <li>
            <p>minister van Landbouw, Natuur en Voedselkwaliteit, Verburg G. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Evaluatie van de verkiezing van de Nederlandse leden voor het Europees Parlement - 31142-16 </p>
        <ul>
          <li>
            <p>staatssecretaris van Binnenlandse Zaken en Koninkrijksrelaties, Bijleveld-Schouten A.Th.B. - 30&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Stand van zaken pilot horizontale verantwoording onderwijstijd - 31289-72 </p>
        <ul>
          <li>
            <p>staatssecretaris van Onderwijs, Cultuur en Wetenschap, Bijsterveldt-Vliegenthart van J.M. - 2&nbsp;november 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Reactie op de amendementen 31389 nrs. 41 t/m 43 en 61 t/m 63 voorstel voor een Wet dieren - 31389-65 </p>
        <ul>
          <li>
            <p>minister van Landbouw, Natuur en Voedselkwaliteit, Verburg G. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd
            </p>
          </li>
        </ul>
        <p>Beantwoording vragen van de commissie inzake de problematiek op de etherdistributiemarkt - 31412-15 </p>
        <ul>
          <li>
            <p>staatssecretaris van Economische Zaken, Heemskerk F. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Uitvoering toezeggingen uit het algemeen overleg van 1&nbsp;oktober 2009 inzake raad van toezicht Huis voor democratie
          en rechtsstaat - 31475-9 </p>
        <ul>
          <li>
            <p>minister van Binnenlandse Zaken en Koninkrijksrelaties, Horst ter G. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Aanvullende onderzoeken CO
          <sub>2</sub>-opslagproject Barendrecht - 31510-38 </p>
        <ul>
          <li>
            <p>minister van Economische Zaken, Hoeven van der M.J.A. - 29&nbsp;oktober 2009
            </p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Voortgangsrapportage nota "Vertrouwen in wetgeving" - 31731-4 </p>
        <ul>
          <li>
            <p>minister van Justitie, Hirsch Ballin E.M.H. - 30&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Inspectierapport over invloed op behandelrichtlijnen - 31765-6 </p>
        <ul>
          <li>
            <p>minister van Volksgezondheid, Welzijn en Sport, Klink A. - 27&nbsp;oktober 2009
            </p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Beantwoording vragen gesteld in het plenair debat over de de Successiewet 1956 (31930) - 31930-76 </p>
        <ul>
          <li>
            <p>staatssecretaris van Financiën, Jager de J.C. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Antwoorden op de vragen die de Kamer in het plenaire debat heeft gesteld en reactie op de verschillende amendementen -
          31930-81 </p>
        <ul>
          <li>
            <p>staatssecretaris van Financiën, Jager de J.C. - 2&nbsp;november 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Stand van zaken van het basispakket uitvoeringsorganisaties en van het Omgevingsloket online - 31953-26 </p>
        <ul>
          <li>
            <p>minister van Volkshuisvesting, Ruimtelijke Ordening en Milieubeheer, Cramer J.M. - 27&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Verslag houdende een lijst van vragen en antwoorden inzake de vaststelling van de begrotingsstaat van het gemeentefonds
          voor het jaar 2010 - 32123-B-4 </p>
        <ul>
          <li>
            <p>minister van Binnenlandse Zaken en Koninkrijksrelaties, Horst ter G. - 2&nbsp;november 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Aanbieding septembercirculaire gemeentefonds en provinciefonds 2009 - 32123-B-5 </p>
        <ul>
          <li>
            <p>staatssecretaris van Binnenlandse Zaken en Koninkrijksrelaties, Bijleveld-Schouten A.Th.B. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd
            </p>
          </li>
        </ul>
        <p>Verslag houdende een lijst van vragen en antwoorden inzake de vaststelling van de begrotingsstaat van het provinciefonds
          voor het jaar 2010 - 32123-C-3 </p>
        <ul>
          <li>
            <p>minister van Binnenlandse Zaken en Koninkrijksrelaties, Horst ter G. - 2&nbsp;november 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Verslag houdende een vraag en een antwoord inzake de vaststelling van de begrotingsstaat van de Staten-Generaal (IIA) voor
          het jaar 2010 - 32123-IIA-3 </p>
        <ul>
          <li>
            <p>minister van Binnenlandse Zaken en Koninkrijksrelaties, Horst ter G. - 2&nbsp;november 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Verslag houdende een lijst van vragen en antwoorden over de vaststelling van de begrotingsstaten van het Ministerie van
          Buitenlandse Zaken (V) voor het jaar 2010 - 32123-V-8 </p>
        <ul>
          <li>
            <p>minister van Buitenlandse Zaken, Verhagen M.J.M. - 27&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Lijst van ingekomen stukken</p>
        <p>Redelijke termijn afdoening beklag - 32123-VI-15 </p>
        <ul>
          <li>
            <p>minister van Justitie, Hirsch Ballin E.M.H. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Verslag houdende een lijst van vragen en antwoorden inzake de vaststelling van de begrotingsstaten van het Ministerie van
          Binnenlandse Zaken en Koninkrijksrelaties (VII) voor het jaar 2010 - 32123-VII-6 </p>
        <ul>
          <li>
            <p>minister van Binnenlandse Zaken en Koninkrijksrelaties, Horst ter G. - 2&nbsp;november 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Verslag houdende een lijst van vragen en antwoorden inzake Vaststelling van de begrotingsstaten van het Ministerie van
          Defensie (X) voor het jaar 2010 - 32123-X-21 </p>
        <ul>
          <li>
            <p>minister van Defensie, Middelkoop van E. - 29&nbsp;oktober 2009
            </p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Stand van zaken Natura 2000 over o.a. de conceptbeheerplannen - 32123-XIV-25 </p>
        <ul>
          <li>
            <p>minister van Landbouw, Natuur en Voedselkwaliteit, Verburg G. - 28&nbsp;oktober 2009
            </p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Opschorting inwerkingtreding wijziging Besluit afbreking zwangerschap - 32123-XVI-25 </p>
        <ul>
          <li>
            <p>staatssecretaris van Volksgezondheid, Welzijn en Sport, Bussemaker M. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Beantwoording vragen commissie Buitenlandse Zaken over de HGIS-nota 2010 - 32126-3 </p>
        <ul>
          <li>
            <p>minister van Buitenlandse Zaken, Verhagen M.J.M. - 27&nbsp;oktober 2009
            </p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>Werkkostenregeling - 32130-13 </p>
        <ul>
          <li>
            <p>staatssecretaris van Financiën, Jager de J.C. - 29&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Rondgezonden en gepubliceerd</p>
          </li>
        </ul>
        <p>De volgende brieven</p>
        <p>Afschrift van de brief aan de gemeente Lochem m.b.t. bestemmingsplan Buitengebied en Natura 2000 - 2009Z19597 </p>
        <ul>
          <li>
            <p>minister van Landbouw, Natuur en Voedselkwaliteit, Verburg G. - 26&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Doorzenden aan de betrokken commissie(s)</p>
          </li>
        </ul>
        <p>Uitnodiging bijeenkomst Netwerk Veiligheidshuizen 14&nbsp;december 2009 - 2009Z19641 </p>
        <ul>
          <li>
            <p>minister van Justitie, Hirsch Ballin E.M.H. - 26&nbsp;oktober 2009
            </p>
          </li>
          <li>
            <p>Doorzenden aan de betrokken commissie(s)</p>
          </li>
        </ul>
        <p>Afschrift reactie op de brief aan de Productschappen Vee, Vlees en Eieren inzake kwaliteitssystemen tweede verzamelslag
          schapen en geiten en verzamelen weiderunderen - 2009Z19643 </p>
        <ul>
          <li>
            <p>minister van Landbouw, Natuur en Voedselkwaliteit, Verburg G. - 26&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Doorzenden aan de betrokken commissie(s)</p>
          </li>
        </ul>
        <p>Afschrift van de antwoordbrief aan het Landelijk Werkverband Praktijkonderwijs - 2009Z19776 </p>
        <ul>
          <li>
            <p>staatssecretaris van Onderwijs, Cultuur en Wetenschap, Bijsterveldt-Vliegenthart van J.M. - 28&nbsp;oktober 2009</p>
          </li>
          <li>
            <p>Doorzenden aan de betrokken commissie(s)</p>
          </li>
        </ul>
        <p class="toestnd">
        </p>
      </div>

      </article>

  </div>
</div>

