<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">
    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
                <h1 class="dossier">29 544<br>Arbeidsmarktbeleid</h1><div><a id="d25e30" name="d25e30"></a><h2 class="stuktitel">nr. 213<br><a id="d25e36" name="d25e36"></a>BRIEF VAN DE MINISTER VAN SOCIALE ZAKEN EN WERKGELEGENHEID</h2><a id="d25e38" name="d25e38"></a><div class="context"><p>Aan de Voorzitter van de Tweede Kamer der Staten-Generaal</p><p>Den Haag, 8 december 2009</p></div><p>Via deze brief informeer ik u over de stand van zaken ten aanzien van
de arbeidsmarktsituatie, het ingezette arbeidsmarktbeleid en per 2010 te zetten
stappen.</p><div class="ondertekening"><a id="d25e46" name="d25e46"></a><p>De minister van Sociale Zaken en Werkgelegenheid,</p><p>J. P. H. Donner </p></div><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e51" name="d25e51"></a>Arbeidsmarkt in crisis</strong></p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e53" name="d25e53"></a>1. Inleiding</strong></p><p>Sinds oktober vorig jaar zijn bedrijfsleven en werkgelegenheid ernstig
geraakt door de wereldwijde financiële crisis. Het tij lijkt echter te
keren. De recessie is formeel in het 3e kwartaal van 2009 voor het eerst ten
einde ten opzichte van het vorige kwartaal. Het economisch herstel is nog
broos, maar daarmee zijn we nog lang niet uit de crisis. De voor 2009 voorspelde
negatieve groei valt mee ten opzichte van eerdere ramingen. Nieuwe ramingen
gaan uit van stabilisatie of een bescheiden economische groei in 2010.</p><p>Regeringen, toezichthouders en monetaire autoriteiten wereldwijd hebben
met forse beleidsreacties een negatieve spiraal weten te voorkomen. Ook het
Nederlandse kabinet heeft, bekrachtigd in het aanvullend beleidsakkoord, het
afgelopen jaar in iedere fase van de crisis maatregelen getroffen om werkgevers
en werknemers in staat te stellen de gevolgen van de crisis zo goed mogelijk
op te vangen. Belangrijke beslissingen waren het forse ingrijpen in het financiële
systeem, het voorkomen van overreacties op de arbeidsmarkt via de bijzondere
werktijdverkorting (wtv) en deeltijd-WW, een extra stimuleringspakket van
bijna zes miljard euro en het maken van afspraken met betrekking tot de weg
terug naar herstel van de overheidsfinanciën. Hoewel de werkloosheid
aanzienlijk is opgelopen, konden hierdoor meer mensen behouden blijven voor
hun werkgever.</p><p>Voor alles is nodig dat nieuwe banen beschikbaar komen. Ruimte moet worden
geboden aan vernieuwing en verandering. Het kabinetsbeleid is daarom gericht
op investeren in de toekomst, versterking van de arbeidsmobiliteit en behoud
van het herstelvermogen van het bedrijfsleven en de economie.</p><p>Deze brief geeft een stand van zaken ten aanzien van de arbeidsmarktsituatie,
het ingezette arbeidsmarktbeleid, de per 1&nbsp;januari te nemen stappen,
waaronder de tijdelijke verlenging van de deeltijd-WW. Dit besluit is onderdeel
van overleg met sociale partners, waarin nader zal worden gesproken over de
verdere aanpak van de crisis.</p><p>In de afgelopen maanden zijn omvang en aard van het gebruik van de regeling
deeltijd-WW gevolgd. Hierover is de Tweede Kamer eind oktober geïnformeerd.
In de bijlage staan de gegevens over het gebruik van de deeltijd-WW en de
bevindingen met betrekking tot de handhaving.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e66" name="d25e66"></a>2. Situatie op de arbeidsmarkt</strong></p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e68" name="d25e68"></a>Nederlandse economie in zwaar weer</strong></p><p>We staan aan het eind van een jaar waarin de economische situatie sterk
is verslechterd. Door de kredietcrisis is de economie in het eerste half jaar
van 2009 aanzienlijk gekrompen. Het derde kwartaal van 2009 laat een broos
herstel zien; een groei van 0,4 procent ten opzichte van het kwartaal ervoor.
Maar de onzekerheden blijven onverminderd groot. Als het economisch herstel
doorzet, zal het gemiddelde verlies van het bruto binnenlands product (BBP)
in 2009 lager zijn dan het geraamde verlies van het CPB van –&nbsp;4¾
procent (Macro-Economische Verkenning 2010). Het CPB komt 15&nbsp;december
met een bijgestelde raming.</p><p>Volgens de meest recente ramingen van het CPB (september) stijgt de werkloosheid
van minder dan 4 procent in 2008 via 5¼ procent in 2009 naar 8 procent
in 2010. De feitelijke werkloosheid is gestegen van 3,7 procent
(285&nbsp;000 werklozen) in het derde kwartaal van 2008 naar 5 procent (394&nbsp;000
werklozen) in het derde kwartaal van 2009. In absolute zin zijn er in één
jaar ruim 100&nbsp;000 werklozen bijgekomen en dat is een forse stijging.
Vooral de werkloosheid onder jongeren is gestegen en is nu meer dan 12 procent
(figuur 1). Jongeren – vooral schoolverlaters – worden in crisisjaren
altijd als eerste getroffen omdat zij geen of weinig werkervaring hebben en
bovendien relatief vaak werken onder een tijdelijk arbeidscontract.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e74" name="d25e74"></a>Figuur 1. Werkloosheidspercentage naar leeftijd</strong></p><img alt="kst-29544-213-1.png" src="kst-29544-213-1.png"><p>Bron: CBS. Voor 2009 is een eigen inschatting gemaakt van het werkloosheidscijfer
op basis van realisatiecijfers van het CBS voor de eerste drie kwartalen.</p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e79" name="d25e79"></a>Gematigde reactie Nederlandse arbeidsmarkt</strong></p><p>De gerealiseerde stijging van de werkloosheid is lager dan de CPB-ramingen.
Als op basis van de trendmatige ontwikkeling het werkloosheidspercentage voor
het vierde kwartaal op 5,3 procent wordt geschat, komt het jaargemiddelde
uit op 5 procent (zie tabel 1, voorlaatste regel). Dit percentage stemt overeen
met 380&nbsp;000 werklozen. Vergeleken met de MEV-raming voor 2009 (405&nbsp;000
werklozen) is dus sprake van een verschil van 25&nbsp;000. Hoewel de verschillen
in absolute zin meevallen, hebben deze wel implicaties voor de gesignaleerde
trend in de werkloosheid en daarmee de verwachte stand in 2010. Op basis van
de huidige ontwikkeling kan de werkloosheid in 2010 aanmerkelijk lager uitvallen
dan het CPB heeft voorspeld in de MEV. Dat neemt niet weg dat voor ieder die
het treft werkloosheid een pijnlijke ervaring is. Het opnieuw vinden van een
baan is dan ook van grote waarde. Door de deeltijd-WW is wel bereikt dat werknemers
in deeltijd kunnen blijven werken en dus aansluiting houden met de arbeidsmarkt
en behouden blijven voor de werkgever. Dit heeft de oploop van de werkloosheid
tot dusverre gedempt. Dat is winst.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e84" name="d25e84"></a>Tabel 1. Werkloosheidspercentages* </strong></p><table><thead><tr class="head-row1"><th rowspan="1">&nbsp;</th><th rowspan="1" class="right">2008</th><th rowspan="1" class="right">2009</th><th rowspan="1" class="right">2010</th></tr></thead><tbody><tr><td rowspan="1">Werkloosheid (%) CEP 2009 (maart ’09)</td><td rowspan="1" class="right">3,9</td><td rowspan="1" class="right">5,5</td><td rowspan="1" class="right">8,75</td></tr><tr><td rowspan="1">Werklozen (x 1000) CEP 2009</td><td rowspan="1" class="right">304</td><td rowspan="1" class="right">420</td><td rowspan="1" class="right">675 </td></tr><tr><td rowspan="1">Werkloosheid (%) MEV 2010 (september ’09)</td><td rowspan="1" class="right">3,9</td><td rowspan="1" class="right">5,25</td><td rowspan="1" class="right">8,0 </td></tr><tr><td rowspan="1">Werklozen (x 1000) MEV 2010</td><td rowspan="1" class="right">304</td><td rowspan="1" class="right">405</td><td rowspan="1" class="right">615 </td></tr><tr><td rowspan="1">Werkloosheid (%) (2008 CBS, 2009 eigen schatting)</td><td rowspan="1" class="right">3,9</td><td rowspan="1" class="right">5</td><td rowspan="1" class="right">. </td></tr><tr><td rowspan="1">Werklozen (x 1000) (2008 CBS, 2009 eigen schatting)</td><td rowspan="1" class="right">304</td><td rowspan="1" class="right">380</td><td rowspan="1" class="right">.</td></tr></tbody></table><p><sup>*</sup> Het werkloosheidspercentage is uitgedrukt als het aantal
werklozen als percentage van de beroepsbevolking. De CBS-realisatie voor 2009
is op basis van een eigen inschatting van het werkloosheidspercentage in het
4e kwartaal.</p><p>De Nederlandse arbeidsmarkt reageert ook in internationaal perspectief
gematigder dan verwacht zou mogen worden op basis van de val in BBP. De werkloosheid
is in de EU 15 gestegen van 6,9 procent (2e kwartaal 2008) naar 9,2 procent
(3e kwartaal 2009). De oplopende werkloosheid in de EU 15 bedroeg dus 2,3
procentpunt tegenover een cumulatief BBP-verlies van 5,3 procent. In Nederland
is de werkloosheid over dezelfde periode slechts opgelopen met 0,7 procentpunt
tegenover eenzelfde cumulatief BBP-verlies van 5,4 procent.</p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e162" name="d25e162"></a>Verklaringen achter gematigde werkloosheidsontwikkeling</strong></p><p>De gematigde ontwikkeling in werkloosheid is deels toe te schrijven aan
een daling van het <em>arbeidsaanbod</em>. Het arbeidsaanbod
staat onder druk als mensen vanwege geringe kansen op een baan worden ontmoedigd
zich aan te bieden op de arbeidsmarkt. Deze ontmoediging lijkt niet aanwezig
bij vrouwen en ouderen; hun netto participatie blijft constant of stijgt zelfs.
Wel zien we ontmoediging bij jongeren die hun studie hebben afgerond, maar
besluiten door te studeren in plaats van aan het werk te gaan. Volgens het
CBS hebben circa 30 duizend extra jongeren besloten om door te studeren aan
het MBO of hoger onderwijs. Deze jongeren verstevigen met dit extra onderwijs
hun positie op de arbeidsmarkt, zodra zij deze betreden. Ook daalt het arbeidsaanbod,
omdat een deel van de ontslagen arbeidskrachten uit Midden- en Oost-Europese
lidstaten terug is gekeerd naar het land van herkomst.</p><p>De daling van het arbeidsaanbod biedt onvoldoende verklaringskracht voor
de gematigde werkloosheidsontwikkeling. Aan de <em>vraagkant</em> naar arbeid lijken de dempende effecten op de arbeidsmarkt groter
te zijn. Veel bedrijven hebben tot nu toe hun personeel vastgehouden tegen
de trend in (labour hoarding). Een reden waarom bedrijven personeel vasthouden
is de krappe arbeidsmarkt voor de crisis en de verwachte krapte na de crisis
als gevolg van de vergrijzing. Bedrijven ontslaan weinig personeel uit angst
dat zij straks met grote personeelstekorten komen te zitten. Aan het vasthouden
van personeel hebben ook de bijzondere wtv-regeling en deeltijd-WW bijgedragen.
Bij de wtv-regeling is aan 912 bedrijven ontheffing toegekend. Bijna 40&nbsp;000
werknemers maken gebruik van deeltijd-WW.</p><p>Het in dienst houden van personeel waarvoor in feite onvoldoende werk
is, is duur en bedrijven kunnen dit maar tijdelijk volhouden. Bedrijven verwachten
wellicht dat conjunctureel herstel sneller en forser zou kunnen zijn dan tot
nu toe is voorspeld. Deze gedachte wordt ondersteund door de positieve ontwikkeling
van het producentenvertrouwen. Gezien de recente berichtgeving van het CBS
over de groeicijfers van het derde kwartaal van 2009 (0,4 procent groei ten
opzichte van het tweede kwartaal), lijkt het vertrouwen van bedrijven in herstel
van de economie deels te worden bevestigd.</p><p>Tot slot kan het toegenomen aantal zelfstandigen zonder personeel (zzp-er)
er voor gezorgd hebben dat de gedaalde economische activiteit nog niet tot
uiting is gekomen in de ontwikkeling van de werkloosheid. Als een zzp-er niet
meer wordt ingeschakeld door zijn opdrachtgever, leidt dat niet direct tot
werkloosheid: de zzp-er kan ook omzetverlies incasseren en/of andere activiteiten
oppakken. Overigens heeft het kabinet de Sociaal-Economische Raad om advies
over de positie van zelfstandigen gevraagd. </p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e178" name="d25e178"></a>3. Verwachte conjuncturele ontwikkelingen</strong></p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e181" name="d25e181"></a>Macrobeeld</strong></p><p>Als het conjuncturele herstel begin 2010 sneller en sterker is dan tot
nu toe verwacht, dan liggen grote ontslagrondes gezien de huidige strategie
van bedrijven (i.e. labour hoarding) minder voor de hand. De positieve BBP-cijfers
voor het derde kwartaal geven een indicatie dat herstel niet ondenkbaar is
en de totale krimp in 2009 lager zal zijn dan het CPB heeft geraamd. Bovendien
neemt de kans toe dat het BBP in 2010 zal herstellen in plaats van de door
het CPB geraamde nulgroei.</p><p>Het is nog te vroeg om te concluderen of de gematigde ontwikkeling van
de werkloosheid een kwestie van uitstel of afstel is. Tabel 1 laat zien hoe
moeilijk de werkloosheid is te voorspellen. De klim uit het dal is wankel
en broos en een nieuwe terugval in de wereldhandel kan snel leiden tot economische
krimp. Bovendien is de vraaguitval vooral door overheidsbestedingen verminderd.
Om de economische groei te herstellen zijn structurele hoge overheidsbestedingen
niet mogelijk.</p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e187" name="d25e187"></a>Sectorontwikkelingen</strong></p><p>Een ander aspect waar rekening mee moet worden gehouden is dat de werkloosheid
niet in alle sectoren gelijktijdig stijgt. Elke sector kent een individueel
recessiepatroon. In sommige sectoren verslechtert de werkgelegenheid vrij
snel na een economische neergang, terwijl andere sectoren juist op het eind
van de cyclus zitten. Op grond van de gegevens over de laatste twee conjunctuurcycli
is geanalyseerd wat de volumemutatie van de toegevoegde waarde in verschillende
sectoren is. De conclusie is dat er sectoren zijn die vertraagd reageren en
sectoren die zowel voor in de cyclus als achter in de cyclus zitten. Dit betekent
dat het mogelijk is dat sommige sectoren nog een (extra) klap krijgen en een
beroep zullen doen op deeltijd-WW.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e191" name="d25e191"></a>4. Stand van zaken arbeidsmarktbeleid</strong></p><p>Halverwege 2008 dachten we nog dat de crisis aan Nederland voorbij zou
gaan. Maar al vrij snel werd duidelijk dat ook de Nederlandse economie zou
worden geraakt. De crisis heeft hard toegeslagen; eerst in het bankwezen en
vervolgens in het uitzendwezen, de bouw en delen van de industrie. De bijzondere
regeling werktijdverkorting (wtv) is in die tijd ingevoerd als antwoord op
de snelle en onverwachte terugval van de Nederlandse economie. De wtv bood
bedrijven die door een zeer ernstige teruggang in omzet getroffen werden een
adempauze zodat zij op overwogen wijze over de aanpassing van de productiecapaciteit
konden beslissen. Zonder deze adempauze was het risico groot dat veel mensen
onnodig zouden zijn ontslagen.</p><p>Er is nog steeds veel onzekerheid, maar de onvoorspelbaarheid van verwachte
ontwikkelingen neemt af. Bedrijven hebben meer zicht op wat structureel aan
capaciteit nodig is. Door de crisis hebben ondernemers minder orders binnengehaald.
Ten tijde van een crisis wordt ook minder geïnvesteerd in kapitaalgoederen,
waardoor we nu veel minder produceren dan wat potentieel mogelijk is. Omdat
het een aantal jaren duurt voordat het gemiddelde productieniveau weer gelijk
is aan het niveau van vóór de crisis, zijn er bedrijven die
de komende tijd zullen moeten reorganiseren. Dat is een pijnlijk proces, zeker
voor direct betrokken werknemers. Nog pijnlijker is echter als bedrijven kunstmatig
overeind worden gehouden terwijl uiteindelijk blijkt dat reorganisatie onvermijdelijk
is. Deeltijd-WW verandert deze situatie niet. </p><p>Door een voorzichtig aantrekkende economie breekt een nieuwe fase aan
die vraagt om een toegespitste aanpak en andere maatregelen.</p><p>Om de oploop in werkloosheid zoveel mogelijk te dempen is bevordering
van (intersectorale) arbeidsmobiliteit en een brede inzetbaarheid van mensen
nog belangrijker dan eerder. Mobiliteit en brede inzetbaarheid zijn nodig
voor een snelle en goede vervulling van vacatures door werknemers die te maken
krijgen met reorganisaties of faillissementen Ook zijn beide nodig voor de
overstap van krimpende sectoren naar banen in groeisectoren, zodat werkloosheid
en personeelstekorten voorkomen kunnen worden. Arbeidsmobiliteit en een brede
inzetbaarheid dragen ook bij aan het tot stand komen van nieuwe bedrijvigheid,
versnellen het economische herstel in het algemeen en benutten in het bijzonder
talent optimaal. Juist bij herstel van de economie is het belangrijk dat er
niet te lang wordt doorgegaan met deeltijd-WW. Te lang doorgaan belemmert
structurele aanpassingen op de arbeidsmarkt. Ook komt dan de dynamiek op de
arbeidsmarkt onder druk en worden bedrijven die wel kunnen groeien beperkt.
Uitgangspunt bij het arbeidsmarktbeleid is dat behoud van werkgelegenheid
waar geen werk is, geen perspectief biedt. Werknemers die te lang blijven
zitten op onrendabele plekken kunnen beter elders productief ingezet worden.</p><p>De arbeidsmarkt herstelt sneller wanneer deze flexibel is. Wanneer het
aantal vacatures weer aantrekt, is het van belang dat mensen gaan werken of
worden begeleid naar werk, waar zij de meeste toegevoegde waarde hebben.</p><p>De recessie is wellicht voor Nederland over, maar de crisis nog niet en
voor de arbeidsmarkt helemaal niet. En we weten niet of het herstel doorzet.
Want ook het herstel van de wereldhandel is met onzekerheden omgeven. In alle
EU-landen kampen overheden met hoge begrotingstekorten, zodat voortzetting
van de extra bestedingsimpulsen in 2010 niet mogelijk zal zijn of op een veel
lager pitje. Door een val van de wereldhandel kan het herstel weer snel omslaan
in economische krimp.</p><p>Enerzijds is er dus hoop op economisch herstel en anderzijds vrees voor
een neergang in de economie. In deze situatie richt het beleid van het kabinet
zich in hoofdlijnen op drie speerpunten: 1) het investeren in de toekomst,
2) de versterking van de arbeidsmobiliteit en 3) het behoud van het herstelvermogen
van het bedrijfsleven en de economie.</p><p>Het kabinet heeft in het kader van de crisis o.a. afspraken gemaakt met
de sociale partners gericht op het voorkomen van werkloosheid. Hierover zijn
afspraken gemaakt in het Sociaal Akkoord van maart 2009.</p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e210" name="d25e210"></a>Investeren in de toekomst</strong></p><p>Door verschuivingen in de werkgelegenheid zullen werknemers vaken van
functie moeten wijzigen binnen de sector of daar buiten. Een brede inzetbaarheid
maakt het voor werknemers gemakkelijker om een andere baan te vinden. Het
kabinet heeft de subsidieregeling omscholing ingevoerd om de arbeidsmobiliteit
(van werk-naar-werk-transities) te bevorderen. De subsidieregeling omscholing
heeft in zijn huidige vorm als voorwaarde dat het nieuwe dienstverband onmiddellijk
aansluit op het oude dienstverband. Omdat bij flexwerkers contracten vaak
automatisch aflopen, worden zij vaker geconfronteerd met een korte periode
van frictiewerkloosheid alvorens een nieuwe werkgever te vinden. Om te voorkomen
dat de nieuwe werkgevers van deze flexwerkers om die reden niet in aanmerking
komen voor de subsidieregeling omscholing, komt de regeling in 2010 beschikbaar
voor werklozen die maximaal 4 weken in de WW zitten. </p><p>Daarnaast is een gekwalificeerde en uitstekend inzetbare beroepsbevolking
een cruciaal element. Daarom heeft het kabinet bij het ingezet arbeidsmarktbeleid
er op aangedrongen dat de werknemers die in de deeltijd-WW zitten scholing
en/of training krijgen. Er zijn veel goede voorbeelden te vinden van de invulling
die bedrijven geven aan de scholingsafspraken in de deeltijd-WW. De Raad voor
Werk en Inkomen concludeert dat dankzij deeltijd-WW een impuls is gegeven
aan scholing op de werkvloer. Bedrijven waarin nooit iets aan scholing werd
gedaan, maken van de periode van vraaguitval gebruik en starten met het scholen
van hun personeel. In de eerste fase van deeltijd-WW veelal kortdurende scholing,
en training-on-the-job.</p><p>Het bovenstaande laat onverlet dat de indruk bestaat dat scholing nog
gestructureerder en intensiever opgepakt kan worden. Scholing komt namelijk
zowel de werkgever (hogere arbeidsproductiviteit) als werknemer (bredere inzetbaarheid
ten goede). Door scholing komen werknemers sterker uit de crisis en ingeval
zij werkloos worden vinden zij eenvoudiger een baan. Vanwege dit grote belang
van scholing, zal worden bezien hoe scholing bij deeltijd-WW intensiever kan
worden ingezet.</p><p>Nieuwe bedrijvigheid is een essentiële voorwaarde om de economie
weer snel te herstellen. Kabinetsmaatregelen zoals het naar voren halen van
investeringen, de fiscale faciliteit voor innovatie en het bevorderen van
energie-investeringen in woningen waren daarop gericht en werpen zichtbaar
hun vruchten af. In dat verband acht het kabinet een nullijn, zowel in de
marktsector als in de collectieve sector, wenselijk en noodzakelijk voor het
herstel van de economie. Voor alles is nodig dat er weer banen komen.</p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e220" name="d25e220"></a>Versterking arbeidsmobiliteit</strong></p><p>Arbeidsmobiliteit is belangrijk en neemt in belang toe naarmate conjunctureel
herstel verder gevorderd is. Met het oog op efficiënte vacaturevervulling
is in het begin van 2009 een landelijk dekkend netwerk van mobiliteitscentra
ingericht teneinde werknemers die met ontslag worden bedreigd zo snel mogelijk
naar ander werk te geleiden. UWV en private partijen werken samen met bedrijven
en sectoren aan het bemiddelen van met ontslag bedreigde werklozen. De mobiliteitscentra
hebben in de eerste 10 maanden van dit jaar – in samenwerking met andere
actoren op het gebied van werk en scholing – 10&nbsp;795 mensen die
met ontslag werden bedreigd, vanuit hun baan aan een andere baan geholpen.
81&nbsp;324 Mensen kregen na hun ontslag binnen 3 maanden ander werk.</p><p>Daarnaast zijn de maatregelen op het gebied van scholing (omscholingssubsidie,
Elders Verworven Competenties bij ontslag en leerwerkloketten) bedoeld om
de overstap naar ander werk van met ontslag bedreigden te ondersteunen.</p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e227" name="d25e227"></a>Herstelvermogen; versterken economie en bedrijven</strong></p><p>Als gezonde bedrijven getroffen worden door een zodanige vraaguitval dat
zij hun productievermogen moeten inperken, en dientengevolge voor het bedrijf
essentiële vakkrachten moeten ontslaan, gaat ook het vermogen om te veranderen
en vernieuwen verloren. Het behoud van het elementaire herstelvermogen van
gezonde bedrijven is een noodzakelijke voorwaarde voor het behoud van het
herstelvermogen van de economie als geheel.</p><p>Een belangrijke kabinetsmaatregel in dit kader is de kosten van de oplopende
uitkeringen en teruglopende inkomsten niet te vertalen in hogere lasten voor
burgers en bedrijven of lagere overheidsuitgaven. </p><p>In maart van dit jaar is de wtv-regeling na besprekingen met de sociale
partners opgevolgd door de regeling voor deeltijd-WW. Deze vormt onderdeel
van de maatregelen die bedrijven in staat stelt hun herstelvermogen in stand
te houden. De tijdelijke regeling voor deeltijd-WW is nog voor het einde van
de voorziene eerste periode van 3 maanden in juni gesloten om vervolgens in
gewijzigde vorm en met een verhoogd budget vanaf juli weer open te gaan voor
nieuwe instroom. Mede dankzij de deeltijd-WW zijn potentieel gezonde bedrijven
in staat geweest te blijven functioneren zodat ze kunnen profiteren van de
nu weer aantrekkende groei. Door de deeltijd WW-kunnen bedrijven werknemers
behouden, zodat de groei weer kan worden opgepakt, zodra de economie aantrekt.
In aanvulling daarop is deze zomer het ontslagbesluit tijdelijk aangepast
(het «onmisbaarheidscriterium»). Daarmee wordt de werkgever bij
bedrijfseconomisch ontslag in staat gesteld om af te wijken van het afspiegelingsbeginsel,
zodat hij werknemers kan behouden die over zodanige kennis en bekwaamheden
beschikken dat hun ontslag bezwaarlijk zou zijn voor het functioneren van
de onderneming. Daarnaast is er een wetsvoorstel ingediend tot aanpassing
van de zogenoemde ketenbepaling waardoor jongeren vaker en langer een tijdelijk
arbeidscontract kan worden aangeboden. Hiermee wordt voorkomen dat jongeren
met een tijdelijk contract hun baan verliezen, omdat de werkgever in deze
onzekere periode geen vast contract aan wil bieden.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e235" name="d25e235"></a>5 Stand van zaken deeltijd-WW</strong></p><p>Werknemers en werkgevers moeten gestimuleerd worden de vacatureruimte
efficiënt en effectief in te vullen. Te lang doorgaan met deeltijd-WW
belemmert structurele aanpassingen op de arbeidsmarkt. Wanneer het aantal
vacatures aantrekt, zal het vasthouden van werknemers in bedrijven contraproductief
werken voor de economie als geheel. Dit geldt temeer nu werkgevers een sterke
neiging lijken te hebben om personeel vast te houden, uit angst na de crisis
met een tekort aan vakkrachten te zitten. Het langer doorzetten van deeltijd-WW
vormt dan al snel een rem op de dynamiek op de arbeidsmarkt en beperkt bedrijven
die in tijden van crisis wel kunnen groeien. Inmiddels is enige tijd verstreken
sinds het begin van de crisis. Werkgevers en werknemers hebben voldoende tijd
gekregen om te kunnen anticiperen op de mogelijke effecten. Daardoor is de
buitenproportionele onzekerheid als gevolg van de crisis, zoals die gold bij
instelling van de regeling voor werktijdverkorting en daarna deeltijd-WW,
verdwenen. Bovendien zijn de eerste tekenen van voorzichtig herstel zichtbaar.
Zo is in de laatste maanden het aantal nieuwe aanvragen voor deeltijd-WW gedaald.
De komende maanden komen realisatiecijfers en prognoses van het CBS en het
CPB (CEP) beschikbaar, zodat een beter beeld ontstaat van de economische situatie.</p><p>Het kabinet is van mening dat het te lang inzetten van deeltijd-WW bij
economisch herstel, dit herstel zou kunnen belemmeren. Het kabinet realiseert
zich tegelijkertijd dat een te vroeg moment van sluiten, mede met het oog
op het verloop van de crisis door de economie, ook niet aangewezen is. Bovendien
is het nog onduidelijk in hoeverre de verschillende sectoren reeds door vraaguitval
en eventueel sterk oplopende werkloosheid zijn geraakt, en of en in welke
mate zij in 2010 nog geraakt zullen worden.</p><p>Alles afwegend zal het kabinet om bovenstaande redenen de regeling tot
1&nbsp;april 2010 openhouden, of tot zoveel eerder als het budgettaire plafond
is bereikt. Dit biedt sectoren waar de initiële schok (financiële
turbulentie, vraaguitval, onzekerheid) na-ijlt, de mogelijkheid medewerkers
in te laten stromen in de deeltijd WW. Dit besluit is onderdeel van overleg
met sociale partners. In dit overleg zal worden bezien hoe het sociaal akkoord van 24&nbsp;maart 2009 heeft gewerkt. Voorts gaat het om gezamenlijk
analyseren van de actuele stand van zaken op de arbeidsmarkt, de risico’s
waar we op korte en langere termijn rekening mee moeten houden en de maatregelen
die in de volgende fase van de crisis effectief kunnen zijn.</p><p>Sluiting van de instroom in deeltijd WW per 1&nbsp;april 2010 betekent
overigens niet dat na 1&nbsp;april geen gebruik meer gemaakt zal kunnen worden
van de maatregel. Via de mogelijkheden om verlenging aan te vragen zullen
de al deelnemende bedrijven na 1&nbsp;april 2010 gebruik kunnen blijven maken
van deeltijd WW tot een maximale duur van 15 maanden. Voor de instroom in
de deeltijd WW geldt dat het budgettaire beslag op dit moment €&nbsp;440
mln bedraagt. Het budgettaire plafond bedraagt €&nbsp;950 mln. De beëindiging
van instroom in de deeltijd WW per 1&nbsp;april 2010 is naar verwachting mogelijk
binnen de kaders van de voor deeltijd WW gereserveerde budgetten.</p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e245" name="d25e245"></a>Motie Van Hijum-Vermeij</strong></p><p>Tijdens het VAO over deeltijd-WW op 25&nbsp;november jl., is gesproken
over een aantal waarborgen in het Besluit deeltijd-WW.</p><p>De motie Van Hijum-Vermeij heeft betrekking op de waarborgen die bewerkstelligen
dat deeltijd WW slechts bij een niet-kortstondige en substantiële vermindering
van bedrijfsactiviteiten wordt ingezet. Deeltijd-WW geldt voor een (eerste)
minimale periode van 26 weken en een minimale omvang moet hebben van 20 procent
per werknemer. Hierdoor wordt voorkomen dat normale bedrijfsrisico’s
onder deeltijd WW worden gebracht. Deze voorwaarden impliceren dat, indien
een bedrijf in de eerste periode van 26 weken de minimale omvang van 20 procent
per werknemer onderschrijdt, over die periode een vergoeding wegens oneigenlijke
inzet van deeltijd WW verschuldigd zal zijn (gelijk aan het bedrag van de
WW-uitkering van de werknemers die het betreft). Dit is in de toelichting
bij het Besluit verwoord. Verder is in de communicatie richting werkgevers
hier aandacht aan besteed, mede naar aanleiding van vragen van werkgevers.
Op de voorlichtingsteksten op de websites van de Stichting van de Arbeid,
UWV en het ministerie zijn deze voorwaarden opgenomen en worden zij uitgelegd.
In zoverre kan er dan ook geen onduidelijkheid zijn zoals in de aangehouden
motie Van Hijum-Vermeij werd geconstateerd. Tijdens het VAO over deeltijd
WW heb ik naar aanleiding van deze motie toegezegd te onderzoeken of bedrijven
zijn geconfronteerd met onduidelijkheid op dit punt. Navraag bij UWV heeft
laten zien dat één bedrijf is geconfronteerd met een vergoeding
wegens onderschrijding. Dat duidt erop dat bedrijven wel bekend zijn met de
regeling en hebben afgezien van een aanvraag als zij binnen afzienbare tijd
orders verwachten</p><p>De motie verzoekt verder in situaties waar een bedrijf in de tweede periode
de drempel van 20 procent niet haalt, alleen over deze periode een vergoeding
te eisen. Aanpassing van het Besluit, in die zin dat de vergoeding slechts
over één periode verschuldigd zou zijn, zou er toe leiden dat
een belangrijke waarborg om oneigenlijke inzet van deeltijd WW te voorkomen,
wordt weggenomen. Deze waarborgen zijn mede naar aanleiding van de evaluatie
deeltijd WW in juni en op verzoek van uw Kamer aangebracht. Ik zie dan ook
geen reden het Besluit deeltijd WW op dit punt aan te passen.</p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e254" name="d25e254"></a>Motie Vermeij-Van Gent</strong></p><p>De aangenomen motie Vermeij-Van Gent heeft betrekking op de waarborg die
bewerkstelligt dat ook aan werknemerszijde een afweging wordt gemaakt over
de inzet van deeltijd-WW. Een onderdeel van de wijziging van
de regeling afgelopen juli, betrof de introductie van de keuze voor de werkgever
tussen een lange inzet van deeltijd WW voor een beperkt deel van het personeelsbestand
en het onderbrengen van een groter deel van het personeelsbestand voor een
kortere duur. Voor werkgevers en werknemers kan dit betekenen dat zij een
hernieuwde afweging maken over het deel van hun personeelsbestand dat zij
in deeltijd-WW plaatsen. Het kabinet achtte en acht het onredelijk dat bij
eventuele ontslagen als gevolg van deze scherpere afweging een vergoeding
van werkgevers zou worden gevraagd. Daarom is deze voorwaarde voor deze gevallen
buiten werking gesteld.</p><p>De motie verzoekt de regering de WW-rechten van de werknemer volledig
te herstellen, wanneer deze door de gewijzigde regeling wordt ontslagen. Duidelijk
is dat de wijziging van werkgevers en werknemers een scherpere afweging vergt
over de inzet van deeltijd-WW. Dit kan tot gevolg hebben dat een aantal werknemers
wordt ontslagen. Ik wil er op wijzen dat als de aangescherpte regeling vanaf
het begin zou hebben gegolden, deze werknemers vermoedelijk al eerder zouden
zijn ontslagen en hun WW-rechten (deels) zouden hebben gebruikt. Er is dan
ook geen verschil tussen werknemers die als gevolg van de aanscherping zijn
ontslagen en zij die als gevolg van de crisis al eerder zijn ontslagen.</p><p>Uitvoering geven aan deze motie zou leiden tot rechtsongelijkheid; werknemers
die gebruik hebben kunnen maken van deeltijd-WW, zouden anders worden behandeld
dan werknemers die direct zijn ontslagen. Deze rechtsongelijkheid geldt daarbij
overigens niet alleen jegens degenen die vóór wijziging van
de regeling direct zijn ontslagen, maar ook voor nieuwe gevallen. Immers,
ook voor bedrijven die na de wijziging een beroep hebben gedaan (of zullen
doen) op deeltijd-WW, heeft de gewijzigde regeling geleid tot een scherpere
afweging over welke werknemers in deeltijd-WW worden geplaatst, welke volledig
blijven werken en welke direct worden ontslagen.</p><p>Kortom, werknemers die eerst gebruik hebben gemaakt van deeltijd-WW en
als gevolg van de aanscherping van de regeling worden ontslagen, zouden bij
uitvoering van de motie beter af zijn dan werknemers die nooit gebruik hebben
kunnen maken van de regeling en direct zijn ontslagen. Ik acht dat strijdig
met het uitgangspunt dat werknemers in vergelijkbare situaties zo veel mogelijk
gelijk behandeld dienen te worden. Derhalve acht ik het wenselijk noch mogelijk
de regeling op de voorgestelde wijze aan te passen.</p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e264" name="d25e264"></a>Handhaving deeltijd WW</strong></p><p>Bij invoering van de deeltijd-WW is gekozen voor een zonder bureaucratische
rompslomp uit te voeren regeling, waarbij verantwoordelijkheid en checks &amp;
balances zijn neergelegd bij sociale partners. Het is aan hen om afspraken
te maken over de werktijdverkorting die nodig is voor het bedrijf, en over
de inhoud en omvang van scholing die nodig is voor het behoud en vergroten
van de inzetbaarheid van werknemers. Juist omdat met deeltijd-WW een nieuw
terrein werd betreden, is op voorhand aangekondigd dat de regeling binnen
3 maanden geëvalueerd zou worden en de voorwaarden zonodig aangepast
zouden worden. Dit is ook gebeurd en mede als gevolg van aanscherping van
de voorwaarden, is het gebruik van de regeling ook gewijzigd. Werkgevers en
werknemers worden door de nieuwe voorwaarden gedwongen vooraf een scherpe
afweging te maken over het aanvragen van deeltijd-WW en over de omvang van
het personeel dat er gebruik van maakt. Onderdeel van de aangescherpte regeling
deeltijd-WW, vormde de intensivering van de handhaving. UWV gaat – deels
naar aanleiding van signalen over mogelijk misbruik van de regeling,
deels naar aanleiding van verlengingsaanvragen – bij bedrijven langs
voor controle op gewerkte uren, en de invulling van scholing en detachering.
Daarnaast is de sanctie op fraude verzwaard: de werkgever zal een vergoeding
verschuldigd zijn aan het UWV ter hoogte van alle verleende uitkeringen over
de periode(s) van werktijdverkorting, minus de in verband daarmee bij werknemers
teruggevorderde uitkeringen.</p><p>UWV heeft in het najaar van 2009 bedrijfsbezoeken afgelegd bij 150 bedrijven.</p><p>UWV geeft aan dat door inspecteurs nauwelijks onrechtmatigheden worden
geconstateerd: een aantal onderzoeken loopt nog, maar UWV is nog niet overgegaan
tot het opleggen van sancties. UWV geeft ook aan dat bij circa 25 van de onderzochte
bedrijven soms minimaal invulling geven wordt aan de scholingsplicht. Een
bedrijf voldoet formeel aan de afspraak in het scholingsplan (het opleggen
van sancties door UWV is dan ook niet aan de orde), maar de vraag is of de
inzet van de scholing door het bedrijf in de geest van de regeling is, waarbij
scholing moet bijdragen aan het behoud of vergroten van de inzetbaarheid van
werknemers.</p><p>Net als in 2009 zal UWV in 2010 bedrijven intensief controleren en in
alle gevallen nader onderzoek doen bij vermoedens van fraude, zonodig sancties
opleggen en zaken doorgeven aan de SIOD. Met UWV worden op korte termijn nadere
afspraken gemaakt over verdere intensivering van de handhaving.</p><p class="tussenkop"><strong class="tussenkop_cur"><a id="d25e275" name="d25e275"></a>Meldingsplicht</strong></p><p>UWV constateert op grond van de handhavingsactiviteiten verder dat werknemers
niet goed voldoen aan hun meldingsplicht jegens UWV. Werknemers in de (deeltijd)
WW, zijn verplicht elke wijziging in het aantal <em>per week</em> gewerkte uren aan UWV door te geven. Werkgevers hebben de mogelijkheid
de arbeidstijdverkorting van werknemers in deeltijd-WW te middelen over een
periode van 13 weken: zij kunnen werknemers dus een aantal weken fulltime
laten werken en een aantal weken fulltime naar huis sturen, en alle situaties
daar tussenin. Zeker als de deeltijd-WW uitkering wordt uitbetaald aan de
werkgever (75% van de gevallen) en er loonaanvulling plaatsvindt via
het salarisstrookje, constateert UWV dat werknemers verzuimen om dergelijke
wijzigingen in hun werkpatroon door te geven aan UWV. Dit heeft naar verwachting
te maken met het feit dat werknemers zich onvoldoende realiseren in de WW
te zitten. Uiteraard is dat wel begrijpelijk omdat ze bij hun werkgever nog
deels aan de slag zijn en het doel immers ook is om hen straks weer volledig
te laten werken. Ten aanzien van de meldingsplicht voor werknemers zullen
werkgevers en werknemers indringender geïnformeerd worden over de plichten.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e282" name="d25e282"></a>6. Tot slot</strong></p><p>Het kabinet heeft gedurende het afgelopen jaar in iedere fase van de crisis
maatregelen getroffen die in het licht van de omstandigheden nodig waren om
werkgevers en werknemers in staat te stellen de gevolgen zo goed mogelijk
op te vangen. Een inzet gericht op het begeleiden van mensen van werk naar
werk zal blijvende aandacht vragen. Daarnaast is het versterken van de inzetbaarheid –
mede vanuit het belang van het versterken van de (jntersectorale) arbeidsmobiliteit –
van groot belang. De deeltijd WW zal worden voortgezet tot 1&nbsp;april 2010.
Hierbij zullen handhaving en versterking van de scholing binnen de deeltijd
WW de belangrijkste aandachtspunten blijven. </p><a id="d25e286" name="d25e286"></a><h2 class="bijlage_kop"><a id="d25e287" name="d25e287"></a>BIJLAGE</h2><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e289" name="d25e289"></a>Gegevens met betrekking tot gebruik deeltijd-WW</strong></p><p>In deze bijlage worden gegevens m.b.t. het gebruik van de deeltijd-WW
op een rij gezet. De gegevens hebben betrekking op de aantallen aanvragen,
het effect van de invoering van de staffel op de omvang van het gebruik van
deeltijd-WW in bedrijven en het gebruik naar bedrijfsgrootte en sector. Voor
de onderstaande gegevens is gebruik gemaakt van opgaven van het UWV.</p><p>Verder worden de bevindingen m.b.t. de geïntensiveerde handhaving
door UWV toegelicht.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e295" name="d25e295"></a>Gebruik deeltijd-WW</strong></p><p>Mede door de aanscherping van de voorwaarden om voor deeltijd-WW in aanmerking
te komen, hebben bedrijven in de periode juli–november 2009 scherper
de afweging gemaakt of ze deeltijd-WW aanvragen en voor welk deel van het
personeel.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e299" name="d25e299"></a>Figuur 1: Deeltijd-WW; volume, instroom en uitstroom (in
duizenden) </strong></p><img alt="kst-29544-213-2.png" src="kst-29544-213-2.png"><p>In de figuur is te zien dat de instroom in de regeling tot en met juli
opliep en dat daarmee het volume toenam. Vanaf augustus ligt de instroom een
stuk lager. Omdat de uitstroom een toenemende trend vertoont, neemt het volume
deeltijd-WW in de afgelopen drie maanden steeds minder toe.</p><p>In oktober bedroeg de instroom 6400 en de uitstroom 4200. Van de uitstroom
hervat ongeveer de helft het werk bij de eigen werkgever en stroomt ongeveer
een kwart uit vanwege het bereiken van het einde van het WW-recht.</p><p>Een andere mogelijke reden voor beëindiging van de deeltijd-WW is
bij faillissement van het bedrijf. Bij 72 bedrijven heeft de deeltijd-WW een
faillissement niet kunnen voorkomen, hierbij zijn 1570 werknemers uit de deeltijd-WW
betrokken. Voor 40% van deze werknemers is WW aangevraagd, de overigen
hebben ogenschijnlijk al eerder nieuw werk gevonden.</p><p>Het aanvragen van deeltijd-WW is geen <em>free option</em>
meer: werkgevers kunnen het niet aanvragen en later bezien en in welke mate
ze gebruik maken. De periode van deeltijd dient tenminste 26 weken te bedragen
en de werktijd per werknemer wordt met tenminste 20 procent verkort. Daarnaast
moeten werkgevers afwegen of ze een groot deel van hun personeel voor korte
tijd gebruik willen maken van deeltijd-WW, of relatief weinig mensen voor
een langere periode. Zoals te zien is in Figuur 2 heeft de invoering van de
zogenaamde staffel ertoe geleid dat nieuwe aanvragers en bij
verlengingen werkgevers vaker ervoor kozen minder werknemers in de deeltijd-WW
te laten meedraaien.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e314" name="d25e314"></a>Figuur 2: Aandeel deeltijd-WW-ers als percentage van het
totale werknemersbestand</strong></p><img alt="kst-29544-213-3.png" src="kst-29544-213-3.png"><p>Figuur 2 laat zien dat de invoering van de staffel heeft geleid tot een
sterke afname van het aantal werknemers dat werkt in een bedrijf dat voor
meer dan 60 procent van haar personeel deeltijd-WW heeft aangevraagd. In juni
werkte nog 75 procent van de werknemers in de deeltijd-WW in een bedrijf dat
voor meer dan 60 procent van zijn personeel deeltijd-WW had aangevraagd. In
de nieuwe regeling is dit nog maar 44 procent. In de instroom van de laatste
4 weken was dit nog lager. Er lijkt dus een trend te zijn in de richting van
een steeds kleiner deel van het personeelsbestand in de deeltijd-WW. Dit kan
duiden op zowel een behoefte bij bedrijven om minder werknemers in deeltijd-WW
te plaatsen als aan de behoefte aan een langere duur. Aangezien de eerste
tekenen van economisch herstel zich hebben aangediend, is de laatstgenoemde
verklaring minder waarschijnlijk en lijkt het vooral te duiden op minder behoefte
aan deeltijd-WW.</p><p>Bedrijven die onder oude regeling vallen moeten bij de tweede verlenging
een keuze maken. Een deel van de bedrijven heeft inmiddels een aanvraag voor
een tweede verlenging ingediend. Hier kiest slechts 34 procent (gerekend naar
aantal werknemers in deeltijd-WW) voor de hoogste variant.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e321" name="d25e321"></a>Tabel 1: Percentage urenvermindering in de oude en nieuwe
regeling </strong></p><table><thead><tr class="head-row1"><th rowspan="1">&nbsp;</th><th rowspan="1" class="right">Oud</th><th rowspan="1" class="right">Nieuw </th></tr></thead><tbody><tr><td rowspan="1">t/m 20%</td><td rowspan="1" class="right">9,3%</td><td rowspan="1" class="right">15% </td></tr><tr><td rowspan="1">20% t/m 25%</td><td rowspan="1" class="right">11,0%</td><td rowspan="1" class="right">4% </td></tr><tr><td rowspan="1">25% t/m 30%</td><td rowspan="1" class="right">13,9%</td><td rowspan="1" class="right">9% </td></tr><tr><td rowspan="1">30% t/m 35%</td><td rowspan="1" class="right">14,3%</td><td rowspan="1" class="right">3% </td></tr><tr><td rowspan="1">35% t/m 40%</td><td rowspan="1" class="right">11,2%</td><td rowspan="1" class="right">6% </td></tr><tr><td rowspan="1">40% t/m 45%</td><td rowspan="1" class="right">9,8%</td><td rowspan="1" class="right">0% </td></tr><tr><td rowspan="1">45% t/m 46%</td><td rowspan="1" class="right">6,9%</td><td rowspan="1" class="right">0% </td></tr><tr><td rowspan="1">46% t/m 47%</td><td rowspan="1" class="right">5,8%</td><td rowspan="1" class="right">0% </td></tr><tr><td rowspan="1">47% t/m 48%</td><td rowspan="1" class="right">1,0%</td><td rowspan="1" class="right">0% </td></tr><tr><td rowspan="1">48% t/m 49%</td><td rowspan="1" class="right">0,5%</td><td rowspan="1" class="right">0% </td></tr><tr><td rowspan="1">49% t/m 50%</td><td rowspan="1" class="right">78,9%</td><td rowspan="1" class="right">63%</td></tr></tbody></table><p>Tabel 1 laat zien dat in de nieuwe regeling een kleiner aandeel van de
werknemers voor vrijwel het maximale percentage in de deeltijd-WW zit. Voor
de nieuwe regeling is dit 63 procent en voor de oude regeling 79 procent.
Het aandeel dat voor het minimumpercentage in de deeltijd-WW zit
is in de nieuwe regeling hoger: 15 procent, terwijl in de oude regeling (zonder
minimumpercentage) 9 procent voor 20 procent of minder de werktijd heeft verkort.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e415" name="d25e415"></a>Omvang van de aanvragen</strong></p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e417" name="d25e417"></a>Figuur 3: Verdeling bedrijven naar omvang aanvraag <img alt="kst-29544-213-4.png" src="kst-29544-213-4.png"></strong></p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e420" name="d25e420"></a>Figuur 4: Verdeling deeltijd-WW-ers naar omvang aanvraag</strong></p><img alt="kst-29544-213-5.png" src="kst-29544-213-5.png"><p>Bovenstaande diagrammen tonen dat de meeste aanvragen kleine aanvragen
betreffen: Ruim 60 procent is voor maximaal 5 personen en 90 procent betreft
aanvragen voor maximaal 20 personen.</p><p>Van het aantal personen in deeltijd-WW, werken de meeste mensen (38 procent)
bij bedrijven die voor meer dan 100 personen deeltijd-WW aanvragen.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e428" name="d25e428"></a>Gebruik naar sector</strong></p><p>Tabel 2 laat zien dat overwicht van de sector metaal kleiner wordt en
dat vooral de detailhandel, steenindustrie en bouw in opkomst zijn (laatste
kolom). De laatste kolom moet met enige voorzichtigheid worden geïnterpreteerd
omdat de toename van het aantal deelnemers beperkt (2425) is en een aanvraag
van één of enkele grotere bedrijven een belangrijk effect op
de verhouding tussen sectoren kan hebben.</p><p class="tussenkop"><strong class="tussenkop_vet"><a id="d25e432" name="d25e432"></a>Tabel 2: Verdeling over de sectoren, huidige stand en
mutatie in de laatste 4 weken. </strong></p><table><thead><tr class="head-row1"><th rowspan="1" colspan="3">Huidige stand oude en nieuwe
regeling samen</th><th rowspan="1" colspan="3">Mutatie nieuwe
regeling in de afgelopen 4 weken</th></tr></thead><tbody><tr><td rowspan="1">&nbsp;</td><td rowspan="1" class="right">aantal</td><td rowspan="1" class="right">aandeel</td><td rowspan="1" class="left">&nbsp;</td><td rowspan="1" class="right">aantal</td><td rowspan="1" class="right">aandeel </td></tr><tr><td rowspan="1">Metaalindustrie</td><td rowspan="1" class="right">1&nbsp;5900</td><td rowspan="1" class="right">33,4%</td><td rowspan="1" class="left">048 – Nibv,
Steen industrie</td><td rowspan="1" class="right">339</td><td rowspan="1" class="right">14,0% </td></tr><tr><td rowspan="1">Metaal- en technische bedrijfstakken</td><td rowspan="1" class="right">7&nbsp;695</td><td rowspan="1" class="right">16,2%</td><td rowspan="1" class="left">012 – Metaalnijverheid</td><td rowspan="1" class="right">320</td><td rowspan="1" class="right">13,2% </td></tr><tr><td rowspan="1">Zakelijke dienstverlening II</td><td rowspan="1" class="right">4&nbsp;120</td><td rowspan="1" class="right">8,7%</td><td rowspan="1" class="left">017 –
Detailhandel en ambachten</td><td rowspan="1" class="right">305</td><td rowspan="1" class="right">12,6% </td></tr><tr><td rowspan="1">Groothandel I</td><td rowspan="1" class="right">2&nbsp;853</td><td rowspan="1" class="right">6,0%</td><td rowspan="1" class="left">010 – Metaalindustrie</td><td rowspan="1" class="right">203</td><td rowspan="1" class="right">8,4% </td></tr><tr><td rowspan="1">Detailhandel en ambachten</td><td rowspan="1" class="right">1&nbsp;714</td><td rowspan="1" class="right">3,6%</td><td rowspan="1" class="left">003 –
Bouwbedrijf</td><td rowspan="1" class="right">195</td><td rowspan="1" class="right">8,0%</td></tr><tr><td rowspan="1">Groothandel II</td><td rowspan="1" class="right">1&nbsp;561</td><td rowspan="1" class="right">3,3%</td><td rowspan="1" class="left">044 – Banken,
Zakelijke diensverlening 2</td><td rowspan="1" class="right">172</td><td rowspan="1" class="right">7,1% </td></tr><tr><td rowspan="1">Elektrotechnische industrie</td><td rowspan="1" class="right">1&nbsp;322</td><td rowspan="1" class="right">2,8%</td><td rowspan="1" class="left">042 –
Banken, Groothandel</td><td rowspan="1" class="right">129</td><td rowspan="1" class="right">5,3% </td></tr><tr><td rowspan="1">Zakelijke dienstverlening III</td><td rowspan="1" class="right">1&nbsp;233</td><td rowspan="1" class="right">2,6%</td><td rowspan="1" class="left">049 –
Nibv, Chemische industrie</td><td rowspan="1" class="right">109</td><td rowspan="1" class="right">4,5% </td></tr><tr><td rowspan="1">Havenbedrijven</td><td rowspan="1" class="right">1&nbsp;093</td><td rowspan="1" class="right">2,3%</td><td rowspan="1" class="left">041 – Banken,
Groothandel 1</td><td rowspan="1" class="right">88</td><td rowspan="1" class="right">3,6% </td></tr><tr><td rowspan="1">Overige takken van bedrijf en beroep</td><td rowspan="1" class="right">982</td><td rowspan="1" class="right">2,1%</td><td rowspan="1" class="left">045 –
Banken, Zakelijke dienstverlening 3</td><td rowspan="1" class="right">82</td><td rowspan="1" class="right">3,4%</td></tr></tbody></table></div>
            </div>

       </article>

  </div>
</div>
