<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="dossiertitel">
          <a id="d16e46" name="d16e46"></a>
          <span class="dossiernummer">
            21 501-33</span> Raad voor Vervoer, Telecommunicatie en Energie
        </h1>
        <div class="stuk">
          <h1 class="stuktitel">
            <a id="d16e51" name="d16e51"></a>
            <span class="stuknummer">Nr. 463
            </span> BRIEF VAN DE MINISTER VAN ECONOMISCHE ZAKEN
          </h1>
          <div class="algemeen">

            <p>Aan de Voorzitter van de Tweede Kamer der Staten-Generaal</p>

            <p>Den Haag, 6&nbsp;februari 2014</p>

            <p>Bijgaand doe ik u de geannoteerde agenda toekomen van de Energieraad die op 4&nbsp;maart a.s. plaatsvindt te Brussel.
            </p>

            <p>De Raad zal van gedachten wisselen over de mededeling klimaat- en energiebeleid 2030 die op 22&nbsp;januari is uitgekomen.
              De Commissie stelt een bindend Europees CO
              <sub>2</sub>-reductiedoel van 40% voor en een niet-bin
              <!--?xpp afbm?-->dend Europees hernieuwbaar energiedoel van 27%. De Commissie vertaalt het Europese doel voor hernieuwbare energie
              niet meer naar bindende nationale doelen. Daarnaast doet de Commissie geen voorstel ten aanzien van een doel voor
              energie-efficiëntie. Uw Kamer zal middels een kabinetsreactie worden geïnformeerd over het Nederlandse standpunt.
              Klimaat- en energiebeleid 2030 staat tevens geagendeerd op de Milieuraad van 3&nbsp;maart a.s. en de Europese Raad
              van 21 en 22&nbsp;maart a.s.
            </p>

            <p>De Raad zal tevens van gedachten wisselen over de mededeling energieprijzen en concurrentiekracht. De mededeling beschrijft
              de elementen waaruit de energieprijzen bestaan en schetst de ontwikkelingen van de laatste jaren. Ondanks de inspanningen
              van de lidstaten om de energievraag te verminderen en de efficiëntie bij industrie en huishoudens te verbeteren,
              zijn de energiekosten gestegen. Uw Kamer zal middels een kabinetsreactie worden geïnformeerd over het Nederlandse
              standpunt. Energieprijzen en concurrentiekracht staan tevens geagendeerd voor de Europese Raad van 21 en 22&nbsp;maart.
            </p>

            <p>Ten slotte staat mogelijk geagendeerd een politiek akkoord over de richtlijn tot wijziging van de richtlijn brandstofkwaliteit
              en de richtlijn hernieuwbare energie die op 17&nbsp;oktober 2012 is uitgebracht. Het doel van het voorstel van de
              Commissie is het terugdringen van de broeikasgasuitstoot van biobrandstoffen die samenhangen met de zogenaamde indirecte
              veranderingen in landgebruik. Deze broeikasgasuitstoot ontstaat als bestaande landbouwgronden worden ingezet voor
              de productie van biobrandstoffen en vervolgens nieuwe of andere gebieden in gebruik worden genomen voor landbouwdoelen
              als voedsel- of veevoederproductie. Tijdens de Energieraad van 12&nbsp;december 2013 slaagde de Raad er niet in om
              een politiek akkoord te bereiken (Kamerstuk
              <a href="kst-21501-33-454.html" title="link naar publicatie kst-21501-33-454">21 501-33, nr. 454</a>). Nederland heeft toen tegen het voorliggende politieke akkoord gestemd omdat het niet aan
              de Nederlandse ambities voldeed. Het Griekse voorzitterschap heeft lidstaten, die tegen hebben gestemd, gevraagd
              na te denken over een compromisvoorstel. Het is op dit moment onbekend of daaruit een compromistekst van het voorzitterschap
              zal volgen dat kans maakt op voldoende steun van de lidstaten.
            </p>

            <p class="ondertekening">
              <span class="functie">De Minister van Economische Zaken,</span>
              <span class="naam">
                <span class="voornaam">H.G.J.</span>
                <span class="achternaam">Kamp</span>
              </span>
            </p>
            <div class="bijlage">
              <h2 class="bijlage_kop kopopmaak_vet">
                <a id="d16e96" name="d16e96"></a>BIJLAGE: GEANNOTEERDE AGENDA ENERGIERAAD 4 MAART 2014
              </h2>
              <p class="tussenkop">
                <strong class="tussenkop_vet">Klimaat en energiebeleid 2030</strong>
              </p>
              <p class="tussenkop">
                <strong class="tussenkop_cur">Gedachtewisseling</strong>
              </p>
              <p>De Europese Commissie zal tijdens de Energieraad van 4&nbsp;maart de mededeling «Een beleidsraamwerk voor klimaat
                en energie voor de periode 2020–2030» presenteren die op 22&nbsp;januari 2014 is uitgekomen. Tijdens de Energieraad
                is een beleidsdebat voorzien over het voorgestelde beleidsraamwerk. Het onderwerp staat ook geagendeerd op de milieuraad
                van 3&nbsp;maart. De Europese Raad van 20 en 21&nbsp;maart zal mogelijk conclu
                <!--?xpp afbm?-->sies aannemen over de Europese klimaat- en energiedoelen voor 2030.
              </p>
              <p>De mededeling is het vervolg op het groenboek «Een 2030 raamwerk voor klimaat- en energiebeleid» dat op 27&nbsp;maart
                2013 is uitgekomen. Tijdens de publieke consultatie van het groenboek heeft de Europese Commissie informatie en
                zienswijzen verzameld voor het ontwikkelen van een beleidsraamwerk klimaat en energie voor 2030. Ook Nederland
                heeft gereageerd. Over deze kabinetsreactie is overleg met de Eerste en Tweede Kamer gevoerd en uw Kamer heeft
                de definitieve versie op 19&nbsp;december 2013 ontvangen (Kamerstuk
                <a href="kst-22112-1756.html" title="link naar publicatie kst-22112-1756">22&nbsp;112, nr. 1756</a>).
              </p>
              <p>De Commissiemededeling over het klimaat- en energiebeleid voor de periode 2020–2030 gaat ondermeer in op de hoogte
                van het CO
                <sub>2</sub>-doel in 2030, hernieuwbare energie, energie-efficiëntie, het emissiehandelssysteem, de interne energiemarkt,
                de concurrentiepositie van de (energie-intensieve) industrie, voorzieningszekerheid en innovatie. Daarnaast is
                de Commissie met een wetgevend voorstel gekomen om de richtlijn emissiehandel aan te vullen met een stabiliteitsreserve.
                Over dit wetgevende voorstel ontvangt uw Kamer binnen de daarvoor geldende termijn een BNC-fiche.
              </p>
              <div class="alineagroep">
                <p>De Commissie stelt in haar mededeling het volgende beleidskader voor:</p>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">• </span>Een CO
                      <sub>2</sub>-reductiedoel van 40% ten opzichte van 1990, te realiseren binnen Europa, dat zal worden verdeeld
                      over de ETS en de non-ETS-sector.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">• </span>Een reductiebijdrage van de ETS-sector van 43% in 2030 ten opzichte van 2005. Dit wordt bereikt
                      door de jaarlijkse reductiefactor te verhogen van de huidige 1,74% naar 2,2% na 2020. Daarnaast stel de Commissie
                      voor een stabiliteitsreserve in te stellen ten behoeve van een meer stabiele markt.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">• </span>Een reductiebijdrage van de sectoren buiten het ETS van 30% in 2030 ten opzichte van 2005. Deze
                      doelstelling zal door middel van bindende nationale doelen over de lidstaten worden verdeeld. De Commissie
                      stelt voor bij de verdeling rekening te houden met kosteneffectiviteit, maar ook met de verschillen in welvaart
                      in Europa.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">• </span>Een bindend EU-doel voor hernieuwbare energie van 27% in 2030. Het doel is afgestemd op het CO
                      <sub>2</sub>-reductiedoel van 40%. Er worden geen bindende nationale doelen voorgesteld voor de afzonderlijke
                      lidstaten.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">• </span>Geen bindende voorstellen voor energie-efficiëntie. De Commissie komt in 2014 met een rapportage
                      over de voortgang in het behalen van het Europese energie-efficiëntiedoel van 20% in 2020.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">• </span>Lidstaten wordt gevraagd periodiek energieplannen te presenteren aan de Europese Commissie. De rapportages
                      zijn breder dan de actieplannen voor hernieuwbare energie, energie-efficiëntie en broeikasgasreducties, die
                      thans opgesteld dienen te worden. Via een iteratief proces wil de Commissie waarborgen dat de lidstaten voldoende
                      ambitieuze doelstellingen en beleid formuleren. De Commissie wil met een mededeling komen over de vormgeving
                      van deze
                      <em class="cur">governance</em> structuur.
                    </p>
                  </li>
                </ul>
              </div>
              <p>Nederland verwelkomt de Commissiemededeling. Het CO
                <sub>2</sub>-emissie
                <!--?xpp afbm?-->reductiedoel is de hoeksteen van het klimaat- en energiebeleid van de EU. In de mededeling houdt de Commissie daarbij
                meer dan voorheen rekening met interacties tussen verschillende doelen en instrumenten. Ook wordt het belang van
                het vervolmaken van de interne energiemarkt en de concurrentiepositie van de internationaal concurrerende (energie-intensieve)
                industrie benadrukt. Nederland acht, conform de afspraken uit het Energieakkoord, een structurele versterking van
                het Europese emissiehandelssysteem (ETS) nodig. Daarbij mag het
                <em class="cur">level playing field</em> van de internationaal concurrerende industrie niet in gevaar komen.
              </p>
              <p>Uw Kamer zal nader worden geïnformeerd over het Nederlandse standpunt middels een kabinetsreactie. Deze zal uw Kamer
                toegaan voorafgaand aan het AO op 18&nbsp;februari.
              </p>
              <p class="tussenkop">
                <strong class="tussenkop_vet">Energieprijzen en concurrentiekracht</strong>
              </p>
              <p class="tussenkop">
                <strong class="tussenkop_cur">Gedachtewisseling</strong>
              </p>
              <p>De Europese Commissie zal tijdens de Energieraad van 4&nbsp;maart haar mededeling over energieprijzen en concurrentiekracht
                presenteren, die op 22&nbsp;januari 2014 is uitgekomen. Tijdens de Energieraad is een beleidsdebat over de mededeling
                voorzien. De Europese Raad van 20 en 21&nbsp;maart zal mogelijk conclusies aannemen over energieprijzen en concurrentiekracht.
              </p>
              <p>De mededeling beschrijft de elementen waaruit de energieprijzen bestaan en schetst de ontwikkelingen van de laatste
                jaren. Ondanks de inspanningen van de lidstaten om de energievraag te verminderen en efficiëntie bij industrie
                en huishoudens te verbeteren, zijn de energiekosten gestegen.
              </p>
              <p>Het rapport legt de nadruk op de prijs van elektriciteit en gas. In Europa zijn huishoudens en bedrijven in de periode
                2008–2012 geconfronteerd met hogere energieprijzen. Dit terwijl de groothandelsprijs (de zogenaamde
                <em class="cur">commodity</em> prijs) van elektriciteit is gedaald met gemiddeld 35% tot 45%. De groothandelsprijs voor gas fluctueerde
                meer, maar is over de gehele periode gemiddeld gelijk gebleven. De voornaamste verklaring voor de hogere eindprijs
                voor huishoudens en bedrijven vormt een combinatie van prijsregulering door overheden, stijgende nettarieven en
                nationale belastingen en heffingen. Prijsverschillen tussen lidstaten ontstaan door de nationale verschillen in
                tarieven en heffingen voor verschillende categorieën afnemers.
              </p>
              <p>In haar conclusies wijst de Commissie nog eens op de prijsverschillen tussen Europa, de VS en enkele andere landen
                en de negatieve effecten die dit heeft op de concurrentiepositie van Europa. De Commissie wijst op de noodzaak
                de interne energiemarkt in 2014 te voltooien en benadrukt het belang van kosteneffectiviteit van het beleid. Het
                aandeel van belastingen en heffingen in de prijzen moet zo beperkt mogelijk worden gehouden. Wat de nettarieven
                betreft beveelt de Commissie aan om de kosten en werkwijzen te
                <em class="cur">benchmarken</em>, te zoeken naar convergentie en verbetering van efficiëntie met het oog op zo laag mogelijke netwerkkosten.
                Hogere energie-efficiëntie in Europa draagt ook bij aan een beperking van de hogere energieprijzen, en het belang
                ervan zal de komende jaren onverminderd groot blijven. Ten slotte onderstreept de Commissie het belang van het
                vergroten van het level playing field binnen Europa: fiscale regelingen en ontheffingen moeten meer geharmoniseerd
                worden. Ook dit draagt bij aan een goed werkende Europese energiemarkt.
              </p>
              <div class="alineagroep">
                <p>Nederland verwelkomt de mededeling van de Commissie met een uitgebreide analyse van de Europese energieprijzen
                  en -kosten. Stijgende energieprijzen zijn een bron van zorg: ze tasten de koopkracht van burgers aan en verhogen
                  de lasten van bedrijven, waardoor de Europese concurrentiekracht verslechtert.
                </p>
                <p>Uw Kamer zal nader worden geïnformeerd over het Nederlandse standpunt middels een kabinetsreactie. Deze zal voor
                  het SO aan de Kamer worden gestuurd.
                </p>
              </div>
              <p class="tussenkop">
                <strong class="tussenkop_vet">Indirecte veranderingen in landgebruik door de productie van biobrandstoffen</strong>
              </p>
              <p class="tussenkop">
                <strong class="tussenkop_cur">Politiek akkoord</strong>
              </p>
              <p>Mogelijk zal aan de Raad een compromisvoorstel voor een politiek akkoord over de richtlijn tot wijziging van de richtlijn
                brandstofkwaliteit en de richtlijn hernieuwbare energie die op 17&nbsp;oktober 2012 is uitgebracht (Kamerstuk
                <a
                  href="kst-22112-1515.html" title="link naar publicatie kst-22112-1515">22&nbsp;112, nr. 1515</a>) worden voorgelegd. Op dit moment is het onduidelijk of er een compromisvoorstel dat
                op voldoende instemming kan rekenen mogelijk is. Met het politiek akkoord stelt de Raad haar standpunt vast voor
                de onderhandelingen met het Europees Parlement (EP). Het EP heeft in eerste lezing zijn standpunt over het Commissievoorstel
                bepaald. Het EP heeft echter de rapporteur geen mandaat gegeven om namens haar te onderhandelen met de Raad. De
                verwachting is dat het EP pas na de EP-verkiezingen op het eventuele politieke akkoord van de Raad zal reageren.
                Wanneer de onderhandelingen tussen de Raad en het EP zullen starten is derhalve onbekend.
              </p>
              <p>Het doel van het Commissievoorstel is het terugdringen van de broeikasgasuitstoot van biobrandstoffen die samenhangen
                met de zogenaamde indirecte veranderingen in landgebruik (ILUC).
              </p>
              <p>Deze broeikasgasuitstoot ontstaat als bestaande landbouwgronden worden ingezet voor de productie van biobrandstoffen
                en vervolgens nieuwe of andere gebieden in gebruik worden genomen voor landbouwdoelen als voedsel- of veevoederproductie.
                Met het voorliggende voorstel probeert de Commissie de duurzaamheid van biobrandstoffen te vergroten.
              </p>
              <p>De richtlijnen brandstofkwaliteit en hernieuwbare energie zijn nauw met elkaar verwant: voor het behalen van de in
                de richtlijnen opgenomen doelstellingen zullen naar verwachting veelal biobrandstoffen worden ingezet. Deze biobrandstoffen
                dienen te voldoen aan duurzaamheidscriteria. De richtlijn brandstofkwaliteit kent een doelstelling van 6% minder
                broeikasgasemissies per energiehoeveelheid over de fossiele keten in 2020 ten opzichte van 2010. De richtlijn hernieuwbare
                energie kent onder andere een doelstelling van 10% aandeel hernieuwbare energie in de vervoersector in 2020. Deze
                transportdoelstelling draagt bij aan de algehele nationale 14% doelstelling hernieuwbare energie.
              </p>
              <p>Tijdens de Energieraad van 12&nbsp;december 2013 is een voorstel voor een politiek akkoord over het standpunt van
                de Raad door een minderheid van lidstaten geblokkeerd. Een tweetal lidstaten vond de 7%-grens op conventionele
                biobrandstoffen te laag en was teleurgesteld over het voorstel met betrekking tot de rapportage over ILUC-factoren,
                omdat deze de bestaande industrie schaden. Een aantal andere lidstaten, waaronder Nederland, kon juist niet akkoord
                gaan met het voorliggende voorstel omdat dit onvoldoende ambitie toont. Deze lidstaten vonden de 7%-grens op conventionele
                biobrandstoffen te hoog en waren van mening dat het voorstel geavanceerde biobrandstoffen onvoldoende stimuleert.
                Om de blokkerende minderheid op te heffen moet er in ieder geval aan de bezwaren van ten minste een van de lidstaten
                tegemoet worden gekomen.
              </p>
              <p>Nederland heeft tegen het destijds voorliggende politieke akkoord gestemd omdat het niet aan de Nederlandse ambities
                zoals de 5%-limiet op conventionele biobrandstoffen, stimulering van geavanceerde biobrandstoffen, snelle invoering
                van ILUC-factoren voldoet, en om substantiële extra kosten bij het halen van de doelstelling hernieuwbare energie
                te vermijden.
              </p>
              <div class="alineagroep">
                <p>Het Griekse voorzitterschap heeft lidstaten die tegen hebben gestemd, gevraagd na te denken over een compromisvoorstel.
                  Nederland verkent momenteel de mogelijkheden daarvoor. Het is op dit moment onbekend of lidstaten met een reactie
                  zijn gekomen of nog zullen komen en of daaruit een compromistekst van het voorzitterschap zal volgen dat kans
                  maakt op voldoende steun van de lidstaten. Een eventueel compromisvoorstel zou tegemoet kunnen komen aan de wensen
                  van ambitieuze lidstaten, waaronder Nederland, maar ook aan de wensen van minder ambitieuze lidstaten. Het is
                  daarbij niet ondenkbaar dat een 7%-limiet op conventionele biobrandstoffen deel zal gaan uitmaken van de compromistekst.
                  Mocht er geen compromis worden bereikt, dan blijven de huidige richtlijnen van kracht en is er een kans dat de
                  Europese Commissie het voorstel intrekt.
                </p>
                <p>Dat betekent geen limiet op conventionele biobrandstoffen, geen uitzicht op invoering gewasspecifieke ILUC-factoren
                  en geen stimulering van de meest geavanceerde biobrandstoffen.
                </p>
              </div>
              <p>Nederland zal een compromisvoorstel als geheel beoordelen. Daarbij zullen de volgende aspecten in meegewogen worden:
              </p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">– </span>Een zo laag mogelijke Europese limiet op conventionele biobrandstoffen.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">– </span>Een zo spoedig mogelijke invoering van gewasspecifieke ILUC-factoren, waarbij ook aandacht moet zijn
                    voor mogelijke ILUC-mitigatiemaatregelen.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">– </span>Stimulatie van de productie van de meest geavanceerde biobrandstoffen.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">– </span>Eventuele kosten als het gevolg van een verminderde bijdrage aan de algehele doelstelling hernieuwbare
                    energie en eventuele gevolgen voor het gelijk speelveld in Europa.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">– </span>Het risico dat er geen compromis wordt bereikt en dat de Europese Commissie het voorstel intrekt,
                    met als gevolg dat er geen limiet voor conventionele brandstoffen komt en ook andere belangrijke wensen van
                    Nederland niet gehonoreerd worden.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>    </article>

  </div>
</div>
