<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

    <div id="broodtekst" class="stuk broodtekst-container">
      <h1 class="dossier">30 523
        <br>Bepalingen met betrekking tot de veilige vaart op de binnenwateren (Binnenvaartwet)</h1>
      <div>
        <a id="d25e28" name="d25e28"></a>
        <h2 class="stuktitel">nr. 40
          <br>
          <a id="d25e34" name="d25e34"></a>BRIEF VAN DE STAATSSECRETARIS VAN VERKEER EN WATERSTAAT</h2>
        <a id="d25e36" name="d25e36"></a>
        <div class="context">
          <p>Aan de Voorzitter van de Tweede Kamer der Staten-Generaal</p>
          <p>Den Haag, 22 december 2009</p>
        </div>
        <p>In mijn beleidsbrief «Varen voor een Vitale Economie» (Kamerstuk 29&nbsp;644, nr.&nbsp;84) heb ik aangekondigd dat ik
          begin 2009 de resultaten van het onderzoek naar een zinvol en haalbaar vervolg van de VERS-regeling naar de Tweede
          Kamer zou sturen. Op 2&nbsp;juli 2009 heb ik u gemeld dat de uitvoering van het onderzoek vertraging had opgelopen.
          Met deze brief, die ik u mede namens de minister van Volkshuisvesting, Ruimtelijke Ordening en Milieubeheer stuur,
          doe ik u nu de resultaten van het onderzoek toekomen.
          <a class="nootnum" href="#v1.1">1</a>
        </p>
        <p class="tussenkop">
          <strong class="tussenkop_vet">
            <a id="d25e45" name="d25e45"></a>VERS-regeling</strong>
        </p>
        <p>De «Subsidieregeling dieselmotoren voor binnenvaartschepen» (VERS-regeling) is een regeling van het ministerie van Volkshuisvesting,
          Ruimtelijke Ordening en Milieubeheer. Sinds de start in 2006 heeft de VERS-regeling investeringen gestimuleerd in schone
          motoren en in zogenaamde nageschakelde apparatuur (zoals een katalysator). Op die manier tracht de regeling de introductie
          van schonere motoren en technieken te versnellen ten opzichte van de in EU-richtlijnen overeengekomen termijnen. Afhankelijk
          van de bedrijfsgrootte kan een binnenvaartondernemer 30 of&nbsp;40% van de investering gesubsidieerd krijgen. De regeling
          loopt tot en met 2010. Het ministerie van Verkeer en Waterstaat draagt financieel bij aan de regeling.</p>
        <p class="tussenkop">
          <strong class="tussenkop_vet">
            <a id="d25e49" name="d25e49"></a>Evaluatie huidige VERS-regeling</strong>
        </p>
        <p>Voordat het onderzoek naar een zinvol en haalbaar vervolg werd gestart, is eerst de huidige regeling geëvalueerd. Deze
          evaluatie is uitgevoerd door SenterNovem, in opdracht van het ministerie van Volkshuisvesting, Ruimtelijke Ordening
          en Milieubeheer. Daarnaast waren het ministerie van Verkeer en Waterstaat, het havenbedrijf Rotterdam, en de branchepartijen
          Centraal Bureau voor de Rijnen Binnenvaart en Kantoor Binnenvaart betrokken bij de evaluatie.</p>
        <p>De VERS-regeling is destijds ingesteld om een bijdrage te leveren aan het halen van de
          <em>National Emission Ceiling</em> (NEC) plafonds in 2010. Deze NEC-plafonds behelzen internationale afspraken met betrekking
          tot de reductie van NO
          <sub>x</sub>. Het doel van de VERS-regeling was een reductie van 1,5 kton NO
          <sub>x</sub> per jaar in 2010. Uit de evaluatie door SenterNovem volgt dat de VERS-regeling tot een NO
          <sub>x</sub>-reductie van 0,2 kton per jaar in 2010 zal leiden. Daarmee blijft het resultaat sterk achter bij het gestelde
          doel. Hiervoor worden in de evaluatie verschillende redenen genoemd. Zo zijn er voornamelijk kleinere (hulp)motoren
          vervangen, die in absolute zin minder luchtverontreinigende stoffen emitteren dan grote voortstuwingsmotoren. Het aantal
          vervangen motoren was bovendien relatief laag, omdat op 1&nbsp;juli 2007 een nieuwe motoremissienorm inging. Na die
          datum waren deze schonere motoren wettelijk verplicht, en dus niet meer subsidiabel. Tenslotte is de regeling in 2007
          pas laat gepubliceerd, waardoor voor ondernemers weinig tijd restte om een aanvraag in te dienen. Het NEC-plafond voor
          NO
          <sub>x</sub> in 2010 wordt overigens wel gehaald.</p>
        <p>Een belangrijke aanbeveling uit de evaluatie is dat aanvullend beleid nodig is om de VERS-regeling succesvoller te maken.
          Van een subsidieregeling zonder aanvullend beleid («stok achter de deur») gaat te weinig prikkel uit.</p>
        <p class="tussenkop">
          <strong class="tussenkop_vet">
            <a id="d25e73" name="d25e73"></a>Onderzoek naar een zinvol en haalbaar vervolg van de VERS-regeling</strong>
        </p>
        <p>Het onderzoek naar een zinvol en haalbaar vervolg van de VERS-regeling is uitgevoerd door TNO, in opdracht van het ministerie
          van Volkshuisvesting, Ruimtelijke Ordening en Milieubeheer. TNO heeft hiervoor dezelfde methode gebruikt als het Planbureau
          voor de Leefomgeving, dat voor het ministerie van Verkeer en Waterstaat beleidsarme prognoses heeft opgesteld voor
          de toekomstige emissies in het goederentransport door de binnenvaart. Deze prognoses, die voor 2020 een verwachte emissie
          van 20,9 kton NO
          <sub>x</sub> en 0,8 kton PM
          <sub>10</sub> aangeven, zijn als kengetallen opgenomen in de Begroting 2010 van mijn ministerie. De actuele economische
          crisis is hierbij buiten beschouwing gelaten.
        </p>
        <p>Om inzicht te krijgen in de effecten van aanvullend beleid is door TNO een aantal scenario’s doorgerekend. Deze scenario’s
          zijn opgesteld in samenspraak tussen de beide ministeries, het havenbedrijf Rotterdam, en de branchepartijen Centraal
          Bureau voor de Rijn- en Binnenvaart en Kantoor Binnenvaart. TNO geeft aan dat de resultaten met de nodige voorzichtigheid
          moeten worden geïnterpreteerd, omdat gewerkt is met een smalle gegevensbasis waar het de leeftijdsopbouw van het motorenpark
          betreft. Zo rekent TNO op basis van eigen onderzoeksinformatie met een vervangingssnelheid van motoren die hoog lijkt.
          TNO geeft echter aan dat dit momenteel de best beschikbare gegevensbasis is. Voor gedetailleerde informatie verwijs
          ik u naar het TNO-rapport, dat ik als bijlage heb toegevoegd.</p>
        <p>TNO heeft eerst een scenario doorgerekend waarbij is uitgegaan van het beleid dat in de pijplijn zit. Het gaat met name
          om het vaststellen van nieuwe, stringentere motoremissienormen voor de binnenvaart. Deze normen, die onderdeel zijn
          van een herziening van Richtlijn 97/68/EG, zijn thans nog niet vastgesteld. Er bestaan verschillende voorstellen voor
          het herzien van deze Richtlijn, die ook verschillen in de hoogte van de toekomstige motoremissienormen voor de binnenvaart.
          TNO heeft gerekend met de minst vergaande normen. Dit scenario leidt tot een extra emissiereductie in 2020 van 3,2
          kton NO
          <sub>x</sub> en 0,2 kton PM
          <sub>10</sub> (fijnstof) ten opzichte van de beleidsarme prognose uit de Begroting 2010.</p>
        <p>Daarnaast heeft TNO twee additionele scenario’s doorgerekend die verdergaande emissiereducties opleveren. In deze scenario’s
          wordt met aanvullend beleid de natuurlijke, lange levensduur van binnenvaartmotoren sterke beperkingen opgelegd. Het
          gaat hierbij om het vervroegd uitfaseren van bestaande motoren, en het maximeren van de gebruiksduur van een scheepsmotor.
          Beide scenario’s zijn ingrijpend en zullen grote economische nadelen met zich meebrengen voor binnenvaartondernemers.</p>
        <p>TNO heeft ook een aantal scenario’s doorgerekend waarbij verladers in bepaalde marktsegmenten van vervoerders gaan eisen
          dat zij met schone schepen varen. Dit levert potentieel een aanzienlijke emissiereductie op, maar is erg afhankelijk
          van het doorzetten van een trend op dit gebied die op dit moment pas voorzichtig merkbaar is.</p>
        <p>Samenvattend kan gesteld worden dat het scenario met nieuwe, stringentere motoremissienormen reeds een significante reductie
          oplevert van de emissies van NO
          <sub>x</sub> en PM
          <sub>10</sub> in het jaar 2020, terwijl de ingrijpende scenario’s de emissies nog verder reduceren. Gezien de onzekerheid
          in de hoogte van de nog vast te stellen NEC-plafonds voor 2020 en in het tempo waarmee motoren zullen worden vervangen,
          is het onduidelijk of er naast de nieuwe, stringentere motoremissienormen nog additioneel beleid, zoals de maatregelen
          uit de twee additionele scenario’s, noodzakelijk zal zijn om de NEC-plafonds te halen.</p>
        <p>Vanwege deze onzekerheden, de vergaande economische effecten van dat additionele beleid voor de sector, en de teleurstellende
          ervaringen met de huidige VERS-regeling, acht ik het thans niet zinvol om een vervolg op de VERS-regeling in te stellen.</p>
        <p>Wel zal ik het onderzoek naar additioneel beleid voortzetten. Over twee jaar zal de onzekerheid in de hoogte van de NEC-plafonds
          goeddeels zijn weggenomen. Ook is er dan meer zicht op de aanpassing van Richtlijn 97/68/EG. Op basis van deze informatie
          kan dan een betere afweging gemaakt worden. Op advies van TNO zal gewerkt worden met een bredere gegevensbasis voor
          wat betreft de leeftijdsopbouw en de vervangingssnelheid van het motorenpark.</p>
        <p class="tussenkop">
          <strong class="tussenkop_vet">
            <a id="d25e109" name="d25e109"></a>Overheidsinzet op het gebied van emissiereductie in de binnenvaart
          </strong>
        </p>
        <p>In de herziening van Richtlijn 97/68/EG streef ik naar zo scherp mogelijke emissienormen. Hierbij wordt ook rekening
          gehouden met de verwachte bedrijfseconomische effecten voor de binnenvaartsector. De inzet op stringente Europese normen
          is niet de enige beleidsinzet. Zo zal per 1&nbsp;januari 2011 de binnenvaart verplicht op zwavelvrije gasolie gaan
          varen. Dit vermindert direct de uitstoot van SO
          <sub>2</sub>, maar zorgt ook voor een sterke verlaging van de emissie van PM
          <sub>10</sub>.</p>
        <p>De huidige VERS-regeling loopt nog door tot eind 2010. De regeling richt zich volgend jaar op de stimulering van de installatie
          van nageschakelde apparatuur die de NO
          <sub>x</sub>-emissies van bestaande schepen sterk vermindert.</p>
        <p>Het ministerie van Volkshuisvesting, Ruimtelijke Ordening en Milieubeheer onderzoekt of met een beperkt budget verladers
          en binnenvaartondernemers tezamen gestimuleerd kunnen worden om de milieuprestatie van de binnenvaart via zogenaamde
          milieuprestatiecontracten te verbeteren en de ervaring op dit gebied te verbreden. Dit is ook van belang omdat samen
          met de branche in 2010 bezien wordt of met deze milieuprestatiecontracten vanaf&nbsp;2011 uitvoering kan worden gegeven
          aan de afspraak in de Overeenkomst luchtkwaliteit Maasvlakte 2 om een zinvol en haalbaar vervolg voor de VERS-regeling
          in te stellen.</p>
        <p>Tenslotte loopt in 2010 via het ministerie van Verkeer en Waterstaat nog het programma Voortvarend Besparen, dat tot
          doel heeft 5% energiebesparing in de binnenvaart te bewerkstelligen in 2010. Naast emissiereductie van CO
          <sub>2</sub> leidt dit tot reductie van luchtverontreinigende emissies zoals NO
          <sub>x</sub> en PM
          <sub>10</sub>.</p>
        <div class="ondertekening">
          <a id="d25e138" name="d25e138"></a>
          <p>De staatssecretaris van Verkeer en Waterstaat,</p>
          <p>J. C. Huizinga-Heringa</p>
        </div>
      </div>
      <div id="noten">
        <hr>
        <div class="noot" id="supernote-note-v1.1">
          <h5>
            <a class="note-close" href="#">X</a>Noot</h5>
          <sup>
            <span class="nootnum">
              <a id="v1.1" name="v1.1"></a>1</span>
          </sup>
          <p>Ter inzage gelegd bij het Centraal Informatiepunt Tweede Kamer.</p>
        </div>
      </div>
    </div>    </article>

  </div>
</div>
