<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="dossier">32 257
          <br>Implementatie van het kaderbesluit nr. 2008/675/JBZ van de Raad van 24&nbsp;juli 2008 betreffende de wijze waarop bij
          een nieuwe strafrechtelijke procedure rekening wordt gehouden met veroordelingen in andere lidstaten van de Europese
          Unie (PbEU L 220)</h1>
        <div>
          <a id="d25e30" name="d25e30"></a>
          <h2 class="stuktitel">nr. 1
            <br>
            <a id="d25e36" name="d25e36"></a>KONINKLIJKE BOODSCHAP</h2>
          <a id="d25e38" name="d25e38"></a>
          <p>Aan de Tweede Kamer der Staten-Generaal</p>
          <p>Wij bieden U hiernevens ter overweging aan een voorstel van wet tot implementatie van het kaderbesluit nr. 2008/675/JBZ
            van de Raad van 24&nbsp;juli 2008 betreffende de wijze waarop bij een nieuwe strafrechtelijke procedure rekening wordt
            gehouden met veroordelingen in andere lidstaten van de Europese Unie (PbEU L 220).</p>
          <p>De memorie van toelichting, die het wetsvoorstel vergezelt, bevat de gronden waarop het rust.</p>
          <p>En hiermede bevelen Wij U in Godes heilige bescherming.</p>
          <div class="ondertekening">
            <a id="d25e46" name="d25e46"></a>
            <p>'s-Gravenhage</p>
            <p>8 december 2009</p>
            <p>Beatrix</p>
          </div>
        </div>
      </div>    </article>

  </div>
</div>
