<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="dossier">32 019 (R 1886)
          <br>Regeling van de inrichting, de organisatie, het gezag en het beheer van de politie van Curaçao, van Sint Maarten en van
          Bonaire, Sint Eustatius en Saba en de onderlinge samenwerking tussen de politie van Curaçao, van Sint Maarten en van
          Bonaire, Sint Eustatius en Saba (Rijkswet politie van Curaçao, van Sint Maarten en van Bonaire, Sint Eustatius en Saba)</h1>
        <div>
          <a id="IDAYCAR" name="IDAYCAR"></a>
          <h2 class="stuktitel">nr. 4
            <br>
            <a id="IDA3CAR" name="IDA3CAR"></a>ADVIES RAAD VAN STATE VAN HET KONINKRIJK EN NADER RAPPORT
            <a class="nootnum" href="#v1.1">1</a>
          </h2>
          <a id="IDACDAR" name="IDACDAR"></a>
          <p>Hieronder zijn opgenomen het advies van de Raad van State van het Koninkrijk d.d. 29&nbsp;april 2009 en het nader rapport
            d.d. 6&nbsp;juli 2009, aangeboden aan de Koningin door de minister van Justitie, mede namens de minister en de staatssecretaris
            van Binnenlandse Zaken en Koninkrijksrelaties. Het advies van de Raad van State van het Koninkrijk is cursief afgedrukt.</p>
          <div
            class="advies">
            <p>Bij Kabinetsmissive van 12&nbsp;maart 2009, no.&nbsp;09.000639, heeft Uwe Majesteit, op voordracht van de Minister
              van Justitie, mede namens de minister van Binnenlandse Zaken en Koninkrijksrelaties en de staatssecretaris van Binnenlandse
              Zaken en Koninkrijksrelaties, bij de Raad van State van het Koninkrijk ter overweging aanhangig gemaakt het voorstel
              van rijkswet tot regeling van de inrichting, de organisatie, het gezag en het beheer van de politie van Curaçao,
              van Sint Maarten en van Bonaire, Sint Eustatius en Saba en de onderlinge samenwerking tussen de politie van Curaçao,
              van Sint Maarten en van Bonaire, Sint Eustatius en Saba (Rijkswet politie van Curaçao, van Sint Maarten en van Bonaire,
              Sint Eustatius en Saba), met memorie van toelichting.</p>
          </div>
          <div class="advies">
            <p>Het voorstel is een consensusrijkswet in de zin van artikel 38, tweede lid, van het Statuut en voorziet in de instelling
              van politiekorpsen voor Curaçao en Sint Maarten, en een korps voor Bonaire, Sint Eustatius en Saba gezamenlijk. Er
              komt bovendien een zogeheten gemeenschappelijke voorziening politie, die naar behoefte politieambtenaren en -materieel
              aan een korps ter beschikking stelt. Door middel van dit voorstel wordt uitvoering gegeven aan de afspraken over
              politie in de Slotverklaring van het bestuurlijk overleg over de toekomstige staatkundige positie van Curaçao en
              Sint Maarten van 2&nbsp;november 2006.</p>
            <p>De Raad van State van het Koninkrijk onderschrijft de strekking van het voorstel van rijkswet, maar maakt opmerkingen
              over de verhouding met de Kustwacht, de verschillende vormen van samenwerking tussen de korpsen, het gebruik van
              vormvrije onderlinge regelingen die op landsniveau moeten worden geïmplementeerd en de vormgeving van het beheer
              over de politie. Hij is van oordeel dat in verband daarmee aanpassing van het voorstel wenselijk is.</p>
          </div>
          <p>Blijkens de mededeling van de Directeur van Uw kabinet van 12&nbsp;maart 2009, nr.&nbsp;09.000639, machtigde Uwe Majesteit
            de Raad van State van het Koninkrijk zijn advies inzake het bovenvermelde voorstel van rijkswet rechtstreeks aan mij
            te doen toekomen. Dit advies, gedateerd 29&nbsp;april 2009, nr. W03.09.0057/II/K, bied ik U hierbij aan.</p>
          <p>De Raad geeft U in overweging het voorstel van rijkswet te zenden aan de Tweede Kamer der Staten-Generaal en aan de Staten
            van de Nederlandse Antillen nadat met het advies van de Raad rekening is gehouden. Op grond van artikel 15, eerste
            lid, van het Statuut dient het voorstel ook aan de Staten van Aruba te worden gezonden.</p>
          <p>De opmerkingen van de Raad van State van het Koninkrijk worden hieronder besproken. Daarbij worden de volgorde en nummering
            van het advies van de Raad aangehouden.
          </p>
          <div class="advies">
            <p>1. Samenwerking</p>
            <p>Er komt een gemeenschappelijke voorziening politie, die voorziet in het beschikbaar stellen van personeel, materieel
              en middelen aan de korpsen van Curaçao, Sint Maarten, Bonaire, Sint Eustatius en Saba.
              <a class="nootnum" href="#v2.2">1</a> De gemeenschappelijke voorziening is een zelfstandige organisatie, die onder meer tot taak krijgt te waken
              over de kwaliteit en integriteit van politieambtenaren;
              <a class="nootnum" href="#v2.3">2</a> het is een voortzetting van het in 2001 ingestelde recherchesamenwerkingsteam.
              <a class="nootnum" href="#v2.4">3</a>
            </p>
          </div>
          <div class="advies">
            <p>a. Onduidelijk is of personeel, materieel en middelen via de gemeenschappelijke voorziening beschikbaar kan worden
              gesteld door een politiekorps uit het Europese deel van Nederland. Artikel 20 spreekt over een «gemeenschappelijke
              voorziening politie van Curaçao, Sint Maarten en Nederland», waarbij echter niet duidelijk is of met «Nederland»
              alleen het Caribische deel is bedoeld. De Raad adviseert op dit punt in het wetsvoorstel duidelijkheid te verschaffen.</p>
          </div>
          <div class="advies">
            <p>b. Evenmin is duidelijk of Aruba kan participeren in de gemeenschappelijke voorziening en of de gemeenschappelijke
              voorziening kan worden ingezet ten behoeve van Aruba. Formeel heeft deze rijkswet geen betrekking op Aruba. Gelet
              op het feit dat Aruba thans kan participeren in het bestaande Recherchesamenwerkingsteam adviseert de Raad ook op
              dit punt duidelijkheid te verschaffen.</p>
          </div>
          <div class="advies">
            <p>c. Onduidelijk is voorts of de gemeenschappelijke voorziening zelf politieambtenaren in dienst heeft. Het wetsvoorstel
              wekt op enkele plaatsen de indruk dat dat zo is,
              <a class="nootnum" href="#v2.5">4</a> maar in de toelichting wordt het uitdrukkelijk ontkend.
              <a class="nootnum" href="#v2.6">5</a>
            </p>
            <p>Daarmee houdt verband de vraag welke betekenis het heeft dat de directeur van de gemeenschappelijke voorziening de
              kwaliteit en integriteit van de politieambtenaren van de gemeenschappelijke voorziening bewaakt en bevordert.
              <a class="nootnum"
                href="#v2.7">6</a> Niet duidelijk is of dit alle politieambtenaren betreft die door bemiddeling van de gemeenschappelijke voorziening
              kunnen worden gedetacheerd, of alleen de ambtenaren die in dienst zijn van de gemeenschappelijke voorziening.</p>
            <p>De Raad adviseert deze onduidelijkheden op te heffen en daartoe het wetsvoorstel en de toelichting aan te passen.</p>
          </div>
          <div class="advies">
            <p>d. De begroting van de gemeenschappelijke voorziening politie wordt vastgesteld door de raad van ministers van het
              Koninkrijk; de landen dragen gezamenlijk de financiële middelen overeenkomstig de besluitvorming in de raad van ministers
              van het Koninkrijk.
              <a class="nootnum" href="#v2.8">7</a>
            </p>
            <p>De Raad merkt op dat deze bepaling, letterlijk genomen, zich moeizaam verhoudt met het parlementaire budgetrecht. In
              artikel 105 van de Grondwet wordt bepaald dat de begroting van de ontvangsten en uitgaven van het Rijk bij de wet
              wordt vastgesteld; delegatie is dus niet toegestaan. Artikel 85 van de Staatsregeling van de Nederlandse Antillen
              heeft dezelfde strekking.</p>
            <p>De Raad neemt echter aan dat met deze bepaling niet beoogd is, bestaande bevoegdheden en procedures te wijzigen. Hij
              adviseert het wetsvoorstel zo aan te passen dat op dit punt geen misverstanden kunnen ontstaan.</p>
          </div>
          <p>1. Samenwerking</p>
          <p>a. De bij de Raad gerezen vraag of personeel dat via de gemeenschappelijke voorziening politie beschikbaar wordt gesteld
            aan het korps van Curaçao, van Sint Maarten en van Bonaire, Sint Eustatius en Saba ook afkomstig kan zijn van een politiekorps
            van het Europese deel van Nederland, kan bevestigend worden beantwoord. Elk van de landen kan personeel beschikbaar
            stellen zonder dat wettelijke eisen worden gesteld aan de herkomst van dat personeel. In de memorie van toelichting
            is dit verduidelijkt. Over aantallen en kwaliteit van het ter beschikking te stellen personeel maken de landen onderling
            afspraken die worden opgenomen in het jaarplan.</p>
          <p>b. De veronderstelling dat het voorstel van rijkswet niet van toepassing is op Aruba is juist. Dit betekent ook dat de
            gemeenschappelijke voorziening politie geen voorziening van Aruba is. De betrokken landen zijn bereid met Aruba samen
            te werken bij de bestrijding van criminaliteit. Op welke wijze deze samenwerking in de toekomst gestalte zal krijgen,
            gaat het bestek van dit voorstel te buiten. Op geen enkele wijze sluit het voorstel uit dat het recherchesamenwerkingsteam
            op Aruba blijft bestaan.</p>
          <p>c. De gemeenschappelijke voorziening politie heeft geen personeel in dienst zoals nadrukkelijk is aangegeven in de memorie
            van toelichting (algemeen deel van de toelichting, onder 5). Omdat hierover bij de Raad toch vragen zijn gerezen is
            voor alle duidelijkheid in het voorstel het begrip «ambtenaren van politie van de gemeenschappelijke voorziening politie»
            vervangen door «ambtenaren van politie die beschikbaar worden gesteld door middel van de gemeenschappelijke voorziening
            politie». De directeur gemeenschappelijke voorziening politie is verantwoordelijk voor de kwaliteit van al het personeel
            dat beschikbaar wordt gesteld via de gemeenschappelijke voorziening politie ongeacht de herkomst van dat personeel.</p>
          <p>d. Terecht veronderstelt de Raad dat het voorstel niet beoogt een inbreuk te maken op het budgetrecht van de Staten van
            Curaçao en van Sint Maarten respectievelijk de Staten-Generaal. Er is een directe relatie tussen de begroting van de
            gemeenschappelijke voorziening politie en de landsbegrotingen. Elk van de landen zal ten laste van de eigen begroting
            de financiële middelen beschikbaar moeten stellen voor de gemeenschappelijke voorziening politie overeenkomstig de
            over de verdeling van de kosten gemaakte afspraken tussen de landen. Vergelijk in dit opzicht ook de Kustwacht voor
            de Nederlandse Antillen en Aruba (artikel 13 van de Rijkswet Kustwacht voor de Nederlandse Antillen en Aruba) waarvan
            de begroting wordt vastgesteld door de raad van ministers van het Koninkrijk en elk van de landen een bijdrage levert
            ten laste van de eigen begroting.</p>
          <p>Om geen misverstand te laten bestaan over het feit dat de landen de kosten van de gemeenschappelijke voorziening politie
            dragen, is in het derde lid van artikel 33 de relatie met de landsbegrotingen tot uitdrukking gebracht door te bepalen
            dat de landen gezamenlijk
            <em>ieder ten laste van de eigen begroting</em> de financiële middelen bijdragen ten behoeve van de gemeenschappelijke
            voorziening politie. Het is aan de verantwoordelijke ministers om hun begroting te verdedigen en te verantwoorden in
            het parlement van hun land. De parlementen kunnen hun budgetrecht volledig uitoefenen. Zo nodig zal een minister in
            overleg met de andere landen moeten treden als zijn begrotingsvoorstel wordt geamendeerd.</p>
          <div class="advies">
            <p>2. Verhouding met andere rijkswetten</p>
          </div>
          <div class="advies">
            <p>a. Rijkswet Kustwacht</p>
            <p>In hoofdstuk 2 van het wetsvoorstel wordt onder meer een aantal taken voor de politiekorpsen vastgelegd. Ook de Kustwacht
              voert politietaken uit; het is een specialistische politiedienst, waarvan het werkterrein is beperkt tot de binnenwateren
              en de territoriale zee van de Nederlandse Antillen en van Aruba, en de aansluitende zone en het overige zeegebied
              in de Caribische zee, inclusief het luchtruim daarboven. De Kustwacht wordt geregeld in de Rijkswet Kustwacht voor
              de Nederlandse Antillen en Aruba en valt dus volledig buiten het voorliggende voorstel.
              <a class="nootnum" href="#v3.9">1</a> De afbakening is echter op slechts één punt geregeld: bepaald wordt alleen dat de regels voor buitengewone
              agenten van politie niet van toepassing zijn op personeelsleden van de Kustwacht die geweld mogen gebruiken.
              <a class="nootnum"
                href="#v3.10">2</a>
            </p>
            <p>Wel bepaalt het voorstel dat de politie van Bonaire, Sint Eustatius en Saba, volgens nader bij wet te stellen regels,
              bijstand kan ontvangen van de Koninklijke marechaussee en – in bijzondere gevallen – van andere onderdelen van de
              krijgsmacht,
              <a class="nootnum" href="#v4.11">1</a> maar met die «andere onderdelen» wordt kennelijk niet gedoeld op de Kustwacht.
              <a class="nootnum" href="#v4.12">2</a>
            </p>
            <p>Het verdient aanbeveling in algemene zin te bepalen dat de Rijkswet politie niet van toepassing zal zijn op de Kustwacht.
              Voorts adviseert de Raad in het wetsvoorstel te verduidelijken of de (gewone) politie bevoegd is in de wateren en
              de zeegebieden waarin de Kustwacht bevoegd is, en, als dat zo is, hoe en onder wiens gezag de beide korpsen in voorkomende
              gevallen zullen samenwerken.</p>
          </div>
          <div class="advies">
            <p>b. Rijkswet openbare ministeries</p>
            <p>Het wetsvoorstel regelt de inzet van de rijks- of landsrecherche voor onderzoeken naar integriteitschendingen.
              <a class="nootnum"
                href="#v4.13">3</a> Dit onderwerp wordt eveneens geregeld in het voorstel van Rijkswet openbare ministeries van Curaçao, van Sint
              Maarten en van Bonaire, Sint Eustatius en Saba, zij het op een iets andere manier (het gaat daar bijvoorbeeld alleen
              om de rijksrecherche).
              <a class="nootnum" href="#v4.14">4</a>
            </p>
            <p>De recherche is een onderdeel van de politie, niet van het openbaar ministerie. De Raad adviseert daarom dit onderwerp
              alleen te regelen in het voorliggende wetsvoorstel en de regeling in de Rijkswet openbare ministeries van Curaçao,
              van Sint Maarten en van Bonaire, Sint Eustatius en Saba te schrappen.</p>
          </div>
          <p>2. Verhouding tot de andere rijkswetten</p>
          <p>a. Rijkswet Kustwacht voor de Nederlandse Antillen en Aruba</p>
          <p>De aanbeveling van de Raad om in algemene zin te bepalen dat het voorstel niet van toepassing zal zijn op de Kustwacht
            voor de Nederlandse Antillen en Aruba is niet opgevolgd. De Rijkswet Kustwacht voor de Nederlandse Antillen en Aruba
            regelt de door Nederland, de Nederlandse Antillen en Aruba ingestelde Kustwacht. Voor zover voornoemde rijkswet de
            uitoefening van politietaken regelt is ze een lex specialis ten opzichte van de Rijkswet politie van Curaçao, van Sint
            Maarten en van Bonaire, Sint Eustatius en Saba. In de Rijkswet Kustwacht voor de Nederlandse Antillen en Aruba zijn
            onder andere de taken van de Kustwacht, het gezag over de Kustwacht en de vaststelling van beleid en begroting van
            de Kustwacht geregeld. Een afbakeningsbepaling in het voorstel van rijkswet die deze aangelegenheden voor (uitsluitend)
            de politie(korpsen) van de landen regelt, is overbodig. Bovendien kan een dergelijke bepaling de vraag oproepen of
            het dan nog mogelijk is personeel van de Kustwacht aan te stellen als buitengewoon agent van politie, zoals nu gebeurt
            met door Nederland beschikbaar gesteld personeel. De mogelijkheid buitengewone agenten van politie aan te stellen is
            immers geregeld in het voorstel van rijkswet. De enige afbakeningsbepaling die voor de Kustwacht is opgenomen in het
            voorstel (artikel 10, derde lid) houdt verband met de aanstelling van (een deel van) het personeel van de Kustwacht
            als buitengewoon agent van politie. Voor de Kustwacht is op grond van de Rijkswet Kustwacht voor de Nederlandse Antillen
            en Aruba een ambtsinstructie vastgesteld. Het is niet de bedoeling dat tevens de ambtsinstructie voor de politie van
            toepassing is, zoals bij andere buitengewone agenten van politie wel het geval is.
          </p>
          <p>Het voorstel beoogt geen verandering te brengen in de taakafbakening tussen de politie van de landen en de Kustwacht
            van de Nederlandse Antillen en Aruba. De taken van de Kustwacht, onder andere politietaken op het water en het daarboven
            gelegen luchtruim, zijn omschreven in de Rijkswet Kustwacht. De taken van de politie in het onderhavige voorstel.</p>
          <p>b. Rijkswet openbare ministeries van Curaçao, van Sint Maarten en van Bonaire, Sint Eustatius en Saba</p>
          <p>Het voorstel van rijkswet openbare ministeries van Curaçao, van Sint Maarten en van Bonaire, Sint Eustatius en Saba (Rijkswet
            OM) regelt dat ambtenaren van de rijksrecherche op verzoek van de procureur-generaal ondersteuning kunnen verlenen
            bij kort gezegd integriteitsonderzoeken (artikel 35). Op grond van de Rijkswet OM beschikken ambtenaren van de rijksrecherche
            die bijstand verlenen bij dergelijke onderzoeken over de bevoegdheid van politieambtenaren van de landen. Het onderhavige
            voorstel van rijkswet regelt voor elk van de landen de landsrecherche die is belast met dergelijke onderzoeken. Genoemde
            bepaling uit de Rijkswet OM moet worden gezien als een aanvulling op de bepaling in de Rijkswet politie. Ze regelt
            niet hetzelfde maar iets anders, namelijk de mogelijke inzet van de rijksrecherche overeenkomstig de daarover in de
            Slotverklaring gemaakte afspraken, terwijl de Rijkswet politie de landsdiensten regelt die met dergelijk onderzoek
            zijn belast. Er is geen dringende reden artikel 35 uit de Rijkswet OM over te hevelen naar het voorstel van rijkswet.</p>
          <div
            class="advies">
            <p>3. Onderlinge regeling, door elk land afzonderlijk vast te stellen</p>
            <p>a. Het wetsvoorstel voorziet op diverse plaatsen in de totstandkoming van onderlinge regelingen, die in elk van de
              landen worden vastgesteld bij landsbesluit, houdende algemene maatregelen of bij algemene maatregel van bestuur.
              Dit betreft de ambtsinstructie voor de politie, de uitwisseling van politiegegevens, kwaliteitscriteria en opleidings-
              en trainingsvereisten voor politieambtenaren, de uitrusting van politieambtenaren, en de hoofdrangen voor de politie.
              <a
                class="nootnum" href="#v5.15">1</a> Bij de meeste van deze onderwerpen is het van belang dat de regelingen in alle landen van het Koninkrijk identiek
              zijn.
            </p>
            <p>Artikel 38, eerste lid, van het Statuut maakt het mogelijk dat de landen onderlinge regelingen treffen; die kunnen,
              zo bepaalt het tweede lid, worden vastgesteld bij rijkswet of bij algemene maatregel van rijksbestuur. In de hiervoor
              genoemde gevallen is echter gekozen voor formele vaststelling van het overeengekomene op landsniveau; het gaat derhalve
              om onderlinge regelingen in de zin van artikel 38, eerste lid, waarvoor het Statuut, en nu ook het wetsvoorstel,
              geen vormvoorschriften stelt. Letterlijk genomen zouden de bepalingen inhouden dat, als de regeringen een vormvrije
              afspraak maken, zij juridisch verplicht zijn die bij landsregeling te implementeren, en dat ook wijziging van de
              landsregelingen alleen bij «onderlinge regeling», dus bij vormvrije afspraak, kan plaatsvinden.</p>
            <p>De Raad neemt aan dat dit niet zo bedoeld is. Het zou immers inhouden dat de bevoegdheid van elke landsregering om
              regels vast te stellen, of om die te wijzigen, formeel afhankelijk wordt gemaakt van het bereiken van overeenstemming
              met de andere landsregeringen. Daarmee zou elk van de regeringen worden beperkt in zijn mogelijkheden om beleid te
              voeren door het vaststellen van algemeen verbindende voorschriften. Bovendien kan het mede gaan om onderlinge regelingen
              die strekken tot beperking van rechten van burgers: blijkens de toelichting zal het met name gaan om instructies
              voor wapen- en geweldsgebruik.
              <a class="nootnum" href="#v5.16">2</a> Het betreft derhalve overheidsoptreden waarmee grondrechten van burgers kunnen worden beperkt.
              <a class="nootnum"
                href="#v5.17">3</a> Deze grondrechten kunnen alleen bij of krachtens de wet of de landsverordening worden beperkt, waarbij de hoofdelementen
              van de beperking in de wet of de landsverordening moeten zijn neergelegd. De beperking kan dus niet worden bepaald
              door de inhoud van een vormvrije onderlinge regeling.</p>
            <p>Om misverstanden over het rechtskarakter van deze onderlinge regelingen weg te nemen adviseert de Raad het wetsvoorstel
              zo aan te passen dat de landen bevoegd blijven de materie van de vormvrije onderlinge regelingen zelfstandig vast
              te stellen. Daarbij verdient het tevens aanbeveling te voorzien in de mogelijkheid dat het betreffende onderwerp
              wordt geregeld bij algemene maatregel van rijksbestuur op basis van artikel 38, tweede lid.</p>
          </div>
          <div class="advies">
            <p>b. De ministers van BZK en Justitie van Nederland en de ministers van Justitie van Curaçao en van Sint Maarten stellen
              onderling regels vast over de behandeling van klachten over gedragingen van ambtenaren van politie van de gemeenschappelijke
              voorziening politie.
              <a class="nootnum" href="#v5.18">4</a> De bepaling maakt niet duidelijk welke vorm deze regels zullen aannemen. Het woord«regels» wekt de indruk dat
              het gaat om algemeen verbindende voorschriften, maar of dat is beoogd wordt niet duidelijk. Het staatsrecht van het
              Koninkrijk kent geen algemeen verbindende voorschriften die gezamenlijk zijn vastgesteld door ministers van verschillende
              landsregeringen. De Raad wijst erop dat het legaliteitsbeginsel in Nederland aldus is geconcretiseerd dat ministeriële
              regelingen dienen te worden beperkt tot administratieve voorschriften, uitwerking van details, en voorschriften die
              dikwijls of met grote spoed gewijzigd moeten kunnen worden.
              <a class="nootnum" href="#v5.19">5</a>
              Een klachtenregeling heeft rechtstreeks gevolgen voor burgers; in Nederland is de behandeling van klachten over bestuursorganen
              op wettelijk niveau geregeld.
              <a class="nootnum" href="#v5.20">6</a>
            </p>
            <p>De Raad adviseert de voorgestelde constructie te schrappen. Het verdient aanbeveling de hoofdzaken van de klachtenregeling
              bij rijkswet te regelen.</p>
          </div>
          <p>3. Onderlinge regeling, door elk land afzonderlijk vast te stellen </p>
          <p>a. Het voorschrift onderlinge regels vast te stellen ter uitvoering van diverse bepalingen in het voorstel en deze te
            implementeren in landsbesluiten, houdende algemene maatregelen, respectievelijk algemene maatregelen van bestuur, verbindt
            de regeringen van de betrokken landen ten opzichte van elkaar. Niet nakoming van deze verplichting betekent dat een
            inbreuk wordt gemaakt op een verplichting uit een rijkswet.</p>
          <p>Het voorschrift de onderlinge regelingen vast te stellen bij landsbesluit, houdende algemene maatregelen, of algemene
            maatregel van bestuur is opgenomen omdat onderlinge regelingen, gebaseerd op artikel 38, eerste lid, burgers niet kunnen
            binden. De memorie van toelichting is in deze zin aangevuld.</p>
          <p>De rijkswetgever is krachtens het onderhavige voorstel van consensusrijkswet bevoegd de regeringen van de landen op deze
            wijze te binden, dit gebeurt op basis van overeenstemming tussen de landen. Dit laat onverlet dat landsregelgeving
            die afwijkt van wat is overeengekomen in de onderlinge regelingen rechtsgeldig tot stand kan worden gebracht. Dat geldt
            ook voor wijzigingen van de landsregelgeving waardoor afwijkingen met de onderlinge regelingen ontstaan. In die zin
            is er geen sprake van een beperking van de bevoegdheden van de landsregelgever. De Koninkrijksregering kan echter ingrijpen
            op grond van artikel 50 van het Statuut indien sprake is van een wetgevende maatregel die in strijd is met een rijkswet.
            Er is overigens geen reden aan te nemen dat deze gevallen zich zullen voordoen. Het voorstel en de onderlinge regelingen
            zijn gebaseerd op consensus.
          </p>
          <p>De landsregelgeving waarbij de onderlinge regeling wordt vastgesteld, is gebaseerd op de desbetreffende bepaling van
            de rijkswet. Bijzondere aandacht vraagt de Raad in dit verband voor de ambtsinstructie ter uitvoering van de artikelen
            12 en 13. Het voorstel van rijkswet bevat de hoofdelementen voor het gebruik van geweld en vrijheidsbeperkende middelen
            in artikel 13, eerste lid. Het landsbesluit, houdende algemene maatregelen, respectievelijk de algemene maatregel van
            bestuur waarbij de ambtsinstructie wordt vastgesteld, wordt evenals de onderlinge regeling op grond van de artikel
            14 van het voorstel vastgesteld ter uitvoering van de artikelen 12 en 13. Daarmee is voor alle landen voldaan aan het
            vereiste in Grondwet en Staatsregelingen dat een mogelijke beperking van de grondrechten bij of krachtens wet in formele
            zin plaatsvindt. In het voorstel is beter tot uitdrukking gebracht dat ook de landsbesluiten en de algemene maatregel
            van bestuur ter uitvoering van de artikelen 12 en 13 van het voorstel worden getroffen.</p>
          <p>b. Naar aanleiding van de opmerkingen van de Raad is ervoor gekozen het intern klachtrecht voor de ambtenaren van politie
            die beschikbaar worden gesteld door middel van de gemeenschappelijke voorziening politie anders te regelen. Zoals is
            aangegeven, is de ambtenaar die door middel van de gemeenschappelijke voorziening politie beschikbaar wordt gesteld
            werkzaam bij een korps van een van de landen. Elk van de landen stelt regels voor de behandeling van klachten over
            gedragingen van ambtenaren van politie van het politiekorps (artikel 43). De regels in het desbetreffende land zijn
            ook van toepassing op de ambtenaren die beschikbaar zijn gesteld aan het korps van dat land. Dit voorkomt dat voor
            de burgers verschillende regels van toepassing zijn. De directeur gemeenschappelijke voorziening politie, verantwoordelijk
            voor de kwaliteit van de ambtenaren die beschikbaar worden gesteld, heeft de mogelijkheid om over een klacht tegen
            een zodanige ambtenaar advies uit te brengen aan degene die in het korps is belast met het beslissen op de klacht.</p>
          <p>4. Gezag en beheer</p>
          <p>a en b. Gelet op de bijzondere situatie en de kleinschaligheid is de bestuurlijke verantwoordelijkheid voor het politiekorps
            van Bonaire, Sint Eustatius en Saba op onderdelen anders vormgegeven dan in het Europese deel van Nederland. Een bijzonder
            punt van aandacht is de samenhang in het korps dat voor drie openbare lichamen werkzaam zal zijn die ver uit elkaar
            liggen. Die samenhang zal vooral in praktijk moeten worden vormgegeven. Een wettelijk instrumentarium kan daaraan maar
            beperkt bijdragen. Die bijdrage wordt geleverd door onder andere de regeling van één korpschef, een éénhoofdig beheer
            en het voorschrift van één jaarplan. De korpschef zal leiding moeten geven aan het gehele korps en al haar onderdelen,
            ongeacht de vraag waar de politietaken worden uitgeoefend. Hij is verantwoordelijk voor een goede inzet van het korps
            in elk van de openbare lichamen. Daar kan en zal hij door het bevoegd gezag op worden aangesproken. Het beheer van
            het korps van Bonaire, Sint Eustatius en Saba is in handen van de minister van Binnenlandse Zaken en Koninkrijksrelaties.
            Momenteel wordt overwogen of en hoe het korpsbeheerderschap gemandateerd zou moeten worden. In de memorie van toelichting
            is dit aangegeven.</p>
          <p>Het advies van de Raad in het onderhavige voorstel nog twee overleggen voor te schrijven bovenop de reeds bestaande overlegverplichtingen
            (artikelen 19, 30, 36 en 48), is niet gevolgd. Aan het in artikel 19 voorgeschreven overleg nemen de gezaghebbers deel.
            In de tekst is tot uitdrukking gebracht dat dit overleg plaatsvindt met de drie gezaghebbers gezamenlijk. De verdere
            betrokkenheid van de gezaghebbers bij het beheer van de politie wordt, in aanvulling op de Rijkswet politie van Curaçao,
            van Sint Maarten en van Bonaire, Sint Eustatius en Saba, nader geregeld in het voorstel van Wet politie, brandweerzorg,
            rampenbestrijding en crisisbeheersing BES.</p>
          <p>Terecht vraagt de Raad aandacht voor de democratische inbedding van de politie. De betrokkenheid van de eilandsraden
            bij de totstandkoming van het jaarstukken is in dit opzicht belangrijk. Dit wordt geregeld in de Wet politie, brandweerzorg,
            rampenbestrijding en crisisbeheersing BES.</p>
          <p>c. De bestuurlijke verantwoordelijkheid voor de politie is voor Curaçao en Sint Maarten geregeld overeenkomstig de huidige
            Antilliaanse regeling. De spreiding van verantwoordelijkheden over meerdere bestuurslagen zoals in Nederland, is niet
            mogelijk omdat de toekomstige landen maar één bestuurslaag hebben. Het voorstel om het beheer bij de gouverneur te
            leggen is niet gevolgd omdat dat de regeling compliceert terwijl het geen oplossing biedt voor hetgeen de Raad als
            probleem ziet. Voor de beheertaak van de Gouverneur zal immers toch ministeriële verantwoordelijkheid moeten worden
            gedragen. Het zal dan naar de aard van de taak bezien, de Minister van Justitie zijn die verantwoordelijk is. Daarenboven
            is de Gouverneur niet ingericht op de taak van korpsbeheerder. Het beheer onderbrengen bij een ander lid van het kabinet
            van Curaçao of Sint Maarten ligt niet voor de hand, omdat geen van de andere leden van die kabinetten direct betrokken
            is bij de uitoefening van politietaken. Dit is anders dan in Nederland waar de verantwoordelijkheid voor openbare orde
            enerzijds en justitie anderzijds is ondergebracht bij twee verschillende ministers. Er is geen aanleiding dit model
            voor te schrijven voor elk van de landen van het Koninkrijk.</p>
          <p>d. De Raad constateert terecht dat de omschrijving van de beheertaak in de voorgestelde artikelen 31 en 47 afwijkt van
            die in de Politiewet 1993. Zij sluit echter aan bij de omschrijving in de Politieregeling 1999. De in het Caribische
            deel van het Koninkrijk bekende omschrijving zal daarom geen verwarring wekken.</p>
          <p>e. Naar aanleiding van het advies van de Raad is de regeling voor het geven van aanwijzingen in artikel 48, tweede lid,
            aangepast. Bepaald is dat de minister van Binnenlandse Zaken en Koninkrijksrelaties aanwijzingen die verband houden
            met de strafrechtelijke handhaving van de rechtsorde of vervulling van taken ten dienste van de justitie geeft in overeenstemming
            met de minister van Justitie.</p>
          <div class="advies">
            <p>4. Gezag en beheer</p>
            <p>Het wetsvoorstel stelt drie politiekorpsen in: een voor Curaçao, een voor Sint Maarten, en een voor de openbare lichamen
              Bonaire, Sint Eustatius en Saba.</p>
            <p>De drie korpsen staan, waar het gaat om de strafrechtelijke handhaving van de rechtsorde en de taken ten dienste van
              de justitie, onder gezag van de procureur-generaal (één functionaris voor de drie korpsen). Waar het gaat om de handhaving
              van de openbare orde en de hulpverleningstaak staan de korpsen van Curaçao en Sint Maarten onder gezag van de minister
              van Justitie van dat land; het korps van de openbare lichamen staat onder gezag van de gezaghebber van het betreffende
              openbare lichaam. De procureur-generaal en de gezaghebber kunnen algemene en bijzondere aanwijzingen geven aan de
              politieambtenaren.
              <a class="nootnum" href="#v8.21">1</a>
            </p>
            <p>Aan het hoofd van elk korps staat een korpschef, die belast is met de dagelijkse leiding van het korps.
              <a class="nootnum"
                href="#v8.22">2</a> Hij wordt benoemd door de regering van zijn land: bij landsbesluit (in Curaçao en Sint Maarten) respectievelijk
              bij koninklijk besluit (in de openbare lichamen).
              <a class="nootnum" href="#v8.23">3</a>
            </p>
            <p>In Curaçao en Sint Maarten is de minister van Justitie korpsbeheerder; in de openbare lichamen wordt die functie vervuld
              door de minister van Binnenlandse Zaken en Koninkrijksrelaties.
              <a class="nootnum" href="#v8.24">4</a> De korpsbeheerder kan de nodige aanwijzingen geven aan de korpschef. De Raad merkt hierover het volgende op.</p>
          </div>
          <div class="advies">
            <p>a. Het geheel overziende stelt de Raad vast dat de bestuurlijke verantwoordelijkheid voor het politiekorps in de openbare
              lichamen niet heel krachtig is vormgegeven. De positie van de gezaghebber ten opzichte van de politie is vergelijkbaar
              met die van de burgemeester in het Europese deel van Nederland: hij heeft het gezag over de politie, maar het politiekorps
              is verantwoordelijk voor meerdere gemeentes. Dat betekent dat de burgemeester niet een eigen, afgebakend organisatieonderdeel
              van de politie kan aansturen. Voor de gezaghebber geldt hetzelfde. De positie van de burgemeester wordt echter in
              zoverre versterkt dat hij tevens korpsbeheerder kan zijn, of anders in ieder geval lid is van het regionale college.
              Het regionale college stelt het beleidsplan, de begroting, de jaarrekening, en het jaarverslag vast; de korpsbeheerder
              is verantwoording verschuldigd aan het regionale college.
              <a class="nootnum" href="#v8.25">5</a>
            </p>
            <p>In het wetsvoorstel is niet voorzien in een orgaan waarbinnen de drie gezaghebbers gezamenlijk bevoegdheden uitoefenen.
              Dat maakt de positie van de gezaghebbers betrekkelijk zwak.</p>
            <p>De Raad heeft er begrip voor dat gekozen is voor één politiekorps voor de drie openbare lichamen: zou gekozen zijn
              voor een korps voor Bonaire en een korps voor Sint Eustatius en Saba, dan zou de bestuurlijke schaal te klein worden.
              Hij signaleert echter dat het met de geografische afstand tussen Bonaire en de andere openbare lichamen moeilijk
              wordt om de samenhang in het korps te handhaven.</p>
            <p>Het is niettemin van belang dat de bestuurlijke verantwoordelijkheid voor dit politiekorps wordt versterkt. Alleen
              langs die lijn kan in de taakuitoefening van de politie het evenwicht worden bewaard tussen de strafvorderlijke taak
              en de openbare orde-taak. Bovendien is alleen langs de bestuurlijke lijn de democratische verantwoording van het
              politieoptreden vorm te geven.</p>
            <p>De Raad adviseert om te voorzien in twee soorten driehoeksoverleg: enerzijds tussen de Rijksvertegenwoordiger
              <a class="nootnum"
                href="#v8.26">6</a> namens de minister van BZK, de procureur-generaal en de gezaghebbers gezamenlijk, anderzijds tussen de eerstgenoemde
              functionarissen en elke gezaghebber afzonderlijk. Voorts adviseert hij in de toelichting in te gaan op de vraag hoe
              de samenhang binnen het korps overigens kan worden gehandhaafd.</p>
          </div>
          <div class="advies">
            <p>b. De positie van de minister van BZK als korpsbeheerder is, zo meent de Raad, evenmin krachtig, omdat hij zich op
              grote afstand van het politiekorps bevindt. De Raad acht het van belang dat de bestuurlijke verantwoordelijkheid
              van de minister van BZK wordt versterkt, juist nu de vormgeving van die verantwoordelijkheid op decentraal niveau
              niet zonder problemen is.</p>
            <p>De korpsbeheerderstaak kan alleen op een meer dagelijkse basis worden vervuld als deze taak wordt gemandateerd aan
              de Rijksvertegenwoordiger; dit hoeft overigens niet bij wet te worden geregeld. De toelichting maakt niet duidelijk
              of dat zal gebeuren. De Raad adviseert daartoe over te gaan.</p>
          </div>
          <div class="advies">
            <p>c. In de Nederlandse Antillen en in Nederland is de bestuurlijke verantwoordelijkheid voor de politie verdeeld over
              meer functionarissen. In de Nederlandse Antillen is de minister van Justitie korpsbeheerder; de politie staat onder
              gezag van de gezaghebber voor zover het gaat om de handhaving van de openbare orde, en onder gezag van de procureur-generaal
              waar het gaat om de strafrechtelijke handhaving van de rechtsorde.
              <a class="nootnum" href="#v8.27">7</a> In Nederland zijn deze taken achtereenvolgens opgedragen aan de korpsbeheerder, de officier van justitie en
              de burgemeester (die in een aantal gevallen ook korpsbeheerder is), en zijn bovendien de ministers van Justitie en
              BZK op afstand verantwoordelijk voor de politie. Door deze spreiding van staatsmacht over verschillende staatsorganen
              wordt recht gedaan aan een van de uitgangspunten van de democratische rechtsstaat, het machtsevenwicht.</p>
            <p>Met het wetsvoorstel zal de verantwoordelijkheid voor de politie in Curaçao en Sint Maarten slechts worden uitgeoefend
              door twee functionarissen. Dem inister van Justitie wordt korpsbeheerder en krijgt tevens het gezag over de politie
              bij het optreden ter handhaving van de openbare orde.
              <a class="nootnum" href="#v9.28">1</a> Treedt de politie op ter strafrechtelijke handhaving van de rechtsorde, dan staat zij onder gezag van de procureur-generaal.
              <a
                class="nootnum" href="#v9.29">2</a> De procureur-generaal is echter hiërarchisch ondergeschikt aan de minister van Justitie.
              <a class="nootnum"
                href="#v9.30">3</a>
            </p>
            <p>De Raad is van oordeel dat de verantwoordelijkheid voor de politie gespreid moet worden over meer functionarissen.
              Hij beveelt aan te bezien of de Gouverneur kan worden aangewezen als korpsbeheerder.</p>
          </div>
          <div class="advies">
            <p>d. Het voorstel bepaalt dat de minister van Justitie respectievelijk van BZK wat het beheer betreft het bevoegd gezag
              over het politiekorps uitoefent.
              <a class="nootnum" href="#v9.31">4</a>Deze omschrijving wijkt af van die in de Politiewet 1993; daarin wordt kortweg bepaald dat het beheer van het
              politiekorps bij de korpsbeheerder berust.
              <a class="nootnum" href="#v9.32">5</a> Het gebruik van de term «bevoegd gezag» op deze plaats is, zo meent de Raad, niet helder, omdat gezag en beheer
              in het stelsel van de Politiewet verschillende zaken zijn. Onder beheer wordt verstaan: de zorg voor de organisatie
              en instandhouding van het politieapparaat en de bevoegdheid tot het geven van aanwijzingen opdat het politiekorps
              zo doeltreffend mogelijk functioneert. Gezag is de beslisbevoegdheid over een daadwerkelijke inzet van de politie.
              De term «gezag» wordt daarom in de Politiewet gebruikt als omschrijving van de positie van de burgemeester respectievelijk
              de officier van justitie, elk voor hun terrein.
              <a class="nootnum" href="#v9.33">6</a> Zoals hiervoor aangegeven geldt hetzelfde voor het wetsvoorstel: het gezag over de politiekorpsen van Curaçao
              en Sint Maarten berust bij de Minister van Justitie en de procureur-generaal; het gezag over het politiekorps van
              de openbare lichamen bij de gezaghebber en de procureur-generaal.</p>
            <p>De Raad adviseert bij de omschrijving van de taak van de korpsbeheerder het woord «gezag» niet te gebruiken. Het verdient
              aanbeveling aan te sluiten bij de omschrijving in de Politiewet 1993.</p>
          </div>
          <div class="advies">
            <p>e. De korpschef van Bonaire, Sint Eustatius en Saba stelt jaarlijks, in overeenstemming met de procureur-generaal,
              een ontwerpjaarplan op. Hij neemt daarbij de aanwijzingen van de korpsbeheerder, maar ook die van de Minister van
              Justitie, in acht.
              <a class="nootnum" href="#v9.34">7</a>
            </p>
            <p>De Raad meent dat het niet evenwichtig is dat de korpschef verschillende aanwijzingen van twee ministers in acht moet
              nemen; niemand kan twee heren dienen. Nu de Minister van BZK korpsbeheerder is, ligt het voor de hand dat de korpschef
              aanwijzingen van die minister in acht dient te nemen. De Minister van Justitie zou, zo meent de Raad, slechts bevoegd
              moeten zijn aanwijzingen te geven aan de procureur-generaal, en zouden beperkt moeten blijven tot de strafvorderlijke
              taken van de politie.</p>
            <p>De Raad adviseert het wetsvoorstel op dat punt aan te passen.</p>
          </div>
          <div class="advies">
            <p>5. Binnentreden in woningen</p>
            <p>Voorgesteld artikel 13, tweede lid, bepaalt dat de ambtenaar van politie die voor de uitvoering van de politietaak
              is aangesteld toegang heeft tot elke plaats, voor zover dat redelijkerwijs nodig is voor het verlenen aan hulp aan
              hen die deze behoeven.</p>
            <p>Nu de bepaling geen uitzondering maakt voor het binnentreden in woningen zonder toestemming van de bewoner, dient de
              bepaling voor Nederland te voldoen aan artikel 12 van de Grondwet. Voor Curaçao en Sint Maarten zal moeten worden
              voldaan aan de normen die op dit punt zullen worden gesteld in de (nog vast te stellen) Staatsregelingen van deze
              nieuwe landen. Elk van de landen is bovendien gebonden aan artikel 8 EVRM.</p>
            <p>Artikel 13, tweede lid, van het wetsvoorstel komt overeen met artikel 8, tweede lid, van de Politiewet 1993; die laatste
              bepaling moet echter worden gelezen in samenhang met de Algemene wet op het binnentreden, die uitvoering geeft aan
              artikel 12 Grondwet. De Algemene wet op het binnentreden geldt echter niet in de openbare lichamen.</p>
            <p>De Raad adviseert artikel 13, tweede lid, van het wetsvoorstel – voor het Caribische deel van Nederland – in overeenstemming
              te brengen met de Grondwet en – voor de nieuwe landen – te verzekeren dat zij in overeenstemming zullen zijn met
              de ontwerp-Staatsregelingen. De Raad merkt voorts op dat het aanbeveling verdient in het voorstel van Aanpassingswet
              openbare lichamen Bonaire, Sint Eustatius en Saba erin te voorzien dat de Algemene wet op het binnentreden van toepassing
              wordt in de openbare lichamen, onder aanwijzing van de bevoegde organen en de toepasselijke procedures.
              <a class="nootnum" href="#v10.35">1</a>
            </p>
          </div>
          <p>5. Binnentreden in woningen</p>
          <p>Naar aanleiding van de opmerkingen van de Raad is bepaald dat indien de bevoegdheid tot het betreden van plaatsen, het
            binnentreden van een plaats in gebruik als woonverblijf betreft, de artikelen over binnentreden in woningen uit de
            Wetboeken van Strafvordering van de landen van overeenkomstige toepassing zijn. Hierin is bepaald onder welke voorwaarden
            woningen zonder toestemming van de bewoner kunnen worden betreden. Onder andere is voorzien in het vereiste van legitimatie
            en mededeling van het doel van het binnentreden en is geregeld dat van het binnentreden een verslag wordt opgemaakt
            dat aan de bewoner wordt uitgereikt of gezonden. Wat Bonaire, Sint Eustatius en Saba betreft, is aldus voldaan aan
            de vereisten in het tweede en derde lid van artikel 12 van de Grondwet. Voor Curaçao en Sint Maarten is aldus voldaan
            aan de eisen die naar het zich laat aanzien in de Staatsregelingen zullen worden gesteld aan het binnentreden in woningen.</p>
          <div
            class="advies">
            <p>6. Uitwisseling van politiegegevens</p>
            <p>Het wetsvoorstel voorziet erin dat politiegegevens worden uitgewisseld tussen politiekorpsen van Curaçao, Sint Maarten,
              Bonaire, Sint Eustatius en Saba, en het Europese deel van Nederland, indien dat noodzakelijk is voor een goede uitoefening
              van de politietaken en met inachtneming van de daarvoor geldende voorschriften.
              <a class="nootnum" href="#v10.36">2</a> De Raad begrijpt de woorden «met inachtneming van de daarvoor geldende voorschriften» aldus dat deze bepaling
              geen zelfstandige bevoegdheid creëert om gegevens uit te wisselen.</p>
          </div>
          <div class="advies">
            <p>a. Voor het Europese deel van Nederland zijn deze voorschriften te vinden in de Wet politiegegevens. Die wet is niet
              zonder meer toegeschreven op de verstrekking van politiegegevens aan politiekorpsen buiten het Europese deel van
              Nederland, omdat die niet zijn voorzien in het systeem van die wet. Paragraaf&nbsp;2 van de Wet politiegegevens is
              niet bruikbaar, omdat die paragraaf alleen voorziet in verstrekking van politiegegevens aan «de politie»; daarmee
              wordt in de Wet politiegegevens uitsluitend bedoeld: de politie van het Europese deel van Nederland. Artikel 18,
              eerste lid, van de Wet politiegegevens lijkt evenmin voor deze situatie te zijn geschreven, nu dit artikel is geschreven
              voor instanties die politiegegevens nodig hebben voor andere taken dan de politietaak, zoals het Schadefonds geweldsmisdrijven.
              <a
                class="nootnum" href="#v10.37">3</a> Ook artikel 20, eerste lid, lijkt niet geschikt te zijn, nu het is geschreven voor verstrekking van politiegegevens
              aan personen en instanties buiten de politie of zelfs buiten de overheid, waarmee de politie een samenwerkingsverband
              heeft.
              <a class="nootnum" href="#v10.38">4</a>
            </p>
            <p>De Raad adviseert de Wet politiegegevens aan te passen, bijvoorbeeld in het voorstel van Aanpassingswet openbare lichamen
              Bonaire, Sint Eustatius en Saba.</p>
          </div>
          <div class="advies">
            <p>b. In de toelichting op het voorstel van Aanpassingswet openbare lichamen Bonaire, Sint Eustatius en Saba, waarover
              de Raad op 5&nbsp;maart 2009 advies heeft uitgebracht, wordt opgemerkt: «Met betrekking tot de politiegegevens zal
              de Wet politiegegevens niet op de drie eilanden van toepassing worden verklaard; wel zal een – zeer beperkte – regeling
              voor de verwerking van persoonsgegevens worden getroffen, zij het dat nog niet geheel duidelijk is of dit ook betrekking
              zal hebben op politiegegevens.»
              <a class="nootnum" href="#v10.39">5</a>
            </p>
            <p>De Raad adviseert in de toelichting aan te geven in welke wet de politiegegevens voor de openbare lichamen zullen worden
              geregeld.</p>
          </div>
          <p>6. Uitwisseling van politiegegevens</p>
          <p>a en b. Het voorstel van rijkswet voorziet in de uitwisseling van politiegegevens tussen de politie van Curaçao, van
            Sint Maarten en van Bonaire, Sint Eustatius en Saba. Tevens voorziet het voorstel in de uitwisseling van politiegegevens
            tussen de politie van het Europese deel van het Koninkrijk en de politie van Curaçao en van de politie van Sint Maarten.
            Artikel 39 van het voorstel biedt de basis voor uitwisseling van politiegegevens, maar elk van de landen doet dat in
            overeenstemming met de eigen daarvoor geldende regels. </p>
          <p>Het advies van de Raad tot aanpassing van de Wet politiegegevens is niet overgenomen. In de Wet politiegegevens is reeds
            voorzien in de mogelijkheid tot verstrekking van politiegegevens aan andere landen. Op grond van artikel 17, derde
            lid, van de wet kunnen politiegegevens worden verstrekt aan autoriteiten in een ander land die zijn belast met de uitvoering
            van de politietaak voor zover dit noodzakelijk is voor de goede uitvoering van de politietaak in Nederland of de politietaak
            in het desbetreffende land. Dit is nader geregeld in het Besluit politiegegevens (artikel 5:1 BPG). Vereist is dat
            bij de ontvangende instantie voldoende waarborgen aanwezig zijn voor een juist gebruik van de verstrekte gegevens en
            voor de bescherming van de persoonlijke levenssfeer (art. 17, vijfde lid, WPG). Zoals hierboven aan de orde is gekomen,
            geldt dit vereiste onverkort voor de uitwisseling van politiegegevens aan de politie van Curaçao en van Sint Maarten.
            Aanvullend zullen Nederland, Curaçao en Sint Maarten nadere afspraken maken, in de vorm van een onderlinge regeling,
            over de onderlinge uitwisseling van politiegegevens. De onderlinge regeling zal verplichten tot het treffen van maatregelen
            die ertoe moeten leiden dat uitwisseling van gegevens tussen de politie van de landen feitelijk mogelijk is (beheerbepalingen)
            en een behoorlijk niveau van gegevensbescherming is gegarandeerd (privacybescherming). In de memorie van toelichting
            is de relatie tussen artikel 39, eerste lid, de onderlinge regeling en de nationale voorschriften met betrekking tot
            politiegegevens nader toegelicht.</p>
          <p>Wat Bonaire, Sint Eustatius en Saba betreft zullen in het voorstel van Wet politie, brandweerzorg, rampenbestrijding
            en crisisbeheersing BES bepalingen worden opgenomen over gegevensverwerking en gegevensbeheer. Het advies van de Raad
            om dit wetsvoorstel in de memorie van toelichting te noemen is overgenomen. Met de bepalingen over politiegegevens
            in genoemd wetsvoorstel zal wat Bonaire, Sint Eustatius en Saba betreft voldaan worden aan de afspraken in de onderlinge
            regeling over gegevensbescherming. De Wet politiegegevens zal niet van toepassing zijn op Bonaire, Sint Eustatius en
            Saba. Aanpassing van die wet in de Aanpassingswet openbare lichamen Bonaire, Sint Eustatius en Saba, zoals de Raad
            adviseert, is daarom niet aan de orde.</p>
          <div class="advies">
            <p>7. Overgangsrecht</p>
            <p>a. In artikel 53 van het wetsvoorstel wordt een voorziening getroffen die moet bevorderen dat uitvoeringsregelingen
              bij het wetsvoorstel in werking kunnen treden zodra de Nederlandse Antillen zijn opgeheven: elk van de landen dient
              er zorg voor te dragen dat deze uitvoeringsregelingen in werking treden tegelijk met de inwerkingtreding van de wijziging
              van het Statuut.
              <a class="nootnum" href="#v11.40">1</a> In de toelichting op het artikel wordt verwezen naar «artikel 63 van het Statuut». Daarmee wordt waarschijnlijk
              gedoeld op een nieuwe, aan het Statuut toe te voegen, overgangsbepaling.</p>
            <p>Het wetsvoorstel kan de landen Curaçao en Sint Maarten niet verplichten om erin te voorzien dat uitvoeringsregelingen
              tegelijk met de Statuutwijziging in werking treden, omdat die landen op dat moment pas ontstaan. Wel kunnen – zoals
              in de voorontwerp tot wijziging van het Statuut is voorzien – de bestuurscolleges van de eilandgebieden Curaçao en
              Sint Maarten worden verplicht regelingen voor bepaalde onderwerpen tot stand te brengen, die dan door het overgangsrecht
              bij de wijziging van het Statuut de status van regeling van de nieuwe landen zullen krijgen. Mocht die weg niet tijdig
              tot resultaat leiden, dan zou ook het land Nederlandse Antillen deze regelingen tot stand kunnen brengen, mits het
              overgangsrecht bij de Statuutwijziging erin voorziet dat deze regelingen de status van regeling van de nieuwe landen
              zullen krijgen.</p>
            <p>De Raad adviseert het wetsvoorstel aan te passen.</p>
          </div>
          <div class="advies">
            <p>b. Het wetsvoorstel voorziet in uitvoeringsregels over aanstelling, ontslag en bekwaamheidseisen van buitengewone agenten
              van politie, en over beperkingen waaraan rechtens van hun vrijheid beroofde personen kunnen worden onderworpen met
              het oog op hun insluiting.
              <a class="nootnum" href="#v11.41">2</a>
              De Raad meent dat ook deze regelingen tot stand moeten zijn gebracht op het moment dat de nieuwe staatkundige verhoudingen
              ingaan, omdat anders de politie niet goed zal kunnen functioneren. Hij adviseert de grondslagbepalingen voor deze
              regelingen op te nemen in artikel 53 van het wetsvoorstel.</p>
          </div>
          <p>7. Overgangsrecht </p>
          <p>a. De tekst van artikel 53 (in het gewijzigde voorstel artikel 54) behoeft geen aanpassing. Dit voorstel zal immers in
            werking treden op het moment dat het Statuut in werking treedt en de nieuwe landen ontstaan. De regeringen van de nieuwe
            landen moeten ervoor zorgen dat genoemde regelingen in werking treden. Dat ze dat uitsluitend kunnen doen omdat de
            bestuurscolleges van de eilandgebieden Curaçao en Sint Maarten de landsbesluiten hebben voorbereid op grond van een
            overgangsbepaling in het gewijzigde Statuut, doet daaraan niet af.</p>
          <p>Uitgangspunt is dat elk van de eilandgebieden zelf de nodige maatregelen treft ter voorbereiding van de landsstatus.
            De overgangsbepalingen in het Statuut voorzien niet in de mogelijkheid dat het Land Nederlandse Antillen dat voor de
            eilandgebieden doet. De landen van het Koninkrijk kunnen de eilandgebieden natuurlijk wel bijstaan.</p>
          <p>b. Conform het advies van de Raad zijn de grondslagbepalingen voor de uitvoeringsregels die getroffen moeten worden op
            grond van artikel 10, vierde lid, en artikel 14, tweede lid, toegevoegd aan artikel 53. Ook deze regelingen moeten
            tot stand zijn gebracht op de ingangsdatum van de staatkundige hervormingen.
          </p>
          <div class="advies">
            <p>8. Voor redactionele kanttekeningen verwijst de Raad naar de bij het advies behorende bijlage.</p>
          </div>
          <p>8. Redactionele kanttekeningen</p>
          <p>De redactionele kanttekeningen van de Raad zijn verwerkt met uitzondering van
          </p>
          <p>– het voorstel de omschrijving van ambtenaar van politie over te brengen naar artikel 1 (vierde gedachtestreepje). Vastgehouden
            is aan de systematiek van de Politiewet 1993 en de Politieregeling 1999.</p>
          <p>– het voorstel het tweede tot en met vierde lid van artikel 11 toe te voegen na artikel 38 (zesde gedachtestreepje).
            Artikel 11, tweede tot en met vierde lid, ziet niet op de samenwerking tussen de politie van de landen maar op militaire
            bijstand aan het korps van Bonaire, Sint Eustatius en Saba. Het ligt daarom niet voor de hand de bepalingen te verplaatsen
            naar het hoofdstuk over samenwerking tussen de politie van de landen zoals de Raad voorstelt.</p>
          <p>– het voorstel artikel 39, vijfde lid, op te nemen in het vierde lid (elfde gedachtestreepje). Aanleiding voor twee afzonderlijke
            bepalingen is dat hierdoor eenvoudig kan worden geregeld dat de uitwisseling van politiegegevens tussen het Europese
            deel van Nederland en Curaçao eerder of juist later in werking kan treden dan de uitwisseling tussen het Europese deel
            van Nederland en Sint Maarten. Hieraan bestaat behoefte omdat het ene land eerder dan het andere in een afdoende niveau
            van gegevensbescherming kan hebben voorzien.</p>
          <p>9. Overige aanpassingen</p>
          <p>Van de gelegenheid is gebruik gemaakt nog enkele andere aanpassingen in het voorstel aan te brengen. Het betreft de volgende
            aanpassingen.</p>
          <p>In artikel 10 is toegevoegd dat elk van de landen bij landsbesluit, houdende algemene maatregelen, respectievelijk bij
            algemene maatregel van bestuur de taken van buitengewone agenten van politie kan regelen. Dit voorkomt dat de landen
            hiertoe zelf een basis in een landsverordening of wet moeten opnemen of de regelingen op het niveau van een wet in
            formele zin moeten treffen.</p>
          <p>In artikel 32, eerste lid, is duidelijker aangegeven voor 15&nbsp;maart van welk jaar het ontwerpjaarplan moet worden
            opgesteld, namelijk 15&nbsp;maart van het aan het begrotingsjaar voorafgaande jaar.</p>
          <p>In artikel 57 is de inwerkingtreding gekoppeld aan inwerkingtreding van de artikelen I en II van de rijkswet tot wijziging
            van het Statuut. Dit houdt verband met de gefaseerde inwerkingtreding van het Statuut.</p>
          <p>Toegevoegd is een bepaling waarbij wordt geregeld door welke Nederlandse minister de voordracht voor een algemene maatregel
            van bestuur wordt gedaan waarbij een onderlinge regeling wordt vastgesteld. Dit is uitsluitend relevant voor Nederland.</p>
          <div
            class="advies">
            <p>De Raad van State van het Koninkrijk geeft U in overweging het voorstel van rijkswet te zenden aan de Tweede Kamer
              der Staten-Generaal en aan de Staten van de Nederlandse Antillen nadat met het vorenstaande rekening zal zijn gehouden.</p>
          </div>
          <div class="ondertekening">
            <a id="IDAEOAR" name="IDAEOAR"></a>
            <p>De Vice-President van de Raad van State van het Koninkrijk,</p>
            <p>H. D. Tjeenk Willink</p>
          </div>
          <a id="IDAHOAR" name="IDAHOAR"></a>
          <p>Ik moge U, mede namens de minister van Binnenlandse Zaken en Koninkrijksrelaties en de staatssecretaris van Binnenlandse
            Zaken en Koninkrijksrelaties, verzoeken het hierbij gevoegde gewijzigde voorstel van rijkswet en de gewijzigde memorie
            van toelichting aan de Tweede Kamer der Staten-Generaal, de Staten van de Nederlandse Antillen en de Staten van Aruba
            te zenden.</p>
          <div class="ondertekening">
            <a id="IDAJOAR" name="IDAJOAR"></a>
            <p>De minister van Justitie,</p>
            <p>E. M. H. Hirsch Ballin </p>
          </div>
          <p class="tussenkop">
            <strong class="tussenkop_vet">
              <a id="IDAMOAR" name="IDAMOAR"></a>Bijlage bij het advies van de Raad van State van het Koninkrijk betreffende no.&nbsp;W03.09.0057/II/K met redactionele
              kanttekeningen die de Raad in overweging geeft.</strong>
          </p>
          <p>– In het wetsvoorstel, met het oog op elektronische doorzoekbaarheid, consequent kiezen voor «directeur gemeenschappelijke
            voorziening politie» of «directeur van de gemeenschappelijke voorziening politie».</p>
          <p>– In artikel 1 het begrip «procureur-generaal» van een omschrijving voorzien door verwijzing naar de ontwerp-Rijkswet
            openbare ministeries van Curaçao, van Sint Maarten en van Bonaire, Sint Eustatius en Saba. Voorts het begrip «gemeenschappelijke
            voorziening» definiëren.</p>
          <p>– In artikel 1, eerste lid, onderdeel m, «taken ten dienste van justitie», gelet op artikel 1, eerste lid, onderdeel
            g, van de Politiewet 1993, wijzigen in: taken ten dienste van de justitie.</p>
          <p>– De omschrijving van «ambtenaar van politie» in artikel 3 overbrengen naar artikel 1.</p>
          <p>– In artikel 10, eerste en vierde lid, «buitengewoon» wijzigen in: buitengewone. Voorts «van hun functie ontheffen» wijzigen
            in: ontslaan, en in het vierde lid «de aanstelling als en de ontheffing van hun functie van» wijzigen in: de aanstelling
            en het ontslag als.
          </p>
          <p>– Artikel 11, tweede tot en met vierde lid, invoegen na artikel 38.
          </p>
          <p>– Artikel 13, eerste lid, afstemmen op artikel 7, eerste lid, van het voorstel voor een Politiewet 200. (Kamerstukken
            II 2006/07, 30&nbsp;880, nrs.&nbsp;1–3) (zie Kamerstukken II 2006/07, 30&nbsp;880, nr.&nbsp;3, blz. 47–49), en daarbij
            aandacht besteden aan punt 5a van het advies van de Raad (Kamerstukken II 2006/07, 30&nbsp;880, nr.&nbsp;4).</p>
          <p>– In artikel 14, tweede lid, gelet op artikel 9, vierde lid, van de Politiewet 1993, aan het slot toevoegen: «, voor
            zover dit noodzakelijk is in het belang van hun veiligheid of de veiligheid van anderen».</p>
          <p>– In artikel 32, eerste lid, gelet op aanwijzing 31 van de Aanwijzingen voor de regelgeving, «in overleg» wijzigen in:
            na overleg. Voorts in het vierde lid «kan» wijzigen in: kon, en het woord «dan» schrappen.
          </p>
          <p>– In artikel 38, eerste lid, «dan» vervangen door een komma. In het tweede lid «dan» schrappen.</p>
          <p>– Artikel 39, vijfde lid, opnemen in het vierde lid.</p>
          <p>– In artikel 44, tweede lid, «voorstel» wijzigen in: voordracht.
          </p>
          <p>– In artikel 47, tweede lid, «nodig» wijzigen in: nodige.</p>
          <p>– In artikel 48, derde lid, «korpschef» wijzigen in: korpschefs. Voorts het woord «dan» schrappen.</p>
          <p>– In artikel 49 verduidelijken dat het gaat om een algemene maatregel van rijksbestuur in de zin van artikel 38, tweede
            lid, van het Statuut. Vervolgens artikel 1, onderdeel a, en artikel 52, laatste volzin, schrappen.</p>
          <p>– In artikel 57, eerste lid, «Rijkswet wijziging Statuut» wijzigen in: Rijkswet tot wijziging van het Statuut. </p>
        </div>
        <div id="noten">
          <hr>
          <div class="noot" id="supernote-note-v10.36">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v10.36" name="v10.36"></a>2</span>
            </sup>
            <p>Voorgesteld artikel 39, eerste, vierde en vijfde lid.</p>
          </div>
          <div class="noot" id="supernote-note-v10.37">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v10.37" name="v10.37"></a>3</span>
            </sup>
            <p>Artikelen 4:1 tot en met 4:4 van het Besluit politiegegevens.</p>
          </div>
          <div class="noot" id="supernote-note-v10.38">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v10.38" name="v10.38"></a>4</span>
            </sup>
            <p>De memorie van toelichting op de Wet politiegegevens noemt als voorbeelden: woningbouwverenigingen en winkeliers (Kamerstukken
              II 2005/06, 30&nbsp;327, nr.&nbsp;3, blz. 77).</p>
          </div>
          <div class="noot" id="supernote-note-v10.39">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v10.39" name="v10.39"></a>5</span>
            </sup>
            <p>Toelichting op artikel 2.1 (wijziging Wet Veiligheidsonderzoeken) van de Aanpassingswet openbare lichamen Bonaire,
              Sint Eustatius en Saba.</p>
          </div>
          <div class="noot" id="supernote-note-v11.40">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v11.40" name="v11.40"></a>1</span>
            </sup>
            <p>Voorgesteld artikel 52.</p>
          </div>
          <div class="noot" id="supernote-note-v11.41">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v11.41" name="v11.41"></a>2</span>
            </sup>
            <p>Voorgestelde artikelen 10, vierde lid, en 14, tweede lid.</p>
          </div>
          <div class="noot" id="supernote-note-v1.1">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v1.1" name="v1.1"></a>1</span>
            </sup>
            <p>De oorspronkelijke tekst van het voorstel van rijkswet en van de memorie van toelichting zoals voorgelegd aan de Raad
              van State van het Koninkrijk is ter inzage gelegd bij het Centraal Informatiepunt Tweede Kamer.</p>
          </div>
          <div class="noot" id="supernote-note-v2.2">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v2.2" name="v2.2"></a>1</span>
            </sup>
            <p>Voorgesteld artikel 20.</p>
          </div>
          <div class="noot" id="supernote-note-v2.3">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v2.3" name="v2.3"></a>2</span>
            </sup>
            <p>Voorgesteld artikel 27.</p>
          </div>
          <div class="noot" id="supernote-note-v2.4">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v2.4" name="v2.4"></a>3</span>
            </sup>
            <p>Toelichting, 5 (De gemeenschappelijke voorziening politie), onder «Relatie met het recherchesamenwerkingsteam).</p>
          </div>
          <div class="noot" id="supernote-note-v2.5">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v2.5" name="v2.5"></a>4</span>
            </sup>
            <p>In artikel 20, derde lid, en artikel 27, onderdeel a, is sprake van «ambtenaren van politie van de gemeenschappelijke
              voorziening politie».</p>
          </div>
          <div class="noot" id="supernote-note-v2.6">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v2.6" name="v2.6"></a>5</span>
            </sup>
            <p>In de toelichting op artikel 29 staat: «Uit artikel 29 volgt dat de gemeenschappelijke voorziening politie niet zelf
              personeel in dienst heeft.»</p>
          </div>
          <div class="noot" id="supernote-note-v2.7">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v2.7" name="v2.7"></a>6</span>
            </sup>
            <p>Voorgesteld artikel 27, aanhef en onderdeel a.</p>
          </div>
          <div class="noot" id="supernote-note-v2.8">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v2.8" name="v2.8"></a>7</span>
            </sup>
            <p>Voorgesteld artikel 33.</p>
          </div>
          <div class="noot" id="supernote-note-v3.9">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v3.9" name="v3.9"></a>1</span>
            </sup>
            <p>De Rijkswet Kustwacht treedt op 1&nbsp;mei 2009 in werking (Stb. 2009, 114). Dan vervalt de Voorlopige regeling Kustwacht
              voor de Nederlandse Antillen en Aruba.</p>
          </div>
          <div class="noot" id="supernote-note-v3.10">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v3.10" name="v3.10"></a>2</span>
            </sup>
            <p>Voorgesteld artikel 10, derde lid.</p>
          </div>
          <div class="noot" id="supernote-note-v4.11">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v4.11" name="v4.11"></a>1</span>
            </sup>
            <p>Voorgesteld artikel 11, tweede en derde lid.</p>
          </div>
          <div class="noot" id="supernote-note-v4.12">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v4.12" name="v4.12"></a>2</span>
            </sup>
            <p>In de toelichting op de artikelen 4 en 5 wordt bijstand van «andere onderdelen van de krijgsmacht» apart genoemd naast
              het optreden van de Kustwacht.</p>
          </div>
          <div class="noot" id="supernote-note-v4.13">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v4.13" name="v4.13"></a>3</span>
            </sup>
            <p>Voorgesteld artikel 9.</p>
          </div>
          <div class="noot" id="supernote-note-v4.14">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v4.14" name="v4.14"></a>4</span>
            </sup>
            <p>Zaak W03.08.0566/K. Het betreft artikel 36 van dat voorstel. Over dat voorstel heeft de Raad van State van het Koninkrijk
              op 11&nbsp;maart 2009 advies uitgebracht.</p>
          </div>
          <div class="noot" id="supernote-note-v5.15">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v5.15" name="v5.15"></a>1</span>
            </sup>
            <p>Voorgestelde artikelen 14, eerste lid, 39, tweede lid, 41, eerste lid, 42, eerste lid, en 46, eerste lid. Wellicht
              is ook artikel 50, derde lid, aldus bedoeld.</p>
          </div>
          <div class="noot" id="supernote-note-v5.16">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v5.16" name="v5.16"></a>2</span>
            </sup>
            <p>Toelichting, 4 (Samenwerking tussen ...), onder «Onderlinge regelingen».</p>
          </div>
          <div class="noot" id="supernote-note-v5.17">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v5.17" name="v5.17"></a>3</span>
            </sup>
            <p>Het kan gaan om het recht op vrijheid van beweging, de onaantastbaarheid van het lichaam en eventueel het recht op
              leven.</p>
          </div>
          <div class="noot" id="supernote-note-v5.18">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v5.18" name="v5.18"></a>4</span>
            </sup>
            <p>Voorgesteld artikel 28, tweede lid.</p>
          </div>
          <div class="noot" id="supernote-note-v5.19">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v5.19" name="v5.19"></a>5</span>
            </sup>
            <p>Aanwijzing 26, eerste lid, van de Aanwijzingen voor de regelgeving.</p>
          </div>
          <div class="noot" id="supernote-note-v5.20">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v5.20" name="v5.20"></a>6</span>
            </sup>
            <p>Hoofdstuk 9 van de Algemene wet bestuursrecht.</p>
          </div>
          <div class="noot" id="supernote-note-v8.21">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v8.21" name="v8.21"></a>1</span>
            </sup>
            <p>Voorgestelde artikelen 16 en 17.</p>
          </div>
          <div class="noot" id="supernote-note-v8.22">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v8.22" name="v8.22"></a>2</span>
            </sup>
            <p>Voorgesteld artikel 6.</p>
          </div>
          <div class="noot" id="supernote-note-v8.23">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v8.23" name="v8.23"></a>3</span>
            </sup>
            <p>Voorgesteld artikel 44.</p>
          </div>
          <div class="noot" id="supernote-note-v8.24">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v8.24" name="v8.24"></a>4</span>
            </sup>
            <p>Voorgesteld artikel 47.</p>
          </div>
          <div class="noot" id="supernote-note-v8.25">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v8.25" name="v8.25"></a>5</span>
            </sup>
            <p>Artikelen 30 en 31 van de Politiewet 1993.</p>
          </div>
          <div class="noot" id="supernote-note-v8.26">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v8.26" name="v8.26"></a>6</span>
            </sup>
            <p>Op de positie van de Rijksvertegenwoordiger is de Raad ingegaan in zijn advies van 5&nbsp;maart 2009 over het voorstel
              van wet openbare lichamen Bonaire, Sint Eustatius en Saba (zaaknummer W04.08.0524/B).</p>
          </div>
          <div class="noot" id="supernote-note-v8.27">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v8.27" name="v8.27"></a>7</span>
            </sup>
            <p>Artikelen 9, 18 en 19 van de Politieregeling 1999.</p>
          </div>
          <div class="noot" id="supernote-note-v9.28">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v9.28" name="v9.28"></a>1</span>
            </sup>
            <p>Voorgestelde artikelen 47 en 31.</p>
          </div>
          <div class="noot" id="supernote-note-v9.29">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v9.29" name="v9.29"></a>2</span>
            </sup>
            <p>Voorgesteld artikel 16.</p>
          </div>
          <div class="noot" id="supernote-note-v9.30">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v9.30" name="v9.30"></a>3</span>
            </sup>
            <p>Artikel 13, eerste lid, van het voorstel van Rijkswet openbare ministeries van Curaçao, van Sint Maarten en van Bonaire,
              Sint Eustatius en Saba, zoals bij de Raad van State aanhangig gemaakt (zaak no. W03.08.0566).</p>
          </div>
          <div class="noot" id="supernote-note-v9.31">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v9.31" name="v9.31"></a>4</span>
            </sup>
            <p>Voorgestelde artikelen 47 en 31.</p>
          </div>
          <div class="noot" id="supernote-note-v9.32">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v9.32" name="v9.32"></a>5</span>
            </sup>
            <p>Artikel 24 van de Politiewet 1993.</p>
          </div>
          <div class="noot" id="supernote-note-v9.33">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v9.33" name="v9.33"></a>6</span>
            </sup>
            <p>Artikelen 12 en 13 Politiewet 193.</p>
          </div>
          <div class="noot" id="supernote-note-v9.34">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v9.34" name="v9.34"></a>7</span>
            </sup>
            <p>Voorgesteld artikel 48, eerste en tweede lid.</p>
          </div>
          <div class="noot" id="supernote-note-v10.35">
            <h5>
              <a class="note-close" href="#">X</a>Noot</h5>
            <sup>
              <span class="nootnum">
                <a id="v10.35" name="v10.35"></a>1</span>
            </sup>
            <p>De Raad heeft over dat wetsvoorstel op 5&nbsp;maart 2009 advies uitgebracht (zaaknummer W04.08.0521).</p>
          </div>
        </div>
      </div>
            </article>

  </div>
</div>

