<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="dossiertitel">
          <a id="d16e42" name="d16e42"></a>
          <span class="dossiernummer">
            33 965
          </span> Wijziging van de Spoorwegwet en enige andere wetten in verband met de implementatie van richtlijn 2012/34/EU
          van het Europees Parlement en de Raad van 21&nbsp;november 2012 tot instelling van één Europese spoorwegruimte (PbEU
          2012, L 343/32)
        </h1>
        <div class="stuk">
          <h1 class="stuktitel">
            <a id="d16e47" name="d16e47"></a>
            <span class="stuknummer">Nr. 2 TWEEDE HERDRUK
              <a class="nootnum supernote-click-ID-355392-d37e57" href="#ID-355392-d37e57">1</a>

            </span> VOORSTEL VAN WET
          </h1>
          <div class="voorstel-wet">
            <div class="aanhef">
              <p class="wij">Wij Willem-Alexander, bij de gratie Gods, Koning der Nederlanden, Prins van Oranje-Nassau, enz. enz. enz.
              </p>
              <p class="considerans.al">Allen, die deze zullen zien of horen lezen, saluut! doen te weten:</p>
              <p class="considerans.al">Alzo Wij in overweging genomen hebben dat het wenselijk is de Spoorwegwet en enige andere wetten te wijzigen ter
                implementatie van richtlijn 2012/34/EU van het Europees Parlement en de Raad van 21&nbsp;november 2012 tot instelling
                van één Europese spoorwegruimte (PbEU 2012, L 343/32);
              </p>
              <p class="afkondiging">Zo is het, dat Wij, de Afdeling advisering van de Raad van State gehoord, en met gemeen overleg der Staten-Generaal,
                hebben goedgevonden en verstaan, gelijk Wij goedvinden en verstaan bij deze:
              </p>
            </div>
            <div class="wettekst">
              <h2 class="wijzig-artikel_kop">
                <a id="d16e66" name="d16e66"></a>ARTIKEL I
              </h2>
              <p class="wat">De Spoorwegwet wordt als volgt gewijzigd:</p>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">A</span>
                </p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> Artikel 1, eerste lid, wordt als volgt gewijzigd:
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">a.</span> In de omschrijving van het begrip
                    <em class="cur">kaderovereenkomst</em> wordt «als bedoeld in artikel 17 van richtlijn 2001/14/EG» vervangen door: als bedoeld
                    in artikel 42 van richtlijn 2012/34/EU.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">b.</span> In de omschrijving van het begrip
                    <em class="cur">netverklaring</em> wordt «als bedoeld in richtlijn 2001/14/EG» vervangen door: als bedoeld in artikel 27 van
                    richtlijn 2012/34/EU.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">c.</span> De omschrijving van het begrip
                    <em class="cur">spoorweginfrastructuur</em> komt te luiden: spoorwegen en de daarvan deel uitmakende elementen van spoorweginfrastructuur
                    als bedoeld in bijlage I bij richtlijn 2012/34/EU;
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">d.</span> In de omschrijving van het begrip
                    <em class="cur">spoorwegonderneming</em> wordt «als bedoeld in richtlijn 95/18/EG» vervangen door: als bedoeld in artikel 3,
                    onderdeel 1, van richtlijn 2012/34/EU;
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">e.</span> In de alfabetische volgorde worden de volgende begrippen en bijbehorende omschrijvingen ingevoegd:
                  </p>
                  <div class="artikeltekst">
                    <dl class="inline whitespace-large">


                      <dt>dienstvoorziening:</dt>

                      <dd>
                        <p>dienstvoorziening als bedoeld in artikel 3, onderdeel 11, van richtlijn 2012/34/EU;</p>
                      </dd>



                      <dt>exploitant van een dienstvoorziening:</dt>

                      <dd>
                        <p>exploitant van een dienstvoorziening als bedoeld in artikel 3, onderdeel 12, van richtlijn 2012/34/EU;
                        </p>
                      </dd>



                      <dt>internationale passagiersvervoerdienst:</dt>

                      <dd>
                        <p>internationale passagiersvervoerdienst als bedoeld in artikel 3, onderdeel 5, van richtlijn 2012/34/EU;
                        </p>
                      </dd>



                      <dt>minimumtoegangspakket:</dt>

                      <dd>
                        <p>het minimumtoegangspakket, bedoeld in bijlage II, punt 1, bij richtlijn 2012/34/EU;.</p>
                      </dd>


                    </dl>
                  </div>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">f.</span> Het begrip
                    <em class="cur">gebruiksvergoeding</em> en de bijbehorende omschrijving vervallen.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> Artikel 1, tweede lid, wordt als volgt gewijzigd:
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">a.</span> De begrippen
                    <em class="cur">richtlijn 91/40/EEG, richtlijn 95/18/EG</em> en
                    <em class="cur">richtlijn 2001/14/EG</em> en de daarbij horende omschrijvingen vervallen.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">b.</span> De punt aan het eind van de omschrijving van het begrip
                    <em class="cur">richtlijn 2008/57/EG</em> wordt vervangen door een puntkomma.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">c.</span> In de chronologische volgorde wordt toegevoegd:
                  </p>
                  <div class="artikeltekst">
                    <dl class="inline whitespace-large">


                      <dt>richtlijn 2012/34/EU:</dt>

                      <dd>
                        <p>richtlijn 2012/34/EU van het Europees Parlement en de Raad van 21&nbsp;november 2012 tot instelling van
                          één Europese spoorwegruimte (PbEU 2012, L 343/32).
                        </p>
                      </dd>


                    </dl>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">B</span>
                </p>
                <p class="wat">Artikel 16 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> In het eerste lid, onderdeel b, wordt «een eerlijke, niet-discrimine
                    <!--?xpp afbm?-->rende verdeling» vervangen door: een eerlijke, niet-discriminerende en transparante verdeling.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> Het derde en vierde lid komen te luiden:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Een concessie voldoet aan de eisen, opgenomen in artikel 30, tweede lid, van richtlijn 2012/34/EU.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> Een concessie wordt niet verleend aan een spoorwegonderneming dan met inachtneming van artikel
                          7, eerste en tweede lid, van richtlijn 2012/34/EU.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">C</span>
                </p>
                <p class="wat">Aan artikel 16b wordt een lid toegevoegd, luidende:</p>
                <div class="wijziging">
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Een beheerder legt een activaregister aan dat voldoet aan artikel 30, zevende lid, van richtlijn
                          2012/34/EU en houdt dit register bij.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">D</span>
                </p>
                <p class="wat">Artikel 17, eerste lid, onderdeel d, komt te luiden:</p>
                <div class="wijziging">
                  <div class="artikeltekst">
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">d. </span>voldaan wordt aan richtlijn 2012/34/EU;.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">E</span>
                </p>
                <p class="wat">Artikel 17a, eerste lid, komt te luiden:</p>
                <div class="wijziging">
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> De beheerder stelt een beheerplan op dat voldoet aan artikel 8, derde lid, van richtlijn 2012/34/EU
                          en aan de voorschriften vastgelegd in de aan hem verleende concessie.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">F</span>
                </p>
                <p class="wat">Artikel 18a wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> Voor de tekst wordt de aanduiding «1.» geplaatst.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> Er wordt een lid toegevoegd, luidende:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> Indien een besluit tot verlening of wijziging van een concessie met inachtneming van het eerste
                          lid is genomen, wordt dit besluit binnen vier weken na de dag van bekendmaking van het voorgenomen besluit,
                          bedoeld in het eerste lid, gepubliceerd in de Staatscourant.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">G</span>
                </p>
                <p class="wat">Artikel 27 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> In het eerste lid wordt «hoofdspoorwegen» vervangen door: hoofdspoorweginfrastructuur voor zover
                    dit het gebruik van spoorvoertuigen betreft en met het oog op het minimumtoegangspakket.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> In het tweede lid, aanhef, en vierde lid, wordt «hoofdspoorwegen» vervangen door: hoofdspoorweginfrastructuur
                    als bedoeld in het eerste lid.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">3.</span> In het tweede lid, onderdeel e, wordt «de hoofdspoorweg» vervangen door: de hoofdspoorweginfrastructuur,
                    bedoeld in het eerste lid,.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">4.</span> In het derde lid wordt «de artikelen 1 en 2 van richtlijn 95/18/EG» vervangen door: artikel 2, tweede
                    lid, van richtlijn 2012/34/EU.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">5.</span> In het vierde lid wordt «bedoeld in artikel 28 van richtlijn 2001/14/EG» vervangen door: bedoeld
                    in artikel 53 van richtlijn 2012/34/EU.
                  </p>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">H</span>
                </p>
                <p class="wat">In artikel 28, eerste lid, wordt «spoorwegonderneming» vervangen door: onderneming.</p>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">I</span>
                </p>
                <p class="wat">In artikel 30, eerste lid, wordt «artikel 2, onderdeel b, van richtlijn 95/18/EG» vervangen door: artikel 3, onderdeel
                  14, van richtlijn 2012/34/EU.
                </p>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">J</span>
                </p>
                <p class="wat">Artikel 46 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat">In het derde en vierde lid wordt «artikel 3 van richtlijn 91/440/EG» vervangen door: artikel 3, onderdeel 2,
                    van richtlijn 2012/34/EU.
                  </p>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">K</span>
                </p>
                <p class="wat">In hoofdstuk 4, paragraaf 1, wordt voor artikel 57 een artikel ingevoegd, luidende:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e357" name="d16e357"></a>Artikel 56
                    </h3>
                    <p>De beheerder werkt samen met buitenlandse infrastructuurbeheerders met het oog op efficiënte verdeling en exploitatie
                      van treindiensten die de landsgrenzen overschrijden, met inachtneming van de artikelen 40 en 57, zesde lid,
                      van richtlijn 2012/34/EU.
                    </p>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">L</span>
                </p>
                <p class="wat">Artikel 57 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> In de aanhef van het tweede lid wordt «artikel 2, onderdeel b, van richtlijn 2001/14/EG» vervangen
                    door: artikel 3, onderdeel 19, van richtlijn 2012/34/EU.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> Het derde lid, komt te luiden:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Het verhandelen en het overdragen van capaciteit door een gerechtigde is verboden, met uitzondering
                          van het overdragen in de gevallen, bedoeld in artikel 38, eerste lid, laatste alinea, van richtlijn 2012/34/EU.
                          Overtreding van het hiervoor gestelde verbod leidt tot uitsluiting van verdere toewijzing van capaciteit.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">3.</span> Het vierde lid komt te luiden:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> De spoorwegonderneming die voornemens is capaciteit aan te vragen met het oog op het exploiteren
                          van een internationale passagiersvervoerdienst die niet deel uitmaakt van een concessie als bedoeld in
                          artikel 20, eerste of derde lid, van de Wet personenvervoer 2000, maakt daarvan uiterlijk tien maanden
                          voor aanvang van de geldigheidsperiode van de dienstregeling melding aan de Autoriteit Consument en Markt
                          en de beheerder.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">4.</span> In het vijfde lid wordt «het grensoverschrijdend vervoer» vervangen door: een internationale passagiersvervoerdienst.
                  </p>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">M</span>
                </p>
                <p class="wat">Artikel 58 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> Het tweede, derde en vierde lid komen te luiden:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> De netverklaring bevat informatie betreffende de aard en toegang tot en het gebruik van de
                          hoofdspoorweginfrastructuur en bevat in ieder geval:
                        </p>
                        <ul class="expliciet whitespace-small">
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">a. </span>de informatie en gegevens genoemd in bijlage IV van richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">b. </span>met inachtneming van artikel 41, tweede lid, van richtlijn 2012/34/EU, de voorwaarden om
                              er voor te zorgen dat aan de gerechtvaardigde verwachtingen van de beheerder ten aanzien van toekomstige
                              inkomsten en het toekomstig gebruik van de hoofdspoorweginfrastructuur wordt voldaan;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">c. </span>de verwijzing naar de website waar de bij of krachtens artikel 62, vierde lid, vastgestelde
                              voorschriften zijn gepubliceerd;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">d. </span>in voorkomend geval: een verwijzing naar de websites, bedoeld in de artikelen 27, tweede
                              lid, en 31, tiende lid, van richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">e. </span>in voorkomend geval: de lijst van marktsegmenten, bedoeld in artikel 32, eerste lid, van
                              richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">f. </span>de informatie en gegevens betreffende de in artikel 32, vijfde lid, van richtlijn 2012/34/EU
                              aan een heffingsregeling gestelde vereisten;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">g. </span>een zakelijke weergave van de inhoud van de geldende kaderovereenkomsten;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">h. </span>informatie over voor bepaalde soorten van gebruik voorbehouden capaciteit;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">i. </span>de wijze waarop rekening wordt gehouden met vroegere benuttingsgraden van treinpaden als
                              bedoeld in artikel 52, eerste en tweede lid, van richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">j. </span>een prognose omtrent de ontwikkeling van de capaciteit;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">k. </span>de criteria voor het vaststellen van de nalatigheid van gebruik van toegewezen capaciteit,
                              bedoeld in artikel 36, van richtlijn 2012/34/EU.
                            </p>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Met inachtneming van artikel 27, eerste en vierde lid, van richtlijn 2012/34/EU stelt de beheerder
                          de netverklaring algemeen beschikbaar, zendt haar aan de betrokken spoorwegondernemingen en de Autoriteit
                          Consument en Markt en doet mededeling in de Staatscourant van de vaststelling van de netverklaring.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> De beheerder brengt in de netverklaring zo nodig wijzigingen aan, met inachtneming van artikel
                          32, zesde lid, van richtlijn 2012/34/EU. Het derde lid is van overeenkomstige toepassing.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> Er worden twee leden toegevoegd, luidende:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">5.</span> Een gerechtigde als bedoeld in het eerste lid kan bij de Autoriteit Consument en Markt een
                          klacht als bedoeld in artikel 71 indienen, voor zover deze klacht ziet op de in de netverklaring bekend
                          gemaakte gegevens, bedoeld in onderdelen 2 en 3 van bijlage IV van richtlijn 2012/34/EU, tot uiterlijk
                          zes weken na de datum van de Staatscourant waarin mededeling is gedaan van de vaststelling van de netverklaring
                          of van een wijziging van de hiervoor bedoelde onderdelen van de netverklaring.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">6.</span> Bij ministeriële regeling kunnen met betrekking tot de voorwaarden, bedoeld in het tweede lid,
                          onderdeel b, nadere regels worden gesteld die onder andere noodzakelijk zijn voor de goede uitvoering
                          van uitvoeringshandelingen op grond van artikel 41, derde lid, van richtlijn 2012/34/EU.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">N</span>
                </p>
                <p class="wat">Artikel 59 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> Het eerste lid wordt als volgt gewijzigd:
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">a.</span> In de aanhef wordt «overeenkomst over het gebruik van capaciteit» vervangen door: toegangsovereenkomst
                    over het gebruik van hoofdspoorweginfrastructuur voldoet aan het gestelde in artikel 28 van richtlijn 2012/34/EU
                    en.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">b.</span> Het eerste lid, onderdeel b, komt te luiden:
                  </p>
                  <div class="artikeltekst">
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">b. </span>de vergoeding, bedoeld in artikel 62, eerste lid.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> In het tweede lid wordt «gebruiksvergoeding van nihil overeengekomen» vervangen door: een vergoeding
                    van nihil overeengekomen als vergoeding als bedoeld in artikel 62, eerste, tweede of derde lid.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">3.</span> Het tweede en derde lid worden vernummerd tot derde en vierde lid.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">4.</span> Er wordt een lid ingevoegd, luidende:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> In de toegangsovereenkomst wordt capaciteit in de vorm van treinpaden als bedoeld in artikel
                          3, onderdeel 27, van richtlijn 2012/34/EU verdeeld voor maximaal de duur van een dienstregelingsperiode.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">O</span>
                </p>
                <p class="wat">Artikel 60 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> In het eerste lid wordt «artikel 10, vijfde lid, van richtlijn 91/440/EEG en artikel 17 van richtlijn
                    2001/14/EG» vervangen door: artikel 42 van richtlijn 2012/34/EU.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> Er wordt een lid toegevoegd, luidende:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> Bij of krachtens algemene maatregel van bestuur kunnen nadere regels worden gesteld met betrekking
                          tot kaderovereenkomsten.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">P</span>
                </p>
                <p class="wat">In artikel 61, tweede lid, wordt «artikel 22, derde tot en met vijfde lid, van richtlijn 2001/14/EG» vervangen
                  door: artikel 47, derde tot en met vijfde lid, van richtlijn 2012/34/EU.
                </p>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">Q</span>
                </p>
                <p class="wat">Het opschrift van paragraaf 6 van hoofdstuk 4 komt te luiden:</p>
                <div class="wijziging">
                  <div class="wijzig-divisie">
                    <h3 class="wijzig-divisie_kop no-toc">
                      <a id="d16e596" name="d16e596"></a>§ 6. Vergoeding voor het aan spoorwegondernemingen aangeboden minimumtoegangspakket alsmede aanvullende
                      heffingen, bijtellingen, kortingen en aftrek
                    </h3>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">R</span>
                </p>
                <p class="wat">Artikel 62 komt te luiden:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e607" name="d16e607"></a>Artikel 62
                    </h3>
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> Een spoorwegonderneming die een toegangsovereenkomst sluit, is voor het gebruik van hoofdspoorweginfrastructuur
                          aan de beheerder ten minste een vergoeding voor het gebruik van hoofdspoorweginfrastructuur met het oog
                          op het minimumtoegangspakket verschuldigd. Deze vergoeding is de heffing, bedoeld in artikel 31, derde
                          lid, van richtlijn 2012/34/EU.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> De vergoeding, bedoeld in het eerste lid, kan de heffingen, bedoeld in het zesde lid, onderdelen
                          a en b, omvatten.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Onverminderd het tweede lid, kan de vergoeding, bedoeld in het eerste lid, worden vermeerderd
                          met de heffingen en bijtellingen, bedoeld in het zesde lid, onderdelen c, d, f en g, of verminderd met
                          de korting, bedoeld in het zesde lid, onderdeel e, en de aftrek, bedoeld in het zesde lid, onderdeel
                          f.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> Bij of krachtens algemene maatregel van bestuur worden regels gesteld met betrekking tot het
                          kader, bedoeld in artikel 29, eerste lid, van richtlijn 2012/34/EU.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">5.</span> De in het vierde lid bedoelde regels omvatten regels met betrekking tot:
                        </p>
                        <ul class="expliciet whitespace-small">
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">a. </span>de aan het aan spoorwegondernemingen aangeboden minimumtoegangspakket, bedoeld in het eerste
                              lid, toe te rekenen kosten en de methode voor toerekening van die kosten, bedoeld in artikel 30,
                              achtste lid, van richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">b. </span>de toepassing van de modaliteiten, bedoeld in artikel 31, derde lid, van richtlijn 2012/34/EU
                              en de wijze van invoering ervan.
                            </p>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">6.</span> De in het vierde lid bedoelde regels kunnen mede regels omvatten met betrekking tot:
                        </p>
                        <ul class="expliciet whitespace-small">
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">a. </span>een heffing voor het capaciteitsgebrek van gespecificeerde hoofdspoorweginfrastructuur
                              tijdens periodes van overbelasting als bedoeld in artikel 31, vierde lid, van richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">b. </span>een heffing in verband met de kosten van milieueffecten van de treinexploitatie als bedoeld
                              in artikel 31, vijfde lid, van richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">c. </span>een extra heffing als bedoeld in artikel 32, eerste lid, van richtlijn 2012/34/EU, om zo
                              mogelijk volledige dekking van de door de beheerder gemaakte kosten te verkrijgen;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">d. </span>een heffing, met betrekking tot bij of krachtens algemene maatregel van bestuur aangewezen
                              hoofdspoorweginfrastructuur, die mede strekt ter dekking van door een ander dan de beheerder gemaakte
                              kosten van investeringsprojecten als bedoeld in artikel 32, derde lid, van richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">e. </span>een korting als bedoeld in artikel 33 van richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">f. </span>een bijtelling dan wel aftrek in verband met verstoringen van de hoofdspoorweginfrastructuur
                              of met het oog op verbetering van de prestaties van de hoofdspoorweginfrastructuur als bedoeld in
                              artikel 35, eerste lid, van richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">g. </span>een heffing voor overeengekomen, maar niet benutte capaciteit als bedoeld in artikel 36
                              van richtlijn 2012/34/EU.
                            </p>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">7.</span> De in het vierde lid bedoelde regels kunnen tevens regels bevatten over de maatstaven en nadere
                          regels over de hoogte van de in het eerste lid bedoelde vergoeding.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">8.</span> De vergoeding en de heffingen, bedoeld in het eerste en zesde lid, onderdelen a en b, mogen
                          overeenkomstig artikel 31, zesde lid, van richtlijn 2012/34/EU evenredig worden verdeeld over een voldoende
                          aantal treindiensten en tijden.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">9.</span> De vergoedingen en heffingen, bedoeld in dit artikel worden door de spoorwegondernemingen aan
                          de beheerder betaald.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">10.</span> De beheerder werkt samen met buitenlandse infrastructuurbeheerders met het oog op de invoering
                          van efficiënte heffingsregelingen, het coördineren van heffingen en het heffen van rechten voor de exploitatie
                          van treindiensten die de landsgrenzen overschrijden, met inachtneming van artikel 37 van richtlijn 2012/34/EU.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">11.</span> De voordracht van een krachtens het vierde lid vast te stellen algemene maatregel van bestuur
                          wordt niet gedaan dan vier weken nadat het ontwerp aan beide kamers der Staten-Generaal is overgelegd.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">S</span>
                </p>
                <p class="wat">Artikel 63 komt te luiden:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e721" name="d16e721"></a>Artikel 63
                    </h3>
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> De beheerder stelt een methode vast voor de toerekening van de kosten aan het aan spoorwegondernemingen
                          aangeboden minimumtoegangspakket als bedoeld in artikel 30, achtste lid, van richtlijn 2012/34/EU, zulks
                          met inachtneming van het krachtens artikel 62, vijfde lid, bepaalde.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> De methode van toerekening, bedoeld in het eerste lid, behoeft de goedkeuring van de Autoriteit
                          Consument en Markt. Op de voorbereiding van een goedkeuringsbesluit is afdeling 3.4 van de Algemene wet
                          bestuursrecht van toepassing. Onverminderd artikel 3:15 van de Algemene wet bestuursrecht, kunnen gerechtigden
                          hun zienswijze naar voren brengen over het voorgenomen goedkeuringsbesluit.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Bij of krachtens algemene maatregel van bestuur kunnen regels worden gesteld met betrekking
                          tot de goedkeuring, bedoeld in het tweede lid, en de daartoe te volgen procedure.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> De beheerder toont desgevraagd aan een spoorwegonderneming als bedoeld in artikel 62, eerste
                          lid, aan dat de overeenkomstig artikel 62 vastgestelde vergoeding en heffingen die aan die spoorwegonderneming
                          in rekening zijn gebracht, voldoen aan de bij of krachtens artikel 62, eerste tot en met zevende lid,
                          gestelde regels en aan de methode van toerekening, bedoeld in het eerste lid.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">5.</span> De beheerder wendt de door hem ontvangen vergoedingen, bedoeld in artikel 62, eerste, tweede
                          en derde lid, aan om zijn onderneming van middelen te voorzien.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">T</span>
                </p>
                <p class="wat">Het opschrift van hoofdstuk 5 komt te luiden:</p>
                <div class="wijziging">
                  <div class="wijzig-divisie">
                    <h3 class="wijzig-divisie_kop no-toc">
                      <a id="d16e758" name="d16e758"></a>Toegang tot dienstvoorzieningen en levering van diensten
                    </h3>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">U</span>
                </p>
                <p class="wat">Artikel 67 komt te luiden:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e770" name="d16e770"></a>Artikel 67
                    </h3>
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> Bij of krachtens algemene maatregel van bestuur wordt geregeld in welke gevallen, onder welke
                          voorwaarden en volgens welke procedures een spoorwegonderneming recht heeft op:
                        </p>
                        <ul class="expliciet whitespace-small">
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">a. </span>toegang tot bij of krachtens algemene maatregel van bestuur omschreven spoorweginfrastructuur;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">b. </span>toegang tot bij of krachtens algemene maatregel van bestuur omschreven dienstvoorzieningen
                              of een deel van dienstvoorzieningen;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">c. </span>verlening van bij of krachtens algemene maatregel van bestuur omschreven diensten in dienstvoorzieningen
                              of diensten.
                            </p>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> Bij of krachtens algemene maatregel van bestuur wordt geregeld in welke gevallen, onder welke
                          voorwaarden en volgens welke procedures een exploitant van een dienstvoorziening verplicht is tot het
                          verlenen van toegang als bedoeld in het eerste lid, onderdelen a en b, en tot het verlenen van diensten
                          als bedoeld in het eerste lid, onderdeel c.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Bij de regels, bedoeld in het eerste en tweede lid, kan onderscheid worden gemaakt naar soort
                          exploitant van een dienstvoorziening, soort spoorweginfrastructuur, soort dienstvoorziening en soort
                          dienst. Die regels kunnen in ieder geval inhouden dat een exploitant van een dienstvoorziening als bedoeld
                          in artikel 13, derde lid, van richtlijn 2012/34/EU een gescheiden boekhouding of een afzonderlijke administratie
                          binnen de boekhouding voert en deze ter inzage legt.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> Wanneer een dienstvoorziening, voor zover dit een dienstvoorziening betreft als bedoeld in
                          bijlage II, punt 2, van richtlijn 2012/34/EU, gedurende ten minste twee opeenvolgende jaren niet is gebruikt
                          en een spoorwegonderneming of andere gegadigde aan de exploitant van die dienstvoorziening zijn belangstelling
                          heeft laten blijken voor toegang tot die dienstvoorziening, op basis van aangetoonde behoeften, biedt
                          de eigenaar of de bevoegde zakelijk gerechtigde de exploitatie van die dienstvoorziening geheel of gedeeltelijk
                          aan voor huur of lease als dienstvoorziening, tenzij de exploitant van die dienstvoorziening aantoont
                          dat de dienstvoorziening vanwege een lopend reconversieproces niet door een spoorwegonderneming kan worden
                          gebruikt.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">5.</span> Voor zover dit noodzakelijk is voor de aanbieding voor huur of lease, bedoeld in het vierde
                          lid, verleent de exploitant of verlenen de exploitanten van die dienstvoorziening medewerking aan die
                          huur of lease.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">6.</span> Bij of krachtens algemene maatregel van bestuur kunnen nadere regels worden gesteld ter uitvoering
                          van het vierde en vijfde lid.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">V</span>
                </p>
                <p class="wat">Artikel 68 komt te luiden:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e828" name="d16e828"></a>Artikel 68
                    </h3>
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> Bij of krachtens algemene maatregel van bestuur worden regels gesteld over de voorwaarden en
                          methoden voor berekening van vergoedingen die exploitanten van dienstvoorzieningen aan spoorwegondernemingen
                          in rekening brengen voor het verlenen van toegang tot spoorweginfrastructuur en dienstvoorzieningen als
                          bedoeld in artikel 67, eerste lid, onderdelen a en b, alsmede voor het verlenen van diensten in dienstvoorzieningen
                          of diensten als bedoeld in artikel 67, eerste lid, onderdeel c.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> Bij de regels, bedoeld in het eerste lid, kan onderscheid worden gemaakt naar soort exploitant
                          van een dienstvoorziening, soort spoorweginfrastructuur, soort dienstvoorziening en soort dienst. Die
                          regels kunnen in ieder geval inhouden dat een exploitant van een dienstvoorziening een gescheiden boekhouding
                          of een afzonderlijke administratie binnen de boekhouding voert en deze ter inzage legt.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Exploitanten van dienstvoorzieningen tonen desgevraagd aan spoorwegondernemingen aan dat vergoedingen
                          als bedoeld in het eerste lid, die aan die spoorwegondernemingen in rekening zijn gebracht, voldoen aan
                          de bij algemene maatregel van bestuur vastgestelde voorwaarden en methoden van berekening van vergoedingen
                          als bedoeld in het eerste lid en aan de netverklaring.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> Exploitanten van dienstvoorzieningen wenden de vergoedingen, bedoeld in het eerste lid, aan
                          om hun onderneming van middelen te voorzien.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">W</span>
                </p>
                <p class="wat">Na artikel 68 wordt een artikel ingevoegd, luidende:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e860" name="d16e860"></a>Artikel 68a
                    </h3>
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> Exploitanten van dienstvoorzieningen verstrekken aan de beheerder informatie over de voorwaarden
                          voor toegang en voor verlening van diensten, bedoeld in artikel 67, en informatie over de vergoedingen,
                          bedoeld in artikel 68, of verwijzen de beheerder naar een website waarop deze informatie kosteloos in
                          elektronische vorm wordt aangeboden.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> Bij of krachtens algemene maatregel van bestuur kunnen nadere regels worden gesteld ter uitvoering
                          van het eerste lid.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">X</span>
                </p>
                <p class="wat">Artikel 70 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> In het eerste lid wordt «artikel 10, zevende lid, van richtlijn 91/440/EEG en de artikelen 30 en
                    31 van richtlijn 2001/14/EG» vervangen door: artikel 55 van richtlijn 2012/34/EU.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> In het tweede lid, onderdeel a, wordt «57 tot en met 63, 67, 68» vervangen door: 56, 57 tot en met
                    63, eerste tot en met vierde lid, 67, 68, eerste tot en met derde lid, 68a.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">3.</span> Onder vernummering van het derde en vierde lid tot tiende en elfde lid, worden zeven leden ingevoegd,
                    luidende:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> De Autoriteit Consument en Markt stelt een redelijke termijn als bedoeld in artikel 13, vierde
                          lid, van richtlijn 2012/34/EU vast, die in de Staatscourant wordt bekendgemaakt.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> De Autoriteit Consument en Markt onderzoekt uit eigen beweging de toestand van de concurrentie
                          op de markt voor spoorvervoerdiensten, met name ten aanzien van de in artikel 56, eerste lid, onderdelen
                          a tot en met g, van richtlijn 2012/34/EU genoemde onderwerpen en brengt daar jaarlijks een verslag over
                          uit aan Onze Minister.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">5.</span> De Autoriteit Consument en Markt kan in het kader van het onderzoek, bedoeld in het vierde
                          lid, tevens informatie vragen die nodig is voor het gebruik voor statistische en marktwaarnemingsdoeleinden.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">6.</span> De Autoriteit Consument en Markt consulteert in ieder geval om de twee jaar de vertegenwoordigers
                          van de gebruikers van goederen- en personenvervoerdiensten.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">7.</span> Een betrokkene als bedoeld in het vijfde en zesde lid verstrekt de Autoriteit Consument en
                          Markt binnen de door haar gestelde redelijke termijn de gegevens en inlichtingen die zij nodig heeft
                          voor de uitoefening van de in die leden bedoelde taken.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">8.</span> Op verzoek van de Autoriteit Consument en Markt verstrekken de beheerder en een exploitant
                          van een dienstvoorziening alle gegevens en bescheiden over de door hen aan spoorwegondernemingen in rekening
                          gebrachte vergoedingen, zoals vastgesteld overeenkomstig artikel 62, eerste tot en met achtste lid, respectievelijk
                          over de vergoedingen, bedoeld in artikel 68.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">9.</span> Op verzoek van de Autoriteit Consument en Markt verstrekt een spoorwegonderneming of een exploitant
                          van een dienstvoorziening die bij of krachtens deze wet verplicht is om een boekhoudkundige scheiding
                          of een gescheiden administratie binnen de boekhouding te voeren de in bijlage VIII van richtlijn 2012/34/EU
                          bedoelde informatie voor zover die informatie nodig is in het kader van de uitoefening van de taken,
                          bedoeld in het tweede lid.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">Y</span>
                </p>
                <p class="wat">Artikel 71 komt te luiden:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e941" name="d16e941"></a>Artikel 71
                    </h3>
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> Een gerechtigde als bedoeld in artikel 57, een spoorwegonderneming, een partij bij een toegangsovereenkomst
                          of een kaderovereenkomst als bedoeld in hoofdstuk 4 of een andere betrokken partij kan bij de Autoriteit
                          Consument en Markt schriftelijk een aanvraag indienen om te onderzoeken of door een beheerder, een exploitant
                          van een dienstvoorziening, een spoorwegonderneming of een rechthebbende als bedoeld in artikel 95 jegens
                          de aanvrager sprake is van:
                        </p>
                        <ul class="expliciet whitespace-small">
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">a. </span>oneerlijke behandeling, discriminatie of anderszins van benadeling als bedoeld in artikel
                              56, eerste lid, van richtlijn 2012/34/EU;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">b. </span>gedrag van een wederpartij bij een toegangsovereenkomst of een kaderovereenkomst dat leidt
                              tot oneerlijke behandeling, discriminatie of anderszins van benadeling;
                            </p>
                          </li>
                          <li class="li">
                            <p class="labeled">
                              <span class="ol">c. </span>onterechte weigering van toegang tot een dienstvoorziening in geval van een conflict als
                              bedoeld in artikel 13, vijfde lid, van richtlijn 2012/34/EU.
                            </p>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> De Autoriteit Consument en Markt neemt een besluit inzake een aanvraag als bedoeld in het eerste
                          lid.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Indien de Autoriteit Consument en Markt besluit dat toegang tot een dienstvoorziening als bedoeld
                          in artikel 13, vijfde lid, van richtlijn 2012/34/EU ten onrechte is geweigerd, neemt zij voor zover nodig
                          maatregelen om ervoor te zorgen dat een passend deel van de beschikbare capaciteit voor de betreffende
                          dienstvoorziening wordt toegekend aan de desbetreffende spoorwegonderneming.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> De Autoriteit Consument en Markt kan zo nodig een last onder dwangsom opleggen of een bindende
                          aanwijzing geven.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">5.</span> Onder aanwijzing wordt verstaan: een zelfstandige last die wegens een overtreding wordt opgelegd
                          en onder zelfstandige last wordt verstaan: de enkele last tot het verrichten van bepaalde handelingen,
                          bedoeld in artikel 5:2, tweede lid, Algemene wet bestuursrecht, ter bevordering van de naleving van wettelijke
                          voorschriften.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">6.</span> Aan een last of een bindende aanwijzing als bedoeld in het vierde lid, kunnen voorschriften
                          worden verbonden inzake het verstrekken van gegevens aan de Autoriteit Consument en Markt. De artikelen
                          54a en 65 van de Mededingingswet zijn van overeenkomstige toepassing.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">7.</span> Bij of krachtens algemene maatregel van bestuur kunnen regels worden gesteld over de voor het
                          onderzoek te verstrekken gegevens en bescheiden en de daarmee samenhangende uitwerking.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">8.</span> De Autoriteit Consument en Markt stelt met inachtneming van artikel 56, achtste en negende
                          lid, van richtlijn 2012/34/EU de termijnen vast waarbinnen zij een besluit als bedoeld in het tweede
                          lid neemt, alsmede de termijnen voor het verstrekken van de voor het onderzoek benodigde gegevens en
                          bescheiden. Artikel 4:15 van de Algemene wet bestuursrecht is van overeenkomstige toepassing op alle
                          partijen waarbij de Autoriteit Consument en Markt in het kader van de besluitvorming informatie opvraagt.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">Z</span>
                </p>
                <p class="wat">Artikel 72 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> Voor de tekst wordt de aanduiding «1.» geplaatst.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> Er worden twee leden toegevoegd, luidende:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> In afwijking van artikel 7, eerste lid, van de Instellingswet Autoriteit Consument en Markt
                          en onverminderd artikel 7, derde lid, van die wet, verstrekt de Autoriteit Consument en Markt de gegevens
                          en inlichtingen, bedoeld in artikel 57 van richtlijn 2012/34/EU, alsmede de door de Europese Commissie
                          gevraagde informatie ten behoeve van de door die Commissie vast te stellen gedelegeerde handelingen of
                          uitvoeringsmaatregelen, bedoeld in richtlijn 2012/34/EU.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Artikel 7, vierde lid, onderdeel a, van de Instellingswet Autoriteit Consument en Markt is
                          niet van toepassing op de verstrekking van de gegevens, inlichtingen en informatie, bedoeld in het eerste
                          lid.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">AA</span>
                </p>
                <p class="wat">Na artikel 72 wordt een artikel ingevoegd, luidende:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e1038" name="d16e1038"></a>Artikel 72a
                    </h3>
                    <p>In afwijking van artikel 8 van de Instellingswet Autoriteit Consument en Markt stellen Onze Minister en de
                      Autoriteit Consument en Markt een gemeenschappelijk kader op voor informatie-uitwisseling en samenwerking
                      op het gebied van de spoorveiligheid en de concurrentie op de spoorwegmarkt als bedoeld in artikel 56, derde
                      lid, tweede alinea, van richtlijn 2012/34/EU.
                    </p>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">BB</span>
                </p>
                <p class="wat">In artikel 76, tweede lid, wordt na «27, eerste lid,» ingevoegd «56,» en wordt «57 tot en met 62, 63, eerste lid,
                  67, 68» vervangen door: 57 tot en met 62, eerste tot en met achtste lid, 63, eerste lid, tweede lid, eerste volzin,
                  derde en vierde lid, 67, 68, eerste tot en met derde lid, 68a, 70, zevende tot en met negende lid,.
                </p>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">CC</span>
                </p>
                <p class="wat">In artikel 77, eerste lid, wordt «en 96, tweede lid,» vervangen door:
                  <!--?xpp afbreek?-->, 96, tweede lid, en 96a,.</p>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">DD</span>
                </p>
                <p class="wat">In artikel 92 wordt «van richtlijn 91/440/EEG, richtlijn 95/18/EG, richtlijn 2001/14/EG,» vervangen door: of aanvulling
                  van richtlijn 2012/34/EU,.
                </p>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">EE</span>
                </p>
                <p class="wat">Het opschrift van paragraaf 10 van hoofdstuk 6, komt te luiden:</p>
                <div class="wijziging">
                  <div class="wijzig-divisie">
                    <h3 class="wijzig-divisie_kop no-toc">
                      <a id="d16e1071" name="d16e1071"></a>§ 10 Informatieplicht
                    </h3>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">FF</span>
                </p>
                <p class="wat">In paragraaf 10 wordt na artikel 96 een artikel ingevoegd, luidende:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e1083" name="d16e1083"></a>Artikel 96a
                    </h3>
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> Een betrokkene als bedoeld in artikel 15, derde lid, van de richtlijn verstrekt desgevraagd
                          aan Onze Minister binnen de door hem te bepalen termijn de gegevens en inlichtingen die hij nodig heeft
                          om te kunnen voldoen aan een verzoek van de Europese Commissie om informatie over het gebruik van de
                          spoorwegnetten en de ontwikkeling van de kadervoorwaarden in de spoorwegsector als bedoeld in artikel
                          15, derde en vierde lid, van richtlijn 2012/34/EU.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> Bij regeling van Onze Minister kunnen nadere regels worden gesteld over de in het eerste lid
                          bedoelde onderwerpen.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <h2 class="wijzig-artikel_kop">
                <a id="d16e1097" name="d16e1097"></a>ARTIKEL II
              </h2>
              <p class="wat">De Wet personenvervoer 2000 wordt als volgt gewijzigd:</p>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">A</span>
                </p>
                <p class="wat">In artikel 1 worden de volgende begrippen en bijbehorende omschrijvingen in alfabetische volgorde ingevoegd:
                </p>
                <div class="wijziging">
                  <div class="artikeltekst">
                    <dl class="inline whitespace-large">


                      <dt>internationale passagiersvervoerdienst:</dt>

                      <dd>
                        <p>een passagiervervoerdienst als bedoeld in artikel 3, onderdeel 5, van richtlijn 2012/34/EU;</p>
                      </dd>



                      <dt>richtlijn 2012/34/EU:</dt>

                      <dd>
                        <p>richtlijn 2012/34/EU van het Europees Parlement en de Raad van 21&nbsp;november 2012 tot instelling van
                          één Europese spoorwegruimte (PbEU 2012, L 343/32).
                        </p>
                      </dd>


                    </dl>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">B</span>
                </p>
                <p class="wat">Artikel 19 wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> In het derde, vierde, vijfde en zesde lid wordt «grensoverschrijdend personenvervoer per trein» telkens
                    vervangen door: een internationale passagiersvervoerdienst.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> In het vierde lid wordt «artikel 57, tweede lid,» vervangen door: artikel 57, vierde lid,.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">3.</span> Het vijfde lid, onderdeel a, en zesde lid, onderdeel a, komen te luiden:
                  </p>
                  <div class="artikeltekst">
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">a. </span>het hoofddoel van het vervoer is passagiers vervoeren tussen stations in verschillende lidstaten
                          of dat geen aanvraag het hoofddoel betreft, en.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">4.</span> Het zevende, achtste en tiende lid vervallen en het negende lid wordt vernummerd tot zevende lid.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">5.</span> In het zevende lid (nieuw) wordt «achtste lid» vervangen door: zesde lid.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">6.</span> Er wordt een lid toegevoegd, luidende:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">8.</span> Bij ministeriële regeling kunnen regels worden gesteld over onder meer de toepassing van dit
                          artikel en de procedure en criteria, bedoeld in de artikelen 10, vierde lid, en 11, vierde lid, van richtlijn
                          2012/34/EU.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">C</span>
                </p>
                <p class="wat">Artikel 19a wordt als volgt gewijzigd:</p>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">1.</span> Het eerste lid komt te luiden:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> De Autoriteit Consument en Markt doet zo spoedig mogelijk na ontvangst van een melding als
                          bedoeld in artikel 57, vierde of vijfde lid, van de Spoorwegwet mededeling van die melding in de Staatscourant
                          en aan de betrokken concessieverleners, de betrokken concessiehouders en Onze Minister en vermeldt daarbij
                          de mogelijkheid van een aanvraag als bedoeld in het tweede lid, en de termijn voor indiening van die
                          aanvraag.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">2.</span> De aanhef en onderdeel a van het tweede lid, komen te luiden:
                  </p>
                  <div class="artikeltekst">
                    <p>De Autoriteit Consument en Markt stelt op daartoe strekkende aanvraag van een of meer betrokken concessieverleners,
                      een of meer betrokken concessiehouders, Onze Minister of een beheerder als bedoeld in artikel 1 van de Spoorwegwet
                      vast of het ingevolge artikel 57, vierde of vijfde lid, van de Spoorwegwet, gemelde voorgenomen vervoer:
                    </p>
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">a. </span>het vervoeren van passagiers tussen stations in verschillende lidstaten als hoofddoel heeft,
                          of.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">3.</span> Het zevende tot en met het tiende lid vervallen.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">4.</span> Onder vernummering van het vijfde en zesde lid tot zesde en zevende lid, wordt een lid ingevoegd,
                    luidende:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">5.</span> De Autoriteit Consument en Markt neemt de in artikel 11, tweede lid, van richtlijn 2012/34/EU
                          voorgeschreven procedurele eisen in acht.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">5.</span> In het zesde lid (nieuw) wordt «binnen acht weken» vervangen door: binnen zes weken.
                  </p>
                </div>
                <div class="wijziging">
                  <p class="wat labeled">
                    <span class="nr">6.</span> Het zevende lid (nieuw) komt te luiden:
                  </p>
                  <div class="artikeltekst">
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">7.</span> De Autoriteit Consument en Markt doet mededeling van de aanvraag en van de beschikking, bedoeld
                          in het zesde lid, aan een beheerder als bedoeld in artikel 1 van de Spoorwegwet en doet mededeling van
                          die beschikking in de Staatscourant.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">D</span>
                </p>
                <p class="wat">In hoofdstuk II, paragraaf 1, worden na artikel 19a twee artikelen ingevoegd, luidende:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e1254" name="d16e1254"></a>Artikel 19b
                    </h3>
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> Een concessieverlener als bedoeld in artikel 20, eerste of derde lid, kan aan spoorwegondernemingen
                          een heffing opleggen voor de exploitatie van een passagiersvervoerdienst op onder zijn concessiebevoegdheid
                          vallende trajecten tussen twee stations in Nederland.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> De heffing, bedoeld in het eerste lid, voldoet aan de voorwaarden van artikel 12 van richtlijn
                          2012/34/EU.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> De in het eerste lid bedoelde concessieverleners houden de informatie, bedoeld in artikel 12,
                          vierde lid, van richtlijn 2012/34/EU bij. Een concessieverlener als bedoeld in artikel 20, derde lid,
                          verstrekt die gegevens desgevraagd aan Onze Minister voor zover Onze Minister die nodig heeft om te kunnen
                          voldoen aan een verzoek van de Europese Commissie.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> Bij ministeriële regeling kunnen nadere regels worden gesteld over de heffing, bedoeld in het
                          eerste lid.
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e1279" name="d16e1279"></a>Artikel 19c
                    </h3>
                    <p>Bij een internationale passagiersvervoerdienst hebben de desbetreffende spoorwegondernemingen het recht om
                      op het internationale traject passagiers te laten instappen op elk station en hen te laten uitstappen op
                      een ander station, ook wanneer die in Nederland zijn gelegen.
                    </p>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">E</span>
                </p>
                <p class="wat">In artikel 25, vijfde lid, wordt «gebruiksvergoeding» vervangen door: vergoeding.</p>
              </div>
              <h2 class="wijzig-artikel_kop">
                <a id="d16e1290" name="d16e1290"></a>ARTIKEL III
              </h2>
              <p class="wat">De Wet lokaal spoor wordt als volgt gewijzigd:</p>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">A</span>
                </p>
                <p class="wat">Artikel 3 komt te luiden:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e1303" name="d16e1303"></a>Artikel 3
                    </h3>
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> De hoofdstukken 2 tot en met 10 zijn van toepassing op lokale spoorwegen die uitgesloten kunnen
                          worden van het toepassingsgebied van de artikelen 7, 8 en 13 en hoofdstuk IV van richtlijn 2012/34/EU
                          en van de uitvoeringsmaatregelen bij richtlijn 2008/57/EG en bij richtlijn 2004/49/EG.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> Tenzij bij of krachtens deze wet anders is bepaald, zijn lokale spoorwegen als bedoeld in het
                          eerste lid uitgesloten van het toepassingsgebied van de artikelen 7, 8 en 13 en hoofdstuk IV van richtlijn
                          2012/34/EU en van de uitvoeringsmaatregelen bij richtlijn 2008/57/EG en bij richtlijn 2004/49/EG. Tenzij
                          bij of krachtens deze wet anders is bepaald, zijn vervoerders die gebruik maken van een dergelijke lokale
                          spoorweg uitgesloten van het toepassingsgebied van de hoofdstukken II en III van richtlijn 2012/34/EU.
                          Tenzij bij of krachtens deze wet anders is bepaald, zijn bestuurders op een dergelijke spoorweg vrijgesteld
                          van de uitvoeringsmaatregelen bij richtlijn 2007/59/EG.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> Bij of krachtens algemene maatregel van bestuur kunnen nadere regels worden gesteld over lokale
                          spoorwegen die niet uitgesloten kunnen worden van het toepassingsgebied van de artikelen 7, 8 en 13 en
                          hoofdstuk IV van richtlijn 2012/34/EU en van de uitvoeringsmaatregelen bij richtlijn 2008/57/EG en richtlijn
                          2004/49/EG.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">4.</span> De regels, bedoeld in het derde lid, kunnen in ieder geval inhouden het geheel of gedeeltelijk
                          van toepassing verklaren van deze wet, de Spoorwegwet of de op die wetten berustende bepalingen.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">5.</span> In het koninklijk besluit, bedoeld in artikel 2, wordt aangeduid of een spoorweg onder het
                          eerste of het derde lid valt.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">B</span>
                </p>
                <p class="wat">Na artikel 19 wordt een artikel ingevoegd, luidende:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e1340" name="d16e1340"></a>Artikel 19a
                    </h3>
                    <p>De infrastructuurbeheerder is verantwoordelijk voor zijn eigen beheer, bestuur en interne controle en neemt
                      hierbij het heffings- en toewijzingskader en de specifieke regels die door de lidstaten zijn opgesteld, in
                      acht.
                    </p>
                  </div>
                </div>
              </div>
              <div class="wijzig-lid">
                <p class="lid">
                  <span class="lidnr">C</span>
                </p>
                <p class="wat">Na artikel 29 worden twee artikelen ingevoegd, luidende:</p>
                <div class="wijziging">
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e1353" name="d16e1353"></a>Artikel 29a
                    </h3>
                    <p>Een vervoerder die niet alleen onder de directe of indirecte zeggenschap staat van een onderneming of een andere
                      entiteit die andere spoorvervoerdiensten dan stads-, voorstads- en regionale diensten verricht of integreert,
                      maar die ook direct of indirect eigendom is van of wordt beheerd door de Staat, heeft een onafhankelijke
                      rechtspositie op het vlak van bestuur, administratief beheer en interne administratieve, economische en boekhoudkundige
                      controle, volgens welke hij in het bijzonder beschikt over een vermogen, een begroting en een boekhouding
                      die gescheiden zijn van die van de Staat.
                    </p>
                  </div>
                  <div class="artikel">
                    <h3 class="artikel_kop no-toc">
                      <a id="d16e1359" name="d16e1359"></a>Artikel 29b
                    </h3>
                    <ul class="artikel_leden whitespace-small">
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">1.</span> Indien een vervoerder onder de directe of indirecte zeggenschap staat van een onderneming of
                          een andere entiteit die andere spoorvervoerdiensten dan stads-, voorstads- en regionale diensten verricht
                          of integreert, worden de winst-en-verliesrekeningen en balansen gescheiden opgesteld en gepubliceerd
                          voor zover het betreft enerzijds activiteiten met betrekking tot de levering van vervoerdiensten door
                          die vervoerder en anderzijds activiteiten met betrekking tot de levering van vervoerdiensten door die
                          onderneming of andere entiteit.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">2.</span> Financiële middelen die door een bestuursorgaan zijn verstrekt met het oog op een van de in
                          het eerste lid bedoelde activiteiten worden niet overgedragen naar de andere activiteit.
                        </p>
                      </li>
                      <li>
                        <p class="lid labeled">
                          <span class="lidnr">3.</span> De wijze waarop de boekhoudingen van de verschillende bedoelde activiteiten worden gevoerd,
                          maakt het mogelijk toe te zien op het verbod op de overdracht van openbare financiële middelen van het
                          ene activiteitengebied naar het andere.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <h2 class="wijzig-artikel_kop">
                <a id="d16e1378" name="d16e1378"></a>ARTIKEL IV
              </h2>
              <p class="wat">Aan bijlage 1 van de Algemene wet bestuursrecht wordt in de alfabetische volgorde ingevoegd:
              </p>
              <div class="wijziging">
                <div class="artikeltekst">
                  <dl class="inline whitespace-large">
                    <!--?xpp witregel?-->

                    <dt>
                      <em class="ondlijn">
                        <em class="rom">Spoorwegwet:</em>
                      </em>
                    </dt>

                    <dd>
                      <p>
                        <em class="ondlijn">artikel 71, eerste lid, onderdeel, voor zover het een klacht als bedoeld in artikel 58, vijfde lid, betreft.</em>
                      </p>
                    </dd>


                  </dl>
                </div>
              </div>
              <h2 class="wijzig-artikel_kop">
                <a id="d16e1398" name="d16e1398"></a>ARTIKEL V
              </h2>
              <p class="wat">Onder vernummering van artikel 3, zesde lid, van de Instellingswet Autoriteit Consument en Markt tot zevende lid,
                wordt een lid ingevoegd, luidende:
              </p>
              <div class="wijziging">
                <div class="artikeltekst">
                  <ul class="artikel_leden whitespace-small">
                    <li>
                      <p class="lid labeled">
                        <span class="lidnr">6.</span> Een lid van de Autoriteit Consument en Markt legt jaarlijks een schriftelijke verklaring af dat
                        hij geen belangen heeft als bedoeld in het vijfde lid. In die verklaring worden alle directe en indirecte
                        belangen vermeld die van invloed kunnen zijn op de uitoefening van zijn functie.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="artikel">
                <h2 class="artikel_kop">
                  <a id="d16e1413" name="d16e1413"></a>ARTIKEL VI
                </h2>
                <p>De artikelen van deze wet treden in werking op een bij koninklijk besluit te bepalen tijdstip, dat voor de verschillende
                  artikelen of onderdelen daarvan verschillend kan worden vastgesteld.

                </p>
              </div>
            </div>
            <div class="voorstel-sluiting">
              <div class="slotformulering">
                <p>Lasten en bevelen dat deze in het Staatsblad zal worden geplaatst en dat alle ministeries, autoriteiten, colleges
                  en ambtenaren die zulks aangaat, aan de nauwkeurige uitvoering de hand zullen houden.
                </p>
              </div>
              <p class="gegeven">Gegeven</p>
              <p class="ondertekening">
                <span class="functie">De Staatssecretaris van Infrastructuur en Milieu,</span>
              </p>
            </div>
          </div>
        </div>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-ID-355392-d37e57">
            <h5 class="note-close">
              <a class="note-close" href="#close-ID-355392-d37e57">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="ID-355392-d37e57" name="ID-355392-d37e57"></a>1</span>
            </sup>
            <p>I.v.m. opmaaktechnische verbeteringen en correcties in de tekst</p>
          </div>
        </div>

      </div>   </article>

  </div>
</div>

