<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
                <div class="officiele-publicatie" lang="nl" xml:lang="nl"><div class="_p_provinciaalblad"><a name="id1-3"><!----></a>
    <a name="id1-3-1"><!----></a><p class="staatscourant_kop _p_single-kop-titel"><a name="id1-3-1-1"><!----></a>Provincie Utrecht Wbb Bodemverontreiniging in Soest: Veenzoom 14 en 14A UT034202644</p>
    <div class="_p_zakelijke-mededeling"><a name="id1-3-2"><!----></a>
      <div class="_p_zakelijke-mededeling-tekst"><a name="id1-3-2-1"><!----></a>
        <div class="_p_tekst"><a name="id1-3-2-1-1"><!----></a>
          <p class="tussenkop tussenkop_cur _p_tussenkopcur"><a name="id1-3-2-1-1-1"><!----></a>
            <span class="vet _p_nadrukvet">
              <span class="italic _p_nadrukcur">Deze advertentie geeft informatie over een project dat gevolgen kan hebben voor het milieu. Woont of werkt u in de buurt, dan kan het voor u van belang zijn de advertentie te lezen</span>
            </span>
          </p>
          <p class="common-al _p_common-al"><a name="id1-3-2-1-1-2"><!----></a>Het college van Gedeputeerde Staten van de provincie Utrecht heeft een evaluatieverslag ontvangen zoals bedoeld in artikel 39c van de Wet bodembescherming.</p>
          <p class="common-al _p_common-al"><a name="id1-3-2-1-1-3"><!----></a>Het betreft een verslag van een bodemsanering op bovengenoemde locatie. Het verslag is ingediend door Gemeente Soest.</p>
          <p class="common-al _p_common-al"><a name="id1-3-2-1-1-4"><!----></a>De uitgevoerde sanering voldoet aan het bepaalde bij of krachtens artikel 38 van de Wet bodembescherming. Gedeputeerde Staten stemmen daarom in met het ingediende evaluatieverslag.</p>
          <p class="tussenkop tussenkop_cur _p_tussenkopcur"><a name="id1-3-2-1-1-5"><!----></a>
            <span class="vet _p_nadrukvet">Bezwaar</span>
          </p>
          <p class="common-al _p_common-al"><a name="id1-3-2-1-1-6"><!----></a>Belanghebbenden kunnen tegen deze beschikking een bezwaarschrift indienen bij Gedeputeerde Staten van Utrecht, t.a.v. de secretaris van de Awb-adviescommissie, Postbus 80300, 3508 TH Utrecht, binnen zes weken na de dag waarop de beschikking op de voorgeschreven wijze is bekendgemaakt. </p>
          <p class="common-al _p_common-al"><a name="id1-3-2-1-1-7"><!----></a>Het bezwaarschrift moet ondertekend zijn en ten minste bevatten:</p>
          <ul class="_explicit whitespace-small _p_lijst">
            <li class="li _p_li"><span>-</span><div><p class="al _p_al"><a name="id1-3-2-1-1-8-1-2"><!----></a>de naam en het adres van de indiener;</p></div></li>
            <li class="li _p_li"><span>-</span><div><p class="al _p_al"><a name="id1-3-2-1-1-8-2-2"><!----></a>de dagtekening;</p></div></li>
            <li class="li _p_li"><span>-</span><div><p class="al _p_al"><a name="id1-3-2-1-1-8-3-2"><!----></a>een omschrijving van (het gedeelte van) de beschikking waartegen bezwaar wordt gemaakt;</p></div></li>
            <li class="li _p_li"><span>-</span><div><p class="al _p_al"><a name="id1-3-2-1-1-8-4-2"><!----></a>de gronden van het bezwaar (de motivering).</p></div></li>
          </ul>
          <p class="common-al _p_common-al"><a name="id1-3-2-1-1-9"><!----></a>Aan de behandeling van het bezwaarschrift zijn voor de indiener geen kosten verbonden. Vanwege de eis van schriftelijkheid die de Awb stelt, is het niet mogelijk om via e-mail bezwaar te maken.</p>
          <p class="common-al _p_common-al"><a name="id1-3-2-1-1-10"><!----></a>Het maken van bezwaar schorst de werking van de beschikking niet. Indien onverwijlde spoed dit vereist, kunt u naast het maken van bezwaar een verzoek om een voorlopige voorziening indienen bij de voorzitter van de Afdeling Bestuursrechtspraak van de Raad van State, Postbus 20019, 2500 EA Den Haag. Daarbij is een griffierecht verschuldigd.</p>
          <p class="tussenkop tussenkop_cur _p_tussenkopcur"><a name="id1-3-2-1-1-11"><!----></a>
            <span class="vet _p_nadrukvet">Informatie</span>
          </p>
          <p class="common-al _p_common-al"><a name="id1-3-2-1-1-12"><!----></a>Voor inlichtingen kunt u terecht bij de RUD Utrecht, telefoonnummer 030-7023214.</p>
          <p class="_p_last-al"><a name="id1-3-2-1-1-13"><!----></a>‘De RUD Utrecht publiceert een groot deel van haar kennisgevingen digitaal op www.officielebekendmakingen.nl. U kunt zich via www.overheid.nl abonneren op deze publicaties over projecten bij u in de buurt. Dan krijgt u een e-mailbericht op het moment dat er een melding of een besluit wordt gepubliceerd over een locatie in uw buurt. Via de tab ‘overheidsinformatie’ op www.overheid.nl kunt u de bekendmakingen ook vinden.’</p>
        </div>
      </div>
    </div>
  </div></div>
            </div>

          </article>

  </div>
</div>
