<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="staatsblad_kop">
          <a id="d6502e43" name="d6502e43"></a>Wijziging van de Meststoffenwet (differentiatie fosfaatgebruiksnorm)
        </h1>
        <div class="verbeterblad">
          <h2 class="verbeterblad_kop">
            <a id="d6502e47" name="d6502e47"></a>VERBETERING
          </h2>
          <p>Op blz. 4, worden na onderdeel G de volgende onderdelen ingevoegd:
          </p>
          <h3 class="divisiekop1">
            <a id="d6502e54" name="d6502e54"></a>Ga
          </h3>
          <p>Na het opschrift Hoofdstuk VII. Overige bepalingen wordt het volgende artikel ingevoegd:
          </p>
          <h4 class="divisiekop2">
            <a id="d6502e59" name="d6502e59"></a>Artikel 37a
          </h4>
          <ul class="expliciet whitespace-small">
            <li class="li">
              <p class="labeled">
                <span class="ol">1. </span>Bij ministeriële regeling worden regels gesteld over de wijze waarop de controleprogramma’s, bedoeld
                in artikel 5, zesde lid, van richtlijn nr.&nbsp;91/676/EEG van de Raad van de Europese Gemeenschappen van 12&nbsp;december
                1991 inzake de bescherming van water tegen verontreiniging door nitraten uit agrarische bronnen (PbEG L 375), worden
                uitgevoerd.
              </p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">2. </span>Het ontwerp van de ministeriële regeling, bedoeld in het vorige lid, wordt vier weken voor publicatie
                in de Staatscourant door Onze Minister aan de beide kamers der Staten-Generaal overgelegd.
              </p>
            </li>
          </ul>
          <h3 class="divisiekop1">
            <a id="d6502e73" name="d6502e73"></a>Gb
          </h3>
          <p>In artikel 45 wordt «De ministeriële regelingen, bedoeld in Hoofdstuk III» vervangen door: De ministeriële regelingen,
            bedoeld in Hoofdstuk III en in artikel 37a.
          </p>
          <p>Op blz. 4 komt artikel II als volgt te luiden:
          </p>
          <h3 class="divisiekop1">
            <a id="d6502e82" name="d6502e82"></a>ARTIKEL II
          </h3>
          <p>Deze wet treedt in werking op 1 januari 2010, met uitzondering van artikel I, onderdelen Ga en Gb, die in werking treden
            op 1&nbsp;januari 2014.
          </p>
          <div class="gegeven">
            <p class="dagtekening">’s-Gravenhage, 14 januari 2010
            </p>
          </div>
          <div class="ondertekening">
            <p class="functie">De Minister van Justitie,
            </p>
            <p class="naam">E. M. H. Hirsch Ballin </p>
          </div>
        </div>
      </div>    </article>

  </div>
</div>
