<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="staatsblad_kop">
          <a id="d76e47" name="d76e47"></a>Besluit van 17 december 2009 tot wijziging van het Reïntegratiebesluit in verband met uitbreiding van de mogelijkheid
          om voorzieningen te verstrekken aan personen met structurele functionele beperkingen bij arbeid als zelfstandige
        </h1>
        <div class="aanhef">
          <a id="d76e51" name="d76e51"></a>
          <p class="wij">Wij Beatrix, bij de gratie Gods, Koningin der Nederlanden, Prinses van Oranje-Nassau, enz. enz. enz.
          </p>
          <p class="considerans.al">Op de voordracht van Onze Minister van Sociale Zaken en Werkgelegenheid van 16 oktober 2009, Directie Re-integratie en
            Participatie, nr.&nbsp;R&amp;P/RPA/2009/23594;
          </p>
          <p class="considerans.al">Gelet op artikel 34a, eerste en derde lid, van de Wet werk en inkomen naar arbeidsvermogen en de artikelen 2:22, vierde
            lid, en 2:23, eerste en derde lid, van de Wet werk en arbeidsondersteuning jonggehandicapten;
          </p>
          <p class="considerans.al">De Raad van State gehoord (advies van 28 oktober 2009,
            <!--?xpp afbreek?-->no. W12.09.0423/III);</p>
          <p class="considerans.al">Gezien het nader rapport van Onze Minister van Sociale Zaken en Werkgelegenheid van 15 december 2009, Directie Re-integratie
            en Participatie, nr. R&amp;P/RPA/2009/26439;
          </p>
          <p class="afkondiging">Hebben goedgevonden en verstaan:</p>
        </div>
        <div class="wettekst">
          <a id="d76e69" name="d76e69"></a>
          <h3 class="wijzig-artikel_kop">
            <a id="d76e72" name="d76e72"></a>ARTIKEL I WIJZIGING REÏNTEGRATIEBESLUIT
          </h3>
          <p class="wat">Het Reïntegratiebesluit wordt als volgt gewijzigd:</p>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">A</span>
            </p>
            <p class="wat">Het opschrift van paragraaf 1 komt te luiden:</p>
            <div class="wijziging">
              <div class="wijzig-divisie">
                <h4 class="wijzig-divisie_kop">
                  <a id="d76e85" name="d76e85"></a>§ 1. Algemene bepalingen
                </h4>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">B</span>
            </p>
            <p class="wat">Artikel 1 wordt als volgt gewijzigd:</p>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> Het opschrift komt te luiden:
              </p>
              <div class="wijzig-divisie">
                <h4 class="wijzig-divisie_kop kopopmaak_vet">
                  <a id="d76e100" name="d76e100"></a>Artikel 1 Begripsbepalingen
                </h4>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">C</span>
            </p>
            <p class="wat">Na artikel 1 wordt een artikel ingevoegd, luidende:</p>
            <div class="wijziging">
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d76e111" name="d76e111"></a>Artikel 1a Wettelijke grondslag
                </h4>
                <p>Dit besluit berust op de artikelen 34a, eerste en derde lid, 35, vierde lid en 36, eerste lid, onderdeel a, en
                  vierde lid, van de Wet WIA, de artikelen 65c, vijfde lid, en 65d, vierde lid, van de WAO, de artikelen 2:22,
                  vierde lid, 2:23, eerste en derde lid, 3:67, vijfde lid, en 3:68, vierde lid, van de Wet Wajong en de artikelen
                  67a, vijfde lid, en 67b, vierde lid, van de WAZ.
                </p>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">D</span>
            </p>
            <p class="wat">Artikel 2, eerste lid, aanhef, komt te luiden:</p>
            <div class="wijziging">
              <p>Een subsidie als bedoeld in artikel 36 van de Wet WIA of een voorziening als bedoeld in de artikelen 34a, eerste
                lid, en 35 van de Wet WIA en 2:22 en 2:23, eerste lid, van de Wet Wajong wordt niet verstrekt respectievelijk verleend
                indien het kosten van een voorziening of een voorziening betreft:.
              </p>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">E</span>
            </p>
            <p class="wat">Artikel 3, derde lid, komt te luiden:</p>
            <div class="wijziging">
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> Dit artikel is van overeenkomstige toepassing op de verlening van voorzieningen als bedoeld in
                      de artikelen 34a, eerste lid, en 35 van de Wet WIA en artikel 2:23, eerste lid, van de Wet Wajong.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">F</span>
            </p>
            <p class="wat">Artikel 4 komt te luiden:</p>
            <div class="wijziging">
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d76e148" name="d76e148"></a>Artikel 4 Op het individu gerichte voorzieningen
                </h4>
                <p>Een voorziening als bedoeld in de artikelen 34a, eerste lid, en 35 van de Wet WIA en artikel 2:23, eerste lid,
                  van de Wet Wajong wordt slechts verleend indien deze in overwegende mate op het individu is gericht.
                </p>
              </div>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">G</span>
            </p>
            <p class="wat">Artikel 13 wordt als volgt gewijzigd:</p>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> Het opschrift komt te luiden:
              </p>
              <h4 class="artikel_kop">
                <a id="d76e164" name="d76e164"></a>Artikel 13 (Leef)vervoersvoorzieningen bij inschakeling in en ondersteuning bij arbeid als zelfstandige.
              </h4>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> Het eerste lid komt te luiden:
              </p>
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Het UWV kan op aanvraag van een persoon als bedoeld in artikel 34a, eerste lid, van de Wet WIA,
                      en artikel 2:23, eerste lid, van de Wet Wajong vervoersvoorzieningen verlenen die ertoe strekken dat die
                      persoon zijn werkplek of opleidingslocatie kan bereiken.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">3.</span> In het derde lid wordt «verlening van voorzieningen» vervangen door: verlening en beëindiging van voorzieningen.
              </p>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">4.</span> Het vierde lid vervalt.
              </p>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">H</span>
            </p>
            <p class="wat">Artikel 14 wordt als volgt gewijzigd:</p>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> Het opschrift komt te luiden:
              </p>
              <h4 class="artikel_kop">
                <a id="d76e201" name="d76e201"></a>Artikel 14 Intermediaire voorzieningen bij inschakeling in en ondersteuning bij arbeid als zelfstandige.
              </h4>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> Het eerste lid komt te luiden:
              </p>
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Het UWV kan op aanvraag ten behoeve van een persoon als bedoeld in artikel 34a, eerste lid, van
                      de Wet WIA en artikel 2:23, eerste lid, van de Wet Wajong met een auditieve, visuele of motorische handicap
                      intermediaire activiteiten verlenen.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">3.</span> Het derde lid vervalt.
              </p>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">I</span>
            </p>
            <p class="wat">Artikel 15 wordt als volgt gewijzigd:</p>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> Het opschrift komt te luiden:
              </p>
              <h4 class="artikel_kop">
                <a id="d76e233" name="d76e233"></a>Artikel 15 Starterskrediet en begeleiding bij inschakeling in en ondersteuning bij arbeid als zelfstandige
              </h4>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> Het eerste lid, aanhef, komt te luiden:
              </p>
              <div class="artikeltekst">
                <p>Het UWV kan op aanvraag van een persoon als bedoeld in artikel 34a, eerste lid, van de Wet WIA en artikel 2:23,
                  eerste lid, van de Wet Wajong ter voorziening in de behoefte aan bedrijfskapitaal een lening of borgtocht verstrekken
                  tot ten hoogste een bij ministeriële regeling vast te stellen bedrag indien: .
                </p>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">3.</span> Het derde lid wordt vernummerd tot tweede lid en komt te luiden:
              </p>
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Het UWV kan op aanvraag van de persoon, bedoeld in het eerste lid, een vergoeding verstrekken voor
                      de kosten van begeleiding ten behoeve van de start van een bedrijf voor de duur van ten hoogste één jaar
                      na de start van het bedrijf, indien wordt voldaan aan de voorwaarden, bedoeld in het eerste lid, onder a
                      en b.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">4.</span> Het als eerste genoemde vierde lid wordt vernummerd tot derde lid.
              </p>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">J</span>
            </p>
            <p class="wat">Artikel 15a wordt als volgt gewijzigd:</p>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">1.</span> Het opschrift komt te luiden:
              </p>
              <h4 class="artikel_kop">
                <a id="d76e274" name="d76e274"></a>Artikel 15a Arbeidsplaatsvoorzieningen bij inschakeling in en ondersteuning bij arbeid als zelfstandige.
              </h4>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">2.</span> Het eerste lid, komt te luiden:
              </p>
              <div class="artikeltekst">
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Het UWV kan op aanvraag van een persoon als bedoeld in artikel 34a, eerste lid, van de Wet WIA
                      en artikel 2:23, eerste lid, van de Wet Wajong voorzieningen verstrekken ten behoeve van de inrichting van
                      de arbeidsplaats, de productie- en werkmethoden en de bij de arbeid te gebruiken hulpmiddelen, die in overwegende
                      mate op het individu van de aanvrager zijn afgestemd.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="wijziging">
              <p class="wat labeled">
                <span class="nr">3.</span> Het derde lid vervalt.
              </p>
            </div>
          </div>
          <div class="wijzig-lid">
            <p class="lid">
              <span class="lidnr">K</span>
            </p>
            <p class="wat">Na artikel 15a wordt een artikel ingevoegd, luidende:</p>
            <div class="wijziging">
              <div class="artikel">
                <h4 class="artikel_kop">
                  <a id="d76e303" name="d76e303"></a>Artikel 15b Inkomenstoets bij inschakeling in en ondersteuning bij arbeid als zelfstandige
                </h4>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Voorzieningen als bedoeld in de artikelen 14 en 15a worden niet verleend of worden beëindigd, indien
                      het inkomen van de persoon die de voorziening aanvraagt of aan wie de voorziening is verleend, in het vierde
                      kalenderjaar dan wel een daarop volgend jaar, na de aanvang van de arbeid als zelfstandige, meer bedraagt
                      dan 261 maal 157% van het bedrag, bedoeld in artikel 17, eerste lid, van de Wet financiering sociale verzekeringen
                      met betrekking tot een loontijdvak van een dag.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Indien het inkomen van de persoon, bedoeld in het eerste lid, in betekenende mate aan fluctuaties
                      onderhevig is, wordt voor de toepassing van dat artikellid de som van het inkomen over het in dat artikellid
                      bedoelde kalenderjaar en het inkomen over de twee daaraan voorafgaande kalenderjaren gedeeld door drie.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> Bij ministeriële regeling worden regels gesteld over de wijze van vaststelling van het inkomen,
                      bedoeld in het eerste lid, waarbij kan worden bepaald dat bij de vaststelling van het inkomen mede in aanmerking
                      wordt genomen het inkomen van de echtgenoot, de partner of een ander gezinslid van de in het eerste lid bedoelde
                      persoon.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">4.</span> Beëindiging van de voorziening wegens overschrijding van de inkomensgrens, bedoeld in het eerste
                      lid, vindt plaats met ingang van de datum gelegen zes maanden nadat de persoon aan wie de voorziening is
                      verleend van de voorgenomen beëindiging in kennis is gesteld.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">5.</span> Dit artikel is van overeenkomstige toepassing ten aanzien van vervoersvoorzieningen ten aanzien
                      waarvan op grond van artikel 5, vierde lid, onderdeel c, is bepaald dat artikel 5, eerste lid, daarop niet
                      van toepassing is.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <h3 class="wijzig-artikel_kop">
            <a id="d76e332" name="d76e332"></a>ARTIKEL II WIJZIGING BESLUIT BIJSTANDVERLENING ZELFSTANDIGEN 2004
          </h3>
          <p class="wat">Aan artikel 14 van het Besluit bijstandverlening zelfstandigen 2004 wordt een lid toegevoegd, luidende:</p>
          <div class="wijziging">
            <div class="artikeltekst">
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">3.</span> Bijstand ter voorziening in de behoefte aan bedrijfskapitaal wordt niet verleend aan personen als
                    bedoeld in artikel 34a, eerste lid, van de Wet werk en inkomen naar arbeidsvermogen met een naar het oordeel
                    van het UWV structurele functionele beperking die arbeid als zelfstandige verrichten of gaan verrichten.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d76e347" name="d76e347"></a>ARTIKEL III INWERKINGTREDING
            </h3>
            <p>Dit besluit treedt in werking op het tijdstip waarop de Wet van 3&nbsp;december 2009 tot uitbreiding van de mogelijkheid
              om voorzieningen te verstrekken bij arbeid als zelfstandige (
              <a href="stb-2009-589.html" title="link naar publicatie stb-2009-589">Stb. 589</a>) in werking treedt.
            </p>
          </div>
        </div>
        <div class="wetsluiting">
          <a id="d76e356" name="d76e356"></a>
          <div class="slotformulering">
            <p>Lasten en bevelen dat dit besluit met de daarbij behorende nota van toelichting in het Staatsblad zal worden geplaatst.
              <sup
                class="histnoot">
                <a class="nootnum supernote-click-d68e686" href="#d68e686">histnoot</a>
              </sup>
            </p>
          </div>
          <div class="gegeven">
            <p class="dagtekening">’s-Gravenhage, 17 december 2009</p>
            <p class="koning">Beatrix</p>
          </div>
          <div class="ondertekening">
            <p class="functie">De Minister van Sociale Zaken en Werkgelegenheid,</p>
            <p class="naam">J. P. H. Donner </p>
          </div>
          <div class="uitgifte">
            <p>Uitgegeven de
              <em class="cur">dertigste</em> december 2009
            </p>
            <div class="ondertekening">
              <p class="functie">De Minister van Justitie,
              </p>
              <p class="naam">E. M. H. Hirsch Ballin
              </p>
            </div>
          </div>
        </div>
        <div class="nota-toelichting">
          <h2 class="nota-toelichting_kop">
            <a id="d76e387" name="d76e387"></a>NOTA VAN TOELICHTING
          </h2>
          <h3 class="divisiekop1">
            <a id="d76e390" name="d76e390"></a>Algemeen
          </h3>
          <p>In dit besluit worden regels gesteld met betrekking tot de verlening van (arbeidsplaats)voorzieningen aan personen met
            een structurele functionele beperking bij de arbeid als zelfstandige. Met de Wet van 3&nbsp;december 2009 tot uitbreiding
            van de mogelijkheid om voorzieningen te verstrekken bij arbeid als zelfstandige (
            <a href="stb-2009-589.html" title="link naar publicatie stb-2009-589">Stb. 589</a>) (hierna: wijzigingswet) worden de mogelijkheden verruimd om voorzieningen te verlenen aan personen met
            een ziekte of handicap die willen starten als zelfstandige. Het gaat hierbij om voorzieningen zoals een doventolk,
            een voorleeshulp of een aanpassing van de werkplek. In verband met de verruiming van de regeling is ook het Reïntegratiebesluit
            aangepast.
          </p>
          <div class="alineagroep">
            <p>De verruiming houdt ondermeer in dat de verstrekking van deze voorzieningen zich niet meer beperkt tot de re-integratieperiode
              maar deze voorzieningen door het Uitvoeringsinstituut werknemersverzekeringen (UWV) voor de duur van het zelfstandig
              ondernemerschap kunnen worden verstrekt. Het gaat daarbij om de verstrekking van voorzieningen aan personen met een
              structurele functionele beperking die bij de aanvang van hun werkzaamheden als zelfstandige een ziekte of handicap
              hebben.
            </p>
            <p>Personen die bij de start als zelfstandige geen ziekte of handicap hadden, komen dus niet in aanmerking voor voorzieningen
              als zij na de start als zelfstandige een structurele functionele beperking krijgen. Voor hen geldt immers dat het
              om een verzekerbaar risico gaat dat onder het gebruikelijke ondernemersrisico valt.
            </p>
          </div>
          <p>De verruiming heeft betrekking op alle personen met een handicap die aan de slag willen als zelfstandige. Voor jonggehandicapten
            die recht hebben op arbeidsondersteuning is de mogelijkheid in artikel 2:23, eerste lid, van de Wet werk en arbeidsondersteuning
            jonggehandicapten (Wet Wajong) opgenomen. Voor de overige groepen is de mogelijkheid om voorzieningen te verstrekken
            aan startende zelfstandigen nu niet meer geregeld in afzonderlijke sociale verzekeringswetten, maar in artikel 34a,
            eerste lid, van de Wet werk en inkomen naar arbeidsvermogen (Wet WIA). In verband daarmee is ook een aantal artikelen
            in het Reïntegratiebesluit gewijzigd.
          </p>
          <h4 class="divisiekop2">
            <a id="d76e405" name="d76e405"></a>Inkomensgrens
          </h4>
          <div class="alineagroep">
            <p>Het doel van de nieuwe regeling is om personen met een handicap te stimuleren om als zelfstandige aan de slag te gaan
              en daarbij belemmeringen weg te nemen. Daarnaast blijft evenwel het uitgangspunt gelden dat zelfstandig ondernemerschap
              ook een eigen verantwoordelijkheid met zich mee brengt én dat zelfstandigen bepaalde financiële risico’s zelf behoren
              te dragen. Daarom is er voor gekozen om een inkomensgrens vast te stellen waarboven zelfstandigen niet meer voor
              een vergoeding van voorzieningen op grond van de Wet WIA c.q. de Wet Wajong in aanmerking kunnen komen.
            </p>
            <p>Er is gekozen voor een inkomensgrens die starters financiële ruimte biedt om een gestarte onderneming tot ontwikkeling
              te kunnen brengen. In dit besluit wordt de grens gelegd bij een bruto winst van circa € 75 000
              <a class="nootnum supernote-click-n1"
                href="#n1">1</a> op jaarbasis. Dit betekent voor een zelfstandige een netto besteedbaar inkomen van circa €43 500. Hierbij is
              er vanuit gegaan dat de zelfstandige zelf de nodige voorzieningen treft voor zijn pensioen en voor eventuele arbeidsongeschiktheid.
              Evenals bij de (huidige) inkomensgrens voor vervoersvoorzieningen is de grens gekoppeld aan het maximumpremieloon.
              Voordeel hiervan is dat daarmee de grens automatisch wordt geïndexeerd en dat het Reïntegratiebesluit niet jaarlijks
              hoeft te worden aangepast.
            </p>
          </div>
          <div class="alineagroep">
            <p>In de eerste drie jaar na de start zal er veelal sprake zijn van een ‘ingroeisituatie’ waarin nog weinig tot geen winst
              wordt gemaakt. Het toepassen van een inkomenstoets door het UWV zou in veel gevallen dan neerkomen op een nodeloze
              administratieve belasting voor zowel het UWV als de starter. Voor de beginnend ondernemer is daarnaast een stabiele
              startsituatie van belang waarin hem de voorzieningen ter beschikking staan die hij nodig heeft om zijn bedrijf naar
              een positie te leiden die een goed uitgangspunt biedt voor verdere continuering. Het toepassen van een inkomenstoets
              in die situaties waarin in een van de eerste drie jaren na de start wél sprake zou zijn van een inkomen boven de
              inkomensgrens, zou hierop een verstorend effect hebben. Daarom wordt in dit besluit bepaald dat de inkomensgrens
              pas vanaf het vierde kalenderjaar na de start van toepassing is. Bovendien zal wanneer het inkomen van de starter
              met een handicap in betekende mate aan fluctuaties onderhevig blijft, voor de toepassing van de inkomensgrens in
              het vierde kalenderjaar, worden uitgegaan van de som van het inkomen in het vierde kalenderjaar en het inkomen over
              de twee daaraan voorafgaande kalenderjaren gedeeld door drie.
            </p>
            <p>In de Reïntegratieregeling zijn regels gesteld over de wijze van vaststelling van het inkomen.</p>
          </div>
          <h4 class="divisiekop2">
            <a id="d76e421" name="d76e421"></a>Begeleiding voor en na de start
          </h4>
          <p>Om te bevorderen dat de start als zelfstandige een goede kans van slagen heeft, is in dit besluit geregeld dat de startende
            zelfstandige met een handicap of ziekte tot een jaar na de start voor begeleiding in aanmerking kan komen. Het gaat
            dan om begeleiding die er op is gericht om de starter vertrouwd te maken met de verschillende aspecten van het ondernemerschap.
            De begeleiding kan al voor de (feitelijke) start van een bedrijf beginnen. Zo kan voor de start begeleiding worden
            gegeven bij het ontwikkelen van en nader vorm geven aan het ondernemersplan en het toetsen van de ondernemerskwaliteiten
            van de betrokkene. Na de start van het bedrijf kan begeleiding worden gegeven die is gericht op het ontwikkelen en
            voltooien van kennis en vaardigheden inzake de financiële en commerciële bedrijfsvoering.Het UWV is reeds vertrouwd
            met deze vorm van begeleiding omdat de kosten van begeleiding nu ook al door het UWV kunnen worden vergoed ten behoeve
            van personen die starten met behulp van een starterskrediet of borgstelling.
          </p>
          <p>Met de in dit besluit neergelegde verruiming van de mogelijkheden om aan starters begeleiding te bieden wordt invulling
            gegeven aan de motie Van Hijum c.s.
            <a class="nootnum supernote-click-n2" href="#n2">2</a>. Het verzoek om deze begeleiding te bieden in de vorm van een jobcoach is evenwel niet overgenomen. Bij een jobcoach
            gaat het immers, anders dan bij de hiervoor bedoelde begeleiding, om ondersteuning van een persoon die zonder die ondersteuning,
            geen arbeid kan verrichten. Het kenmerk van het ondernemerschap is nu juist «zelfstandigheid», de inzet van een jobcoach
            sluit daar niet op aan.
          </p>
          <p>Verder wordt in dit besluit bepaald dat geen vergoeding voor begeleidingskosten kan worden gegeven indien de desbetreffende
            persoon in aanmerking is gekomen voor een re-integratietraject of een individuele re-integratieovereenkomst. Deze personen
            kunnen immers in het kader van dat re-integratietraject of de individuele re-integratieovereenkomst in aanmerking komen
            voor begeleiding.
          </p>
          <h3 class="divisiekop1">
            <a id="d76e433" name="d76e433"></a>Artikelsgewijs
          </h3>
          <h4 class="divisiekop2">
            <a id="d76e436" name="d76e436"></a>Artikel I
          </h4>
          <h5 class="divisiekop3">
            <a id="d76e439" name="d76e439"></a>Onderdeel A
          </h5>
          <p>In samenhang met de wijziging van het opschrift van artikel 1 is ook het opschrift van paragraaf 1 aangepast, zodat dit
            beter de inhoud van deze paragraaf weergeeft.
          </p>
          <h5 class="divisiekop3">
            <a id="d76e444" name="d76e444"></a>Onderdeel B
          </h5>
          <p>Het opschrift van artikel 1 is gewijzigd, zodat dit beter de inhoud daarvan weergeeft.</p>
          <h5 class="divisiekop3">
            <a id="d76e449" name="d76e449"></a>Onderdeel C
          </h5>
          <p>Met de wijzigingswet zijn de artikelen 34, tweede lid, van de Wet WIA, 3:64 van de Wet arbeidsongeschiktheidsvoorziening
            jonggehandicapten (Wajong), 65e van de Wet op de arbeidsongeschiktheidsverzekering (WAO), 67c van de Wet op de arbeidsongeschiktheidsverzekering
            zelfstandigen (WAZ) en 52d van de Ziektewet vervallen. Deze artikelen vormden mede de wettelijke grondslag voor het
            Reïntegratiebesluit. Uit een oogpunt van duidelijkheid is in een nieuw artikel 1a aangegeven welke artikelen na de
            wijzigingswet de wettelijke grondslag voor het Reïntegratiebesluit vormen.
          </p>
          <h5 class="divisiekop3">
            <a id="d76e454" name="d76e454"></a>Onderdelen D tot en met J
          </h5>
          <p>Met de wijzigingswet zijn de artikelen 34, tweede lid, van de Wet WIA, 3:64 van de Wajong, 65e van de WAO, 67c van de
            WAZ en 52d van de Ziektewet vervangen door de artikelen 34a, tweede lid, van de Wet WIA en 2:23, eerste lid, van de
            Wet Wajong. Deze wijzigingen zijn verwerkt in de artikelen 2, eerste lid, aanhef, 3, derde lid, 4, 13, eerste lid,
            14, eerste lid, 15, eerste lid, aanhef, en 15a, eerste lid, van het Reïntegratiebesluit.
          </p>
          <h5 class="divisiekop3">
            <a id="d76e459" name="d76e459"></a>Onderdelen G tot en met J
          </h5>
          <div class="alineagroep">
            <p>Zoals al in het algemeen deel van deze nota van toelichting is aangegeven kunnen voorzieningen niet alleen worden verstrekt
              in het kader van de bevordering van de inschakeling bij de arbeid als zelfstandige (re-integratie), maar ook in het
              kader van de bevordering van de ondersteuning bij de arbeid als zelfstandig ondernemer. De verstrekking van voorzieningen
              is niet meer beperkt tot de re-integratieperiode; voorzieningen kunnen door het UWV voor de duur van het zelfstandig
              ondernemerschap worden verstrekt
            </p>
            <p>Het opschrift van de artikelen 13 tot en met 15 en 15a is daarmee in overeenstemming gebracht.</p>
          </div>
          <h5 class="divisiekop3">
            <a id="d76e467" name="d76e467"></a>Onderdeel G
          </h5>
          <p>Artikel 13, derde lid, is gewijzigd teneinde daarin expliciet tot uitdrukking te brengen dat de artikelen 5, 6 en 8 niet
            alleen van overeenkomstige toepassing zijn op de verlening van voorzieningen, maar ook op de beëindiging daarvan.
          </p>
          <h5 class="divisiekop3">
            <a id="d76e472" name="d76e472"></a>Onderdelen G, H en J
          </h5>
          <p>Artikel 13, vierde lid, 14, derde lid, en 15a, derde lid, zijn vervallen. In deze artikelleden was bepaald dat het UWV
            een voorziening nog gedurende een bepaalde periode kon verlengen indien het recht op die voorziening eindigt omdat
            er ten gevolge van het verrichten van arbeid als zelfstandige geen recht op uitkering meer bestaat. Aan deze bevoegdheid
            van het UWV bestaat geen behoefte meer, omdat na de wetswijziging voorzieningen niet alleen kunnen worden verstrekt
            gedurende de re-integratieperiode maar voor de duur van het zelfstandig ondernemerschap en een voorziening ook kan
            worden verleend aan personen die geen uitkering (meer) hebben.
          </p>
          <h5 class="divisiekop3">
            <a id="d76e477" name="d76e477"></a>Onderdeel I
          </h5>
          <p>Het derde lid van artikel 15 is gewijzigd zodat het UWV op aanvraag, ook los van een lening of borgtocht, een vergoeding
            kan vertrekken voor de kosten van begeleiding ten behoeve van de start van een eigen bedrijf. Om in aanmerking te komen
            voor een dergelijke vergoeding dient te worden voldaan aan de zelfde voorwaarden als die – zoals genoemd in het eerste
            lid onder a en b – waaraan moet worden voldaan om in aanmerking te komen voor een lening of borgtocht. Bij artikel
            I, onderdeel H, van het Besluit van 29 december 2008 houdende de wijziging van het Reïntegratiebesluit in verband met
            het op € 0 stellen van de drempelbedragen bij de verstrekking van subsidie voor werkgeversvoorzieningen en enkele overige
            aanpassingen met betrekking tot re-integratievoorzie
            <!--?xpp afbm?-->ningen en onderwijsvoorzieningen (
            <a href="stb-2008-602.html" title="link naar publicatie stb-2008-602">Stb. 602</a>) zijn aan artikel 15 twee leden toegevoegd, die abusievelijk derde en vierde lid waren genummerd in plaats
            van tweede en derde lid. Van de gelegenheid wordt gebruik gemaakt om dit in het onderhavige besluit te corrigeren.
          </p>
          <h5 class="divisiekop3">
            <a id="d76e487" name="d76e487"></a>Onderdeel K
          </h5>
          <p>In artikel 15b, eerste lid, is bepaald dat voorzieningen als bedoeld in de artikelen 14 en 15a niet worden verleend of
            worden beëindigd indien het inkomen van de persoon die de voorziening aanvraagt of aan wie de voorziening is verleend,
            in het vierde kalenderjaar na de aanvang van de arbeid als zelfstandige, dan wel een daarop volgend jaar, meer bedraagt
            dan 261 maal 157 % van het maximumpremiedagloon per dag. Het maximumpremieloon per dag is het bedrag, bedoeld in artikel
            17, eerste lid, van de Wet financiering sociale verzekeringen (Wfsv). In artikel 9 van de Regeling vaststelling premiepercentages
            werknemersverzekeringen en volksverzekeringen 2009 is het maximumpremiedagloon voor 2009 vastgesteld op € 183,15. Uitgaande
            van dit maximumpremiedagloon zou de grens komen te liggen bij een inkomen van € 75 049, 38.
          </p>
          <div class="alineagroep">
            <p>De voorzieningen worden beëindigd zodra in het vierde of een later kalenderjaar na de start als zelfstandige de inkomensgrens
              wordt gepasseerd. Dit betekent dat in de eerste drie kalenderjaren na de aanvang van de arbeid als zelfstandige geen
              inkomenstoets plaatsvindt.
            </p>
            <p>Voor de zelfstandige aan wie twee jaar na de aanvang van de arbeid als zelfstandige een voorziening is verleend, op
              grond van een ziekte of handicap die al bij de aanvang van de arbeid als zelfstandige aanwezig was, vindt dus een
              inkomenstoets plaats in het tweede kalenderjaar na het kalenderjaar waarin de voorziening is verleend.
            </p>
          </div>
          <div class="alineagroep">
            <p>Voor (leef)vervoersvoorzieningen blijft de huidige inkomenstoets, zoals geregeld in artikel 5, van toepassing. Dit
              vloeit voort uit artikel 13, derde lid, waarin artikel 5 van overeenkomstige toepassing wordt verklaard op (leef)vervoersvoorzieningen
              bij inschakeling in en ondersteuning bij arbeid als zelfstandige.
            </p>
            <p>Hiervoor is gekozen omdat er anders bij de verlening van (leef)vervoersvoorzieningen aan werknemers een andere inkomenstoets
              zou gelden dan bij de verlening van (leef)vervoersvoorzieningen aan zelfstandigen.
            </p>
            <p>De inkomenstoets van artikel 15b is echter wel van toepassing op de verlening van (leef)vervoersvoorzieningen ten aanzien
              waarvan op grond van artikel 5, vierde lid, onder c, is bepaald dat de inkomenstoets van artikel 5, eerste lid, niet
              van toepassing is. Dit is geregeld in artikel 15b, vijfde lid.
            </p>
            <p>Het betreft de in artikel 12 van de Reïntegratieregeling bedoelde vervoersvoorzieningen.</p>
          </div>
          <p>Indien het inkomen van de persoon, bedoeld in het eerste lid, in betekenende mate van jaar tot jaar verschilt, wordt
            voor de toepassing van het eerste lid niet uitgegaan van het inkomen in enig kalenderjaar, maar van het gemiddeld inkomen
            over drie kalenderjaren.
          </p>
          <p>In het derde lid is bepaald dat bij ministeriële regeling regels worden gesteld over de wijze van vaststelling van het
            inkomen, bedoeld in het eerste lid. Daarbij kan worden bepaald dat bij de vaststelling van het inkomen mede in aanmerking
            wordt genomen het inkomen van de echtgenoot, de partner of een ander gezinslid van de in het eerste lid bedoelde persoon.
            Met deze ministeriële regeling wordt gedoeld op de Reïntegratieregeling die gelijktijdig met het Reïntegratiebesluit
            is aangepast.
          </p>
          <h4 class="divisiekop2">
            <a id="d76e510" name="d76e510"></a>Artikel II
          </h4>
          <p>Op grond van artikel 34a, eerste lid, van de Wet WIA kunnen ook personen met een uitkering op grond van de WWB die naar
            het oordeel van het UWV een structurele functionele beperking hebben en die arbeid als zelfstandige verrichten of gaan
            verrichten, in aanmerking komen voor voorzieningen. Deze voorzieningen kunnen een lening of borgtocht betreffen ter
            voorziening in de behoefte aan bedrijfskapitaal en in een vergoeding voor de kosten van begeleiding ten behoeve van
            de start van een bedrijf. Artikel 14 van het Besluit bijstandverlening zelfstandigen 2004 (Bbz 2004) biedt ook de mogelijkheid
            van bijstand ter voorziening in de behoefte aan bedrijfskapitaal. Van de in dat artikel geboden mogelijkheid kunnen
            personen met een WWB-uitkering echter geen gebruik maken, omdat artikel 34a Wet WIA ten opzichte van artikel 14 Bbz
            2004 als een voorliggende voorziening als bedoeld in artikel 15 van de WWB moet worden beschouwd. Ter voorkoming van
            misverstanden op dit punt is voor de duidelijkheid in artikel 14, derde lid, van het Bbz 2004 bepaald dat bijstand
            ter voorziening in de behoefte aan bedrijfskapitaal niet kan worden verleend aan personen die al een beroep kunnen
            doen op artikel 34a, eerste lid, van de Wet WIA.
          </p>
          <h4 class="divisiekop2">
            <a id="d76e515" name="d76e515"></a>Artikel III
          </h4>
          <p>Omdat het onderhavige wijzigingsbesluit voortvloeit uit de Wet van 3&nbsp;december 2009 tot uitbreiding van de mogelijkheid
            om voorzieningen te verstrekken bij arbeid als zelfstandige (
            <a href="stb-2009-589.html" title="link naar publicatie stb-2009-589">Stb. 589</a>) dient het op het zelfde tijdstip als deze wet in werking te treden. Het beoogde tijdstip van inwerkingtreding
            van deze wet is 1 januari 2010.
          </p>
          <div class="ondertekening">
            <p class="functie">De Minister van Sociale Zaken en Werkgelegenheid,</p>
            <p class="naam">J. P. H. Donner </p>
          </div>
        </div>
        <div id="noten">
          <hr>
          <div class="noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n1">
            <h5 class="note-close">
              <a class="note-close" href="#close-n1">X</a>Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="n1" name="n1"></a>1</span>
            </sup>
            <p> 2,4 x het bruto modaal inkomen van een werknemer.</p>
          </div>
          <div class="noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n2">
            <h5 class="note-close">
              <a class="note-close" href="#close-n2">X</a>Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="n2" name="n2"></a>2</span>
            </sup>
            <p> Kamerstukken II 2007/08,
              <a href="kst-31224-8.html" title="link naar publicatie kst-31224-8">31 224, nr. 8</a>.
            </p>
          </div>
          <div class="histnoot snp-mouseoffset snb-pinned notedefault" id="supernote-note-d68e686">
            <h5 class="note-close">
              <a class="note-close" href="#close-d68e686">X</a>Histnoot
            </h5>
            <span class="nootnum histnoot">
              <a id="d68e686" name="d68e686"></a>histnoot </span>
            <p>Het advies van de Raad van State wordt niet openbaar gemaakt op grond van artikel 25a, vijfde lid j° vierde lid, onder
              b van de Wet op de Raad van State, omdat het uitsluitend opmerkingen van redactionele aard bevat.
            </p>
          </div>
        </div>
      </div>
    </article>

  </div>
</div>
