<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
                <h1 class="staatsblad_kop"><a id="d6975e47" name="d6975e47"></a>Besluit van 31 augustus 2010, houdende wijziging van het Warenwetbesluit bestuurlijke boeten
         </h1><div class="aanhef"><a id="d6975e51" name="d6975e51"></a><p class="wij">Wij Beatrix, bij de gratie Gods, Koningin der Nederlanden, Prinses van Oranje-Nassau, enz. enz. enz.</p><p class="considerans.al">Op de voordracht van Onze Minister van Volksgezondheid, Welzijn en Sport van 17&nbsp;juni 2010, VGP/VC 3007213, gedaan in overeenstemming
               met Onze Ministers van Economische Zaken en van Justitie;
            </p><p class="considerans.al">Gelet op artikel 32b, eerste lid, van de Warenwet;</p><p class="considerans.al">De Raad van State gehoord (advies van 24 juni 2010, no.&nbsp;W13.10.0246/I);</p><p class="considerans.al">Gezien het nader rapport van Onze Minister van Volksgezondheid, Welzijn en Sport van 23 augustus 2010, VGP/VC 3018498, uitgebracht
               in overeenstemming met Onze Ministers van Economische Zaken en van Justitie;
            </p><p class="afkondiging">Hebben goedgevonden en verstaan:</p></div><div class="wettekst"><a id="d6975e67" name="d6975e67"></a><h3 class="wijzig-artikel_kop"><a id="d6975e70" name="d6975e70"></a>ARTIKEL I
            </h3><p class="wat">In de bijlage bij het Warenwetbesluit bestuurlijke boeten wordt:</p><div class="wijziging"><p class="wat labeled"><span class="nr">a.</span> «€ 450,–» steeds vervangen door: € 525,–;
               </p></div><div class="wijziging"><p class="wat labeled"><span class="nr">b.</span> «€ 680,–» steeds vervangen door: € 795,–;
               </p></div><div class="wijziging"><p class="wat labeled"><span class="nr">c.</span> «€ 900,–» steeds vervangen door: € 1050,–;
               </p></div><div class="wijziging"><p class="wat labeled"><span class="nr">d.</span> «€ 1360,–» steeds vervangen door: € 1590,–;
               </p></div><div class="wijziging"><p class="wat labeled"><span class="nr">e.</span> «€ 1800,–» steeds vervangen door: € 2100,–.
               </p></div><div class="artikel"><h3 class="artikel_kop"><a id="d6975e101" name="d6975e101"></a>ARTIKEL II
               </h3><p>Ten aanzien van overtredingen, begaan vóór de inwerkingtreding van dit besluit, geldt het Warenwetbesluit bestuurlijke boeten
                  zoals dat luidde onmiddellijk vóór dat tijdstip.
               </p></div><div class="artikel"><h3 class="artikel_kop"><a id="d6975e107" name="d6975e107"></a>ARTIKEL III
               </h3><p>Dit besluit treedt in werking met ingang van acht weken na de datum van uitgifte van het Staatsblad waarin dit besluit geplaatst
                  wordt.
               </p></div></div><div class="wetsluiting"><a id="d6975e113" name="d6975e113"></a><div class="slotformulering"><p>Lasten en bevelen dat dit besluit met de daarbij behorende nota van toelichting in het Staatsblad zal worden geplaatst.<sup class="histnoot"><a class="nootnum supernote-click-d6957e192" href="#d6957e192">histnoot</a></sup></p></div><div class="gegeven"><p class="dagtekening">’s-Gravenhage, 31 augustus 2010</p><p class="koning">Beatrix</p></div><div class="ondertekening"><p class="functie">De Minister van Volksgezondheid, Welzijn en Sport,</p><p class="naam">A. Klink </p></div><div class="uitgifte"><p>Uitgegeven de <em class="cur">veertiende</em> september 2010
               </p><div class="ondertekening"><p class="functie">De Minister van Justitie,</p><p class="naam">E. M. H. Hirsch Ballin </p></div></div></div><div class="nota-toelichting"><h2 class="nota-toelichting_kop"><a id="d6975e144" name="d6975e144"></a>NOTA VAN TOELICHTING
            </h2><p>Op 1 februari 2001 is het Warenwetbesluit bestuurlijke boeten in werking getreden. Sinds dat tijdstip kan bij overtreding
               van een warenwettelijk voorschrift een bestuurlijke boete worden opgelegd.
            </p><div class="alineagroep"><p>Bij de inwerkingtreding van het Warenwetbesluit bestuurlijke boeten werden – afhankelijk van de grootte van het bedrijf en
                  de ernst van de overtreding – de volgende tarieven gehanteerd:
               </p><ul class="expliciet whitespace-small"><li class="li"><p class="labeled"><span class="ol">– </span>bij kleine bedrijven (50 of minder werknemers): ƒ&nbsp;1000, ƒ&nbsp;1500 en ƒ&nbsp;2000;
                     </p></li><li class="li"><p class="labeled"><span class="ol">– </span>bij grote bedrijven (meer dan 50 werknemers): ƒ&nbsp;2000, ƒ&nbsp;3000 en ƒ&nbsp;4000.
                     </p></li></ul></div><div class="alineagroep"><p>Bij de introductie van de euro (1 januari 2002) zijn deze tarieven omgerekend in euro’s en naar beneden afgerond op ronde
                  bedragen. Deze tarieven zijn tot de inwerkingtreding van dit besluit niet gewijzigd:
               </p><ul class="expliciet whitespace-small"><li class="li"><p class="labeled"><span class="ol">– </span>bij kleine bedrijven: €&nbsp;450, €&nbsp;680 en €&nbsp;900;
                     </p></li><li class="li"><p class="labeled"><span class="ol">– </span>bij grote bedrijven: € 900, € 1360 en € 1800.
                     </p></li></ul></div><p>Vanaf 2002 heeft zich de volgende ontwikkeling voorgedaan van de consumentenprijsindex<a class="nootnum supernote-click-n1" href="#n1">1</a>:
            </p><table class="xml portrait" cellspacing="0" border="1" frame="hsides" rules="none"><colgroup><col title="col1" class="pct32"><col title="col2" class="pct32"><col title="col3" class="pct36"></colgroup><thead class="left bottom thead"><tr class="left middle head-row2 xml2head"><th scope="col" class="left top border-row"><p>jaar</p></th><th scope="col" class="left top border-row"><p>%</p></th><th scope="col" class="left top border-row"><p>index 2001=100</p></th></tr></thead><tbody class="left top tbody"><tr class="left middle odd"><td class="left top"><p>2002</p></td><td class="left top"><p>3,4</p></td><td class="left top"><p>103,400</p></td></tr><tr class="left middle even"><td class="left top"><p>2003</p></td><td class="left top"><p>2,1</p></td><td class="left top"><p>105,571</p></td></tr><tr class="left middle odd"><td class="left top"><p>2004</p></td><td class="left top"><p>1,2</p></td><td class="left top"><p>106,838</p></td></tr><tr class="left middle even"><td class="left top"><p>2005</p></td><td class="left top"><p>1,7</p></td><td class="left top"><p>108,655</p></td></tr><tr class="left middle odd"><td class="left top"><p>2006</p></td><td class="left top"><p>1,1</p></td><td class="left top"><p>109,850</p></td></tr><tr class="left middle even"><td class="left top"><p>2007</p></td><td class="left top"><p>1,6</p></td><td class="left top"><p>111,607</p></td></tr><tr class="left middle odd"><td class="left top"><p>2008</p></td><td class="left top"><p>2,5</p></td><td class="left top"><p>114,397</p></td></tr><tr class="left middle even"><td class="left top"><p>2009</p></td><td class="left top"><p>1,2</p></td><td class="left top"><p>115,770</p></td></tr><tr class="left middle odd"><td class="left top"><p>2010</p></td><td class="left top"><p>1,0</p></td><td class="left top"><p>116,928</p></td></tr></tbody></table><p>Gezien deze ontwikkeling zijn de tarieven van de bestuurlijke boeten bij artikel&nbsp;I van dit besluit verhoogd met 17%, en vervolgens
               naar beneden afgerond op ronde bedragen. Hiermee zijn deze tarieven aangepast aan de sinds 2002 opgetreden inflatie.
            </p><p>Het is de bedoeling deze tarieven voortaan jaarlijks per 1 januari aan te passen aan de inflatie, voor de eerste keer op 1&nbsp;januari
               2012.
            </p><p>Artikel II bevat een overgangsregeling voor overtredingen die zijn begaan vóór de inwerkingtreding van dit besluit. In die
               gevallen dienen de oude (lagere) tarieven in rekening te worden gebracht, ook als het desbetreffende boetebesluit pas na dat
               tijdstip is vastgesteld. Een onverwacht lange tijd tussen een overtreding en het vaststellen van het boetebesluit, kan dus
               geen nadelige gevolgen hebben voor de overtreder.
            </p><p>Het tijdstip van inwerkingtreding van dit besluit (artikel III) is gekozen met inachtneming van artikel 32b, tweede lid, van
               de Warenwet. Dit besluit heeft geen directe gevolgen voor bedrijven, zodat het besluit van het kabinet inzake vaste verandermomenten
               van regelgeving hier niet van toepassing is.
            </p><p>In onderstaande tabel is het voorgaande samengevat.</p><table class="xml portrait" cellspacing="0" border="1" frame="hsides" rules="none"><colgroup><col title="col1" class="pct50"><col title="col2" class="pct16"><col title="col3" class="pct17"><col title="col4" class="pct18"></colgroup><thead class="left bottom thead"><tr class="left middle head-row2 xml2head"><th scope="col" class="left top border-row">&nbsp;</th><th scope="col" class="right top border-row"><p>2001</p></th><th scope="col" class="right top border-row"><p>oude tarieven sinds 1-1-2002</p></th><th scope="col" class="right top border-row"><p>nieuwe tarieven</p></th></tr></thead><tbody class="left top tbody"><tr class="left middle odd"><td class="left top"><p>Bestuurlijke boete bij kleine bedrijven <!--?xpp afbreek?-->(50 of minder werknemers)</p></td><td class="right bottom"><p>ƒ 1000</p></td><td class="right bottom"><p>€ 450</p></td><td class="right bottom"><p>€ 525</p></td></tr><tr class="left middle even"><td class="left top">&nbsp;</td><td class="right bottom"><p>ƒ 1500</p></td><td class="right bottom"><p>€ 680</p></td><td class="right bottom"><p>€ 795</p></td></tr><tr class="left middle odd"><td class="left top">&nbsp;</td><td class="right bottom"><p>ƒ 2000</p></td><td class="right bottom"><p>€ 900</p></td><td class="right bottom"><p>€ 1050</p></td></tr><tr class="left middle even"><td class="left top">&nbsp;</td><td class="right bottom">&nbsp;</td><td class="right bottom">&nbsp;</td><td class="right bottom">&nbsp;</td></tr><tr class="left middle odd"><td class="left top"><p>Bestuurlijke boete bij grote bedrijven <!--?xpp afbreek?-->(meer dan 50 werknemers)</p></td><td class="right bottom"><p>ƒ 2000</p></td><td class="right bottom"><p>€ 900</p></td><td class="right bottom"><p>€ 1050</p></td></tr><tr class="left middle even"><td class="left top">&nbsp;</td><td class="right bottom"><p>ƒ 3000</p></td><td class="right bottom"><p>€ 1360</p></td><td class="right bottom"><p>€ 1590</p></td></tr><tr class="left middle odd"><td class="left top">&nbsp;</td><td class="right bottom"><p>ƒ 4000</p></td><td class="right bottom"><p>€ 1800</p></td><td class="right bottom"><p>€ 2100</p></td></tr></tbody></table><h3 class="divisiekop1"><a id="d6975e599" name="d6975e599"></a>Bedrijfseffecten
            </h3><p>Dit besluit heeft geen gevolgen voor de administratieve lasten voor de burger of het bedrijfsleven, en heeft ook verder geen
               bedrijfseffecten.
            </p><h3 class="divisiekop1"><a id="d6975e604" name="d6975e604"></a>Regulier Overleg Warenwet
            </h3><p>Het ontwerp van dit besluit is voorgelegd aan de deelnemers aan het Regulier Overleg Warenwet (ROW)<a class="nootnum supernote-click-n2" href="#n2">2</a>. Deze consultatie heeft niet geleid tot commentaar op het ontwerpbesluit.
            </p><div class="ondertekening"><p class="functie">De Minister van Volksgezondheid, Welzijn en Sport,</p><p class="naam">A. Klink </p></div></div><div id="noten"><hr><div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n1"><h5 class="note-close"><a class="note-close" href="#close-n1">X</a>Noot
               </h5><sup><span class="nootnum"><a id="n1" name="n1"></a>1</span></sup><p>Bronnen:</p><p>– CPB/Macro-Economische Verkenning 2010, bijlage&nbsp;7 Prijzen, lonen en koppeling, 1970–2010 (september 2009);</p><p>– CBS, persbericht 7 januari 2010 «Inflatie stijgt verder».</p></div><div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n2"><h5 class="note-close"><a class="note-close" href="#close-n2">X</a>Noot
               </h5><sup><span class="nootnum"><a id="n2" name="n2"></a>2</span></sup><p>Aan het ROW nemen vertegenwoordigers deel van ondernemers (industrie en handel), van consumenten, van ministeries (met name
                  van Volksgezondheid, Welzijn en Sport, van Landbouw, Natuur en Voedselkwaliteit, en van Economische Zaken), van de Voedsel
                  en Waren Autoriteit, en van product- en bedrijfschappen.
               </p></div><div class="raad-van-state histnoot snp-mouseoffset snb-pinned notedefault" id="supernote-note-d6957e192"><h5 class="note-close"><a class="note-close" href="#close-d6957e192">X</a>Histnoot
               </h5><span class="nootnum histnoot"><a id="d6957e192" name="d6957e192"></a>histnoot </span><p>Het advies van de Raad van State wordt niet openbaar gemaakt op grond van artikel 26, zesde lid j° vijfde lid, van de Wet
                  op de Raad van State, omdat het zonder meer instemmend luidt.
               </p></div></div>
            </div>

                </article>

  </div>
</div>
