<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="staatscourant_kop">
          <a id="d15323e49" name="d15323e49"></a>Stimulans voor Artistiek Succes
        </h1>
        <div class="voorwerk">
          <p>Speelfilm, Documentaire, Animatie en O&amp;O</p>
          <p>Uitvoeringsreglement aanvragen voor een financiële bijdrage teneinde een stimulans te geven voor ontwikkeling van één
            (of meer) nieuwe project(en).
          </p>
        </div>
        <div class="regeling">
          <div class="aanhef">
            <a id="d15323e62" name="d15323e62"></a>
            <div class="context">
              <p class="context_al datum">15 december 2009</p>
              <p class="context_al kenmerk">Nr. 2009461/GB</p>
            </div>
            <p class="wie">Het bestuur van de Stichting Nederlands Fonds voor de Film,</p>
            <p class="considerans.al">Gelet op artikel 10, vierde lid, van de Wet op het specifiek cultuurbeleid;</p>
            <p class="afkondiging">Besluit:</p>
          </div>
          <div class="regeling-tekst">
            <a id="d15323e77" name="d15323e77"></a>
            <h3 class="hoofdstuk_kop">
              <a id="d15323e80" name="d15323e80"></a>I ARTISTIEKE SPEELFILM
            </h3>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e84" name="d15323e84"></a>1. Definities
              </h4>
              <div class="artikel">
                <h5 class="artikel_kop">
                  <a id="d15323e88" name="d15323e88"></a>Artikel 1.
                </h5>
                <p>In dit reglement wordt verstaan onder:</p>
                <dl class="inline whitespace-large">
                  <dt>
                    <span class="ol">• </span>het Bestuur:
                  </dt>
                  <dd>
                    <p>het Bestuur als bedoeld in artikel 5 e.v. van de statuten van het Fonds.</p>
                  </dd>
                  <dt>
                    <span class="ol">• </span>Fonds:
                  </dt>
                  <dd>
                    <p>het Nederlands Fonds voor de Film</p>
                  </dd>
                  <dt>
                    <span class="ol">• </span>speelfilm:
                  </dt>
                  <dd>
                    <p>een fictiefilm met een vertoningduur van tenminste 70 minuten, bestemd voor vertoning in een bioscoop- of filmtheater.</p>
                  </dd>
                  <dt>
                    <span class="ol">• </span>ontwikkeling:
                  </dt>
                  <dd>
                    <p>scenario-ontwikkeling en projectontwikkeling</p>
                  </dd>
                  <dt>
                    <span class="ol">• </span>project:
                  </dt>
                  <dd>
                    <p>de werkzaamheden, geheel of gedeeltelijk, verbonden aan de totstandkoming, distributie, exploitatie en vertoning
                      van een film.</p>
                  </dd>
                  <dt>
                    <span class="ol">• </span>projectontwikkeling:
                  </dt>
                  <dd>
                    <p>alle werkzaamheden verbonden aan de zakelijke opzet van het project zoals locatieresearch, casting, financieringsopzet,
                      de opzet van een internationale coproductie, het (doen) verrichten van voorverkopen e.d.
                    </p>
                  </dd>
                  <dt>
                    <span class="ol">• </span>scenario-ontwikkeling:
                  </dt>
                  <dd>
                    <p>alle werkzaamheden verbonden aan de ontwikkeling van een scenario.</p>
                  </dd>
                  <dt>
                    <span class="ol">• </span>stimulans:
                  </dt>
                  <dd>
                    <p>een financiële bijdrage teneinde een aanzet te geven voor ontwikkeling van één (of meer) nieuwe project(en).</p>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e170" name="d15323e170"></a>2. Doel
              </h4>
              <div class="artikel">
                <h5 class="artikel_kop">
                  <a id="d15323e174" name="d15323e174"></a>Artikel 2
                </h5>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Het Bestuur kan aan een producent, scenarioschrijver, en regisseur van een speelfilm die de kwaliteit
                      en diversiteit van de filmproductie in Nederland succesvol hebben bevorderd een stimulans verlenen teneinde
                      hen te ondersteunen c.q te stimuleren bij de ontwikkeling van (een) nieuw(e) projecten(s).
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Het Bestuur verleent een stimulans aan speelfilms die succesvol zijn geweest op basis van (competitie-)deelname
                      aan bepaalde internationale festivals.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e189" name="d15323e189"></a>3. Criteria
              </h4>
              <div class="artikel">
                <h5 class="artikel_kop">
                  <a id="d15323e193" name="d15323e193"></a>Artikel 3
                </h5>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Het artistieke succes van een speelfilm wordt door het Bestuur gemeten over één kalenderjaar, aan
                      de hand van de deelname aan internationale festivals, waarbij een onderscheid wordt gemaakt tussen twee categorieën
                      festivals. Het gaat uitsluitend om deelname aan festivalonderdelen en selectie voor competities als bedoeld
                      onder categorie 1 en 2 genoemd in III Bijlage festivals van dit reglement. Het winnen van prijzen op de festivals
                      wordt in deze regeling niet afzonderlijk beloond. Het bestuur behoudt zich het recht voor de lijst indien
                      nodig aan te passen, naar gelang een filmfestival aan relevantie en internationale waardering wint.
                    </p>
                    <p>De periode loopt per kalenderjaar. Om in aanmerking te komen voor de stimulans voor artistiek succes dient
                      de filmmaker zelf aan het Filmfonds te melden voor welke festivals de film het afgelopen jaar geselecteerd
                      is geweest. Staat een van deze festivals in de lijst algemeen of specifiek, dan komen de makers in aanmerking
                      voor de prijs. Deze melding dient uiterlijk voor 10 decembervan het betreffende jaar te geschieden.
                    </p>
                  </li>
                  <li>
                    <p class="tussenkop">
                      <strong class="tussenkop_cur">Bijdrage</strong>
                    </p>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Wanneer een lange speelfilm wordt geselecteerd voor één van de onderdelen van een festival genoemd
                      onder categorie 1 van III bijlage festivals van dit reglement kan het Bestuur voor de film een stimulans
                      van 75.000 euro toekennen. De stimulans komt ten goede aan de producent, scenarioschrijver en de regisseur
                      van de film. De producent dient 15.000 euro te besteden aan onkosten in verband met het festival waaraan
                      de film mag deelnemen. De rest van de stimulans is bestemd voor de ontwikkeling van (een) nieuw(e) project(en).
                      De producent, scenarioschrijver en de regisseur dienen 60.000 euro te verdelen volgens de verdeelsleutel
                      70%, 15%, 15%.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> Wanneer een lange speelfilm wordt geselecteerd voor één van de onderdelen van een festival genoemd
                      onder categorie 2 van III Bijlage festivals van dit reglement kan het Bestuur voor de film een stimulans
                      van 25.000 euro toekennen. De stimulans komt uitsluitend ten goede aan de producent van de film. De producent
                      dient 7.500 euro te besteden aan onkosten in verband met het festival waaraan de film mag deelnemen. De rest
                      van de stimulans – ofwel 17.500 euro – is bestemd voor de ontwikkeling van (een) nieuw(e) project(en).
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e218" name="d15323e218"></a>4. Voorwaarden
              </h4>
              <div class="artikel">
                <h5 class="artikel_kop">
                  <a id="d15323e222" name="d15323e222"></a>Artikel 4
                </h5>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> Het Bestuur kan alleen een stimulans toekennen indien de film is geproduceerd door een producent
                      (natuurlijk persoon of rechtspersoon) die voldoet aan de voorwaarden vermeld in het Bijdragereglement.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Indien sprake is van een internationale coproductie kan het Bestuur alleen een stimulans toekennen
                      indien één van de producenten van de film voldoet aan de hiervoor onder 4.1 a) tot en met c) genoemde voorwaarden
                      en bij het Bestuur bekend is dat deze producent voor 50% of meer heeft bijdragen aan de ontwikkelings- en
                      realiseringskosten van die film (meerderheidsproducent).
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> Het Bestuur stelt geen nadere voorwaarden aan de woonplaats of plaats van vestiging van de scenarioschrijver(s).
                      Hetzelfde geldt voor de regisseur.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e242" name="d15323e242"></a>5. Bekendmaking
              </h4>
              <div class="artikel">
                <h5 class="artikel_kop">
                  <a id="d15323e246" name="d15323e246"></a>Artikel 5.
                </h5>
                <p>Het Bestuur zal na het bekend worden van deelname of selectie van een speelfilm voor één van de festivals aan de
                  desbetreffende producent, scenarioschrijver(s) en regisseur van die film bekendmaken of de film in aanmerking
                  komt voor een stimulans.
                </p>
              </div>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e252" name="d15323e252"></a>6. Aanvraag
              </h4>
              <div class="artikel">
                <h5 class="artikel_kop">
                  <a id="d15323e256" name="d15323e256"></a>Artikel 6
                </h5>
                <ul class="artikel_leden whitespace-small">
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">1.</span> De stimulans is, met uitzondering van het gedeelte dat overeenkomstig het bepaalde in 3.2 dient
                      te worden besteed aan
                      <em class="cur">onkosten</em> in verband met deelname aan een festival, bestemd voor de ontwikkeling van (een) nieuw(e) project(en).
                      De producent, scenarioschrijver en regisseur van een speelfilm die in aanmerking is gekomen voor een stimulans,
                      dienen in het daarvoor bestemde aanvraagformulier in te vullen voor welk project zij de stimulans (of een
                      gedeelte daarvan) wensen te benutten. Het aanvraagformulier dient uiterlijk binnen twee jaar na de bekendmaking
                      door het Bestuur te zijn ontvangen.
                    </p>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">2.</span> Indien de stimulans zal worden benut voor
                      <em class="cur">scenario-ontwikkeling</em> zullen bij de aanvraag voor een stimulans (het aanvraagformulier) de volgende
                      gegevens dienen te worden overgelegd:
                    </p>
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een overeenkomst van de maker(s) van het filmproject, waaruit blijkt door welke producent, scenarioschrijver
                          en regisseur het project zal worden gerealiseerd.
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een synopsis (of een treatment, waarin het filmproject is samengevat), een Nederlandse toelichting
                          van de maker(s) op het filmproject;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een begroting, waarin de met de scenario-ontwikkeling samenhangende kosten zijn gespecificeerd,
                          alsmede de financiering hiervan. De stimulans of een gedeelte daarvan (ten minste 20% van de begrote
                          kosten) mag in deze begroting worden opgenomen als eigen investering van de aanvrager;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een indicatie van de kosten van de realisering;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een overeenkomst van de scenarioschrijver en – voor zover van toepassing – van de auteur van
                          het bestaande werk waarop het scenario is gebaseerd, waaruit blijkt wie bij oplevering van het scenario,
                          al dan niet door middel van een exclusieve licentie, enig rechthebbende zal zijn op de verfilmingsrechten
                          daarop of tenminste over een – hernieuwbare – optie op deze rechten beschikt.
                        </p>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">3.</span> Indien de stimulans zal worden benut voor
                      <em class="cur">projectontwikkeling</em> zal bij de aanvraag voor een stimulans (het aanvraagformulier) de volgende gegevens
                      dienen te worden overgelegd:
                    </p>
                    <ul class="expliciet whitespace-small">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een overeenkomst van de maker(s) van het filmproject, waaruit blijkt door welke producent, scenarioschrijver
                          en regisseur het project zal worden gerealiseerd.
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een indicatie van de kosten van de realisering en afwerking van de speelfilm en van de financieringsopzet
                          daarvan;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een planning voor de preproductie van de film
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een begroting, waarin de met de projectontwikkeling samenhangende kosten zijn gespecificeerd,
                          alsmede de financiering hiervan. De stimulans of een gedeelte daarvan (ten minste 30% van de begrote
                          kosten) mag in deze begroting worden opgenomen als eigen investering van de aanvrager
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een exemplaar van de synopsis en het scenario voor de speelfilm in de Nederlandse taal;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">• </span>een overeenkomst van de scenarioschrijver en – voor zover van toepassing – van de auteur van
                          het bestaande werk waarop het scenario is gebaseerd, waaruit blijkt wie bij oplevering van het scenario,
                          al dan niet door middel van een exclusieve licentie, enig rechthebbende zal zijn op de verfilmingsrechten
                          daarop of tenminste over een – hernieuwbare – optie op deze verfilmingsrechten beschikt.
                        </p>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <p class="lid labeled">
                      <span class="lidnr">4.</span> Het Bestuur zal binnen een redelijke termijn na ontvangst van de aanvraag beslissen.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e347" name="d15323e347"></a>7. Verplichtingen
              </h4>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1. </span>De aanvrager is verplicht om de stimulans te benutten voor de ontwikkeling van het project. De producent
                    wordt verplicht om 15.000 euro te besteden aan
                    <em class="cur">onkosten</em> in verband met het festival waaraan de film mag deelnemen. De producent als bedoeld in 3.3 zal
                    worden verplicht om 7.500 euro te besteden aan
                    <em class="cur">onkosten</em> in verband met het festival waaraan de film mag deelnemen.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2. </span>Het Bestuur stelt de stimulans vast, indien deze is benut voor
                    <em class="cur">scenario-ontwikkeling</em>, nadat de aanvrager een exemplaar van het ontwikkelde scenario heeft overgelegd
                    en aan de hand van schriftelijke bewijsstukken, financiële verantwoording heeft afgelegd. De producent legt
                    tevens financiële verantwoording af voor de onkosten. Indien de stimulans is benut voor
                    <em class="cur">projectontwikkeling</em> zal de stimulans worden vastgesteld nadat de aanvrager aan de hand van schriftelijke
                    bewijsstukken, financiële verantwoording heeft afgelegd.
                  </p>
                </li>
              </ul>
            </div>
            <h3 class="hoofdstuk_kop">
              <a id="d15323e373" name="d15323e373"></a>II DOCUMENTAIRE, ANIMATIEFILM, ONDERZOEK &amp; ONTWIKKELINGSPROJECT
            </h3>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e377" name="d15323e377"></a>Documentairefilm
              </h4>
              <p class="structuurtekst">De door het Nederland Fonds voor de Film gesteunde documentaire, die geselecteerd is voor de meeste A-festivals (zoals
                vermeld in V Bijlage festivals, internationaal programma of competitie) ontvangt een geldprijs van 25.000 euro.
                Als richtlijn voor de telling geldt het jaar na de eerste openbare vertoning van de film. De prijs wordt uitgereikt
                aan de producent en de regisseur samen, en kan gebruikt worden als een extra scenario-ontwikkelingsbijdrage of
                realiseringsbijdrage van het Filmfonds. Producent en regisseur worden ieder eigenaar van 50% van de prijs en zijn
                niet verplicht het geld samen te gebruiken.
              </p>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e383" name="d15323e383"></a>Animatiefilm
              </h4>
              <p class="structuurtekst">De door het Nederland Fonds voor de Film gesteunde animatiefilm, die geselecteerd is voor de meeste A-festivals (zoals
                vermeld in III Bijlage festivals, internationaal programma of competitie) ontvangt een geldprijs van 25.000 euro.
                Als richtlijn voor de telling geldt het jaar na de eerste openbare vertoning van de film.
              </p>
              <p class="structuurtekst">De prijs wordt uitgereikt aan de producent, regisseur samen, en kan gebruikt worden als een
                <strong class="vet">extra</strong> scenario-ontwikkelingsbijdrage of realiseringsbijdrage van het Filmfonds. Producent, regisseur,
                artwork-verantwoordelijke en, indien betrokken, scenarioschrijver ontvangen elk een gelijkaandeel van de prijs
                en zijn niet verplicht het geld samen te gebruiken.
              </p>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e394" name="d15323e394"></a>Onderzoek &amp; Ontwikkeling (O&amp;O) Project
              </h4>
              <p class="structuurtekst">Het door het Nederland Fonds voor de Film gesteunde O&amp;O-project, dat geselecteerd is voor de meeste A-festivals
                (zoals vermeld in III Bijlage festivals, internationaal programma of competitie) en/of gerenommeerde internationale
                kunstpodia ontvangt een geldprijs van 25.000 euro. Als richtlijn voor de telling geldt het jaar na de eerste openbare
                vertoning van de film. De prijs wordt uitgereikt aan de producent en de regisseur samen, en kan gebruikt worden
                als een
                <strong class="vet">extra</strong> scenario-ontwikkelings
                <!--?xpp afbm?-->bijdrage of realiseringsbijdrage van het Filmfonds. Producent, regisseur worden ieder eigenaar van 50% van de prijs
                en zijn niet verplicht het geld samen te gebruiken.
              </p>
              <div class="sub-paragraaf">
                <h5 class="sub-paragraaf_kop">
                  <a id="d15323e405" name="d15323e405"></a>1. Definities
                </h5>
                <p class="structuurtekst">In dit reglement wordt verstaan onder:</p>
                <dl class="inline whitespace-large">
                  <dt>Documentaire:</dt>
                  <dd>
                    <p class="structuurtekst"> een non-fictiefilm, bestemd voor bioscopen of filmtheaters.</p>
                  </dd>
                  <dt>Animatiefilm:</dt>
                  <dd>
                    <p class="structuurtekst">een film waarin beweging wordt gecreëerd die in de werkelijkheid niet zodanig heeft plaatsgevonden.</p>
                    <p class="structuurtekst">O&amp;O Project: een grensverleggend en/of onderzoekend filmproject dat tot stand gekomen is met een bijdrage
                      vanuit de categorie Onderzoek &amp; Ontwikkeling.
                    </p>
                  </dd>
                </dl>
              </div>
              <div class="sub-paragraaf">
                <h5 class="sub-paragraaf_kop">
                  <a id="d15323e429" name="d15323e429"></a>2. Algemeen
                </h5>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">2.1 </span> het bestuur kan volgens de bepalingen van dit reglement aan een producent, scenarioschrijver,
                      en regisseur van een project die de kwaliteit en diversiteit van de filmproductie in Nederland succesvol
                      hebben bevorderd een stimulans verlenen ten einde hen te ondersteunen c.q. te stimuleren bij de ontwikkeling
                      van (een) nieuw(e) project(en).
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">2.2 </span>Het bestuur kent een stimulans toe aan projecten die succesvol zijn geweest op basis van (competitie-)
                      deelname aan internationale filmfestivals.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">2.3 </span>het bestuur reikt jaarlijks één artistieke stimulansprijs uit aan een documentaireproductie een
                      O&amp;O productie en een animatieproductie.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="sub-paragraaf">
                <h5 class="sub-paragraaf_kop">
                  <a id="d15323e449" name="d15323e449"></a>3. Succesvolle projecten
                </h5>
                <ul class="expliciet whitespace-medium">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">3.1. </span> het artistieke succes van een project wordt door het bestuur gemeten aan de hand van deelname
                      aan internationale filmfestivals, waarbij het uitsluitend gaat om deelname aan festivals of festivalonderdelen
                      als genoemd in III Bijlage van dit reglement.
                    </p>
                    <p class="structuurtekst">De winnaar wordt door het fonds bepaald, waarbij het Fonds zich laat leiden door de relevantie van de festivals
                      en het aantal festivals waarvoor een film is geselecteerd.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">3.2. </span> Het bestuur behoudt zich het recht voor de lijst indien nodig aan te passen, naar gelang een
                      filmfestival aan relevantie en internationale waardering wint.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">3.3. </span> De periode loopt per kalenderjaar. Om in aanmerking te komen voor de stimulans voor artistiek
                      succes in de categorieën documentaire, animatie en O&amp;O dient de filmmaker zelf aan het Filmfonds te melden
                      voor welke festivals de film het afgelopen jaar geselecteerd is geweest. Staat een van deze festivals in
                      de lijst algemeen of specifiek documentaire, animatie en O&amp;O dan komen de makers in aanmerking voor de
                      prijs.
                    </p>
                    <p class="structuurtekst">Deze melding dient uiterlijk voor 10 december van het betreffende jaar te geschieden.</p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">3.4. </span>Het project dat geselecteerd is voor de meeste festivals (zoals vermeld in de bijlage ) ontvangt
                      een geldprijs van 25.000 euro. Als richtlijn voor de telling geldt het jaar na de eerste vertoning van de
                      film. De prijs wordt uitgereikt aan de producent en regisseur samen (en indien betrokken, de scenarist),
                      en kan gebruikt worden als een extra scenario-ontwikkelingsbijdrage of realiseringsbijdrage van het Filmfonds.
                      Producent en regisseur (en indien betrokken scenarist) worden ieder voor een gelijkwaardig deel eigenaar
                      van de prijs en zijn niet verplicht het geld samen te gebruiken.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e478" name="d15323e478"></a>4. Voorwaarden
              </h4>
              <ul class="expliciet whitespace-medium">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.1. </span>zie I.4.1
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.2. </span>zie I.4.2.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4.3. </span>het bestuur stelt geen nadere voorwaarden aan de woonplaats of plaats van vestiging van niet eindverantwoordelijken
                    (regisseur, scenarioschrijver).
                  </p>
                </li>
              </ul>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e498" name="d15323e498"></a>5. Bekendmaking
              </h4>
              <p class="structuurtekst">Het bestuur zal na het bekend worden van de voor de stimulans in aanmerking komende projecten, deze en de namen van
                betrokkenen naar buiten brengen.
              </p>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e504" name="d15323e504"></a>6. Aanvraag
              </h4>
              <ul class="expliciet whitespace-medium">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">6.1. </span>zie I.6.1.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">6.2. </span>zie I.6.2.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">6.3. </span>zie I. 6.3 met dien verstande dat het een documentaire, animatie- of O&amp;O project betreft.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">6.4. </span>Zie I. 6.4
                  </p>
                </li>
              </ul>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e529" name="d15323e529"></a>7 Verplichtingen
              </h4>
              <p class="structuurtekst">Zie I. 7</p>
            </div>
            <h3 class="hoofdstuk_kop">
              <a id="d15323e534" name="d15323e534"></a>III BIJLAGE FESTIVALS
            </h3>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e538" name="d15323e538"></a>Festivallijst Artistieke speelfilm
              </h4>
              <p class="structuurtekst">
                <strong class="vet">Categorie I</strong>
              </p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Berlin International Filmfestival: Official Competition
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Mostra Internazionale d'Arte Cinematografica (Venetië): Official Competition
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Festival de Cannes: Official Competition
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Acadamy Awards: Nomination
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>
                    <strong class="vet">Categorie II</strong>
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>
                    <strong class="vet">Berlin International Filmfestival</strong>
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Panorama (deelname)
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Forum of new cinema (deelname)
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Kinderfilmfest (competitie)
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>
                    <strong class="vet">Mostra Internazionale d'Arte Cinematografica (Venetië)</strong>
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Controcorrente (Upstream)
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Lion of the Future
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>
                    <strong class="vet">Festival de Cannes</strong>
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Un certain regard (deelname)
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Semaine de la critique (deelname)
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Quinzaine (deelname)
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>
                    <strong class="vet">San Sebastian International Filmfestival</strong>
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Hoofdcompetitie
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Zabaltegi (competitie)
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>
                    <strong class="vet">Golden Globe Awards</strong>
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Nomination
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>
                    <strong class="vet">Sundance Film Festival</strong>
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Deelname
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>
                    <strong class="vet">Internationaal Filmfestival Rotterdam</strong>
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>Tiger selectie
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>
                    <strong class="vet">Locarno International Filmfestival</strong>
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">○ </span>Hoofdcompetitie
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>
                    <strong class="vet">Toronto International Filmfestival</strong>
                  </p>
                </li>
              </ul>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e725" name="d15323e725"></a>Festivallijst Documentaire
              </h4>
              <p class="structuurtekst">Algemeen:</p>
              <table class="xml" cellspacing="0" border="1" frame="hsides" rules="none">
                <colgroup>
                  <col title="col1" class="pct8">
                  <col title="col2" class="pct61">
                  <col title="col3" class="pct31">
                </colgroup>
                <tbody class="tbody left top">
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">1</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Academy Award (Nominatie Long-List)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Staten</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">2</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Cannes International Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Frankrijk</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">3</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Donostia-San Sebastian International Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Spanje</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">4</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Dubai International Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Arabische Emiraten</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">5</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Film Festival Locarno</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Zwitserland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">6</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Internationale Filmfestspiele Berlin</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Duitsland</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">7</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Mostra Internazionale d'Arte Cinematografica di Venezia</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Italië</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">8</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">PusanInternational Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Zuid-Korea</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">9</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Toronto International Film Festival (TIFF)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Canada</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">10</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Tribeca Film – New York</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Staten</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">11</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Vancouver International Film Festival (VIFF)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Canada</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">12</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Viennale – Wenen</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Oostenrijk</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="structuurtekst">Specifiek documentaire:</p>
              <table class="xml" cellspacing="0" border="1" frame="hsides" rules="none">
                <colgroup>
                  <col title="col1" class="pct8">
                  <col title="col2" class="pct61">
                  <col title="col3" class="pct31">
                </colgroup>
                <tbody class="tbody left top">
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">1</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Cinéma du Réel – Parijs</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Frankrijk</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">2</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Doc Aviv – Tel Aviv</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Israël</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">3</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">DOK Leipzig</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Duitsland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">4</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Encounters South African International Documentary Festival – Johannesburg/Kaapstad</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Zuid-Afrika</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">5</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Festival dei Popoli Florence</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Italië</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">6</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Hot Docs – Toronto</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Canada</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">7</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">International Documentary Filmfestival Amsterdam (IDFA)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Nederland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">8</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">It's all true – Sao Paolo</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Brazilië</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">9</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Karlovy Vary International Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Tsjechië</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">10</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Rencontres International du Documentaire de Montréal</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Canada</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">11</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Silverdocs – Silver Spring/Washington</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Staten</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">12</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Sundance Film Festival – Park City, Utah

                      </p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Staten</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">13</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">The Sheffield Doc/Fest</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Engeland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">14</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Thessaloniki Documentary Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Griekenland</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">15</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Visions du Réel International Documentary Film Festival – Nyon</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Zwitserland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">16</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Yamagata International Documentary Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Japan</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e1309" name="d15323e1309"></a>Festivallijst Animatiefilm
              </h4>
              <p class="structuurtekst">Algemeen:</p>
              <table class="xml" cellspacing="0" border="1" frame="hsides" rules="none">
                <colgroup>
                  <col title="col1" class="pct8">
                  <col title="col2" class="pct61">
                  <col title="col3" class="pct31">
                </colgroup>
                <tbody class="tbody left top">
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">1</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Academy Award (Nominatie Long-List)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Staten</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">2</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Cannes International Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Frankrijk</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">3</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Donostia-San Sebastian International Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Spanje</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">4</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Mostra Internationale d'Arte Cinematografica (Venetie)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Italie</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">5</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Internationale Filmfestspiele Berlin</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Duitsland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">6</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Sundance Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Staten</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">7</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Golden Globe Awards (Nominatie)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Staten</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">8</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Clermond Ferrand Short Film Festival (Internat competitie)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Frankrijk</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">9</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">European Film Academy Short Film / Prix UIP (Nominatie)</p>
                    </td>
                    <td class="left top">&nbsp;</td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">10</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">BAFTA awards</p>
                    </td>
                    <td class="left top">&nbsp;</td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">11</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">European Film Awards</p>
                    </td>
                    <td class="left top">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
              <p class="structuurtekst">Specifiek animatie:</p>
              <table class="xml" cellspacing="0" border="1" frame="hsides" rules="none">
                <colgroup>
                  <col title="col1" class="pct8">
                  <col title="col2" class="pct61">
                  <col title="col3" class="pct31">
                </colgroup>
                <tbody class="tbody left top">
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">1</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Annecy International Animated Filmfestival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Frankrijk</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">2</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Hiroshima Inernational Animated Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Japan</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">3</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Anima, Brussel</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Belgie</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">4</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Stuttgart Festival of Animated Film (Competitie)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Duitsland</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">5</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Animafest, Zagreb (Competitie_</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Kroatie</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">6</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Message to Man, st. Petersburg</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Rusland</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">7</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Fantoche, Baden (Competitie)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Zwitserland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">8</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Cinanima, Espinho (Competitie)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Portugal</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">9</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Animadrid (Competitie)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Spanje</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">10</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">SICAF Seoel International Cartoon and Animation Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Zuid-Korea</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">11</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Anima Mundi, Sao Paolo/Rio de Janeiro (Competitie)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Brazilie</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">12</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Ottawa International Animation Film Festival (Competitie)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Canada</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">13</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Holland Animation Film Festival (Competitie)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Nederland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">14</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Thessaloniki Documentary Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Griekenland</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="paragraaf">
              <h4 class="paragraaf_kop">
                <a id="d15323e1823" name="d15323e1823"></a>Festivallijst O&amp;O
              </h4>
              <p class="structuurtekst">Algemeen:</p>
              <table class="xml" cellspacing="0" border="1" frame="hsides" rules="none">
                <colgroup>
                  <col title="col1" class="pct8">
                  <col title="col2" class="pct61">
                  <col title="col3" class="pct31">
                </colgroup>
                <tbody class="tbody left top">
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">1</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Academy Award (Nominatie Long-List)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Staten</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">2</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Cannes International Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Frankrijk</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">3</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">
                        Donostia-San Sebastian International Film Festival

                      </p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Spanje</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">4</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Dubai International Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Arabische Emiraten</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">5</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Film Festival Locarno</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Zwitserland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">6</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Internationale Filmfestspiele Berlin</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Duitsland</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">7</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Mostra International d'arte cinematografica -Venetië</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Italië</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">8</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">PusanInternational Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Zuid-Korea</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">9</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Toronto International Film Festival (TIFF)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Canada</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">10</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Tribeca Film – New York</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Verenigde Staten</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">11</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Vancouver International Film Festival (VIFF)</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Canada</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">12</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Viennale – Wenen</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Oostenrijk</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="structuurtekst">Specifiek O&amp;O:</p>
              <table class="xml" cellspacing="0" border="1" frame="hsides" rules="none">
                <colgroup>
                  <col title="col1" class="pct8">
                  <col title="col2" class="pct61">
                  <col title="col3" class="pct31">
                </colgroup>
                <tbody class="tbody left top">
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">1</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">EMAF: European Media Art Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Duitsland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">2</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Kurtzfilmtage Oberhausen</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Duitsland</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">3</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Internat. Hamburger Kurz Film Festival</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Duitsland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">4</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Tiger Cup competitie IFFR</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Nederland</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">5</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Recontres Int. Paris/Berlin/Madrid</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Frankrijk</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">6</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Festival du nouveaux cinema et de video</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Toronto, Canada</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">7</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Transmediale</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Berlijn, Duitsland</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">8</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">TIE</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Denver, Colorado</p>
                    </td>
                  </tr>
                  <tr class="odd left middle">
                    <td class="left top">
                      <p class="structuurtekst">9</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Mediacity</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">WInsor Ontario, Canada</p>
                    </td>
                  </tr>
                  <tr class="even left middle">
                    <td class="left top">
                      <p class="structuurtekst">10</p>
                    </td>
                    <td class="left top">
                      <p class="structuurtekst">Internationaal gerenommeerde kunstpodia.</p>
                      <p class="structuurtekst">Makers kunnen melden&nbsp;welke internationale kunstpodia hun film vertoonden. Deze gegevens worden meegenomen
                        naast de festivalselecties, waarbij het&nbsp;Filmfonds advies omtrent&nbsp;de status van de kunstpodia
                        inwint bij&nbsp;collega's uit de beeldende kunstsector.
                      </p>
                    </td>
                    <td class="left top">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h3 class="hoofdstuk_kop">
              <a id="d15323e2285" name="d15323e2285"></a>IV SLOTBEPALINGEN
            </h3>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">1. </span>Dit reglement wordt aangehaald als: Stimulans voor Artistiek Succes
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">2. </span>Dit reglement treedt in werking met ingang van de dag na uitgifte van de Staatscourant waarin het wordt
                  geplaatst.
                </p>
              </li>
            </ul>
          </div>
          <div class="regeling-sluiting">
            <a id="d15323e2300" name="d15323e2300"></a>
            <div class="slotformulering">
              <p>Deze regeling wordt in de Staatscourant geplaatst.</p>
            </div>
            <div class="gegeven">
              <p class="dagtekening">Amsterdam, 19 oktober 2009</p>
            </div>
            <div class="ondertekening">
              <p class="functie">Het bestuur van de Stichting Nederlands Fonds voor de Film

              </p>
              <p class="deze">namens deze:</p>
              <p class="naam">D. Boonekamp, </p>
              <p class="functie"> Directeur/Bestuurder.</p>
            </div>
          </div>
        </div>
      </div>    </article>

  </div>
</div>
