<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a id="d16e43" name="d16e43"></a>Beschikking van de Staatssecretaris van Infrastructuur en Milieu, houdende de instelling van een tijdelijk bijzonder
          luchtverkeersgebied voor het lanceren van modelraketten door leden van DRRA
        </h1>
        <div class="regeling">
          <div class="aanhef">
            <a id="d16e48" name="d16e48"></a>
            <div class="context">
              <p class="context_al datum">Datum: 6 september 2012</p>
              <p class="context_al kenmerk">Nummer: ILT-2012/25978</p>
            </div>
            <p class="wie">DE STAATSSECRETARIS VAN INFRASTRUCTUUR EN MILIEU,</p>
            <p class="considerans.al">Handelende in overeenstemming met de Minister van Defensie;</p>
            <p class="considerans.al">Gelezen de brief van de Dutch Rocket Research Association, contactpersoon: de heer ing. G. Vermeulen, d.d. 17 juli
              2012, e-mail: gve56@kpnmail.nl;
            </p>
            <p class="considerans.al">Gelet op artikel 8 van het Luchtverkeersreglement en op artikel 5 van de Regeling modelraketten;
            </p>
            <p class="afkondiging">BESLUIT:</p>
          </div>
          <div class="regeling-tekst">
            <a id="d16e67" name="d16e67"></a>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d16e71" name="d16e71"></a>Artikel 1
              </h3>
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">1.</span> Ter bescherming van het luchtverkeer tijdens de lancering door of onder verantwoordelijkheid van
                    de DRRA van grote modelraketten en van kleine modelraketten die hoger komen dan 450 m (1500 voet AMSL) wordt
                    het volgende bijzondere luchtverkeersgebied (BVG) ingesteld, begrensd door de volgende coördinaten en hoogten,
                    hierna te noemen BVG Wolsum (zie figuur):
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">– </span>een cirkel met een straal van
                        <strong class="vet">1 NM</strong> rondom de positie 53°02’1.62”NB en 005°32’57.16”OL;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">– </span>vanaf de grond tot een hoogte van 1066,8
                        <strong class="vet">meter</strong> (3500 voet AMSL) boven gemiddeld zeeniveau;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">– </span>op 22 september van 11.30 uur lokale tijd tot 17.30 uur lokale tijd. gedurende de uniforme daglichtperiode;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">– </span>Indien de lancering op 22 september 2012 niet kan plaatsvinden, geldt als uitwijkdatum 29 september
                        of 6 oktober 2012 van 11.30 uur lokale tijd tot 17.00 uur lokale tijd;
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">2.</span> Indien een NOTAM is uitgegeven, maar de lancering niet doorgaat, laat DRRA deze NOTAM intrekken.
                  </p>
                  <div class="plaatje">
                    <img src="https://zoek.officielebekendmakingen.nl/stcrt-2012-18582-001.png" width="495" height="559" alt="Figuur BVG Wolsum">
                    <p class="bijschrift">
                      <strong class="vet">Figuur</strong> BVG Wolsum
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d16e119" name="d16e119"></a>Artikel 2
              </h3>
              <p>Binnen de bijzondere luchtverkeersgebieden gelden de volgende regels.</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">a. </span>Het luchtverkeer wordt geadviseerd van het gebied vrij te blijven; bij het uitvoeren van vluchten
                    binnen het gebied moet rekening worden gehouden met de lancering van grote modelraketten en van kleine modelraketten.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">b. </span>De modelraketten mogen alleen worden gelanceerd, indien:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>op initiatief van DRRA minimaal 5 dagen van tevoren een NOTAM is uitgegeven door AOCS NM waarmee
                        de BVG Wolsum is geactiveerd;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>de wolkenhoogte zodanig is dat de modelraketten niet in of door bewolking vliegen inclusief flarden;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>het lanceertijdstip binnen de uniforme daglichtperiode valt;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>het grondzicht 8 km of meer bedraagt en de windsnelheid minder dan 10 meter per seconde bedraagt;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>expliciet toestemming is verkregen van AOCS Nieuw Milligen; de lanceerleider neemt daartoe ten
                        minste 30 minuten vóór de lancering contact op via telefoonnummer 0577-458705 onder vermelding van het
                        telefoonnummer waarop hij de gehele dag bereikbaar is.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">c. </span>Het blijft de verantwoordelijkheid van degene die de modelraket lanceert, om ander luchtverkeer te
                    mijden.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">d. </span>De maximale hoogte van de modelraket is 1000m.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">e. </span>De artikelen 3 en 4 van de Regeling modelraketten zijn onverminderd van toepassing.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">f. </span>Aanwijzingen van het KLPD, de Luchtverkeersleiding Nederland, het AOCS Nieuw Milligen of de Inspectie
                    Leefomgeving en Transport in het kader van de veiligheid van het luchtverkeer moeten worden nagekomen.
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d16e182" name="d16e182"></a>Artikel 3
              </h3>
              <p>De aanvrager voert bij de voorbereiding van het evenement een veiligheidsanalyse uit. Daarbij wordt in kaart gebracht
                welke risico’s bij de uitvoering van de vluchten bestaan, de kans en het effect. Vervolgens worden risicobeperkende
                maatregelen in kaart gebracht en toegepast, zodanig dat het evenement op een verantwoorde wijze kan plaatsvinden.
              </p>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d16e188" name="d16e188"></a>Artikel 4
              </h3>
              <p>Deze beschikking treedt in werking met ingang van 22 september 2012 en vervalt op 7 oktober 2012, tenzij deze voortijdig
                wordt ingetrokken.
              </p>
            </div>
          </div>
          <div class="regeling-sluiting">
            <a id="d16e194" name="d16e194"></a>
            <div class="slotformulering">
              <p>De operationele inhoud van deze beschikking wordt bekendgemaakt per NOTAM uit te geven door AOCS NM.
              </p>
            </div>
            <p class="ondertekening">
              <span class="functie">DE STAATSSECRETARIS VAN INFRASTRUCTUUR EN MILIEU,</span>
              <span class="deze">namens deze,</span>
              <span class="functie">DE INSPECTEUR ILT/VERGUNNINGEN,</span>
              <span class="naam">
                <span class="voornaam">A.E.</span>
                <span class="achternaam">Schurink-v.d. Klugt</span>
              </span>

            </p>
          </div>
          <div class="bezwaarschrift">
            <p>Bezwaarmogelijkheid</p>
            <p>Indien u het niet eens bent met deze beslissing kunt u hiertegen, op grond van het bepaalde in de Algemene wet bestuursrecht,
              binnen zes weken na de datum waarop deze beslissing is verzonden schriftelijk bezwaar aantekenen.
            </p>
            <p>Het bezwaarschrift moet worden ondertekend en moet ten minste bevatten:</p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">– </span>de naam en het adres van de indiener;
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">– </span>de dagtekening;
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">– </span>een omschrijving van het besluit waartegen het bezwaar is gericht;
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">– </span>de gronden van het bezwaar.
                </p>
              </li>
            </ul>
            <p>Het bezwaarschrift kunt u richten aan:</p>
            <div class="alineagroep">
              <p>Inspectie Leefomgeving en Transport</p>
              <p>Team Juridische Zaken</p>
              <p>Postbus 16191</p>
              <p>2500 BD Den Haag</p>
            </div>
          </div>
        </div>

      </div>    </article>

  </div>
</div>
