<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="staatscourant_kop">
          <a id="d53663e44" name="d53663e44"></a>Subsidieregeling Stichting Nederlands Onderwijs in het Buitenland 2011
        </h1>
        <div class="circulaire">
          <div class="circulaire-tekst">
            <a id="d53663e49" name="d53663e49"></a>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e53" name="d53663e53"></a>Artikel 1 – Begripsbepaling
              </h3>
              <dl class="inline whitespace-large">
                <dt>Aangepast toezichtarrangement:</dt>
                <dd>
                  <p>Een toezichtarrangement dat de Inspectie van het Onderwijs van toepassing verklaart als de kwaliteit van een
                    onderwijsvoorziening onvoldoende is en dat leidt tot intensiever toezicht.
                  </p>
                </dd>
                <dt>BO:</dt>
                <dd>
                  <p>Basisonderwijs.</p>
                </dd>
                <dt>IB:</dt>
                <dd>
                  <p>International Baccalaureate.</p>
                </dd>
                <dt>Kascontrolecommissie:</dt>
                <dd>
                  <p>Een commissie die is aangesteld door het bestuur van de onderwijsvoorziening en die de jaarstukken controleert
                    en daarvan verslag uitbrengt aan het bestuur. Bestuursleden of werknemers van de onderwijsvoorziening mogen
                    geen deel uitmaken van de commissie.
                  </p>
                </dd>
                <dt>Mijn School:</dt>
                <dd>
                  <p>Interactieve, beveiligde website die wordt beheerd door Stichting NOB. Via deze website kan een subsidieaanvrager
                    een subsidieaanvraag indienen bij Stichting NOB op basis van deze subsidieregeling.
                  </p>
                </dd>
                <dt>NTC-onderwijs:</dt>
                <dd>
                  <p>Lessen Nederlandse Taal en Cultuur voor leerlingen van het basisonderwijs en voortgezet onderwijs die worden
                    verzorgd door onderwijsvoorzieningen buiten het grondgebied van Nederland.
                  </p>
                </dd>
                <dt>Onderwijsvoorziening:</dt>
                <dd>
                  <p>Een organisatie die in groepsverband volledig dagonderwijs, NTC- of onderwijs op afstand verzorgt in het basis-
                    dan wel voortgezet onderwijs.
                  </p>
                </dd>
                <dt>Onderwijs op afstand (OA):</dt>
                <dd>
                  <p>Een lesprogramma waarvan in ieder geval lessen Nederlandse Taal en Cultuur onderdeel uitmaken die via schriftelijke,
                    telefonische en/of elektronische media worden aangeboden aan leerlingen die woonachtig zijn buiten het grondgebied
                    van Nederland.
                  </p>
                </dd>
                <dt>Peildatum:</dt>
                <dd>
                  <p>1 oktober van het jaar dat vooraf gaat aan het kalenderjaar waarvoor de subsidie wordt aangevraagd.</p>
                </dd>
                <dt>Schrijfwijzer voor de schoolgids:</dt>
                <dd>
                  <p>Het model van een schoolgids voor volledig dagonderwijs, NTC-onderwijs of onderwijs op afstand (basis- dan wel
                    voortgezet onderwijs), dat is vastgesteld door Stichting NOB na goedkeuring door de toezichthouder.
                  </p>
                </dd>
                <dt>Schrijfwijzer voor het schoolplan:</dt>
                <dd>
                  <p>Het model van een schoolplan voor volledig dagonderwijs, NTC-onderwijs of onderwijs op afstand (basis- dan wel
                    voortgezet onderwijs), dat is vastgesteld door Stichting NOB na goedkeuring door de toezichthouder.
                  </p>
                </dd>
                <dt>Stichting NOB:</dt>
                <dd>
                  <p>Stichting Nederlands Onderwijs in het Buitenland.</p>
                </dd>
                <dt>Subsidieaanvraag:</dt>
                <dd>
                  <p>Verzoek tot subsidieverlening op grond van de Subsidieregeling Stichting Nederlands Onderwijs in het Buitenland
                    voor het betreffende subsidiejaar.
                  </p>
                </dd>
                <dt>Subsidiejaar:</dt>
                <dd>
                  <p>Kalenderjaar waarop de subsidie betrekking heeft.</p>
                </dd>
                <dt>Toezichthouder:</dt>
                <dd>
                  <p>Inspectie van het Onderwijs.</p>
                </dd>
                <dt>VO:</dt>
                <dd>
                  <p>Voortgezet onderwijs.</p>
                </dd>
                <dt>Volledig dagonderwijs:</dt>
                <dd>
                  <p>Een compleet lesprogramma, waarvan in ieder geval lessen Nederlandse Taal en Cultuur onderdeel uitmaken die zijn
                    bedoeld voor leerlingen van het basis- en voortgezet onderwijs en die worden verzorgd door scholen buiten het
                    grondgebied van Nederland.
                  </p>
                </dd>
              </dl>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e146" name="d53663e146"></a>Artikel 2 – Doel van de subsidie
              </h3>
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">1.</span> De subsidie die Stichting NOB overeenkomstig deze regeling verstrekt, heeft tot doel het ondersteunen
                    van Nederlandse onderwijsvoorzieningen in het buitenland met het oog op terugkeer in en aansluiting bij het
                    onderwijs in Nederland of Vlaanderen.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">2.</span> Deze subsidieregeling vloeit voort uit de Regeling Stichting Nederlands Onderwijs in het Buitenland
                    (besluit van 23 april 2007, kenmerk PO/KO-06.6456,
                    <a href="stcrt-2009-13656.html" title="link naar publicatie stcrt-2009-13656">Staatscourant 2007</a>, 89).
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e164" name="d53663e164"></a>Artikel 3 – Doelgroep
              </h3>
              <p>Voor subsidie overeenkomstig deze regeling komt alleen een rechtspersoon naar Nederlands recht of naar het recht
                van het land van vestiging in aanmerking, die
              </p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">a) </span>door middel van een Akte van Aansluiting is aangesloten bij Stichting NOB, en
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">b) </span>een onderwijsvoorziening voor basis- of voortgezet onderwijs bestuurt die in groepsverband volledig
                    dagonderwijs of NTC-onderwijs verzorgt, dan wel die onderwijs op afstand verzorgt, en die
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">c) </span>beschikt over een bankrekening die op naam staat van de rechtspersoon en waarop subsidie kan worden
                    ontvangen.
                  </p>
                </li>
              </ul>
              <p>Verder geldt voor een rechtspersoon met een onderwijsvoorziening voor volledig dagonderwijs of onderwijs op afstand
                dat</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">d) </span>in het basisonderwijs het gehele lesprogramma gericht moet zijn op de Nederlandse kern- en tussendoelen,
                    en
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">e) </span>het voortgezet onderwijs gericht moet zijn op diplomering volgens het stelsel dat in Nederland geldt,
                    dan wel op de normering van het IB.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">f) </span>Voor een rechtspersoon met een onderwijsvoorziening die NTC-onderwijs aanbiedt, geldt dat f) in het
                    basisonderwijs de lessen Nederlandse taal, lezen, spelling en cultuur gericht moeten zijn op de Nederlandse
                    kern- en tussendoelen, en
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">g) </span>het voortgezet onderwijs gericht moet zijn op diplomering volgens het stelsel dat in Nederland geldt,
                    dan wel op de normering van het IB.
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e209" name="d53663e209"></a>Artikel 4 – Subsidievoorwaarden
              </h3>
              <p>Om in aanmerking te komen voor subsidie moet een onderwijsvoorziening aan de volgende voorwaarden voldoen:</p>
              <ul
                class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1. </span>Een nieuwe onderwijsvoorziening voor NTC-onderwijs of volledig dagonderwijs, die voor het eerst voor
                    subsidie in aanmerking wil komen, moet op de peildatum minimaal 10 leerlingen hebben ingeschreven voor basisonderwijs
                    of voortgezet onderwijs. Als een rechtspersoon zoals bedoeld in artikel 3 zowel een onderwijsvoorziening in
                    het basisonderwijs, als voortgezet onderwijs bestuurt, geldt voor deze onderwijsvoorzieningen tezamen een minimum
                    van 10 ingeschreven leerlingen op de peildatum.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2. </span>Bij het bepalen van het aantal leerlingen in het kader van deze subsidieregeling tellen slechts die
                    leerlingen mee die op de peildatum aan de onderwijsvoorziening zijn ingeschreven en die op de peildatum:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>Nederlands of Belgisch staatsburger zijn, of;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>de nationaliteit hebben van een ander land van de Europese Unie, mits zij Nederlandstalig zijn;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>voor het basisonderwijs minimaal 4 jaar zijn en niet ouder dan 14 jaar zijn;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>voor het voortgezet onderwijs niet ouder dan 18 jaar zijn;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>niet elders aan een onderwijsvoorziening zijn ingeschreven die bekostiging of subsidie ontvangt
                        uit hoofde van de Nederlandse overheid;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">• </span>daadwerkelijk deelnemen aan het onderwijsprogramma zoals omschreven in artikel 3.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3. </span>De onderwijsvoorziening moet in het bezit zijn van een ‘Verklaring bestuur- en diplomatieke vertegenwoordiging’
                    die betrekking heeft op de leerlingen die ingeschreven zijn op de peildatum.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">4. </span>De onderwijsvoorziening moet in het bezit zijn van een schoolplan dat voldoet aan de eisen van de
                    Schrijfwijzer voor het schoolplan en een schoolgids die voldoet aan de eisen van de Schrijfwijzer voor de schoolgids.
                    Het bestuur van de onderwijsinstelling moet het schoolplan en de schoolgids na vaststelling voor aanvang van
                    het (eerste) schooljaar waarop deze documenten betrekking hebben, plaatsen op Mijn School. Schoolplan en schoolgids
                    worden langs deze weg beschikbaar gesteld aan de toezichthouder.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">5. </span>De onderwijsvoorziening mag niet meer dan één keer achter elkaar een aangepast toezichtarrangement
                    hebben gekregen van de toezichthouder vanwege de kwaliteit van het onderwijs.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">6. </span>De onderwijsvoorziening moet ermee instemmen dat de toezichthouder en Stichting NOB toezicht uitoefenen
                    op de onderwijsvoorziening en op het onderwijs en medewerkers van de toezichthouder en van Stichting NOB steeds
                    toegang geven tot de onderwijsvoorziening. Verder moet het personeel van de onderwijsinstelling op verzoek
                    aan medewerkers van de toezichthouder en van Stichting NOB alle gevraagde informatie verstrekken over de onderwijsvoorziening
                    en het onderwijs.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">7. </span>Het onderwijs aan de onderwijsvoorziening moet worden gegeven door leerkrachten die voldoen aan dezelfde
                    eisen van bevoegdheid en (onderhouden van) bekwaamheid als in vergelijkbare gevallen onder de Nederlandse onderwijswetgeving.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">8. </span>Alle stukken die de onderwijsvoorziening in het kader van deze regeling indient, moeten zijn opgesteld
                    in de Nederlandse taal. Voor zover het officiële documenten betreft, moet de onderwijsvoorziening naast de
                    vertaling ook een afschrift overleggen van het officiële document, voorzien van eventuele waarmerken.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">9. </span>De onderwijsvoorziening moet de subsidieaanvraag indienen voor 1 december van het jaar dat voorafgaat
                    aan het subsidiejaar en moet voor 1 december van het jaar dat volgt op het subsidiejaar bij Stichting NOB een
                    financiële verantwoording en activiteitenverslag inleveren zoals bedoeld in artikel 9 tweede en derde lid.
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e292" name="d53663e292"></a>Artikel 5 – Bestedingsdoel subsidie
              </h3>
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">1.</span> De subsidie valt uiteen in een reguliere subsidie en een ICT-subsidie.
                  </p>
                  <p>De subsidie is een bijdrage in de kosten die een onderwijsvoorziening maakt voor het verzorgen van het onderwijs
                    zoals bedoeld in artikel 3 en kan slechts voor de volgende doeleinden worden ingezet:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">1. </span>personele kosten,
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">2. </span>onderwijsleerpakketten,
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">3. </span>huisvestingskosten, en
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4. </span>overige materiële kosten, waar onder ICT
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">2.</span> De subsidie kan door onderwijsvoorzieningen voor volledig dagonderwijs en onderwijsvoorzieningen
                    voor onderwijs op afstand worden ingezet voor alle onderwijsactiviteiten die deze onderwijsvoorziening verzorgt.
                    Onderwijsvoorzieningen voor NTC-onderwijs kunnen de subsidie alleen inzetten voor het verzorgen van het onderwijs
                    in de Nederlandse taal en cultuur.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">3.</span> Voor onderwijsvoorzieningen met volledig dagonderwijs of NTC-onderwijs geldt dat tenminste 50% van
                    de subsidie besteed moet worden aan personele kosten van onderwijzend personeel en/of de kosten van onderwijsleerpakketten.
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e335" name="d53663e335"></a>Artikel 6 – Hoogte van de subsidie
              </h3>
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">1.</span> Voor het kalenderjaar 2011 bedraagt de subsidie per leerling die op de peildatum staat ingeschreven
                    en voldoet aan de bepalingen in artikel 4 tweede lid:
                  </p>
                  <table class="zebra portrait" cellspacing="0">
                    <colgroup>
                      <col title="col1" class="pct26">
                      <col title="col2" class="pct26">
                      <col title="col3" class="pct25">
                      <col title="col4" class="pct22">
                    </colgroup>
                    <thead class="left bottom thead">
                      <tr class="left middle head-row2 zebra1head">
                        <th scope="col" class="left top border-column border-row">
                          <p>Schoolsoort</p>
                        </th>
                        <th scope="col" class="left top border-column border-row">
                          <p>Volledig dagonderwijs</p>
                          <p>BO en VO</p>
                        </th>
                        <th scope="col" class="left top border-column border-row">
                          <p>NTC-BO en NTC-VO</p>
                        </th>
                        <th scope="col" class="left top border-column border-row">
                          <p>OA-BO en OA-VO</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="left top tbody">
                      <tr class="left middle tr-rowsep odd">
                        <td class="left top border-column border-row">
                          <p>Reguliere subsidie</p>
                        </td>
                        <td class="left top border-column border-row">
                          <p>€ 389</p>
                        </td>
                        <td class="left top border-column border-row">
                          <p>€ 389</p>
                        </td>
                        <td class="left top border-column border-row">
                          <p>€ 528</p>
                        </td>
                      </tr>
                      <tr class="left middle tr-rowsep even">
                        <td class="left top border-column border-row">
                          <p>ICT subsidie</p>
                        </td>
                        <td class="left top border-column border-row">
                          <p>€ 29</p>
                        </td>
                        <td class="left top border-column border-row">
                          <p>€ 29</p>
                        </td>
                        <td class="left top border-column border-row">
                          <p>€ 29</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">2.</span> Stichting NOB behoudt zich het recht voor deze bedragen te wijzigen als de bekostiging van Stichting
                    NOB door het Ministerie van Onderwijs, Cultuur en Wetenschap daartoe aanleiding geeft.
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e442" name="d53663e442"></a>Artikel 7 – Subsidieaanvraag
              </h3>
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">1.</span> De subsidie kan worden aangevraagd met het digitale subsidieaanvraagformulier dat is opgenomen in
                    Mijn School.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">2.</span> De subsidieaanvraag moet vóór 1 december van het jaar voorafgaand aan het subsidiejaar zijn ingediend
                    bij Stichting NOB.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">3.</span> Subsidiëring van een
                    <em class="cur">nieuwe</em> onderwijsvoorziening kan aanvangen per 1 september dan wel per 1&nbsp;januari van enig jaar. De
                    subsidieaanvraag voor een
                    <em class="cur">nieuwe</em> onderwijsvoorziening moet uiterlijk 4 weken voorafgaand aan de start van de nieuwe onderwijsvoorziening
                    zijn ingediend via Mijn School. Voor een nieuwe onderwijsvoorziening valt de peildatum voor het bepalen van
                    het
                    <em class="cur">aantal</em> en de
                    <em class="cur">leeftijd</em> van leerlingen samen met de startdatum van de subsidieverlening aan de nieuwe onderwijsvoorziening
                    (1 september of 1 januari).
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">4.</span> Bij het indienen van de subsidieaanvraag moet de onderwijsvoorziening de volgende documenten overleggen,
                    met inachtneming van artikel 4 achtste lid,
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a) </span>Akte van Oprichting / statuten van de rechtspersoon die de subsidie aanvraagt;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b) </span>Ingeval van een eerste aanvraag of ingeval er sprake is van een hernieuwde aansluiting als bedoeld
                        in artikel 3 onder a: Een uittreksel uit het register van de Kamer van Koophandel;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">c) </span>Ingeval van een eerste aanvraag of ingeval er sprake is van een hernieuwde aansluiting als bedoeld
                        in artikel 3 onder a: Een Akte van Aansluiting ;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">d) </span>Een Verklaring bestuur- en diplomatieke vertegenwoordiging (‘ambassadeverklaring’) die betrekking
                        heeft op de leerlingen die aanwezig zijn op de peildatum;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">e) </span>Een schoolplan en schoolgids overeenkomstig artikel 4 vierde lid;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">f) </span>Diploma’s die de bevoegdheid aantonen van het onderwijzend personeel dan wel de relevante ontheffingen
                        die zijn afgegeven door de toezichthouder.
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">5.</span> Stichting NOB heeft het recht een subsidieaanvraag niet in behandeling te nemen als deze:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a. </span>te laat is ingediend, of
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b. </span>onvolledig is of onjuiste gegevens bevat, of
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">c. </span>anderszins niet aan de eisen voldoet die in deze regeling zijn neergelegd
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">6.</span> Een besluit zoals bedoeld in het vijfde lid onderdeel b of c wordt pas genomen nadat Stichting NOB
                    de aanvrager heeft verzocht om binnen één maand de geconstateerde verzuimen in de subsidieaanvraag te herstellen
                    en de aanvrager binnen de aldus gestelde termijn niet (volledig) heeft voldaan aan dit verzoek.
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e536" name="d53663e536"></a>Artikel 8 – Subsidieverlening
              </h3>
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">1.</span> Stichting NOB geeft uiterlijk 31 december van het jaar dat voorafgaat aan het subsidiejaar de beschikking
                    van subsidieverlening af.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">2.</span> Stichting NOB kent de subsidie per kalenderjaar toe, met uitzondering van wat beschreven is in artikel
                    7 derde lid.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">3.</span> Stichting NOB maakt de beschikking aan de aanvrager bekend via Mijn School en plaatst deze op een
                    gedeelte van Mijn School dat alleen voor de aanvrager bereikbaar is.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">4.</span> Als de aanvrager op grond van artikel 7 zesde lid een termijn is gegund voor het complementeren van
                    de aanvraag van subsidieverlening, dan geeft Stichting NOB de beschikking van subsidieverlening binnen vier
                    weken na complementeren van de aanvraag af.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">5.</span> Stichting NOB heeft de mogelijkheid om een voorschot te verstrekken voordat de stichting tot subsidieverlening
                    overgaat. Bij het besluit tot subsidieverlening houdt Stichting NOB rekening met het uitgekeerde voorschot.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">6.</span> Stichting NOB heeft het recht om de uit te keren subsidie te verrekenen met opeisbare vorderingen
                    die zij heeft op de ontvanger van de subsidie.
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e571" name="d53663e571"></a>Artikel 9 – Subsidievaststelling
              </h3>
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">1.</span> De aanvrager verzoekt Stichting NOB om subsidievaststelling op basis van eerdere subsidieverlening
                    door het insturen van het formulier dat daarvoor in Mijn School is opgenomen.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">2.</span> De aanvrager moet het verzoek tot subsidievaststelling vóór 1 december van het jaar dat volgt op
                    het subsidiejaar indienen bij Stichting NOB.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">3.</span> Het verzoek tot subsidievaststelling moet vergezeld gaan van een financiële verantwoording, verklaring
                    van een kascontrolecommissie of accountant en een activiteitenverslag. Als het verleende subsidiebedrag groter
                    is dan € 250.000 is een accountantsverklaring vereist.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">4.</span> De aanvrager legt financiële verantwoording af over de besteding van de toegekende subsidie door
                    middel van het formulier dat is opgenomen in Mijn School. Als de onderwijsvoorziening zijn inkomsten geheel
                    ontleent aan de subsidie, dan moet de aanvrager financiële verantwoording afleggen over de totale exploitatie
                    van de rechtspersoon door de balans en de exploitatierekening te overleggen.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">5.</span> De financiële verantwoording zoals bedoeld in het vierde lid, moet voorzien zijn van een verslag
                    van de kascontrolecommissie die door het bestuur van de onderwijsvoorziening is ingesteld of door een verklaring
                    van een accountant, zoals bedoeld in artikel 393, eerste lid van Boek 2 van het Burgerlijk Wetboek, of een
                    daarmee vergelijkbare functionaris in het buitenland.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">6.</span> Als de financiële verantwoording daartoe aanleiding geeft, heeft Stichting NOB het recht om inzage
                    te verlangen in de gehele financiële administratie van de aanvrager, met als doel om de rechtmatige besteding
                    van de verstrekte subsidie te kunnen vaststellen.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">7.</span> Het activiteitenverslag zoals bedoeld in het derde lid beschrijft de aard en omvang van de activiteiten
                    waarvoor subsidie is verleend en bevat een vergelijking tussen de nagestreefde en gerealiseerde doelstellingen
                    in dit kader. Het activiteitenverslag kan deel uitmaken van de schoolgids of kan separaat worden uitgebracht.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">8.</span> Stichting NOB stelt op basis van het verzoek tot subsidievaststelling de subsidie definitief vast
                    vóór 1 augustus van het jaar dat volgt op het kalenderjaar waarin het verzoek tot subsidievaststelling is ingediend.
                    De subsidie kan lager worden vastgesteld of worden ingetrokken als:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a) </span>de onderwijsvoorziening niet heeft voldaan aan de verplichtingen die zijn verbonden aan de subsidieverlening;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b) </span>de school beëindigd wordt en indien het verzorgen van onderwijs tussentijds gestaakt wordt. In
                        dat geval wordt de subsidie vastgesteld naar rato van de tijd waarin onderwijs is verzorgd in het laatste
                        jaar van aansluiting van de school;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">c) </span>de subsidie niet is besteed volgens de gestelde bestedingsdoelen;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">d) </span>de subsidieaanvrager onjuiste of onvolledige gegevens heeft verstrekt en verstrekking van de
                        juiste gegevens tot een ander beschikking op de aanvraag zou hebben geleid;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">e) </span>de activiteiten waarvoor subsidie is verleend niet of niet geheel hebben plaatsgevonden.
                      </p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e642" name="d53663e642"></a>Artikel 10 – Wijzigen subsidievaststelling
              </h3>
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">1.</span> Stichting NOB kan de subsidievaststelling intrekken of ten nadele van de subsidieontvanger wijzigen
                    als:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">a) </span>er feiten of omstandigheden zijn waarvan Stichting NOB bij de subsidievaststelling redelijkerwijs
                        niet op de hoogte kon zijn en op grond waarvan de subsidie lager zou zijn vastgesteld;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">b) </span>de subsidievaststelling onjuist was en de subsidieaanvrager dit wist of behoorde te weten.
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">2.</span> Stichting NOB kan de subsidievaststelling intrekken of ten nadele van de onderwijsvoorziening wijzigen
                    tot uiterlijk vijf jaar vanaf de datum van vaststelling.
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e669" name="d53663e669"></a>Artikel 11 – Oprichting nieuwe onderwijsvoorziening
              </h3>
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">1.</span> Bij de oprichting van een nieuwe onderwijsvoorziening kan deze in aanmerking komen voor ondersteuning
                    tijdens de opstartfase. Deze ondersteuning bestaat uit dienstverlening en/of materiële ondersteuning.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">2.</span> Een aanvraag voor ondersteuning in de vorm van dienstverlening kan worden ingediend door een rechtspersoon
                    zoals bedoeld in artikel 3, ook als deze nog in oprichting is. Een aanvraag voor materiële ondersteuning kan
                    alleen worden ingediend door een rechtspersoon zoals bedoeld in artikel 3. Bij de aanvraag moet de nieuwe onderwijsvoorziening
                    een oprichtingsplan indienen met daarin een voorstel voor de te ondernemen activiteiten en een overzicht van
                    de bijbehorende kosten. Stichting NOB kan nadere eisen stellen aan het oprichtingsplan.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">3.</span> Binnen vier weken na ontvangst van het oprichtingsplan neemt Stichting NOB een besluit over de vorm
                    en het toekennen van de ondersteuning.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">4.</span> Een besluit tot het toekennen van de ondersteuning zoals bedoeld in lid 1 geeft niet automatisch
                    recht op de subsidie zoals gesteld in artikel 6; hiervoor dient de onderwijsvoorziening te voldoen aan de eisen
                    zoals gesteld in artikel 3 en 4 van deze regeling.
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e694" name="d53663e694"></a>Artikel 12 – Egalisatiereserve
              </h3>
              <p>Als de verstrekte subsidie in enig jaar heeft geleid tot meer inkomsten dan uitgaven, dan kan de subsidieontvanger
                dit overschot reserveren zoals is bepaald in artikel 4:72 van de Algemene wet bestuursrecht. Stichting NOB kan
                de subsidieverlening afhankelijk stellen van de omvang van deze reserve, als deze omvang de noodzaak tot subsidiëring
                niet meer rechtvaardigt.
              </p>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e700" name="d53663e700"></a>Artikel 13 – Beëindiging
              </h3>
              <ul class="artikel_leden whitespace-small">
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">1.</span> Als de aansluiting van de rechtspersoon zoals bedoeld in artikel 3 bij Stichting NOB wordt beëindigd,
                    dan verzendt de rechtspersoon binnen 30 dagen na de datum van beëindiging van de aansluiting de financiële
                    verantwoording, zoals is bepaald in artikel 9 lid 4, over de periode waarover nog geen verzoek tot subsidievaststelling
                    is ingediend, zoals bedoeld in artikel 9 lid 1.
                  </p>
                </li>
                <li>
                  <p class="lid labeled">
                    <span class="lidnr">2.</span> Niet bestede subsidie op het moment van beëindiging van de aansluiting, moet binnen 60 dagen na de
                    datum van beëindiging aan Stichting NOB worden overgemaakt.
                  </p>
                </li>
              </ul>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e715" name="d53663e715"></a>Artikel 14 – Hardheidsclausule
              </h3>
              <p>Stichting NOB kan van de bepalingen in deze regeling afwijken als toepassing ervan voor één of meer belanghebbenden
                gevolgen zou hebben die vanwege uitzonderlijke en onvoorziene omstandigheden onevenredig zijn in verhouding tot
                de met de bepaling te dienen doelen, dan wel tot onbillijkheden van zwaarwegende aard.
              </p>
            </div>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d53663e721" name="d53663e721"></a>Artikel 15 – Bezwaar en beroep
              </h3>
              <p>Belanghebbenden kunnen bezwaar en beroep aantekenen tegen besluiten van Stichting NOB in het kader van subsidieverlening
                of subsidievaststelling, overeenkomstig de bepalingen in de Algemene wet bestuursrecht.
              </p>
            </div>
          </div>
          <div class="nota-toelichting">
            <h2 class="nota-toelichting_kop">
              <a id="d53663e727" name="d53663e727"></a>TOELICHTING
            </h2>
            <p>Deze toelichting maakt een onverbrekelijk onderdeel uit van de Subsidieregeling Stichting Nederlands Onderwijs in het
              Buitenland 2011.
            </p>
            <p>De subsidieregeling van Stichting NOB voor 2011 is beperkt gewijzigd ten opzichte van de regeling voor 2010. Met deze
              regeling wil Stichting NOB meer duidelijkheid bieden over de voorwaarden voor subsidiëring en de bijbehorende procedures.
              Deze regeling 2011 is in overeenstemming met de Algemene wet bestuursrecht.
            </p>
            <p>Er is een duidelijk onderscheid aangebracht tussen het verzoek tot subsidie
              <em class="cur">verlening</em> en het verzoek tot subsidie
              <em class="cur">vaststelling</em>. Een onderwijsvoorziening moet een verzoek tot subsidie
              <em class="cur">verlening</em> over 2011 vóór 1 december 2010 indienen bij Stichting NOB. Het verzoek tot definitieve subsidie
              <em
                class="cur">vaststelling</em> over 2011 moet de onderwijsvoorziening vóór 1 december 2012 indienen bij Stichting NOB, tegelijk
              met een eventueel verzoek tot subsidieverlening over het jaar 2013
            </p>
            <h3 class="divisiekop1">
              <a id="d53663e748" name="d53663e748"></a>Artikelsgewijs
            </h3>
            <h4 class="divisiekop2">
              <a id="d53663e751" name="d53663e751"></a>Toelichting artikel 1 – Begripsbepalingen
            </h4>
            <p>De subsidieregeling geldt alleen voor onderwijsvoorzieningen voor basis- en voortgezet onderwijs.</p>
            <h4 class="divisiekop2">
              <a id="d53663e756" name="d53663e756"></a>Toelichting artikel 2 – Doel van de subsidie
            </h4>
            <p>Stichting NOB ontvangt op basis van de Regeling Stichting Nederlands Onderwijs in het Buitenland (besluit van 23 april
              2007, kenmerk PO/KO-06.6456,
              <a href="stcrt-2007-89-p14-SC80351.html" title="link naar publicatie stcrt-2007-89-p14-SC80351">Staatscourant 2007</a>.89) van de Minister van Onderwijs, Cultuur &amp; Wetenschap een subsidie voor het beheer van
              activiteiten en onderwijsvoorzieningen in het buitenland die geheel of gedeeltelijk door de overheid worden gesubsidieerd.
              De Minister heeft de bevoegdheid tot het toekennen van deze subsidie aan onderwijsvoorzieningen met deze regeling
              gedelegeerd aan Stichting NOB. Op basis van de Subsidieregeling Stichting Nederlands Onderwijs in het Buitenland
              2011 neemt Stichting NOB besluiten over het toekennen van de subsidie aan onderwijsvoorzieningen.
            </p>
            <h4 class="divisiekop2">
              <a id="d53663e764" name="d53663e764"></a>Toelichting artikel 3 – Rechtspersoon
            </h4>
            <p>De onderwijsvoorziening moet in stand worden gehouden door een rechtspersoon. Zowel een Nederlandse als buitenlandse
              rechtsvorm is toegestaan. Veel scholen kiezen voor een Nederlandse rechtsvorm. Bij de eerste subsidieaanvraag en,
              na onderbreking van de aansluiting (zie toelichting art. 3, onderdeel a. hierna), toont het bestuur de rechtspersoonlijkheid
              aan met een Akte van Oprichting/statuten en een uittreksel uit het handelsregister c.q. bewijs van inschrijving bij
              de (Nederlandse of lokale) Kamer van Koophandel, of een vergelijkbaar document waaruit het bestaan van de rechtspersoon
              blijkt. In sommige gevallen kan een onderwijsvoorziening ook onder een andere rechtspersoon vallen, bijvoorbeeld
              een onderwijsvoorziening voor NTC-onderwijs die onderdeel vormt van een internationale school. In dat laatste geval
              moet de subsidieaanvrager aantonen dat de onderwijsvoorziening onderdeel uitmaakt van een andere rechtspersoon en
              moet hij de Akte van Oprichting/statuten overleggen van die rechtspersoon.
            </p>
            <p>Stichting NOB adviseert om in ieder geval de volgende personen aan te stellen binnen het bestuur van de rechtspersoon:
              een voorzitter, een penningmeester en een secretaris. Op een internationale school kan het bestuur ook bij de
              <em
                class="cur">board</em> van de internationale school liggen. Aangezien alle communicatie tussen Stichting NOB, de onderwijsvoorziening
              en de toezichthouder in het Nederlands verloopt, is het in dat geval uiterst belangrijk dat de
              <em class="cur">board</em> een Nederlandstalige representant/contactpersoon aanstelt.
            </p>
            <h5 class="divisiekop3">
              <a id="d53663e777" name="d53663e777"></a>Toelichting artikel 3 onderdeel a – Akte van Aansluiting
            </h5>
            <div class="alineagroep">
              <p>Een onderwijsvoorziening komt alleen voor subsidie in aanmerking als deze is aangesloten bij Stichting NOB door middel
                van een Akte van Aansluiting. De Akte moet zowel door het bestuur van de onderwijsvoorziening als door Stichting
                NOB zijn ondertekend.
              </p>
              <p>Bij ondertekening committeert het bestuur zich aan het Reglement van Aansluiting van Stichting NOB. Voor aansluiting
                moet de onderwijsvoorziening voldoen aan de voorwaarden voor subsidieverlening zoals opgenomen in deze Subsidieregeling.
                Dit betekent feitelijk dat er geen aansluiting mogelijk is zonder dat men aan de subsidievoorwaarden voldoet, en
                anderzijds dat er geen subsidiëring mogelijk is zonder dat er sprake is van een Akte van Aansluiting.
              </p>
            </div>
            <p>Een nieuwe onderwijsvoorziening kan per 1 september of 1 januari van enig jaar bij Stichting NOB worden aangesloten.</p>
            <p>Een bestaande onderwijsvoorziening kan uitbreiden met een nieuwe schoolsoort, bijvoorbeeld naast BO ook VO. Ook kan
              een onderwijsvoorziening een nieuwe locatie (vestiging) openen. Daar behoeft dan geen notaris of Kamer van Koophandel
              aan te pas te komen. Een nieuwe schoolsoort of locatie moet uiteraard aan de subsidievoorwaarden voldoen om voor
              subsidie in aanmerking te komen.
            </p>
            <p>Mocht een bestaande school een nieuwe schoolsoort of locatie in de loop van het kalenderjaar starten, dan geldt dat
              de subsidie voor nieuwe leerlingen pas ingaat per 1 januari van het eerstvolgende kalenderjaar.
            </p>
            <h4 class="divisiekop2">
              <a id="d53663e791" name="d53663e791"></a>Toelichting artikel 4 – Subsidievoorwaarden
            </h4>
            <p>Als een onderwijsvoorziening in enig kalenderjaar voor subsidie in aanmerking komt, betekent dit niet dat de onderwijsvoorziening
              ook in volgende jaren automatisch recht heeft op subsidie. Elk kalenderjaar moet de onderwijsvoorziening opnieuw
              aan de voorwaarden van de subsidieregeling voldoen. Als dit niet het geval is, wordt de aanvraag voor subsidieverlening
              afgewezen.
            </p>
            <h5 class="divisiekop3">
              <a id="d53663e796" name="d53663e796"></a>Toelichting artikel 4 eerste lid – Aantal leerlingen en nationaliteit
            </h5>
            <h6 class="divisiekop4">
              <a id="d53663e799" name="d53663e799"></a>Nieuwe onderwijsvoorziening
            </h6>
            <p>De minimale grootte voor nieuwe onderwijsvoorzieningen voor NTC-onderwijs en volledig dagonderwijs is tien leerlingen,
              waarbij de leerlingen in het basis- en voortgezet onderwijs samengeteld mogen worden. Heeft een onderwijsvoorziening
              al eerder subsidie ontvangen van Stichting NOB, dan geldt er geen minimum aantal ingeschreven leerlingen meer.
            </p>
            <h6 class="divisiekop4">
              <a id="d53663e804" name="d53663e804"></a>Peildatum
            </h6>
            <p>De subsidieberekening voor het kalenderjaar 2011 is gebaseerd op het aantal subsidiabele leerlingen op 1 oktober 2010
              (de peildatum). Dit is een richtlijn van het Ministerie van OCW. Voor nieuwe onderwijsvoorzieningen geldt een uitzondering;
              in het startjaar telt het aantal subsidiabele leerlingen en hun leeftijd op de datum van de start van de subsidiëring,
              te weten 1 september of 1 januari van het subsidiejaar.
            </p>
            <div class="alineagroep">
              <p>Een leerling kan slechts eenmaal voor subsidie in aanmerking komen. Een onderwijsvoorziening moet vroegtijdig nagaan
                of een leerling ook bij een organisatie voor afstandsonderwijs of een andere gesubsidieerde onderwijsvoorziening
                ingeschreven staat.
              </p>
              <p>Zodra alle subsidieaanvragen voor 2011 binnen zijn, controleert Stichting NOB of er leerlingen meerdere keren of
                bij meerdere onderwijsvoorzieningen op de peildatum staan ingeschreven. De peildatum is 1 oktober voorafgaand aan
                het subsidiejaar, voor nieuwe onderwijsvoorzieningen geldt als peildatum de ingangsdatum van subsidiëring. Is een
                leerling op de peildatum op twee of meer onderwijsvoorzieningen ingeschreven, dan is voor Stichting NOB het uitgangspunt
                dat de oudste datum van inschrijving bepalend is voor het recht op subsidie.
              </p>
            </div>
            <p>Mocht een school ten onrechte subsidie voor dubbel ingeschreven leerling hebben ontvangen, dan zal Stichting NOB de
              subsidieverlening zo snel mogelijk maar uiterlijk bij de definitieve vaststelling van de subsidie over 2011 aanpassen
              en de ten onrechte ontvangen subsidie verrekenen met nog uit te keren subsidiebedragen.
            </p>
            <h6 class="divisiekop4">
              <a id="d53663e816" name="d53663e816"></a>Nationaliteit
            </h6>
            <p>Een onderwijsvoorziening moet primair gericht zijn op onderwijs aan kinderen met de Nederlandse en Belgische nationaliteit,
              maar kan ook openstaan voor Nederlandstalige kinderen met de nationaliteit van één van de lidstaten van de Europese
              Unie .
            </p>
            <p>Op de datum van inwerkingtreding van deze subsidieregeling zijn 27 landen lid van de Europese Unie (EU): België, Bulgarije,
              Cyprus, Denemarken, Duitsland, Estland, Finland, Frankrijk, Griekenland, Hongarije, Ierland, Italië, Letland, Litouwen,
              Luxemburg, Malta, Nederland, Oostenrijk, Polen, Portugal, Roemenië, Slovenië, Slowakije, Spanje, Tsjechië, Verenigd
              Koninkrijk en Zweden.
            </p>
            <p>Deze subsidievoorwaarde betekent niet dat een onderwijsvoorziening elk Nederlandstalig kind automatisch moet toelaten.
              Stichting NOB adviseert elke onderwijsvoorziening om een eigen aannamebeleid te formuleren.
            </p>
            <p>Stichting NOB vraagt steekproefsgewijs aan onderwijsvoorzieningen om de nationaliteit van hun leerlingen aan te tonen.
              Bij inschrijving van een leerling moet de onderwijsvoorziening dan ook altijd een geldig bewijs van de nationaliteit
              te vragen. Een onderwijsvoorziening kan deze bewijzen bewaren in de leerlingenadministratie of per leerling opslaan
              op Mijn School.
            </p>
            <p>Als een leerling zelf geen geldig paspoort of identiteitsbewijs van een EU-lidstaat heeft, dan kan de nationaliteit
              van de leerling ook aangetoond worden met behulp van een kopie van het paspoort van de ouder (mits het kind in dit
              paspoort staat ingeschreven). Staat het kind niet ingeschreven bij de ouder, dan kan de ouder ook een geboorteakte
              overleggen.
            </p>
            <p>Als Stichting NOB de persoonsgegevens van leerlingen van een onderwijsvoorziening wil controleren, ontvangt de onderwijsvoorziening
              hierover van tevoren nader bericht.
            </p>
            <h5 class="divisiekop3">
              <a id="d53663e831" name="d53663e831"></a>Toelichting artikel 4 derde lid – Ambassadeverklaring
            </h5>
            <p>Na het invullen van de leerling-gegevens in de subsidieaanvraag op Mijn School is het mogelijk om de ‘Verklaring bestuur
              en diplomatieke vertegenwoordiging’ (ambassadeverklaring) af te drukken. Deze verklaring moet eerst ondertekend worden
              door een bestuurslid van de onderwijsvoorziening. De verklaring moet daarna worden ondertekend en gewaarmerkt door
              een gevolmachtigd medewerker van de Nederlandse diplomatieke vertegenwoordiging (ambassade, consulaat of Nederlandse
              zaakgelastigde).
            </p>
            <p>De medewerker van de diplomatieke vertegenwoordiging kan het bestuur vragen voor elke leerling een kopie van het inschrijfformulier
              en een bewijs van nationaliteit bij te sluiten. Kan of wil de ambassade of het consulaat niet tekenen voor leerlingen
              uit andere EU-lidstaten, dan kan het bestuur contact opnemen met Stichting NOB.
            </p>
            <p>Het bestuur moet de originele verklaring (zonder de inschrijfformulieren of bewijzen van nationaliteit) per post naar
              Stichting NOB sturen.
            </p>
            <h5 class="divisiekop3">
              <a id="d53663e840" name="d53663e840"></a>Toelichting artikel 4 vierde lid – Schoolgids en schoolplan
            </h5>
            <p>De onderwijsvoorziening beschikt over een geldig schoolplan en schoolgids die zijn gebaseerd op de Schrijfwijzer voor
              het schoolplan en de Schrijfwijzer voor de schoolgids van Stichting NOB en zijn vastgesteld door het bestuur en ingediend
              bij de toezichthouder. Het bestuur plaatst direct na vaststelling of wijziging van het schoolplan of de schoolgids
              op Mijn School. Bij plaatsing worden deze documenten automatisch doorgezonden naar de Onderwijsinspectie. De schoolgids
              is vanaf de volgende dag zichtbaar in de Scholengids op de website van Stichting NOB, tot het moment waarop de aangegeven
              geldigheidsduur verloopt.
            </p>
            <p>Als een onderwijsvoorziening voor NTC-onderwijs integraal onderdeel vormt van een internationale school, dan voldoet
              een schoolplan in het Engels, mits het schoolplan alle componenten bevat van de Schrijfwijzer voor het schoolplan
              van Stichting NOB en voorzien is van een Nederlandstalige samenvatting. Het schoolplan mag onderdeel zijn van het
              strategisch plan van de internationale school.
            </p>
            <p>Ook de schoolgids mag in het geval van een geïntegreerde onderwijsvoorziening voor NTC-onderwijs in de Engelse taal
              zijn gesteld, mits het gedeelte met informatie over het NTC-onderwijs Nederlandstalig is.
            </p>
            <div class="alineagroep">
              <p>Start een onderwijsvoorziening met een nieuwe schoolsoort (bijvoorbeeld een VO-afdeling naast een BO-afdeling), dan
                is een schoolgids en een schoolplan voor deze nieuwe schoolsoort noodzakelijk.
              </p>
              <p>Desgewenst kunnen bestaande scholen met zowel een BO-, als een VO-afdeling een gecombineerd schoolplan en een gecombineerde
                schoolgids maken met een algemeen deel, een deel BO en een deel VO.
              </p>
              <p>Meer informatie is te vinden op de website van Stichting NOB. </p>
            </div>
            <h5 class="divisiekop3">
              <a id="d53663e856" name="d53663e856"></a>Toelichting artikel 4 vijfde lid – Toezichtarrangement
            </h5>
            <p>De Inspectie van het Onderwijs bezoekt regelmatig onderwijsvoorzieningen om de kwaliteit te beoordelen. Als de Inspectie
              van mening is dat de kwaliteit van een onderwijsvoorziening onvoldoende is, dan kan de Inspectie aanwijzingen geven
              ter betering van de onderwijskwaliteit en een aangepast toezichtarrangement instellen. In dat geval zal de Inspectie
              de onderwijsvoorziening gemiddeld één keer per twee jaar in plaats van gemiddeld één keer per vier jaar bezoeken.
            </p>
            <p>Als de Inspectie voor de tweede achtereenvolgende keer oordeelt dat de kwaliteit van het onderwijs onvoldoende is,
              vervalt het recht op subsidie in het kader van deze subsidieregeling en daarmee ook de aansluiting bij Stichting
              NOB.
            </p>
            <h5 class="divisiekop3">
              <a id="d53663e863" name="d53663e863"></a>Toelichting artikel 4 zevende lid – Bevoegdheid
            </h5>
            <p>Als een (aspirant) leerkracht niet over de juiste lesbevoegdheid beschikt, moet het bestuur tijdig ontheffing voor
              de leerkracht aanvragen bij de Inspectie van het Onderwijs. In bepaalde gevallen kan de inspecteur tijdelijk ontheffing
              verlenen, onder andere op voorwaarde dat de leerkracht met ontheffing werkt onder de verantwoordelijkheid van een
              bevoegde leerkracht. Vaak stelt de Inspectie bij het verlenen van de ontheffing nadere voorwaarden, zoals (bij)scholing
              en/of supervisie. De ontheffing is persoonsgebonden. De Inspectie heeft te allen tijde het recht om een ontheffing
              niet te verlenen. Zie verder www.stichtingnob.nl.
            </p>
            <p>Als er na het indienen van de subsidieaanvraag mutaties in het leerkrachtenbestand optreden en er daardoor geen bevoegde
              leerkracht les geeft op de onderwijsvoorziening, dan moet het bestuur dit direct schriftelijk aan Stichting NOB melden.
            </p>
            <h4 class="divisiekop2">
              <a id="d53663e870" name="d53663e870"></a>Toelichting artikel 6 tweede lid – Hoogte subsidie
            </h4>
            <p>Het kan voorkomen dat het Ministerie van OCW de bekostiging van Stichting NOB aanpast. Aangezien vanuit deze bekostiging
              ook de subsidieverlening plaatsvindt zoals is beschreven in deze regeling, heeft Stichting NOB het recht om de hoogte
              van de subsidiebedragen aan te passen.
            </p>
            <h4 class="divisiekop2">
              <a id="d53663e875" name="d53663e875"></a>Toelichting artikel 7 eerste lid – Mijn School
            </h4>
            <p>De onderwijsvoorziening kan de subsidieaanvraag indienen via Mijn School. Als de onderwijsvoorziening niet beschikt
              over een verbinding met Mijn School, kan de subsidieaanvraag ook per post worden ingediend bij Stichting NOB. Ook
              in dat geval geldt dat de aanvraag vóór 1 december 2010 moet zijn ingediend, inclusief alle gevraagde informatie
              en bijbehorende documentatie.

            </p>
            <h5 class="divisiekop3">
              <a id="d53663e880" name="d53663e880"></a>Toelichting artikel 7 tweede lid – Uiterste inleverdatum subsidieaanvraag
            </h5>
            <p>De uiterste inleverdatum van de subsidieaanvraag voor 2011 is 1&nbsp;december 2010. In uitzonderlijke gevallen kan
              Stichting NOB uitstel verlenen tot 1 januari 2011, mits het bestuur vóór 1 december 2010 een onderbouwd verzoek indient
              bij Stichting NOB.
            </p>
            <p>Voor nieuwe onderwijsvoorzieningen die per 1&nbsp;september 2011 in aanmerking willen komen voor subsidie, geldt als
              uiterste inleverdatum 1 augustus 2011.
            </p>
            <h5 class="divisiekop3">
              <a id="d53663e887" name="d53663e887"></a>Toelichting artikel 7 derde lid – Nieuwe onderwijsvoorzieningen
            </h5>
            <p>Nieuwe onderwijsvoorzieningen kunnen ofwel per 1 september ofwel per 1 januari gesubsidieerd worden. Worden zij per
              1 september gesubsidieerd, dan ontvangen zij een partiële subsidieverlening over de maanden september-december.
            </p>
            <h4 class="divisiekop2">
              <a id="d53663e892" name="d53663e892"></a>Toelichting artikel 8 – Subsidieverlening
            </h4>
            <p>Stichting NOB neemt uiterlijk 31 december 2010 een beschikking (besluit) tot subsidieverlening, tenzij de aanvraag
              later is gecomplementeerd. In dat laatste geval neemt Stichting NOB binnen vier weken na complementeren een besluit.
              De uitkering van de subsidie vindt zo snel mogelijk plaats na het afgeven van de beschikking tot subsidieverlening,
              maar uiterlijk binnen vier weken daarna.
            </p>
            <h4 class="divisiekop2">
              <a id="d53663e897" name="d53663e897"></a>Toelichting artikel 9 – Subsidievaststelling
            </h4>
            <p>Het bedrag dat vermeld staat in de subsidieverlening voor 2011, zoals beschreven in artikel 8, is voorlopig. In 2013
              stelt Stichting NOB de subsidieverlening over 2011 definitief vast en volgt bij de vaststelling zo nodig nog een
              definitieve afrekening.
            </p>
            <p>De rechtspersoon moet na afloop van het subsidiejaar bij Stichting NOB een verzoek indienen om subsidievaststelling.
              Het verzoek tot vaststelling over het subsidiejaar 2010 is een onderdeel van de subsidieaanvraag voor 2013 en moet
              dus worden ingediend vóór 1&nbsp;december 2012.
            </p>
            <div class="alineagroep">
              <p>Het verzoek tot subsidievaststelling bestaat uit drie onderdelen:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1) </span>Een financiële verantwoording over de besteding van de subsidie in het voorgeschreven format van
                    de subsidieaanvraag in Mijn School. Als de onderwijsvoorziening beschikt over een eigen financieel verslag,
                    dan adviseert Stichting NOB om deze toe te voegen aan de financiële verantwoording.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2) </span>Een verklaring van een accountant of een verslag van een kascontrolecommissie. Bij een verleend subsidiebedrag
                    van hoger dan €&nbsp;250.000 is een accountantsverklaring vereist. Bij lagere bedragen kan gekozen worden tussen
                    een accountantsverklaring of een verslag van een kascontrolecommissie.
                  </p>
                  <p>Een kascontrolecommissie is een commissie die de jaarstukken, zoals de balans en de exploitatierekening controleert
                    en daarvan verslag uitbrengt aan het bestuur. De commissie beoordeelt daarbij de volledigheid en juistheid
                    van de stukken en de rechtmatigheid van de uitgaven en de verplichtingen die zijn aangegaan. Op basis van dit
                    verslag kan het bestuur van de onderwijsvoorziening decharge verlenen aan de penningmeester van het bestuur.
                    Het bestuur moet zelf zorg dragen voor de vorming van een kascontrolecommissie. De kascontrolecommissie moet
                    onafhankelijk zijn. Er mogen geen bestuursleden of personeelsleden van de onderwijsvoorziening zitting in hebben.
                  </p>
                  <p>In de verklaring van de accountant of de kascontrolecommissie wordt uitspraak gedaan over:</p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>de betrouwbaarheid van de opgave van het aantal leerlingen en nationaliteit en leeftijd van leerlingen
                        en
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>de mate waarin er is sprake van rechtmatigheid uitgaven conform bestedingsdoelen (zie art. 5).
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">3) </span>Een activiteitenverslag dat de aard en omvang van de activiteiten beschrijft waarvoor subsidie is
                    verleend en een vergelijking bevat tussen de nagestreefde en gerealiseerde doelstellingen.
                  </p>
                </li>
              </ul>
            </div>
            <h4 class="divisiekop2">
              <a id="d53663e938" name="d53663e938"></a>Toelichting artikel 10 – Wijziging subsidievaststelling
            </h4>
            <p>In artikel 9, achtste lid is bepaald dat bij de vaststelling de subsidie in een aantal gevallen lager kan worden vastgesteld
              of zelfs ingetrokken. In artikel 10 is bepaald dat Stichting NOB dit recht heeft tot uiterlijk vijf jaar na de subsidievaststelling.

            </p>
            <h4 class="divisiekop2">
              <a id="d53663e943" name="d53663e943"></a>Toelichting artikel 11 – Nieuwe onderwijsvoorziening
            </h4>
            <p>De regeling in artikel 11 geldt niet als een bestaande onderwijsvoorziening wordt uitgebreid met een nieuwe schoolsoort,
              bijvoorbeeld naast BO ook VO of als een onderwijsvoorziening wordt uitgebreid met een nieuwe locatie (vestiging).
            </p>
            <h4 class="divisiekop2">
              <a id="d53663e949" name="d53663e949"></a>Toelichting artikel 12 – Egalisatiereserve
            </h4>
            <p>Onderwijsvoorzieningen hoeven de subsidie die zij aan het einde van het jaar niet hebben besteed niet terug te storten
              aan Stichting NOB. Zij kunnen deze middelen reserveren voor uitgaven in volgende jaren. Als deze egalisatiereserve
              een zodanige omvang heeft dat er feitelijk geen noodzaak meer is tot subsidiëring, bijvoorbeeld omdat meerdere jaren
              achtereen vrijwel de gehele subsidie is gereserveerd, heeft Stichting NOB het recht om het toekennen van subsidie
              te weigeren of de hoogte daarvan lager vast te stellen.
            </p>
          </div>
        </div>
      </div>    </article>

  </div>
</div>

