<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

    <div id="broodtekst" class="stuk broodtekst-container">

      <h1 class="staatscourant_kop">
        <a id="d16e43" name="d16e43"></a>Besluit van de Minister voor Buitenlandse Handel en Ontwikkelingssamenwerking van 14&nbsp;augustus 2013, nr. MinBuza
        2013.239463, tot verlening van mandaat, volmacht en machtiging aan de directeur van het Netherlands Space Office inzake
        uitvoering van de Geodata for Agriculture and Water Facility 2013–2014 (Mandaatbesluit G4AW)
      </h1>
      <div class="regeling">
        <div class="aanhef">
          <a id="d16e48" name="d16e48"></a>
          <p class="wie">De Minister voor Buitenlandse Handel en Ontwikkelingssamenwerking,</p>
          <p class="considerans.al">Gelet op afdeling 10.1.1 van de Algemene wet bestuursrecht;</p>
          <p class="afkondiging">Besluit:</p>
        </div>
        <div class="regeling-tekst">
          <a id="d16e58" name="d16e58"></a>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d16e62" name="d16e62"></a>Artikel 1
            </h3>
            <ul class="artikel_leden whitespace-small">
              <li>
                <p class="lid labeled">
                  <span class="lidnr">1.</span> Aan de directeur van de Netherlands Space Office wordt mandaat, volmacht en machtiging verleend om
                  namens de Minister voor Buitenlandse Handel en Ontwikkelingssamenwerking besluiten te nemen, rechtshandelingen
                  te verrichten en de daartoe benodigde voorbereidingshandelingen te verrichten met het oog op de toepassing
                  van het besluit van de Minister voor Buitenlandse Handel en Ontwikkelingssamenwerking van 26&nbsp;juli 2013,
                  nr. MinBuZa-2013.218333, tot vaststelling van beleidsregels en een subsidieplafond voor subsidiëring op grond
                  van de Subsidieregeling Ministerie van Buitenlandse Zaken 2006 (Geodata for Agriculture and Water Facility
                  2013–2014)
                  <a class="nootnum supernote-click-n1" href="#n1">1</a> alsmede met het oog op de toepassing van de Wet openbaarheid van bestuur voor zover samenhangend met
                  de toepassing van dat besluit.
                </p>
              </li>
              <li>
                <p class="lid labeled">
                  <span class="lidnr">2.</span> De op grond van het eerste lid verleende bevoegdheden strekken zich mede uit tot het nemen van besluiten
                  op bezwaarschriften voor zover het besluit waartegen het bezwaar zich richt niet door de directeur van de Netherlands
                  Space Office in mandaat is genomen, en tot het voeren van beroepsprocedures over de krachtens die bevoegdheden
                  genomen besluiten.
                </p>
              </li>
            </ul>
          </div>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d16e80" name="d16e80"></a>Artikel 2
            </h3>
            <p>De directeur van de Netherlands Space Office kan met betrekking tot zijn bevoegdheden, bedoeld in artikel 1, ondermandaat,
              volmacht en machtiging verlenen aan één of meer onder hem of onder de directeur-generaal Uitvoering van het ministerie
              van Economische Zaken, Landbouw en Innovatie ressorterende functionarissen.
            </p>
          </div>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d16e86" name="d16e86"></a>Artikel 3
            </h3>
            <p>De bevoegdheden, bedoeld in artikel 1, strekken zich uit tot na afloop van het in de bijlage genoemde tijdvak, voor
              zover de uitoefening daarvan betrekking heeft op besluiten en handelingen genomen of verricht voor afloop van dat
              tijdvak.
            </p>
          </div>
          <div class="artikel">
            <h3 class="artikel_kop">
              <a id="d16e92" name="d16e92"></a>Artikel 4
            </h3>
            <p>Dit besluit treedt in werking met ingang van de dag na de dagtekening van de Staatscourant waarin het wordt geplaatst
              en vervalt met ingang van 1&nbsp;januari 2015 met dien verstande dat de bevoegdheden, bedoeld in artikel 1, zich
              uitstrekken tot na 1&nbsp;januari 2015, voor zover de uitoefening daarvan betrekking heeft op besluiten en handelingen
              genomen of verricht voorafgaand aan 1&nbsp;januari 2015.
            </p>
          </div>
        </div>
        <div class="regeling-sluiting">
          <a id="d16e98" name="d16e98"></a>
          <div class="slotformulering">
            <p>Van dit besluit wordt mededeling gedaan door plaatsing in de Staatscourant.</p>
          </div>
          <p class="ondertekening">
            <span class="functie">De Minister voor Buitenlandse Handel en Ontwikkelingssamenwerking,</span>
            <span class="deze">namens deze:</span>
            <span class="functie">de Secretaris-Generaal van het Ministerie van Buitenlandse Zaken,</span>
            <span class="naam">
              <span class="voornaam">R.V.M.</span>
              <span class="achternaam">Jones-Bos.</span>
            </span>
          </p>
        </div>
        <div class="nota-toelichting">
          <h2 class="nota-toelichting_kop">
            <a id="d16e121" name="d16e121"></a>TOELICHTING
          </h2>
          <p>De Minister voor Buitenlandse Handel en Ontwikkelingssamenwerking heeft de uitvoering van het besluit Geodata for Agriculture
            and Water Facility 2013–2014
            <a class="nootnum supernote-click-n2" href="#n2">2</a> opgedragen aan het Netherlands Space Office, de uitvoeringsorganisatie van de rijksoverheid voor het ruimtevaartbeleid.
            Het NSO zal deze beleidsregels uitvoeren namens de Minister voor Buitenlandse Handel en Ontwikkelingssamenwerking
            op grond van een aan NSO verleend mandaat. Voor de voor de uitvoering benodigde juridische expertise zal de directeur
            NSO gebruikmaken van de inzet van medewerkers van de Directeur-Generaal Uitvoering van het ministerie van Economische
            Zaken, Landbouw en Innovatie.
          </p>
          <p class="ondertekening">
            <span class="functie">De Minister voor Buitenlandse Handel en Ontwikkelingssamenwerking,</span>
            <span class="deze">namens deze:</span>
            <span class="functie">de Secretaris-Generaal van het Ministerie van Buitenlandse Zaken,</span>
            <span class="naam">
              <span class="voornaam">R.V.M.</span>
              <span class="achternaam">Jones-Bos.</span>
            </span>
          </p>
        </div>
      </div>
      <div id="noten">
        <hr>
        <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n1">
          <h5 class="note-close">
            <a class="note-close" href="#close-n1">X</a> Noot
          </h5>
          <sup>
            <span class="nootnum">
              <a id="n1" name="n1"></a>1</span>
          </sup>
          <p>
            <a href="stcrt-2013-22108.html" title="link naar publicatie stcrt-2013-22108">Stcrt. 2013, nr. 22108</a>.
          </p>
        </div>
        <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n2">
          <h5 class="note-close">
            <a class="note-close" href="#close-n2">X</a> Noot
          </h5>
          <sup>
            <span class="nootnum">
              <a id="n2" name="n2"></a>2</span>
          </sup>
          <p>
            <a href="stcrt-2013-22108.html" title="link naar publicatie stcrt-2013-22108">Stcrt. 2013, nr. 22108</a>.
          </p>
        </div>
      </div>

    </div>         </article>

  </div>
</div>
