<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

    <div id="broodtekst" class="stuk broodtekst-container">

      <h1 class="staatscourant_kop">
        <a id="d16e48" name="d16e48"></a>
        <div class="plaatje">
          <img src="https://zoek.officielebekendmakingen.nl/stcrt-2013-25301-001.png" width="189" height="64" alt="Logo Westland">
        </div>Bekendmaking verleende omgevingsvergunning, Poelkade 26A (aangevraagd als Poelkade naast 26) te ‘s-Gravenzande, Westland
      </h1>
      <div class="circulaire">
        <div class="circulaire-tekst">
          <a id="d16e55" name="d16e55"></a>
          <p>Burgemeester en wethouders van de gemeente Westland maken ingevolge artikel 3.12 van de Wet algemene bepalingen omgevingsrecht
            (Wabo) bekend dat met toepassing van artikel 2.12, eerste lid, aanhef en onder a, onder 3˚, Wabo, een omgevingsvergunning
            is verleend, betreffende:
          </p>
          <div class="alineagroep">
            <p>Omschrijving Het bouwen van een woning</p>
            <p>Adres Poelkade 26A (aangevraagd als Poelkade naast 26)</p>
            <p>Kern ’s-Gravenzande</p>
            <p>Dossiernummer W-AV-2013-0364</p>
            <p>Activiteit(en) het (ver)bouwen van een bouwwerk</p>
            <p>Het gebruiken van gronden in strijd met het bestemmingsplan</p>
          </div>
          <p>De omgevingsvergunning met de hierbij behorende stukken ligt met ingang van vrijdag 13&nbsp;september 2013 gedurende
            een termijn van zes weken voor een ieder ter inzage.
          </p>
          <p>Het besluit is niet gewijzigd ten opzichte van het eerder ter inzage gelegde ontwerp daarvan.
          </p>
          <div class="circulaire_divisie">
            <h3 class="divisiekop1">
              <a id="d16e83" name="d16e83"></a>Inzien besluit
            </h3>
            <p>Binnen de genoemde termijn kan de omgevingsvergunning met de hierbij behorende stukken op afspraak worden ingezien
              bij het Omgevingsloket. U belt hiervoor tijdens kantoortijden op 14 0174.
            </p>
            <p>Deze omgevingsvergunning is, zonder bijlagen, beschikbaar op
              <a href="http://www.ruimtelijkeplannen.nl/" title="link naar http://www.ruimtelijkeplannen.nl/"
                class="externe_link">www.ruimtelijkeplannen.nl</a>.
            </p>
          </div>
          <div class="circulaire_divisie">
            <h3 class="divisiekop1">
              <a id="d16e98" name="d16e98"></a>Beroep instellen
            </h3>
            <p>Gedurende de hierboven vermelde termijn van terinzagelegging bestaat de mogelijkheid beroep tegen de omgevingsvergunning
              in te stellen bij de Rechtbank 's-Gravenhage, Sector Bestuursrecht, Postbus 20302, 2500 EH Den Haag. Deze mogelijkheid
              staat open voor belanghebbenden die:
            </p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">– </span>tijdig tegen het ontwerpbesluit hun zienswijze naar voren hebben gebracht bij het college;
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">– </span>aantonen dat zij redelijkerwijs niet in staat zijn geweest hun zienswijze bij het college naar voren
                  te brengen.
                </p>
              </li>
            </ul>
            <p>Tevens kan degene die beroep heeft ingesteld een verzoek om voorlopige voorziening indienen bij de Voorzieningenrechter
              van voornoemde sector.
            </p>
            <p>Het besluit treedt in werking met ingang van de dag na die waarop de beroepstermijn afloopt. Indien binnen de beroepstermijn
              een verzoek om voorlopige voorziening bij de Voorzieningenrechter is ingediend, treedt het besluit niet in werking
              voordat op dat verzoek is beslist.
            </p>
          </div>
          <div class="circulaire_divisie">
            <h3 class="divisiekop1">
              <a id="d16e124" name="d16e124"></a>Digitaal indienen beroepschrift en/of voorlopige voorziening
            </h3>
            <div class="alineagroep">
              <p>Het is mogelijk een beroepschrift of een verzoek om voorlopige voorziening digitaal in te dienen via het Digitaal
                loket bestuursrecht (
                <a href="http://loket.rechtspraak.nl/bestuursrecht.aspx" title="link naar http://loket.rechtspraak.nl/bestuursrecht.aspx"
                  class="externe_link">http://loket.rechtspraak.nl/bestuursrecht.aspx</a>).
              </p>
              <p>Voor het digitaal verzenden van het beroepschrift of het verzoek om voorlopige voorziening dient u te beschikken
                over DigiD.
              </p>
            </div>
          </div>
        </div>
        <div class="circulaire-sluiting">
          <a id="d16e138" name="d16e138"></a>
          <div class="gegeven">
            <p class="dagtekening">Westland, 12&nbsp;september 2013</p>
          </div>
          <p class="ondertekening">
            <span class="functie">Burgemeester en wethouders van Westland,</span>
            <span class="functie">de secretaris,</span>
            <span class="naam">
              <span class="voornaam">M. van</span>
              <span class="achternaam">Beek</span>
            </span>
          </p>
          <p class="ondertekening">
            <span class="functie">De burgemeester,</span>
            <span class="naam">
              <span class="voornaam">J. van der</span>
              <span class="achternaam">Tak</span>
            </span>
          </p>
        </div>
      </div>

    </div>
     </article>

  </div>
</div>
