<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a id="d16e44" name="d16e44"></a>Besluit van 24&nbsp;januari 2014, nr. 2014000160, tot afwijzing van het verzoek tot aanwijzing ter onteigening van
          een onroerende zaak in de gemeente Midden-Delfland krachtens artikel 78 van de onteigeningswet (onteigeningsplan Foppenpolder)
        </h1>
        <div class="regeling">
          <div class="aanhef">
            <a id="d16e49" name="d16e49"></a>
            <p class="wij">Wij Willem-Alexander, bij de gratie Gods, Koning der Nederlanden, Prins van Oranje-Nassau, enz. enz. enz.
            </p>
            <p class="considerans.al">Ingevolge de artikelen 77 en 78 van de onteigeningswet kan onteigening plaatsvinden voor de handhaving van de feitelijke
              toestand overeenkomstig een bestemmingsplan.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Het verzoek tot aanwijzing ter onteigening</strong>
            </p>
            <p class="considerans.al">De gemeenteraad van Midden-Delfland heeft Ons bij besluit van 3&nbsp;juli 2012, nr. 2012-05-05 verzocht om ten name
              van die gemeente een onroerende zaak ter onteigening aan te wijzen voor de handhaving van de feitelijke toestand
              overeenkomstig het bestemmingsplan “Kern Maasland”.
            </p>
            <p class="considerans.al">Bij brief van 8&nbsp;augustus 2012, kenmerk Z-2011-03465-2012-18915, hebben burgemeester en wethouders van Midden-Delfland
              het verzoek aan Ons ter besluitvorming voorgedragen. Bij brief van 7&nbsp;december 2012, kenmerk 2536/WBO/wbo, is
              het verzoek aangevuld.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Planologische grondslag</strong>
            </p>
            <p class="considerans.al">De onroerende zaak waarop het verzoek van de gemeenteraad van Midden-Delfland betrekking heeft, is begrepen in het
              bestemmingsplan “Kern Maasland”, van de gemeente Midden-Delfland (verder te noemen: het bestemmingsplan). Het bestemmingsplan
              is op 19&nbsp;mei 2009 vastgesteld door de raad van de gemeente Midden-Delfland en is vanaf 18&nbsp;augustus 2012
              onherroepelijk.
            </p>
            <p class="considerans.al">Aan de in het verzoek om onteigening begrepen onroerende zaak zijn in het bestemmingsplan de bestemmingen "Tuinen",
              "Wonen" en "Verkeer-Verblijfsgebied" toegekend.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Toepassing uniforme openbare voorbereidingsprocedure</strong>
            </p>
            <p class="considerans.al">Overeenkomstig artikel 78, tweede lid, van de onteigeningswet en artikel 3:11, eerste lid, van de Algemene wet bestuursrecht
              (Awb), hebben het ontwerp koninklijk besluit en de in artikel 79 van de onteigeningswet bedoelde stukken en gegevens
              met ingang van 21&nbsp;juni 2013 tot en met 1&nbsp;augustus 2013 in de gemeente Midden-Delfland en bij Rijkswaterstaat
              Corporate Dienst te Utrecht ter inzage gelegen. Overeenkomstig artikel 3:12 van de Awb, heeft de burgemeester van
              Midden-Delfland van het ontwerp koninklijk besluit en de terinzagelegging daarvan, op 20&nbsp;juni 2013 openbaar
              kennis gegeven in het huis-aan-huisblad "De Schakel MiddenDelfland". Onze Minister van Infrastructuur en Milieu (Onze
              Minister) heeft van het ontwerp koninklijk besluit openbaar kennis gegeven in de
              <a href="stcrt-2013-15311.html"
                title="link naar publicatie stcrt-2013-15311">Staatscourant van 20&nbsp;juni 2013, nr. 15311</a>.
            </p>
            <p class="considerans.al">Verder heeft Onze Minister het ontwerpbesluit overeenkomstig artikel 3:13 van de Awb voorafgaand aan de terinzagelegging
              toegezonden aan belanghebbenden waaronder begrepen de verzoeker om onteigening. Daarbij zijn de belanghebbenden gewezen
              op de mogelijkheid tot het schriftelijk of mondeling naar voren brengen van zienswijzen over het ontwerpbesluit en
              op de mogelijkheid over hun zienswijze te worden gehoord.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Overwegingen</strong>
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Noodzaak en urgentie</strong>
            </p>
            <p class="considerans.al">De in het onteigeningsplan begrepen onroerende zaak ligt aan de noordzijde van de openbare weg Foppenpolder in de kern
              Maasland, ter hoogte van de huisnummers 10 tot en met 16. Het betreft een strook grond ter grootte van 133 m
              <sup>2</sup>. In het jaar 2003 is deze strook grond mede benut voor de realisatie van twee woningbouwkavels, aan de Foppenpolder
              10 en 14, voor de ontsluiting van de achtergelegen woningbouwkavels Foppenpolder 12 en 16 en voor een trottoir langs
              de Foppenpolder. Blijkens mededeling van de zijde van de gemeente zijn de vrijstaande bungalows Foppenpolder 10 en
              14 in het jaar 2004 voor bewoning in gebruik genomen. De bestemmingen "Tuinen", "Wonen" en "Verkeer-Verblijfsgebied"
              die aan de onroerende zaak zijn toegekend, zijn gerealiseerd.
            </p>
            <p class="considerans.al">Het perceel, waartoe de in het onteigeningsplan begrepen onroerende zaak behoort, is eigendom van (1) B.E. van den
              Engel, (2) M.P. van der Maarel, (3) A.l.M. Gielesen (gehuwd met V.T.M. Wubben) en (4) P. Warnaar B.V. Deze eigendom
              is onverdeeld: ieder van deze (rechts)personen is voor een vierde eigenaar. De projectontwikkelaar (P. Warnaar B.V.)
              heeft getracht om via minnelijk overleg alsmede via de rechter een verdeling tot stand te brengen, onder meer teneinde
              enig eigenaar te worden van het deel van het perceel waarop het bestemmingsplan is gerealiseerd. Daarover is met
              twee mede-eigenaren overeenstemming bereikt, maar niet met mede-eigenares Gielesen. De door Warnaar ingestelde en
              tot eigendomsverdeling strekkende vorderingen zijn door de rechtbank en het Hof afgewezen. Tegen het arrest van het
              Hof is cassatie ingesteld. De gemeente verwacht dat rechtszaken hierover nog geruime tijd zullen voortduren.
            </p>
            <p class="considerans.al">Om de feitelijke toestand overeenkomstig het bestemmingsplan te kunnen handhaven, wenst de gemeente Midden-Delfland
              de eigendom te verkrijgen, vrij van lasten en rechten, over de in het onteigeningsverzoek begrepen onroerende zaak.
              Ten tijde van het verzoek was het volgens verzoeker niet aannemelijk dat het minnelijk overleg op afzienbare termijn
              zou leiden tot vrijwillige eigendomsoverdracht. De gemeenteraad van Midden-Delfland heeft besloten tot zijn onteigeningsverzoek
              om zo de handhaving van het bestemmingsplan zeker te stellen en het bestaande gebruik daarvan overeenkomstig de bestemmingen
              te consolideren.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Zienswijzen</strong>
            </p>
            <p class="considerans.al">Gedurende de termijn dat het ontwerpbesluit ter inzage heeft gelegen, zijn bij Ons daarover zienswijzen naar voren
              gebracht door
            </p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">1) </span>V.T.M. Wubben en A.I.M. Gielesen bij brief van 15&nbsp;juli 2013, verder te noemen: reclamanten 1.
                  Mevrouw A.I.M. Gielesen is één van de vier mede-eigenaren van het in de onteigening begrepen gedeelte van de
                  onroerende zaak, kadastraal bekend Maasland, sectie I, nummer 1181.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">2) </span>De raad van de gemeente Midden-Delfland, bij brief van 30&nbsp;juli 2013, verder te noemen: reclamant
                  2.
                </p>
              </li>
            </ul>
            <p class="considerans.al">Overeenkomstig artikel 78, vierde lid, van de onteigeningswet heeft Onze Minister reclamanten in de gelegenheid gesteld
              te worden gehoord in een hoorzitting op 15&nbsp;augustus 2013 te Schipluiden. Reclamanten hebben van deze mogelijkheid
              afgezien.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Overwegingen naar aanleiding van de zienswijzen</strong>
            </p>
            <p class="considerans.al">Reclamanten 1 geven in hun zienswijze aan dat zij zich kunnen verenigen met het ontwerp koninklijk besluit, houdende
              afwijzing van het verzoek tot aanwijzing ter onteigening. Reclamanten wensen echter, indien door andere partijen
              zienswijzen worden ingediend, afschriften daarvan te krijgen en daarop te kunnen reageren.
            </p>
            <p class="considerans.al">De zienswijze van reclamanten 1 geeft Ons aanleiding tot de volgende overwegingen.</p>
            <p class="considerans.al">De onteigening betreft een strook grond van 133 m
              <sup>2</sup>, gelegen aan de noordzijde van de openbare weg Foppenpolder, nabij de huisnummers 10 tot en met 16 in de
              kern Maasland. Al in het jaar 2003 is deze strook grond benut voor de bebouwing van twee woningbouwkavels aan de
              Foppenpolder 10 en 14, voor de ontsluiting van de achtergelegen woningbouwkavels Foppenpolder 12 en 16 en voor de
              aanleg van een trottoir. De gemeente Midden-Delfland wil onteigenen om er zeker van te zijn dat de gerealiseerde
              bestemmingen ter plaatse niet teniet zullen gaan vanwege een privaatrechtelijk geschil over een perceel grond waarvan
              de onroerende zaak deel uitmaakt. De gemeente wenst het bestemmingsplan te consolideren. Tevens maakt onteigening
              het de gemeente mogelijk om uitvoering te geven aan de tussen de bouwer (P. Warnaar B.V.) en de gemeente gesloten
              overeenkomst inzake kostenverhaal.
            </p>
            <p class="considerans.al">Wij overwegen dat het woongebied en de weg Foppenpolder op de desbetreffende onroerende zaak inmiddels is gerealiseerd.
              Tevens heeft Onze Minister op verzoek van reclamanten 1 met toestemming van reclamant 2 per e-mail van 5&nbsp;augustus
              2013 de zienswijze van reclamant 2 doorgestuurd. Reclamanten 1 hebben daarop per e-mail van 12&nbsp;augustus 2013
              gereageerd, waarop reclamant 2 weer gereageerd heeft per brief van 9&nbsp;september 2013. In beide laatstgenoemde
              stukken lichten de adviseurs van reclamanten de zienswijzen nader toe. Blijkens hun e-mail van 12&nbsp;augustus 2013
              hebben reclamanten 1 zich verzoend met de woonbestemming in het bestemmingsplan ‘Kern Maasland’ en hebben zij geen
              enkele intentie om welke civielrechtelijke actie dan ook in te stellen, die zou kunnen leiden tot een ingreep in
              de feitelijke toestand. De woningen (en de berging) die gedeeltelijk op hun perceel staan, kunnen wat reclamanten
              1 betreft dan gewoon blijven staan. Zij geven per e-mail aan “het prima te vinden dat deze situatie (uiteindelijk)
              is gelegaliseerd”.
            </p>
            <p class="considerans.al">Voor het overige zullen Wij niet verder ingaan op de zienswijze omdat reclamanten 1 zich kunnen verenigen met het ontwerp
              koninklijk besluit.
            </p>
            <p class="considerans.al">Reclamant 2 brengt een groot aantal bezwaren tegen het ontwerpbesluit naar voren, welke Wij als volgt samenvatten.
            </p>
            <ul class="expliciet whitespace-medium">
              <li class="li">
                <p class="labeled">
                  <span class="ol">I. </span>Inleiding.
                </p>
                <p>Reclamant 2 verzoekt Ons het standpunt, zoals dat uit het ontwerp koninklijk besluit naar voren komt, te heroverwegen.
                  Reclamant verwijst ter aanvulling naar zijn brief van 7&nbsp;december 2012, waarop later in de zienswijze wordt
                  ingegaan.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">II. </span>Achtergronden en aanleiding onteigeningsverzoek.
                </p>
                <p>Reclamant geeft aan dat in 2003 de te onteigenen strook grond van circa 133 m
                  <sup>2</sup> onder meer benut is voor de realisatie van twee woningbouwkavels (Foppenpolder 12 en 16) alsmede een
                  trottoir, als onderdeel van een groter project van zes te realiseren Vliet-woningen door P. Warnaar B.V. Reclamant
                  schetst vervolgens de gang van zaken in een aantal planologische procedures. Aangezien P. Warnaar B.V. het strookje
                  grond noch in der minne, noch via gerechtelijke procedures heeft kunnen verwerven, heeft zij de gemeente Midden-Delfland,
                  onder verwijzing naar de tussen partijen gesloten overeenkomst inzake het kostenverhaal, verzocht om tot onteigening
                  over te gaan.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">III. </span>Inhoud ontwerp koninklijk besluit
                </p>
                <p>Omdat het woongebied en de weg inmiddels zijn gerealiseerd, zou er geen noodzaak en urgentie tot onteigening aanwezig
                  zijn. De bestemmingen ter plaatse hebben volgens de Kroon geen conserverende strekking. Reclamant 2 is het hiermee
                  niet eens en vindt dat Wij voor de toepassing van artikel 77, lid 1 van de onteigeningswet een maatstaf hebben
                  aangelegd, die geen grondslag vindt in de wet.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">IV. </span>Onteigening ter handhaving van de feitelijke toestand overeenkomstig het bestemmingsplan.
                </p>
                <p>Reclamant 2 bestrijdt de in het ontwerp koninklijk besluit genoemde voorwaarden waaraan moet worden voldaan ten
                  einde te kunnen onteigenen ter handhaving van de feitelijke toestand overeenkomstig het bestemmingsplan. Reclamant
                  2 bestrijdt de uitleg daarvan, die inhoudt dat het moet gaan om bestemmingen van conserverende aard waarvan de
                  instandhouding niet op reguliere wijze is verzekerd, zodat de bestemmingen ernstig bedreigd kunnen worden. Deze
                  voorwaarden volgen volgens reclamant 2 niet uit de wet, althans niet zoals die in het ontwerp koninklijk besluit
                  worden uitgelegd. Artikel 77, lid 1, sub 1, van de onteigeningswet bepaalt in zoverre immers slechts dat onteigening
                  als bedoeld in Titel IV van de onteigeningswet kan plaatsvinden ten behoeve van de uitvoering of ter handhaving
                  van de feitelijke toestand overeenkomstig een bestemmingsplan. Reclamant 2 vindt dat aan deze maatstaf is voldaan,
                  zoals uitgebreid is beschreven in de eerdergenoemde brief van 7&nbsp;december 2012. In deze brief betoogt reclamant
                  2 – kort gezegd – dat de bevoegdheid tot onteigening ter handhaving van de feitelijke toestand overeenkomstig
                  een bestemmingsplan in feite niets extra’s vergt ten opzichte van de bevoegdheid tot onteigening ter uitvoering
                  van een bestemmingsplan. Reclamant 2 betoogt verder dat ter handhaving van de feitelijke toestand overeenkomstig
                  een bestemmingsplan het niet vereist is dat er sprake is van een nieuw bestemmingsplan, dat conserverend is ten
                  opzichte van een eerder bestemmingsplan. De Kroon heeft haar ontwerpbesluit ten onrechte gerelateerd aan het
                  voorheen geldende bestemmingsplan in plaats van aan de feitelijke situatie ter plaatse.
                </p>
                <p>Reclamant 2 betoogt in de zienswijze en in de brief van 7&nbsp;december 2012, dat de woningbouw ter plaatse een
                  algemeen belang dient en dat er feitelijk geen verschil is in de situatie dat het bestemmingsplan nog gerealiseerd
                  moet worden of al gerealiseerd is. Reclamant 2 wijst ook nog op andere maatschappelijke belangen. De eigenaren
                  van de woningen die gedeeltelijk staan op het te onteigenen perceelsgedeelte, worden thans ernstig belemmerd
                  in de vrije beschikking over hun eigendom. Verder acht reclamant 2 het niet uitgesloten dat reclamanten 1 een
                  vordering tot revindicatie zullen instellen en dat als die zou worden toegewezen, het reeds uitgevoerde bestemmingsplan
                  ongedaan zou moeten worden gemaakt. Onteigening zou dit kunnen voorkomen. Reclamant 2 vindt, nu reclamanten 1
                  niet bereid zijn tot verkoop van hun strook grond, er een reëel risico blijft dat de feitelijke toestand niet
                  zal worden gehandhaafd. Reclamant acht de dreiging aanwezig wegens het verzet van reclamanten 1 in vele planologische
                  en civiele procedures.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">V. </span>Andere argumenten om het verzoek van de raad alsnog toe te wijzen.
                </p>
                <p>De Kroon heeft al eerder goedgevonden dat voor vergelijkbare situaties waarin de bestemming al was gerealiseerd,
                  werd onteigend. Reclamant verwijst naar het KB van 5&nbsp;juli 1975, gemeente Vlodrop, Staatscourant 1975, nr.
                  16.
                </p>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">1. </span>Reclamant acht het niet goed te verklaren waarom het verzoek om onteigening niet kan worden gehonoreerd
                      in de voorliggende situatie waarin het bestemmingsplan de realisatie van de bestemmingen volgt, terwijl dat
                      in het omgekeerde geval, waarin de bestemmingen eerst worden gerealiseerd na de inwerkingtreding van het
                      plan, wel mogelijk wordt geacht.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">2. </span>Volgens reclamant is de Afdeling bestuursrechtspraak van de Raad van State van oordeel dat er geen
                      reden is om aan te nemen dat onteigening in het voorliggende geval niet mogelijk zou zijn. Reclamant verwijst
                      naar de uitspraak van de Afdeling bestuursrechtspraak van 18&nbsp;augustus 2012, nr. 200905991/1.R3, inzake
                      het beroep van reclamanten 1 tegen het bestemmingsplan “Kern Maasland”.
                    </p>
                  </li>
                </ul>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">VI. </span>Tot slot
                </p>
                <p>Reclamant 2 verzoekt om heroverweging van het ontwerp koninklijk besluit en aldus zijn verzoek tot aanwijzing tot
                  onteigening alsnog te honoreren. Reclamant verzoekt de Kroon daarbij ook rekening te houden met de hiervoor genoemde
                  uitspraak van de Afdeling bestuursrechtspraak van 18&nbsp;augustus 2012.
                </p>
              </li>
            </ul>
            <p class="considerans.al">De zienswijze van reclamant 2 geeft Ons aanleiding tot de volgende overwegingen.</p>
            <p class="considerans.al">Ad I en II</p>
            <p class="considerans.al">Wij overwegen dat het bestemmingsplan op en rondom de te onteigenen strook grond al in 2003 is gerealiseerd. De te
              onteigenen strook grond is onder meer benut voor de realisatie van twee woningbouwkavels (Foppenpolder 12 en 16)
              alsmede voor de aanleg van een trottoir, als onderdeel van een groter project van zes te realiseren Vliet-woningen
              door P. Warnaar B.V. Tussen de gemeente, de realisator en de mede-eigenaren (reclamanten 1) ontstonden bij de totstandkoming
              van het bestemmingsplan allerlei planologische en privaatrechtelijke geschillen. Voor de beoordeling van de onteigening
              is alleen relevant dat de geschillen er toe geleid hebben dat reclamanten 1 hun aandeel van de ter onteigening voorgedragen
              strook grond niet hebben willen verkopen aan de projectontwikkelaar P. Warnaar B.V. dan wel aan de gemeente Midden-Delfland.
              Het bestemmingsplan is niettemin, al dan niet met toestemming van reclamanten 1, gerealiseerd op het betrokken perceelsgedeelte.
              Aangezien de privaatrechtelijke geschillen niet zijn opgelost, is er een patstelling ontstaan. Vervolgens heeft de
              realisator P. Warnaar B.V. de gemeente Midden-Delfland, onder verwijzing naar de tussen partijen gesloten overeenkomst
              kostenverhaal, verzocht om tot onteigening over te gaan.
            </p>
            <p class="considerans.al">Ad III en IV</p>
            <p class="considerans.al">Reclamant 2 geeft vervolgens een uitleg aan artikel 77, lid 1 van de onteigeningswet die er op neer komt dat hij van
              oordeel is dat Wij een (te beperkte) maatstaf hebben aangelegd, die geen grondslag vindt in de wet. Reclamant betoogt
              dat de bevoegdheid tot onteigening ter handhaving van de feitelijke toestand overeenkomstig een bestemmingsplan in
              feite niets extra’s vergt ten opzichte van de bevoegdheid tot onteigening ter uitvoering van een bestemmingsplan.
              In de visie van reclamant maakt het derhalve niet uit of de bestemmingen ter uitvoering van een bestemmingsplan bij
              onteigening al dan niet zijn gerealiseerd. Het gaat immers volgens reclamant (slechts) om het maatschappelijk belang
              van het bestemmingsplan. Onteigening zou mogelijk moeten zijn vóór alsook na realisatie van de bestemmingen. Wij
              oordelen hierover dat een onteigening strekt ter uitvoering van de bestemmingen van een bestemmingsplan. Dat is mogelijk
              indien gronden niet langs minnelijke weg kunnen worden verworven. Het gaat daarbij om de uitvoering van werkzaamheden.
            </p>
            <p class="considerans.al">De wetgever heeft tevens de mogelijkheid tot onteigening ter handhaving van de feitelijke toestand overeenkomstig het
              bestemmingsplan gegeven teneinde een bestaande situatie te kunnen handhaven (conserveren), waarbij het aannemelijk
              is dat zonder onteigening die bestaande situatie ernstig bedreigd wordt.
            </p>
            <p class="considerans.al">Naar Ons oordeel is de door verzoeker gekozen onteigeningsgrondslag in deze zaak niet toepasbaar, omdat deze grondslag
              slechts ziet op de mogelijkheid om bestemmingen van conserverende aard door middel van onteigening in stand te houden
              indien deze instandhouding op reguliere wijze niet is verzekerd en het voortbestaan van deze conserverende bestemmingen
              ernstig bedreigd wordt. Mede gelet op het advies van de Raad van State van 5&nbsp;december 2013, no. W14.13.0389/IV,
              overwegen Wij hierover dat uit het door Ons ingestelde onderzoek is gebleken, dat er geen reden is dat de feitelijke
              toestand op enigerlei wijze wordt bedreigd. Een actie in die richting zou dan van reclamanten 1 moeten komen. Bij
              de behandeling van hun zienswijze hebben Wij hieromtrent onder andere het volgende overwogen. Blijkens hun e-mail
              van 12&nbsp;augustus 2013 hebben reclamanten 1 zich verzoend met de woonbestemming in het bestemmingsplan ‘Kern Maasland’
              en hebben zij geen enkele intentie om welke civielrechtelijke actie dan ook in te stellen, die zou kunnen leiden
              tot een ingreep in de feitelijke toestand. Voorts overwegen Wij dat de bestemmingen ter plaatse van de onroerende
              zaak gericht waren op de ontwikkeling van een nieuw woongebied met bijbehorende infrastructuur ter plaatse van een
              terrein dat voorheen was bestemd als bedrijventerrein. Dit woongebied en de weg Foppenpolder zijn inmiddels gerealiseerd.
              Gelet op het vorenstaande zijn Wij van oordeel dat de noodzaak en urgentie van de onteigening ontbreken.
            </p>
            <p class="considerans.al">Wat betreft de door reclamant naar voren gebrachte andere maatschappelijke belangen, zoals de problematiek dat de eigenaren
              van de woningen die gedeeltelijk staan op het te onteigenen perceelsgedeelte, thans ernstig belemmerd worden in de
              vrije beschikking over hun eigendom overwegen wij het volgende. Dit probleem vloeit voort uit het feit dat de betrokken
              woningen zijn gebouwd door de projectontwikkelaar op grond die niet zijn volledige eigendom is. De betreffende kavels
              zijn vervolgens verkocht aan de eigenaren van de beide woningen. Deze problematiek is echter van civielrechtelijke
              aard. De onteigeningswet beoogt niet dit soort geschillen op te lossen. Het bovengenoemde advies van de Raad van
              State voegt hier aan toe dat het bewerkstelligen van congruentie tussen de feitelijke verkaveling en de eigendomsverhoudingen
              geen algemeen belang is ter behartiging waarvan onteigening kan plaatsvinden.
            </p>
            <p class="considerans.al">De vrees van reclamant 2 dat reclamanten 1 een vordering tot revindicatie kunnen instellen die, als die zou worden
              toegewezen, er toe zou moeten leiden dat het uitgevoerde bestemmingsplan ongedaan zou moeten worden gemaakt, kunnen
              Wij niet delen. Ons is uit het onderzoek niet gebleken dat reclamanten 1 voornemens zijn een daartoe strekkende civielrechtelijke
              actie in te stellen. Daarbij overwegen Wij, zoals al bij de zienswijze van reclamanten 1 staat vermeld, dat deze
              zich blijkens hun e-mail van 12&nbsp;augustus 2013 verzoend hebben met de woonbestemming in het bestemmingsplan “Kern
              Maasland” en dat zij geen enkele intentie hebben om welke civielrechtelijke actie dan ook in te stellen, die zou
              kunnen leiden tot een ingreep in de feitelijke toestand. De woningen (en de berging) die gedeeltelijk op hun perceel
              staan, kunnen wat reclamanten betreft dan ook gewoon blijven staan.
            </p>
            <p class="considerans.al">Ad V</p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">1. </span>De door reclamant 2 genoemde situatie in Vlodrop betrof kort gezegd het volgende. De gemeente Vlodrop
                  had toestemming gekregen van een eigenaar om over diens grond een gedeelte van een weg aan te leggen, onder voorwaarde,
                  dat zij de grond van hem zou overnemen. Uiteindelijk werd men het echter over de prijs niet eens, maar de weg
                  lag er intussen al. Onteigening was toen het enige wat overbleef (k.b. 5&nbsp;juli 1975, nummer 16). Wij overwegen
                  hierover dat het in de onderhavige onteigening gaat om de bestemmingen "Tuinen", "Wonen" en "Verkeer-Verblijfsgebied”.
                  De realisatie hiervan is geschied zonder toestemming van de eigenaar en de onderliggende strook grond is nadien
                  immer inzet gebleven van een juridische strijd, die niet alleen de te onteigenen grond betreft maar ook de rest
                  van het perceel. Anders dan het geval is in de zaak Vlodrop, waar afsluiting van een weggedeelte dreigde door
                  de eigenaar, waardoor de gehele weg niet meer kon worden gebruikt, is dat thans in deze zaak, (tuin, woonbestemming
                  of een trottoir) geenszins het geval, zo is Ons uit het ingestelde onderzoek gebleken. Het gebruik van de reeds
                  aangelegde tuin, deel schuur en woning alsmede trottoir wordt, zoals Wij hiervoor hebben aangegeven niet bedreigd.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">2. </span>In de door reclamant genoemde uitspraak van de Afdeling bestuursrechtspraak van de Raad van State van
                  18&nbsp;augustus 2012 overweegt de Afdeling onder meer dat “eigendomsverhoudingen uit het oogpunt van een goede
                  ruimtelijke ordening niet van doorslaggevende betekenis zijn”. Slechts indien privaatrechtelijke verhoudingen
                  van een dusdanig evident belemmerende aard zijn, dat in verband daarmee de realisering van het bestemmingsplan
                  binnen de planperiode niet aannemelijk is, kan hieraan betekenis toekomen”. De Afdeling overweegt verder: “Aan
                  de strook grond is deels de bestemming “Tuin” en deels de bestemming “Wonen” toegekend. Gelet op …… ziet de Afdeling
                  niet in dat de uitvoering van het sluitstuk daarvan – verwerving dan wel onteigening van de strook grond – op
                  voorhand uitgesloten is”. Ook anderszins ziet de Afdeling in hetgeen appellanten hebben aangevoerd geen grond
                  voor het oordeel dat onteigening niet mogelijk is”.
                </p>
              </li>
            </ul>
            <p class="considerans.al">Wij overwegen dat de Afdeling hier in algemene zin aangeeft dat onteigening ten behoeve van de uitvoering van een bestemmingsplan
              niet is uitgesloten. Uit de uitspraak valt evenwel niet op te maken dat de Afdeling zich hier (mede) heeft willen
              uitlaten over de toepassing van de thans door de verzoeker om onteigening gekozen onteigeningsgrondslag.
            </p>
            <p class="considerans.al">Gelet op het vorenstaande zijn Wij van oordeel dat de door verzoeker aangevoerde grondslag voor onteigening niet toepasbaar
              is. Het bestemmingsplan is gerealiseerd en er is geen reden om aan te nemen dat handhaving van de feitelijke toestand
              overeenkomstig het bestemmingsplan in het geding is.
            </p>
            <p class="considerans.al">Alles overziende geeft de zienswijze van reclamant 2 Ons geen aanleiding om het verzoek tot aanwijzing ter onteigening
              toe te wijzen.
            </p>
            <p class="considerans.al">Overige overwegingen</p>
            <p class="considerans.al">Wij zullen daarom, gelet op het hierboven gestelde, het verzoek van de raad van de gemeente Midden-Delfland tot het
              nemen van een besluit krachtens artikel 78, eerste lid, van de onteigeningswet afwijzen.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_vet">BESLISSING</strong>
            </p>
            <p class="considerans.al">Gelet op de onteigeningswet,</p>
            <p class="considerans.al">op de voordracht van Onze Minister van Infrastructuur en Milieu van 29&nbsp;oktober 2013, nr. RWS-2013/52035, Rijkswaterstaat
              Corporate Dienst;
            </p>
            <p class="considerans.al">gelezen het besluit van de raad van de gemeente Midden-Delfland van 3&nbsp;juli 2012, nr. 2012-05-05;
            </p>
            <p class="considerans.al">gelezen de brieven van burgemeester en wethouders van de gemeente Midden-Delfland van 8&nbsp;augustus 2012, kenmerk
              Z-2011-03465-2012-18915 en van 7&nbsp;december 2012, kenmerk 2536/WBO/wbo;
            </p>
            <p class="considerans.al">de Afdeling advisering van de Raad van State gehoord (advies van 5&nbsp;december 2013, W14.13.0389/IV);
            </p>
            <p class="considerans.al">gezien het nader rapport van Onze Minister van Infrastructuur en Milieu van 21&nbsp;januari 2014, nr. RWS-2014/25,
              Rijkswaterstaat Corporate Dienst.
            </p>
            <p class="afkondiging">Hebben Wij goedgevonden en verstaan:</p>
          </div>
          <div class="regeling-tekst">
            <a id="d16e253" name="d16e253"></a>
            <p>Het verzoek van de raad van de gemeente Midden-Delfland van 3&nbsp;juli 2012, nr. 2012-05-05, tot aanwijzing ter onteigening
              van een onroerende zaak, af te wijzen, zoals aangeduid op de grondtekening die ingevolge artikel 78 van de onteigeningswet
              binnen de gemeente Midden-Delfland en bij Rijkswaterstaat Corporate Dienst ter inzage heeft gelegen.
            </p>
          </div>
          <div class="regeling-sluiting">
            <a id="d16e261" name="d16e261"></a>
            <div class="slotformulering">
              <p>Onze Minister van Infrastructuur en Milieu is belast met de uitvoering van dit besluit dat ingevolge artikel 25a
                van de Wet op de Raad van State met het aan de Afdeling advisering van de Raad van State voorgelegde ontwerpbesluit,
                het voornoemd advies en het nader rapport in de Staatscourant zal worden geplaatst en waarvan afschrift zal worden
                gezonden aan de Afdeling advisering van de Raad van State.
              </p>
            </div>
            <div class="gegeven">
              <p class="dagtekening">Wassenaar, 24&nbsp;januari 2014</p>
              <p class="koning">Willem-Alexander</p>
            </div>
            <p class="ondertekening">
              <span class="functie">De Minister van Infrastructuur en Milieu,</span>
              <span class="naam">
                <span class="voornaam">M.H.</span>
                <span class="achternaam">Schultz van Haegen-Maas Geesteranus.</span>
              </span>
            </p>
          </div>
          <div class="bijlage">
            <h2 class="divisiekop1">
              <a id="d16e283" name="d16e283"></a>Ontwerpbesluit
            </h2>
            <h3 class="divisiekop2">
              <a id="d16e286" name="d16e286"></a>Besluit van ....... tot afwijzing van het verzoek tot aanwijzing ter onteigening van een onroerende zaak in de
              gemeente Midden-Delfland krachtens artikel 78 van de onteigeningswet (onteigeningsplan Foppenpolder)
            </h3>
            <p>Wij Willem-Alexander, bij de gratie Gods, Koning der Nederlanden, Prins van Oranje-Nassau, enz. enz. enz.
            </p>
            <p>Ingevolge de artikelen 77 en 78 van de onteigeningswet kan onteigening plaatsvinden voor de handhaving van de feitelijke
              toestand overeenkomstig een bestemmingsplan.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Het verzoek tot aanwijzing ter onteigening</strong>
            </p>
            <p>De gemeenteraad van Midden-Delfland heeft Ons bij besluit van 3&nbsp;juli 2012, nr. 2012-05-05 verzocht om ten name
              van die gemeente een onroerende zaak ter onteigening aan te wijzen voor de handhaving van de feitelijke toestand
              overeenkomstig het bestemmingsplan “Kern Maasland”.
            </p>
            <p>Bij brief van 8&nbsp;augustus 2012, kenmerk Z-2011-03465-2012-18915, hebben burgemeester en wethouders van Midden-Delfland
              het verzoek aan Ons ter besluitvorming voorgedragen. Bij brief van 7&nbsp;december 2012, kenmerk 2536/WBO/wbo, is
              het verzoek aangevuld.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Planologische grondslag</strong>
            </p>
            <p>De onroerende zaak waarop het verzoek van de gemeenteraad van Midden-Delfland betrekking heeft, is begrepen in het
              bestemmingsplan “Kern Maasland”, van de gemeente Midden-Delfland (verder te noemen: het bestemmingsplan). Het bestemmingsplan
              is op 19&nbsp;mei 2009 vastgesteld door de raad van de gemeente Midden-Delfland en is vanaf 18&nbsp;augustus 2012
              onherroepelijk.
            </p>
            <p>Aan de in het verzoek om onteigening begrepen onroerende zaak zijn in het bestemmingsplan de bestemmingen "Tuinen",
              "Wonen" en "Verkeer-Verblijfsgebied" toegekend.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Toepassing uniforme openbare voorbereidingsprocedure</strong>
            </p>
            <p>Overeenkomstig artikel 78, tweede lid, van de onteigeningswet en artikel 3:11, eerste lid, van de Algemene wet bestuursrecht
              (Awb), hebben het ontwerp koninklijk besluit en de in artikel 79 van de onteigeningswet bedoelde stukken en gegevens
              met ingang van 21&nbsp;juni 2013 tot en met 1&nbsp;augustus 2013 in de gemeente Midden-Delfland en bij Rijkswaterstaat
              Corporate Dienst te Utrecht ter inzage gelegen. Overeenkomstig artikel 3:12 van de Awb, heeft de burgemeester van
              Midden-Delfland van het ontwerp koninklijk besluit en de terinzagelegging daarvan, op 20&nbsp;juni 2013 openbaar
              kennis gegeven in het huis-aan-huisblad "De Schakel MiddenDelfland". Onze Minister van Infrastructuur en Milieu (Onze
              Minister) heeft van het ontwerp koninklijk besluit openbaar kennis gegeven in de Staatscourant van 20&nbsp;juni 2013,
              nr. 15311.
            </p>
            <p>Verder heeft Onze Minister het ontwerpbesluit overeenkomstig artikel 3:13 van de Awb voorafgaand aan de terinzagelegging
              toegezonden aan belanghebbenden waaronder begrepen de verzoeker om onteigening. Daarbij zijn de belanghebbenden gewezen
              op de mogelijkheid tot het schriftelijk of mondeling naar voren brengen van zienswijzen over het ontwerpbesluit en
              op de mogelijkheid over hun zienswijze te worden gehoord.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Overwegingen</strong>
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Noodzaak en urgentie</strong>
            </p>
            <p>De in het onteigeningsplan begrepen onroerende zaak ligt aan de noordzijde van de openbare weg Foppenpolder in de kern
              Maasland, ter hoogte van de huisnummers 10 tot en met 16. Het betreft een strook grond ter grootte van 133 m
              <sup>2</sup>. In het jaar 2003 is deze strook grond mede benut voor de realisatie van twee woningbouwkavels, aan de Foppenpolder
              10 en 14, voor de ontsluiting van de achtergelegen woningbouwkavels Foppenpolder 12 en 16 en voor een trottoir langs
              de Foppenpolder. Blijkens mededeling van de zijde van de gemeente zijn de vrijstaande bungalows Foppenpolder 10 en
              14 in het jaar 2004 voor bewoning in gebruik genomen. De bestemmingen "Tuinen", "Wonen" en "Verkeer-Verblijfsgebied"
              die aan de onroerende zaak zijn toegekend, zijn gerealiseerd.
            </p>
            <p>Het perceel, waartoe de in het onteigeningsplan begrepen onroerende zaak behoort, is eigendom van (1) B.E. van den
              Engel, (2) M.P. van der Maarel, (3) A.l.M. Gielesen (gehuwd met V.T.M. Wubben) en (4) P. Warnaar BV. Deze eigendom
              is onverdeeld: ieder van deze (rechts)personen is voor een vierde eigenaar. De projectontwikkelaar (Warnaar B.V.)
              heeft getracht om via minnelijk overleg alsmede via de rechter een verdeling tot stand te brengen, onder meer teneinde
              enig eigenares te worden van het deel van het perceel waarop het bestemmingsplan is gerealiseerd. Daarover is met
              twee mede-eigenaren overeenstemming bereikt, maar niet met mede-eigenares Gielesen. De door Warnaar ingestelde en
              tot eigendomsverdeling strekkende vorderingen zijn door de rechtbank en het Hof afgewezen. Tegen het arrest van het
              Hof is cassatie ingesteld. De gemeente verwacht dat rechtszaken hierover nog geruime tijd zullen voortduren.
            </p>
            <p>Om de feitelijke toestand overeenkomstig het bestemmingsplan te kunnen handhaven, wenst de gemeente Midden-Delfland
              de eigendom te verkrijgen, vrij van lasten en rechten, over de in het onteigeningsverzoek begrepen onroerende zaak.
              Ten tijde van het verzoek was het volgens verzoeker niet aannemelijk dat het minnelijk overleg op afzienbare termijn
              zou leiden tot vrijwillige eigendomsoverdracht. De gemeente van Midden-Delfland heeft besloten tot zijn onteigeningsverzoek
              om zo de handhaving van het bestemmingsplan zeker te stellen en het bestaande gebruik daarvan overeenkomstig de bestemmingen
              te consolideren.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Zienswijzen</strong>
            </p>
            <p>Gedurende de termijn dat het ontwerpbesluit ter inzage heeft gelegen, zijn bij Ons daarover zienswijzen naar voren
              gebracht door
            </p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">1) </span>V.T.M. Wubben en mevrouw A.I.M. Gielesen bij brief van 15&nbsp;juli 2013, verder te noemen: reclamanten
                  1. Mevrouw A.I.M. Gielesen is één van de vier mede-eigenaren van het in de onteigening begrepen gedeelte van
                  de onroerende zaak, kadastraal bekend Maasland, sectie I, nummer 1181.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">2) </span>De raad van de gemeente Midden-Delfland, bij brief van 30&nbsp;juli 2013, verder te noemen: reclamant
                  2.
                </p>
              </li>
            </ul>
            <p>Overeenkomstig artikel 78, vierde lid, van de onteigeningswet heeft Onze Minister reclamanten in de gelegenheid gesteld
              te worden gehoord in een hoorzitting op 15&nbsp;augustus 2013 te Schipluiden. Reclamanten hebben van deze mogelijkheid
              afgezien.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">Overwegingen naar aanleiding van de zienswijzen</strong>
            </p>
            <p>Reclamanten 1 geven in hun zienswijze aan dat zij zich kunnen verenigen met het ontwerp koninklijk besluit, houdende
              afwijzing van het verzoek tot aanwijzing ter onteigening. Reclamanten wensen echter, indien door andere partijen
              zienswijzen worden ingediend, afschriften daarvan te krijgen en daarop te kunnen reageren.
            </p>
            <p>De zienswijze van reclamanten 1 geeft Ons aanleiding tot de volgende overwegingen.</p>
            <p>De onteigening betreft een strook grond van 133 m
              <sup>2</sup>, gelegen aan de noordzijde van de openbare weg Foppenpolder, nabij de huisnummers 10 tot en met 16 in de
              kern Maasland. Al in het jaar 2003 is deze strook grond benut voor de bebouwing van twee woningbouwkavels aan de
              Foppenpolder 10 en 14, voor de ontsluiting van de achtergelegen woningbouwkavels Foppenpolder 12 en 16 en voor de
              aanleg van een trottoir. De gemeente Midden-Delfland wil onteigenen om er zeker van te zijn dat de gerealiseerde
              bestemmingen ter plaatse niet teniet zullen gaan vanwege een privaatrechtelijk geschil over een perceel grond waarvan
              de onroerende zaak deel uitmaakt. De gemeente wenst het bestemmingsplan te consolideren. Tevens maakt onteigening
              het de gemeente mogelijk om uitvoering te geven aan de tussen de bouwer (Warnaar B.V.) en de gemeente gesloten overeenkomst
              inzake kostenverhaal.
            </p>
            <p>Wij overwegen dat het woongebied en de weg Foppenpolder op de desbetreffende onroerende zaak inmiddels is gerealiseerd.
              Tevens heeft Onze Minister op verzoek van reclamanten 1 met hun toestemming per e-mail van 5&nbsp;augustus 2013 de
              zienswijze van reclamant 2 doorgestuurd. Reclamanten 1 hebben daarop per e-mail van 12&nbsp;augustus 2013 gereageerd,
              waarop reclamant 2 weer gereageerd heeft per brief van 9&nbsp;september 2013. In beide laatstgenoemde stukken lichten
              de adviseurs van reclamanten de zienswijzen nader toe. Blijkens hun e-mail van 12&nbsp;augustus 2013 hebben reclamanten
              1 zich verzoend met de woonbestemming in het bestemmingsplan ‘Kern Maasland’ en hebben zij geen enkele intentie om
              welke civielrechtelijke actie dan ook in te stellen, die zou kunnen leiden tot een ingreep in de feitelijke toestand.
              De woningen (en de berging) die gedeeltelijk op hun perceel staan, kunnen wat reclamanten 1 betreft dan gewoon blijven
              staan. Zij geven per e-mail aan “het prima te vinden dat deze situatie (uiteindelijk) is gelegaliseerd”.
            </p>
            <p>Voor het overige zullen Wij niet verder ingaan op de zienswijze omdat reclamanten 1 zich kunnen verenigen met het ontwerp
              koninklijk besluit.
            </p>
            <p>Reclamant 2 brengt een groot aantal bezwaren tegen het ontwerpbesluit naar voren, welke Wij als volgt samenvatten.
            </p>
            <ul class="expliciet whitespace-medium">
              <li class="li">
                <p class="labeled">
                  <span class="ol">I. </span>Inleiding.
                </p>
                <p>Reclamant 2 verzoekt Ons het standpunt, zoals dat uit het ontwerp koninklijk besluit naar voren komt, te heroverwegen.
                  Reclamant verwijst ter aanvulling naar zijn brief van 7&nbsp;december 2012, waarop later in de zienswijze wordt
                  ingegaan.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">II. </span>Achtergronden en aanleiding onteigeningsverzoek.
                </p>
                <p>Reclamant geeft aan dat in 2003 de te onteigenen strook grond van circa 133 m
                  <sup>2</sup> onder meer benut is voor de realisatie van twee woningbouwkavels (Foppenpolder 12 en 16) alsmede een
                  trottoir, als onderdeel van een groter project van zes te realiseren Vliet-woningen door P. Warnaar Beheer B.V.
                  Reclamant schetst vervolgens de gang van zaken in een aantal planologische procedures. Aangezien Warnaar B.V.
                  het strookje grond in der minne, noch via gerechtelijke procedures heeft kunnen verwerven, heeft zij de gemeente
                  Midden-Delfland, onder verwijzing naar de tussen partijen gesloten overeenkomst inzake het kostenverhaal, verzocht
                  om tot onteigening over te gaan.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">III. </span>Inhoud ontwerp koninklijk besluit
                </p>
                <p>Omdat het woongebied en de weg inmiddels zijn gerealiseerd, zou er geen noodzaak en urgentie tot onteigening aanwezig
                  zijn. De bestemmingen ter plaatse hebben volgens Ons geen conserverende strekking. Reclamant 2 is het hiermee
                  niet eens en vindt dat Wij voor de toepassing van artikel 77, lid 1 van de onteigeningswet een maatstaf hebben
                  aangelegd, die geen grondslag vindt in de wet.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">IV. </span>Onteigening ter handhaving van de feitelijke toestand overeenkomstig het bestemmingsplan.
                </p>
                <p>Reclamant bestrijdt de in het ontwerp koninklijk besluit genoemde voorwaarden waaraan moet worden voldaan ten einde
                  te kunnen onteigenen ter handhaving van de feitelijke toestand overeenkomstig het bestemmingsplan. Reclamant
                  bestrijdt de uitleg daarvan, die inhoudt dat het moet gaan om bestemmingen van conserverende aard waarvan de
                  instandhouding niet op reguliere wijze is verzekerd, zodat de bestemmingen ernstig bedreigd kunnen worden. Deze
                  voorwaarden volgen volgens reclamant niet uit de wet, althans niet zoals die in het ontwerp koninklijk besluit
                  worden uitgelegd. Artikel 77, lid 1, sub 1, van de onteigeningswet bepaalt in zoverre immers slechts dat onteigening
                  als bedoeld in Titel IV van de onteigeningswet kan plaatsvinden ten behoeve van de uitvoering of ter handhaving
                  van de feitelijke toestand overeenkomstig een bestemmingsplan. Reclamant vindt dat aan deze maatstaf is voldaan,
                  zoals uitgebreid is beschreven in de eerdergenoemde brief van 7&nbsp;december 2012. In deze brief betoogt reclamant
                  – kort gezegd – dat de bevoegdheid tot onteigening ter handhaving van de feitelijke toestand overeenkomstig een
                  bestemmingsplan in feite niets extra’s vergt ten opzichte van de bevoegdheid tot onteigening ter uitvoering van
                  een bestemmingsplan. Reclamant betoogt verder dat ter handhaving van de feitelijke toestand overeenkomstig een
                  bestemmingsplan het dus niet vereist is dat er sprake is van een nieuw bestemmingsplan, dat conserverend is ten
                  opzichte van een eerder bestemmingsplan. De Kroon heeft haar ontwerpbesluit ten onrechte gerelateerd aan het
                  voorheen geldende bestemmingsplan in plaats van aan de feitelijke situatie ter plaatse.
                </p>
                <p>Reclamant betoogt in de zienswijze en in de brief van 7&nbsp;december 2012, dat de woningbouw ter plaatse een algemeen
                  belang dient en dat er feitelijk geen verschil is in de situatie dat het bestemmingsplan nog gerealiseerd moet
                  worden of al gerealiseerd is. Reclamant wijst ook nog op andere maatschappelijke belangen. De eigenaren van de
                  woningen die gedeeltelijk staan op het te onteigenen perceelsgedeelte, worden thans ernstig belemmerd in de vrije
                  beschikking over hun eigendom. Verder acht reclamant 2 het niet uitgesloten dat reclamanten 1 een vordering tot
                  revindicatie zullen instellen en dat als die zou worden toegewezen, het reeds uitgevoerde bestemmingsplan ongedaan
                  zou moeten worden gemaakt. Onteigening zou dit kunnen voorkomen. Reclamant vindt, nu reclamanten 1 niet bereid
                  zijn tot verkoop van hun strook grond, er een reëel risico blijft dat de feitelijke toestand niet zal worden
                  gehandhaafd. Reclamant acht de dreiging aanwezig wegens het verzet van reclamanten 1 in vele planologische en
                  civiele procedures.
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">V. </span>Andere argumenten om het verzoek van de raad alsnog toe te wijzen.
                </p>
                <p>De Kroon heeft al eerder goedgevonden dat voor vergelijkbare situaties waarin de bestemming al was gerealiseerd,
                  werd onteigend. Reclamant verwijst naar het KB van 5&nbsp;juli 1975, gemeente Vlodrop, Staatscourant 1975, nr.
                  16.
                </p>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">1. </span>Reclamant acht het niet goed te verklaren waarom het verzoek om onteigening niet kan worden gehonoreerd
                      in de voorliggende situatie waarin het bestemmingsplan de realisatie van de bestemmingen volgt, terwijl dat
                      in het omgekeerde geval, waarin de bestemmingen eerst worden gerealiseerd na de inwerkingtreding van het
                      plan, wel mogelijk wordt geacht.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">2. </span>Volgens reclamant is de Afdeling bestuursrechtspraak van de Raad van State van oordeel dat er geen
                      reden is om aan te nemen dat onteigening in het voorliggende geval niet mogelijk zou zijn. Reclamant verwijst
                      naar de uitspraak van de Afdeling bestuursrechtspraak van 18&nbsp;augustus 2012, nr. 200905991/1.R3, inzake
                      het beroep van reclamanten 1 tegen het bestemmingsplan “Kern Maasland”.
                    </p>
                  </li>
                </ul>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">VI. </span>Tot slot
                </p>
                <p>Reclamant 2 verzoekt om heroverweging van het ontwerp koninklijk besluit en aldus zijn verzoek tot aanwijzing tot
                  onteigening alsnog te honoreren. Reclamant verzoekt de Kroon daarbij ook rekening te houden met de hiervoor genoemde
                  uitspraak van de Afdeling bestuursrechtspraak van 18&nbsp;augustus 2010.
                </p>
              </li>
            </ul>
            <p>De zienswijze van reclamant 2 geeft Ons aanleiding tot de volgende overwegingen.</p>
            <div class="alineagroep">
              <p>Ad I en II</p>
              <p>Wij overwegen dat het bestemmingsplan op en rondom de te onteigenen strook grond al in 2003 is gerealiseerd. De te
                onteigenen strook grond is onder meer benut voor de realisatie van twee woningbouwkavels (Foppenpolder 12 en 16)
                alsmede voor de aanleg van een trottoir, als onderdeel van een groter project van zes te realiseren Vliet-woningen
                door P. Warnaar Beheer B.V. Tussen de gemeente, de realisator en de mede-eigenaren (reclamanten 1) ontstonden bij
                de totstandkoming van het bestemmingsplan allerlei planologische en privaatrechtelijke geschillen. Voor de beoordeling
                van de onteigening is alleen relevant dat de geschillen er toe geleid hebben dat reclamanten 1 hun aandeel van
                de ter onteigening voorgedragen strook grond niet hebben willen verkopen aan de projectontwikkelaar Warnaar Beheer
                B.V. dan wel aan de gemeente Midden-Delfland. Het bestemmingsplan is niettemin, al dan niet met toestemming van
                reclamanten 1, gerealiseerd op het betrokken perceelsgedeelte. Aangezien de privaatrechtelijke geschillen niet
                zijn opgelost, is er een patstelling ontstaan. Vervolgens heeft de realisator Warnaar de gemeente Midden-Delfland,
                onder verwijzing naar de tussen partijen gesloten overeenkomst kostenverhaal,verzocht om tot onteigening over te
                gaan.
              </p>
            </div>
            <div class="alineagroep">
              <p>Ad III en IV</p>
              <p>Reclamant geeft vervolgens een uitleg aan artikel 77, lid 1 van de onteigeningswet die er op neer komt dat hij van
                oordeel is dat Wij een (te beperkte) maatstaf hebben aangelegd, die geen grondslag vindt in de wet. Reclamant betoogt
                dat de bevoegdheid tot onteigening ter handhaving van de feitelijke toestand overeenkomstig een bestemmingsplan
                in feite niets extra’s vergt ten opzichte van de bevoegdheid tot onteigening ter uitvoering van een bestemmingsplan.
                In de visie van reclamant maakt het derhalve niet uit of de bestemmingen ter uitvoering van een bestemmingsplan
                bij onteigening al dan niet zijn gerealiseerd. Het gaat immers volgens reclamant (slechts) om het maatschappelijk
                belang van het bestemmingsplan. Onteigening zou dan mogelijk moeten zijn voor realisatie van de bestemmingen alsook
                na realisatie van de bestemmingen. Wij oordelen hierover dat een onteigening strekt ter uitvoering van de bestemmingen
                van een bestemmingsplan. Dat is mogelijk indien gronden niet langs minnelijke weg kunnen worden verworven. Het
                gaat daarbij om de uitvoering van werkzaamheden.
              </p>
            </div>
            <p>De wetgever heeft tevens de mogelijkheid tot onteigening ter handhaving van de feitelijke toestand overeenkomstig het
              bestemmingsplan gegeven teneinde een bestaande situatie te kunnen handhaven (conserveren), waarbij het aannemelijk
              is dat zonder onteigening die bestaande situatie ernstig bedreigd wordt.
            </p>
            <p>Naar Ons oordeel is de door verzoeker gekozen onteigeningsgrondslag niet toepasbaar, omdat deze grondslag slechts ziet
              op de mogelijkheid om bestemmingen van conserverende aard door middel van onteigening in stand te houden indien deze
              instandhouding op reguliere wijze niet is verzekerd en het voortbestaan van deze conserverende bestemmingen ernstig
              bedreigd wordt. De bestemmingen ter plaatse van de onroerende zaak hebben naar Ons oordeel echter geen conserverende
              strekking. Deze bestemmingen waren immers gericht op de ontwikkeling van een nieuw woongebied met bijbehorende infrastructuur
              ter plaatse van een terrein dat voorheen was bestemd als bedrijventerrein. Dit woongebied en de weg Foppenpolder
              zijn inmiddels gerealiseerd. Gelet hierop zijn Wij van oordeel dat alleen al daarom noodzaak en urgentie van de onteigening
              ontbreken.
            </p>
            <p>Wat betreft de door reclamant andere naar voren gebrachte maatschappelijke belangen, zoals de problematiek dat de eigenaren
              van de woningen die gedeeltelijk staan op het te onteigenen perceelsgedeelte, thans ernstig belemmerd worden in de
              vrije beschikking over hun eigendom, zijn Wij van oordeel dat dit probleem voortvloeit uit het feit dat de betrokken
              woningen zijn gebouwd door de projectontwikkelaar op grond die niet zijn volledige eigendom is, welke kavels vervolgens
              zijn verkocht aan de eigenaren van de beide woningen. Deze problematiek is echter van civielrechtelijke aard. De
              onteigeningswet beoogt niet dit soort geschillen op te lossen.
            </p>
            <p>De vrees van reclamant dat reclamanten 1 een vordering tot revindicatie kunnen instellen die, als die zou worden toegewezen,
              er toe zou moeten leiden dat het uitgevoerde bestemmingsplan ongedaan zou moeten worden gemaakt, kunnen Wij niet
              delen. Ons is uit het onderzoek niet gebleken dat reclamanten 1 voornemens zijn een daartoe strekkende civielrechtelijke
              actie in te stellen. Daarbij overwegen Wij, zoals al bij de zienswijze van reclamanten 1 staat vermeld, dat deze
              zich blijkens hun e-mail van 12&nbsp;augustus 2013 aan Ons verzoend hebben met de woonbestemming in het bestemmingsplan
              “Kern Maasland” en dat zij geen enkele intentie hebben om welke civielrechtelijke actie dan ook in te stellen, die
              zou kunnen leiden tot een ingreep in de feitelijke toestand. De woningen (en de berging) die gedeeltelijk op hun
              perceel staan, kunnen wat reclamanten betreft dan ook gewoon blijven staan.
            </p>
            <p>Ad V</p>
            <blockquote cite="no url reference">
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">1. </span>De door reclamant genoemde situatie in Vlodrop betrof kort gezegd het volgende. De gemeente Vlodrop
                    had toestemming gekregen van een eigenaar om over diens grond een gedeelte van een weg aan te leggen, onder
                    voorwaarde, dat zij de grond van hem zou overnemen. Uiteindelijk werd men het echter over de prijs niet eens,
                    maar de weg lag er intussen al. Onteigening was toen het enige wat overbleef (k.b. 5&nbsp;juli 1975, nummer
                    16). Wij overwegen hierover dat in de onderhavige onteigening het gaat om de bestemmingen "Tuinen", "Wonen"
                    en "Verkeer-Verblijfsgebied”. De realisatie hiervan is geschied zonder toestemming van de eigenaar en de onderliggende
                    strook grond is nadien immer inzet gebleven van een juridische strijd, die niet alleen de te onteigenen grond
                    betreft maar ook de rest van het perceel betreft. Anders dan het geval is in de zaak Vlodrop, waar afsluiting
                    van een weggedeelte dreigde door de eigenaar, waardoor de gehele weg niet meer kon worden gebruikt, is dat
                    thans in deze zaak, (tuin, woonbestemming of een trottoir) geenszins het geval, zo is Ons uit het ingestelde
                    onderzoek gebleken. Het gebruik van de reeds aangelegde tuin, deel schuur en woning alsmede trottoir wordt,
                    zoals Wij hiervoor hebben aangegeven niet bedreigd.
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">2. </span>In de door reclamant genoemde uitspraak van de Afdeling bestuursrechtspraak van de Raad van State
                    van 18&nbsp;augustus 2010 overweegt de Afdeling onder meer dat “eigendomsverhoudingen uit het oogpunt van een
                    goede ruimtelijke ordening niet van doorslaggevende betekenis zijn. Slechts indien privaatrechtelijke verhoudingen
                    van een dusdanig evident belemmerend aard zijn, dat in verband daarmee de realisering van het bestemmingsplan
                    binnen de planperiode niet aannemelijk is, kan hieraan betekenis toekomen”. De Afdeling overweegt verder: “Aan
                    de strook grond is deels de bestemming “Tuin” en deels de bestemming “Wonen” toegekend. Gelet op ...... ziet
                    de Afdeling niet in dat de uitvoering van het sluitstuk daarvan – verwerving dan wel onteigening van de strook
                    grond – op voorhand uitgesloten is”. Ook anderszins ziet de Afdeling in hetgeen appellanten hebben aangevoerd
                    geen grond voor het oordeel dat onteigening niet mogelijk is”.
                  </p>
                </li>
              </ul>
              <p>Wij overwegen dat de Afdeling hier in algemene zin aangeeft dat onteigening ten behoeve van de uitvoering van een
                bestemmingsplan niet is uitgesloten. Uit de uitspraak valt evenwel niet op te maken dat de Afdeling zich hier (mede)
                zou hebben willen uitlaten over de toepassing van de thans door de verzoeker om onteigening gekozen onteigeningsgrondslag.
              </p>
              <p>Gelet op het vorenstaande zijn Wij van oordeel dat de door verzoeker aangevoerde grondslag voor onteigening niet
                toepasbaar is. Het bestemmingsplan is gerealiseerd en ook is er geen reden om aan te nemen dat handhaving van de
                feitelijke toestand overeenkomstig het bestemmingsplan in het geding is.
              </p>
            </blockquote>
            <p>Alles overziende geeft de zienswijze van reclamant 2 Ons geen aanleiding om het verzoek tot aanwijzing ter onteigening
              toe te wijzen.
            </p>
            <p>Overige overwegingen</p>
            <p>Wij zullen daarom, gelet op het hierboven gestelde, het verzoek van de raad van de gemeente Midden-Delfland tot het
              nemen van een besluit krachtens artikel 78, eerste lid, van de onteigeningswet afwijzen.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_vet">BESLISSING</strong>
            </p>
            <p>Gelet op de onteigeningswet,</p>
            <p>op de voordracht van Onze Minister van Infrastructuur en Milieu van 29&nbsp;oktober 2013, nr. RWS-2013/52035, Rijkswaterstaat
              Corporate Dienst;
            </p>
            <p>gelezen het besluit van de raad van de gemeente Midden-Delfland van 3&nbsp;juli 2012, nr. 2012-05-05;
            </p>
            <p>gelezen de brieven van burgemeester en wethouders van de gemeente Midden-Delfland van 8&nbsp;augustus 2012, kenmerk
              Z-2011-03465-2012-18915 en van 7&nbsp;december 2012, kenmerk 2536/WBO/wbo;
            </p>
            <p>de Afdeling advisering van de Raad van State gehoord (advies van........ nr........./IV);</p>
            <p>gezien het nader rapport van Onze Minister van Infrastructuur en Milieu van ......, nr. RWS-2013/, Rijkswaterstaat
              Corporate Dienst.
            </p>
            <p class="tussenkop">
              <strong class="tussenkop_vet">Hebben Wij goedgevonden en verstaan:</strong>
            </p>
            <p>Het verzoek van de raad van de gemeente Midden-Delfland van 3&nbsp;juli 2012, nr. 2012-05-05, tot aanwijzing ter onteigening
              van een onroerende zaak, af te wijzen, zoals aangeduid op de grondtekening die ingevolge artikel 78 van de onteigeningswet
              binnen de gemeente Midden-Delfland en bij Rijkswaterstaat Corporate Dienst ter inzage heeft gelegen en die is vermeld
              op de bij dit besluit behorende lijst.
            </p>
            <p>Onze Minister van Infrastructuur en Milieu is belast met de uitvoering van dit besluit, dat in de Staatscourant zal
              worden geplaatst en waarvan afschrift zal worden gezonden aan de Afdeling advisering van de Raad van State.
            </p>
            <div class="bijlage-sluiting">
              <p class="ondertekening">
                <span class="functie">DE MINISTER VAN INFRASTRUCTUUR EN MILIEU,</span>
              </p>
            </div>
          </div>
          <div class="bijlage">
            <h2 class="divisiekop1">
              <a id="d16e499" name="d16e499"></a>Advies Raad van State
            </h2>
            <table class="tekst portrait" cellspacing="0">
              <colgroup>
                <col title="col1" class="pct50">
                <col title="col2" class="pct50">
              </colgroup>
              <tbody class="left top tbody">
                <tr class="left middle odd">
                  <td class="left top">

                    <p>No.W14.13.0389/IV</p>

                  </td>
                  <td class="left top">

                    <p>'s-Gravenhage, 5&nbsp;december 2013</p>

                  </td>
                </tr>
              </tbody>
            </table>
            <p>Krachtens Koninklijke machtiging heeft de Minister van Infrastructuur en Milieu met een schrijven van 29&nbsp;oktober
              2013, no.RWS-2013/52034, bij de Afdeling advisering van de Raad van State ter overweging aanhangig gemaakt een voordracht
              met ontwerpbesluit tot afwijzing van het verzoek tot aanwijzing ter onteigening van een onroerende zaak in de gemeente
              Midden-Delfland krachtens artikel 78 van de onteigeningswet (onteigeningsplan Foppenpolder).
            </p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">1. </span>Voorgenomen afwijzing
                </p>
                <ul class="expliciet whitespace-small">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">a. </span>Verzoek en ontwerpbesluit
                    </p>
                    <p>Het verzoek tot aanwijzing ter onteigening betreft een strook grond ter grootte van 133 m
                      <sup>2</sup> aan de noordzijde van de weg Foppenpolder in de kern Maasland.
                      <a class="nootnum supernote-click-n1"
                        href="#n1">1</a>
                    </p>
                    <p>Het ontwerpbesluit strekt tot afwijzing van het verzoek. Volgens het ontwerpbesluit kan in dit geval geen toepassing
                      worden gegeven aan de onteigeningsgrondslag “ter handhaving van de feitelijke toestand overeenkomstig een
                      bestemmingsplan” in artikel 77, eerste lid, onder 1, van de onteigeningswet. Een onteigening op basis van
                      deze bepaling kan slechts plaatsvinden om bestemmingen van conserverende aard in stand te houden, indien
                      de instandhouding op reguliere wijze niet is verzekerd en het voortbestaan van deze conserverende bestemmingen
                      ernstig bedreigd wordt.
                      <a class="nootnum supernote-click-n2" href="#n2">2</a>
                    </p>
                    <p>Bestemmingen die gelden voor de strook grond waarop het verzoek ziet, hebben geen conserverende strekking,
                      omdat het bestemmingsplan was gericht op de ontwikkeling van een nieuw woongebied. Reeds daarom ontbreken
                      de noodzaak en urgentie van de verzochte onteigening, aldus het ontwerpbesluit.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">b. </span>Motivering van de afwijzing
                    </p>
                    <p>De Afdeling onderschrijft de conclusie dat de noodzaak en urgentie voor de verzochte onteigening ontbreken
                      en het verzoek daarom voor afwijzing in aanmerking komt. De voorgestelde motivering van de afwijzing geeft
                      de Afdeling aanleiding tot het maken van de volgende opmerkingen.
                    </p>
                    <p>Zoals de Kroon eerder heeft geoordeeld, ziet de onteigeningsgrondslag “ter handhaving van de feitelijke toestand
                      overeenkomstig een bestemmingsplan” op bestemmingen met een conserverende strekking, welke bestemmingen niet
                      de uitvoering van enig werk behoeven om verwezenlijkt te worden.
                      <a class="nootnum supernote-click-n3" href="#n3">3</a> Gelet hierop, is voor de toepassing van deze onteigeningsgrondslag bepalend of enig werk moet worden
                      uitgevoerd voor de verwezenlijking van de bestemming. Indien dat niet het geval is, kan onteigening plaatsvinden
                      ter handhaving van de feitelijke toestand overeenkomstig het bestemmingsplan. Wanneer zodanig werk wel nodig
                      is, kan onteigening plaatshebben met het oog op de uitvoering van het bestemmingsplan.
                      <a class="nootnum supernote-click-n4"
                        href="#n4">4</a> Daarom is niet bepalend of een bestemming op het moment van de vaststelling van een bestemmingsplan
                      van conserverende aard was.
                    </p>
                    <p>In dit geval zijn de bestemmingen verwezenlijkt. Uit het verzoek en de nadere stukken van de gemeente Midden-Delfland
                      blijkt niet dat de gemeenteraad een andere wijze van uitvoering van de bestemmingen beoogt, waarvoor de uitvoering
                      van enig werk noodzakelijk is.
                      <a class="nootnum supernote-click-n5" href="#n5">5</a> In deze situatie kan onteigening ter handhaving van de feitelijke situatie plaatsvinden, indien aan
                      de overige vereisten daarvoor is voldaan, met name die van noodzaak en urgentie en het vereiste dat de onteigening
                      het algemeen belang dient.
                    </p>
                    <p>In dit geval moet worden onderzocht of een reële en actuele bedreiging bestaat voor het algemeen belang dat
                      met het geldende bestemmingsplan wordt gediend, de bestendiging van het gebruik van de gronden voor woondoeleinden,
                      tuinen en verkeersdoeleinden. Dat de eigendomsverhoudingen ter plaatse niet overeenkomen met de in het bestemmingsplan
                      voorziene verdeling van bouwkavels, vormt geen zodanige bedreiging.
                      <a class="nootnum supernote-click-n6"
                        href="#n6">6</a>
                    </p>
                    <p>In zijn zienswijze heeft de gemeenteraad aangevoerd dat ook andere maatschappelijke belangen nopen tot onteigening.
                      Volgens hem belemmeren de huidige eigendomsverhoudingen de eigenaren, wier woonkavels deels op het betrokken
                      perceel liggen, in de vrije beschikking over hun woningen. Hij stelt dat de woningen niet goed kunnen worden
                      gefinancierd en onverkoopbaar zijn, hetgeen maatschappelijke onrust teweeg brengt.
                    </p>
                    <p>Ook met betrekking tot dit onderdeel van de zienswijze zij vooropgesteld, dat de onteigeningsgrondslag “ter
                      handhaving van de feitelijke toestand overeenkomstig een bestemmingsplan” uitsluitend betrekking heeft op
                      de bestendiging van het gebruik van gebouwen en gronden overeenkomstig de geldende bestemming. Het bewerkstelligen
                      van congruentie tussen de feitelijke verkaveling en de eigendomsverhoudingen is geen algemeen belang ter
                      behartiging waarvan onteigening kan plaatsvinden.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">c. </span>Conclusie
                    </p>
                    <p>De Afdeling adviseert de motivering van het ontwerpbesluit aan te passen in het licht van het voorgaande.
                    </p>
                  </li>
                </ul>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">2. </span>De Afdeling verwijst naar de bij dit advies behorende redactionele bijlage.
                </p>
                <p>De Afdeling advisering van de Raad van State geeft U in overweging in dezen een besluit te nemen, nadat aan het
                  vorenstaande aandacht zal zijn geschonken.
                </p>
              </li>
            </ul>
            <div class="alineagroep">
              <p>De vice-president van de Raad van State,</p>
              <p>Mr. J.P.H. Donner</p>
            </div>
            <h3 class="divisiekop2">
              <a id="d16e591" name="d16e591"></a>Redactionele bijlage bij het advies van de Afdeling advisering van de Raad van State betreffende no.W14.13.0389/IV
            </h3>
            <div class="alineagroep">
              <p>De zienswijze van reclamanten 1 betreft een adhesiebetuiging. Daarom volstaan met de constatering dat reclamanten
                1 zich met het ontwerpbesluit kunnen verenigen en concluderen dat de zienswijze geen bespreking behoeft. Het tweede
                grote tekstblok van de overwegingen naar aanleiding van de zienswijze van reclamanten 1 verwerken in de overwegingen
                naar aanleiding van de zienswijze van reclamant 2 onder “Ad III en IV” (blz. 6).
              </p>
              <p>Op blz. 7, onder 2, de woorden “evident belemmerend” vervangen door: evident belemmerende”.</p>
              <p>Op blz. 7, onder 2, de woorden “zou hebben willen uitlaten” vervangen door: heeft willen uitlaten.
              </p>
              <p>Op blz. 7, onder 2, de zinsnede “en ook is er geen reden” vervangen door: en er is geen reden.
              </p>
            </div>
          </div>
          <div class="bijlage">
            <h2 class="divisiekop1">
              <a id="d16e604" name="d16e604"></a>Nader rapport
            </h2>
            <p>Rijkswaterstaat Corporate Dienst, Directie Communicatie, Personeel en recht, Afdeling BJV Publiekrecht
            </p>
            <div class="alineagroep">
              <p>Datum: 21&nbsp;januari 2014</p>
              <p>Nummer: RWS-2014/25</p>
            </div>
            <h3 class="divisiekop2">
              <a id="d16e614" name="d16e614"></a>Onderwerp
            </h3>
            <p>Nader rapport inzake het ontwerpbesluit houdende de afwijzing van een verzoek tot aanwijzing ter onteigening van een
              onroerende zaak ter handhaving van de feitelijke toestand overeenkomstig het bestemmingsplan Kern Maasland van de
              gemeente Midden-Delfland
            </p>
            <p>div. bijlagen</p>
            <p>
              <strong class="vet">Aan de Koning</strong>
            </p>
            <p>Hierbij bied ik Uwe Majesteit aan het advies van de Afdeling advisering van de Raad van State van 5&nbsp;december 2013,
              no. W14.13.0389/IV) inzake bovenvermeld ontwerpbesluit, houdende afwijzing van een verzoek tot aanwijzing ter onteigening
              van een onroerende zaak ingevolge artikel 78 van de onteigeningswet ter handhaving van de feitelijke toestand overeenkomstig
              het bestemmingsplan Kern Maasland van de gemeente Midden-Delfland.
            </p>
            <p>Volgens het ontwerpbesluit kan in dit geval geen toepassing worden gegeven aan de onteigeningsgrondslag “ter handhaving
              van de feitelijke toestand overeenkomstig een bestemmingsplan” als bedoeld in artikel 77, eerste lid, onder 1, van
              de onteigeningswet. Een onteigening op basis van deze bepaling kan slechts plaatsvinden om bestemmingen van conserverende
              aard in stand te houden, indien de instandhouding op reguliere wijze niet is verzekerd en het voortbestaan van deze
              conserverende bestemmingen ernstig bedreigd wordt.
            </p>
            <p>Het bestemmingsplan voorziet ter plaatse van de in de onteigening begrepen strook grond in de kern Maasland in bebouwing
              van twee woningbouwkavels aan de Foppenpolder 10 en 14, in ontsluiting van de achtergelegen woningbouwkavels Foppenpolder
              12 en 16 en in de aanleg van een trottoir. In het jaar 2003 is het bestemmingsplan aldaar gerealiseerd.
            </p>
            <p>De Afdeling kan zich in het ontwerp koninklijk besluit vinden maar adviseert de motivering van het besluit inhoudelijk
              aan te passen. De inhoudelijke opmerkingen betreffen twee aspecten. Ten eerste moet worden onderzocht of een reële
              en actuele bedreiging bestaat voor het voortbestaan van het gebruik van de gronden voor woondoeleinden, tuinen en
              verkeersdoeleinden. In de tweede plaats het benadrukken van het oordeel dat het bewerkstelligen van congruentie tussen
              de feitelijke verkaveling en de eigendomsverhoudingen geen algemeen belang is ter behartiging waarvan onteigening
              kan plaatsvinden.
            </p>
            <p>Het advies van de Afdeling heeft mij aanleiding gegeven tot aanpassing van het ontwerpbesluit in die zin dat de motivering
              van het ontwerpbesluit is aangepast naar aanleiding van de inhoudelijke opmerkingen van de Afdeling.
            </p>
            <p>Ook is met de door de Afdeling gemaakte redactionele opmerkingen in het ontwerpbesluit rekening gehouden.
            </p>
            <p>Ik doe U hierbij het aangepaste ontwerpbesluit toekomen en verzoek U overeenkomstig dit ontwerp te besluiten.
            </p>
            <div class="bijlage-sluiting">
              <p class="ondertekening">
                <span class="functie">De Minister van Infrastructuur en Milieu,</span>
                <span class="naam">
                  <span class="voornaam">M.H.</span>
                  <span class="achternaam">Schultz van Haegen-Maas Geesteranus</span>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n1">
            <h5 class="note-close">
              <a class="note-close" href="#close-n1">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="n1" name="n1"></a>1</span>
            </sup>
            <p>Voor een weergave van de achtergronden van het verzoek, de planologische grondslag, en het standpunt van verzoeker,
              tevens reclamant onder 2, verwijst de Afdeling naar het ontwerpbesluit onder “Noodzaak en urgentie”, “Planologische
              grondslag” en “Overwegingen naar aanleiding van de zienswijzen”.
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n2">
            <h5 class="note-close">
              <a class="note-close" href="#close-n2">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="n2" name="n2"></a>2</span>
            </sup>
            <p>Overwegingen naar aanleiding van de zienswijze van reclamant 2, onder “Ad III en IV”.</p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n3">
            <h5 class="note-close">
              <a class="note-close" href="#close-n3">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="n3" name="n3"></a>3</span>
            </sup>
            <p>Zie het Koninklijk Besluit van 28&nbsp;augustus 2009,
              <a href="stcrt-2009-14441.html" title="link naar publicatie stcrt-2009-14441">Stcrt. 2009, nr. 14441</a>, inzake het onteigeningsplan "Overamstel Buitendijks" van de gemeente Amsterdam.
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n4">
            <h5 class="note-close">
              <a class="note-close" href="#close-n4">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="n4" name="n4"></a>4</span>
            </sup>
            <p>De grondslag voor onteigening ter uitvoering van het bestemmingsplan ligt eveneens besloten in artikel 77, eerste lid,
              onder 1, van de onteigeningswet.
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n5">
            <h5 class="note-close">
              <a class="note-close" href="#close-n5">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="n5" name="n5"></a>5</span>
            </sup>
            <p>Vergelijk het Koninklijk Besluit van 12&nbsp;maart 2003,
              <a href="stcrt-2003-68-p18-SC39397.html" title="link naar publicatie stcrt-2003-68-p18-SC39397">Stcrt. 2003, nr. 68</a>, inzake de onteigening ten behoeve van het bestemmingsplan “Jordaan 1999”. Hierin werd vastgesteld
              dat de panden op twee percelen reeds waren gerenoveerd en de gemeente geen verdere concrete vorm van planuitvoering
              voor ogen stond. Ten aanzien van deze percelen onthield de Kroon goedkeuring aan het raadsbesluit tot onteigening.
            </p>
          </div>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n6">
            <h5 class="note-close">
              <a class="note-close" href="#close-n6">X</a> Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="n6" name="n6"></a>6</span>
            </sup>
            <p>Zoals in het ontwerpbesluit naar aanleiding van de zienswijze van reclamanten 1 (mede-eigenaars van het betrokken perceel)
              wordt opgemerkt, verzetten zij zich niet tegen het huidige gebruik. Zij zullen geen civiele acties instellen die
              zouden kunnen leiden tot een ingreep in de feitelijke toestand. Zie ook de artikelen 5:54, eerste lid, en 3:13, van
              het Burgerlijk Wetboek, die de mogelijkheden van dergelijke civielrechtelijke procedures clausuleren.
            </p>
          </div>
        </div>

      </div>    </article>

  </div>
</div>
