<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>
      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a name="id1-3-1">
            <!---->
          </a>
          <img alt="Logo West Maas en Waal" src="https://zoek.officielebekendmakingen.nl/stcrt-2014-3440-1.png" style="width:4.0cm;height:3.2cm;">West Maas en Waal, verkeersbesluit parkeerverbod Dorpsstraat Wamel</h1>
        <div class="regeling">
          <!---->
          <div class="aanhef">
            <a name="id1-3-2-1">
              <!---->
            </a>
            <div class="context">
              <!---->
              <p class="context_al">14int64</p>
            </div>
            <p class="wie">Burgemeester en wethouders van West Maas en Waal</p>
            <p class="tussenkop">
              <strong class="tussenkop_cur">
                <strong class="vet">Overwegingen ten aanzien van het besluit</strong>
              </strong>
            </p>
            <p class="considerans.al">Krachtens artikel 15 lid 2 van de Wegenverkeerswet 1994 moeten maatregelen op of aan de weg tot het aanbrengen en verwijderen
              van voorzieningen ter regeling van het verkeer geschieden krachtens een verkeersbesluit, indien de maatregelen leiden
              tot een beperking of uitbreiding van het aantal categorieën weggebruikers dat van een weg of weggedeelte gebruik
              kan maken;</p>
            <p class="considerans.al"></p>
            <p class="considerans.al">Conform artikel 24 van het Besluit administratieve bepalingen inzake het wegverkeer is er overleg geweest met de korpschef
              van het betrokken regionale politiekorps; </p>
            <p class="considerans.al"></p>
            <p class="considerans.al">Gelet op het Mandaatbesluit 2012 van 12 juni 2012, waarbij het nemen van tijdelijke verkeersbesluiten is gemandateerd
              aan de medewerker Openbare Ruimte;</p>
            <p class="afkondiging">
              <strong class="vet">BESLUIT</strong>
            </p>
          </div>
          <div class="regeling-tekst">
            <a name="id1-3-2-2">
              <!---->
            </a>
            <p>Om de veiligheid op de weg te verzekeren is besloten tot de volgende tijdelijke verkeersmaatregelen: </p>
            <p></p>
            <p>Jaarlijks van de vrijdag voor Carnaval tot de dinsdag van Carnaval: het instellen van een parkeerverbod op de Dorpsstraat
              tussen Wilhelminastraat en Houtstraat te Wamel door bord E1 van Bijlage 1 van het Reglement Verkeerstekens en Verkeersregels
              te plaatsen.</p>
            <p></p>
          </div>
          <div class="regeling-sluiting">
            <a name="id1-3-2-3">
              <!---->
            </a>
            <div class="gegeven">
              <!---->
              <p class="dagtekening">Beneden-Leeuwen, 31 januari 2014</p>
            </div>
            <div class="ondertekenaar">
              <!---->
              <div class="ondertekening">
                <!---->
                <div class="functie">
                  <!---->Burgemeester en wethouders voornoemd,</div>
                <span class="deze">Namens deze,</span>
                <span class="naam">
                  <span class="voornaam">mw. ing. R. </span>
                  <span class="achternaam">Heuts</span>
                </span>
                <div class="functie">
                  <!---->Medewerker openbare ruimte</div>
              </div>
            </div>
          </div>
          <p class="tussenkop">
            <strong class="tussenkop_vetcur">MEDEDELINGEN</strong>
          </p>
          <p>Dit besluit wordt gepubliceerd op 12 februari 2014 in de Waalkanter en de Staatscourant. Vanaf 13 februari 2014 ligt
            dit besluit 6 weken ter inzage bij de Centrale Balie van het gemeentehuis.</p>
          <p></p>
          <p class="tussenkop">
            <strong class="tussenkop_cur">Bezwaar- of beroepsclausule</strong>
          </p>
          <p>
            <strong class="vet">Bezwaar </strong>
          </p>
          <p>Als u het niet eens bent met de inhoud van dit besluit, dan kunt u binnen zes weken na de dag waarop het besluit is gepubliceerd,
            een bezwaarschrift indienen bij het college van burgemeester en wethouders, Postbus 1, 6658 ZG Beneden-Leeuwen.</p>
          <p>Het bezwaarschrift dient te worden ondertekend en bevat ten minste:</p>
          <ul class="expliciet whitespace-small">
            <li class="li">
              <p class="labeled">
                <span class="ol">1.</span>naam en adres van de indiener;</p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">2.</span>de dagtekening;</p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">3.</span>omschrijving van het besluit waartegen het bezwaar is gericht;</p>
            </li>
            <li class="li">
              <p class="labeled">
                <span class="ol">4.</span>de gronden van het bezwaar. </p>
              <p>Voor de behandeling van een bezwaarschrift is geen griffierecht verschuldigd.</p>
            </li>
          </ul>
          <p>&nbsp;</p>
          <p>
            <strong class="vet">Voorlopige voorziening </strong>
          </p>
          <p>Een bezwaarschrift heeft geen schorsende werking. Dat betekent dat het besluit nu al geldt. Indien onverwijlde spoed
            dat vereist kunt u om een voorlopige voorziening vragen bij de voorzieningenrechter van de Rechtbank Arnhem, Postbus
            9030, 6800 CD Arnhem. In dat geval is griffierecht verschuldigd. </p>
          <p>&nbsp;</p>
          <p>U kunt ook digitaal om een voorlopige voorziening vragen bij genoemde rechtbank. Ga hiervoor naar http://loket.rechtspraak.nl/bestuursrecht
            en maak gebruik van het voorgeschreven webformulier. Om hiervan gebruik te maken moet u wel beschikken over een elektronische
            handtekening (DigiD). Kijk op de genoemde site voor de precieze voorwaarden.</p>
        </div>

      </div>
    </article>

  </div>
</div>
