<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">

        <h1 class="staatscourant_kop">
          <a id="d16e43" name="d16e43"></a>Raamwerk Nascholingscursussen Code 95 en ADR/ADN, Stichting Centraal Bureau Rijvaardigheidsbewijzen
        </h1>
        <div class="circulaire">
          <div class="circulaire-tekst">
            <a id="d16e48" name="d16e48"></a>
            <div class="alineagroep">
              <p>
                <strong class="vet">Versie 2.0</strong>
              </p>
              <p>
                <strong class="vet">Versiedatum: 1&nbsp;januari 2016</strong>
              </p>
            </div>
            <div class="alineagroep">
              <p>
                <strong class="vet">Publicatiedatum Staatscourant: 1&nbsp;januari 2016</strong>
              </p>
              <p>
                <strong class="vet">Datum laatste wijziging: 1&nbsp;januari 2016</strong>
              </p>
            </div>
            <div class="circulaire_divisie">
              <h3 class="divisiekop1">
                <a id="d16e69" name="d16e69"></a>INHOUDSOPGAVE
              </h3>
              <div class="alineagroep">
                <p>
                  <strong class="vet">Hoofdstuk 1: Toelichting op het raamwerk</strong>
                </p>
                <p>
                  <strong class="vet">Hoofdstuk 2: Positie van de divisie CCV van het CBR</strong>
                </p>
                <p>
                  <strong class="vet">Hoofdstuk 3: Aanvraagprocedure</strong>
                </p>
                <p>
                  <strong class="vet">Hoofdstuk 4: Erkennings- en certificeringseisen</strong>
                </p>
                <p>
                  <strong class="vet">Hoofdstuk 5: Geldigheidsduur</strong>
                </p>
                <p>
                  <strong class="vet">Hoofdstuk 6: Toezicht</strong>
                </p>
                <p>
                  <strong class="vet">Hoofdstuk 7: Bezwaar en beroep</strong>
                </p>
                <p>
                  <strong class="vet">Hoofdstuk 8: E-learning</strong>
                </p>
                <p>
                  <strong class="vet">Hoofdstuk 9: Minimumeisen</strong>
                </p>
              </div>
            </div>
            <div class="circulaire_divisie">
              <h3 class="divisiekop1">
                <a id="d16e103" name="d16e103"></a>HOOFDSTUK 1: TOELICHTING OP HET RAAMWERK
              </h3>
              <p>Het onderhavige raamwerk is een document als bedoeld in artikel 156s Reglement rijbewijzen. In het raamwerk staan
                de eisen die worden gesteld aan de certificering van nascholingscursussen en de erkenning van opleidingsinstituten
                (artikel 156x Reglement rijbewijzen en Hoofdstuk III Regeling vakbekwaamheid bestuurders 2012). Dit raamwerk is
                van overeenkomstige toepassing op de erkenning als ADR opleidingsinstituut in het kader van de wet vervoer gevaarlijke
                stoffen, gelet op de Regeling vervoer over land van gevaarlijke stoffen, Bijlage 3. Het raamwerk is ook van overeenkomstige
                toepassing op het toezicht op de ADN herhalingstoetsen.
              </p>
              <p>Dit raamwerk beschrijft hoe de divisie CCV van het CBR (hierna: CCV) toezicht houdt op de naleving van de nascholingseisen
                en erkenning van opleidingsinstituten en welke bezwaar- en beroepsmogelijkheden er zijn tegen opgelegde maatregelen.
              </p>
              <p>Wijzigingen in het raamwerk worden door CCV vastgesteld en actief gecommuniceerd. Het raamwerk wordt jaarlijks op
                twee vaste momenten gepubliceerd, namelijk begin januari en begin juli. Uiterlijk zes maanden na iedere publicatie
                dienen de voor het opleidingsinstituut relevante wijzigingen doorgevoerd te zijn.
              </p>
              <p>In dit raamwerk wordt ingegaan op de positie van CCV, de aanvraagprocedure voor erkenning en certificering, de erkennings-
                en certificeringseisen, de geldigheidsduur, de wijze waarop het toezicht uitgeoefend wordt en hoe beroep en bezwaar
                geregeld is en de minimumeisen die gelden voor de verschillende nascholingscursussen.
              </p>
            </div>
            <div class="circulaire_divisie">
              <h3 class="divisiekop1">
                <a id="d16e120" name="d16e120"></a>HOOFDSTUK 2: POSITIE VAN DE DIVISIE CCV
              </h3>
              <p>CCV is aangewezen als exameninstituut dat besluit tot erkenning van opleidingsinstituten voor het uitvoeren van nascholingscursussen
                en tot certificering van nascholingscursussen. Daarnaast houdt CCV toezicht op de naleving van de eisen die hieraan
                worden gesteld. Dit gebeurt op basis van de Wegenverkeerswet 1994, het Reglement rijbewijzen en de Regeling vakbekwaamheid
                bestuurders 2012 en de Wet vervoer gevaarlijke stoffen, gelet op de Regeling vervoer over land van gevaarlijke
                stoffen artikel 2 onder a, juncto Hoofdstuk 8 van het ADR.
              </p>
            </div>
            <div class="circulaire_divisie">
              <h3 class="divisiekop1">
                <a id="d16e128" name="d16e128"></a>HOOFDSTUK 3: AANVRAAGPROCEDURE
              </h3>
              <div class="alineagroep">
                <p>Alvorens een opleidingsinstituut een erkenning kan aanvragen, dient deze een aparte overeenkomst met CBR te sluiten
                  ten aanzien van de rekening-courant en de geldende voorwaarden daarbij.
                </p>
                <p>Een opleidingsinstituut vraagt een erkenning en certificering aan door het invullen van een aanvraagformulier dat
                  te downloaden is van de CBR website. Het formulier dient volledig en correct ingevuld bij CCV te worden ingediend.
                  CCV neemt een besluit op de aanvraag en informeert het opleidingsinstituut daarover. De kosten van de erkenning
                  en certificering worden afgeboekt van de rekening-courant van het opleidingsinstituut.
                </p>
              </div>
              <p>Gegevens omtrent afgegeven erkenningen en certificeringen publiceert CCV periodiek op de CBR website. Indien een
                erkenning en/of certificering wordt geschorst of ingetrokken, dan wordt deze door CCV verwijderd van de website.
              </p>
              <div class="alineagroep">
                <p>Ruim voor het aflopen van de certificeringtermijn, kan het opleidingsinstituut een nieuwe aanvraag indienen bij
                  CCV, indien de opleider een nieuwe certificering wenst. De aanvraagprocedure wordt opnieuw volledig doorlopen.
                </p>
                <p>Na intrekking van een erkenning en/of certificering, kan pas een nieuwe aanvraag ingediend worden op het moment
                  dat de periode waarop de intrekking betrekking heeft is afgelopen.
                </p>
                <p>Bovendien moet het opleidingsinstituut aantonen dat er voldoende maatregelen zijn getroffen die voorkomen dat in
                  de toekomst opnieuw zal worden gehandeld in strijd met de gestelde eisen.
                </p>
              </div>
            </div>
            <div class="circulaire_divisie">
              <h3 class="divisiekop1">
                <a id="d16e150" name="d16e150"></a>HOOFDSTUK 4: ERKENNINGS- EN CERTIFICERINGSEISEN
              </h3>
              <p>Bij de erkenning van een opleidingsinstituut en de certificering van nascholingscursussen hanteert CCV de volgende
                eisen:
              </p>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e158" name="d16e158"></a>4.1. Erkenning opleidingsinstituut
                </h4>
                <p>Voor het verkrijgen en behouden van de erkenning voor nascholing dient het opleidingsinstituut aan de volgende
                  eisen te voldoen.
                </p>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e166" name="d16e166"></a>4.1.1. Eisen algemeen
                  </h5>
                  <p>Het opleidingsinstituut zorgt ervoor dat:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.1.a. </span>4het ingeschreven staat bij de Kamer van Koophandel (Nederland);
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.1.b. </span>bij voortduring wordt voldaan aan de eisen en overige verplichtingen die gelden voor de
                        erkenning;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.1.c. </span>een juiste administratie wordt gevoerd;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.1.d. </span>gebruik wordt gemaakt van geschikt materieel en materiaal;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.1.e. </span>er geen deelnemers worden benadeeld of bevoorrecht;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.1.f. </span>personen die onder zijn verantwoordelijkheid werken, zoals docenten, geen verbaal of fysiek
                        geweld plegen of daarmee dreigen.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.1.g. </span>de nascholingsuren worden gevolgd binnen een reëel tijdspad waarbij het didactische aspect
                        zoveel mogelijk tot zijn recht komt. Concreet houdt dit in dat:
                      </p>
                      <ul class="expliciet whitespace-small">
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">− </span>een cursist maximaal 2 e-learning of 2 opgeknipte cursussen (of een combinatie daarvan) op
                            één dag mag volgen of afronden; en
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">− </span>een cursist op één cursusdag geen combinatie van een 7-uur durende reguliere cursus samen
                            met een e-learning of opgeknipte cursus volgt of afrond.
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e222" name="d16e222"></a>4.1.2. Eisen locatie
                  </h5>
                  <p>Het opleidingsinstituut zorgt ervoor dat:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.2.a. </span>de nascholingscursus in Nederland wordt gegeven. Alleen na schriftelijke toestemming van
                        CCV kan een locatie buiten Nederland gebruikt worden voor een aangegeven nascholingscursus;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.2.b. </span>de nascholingscursus op de aangemelde locatie wordt gegeven;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.2.c. </span>de locatie onbelemmerd toegankelijk is voor steekproefnemers;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.2.d. </span>de locatie waar de cursus wordt uitgevoerd hiervoor is ingericht. Dat wil zeggen dat er
                        onder andere: voldoende en passend meubilair is, docent verstaanbaar en zichtbaar is, locatie voldoende
                        verlicht is, een passende temperatuur heeft en er voldoende ventilatie is;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.2.e. </span>tijdens de nascholingscursus de locatie niet voor andere doeleinden wordt gebruikt;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.2.f. </span>de locatie voldoet aan wettelijke veiligheidsvoorschriften. Als locatie wordt tevens aangemerkt
                        de cabine van een voertuig;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.2.g. </span>indien er tijdens de nascholingscursus wordt gereden dient er voor iedere inzittende een
                        deugdelijke zitplaats te zijn volgens de definitie zitplaats uit de Regeling voertuigen.
                      </p>
                      <p>Voor voertuigen voor het eerst op kenteken gezet na 31&nbsp;augustus 2013 geldt aanvullend dat iedere zitplaats,
                        conform de eisen in de Regeling voertuigen, vermeld moet zijn op het kentekenbewijs
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.2.h. </span>de locatie geschikt en toereikend is voor het aantal cursisten dat deelneemt aan de cursus;
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e274" name="d16e274"></a>4.1.3. Eisen identificatie
                  </h5>
                  <p>Het opleidingsinstituut zorgt ervoor dat:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.3.a. </span>bij aanvang van de cursusdag het wettige en geldige identiteitsbewijs van iedere cursist
                        die is aangemeld in TOP internet wordt gecontroleerd;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.1.3.b. </span>een niet verschenen cursist of een cursist zonder geldig identiteitsbewijs binnen 30 minuten
                        na aanvang van de cursus in TOP internet als ‘niet verschenen’ wordt geregistreerd.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e294" name="d16e294"></a>4.2. Certificering nascholingscursus
                </h4>
                <p>Voor het verkrijgen en behouden van de certificering van een nascholingscursus dient het opleidingsinstituut aan
                  de volgende eisen te voldoen.
                </p>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e302" name="d16e302"></a>4.2.1. Eisen algemeen
                  </h5>
                  <p>Het opleidingsinstituut zorgt ervoor dat:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.a. </span>de cursus wordt uitgevoerd conform de bij de aanvraag gevoegde documenten en de eisen zoals
                        deze zijn gedefinieerd in het onderhavige raamwerk. Bij discrepantie tussen de documenten en de eisen,
                        prevaleren de eisen uit het onderhavige raamwerk.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.b. </span>de cursus wordt uitgevoerd conform het bij de aanvraag aangeleverde opleidingsplan. Het
                        opleidingsplan omvat:
                      </p>
                      <ul class="expliciet whitespace-small">
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>een verwijzing naar de betrokken minimumeisen in het onderhavige raamwerk;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>de leerdoelen;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>de lesonderwerpen die de opleider in de nascholingscursus behandeld;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>de omvang van de lesonderwerpen;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>de didactische werkvormen;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>het te gebruiken (les)materiaal en materieel;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>de kwalificaties van de docent.
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.c. </span>Lesmateriaal en het opleidingsplan dienen op de uitvoeringslocatie aanwezig te zijn en
                        op verzoek van CCV bij CCV te worden ingediend.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.d. </span>een praktijktraining of een theoriecursus minimaal 7 klokuren beslaat, met uitzondering
                        van pauzes en examentijd. Per 7 klokuren mag maximaal 90 minuten vrije ruimte worden behandeld. Vrije ruimte
                        is een onderwerp dat niet onder het hoofdonderwerp van de cursus valt, maar wel relevant is voor beroepschauffeurs
                        in het licht van de doelstelling van de Richtlijn vakbekwaamheid;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.e. </span>bij de uitvoering van de cursus het aantal deelnemers niet groter is dan het maximum aantal
                        dat in de onderliggende minimumeis is aangeven. Indien er gebruik wordt gemaakt van de vrije ruimte kan
                        het aantal deelnemers, bijvoorbeeld bij praktijkoefeningen, worden bijgesteld;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.f. </span>bij een cursus van 7 klokuren die in dagdelen wordt gegeven het volgende in acht wordt
                        genomen:
                      </p>
                      <ul class="expliciet whitespace-small">
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">− </span>de cursus mag in maximaal twee dagdelen worden gegeven;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">− </span>deze dagdelen dienen op verschillende dagen binnen een periode van 10 kalenderdagen te zijn
                            afgerond;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">− </span>een dagdeel heeft minimaal een omvang van 2,5 uur.
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.g. </span>in een praktijktraining iedere deelnemer ten minste 2,5 uur zelf rijdt, in aanwezigheid
                        van een gekwalificeerde docent;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.h. </span>CCV te allen tijde een onbelemmerde toegang heeft bij het afnemen van steekproeven.
                      </p>
                      <p>Kosten voor het niet of niet volledig uit kunnen voeren van steekproeven, bij een belemmerde toegang, dan
                        wel een andere oorzaak, komen voor rekening van de opleider;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.i. </span>er een goede (telefonische) bereikbaarheid is van docenten;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.j. </span>de cursus wordt uitgevoerd volgens de eisen uit het onderhavige raamwerk ten aanzien van
                        E-learning;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.1.k. </span>de cursus wordt uitgevoerd volgens de eisen uit het onderhavige raamwerk ten aanzien van
                        de simulatoren.
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e421" name="d16e421"></a>4.2.2. Eisen docenten
                  </h5>
                  <p>Het opleidingsinstituut zorgt ervoor dat:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.2.a. </span>de door hem in te zetten docenten deskundig, integer en objectief zijn;
                      </p>
                      <p>Deskundig wil zeggen:</p>
                      <ul class="expliciet whitespace-small">
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>docenten beschikken over de kwalificaties vermeld in de betrokken minimumeisen van het raamwerk
                            nascholingscursussen;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>docenten beschikken over een goede kennis van de ontwikkelingen op het vakgebied waar de cursus
                            betrekking op heeft;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>docenten kennen de voorschriften en opleidingseisen m.b.t. de nascholing en kunnen deze toepassen
                            in de cursus;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">• </span>docenten beschikken over didactische vaardigheden om de stof goed aan de cursisten over te
                            kunnen brengen.
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.2.b. </span>de docent tijdens elke cursusdag een geldig identiteitsbewijs kan tonen;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.2.c. </span>de docent tijdens elke cursusdag kan aantonen dat hij over de benodigde kwalificaties beschikt.
                        Indien er gebruik wordt gemaakt van de vrije ruimte kunnen er, bijvoorbeeld bij praktijkoefeningen, aanvullende
                        docentkwalificaties gevraagd worden;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.2.d. </span>de docent bij het uitoefenen van de werkzaamheden als docent niet wordt aangemeld als cursist.
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e474" name="d16e474"></a>4.2.3. Eisen Cursusdag
                  </h5>
                  <p>Het opleidingsinstituut zorgt ervoor dat:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.a. </span>cursusdagen plaatsvinden op: maandag tot en met vrijdag tussen 7.00 uur en 22.00 uur en
                        zaterdag tussen 7.00 uur en 18.00 uur. Op zondagen en landelijke feestdagen (met uitzondering van 5&nbsp;mei
                        en Goede vrijdag) mogen er geen nascholings- of ADR cursussen plaatsvinden.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.b. </span>cursusdagen, uiterlijk 2 dagen voor de uitvoeringsdag, worden aangemeld in TOP internet.
                      </p>
                      <p>Het opleidingsinstituut is verplicht om de aanwijzingen van CCV met betrekking tot de wijze van registratie
                        van cursusdagen en cursisten op te volgen;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.c. </span>cursusgegevens correct worden geregistreerd;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.d. </span>de cursisten bij een opgeknipte cursus, beide delen doorlopen, binnen de daarvoor geldende
                        termijn;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.e. </span>de cursus in het Nederlands wordt gegeven en de deelnemers het Nederlands voldoende beheersen
                        om de cursus te kunnen volgen;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.f. </span>de cursist tijdens de cursusdag niet productief is ('On the job'-cursusdag is niet toegestaan.)
                      </p>
                      <p>Indien tijdens de cursusdag lading geladen of gelost moet worden, dient het te gaan om dezelfde lading die
                        op dezelfde locatie, geladen en gelost wordt (of vice versa);
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.g. </span>de cursist tijdens de cursusdag niet onder invloed van alcohol of drugs is;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.h. </span>er tijdens de cursusdag maximaal 30 minuten aan een oefentoets besteed wordt;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.i. </span>bij een praktijktraining het startpunt hetzelfde is als het eindpunt;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.j. </span>bij een praktijktraining bij aanvang het vereiste geldige rijbewijs, voor het voertuig
                        waarmee gereden wordt, wordt gecontroleerd;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.k. </span>indien een praktijktraining plaatsvindt op een besloten terrein, het terrein hier zich
                        qua omvang en inrichting voor leent. Alleen als de minimumeisen dit aangeven kan een besloten terrein ingezet
                        worden;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.l. </span>de uitvoeringslocatie van de cursus in TOP internet is aangegeven. Bij het rijden op de
                        openbare weg, geeft het opleidingsinstituut de start- en eindlocatie aan en zorgt dat de kandidaten de
                        eerste en de laatste vijftien minuten op de opgegeven locatie aanwezig zijn;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.m. </span>de gegevens van minimaal één cursist uiterlijk 2 dagen voor de uitvoeringsdag correct zijn
                        ingevoerd in TOP internet. De gegevens van de overige cursisten dienen uiterlijk 30 minuten na aanvang
                        van de cursus te zijn ingevoerd in TOP internet.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.n. </span>bij iedere cursusdag de uit TOP internet verkregen en door docent en cursisten aan het
                        begin van de cursusdag getekende presentielijst beschikbaar is. Er mogen geen cursisten op de presentielijst
                        worden bijgeschreven;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.o. </span>de TOP-presentielijst direct na afloop van de cursusdag wordt afgetekend door de cursisten;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.p. </span>de presentielijst tijdens een steekproef per direct kan worden getoond;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.q. </span>uiterlijk 4 dagen na elke cursusdag alle cursisten, die de gehele cursusdag aanwezig waren,
                        zijn geregistreerd als ‘verschenen’ in TOP internet;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.r. </span>de presentielijst uit TOP internet voor de periode van ten minste 1 jaar na de cursusdag
                        op een beveiligde manier wordt bewaard;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.s. </span>bij het vervallen van een reeds aangemelde cursusdag, de cursistgegevens correct en tijdig
                        worden verwijderd uit TOP internet;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.t. </span>als een cursusdag voortijdig wordt beëindigd de betreffende cursist(en) binnen 30 minuten
                        na het moment van beëindigen, is(zijn) geregistreerd als ‘afgebroken’ in TOP internet;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.u. </span>alleen als er sprake is van een storing van TOP internet, waarbij de oorzaak bij CCV ligt,
                        cursisten worden afgemeld per e-mail, onder vermelding van de reden: ‘niet verschenen’, dan wel ‘afgebroken’.
                        De melding dient binnen 30 minuten na het ontstaan van de situatie te zijn doorgegeven;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">4.2.3.v. </span>tot maximaal 30 minuten na aanvang van de cursusdag wijzigingen worden doorgevoerd. Tot
                        dit moment kan een actuele presentielijst uit TOP internet worden verkregen.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="circulaire_divisie">
              <h3 class="divisiekop1">
                <a id="d16e600" name="d16e600"></a>HOOFDSTUK 5: GELDIGHEIDSDUUR
              </h3>
              <p>Een erkenning als opleidingsinstituut en certificering van een nascholingscursus hebben een geldigheidsduur van maximaal
                vijf jaar. Daarbij krijgen varianten op een nascholingscursus dezelfde einddatum als de oorspronkelijke certificering.
                Een tussentijdse opzegging of het stellen van aanvullende eisen aan een erkenning/certificering door CBR is mogelijk
                indien de actualiteit of bijzondere omstandigheden daar aanleiding toe geven.
              </p>
            </div>
            <div class="circulaire_divisie">
              <h3 class="divisiekop1">
                <a id="d16e608" name="d16e608"></a>HOOFDSTUK 6: TOEZICHT
              </h3>
              <p>CCV houdt op twee manieren toezicht op de nascholing, namelijk:</p>
              <ul class="expliciet whitespace-small">
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>door het beoordelen van de aanvraag voor erkenning en certificering
                  </p>
                </li>
                <li class="li">
                  <p class="labeled">
                    <span class="ol">• </span>door toezicht te houden door het uitvoeren van (onaangekondigde) steekproeven.
                  </p>
                </li>
              </ul>
              <div class="alineagroep">
                <p>Als in strijd met de gestelde eisen en verplichtingen wordt gehandeld, kan CCV de maatregelen opleggen, die in
                  artikel 6.2. zijn genoemd.
                </p>
                <p>Welke maatregel wordt opgelegd is afhankelijk van de zwaarte van de overtreding.</p>
              </div>
              <p>Het resultaat van een steekproef wordt schriftelijk aan het opleidingsinstituut bevestigd.</p>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e637" name="d16e637"></a>6.1. Overtredingen
                </h4>
                <div class="alineagroep">
                  <p>CCV onderscheidt vier categorieën overtredingen. Twee categorieën bij de erkenning van opleidingsinstituten en
                    twee bij de certificering van nascholingscursussen.
                  </p>
                  <p>Het is mogelijk dat het opleidingsinstituut een overtreding begaat die niet specifiek is benoemd. Dit betekent
                    niet dat er geen maatregel zal worden opgelegd. CCV zal in dat geval de niet benoemde overtreding alsnog categoriseren
                    en sanctioneren.
                  </p>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e648" name="d16e648"></a>6.1.1. Categorieën overtredingen erkenning opleidingsinstituut
                  </h5>
                  <p>
                    <em class="ondlijn">Categorie A</em>. overtredingen zijn onder meer:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>handelen in strijd met de
                        <em class="vetcur">4.1.1.Eisen algemeen</em>, nummers: 4.1.1.a., 4.1.1.b., 4.1.1.c., 4.1.1.d., 4.1.1.g.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>handelen in strijd met de
                        <em class="vetcur">4.1.2.Eisen locatie</em>, nummers: 4.1.2.a., 4.1.2.b., 4.1.2.c., 4.1.2.d., 4.1.2.e., 4.1.2.f., 4.1.2.g.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>handelen in strijd met de
                        <em class="vetcur">4.1.3.Eisen identificatie</em>, nummers: 4.1.3.a., 4.1.3.b.
                      </p>
                    </li>
                  </ul>
                  <p>
                    <em class="ondlijn">Categorie B</em>. overtredingen zijn onder meer:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>handelen in strijd met de
                        <em class="vetcur">4.1.1.Eisen algemeen</em>, nummers: 4.1.1.e., 4.1.1.f.
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e699" name="d16e699"></a>6.1.2. Categorieën overtredingen certificering nascholingscursussen
                  </h5>
                  <p>
                    <em class="ondlijn">Categorie 1</em>. overtredingen zijn onder meer:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>handelen in strijd met
                        <em class="vetcur">4.2.1.Eisen algemeen</em>, nummers: 4.2.1.a., 4.2.1.b., 4.2.1.e., 4.2.1.h., 4.2.1.i., 4.2.1.j., 4.2.1.k.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>handelen in strijd met
                        <em class="vetcur">4.2.2.Eisen docenten</em>, nummers: 4.2.2.b., 4.2.2.c.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>handelen in strijd met de
                        <em class="vetcur">4.2.3.Eisen cursusdag</em>, nummers: 4.2.3.a., 4.2.3.b.,4.2.3.h, 4.2.3.k., 4.2.3.l., 4.2.3.m., 4.2.3.n.,
                        4.2.3.o., 4.2.3.p., 4.2.3.q., 4.2.3.t., 4.2.3.v
                      </p>
                    </li>
                  </ul>
                  <p>
                    <em class="ondlijn">Categorie 2</em>. overtredingen zijn onder meer:
                  </p>
                  <ul class="expliciet whitespace-small">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>handelen in strijd met
                        <em class="vetcur">4.2.1.Eisen algemeen</em>, nummers: 4.2.1.c., 4.2.1.d., 4.2.1.f., 4.2.1.g.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>handelen in strijd met
                        <em class="vetcur">4.2.2.Eisen docenten</em>, nummers: 4.2.2.a., 4.2.2.d.
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">− </span>handelen in strijd met de
                        <em class="vetcur">4.2.3.Eisen cursusdag</em>, nummers: 4.2.3.c., 4.2.3.d., 4.2.3.e., 4.2.3.f., 4.2.3.g., 4.2.3.i., 4.2.3.j.,
                        4.2.3.r., 4.2.3.s., 4.2.3.u.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e767" name="d16e767"></a>6.2. Sanctionering
                </h4>
                <div class="alineagroep">
                  <p>Afhankelijk van de categorie van de overtreding en het aantal gepleegde overtredingen wordt een maatregel opgelegd.
                    Het betreft een systeem van in ernst oplopende sancties, waarbij in algemene zin rekening is gehouden met de
                    bedrijfseconomische belangen van de opleidingsinstituten.
                  </p>
                  <p>Er is sprake van een tweede (en volgende) overtreding, als deze binnen 24 maanden na de eerste overtreding heeft
                    plaatsgevonden.
                  </p>
                </div>
                <p>CCV kan de volgende maatregelen opleggen:</p>
                <ul class="expliciet whitespace-medium">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">6.2.1. </span>
                      <strong class="vet">Waarschuwing</strong>
                    </p>
                    <p>De waarschuwingen worden schriftelijk aan de opleider bekend gemaakt.</p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">6.2.2. </span>
                      <strong class="vet">Waarschuwing met verscherpt toezicht.</strong>
                    </p>
                    <p>Aan de waarschuwing wordt verscherpt toezicht toegevoegd. Aanvullende steekproeven worden op kosten van het
                      opleidingsinstituut uitgevoerd. De kosten van de steekproeven staan op de website van het CBR.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">6.2.3. </span>
                      <strong class="vet">Schorsen van de certificering voor een nascholingscursus voor 12 weken.</strong>
                    </p>
                    <p>De schorsing van de certificering geldt voor een periode van 12 weken. Deze schorsing kan betrekking hebben
                      op één of meerdere nascholingscursussen.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">6.2.4. </span>
                      <strong class="vet">Intrekken van de certificering voor een nascholingscursus</strong>
                    </p>
                    <p>Na intrekking van een certificering kan het opleidingsinstituut na verloop van tenminste 6&nbsp;maanden opnieuw
                      een aanvraag voor certificering van de betrokken nascholingscursus indienen.
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">6.2.5. </span>
                      <strong class="vet">Schorsen van een erkenning als opleidingsinstituut voor 12 weken</strong>
                    </p>
                    <p>De schorsing van de erkenning als opleidingsinstituut geldt voor een periode van 12&nbsp;weken.</p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">6.2.6. </span>
                      <strong class="vet">Intrekken van een erkenning als opleidingsinstituut</strong>
                    </p>
                    <p>Na intrekking van een erkenning kan het opleidingsinstituut na verloop van tenminste 6&nbsp;maanden opnieuw
                      een aanvraag voor erkenning indienen.
                    </p>
                  </li>
                </ul>
                <p>Als uw erkenning en/of certificering is ingetrokken, dient u binnen 12 weken aan te tonen dat er voldoende maatregelen
                  zijn genomen om te voorkomen dat er in de toekomst opnieuw in strijd met het raamwerk gehandeld zal worden. Zolang
                  deze maatregelen niet zijn getroffen blijft de schorsing van kracht.
                </p>
              </div>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e834" name="d16e834"></a>6.3. Flowchart overtredingen Erkenning opleidingsinstituut
                </h4>
                <div class="plaatje">
                  <img src="stcrt-2015-47724-001.png" width="567" height="605" alt="">
                </div>
              </div>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e842" name="d16e842"></a>6.4. Flowchart overtredingen Certificering nascholingscursussen
                </h4>
                <div class="plaatje">
                  <img src="stcrt-2015-47724-002.png" width="567" height="775" alt="">
                </div>
                <p>Een intrekking van de erkenning of certificering treedt direct in werking na het genomen besluit. Cursusdagen waarvoor
                  al kandidaten zijn opgevoerd in TOP kunnen nog gegeven worden.
                </p>
              </div>
            </div>
            <div class="circulaire_divisie">
              <h3 class="divisiekop1">
                <a id="d16e853" name="d16e853"></a>HOOFDSTUK 7: BEZWAAR EN BEROEP
              </h3>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e857" name="d16e857"></a>7.1 Bezwaar
                </h4>
                <p>Op grond van de Algemene wet bestuursrecht kunt u tegen een besluit tot intrekking of schorsing van een erkenning
                  of certificering bezwaar indienen bij de afdeling Juridische Zaken van het CBR. U moet dit doen binnen zes weken
                  na de dag van verzending van het besluit. In uw bezwaarschrift moet u aangegeven waarom u het niet eens bent
                  met de beslissing. Tevens moet u een kopie van de beslissing waartegen u bezwaar maakt meesturen. Onderaan de
                  beslissing vindt u informatie over hoe u in bezwaar kunt gaan.
                </p>
              </div>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e865" name="d16e865"></a>7.2 Geen bezwaar mogelijk
                </h4>
                <p>Tegen een brief met een waarschuwing (met verscherpt toezicht) kunt u geen bezwaarschrift indienen, omdat dit geen
                  besluit betreft in de zin van de Algemene wet bestuursrecht, maar een voorbereidingshandeling.
                </p>
              </div>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e873" name="d16e873"></a>7.3 Hoorzitting
                </h4>
                <p>Als u bezwaar maakt tegen een besluit kunt u worden uitgenodigd voor een hoorzitting om uw bezwaarschrift mondeling
                  toe te lichten. Dit is op het kantoor van het CBR in Rijswijk. Indien u dit wenst kan de hoorzitting ook telefonisch
                  plaatsvinden.
                </p>
              </div>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e881" name="d16e881"></a>7.4 Schorsende werking
                </h4>
                <p>Het indienen van bezwaar en beroep tegen een besluit heeft geen schorsende werking.</p>
              </div>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e889" name="d16e889"></a>7.5 Beroep
                </h4>
                <p>Tegen een beslissing op bezwaar kunt u in beroep bij de rechtbank. Onderaan de beslissing staat informatie over
                  hoe in beroep gegaan kan worden.
                </p>
              </div>
            </div>
            <div class="circulaire_divisie">
              <h3 class="divisiekop1">
                <a id="d16e897" name="d16e897"></a>HOOFDSTUK 8: E-LEARNING
              </h3>
              <p>Een deel van de nascholing kan met behulp van E-learning uitgevoerd worden. In dit hoofdstuk zijn de eisen en randvoorwaarden
                aangegeven die gelden voor E-learning in het kader van nascholing.
              </p>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e905" name="d16e905"></a>8.1. Randvoorwaarden E-learning
                </h4>
                <p>Bij het uitvoeren van nascholingscursussen met behulp van E-learning gelden de volgende randvoorwaarden:
                </p>
                <ul class="expliciet whitespace-medium">
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">8.1.1. </span>E-learning wordt altijd via dagdelen ingevuld (met maximaal 10 kalenderdagen tussen dagdeel
                      1 en dagdeel 2);
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">8.1.2. </span>dagdeel 1 van de cursus, mag met E-learning ingevuld worden;
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">8.1.3. </span>de omvang van het E-learning deel is minimaal 2,5 uur (is de tijd die een deelnemer nodig heeft
                      om de e-learning module te doorlopen);
                    </p>
                  </li>
                  <li class="li">
                    <p class="labeled">
                      <span class="ol">8.1.4. </span>dagdeel 2, heeft een minimale omvang van 2,5 uur en wordt altijd klassikaal uitgevoerd.
                    </p>
                    <p>Dagdeel 2 bestaat uit:</p>
                    <ul class="expliciet whitespace-large">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">8.1.4.a. </span>een dekkende kennistoets, over het E-learning deel, met een realistische normering;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">8.1.4.b. </span>gevolgd door een klassikale verdieping op een of meerdere onderwerpen uit de nascholingscursus.
                        </p>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="circulaire_divisie">
                <h4 class="divisiekop2">
                  <a id="d16e948" name="d16e948"></a>8.2. Systeemeisen E-learning
                </h4>
                <div class="alineagroep">
                  <p>Om te borgen dat bij de inzet van E-learning gebruik gemaakt wordt van een adequaat systeem, zijn er een aantal
                    systeemeisen/criteria opgesteld.
                  </p>
                  <p>Alleen systemen die aan deze eisen voldoen, kunnen t.b.v. de Nascholing ingezet worden.</p>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e959" name="d16e959"></a>8.2.1. Algemeen
                  </h5>
                  <div class="alineagroep">
                    <p>Een E-learningsysteem is een online leersysteem, waarin leerstof aan deelnemers wordt aangeboden en deelnemers
                      leerstof kunnen verwerken.
                    </p>
                    <p>Het online leersysteem bevat:</p>
                    <ul class="expliciet whitespace-large">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">8.2.1.a. </span>een borging dat deelnemers actief zijn bij het doorlopen van de module (b.v. regelmatige
                          interactie nodig op de computer);
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">8.2.1.b. </span>de leerstof in gevarieerde vormen wordt aangeboden (tekst, beeld, audio, video, vragen,
                          reflectie, e.d.);
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">8.2.1.c. </span>bestudeerde onderdelen tussentijds worden getoetst (met een drempel om door te gaan naar
                          een volgend hoofdstuk);
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">8.2.1.d. </span>de leerstof een uitwerking is van het onderliggende opleidingsprogramma (inhoudelijk
                          en in verdeling van tijd).
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e991" name="d16e991"></a>8.2.2. Inhoudelijk
                  </h5>
                  <p>De E-learning cursus heeft de volgende kenmerken:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.2.a. </span>toegankelijke leerstof (tekst en beeld), die begrijpelijk is voor de deelnemer;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.2.b. </span>leerstof die aansluit op het onderliggende opleidingsprogramma;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.2.c. </span>lesstof die sturend is en de deelnemer door de module begeleidt;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.2.d. </span>toelichtende video en/of animaties (variëren in gebruik tekst, beeld, audio, video);
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.2.e. </span>toetsvragen, ter controle of leerstof begrepen is (met gemotiveerde antwoorden);
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.2.f. </span>tussentoetsen, die met een voldoende moeten worden afgesloten om naar een volgend hoofdstuk
                        door te kunnen gaan.
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e1031" name="d16e1031"></a>8.2.3. Ondersteuning
                  </h5>
                  <p>Het systeem biedt de volgende ondersteuning voor de deelnemers:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.3.a. </span>het systeem kent een helpdeskfunctie. Vragen die een deelnemer stelt, worden binnen 24&nbsp;uur/1&nbsp;werkdag
                        beantwoord;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.3.b. </span>het systeem biedt een duidelijke en gebruiksvriendelijke navigatiestructuur, die de deelnemer
                        door het programma leidt. De navigatiestructuur is voor iedereen (evt. met behulp van een eenvoudige instructie)
                        zonder problemen te hanteren;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.3.c. </span>het systeem geeft aan welke onderdelen de deelnemer doorlopen heeft, zodat de deelnemer
                        steeds inzicht heeft wat hij nog moet doen;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.3.d. </span>het systeem biedt via een leerling volg systeem mogelijkheden tot interactie tussen de
                        deelnemer en de begeleidende docent (op afstand). De docent kan de voortgang van de deelnemer in de gaten
                        houden. De leerling kan bij problemen met het verwerken van de stof een beroep doen op ondersteuning van
                        de begeleidende docent. De begeleidende docent kan via het systeem in contact treden met de deelnemer en
                        andersom.
                      </p>
                      <p>De volgende functies zijn via het leerlingvolgsysteem beschikbaar:</p>
                      <ul class="expliciet whitespace-small">
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">1) </span>bestede studie-uren (totaal en per onderdeel), per deelnemer en per deelnemersgroep;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">2) </span>beantwoorde vragen individueel;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">3) </span>beantwoorde vragen per deelnemersgroep.
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e1079" name="d16e1079"></a>8.2.4. Veiligheidsmaatregelen/borging
                  </h5>
                  <p>Het systeem kent de volgende functies, ter borging van een juist gebruik:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.4.a. </span>iedere deelnemer heeft toegang tot het E-learning systeem via unieke inloggegevens (unieke
                        code of gebruikersnaam/wachtwoord);
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.4.b. </span>op 1 apparaat kan met 1 E-learning-account ingelogd worden (niet met meerdere tegelijkertijd);
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.4.c. </span>de toegang van een deelnemer is gekoppeld aan een opleider en een (gecertificeerde) nascholingscursus;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.4.d. </span>in het systeem wordt de termijn vastgelegd waarbinnen de E-learning module moet worden
                        doorlopen. Na het aflopen van de termijn, vervalt de toegang tot het systeem voor de deelnemer;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.4.e. </span>de activiteiten van de deelnemer worden gelogd (zie ook onder ‘Rapportages’):
                      </p>
                      <ul class="expliciet whitespace-small">
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">1) </span>inloggen en uitloggen;
                          </p>
                        </li>
                        <li class="li">
                          <p class="labeled">
                            <span class="ol">2) </span>inactief zijn (systeem in pauzestand).
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e1125" name="d16e1125"></a>8.2.5. Verantwoordelijkheden (rollen)
                  </h5>
                  <p>De eigenaar van het E-learning systeem waarborgt:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.5.a. </span>het E-learning systeem is 24 uur per dag operationeel;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.5.b. </span>het systeem is 99% van de tijd beschikbaar;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.5.c. </span>niet beschikbaarheid, wegens onderhoud, wordt duidelijk en tijdig gecommuniceerd;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.5.d. </span>systeemvernieuwingen mogen geen negatieve invloed hebben op reeds doorlopen activiteiten
                        van deelnemers en loggegevens.
                      </p>
                    </li>
                  </ul>
                  <p>De opleider, die E-learning inzet bij de nascholing, is verantwoordelijk voor:</p>
                  <ul class="expliciet whitespace-large">
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.5.e. </span>het geven van toestemming aan de systeemeigenaar tot het verstrekken van rapportages aan
                        CCV en het door CCV kunnen opvragen van specifieke gegevens aangaande nascholings
                        <!--?xpp afbm?-->cursussen/deelnemersgroepen;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.5.f. </span>de juiste inzet van E-learning t.b.v. de nascholing;
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.5.g. </span>de toelating van deelnemers tot het tweede deel van de nascholing. (alleen deelnemers die
                        de E-learning module hebben afgerond, krijgen toegang tot het tweede deel);
                      </p>
                    </li>
                    <li class="li">
                      <p class="labeled">
                        <span class="ol">8.2.5.h. </span>het beschikbaar hebben van een rapportage over het uren-verloop/voortgang E-learning van
                        de deelnemersgroep tijdens het tweede (klassikale) deel van de betreffende nascholingscursus.
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="circulaire_divisie">
                  <h5 class="divisiekop3">
                    <a id="d16e1182" name="d16e1182"></a>8.2.6. Rapportages
                  </h5>
                  <div class="alineagroep">
                    <p>De eigenaar van het E-learning systeem levert per kwartaal de volgende rapportages op aan CCV:
                    </p>
                    <p>Per opleider en per registratiecode:</p>
                    <ul class="expliciet whitespace-large">
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">8.2.6.a. </span>een overzicht van afwijkingen met betrekking tot de 10 dagentermijn (maximale termijn
                          die is toegestaan tussen uitvoering deel 1 en deel 2 van de cursus);
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">8.2.6.b. </span>een overzicht van afwijkingen met betrekking tot de logtijden (afwijking t.o.v. aantal
                          uur E-learning dat in opleidingsplan is aangegeven;
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">8.2.6.c. </span>een overzicht van opvallende inactieftijden (de tijden dat het systeem op rust/pauze
                          staat, omdat de deelnemer inactief is; alle afwijkingen van 15 minuten of meer);
                        </p>
                      </li>
                      <li class="li">
                        <p class="labeled">
                          <span class="ol">8.2.6.d. </span>een overzicht van niet geheel doorlopen E-learning modules.
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="alineagroep">
                    <p>CCV krijgt, op haar eerste verzoek, toegang tot het E-learning systeem.</p>
                    <p>De opleider beschikt over een overzicht per deelnemersgroep met de inlogfrequentie, inlogtijden en (in)actieftijden
                      op deelnemersniveau. Dit overzicht van de betreffende groep is beschikbaar bij de uitvoering van het tweede
                      deel van de nascholing.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="circulaire_divisie">
              <h3 class="divisiekop1">
                <a id="d16e1220" name="d16e1220"></a>HOOFDSTUK 9: MINIMUMEISEN
              </h3>
              <p>Zie
                <a href="http://www.cbr.nl" title="link naar http://www.cbr.nl" class="externe_link">www.cbr.nl</a> voor de minimumeisen.
              </p>
            </div>
          </div>
        </div>

      </div>
    </article>

  </div>
</div>
