<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">


    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <h1 class="staatscourant_kop">
          <a id="d22024e49" name="d22024e49"></a>Regeling van de Minister van Volksgezondheid, Welzijn en Sport van 23&nbsp;augustus 2010, nr.&nbsp;MEVA/NBO-2989947,
          houdende wijziging van de Subsidieregeling zorgopleidingen 2
          <sup>e</sup> tranche
        </h1>
        <div class="regeling">
          <div class="aanhef">
            <a id="d22024e57" name="d22024e57"></a>
            <p class="wie">De Minister van Volksgezondheid, Welzijn en Sport,</p>
            <p class="considerans.al">Gelet op artikel 3 van de Kaderwet VWS-subsidies;</p>
            <p class="afkondiging">Besluit:</p>
          </div>
          <div class="regeling-tekst">
            <a id="d22024e67" name="d22024e67"></a>
            <h3 class="wijzig-artikel_kop">
              <a id="d22024e70" name="d22024e70"></a>ARTIKEL I
            </h3>
            <p class="wat">De Subsidieregeling zorgopleidingen 2
              <sup>e</sup> tranche
              <a class="nootnum supernote-click-n1" href="#n1">1</a> wordt als volgt gewijzigd:
            </p>
            <div class="wijzig-lid">
              <p class="lid">
                <span class="lidnr">A</span>
              </p>
              <p class="wat">Bijlage 1 wordt vervangen door de bij deze regeling opgenomen bijlage 1.</p>
            </div>
            <div class="wijzig-lid">
              <p class="lid">
                <span class="lidnr">B</span>
              </p>
              <p class="wat">Bijlage 3 wordt vervangen door de bij deze regeling opgenomen bijlage 3.</p>
            </div>
            <div class="wijzig-lid">
              <p class="lid">
                <span class="lidnr">C</span>
              </p>
              <p class="wat">Bijlage 4 wordt vervangen door de bij deze regeling opgenomen bijlage 4.</p>
            </div>
            <h3 class="wijzig-artikel_kop">
              <a id="d22024e99" name="d22024e99"></a>ARTIKEL II
            </h3>
            <p class="wat">Op subsidies die voor de inwerkingtreding van deze regeling zijn verleend, blijft de Subsidieregeling zorgopleidingen
              2
              <sup>e</sup> tranche van toepassing zoals deze luidde onmiddellijk voorafgaand aan de inwerkingtreding van deze regeling.
            </p>
            <div class="artikel">
              <h3 class="artikel_kop">
                <a id="d22024e108" name="d22024e108"></a>ARTIKEL III
              </h3>
              <p>Deze regeling treedt in werking met ingang van de dag na de datum van uitgifte van de Staatscourant waarin zij wordt
                geplaatst.</p>
            </div>
          </div>
          <div class="regeling-sluiting">
            <a id="d22024e114" name="d22024e114"></a>
            <div class="slotformulering">
              <p>Deze regeling zal met de toelichting in de Staatscourant worden geplaatst.</p>
            </div>
            <div class="ondertekening">
              <p class="functie">De Minister van Volksgezondheid, Welzijn en Sport,</p>
              <p class="naam">A. Klink. </p>
            </div>
          </div>
          <div class="nota-toelichting">
            <h2 class="nota-toelichting_kop">
              <a id="d22024e126" name="d22024e126"></a>TOELICHTING
            </h2>
            <p>Met de onderhavige regeling worden de bijlagen 1, 3 en 4 van de Subsidieregeling zorgopleidingen 2
              <sup>e</sup> tranche geactualiseerd en verduidelijkt (artikel I, onderdelen A t/m C).
            </p>
            <p>De opleidingen tot Arts infectieziekten bestrijding, Arts TBC bestrijding en Medische milieukundige zijn niet meer
              gebundeld, maar worden apart benoemd vooruitlopend op het beschikbaar komen van afzonderlijke ramingen voor deze
              opleidingen.
            </p>
            <p>Daarnaast is de aanduiding van enkele ggz-opleidingen gewijzigd om de indruk te voorkomen dat het hier gaat om inhoudelijk
              verschillende zorgopleidingen. Daartoe is het voorzetsel ‘voor’ is veranderd in ‘in’. Zo is ‘Gezondheidszorgpsycholoog
              voor epilepsie-inrichting’ veranderd in ‘Gezondheidszorgpsycholoog in epilepsie-inrichting’. Aldus is verduidelijkt
              dat een opleiding in meerdere sectoren kan worden gerealiseerd. Ook is ‘GGZ Verpleegkundig specialist’ gewijzigd
              in ‘Verpleegkundig specialist geestelijke gezondheidszorg’. De voetnoot in bijlage 1 over de opleiding ‘GGZ Verpleegkundig
              Specialist’ komt geheel te vervallen. De opleiding ‘Verpleegkundig Specialist geestelijke gezondheidszorg’ leidt
              op tot een specialist als bedoeld in artikel 14 van de Wet op de beroepen in de individuele gezondheidszorg.
            </p>
            <p>Verder zijn de opleidingen in alfabetische volgorde gezet. Als gevolg daarvan is ook de nummering van de opleidingen
              aangepast.</p>
            <div class="alineagroep">
              <p>Deze wijzigingen gelden voor de subsidies die vanaf 2011 verstrekt worden. Aangezien de wijzigingen onder meer betrekking
                hebben op de aanvraagformulieren en aanvragen van subsidie vóór 1&nbsp;oktober 2010 ingediend moeten worden, ligt
                in afwijking van de systematiek van vaste verandermomenten bij regelgeving (VVM) onmiddellijke inwerkingtreding
                in de rede (artikelen II en III).
              </p>
            </div>
            <div class="ondertekening">
              <p class="functie">De Minister van Volksgezondheid, Welzijn en Sport,</p>
              <p class="naam">A. Klink. </p>
            </div>
          </div>
          <div class="bijlage">
            <h2 class="bijlage_kop">
              <a id="d22024e149" name="d22024e149"></a>BIJLAGE 1
            </h2>
            <table class="xml portrait" cellspacing="0" border="1" frame="hsides" rules="none">
              <colgroup>
                <col title="col1" class="pct12">
                <col title="col2" class="pct8">
                <col title="col3" class="pct46">
                <col title="col4" class="pct19">
                <col title="col5" class="pct16">
              </colgroup>
              <thead class="left bottom thead">
                <tr class="left middle head-row2 xml1head">
                  <th scope="col" class="left top border-row">
                    <p>Categorie</p>
                  </th>
                  <th scope="col" class="left top border-row">
                    <p>Nr. </p>
                  </th>
                  <th scope="col" class="left top border-row">
                    <p>Opleiding tot </p>
                  </th>
                  <th scope="col" class="right top border-row">
                    <p>Subsidiebedrag per fte opleidingsplaats in euro's prijspeil 2010</p>
                  </th>
                  <th scope="col" class="right top border-row">
                    <p>Academische ziekenhuizen</p>
                  </th>
                </tr>
              </thead>
              <tbody class="left top tbody">
                <tr class="left middle odd">
                  <td class="left top">
                    <p>A</p>
                  </td>
                  <td class="left top">
                    <p>1</p>
                  </td>
                  <td class="left top">
                    <p>Arts Infectieziekten bestrijding</p>
                  </td>
                  <td class="right top">
                    <p>73.800 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>2</p>
                  </td>
                  <td class="left top">
                    <p>Arts tbc-bestrijding</p>
                  </td>
                  <td class="right top">
                    <p> 73.800 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>3</p>
                  </td>
                  <td class="left top">
                    <p>Arts verstandelijk gehandicapten</p>
                  </td>
                  <td class="right top">
                    <p>54.700 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>10</p>
                  </td>
                  <td class="left top">
                    <p>Jeugdarts</p>
                  </td>
                  <td class="right top">
                    <p>64.200 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>14</p>
                  </td>
                  <td class="left top">
                    <p>Medisch milieukundige</p>
                  </td>
                  <td class="right top">
                    <p>73.800 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>15</p>
                  </td>
                  <td class="left top">
                    <p>Psychiater in ggz</p>
                  </td>
                  <td class="right top">
                    <p>44.300 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>16</p>
                  </td>
                  <td class="left top">
                    <p>Psychiater in ziekenhuiszorg</p>
                  </td>
                  <td class="right top">
                    <p>120.300 </p>
                  </td>
                  <td class="right top">
                    <p>121.100 </p>
                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>19</p>
                  </td>
                  <td class="left top">
                    <p>SEH-arts</p>
                  </td>
                  <td class="right top">
                    <p>120.300 </p>
                  </td>
                  <td class="right top">
                    <p>121.100 </p>
                  </td>
                </tr>
                <tr class="left middle tr-rowsep odd">
                  <td class="left top border-row">&nbsp;</td>
                  <td class="left top border-row">
                    <p>20</p>
                  </td>
                  <td class="left top border-row">
                    <p>Specialist ouderengeneeskunde</p>
                  </td>
                  <td class="right top border-row">
                    <p>72.500 </p>
                  </td>
                  <td class="left top border-row">&nbsp;</td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">
                    <p>B</p>
                  </td>
                  <td class="left top">
                    <p>4</p>
                  </td>
                  <td class="left top">
                    <p>Gezondheidszorgpsycholoog in epilepsie-inrichting</p>
                  </td>
                  <td class="right top">
                    <p>26.800 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>5</p>
                  </td>
                  <td class="left top">
                    <p>Gezondheidszorgpsycholoog in gehandicaptenzorg</p>
                  </td>
                  <td class="right top">
                    <p>26.800 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>6</p>
                  </td>
                  <td class="left top">
                    <p>Gezondheidszorgpsycholoog in ggz</p>
                  </td>
                  <td class="right top">
                    <p>26.800 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>7</p>
                  </td>
                  <td class="left top">
                    <p>Gezondheidszorgpsycholoog in revalidatiecentra</p>
                  </td>
                  <td class="right top">
                    <p>26.800 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>8</p>
                  </td>
                  <td class="left top">
                    <p>Gezondheidszorgpsycholoog in verpleeghuiszorg</p>
                  </td>
                  <td class="right top">
                    <p>26.800 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>9</p>
                  </td>
                  <td class="left top">
                    <p>Gezondheidszorgpsycholoog in ziekenhuiszorg</p>
                  </td>
                  <td class="right top">
                    <p>26.800 </p>
                  </td>
                  <td class="right top">
                    <p>27.000 </p>
                  </td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>11</p>
                  </td>
                  <td class="left top">
                    <p>Klinisch psycholoog in gehandicaptenzorg</p>
                  </td>
                  <td class="right top">
                    <p>32.800 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>12</p>
                  </td>
                  <td class="left top">
                    <p>Klinisch psycholoog in ggz</p>
                  </td>
                  <td class="right top">
                    <p>32.800 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>13</p>
                  </td>
                  <td class="left top">
                    <p>Klinisch psycholoog in ziekenhuiszorg</p>
                  </td>
                  <td class="right top">
                    <p>32.800 </p>
                  </td>
                  <td class="right top">
                    <p>33.000 </p>
                  </td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>17</p>
                  </td>
                  <td class="left top">
                    <p>Psychotherapeut in gehandicaptenzorg</p>
                  </td>
                  <td class="right top">
                    <p>44.400 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
                <tr class="left middle even">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>18</p>
                  </td>
                  <td class="left top">
                    <p>Psychotherapeut in ggz</p>
                  </td>
                  <td class="right top">
                    <p>44.400 </p>
                  </td>
                  <td class="right top">
                    <p>44.700 </p>
                  </td>
                </tr>
                <tr class="left middle odd">
                  <td class="left top">&nbsp;</td>
                  <td class="left top">
                    <p>21</p>
                  </td>
                  <td class="left top">
                    <p>Verpleegkundig specialist geestelijke gezondheidszorg</p>
                  </td>
                  <td class="right top">
                    <p>31.400 </p>
                  </td>
                  <td class="left top">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="bijlage">
            <h2 class="bijlage_kop">
              <a id="d22024e765" name="d22024e765"></a>BIJLAGE 3
            </h2>
            <img src="https://zoek.officielebekendmakingen.nl/stcrt-2010-14019-001.png" width="586" height="457">
            <img src="https://zoek.officielebekendmakingen.nl/stcrt-2010-14019-002.png" width="586" height="510">
          </div>
          <div class="bijlage">
            <h2 class="bijlage_kop">
              <a id="d22024e773" name="d22024e773"></a>BIJLAGE 4
            </h2>
            <img src="https://zoek.officielebekendmakingen.nl/stcrt-2010-14019-003.png" width="586" height="484">
            <img src="https://zoek.officielebekendmakingen.nl/stcrt-2010-14019-004.png" width="586" height="597">
          </div>
        </div>
        <div id="noten">
          <hr>
          <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-n1">
            <h5 class="note-close">
              <a class="note-close" href="#close-n1">X</a>Noot
            </h5>
            <sup>
              <span class="nootnum">
                <a id="n1" name="n1"></a>1</span>
            </sup>
            <p>
              <a href="stcrt-2007-246-p44-SC83434.html" title="link naar publicatie stcrt-2007-246-p44-SC83434">Stcrt. 2007, 246</a>; laatstelijk gewijzigd bij ministeriële regeling van 1 december 2009 (
              <a href="stcrt-2009-19163-v1.html"
                title="link naar publicatie stcrt-2009-19163-v1">Stcrt. 19163</a> incl. rectificatie)
            </p>
          </div>
        </div>
      </div>    </article>

  </div>
</div>
