<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>

    </div>
  </div>
  <div id="content" role="main" class="content">
    <article>

      <div id="broodtekst" class="stuk broodtekst-container">
        <div class="officiele-publicatie" lang="nl" xml:lang="nl">
          <div class="_p_staatscourant">
            <a name="id1-3">
              <!---->
            </a>
            <a name="id1-3-1">
              <!---->
            </a>
            <div style="border-left: 0.3mm solid #808080; border-right: 0.3mm solid #808080; margin-bottom: 24pt; padding-left: 5mm; padding-right: 5mm; margin-left: 0mm; margin-right: 0mm;display:table">
              <div style="display:table-cell;width:auto;vertical-align:top;padding-right:0.5em">
                <p class="staatsblad_kop _p_kop_level0">
                  <a name="id1-3-1-2">
                    <!---->
                  </a>Besluit tot het opheffen van de Gemeenschappelijke regeling Groenzone Pijnacker-Berkel en Bergboezem Oude Leede</p>
              </div>
              <div class="plaatje" style="display:table-cell;width:auto;text-align:right;">
                <img alt="Logo Pijnacker-Nootdorp" src="https://zoek.officielebekendmakingen.nl/stcrt-2015-49429-1.png" style="padding-right:3mm;width:40mm;height:11.6mm">
              </div>
            </div>
            <div class="_p_zakelijke-mededeling">
              <a name="id1-3-2">
                <!---->
              </a>
              <div class="_p_zakelijke-mededeling-tekst">
                <a name="id1-3-2-1">
                  <!---->
                </a>
                <div class="_p_tekst">
                  <a name="id1-3-2-1-1">
                    <!---->
                  </a>
                  <p class="common-al _p_common-al">
                    <a name="id1-3-2-1-1-1">
                      <!---->
                    </a>De raden en colleges van de gemeenten Lansingerland en Pijnacker-Nootdorp, ieder voor zover het zijn bevoegdheden
                    betreft;</p>
                  <p class="_p_last-al">
                    <a name="id1-3-2-1-1-2">
                      <!---->
                    </a>gelet op artikel 9 van de Wet gemeenschappelijke regelingen en artikel 29 van de gemeenschappelijke regeling
                    Groenzone Pijnacker-Berkel en Bergboezem Oude Leede;</p>
                  <p class="tussenkop tussenkop_cur _p_tussenkopcur">
                    <a name="id1-3-2-1-1-3">
                      <!---->
                    </a>
                    <span class="vet _p_nadrukvet">besluiten:</span>
                  </p>
                  <ul class="_explicit whitespace-small _p_lijst">
                    <li class="li _p_li">
                      <span>1.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-1-1-4-1-2">
                            <!---->
                          </a>de gemeenschappelijke regeling Groenzone Pijnacker-Berkel en Bergboezem Oude Leede per 1 januari 2016
                          op te heffen.</p>
                      </div>
                    </li>
                    <li class="li _p_li">
                      <span>2.</span>
                      <div>
                        <p class="al _p_al">
                          <a name="id1-3-2-1-1-4-2-2">
                            <!---->
                          </a>In te stemmen met het ontwerp liquidatieplan gemeenschappelijke regeling Groenzone Pijnacker-Berkel en
                          Bergboezem Oude Leede.</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="_p_zakelijke-mededeling-sluiting">
                <a name="id1-3-2-2">
                  <!---->
                </a>
                <div class="_p_gegeven">
                  <a name="id1-3-2-2-1">
                    <!---->
                  </a>
                  <p class="dagtekening _p_dagtekening">
                    <a name="id1-3-2-2-1-1">
                      <!---->
                    </a>
                    <span class="_p_plaats">Vastgesteld in de openbare vergadering van de gemeenteraad van Lansingerland d.d.</span>
                    <span class="_p_datum">26 november 2015</span>
                  </p>
                </div>
                <div style="font-style: italic; line-height: 130%;">
                  <p>
                    <span class="_p_functie">de griffier, </span>
                  </p>
                  <p>
                    <span class="_p_ondertekening_naam">
                      <span class="_p_voornaam">mw. drs. M.</span>
                      <span class="_p_achternaam">Walhout</span>
                    </span>
                  </p>
                </div>
                <div style="font-style: italic; line-height: 130%;">
                  <p>
                    <span class="_p_functie">de voorzitter, </span>
                  </p>
                  <p>
                    <span class="_p_ondertekening_naam">
                      <span class="_p_voornaam">drs. P. van de</span>
                      <span class="_p_achternaam">Stadt</span>
                    </span>
                  </p>
                  <p>
                    <span class="_p_functie">&nbsp;</span>
                  </p>
                </div>
                <div class="_p_gegeven">
                  <a name="id1-3-2-2-4">
                    <!---->
                  </a>
                  <p class="dagtekening _p_dagtekening">
                    <a name="id1-3-2-2-4-1">
                      <!---->
                    </a>
                    <span class="_p_plaats">Vastgesteld in de collegevergadering van burgemeester en wethouders van Lansingerland d.d. </span>
                    <span class="_p_datum">20 oktober 2015</span>
                  </p>
                </div>
                <div style="font-style: italic; line-height: 130%;">
                  <p>
                    <span class="_p_functie">de secretaris, </span>
                  </p>
                  <p>
                    <span class="_p_ondertekening_naam">
                      <span class="_p_voornaam">drs. ing. A.</span>
                      <span class="_p_achternaam">Eijkenaar</span>
                    </span>
                  </p>
                </div>
                <div style="font-style: italic; line-height: 130%;">
                  <p>
                    <span class="_p_functie">de burgemeester, </span>
                  </p>
                  <p>
                    <span class="_p_ondertekening_naam">
                      <span class="_p_voornaam">drs. P. van de</span>
                      <span class="_p_achternaam">Stadt</span>
                    </span>
                  </p>
                  <p>
                    <span class="_p_functie">&nbsp;</span>
                  </p>
                </div>
                <div class="_p_gegeven">
                  <a name="id1-3-2-2-7">
                    <!---->
                  </a>
                  <p class="dagtekening _p_dagtekening">
                    <a name="id1-3-2-2-7-1">
                      <!---->
                    </a>
                    <span class="_p_plaats">Vastgesteld in de openbare vergadering van de gemeenteraad van Pijnacker-Nootdorp d.d.</span>
                    <span class="_p_datum">26 november 2015</span>
                  </p>
                </div>
                <div style="font-style: italic; line-height: 130%;">
                  <p>
                    <span class="_p_functie">de griffier, </span>
                  </p>
                  <p>
                    <span class="_p_ondertekening_naam">
                      <span class="_p_voornaam">dhr. R. van der </span>
                      <span class="_p_achternaam">Grijp</span>
                    </span>
                  </p>
                </div>
                <div style="font-style: italic; line-height: 130%;">
                  <p>
                    <span class="_p_functie">de voorzitter, </span>
                  </p>
                  <p>
                    <span class="_p_ondertekening_naam">
                      <span class="_p_voornaam">mw. F.</span>
                      <span class="_p_achternaam">Ravestein</span>
                    </span>
                  </p>
                  <p>
                    <span class="_p_organisatie">&nbsp; </span>
                  </p>
                </div>
                <div class="_p_gegeven">
                  <a name="id1-3-2-2-10">
                    <!---->
                  </a>
                  <p class="dagtekening _p_dagtekening">
                    <a name="id1-3-2-2-10-1">
                      <!---->
                    </a>
                    <span class="_p_plaats">Vastgesteld in de vergadering van het college van burgemeester en wethouders van Pijnacker-Nootdorp d.d.</span>
                    <span class="_p_datum">20 oktober 2015</span>
                  </p>
                </div>
                <div style="font-style: italic; line-height: 130%;">
                  <p>
                    <span class="_p_functie">de secretaris, </span>
                  </p>
                  <p>
                    <span class="_p_ondertekening_naam">
                      <span class="_p_voornaam">drs. J.P.R. </span>
                      <span class="_p_achternaam"> Woudstra</span>
                    </span>
                  </p>
                </div>
                <div style="font-style: italic; line-height: 130%;">
                  <p>
                    <span class="_p_functie">de burgemeester </span>
                  </p>
                  <p>
                    <span class="_p_ondertekening_naam">
                      <span class="_p_voornaam">F. </span>
                      <span class="_p_achternaam">Ravenstein</span>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </article>

  </div>
</div>
