<div class="container columns columns--sticky-sidebar">
  <div class="columns--sticky-sidebar__sidebar" role="complementary" data-decorator="stick-sidebar add-mobile-foldability" id="toggleable-1">
    <div>
    </div>
  </div>
  <div id="content" role="main" class="content">

    <article>

<div id="broodtekst" class="stuk broodtekst-container">

  <h1>
    <a id="d38109e52" name="d38109e52"></a>
  </h1>
  <p class="systematisch_nummer">71 (2009) Nr. 2</p>
  <h2 class="rubriek_kop">
    <a id="d38109e56" name="d38109e56"></a>A. TITEL
  </h2>
  <div class="tractatenblad_kop">
    <p>Notawisseling houdende een verdrag tussen het Koninkrijk der Nederlanden en ITC-UNESCO inzake de registratie van stagiairs;</p>
    <p>Enschede, 2 november 2009</p>
  </div>
  <h2 class="rubriek_kop">
    <a id="d38109e64" name="d38109e64"></a>B. TEKST
  </h2>
  <p>De Engelse tekst van het in nota’s vervatte verdrag is geplaatst in
    <a href="trb-2009-224.html" title="link naar publicatie trb-2009-224">
      <em class="cur">Trb.</em>&nbsp;2009, 224</a>.
  </p>
  <h2 class="rubriek_kop">
    <a id="d38109e74" name="d38109e74"></a>C. VERTALING
  </h2>
  <div class="verdrag" xml:lang="nl">
    <div class="verdragtekst" xml:lang="nl">
      <h3 class="verdragtekst_kop">
        <a id="d38109e79" name="d38109e79"></a>Nr. I
      </h3>
      <div class="brieftekst">
        <p class="afzender">AFDELING VERDRAGEN</p>
        <p class="dagtekening">Den Haag, 27 februari 2009</p>
        <p class="kenmerk">DJZ/VE-173/09</p>
        <div class="onderwerpbrief">
          <p>
            <strong class="vet">Verdrag tussen het Koninkrijk der Nederlanden en ITC-UNESCO inzake de registratie van stagiairs</strong>
          </p>
        </div>


        <p>Het Ministerie van Buitenlandse Zaken van het Koninkrijk der Nederlanden biedt de Organisatie van de Verenigde Naties
          voor Onderwijs, Wetenschap en Cultuur betreffende het ITC-UNESCO-Centrum voor geïntegreerde kartering (hierna te
          noemen ITC-UNESCO) zijn complimenten aan en heeft de eer, onder verwijzing naar de Briefwisseling tussen de Regering
          van het Koninkrijk der Nederlanden en de Organisatie der Verenigde Naties voor Onderwijs, Wetenschap en Cultuur
          houdende een overeenkomst betreffende het ITC-UNESCO-Centrum voor geïntegreerde kartering van 1 juni 1978 alsmede
          naar het overleg tussen het Ministerie en ITC-UNESCO inzake de registratie van stagiairs die ITC-UNESCO tot zijn
          stageprogramma in Nederland heeft toegelaten, het volgende voor te stellen:
        </p>

        <ul class="expliciet whitespace-small">
          <li class="li">
            <p class="labeled">
              <span class="ol">1. </span>Voor de toepassing van dit Verdrag wordt verstaan onder „stagiair”: een student die door ITC-UNESCO
              is toegelaten tot het stageprogramma van ITC-UNESCO en die op die grond bepaalde taken voor ITC-UNESCO vervult
              waarvoor hij of zij een maandelijkse vergoeding ontvangt. Deze vergoeding moet toereikend zijn voor zijn of
              haar levensonderhoud. Een stagiair valt in geen geval onder de begripsomschrijving van functionaris van ITC-UNESCO.
            </p>
          </li>
          <li class="li">
            <p class="labeled">
              <span class="ol">2. </span>Binnen acht (8) dagen na de eerste aankomst van een stagiair in Nederland verzoekt ITC-UNESCO het
              Ministerie van Buitenlandse Zaken de stagiair te registreren in overeenstemming met het derde lid.
            </p>
          </li>
          <li class="li">
            <p class="labeled">
              <span class="ol">3. </span>Het Ministerie van Buitenlandse Zaken registreert een stagiair ten behoeve van zijn of haar stage
              bij ITC-UNESCO voor een tijdvak van ten hoogste zes maanden, mits ITC-UNESCO het Ministerie van Buitenlandse
              Zaken een door de stagiair ondertekende verklaring doet toekomen, vergezeld van voldoende bewijs, waaruit blijkt
              dat:
            </p>
            <ul class="expliciet whitespace-small">
              <li class="li">
                <p class="labeled">
                  <span class="ol">a. </span>de stagiair Nederland is binnengekomen in overeenstemming met de van toepassing zijnde immigratieprocedures;
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">b. </span>de stagiair over voldoende financiële middelen beschikt om in zijn of haar levensonderhoud te
                  voorzien alsmede voor zijn of haar terugkeer, en voldoende verzekerd is tegen ziektekosten (met inbegrip
                  van een dekking voor kosten van ziekenhuisopname voor ten minste de duur van de stage plus een maand) en
                  beschikt over een wettelijkeaansprakelijkheidsverzekering, en niet ten laste zal komen van de openbare
                  middelen van Nederland;
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">c. </span>de stagiair gedurende zijn of haar stage in Nederland uitsluitend werkzaam zal zijn als stagiair
                  bij ITC-UNESCO;
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">d. </span>de stagiair geen familieleden meebrengt die bij hem of haar in Nederland zullen wonen, tenzij
                  in overeenstemming met de desbetreffende immigratieprocedures;
                </p>
              </li>
              <li class="li">
                <p class="labeled">
                  <span class="ol">e. </span>de stagiair Nederland verlaat binnen 14 dagen na het einde van zijn of haar stage, tenzij hij
                  of zij op andere gronden gerechtigd is in Nederland te verblijven in overeenstemming met de desbetreffende
                  immigratiewetgeving.
                </p>
              </li>
            </ul>
          </li>
          <li class="li">
            <p class="labeled">
              <span class="ol">4. </span>Na registratie van de stagiair in overeenstemming met het derde lid, geeft het Ministerie van Buitenlandse
              Zaken aan de stagiair een identiteitskaart af voorzien van de code ZF.
            </p>
          </li>
          <li class="li">
            <p class="labeled">
              <span class="ol">5. </span>ITC-UNESCO is niet aansprakelijk voor schade voortvloeiend uit niet-naleving door in overeenstemming
              met het derde lid geregistreerde stagiairs, van de voorwaarden van de in dat lid bedoelde verklaring.
            </p>
          </li>
          <li class="li">
            <p class="labeled">
              <span class="ol">6. </span>De stagiair geniet geen voorrechten of immuniteiten.
            </p>
          </li>
          <li class="li">
            <p class="labeled">
              <span class="ol">7. </span>In uitzonderlijke omstandigheden kan het maximumtijdvak van zes maanden genoemd in het derde lid
              eenmaal worden verlengd met ten hoogste zes maanden.
            </p>
          </li>
          <li class="li">
            <p class="labeled">
              <span class="ol">8. </span>ITC-UNESCO stelt het Ministerie van Buitenlandse Zaken binnen acht (8) dagen na het definitieve vertrek
              van de stagiair uit Nederland daarvan in kennis en retourneert daarbij de identiteitskaart van de stagiair.
            </p>
          </li>
        </ul>

        <p>Indien dit voorstel aanvaardbaar is voor ITC-UNESCO, stelt het Ministerie voor dat deze nota en de bevestigende antwoordnota
          van ITC-UNESCO tezamen een verdrag zullen vormen tussen het Koninkrijk der Nederlanden en ITC-UNESCO. Dit Verdrag
          wordt voorlopig toegepast vanaf de datum van dat antwoord en treedt in werking op de dag nadat beide partijen elkaar
          schriftelijk ervan in kennis hebben gesteld dat aan de wettelijke vereisten voor de inwerkingtreding is voldaan.
        </p>
        <div class="slotformulering">
          <p>Het Ministerie van Buitenlandse Zaken van het Koninkrijk der Nederlanden maakt van deze gelegenheid gebruik om
            ITC-UNESCO opnieuw te verzekeren van zijn zeer bijzondere hoogachting.
          </p>
        </div>
        <div class="geadresseerde">
          <p class="organisatie">ITC-UNESCO-Centrum voor geïntegreerde kartering</p>
          <p class="adres">Enschede</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="verdragtekst" xml:lang="nl">
      <h3 class="verdragtekst_kop">
        <a id="d38109e178" name="d38109e178"></a>Nr. II
      </h3>
      <div class="brieftekst">
        <p class="afzender">HET ITC-UNESCO-CENTRUM VOOR GEÏNTEGREERDE KARTERING</p>
        <p class="dagtekening">Enschede, 2 november 2009</p>
        <p class="kenmerk">Directie / Bestuur - 963</p>
        <div class="onderwerpbrief">
          <p>
            <strong class="vet">Antwoordnota</strong>
          </p>
        </div>


        <p>De Organisatie van de Verenigde Naties voor Onderwijs, Wetenschap en Cultuur betreffende het ITC-UNESCO-Centrum voor
          geïntegreerde kartering (hierna te noemen ITC-UNESCO) biedt het Ministerie van Buitenlandse Zaken van het Koninkrijk
          der Nederlanden haar complimenten aan en heeft de eer de ontvangst te bevestigen van nota DJZ/VE-173/09 van het
          Ministerie van 26
          <a class="nootnum supernote-click-N1" href="#N1">1)</a> februari 2009, die luidt als volgt:
        </p>

        <p class="redactie">
          <span class="redactie">(Zoals in Nr. I)</span>

        </p>

        <p>ITC-UNESCO heeft de eer het Ministerie van Buitenlandse Zaken ervan in kennis te stellen dat het voorstel aanvaardbaar
          is voor ITC-UNESCO. ITC-UNESCO stemt er bijgevolg mee in dat de nota van het Ministerie en dit antwoord een verdrag
          zullen vormen tussen ITC-UNESCO en het Koninkrijk der Nederlanden. Dit Verdrag wordt voorlopig toegepast vanaf
          de datum van dit antwoord en treedt in werking op de dag nadat beide partijen elkaar schriftelijk ervan in kennis
          hebben gesteld dat aan de wettelijke vereisten voor de inwerkingtreding is voldaan.
        </p>

        <div class="slotformulering">
          <p>ITC-UNESCO maakt van deze gelegenheid gebruik om het Ministerie van Buitenlandse Zaken van het Koninkrijk der Nederlanden
            opnieuw te verzekeren van haar zeer bijzondere hoogachting.
          </p>
        </div>
        <div class="geadresseerde">
          <p class="organisatie">Ministerie van Buitenlandse Zaken</p>
          <p class="adres">Den Haag</p>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <h2 class="rubriek_kop">
    <a id="d38109e219" name="d38109e219"></a>D. PARLEMENT
  </h2>
  <div class="alineagroep">
    <p>Zie
      <a href="trb-2009-224.html" title="link naar publicatie trb-2009-224">
        <em class="cur">Trb.</em>&nbsp;2009, 224</a>.
    </p>
    <p>De voorlopige toepassing van het in de nota’s vervatte verdrag (zie rubriek F van
      <a href="trb-2009-224.html" title="link naar publicatie trb-2009-224">
        <em class="cur">Trb.</em>&nbsp;2009, 224</a>) is medegedeeld aan de Eerste en de Tweede Kamer der Staten-Generaal bij brieven van
      18&nbsp;januari 2010.
    </p>
  </div>
  <h2 class="rubriek_kop">
    <a id="d38109e237" name="d38109e237"></a>F. VOORLOPIGE TOEPASSING
  </h2>
  <p>Zie
    <a href="trb-2009-224.html" title="link naar publicatie trb-2009-224">
      <em class="cur">Trb.</em>&nbsp;2009, 224</a>.
  </p>
  <h2 class="rubriek_kop">
    <a id="d38109e247" name="d38109e247"></a>G. INWERKINGTREDING
  </h2>
  <p>Zie
    <a href="trb-2009-224.html" title="link naar publicatie trb-2009-224">
      <em class="cur">Trb.</em>&nbsp;2009, 224</a>.
  </p>
  <h2 class="rubriek_kop">
    <a id="d38109e257" name="d38109e257"></a>J. VERWIJZINGEN
  </h2>
  <p>Zie
    <a href="trb-2009-224.html" title="link naar publicatie trb-2009-224">
      <em class="cur">Trb.</em>&nbsp;2009, 224</a>.
  </p>
  <div class="gegeven">
    <p class="dagtekening">Uitgegeven de
      <em class="cur">negende</em> september 2010.
    </p>
  </div>
  <div class="ondertekening">
    <p class="functie">
      De Minister van Buitenlandse Zaken,
    </p>
    <p class="naam">M. J. M. VERHAGEN </p>
  </div>
  <div id="noten">
    <hr>
    <div class="voet noot snp-mouseoffset snb-pinned notedefault" id="supernote-note-N1">
      <h5 class="note-close">
        <a class="note-close" href="#close-N1">X</a>Noot
      </h5>
      <sup>
        <span class="nootnum">
          <a id="N1" name="N1"></a>1)</span>
      </sup>
      <p>Noot redactie Tractatenblad: hier wordt kennelijk „27” bedoeld.</p>
    </div>
  </div>

</div>      </article>


  </div>
</div>
