<div class="wrapper">

  {{ render "@header" headerContext merge="true" }}

  <div>
    <div data-drupal-messages-fallback="" class="hidden"></div>





    <div class="row row--image row--landing" style="background-image: url(https://www.overheid.nl/sites/default/files/2018-04/homepage-diensten_head.jpg);">
      <div class="container">
        <div class="content--onimage">

          <h1>
            <span>Dienstverlening</span>

          </h1>


          <p class="intro--text">
          </p>
          <div>
            <p>Zoek naar diensten van lokale overheden in uw buurt of wat u met de overheid moet regelen als er een bepaalde levensgebeurtenis
              plaatsvindt.</p>
          </div>
          <p></p>
        </div>
      </div>
    </div>

    <div>
      <div>

        <div class="row row--browse">
          <div class="container">
            <form class="document-search" action="/search/4" method="post">
              <fieldset>
                <legend class="h1">Zoeken</legend>
                <p>Zoek naar diensten van de overheid, zoals het aanvragen van een vergunning of paspoort.</p>

                <div class="document-search__fields">
                  <label class="visually-hidden" for="postcode[]"></label>
                  <input id="postcode" type="text" data-drupal-selector="edit-postcode" placeholder="Postcode (alleen 4 cijfers)" name="postcode[]">
                  <label class="visually-hidden" for="zoekterm"></label>
                  <input id="zoekterm" type="text" data-drupal-selector="edit-zoekterm" placeholder="Zoekterm" name="zoekterm">
                  <input type="submit" value="Zoeken" class="button button--secondary" data-drupal-selector="edit-submit">
                </div>
                <p>
                  <a href="/producten_en_diensten" data-drupal-selector="extended-search">Uitgebreid zoeken</a>
                </p>
              </fieldset>
            </form>
          </div>
        </div>


        <div class="container row paragraph paragraph--type--text paragraph--view-mode--default">

          <div>
            <h1>Levensgebeurtenissen</h1>

            <p>Verschillende momenten in uw leven hebben gevolgen voor uw relatie met de overheid. Controleer welke wijzigingen
              in belastingen en rechten op inkomen van de overheid op u van toepassing zijn, wat er van u verwacht wordt en
              hoe u een en ander kunt regelen.</p>
          </div>

        </div>

        <div class="container">
          <div class="columns columns--fixed paragraph paragraph--type--linklist-blocks paragraph--view-mode--default">
            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Adoptie</h2>

              <div>
                <p>Wilt u weten wat u moet regelen als u een kind adopteert uit Nederland of buitenland? Wat er komt kijken bij
                  adoptie? Vul dan uw persoonlijke situatie in en maak uw persoonlijk overzicht.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/adoptie/vraag-en-antwoord/checklist-bij-adoptie">Persoonlijk overzicht bij adoptie</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Een pleegkind krijgen</h2>

              <div>
                <p>Wilt u weten wat er verandert als er een pleegkind in huis komt wonen? Vul dan uw persoonlijke situatie in
                  en maak uw eigen checklist.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/levensgebeurtenissen/vraag-en-antwoord/checklist-bij-pleegkind-krijgen">Checklist bij een pleegkind krijgen</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Een kind krijgen</h2>

              <div>
                <p>Wilt u weten wat er verandert als uw kind geboren wordt? Wat uw rechten zijn tijdens zwangerschap en verlof?
                  Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/levensgebeurtenissen/vraag-en-antwoord/checklist-kind-krijgen">Checklist bij een kind krijgen</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Samenlevingscontract</h2>

              <div>
                <p>Wilt u weten wat u moet regelen als u een samenlevingscontract wilt afsluiten? Wat er verandert als u een samenlevingscontract
                  afsluit? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/levensgebeurtenissen/vraag-en-antwoord/checklist-samenlevingscontract">Checklist bij samenlevingscontract</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Geregistreerd partnerschap</h2>

              <div>
                <p>Wilt u weten wat u moet regelen als u een geregistreerd partnerschap wilt sluiten? Wat uw rechten en plichten
                  zijn? Wat er voor u verandert? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/levensgebeurtenissen/vraag-en-antwoord/checklist-geregistreerd-partnerschap">Checklist bij geregistreerd partnerschap</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Trouwen</h2>

              <div>
                <p>Wilt u weten wat u moet regelen als u gaat trouwen? Wat uw rechten en plichten binnen het huwelijk zijn? Wat
                  er voor u verandert? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/levensgebeurtenissen/vraag-en-antwoord/checklist-trouwen">Checklist bij trouwen</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>18 jaar worden</h2>

              <div>
                <p>Wilt u weten wat u moet regelen als u, of uw kind, 18 jaar wordt? En of u, of uw kind, nog ergens recht op
                  heeft? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/achttien-jaar-worden/vraag-en-antwoord/checklist-bij-18-jaar-worden">Checklist bij 18 jaar worden</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Scheiden</h2>

              <div>
                <p>Wilt u weten wat u allemaal moet regelen als u gaat scheiden of uit elkaar gaat? Wat uw rechten zijn? En of
                  u nog ergens recht op heeft? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/scheiden/vraag-en-antwoord/checklist-bij-scheiden-of-uit-elkaar-gaan">Checklist bij scheiden of uit elkaar gaan</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Met pensioen gaan</h2>

              <div>
                <p>Wilt u weten wat u allemaal moet regelen als u met pensioen gaat? Wat uw rechten zijn? En of u nog ergens recht
                  op heeft? Vul dan uw persoonlijke situatie in en maak uw persoonlijk overzicht.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/met-pensioen-gaan/vraag-en-antwoord/checklist-met-pensioen-gaan">Persoonlijk overzicht met pensioen gaan</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Werkloos worden</h2>

              <div>
                <p>Wilt u weten wat u allemaal moet regelen als u werkloos wordt? Wat uw rechten zijn? En of u nog ergens recht
                  op heeft? Vul dan uw persoonlijke situatie in en maak uw eigen checklist.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/werkloos-worden/vraag-en-antwoord/checklist-bij-werkloos-worden">Checklist bij werkloos worden</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Er is iemand overleden</h2>

              <div>
                <p>Wilt u weten wat u moet regelen als iemand is overleden? En wat de regels zijn voor de uitvaart? Vul dan uw
                  persoonlijke situatie in en maak uw eigen checklist.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/overlijden/vraag-en-antwoord/checklist-bij-overlijden">Checklist bij overlijden</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Registratie levenloos geboren kind</h2>

              <div>
                <p>Wilt u weten wat u moet doen om uw levenloos geboren kind te registreren in de Basisregistratie Personen (BRP)?
                  Vul dan uw persoonlijke situatie in en maak uw persoonlijk overzicht.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/aangifte-geboorte-en-naamskeuze-kind/vraag-en-antwoord/registratie-levenloos-geboren-kind">Persoonlijk overzicht bij registratie levenloos geboren kind</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Hulp bij schulden</h2>

              <div>
                <p>Wilt u weten welke hulp er is als het lastig is de rekeningen te betalen? Wat de regels en rechten zijn rond
                  betalingsproblemen of schulden? Vul dan de situatie in en maak een overzicht.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/hulp-bij-schulden/vraag-en-antwoord/checklist-schulden">Overzicht bij hulp bij schulden</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Woning huren</h2>

              <div>
                <p>Wilt u weten wat u moet regelen als u een woning gaat huren? Wat de regels zijn? Vul dan uw persoonlijke situatie
                  in en maak uw persoonlijk overzicht.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/huurwoning/vraag-en-antwoord/wat-moet-ik-regelen-als-ik-een-woning-ga-huren">Persoonlijk overzicht bij woning huren</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">
              <h2>Woning kopen</h2>

              <div>
                <p>Wilt u weten wat u moet regelen als u een woonhuis of appartement gaat kopen? Wat de regels zijn? Vul dan uw
                  persoonlijke situatie in en maak uw persoonlijk overzicht.</p>
              </div>
              <ul class="list list--linked">
                <li>
                  <a href="https://www.rijksoverheid.nl/onderwerpen/koopwoning/vraag-en-antwoord/wat-moet-ik-regelen-als-ik-een-woning-ga-kopen">Persoonlijk overzicht bij woning kopen</a>
                </li>
              </ul>

            </div>

            <div class="paragraph paragraph--type--linklist-block paragraph--view-mode--default">

            </div>


          </div>
        </div>



      </div>

    </div>

  </div>

</div>

{{ render "@footer" }}
