.to-top {
  position: fixed;
  z-index: 1;
  bottom: -2.25em;
  left: calc(50% - 1em);
  width: 4em;
  height: 4em;
  border-radius: 100%;
  background: $primaryBlue $dartTopWhiteIcon no-repeat 50% 0.5em;
  background-size: 1.5em;
  color: $white;
  text-indent: -999em;
  transition: .2s ease-out;
  &.irrelevant {
    transform: translateY(100%);
  }
}
