// Colors

$black: #000;
$darkBlue: #154273;
$primaryBlue: #007bc7;
$mediumBlue: #b2d7ee;
$lightBlue: #e5f1f9;
$bgBlue: #E5F1F9;
$white: #fff;
$offWhite: #F8FBFD;

$darkGrey: #333;
$darkerGrey: #555;
$mediumGrey: #b4b4b4;
$lighterGrey: #ccc;
$lightGrey: #f3f3f3;

$green: #39870c;
$darkGreen: #015F58;
$lightGreen: #E4F0EF;
$yellow: #ffb612;
$darkYellow: #F9D358;
$lightYellow: #FFF8E1;
$orange: #e17000;
$lightOrange: #F5E4E0;
$red: #d52b1e;
$lightRed: #F4C8C5;
$lighterRed: #F5E4E0;

$lightPurple: #F7F0FE;
$blueGray: #A4B3C6;

$focus: $yellow;

$textColor: $darkGrey;

$buttonBackgroundColor: $white;
$buttonBackgroundActiveColor: $mediumGrey;
$buttonPrimaryBackgroundColor: $primaryBlue;
$buttonPrimaryBackgroundActiveColor: $darkBlue;
$buttonBackgroundSecondaryColor: $orange;
$buttonBackgroundSecondaryActiveColor: darken($orange, 10%);
$buttonTextColor: $textColor;
$buttonBorderColor: $lighterGrey;

$headerBackgroundColor: $primaryBlue;
$headerBorderColor: $mediumBlue;
$headerLinkColor: $white;
$headerLinkCurrentColor: $darkBlue;
$headerLinkBackgroundColor: transparent;

$datepickerHeaderBackgroundColor: $darkBlue;
$datepickerHeaderTextColor: $white;
$datepickerContainerBorderColor: $lighterGrey;
$datepickerTriggerBackgroundColor: $primaryBlue;
$datepickerTriggerBackgroundColorActive: $darkBlue;

$tooltipContainerBorderColor: $lighterGrey;

$multiSelectOptionHoverBGColor: $lightBlue;
$multiSelectOptionSelectedBGColor: $lightBlue;
$multiSelectOptionSelectedCrossBGColor: $mediumBlue;
$multiSelectOptionSelectedCrossTextColor: black;
