.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

.u-nomargin {
  margin: 0 !important;
}

.block-element {
  display: block;
}

[hidden],
.is-hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hidden-mobile {
  display: none !important;

  @media ( min-width: 50em ) {
    display: block !important;
  }
}

.hidden-desktop {

  @media ( min-width: 50em ) {
    display: none !important;
  }
}

.relative {
  position: relative;
}

.visually-hidden {
  border: none;
  clip: rect( 1px, 1px, 1px, 1px );
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.no-scroll--mobile {
  overflow: hidden;
  position: fixed;

  @media ( min-width: 50em ) {
    overflow: visible;
    position: static;
  }
}
