.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.u-fontw {
  &--default {
    font-weight: normal;
  }
}
.vet {
  font-weight: bold;
}
.cur {
  font-style: italic;
}
.vetcur {
  font-style: italic;
  font-weight: bold;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

.u-nomargin {
  margin: 0 !important;
}

.block-element {
  display: block !important;
  width: 100%;
}

[hidden],
.is-hidden {
  display: none !important;
}

.inline-block {
  display: inline-block;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right;
}

.pull-right {
  float: right;
}

@media ( min-width: $breakpointDesktop ) {
  .d-pull-right {
    float: right;
  }
}

.pull-left {
  float: left;
}

.hidden-mobile {
  display: none !important;

  @media ( min-width: $breakpointDesktop ) {
    display: block !important;
  }
}

.hidden-desktop {

  @media ( min-width: $breakpointDesktop ) {
    display: none !important;
  }
}

.relative {
  position: relative;
}

.visually-hidden {
  border: none;
  clip: rect( 1px, 1px, 1px, 1px );
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.no-scroll--mobile {
  overflow: hidden;
  position: fixed;

  @media ( min-width: $breakpointDesktop ) {
    overflow: visible;
    position: static;
  }
}

@media (min-width: $breakpointDesktop ) {
  .u-order {
    &--d1 {
      order: 0;
    }
    &--d2 {
      order: 1;
    }
  }
}

.u-amount {
  font-style: italic;
  font-size: 0.7em;
  font-weight: normal;
}
