.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.u-fontw {
  &--default {
    font-weight: normal;
  }
}
.vet {
  font-weight: bold;
}
.cur {
  font-style: italic;
}
.vetcur {
  font-style: italic;
  font-weight: bold;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.u-nomargin {
  margin: 0 !important;
}
.u-nopadding {
  padding: 0 !important;
}

.u-margin {
  &--m {
    margin-bottom: 1em !important;
  }
  &-bottom {
    &-40 {
      margin-bottom: 2em;
    }
  }
  &-top {
    &-24 {
      margin-top: 1.5em;
    }
    &-32 {
      margin-top: 2em;
    }
    &-40 {
      margin-top: 2.5em;
    }
    &-48 {
      margin-top: 3em;
    }
    &--24 {
      margin-top: -1.5em;
    }
  }
}

.block-element {
  display: block !important;
  width: 100%;
}

[hidden],
.is-hidden,
[aria-hidden="true"] {
  display: none !important;
}

.inline-block {
  display: inline-block;
}

.valign {
  &--middle {
    vertical-align: middle !important;
  }
  &--bottom {
    vertical-align: bottom !important;
  }
}

.align-center,
.d-align-center {
  text-align: center !important;
}

.align-right {
  text-align: right;
}

.pull-right {
  float: right;
}

@media ( min-width: $breakpointDesktop ) {
  .d-pull-right {
    float: right;
  }
  .d-align-right {
    text-align: right;
  }
}

.pull-left {
  float: left;
}

.hidden-mobile {
  display: none !important;

  @media ( min-width: $breakpointDesktop ) {
    display: block !important;
  }
}

.hidden-desktop {

  @media ( min-width: $breakpointDesktop ) {
    display: none !important;
  }
}

.relative {
  position: relative;
}

.visually-hidden {
  border: none;
  clip: rect( 1px, 1px, 1px, 1px );
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.no-scroll--mobile {
  overflow: hidden;
  position: fixed;

  @media ( min-width: $breakpointDesktop ) {
    overflow: visible;
    position: static;
  }
}

@media (min-width: $breakpointDesktop ) {
  .u-order {
    &--d1 {
      order: 0;
    }
    &--d2 {
      order: 1;
    }
  }
}

.u-nobreak {
  white-space: nowrap;
  word-break: keep-all;
}
.u-breakall {
  word-break: break-all;
}

.u-fontsize--s {
  font-size: 0.9em !important;
}

.u-amount {
  font-style: italic;
  font-size: 0.7em;
  font-weight: normal;
}

.u-tableborder {
  &--top {
    border-top: 1px solid $lighterGrey !important;
  }
  &--right {
    border-right: 1px solid $lighterGrey !important;
  }
  &--left {
    border-left: 1px solid $lighterGrey !important;
  }
  &--bottom {
    border-bottom: 1px solid $lighterGrey !important;
  }
}

@media (min-width: $breakpointDesktop ) {
  .u-columnwidth {
    &-10p {
      width: 10%;
    }
    &-20p {
      width: 20%;
    }
    &-25p {
      width: 25%;
    }
    &-30p {
      width: 30%;
    }
    &-40p {
      width: 40%;
    }
    &-50p {
      width: 50%;
    }
  }
}
