$imagePath: '../images' !default;

$chevronRight:  url( '#{$imagePath}/icon-chevron-right.svg' ) !default;
$chevronLeft:  url( '#{$imagePath}/icon-chevron-left.svg' ) !default;
$iconCross: url( '#{$imagePath}/icon-close.svg' );
$iconCrossWhite: url( '#{$imagePath}/icon-close-white.svg' );

$datepickerButtonNext: $chevronRight;
$datepickerButtonPrev: $chevronLeft;

$dartLeftIcon: url( '#{$imagePath}/icon-dart-left.svg' ) !default;
$dartRightIcon: url( '#{$imagePath}/icon-dart-right.svg' ) !default;
$dartTopIcon: url( '#{$imagePath}/icon-dart-top.svg' ) !default;
$dartTopWhiteIcon: url( '#{$imagePath}/icon-dart-top-white.svg' ) !default;
$dartDownIcon: url( '#{$imagePath}/icon-dart-down.svg' ) !default;
$dartRightBlueIcon: url( '#{$imagePath}/icon-dart-right-blue.svg' ) !default;

$arrowCTAIcon: url( '#{$imagePath}/icon-cta-right.svg' ) !default;
$arrowCTABackwardsIcon: url( '#{$imagePath}/icon-cta-left.svg' ) !default;
$iconArrowRight: url('#{$imagePath}/icon-arrow-right.svg') !default;

$nextIcon: url( '#{$imagePath}/icon-next.svg' ) !default;

$doubleLeftIcon: url( '#{$imagePath}/icon-double-left.svg' ) !default;
$doubleRightIcon: url( '#{$imagePath}/icon-double-right.svg' ) !default;

$plusIcon: url( '#{$imagePath}/icon-plus.svg' ) !default;
$minusIcon: url( '#{$imagePath}/icon-minus.svg' ) !default;
$copyIcon: url( '#{$imagePath}/icon-copy.svg' ) !default;

$searchIcon: url( '#{$imagePath}/icon-search.svg' ) !default;

$externalLinkIcon: url( '#{$imagePath}/icon-link-external.svg' ) !default;
$externalLinkWhiteIcon: url( '#{$imagePath}/icon-link-external-white-standard.svg' ) !default;

$hamburgerIcon: url( '#{$imagePath}/icon-hamburger.svg' ) !default;

$explanationIcon: url( '#{$imagePath}/icon-explanation.svg' ) !default;
$explanationHoverIcon: url( '#{$imagePath}/icon-explanation.svg' ) !default;

$warningIcon: url( '#{$imagePath}/icon-warning.svg' ) !default;
$successIcon: url( '#{$imagePath}/icon-success.svg' ) !default;
$infoIcon: url( '#{$imagePath}/icon-info.svg' ) !default;
$downloadIcon: url( '#{$imagePath}/icon-download.svg' ) !default;
$downloadIconWhite: url( '#{$imagePath}/icon-download-white.svg' ) !default;
$uploadIcon: url( '#{$imagePath}/icon-upload.svg' ) !default;
$uploadBlueIcon: url( '#{$imagePath}/icon-upload-blue.svg' ) !default;
$removeIcon: url( '#{$imagePath}/icon-remove.svg' ) !default;
$removeBlueIcon: url( '#{$imagePath}/icon-remove-blue.svg' ) !default;
$printIcon: url( '#{$imagePath}/icon-print.svg' ) !default;
$relationsIcon: url( '#{$imagePath}/icon-relations.svg' ) !default;
$permalinkIcon: url( '#{$imagePath}/icon-permalink.svg' ) !default;
$compareIcon: url( '#{$imagePath}/icon-compare.svg' ) !default;

$modalCloser: $iconCross !default;
$modalCloserHover: url( '#{$imagePath}/icon-close-hover.svg' ) !default;

$iconCheck: url( '#{$imagePath}/icon-check.svg' ) !default;
$iconCheckWhite: url( '#{$imagePath}/icon-check-white.svg' ) !default;
$iconCheckWhiteTransitional: url( '#{$imagePath}/icon-check-white-transitional.svg' ) !default;
$loadingIcon: url( '#{$imagePath}/icon-loading.svg' ) !default;

// theme blocks
$governanceIcon: url( '#{$imagePath}/theme-icons/governance.svg' ) !default;
$cultureIcon: url( '#{$imagePath}/theme-icons/culture.svg' ) !default;
$economyIcon: url( '#{$imagePath}/theme-icons/economy.svg' ) !default;
$financeIcon: url( '#{$imagePath}/theme-icons/finance.svg' ) !default;
$housingIcon: url( '#{$imagePath}/theme-icons/housing.svg' ) !default;
$internationalIcon: url( '#{$imagePath}/theme-icons/international.svg' ) !default;
$agricultureIcon: url( '#{$imagePath}/theme-icons/agriculture.svg' ) !default;
$migrationIcon: url( '#{$imagePath}/theme-icons/migration.svg' ) !default;
$natureIcon: url( '#{$imagePath}/theme-icons/nature.svg' ) !default;
$educationIcon: url( '#{$imagePath}/theme-icons/education.svg' ) !default;
$securityIcon: url( '#{$imagePath}/theme-icons/security.svg' ) !default;
$lawIcon: url( '#{$imagePath}/theme-icons/law.svg' ) !default;
$infrastructureIcon: url( '#{$imagePath}/theme-icons/infrastructure.svg' ) !default;
$socialIcon: url( '#{$imagePath}/theme-icons/social.svg' ) !default;
$trafficIcon: url( '#{$imagePath}/theme-icons/traffic.svg' ) !default;
$jobsIcon: url( '#{$imagePath}/theme-icons/jobs.svg' ) !default;
$healthcareIcon: url( '#{$imagePath}/theme-icons/healthcare.svg' ) !default;

$okIcon: url( '#{$imagePath}/icon-ok.svg' );
$characteristicIcon: url( '#{$imagePath}/icon-characteristic.svg' );
$areaIcon: url( '#{$imagePath}/icon-area.svg' );
$basisIcon: url( '#{$imagePath}/icon-basis.svg' );

$shareWhiteIcon: url( '#{$imagePath}/icon-share-white.svg' );
$shareIcon: url( '#{$imagePath}/icon-share.svg' );





