$dartLeftIcon: url( '../images/icon-dart-left.svg' ) !default;
$dartRightIcon: url( '../images/icon-dart-right.svg' ) !default;
$dartTopIcon: url( '../images/icon-dart-top.svg' ) !default;
$dartDownIcon: url( '../images/icon-dart-down.svg' ) !default;
$dartRightBlueIcon: url( '../images/icon-dart-right-blue.svg' ) !default;

$doubleRightIcon: url( '../images/icon-double-right.svg' ) !default;

$externalLinkIcon: url( '../images/icon-link-external.svg' ) !default;

$hamburgerIcon: url( '../images/icon-hamburger.svg' ) !default;

$warningIcon: url( '../images/icon-warning.svg' ) !default;
$successIcon: url( '../images/icon-success.svg' ) !default;
$infoIcon: url( '../images/icon-info.svg' ) !default;

$modalCloser: url( '../images/icon-close.svg' ) !default;
$modalCloserHover: url( '../images/icon-close-hover.svg' ) !default;
