$chevronRight:  url( '../images/icon-chevron-right.svg' ) !default;
$chevronLeft:  url( '../images/icon-chevron-left.svg' ) !default;
$iconCross: url( '../images/icon-close.svg' );
$iconCrossWhite: url( '../images/icon-close-white.svg' );

$datepickerButtonNext: $chevronRight;
$datepickerButtonPrev: $chevronLeft;

$dartLeftIcon: url( '../images/icon-dart-left.svg' ) !default;
$dartRightIcon: url( '../images/icon-dart-right.svg' ) !default;
$dartTopIcon: url( '../images/icon-dart-top.svg' ) !default;
$dartTopWhiteIcon: url( '../images/icon-dart-top-white.svg' ) !default;
$dartDownIcon: url( '../images/icon-dart-down.svg' ) !default;
$dartRightBlueIcon: url( '../images/icon-dart-right-blue.svg' ) !default;

$arrowCTAIcon: url( '../images/icon-cta-right.svg' ) !default;
$arrowCTABackwardsIcon: url( '../images/icon-cta-left.svg' ) !default;

$nextIcon: url( '../images/icon-next.svg' ) !default;

$doubleLeftIcon: url( '../images/icon-double-left.svg' ) !default;
$doubleRightIcon: url( '../images/icon-double-right.svg' ) !default;

$plusIcon: url( '../images/icon-plus.svg' ) !default;
$minusIcon: url( '../images/icon-minus.svg' ) !default;

$searchIcon: url( '../images/icon-search.svg' ) !default;

$externalLinkIcon: url( '../images/icon-link-external.svg' ) !default;
$externalLinkWhiteIcon: url( '../images/icon-link-external-white-standard.svg' ) !default;

$hamburgerIcon: url( '../images/icon-hamburger.svg' ) !default;

$explanationIcon: url( '../images/icon-explanation.svg' ) !default;
$explanationHoverIcon: url( '../images/icon-explanation.svg' ) !default;

$warningIcon: url( '../images/icon-warning.svg' ) !default;
$successIcon: url( '../images/icon-success.svg' ) !default;
$infoIcon: url( '../images/icon-info.svg' ) !default;
$downloadIcon: url( '../images/icon-download.svg' ) !default;
$removeIcon: url( '../images/icon-remove.svg' ) !default;
$printIcon: url( '../images/icon-print.svg' ) !default;
$relationsIcon: url( '../images/icon-relations.svg' ) !default;
$permalinkIcon: url( '../images/icon-permalink.svg' ) !default;
$compareIcon: url( '../images/icon-compare.svg' ) !default;

$modalCloser: $iconCross !default;
$modalCloserHover: url( '../images/icon-close-hover.svg' ) !default;

$iconCheck: url( '../images/icon-check.svg' ) !default;
$iconCheckWhite: url( '../images/icon-check-white.svg' ) !default;
$loadingIcon: url( '../images/icon-loading.svg' ) !default;

// theme blocks
$governanceIcon: url( '../images/theme-icons/governance.svg' ) !default;
$cultureIcon: url( '../images/theme-icons/culture.svg' ) !default;
$economyIcon: url( '../images/theme-icons/economy.svg' ) !default;
$financeIcon: url( '../images/theme-icons/finance.svg' ) !default;
$housingIcon: url( '../images/theme-icons/housing.svg' ) !default;
$internationalIcon: url( '../images/theme-icons/international.svg' ) !default;
$agricultureIcon: url( '../images/theme-icons/agriculture.svg' ) !default;
$migrationIcon: url( '../images/theme-icons/migration.svg' ) !default;
$natureIcon: url( '../images/theme-icons/nature.svg' ) !default;
$educationIcon: url( '../images/theme-icons/education.svg' ) !default;
$securityIcon: url( '../images/theme-icons/security.svg' ) !default;
$lawIcon: url( '../images/theme-icons/law.svg' ) !default;
$infrastructureIcon: url( '../images/theme-icons/infrastructure.svg' ) !default;
$socialIcon: url( '../images/theme-icons/social.svg' ) !default;
$trafficIcon: url( '../images/theme-icons/traffic.svg' ) !default;
$jobsIcon: url( '../images/theme-icons/jobs.svg' ) !default;
$healthcareIcon: url( '../images/theme-icons/healthcare.svg' ) !default;

$okIcon: url( '../images/icon-ok.svg' );
$characteristicIcon: url( '../images/icon-characteristic.svg' );
$areaIcon: url( '../images/icon-area.svg' );
$basisIcon: url( '../images/icon-basis.svg' );





