$containerMaxWidth: 80em !default;
$breakpointDesktop: 50em !default;
$breakpointDesktopS: 40em !default;
$breakpointDesktopL: 80em !default;
$borderRadius: 0.5em;
$standardButtonPadding: .75em 1em !default;
