<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <ul class="list list--linked">

      <li><a href="https://beta.overheid.nl/over-deze-site">Over deze website</a></li>
      <li><a href="https://beta.overheid.nl/contact">Contact</a></li>
      <li><a href="https://beta.overheid.nl/english" lang="en">English</a></li>
      <li><a href="https://beta.overheid.nl/help">Help</a></li>
      <li><A href="https://beta.overheid.nl/help/zoeken">Zoeken</a></li>

    </ul>

    <ul class="list list--linked">
      <li><a href="/informatie-hergebruiken">Informatie hergebruiken</a></li>
      <li><a href="/privacy-statement">Privacy en cookies</a></li>
      <li><a href="/toegankelijkheid">Toegankelijkheid</a></li>
      <li><a href="/sitemap">Sitemap</a></li>
    </ul>

     <ul class="list list--linked">
        <li><a href="https://data.overheid.nl">Open data</a></li>
        <li><a href="http://linkeddata.overheid.nl">Linked Data Overheid</a></li>
        <li><a href="https://puc.overheid.nl">PUC Open Data</a></li>
    </ul>

    <ul class="list list--linked">
      <li><a href="https://mijn.overheid.nl">MijnOverheid.nl</a></li>
      <li><a href="https://www.rijksoverheid.nl">Rijksoverheid.nl</a></li>
      <li><a href="https://ondernemersplein.nl">Ondernemersplein.nl</a></li>
      <li><a href="https://www.werkenbijdeoverheid.nl">Werkenbijdeoverheid.nl</a></li>
    </ul>

  </div>
</div>
