<div class="footer row--footer">
  <div class="container columns">
    <ul class="list--linked">

      <li><a href="#">Over deze website</a></li>
      <li><a href="#" lang="en">English version</a></li>
      <li><a href="#">Help </a></li>

    </ul>

    <ul class="list--linked">

      <li><a href="#">Sitemap</a></li>

    </ul>

    <ul class="list--linked">

      <li><a href="#">Zoeken</a></li>

    </ul>

    <ul class="list--linked">
      <li><a href="https://mijn.overheid.nl/">MijnOverheid.nl</a></li>
      <li><a href="http://www.rijksoverheid.nl/">Rijksoverheid.nl</a></li>
      <li><a href="http://www.ondernemersplein.nl/">Ondernemersplein.nl</a></li>
      <li><a href="http://www.werkenbijdeoverheid.nl/">Werkenbijdeoverheid.nl</a></li>

    </ul>

  </div>
</div>
