<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    {{ render "@list" listContext1}}
    {{ render "@list" listContext2}}
    {{ render "@list" listContext3}}
    {{ render "@list" listContext4}}
  </div>
</div>
