.container--labels {
  margin: .5em 0 1.5em 0;

  h3 {
    display: inline;
    margin: 0 1.5em 0 0;
  }
}

.label {
  display: inline-block;
  margin: 0 .25em .25em 0;
  padding: .125em .5em;
  font-size: .75rem;
  font-weight: 400;
  border-radius: $borderRadius;
  background: $lightGrey;
  color: $black;
  vertical-align: middle;

  &--blue {
    background: $darkBlue;
    color: $white;
  }

  &--primary {
    background: $primaryBlue;
    color: $white;
  }

  &--orange {
    background: $orange;
    color: $black;
  }

  &--success, &--xml {
    background: $green;
    color: $white;
  }

  &--warning, &--csv, &--xls {
    background: $yellow;
    color: $black;
  }

  &--danger, &--pdf {
    background: $red;
    color: $white;
  }

  &--ok {
    background: {
      color: $lightGreen;
      image: $okIcon;
      repeat: no-repeat;
      position: .75em 50%;
      size: 1em;
    }
    padding: .25em .5em .25em 2em;
  }

  &--characteristic {
  background: {
      color: $lightPurple;
      image: $characteristicIcon;
      repeat: no-repeat;
      position: .5em 50%;
      size: 1.3em;
    }
    padding: .25em .5em .25em 2em;
  }

  &--area {
    background: {
      color: $lightOrange;
      image: $areaIcon;
      repeat: no-repeat;
      position: .5em 50%;
      size: 1.3em;
    }
    padding: .25em .5em .25em 2em;
  }

  &--basis {
    background: {
      color: $blueGray;
      image: $basisIcon;
      repeat: no-repeat;
      position: .5em 50%;
      size: 1.3em;
    }
    padding: .25em .5em .25em 2em;
  }
}
