<div class="form__element">
  <label for="select--{{ id }}">{{ fieldLabel }}</label>
  {{#if fieldInstruction }}
    <small>{{ fieldInstruction }}</small>
  {{/if }}
  <select id="select--{{ id }}">
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="100">100</option>
  </select>
</div>
