.treeview {

  li {

    list-style: none;

    a {
      padding: .25em 1em .25em .25em;
      display: block;
      text-decoration: none;
      background: {
        image: $dartRightIcon;
        repeat: no-repeat;
        position: 98% .75em;
      }

      &:hover {
        background-color: $lightGrey;
      }

      small {
        display: block;
        color: $darkGrey;
      }
    }

  }

  &.treeview--foldable {
    li {
      a {
        padding: .25em 1em .25em 1.5em;
        position: relative;
      }

      a.foldable {

        &::before {
          content: '';
          position: absolute;
          left: .25em;
          top: .5em;
          width: 1em;
          height: 1em;
          background: pink;
        }

        &:hover {
          &:before {
            background-color: red;
          }
        }
      }
    }
  }

}
