<ul class="treeview {{ modifier }}">
  <li>
    <a href="#" class="foldable" data-decorator="add-foldability">
      Hoofdstuk 1
      <small>Ministerie van Binnenlandse Zaken en Koninkrijksrelaties</small>
    </a>

    <ul>
      <li><a href="#">Artikel 1</a>
        <ul>
          <li><a href="#">Artikel 1.1</a></li>
          <li><a href="#">Artikel 1.2</a>
            <ul>
              <li><a href="#">Artikel 1.1</a></li>
              <li><a href="#">Artikel 1.2</a>
                <ul>
                  <li><a href="#">Artikel 1.1</a></li>
                  <li><a href="#">Artikel 1.2</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">Artikel 2</a>
    </ul>
  </li>
  <li>
    <a href="#">
      Hoofdstuk 2
      <small>Ministerie van Defensie</small>
    </a>
  </li>
</ul>
