// Colors

$black: #000;
$darkBlue: #154273; // 'Donkerblauw'
$primaryBlue: #007bc7; // -- used?
// $primaryBlue: $darkBlue; // -- used?
$mediumBlue: #b2d7ee; // -- used?
$lightBlue: #E5F1F9; // 'Licht blauw'
$bgBlue: #f2f8fc; // 'Wolken'
$white: #fff;

$darkGrey: #333;
$darkerGrey: #555;
$mediumGrey: #b4b4b4;
$lighterGrey: #E6E6E6; // 'Midden grijs'
$lightGrey: #F3F3F3; // 'Licht grijs'

$green: #39870c;
$darkGreen: #015F58;
$lightGreen: #E4F0EF; // 'Mint'
$yellow: #ffb612;
$darkYellow: #F9D358;
$lightYellow: #FFF8E1;
$orange: #e17000;
$darkOrange: #E17000;
$lightOrange: #F5E4E0;
$red: #d52b1e;
$lightRed: #F4C8C5;

$focus: $yellow;

$textColor: $darkGrey;

$buttonBackgroundColor: $white;
$buttonBackgroundActiveColor: $mediumGrey;
$buttonPrimaryBackgroundColor: $darkBlue;
$buttonPrimaryBackgroundActiveColor: $darkBlue;
$buttonBackgroundSecondaryColor: $orange;
$buttonBackgroundSecondaryActiveColor: darken($orange, 10%);
$buttonTextColor: $textColor;
$buttonBorderColor: $lighterGrey;

$headerBackgroundColor: $primaryBlue;
$headerBorderColor: $mediumBlue;
$headerLinkColor: $white;
$headerLinkCurrentColor: $darkBlue;
$headerLinkBackgroundColor: transparent;

$datepickerHeaderBackgroundColor: $darkBlue;
$datepickerHeaderTextColor: $white;
$datepickerContainerBorderColor: $lighterGrey;
$datepickerTriggerBackgroundColor: $primaryBlue;
$datepickerTriggerBackgroundColorActive: $darkBlue;

$tooltipContainerBorderColor: $lighterGrey;

$multiSelectOptionHoverBGColor: $lightBlue;
$multiSelectOptionSelectedBGColor: $lightBlue;
$multiSelectOptionSelectedCrossBGColor: $mediumBlue;
$multiSelectOptionSelectedCrossTextColor: black;


