$mobileSpacing: 1em;
$desktopSpacing: 1em;
$fatBorder: .75em;
$thinBorder: .5em;

.row {
  padding-top: $mobileSpacing;
  padding-bottom: $mobileSpacing;

  @media ( min-width: $breakpointDesktop ) {
    padding-top: $desktopSpacing;
    padding-bottom: $desktopSpacing;
  }

  &--page-opener {
    background-color: $lightBlue;
    padding: .325em 0;
    margin-bottom: 0;

    @media ( min-width: $breakpointDesktop ) {
      padding: .75em 0;
    }

    + .row--browse {
      margin-top: 0;
    }
  }

  &--pagetop {
    padding-top: 3em;
    padding-bottom: 2em;
  }

  &--heading {
    padding: 0em 1em 0;
    margin: 0 auto -1em;
  }

  &--browse {
    border-top: $fatBorder solid $lighterGrey;
    border-bottom: $fatBorder solid $lighterGrey;
    background-color: $lightGrey;


  }

  &--before-footer {
      border-bottom: 0px solid transparent;
    }

  &--highlight {
    border-top: $thinBorder solid $lightBlue;
    border-bottom: $thinBorder solid $lightBlue;
    background-color: $primaryBlue;

    h2,
    p,
    li,
    a {
      color: $white;
    }
  }

  &--image {
    background: {
      size: cover;
      repeat: no-repeat;
    }

    .content--onimage {
      background: $white;
      width: auto;
      padding: 1em 2em 2em;
      @media ( min-width: $breakpointDesktop ) {
        max-width: 60%;
        margin-bottom: 5em;
      }

      .intro--text {
        max-width: 100%;
      }
    }
  }

  &--landing {
    min-height: 15em;
      .content--onimage {
        padding: .5em 1em 1em;
        margin-bottom: 2em;
      }
    }

  &--footer {
    background-color: $lightBlue;
    border-top: $fatBorder solid $mediumBlue;
    padding: 1.5em;
  }
}
