.nav {



}

.nav-sub {
  margin: 0 0 2em 0;
  padding: 0;

  @media (min-width: $breakpointDesktop) {
    border-right: 1px solid #f1f1f1;
  }

  &__item {
    list-style: none;
    display: block;
  }

  &__link {
    font-size: 1.5em;
    font-weight: bold;
    padding: .2em 0;
    text-decoration: none;
    display: block;
    margin-bottom: .5em;

    &.is-active {
      background: $lightBlue;
      padding-left: .5em;
      text-decoration: underline;
      border-right: 4px solid $darkBlue;
    }
  }
}
