<ul class="nav-sub">
  <li class="nav-sub__item is-active">
    <a href="#" class="nav-sub__link">Basis gegevens</a>
    <ul class="nav-sub__sub">
      <li class="nav-sub__sub-item"><a href="#" class="nav-sub__sub-link">Algemeen</a></li>
      <li class="nav-sub__sub-item"><a href="#" class="nav-sub__sub-link is-active">Koninkrijk</a></li>
      <li class="nav-sub__sub-item"><a href="#" class="nav-sub__sub-link">Partijen</a></li>
      <li class="nav-sub__sub-item"><a href="#" class="nav-sub__sub-link">Moederverdragen</a></li>
    </ul>
  </li>
  <li class="nav-sub__item"><a href="#" class="nav-sub__link is-active">Koninkrijk</a></li>
  <li class="nav-sub__item"><a href="#" class="nav-sub__link">Partijen</a></li>
  <li class="nav-sub__item"><a href="#" class="nav-sub__link">Moederverdragen</a></li>
</ul>
