<ul class="nav-sub">
  <li class="nav-sub__item"><a href="#" class="nav-sub__link">Algemeen</a></li>
  <li class="nav-sub__item"><a href="#" class="nav-sub__link is-active">Koninkrijk</a></li>
  <li class="nav-sub__item"><a href="#" class="nav-sub__link">Partijen</a></li>
  <li class="nav-sub__item"><a href="#" class="nav-sub__link">Moederverdragen</a></li>
</ul>
