<div data-decorator="init-selectall">
  <div class="input-checkbox">
    <input class="checkbox__input js-checkbox-master" type="checkbox" id="appel" name="selectAll" value="veel" />
    <label class="checkbox__label" for="appel">
      Selecteer alle <span class="js-amount-checkboxes"></span> {{label}}
    </label>
  </div>
  {{ render "@input-checkbox" checkboxes }}
</div>
