.alert {
  border: 1px solid $mediumGrey;
  background: $lightGrey;
  background-position: 1em 50%;
  background-repeat: no-repeat;
  border-radius: $borderRadius;
  padding: 1em;
  margin: 1em 0;

  &--update {
    background-color: lighten($orange, 50%);
    border-color: $orange;
    border-radius: 0;
    margin: .5em 0;
    padding: 0.5em 1em 0;

    h3 {
      color: $black;
    }

    *:not(h3){
      background: lighten($orange, 30%);
    }
  }

  &--warning {
    background-color: lighten($orange, 50%);
    background-image: $warningIcon;
    border-color: $orange;
    padding-left: 2.5em;
  }

  &--info {
    background-color: lighten($primaryBlue, 50%);
    background-image: $infoIcon;
    border-color: $primaryBlue;
    padding-left: 2.5em;
  }

  &--success {
    background-color: lighten($green, 60%);
    background-image: $successIcon;
    border-color: $green;
    padding-left: 2.5em;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
  }

  &--small {
    padding: .1em .5em;
    margin: 0.25em 0;
    background-image: none;
    border: none;
    display: inline-block;
  }
}
