<div class="tooltip" data-decorator="tooltip">
  <button  aria-label="Help?" aria-describedby="tt{{id}}" aria-expanded="false" class="tooltip__trigger">{{label}}</button>
  <span role="tooltip" id="tt{{id}}" class="tooltip__content">{{Helptext}}</span>
</div>
