<div class="tooltip" data-decorator="tooltip">
  <a href="#" role="tooltip" aria-describedby="txt32" aria-controls="txt32" class="tooltip__trigger">trigger</a>
  <span id="txt32" class="tooltip__content">tooltip 1</span>
</div>

<div class="tooltip" data-decorator="tooltip">
  <a href="#" role="tooltip" aria-describedby="txt33" aria-controls="txt33" class="tooltip__trigger">trigger</a>
  <span id="txt33" class="tooltip__content">tooltip 2</span>
</div>
