<div class="">
  <h2>Organisaties</h2>
</div>

<div class="form__row form__row--large">
  <div class="form__active-filters">
    <h2 class="inline-block">Gekozen filters</h2>
    {{render "@form-selectedfilter" selectedfilterContext }}
  </div>
</div>

<div class="" data-decorator="init-filter-results">

  <div class="form__row form__row--large">
    <input type="text" placeholder="Typ hier uw organisatie" name="mysuper_field" id="id_mysuper_field" class="js-filterresults__input input-text input-text--searchmedium"
    />
  </div>

  <div class="form__row form__row--large">
    <div class="column-count column-count--half">
      <fieldset class="js-filterresults__results">
        <legend class="visually-hidden">Gemeenten</legend>
        {{render "@input-checkbox" gemeentenContext }}
      </fieldset>
    </div>
  </div>

</div>

<div class="form__row form__row--large">
  {{render "@list--alphabet" }}
</div>

<div class="align-right">
  <button type="submit" class="button button--primary">Filter toepassen</button>
</div>
