$icons: (
  bin: $removeBlueIcon,
  check2Blue: $iconCheck2Blue,
  check2White: $iconCheck2White,
  check2Green: $iconCheck2Green,
  edit: $editIconBlue,
  list: $iconList,
  refresh: $refreshIcon,
  document: $iconDocument,
  map: $iconMap,
  house: $iconHouse,
  search: $searchIcon,
  searchBlue: $searchIconBlue,
  news: $iconNews,
  plus: $plusIcon,
  plusshape: $plusShapeIcon,
  plus-white: $plusIconWhite,
  mail: $iconMail,
  play: $iconPlay,
  profile: $iconProfile,
  logout: $iconLogout,
  fullscreen: $iconFullscreen
);

button.icon {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  background-color: transparent;
  color: $darkBlue;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.icon {
  padding-left: 1.75em;
  background: {
    position: left 50%;
    size: 1.25em;
    repeat: no-repeat;
  }

  &--right {
    padding-right: 1.75em;
    padding-left: 0;
    background: {
      position: right 50%;
      size: 1.25em;
      repeat: no-repeat;
    }
  }


  &--large {
    background-size: 1.125em !important;
  }

  &--download {
    background-image: $downloadIcon;
  }

  &--remove-right {
    background: {
      image: $removeIcon;
      position: right 50%;
    }
    padding-left: 0;
    padding-right: 1.5em;
  }

  &--remove {
    background-image: $removeIcon;
  }

  &--remove-blue {
    background: {
      image: $removeBlueIcon;
      position: right 50%;
    }
    padding-left: 0;
    padding-right: 1.5em;
  }

  &--remove-blue-left {
    background-image: $removeBlueIcon;
  }

  &--openall {
    background: {
      image: $plusIcon;
      position: right 50%;
    }
    padding-left: 0;
    padding-right: 1.5em;

  }

  &--closeall {
    background: {
      image: $minusIcon;
      position: right 50%;
    }
    padding-left: 0;
    padding-right: 1.5em;

  }

  &--backlink {
    display: block;
    padding: 0 0 .5em 1.5em;
    margin-bottom: .5em;
    background: {
      image: $doubleLeftIcon;
      size: 16px;
      repeat: no-repeat;
      position: left .25em;
    }
  }

  &--downloadfile {
    display: inline-block;
    padding: 0 0 0 1.5em;
    background: {
      image: $downloadIcon !important;
      size: 1em !important;
      repeat: no-repeat !important;
      position: left .25em !important;
    }
  }

  &--publication {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $iconPublicatie;
      size: 16px;
      repeat: no-repeat;
      position: left -3px center;
    }
  }

  &--housing {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $housingIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--default {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $governanceIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--culture {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $cultureIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--economy {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $economyIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--finance {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $financeIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--international {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $internationalIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--agriculture {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $agricultureIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--migration {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $migrationIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--nature {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $natureIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--education {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $educationIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--law {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $lawIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--infrastucture {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $infrastructureIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--social {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $socialIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--traffic {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $trafficIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--jobs {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $jobsIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--healthcare {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $healthcareIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--security {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $securityIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--arrow-right {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $iconArrowRight;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--arrow-cta-left {
    background-image: $arrowCTAIcon;
  }
  &--arrow-cta-right {
    background-image: $arrowCTABackwardsIcon;
    background-size: 1em;
  }

  &--dart-left {
    background-image: $dartLeftIcon;
  }

  &--cross-blue {
    background-image: $iconCrossBlue;
    background-position: left 50%;

    &--small {
      background-image: $iconCrossBlue;
      background-position: left 50%;
      background-size: .5em;
      padding-left: 1em;
    }
  }

  &--fullscreen {
    background-size: 1.5em;
  }
}

@each $name,
$value in $icons {
  .icon--#{$name} {
    background-image: $value;
  }
}
@each $name,
$value in $icons {
  .icon-bg--#{$name} {
    background-image: $value !important;
  }
}

// .icon-bg--profile {
//   background-position: right .8em center !important;
// }
