<div class="input-inputsubmit">
  <label {{#if showLabel}}{{else}}class="visually-hidden"{{/if}} for="">{{ label }}</label>
  <div class="input-inputsubmit__grid">
    <input type="text" class="input" placeholder="{{placeholder}}" />
    <button class="button button--primary">{{button}}</button>
  </div>
</div>
