.select-custom {
  position: relative;
  padding: 0;
  margin: 0 .5em 0 0;
  border: 1px solid $mediumGrey;
  overflow: visible;
  background-color: white;
  border-radius: .5em;
  display: inline-block;

  &.has-error {
    border: 2px solid $red;
  }
  &.is-valid {
    border-color: $green;
  }

  &:after {
    position: absolute;
    right: .125em;
    top: 0;
    width: 1.875em;
    bottom: 0;
    background: $dartDownIcon no-repeat center center;
    background-size: .7em;
    content: "";
    pointer-events: none;
  }
  select {
    font-size: .875rem;
    padding: 0 2.25em 0 .75em;
    // width: 100%;
    color: $darkGrey;
    border: none;
    box-shadow: none;
    // display: block;
    height: 2.25em;
    background-color: transparent;
    background-image: none;
    appearance: none;
    border-radius: 0;
    margin: 0;

    &::-ms-expand {
      display: none;
    }
    &:focus {
      z-index: 1;
    }
  }
  &--large {
    border-width: 2px;

    &:after {
      background-size: 1.1em;
    }
  }
  &--large select {
    height: 3.1em;
    color: $darkBlue;
    padding-top: .1em;
  }

  &--small select {
    height: 40px;
    font-size: 0.8em;
  }

  &--width-s {
    width: 9em;
  }

}
