<p>Kleurnamen zijn in het engels, want de gehele codebase is in het engels. Wanneer de tekst zwart is, is witte tekst op de betreffende achtergrondkleur niet toegestaan conform WCAG 2.0.</p>

<h2>Blauwtinten</h2>
<div class="color-sample darkBlue">darkBlue (#154273)</div>
<div class="color-sample primaryBlue">primaryBlue (#007bc7)</div>
<div class="color-sample mediumBlue">mediumBlue (#b2d7ee)</div>
<div class="color-sample lightBlue">lightBlue (#e5f1f9)</div>
<div class="color-sample bgBlue">bgBlue (#f2f8fc)</div>

<h2>Grijstinten</h2>
<div class="color-sample darkGrey">darkGrey (#333)</div>
<div class="color-sample darkerGrey">darkerGrey (#777)</div>
<div class="color-sample mediumGrey">mediumGrey (#b4b4b4)</div>
<div class="color-sample lighterGrey">lighterGrey (#ccc)</div>
<div class="color-sample lightGrey">lightGrey (#f3f3f3)</div>

<h2>Actiekleuren</h2>
<div class="color-sample green">green (#39870c)</div>
<div class="color-sample yellow">yellow (#ffb612)</div>
<div class="color-sample orange">orange (#e17000)</div>
<div class="color-sample red">red<br /> (#d52b1e)</div>
