.icon {
  padding-left: 1.5em;
  background: {
    position: left 50%;
    size: 1em;
    repeat: no-repeat;
  }

  &--download {
    background-image: $downloadIcon;
  }

  &--remove {
    background: {
      image: $removeIcon;
      position: right 50%;
    }
    padding-left: 0;
    padding-right: 1.5em;
  }

  &--remove-left {
    background-image: $removeIcon;
  }

  &--remove-blue {
    background: {
      image: $removeBlueIcon;
      position: right 50%;
    }
    padding-left: 0;
    padding-right: 1.5em;
  }

  &--remove-blue-left {
    background-image: $removeBlueIcon;
  }

  &--openall {
    background: {
      image: $plusIcon;
      position: right 50%;
    }
    padding-left: 0;
    padding-right: 1.5em;

  }

  &--closeall {
    background: {
      image: $minusIcon;
      position: right 50%;
    }
    padding-left: 0;
    padding-right: 1.5em;

  }

  &--backlink {
    display: block;
    padding: 0 0 .5em 1.5em;
    margin-bottom: .5em;
    background: {
      image: $doubleLeftIcon;
      size: 16px;
      repeat: no-repeat;
      position: left .25em;
    }
  }

  &--housing {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $housingIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--default {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $governanceIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--culture {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $cultureIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--economy {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $economyIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--finance {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $financeIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--international {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $internationalIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--agriculture {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $agricultureIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--migration {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $migrationIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--nature {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $natureIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--education {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $educationIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--law {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $lawIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--infrastucture {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $infrastructureIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--social {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $socialIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--traffic {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $trafficIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }
  
  &--jobs {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $jobsIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--healthcare {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $healthcareIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--security {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $securityIcon;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--arrow-right {
    display: inline-block;
    padding: 0 1.5em 0 0;
    background: {
      image: $iconArrowRight;
      size: 16px;
      repeat: no-repeat;
      position: right 50%;
    }
  }

  &--arrow-cta-left {
    background-image: $arrowCTAIcon;
  }

  &--dart-left {
    background-image: $dartLeftIcon;
  }

  &--cross-blue {
    background-image: $iconCrossBlue;
    background-position: right 50%;
  }
}