.az {

  display: block;
  min-height: 2em;
  clear: both;
  width: 100%;
  margin: 1em 0;

    ul {
      padding: 0;
      margin: .25em 0;
    }

    li {
      float: left;
      list-style: none;
      border: 1px solid $lighterGrey;
      margin: 0 0 3px -1px;
      line-height: 1;
      display: inline-block;


      button {
        border-radius: 0;
        border: none;
        background: $white;
        padding: 5px 8px;

        &:hover {
          background: $lighterGrey;
        }

        &.active {
          color: $white;
          background: $primaryBlue;
          border-color: $primaryBlue;

        }
      }

      &:first-child {
        margin-left: 0;
      }

    }

}
