<div class="az">

    <ul>
      <li><button>A</button></li>
      <li><button class="active">B</button></li>
      <li><button>C</button></li>
      <li><button>D</button></li>
      <li><button>E</button></li>
      <li><button>F</button></li>
      <li><button>G</button></li>
      <li><button>H</button></li>
      <li><button>I</button></li>
      <li><button>J</button></li>
      <li><button>K</button></li>
      <li><button>L</button></li>
      <li><button>M</button></li>
      <li><button>N</button></li>
      <li><button>O</button></li>
      <li><button>P</button></li>
      <li><button>Q</button></li>
      <li><button>R</button></li>
      <li><button>S</button></li>
      <li><button>T</button></li>
      <li><button>U</button></li>
      <li><button>V</button></li>
      <li><button>W</button></li>
      <li><button>X</button></li>
      <li><button>Y</button></li>
      <li><button>Z</button></li>
    </ul>

</div>
