<div class="ol-popup">
  <h2 class="ol-popup__heading">HDSR – Watervergunning voor het onttrekken van grondwater voor de aanleg van een warmteleiding Kanaalweg-Heycopstraat-Croeselaan
  in Utrecht (code HDSR25425)</h2>
  <p>
     5 september 2018 - HDSR – Watervergunning voor het onttrekken van grondwater voor de aanleg van een warmteleiding Kanaalweg-Heycopstraat-Croeselaan
    in Utrecht (code HDSR25425)
  </p>
</div>
