---
label: Form conditionals
status: ready
context:
  id: 1
  submitLabel: Verzenden
  questions:
    - id: 1
      question: Do you want to start?
      select: true
      answers:
        - id: 212
          answer: No comment
          link: 1
        - id: 223
          answer: Yes, start!
          link: 2
          selected: selected
        - id: 234
          answer: Don't want to.
    - id: 2
      question: What do you want on your icecream?
      checkbox: true
      nextButton: true
      link: 3
      answers:
      - id: 51
        answer: Nada!
      - id: 52
        answer: Sprinkles
      - id: 53
        answer: Whipped cream
    - id: 3
      question: What is your favorite color?
      radio: true
      answers:
        - id: 11
          answer: red
          value: red
          link: 4
        - id: 12
          answer: blue
          value: blue
    - id: 4
      question: Are you a human?
      select: true
      answers:
        - id: 21
          answer: Please tell us
          value:
        - id: 22
          answer: Yes, i'm a human
          link: 5
          value: next
        - id: 23
          answer: Doh
    - id: 5
      question: Are you sure your favorite color is red?
      radio: true
      answers:
        - id: 31
          answer: 'yes, i love red!'
          link:
        - id: 32
          answer: 'nah, just kidding'
          link: 6
    - id: 6
      question: What about blue?
      radio: true
      answers:
        - id: 41
          answer: 'yes, i love blue!'
          link:
        - id: 42
          answer: 'eh? blue? No way.'
          link:
variants:
  - name: Feedback
    status: ready
    context:
      id: 1
      submitLabel: Verstuur feedback
      questions:
        - id: 1
          question: Deel uw feedback
          paragraph: Wat dit de informatie die u zocht?
          submit: true
          answers:
          - id: 51
            answer: Ja
            icon: thumb-up
            triggerReponds: true
          - id: 52
            answer: Nee
            link: 2
            icon: thumb-down
            triggerLastStep: true
        - id: 2
          question: Waar ben je precies naar opzoek?
          paragraph: Wat kunnen wij verbeteren?
          textarea: true
          placeholder: Placeholder
          required: false
