<div class="">
  <fieldset>
     {{render "@input-checkbox" }}
  </fieldset>
  <ul class="list list--alphabet">
    <li class="list__item"><a href="#" class="list__link">A</a></li>
    <li class="list__item"><a href="#" class="list__link">B</a></li>
    <li class="list__item"><a href="#" class="list__link">C</a></li>
    <li class="list__item"><a href="#" class="list__link">D</a></li>
  </ul>
</div>
