.footer {

  .container {
    background: $lightBlue;
    border-top: .75em solid $mediumBlue;
    padding: 1.5em 0 1.5em 2em;

  }

  @media ( min-width: 50em ) {
    ul {
      width: calc( 25% - 1.5em );
      margin-right: 1em;
      display: inline-block;
    }
  }

}
