.footer {
  background: $lightBlue;
  border-top: .75em solid $mediumBlue;
  padding: 1.5em 0 1.5em 2em;

  .container {

    @media ( min-width: 50em ) {
      ul,
      div {
        width: calc( 25% - 1.5em );
        margin-right: 1em;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}
