<div class="footer row--footer">
  <div class="container columns">
    <ul class="list--linked">

      <li><a href="#">1e item</a></li>
      <li><a href="#">2e item</a></li>
      <li><a href="#">Een derde item  </a></li>
      <li><a href="#">4e item</a></li>

    </ul>

    <ul class="list--linked">

      <li><a href="#">1e item</a></li>
      <li><a href="#">2e item</a></li>
      <li><a href="#" rel="external">Een derde item  </a></li>
      <li><a href="#">4e item</a></li>

    </ul>

    <ul class="list--linked">

      <li><a href="#">1e item</a></li>
      <li><a href="#">2e item</a></li>
      <li><a href="#">Een derde item  </a></li>
      <li><a href="#">4e item</a></li>

    </ul>

    <ul class="list--linked">

      <li><a href="#">1e item</a></li>
      <li><a href="#">2e item</a></li>
      <li><a href="#">Een derde item </a></li>
      <li><a href="#">4e item</a></li>

    </ul>



  </div>
</div>
