$defaultFontFamily: 'Rijksoverheid Sans';
$defaultFontStack: $defaultFontFamily, sans-serif;

$defaultSerifFontFamily: 'Rijksoverheid Serif';
$defaultHeadingFontStack: $defaultSerifFontFamily, serif;

$fontPath: "../fonts" !default;

@font-face{
  font-family: $defaultFontFamily;
  src: url( '#{$fontPath}/ROsanswebtextregular.eot' );
  src: url( '#{$fontPath}/ROsanswebtextregular.eot?#iefix' ) format( 'embedded-opentype' ),
       url( '#{$fontPath}/ROsanswebtextregular.ttf' ) format( 'truetype' ),
       url( '#{$fontPath}/ROsanswebtextregular.woff' ) format( 'woff' );
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: $defaultFontFamily;
  src: url( '#{$fontPath}/ROsanswebtextitalic.eot' );
  src: url( '#{$fontPath}/ROsanswebtextitalic.eot?#iefix' ) format( 'embedded-opentype' ),
       url( '#{$fontPath}/ROsanswebtextitalic.ttf' ) format( 'truetype' ),
       url( '#{$fontPath}/ROsanswebtextitalic.woff' ) format( 'woff' );
  font-style: italic;
  font-weight: normal;
}

@font-face{
  font-family: $defaultFontFamily;
  src: url( '#{$fontPath}/ROsanswebtextbold.eot' );
  src: url( '#{$fontPath}/ROsanswebtextbold.eot?#iefix' ) format( 'embedded-opentype' ),
       url( '#{$fontPath}/ROsanswebtextbold.ttf' ) format( 'truetype' ),
       url( '#{$fontPath}/ROsanswebtextbold.woff' ) format( 'woff' );
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: $defaultSerifFontFamily;
  src: url( '#{$fontPath}/ROserifwebregular.eot?' ) format( 'embedded-opentype' ),
       url( '#{$fontPath}/ROserifwebregular.woff' ) format( 'opentype' );
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: $defaultSerifFontFamily;
  src: url( '#{$fontPath}/ROserifwebitalic.eot?' ) format( 'embedded-opentype' ),
       url( '#{$fontPath}/ROserifwebitalic.woff' ) format( 'opentype' );
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: $defaultSerifFontFamily;
  src: url( '#{$fontPath}/ROserifwebbold.eot?' ) format( 'embedded-opentype' ),
       url( '#{$fontPath}/ROserifwebbold.woff' ) format( 'opentype' );
  font-weight: bold;
  font-style: normal;
}

html {
  background-color: $white;
  box-sizing: border-box;
  color: $textColor;
  font-family: $defaultFontStack;
  font-size: 100%;
  line-height: 1.5;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  @media (min-width: 50em) {
    padding-bottom: 12em;
  }
}

body {
  min-height: 100%;
  margin: 0;
}

p,
.p {
  &--large {
    font-size: 1.125em;
  }
  &--accent {
    font-style: italic;
    font-size: 1.5em;
    margin-bottom: 0;
  }
}

.footer {
  float: left;
  width: 100%;
}
@media (min-width: 50em) {
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 12em;
  }
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

::placeholder {
  color: $darkGrey;
}

a img {
  border: 0;
}

label {
  display: block;
}

.transitional-size {

  h2 {
    font-size: 1.5em;
  }

  li {
    font-size: 1.25em;
  }
}

.k-future {

  h1,
  .h1 {
    font-size: 3em;
  }

  h2,
  .h2 {
    font-size: 2em;
  }

  h3,
  .h3 {
    font-size: 1.385em;
  }

  p,
  .p {
    font-size: 1.125em;
    &--large {
      font-size: 1.5em;
    }
    &--accent {
      font-size: 1.5em;
    }
  }

  .button {
    font-size: 1.125em;
  }

  table {
    // font-size already set in component
    .button {
      font-size: 1em;
    }
  }

}
