$defaultFontFamily: 'Rijksoverheid Sans';
$defaultFontStack: $defaultFontFamily, sans-serif;
$fontPath: '../fonts' !default;

@font-face{
  font-family: $defaultFontFamily;
  src: url( '#{$fontPath}/ROsanswebtextregular.ttf' ) format( 'truetype' ),
       url( '#{$fontPath}/ROsanswebtextregular.woff' ) format( 'opentype' );
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: $defaultFontFamily;
  src: url( '#{$fontPath}/ROsanswebtextitalic.ttf' ) format( 'truetype' ),
       url( '#{$fontPath}/ROsanswebtextitalic.woff' ) format( 'opentype' );
  font-style: italic;
  font-weight: normal;
}

@font-face{
  font-family: $defaultFontFamily;
  src: url( '#{$fontPath}/ROsanswebtextbold.ttf' ) format( 'truetype' ),
       url( '#{$fontPath}/ROsanswebtextbold.woff' ) format( 'opentype' );
  font-weight: bold;
  font-style: normal;
}

html {
  background-color: $white;
  box-sizing: border-box;
  color: $textColor;
  font-family: $defaultFontStack;
  font-size: 100%;
  line-height: 1.5;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;

  @media (min-width: 50em) {
    padding-bottom: 12em;
  }
}

body {
  min-height: 100%;
  margin: 0;
}

p,
.p {
  &--large {
    font-size: 1.125rem;
  }
  &--accent {
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.footer {
  float: left;
  width: 100%;
}
@media (min-width: 50em) {
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 12em;
  }
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

::placeholder {
  color: $darkGrey;
}

a img {
  border: 0;
}

label {
  display: block;
}

.transitional-size {

  h2 {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.25rem;
  }
}

.k-future {

  h1,
  .h1 {
    font-size: 3rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
  }

  h3,
  .h3 {
    font-size: 1.375rem;
  }

  p,
  .p {
    font-size: 1.125rem;
    &--large {
      font-size: 1.5rem;
    }
    &--accent {
      font-size: 1.5rem;
    }
  }

  .button {
    font-size: 1.125rem;

    &--small {
      font-size: 0.75rem;
    }
  }

  table {
    // font-size already set in component
    .button {
      font-size: 1rem;
    }
  }
}

.container {

  &__row {
    margin-bottom: 3em;
  }
}
