@media print {

  html, body {
      font-family: Sans-Serif !important;
      height:100vh;
      margin: 0 !important;
      padding: 0 !important;
      page-break-after: avoid;
      page-break-before: avoid;
      font-size: 14px !important;

  }

  * {
    color: #000 !important;
    position: relative;
    min-height: auto;
    flex: none;
  }

  .header {
    border: none;
    padding-bottom: 12px;
    border-bottom: 1px solid #c2c2c2;

    .logo {
      position: relative;
      margin-top: 20px;
    }

    .header__nav,
    .button,
    .skiplinks {
      display: none;
    }
  }

  .article__header--law {
    padding: 0;
    margin: 0;

    h2 a,
    h3 a {
      padding: 0 0 .5em 0 !important;
      background: none;
    }
    h3 {
      margin-bottom: 1em;
      display: block;
    }

    ul {
      display: none;
    }
  }

  .container,
  .columns,
  .row {
    height: auto !important;
  }

  .columns--sticky-sidebar__sidebar,
  .header__more,
  .row--page-opener,
  .footer,
  .button,
  .hidden-desktop,
  .pagination,
  .to-top,
  .question-explanation {
    display: none !important;
  }

  .columns > * {
    margin-left: 0 !important;
  }

  .article__header--law {
    page-break-inside: avoid;
  }


}
