table {

  width: 100%;
  border-collapse: collapse;

  caption {
    color: $darkerGrey;
    text-align: left;
    padding: .5em 0;
  }

  thead tr th,
  thead tr td {
    border-bottom: 2px solid $lighterGrey;
  }

  tr td,
  tr th {
    border-bottom: 1px solid $lighterGrey;
    padding: $standardPadding;
  }

  th {
    font-weight: 700;
    text-align: left;
    vertical-align: bottom;
  }

  &.table__data-overview {
    th {
      vertical-align: top;
    }
  }

  td {
    font-weight: 400;
    min-width: 15%;
    min-height: 2.5em; /* always have a height, even if field has no content; this is specifically needed on small screens */
  }



  &.table--condensed {
    tr td,
    tr th {
      padding: .25em;
    }
  }

  @media ( min-width: 50em ) {
    &.table--striped {
      tbody tr:nth-child(odd) td,
      tbody tr:nth-child(odd) th {
        background: $lightGrey;
      }

    }

    &.table--hover {
      tbody tr:nth-child(odd):hover,
      tbody tr:nth-child(even):hover {
        background: $lighterGrey;

        td,
        th {
          background: $lighterGrey;
        }
      }
    }
  }
}

@media ( max-width: 50em ) {

  table:not(.table__data-overview),
  &.table--condensed,
  &.table--striped,
  &.table--hover {
    position: relative;

    thead {
      display: none;
    }

    tbody tr:nth-child(odd) td {
      background: transparent;
    }

    tr {
      display: block;
      border: 2px solid $lighterGrey;
      margin: 1em 0;
    }

    th {
      position: absolute;
      left: -999em;
    }

    td {
      width: 50%;
      left: 50%;
      position: relative;
      display: block;
      clear: both;
      border: none !important;

      &:nth-child(odd) {
        background: $lightGrey !important;

        &::before {
          background: $lightGrey !important;
        }
      }

      &:before {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        padding: $standardPadding;
        height: 100%;
        font-weight: 700;
        content: attr(data-before);
      }
    }

    &.table--condensed td::before {
      padding: .25em;
    }
  }
}


