<table class="{{ modifier }}">
<caption>Deze tabel bevat teamleden van KOOP Overheid.nl</caption>
<thead>
  <tr>
    <th>#</th>
    <th>Voornaam</th>
    <th>Achternaam</th>
    <th>Woonplaats</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Alexander</td>
    <td>Fase</td>
    <td>Delft</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Ted van der</td>
    <td>Geest</td>
    <td>Delft</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Ard van der</td>
    <td>Heijden</td>
    <td>Hoog in Nederland</td>
  </tr>
</tbody>
