.homepageblock {
  margin-bottom: 1em;

  background: {
    repeat: no-repeat;
    position: right top;
    size: 100%;
  }

  h2,
  h3 {
    background: $white;
    margin: 0;
    display: inline-block;
    font-size: 1.25rem;
    min-height: 2.5em;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  span {
    color: $white;
    display: block;
    font-size: 1.25rem;
    padding: 0;
    line-height: 1;
  }

  ul {
    margin-top: 1em;
    padding-left: 2em;
    color: $white;


    li {

      a {
        color: $white;
        line-height: 0.5;
        &:hover {
          text-decoration: underline;
        }

        &[rel="external"] {
          background-image: $externalLinkWhiteIcon;
        }
      }
    }
  }

  &.related {

    &--orange {
      @include aspect-ratio(4, 3);
      border: 2px solid $orange;

      .content--inner {
        background: {
          color: rgba( 225, 112, 0, .8 );
          image: $externalLinkWhiteIcon;
          repeat: no-repeat;
          position: 97% .75em;
          size: 2.5em;
        }
      }

      &:hover {
        border: 2px solid lighten( $orange, 10% );


        .content--inner {
          background-color: rgba( 225, 112, 0, .7 );
        }
      }
    }

    &--darkBlue {
      @include aspect-ratio(4, 3);
      border: 2px solid $darkBlue;

      .content--inner {
        background: {
          color: rgba( 21, 66, 115, .8 );
          image: $externalLinkWhiteIcon;
          repeat: no-repeat;
          position: 97% .75em;
          size: 2.5em;
        }
      }

      &:hover {
        border: 2px solid lighten( $darkBlue, 10% );


        .content--inner {
          background-color: rgba( 21, 66, 115, .7 );
        }
      }
    }

    &--lightBlue {
      @include aspect-ratio(4, 3);
      border: 2px solid $mediumBlue;

      .content--inner {
        background: {
          color: rgba( 0, 119, 192, .8 );
          image: $externalLinkWhiteIcon;
          repeat: no-repeat;
          position: 97% .75em;
          size: 2.5em;
        }
      }

      &:hover {
        border: 2px solid lighten( $mediumBlue, 10% );


        .content--inner {
          background-color: rgba( 0, 119, 192, .7 );
        }
      }
    }

    &--primaryBlue {
      border: 2px solid $primaryBlue;

      .content--inner {
        height: calc( 100% - 8em );
        background: {
          color: $primaryBlue;
          image: none;
        }
      }
    }

    .content--inner {
      margin-top: 8em;
      padding: 1em 1em 3em 1em;
      position: relative;

       @media ( max-width: $breakpointDesktop ) {
        margin: 0;
       }

      h2,
      h3 {
        background: transparent;
        color: $white;
        padding: 0;
        font-size: 1.25rem;
        margin-bottom: .5em;
      }

      span {
        font-size: 1.125rem;
      }

      ul {
        padding: 0;
        padding-left: 1em;

        ul {
          margin: 0;
        }

        li {
          padding: .15em 0;
          line-height: 1.25;
        }
      }

      .more-link {
        color: $white;
        position: absolute;
        bottom: 1em;
      }
    }
  }
}
