{{ render "@header" header merge=true }}

<div class="container">

  <div class="columns columns--sidebar-left">
    <div class="column ds-content">

      <div class="hidden-desktop align-right">
        <button class="button button--primary" data-decorator="init-modalsidebar" data-handler="open-modalsidebar"
          data-modal="modal-filter">Navigatie</button>
      </div>

      <div class="row row--spacer">
        <div class="jumbotron jumbotron--highlight">

          <div class="jumbotron__content">

            <div class="jumbotron__heading">
              <p class="jumbotron__subheader">Design system</p>
              <h1 class="jumbotron__header">Content</h1>
              <p class="jumbotron__intro">
                  Op deze pagina vind je meer informatie over redactierichtlijnen binnen KOOP.
              </p>
            </div>

          </div>

        </div>
      </div>

      <article class="row row--xxxlarge">
        <div class="row row--large">
          <h1 id="schrijfwijzer">Schrijfwijzer voor overheid.nl</h1>

          <p>Dit is de schrijfwijzer voor www.overheid.nl. De tekst is gebaseerd op het boek "Taalwijzer voor de overheid" van Eric Tiggeler uit 2000, uitgegeven door Sdu. Deze schrijfwijzer beperkt zich tot stijl en woordkeuze die specifiek met de inhoud van de website www.overheid.nl te maken hebben zoals hoofdlettergebruik en afkortingen van namen van overheidsorganisaties en schrijfwijze van thema's en producten en diensten. De uitzonderingen worden ook beschreven.</p>

          <p>Zaken als aan elkaar, los of met een streepje of woordkeuzekwesties en verdere alledaagse taaltwijfels worden buiten beschouwing gelaten.</p>

          <h2>Hoofdlettergebruik</h2>

          <p>Over het algemeen worden hoofdletters gebruikt in drie gevallen:</p>
          <ul>
            <li>aan het begin van een zin,</li>
            <li>om een eigennaam te markeren en</li>
            <li>om eerbied of respect uit te drukken.</li>
          </ul>

          <p>Een eigennaam is de naam van een unieke persoon, dier of zaak. Bijvoorbeeld: Jolande Sap, Universiteit van Amsterdam, het Interprovinciaal Overleg etc. Het Groene boekje en het woordenboek geven niet altijd aan of een woord met een hoofdletter moet worden geschreven. Er is een tendens om het gebruik van hoofdletters, waar ze gemist kunnen worden, hoe langer hoe meer te beperken.</p>

          <p>De algemene regel is dat bij het eerste woord ALTIJD een hoofdletter wordt gebruikt.</p>

          <h3>Instellingen en instituten</h3>

          <h4>Hoofdwoorden</h4>

          <p>In eigennamen van organisaties krijgen alle hoofdwoorden hoofdletters. Hoofdwoorden zijn alle bijvoeglijke naamwoorden en zelfstandige naamwoorden, maar niet voorzetsels of lidwoorden.</p>

          <h5>Voorbeelden:</h5>
          <ul>
            <li>Inspectie Ontwikkelingssamenwerking en Beleidsevaluatie</li>
            <li>Rijksinstituut voor Milieuzorg</li>
          </ul>

          <h4>Soortnamen</h4>
          <p>Soortnamen (algemene aanduiding van bijvoorbeeld persoon of instelling) krijgen kleine letters (als ze niet het eerste woord zijn). Organisatieaanduidingen als ministerie, dienst, afdeling krijgen een kleine letter.</p>

          <h5>Voorbeelden:</h5>
          <ul>
            <li>het ministerie van Buitenlandse Zaken</li>
            <li>de dienst Externe Betrekkingen</li>
          </ul>

          <p>Aanduidingen als ministerie, provincie of gemeente krijgen in geen geval een hoofdletter als ze zelfstandig worden gebruikt.</p>

          <p>Ook namen van overheidsorganen en bestuurslichamen krijgen een kleine letter (als ze niet het eerste woord zijn):</p>

          <ul>
            <li>gemeente</li>
            <li>griffie</li>
            <li>afdeling</li>
            <li>project</li>
          </ul>

          <h4>Eigennamen</h4>
          <p>Schrijf hoofdletters in de volgende gevallen:</p>

          <ul>
            <li>de Algemene Rekenkamer</li>
            <li>de Eerste Kamer</li>
            <li>de Hoge Raad</li>
            <li>de Kamer</li>
            <li>de Kanselarij der Nederlandse Orden</li>
            <li>de Kroon</li>
            <li>de Nationale ombudsman</li>
            <li>de Raad van State</li>
            <li>de Staten-Generaal</li>
            <li>de Tweede Kamer</li>
            <li>Gedeputeerde Staten</li>
            <li>het Kabinet der Koningin</li>
            <li>het Kabinet van de Gouverneur</li>
            <li>het Koninklijk Huis</li>
            <li>het Koninkrijk der Nederlanden</li>
            <li>het Landelijk Parket</li>
            <li>het Openbaar Ministerie</li>
            <li>het Presidium</li>
            <li>het Rijk</li>
            <li>Provinciale Staten</li>
          </ul>

          <h4>Ministeries</h4>
          <p>Het woord ministerie heeft altijd een kleine letter.</p>

          <p><strong>Uitzonderingen</strong>: bij ondertekening, in adressering, in opschriften en in titelpagina's.
De hoofdwoorden in de naam van het ministerie krijgen wel hoofdletters.</p>

<!--Organisatieonderdelen
De woorden afdeling, directie, project krijgen kleine letters.
De eigenlijke namen van afdelingen en projecten krijgen hoofdletters:
directie Operationele Informatievergaring
bureau Wetgeving
commissiebureau Internationaal beleid
projectgroep Stad en Milieu

Raden, colleges, commissies
Namen van raden, colleges en commissies krijgen bij alle hoofdwoorden hoofdletters:
Centrale Raad van Beroep
Sociaal-Economische Raad

Uitzonderingen op de regel:
de ministerraad
Commissie gelijke behandeling
College voor zorgverzekeringen
college van Gedeputeerde Staten
college van burgemeester en wethouders
gemeenteraad (=algemene aanduiding)

Samenstellingen
Samenstellingen met Kroon, Kamer, Rijk, Staat en Staten worden met een kleine letter geschreven:
kroonlid
rijksbegroting
staatsvermogen

Internationale organen
De namen van internationale organen zijn eigennamen: volg dus bovenstaande schrijfwijze. Over het algemeen krijgen hoofdwoorden hoofdletters:
de Europese Commissie
de Europese Raad
de Verenigde Naties
het Europees Parlement

Bedrijven en instanties
Volg bij eigennamen van bedrijven en instanties de schrijfwijze die de organisaties zelf gebruiken.
Artsen zonder Grenzen
Vrije Universiteit
Publicaties, titels van nota's en rapporten

Als deze worden geciteerd in een tekst komen de citeertitels tussen aanhalingstekens en het eerste woord van de titel krijgt een hoofdletter.
Als het woord nota, rapport, verkenning, plan onderdeel uitmaakt van de titel krijgen alle hoofdwoorden een hoofdletter. Het zetten tussen aanhalingstekens is dan overbodig.
het rapport "De FNV in de jaren negentig"
de Sociale Nota
de Vierde Nota Ruimtelijke Ordening


Tekstsoorten als wet, troonrede hebben een kleine letter (met uitzondering van: Koninklijk Besluit).

Functieaanduidingen

Over het algemeen krijgen functieaanduidingen een kleine letter. Dat geldt ook voor overheidsfuncties en staatsrechtelijke functies.
de directeur
de officier van justitie

Uitzonderingen:
Sommige staatsrechtelijke functieaanduidingen en titels krijgen in het algemene gebruik een kleine letter maar in een beperkt aantal gevallen een hoofdletter. Dat geldt bijvoorbeeld voor koningin/Koningin, minister/Minister en staatssecretaris/Staatssecretaris. Als niet de persoon maar de institutie wordt bedoeld, wordt een hoofdletter gebruikt.

Geografische namen

Geografische namen en toevoegingen daaraan (bijvoorbeeld Noord, Oost, West, Zuid, Midden) krijgen een hoofdletter. Tussen de delen van de samengestelde naam komt een streepje.
Amsterdam-West
Midden-Europa
Oost-Groningen
Zuid-Amerika
Noord-Brabant
De regel gaat niet op als de toevoeging is versmolten met de eigennaam, zoals de Zuidas.

Enkele struikelblokken:
's-Gravenhage. De gemeente gebruikt zelf als officiële naam: Den Haag.
's-Hertogenbosch of Den Bosch. De gemeente gebruikt 's-Hertogenbosch als officiële naam.
Fryslân. De officiële naam voor Friesland.

Namen van producten, diensten, onderwerpen, thema's

De namen van producten, diensten en thema's of onderwerpen worden over het algemeen met 1 hoofdletter geschreven.

Producten/diensten
Ontheffing voor verplichte milieueffectrapportage
Mededelingsplicht producent of importeur van batterijen
Kwaliteitskaarten 2002 voortgezet onderwijs
Thema's en onderwerpen
Archeologische monumenten in Nederland
Gezond op reis
Nieuwe kentekenplaten
Werkwoorden

Woordvolgorde
zet het hulpwerkwoord vóór het voltooid deelwoord, dus: zij moeten worden uitgenodigd.

Hebben en zijn
gebruik de vervoeging tweede persoon: u hebt, u bent.
Afkortingen
Afkortingen moeten zo spaarzaam mogelijk worden gebruikt. Namen van organisaties op Overheid.nl zijn echter ook vaak ingeburgerd onder de naam van de afkorting, bijvoorbeeld SVB of CDA. Regel is dat alle namen ALTIJD voluit worden geschreven en pas daarna de afkorting tussen haakjes komt te staan.
Bij afgekorte namen van organisaties is de algemene regel dat de afkortingsletter met een hoofdletter wordt geschreven als de uitgeschreven vorm ook een hoofdletter heeft. Voorbeelden:
Immigratie- en Naturalisatiedienst (IND)
Algemene Inlichtingen- en Veiligheidsdienst (AIVD)
Partij van de Arbeid (PvdA)
Nederlandse Mededingingsautoriteit (NMa)
Aanbevelingen voor het schrijven van teksten op het web
Teksten op een website worden anders gelezen dan schriftelijke teksten. De websitegebruiker neemt heel weinig tijd en gaat vaak diagonaal door een tekst heen. Teksten op websites zien er daarom als het goed is anders uit dan schriftelijke teksten. Voor Overheid.nl is steeds uitgegaan van de volgende aanbevelingen:
zorg dat ieder scherm een afgerond geheel vormt;
behandel één onderwerp per scherm;
schrijf korte teksteenheden van maximaal 150 woorden;
schrijf maximaal 15 regels per scherm;
begin waar mogelijk met een nieuwe alinea;
gebruik korte zinnen, maximaal 10 woorden;
vermijd bijvoeglijke naamwoorden of andere toevoegingen;
schrijf getallen altijd met cijfers;
maak in de eerste zin duidelijk waarover het tekstblok gaat;
zorg ervoor dat de laatste zin een logische afsluiting van de tekst vormt;
open nooit met een lange tekst;
plaats hyperlinks in logische reeks (van abstract naar concreet of andersom);
gebruik subkopjes en opsommingstekens;
gebruik betekenisvolle koppen;
gebruik bij voorkeur geen cursieve letter;
schrijf geen woorden of teksten in uitsluitend hoofdletters;
let op de webrichtlijnen voor toegankelijk schrijven: http://www.webrichtlijnen. nl/.


          -->
        </div>
      </article>


  </div>

  <div class="column column--sidebar">


    {{render "@nav" navMenuContext }}
    {{render "@nav" navContentContext }}

    <button type="button" data-handler="close-modalsidebar" class="modal-sidebar__close">
      <span class="visually-hidden">Sluiten</span>
    </button>

    <a href="#" class="to-top" data-decorator="to-top" title="Terug naar de bovenkant van de pagina">Naar boven</a>
  </div>
</div>

{{ render "@footer" }}
