{{ render "@header" header merge=true }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>


<div class="container">

  <div class="row row--spacer">
    <div class="jumbotron jumbotron--highlight">

      <div class="jumbotron__content">

        <div class="jumbotron__heading jumbotron__heading--centered">
          <p class="jumbotron__subheader">KOOP</p>
          <h1 class="jumbotron__header">Design system</h1>
          <p class="jumbotron__intro">
              ## omschrijving
          </p>
        </div>

      </div>

    </div>
  </div>

  <article class="row">

      <div class="columns">
        <div>
          <h2>Content</h2>
          <p>omschrijving</p>
          <p><a href="#">View content guidelines</a></p>
        </div>
        <div>
          <h2>Design</h2>
          <p>omschrijving</p>
          <p><a href="#">View content guidelines</a></p>
        </div>
        <div>
          <h2>Components</h2>
          <p>omschrijving</p>
          <p><a href="#">View content guidelines</a></p>
        </div>
        <div>
          <h2>Patterns</h2>
          <p>omschrijving</p>
          <p><a href="#">View content guidelines</a></p>
        </div>

      </div>

    </article>

</div>

{{ render "@footer" }}
