.collapsible {
  display: block;

  .collapsible__header {
    a {
      display: inline-block;
      padding: $standardPadding;
      text-decoration: none;
      padding-left: 1em;
      color: $black;

      font: {
        weight: 400;
        size: 110%;
      }

      background: {
        repeat: no-repeat;
        position: left 50%;
        size: 11px;
        color: transparent;
        image: $plusIcon;
      };

      &:hover {
        text-decoration: underline;
      }

      &[aria-expanded="true"] {
        background-image: $minusIcon;
      }
    }
  }

  .collapsible__content {
    margin: 0 1em;
  }

  &--small {
    .collapsible__header {
      a {
        padding: 0 0 0 1em;
        
        font: {
          size: 100%;
        }

        background: {
          size: 10px;
          position: 0 50%;
        }
      }
    }
  }

  &--primary {
    .collapsible__header {
      a {
        color: $darkBlue;
        font-size: 1.5em;
        background-position: right 50%;
        background-size: 18px;
        background-image: $plusShapeIcon;
        padding-left: 0;
        width: 100%;

        &[aria-expanded="true"] {
          background-image: $minusShapeIcon;
        }
      }
    }

    .collapsible__content {
      margin: 0;
    }
  }
}

.article__header--law  {
  .collapsible .collapsible__header a {
    padding: 0 0 0 15px;
    font-size: .95em;
    background-size: 12px;
  }
}
