.collapsible {
  display: block;

  .collapsible__header {
    a {
      display: block;
      padding: $standardPadding;
      text-decoration: none;
      font: {
        family: $defaultSerifFontFamily;
        weight: 400;
        size: 110%;
      }
      padding-left: 1em;
      background: {
        image: $plusIcon;
        repeat: no-repeat;
        position: 0 55%;
        size: 0.75em;
      }
      color: $black;

      &:hover {
        text-decoration: underline;
      }

      &[aria-expanded="true"] {
        background: {
          image: $minusIcon;
          repeat: no-repeat;
          position: 0 55%;
        }
      }
    }
  }

  .collapsible__content {
    border-top: 1px solid $lightGrey;
    margin: 0 1em;
  }

  &--small {
    .collapsible__header {
      a {
        padding: 0 0 0 1em;
        font: {
          family: $defaultFontStack;
          size: 100%;
        }
        background: {
          size: 10px;
          position: 0 50%;
        }
      }
    }
  }
}

.article__header--law  {
  .collapsible .collapsible__header a {
    padding: 0 0 0 15px;
    font-family: $defaultFontStack;
    font-size: .95em;
    background-size: 12px;
  }
}
