.header {
  border-bottom: .5em solid $headerBorderColor;
  position: relative;

  .skiplinks {
    position: relative;
    a {
      position: absolute;
      left: -999em;
      top: -2em;

      &:focus {
        left: 15em;
        background: $white;
        color: $darkBlue;
      }
    }
  }

  ul,
  p {
    margin: 0;
    padding: 0;
  }

  ul {
    display: inline-block;
    vertical-align: bottom;
  }

  li {

    @media ( min-width: 50em ) {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  &__start {
    background-color: $white;
    padding: .5em;
    position: relative;
    z-index: 2;

    @media ( min-width: 50em ) {
      padding: 1em;
    }

    button {
      float: right;
      position: relative;
      z-index: 1;
    }
  }

  &__nav {
    background-color: $headerBackgroundColor;
    position: relative;

    > .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative; // provide positioning context

      @media ( min-width: 50em ) {
        flex-direction: row;
      }
    }

    ul {
      display: flex;
      flex-direction: column;

      @media ( min-width: 50em ) {
        flex-direction: row;
      }
    }

    a {
      color: $headerLinkColor;
      text-decoration: none;
      padding: .75em 1em;
      display: block;
      font-size: 112.5%;

      &:hover {
        color: $headerLinkCurrentColor;
        background-color: $headerBorderColor;
      }

      &[href*="//"]:not(.button),
      &[rel="external"] {
        background-image: none;
        margin-right: 0;
      }

      &.is-active {
        background: $headerLinkCurrentColor;
        color: $lightBlue;
      }
    }

    [data-handler="toggle-other-sites"] {
      color: $headerLinkCurrentColor;
      position: relative;
      margin: 0 -1em;
      padding: .75em 2em;
      z-index: 0;
      background: {
        color: $white;
        image: $dartDownIcon;
        repeat: no-repeat;
        position: right .75em center;
      };

      @media ( min-width: 50em ) {
        margin: 0;
        padding: .75em 2em .75em 1em;
      }

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: .5em;
        width: 100%;
        background-color: $white;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
      }

      &:hover {
        background-color: $white;

        &::before {
          opacity: 1;
        }
      }
    }

    [aria-controls="other-sites"][aria-expanded="true"] {
      background-image: $dartTopIcon;

      &::before {
        opacity: 1;
        z-index: 0;
      }
    }
  }

  &__nav--closed {
    display: none;
    z-index: -1;

    @media ( min-width: 50em ) {
      display: block;
      z-index: auto;
    }
  }

  &__more {
    overflow-y: hidden;

    .container {
      padding-top: 1em;
      padding-bottom: 1em;
      display: flex;
      flex-direction: column;

      @media ( min-width: 50em ) {
        flex-direction: row;
        animation: openNav 0.8s cubic-bezier(0, 0.47, 0.58, 1);
      }

      div {
        flex: 1;
        padding-right: 2em;
      }
    }

    &[hidden="true"] .container {
      animation: closeNav 0.8s ease-in-out;
    }
  }
}

@keyframes openNav {

    0% {
      transform: translateY( -100% );
      margin-top: -100%;
    }

    1% {
      z-index: -1;
    }

    100% {
      transform: translateY( 0 );
      z-index: 1;
      margin-top: 0;
    }
}

@keyframes closeNav {

    0% {
      transform: translateY( 0 );
      z-index: 1;
      opacity: 1;
      margin-top: 0;
      position: static;
    }

    99% {
      z-index: -1;
    }

    100% {
      opacity: 0;
      transform: translateY(-100%);
      position: absolute;
      margin-top: -100%;
    }
}
