.header {
  border-bottom: .5em solid $headerBorderColor;

  ul,
  p {
    margin: 0;
    padding: 0;
  }

  ul {
    display: inline-block;
    vertical-align: bottom;
  }

  li {

    @media ( min-width: 50em ) {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  &__start {
    background-color: $white;
    padding: .5em;
    position: relative;
    z-index: 2;

    @media ( min-width: 50em ) {
      padding: 1em;
    }

    button {
      float: right;
      position: relative;
      z-index: 1;
    }
  }

  &__nav {
    background-color: $headerBackgroundColor;
    animation: openNav 0.8s ease-in-out;
    position: relative;

    @media ( min-width: 50em ) {
      animation: none;
    }

    > .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media ( min-width: 50em ) {
        flex-direction: row;
      }
    }

    ul {
      display: flex;
      flex-direction: column;

      @media ( min-width: 50em ) {
        flex-direction: row;
      }
    }

    a {
      color: $headerLinkColor;
      text-decoration: none;
      padding: .5em 1em;
      display: block;

      &:hover {
        color: $headerLinkCurrentColor;
        background-color: $headerBorderColor;
      }

      &[href*="//"]:not(.button),
      &[rel="external"] {
        background-image: none;
        margin-right: 0;
      }

      &.is-active {
        background: $headerLinkCurrentColor;
        color: $lightBlue;
      }
    }

    [data-handler="toggle-other-sites"] {
      background-color: $white;
      color: $headerLinkCurrentColor;
      position: relative;
      margin: 0 -1em;
      padding: .5em 1.5em;
      z-index: 0;

      @media ( min-width: 50em ) {
        margin: 0;
        padding: .5em;
      }

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: .5em;
        width: 100%;
        background-color: $white;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
      }

      &:hover {
        background-color: $white;

        &::before {
          opacity: 1;
        }
      }
    }

    [aria-expanded="true"] {

      &::before {
        opacity: 1;
        z-index: 0;
      }
    }
  }

  &__nav--closed {
    display: none;
    z-index: -1;

    @media ( min-width: 50em ) {
      display: block;
      z-index: auto;
    }
  }

  &__more {
    overflow-y: hidden;

    .container {
      padding-top: 1em;
      padding-bottom: 1em;
      display: flex;
      flex-direction: column;
      animation: openNav 0.8s ease-in-out;

      @media ( min-width: 50em ) {
        flex-direction: row;
      }

      div {
        flex: 1;
        padding-right: 2em;
      }
    }

    &[hidden="true"] {
      display: block;
      position: absolute;
      top: -9999em;
    }

    &[hidden="true"] .container {
      animation: closeNav 0.8s ease-in-out;
    }
  }
}

@keyframes openNav {

    0% {
      display: none;
      transform: translateY( -100% );
      margin-top: -100%;
    }

    1% {
      display: block;
      z-index: -1;
    }

    100% {
      transform: translateY( 0 );
      z-index: 1;
      margin-top: 0;
    }
}

@keyframes closeNav {

    0% {
      transform: translateY(0);
      z-index: 1;
      opacity: 1;
      margin-top: 0;
      position: static;
      display: block;
      background-color: blue;
    }

    99% {
      z-index: -1;
      opacity: 0.1;
    }

    100% {
      opacity: 0;
      display: none;
      transform: translateY(-100%);
      position: absolute;
      margin-top: -100%;
    }
}
