.subselection {
    min-width: 120px;
    display: inline-block;

    &--fixed {
      float: right;
    }

    &__summary {
      display: block;

      span {
        @extend .form__selectedfilter;
        padding-right: .75em;
      }
    }
  }
