.subselection {

    &--fixed {
      float: right;
    }

    &__summary {
      display: block;

      span {
        @extend .form__selectedfilter;
        @extend .group;
        padding-right: .75em;
      }
    }
  }
