{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container columns columns--sidebar-left row">
  <div>
    <h1>NFP wijzigingspakket 2018-1</h1>

    <h2>Reageren op consultatie</h2>



    {{ render "@steps" stepsContext3 }}

    <p>
      Een e-mailadres kan maar één keer gebruikt worden per consultatie. Na het versturen van uw reactie krijgt u een
      bevestiging
      toegestuurd naar het e-mailadres dat u hier opgeeft. In deze bevestigingsmail staat een link naar de consultatie
      website
      die u moet aanklikken om uw reactie te bevestigen. Het is daarom van belang dat u hier uw e-mail adres juist
      invult.
    </p>



    <form>
      <fieldset class="form__element">
        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">E-mailadres</label>

            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting email
              </a>

              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">


                <p>Uitleg</p>

                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerTitel" class="form__error"
            style="display:none;"></p>
        </div>
        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Herhaal e-mailadres</label>

            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud1"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting email
              </a>

              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud1"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">


                <p>Uitleg</p>

                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
          <p id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_valideerTitel" class="form__error"
            style="display:none;"></p>
        </div>

        <div class="form__chapter__heading">
          <h2 class="">Persoonlijke gegevens</h2>
          <div class="question-explanation">
            <a href="../../Controls/Zoeken/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfoZoekenOpWoordOfZinsdeel"
              id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_ctl02" class="question-explanation__link"
              data-handler="toggle-explanation">Toelichting zoeken op woord of zinsdeel</a>
            <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfoZoekenOpWoordOfZinsdeel"
              class="question-explanation__content" data-decorator="hide-self" hidden="true">
              <p>uitleg</p>
              <a href="../../Controls/Zoeken/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_ctl02"
                class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
            </div>
          </div>
        </div>

        <p>
          Bij een consultatie is anoniem reageren niet toegestaan. Daarom dient u hier uw naam en adres op te geven. Uw
          gegevens worden
          gebruikt voor het verwerken van de inzending. Meer informatie vindt u in het privacy reglement.
        </p>
        <p>
          Uw reactie wordt onder vermelding
          van uw organisatienaam of voorletter, achternaam en plaats gepubliceerd op de website. Als u daar bezwaar
          tegen heeft kunt
          u hieronder aangeven dat u niet wilt dat uw bijdrage wordt gepubliceerd. Uw reactie wordt in dat geval niet
          gepubliceerd,
          behoudens de verantwoordelijkheid van de overheid op grond van een wettelijke informatieverplichting of
          rechterlijke uitspraak.
        </p>

        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Titel</label>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
        </div>

        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Voorletters*</label>
            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud2"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting voorletters
              </a>
              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud2"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">
                <p>Uitleg</p>
                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input input--small" placeholder="">
          </div>
        </div>

        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Achternaam*</label>
            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud3"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting achternaam
              </a>
              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud3"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">
                <p>Uitleg</p>
                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
        </div>

        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Bedrijfsnaam</label>
            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud4"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting bedrijfsnaam
              </a>
              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud4"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">
                <p>Uitleg</p>
                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
        </div>

        <div class="form__element">
          <div class="form__element__label">
            <label for="ZoekOp_Titel">Plaats*</label>
            <div class="question-explanation">
              <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud5"
                id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00" class="question-explanation__link"
                data-handler="toggle-explanation">
                Toelichting plaats
              </a>
              <div id="ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_Inhoud5"
                class="question-explanation__content" data-decorator="hide-self" hidden="true">
                <p>Uitleg</p>
                <a href="../../Controls/Algemeen/#ctl00_ctl00_cphContent_zoekpaginaContent_ZoekformulierUitgebreid_InfZoekenInDeTitel_ctl00"
                  class="question-explanation__close" data-handler="close-explanation">Sluiten</a>
              </div>
            </div>
          </div>
          <div class="form__element__inputs">
            <input type="text" id="" class="input" placeholder="">
          </div>
        </div>

        <p>
          Velden met * zijn verplicht
        </p>


        <div class="form__chapter__heading">
          <h2 class="">Instellingen</h2>
        </div>

        <fieldset class="form__element checkboxgroup inline-group">
          <legend class="visually-hidden">Instellingen</legend>

          <ul class="list--unstyled">
            <li>
              <label for="">
                <input id="" type="checkbox" name="">Ik wil bericht ontvangen van het verloop van de consultatie.
              </label>
            </li>
            <li>
              <label for="">
                <input id="" type="checkbox" name="">Ik ga er mee akkoord dat mijn reactie openbaar is.
              </label>
            </li>
            <li>
              <label for="">
                <input id="" type="checkbox" name="">Ik heb de <a href="#">algemene voorwaarden</a> gelezen en ik ga
                hiermee akkoord.
              </label>
            </li>
          </ul>
        </fieldset>







      </fieldset>
      <div class="form__buttons">
        <button type="submit" class="button button--primary">Vorige</button>±
        <button type="submit" class="button button--primary">Verder</button>
      </div>
    </form>


  </div>
  <div>
    <div class="well">
      <form>
        <fieldset class="form__element">
          <legend class="form--intro">Zoeken</legend>
          <div class="">
            <label for="emailadres" class="visually-hidden">Zoeken op</label>
            <input type="text" id="emailadres" placeholder="Zoekterm voor wet, amvb">
          </div>
        </fieldset>
        <button type="submit" class="button button--primary">Zoeken</button>
      </form>
      <a href="#" class="link link--forward">Zoek uitgebreid</a>
    </div>
    <p>
      <a href="#" class="link link--back">Startpagina</a>
    </p>
    <ul class="list list--linked">
      <li><a href="#">Consultatiegegevens</a></li>
      <li><a href="#">Reacties op consultatie (0)</a></li>
    </ul>
  </div>
</div>

</div>

{{ render "@footer" }}