{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumbContext }}
  </div>
</div>

<div class="container columns columns--sidebar-left row">
  <div>
    <h1>Zoeken</h1>

    <div class="form__element">
      <div class="form__element__label">
        <label for="ZoekOp_Overheidsdomein">Zoek op woord of zinsdeel</label>
      </div>
      <div class="form__element__inputs">
        <input name="ctl00$ctl00$cphContent$zoekpaginaContent$ZoekformulierUitgebreid$ZoekOp_Kamerstuknummer" type="text"
          id="ZoekOp_Kamerstuknummer" class="input">
        <div class="checkboxgroup  ">
              <input id="ZoekOp_TitelExact" type="radio" name="ctl00$ctl00$cphContent$zoekpaginaContent$ZoekformulierUitgebreid$ZoekOp_TitelExact"
                  checked="checked">
              <label for="ZoekOp_TitelExact">
                Alleen in de titel
              </label>
              <input id="ZoekOp_TitelAfkorting" type="radio" name="ctl00$ctl00$cphContent$zoekpaginaContent$ZoekformulierUitgebreid$ZoekOp_TitelAfkorting">
              <label for="ZoekOp_TitelAfkorting">
                  In de titel en tekst
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="form__element">
      <div class="form__element__label">
        <strong>Datum</strong>
      </div>
      <div class="form__element__inputs">
        <div class="form__row">
          <label for="ZoekOp_Overheidsdomein">van</label>
          <div class="datepicker">
            <input type="date" class="datepicker__input" data-decorator="init-datepicker" id="input--1" placeholder="dd/mm/yyyy" />
          </div>
        </div>
        <div class="form__row">
          <label for="ZoekOp_Overheidsdomein">t/m</label>
          <div class="datepicker">
            <input type="date" class="datepicker__input" data-decorator="init-datepicker" id="input--2" placeholder="dd/mm/yyyy" />
          </div>
        </div>
      </div>
    </div>

    <div class="form__element">
      <div class="form__element__label">
        <label for="ZoekOp_Overheidsdomein">Organisatie</label>
      </div>
      <div class="form__element__inputs">
        <select>
          <option>Selecteer type...</option>
          <option>Ministerie A..</option>
          <option>Ministerie B..</option>
        </select>
      </div>
    </div>

    <div class="button--bar">
      <input type="submit" name="asd" value="Uitgebreid zoeken" id="asd" class="button button--primary">
    </div>

  </div>

  <div>
    <div class="well">
      <form>
        <fieldset class="form__element">
          <legend class="form--intro">Zoeken</legend>
          <div class="">
            <label for="emailadres" class="visually-hidden">Zoeken op</label>
            <input type="text" id="emailadres" placeholder="Zoekterm voor wet, amvb">
          </div>
        </fieldset>
        <button type="submit" class="button button--primary">Zoeken</button>
      </form>
      <a href="#" class="link link--forward">Zoek uitgebreid</a>
    </div>
    <p>
      <a href="#" class="link link--back">Startpagina</a>
    </p>
  </div>
</div>



</div>

{{ render "@footer" }}