{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container columns columns--sidebar-left row">
  <div>
    <h1>NFP wijzigingspakket 2018-1</h1>

    <h2>Reageren op consultatie</h2>

    {{ render "@steps" stepsContext }}

  </div>
  <div>
    <div class="well">
      <form>
        <fieldset class="form__element">
          <legend class="form--intro">Zoeken</legend>
          <div class="form__element">
            <label for="emailadres" class="visually-hidden">Zoeken op</label>
            <input type="text" id="emailadres" placeholder="Zoekterm voor wet, amvb">
          </div>
        </fieldset>
        <button type="submit" class="button button--secondary">Zoek in Wetgevingskalender</button>
      </form>
    </div>
    <p>
      <a href="#" class="link link--back">Startpagina</a>
    </p>
    <ul class="list list--linked">
        <li><a href="#"><strong>Wetgeving in wording</strong></a></li>
        <li><a href="#">Inwerkingtredingen</a></li>
        <li><a href="#">Implementatie EU-richtlijnen</a></li>
      </ul>
  </div>
</div>

</div>

{{ render "@footer" }}
