<div class="footer row--footer" role="contentinfo">
  <div class="container columns">
    <div>{{ render "@list" listContext1}}</div>
    <div>{{ render "@list" listContext2}}</div>
    <div>{{ render "@list" listContext3}}</div>
    <div>{{ render "@list" listContext4}}</div>
  </div>
</div>
