.alert {
  border: 0;
  border-radius: 0;

  &--info {
    background-color: $lightBlue;
    background-image: $infoIconBlue;
  }

  &--warning {
    background-color: lighten($lightRed,7);
    background-image: $iconCrossRed;
  }
}
