.alert {
  margin: 0 0 1.5em 0;
  border: 0;
  border-radius: 0;
  padding: 1.15em 1.15em 1.15em 3.5em;
  line-height: 1.25em;

  h2, h3 {
    font-size: 1em;
  }

  &--info {
    background-color: $lightBlue;
    background-image: $infoIconBlue;

    h2, h3, h4 {
      color: $darkBlue;
    }
  }

  &--warning {
    background-color: lighten($lightRed,7);
    background-image: $iconAlertRed;
    background-size: 1.5em;
    background-position: 1em 1em;
  }
  &--update {
    background-position: 1em 1.75em;

    h2,h3 {
      font-size: 1.5em;
      line-height: 1.5em;
      margin: 0 0 .5em;
    }
  }
  &--update &__inner {
    padding-top: 1.25em;
  }
}

.jumbotron {
  .alert {
    &--success {
      border: 2px solid $green;
    }
    &--warning {
      border: 2px solid $red;
    }
  }
}
