.button {
  font-size: 1.125em;
  margin-right: 0;
  border-radius: .25em;
  border-color: $darkBlue;

  color: $darkBlue;
  // background-color: $darkBlue;

  // transition: none;

  // padding: .75em .675em;
  padding-top: .75em;
  padding-bottom: .75em;

  &:not(.button--icon-*, .button--erase, .button--doubleline, .button--share, .button--icon-refreshdocuments-white, .button--icon-download-white, .button--icon-hamburger, .button--icon-down, .button--icon-top, .button--icon-left, .button--icon-right) {
    // padding-left: .675em;
    // padding-right: .675em;
  }

  &:hover {
    box-shadow: 0 0 0.75em rgba(21,66,115,0.4);
    background-color: white;
    color: $darkBlue;
  }

  &.block-element {
    padding-left: 1em;
    padding-right: 1em;
  }

  & + .button {
    margin-left: .75em;
  }

  &--large {
    padding-top: .95em;
    padding-bottom: .95em;
  }

  &--primary {
    color: white;

    &:hover {
      background-color: $darkerBlue;
      color: white;
    }
  }

  &--inversed {
    color: $white;
  }

  &--secondary,
  &--secendary {
    color: $darkBlue;
    background-color: white;
  }

  &--tertiary {
    border-color: transparent !important;
    color: $darkBlue;
    background-color: $lightBlue;

    &:hover {
      background-color: $lightBlue;
    }
  }

  &--share {
    border: none;
  }

  &--arrowed {
    background-image: $arrowCTAWhiteIcon;
    background-repeat: no-repeat;
    background-position: right .625em center;
    padding-right: 3em !important;
    position: relative;
    text-align: left;

    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 60%;
      top: 20%;
      right: 2.25em;
      background: white;
    }
  }
}
