.button {
  font-size: 1em;
  margin-right: 0;
  border-radius: .25em;
  border-color: $darkBlue;
  color: $darkBlue;
  padding-top: .9em;
  padding-bottom: .8em;
  // padding: .75em;

  &:hover {
    box-shadow: 0 0 0.75em rgba(21,66,115,0.4);
    background-color: white;
    color: $darkBlue;
  }
  &:active {
    box-shadow: 0 0 0.5em rgba(21,66,115,0.2);
  }

  &--text[href] {
    text-decoration: underline;
  }

  &--text[href]:hover {
    text-decoration: underline;
    color: $primaryBlue;
  }

  &-texticon {
    text-decoration: underline;
    color: $darkBlue;
    padding: 0.125em 0 0.125em 1.5em;
    border: 0;
    font-weight: normal;
    margin-right: 1em;

    &:hover {
      box-shadow: none;
    }

    &--marker {
      background: $markerBlueIcon no-repeat left center;
      background-size: .75em;
    }
  }

  &--block {
    display: block;
    width: 100%;
    text-align: center;
  }

  &--slim {
    padding-right: .75em;
    padding-left: .75em;
    padding-top: .55em;
    padding-bottom: .55em;
    font-weight: normal;
  }

  &.block-element {
    padding-left: 1em;
    padding-right: 1em;
  }



  & + .button {
    margin-left: .75em;
  }

  &--large {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  &--primary {
    color: white;

    &:hover {
      background-color: $darkerBlue;
      color: white;
    }
  }
  &--primary {
    &.icon-bg {
      &:after {
        background: white;
      }
    }
  }

  &--inversed {
    color: $white;
  }

  &--secondary,
  &--secendary {
    color: $darkBlue;
    background-color: white;
  }

  &--tertiary {
    border-color: transparent !important;
    color: $darkBlue;
    background-color: $lightBlue;

    &:hover {
      background-color: $lightBlue;
    }
  }

  &--share {
    border: none;
  }

  &--arrowed {
    background-image: $arrowCTAWhiteIcon;
    background-repeat: no-repeat;
    background-position: right .625em center;
    padding-right: 3em !important;
    position: relative;
    text-align: left;

    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 60%;
      top: 20%;
      right: 2.25em;
      background: white;
    }
  }

  &--bin {
    background-image: $removeBlueIcon;
    padding-right: 3.75em;
    background-position: right .5em center;
    @media ( min-width: $breakpointDesktop ) {
      background-position: right .75em center;
    }
    background-repeat: no-repeat;

    &:after {
      content: "";
      position: absolute;
      right: 2.75em;
      top: .6em;
      bottom: .6em;
      width: 1px;
      background: $darkBlue;
    }
  }

  &--ctaright {
    background-image: $arrowCTAIcon;
    padding-right: 3.75em;
    background-position: right .9em center;
    @media ( min-width: $breakpointDesktop ) {
      background-position: right .9em center;
    }
    background-repeat: no-repeat;

    &:after {
      content: "";
      position: absolute;
      right: 2.75em;
      top: .6em;
      bottom: .6em;
      width: 1px;
      background: $darkBlue;
    }
  }

  &--logout {
    @extend .icon-bg--logout;
    padding-right: 3.75em;
    background-position: right .5em center;
    @media ( min-width: $breakpointDesktop ) {
      background-position: right .75em center;
    }
    background-repeat: no-repeat;

    &:after {
      content: "";
      position: absolute;
      right: 2.75em;
      top: .6em;
      bottom: .6em;
      width: 1px;
      background: $darkBlue;
    }
  }

  &--profile {
    @extend .icon-bg--profile;
    background-size: 1.25em;
    background-position: right .8em center;
    color: $darkBlue;
    padding-right: 3.75em;

    &:after {
      content: "";
      position: absolute;
      right: 2.75em;
      top: .6em;
      bottom: .6em;
      width: 1px;
      background: $darkBlue;
    }
  }

}
