.collapsible {
  margin: 0 0 1em 0;

  .collapsible__header {

    a {
      padding: 0 0 0 2em;
      color: #154273;
      line-height: 1.2em;
      text-decoration: underline;
      background: $plusShapeIcon no-repeat left top .1em;

      &[aria-expanded=true] {
        background: $minusShapeIcon no-repeat left -1px top .5em;
      }
    }
  }

  .collapsible__content {
    margin: 0 0 .5em 2em;
    padding-top: .75em;
  }
}
