.collapsible {
  margin: 0 0 1em 0;

  .collapsible__header {

    a {
      padding: 0 0 0 2em;
      color: #154273;
      line-height: 1.2em;
      text-decoration: underline;
      background: $iconPlusFilledBlue no-repeat left top -.1em;

      &[aria-expanded=true] {
        background-image: $iconMinFilledBlue;;
      }
    }
  }

  &--small {
    .collapsible__header {
      a {
        padding-left: 1.5em;
        background: {
          size: 1em;
          position: left top .05em;
        }
      }
    }
    .collapsible__content {
      margin-left: 1.5em;
    }
  }

  .collapsible__content {
    margin: 0 0 .5em 2em;
    padding-top: .75em;
  }
}
