.columns {
  &--sidebar {
    &__sidebar {
      > div {
        padding-top: 1em;
        @media ( min-width: $breakpointDesktop ) {
          padding-top: 0;
        }
      }
    }
  }

  &--sticky-sidebar {

    > .columns--sticky-sidebar__sidebar {
      padding-left: 0;
      // padding-right: 0;


      > div:not(.modal-sidebar) {
        padding-top: 1em;
      }


      @media ( min-width: $breakpointDesktop ) {
        border: 1px solid transparent;
        border-right: 1px solid $lighterGrey;
        // top: 1.8em;
        padding-top: 0;

        > div:not(.modal-sidebar) {
          padding-top: 0;
        }


        &.is-sticky {

        }

        .nav-sub {
          margin-right: -1em;
          border-right: 0;
        }
      }

    }
  }
}
