.row.row--page-opener ~ .documentbanner {
  margin-top: -1.5em;
}
.documentbanner {
  @extend .container;
  font-size: 1em;
  position: relative;
  padding-left: 2em;
  margin-bottom: 2em;

  @media (min-width: $breakpointDesktop) {
    padding: 2em 0;
    margin-bottom: 2em;
    border-bottom: 1px solid $lightGrey;
    align-items: center;
  }

  &__logo {
    padding: 0;
    @media (min-width: $breakpointDesktop) {
      flex: 0 0 21em;
      margin-right: 2em;
    }
    img {
      max-height: 250px;
    }
  }

  &__content {
    flex: 0 0 calc( 100% - 23em);
    overflow-x: auto;
    padding-top: 0;

    table,
    .table,
    .table__container {
      border: 0;
      outline: 0;
      margin: 0;
    }

    h1 {
      margin: 0;
      @media (min-width: $breakpointDesktop) {
        margin-bottom: .5em;
      }
    }
  }
}
