// much needed;
h1,h2,h3,h4,p {
  margin-top: 0;
}

h1,
.h1 {
  margin-bottom: em(12);
  font-size: 2.25rem;
  line-height: 2.25rem;
  @media (min-width: 50em) {
    font-size: 3rem;
    line-height: 3rem;
  }

  &--slim {
    margin-bottom: 0.25em;
  }

  &__sub {
    font-size: 1.5rem;
  }
}

h2,
.h2 {
  font-size: 2rem;
}

p {
  margin-bottom: em(16);

  &.pre-h {
    margin-bottom: 0.5em;
    font-size: 1.25rem;
  }
}

p {
  &__intro {
    font-size: 1.125em;
  }
}
