// much needed;
h1,h2,h3,h4,h5,h6 {
  color: $darkBlue;
}

h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
}

h1,
.h1 {
  font-size: em(24);
  margin-bottom: 0.625em;
  line-height: 1.1em;
  margin-top: 0;

  @media (min-width: $breakpointDesktop) {
    font-size: em(43);
    line-height: 1em;
  }

  &--slim {
    margin-bottom: 0.25em;
  }

  &--small {
    @extend .h2;
  }
}

h2,
.h2 {
  font-size: em(20);
  margin-bottom: 0.625em;
  line-height: 1em;
  @media (min-width: $breakpointDesktop) {
    font-size: em(29);
    line-height: em(20);
  }
  &--slim {
    margin-bottom: 0.25em;
    margin-top: 0;
  }
}

h3,
.h3 {
  font-size: em(18);
  line-height: 1em;
  margin-bottom: 1em;
  @media (min-width: $breakpointDesktop) {
    font-size: em(22);
  }
}

h4,
.h4 {
  margin-bottom: 0.5em;
  font-size: 1em;
  font-style: normal;
}

h5,
.h5 {
  font-style: italic;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-size: 1em;
}

h6,
.h6 {
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: normal;
}

p {
  margin-bottom: em(16);

  &.pre-h {
    margin-top: -1em;
    margin-bottom: .5em;
    font-size: 1.25rem;
    font-style: italic;
  }
}

p+h2,
ul+h2,
ol+h2,
p+h3,
ul+h3,
ol+h3,
p+h4,
ul+h4,
ol+h4 {
  margin-top: 1.5em;
}


p {
  &__intro {
    font-size: 1.125em;
  }
}

.docRegelingOpschrift {
  @extend .h1;
}
.docHoofdstuk {
  @extend .h2;
}
.docTitel {
  @extend .h3;
  font-size: em(18);
}
.docAfdeling {
  @extend .h3;
  font-size: em(18);
}
.docParagraaf {
  @extend .h5;
  font-weight: bold;
}
.docSubparagraaf {
  @extend .h5;
  font-weight: bold;
}
.docSubsubparagraaf {
  @extend .h5;
  font-weight: bold;
}
.docArtikel {
  @extend .h4;
  font-weight: bold;
  font-style: normal;
}
.docDivisie {
  font-style: italic;
}

.docFormeleInhoud {
  @extend .h4;
  font-weight: bold;
}
.docFormeleDivisie {
  @extend .h4;
  font-weight: bold;
}

.docTussenkop {
  @extend .h4;
  font-style: italic;
  font-weight: normal;
}

/* === legacy.css */



// #broodtekst a,#broodtekst a em,#broodtekst a strong,#broodtekst a span {
//     text-decoration: underline;
// }

// #broodtekst h1,
// #broodtekst h2,#broodtekst h3,#broodtekst h4,#broodtekst h5,#broodtekst h6 {
//     margin-top: 1em;
// }

// #broodtekst {
//     line-height: 1.5em;
// }

#broodtekst ul.whitespace-small {
    padding-left: 1em !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#broodtekst img {
    display: block;
    border: 20px solid #fff;
    border-left: 0;
    background: #fff;
    border-width: 0;
    margin: 1em;
}

#broodtekst div.plaatje {
    margin-top: 20px;
    margin-bottom: 20px;
}

#broodtekst div.plaatje img {
    border-bottom-width: 0;
    border-top-width: 0;
}

// #broodtekst sub,#broodtekst sup {
//     font-size: smaller;
//     vertical-align: baseline;
//     position: relative;
//     line-height: inherit;
//     top: initial;
// }

// #broodtekst p sup,
// #broodtekst h1 sup,
// #broodtekst h2 sup,
// #broodtekst h3 sup,
// #broodtekst h4 sup,
// #broodtekst h5 sup,
// #broodtekst h6 sup {
//     vertical-align: super;
//     bottom: initial;
// }

// #broodtekst p sub,#broodtekst h1 sub,#broodtekst h2 sub,#broodtekst h3 sub,#broodtekst h4 sub,#broodtekst h5 sub,#broodtekst h6 sub {
//     bottom: -.25em;
// }

// #broodtekst h1.dossiertitel,#broodtekst h1.dossiertitel * {
//     color: #154273;
// }

#broodtekst p.titel {
    font-weight: bold;
    margin-bottom: 0;
}

#broodtekst p.koning {
    text-align: right;
    font-style: italic;
    display: block;
}

#broodtekst div.uitgifte p {
    text-align: right;
    font-style: italic;
}

#broodtekst .aanhef,
#broodtekst .afkondiging,
#broodtekst .considerans.al {
    font-size: 1em;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

#broodtekst .alinea {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#broodtekst div.alineagroep {
    margin-top: 1em;
    border-bottom: 1px solid transparent;
}

#broodtekst h1+div.alineagroep,
#broodtekst h2+div.alineagroep,
#broodtekst h3+div.alineagroep,
#broodtekst h4+div.alineagroep,
#broodtekst h5+div.alineagroep,
#broodtekst h6+div.alineagroep,
#broodtekst p+div.alineagroep {
    margin-top: 0;
}

// #broodtekst h3+h4 {
//     margin-top: 1em;
// }

#broodtekst div.artikel {
    clear: both;
}

#broodtekst .context {
    font-size: 1em;
    text-align: left;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}

#broodtekst .context_al {
    margin-top: 0;
    margin-bottom: 0;
}

#broodtekst .alineagroep p {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.5em;
}

#broodtekst .dagtekening {
    text-align: left;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}

#broodtekst .advies_kop,
#broodtekst .artikel_kop,
#broodtekst .bijlage_kop,
#broodtekst .kamervraagbijlage_kop,
#broodtekst .boek_kop,
#broodtekst .circulaire_divisie_kop,
#broodtekst .deel_kop,
#broodtekst .dictum_kop,
#broodtekst .divisiekop1,
#broodtekst .divisiekop2,
#broodtekst .divisiekop3,
#broodtekst .divisiekop4,
#broodtekst .divisiekop5,
#broodtekst .divisiekop6,
#broodtekst .hoofdstuk_kop,
#broodtekst .kop_op,
#broodtekst .nader-rapport_kop,
#broodtekst .nota-toelichting_kop,
#broodtekst .ontwerp-besluit_kop,
#broodtekst .paragraaf_kop,
#broodtekst .staatsblad_kop,
#broodtekst .staatscourant_kop,
#broodtekst .kamervraagomschrijving_kop,
#broodtekst .rectificatie_kop,
#broodtekst .titeldeel_kop,
#broodtekst .wijzig-divisie_kop,
#broodtekst p.subkop,
#broodtekst .wijzig-artikel_kop,
#broodtekst .wijzig-lid-groep_kop {
    font-size: 1.25em;
    text-align: left;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: .5em;
}

#broodtekst .dictum_kop {
// #broodtekst .artikel_kop {
    font-size: 1em !important;
}

#broodtekst .advies_kop,
#broodtekst .nader-rapport_kop,
#broodtekst .ontwerp-besluit_kop {
    margin-top: 2em;
}

#broodtekst .dictum_kop,
#broodtekst .paragraaf_kop {
    font-weight: normal;
}

#broodtekst .paragraaf_kop,
#broodtekst .divisiekop2 {
    font-style: italic;
}

#broodtekst .divisiekop3,
#broodtekst .divisiekop5,
#broodtekst .divisiekop6 {
    font-style: italic;
}

#broodtekst .divisiekop3,
#broodtekst .divisiekop6 {
    font-weight: normal;
}

#broodtekst .divisiekop4,
#broodtekst .divisiekop5,
#broodtekst .divisiekop6 {
    font-size: .95em !important;
}

// #broodtekst .hoofdstuk_kop {
    // color: #000;
// }

#broodtekst .bijlage_kop,
#broodtekst .kamervraagbijlage_kop,
#broodtekst .nota-toelichting_kop {
    font-size: 1.3em;
}

#broodtekst p.subkop {
  line-height: 1.125em;
  margin-bottom: 1em;
}
// #broodtekst p.subkop strong {
//     color: #808080;
// }

// #broodtekst .staatsblad_kop,
// #broodtekst .staatscourant_kop,
// #broodtekst .kop_op {
//     font-size: 1.3em !important;
// }

#broodtekst .verdragtekst p.subkop {
    text-align: center;
}

#broodtekst .tussenkop {
    margin-top: 0;
    padding-top: 1em;
    margin-bottom: 1em;
}

#broodtekst .tussenkop_vet,
#broodtekst .vet {
    font-weight: bold;
    text-align: left;
}

#broodtekst .tussenkop_cur,
#broodtekst .cur {
    font-style: italic;
    font-weight: normal;
    text-align: left;
}

#broodtekst .tussenkop_vetcur,
#broodtekst .vetcur {
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

#broodtekst .tussenkop_rom,
#broodtekst .rom {
    font-weight: normal;
}

#broodtekst .tussenkop_ondlijn,
#broodtekst .ondlijn {
    text-decoration: underline;
    font-weight: normal;
    text-align: left;
}

#broodtekst .tussenkop_nonprop,
#broodtekst .nonprop {
    font-weight: normal;
}

#broodtekst .tussenkop_klkap,
#broodtekst .vklkap {
    font-weight: normal;
    font-variant: small-caps;
    text-align: left;
}

#broodtekst .tussenkop_kap,
#broodtekst .kap {
    font-weight: normal;
    text-align: left;
}

#broodtekst .tussenkop_halfvet,#broodtekst .halfvet {
    font-style: normal;
    font-weight: bold;
}

#broodtekst .brieftekst .ondertekening {
    font-style: normal;
}

#broodtekst .ondertekening {
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
    clear: left;
}

#broodtekst .ondertekening * {
    margin-top: 0;
    margin-bottom: 0;
}

#broodtekst p.ondertekening span.naam,#broodtekst p.ondertekening span.organisatie,#broodtekst p.ondertekening span.deze,#broodtekst p.ondertekening span.voor {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    width: auto;
    margin-right: .3em;
}

#broodtekst p.ondertekening span.naam.achternaam,#broodtekst p.ondertekening span.naam span.achternaam {
    padding-top: 6px;
    font-weight: normal;
    float: none;
}

#broodtekst .kopopmaak_vet {
    font-weight: bold;
}

#broodtekst .kopopmaak_cur {
    font-style: italic;
}

#broodtekst .kopopmaak_vetcur {
    font-weight: bold;
    font-style: italic;
}

#broodtekst .kopopmaak_onlijn {
    text-decoration: underline;
}

#broodtekst .kopopmaak_klkap {
    font-variant: small-caps;
}

#broodtekst .kopopmaak_halfvet {
    font-weight: 200;
}

#broodtekst .redactie {
    text-align: center;
}

#broodtekst .slotformulering {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

#broodtekst .wijziging .artikeltekst,#broodtekst .wijziging .artikel,#broodtekst .wijziging .divisie,#broodtekst .wijziging .wijzig-divisie {
    margin-left: 2em;
}

#broodtekst .wijziging .wijzig-divisie .wijzig-divisie,#broodtekst .wijziging .wijzig-divisie .artikeltekst,#broodtekst .wijziging .wijzig-divisie .artikel,#broodtekst .wijziging .wijzig-divisie .divisie {
    margin-left: 0;
}

#broodtekst .wijziging {
    margin-bottom: 1em;
}

#broodtekst .wijziging .wat {
    margin-bottom: 1em;
}

#broodtekst p.wat {
    padding-top: 6px;
}

#broodtekst h1 img {
    display: block;
    margin-bottom: 1em;
}

#broodtekst h1.dossier {
    font-size: 1.3em;
    margin-bottom: 2em;
}

#broodtekst h2.stuktitel {
    font-size: 1.3em;
    margin-bottom: 1em;
}

#broodtekst .advies {
    font-style: italic;
}

#broodtekst .itemkop,#broodtekst .aanw p,#broodtekst p.motienm,#broodtekst p.wetv,#broodtekst .spreker,#broodtekst .draad,#brrodtekst .sluiting,#broodtekst .toestnd,#broodtekst .voorzitter {
    margin-top: 0;
    margin-bottom: 1em;
    padding-bottom: 0;
    padding-top: 0;
}

hr .item {
    width: 58mm;
    height: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#broodtekst .ondw,#broodtekst .actie,#broodtekst .wetv,#broodtekst .achternaam {
    font-weight: bold;
}

#broodtekst .ondw p.wetv {
    margin-top: 0;
    margin-bottom: 0;
}

#broodtekst div.motie {
    margin: 2.4em 0;
    padding: 10px;
    border:solid 1px #154273;
}

#broodtekst ._p_titel {
    margin-bottom: 1mm;
    margin-top: 2mm;
    page-break-after: avoid;
}

#broodtekst ._p_single-kop-titel {
    margin-bottom: 2.7mm;
    font-size: 12pt;
    font-weight: bold;
    line-height: 140%;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

#broodtekst ._p_paragraaf_kop {
    font-weight: bold;
    page-break-after: avoid;
}

#broodtekst ._p_hoofdstuk_kop {
    font-weight: bold;
    page-break-after: avoid;
    line-height: 1.5em;
}

#broodtekst ._p_afdeling_kop {
    font-weight: bold;
    page-break-after: avoid;
}

#broodtekst ._p_artikel_kop_titel {
    font-weight: bold;
    page-break-after: avoid;
}

#broodtekst ._p_kop_level0 {
    font-size: 14pt;
    font-weight: bold;
    page-break-after: avoid;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    margin-bottom: 14pt;
    line-height: 1.3em;
}

#broodtekst ._p_kop_level1 {
    font-weight: bold;
    page-break-after: avoid;
}

#broodtekst ._p_kop_level2 {
    font-weight: bold;
    font-style: italic;
    page-break-after: avoid;
}

#broodtekst ._p_kop_level3 {
    font-style: italic;
    page-break-after: avoid;
}

#broodtekst ._p_kop_level4 {
    font-weight: bold;
    page-break-after: avoid;
}

#broodtekst ._p_kop_level5 {
    font-weight: bold;
    font-style: italic;
    page-break-after: avoid;
}

#broodtekst ._p_kop_level6plus {
    font-style: italic;
    page-break-after: avoid;
}

#broodtekst ._p_afkondiging {
    padding-top: 3.5mm;
}

#broodtekst ._p_agendapunt {
    padding-top: 1mm;
    border-top: 2.5pt solid #000;
}

#broodtekst ._p_al {
    line-height: 1.5em;
    margin-bottom: 1em;
    > sup > object > ._p_table {
      margin-top: 1em;
    }
}

#broodtekst ._p_al-groep_al {
    line-height: 9.25pt;
}

#broodtekst ._p_handelingen_al {
    line-height: 9.25pt;
}

#broodtekst ._p_onderwerp_al {
    margin-bottom: 3.5mm;
}

#broodtekst ._p_table_al {
    line-height: 115%;
}

#broodtekst ._p_bezwaarschrift_al {
    line-height: 9.25pt;
    margin-bottom: 3mm;
}

#broodtekst ._p_last-al {
    line-height: 115%;
}

#broodtekst ._p_common-al {
    line-height: 115%;
    margin-bottom: 10pt;
}

#broodtekst ._p_opening_al {
    margin-top: 3.5mm;
    line-height: 9.6pt;
    font-size: 8.7pt;
}

#broodtekst ._p_al-groep {
    padding-top: 3.5mm;
}

#broodtekst ._p_handelingen_al-groep {
    padding-bottom: 3.5mm;
}

#broodtekst ._p_bezwaarschrift {
    padding-top: 6.5pt;
}

#broodtekst ._p_bijlage {
    page-break-before: always;
}

#broodtekst ._p_bijschrift {
    page-break-after: avoid;
    font-size: 8pt;
    padding-top: 1mm;
}

#broodtekst ._p_bijschrift_boven {
    page-break-before: avoid;
    font-size: 8pt;
    padding-top: 1mm;
}

#broodtekst ._p_considerans {
    padding-bottom: 6.5pt;
}

#broodtekst ._p_considerans_al {
    margin-top: 4pt;
    margin-bottom: 1.25pt;
}

#broodtekst ._p_context {
    padding-bottom: 6.5pt;
}

#broodtekst ._p_context_al {
    line-height: 130%;
    font-style: italic;
    margin-bottom: 3.5mm;
}

#broodtekst ._p_context_lijst {
    font-style: italic;
}

#broodtekst ._p_dagtekening {
    font-style: italic;
}

#broodtekst ._p_thead_entry {
    font-weight: bold;
}

#broodtekst ._p_cell_frame_all {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

#broodtekst ._p_handeling_bijlage {
    padding-top: 1mm;
    border-top: 2.5pt solid #000;
}

#broodtekst ._p_hoofdstuk {
    padding-bottom: 2.7mm;
}

#broodtekst ._p_inf {
    vertical-align: sub;
    font-size: 60%;
}

#broodtekst ._p_intitule {
    margin-bottom: 2.7mm;
    font-size: 12pt;
    font-weight: bold;
    line-height: 140%;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

#broodtekst ._p_item-titel {
    padding-top: 0;
    padding-bottom: 7pt;
    margin-top: 0;
    line-height: 14pt;
    font-size: 12.9pt;
    font-weight: bold;
}

#broodtekst ._p_artikel_kop_label {
    font-weight: bold;
    page-break-after: avoid;
}

#broodtekst ._p_li,#broodtekst ._p_lid {
    line-height: 1.5em;
}

#broodtekst ._p_lijst {
    padding-bottom: 8.7pt;
}

#broodtekst ._p_al-groep_lijst {
    padding-bottom: 0;
}

#broodtekst ._p_motie {
    padding-top: 10pt;
}

#broodtekst ._p_naam {
    font-weight: bold;
}

#broodtekst ._p_nadrukvet {
    font-weight: bold;
}

#broodtekst ._p_nadrukcur {
    font-style: italic;
}

#broodtekst ._p_nadrukvetcur {
    font-weight: bold;
    font-style: italic;
}

#broodtekst ._p_nadrukondlijn {
    text-decoration: underline;
}

#broodtekst ._p_nootref {
    vertical-align: super;
    font-size: 60%;
}

#broodtekst ._p_handelingen_nr {
    font-size: 12.9pt;
    font-weight: bold;
    padding-top: 1.5mm;
}

#broodtekst ._p_opening_nr {
    font-size: 12.9pt;
    font-weight: bold;
    padding-top: 1.5mm;
}

#broodtekst ._p_artikel_kop_nr {
    font-weight: bold;
    page-break-after: avoid;
}

#broodtekst ._p_opening {
    padding-bottom: 56mm;
}

#broodtekst ._p_regeling {
    clear: both;
}

#broodtekst ._p_sup {
    vertical-align: super;
    font-size: 60%;
}

#broodtekst ._p_table {
    padding-top: 0;
    padding-bottom: 1.5pt;
}

#broodtekst ._p_tekst {
    padding-bottom: 8.7pt;
}

#broodtekst ._p_handelingen_tekst {
    padding-bottom: 0;
}

#broodtekst ._p_circulaire_tekst {
    padding-bottom: 10pt;
}

#broodtekst ._p_term {
    font-style: italic;
}

#broodtekst ._p_tgroup {
    margin-top: .8mm;
    margin-bottom: 1.5mm;
}

#broodtekst ._p_title {
    font-weight: bold;
    margin-top: 3.5mm;
}

#broodtekst ._p_tussenkopcur {
    page-break-after: avoid;
    margin-top: 6.5pt;
    font-style: italic;
}

#broodtekst ._p_tussenkopvet {
    page-break-after: avoid;
    margin-top: 6.5pt;
    font-weight: bold;
}

#broodtekst ._p_tussenkopvetcur {
    page-break-after: avoid;
    margin-top: 6.5pt;
    font-style: italic;
    font-weight: bold;
}

#broodtekst ._p_tussenkoprom {
    page-break-after: avoid;
    margin-top: 6.5pt;
    font-weight: normal;
}

#broodtekst ._p_tussenkopondlijn {
    page-break-after: avoid;
    margin-top: 6.5pt;
    text-decoration: underline;
}

#broodtekst ._p_tussenkopnonprop {
    page-break-after: avoid;
    margin-top: 6.5pt;
    font-weight: normal;
}

#broodtekst ._p_tussenkopklkap {
    page-break-after: avoid;
    margin-top: 6.5pt;
    font-variant: small-caps;
}

#broodtekst ._p_tussenkopkap {
    page-break-after: avoid;
    margin-top: 6.5pt;
    text-transform: uppercase;
}

#broodtekst ._p_tussenkophalfvet {
    page-break-after: avoid;
    margin-top: 6.5pt;
    font-weight: bold;
}

#broodtekst ._p_vergaderdatum {
    padding-top: 3mm;
}

#broodtekst ._p_vergadering-nummer {
    font-weight: bold;
    font-size: 19.3pt;
}

#broodtekst ._p_vergadertijd {
    padding-top: 3mm;
}

#broodtekst ._p_wie {
    margin-bottom: 6.5pt;
}

#broodtekst ._p_aanhef_wie {
    font-style: italic;
    margin-bottom: 6.5pt;
}

#broodtekst ._p_wij {
    margin-bottom: 6.5pt;
}

#broodtekst ._p_aanhef_wij {
    font-style: italic;
    margin-bottom: 6.5pt;
}

#broodtekst ul._explicit {
    list-style: none;
    position: relative;
    padding-left: 1.2em !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#broodtekst ul._explicit>li>span {
    position: relative;
    float: left;
    margin-right: 1em;
    left: 0;
}

#broodtekst .margetekst {
    padding: 10px;
    margin: 10px;
}

#broodtekst .margetekst.verplaatst {
    padding: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}

#broodtekst .margetekst.termijn {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    clear: both;
}

#broodtekst .margetekst p {
    color: #000;
    font-style: italic;
    width: auto;
}

#broodtekst h1 span.dossiernummer {
    margin-bottom: 0;
}

#broodtekst h1.dossiertitel,#broodtekst span.dossiernummer {
    font-size: 1.3em;
    margin-top: 2em;
}

#broodtekst h1.stuktitel,#broodtekst h1.stuktitel a,#broodtekst span.stuknummer {
    // margin-top: 3em;
    margin-top: 0; // kst-33852-1-n1
    padding-top: 3em;
}

#broodtekst span.dossiernummer {
    margin-left: 0;
    margin-top: -1em;
    display: block;
    left: auto;
}

#broodtekst span.stuknummer {
    margin-left: 0;
    padding-top: 0;
    margin-top: -1em; // kst-33852-1-n1
    display: block;
    left: auto;
}

#broodtekst div.algemeen,#broodtekst div.voorstel-wet,#broodtekst div.amendement,#broodtekst div.bijlage.startpagina,#broodtekst div.divisie.startpagina {
    margin-bottom: 5em;
}

#broodtekst div.box,#broodtekst div.box.verticale_lijnen,#broodtekst div.box.kio2 {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-bottom: 1em;
    padding-left: 1em;
}

#broodtekst div.box.kio1,#broodtekst div.box.kio6,#broodtekst div.box.kio7,#broodtekst div.box.balk {
    border: none;
}

#broodtekst div.box.kio3,#broodtekst div.box.kio4,#broodtekst div.box.kio5 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#broodtekst div.box p,#broodtekst div.box ul,#broodtekst div.box dl,#broodtekst div.box table {
    padding-bottom: 2px;
}

#broodtekst div.box.balk,#broodtekst div.box.kio4,#broodtekst div.box.kio5,#broodtekst div.box.kio6,#broodtekst div.box.kio7 {
    background-color: #cbcccb;
}

#broodtekst div.box .box_kop {
    margin-bottom: 6px;
    padding-bottom: 3px;
    margin-left: -1em;
    padding-left: 1em;
}

#broodtekst div.box.balk .box_kop,#broodtekst div.box.kio7 .box_kop {
    background-color: #4d4e4c;
    color: #fff;
}

#broodtekst div.box.quote {
    border: none;
    padding-left: 10px;
}

#broodtekst .dagtekening,#broodtekst .koning {
    display: inline;
}

#broodtekst .dagtekening {
    margin-right: 1em;
}

#broodtekst li p {
    margin: 0;
    padding: 0 0 .5em 0;
}

#broodtekst li ul.preceding-paragraph-empty {
    margin-top: -.53em;
}

#broodtekst ul.nootlijst {
    list-style: none;
    width: auto;
    margin-left: 1em;  // trb-2014-31
}

#broodtekst ul.nootlijst p.labeled span.ol {
    margin-left: -2em;
}

#broodtekst ul.artikel_leden,#broodtekst ul.expliciet {
    padding: 0 0 1px 0;
    margin: 0;
    list-style: none;
    width: auto;
    position: relative;
    line-height: 1.5em;
}

#broodtekst ul.toc {
    font-size: .8em;
    list-style: none;
}

#broodtekst ul.toc ul {
    font-size: 1em;
}

#broodtekst ul.artikel_leden>li,#broodtekst ul.expliciet>li {
    margin: 0;
    padding: 0 0 0 5em;
    clear: left;
}

#broodtekst ul.artikel_leden.whitespace-small>li,#broodtekst ul.expliciet.whitespace-small>li {
    padding: 0 0 0 2.5em;
}

#broodtekst ul.artikel_leden.whitespace-medium>li,#broodtekst ul.expliciet.whitespace-medium>li {
    padding: 0 0 0 4em;
}

#broodtekst ul.artikel_leden.whitespace-large>li,#broodtekst ul.expliciet.whitespace-large>li {
    padding: 0 0 0 7em;
}

#broodtekst ul.artikel_leden li ul,#broodtekst ul.expliciet li ul {
    margin-left: 0;
    list-style: none;
}

#broodtekst p.labeled {
    margin: 0 0 0 5em;
    position: relative;
    left: -5em;
}

#broodtekst ul.whitespace-small>li>p.labeled {
    margin: 0 0 1em 2.5em;
    left: -2.5em;
}

#broodtekst ul.whitespace-medium>li>p.labeled {
    margin: 0 0 0 4em;
    left: -4em;
}

#broodtekst ul.whitespace-large>li>p.labeled {
    margin: 0 0 0 7em;
    left: -7em;
}

#broodtekst div.wijziging div.wijzig-lid p.lid span.lidnr,#broodtekst div.amendement div.amendement-lid p.lid span.lidnr {
    position: relative;
    margin-left: 0;
    margin-top: -1em;
    left: auto;
}

#broodtekst p.labeled span.ol,#broodtekst p.labeled span.lidnr,#broodtekst p.lid span.lidnr,#broodtekst div.wijziging p.lid span.lidnr {
    position: absolute;
    left: 0;
    margin-left: -5em;
}

#broodtekst ul.whitespace-small>li>p.labeled span.ol,#broodtekst ul.whitespace-small>li>p.labeled span.lidnr,#broodtekst ul.whitespace-small>li>p.lid span.lidnr,#broodtekst div.wijziging.whitespace-small p.lid span.lidnr {
    margin-left: -2.5em;
}

#broodtekst ul.whitespace-medium>li>p.labeled span.ol,#broodtekst ul.whitespace-medium>li>p.labeled span.lidnr,#broodtekst ul.whitespace-medium>li>p.lid span.lidnr,#broodtekst div.wijziging.whitespace-medium p.lid span.lidnr {
    margin-left: -4em;
}

#broodtekst ul.whitespace-large>li>p.labeled span.ol,#broodtekst ul.whitespace-large>li>p.labeled span.lidnr,#broodtekst ul.whitespace-large>li>p.lid span.lidnr,#broodtekst div.wijziging.whitespace-large p.lid span.lidnr {
    margin-left: -7em;
}

#broodtekst div.wijzig-lid,#broodtekst div.amendement-lid,#broodtekst div.wijzig-cao-lid {
    clear: both;
}

#broodtekst div.wijzig-lid>p>span.lidnr,#broodtekst div.amendement-lid>p>span.lidnr,#broodtekst div.wijzig-cao-lid>p>span.lidnr {
    position: relative;
    margin-left: 0;
    margin-right: .5em;
}

#broodtekst div.wijzig-lid div.wijziging,#broodtekst div.amendement-lid div.wijziging,#broodtekst div.wijzig-cao-lid div.wijziging {
    clear: both;
}

#broodtekst div.wijzig-lid div.wijziging p.lid,#broodtekst div.wijzig-lid div.wijziging p.wat,#broodtekst div.amendement-lid div.wijziging p.lid,#broodtekst div.amendement-lid div.wijziging p.wat,#broodtekst div.wijzig-cao-lid div.wijziging p.lid,#broodtekst div.wijzig-cao-lid div.wijziging p.wat {
    float: none;
}

#broodtekst dl {
    margin: 0;
    clear: left;
}

#broodtekst dd {
    margin: 0 0 .5em 0;
    padding: 0;
}

#broodtekst dt {
    font-style: italic;
    font-weight: normal;
}

#broodtekst dt span.ol {
    font-style: normal;
}

#broodtekst dl.inline dt {
    float: left;
    clear: left;
    margin-right: .2em;
    display: block;
}

#broodtekst dl.tekst dt,#broodtekst dl.tabel dt {
    display: block;
}

#broodtekst dl.tekst dd,#broodtekst dl.tabel dd {
    padding-top: .5em;
}

#broodtekst p {
    // margin: 0,0,1em,0;
}

h5.note-close {
    display: none;
}

.voet.noot {
    margin-bottom: 2em;
}

#broodtekst blockquote {
    padding: inherit;
    margin: inherit;
    font-size: inherit;
    border-left: inherit;
}


/* === tractatenblad.css */

#broodtekst .tractatenblad_kop {
    text-align: left;
    margin-top: 1em;
    padding-bottom: 2em;
    margin-bottom: 0;
}
#broodtekst .tractatenblad_kop p {
    margin-top: 0em;
    margin-bottom: 0em;
	font-weight:bold; /* updated MvBon - Eden Design */
	font-size: 1.3em !important; /* updated MvBon - Eden Design */
}
#broodtekst .tractatenblad_kop, #broodtekst .tractatenblad_kop * {
  line-height: 1.3em;
}
#broodtekst .rubriek_kop {
    font-size: 1.18em;
    font-weight: bold;
    margin-top: 0;
    padding-top: 1em;
    margin-bottom: 1em;
}
#broodtekst .rubriek_kop,
#broodtekst .rubriek_kop *{
    color: #154273;
}
#broodtekst .verdragtekst_kop {
    font-size: 1.18em;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    padding-top: 1em;
    margin-bottom: 0;
    padding-bottom: 1em;
}
#broodtekst .verdragtekst_kop > span {
    display: block;
    margin-top: 1em;
}
#broodtekst .geadresseerde {
    font-style:italic;
    margin-top: 1em;
    margin-bottom: 1em;
}
#broodtekst .geadresseerde > * {
    margin-top: 0;
    margin-bottom: 0;
}
#broodtekst .afzender {
    margin-top: 0em;
    margin-bottom: 0em;
}
#broodtekst .afzender > * {
    margin-top: 0;
    margin-bottom: 0;
}
#broodtekst .kenmerk {
    font-weight: normal;
}
hr {
    /*color: #154273;*/
/* IE */
    /*background-color: #ff8a00;*/
/* Mozilla */
    width: 58mm;
    height: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}
#broodtekst .bezwaar {
    margin-left: 2em;
}
/* uitzondering voor brieftekst */
#broodtekst .brieftekst .dagtekening {
    font-style: normal;
}
#broodtekst .onderwerpbrief {
    margin-top: 1em;
    margin-bottom: 1em;
}
#broodtekst .onderwerpbrief > * {
    margin-top: 0;
    margin-bottom: 0;
}
#broodtekst .gewijzigd-verdrag {
    margin-bottom: 3em;
}



/* === agenda.css */

/* agenda specific CSS selectors */
/* SDU: Version 3.6 build 12896 */
#broodtekst div.vergadertijdstip {
    clear:both;
    padding-bottom: 1em;
    color: #154273;
}
#broodtekst div.vergadertijdstip p.datum {
    float: left;
    width: 160px;
    color: #154273;
}
#broodtekst div.vergadertijdstip strong {
    color: #154273;
}
#broodtekst div.vergadertijdstip p.tijd {
    float:left;
    width:auto;
    position:relative;
    margin-left: 0em;
}
#broodtekst div.vergaderitem {
    clear:both;
}
#broodtekst div.vergaderitem p {
    line-height: 1.2em;
}
#broodtekst .vergaderitem .onderwerp {
  float: none;
  width: auto;
  margin-left: 200px;
}
#broodtekst p.agenda {
    margin-top:10px;
    margin-bottom:10px;
}
#broodtekst p.document {
    float:left;
    width:160px;
    font-weight:bold;
}

#broodtekst p.motie {
    float:left;
    width:1em;
    position:relative;
    margin-left: -2em;
}
#broodtekst .onderwerp {
    float:left;
    width:300px;
    position:relative;
    margin-left: 0em;
}
#broodtekst .onderwerp span.tussenkop,
#broodtekst .onderwerp span.tussenkop_vet,
#broodtekst .onderwerp span.tussenkop_cur,
#broodtekst .onderwerp span.tussenkop_vetcur,
#broodtekst .onderwerp span.tussenkop_rom,
#broodtekst .onderwerp span.tussenkop_ondlijn,
#broodtekst .onderwerp span.tussenkop_nonprop,
#broodtekst .onderwerp span.tussenkop_klkap,
#broodtekst .onderwerp span.tussenkop_kap,
#broodtekst .onderwerp span.tussenkop_halfvet {
    display:block;
}
#broodtekst ul.onderwerp {
    padding-left: 10px;
}
#broodtekst ul.onderwerp li {
   padding-left: 10px;
}
#broodtekst div.separator {
    clear:both;
    padding-top:0.5em;
    padding-bottom:0.5em;
}
#broodtekst div.beurt {
    clear:both;
}
#broodtekst div.periode,
#broodtekst div.periode p {
    float:left;
    width:160px;
    padding-bottom:0em;
    font-weight:bold;
}
#broodtekst div.spreektijden {
    float:left;
    width:300px;
}
#broodtekst p.partij {
     float:left;
     width: 190px;
}
#broodtekst p.duur {
     float:left;
     width: 50px;
}
#broodtekst p.unit {
     float:left;
     width: 60px;
}
#broodtekst ul.onderwerp, #broodtekst ul.onderwerp ul {
    width: 300px !important;
}
#broodtekst h1.agenda-divisie_kop,
h1.agenda_kop
{
    /*color: #154273;*/
    margin-top: 1em; // ag-tk-2013-09-13
    margin-bottom: 1em;
}

/* handelingen */
/* SDU: Version 3.6 build 12896 */
#broodtekst h1.title {
    font-size: 1.3em;
}
#broodtekst h1.title {
    margin-top: 1em;
    margin-bottom: 2em;

}
#broodtekst h1.title,
#broodtekst h1.title * {
    color: #154273;
}
#broodtekst h1.title span.item-titel {
    margin-top: 0in;
    position: relative;
    display : block;
}
#broodtekst div.vergadering {
    margin-bottom: 2em;
    margin-top: 0;
}
#broodtekst div.vergadering p {
    padding-bottom: 0px;
}
#broodtekst div.spreekbeurt.eerste,
#broodtekst div.handeling_bijlage.stukkenlijst h2.divisiekop1,
#broodtekst div.handeling_bijlage.stukkenlijst h3.divisiekop1 {
    margin-top: 1em;
    padding-top: 2em;
}
/*
 * the :before pseudo class hasn't been implemented IE 7 and IE 8, so
 * better avoid them.
 *
 * #broodtekst div.spreekbeurt.eerste:before,
 * #broodtekst div.handeling_bijlage.stukkenlijst h2.divisiekop1:before,
 * #broodtekst div.handeling_bijlage.stukkenlijst h3.divisiekop1:before {
 *     display: block;
 *     content:url(vierkantje-1.png);
 *     margin-bottom:1em;
 * }
 *
*/
#broodtekst div.agendapunt div.onderwerp {
    margin-bottom: 1em;
    float: initial;
    width: 100%;
    position: initial;
    margin-left: initial;
}
#broodtekst .handeling_bijlage_kop {
    font-size: 1.18em;
    text-align: left;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
#broodtekst div.motie {
    // border-style: none;
    // padding:0em;
    margin-bottom: 1.0em;
    margin-top: 1.0em;
}
#broodtekst div.motie .motie_kop {
    border-style: solid none;
    border-color: #154273 white;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 0.5em;
}
#broodtekst .spreker {
    margin-bottom: 0.5em;
    margin-top: 1em;
}
#broodtext div.hidden, div.hidden p {
    visibility: hidden;
    display:none;
}

/* Niet-dossierstukken */
/* SDU: Version 3.6 build 12896 */

#broodtekst h1.dossiertitel,
#broodtekst span.dossiernummer,
#broodtekst h1.stuktitel,
#broodtekst span.stuknummer {
    margin-bottom: 1em;
}
#broodtekst div.algemeen {
    margin-bottom: 5em;
}

/* ==== maandbericht.css t/m regel 131 */

/* SDU: Version 3.6 build 12896 */
#broodtekst td, #broodtekst th {
    /* updated MvBon - Eden Design */
}
#broodtekst td.border-row,
#broodtekst th.border-row {
    /* updated MvBon - Eden Design */
}
#broodtekst td.border-column,
#broodtekst th.border-column {
    /* updated MvBon - Eden Design */
}

#broodtekst table thead tr {
    /* updated MvBon - Eden Design */
}

#broodtekst table thead tr.head-row-last {
   /* updated MvBon - Eden Design */
}

#broodtekst table thead tr a {
    /* updated MvBon - Eden Design */
}

#broodtekst table thead tr.head-row-last a {
   /* updated MvBon - Eden Design */
}

/* table type: extension */
#broodtekst table.extension thead tr.head-row1 {
   /* updated MvBon - Eden Design */
}
#broodtekst table.extension thead tr.head-row2 {
    /* updated MvBon - Eden Design */
}
#broodtekst table.extension thead tr.head-row-rest {
    /* updated MvBon - Eden Design */
}
#broodtekst table.extension thead tr.head-row-last {
    /* updated MvBon - Eden Design */
}
/* table type: no-states */
#broodtekst table.no-states thead tr.head-row1 {
    /* updated MvBon - Eden Design */
}
#broodtekst table.no-states thead tr.head-row2 {
    /* updated MvBon - Eden Design */
}
#broodtekst table.no-states thead tr.head-row-rest {
    /* updated MvBon - Eden Design */
}
#broodtekst table.no-states thead tr.head-row-last {
    /* updated MvBon - Eden Design */
    /* updated MvBon - Eden Design */
}
#broodtekst able.no-states thead tr.head-row-last a {
    /* updated MvBon - Eden Design */
}

/* table type: contracting-states */
#broodtekst table.contracting-states thead tr.head-row1 {
    /* updated MvBon - Eden Design */
}
#broodtekst table.contracting-states thead tr.head-row2 {
    /* updated MvBon - Eden Design */
}
#broodtekst table.contracting-states thead tr.head-row-rest {
    /* updated MvBon - Eden Design */
}
#broodtekst table.contracting-states thead tr.head-row-last {
  /* updated MvBon - Eden Design */
}


/* Nieuw MvBon Eden Design */
// /* #broodtekst table.contracting-states  */
// 	#broodtekst table.contracting-states {  background:#e7ebef; border:0; border-right:5px solid #fff; margin-bottom: 1em;}
// 		#broodtekst table.contracting-states thead tr th {  background:#e7ebef; border:1px solid #e7ebef; padding:3px 12px 3px 5px; vertical-align:top; }
// 			#broodtekst table.contracting-states thead tr th p, #broodtekst table thead tr th strong { color:#566478; font-weight:normal;  }
// 				#broodtekst table.contracting-states thead tr th p { color:#000 !important; font-weight:normal;  }

// 	#broodtekst table.contracting-states thead tr th.border-column {  vertical-align:bottom; padding:0 12px 4px 5px; border:1px solid #fff; border-bottom:4px solid #fff; vertical-align:bottom; background:#fff url(../../afbeeldingen/achtergronden/tabelheader.gif) 100% 100%  no-repeat;  }
// 		#broodtekst table.contracting-states thead tr th.border-column p, #broodtekst table thead tr th.border-column strong { color:#154273; font-weight:bold;  }
// 			#broodtekst table.contracting-states thead tr th.border-column a { display:block; text-decoration:underline;   }

// 	#broodtekst table.contracting-states tbody td {  padding:0 12px 4px 5px; border:1px solid #fff; border-bottom:4px solid #fff; background:#fff url(../../afbeeldingen/achtergronden/tabelcel.gif) 100% 100%  no-repeat;  }

// /* #broodtekst table.no-states  */
// 	#broodtekst table.no-states {  background:#e7ebef; border:0; border-right:5px solid #fff; margin-bottom: 1em;}
// 		#broodtekst table.no-states thead tr th {  background:#e7ebef; border:1px solid #e7ebef; padding:3px 12px 3px 5px; vertical-align:top; }
// 			#broodtekst table.no-states thead tr th p, #broodtekst table thead tr th strong { color:#566478; font-weight:normal;  }
// 				#broodtekst table.no-states thead tr th p { color:#000 !important; font-weight:normal;  }
#broodtekst table.contracting-states thead tr th,
#broodtekst table.no-states thead tr th { background: white !important; color: $darkBlue !important; }

#broodtekst table.contracting-states tr th p,
#broodtekst table.no-states tr th p {
  font-weight: normal;
  > strong {
    font-weight: bold;
  }
}
// 	#broodtekst table.no-states thead tr th.border-column {  vertical-align:bottom; padding:0 12px 4px 5px; border:1px solid #fff; border-bottom:4px solid #fff; vertical-align:bottom; background:#fff url(../../afbeeldingen/achtergronden/tabelheader.gif) 100% 100%  no-repeat;  }
// 		#broodtekst table.no-states thead tr th.border-column p, #broodtekst table thead tr th.border-column strong { color:#154273; font-weight:bold;  }
// 			#broodtekst table.no-states thead tr th.border-column a { display:block; text-decoration:underline;   }

// 	#broodtekst table.no-states tbody td {  padding:0 12px 4px 5px; border:1px solid #fff; border-bottom:4px solid #fff; background:#fff url(../../afbeeldingen/achtergronden/tabelcel.gif) 100% 100%  no-repeat;  }

// /* #broodtekst table.extension  */
// 	#broodtekst table.extension {  border:0; border-right:5px solid #fff;border-bottom:20px solid #fff; }
// 		#broodtekst table.extension th, #broodtekst table.extension td {  border:1px solid #fff; border-bottom:4px solid #fff;border-right:10px solid #fff; }
// /* Einde nieuw MvBon Eden Design */


#broodtekst .wijzigingen_kop {
    font-size: 1.18em;
    font-style: italic;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
#broodtekst div.wijzigingen {
    margin-left:2.2em;

}
#broodtekst .tractatenblad_kop {
    margin-top: 1em;
    margin-bottom: 1em;
}

#broodtekst .tractatenblad_kop,
#broodtekst .tractatenblad_kop * {
    font-size: 1.3em;
    font-weight: bold;
    color: #154273;
}
#broodtekst .opmerking{
margin-top: 1em;
// margin-bottom:10em;
margin-bottom:2em;
}

/* == end maandbericht.css */

/* === waterschapsblad.css */

/* SDU: Version 3.7 build svnversion: warning: cannot set LC_CTYPE locale
svnversion: warning: environment variable LC_CTYPE is UTF-8
svnversion: warning: please check that your locale name is correct
12966 */
#broodtekst .cao-heading {
    font-size: 1em;
}
#broodtekst .cao-heading p {
    margin-top: 0em;
    margin-bottom: 0em;
}
#broodtekst .cao-heading p.ministerie {
    margin-top: 1em;
    margin-bottom: 1em;
}
/*
#broodtekst .dictum {
    font-size: 0.85em;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}
*/
#broodtekst .cao-heading {
    margin-top: 3px; /* updated MvBon - Eden Design */
    margin-bottom: 1em;
}
#broodtekst .cao-heading p {
   margin-top: 0em;
   margin-bottom: 0em;
}
#broodtekst .cao-heading p.ministerie {
   margin-top: 1em;
}
#broodtekst .cao-sluiting {
}
#broodtekst .onbekend_kop,
#broodtekst .cao-divisie_kop {
    font-size: 1.18em;
    text-align: left;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: normal;
}
#broodtekst .cao-bijlage_kop {
    font-size: 1.18em;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 1em;
}
#broodtekst .wijzig-cao-tekst .wat {
    font-size: 1em;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}
#broodtekst .wijzig-cao-lid .wat {
}
#broodtekst .cao-wijziging .wat {
}
#broodtekst .advies_kop,
#broodtekst .nader-rapport_kop,
#broodtekst .ontwerp-besluit_kop,
#broodtekst .object_van_advies_kop {
	font-size: 1.18em;
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 1em;
}
// #broodtekst .advies_kop,
// #broodtekst .advies_kop *,
// #broodtekst .nader-rapport_kop,
// #broodtekst .nader-rapport_kop *,
// #broodtekst .ontwerp-besluit_kop,
// #broodtekst .ontwerp-besluit_kop *,
// #broodtekst .object_van_advies_kop,
// #broodtekst .object_van_advies_kop * {
// 	color: #154273;
// }

#broodtekst .verklaring-betrokkene_kop {
	font-size: 1em;
	font-weight: bold;
   	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* == end waterschapsblad */

/* === start kamervragen.css */

/* kamervragen */
/* SDU: Version 3.6 build 12896 */
#broodtekst .kamervraagnummer,
#broodtekst .antwoord_kop {
	font-size: 1.18em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
    padding-bottom: 0em;
    padding-top: 0em;
}

#broodtekst .kamervraagnummer,
#broodtekst .kamervraagnummer *,
#broodtekst .antwoord_kop,
#broodtekst .antwoord_kop * {
	color: #154273;
}
#broodtekst h2.kamervraagopmerking_kop {
    font-size: 1.3em;
}

#broodtekst .vraag,  #broodtekst .antwoord,  #broodtekst .omschr{
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
}
#broodtekst .vraag p.nummer, #broodtekst .antwoord p.nummer {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
}
// #broodtekst table tr.head-row1 th *,
// #broodtekst table tr.head-row1 th > *{
//  color: #154273;}

/* == end kamervragen.css */



/* stop-xml */

#broodtekst .kop_op,
#broodtekst .staatsblad_kop,
#broodtekst .staatscourant_kop,
#broodtekst .agenda_kop,
#broodtekst .agenda-divisie_kop,
#broodtekst h1 {
  font-size: 1.3em;
  line-height: 1.2em;
  margin: 0 0 1em 0;
}
#broodtekst .cao-heading ~ h1.staatscourant_kop {
  padding-top: 1em;
}
#broodtekst h1 span.dossiernummer {
  margin-bottom: .5em;
}
#broodtekst h1.kamervraagomschrijving_kop {
  margin: 0 0 1.5em 0;
}
#broodtekst h1.rectificatie_kop {
  padding-top: .5em;
  margin: 0 0 1.5em 0;
}
#broodtekst h2.stuktitel {
  padding-top: 1em;
  font-size: 1.25em;
  margin: 0 0 .75em 0;
}
#broodtekst .kamervraagopmerking_kop { //h2
  font-size: 1.25em;
  padding-top: 1em;
  margin: 0 0 .5em 0;
}
#broodtekst h2.bijlage_kop,
#broodtekst h3.bijlage_kop,
#broodtekst h3.hoofdstuk_kop,
#broodtekst h2.object_van_advies_kop {
  font-size: 1.375em;
  margin: 0 0 1em 0;
  padding-top: 1em;
}
#broodtekst h3.wijzig-artikel_kop {
  padding-top: 1em;
}
#broodtekst h2.divisiekop1,
#broodtekst h3.divisiekop1,
#broodtekst h4.divisiekop1 {
  // stcrt-2015-48003
  // stcrt-2014-3719
  font-size: 1.125em;
  padding-top: 1.5em;
  margin: 0 0 1.5em;
}
#broodtekst h4.divisiekop1 {
  // stcrt-2014-3719
  // font-size: 1.125em;
  // padding-top: .5em;
  // margin: 0 0 1em;
}
#broodtekst h3.bijlage_kop ~ .divisiekop1 {
  padding-top: 0.5em;
  margin-bottom: 1em;
}
#broodtekst h4.afdeling_kop {
  padding-top: 1em;
  margin: 0 0 .5em;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
}
#broodtekst h4.paragraaf_kop { // stcrt-2010-141
  margin-bottom: 1em;
}
#broodtekst h4.hoofdstuk_kop {
  // stcrt-2014-3719
  margin-bottom: 1em;
}
#broodtekst h3.divisiekop2,
#broodtekst h4.divisiekop2 { // stcrt-2015-48003
  font-size: 1em;
  padding-top: .75em;
  margin: 0 0 1em;
  font-weight: bold;
  font-style: italic;
}
#broodtekst h5.divisiekop2 { // stcrt-2014-3719
  font-size: 1em;
  padding-top: .75em;
  margin: 0 0 1em;
  font-weight: bold;
  font-style: italic;
}
#broodtekst h5.divisiekop3 { // stcrt-2015-48003
  font-size: 1em;
  padding-top: .75em;
  margin: 0 0 1em;
  font-weight: bold;
  font-style: italic;
}
#broodtekst .artikel_kop,
#broodtekst h5.artikel_kop,
#broodtekst h6.artikel_kop {
  padding: 0.75em 0 0 0;
  margin: 0 0 .75em;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
}
#broodtekst h5.paragraaf_kop {
  padding: 1em 0 0 0;
  margin: 0 0 1em;
  font-size: 1.125em;
}
#broodtekst h5.afdeling_kop {
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
  padding-top: 1em;
}
#broodtekst .sub-paragraaf_kop {
  font-style: italic;
}
#broodtekst h4.sub-paragraaf_kop {
  // stcrt-2014-3866
  padding-top: 1em;
  font-style: normal;
}
#broodtekst h5.sub-paragraaf_kop {
  padding-top: 1em;
  font-weight: bold;
  font-style: normal;
  font-size: 0.9em;
}
#broodtekst h5.wijzig-divisie_kop {
  font-style: normal;
}
#broodtekst h6.divisiekop4 {
  margin-top: 0;
  padding-top: 1em;
}
#broodtekst ._p_kop_level0 {
  margin-top: 2em;
}

#broodtekst .artikel,
#broodtekst .paragraaf,
#broodtekst .wetsluiting {
  // needed to correct overlapping margin
  padding-top: 1px;
  padding-bottom: 1px;
}
#broodtekst h1 {
  > br {
    display: none;
  }
}
#broodtekst hr,
#broodtekst #noten hr {
  width: 58mm;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid #eeeeee;
}
#broodtekst .noot h5 { //ah-tk-20082009-3410
  font-style: normal;
  font-weight: bold;
}
#broodtekst a.nootnum {
  // vertical-align:super;  <- veroorzaakt regel verschil (trb-2014-31: "Limit values for dust emiss")
  position: relative;
  top: -.65em;

  font-size:70%;
}
#broodtekst .brieftekst_kop {
  padding-top: 1em;
  margin-top: 0;
}
#broodtekst p,
.dictum,
.cao-divisie,
.nota-toelichting {
  padding-top: 0.1px; // to avoid collapsing margins
}
