.input-checkbox {
  margin-bottom: .5em;
}

.checkbox__input {
  position: absolute;
  opacity: 0;

  &:not(:disabled) {
    &:hover + label:before {
      background-color: $lightBlue;
    }
  }

  &:focus + label {
    outline: 2px solid $focus;
  }

  &:checked + label:before {
    background-color: $darkBlue !important;
    background-image: $iconCheckboxWhite;
  }

  &:disabled + label {
    color: $mediumGrey;
    cursor: auto;
  }

  &:disabled + label:before {
    border-color: $mediumGrey;
  }
}

.checkbox__label {
  position: relative;
  padding: 0 0 0 2.5em;

  &::before {
    background: $white;
    border-radius: 2px;
    border: 1px solid $darkBlue;
    content: '';
    display: inline-block;
    height: 1.5em;
    margin-right: .5em;
    vertical-align: middle;
    width: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
  }
}
