.checkbox__input {
  position: absolute;
  opacity: 0;

  &:hover + label:before {
    background: $lightBlue;
  }

  &:focus + label {
    outline: 2px solid $focus;
  }

  &:checked + label:before {
    background: #f35429;
    background: $darkBlue url(../../../images/icon-check-white_new.svg);
  }

  &:disabled + label {
    color: $mediumGrey;
    cursor: auto;
  }

  &:disabled + label:before {
    border-color: $mediumGrey;
  }
}

.checkbox__label {
  position: relative;
  padding: 0;

  &::before {
    background: white;
    border-radius: 4px;
    border: 2px solid $darkBlue;
    content: '';
    display: inline-block;
    height: 1.5em;
    margin-right: .5em;
    vertical-align: middle;
    width: 1.5em;
  }
}
