.label {
  font-size: .85rem;

  &--lg {
    font-size: 1em;
  }

  &--italic {
    font-style: italic;
  }

  &--danger, &--pdf {
    background: $lightRed;
    color: $darkBlue;
  }

  &--info {
    background: $lightBlue;
  }

}
