.modal {
  &__inner {
    padding: 1em;
  }

  &__content {
    padding: 2em 1em;
    background: $bgBlue;
    color: $darkBlue;
    @media ( min-width: 50em ) {
      padding: 1em 4em;
    }

    &--clean {
      background: white;
    }
  }

  &__close {
    right: 2em;
    top: 2em;
  }
}
