.modal {
  &__inner {
    padding: 1em;
  }

  &__content {
    padding: 2em 1em;
    background: $bgBlue;
    color: $darkBlue;
    @media ( min-width: $breakpointDesktop ) {
      padding: 3em 4em 1em;
    }

    &--clean {
      background: white;
    }
  }

  &__close,
  &__close:hover {
    right: 3em;
    top: 2.5em;
    background: {
      image: $iconCrossBlue;
      position: center center;
    };
  }
  &__close:hover {
    opacity: 0.8;
  }

  @media ( min-width: $breakpointDesktop ) {
    &--slim &__content {
      padding-right: 1em;
      padding-left: 1em;
    }
  }

  &--fixedpane &__buttonpane {
    position: absolute;
    right: 1em;
    left: 1em;
    bottom: 1em;
    padding: 1em 1em .25em;
    background: $bgBlue;
    box-shadow: 0px -3px 5px rgba(0,0,0,.05);

    &:before,
    &:after {
      content: "";
      position: absolute;
      background: white;
      width: 10px;
      height: 100%;
      left: -10px;
      top: 0;
    }
    &:after {
      left: auto;
      right: -10px;
    }

    @media ( min-width: $breakpointDesktop ) {
      padding-left: 4em;
    }
  }
  &--fixedpane &__content {
    padding-bottom: 5.5em;
  }

}
