.result--list {
  margin-left: -1em;
  margin-right: -1em;

  @media (min-width: 50em) {
    margin-right: 0;
    margin-left: 0;
  }

  > ul,
  > ul:first-child {
    background: $lightBlue;
    padding: 1.25em 1.25em 1px; // 1px fix needed for padding-flow bug;
    margin: 0 0 1.25em 0;

    > li {
      background: white;
      list-style: none;
      padding: 2.25em 1.25em 1.25em 1.25em;
      margin-bottom: 1.25em;
      border: 0;

      p {
        padding-right: 0;
      }
    }

  }

  p {
    margin-bottom: 1.325em;
    font-size: 1.125em;
    line-height: 1.325em;
  }

  .result--title {
    max-width: 100%;
    margin-top: 0;
  }

  .result--label {
    margin: 0 0 0.5em;
    .label {
      font-size: 1em;
    }
  }

  .result--actions {
    right: 1em;
    top: 1em;
  }

  .list--metadata {
    padding-bottom: 1em;
  }

  @media (min-width: 50em) {
    &--wide {
      > ul > li,
      > ul:first-child > li {
        padding-left: 4em;
        padding-right: 4em;
      }
    }
  }
}

