.row {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 1.5em;

  &--thick {
    margin-top: 1.5em;
  }

  // please use: md, lg, etc.
  &--md,
  &--medium {
    margin-bottom: 1.5em;
  }

  &--lg,
  &--large {
    margin-bottom: 2.5em;
  }

  &--xlg,
  &--xlarge {
    margin-bottom: 4em;
  }

  &--xxlg,
  &--xxlarge,
  &--spacer {
    margin-bottom: 5em;
  }

  &--xxxlg,
  &--xxxlarge {
    margin-bottom: 6em;
  }



  &__heading {
    font-size: em(29);
    margin-bottom: em(14);

    .sub {
      display: inline-block;
      font-size: 75%;
      font-style: italic;
      font-weight: 400;
    }
  }

  &__intro {
    font-size: em(18);
    margin-bottom: em(56);
  }

  &--page-opener {
    padding-top: .325em;
    margin-bottom: 1.5em;

    .header ~ &,
    .header ~ div[role="main"] > & {
      margin-top: -2em;
    }

    @media ( min-width: $breakpointDesktop ) {
      padding: .75em 0;
    }
  }

  &--buttons {
    @media ( max-width: $breakpointDesktop ) {
      .button {
        margin: 0 0 .5em 0;
        display: block;
        width: 100%;
      }
    }
  }

  &--wdevider {
    border-top: 2px solid $lighterGrey;
    padding-top: 4em;
    // margin-top: 4em;
  }

}
