.sidebar {
  &__section {
    margin-bottom: 2em;
    @media (min-width: $breakpointDesktop) {
      margin-bottom: 4em;
    }
  }
  &__header {
    // margin: 0 0 .25em 0;
    margin: 0 0 1em 0;
  }
  &__subheader {
    font-size: 1em;
    margin: 0 0 .5em 0;
  }

}
.columns--sticky-sidebar__sidebar {
  > div {
    > h2 {
      font-size: 1.25em;
      span {
        @extend .label;
        @extend .label--info;
        @extend .label--lg;
        font-size: .7em;
        line-height: 1.5em;
        font-style: italic;
        margin-top: .25em;
      }
    }
  }
}
