table,
.table {
  font-size: 1.125rem;
  margin: 0 0 3em 0;
  border: 1px solid $lighterGrey;

  tr td,
  tr th {
    border-bottom: 1px solid $lighterGrey;
    border-left: 1px solid $lighterGrey;
    padding: 1em;
  }
}


@media ( max-width: $breakpointDesktop ) {
  table:not(.table__data-overview):not(.table__regulation),
  &.table--condensed,
  &.table--striped,
  &.table--hover {

    td {

      &::before {
        padding: 1em;
      }
    }
  }
}
