table,
.table {
  font-size: 1.125rem;
  margin: 0 0 3em 0;
  @media ( min-width: $breakpointDesktop ) {
    border: 1px solid $lighterGrey;
  }

  &--fontsmall {
    font-size: 0.9em;
  }

  [scope=colgroup] {
    background: $darkBlue !important;
    color: white !important;
    a {
      color: white !important;
    }
  }

  // thead {
  //   th[scope=col] {
  //     background: $darkBlue !important;
  //     color: white !important;
  //     a {
  //       color: white !important;
  //     }
  //   }
  // }

  tr td,
  tr th {
    border-bottom: 1px solid $lighterGrey;
    border-left: 1px solid $lighterGrey;
    padding: 1em;
  }

  &.table__data-overview {
    border: 1px solid $lighterGrey;
  }

  &.table--dataintro {


    th, td {
      padding: .5em;
      @media ( min-width: $breakpointDesktop ) {
        padding: 0 1em 0 0;
      }
    }
    th {
      padding-bottom: 0.125em;
      font-weight: normal;
      color: $darkBlue;
      line-height: 1.25;
      font-size: .9em;
      color: $green;
    }

    th,
    td {
      border: none;
    }

    td {
    }
  }
}


@media ( max-width: $breakpointDesktop ) {
  table:not(.table__data-overview):not(.table__regulation),
  &.table--condensed,
  &.table--striped,
  &.table--hover {

    td {

      &::before {
        padding: 1em;
      }
    }
  }
}
