.to-top {
  left: 1.325em;
  @media ( min-width: $breakpointDesktop ) {
    left: 1.85em;
  }

  text-indent: 0;
  @extend .button;
  @extend .button--tertiary;
  background-image: $iconArrowUpBlue;
  background-repeat: no-repeat;
  background-position: right .5em top .5em;
  background-size: 1.5em;
  width: auto;
  height: auto;
  bottom: 1em;
  padding-right: 3.5em;

  &:after {
    content: "";
    width: 1px;
    height: 25px;
    background: $darkBlue;
    right: 2.5em;
    top: .625em;
    position: absolute;
  }

  &.irrelevant {
    display: none !important;
  }

  @media (min-width: 99em) {
    left: calc(50% - 37em);
  }
}
