input[type="text"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="password"],
input[type="email"],
textarea {
  border: 2px solid $darkBlue;
  border-radius: .25em;
  padding: .625em;
  font-size: 1rem;
}
