<form>
  <fieldset>
    <legend>Voorbeeld browseralert</legend>
    <p>Gebruik de volgende code op je link/button: <code>data-decorator="init-browseralert" data-alertmessage="{message}"</code></p>
    {{ render "@button--primary" button merge=true }}
  </fieldset>

</form>
