{{ render "@header" headerContext merge="true" }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container row" id="content" role="main">
  <div>

    {{ render "@pageactions" pageactions }}

    <a id="ctl00_cphContent_Regeling_hlTerugknop" class="icon--backlink" href="/zoeken">Terug naar regeling</a>

    <h1>Titel van de regeling</h1>

    <div class="well">
      <p>Zichtdatum op 10-04-2020</p>
    </div>

    <div class="tabs" data-decorator="init-tabs">
      <ul class="tabs__list">
        <li role="presentation">
          <a href="#tab-kaart" data-handler="open-panel" role="tab" id="tab-1" aria-controls="tab-kaart">Kaart</a>
        </li>
        <li role="presentation">
          <a href="#tab-wetstechnische-gegevens" data-handler="open-panel" role="tab" id="tab-2" aria-controls="tab-wetstechnische-gegevens">Wetstechnische informatie</a>
        </li>
        <li role="presentation">
          <a href="#tab-wijzigingenoverzicht" data-handler="open-panel" role="tab" id="tab-3" aria-controls="tab-wijzigingenoverzicht">Wijzigingsoverzicht</a>
        </li>
      </ul>

      <div class="tabs__panels">
        <div id="tab-kaart" role="tabpanel" aria-labelledby="tab-1">
          <h2>Kaart</h2>

          <div id="kpm" class="map__kpm"></div>
          <script>
            kaartprikmodule.bootstrapKpm({
              debug: false,
              mount_element: document.getElementById('kpm'),
              locations: [{ "title": "Meldingen - Sloopmelding ingediend, Boekweitkamp 64 te Den Haag", "type": "punt", "geometry": "POINT(84258.37 455893.776)", "geometry_type": "WKT", "omschrijving": "Het verwijderen van asbesthoudende materialen uit het pand Boekweitkamp 64", "url": "https:\/\/zoek.officielebekendmakingen.nl\/gmb-2020-273924.html" }, { "title": "Omgevingsvergunning - Beschikking verleend regulier, bij Margarethaland 110, Finnenburg 192 en Gerstkamp 170 te Den Haag", "type": "punt", "geometry": "POINT(84325.938 455949.334)", "geometry_type": "WKT", "omschrijving": "Het kappen van 1 italiaanse els, 1 gewone es en 1 zoete kers (stamomtrekken 110-266 cm), staande bij Margarethaland 110, Finnenburg 192 en Gerstkamp 170. Deze bekendmaking bevat de activiteit(en): kappen.", "url": "https:\/\/zoek.officielebekendmakingen.nl\/gmb-2020-291931.html" }, { "title": "Verleende vergunning voorwerp op de openbare plaats (kenmerk 673787) Beijnenstraat 2 Voorburg plaatsen tent t.b.v. griep en pneumokokken vaccinatie", "type": "punt", "geometry": "POINT(84121.597 455082.498)", "geometry_type": "WKT", "omschrijving": "Verleende vergunning voorwerp op de openbare plaats (kenmerk 673787) Beijnenstraat 2 Voorburg plaatsen tent t.b.v. griep en pneumokokken vaccinatie", "url": "https:\/\/zoek.officielebekendmakingen.nl\/gmb-2020-267228.html" }, { "title": "Omgevingsvergunning - Verlengen behandeltermijn regulier, bij Margarethaland 110, Finnenburg 192 en Gerstkamp 170 te Den Haag", "type": "punt", "geometry": "POINT(84325.938 455949.334)", "geometry_type": "WKT", "omschrijving": "Het kappen van 1 Italiaanse els, 1 gewone es en 1 zoete kers (stamdiameters 35-90cm), staande bij Margarethaland 110, Finnenburg 192 en Gerstkamp 170 en het herplanten van bomen. Deze bekendmaking bevat de activiteit(en): kappen.", "url": "https:\/\/zoek.officielebekendmakingen.nl\/gmb-2020-251396.html" }, { "title": "Omgevingsvergunning - Aangevraagd beginseluitspraak, Boekweitkamp ongenummerd te Den Haag", "type": "punt", "geometry": "POINT(84090.237 455742.286)", "geometry_type": "WKT", "omschrijving": "Het oprichten van een appartementencomplex met 36 appartementen en 15 stallingsplaatsen inclusief toebehoren Boekweitkamp ongenummerd (Fase 2) ter plaatse van de voormalige brandweerkazerne Boekweitkamp 19", "url": "https:\/\/zoek.officielebekendmakingen.nl\/gmb-2020-250235.html" }, { "title": "Omgevingsvergunning - Aangevraagd, Rijstkamp 18 te Den Haag", "type": "punt", "geometry": "POINT(84314.772 455751.502)", "geometry_type": "WKT", "omschrijving": "Het plaatsen van een carport in de voortuin van het pand Rijstkamp 18", "url": "https:\/\/zoek.officielebekendmakingen.nl\/gmb-2020-286075.html" }, { "title": "Gemeente Leidschendam Voorburg - Locaties Laadpalen  - Diversen", "type": "punt", "geometry": "POINT(85477.963 455385.312)", "geometry_type": "WKT", "omschrijving": "Gemeente Leidschendam Voorburg - Locaties Laadpalen  - Diversen", "url": "https:\/\/zoek.officielebekendmakingen.nl\/stcrt-2020-60249.html" }],
              options: { "mode": "geoview" }
            });
          </script>
        </div>
        <div id="tab-wetstechnische-gegevens" role="tabpanel" aria-labelledby="tab-2">


            <div class="columns columns--sidebar-left">
              <div>
                <div>
                  <div id="Algemeen">
                    <h2>Wetstechnische informatie</h2>
                    <table class="table--condensed">
                      <tbody>
                        <tr>
                          <th>
                            Eerstverantwoordelijke
                          </th>
                          <td data-before="Eerstverantwoordelijke">Financiën</td>
                        </tr>
                        <tr>
                          <th>Afkorting</th>
                          <td data-before="Afkorting">Geen</td>
                        </tr>
                        <tr>
                          <th>Niet officiële titel</th>
                          <td data-before="Niet officiële titel">Geen</td>
                        </tr>
                        <tr>
                          <th>Citeertitel</th>
                          <td data-before="Citeertitel">
                            De citeertitel is in de regeling vastgesteld.
                          </td>
                        </tr>
                        <tr>
                          <th>Soort regeling</th>
                          <td data-before="Soort regeling">
                            Wet
                          </td>
                        </tr>
                        <tr>
                          <th>Identificatienummer</th>
                          <td data-before="Identificatienummer">BWBR0039429</td>
                        </tr>
                        <tr>
                          <th>Rechtsgebied</th>
                          <td data-before="Rechtsgebied">Financieel en economisch recht</td>
                        </tr>
                        <tr>
                          <th>Overheidsthema</th>
                          <td data-before="Overheidsthema">Financiën</td>
                        </tr>
                      </tbody>
                    </table>
                    <h3>Opmerking</h3>
                    <p>
                      - Geen opmerking -
                    </p>
                  </div>
                  <h2 id="Grondslagen">
                    Grondslagen voor deze regeling
                  </h2>
                  <p>Geen</p>
                  <h2 id="Wetsfamilie">Wetsfamilie</h2>
                  <ul class="list--linked" data-test="1">
                    <li>
                      <a href="/jci1.3:c:BWBR0039429&amp;g=2020-05-11&amp;z=2020-05-11">Comptabiliteitswet 2016</a>
                    </li>
                  </ul>
                  <h2 id="Basis">Regelgeving die op deze regeling is gebaseerd (gedelegeerde regelgeving)</h2>
                  <ol>
                    <li>
                      <a href="/jci1.3:c:BWBR0032380&amp;g=2020-05-11&amp;z=2020-05-11">Aanpassingsbesluit Politiewet 2012</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0042626&amp;g=2020-05-11&amp;z=2020-05-11">Aanpassingsbesluit Wnra</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0019289&amp;g=2020-05-11&amp;z=2020-05-11">Aanpassingsbesluit Zorgverzekeringswet</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0041159&amp;g=2020-05-11&amp;z=2020-05-11">Besluit Auditdienst Rijk</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0041910&amp;g=2020-05-11&amp;z=2020-05-11">Besluit FEZ van het Rijk</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0041217&amp;g=2020-05-11&amp;z=2020-05-11">Besluit machtiging en volmacht directeur Koninkrijksrelaties</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0018084&amp;g=2020-05-11&amp;z=2020-05-11">Besluit mandaat en volmacht Stichting Administratie Indonesische Pensioenen om overzeese pensioen- en uitkeringsregelingen
                        af te doen en te ondertekenen</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0042105&amp;g=2020-05-11&amp;z=2020-05-11">Besluit mandaat, volmacht en machtiging bestuur huurcommissie 2019</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0036702&amp;g=2020-05-11&amp;z=2020-05-11">Besluit toegelaten instellingen volkshuisvesting 2015</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0036676&amp;g=2020-05-11&amp;z=2020-05-11">Besluit vaststelling beleidsregels schenkingsarrangementen (ontwikkeling en aanbesteding ontwikkelingsrelevante
                        infrastructurele projecten (Develop2Build))</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040404&amp;g=2020-05-11&amp;z=2020-05-11">Besluit volmacht en machtiging aan secretaris-generaal Ministerie van Binnenlandse Zaken en Koninkrijksrelaties</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0014461&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit agentschap Centraal Informatiepunt Beroepen Gezondheidszorg</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0009604&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit Agentschap IT-organisatie</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0018722&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit Agentschap Telecom</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0033809&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastenagentschap Nederlandse Voedsel- en Warenautoriteit</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0034567&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastenagentschap Rijksdienst voor Ondernemend Nederland</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0037593&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastenagentschap Rijksvastgoedbedrijf</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0014401&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst Agentschap SZW</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0024117&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst De Werkmaatschappij</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0023629&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst Dienst ICT Uitvoering</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0017293&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst Dienst Publiek en Communicatie</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0029012&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst Dienst Uitvoering Onderwijs</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0019427&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst Domeinen Roerende Zaken</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0032665&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst FMHaaglanden</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0021856&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst Inspectie Verkeer en Waterstaat</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0017059&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst JUSTIS</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0032656&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst Logius</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0025362&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst P-Direkt</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0017314&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst Paresto</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0019329&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst Rijkswaterstaat</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0032666&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten-lastendienst SSC-ICT Den Haag</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0016229&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten–lastendienst NFI</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0015982&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit baten–lastendienst Rijksinstituut voor Volksgezondheid en Milieu</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0026930&amp;g=2020-05-11&amp;z=2020-05-11">Instellingsbesluit Dienst van de Huurcommissie</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0043025&amp;g=2020-05-11&amp;z=2020-05-11">M&amp;V-besluit Ambtelijke organisatie Tweede Kamer der Staten- Generaal 2020</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0043000&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatbesluit Algemene Zaken 2020</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0041316&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatbesluit BZK 2018</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0042845&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatbesluit DG Politie en Veiligheidsregio’s Ministerie van Justitie en Veiligheid 2019</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0041850&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatbesluit DGRR Ministerie van Justitie en Veiligheid 2019</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0043022&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatbesluit Ministerie van Financiën 2020</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0043265&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatbesluit Rijksvastgoedbedrijf 2020</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0043092&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatbesluit Schadefonds Geweldsmisdrijven 2020</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040710&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatregeling beheer secretaris-directeur Kiesraad</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0043426&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatregeling onroerende zaken Ministerie van Buitenlandse Zaken buiten Nederland</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040286&amp;g=2020-05-11&amp;z=2020-05-11">Regeling agentschappen</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040281&amp;g=2020-05-11&amp;z=2020-05-11">Regeling audit committees van het Rijk</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040452&amp;g=2020-05-11&amp;z=2020-05-11">Regeling beheer onroerende zaken Rijk 2017</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040757&amp;g=2020-05-11&amp;z=2020-05-11">Regeling financieel beheer van het Rijk</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040284&amp;g=2020-05-11&amp;z=2020-05-11">Regeling IOFEZ van het Rijk</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040285&amp;g=2020-05-11&amp;z=2020-05-11">Regeling materieelbeheer roerende zaken van het Rijk</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040754&amp;g=2020-05-11&amp;z=2020-05-11">Regeling periodiek evaluatieonderzoek</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040289&amp;g=2020-05-11&amp;z=2020-05-11">Regeling schatkistbankieren RWT’s en andere rechtspersonen</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0040756&amp;g=2020-05-11&amp;z=2020-05-11">Regeling uitzondering op het schatkistbankieren bij het Rijk</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0019832&amp;g=2020-05-11&amp;z=2020-05-11">Statuut agentschap Nationaal Archief</a>
                    </li>
                    <li>
                      <a href="/jci1.3:c:BWBR0036682&amp;g=2020-05-11&amp;z=2020-05-11">Wijzigingsbesluit Uitvoeringsbesluit WEB, enz. (overgang wettelijke taken kenniscentra beroepsonderwijs bedrijfsleven
                        naar Samenwerkingsorganisatie beroepsonderwijs bedrijfsleven)</a>
                    </li>
                  </ol>
                  <h2 id="Bevoegdheid">Beleidsregels en circulaires die betrekking hebben op deze regeling</h2>
                  <p>Geen</p>
                  <h2 id="Verwijzingen">Artikelen of vergelijkbare tekst die verwijzen naar deze regeling</h2>
                  <ol>
                    <li>
                      <a href="/1.3:c:BWBR0042210&amp;g=2020-05-11&amp;z=2020-05-11">Aanpassingswet Wnra</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0042210&amp;artikel=4.1&amp;g=2020-05-11&amp;z=2020-05-11">4.1</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0042105&amp;g=2020-05-11&amp;z=2020-05-11">Besluit mandaat, volmacht en machtiging bestuur huurcommissie 2019</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0042105&amp;artikel=7&amp;g=2020-05-11&amp;z=2020-05-11">7</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0007981&amp;g=2020-05-11&amp;z=2020-05-11">Coördinatiewet uitzonderingstoestanden</a>
                      <br>Bijlagen:
                      <a href="/jci1.3:c:BWBR0007981&amp;bijlage=A&amp;g=2020-05-11&amp;z=2020-05-11">A</a>,
                      <a href="/jci1.3:c:BWBR0007981&amp;bijlage=B&amp;g=2020-05-11&amp;z=2020-05-11">B</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0008159&amp;g=2020-05-11&amp;z=2020-05-11">Kaderwet adviescolleges</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0008159&amp;artikel=27&amp;g=2020-05-11&amp;z=2020-05-11">27</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0043025&amp;g=2020-05-11&amp;z=2020-05-11">M&amp;V-besluit Ambtelijke organisatie Tweede Kamer der Staten- Generaal 2020</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0041316&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatbesluit BZK 2018</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0041316&amp;artikel=8.1&amp;g=2020-05-11&amp;z=2020-05-11">8.1</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0043265&amp;g=2020-05-11&amp;z=2020-05-11">Mandaatbesluit Rijksvastgoedbedrijf 2020</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0040610&amp;g=2020-05-11&amp;z=2020-05-11">Organisatie- en mandaatbesluit Infrastructuur en Waterstaat</a>
                      <br>Artikelen:
                      <a href="/jci1.3:c:BWBR0040610&amp;artikel=12&amp;g=2020-05-11&amp;z=2020-05-11">12</a>,
                      <a href="/jci1.3:c:BWBR0040610&amp;artikel=29&amp;g=2020-05-11&amp;z=2020-05-11">29</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0042092&amp;g=2020-05-11&amp;z=2020-05-11">Organisatiebesluit Buitenlandse Zaken 2019</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0042092&amp;artikel=5&amp;g=2020-05-11&amp;z=2020-05-11">5</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0043027&amp;g=2020-05-11&amp;z=2020-05-11">Organisatiebesluit Ministerie van Financiën 2020</a>
                      <br>Artikelen:
                      <a href="/jci1.3:c:BWBR0043027&amp;artikel=20&amp;g=2020-05-11&amp;z=2020-05-11">20</a>,
                      <a href="/jci1.3:c:BWBR0043027&amp;artikel=44&amp;g=2020-05-11&amp;z=2020-05-11">44</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0040284&amp;g=2020-05-11&amp;z=2020-05-11">Regeling IOFEZ van het Rijk</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0040284&amp;artikel=5&amp;g=2020-05-11&amp;z=2020-05-11">5</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0041185&amp;g=2020-05-11&amp;z=2020-05-11">Regeling Inspectie van het onderwijs 2018</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0041185&amp;artikel=9&amp;g=2020-05-11&amp;z=2020-05-11">9</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0040814&amp;g=2020-05-11&amp;z=2020-05-11">Regeling Model Jaarverslaggeving 2017 CAK</a>
                      <br>Tekst:
                      <a href="/jci1.3:c:BWBR0040814&amp;g=2020-05-11&amp;z=2020-05-11">tekst</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0042043&amp;g=2020-05-11&amp;z=2020-05-11">Regeling Model Jaarverslaggeving 2018 CAK</a>
                      <br>Tekst:
                      <a href="/jci1.3:c:BWBR0042043&amp;g=2020-05-11&amp;z=2020-05-11">tekst</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0032372&amp;g=2020-05-11&amp;z=2020-05-11">Regeling accountantscontrole IFV</a>
                      <br>Bijlage:
                      <a href="/jci1.3:c:BWBR0032372&amp;g=2020-05-11&amp;z=2020-05-11">als bedoeld in artikel 2 van de Regeling accountantscontrole IFV</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0040286&amp;g=2020-05-11&amp;z=2020-05-11">Regeling agentschappen</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0040286&amp;artikel=18&amp;g=2020-05-11&amp;z=2020-05-11">18</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0035971&amp;g=2020-05-11&amp;z=2020-05-11">Regeling garanties van oorsprong en certificaten van oorsprong</a>
                      <br>Bijlagen:
                      <a href="/jci1.3:c:BWBR0035971&amp;bijlage=3A&amp;g=2020-05-11&amp;z=2020-05-11">3A</a>,
                      <a href="/jci1.3:c:BWBR0035971&amp;bijlage=3B&amp;g=2020-05-11&amp;z=2020-05-11">3B</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0043278&amp;g=2020-05-11&amp;z=2020-05-11">Regeling tot vaststelling van het Controleprotocol 2019 Centraal Orgaan opvang asielzoekers</a>
                      <br>Bijlage:
                      <a href="/jci1.3:c:BWBR0043278&amp;g=2020-05-11&amp;z=2020-05-11">Accountantsprotocol COA</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0039474&amp;g=2020-05-11&amp;z=2020-05-11">Subtaakbesluit Commando Landstrijdkrachten 2015</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0039474&amp;artikel=4&amp;g=2020-05-11&amp;z=2020-05-11">4</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0043241&amp;g=2020-05-11&amp;z=2020-05-11">Subtaakbesluit Koninklijke Marechaussee 2019</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0043241&amp;artikel=7&amp;g=2020-05-11&amp;z=2020-05-11">7</a>
                    </li>
                    <li>
                      <a href="/1.3:c:BWBR0005682&amp;g=2020-05-11&amp;z=2020-05-11">Wet op het hoger onderwijs en wetenschappelijk onderzoek</a>
                      <br>Artikel:
                      <a href="/jci1.3:c:BWBR0005682&amp;artikel=7.15a&amp;g=2020-05-11&amp;z=2020-05-11">7.15a</a>
                    </li>
                  </ol>
                </div>
              </div>
              <div>
                <ul class="list list--linked">
                  <li>
                    <a href="#Algemeen">Wetstechnische informatie</a>
                  </li>
                  <li>
                    <a href="#Grondslagen">
                      Grondslagen voor deze regeling
                    </a>
                  </li>
                  <li>
                    <a href="#Wetsfamilie">Wetsfamilie</a>
                  </li>
                  <li>
                    <a href="#Basis">Regelgeving die op deze regeling is gebaseerd (gedelegeerde regelgeving)</a>
                  </li>
                  <li>
                    <a href="#Bevoegdheid">Beleidsregels en circulaires die betrekking hebben op deze regeling</a>
                  </li>
                  <li>
                    <a href="#Verwijzingen">Artikelen of vergelijkbare tekst die verwijzen naar deze regeling</a>
                  </li>
                </ul>
              </div>
            </div>

        </div>
        <div id="tab-wijzigingenoverzicht" role="tabpanel" aria-labelledby="tab-3">
          <div class="wijzigingen-overzicht">
            <h2 id="Wijzigingen">Overzicht van wijzigingen voor de regeling</h2>
            <p>
              Informatie geldend op 11-05-2020
            </p>
            <div class="table--container">
              <table class="table__regulation">
                <thead>
                  <tr>
                    <th id="th01d571364e1605" colspan="3">&nbsp;</th>
                    <th scope="col" id="th02d571364e1605" colspan="3">Ontstaansbron</th>
                    <th scope="col" id="th03d571364e1605" colspan="2">Inwerkingtreding</th>
                  </tr>
                  <tr>
                    <td id="th11d571364e1605" colspan="3">
                      <p class="form__element">Kies twee toestanden van de regeling door deze aan te vinken</p>
                      <p class="form__element">
                        <a href="javascript:void(null);" data-decorator="init-modal" data-handler="open-modal" data-modal="popupvergelijken"
                          class="wti-compare" id="compareLink">Vergelijk twee versies</a>
                      </p>
                      <p class="form__element">
                        <span class="form__error" id="compareLinkValidationMessage" style="display: none;">
                          <strong>Let op:</strong> U kunt alleen twee versies met elkaar vergelijken
                        </span>
                      </p>
                    </td>
                    <td id="th12d571364e1605" colspan="5">&nbsp;</td>
                  </tr>
                  <tr>
                    <th scope="col" class="rowDatumInwerking" id="th1d571364e1605">Datum van inwerkingtreding</th>
                    <th scope="col" class="rowTerugwerkende" id="th2d571364e1605">Terugwerkende kracht</th>
                    <th scope="col" class="rowBetreft" id="th3d571364e1605">Betreft</th>
                    <th scope="col" class="rowOndertekening" id="th4d571364e1605">Ondertekening</th>
                    <th scope="col" class="rowBekendmaking" id="th5d571364e1605">Bekendmaking</th>
                    <th scope="col" class="rowKamerstukken" id="th6d571364e1605">Kamerstukken</th>
                    <th scope="col" class="rowOndertekening" id="th7d571364e1605">Ondertekening</th>
                    <th scope="col" class="rowBekendmaking" id="th8d571364e1605">Bekendmaking</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="">
                    <td data-before="Datum van inwerkingtreding" class="rowDatumInwerking " headers="th01d571364e1605 th1d571364e1605"></td>
                    <td data-before="Terugwerkende kracht" headers="th01d571364e1605 th2d571364e1605"></td>
                    <td data-before="Betreft" headers="th01d571364e1605 th3d571364e1605">Aanhangig</td>
                    <td data-before="Ondertekening" headers="th02d571364e1605 th4d571364e1605"></td>
                    <td data-before="Bekendmaking" headers="th02d571364e1605 th5d571364e1605"></td>
                    <td data-before="Kamerstukken" headers="th02d571364e1605 th6d571364e1605">
                      <a href="https://zoek.officielebekendmakingen.nl/dossier/35298">35298</a>
                    </td>
                    <td data-before="Ondertekening" headers="th03d571364e1605 th7d571364e1605"></td>
                    <td data-before="Bekendmaking" headers="th03d571364e1605 th8d571364e1605"></td>
                  </tr>
                  <tr class="current">
                    <td data-before="Datum van inwerkingtreding" class="rowDatumInwerking current" headers="th01d571364e1605 th1d571364e1605">
                      <label>
                        <input value="2020-01-01" class="wti-compare" name="compare" type="checkbox" id="compare_d571364e1615">01-01-2020</label>
                    </td>
                    <td data-before="Terugwerkende kracht" headers="th01d571364e1605 th2d571364e1605"></td>
                    <td data-before="Betreft" headers="th01d571364e1605 th3d571364e1605">Wijziging</td>
                    <td data-before="Ondertekening" headers="th02d571364e1605 th4d571364e1605">17-04-2019</td>
                    <td data-before="Bekendmaking" headers="th02d571364e1605 th5d571364e1605">
                      <a href="https://zoek.officielebekendmakingen.nl/stb-2019-173.html">Stb. 2019, 173</a>
                    </td>
                    <td data-before="Kamerstukken" headers="th02d571364e1605 th6d571364e1605">
                      <a href="https://zoek.officielebekendmakingen.nl/dossier/35073">35073</a>
                    </td>
                    <td data-before="Ondertekening" headers="th03d571364e1605 th7d571364e1605">24-10-2019</td>
                    <td data-before="Bekendmaking" headers="th03d571364e1605 th8d571364e1605">
                      <a href="https://zoek.officielebekendmakingen.nl/stb-2019-385.html">Stb. 2019, 385</a>
                    </td>
                  </tr>
                  <tr class="">
                    <td data-before="Datum van inwerkingtreding" class="rowDatumInwerking " headers="th01d571364e1605 th1d571364e1605">
                      <label>
                        <input value="2019-01-01" class="wti-compare" name="compare" type="checkbox" id="compare_d571364e1643">
                        <a href="/jci1.3:c:BWBR0039429?g=2019-01-01&amp;z=2020-05-11">01-01-2019</a>
                      </label>
                    </td>
                    <td data-before="Terugwerkende kracht" headers="th01d571364e1605 th2d571364e1605"></td>
                    <td data-before="Betreft" headers="th01d571364e1605 th3d571364e1605">Wijziging</td>
                    <td data-before="Ondertekening" headers="th02d571364e1605 th4d571364e1605">22-03-2017</td>
                    <td data-before="Bekendmaking" headers="th02d571364e1605 th5d571364e1605">
                      <a href="https://zoek.officielebekendmakingen.nl/stb-2017-139.html">Stb. 2017, 139</a>
                    </td>
                    <td data-before="Kamerstukken" headers="th02d571364e1605 th6d571364e1605">
                      <a href="https://zoek.officielebekendmakingen.nl/dossier/34426">34426</a>
                    </td>
                    <td data-before="Ondertekening" headers="th03d571364e1605 th7d571364e1605">20-11-2018</td>
                    <td data-before="Bekendmaking" headers="th03d571364e1605 th8d571364e1605">
                      <a href="https://zoek.officielebekendmakingen.nl/stb-2018-446.html">Stb. 2018, 446</a>
                    </td>
                  </tr>
                  <tr class="">
                    <td data-before="Datum van inwerkingtreding" class="rowDatumInwerking " headers="th01d571364e1605 th1d571364e1605">
                      <label>
                        <input value="2018-01-01" class="wti-compare" name="compare" type="checkbox" id="compare_d571364e1671">
                        <a href="/jci1.3:c:BWBR0039429?g=2018-01-01&amp;z=2020-05-11">01-01-2018</a>
                      </label>
                    </td>
                    <td data-before="Terugwerkende kracht" headers="th01d571364e1605 th2d571364e1605"></td>
                    <td data-before="Betreft" headers="th01d571364e1605 th3d571364e1605">Nieuwe-regeling</td>
                    <td data-before="Ondertekening" headers="th02d571364e1605 th4d571364e1605">22-03-2017</td>
                    <td data-before="Bekendmaking" headers="th02d571364e1605 th5d571364e1605">
                      <a href="https://zoek.officielebekendmakingen.nl/stb-2017-139.html">Stb. 2017, 139</a>
                    </td>
                    <td data-before="Kamerstukken" headers="th02d571364e1605 th6d571364e1605">
                      <a href="https://zoek.officielebekendmakingen.nl/dossier/34426">34426</a>
                    </td>
                    <td data-before="Ondertekening" headers="th03d571364e1605 th7d571364e1605">29-05-2017</td>
                    <td data-before="Bekendmaking" headers="th03d571364e1605 th8d571364e1605">
                      <a href="https://zoek.officielebekendmakingen.nl/stb-2017-253.html">Stb. 2017, 253</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

{{ render "@footer" }}
