form {

  &.is-submitted {

    button[type="submit"] {

      &:before {
        content: "";
        width: 1.25em;
        background: $loadingIconWhite;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: .75em;
        top: 0;
        bottom: 0;
      }
      padding-right: 2.5em;
    }
  }
}

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
textarea,
select {
  background: $white;
  border: 1px solid $mediumGrey;
  line-height: 1.5;
  font-family: inherit;
  padding: .409em .5em;
  font-size: .875rem;
  border-radius: .5em;

  &::placeholder {
    color: $darkGrey;
    font-style: italic;
  }

  &.input--error {
    border: 1px solid $red;

    &::placeholder {
      color: $red;
    }
  }

  &:disabled,
  &[disabled],
  &[read-only] {
    background-color: $lighterGrey;
    color: $lightGrey;

    &:focus {
      outline: none;
    }
  }
}

fieldset {
  padding: 0;
  border: 0;
  position: relative;

  legend {
    border-bottom: 1px solid $darkBlue;
    color: $darkBlue;
    font-weight: 700;
    margin: .5em 0;
    padding: 0;
    width: 100%;
  }
}

.form__chapter {
  &__heading {
    border-bottom: 1px solid $darkBlue;
    margin: 0.5em 0;
    h2, h3 {
      font-size: 1.125rem;
      position: relative;
      display: inline-block;
      margin: 0 0 0 0; // needed for IE11 (strange)
    }
  }
}

.form {
  text-align: left;

  &__errors {
    background: $lightGrey;
    padding: 2em 1.75em;
    margin-bottom: 1em;

    &__heading {
      font-size: em(20);
      font-weight: bold;
      margin-bottom: em(8);
      line-height: 1.125;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      > li > a {
        display: inline-block;
        padding-left: 2em;
        margin-bottom: em(4);
        background: $iconAlertRed no-repeat left center;

        &.line-through {
          background-image: $iconCheckFilledGreen;
        }
      }
    }


  }


  &__row {
    margin-bottom: 1em;
    position: relative;
    clear: both;

    label {
      // margin-bottom: .25em;
    }

    a.reset {
      position: absolute;
      right: 0;
      top: .25em;
      font-size: .7em;

      small {
        font-size: 1em;
      }

      @media (min-width: $breakpointDesktop) {
        font-size: 0.9em;
      }
    }

    // needed for Firefox and Safari; positions absolute elements wrongly when there's a legend involved.
    // FireFox
    @-moz-document url-prefix() {
      fieldset legend ~ a.reset,
      fieldset legend ~ div ~ a.reset,
      fieldset legend ~ div ~ div ~ a.reset {
        top: -2.4em;
      }
    }

    // Safari
    @media not all and (min-resolution:.001dpcm) {
      @supports (-webkit-appearance:none) {
        fieldset legend ~ a.reset,
        fieldset legend ~ div ~ a.reset,
        fieldset legend ~ div ~ div ~ a.reset {
          top: -2.4em;
        }
      }
    }

    &--slim {
      margin-bottom: .5em;
    }

    &--medium {
      margin-bottom: 1.5em;
    }

    &--large {
      margin-bottom: 2em;
    }

    &--xlarge {
      margin-bottom: 3em;
    }

  }

  &__rowsubmit {

    &__item {
      margin-bottom: em(8);
    }
    @media (min-width: $breakpointDesktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &__item {
        flex-grow: 1;

        &:first-child {
          order: 2;
          text-align: right;
          padding-bottom: 0;

          button {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &--intro {
    border-bottom: 0;
  }

  &__label {
    font-size: 1em;
    // font-weight: bold;
    margin-bottom: 0.125em;
    line-height: 1.25em;

    &--medium,
    &--accent {
      font-weight: bold;
    }

    &--secondary {
      font-style: italic;
    }

    & ~ .input-radio,
    & ~ .input-checkbox {
      margin-top: .5em;
    }

    .mandatory {
      font-size: 0.9em;
      font-weight: normal;
      float: right;
      position: relative;
      top: 0;
    }
  }

  &__label ~ .mandatory {
    position: absolute;
    top: .25em;
    right: 0;
    font-size: 0.85em;
    font-weight: normal;
  }

  &__success {
    background: $iconCheckFilledGreen no-repeat left center;
    background-color: transparent;
    padding-left: 1.75em;
    color: $green;
    font-style: italic;
    font-size: 90%;
    line-height: 0.9;
    margin-top: em(4);

  }
  &__error {
    font-style: italic;
    color: $red;
    background: $iconAlertRed top -6px left;
    background-color: transparent;
    background-repeat: no-repeat;
    // background-size: 1em;
    padding-left: 1.75em;
    font-size: 90%;
    line-height: 0.9;
    margin-top: em(4);
  }

  &__hint {
    font-size: 90%;
    font-style: italic;
    margin: 0;
  }

  &__input {
    width: 100%;
    font-size: 1.8rem;
    color: $darkBlue;
    &-helptext {
      font-size: 0.8em;
      color: $darkGrey;
    }
  }
  &__button {
    margin: 0;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    @media (min-width: $breakpointDesktop) {
      width: auto;
      display: inline-block;
    }
  }

  &__selectedfilter {
    border: 1px solid $darkBlue;
    padding: 0em 1.75em 0 .5em;
    display: inline-block;
    border-radius: 5px;
    font-style: italic;
    position: relative;
    margin-right: .25em;
    margin-bottom: .25em;
    pointer-events: none;
    background: white;

    &:hover {
      box-shadow: 0 0 13px rgba(0,0,0,0.3);
    }
    &:active {
      background: $darkBlue;
      color: white;
    }
    &:active &__remove {
      background-image: $iconCrossWhite;
    }

    > span {
      &::before {
        content: "\0022";
      }
      &::after {
        content: "\0022";
      }
    }

    &__remove {
      background: $iconCrossBlue;
      background-repeat: no-repeat;
      background-size: .4em;
      background-position: center;
      position: absolute;
      width: 1.5em;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: inline-block;
      pointer-events: auto;
    }
  }

  &__active-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    h2,h3 {
      font-size: em(20);
      margin-bottom: .25em;
      margin-right: 2em;
    }
  }

  &__header {
    margin-bottom: 2em;
    border-bottom: 1px solid $darkBlue;
    h1, h2,h3 {
      margin-bottom: .5em;
    }
  }

  &__sublegend {
    font-size: em(16);
    margin: 0 0 em(6) 0;
    font-weight: bold;
  }
}

.form__element {
  border: none;
  margin: 0 0 .5em 0;
  float: left;
  width: 100%;

  &:not(.radiogroup),
  &:not(.checkboxgroup) {
    padding: 0;
  }

  &--fixed-view {
    display: flex;
    flex-wrap: wrap;
  }

  &--fixed-view &__label {
    flex: 1 0 40%;

    @media (max-width: $breakpointDesktop) {
      padding-top: 0;
    }
  }

  &--fixed-view &__inputs {
    flex: 2 0 60%;
  }

  &--fixed-view .radiogroup,
  &--fixed-view .inline-group {

    > label {
      display: block !important;
    }
  }

  &__label {

    @media (min-width: $breakpointDesktop) {
      float:left;
      width: 40%;
    }
    padding-top: 0.25em;
  }

  &__inputs {

    @media (min-width: $breakpointDesktop) {
      float: right;
      width: 60%;
    }
  }

  &__label ~ &__inputs {
    margin-left: 0;
  }

  legend {
    padding: 0;
    font-weight: 700;

    small {
      font-weight: 400;
    }

    &.form__intro {
      font-size: 1.25rem;
      color: $darkBlue;
    }
  }

  label {
    display: inline-block;
    font-weight: 700;
    line-height: 1;

    &.label--large {
      font-size: 1.5rem;
      margin-top: 0.5em;
    }
  }

  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    display: block;
    width: 100%;
    margin: 0 0 .5em;

    &.input--xsmall {
      max-width: 4em;
      margin-right:.5em;
      display: inline-block;
    }

    &.input--small {
      max-width: 8em;
      margin-right:.5em;
      display: inline-block;
    }

    &.input--medium {
      max-width: 12em;
      display: inline-block;
      margin-right:.5em;
    }
  }

  select[multiple] {
    min-height: 7em;
  }



  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  input[type="password"],
  input[type="email"],
  select {
    height: 2.5em;
  }

  input[type="date"] {
    width: 10.5em;
    display: inline-block;
  }

  small {
    line-height: 2;
    color: $darkerGrey;
  }

  label + small {

    @media ( min-width: $breakpointDesktop ) {
      float: right;
    }
  }

  &.radiogroup,
  &.checkboxgroup {

    label {
      display: block;
      font-weight: 400;
      line-height: 1.5;
    }


    &.inline-group {
      label {
        display: inline-block;
        margin-right: .5em;
      }
    }

    input {
      margin: 0 .5em 0 0;
    }

    &--many {
      position: relative;

      ul {
        max-height: 10em;
        overflow-y: scroll;
        padding: 0 .5em;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 10px;
          pointer-events: none;
          background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(204, 204, 204, .5));
        }
      }
    }
  }



  .radiogroup,
  .checkboxgroup {
    margin: 0;
  }

  .form__error {
    color: $red;
  }

  .separator {
    border-top: 1px solid $lighterGrey;
  }

  &--search { // will be removed shortly
    clear: both;
    min-height: 2.6em;
    margin: 0 0 2em 0;

    input[type="text"],
    button.button {
      float: left;
    }

    input[type="text"] {
      max-width: 60%;
      margin: 0;
      height: 3.1em;
    }

    button.button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &--pagesearch {
    margin: 0;
    float: none;
    width: auto;

    input[type="text"],
    button.button {
      display: block;
      width: 100%;
    }

    input[type="text"] {
      height: 2.6em;
      font-size: 1rem;
    }

    @media ( min-width: $breakpointDesktop ) {
      input[type="text"],
      button.button {
        display: inline;
        width: inherit;
        margin: 0;
      }

      input[type="text"] {
        width: calc(100% - 8em);
        margin-right: 1em;
      }
    }
  }
}


input[type=text].datepicker__input,
input[type=date].datepicker__input {
  margin: 0;
  width: 100%;
  // padding: .4em .625em;
  display: inline-block;

  & ~ .ui-datepicker-trigger {
    border: 0 !important;
    padding: 0.5em;
    position: absolute;
    top: 2px;
    right: 2px;
    height: 46px;
    font-size: 0;
    width: 38px;
    color: white;
    background-image: $calendarIconWhite;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;


    img {
      width: 24px;
      height: 20px;
    }
  }

  &.input-text--medium ~ .ui-datepicker-trigger {
    top: 8px;
  }

  &.has-error ~ .ui-datepicker-trigger {
    border-color: red;
    border-width: 2px;
    height: 50px;
  }
}


.daterange {
  div:not(.question-explanation) {
    display: inline-block;
    margin-right: 1em;
  }

  select {
    width: auto;
  }
}

.form__options {
  line-height: .5;

  li {
    list-style: none;
    display: inline-block;
    padding-right: .25em;

    &::after {
      content: '|';
      position: relative;
      margin-left: .25em;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}

.form__fixedWidth {
  label {
    display: inline-block;
    min-width: 40%;
  }

  label + .question-explanation-link,
  label ~ .question-explanation-link {
    min-width: auto;
  }
}

.radiogroup,
.checkboxgroup {
  label {
    display: block;
    font-weight: 400;
    line-height: 1.5;
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number] {
  &.is-valid {
    &[required] {
      border-color: $green;
    }
  }
}
