.input-datepicker {
  & ~ .ui-datepicker-trigger {
    border: 0;
    padding: 0;
    background: white;
    img {
      width: 2.25em;
      height: 2.25em;
      position: relative;
      top: 0.636em;
    }
  }
}

.ui-datepicker:not(:empty) {
  background: white;
  padding: .5em;
  border: 1px solid $datepickerContainerBorderColor;

  .ui-datepicker-title {
    text-align: center;

    .ui-datepicker-month {
      margin-left: 1em;
    }
  }
}

table.ui-datepicker-calendar {
  //needed to reset default table behaviour
  @media ( max-width: 50em ) {
    thead {
      display: table-header-group;
      width: 100%;
    }

    tr {
      display: table-row;
      border: 2px solid $lighterGrey;
      width: 100%;
      margin: 0;
    }

    th {
      position: relative;
      left: auto;
      display: table-cell;
    }

    td {
      width: auto;
      left: auto;
      position: relative;
      display: table-cell;

      &:nth-child(odd) {
        background: transparent !important;

        &::before {
          background: transparent !important;
        }
      }

      &:before {
        display: none;
      }
    }
  }
}
