{{!-- <div class="form__element"> --}}
  <div class="datepicker">
    <input type="date" value="2015-02-14" data-date="14-02-2015" class="datepicker__input" data-decorator="init-datepicker" data-config='{ "dateFormat" : "dd-mm-yy" }' id="input--{{ id }}" placeholder="{{ fieldPlaceholder }}" />
  </div>
{{!-- </div> --}}
