{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container columns columns--sidebar-left row">
  <div>
    <h1>Wijziging van de Wet op de ondernemingsraden i.v.m. regeling van topbeloningen</h1>
    <p>
       Wijziging van de Wet op de ondernemingsraden in verband met de bevoegdheden van de ondernemingsraad inzake de beloningen van bestuurders.
    </p>

    <h2>Gegevens</h2>

    <table class="table__data-overview">

      <tbody>

        <tr>
          <th>Eerste ondertekenaar</th>
          <td>Minister IenW</td>
        </tr>
        <tr>
          <th>Soort regeling</th>
          <td>Regeling</td>
        </tr>
        <tr>
          <th>Inwerkingtreding per KB</th>
          <td>Nee</td>
        </tr>
        <tr>
          <th>KetenID</th>
          <td>WGK009383</td>
        </tr>

      </tbody>
    </table>

    <h3>Opschrift</h3>
    <p>
       Regeling van de Staatssecretaris van Infrastructuur en Waterstaat, tot wijziging van de Regeling ammoniak en veehouderij en de Regeling geurhinder en veehouderij (actualisatie emissiefactoren geur en ammoniak)
    </p>

    <h2>Voortgang</h2>
    {{ render '@steps' steps merge="true" }}

    <h2>Mijlpalen en documenten</h2>


  </div>


  <div>
    <div class="well">
      <form>
        <fieldset class="form__element">
          <legend class="form--intro">Zoeken</legend>
          <div class="form__element">
            <label for="emailadres" class="visually-hidden">Zoeken op</label>
            <input type="text" id="emailadres" placeholder="Zoekterm voor wet, amvb">
          </div>
        </fieldset>
        <button type="submit" class="button button--secondary">Zoek in Wetgevingskalender</button>
      </form>
    </div>
    <p>
      <a href="#" class="link link--back">Startpagina</a>
    </p>


    <h4 class="facet--heading">Acties</h4>
    <ul class="list--facet">
        <li><a href="#">Afdrukken</a></li>
        <li><a href="#">XML-versie opslaan</a></li>
    </ul>
    <h4 class="facet--heading">Delen regeling</h4>
    <ul class="list--facet">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Google+</a></li>
        <li><a href="#">Tumblr</a></li>
    </ul>

  </div>

</div>

{{ render "@footer" }}
