{{ render "@header" headerContext merge="true" }}

<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>

<div class="container columns columns--sidebar-left row">
  <div>
    <h1>Wijziging van de Wet op de ondernemingsraden i.v.m. regeling van topbeloningen</h1>
    <p>
       Wijziging van de Wet op de ondernemingsraden in verband met de bevoegdheden van de ondernemingsraad inzake de beloningen van bestuurders.
    </p>

    <h2>Gegevens</h2>

    <table class="table__data-overview">

      <tbody>

        <tr>
          <th>Eerste ondertekenaar</th>
          <td>Minister IenW</td>
        </tr>
        <tr>
          <th>Soort regeling</th>
          <td>Regeling</td>
        </tr>
        <tr>
          <th>Inwerkingtreding per KB</th>
          <td>Nee</td>
        </tr>
        <tr>
          <th>KetenID</th>
          <td>WGK009383</td>
        </tr>

      </tbody>
    </table>

    <h3>Opschrift</h3>
    <p>
       Regeling van de Staatssecretaris van Infrastructuur en Waterstaat, tot wijziging van de Regeling ammoniak en veehouderij en de Regeling geurhinder en veehouderij (actualisatie emissiefactoren geur en ammoniak)
    </p>

    <h2>Voortgang</h2>
    {{ render '@steps' steps merge="true" }}

    <h2>Mijlpalen en documenten</h2>

    <table class="table table__data-overview" data-decorator="init-table">

      <thead>
        <tr>
          <th scope="col">Fase</th>
          <th scope="col" class="date">Datum</th>
          <th scope="col">Mijlpijl</th>
          <th scope="col">Documenten</th>
        </tr>
      </thead>
      <tbody>
        <tr class="uneven">
          <td rowspan="5">
            <strong>Voorbereiding</strong>
          </td>
          <td>
          </td>
          <td>EU-richtlijn aangenomen</td>
          <td>
            <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32016L1148:NL:NOT">Richtlijn 2016/1148</a>
          </td>
        </tr>
        <tr class="uneven">
          <td>21-03-2017</td>
          <td>Implementatieschema EU-richtlijn</td>
          <td>
            <a href="http://wetgevingskalender.overheid.nl/richtlijn/EUR20161148">Implementatieschema 2016/1148</a>
          </td>
        </tr>
        <tr class="uneven">
          <td>16-06-2017</td>
          <td>Internetconsultatie (start)</td>
          <td>
          </td>
        </tr>
        <tr class="uneven">
          <td>16-07-2017</td>
          <td>Internetconsultatie (eind)</td>
          <td>
          </td>
        </tr>
        <tr class="uneven">
          <td>10-11-2017</td>
          <td>Ministerraad akkoord</td>
          <td >
          </td>
        </tr>
        <tr class="even">
          <td rowspan="2">
            <strong>Raad van State</strong>
          </td>
          <td>20-11-2017</td>
          <td>Adviesaanvraag aanhangig bij Raad van State</td>
          <td >
          </td>
        </tr>
        <tr class="even">
          <td>04-01-2018</td>
          <td>Advies Raad van State uitgebracht</td>
          <td >
          </td>
        </tr>
        <tr class="uneven">
          <td rowspan="6">
            <strong>Tweede Kamer</strong>
          </td>
          <td>16-02-2018</td>
          <td>Wetsvoorstel ingediend bij Tweede Kamer</td>
          <td  rowspan="6">
            <a href="https://zoek.officielebekendmakingen.nl/behandelddossier/34883">Kamerstukken 34883</a>
          </td>
        </tr>
        <tr class="uneven">
          <td>22-03-2018</td>
          <td>Verslag</td>
        </tr>
        <tr class="uneven">
          <td>23-04-2018</td>
          <td>Nota n.a.v. verslag</td>
        </tr>
        <tr class="uneven">
          <td>26-04-2018</td>
          <td>Aangemeld voor plenaire behandeling Tweede Kamer</td>
        </tr>
        <tr class="uneven">
          <td>24-05-2018</td>
          <td>Plenaire behandeling Tweede Kamer</td>
        </tr>
        <tr class="uneven">
          <td>29-05-2018</td>
          <td>Wetsvoorstel aangenomen door Tweede Kamer</td>
        </tr>
        <tr class="even">
          <td rowspan="1">
            <strong>Bekendmaking</strong>
          </td>
          <td>09-11-2018</td>
          <td>Inwerkingtreding</td>
          <td >
          </td>
        </tr>
      </tbody>
    </table>



  </div>


  <div>
    <div class="well">
      <form>
        <fieldset class="form__element">
          <legend class="form--intro">Zoeken</legend>
          <div class="form__element">
            <label for="emailadres" class="visually-hidden">Zoeken op</label>
            <input type="text" id="emailadres" placeholder="Zoekterm voor wet, amvb">
          </div>
        </fieldset>
        <button type="submit" class="button button--primary">Zoek in Wetgevingskalender</button>
        <a href="#" class="link link--forward">Uitgebreid zoeken</a>
      </form>
    </div>
    <p>
      <a href="#" class="link link--back">Startpagina</a>
    </p>


    <h4 class="facet--heading">Acties</h4>
    <ul class="list--facet">
        <li><a href="#">Afdrukken</a></li>
        <li><a href="#">XML-versie opslaan</a></li>
    </ul>
    <h4 class="facet--heading">Delen regeling</h4>
    <ul class="list--facet">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Google+</a></li>
        <li><a href="#">Tumblr</a></li>
    </ul>

  </div>

</div>

{{ render "@footer" }}
