<div class="input-inputsubmit">
  <label class="visually-hidden" for="">{{ label }}</label>
  <input type="text" class="input" placeholder="{{placeholder}}" />
  <button class="button button--primary">{{button}}</button>
</div>
