.documentbanner {
  display: flex;
  flex-direction: column;

  @media ( min-width: 50em ) {
    flex-direction: row;
  }

  &__logo {
    order: 1;
    padding: 2em;
    text-align: center;
  }

  &__content {
    order: 2;

    h1 {
      margin-bottom: 1em;
    }

    table th {
      color: $green;
      font-weight: 400;
    }

    table th,
    table td {
      border: none;
    }
  }
}
