<div class="documentbanner">

  <div class="documentbanner__logo">
    <img src="/images/logo.svg" width="200" />
  </div>

  <div class="documentbanner__content">

    <h1>Wijziging van de Wet op het primair onderwijs en de Wet op de expertisecentra in verband met het regelen van de mogelijkheid een deel van het onderwijs te geven in de Engelse, Duitse of Franse taal.</h1>

    <h2>Staatsblad van het Koninkrijk der Nederlanden</h2>

    <table>
      <thead>
          <tr>
              <th>Datum publicatie</th>
              <th>Organisatie</th>
              <th>Jaargang en nummer</th>
              <th>Rubriek</th>
              <th>Datum totstandkoming</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td data-title="Datum publicatie">
                  <time datetime="25-7-2016 14:17:15" itemprop="datePublished">25-07-2016 14:17</time>
              </td>
              <td data-title="Organisatie">Ministerie van Buitenlandse Zaken</td>
              <td data-title="Jaargang en nummer">Blad gemeenschappelijke regeling 2016, 25018</td>
              <td data-title="Rubriek">Verdrag</td>
              <td data-title="Datum totstandkoming">
                  <time datetime="1994-12-07" itemprop="Datum totstandkoming">07-12-1994</time>
              </td>
          </tr>
      </tbody>
    </table>

  </div>

</div>
