{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" }}
  </div>
</div>
<div class="container columns columns--sidebar-left row">
  <div>

    <div id="edit-markup-02" class="form__element js-form-item form-item js-form-type-webform-markup form-item- js-form-item-">






  <h2>Informatie over de verwerking van uw persoonsgegevens</h2>
<p>KOOP (onderdeel van het Ministerie van Binnenlandse Zaken en Koninkrijksrelaties) verwerkt de persoonsgegevens, die u ons verstrekt bij het stellen van uw vraag, om uw vragen te beantwoorden en u te kunnen bereiken. Wij gebruiken uw gegevens uitsluitend ter beantwoording van uw vragen.</p>

<div class="collapsible collapsible--small" data-decorator="init-collapsible" id="1">
    <div class="collapsible__header">
        <a href="#1" aria-controls="collapsible-content-1" aria-expanded="false" data-handler="toggle-collapsible">Extra informatie over de verwerking van uw persoonsgegevens.</a>
    </div>
    <div class="collapsible__content" id="collapsible-content-1" hidden="true">
        <h3>Waarom worden deze gegevens gevraagd?</h3>
        <p>De gegevens, die in het contactformulier worden gevraagd, zijn noodzakelijk om uw reactie adequaat, tijdig en compleet te kunnen behandelen.</p>
        <h3>Op welke manier worden uw gegevens verwerkt?</h3>
        <p>Uw gegevens van het contactformulier worden geregistreerd in het meldingen-informatiesysteem van KOOP. De melding wordt vervolgens behandeld door servicedeskmedewerkers en/of verdere specialisten. Als eerste krijgt u een bevestiging van de ontvangst van uw melding. Nadien zal u verder bericht krijgen over de behandeling van uw melding. Uw gegevens worden niet voor andere doeleinden gebruikt dan de behandeling van uw reactie.</p>
        <h3>Hoelang bewaren wij uw gegevens?</h3>
        <p>KOOP bewaart uw persoonsgegevens niet langer dan nodig is voor het doel waarvoor u ze heeft achtergelaten. Daarnaast worden gegevens gebruikt voor kennisopbouw, het verbeteren van de werking van websites, het bijhouden van statistieken en het functioneren van de Servicedesk. Indien er een motief is om het handelen van de overheid inzichtelijk te houden, bijvoorbeeld bij het aanvragen en verstrekken van accounts, worden gegevens permanent bewaard.</p>
        <h3>Wat zijn uw rechten?</h3>
        <p>Voor uw rechten m.b.t. de verwerking van uw gegevens verwijzen wij u naar de privacyverklaring van deze website. U kunt ook contact opnemen met de Servicedesk van KOOP: <a href="mailto:servicedesk@koop.overheid.nl">servicedesk@koop.overheid.nl</a>.</p>
    </div>
</div>




  </div>
  <fieldset data-webform-required-error="Veld 'Akkoordverklaring' is verplicht." data-drupal-selector="edit-akkoordverklaring"
    id="edit-akkoordverklaring--wrapper" class="checkboxes--wrapper fieldgroup form-composite webform-composite-visible-title required js-webform-type-checkboxes webform-type-checkboxes checkboxgroup js-form-item form-item js-form-wrapper form-wrapper form__element">
    <legend>
      <span class="fieldset-legend js-form-required form-required">Akkoordverklaring</span>
      <small class="pull-right">Verplicht veld</small>
    </legend>
    <ul id="edit-akkoordverklaring" class="js-webform-checkboxes webform-options-display-one-column form-checkboxes list--unstyled fieldset-wrapper">

      <li>

        <label for="edit-akkoordverklaring-ik-heb-gelezen-en-begrepen-wat-er-met-mijn-persoonsgegevens-wordt-gedaan-">




          <input data-webform-required-error="Veld 'Akkoordverklaring' is verplicht." data-drupal-selector="edit-akkoordverklaring-ik-heb-gelezen-en-begrepen-wat-er-met-mijn-persoonsgegevens-wordt-gedaan-"
            type="checkbox" id="edit-akkoordverklaring-ik-heb-gelezen-en-begrepen-wat-er-met-mijn-persoonsgegevens-wordt-gedaan-"
            name="akkoordverklaring[Ik heb gelezen en begrepen wat er met mijn persoonsgegevens wordt gedaan. ]" value="Ik heb gelezen en begrepen wat er met mijn persoonsgegevens wordt gedaan. "
            class="form-checkbox input"> Ik heb gelezen en begrepen wat er met mijn persoonsgegevens wordt gedaan.
        </label>


      </li>
    </ul>


  </fieldset>

  <div data-drupal-selector="edit-actions" class="form-actions webform-actions js-form-wrapper form-wrapper" id="edit-actions">
    <input class="webform-button--submit button button--primary js-form-submit form-submit input" data-drupal-selector="edit-actions-submit"
      type="submit" id="edit-actions-submit" name="op" value="Verzenden">

  </div>
</div>

{{ render "@footer" }}
