<div class="row-heading {{modifier}} columns">
  <div class="column">
    {{{ heading }}}
  </div>
  <div class="column">
    {{#> @partial-block}}
       {{ render "@button--slim" }}
    {{/ @partial-block}}
  </div>
</div>
