<div class="video">

  <div class="video__placeholder">
    <img src="{{placeholderSrc}}" alt="{{placeholderAlt}}" />
    <div class="video__play"><button class="video__play__trigger"><span class="visually-hidden">Start video 'video naam'</span></button></div>
  </div>
</div>
