<div class="video" data-decorator="init-video">
  <div class="video__video">
     <img src="https://via.placeholder.com/1200x700.jpg?text=video+player" alt="placeholder voor de video player"/>
  </div>
  <div class="video__placeholder">
    <img src="{{placeholderSrc}}" alt="{{placeholderAlt}}" />
    <div class="video__play"><button class="video__play__trigger"><span class="visually-hidden">Start video 'video naam'</span></button></div>
  </div>
</div>
