$mobileSpacing: 1em;
$desktopSpacing: 2em;
$fatBorder: .75em;
$thinBorder: .5em;

.row {
  padding-top: $mobileSpacing;
  padding-bottom: $mobileSpacing;

  @media ( min-width: 50em ) {
    padding-top: $desktopSpacing;
    padding-bottom: $desktopSpacing;
  }

  &--page-opener {
    background-color: $lightBlue;
    padding: 1em 0;

    + .row--browse {
      margin-top: 0;
    }
  }

  &--heading {
    padding: 1em 1em 0;
    margin: 0 auto -1em;
  }

  &--browse {
    border-top: $fatBorder solid $lighterGrey;
    border-bottom: $fatBorder solid $lighterGrey;
    background-color: $lightGrey;
  }

  &--highlight {
    border-top: $thinBorder solid $lightBlue;
    border-bottom: $thinBorder solid $lightBlue;
    background-color: $primaryBlue;

    h2,
    p,
    li,
    a {
      color: $white;
    }
  }

  &--image {
    background: {
      size: cover;
      repeat: no-repeat;
    }

    .content--onimage {
      background: $white;
      width: auto;
      padding: 1em 2em 2em;
      max-width: 60%;
      margin-bottom: 5em;

      .intro--text {
        max-width: 100%;
      }
    }
  }

  &--footer {
    background-color: $lightBlue;
    border-top: $fatBorder solid $mediumBlue;
    padding: 1.5em;
  }
}
