$mobileSpacing: 1em;
$desktopSpacing: 2em;
$fatBorder: .75em;

.row {
  padding-top: $mobileSpacing;
  padding-bottom: $mobileSpacing;

  @media ( min-width: 50em ) {
    padding-top: $desktopSpacing;
    padding-bottom: $desktopSpacing;
  }

  &--page-opener {
    background-color: $lightBlue;
    padding: 1em 0;

    + .row--browse {
      margin-top: 0;
    }
  }

  &--browse {
    border-top: $fatBorder solid $lighterGrey;
    border-bottom: $fatBorder solid $lighterGrey;
    background-color: $lightGrey;
    margin-top: $mobileSpacing;
    margin-bottom: $mobileSpacing;

    @media ( min-width: 50em ) {
      margin-top: $desktopSpacing;
      margin-bottom: $desktopSpacing;
    }
  }

  &--footer {
    background-color: $lightBlue;
    border-top: $fatBorder solid $mediumBlue;
    padding: 1.5em;
  }
}
