.well {
  border-radius: .5em;
  background: $bgBlue;
  padding: 1em;
  margin: 0 0 2em 0;
  @extend .group;

  &__intro {
    margin-top: em(32);
    margin-bottom: em(32);
  }

  &--success {
    background: $lightGreen;
  }
  &--failed {
    background: $lighterRed;
  }

  &--pageblock {
    padding: 2.75em 10%;

    h2 {
      margin: 0 0 .5em 0;
    }

    .link--forward {
      margin: 0 .75em 0 0;

      @media ( max-width: 50em ) {
        &.pull-right {
          float: none;
          margin: 0 0 1em 0;
          display: block;
        }
      }
    }

    // fixme: remove, if margin is removed from main button component;
    button,
    a.button {
      margin-right: 0;
      margin-bottom: 0;
    }

  }

  a.button {
    margin-right: 0;
    margin-bottom: 0;
  }

  &--linkContainer {
    border-radius: 0;
    display: block;
    border: 1px solid $lighterGrey;
    overflow: hidden;
    padding: .5em 2em .5em .5em;
    background: {
      color: $white;
      image: $copyIcon;
      position: 99% .25em;
      size: 1em;
      repeat: no-repeat;
    }

    &.well--lawLink {
      font-family: Monospace;
      background-color: $lightGrey;
      min-height: 3em;
    }
  }
}

.columns--sidebar-left .well {
  margin: 0 0 1em 0;
}
