// explanation to go with questions

.question-explanation-link {
  display: none;
}

.has-js .question-explanation-link {
  background: {
    image: $explanationIcon;
    repeat: no-repeat;
    position: center center;
    size: 18px;
  };
  width: 18px;
  height: 18px;
  text-indent: -9999em;
  display: inline-block;
  vertical-align: middle;
  margin: 0.25em;

  &:hover,
  &:focus {
    background-image: $explanationHoverIcon;
  }
}

.question-explanation {
  font-size: .875em;
}

.has-js .question-explanation /* only style as question explanation when there is JS */ {
  border: 1px solid $mediumGrey;
  font-size: inherit;
  background-color: $white;
  margin: 1.5em 0 1em;
  padding: .75em 3em .75em 1.5em;
  position: relative;
  left: -1em;
  outline: none;
  color: $black;
  max-width: 20em;

  a {
    color: $darkBlue;
  }

  a:hover,
  a:focus {
    color: $lightBlue;
  }

  // scss-lint:disable PropertyCount
  &::before {
    background-color: inherit;
    border: 1px solid $mediumGrey;
    border-right-color: transparent;
    border-bottom-color: transparent;
    content: ' ';
    height: 1.5em;
    position: absolute;
    top: 0;
    left: 1.5em;
    transform: rotate( 45deg );
    transform-origin: 100% 0;
    width: 1.5em;
  }
  // scss-lint:enable PropertyCount

  &[hidden="false"] {
    display: block;
  }

  .choice-single legend + &,
  .choice-multiple legend + & {
    margin-top: .5em;
  }
}

.question-explanation__close {
  display: none;
}

.has-js .question-explanation__close {
  display: block;
  height: 2em;
  position: absolute;
  top: .5em;
  right: .5em;
  width: 2em;

  &::after {
    background: {
      image: $modalCloser;
      position: .5em;
      repeat: no-repeat;
      size: 50%;
    }

    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:hover::after,
  &:focus::after {
    background-image: $modalCloserHover;
  }
}
