// explanation to go with questions

.question-explanation {
  position: relative;
  display: inline-block;

  &__link {
    display: none;
  }

  .has-js &__link {
    background: {
      image: $explanationIcon;
      repeat: no-repeat;
      position: center center;
      size: 18px;
    };
    width: 18px;
    height: 18px;
    text-indent: -9999em;
    display: inline-block;
    vertical-align: middle;
    margin: 0.25em;
    position: relative;
    top: -.0625em;

    &:hover,
    &:focus {
      background-image: $explanationHoverIcon;
    }
  }

  &__content {
    font-size: .875em;
  }

  /* only style as question explanation when there is JS */
  .has-js &__content {
    border: 1px solid $tooltipContainerBorderColor;
    font-size: inherit;
    background-color: $white;
    margin: 1.5em 0 1em;
    padding: .5em 1.5em 1.5em;

    position: fixed;
    left: 1em;
    right: 1em;
    top: 1em;
    bottom: auto;


    @media ( min-width: 400px ) {
      position: absolute;
      top: 1.25em;
      left: -1em;
      max-width: 20em;
      min-width: 18em;
    }

    outline: none;
    color: $black;
    z-index: 100;
    border-radius: 7px;

    &--fixed {
      left: 1em;
      right: 1em;
      top: 1em;
      bottom: auto;
      position: fixed;
      max-width: none;
      box-shadow: 0 2px 10px rgba(0,0,0,0.2);

      &:before {
        display: none;
      }
    }

    a {
      color: $darkBlue;
    }

    a:hover,
    a:focus {
      color: $primaryBlue;
    }

    @media ( min-width: 400px ) {
      // scss-lint:disable PropertyCount
      &::before {
        background-color: inherit;
        border: 1px solid $tooltipContainerBorderColor;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-radius: 5px;
        content: ' ';
        height: 1.5em;
        position: absolute;
        top: 0;
        left: 1.25em;
        transform: rotate( 45deg );
        transform-origin: 100% 0;
        width: 1.5em;
      }
      // scss-lint:enable PropertyCount
    }

    &--left {
      left: auto;
      right: -1em;

      &::before {
        right: .75em;
        left: auto !important;
      }
    }

    &[hidden="false"] {
      display: block;
    }

    .choice-single legend + &,
    .choice-multiple legend + & {
      margin-top: .5em;
    }
  }



  &__close {
    display: none;
    position: absolute;
    right: 1em;
    bottom: 1em;
  }

  .has-js &__close {
    display: block;
  }

}






