figure,
.figure {
  position: relative;
  margin: 0;

  cite {
    font-size: .9em;
  }

  figcaption {
    position: relative;
    color: $darkGrey;
    font-style: italic;
    margin: 0 0 1.5em 0;
  }

  &__source {
    display: block;
    color: $darkBlue;
    padding-top: .25em;
    &:before {
      content: "Bron: ";
    }
  }
}
