figure,
.figure {
  position: relative;
  margin: 0;

  cite {
    font-size: .9em;
  }

  figcaption {
    position: relative;
    color: $darkGrey;
    font-style: italic;
    margin: 0 0 1.5em 0;
  }

  &__source {
    position: absolute;
    left: 0;
    right: 0;
    top: -2.6em;
    background: rgba(255, 255, 255, 0.9);
    color: $darkGrey;
    font-style: normal;
    font-size: .9em;
    padding: .4em .5em;
  }
}
