<figure class="figure">
  <img src="../../images/temp/homepage-beleid.jpg" alt="plaatje">
  {{#if figcaption}}<figcaption>{{figcaptionText}}{{#if source}}<span class="figure__source">{{ sourceText }}</span>{{/if}}</figcaption>{{/if}}
</figure>
