<form class="roi-search" id="search">
  <fieldset class="form__element">
    <legend>Zoeken in alle documenten</legend>
    <div class="document-search__fields">
      <label for="search-term" class="visually-hidden">Zoekterm of dossiernummer</label>
      <input type="text" id="search-term" placeholder="Vul een zoekterm in of gebruik &quot;&quot; als u een woordgroep zoekt ">
    </div>
  </fieldset>
  <fieldset class="form__element radiogroup">
    <legend>Wilt u zoeken in alle tekst of alleen in titels en kenmerken</legend>
    <label for="option-1">
      <input type="radio" id="option-1" name="presidents" />Zoek in alle teksten
    </label>
    <label for="option-2">
      <input type="radio" id="option-2" name="presidents" />Zoek alleen in titels en kenmerken
    </label>
  </fieldset>
  <input type="submit" value="Zoeken" class="button button--secondary" />
</form>
