<div class="accordion" data-decorator="init-accordion">
  {{#> @partial-block}}
    {{ render "@accordion-item" item1 }}
    {{ render "@accordion-item" item2 }}
    {{ render "@accordion-item" item3 }}
  {{/ @partial-block}}
</div>
