.select-custom {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid $darkBlue;
  overflow: visible;
  background-color: white;
  border-radius: 5px;

  &.has-error {
    border: 2px solid $red;
  }
  &.is-valid {
    border-color: $green;
  }

  &:after {
    position: absolute;
    right: .25em;
    top: 0;
    width: 1.875em;
    bottom: 0;
    background: $iconArrowDown no-repeat center center;
    background-size: .9em;
    content: "";
    pointer-events: none;
  }
  select {
    font-size: 1em;
    padding: 0 2.25em 0 .75em;
    width: 100%;
    color: $darkGrey;
    border: none;
    box-shadow: none;
    display: block;
    height: 2.65em;
    background-color: transparent;
    background-image: none;
    appearance: none;
    border-radius: 0;
    transition: outline-offset $fastEaseInOut;
    outline: 2px solid transparent;
    outline-offset: .5em;

    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: 2px solid $yellow;
      outline-offset: 0;
      z-index: 1;
    }
  }
  &--large {
    border-width: 2px;

    &:after {
      background-size: 1.1em;
    }
  }
  &--large select {
    height: 2.6em;
    font-size: 1.2em;
    padding-top: .1em;
  }

  &--small select {
    height: 40px;
    font-size: 0.8em;
  }

}
