<div id="{{id}}" class="select-custom {{modifier}}">
  <select>
    <option value="10">Gemeente Den Haag</option>
    <option value="25">25</option>
    <option value="100">100</option>
  </select>
</div>
