.combobox {

  &-container {
    position: relative;
    z-index: 2;
  }

  &-clear-button {
    position: absolute;
    right: 1em;
    top: 0;
    border: 0;
    width: 3em;
    height: 100%;
    background: $iconCross no-repeat center center;

    span {
      @extend .visually-hidden;
    }
  }

  &-input {
    width: 100%;
  }

  &-suggestion-text {
    display: none;
  }

  &-suggestions > div:not(:empty) {
    background: white;
    border-left: 1px solid $mediumGrey;
    border-right: 1px solid $mediumGrey;
    border-bottom: 1px solid $mediumGrey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 1.8em;
    left: 0;
    right: 0;
  }

  &-suggestion {
    padding: .409em .5em;
    font-size: .875rem;

    &:focus,
    &:hover {
      background-color: $lightBlue;
    }
  }
}
