{{ render "@header" header merge=true }}
<div class="row row--page-opener">
  <div class="container">
    {{ render "@breadcrumb" breadcrumbAttenderen merge=true }}
  </div>
</div>

<div id="content" class="container">

  <div class="row row--spacer">

    {{#> @jumbotron jumbotronContext }}
    {{/@jumbotron}}

  </div>

  <div class="container container--centered">
    <div class="row">
      <h2>Huidige instellingen e-mailservice <span class="h2__sub">4 abonnementen</span></h2>
      <div class="row">
        <form>
          <fieldset>
            <legend class="visually-hidden">Abonnementen</legend>
            <div data-decorator="init-sourceslist">
                {{render "@sources-list" abonnementenContext}}
            </div>
          </fieldset>
        </form>
      </div>
      <div class="columns columns--vcenter">
        <div class="column">
          <a href="/components/preview/templates-att-stap1" class="button button--primary icon-bg icon-bg--plus-white">Nieuw abonnement aanmaken</a>
        </div>
        <div class="column align-right">
          <a href="#" class="icon icon--right icon--bin js-sourceslist-statetrigger" data-config='{"id":"sl2", "state":"actions"}'>Abonnement verwijderen</a>
        </div>
      </div>
    </div>
  </div>

</div>


{{ render "@footer" }}
